[2017-01-19 20:37] tomitrescak commented on #1186
Sorry for the confusion, yes the situation is the same, I call resetStore and it reloads data but never gets updated to `false`.

[2017-01-19 20:43] calebmer commented on #1186
@schickling, @tomitrescak what versions of Apollo client are you on? I’m trying to reproduce the error, but loading is getting correctly set to `false` for me. If you are on version `0.7.x` could you provide more detail?

[2017-01-19 20:44] calebmer commented on #1186
Out of curiosity does an error occur in GraphQL when your query is re-fetched? We’ve seen that cause some issues before.

[2017-01-19 20:52] tomitrescak commented on #1186
@calebmer I'm on 0.6.0. After I have upgraded to 0.7.3, it seems it works better. Let me test it further as I had problems on several spots. Can @schickling also report if upgrade helped?

[2017-01-19 21:10] schickling commented on #1186
We're running on 0.7.3. Problem still occurs.

@calebmer you can find our use case [here](https://github.com/graphcool/homepage/blob/dev/src/components/RootView.tsx#L48). I'm happy to provide more context via Slack.

[2017-01-19 21:11] calebmer commented on #1186
@schickling Could you try with https://github.com/apollostack/apollo-client/pull/1202? I’ll see if I can reproduce this in a test.

[2017-01-19 21:13] calebmer commented on #1186
(here is the test by the way that models the correct behavior: https://github.com/apollostack/apollo-client/pull/1202/files#diff-3e9523eee379c5b7eca8da84dae6bbe5R3092)

[2017-01-19 21:29] calebmer commented on #1036
I like the concept, my only objection is with the GraphQL syntax for retrieving the data 😉

You could implement the same thing with:

[code]

…or even more succinctly:

[code]

[2017-01-19 21:31] migueloller commented on #1036
@calebmer, awesome! I think we can agree then that this is the best candidate as of now:

[code]

😄

[2017-01-19 21:36] calebmer commented on #1195
Sure. When resetting the store in [`QueryManager#resetStore`](https://github.com/apollostack/apollo-client/blob/6b47b9c5467c3edabb7c5c816774cc4b1161819c/src/core/QueryManager.ts#L620) we [re-fetch](https://github.com/apollostack/apollo-client/blob/6b47b9c5467c3edabb7c5c816774cc4b1161819c/src/core/QueryManager.ts#L647) every query we know of. [`ObservableQuery#refetch`](https://github.com/apollosta

[2017-01-19 21:42] calebmer commented on #1201
This will probably be fixed when we refactor errors because currently errors are designed to “blow up” the system. For now, you should avoid errors if you do not intend for them to be fatal. Instead just return null from your initial query instead of an error.

[2017-01-19 21:44] rafrex commented on #1201
Okay, I'm using scaphold as a backend, so don't have much control over it, but I'll let them know.

[2017-01-19 21:47] calebmer commented on #1036
If anyone wants to send a PR to implement this, we would be happy to merge 👍

[2017-01-19 23:38] rafrex commented on #1201
Talked to scaphold, and they changed the response to `null`, this fixes my issue as now `updateQueries` works properly, but I think the issue with errors still stands.

[2017-01-20 00:34] tomitrescak commented on #1186
Ok, it is NOT updating for me as well. It's quite indeterministic ;(

[2017-01-20 01:31] #852 closed

[2017-01-20 01:52] tmeasday commented on #1077
Fixed by #1154

[2017-01-20 01:52] #1077 closed

[2017-01-20 02:32] shendepu opened #1206 "APOOLQUERY_RESULT result in diff with reducerError from null => {}"
I have a very simple case:

ApolloClient instance is configured with
[code]

/positions: is page show list of positions using normal offset-based pagination
/positions/{positionId}: is a page show detail of a position

Both of them use apollo-client and react-apollo to access graphql api and add data to props

Steps reproduce the issue all the time:

1. Refresh /positions which mout the positions

[2017-01-20 02:35] shendepu commented on #1206
I find out the issue is in my query

when have the issue the query was
[code]

Notice that emplPositionClass and status field does not have id selectionSet, after adding id to both of them, the issue is gone.

[2017-01-20 02:39] shendepu commented on #1206
So I wonder, since the ApolloClient support `addTypename` configuration, if it is reasonable also add a `addId` configuration, so graphql request automatically adds id field just linke __typename.

When graphql backend is ensured supporting id on every object type, adding id in graphql query is kind of tedious.

[2017-01-20 02:53] Poincare commented on #1206
Unfortunately, the GraphQL spec does not include an `__id` field similar to the `__typename` one so we can't really do this in a universally acceptable way without having information about the schema.

[2017-01-20 02:54] #1206 closed

[2017-01-20 10:49] marktani commented on #1200
Have to check that out, haven't looked at `reducer` yet. See my concerns regarding `reducer` below.

No, I don't think so. So maybe using global names is the best we can get. Actually this is more of a problem because of my inconsistent naming - but it's not obvious how the naming work. A best-practice in the docs regarding naming queries and mutations could help with that.

Hm, right. This could

[2017-01-20 11:57] LuLeRoemer opened #1207 "Apollo Observable chaining not working"
Whenever I chain the result of watchQuery only the last observable in the chain get's invoked. The following returns only 3, but 1 and 2 are missing.

[code]

To compare the following returns the expected 1,2,3
[code]

Am I missing something or is this a bug?

rxjs@5.0.0-rc.4
angular2-apollo@0.9.0-rc.5
apollo-client-rxjs@0.4.0

[2017-01-20 15:36] calebmer commented on #1201
Agreed. I’m going to close as we have other issues and documents tracking better GraphQL error handling. It is definitely on our roadmap for 1.0 👍

[2017-01-20 15:36] #1201 closed

[2017-01-20 15:55] calebmer commented on #1200
@marktani could you go in more depth here why this wouldn’t work for you? I’m personally in favor of this option because it would also allow you to essentially write a single “fat query” that needs to be updated like so:

[code]

One addition to @helfer’s proposal, though. Instead of passing variables, you would pass literals or you could use a special `ALL` value like so:

[code]

That would upda

[2017-01-20 15:58] calebmer commented on #1207
It looks like this is an issue you should open against `apollo-client-rxjs` so I am going to close here. One thing that may work is:

[code]

However, you should really open this issue against `apollo-client-rxjs` as it looks like a bug in that interop layer.

[2017-01-20 16:07] marktani commented on #1200
I think @helfer suggested to `import` a query from another component which creates dependencies between components independent from React's component hierarchy - my initial feeling tells me that's not good.

Not sure about your proposal. It's a dramatic change of the API, I think this would require a lot of refactoring. Even though having this option feels really powerful to me.

[2017-01-20 16:17] calebmer commented on #1200
I think it could be trivial to have support for both `import`ing queries and allowing users to write free form queries. As far as implementation goes the hardest part would be tracking variables to allow support for an `ALL` styled feature. Otherwise we just use the current read/write store logic.

[2017-01-20 16:20] calebmer commented on #1186
Hmm, ok, we’re going to need more context then. Is perhaps a query running when you call `resetStore`? I could see how canceling an in-flight query could cause some issues.

@tomitrescak and @schickling definitely try https://github.com/apollostack/apollo-client/pull/1202 so we can see if that fixes it.

[2017-01-20 16:37] schickling commented on #1186
@calebmer can you release a temporary version? Afaik `yarn` still has a bug so I cannot install from a branch.

[2017-01-20 16:49] calebmer commented on #1185
There’s a fix in https://github.com/apollostack/apollo-client/pull/1208 👍

The expected behavior you had in https://github.com/apollostack/apollo-client/issues/1197 is actually kind of hard to implement given that there can be more than one GraphQL error. If we had three errors and one of them was null, would we want to make the one `ApolloError` null? Instead, https://github.com/apollostack/apoll

[2017-01-20 16:51] calebmer commented on #1186
We might be able to just do a patch release as all of the tests still pass. cc @helfer

[2017-01-20 16:56] calebmer commented on #821
How would you feel if Apollo Client returned stale data in this case instead of merging or returning partial data? So if you had requested an old object with id `2` and you get a new object in the same position with id `3` but with fewer fields than before Apollo Client would jump back and read data from the old object with id `2` and any of its new updates.

This means that a query could return p

[2017-01-20 17:02] marktani commented on #1200
Ah, this could also be useful regarding helfer's proposal: https://dev-blog.apollodata.com/webpacking-your-graphql-documents-bf9697ed259b#.bars4yk39

[2017-01-20 17:05] calebmer commented on #1102
@veeramarni unfortunately, you are just going to need the `__typename`. I’m going to close this issue for now as it looks like we have come to a resolution.

@youngboy if you don’t have a `try`/`catch` block that is catching the error then this is a different issue. If you could open a new issue that would be great 👍

[2017-01-20 17:05] #1102 closed

[2017-01-20 17:07] calebmer commented on #1107
This should be fixed by https://github.com/apollostack/apollo-client/pull/1136 where a deep equality check is replaced by a [referential equality check](https://github.com/apollostack/apollo-client/pull/1136/files#diff-f28988ac35502178bef737788c3d4cd5R381) (`===`).

[2017-01-20 17:07] #1107 closed

[2017-01-20 17:08] calebmer commented on #1108
The dependency on node types is now a [dev dependency](https://github.com/apollostack/apollo-client/blob/master/package.json#L59) in `0.7.3` 🎉

Let us know if you have any more problems @Aranir

[2017-01-20 17:08] #1108 closed

[2017-01-20 17:09] NeoPhi commented on #821
@calebmer That feels like it would be more surprising than the current behavior or some of the other proposed solutions.

[2017-01-20 17:14] calebmer commented on #1117
@atu sounds like you resolved the issue so I’m going to close. Let us know if you find any other Apollo Client bugs 👍

[2017-01-20 17:14] #1117 closed

[2017-01-20 17:19] calebmer commented on #1138
@pc-lover we can definitely consider that for React Apollo. If you’d like to submit a PR feel free 👍

[2017-01-20 17:19] #1138 closed

[2017-01-20 17:23] calebmer commented on #1147
Sounds like we’ve come to a solution. @SachaG since it seems like there is some interest in the solution please let us know if there’s anything that can be learned from your approach 👍

[2017-01-20 17:26] calebmer commented on #1150
I’m going to close this and let the discussion continue in https://github.com/apollostack/apollo-client/pull/1151. Hopefully, as we try to make the interface more uniform then transforming results will be much easier to get right 👍

[2017-01-20 17:26] #1150 closed

[2017-01-20 17:27] calebmer commented on #1153
As https://github.com/apollostack/apollo-client/pull/1169 got merged it looks like we have this now 👍

[2017-01-20 17:27] #1153 closed

[2017-01-20 17:30] calebmer commented on #1160
@Poincare and @armstrjare make good suggestions. I’m also an advocate of just replicating some validation logic client side. It may be easier to implement and could provide a better user experience at a low cost. I’m going to close this for now. If you feel like you need more help on this I encourage you to open a question on Stack Overflow under the GraphQL tag as this is more of a general GraphQ

[2017-01-20 17:30] #1160 closed

[2017-01-20 17:39] calebmer commented on #1183
Could you see if this is fixed by https://github.com/apollostack/apollo-client/pull/1174?

[2017-01-20 17:41] calebmer commented on #1189
Hi @mskec, could you submit a PR with a failing test? It will help us prioritize your issue and fix it quickly 😊

[2017-01-20 17:43] calebmer commented on #1190
Look into [`updateQueries`](http://dev.apollodata.com/react/cache-updates.html#updateQueries) @cybernetlab. You should be able to create a reducer which filters out an object with a given id from a list effectively deleting it. Let us know if you need any more information 👍

[2017-01-20 17:43] #1190 closed

[2017-01-20 18:47] Poincare commented on #1200
Agree with @calebmer. Given that we now have webpack support for query imports, it seems reasonable to use those instead of introducing a global namespace across query names.

[2017-01-20 18:48] thebigredgeek commented on #821
@calebmer @NeoPhi I personally feel that having partially stale data is okay... fields that are potentially stale can be marked and when they are requested again by another component they can be fetched again by default or something.  Some of this could potentially be handled automatically as well, rather than waiting for a component to request stale data.  Seems like there are a lot of ways to ha

[2017-01-20 19:10] calebmer commented on #821
I also want to note that we would probably always warn if we were to use stale data, and if you wanted to avoid stale data in any scenario the solution would be to include the fields from your first query in your second query.

[2017-01-20 19:20] yurigenin commented on #1068
@calebmer  @helfer Can you please elaborate what you mean by 'do it yourself'? Apollo store is opaque to me as an apollo client user. How do I actually update the store myself when the mutation results come back? I could do it in the **then** function of the promise returned by the **mutate** method but exactly how? updateQueries gives me a nice abstraction where it patches the store behind the sc

[2017-01-20 20:15] NeoPhi commented on #821
I will reiterate that a solution that requires having to manually modify other queries in the system is unworkable.

[2017-01-20 20:39] alexthewilde commented on #593
After failing to make the integration work with ngrx/store I've looked into ng2-redux which is using actual redux, i.e. it's a redux wrapper rather than a re-implementation. And things work out just fine!

I've published a working [example app](https://github.com/alexthewilde/angular-redux-apollo-example). If you inspect the store with Redux DevTools, you'll see the apollo state alongside the ng2-

[2017-01-20 21:27] asgoel commented on #1182
I'm seeing this same issue. I've even tried manually setting `updateQueries` with no luck.

[2017-01-20 22:45] calebmer commented on #1068
@yurigenin we mean don’t unsubscribe from queries you want to update. So if you are using React, for instance, this means keeping the containers mounted that you want to update but hiding the children. We agree that this is not ideal, but it is a temporary workaround.

[2017-01-20 23:07] yurigenin commented on #1068
@calebmer Most of the people use the react-router package and not in a position to override how it deals with mounting/dismounting of components when the routes change. I hope you agree with me.

So, my question is still out there: when do you think we can expect a solution for this issue?

[2017-01-21 00:28] asgoel commented on #1182
As an update, mine was due to #1123. I wasn't passing in optional variables which was causing bugs in the mutation, which has been addressed in master for the next release.

[2017-01-21 00:49] SachaG commented on #1147
Well, we know what to do in theory but when @xavcz tried it he ran into some issues, so I don't really have a working solution yet. I'll update the thread when I do.

[2017-01-21 00:56] Poincare commented on #1147
Maybe we should keep this issue open in the meantime?

[2017-01-21 03:50] stubailo commented on #1147
I don't  think we should have a built in way of updating an object of a different type, these kinds of exceptions is exactly what updateQueries is for. I think requiring objects to be of the same type to update automatically is pretty reasonable.

[2017-01-21 06:07] booboothefool opened #1209 "Am not seeing optimisticResponse happen"
[code]

I also tried:
[code]
expecting to see a blank array for a sec, but it's not doing anything.

Am I doing something wrong?

[2017-01-21 07:32] hakimelek commented on #1199
I am going to push the fix, but first, is there a good way to test handling the response?

[2017-01-21 10:20] SachaG opened #1210 "Polling when server is down clears out results"
With polling enabled, I've noticed that if I shut down my dev server the next time polling triggers (and errors out), my query container doesn't return any results and all my data disappears. Is this the intended behavior? I'd have thought the old data would remain there?

[2017-01-21 10:25] codepunkt commented on #1100
@calebmer @helfer Amazing, thanks a lot!

[2017-01-21 12:32] manuelfink commented on #1182
My mutation is working, even though not passing all optional parameters.

I'm passing all variable written in the query however not passing all optional parameters, which the server can accept. e.g:

in the query (angular 2 client)

[code]

the server would also accept more optional parameters

[code]

[2017-01-21 17:37] ckimes89 opened #1211 "With react-apollo, `updateQueries` only updates queries on components that are mounted"
I'm assuming this is by design, but unless I'm missing something it seems to make certain patterns hard or impossible. Here's the simple version of a project I have currently:

List page with a list query
Detail page with a single object query (usually loaded from list cache)
Create page that redirects to list page after executing a create mutation

The `create` mutation has an `updateQueries` obj

[2017-01-21 18:58] mdebbar commented on #821
Can someone clarify what the issue exactly is? I'm having a hard time understanding from all the comments 😝

If I have a `book` type that has the following fields: id, name, author. If at some point, the author of the book is changed, does that cause the issue discussed here?

Example:
[code]

[2017-01-21 19:03] tizmagik opened #1212 "ApolloClient is not a constructor"
Hi. Just following the docs trying to get a simple use case working, and the following produces an error:

[code]

Error is:
[code]

Same happens with `import` syntax (via Webpack).

[2017-01-21 19:56] tizmagik commented on #1212
Using `.default` for the require statement gets it to work, which makes sense. But I'm not sure why the `import` syntax via Webpack doesn't work either.

[2017-01-21 20:07] tizmagik commented on #1212
[code]

That works. I'll use that for now. Feel free to close this.

[2017-01-21 20:16] turadg commented on #1212
@tizmagik this is definitely on your end, not the project. Please close this so the maintainers don't have to read through it.

[2017-01-21 20:22] tizmagik commented on #1212
@turadg thanks for your insight. While I'm sure it's something on my end, the Webpack configuration I'm using has been working with a number of other modules, so it might be the way this project is exported, actually. I wouldn't be so quick to dismiss that possibility.

Will close for now though as the workaround I've outlined above works fine.

[2017-01-21 20:22] #1212 closed

[2017-01-21 21:32] GGAlanSmithee opened #1213 "compatability issues with webpack 2.2 rc"
After updating to the latest webpack version, I am getting some strange error messages;

[code]

Since it's me as a user of webpack that is receiving this error, it should probably be fixed by me. But the fact that I am not using `exports-loader` and that no other module is giving me this error, there might be some incompatabilities with this library and webpack 2.

[2017-01-21 21:39] stubailo commented on #1213
Do you have a simple app with Webpack 2 we can try out? We haven't used it yet and it would be much easier if you could share your config.

[2017-01-21 21:40] stubailo commented on #1212
Are you using webpack 2? There was some other issue with it in #1213

Default exports have definitely been a point of contention between different bundle systems so I wouldn't be surprised if things changed yet again.

[2017-01-21 21:43] tizmagik commented on #1212
@stubailo ah, yes I am using Webpack 2. Should I reopen this issue?

[2017-01-21 21:44] stubailo commented on #1212
Can you post a comment on #1213 with this additional info? The best help for us would be if someone could point us at a configured project using Webpack 2 so we can easily test out fixes.

[2017-01-21 22:07] tizmagik commented on #1212
Sure. I will try and stand up a sample repo and post that as well.

[2017-01-21 22:29] bradabelgit opened #1214 "Refetch is not refetching"
Hello!

I have a pretty simple use case here where I have a query which fetches all contacts for a particular account. In another area of the app, I have an import feature which allows the user to import a csv of contacts. Upon returning to the contacts page, I call refetch on the query, however, the new data is never actually fetched, only the old data is returned without the added contacts. Upon

[2017-01-22 01:48] SachaG commented on #1211
I think this issue might belong on the [react-apollo](https://github.com/apollostack/react-apollo/) repo. But I'd be curious to know about this as well.

[2017-01-22 02:06] bradabelgit commented on #1211
Have you experienced something similar?

I dug into the react-apollo repo a little bit, and all it seems to be doing is pulling the refetch function off of the observableQuery and applying that to the data returned.

See: https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L61
and: https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L465

[2017-01-22 02:08] bradabelgit commented on #1214
I looked into react-apollo as well to see if it was something in there and all it seems to be doing is pulling the refetch function off of the observableQuery and applying that to the data returned to the component.

See: https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L61
and: https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L465

[2017-01-22 02:15] codylandry commented on #1211
I'm having issues with this myself.  I have a pattern identical to the OP with react-router where users create, edit and delete 'items'.  In my updateQueries for each mutation, I update the query used on the list page. Each time, the view does not change when redirected back to the list page.

[2017-01-22 03:59] helfer commented on #1214
@bradabelgit Thanks for opening an issue! The best way for us to verify the issue would be if you could provide a minimal reproduction.
Right now it seems more likely to me that this is happening due to an oversight in your code rather than the refetch function not working properly. Are you sure the function is actually being called?

[2017-01-22 04:05] helfer commented on #1210
@SachaG Thanks for pointing it out! That's probably never what the user wants, so we should change it. Luckily this shouldn't be hard to fix, all we need to do is ignore the result of a polling query if there is an error.

[2017-01-22 04:13] helfer commented on #1209
@booboothefool it looks fine to me. OptimisticResponse can be a bit finicky though. A frequent problem is that the shape of the optimistic response doesn't match what the query expect.

We should definitely make this easier to debug (along with updateQueries). In the meantime it might help if you use the [Apollo Client Developer Tools](https://chrome.google.com/webstore/detail/apollo-client-develo

[2017-01-22 04:22] booboothefool commented on #1209
@helfer Yeah there are a few throughout my app and those seem to work, however I've never done it with an array like the one I'm trying to do now (basically rearranging/adding/delete a bunch of photos).

Woah since when did we have Apollo Client Developer Tools!!!?? 🎉  I've been under a rock for a while. This is gonna be life changing! I'll check it out, thanks!

[2017-01-22 04:25] helfer commented on #1211
@ckimes89 Thanks for filing an isssue! It is the same underlying issue as #1129, so I will close this one to keep things simple. There was a design flaw that we overlooked initially, but we came up with a different solution that we will hopefully finish implementing shortly. The solution will basically be to no longer provide named queries, but instead provide the query that you want to have updat

[2017-01-22 04:26] #1211 closed

[2017-01-22 04:28] SachaG commented on #1211
@helfer how would that work with reducers? You'd also provide the reducer for the query you want updated in the mutation container itself?

[2017-01-22 05:17] helfer commented on #1211
@SachaG We're not yet sure what to do with reducers. We may replace them with some form of a global reducer that doesn't require any specific query to be active.

[2017-01-22 05:18] #1185 closed

[2017-01-22 05:22] bradabelgit commented on #1214
@helfer I can do that. I did confirm that refetch was being called, but the returned result was the cached result, and not the new result from the server.

Is refetch working for you as expected?

[2017-01-22 05:33] helfer commented on #1214
@bradabelgit Is it possible that you have `noFetch` set for this query? If not, it should be relatively easy to design a failing test case for this (although I believe we already do test refetch in a similar way, and the test passes).

[2017-01-22 05:40] helfer commented on #821
@mdebbar yes, but you'll need another query which asks for different fields than the first one.

@NeoPhi: Since we don't want to dynamically modify queries, the only other options are to a) automatically refetch the query, or b) manually (or automatically during build time) add the necessary fields. I think the choice between a) or b) should be up to the developer.

In a fancy future version, I co

[2017-01-22 05:44] helfer commented on #1068
@yurigenin we already have a rough design, which we should be able to implement within less than a week.

[2017-01-22 05:49] SachaG commented on #1211
Oh, that could work.

Maybe that's another debate, but I wonder if it's a good idea to have both reducers and `updateQueries` though. It seems like having two ways to do the same thing means more work for the Apollo team, and more chances to make mistakes for end users.

[2017-01-22 14:05] davidyaha opened #1217 "Reopen: React-Native apps throws an error when calling `refetch`"
This bug has occurred with previous versions of apollo ([apollo-client #261](https://github.com/apollostack/apollo-client/issues/261), [react-apollo #78](https://github.com/apollostack/react-apollo/issues/78))

To reproduce it just call `reftech` on a react-native app.
The error being thrown is:
[code]

From what I gathered this bug has returned after moving back to object spreading thus probably

[2017-01-22 17:28] bradabelgit commented on #1214
@helfer Nope, I actually tried that passing noFetch to see if the refetch call was actually being executed, and it threw an error as expected. So I have confirmed that refetch is being called, and I know there is new data in the database. But it is never actually sends a new query to the server (from looking at the network in chrome dev tools).

Is anyone else experiencing this?

versions:
apollo-

[2017-01-22 21:12] GGAlanSmithee commented on #1213
Hi @stubailo Sorry I've been a bit short on time this weekend, but here is some more info:

The issue was introduced in [this webpac release](https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.26) which makes sense, since webpack is no longer auto-prefixing loaders with `-loader`.

For the time being, I fixed it using the [resolveloader-moduleextensions](https://webpack.js.org/configurati

[2017-01-22 21:31] GGAlanSmithee commented on #1213
There were another follow up error:

[code]

which was fixed by changing

[code]

to

[code]

Looking at https://github.com/apollostack/apollo-client/blob/master/src/ApolloClient.ts it does not re-export `createNetworkInterface`, is this by design? (it used to work AFAIK)

[2017-01-22 21:57] petercn commented on #593
@alexthewilde yep, that's the workaround for now but it sure would be nice if apollo-client were agnostic to the redux implementation and could directly integrate with ngrx

[2017-01-22 22:47] daniel-nagy opened #1218 "reducer option ignored by query and watchQuery"
Both `ApolloClient::query` and `ApolloClient::watchQuery` list `reducer` as an option. The `query` method seems to ignore the option and `watchQuery` only calls the reducer if you create a subscription as well. I'm not sure if this is intended but it wasn't what I expected.

version: `0.8.3`
framework: React Native

#### Intended outcome

If I provide `reducer` as an option to `query` or `watchQue

[2017-01-22 23:30] daniel-nagy opened #1219 "Deepfreeze not used on watchQuery result in development"
Adding `deepFreeze` in development is a breaking change and should be labeled as such in the change log.

In development the results from `watchQuery`, at least the results from `observable.refetch`, are not frozen but the results from `query` are frozen.

version: `>= 0.7.x`
framework: React Native

#### Expected outcome
All results should be either frozen or not frozen.

#### Actual outcome
Resu

[2017-01-22 23:35] stubailo commented on #1213
The main module is index.ts not ApolloClient.ts AFAIK

[2017-01-23 03:17] Urigo commented on #593
@alexthewilde maybe you are willing to make a PR for the Angular-Apollo-Redux docs chapter?

https://github.com/apollostack/angular2-docs/issues/29

[2017-01-23 04:10] asgoel commented on #1182
I had the same issue... my mutation was working but the cache wasn't updating. I fixed it by passing in `null` (or some default value) for the optional parameters even if I wasn't using them. not sure if that will help you or not.

[2017-01-23 06:28] GGAlanSmithee commented on #1213
Ah, sorry, my bad. That's weird then..

[2017-01-23 08:39] elie222 opened #1220 "Add a way to turn off all polling and subscriptions"
People leave their computers and phones connected to websites for long periods of time. You may leave a background tab open for days at a time and not actually use the website.

This can have an impact on websites that continuously update through polling or subscriptions. There should be a way to stop all polling for updates after a set amount of time. You may want to update the user every 20 seco

[2017-01-23 08:39] karthikiyengar commented on #586
The strategy I'm currently using for uploads is to pretty much to send a Base64 DataURI to the endpoint. Apart from the increased payload sizes, are there any obvious issues with this? I find this approach easy to reason about as all of my application logic is contained within GraphQL.

[2017-01-23 10:28] DanielRuf commented on #1214
Same here.

[2017-01-23 17:29] calebmer commented on #1209
@booboothefool let us know if you fix this or if it still doesn’t work. If there’s a bug then we definitely want to know about it 😊

[2017-01-23 17:36] calebmer commented on #1217
@davidyaha interesting. Do you have a stack trace so we know where this is happening? I don’t think the solution is to stop using object spreading in _all_ cases; but instead, understand the underlying issue and fix that.

[2017-01-23 17:39] calebmer commented on #1218
@daniel-nagy could you use `updateQueries` instead?

[2017-01-23 17:45] calebmer commented on #1182
@manuelfink could you try with `0.8.0`? If it still does not work can we see the results from the query and mutation? Is the `__typename` the same for the object you are creating and the one you want to update?

[2017-01-23 17:51] calebmer commented on #1213
@GGAlanSmithee I think this may be a problem with your Webpack configuration and not a problem with Apollo Client itself. If you could create a small reproduction repo that would really help us find and solve whatever is happening.

[2017-01-23 17:54] calebmer commented on #1220
This is something that could be implemented in your codebase by simply unmounting your components and displaying a disconnected screen after a set amount of time.

However, it does seem like a good idea to be able to pause and play polling requests. We’d be happy to merge a PR that implements polling pause and play functions 😊

We are also reexamining the design of polling queries, so we will defi

[2017-01-23 17:56] calebmer commented on #586
Going to close this as it seems like a duplicate of https://github.com/apollostack/apollo/issues/65.

@karthikiyengar your comment may be valuable in that thread if you want to re-post there 😊

[2017-01-23 17:56] #586 closed

[2017-01-23 17:57] calebmer commented on #1214
@bradabelgit and @DanielRuf are you experiencing this error in `0.8.0`?

[2017-01-23 18:18] DanielRuf commented on #1214
@calebmer We found a working workaround / solution for the project usinf `forceFetch`, the version was 0.5.21 and we tried an upgrade to 0.8.0 but I do not know if this solved the problem.

[2017-01-23 18:47] helfer commented on #1219
@daniel-nagy Thanks for reporting the issue. Would you like to make a PR to fix it? It should be relatively easy.

[2017-01-23 19:41] alexthewilde commented on #593
@Urigo here you go https://github.com/apollostack/angular2-docs/pull/30

@petercn imho ngrx/store should make itself compatible, i.e. implement the original Redux APIs where needed. That's actually what @MikeRyan52 already tried to do with his snippet. I failed to make it work myself, though I believe that for people with more insight into ngrx/store it's probably not a job that's too hard to fini

[2017-01-23 19:45] rafrex opened #1223 "Loading query overwrites updateQueries response"
I have a `login` mutation with an `updateQueries` option that updates my current user query.

[code]

This works fine in isolation, the `currentUser` query is updated with the user `id` and `username` and my `User` React component gets the new current user data exactly as is should. However, when I have a current user, my `User` component renders a `UserInfo` component which has a `currentUserInfo

[2017-01-23 20:02] booboothefool commented on #1195
@calebmer Is there a way to have it not refetch? For example when logging out, I sort of just want to kill everything. I'm running into issues where logging out -> logging in -> still has cached data from the logged out user.

Not sure if intentional, but I heard resetStore got some fixes recently, however I'm stuck on 0.5.21 due to the upgrading breaking updateQueries.

[2017-01-23 20:17] helfer commented on #1191
Having thought about this a little bit more, I don't think middleware and afterware is currently used to alter the body of the GraphQL request (nor is it recommended), so an initial fix for this should simply be to change the behavior of batched network interface to run on the batched query.

If it turns out that there's a good use-case for queryMiddleware and queryAfterware, we can always add tho

[2017-01-23 22:30] helfer commented on #1218
Could this be a duplicate of #1129?

[2017-01-24 00:35] helfer opened #1224 "Design for new updateQueries functionality"
UpdateQueries currently doesn't support updating queries that are not actively watched (#1129). The following is a rough proposal for a new design of updateQueries that would bypass this problem by requiring the developer to provide the query to be updated via a GraphQL query document rather than just a reference by name.

**before:**
- Must provide query name
- Must provide update function

**aft

[2017-01-24 01:22] giautm commented on #1191
Please consider about `authMiddleware` like [`react-relay-network-layer`](https://github.com/nodkz/react-relay-network-layer). ;)

[code]

[2017-01-24 03:19] skosch commented on #951
I just ran into this situation. Coming from Relay, where this kind of thing was never an issue, I was pulling my hair out for quite a bit before finding this issue. Has there been any progress? Or could somebody recommend how I could best proceed until then?

Btw, thanks for an otherwise really well-designed library! It's much less magical than Relay, and I mean that in the best possible way :)

[2017-01-24 04:04] lucasconstantino commented on #1194
Hello! I've upgraded to 0.7.3 and there still persists. It's interesting to note two things about this version:

1. The class ApolloError is now exported as high-level api (which means I can `import { ApolloError } from 'apollo-client'`);
2. Apollo internally seams to assert if an error is an Apollo error by simply verifying the existence of the `graphQLErrors` property in the error object. But th

[2017-01-24 06:48] ivan133 commented on #1183
@calebmer Sorry I didn't get it.
What version of apollo-client should I check?

[2017-01-24 08:41] GGAlanSmithee commented on #1213
@calebmer yeah, it's most certainly a problem with my setup. I will try to get some time and set up a simple reproduction.

[2017-01-24 10:08] booboothefool commented on #1224
^ I didn't realize that's how it works. Could this potentially cause performance issues? I noticed my React Native app actually gets slower with the amount of data I've fetched. https://github.com/apollostack/react-apollo/issues/418#issuecomment-273951195

___

Anyway, this all sounds great. With the current way, I actually get confused with the naming and am finding myself running into issues lik

[2017-01-24 10:39] nakedcity commented on #593
I agree with @alexthewilde very similar integration plus people used to redux will not have to learn another API, regarding the plus of ngrx you can see robwormald explanation on https://github.com/ngrx/store/issues/16

[2017-01-24 10:41] armstrjare commented on #951
@skosch what we're doing nowadays is following the pattern of the Query itself should know on what situations it should update it's data (i.e. what mutations it wants to adjust on).

We've made wrapper around Apollo for queries that allows us to simply define a map of `mutationName => reducer(originalResult, mutationResult)`, where we can modify the mutation result. This works really nicely with o

[2017-01-24 11:19] skosch commented on #951
Thanks for responding!
Your approach certainly has the advantage that it would work :smiley: – but doesn't it come with the downside that every query involving `items` now has to be told about this particular mutation? That doesn't seem very maintainable to me, at least at first sight. Or has that not been an issue for you in practice?

[2017-01-24 11:56] dallonf commented on #951
@armstrjare The issue I've always run into is that in the Create Page / List Page scenario, the List Page query isn't active when the mutation happens (because the Create Page is active instead), so it won't update even if you configure its reducer.

@skosch I agree, that (and the reason I gave above) is why I'm pushing for customizing the _cache's_ awareness of mutations rather than individual qu

[2017-01-24 12:11] skosch commented on #951
It's funny, one of the main reasons I switched from Relay was that Relay often made it impossible for mutations to make fine-grained manual updates to the cache, even when using connections, so you'd always have to re-request the whole list. I had fully assumed Apollo would make this trivial since it's based on Redux.

For now I'll gladly take the option of defining a clunky global reducer. Conven

[2017-01-24 12:39] JesperWe commented on #1224
Hmm. And for those of us who think this looks like an over-engineered hard-to-maintain way of going about things, and would prefer just have `refetchQueries` come back to work properly as more sane DX, is there any hope?

[2017-01-24 15:35] armstrjare commented on #951
@dallonf ah, good point.  Doesn't apply the reducers if the query is resolved from the cache.

Note that it *does* apply the reducers correctly if the query is active, but you change the query variables and it loads from the cache. (i.e. for paging).

[2017-01-24 15:36] armstrjare commented on #1224
Note that a somewhat related issue occurs with the `reducer` option for queries. If a query is created from the cache after a mutation has run, it will not apply the reducers. See #1224

[2017-01-24 15:56] BlooJeans commented on #1223
Not sure if this is the exact same issue, but your experience sounds similar to my current problem, but I'm using `refetchQueries` instead of `updateQueries`

navigate to EventOverview (fetch event)
navigate to EventDetails (fetch event with different properties)
saveEvent mutation (with refetchQueries: [EventOverviewQuery])
APOLLO_MUTATION_INIT
APOLLO_MUTATION_RESULT -> (properly returns edited e

[2017-01-24 16:22] ryancole commented on #645
In the meantime, would it just be enough to create a custom network interface that uses fetch ponyfill?

[2017-01-24 18:28] helfer commented on #1223
@rafrex Thanks for the detailed writeup. That sounds like a tricky issue, but very reproducible. Do you think you could write a failing test case? I think a good place to put it would be [this file](https://github.com/apollostack/apollo-client/blob/master/test/mutationResults.ts).

@BlooJeans I think `refetch` always fires these three events: INIT, RESULT and STOP, so that is not surprising per se

[2017-01-24 18:28] helfer commented on #1224
@booboothefool You should definitely not reuse the same query name for a different query, as that will cause problems if both queries are active at the same time. Also, it's possible that the old approach had some performance issues, but it's hard to tell for sure without measuring. @Poincare is doing some work in that direction

@JesperWe `updateQueries` and `refetchQueries` are not mutually excl

[2017-01-24 18:50] ryancole opened #1225 "How to use apollo client on the server? How to deal with explicit whatwg-fetch require?"
I was reading over #645. The issue is discussing how to appropriately change `createNetworkInterface` so that it works, out of the box, on node.js. The issue being that the [networkInterface.ts](https://github.com/apollostack/apollo-client/blob/master/src/transport/networkInterface.ts#L1) file has a hard dependency on the browser-only `whatwg-fetch`.

Because that file still depends on that module

[2017-01-24 18:54] stubailo commented on #1225
What's the problem you are experiencing? Does simply also importing `node-fetch` not work? That's what we do in our SSR example as far as I know.

[2017-01-24 18:57] ryancole commented on #1225
Hmm. I think I see why this would work, actually. It looks like `whatwg-fetch` doesn't do anything if a global `fetch` already exists. So, importing `node-fetch` before-hand should fix the `fetch is undefined` issue with just `whatwg-fetch`.

I'll try that!

[2017-01-24 18:57] #1225 closed

[2017-01-24 19:01] stubailo commented on #1225
Yeah I think the polyfill situation is quite confusing, we're thinking of possibly removing all the polyfills for 1.0 and asking people to import the ones they want. On the other hand, it's nice that things "just work" on the client.

[2017-01-24 19:14] lewisf commented on #1191
@helfer I'll take a stab at doing the fix you suggested.

[2017-01-24 19:25] calebmer commented on #1195
@booboothefool does the query when re-fetched contain data from the logged out user? If so, maybe look at the headers and what not being sent by the network interface to ensure that they too are being correctly reset.

I’m not sure with the nature of the `resetStore` fixes were, and I don’t see anything in the [`CHANGELOG.md`](https://github.com/apollostack/apollo-client/blob/master/CHANGELOG.md)

[2017-01-24 19:32] ryancole commented on #1225
@stubailo It's just a bit unintuitive in node, because you don't typically deal with globals. So seeing a `require("whatwg-fetch")` doesn't immedietly convey that if a global `fetch` already exists then that `require` basically does nothing. In the browser though that is a bit more intuitive.

After realizing this, I think the way it currently is is actually quite nice. The client will work in the

[2017-01-24 19:37] armstrjare commented on #1224
@helfer oops, you're right. I meant #951

[2017-01-24 20:13] stubailo commented on #1225
Yeah, it's a general issue with polyfills - they change something about the environment rather than actually exporting a function that is used.

[2017-01-24 20:15] calebmer commented on #1194
I just did some research and what’s happening here is kind of interesting. This is not a bug in TypeScript, `ApolloError`s will never be an instance of `ApolloError` given how `Error`s work and how JavaScript classes work.

As you can see in the TypeScript output (and the [Babel output](http://babeljs.io/repl/#?babili=false&evaluate=true&lineWrap=false&presets=es2015%2Creact%2Cstage-2&code=class%2

[2017-01-24 20:16] calebmer commented on #1183
Should be in `0.8.0` @ivan133 👍

[2017-01-24 20:17] calebmer commented on #1213
Ok I’m going to close until then. Feel free to re-open or open a new issue @GGAlanSmithee if you find undesirable behavior in how Apollo is bundled with your reproduction 👍

[2017-01-24 20:17] #1213 closed

[2017-01-24 21:15] calebmer commented on #1224
A couple of thoughts.

What’s the advantage of an array here?

[code]

Couldn’t it just be a single `updateQuery` object? Might be a little more ergonomic.

Also, what if we allowed functions for wildcard matching. So the definition of `ALL` would be:

[code]

This allows users to do some more specific pattern matching against variables:

[code]

However, the more I think about the complexity of i

[2017-01-25 01:04] lucasconstantino commented on #1194
What a lesson you gave me here :) Thanks a lot for your interest in the matter, really.

I still think it's quite strange that we can't compare types, for I believe this can happen in quite so many other situations other than what I was trying to do. It's odd, indeed.

Well, I guess we can close this issue now :)

[2017-01-25 01:04] #1194 closed

[2017-01-25 07:52] JesperWe commented on #1224
Regarding `updateQueries` and `refetchQueries`: My worry, as I have mentioned in other places previously, is that any `updateQueries` approach forces me to duplicate business logic from the server: The client has to know what data the mutation might have changed, query for all possible changed stuff, and update the cache. This has two problems: It makes the data access component code rather verbos

[2017-01-25 08:57] okbel commented on #1193
Also there are several tests that include createFragment i.e with react-apollo [https://github.com/apollostack/react-apollo/blob/master/test/react-web/client/graphql/fragments.test.tsx](https://github.com/apollostack/react-apollo/blob/master/test/react-web/client/graphql/fragments.test.tsx)

[2017-01-25 13:37] poissont opened #1227 "Bug with __typename and values"
Hello, I have an issue when I do a particular request, I have the espected result on graphiql, but there is a problem when I get the result on react-apollo.

Here is the **request** :
[Request.txt](https://github.com/apollostack/apollo-client/files/729793/Request.txt)

Expected **Result** :
[Expected Result.txt](https://github.com/apollostack/apollo-client/files/729788/Espected.Result.txt)

Howeve

[2017-01-25 15:15] abhiaiyer91 commented on #1193
@stubailo, maybe something like documentationjs ?

[2017-01-25 16:08] calebmer commented on #1193
Or we move everything into a monorepo with Lerna and enforce docs change with code changes in the PR process. Move in `react-apollo`, docs, the whole 9 yards 😊

(just sayin’, I know @stubailo has strong feelings lol 😉)

[2017-01-25 16:14] #1199 closed

[2017-01-25 16:35] calebmer commented on #1224
@JesperWe I agree, but I think this is an inherent limitation of GraphQL. Every client needs to consider this case whether it be Apollo Client (web/iOS/Android) or Relay. We can’t get around the limitation without some specification on the server to expose metadata for this information. Yet even that would be a duplication of logic. The duplication would just be on the server 😖

Basically, the onl

[2017-01-25 16:37] abhiaiyer91 commented on #1193
@calebmer maybe we should start a thread for that.

[2017-01-25 16:40] calebmer commented on #1227
What does your `dataIdFromObject` look like?

[2017-01-25 16:54] JesperWe commented on #1224
@calebmer I've been a large scale Meteor app developer for 3 years, which is why this makes me cringe :-)

But again: The original ´refetchQueries´ (before #1129) was a working solution for not-so-massive and not-so-performance-sensitive apps. Just fixing that bug while moving forward with this proposal would give "the majority of developers who just want to get up and running quickly" an alternat

[2017-01-25 17:11] poissont commented on #1227
dataIdFromObject: r => r.id

[2017-01-25 17:15] calebmer commented on #1227
Yep, you will need to include the `__typename` as well. You have two objects with an id of `5`, but different type names. So Apollo thinks they are the same object. Try some variant on:

[code]

Let me know if you need any more help 👍

[2017-01-25 17:15] #1227 closed

[2017-01-25 18:53] rhmoller commented on #1186
I tried to checkout master of this repository and react-apollo and npm link them into my project, but it seems react-apollo is not up to update with the latest changes in apollo-client. Instructions on how to properly try out #1202 would be appreciated.

I tried to manually hack the changes from #1202 directly into the apollo client umd bundle inside node_modules. After this change the loading fla

[2017-01-25 20:11] ivan133 commented on #1183
@calebmer yes, looks it work. Although it also worked on 0.5.26.
The main issue for update was this https://github.com/apollostack/apollo-client/issues/1129
I'll check if it resolved on 0.8.0 later this week.

[2017-01-25 20:11] #1183 closed

[2017-01-26 01:31] helfer commented on #1218
Btw, `reducer` should not be an option on query, only on watchQuery. We're likely to remove this API in upcoming versions (at least temporarily) for the reasons mentioned in #1129.

[2017-01-26 01:33] helfer commented on #41
I'm closing this since I think we don't need an issue to keep track of this. a) we're not likely to forget this, and b) project notes would be a better place.

[2017-01-26 01:33] #41 closed

[2017-01-26 01:34] helfer commented on #92
We're going to abstract the store and make it a public API, which should let people integrate with whatever they want.

[2017-01-26 01:34] #92 closed

[2017-01-26 01:35] helfer commented on #269
I don't think it's necessary to track this here, as it's on our medium-term roadmap now.

[2017-01-26 01:35] #269 closed

[2017-01-26 01:39] helfer commented on #439
I think it should be possible to get 90% of the way there just by implementing a custom network interface that retries mutations. I'll close this for now, but I'd be happy to keep the discussion going.

[2017-01-26 01:39] #439 closed

[2017-01-26 01:43] helfer commented on #710
I don't think the current implementation is a reason for concern as it's a single timer and it runs very little code if no query is currently being batched. It should be an easy change though, so if anyone wants to make a PR, go for it!

[2017-01-26 01:43] #710 closed

[2017-01-26 01:43] helfer commented on #546
We no longer deal with fragments directly, so I don't think this should be apollo-client's job any more.

[2017-01-26 01:43] #546 closed

[2017-01-26 01:46] helfer commented on #258
We're going to add an interface that allows you to easily read denormalized data from the store and write denormalized data to the store independent from actually running GraphQL queries, so this should become very easy soon. I'm closing the issue now because, well, it's been four months.

[2017-01-26 01:46] #258 closed

[2017-01-26 01:48] helfer commented on #253
cc @DxCx @calebmer if we overhaul the network interface, we should keep this in mind. I'm closing it now since it's an ancient issue.

[2017-01-26 01:48] #253 closed

[2017-01-26 01:49] helfer commented on #596
We've implemented something similar for queries now, and we're also working on refining the format for cache updates. I'm closing this so we can have all conversations in a more recent issue.

[2017-01-26 01:49] #596 closed

[2017-01-26 01:52] helfer commented on #742
cc @calebmer @martijnwalraven

We just discussed this a bit more today, and we currently like the idea of keeping the store clean (i.e. the key actually represents the data stored under it) and having an extra ListManager (or ConnectionManager) that would piece the information together. That way the store abstraction stays pure while still providing the obvious benefits of fetchMore.

[2017-01-26 01:52] helfer commented on #730
We'll track this in #774.

[2017-01-26 01:52] #730 closed

[2017-01-26 01:53] helfer commented on #622
For now we'll have something observable-like in the core of Apollo Client without subscribing to either full spec.

[2017-01-26 01:53] #622 closed

[2017-01-26 01:54] helfer commented on #722
cc @calebmer Let's keep this in mind while we rethink the store architecture. If possible, it would be nice if our Redux integration could provide this.

[2017-01-26 01:56] helfer commented on #474
This is going to be a core part of our new store API. It will let you read from the store by providing an ID and a fragment like so:
[code]

[2017-01-26 01:56] #474 closed

[2017-01-26 01:58] helfer commented on #565
We've decided to implement this kind of imperative API for dealing with store updates right after we implement some logic for refetching, and before we implement any declarative API.

Closing this issue for lack of activity.

[2017-01-26 01:58] #565 closed

[2017-01-26 01:59] helfer commented on #595
I think this is solved now.

[2017-01-26 01:59] #595 closed

[2017-01-26 02:00] helfer commented on #774
@DxCx If you're still interested in this, make sure to touch base with us before you start 🙂

[2017-01-26 02:00] helfer commented on #857
@acorcutt is this still an issue with the latest version?

[2017-01-26 02:01] #777 closed

[2017-01-26 02:01] helfer commented on #872
It's been a while, so I'll close this.

[2017-01-26 02:01] #872 closed

[2017-01-26 02:04] helfer commented on #855
We're considering adding a default `dataIdFromObject` function, and we might expose an option to add the necessary fields for that (id and __typename), but for generic modifications I think it makes more sense to do those outside of apollo-client. Maybe graphql-tag could provide such functionality. In Apollo Client core we prefer not to modify the query that's passed in (even though we currently d

[2017-01-26 02:04] #855 closed

[2017-01-26 02:05] helfer commented on #894
We got bigger fish to fry. If we run out of stuff to do, we can always check the closed issues for more work 😄

[2017-01-26 02:05] #894 closed

[2017-01-26 08:06] poissont commented on #1227
Well that didn't fixed my problem, with this i get 8 times the same object
[Apollo Result.txt](https://github.com/apollostack/apollo-client/files/731782/Apollo.Result.txt)

[2017-01-26 14:14] jesenko opened #1231 "Wrong fields returned for arrays within fragments"
Query with fragments on different types returns wrong fields for arrays in fragment.

E.g. running
[code]
on object of type `Object2` will return only `{ nestedObj { innerArray{ id } } }`.
It should return `{ nestedObj { innerArray { id someField } } }`.

Selection set for first fragment specified in query is used to determine returned fields, ignoring actual `__typename` of resulting object.

Cor

[2017-01-26 16:14] semanser opened #1233 "Error 400: Bad Request (message: Must provide document)"
Hi all. I have pretty simple graphql-server:

[code]

With `graphiql` tool everything working correctly: I can make requests and receive expected results. But when I am trying to send request with `apollo-client`, something wrong. Here is my client code:

[code]

Here is errors:

![123](https://cloud.githubusercontent.com/assets/4020045/22339471/c4a49de4-e3f2-11e6-86f6-ecd0098bdc43.png)

Here is r

[2017-01-26 17:27] jesenko commented on #1231
I traced this issue back to behaviour of merge function in graphql-anywhere, where arrays are not deep-merged. PR for graphql-anywhere referenced above fixes failing test in this PR.

[2017-01-26 18:24] Akryum commented on #585
@stubailo I was wondering if the team have any design ideas you could share to tackle this?

[2017-01-26 19:47] calebmer commented on #1233
This looks like a [`graphql-server`](https://github.com/apollostack/graphql-server) issue. If you haven’t already could you open against that repo?

[2017-01-26 20:47] manuelfink commented on #1182
@calebmer not tested in detail yet, but it seems to work with 0.8.0 and latest angular-apollo version.

[2017-01-26 20:47] #1182 closed

[2017-01-27 02:25] dstik commented on #1078
Looks like it's working great now without issues. Thank you so much @calebmer!!

[2017-01-27 02:25] #1078 closed

[2017-01-27 09:12] Pajn commented on #1224
It is a strength if you need the power, but otherwise cumbersome. However with a powerful API
in the bottom, you can always build abstractions/helpers atop of that. Three very basic usecases
that is common in "get up and running quickly" and smaller apps where fetching everything is acceptable is append to this top level query and prepend to this top level query and delete from this top level quer

[2017-01-27 12:59] nandito commented on #1210
@SachaG could you be a bit more specific? I tried to reproduce the issue but it works for me. When I stopped the GraphQL server, I got the `OPTIONS http://example.com/graphql net::ERR_CONNECTION_REFUSED` console error but my sample app kept the previously fetched data in the store.

[2017-01-27 15:17] HriBB opened #1237 "Import syntax inside node_modules/apollo-client with apollo-client@0.8.1"
I might be missing something obvious, but `apollo-client@0.8.1` uses `import` syntax inside `node_modules` and I get an error

[code]

This is the content of `networkInterface.js` inside `node_modules`
[code]

I might be missing something obvious, so you can close this issue if it's not valid.

[2017-01-27 17:39] helfer commented on #1191
@lewisf Great, I look forward to it! 🙂

[2017-01-27 17:43] helfer commented on #1233
You'll see that error when you're not passing the query/mutation to graphql-server. This is definitely an error on the server and not on the client.

[2017-01-27 17:43] #1233 closed

[2017-01-27 17:48] helfer commented on #1237
We recently changed the bundle to have UMD, commonjs and es6, so I assume it's related to how you're importing Apollo Client. @kamilkisiela, @calebmer I'm heading out to the mountains today. Can one of you help out here?

[2017-01-27 18:50] kamilkisiela commented on #1237
@HriBB First question, which build tool do you use? Webpack, rollup, something different?

About that UMD, CommonJS, ES6 Modules thing.

In `package.json` we have:

[code]

It means that if your build tool wants to use es6 modules, it looks for the `module` or the `jsnext:main` in `package.json`. Both points to an entry module. Otherwise, it uses just the `main` field.

Think of `apollo.umd.js` as

[2017-01-27 18:56] kamilkisiela commented on #1237
Now I noticed that you use `mocha`. It suppose to take a file that is defined under `main` filed in `package.json`. Could you create a small, separated reproduction?

[2017-01-28 11:18] davidyaha commented on #1217
This red screen is unfortunately as much as I could have gathered.

![image](https://cloud.githubusercontent.com/assets/2580920/22396101/9fa6caae-e559-11e6-9c3a-d82183bfc3ff.png)

I might have found the cause though and this should be a warning maybe for any react-native user.
`refetch` function accept `variables` object as it's parameter, while react-native's `onPress` property passes a Proxy obj

[2017-01-28 11:26] koenpunt opened #1238 "Regression(?); client raises network error on duplicate fragment"
**With `apollo-client` 0.8.0 I got the following error:**

<img src="https://cloud.githubusercontent.com/assets/351038/22396264/dac07482-e554-11e6-99a6-cb66166e4fae.png" width="300"/>

**With 0.8.1 I get:**

<img src="https://cloud.githubusercontent.com/assets/351038/22396265/dce82606-e554-11e6-967a-75ea3ed4f4fe.png" width="300"/>

[2017-01-28 18:59] nupurgrover commented on #1146
@helfer I don't completely agree, since I can easily access the original variables in the updateQuery method:

[code]

I stumbled across this use case while trying to pass a prop to the component which was dependent on the value of the query variables, and assumed that the value of the variables would be overriden by the new variables the same way the value of `feed` can be overriden above.But tha

[2017-01-28 19:39] calebmer commented on #1238
Interesting. So this is the same error except in `0.8.0` we throw an error that is easier to understand.

[2017-01-28 19:47] calebmer commented on #1217
Yep, that is definitely the cause. This isn’t a bug in Apollo Client, but we may be able to throw a more helpful error here if we added the following:

[code]

Although this case is rare enough that I don’t think we really need the check. It would also disallow some interesting use cases.

I’m going to close. Let us know if you run into any other problems 👍

[2017-01-28 19:47] #1217 closed

[2017-01-28 20:45] curio77 commented on #1163
This issue is resolved for me with v0.8.1.

[2017-01-28 20:45] #1163 closed

[2017-01-28 22:34] ckimes89 opened #1239 "Add support for `queryTransformers`"
I would like to be able to arbitrarily transform each query before it reaches the network layer (and before it reaches the cache). Possible usage could look like this:

[code]

As shown in the example, the existing special case `addTypename` field could be replaced with a general purpose array of transformation functions.

Implementation would be fairly simple - each place that `addTypenameToDocum

[2017-01-29 02:29] bradabelgit opened #1240 "Dealing with Large Amounts of Data"
I have noticed a significant slowdown in page load times when there is a larger amount of data in the cache. In this case there are 5000 data points being loaded from a single query from the cache. I'll post some code, but before I do i'd just like to ask a general question. Should I be trying to load this much data at once? Basically I am trying to get something up and running as quickly as possi

[2017-01-29 14:11] calebmer commented on #1240
Is this with one query or with many queries? Also, do you have any `updateQueries`? It is a known issue that writes to the store are generally slow and that reads could be faster. We are currently working on a faster store implementation, so stay tuned for that.

Could you provide a simple app which loads a lot of data? It would be great to see the actual use case where the slow down occurs for yo

[2017-01-29 17:26] bradabelgit commented on #1240
In this case it is just a single, simple query to get data, no updateQueries involved.

'''
const gql = require("graphql-tag");
const { graphql } = require("react-apollo");

const { contactInfo } = require("../fragments");

const query = gql`
  query contacts {
    contacts {
      ...contactInfo
    }
  }
  ${ contactInfo }
`;

const apolloQuery = graphql(query, { name: "contacts" })

module.expo

[2017-01-29 22:08] mpowaga opened #1241 "Add support for observables in NetworkInterface::query"
At the moment NetworkInterface::query must return a promise. That means that query result can't change in time. [GraphiQL](https://github.com/graphql/graphiql) has `fetcher` prop which is a function that can return either a promise or observable. If latter is returned then query result can change in time thus it's possible to implement "live queries" like Meteor does with it's pub-sub system.

I t

[2017-01-29 22:13] HriBB commented on #1237
I'm using `webpack` with `babel`. I fixed it by including `apollo-client` in babel loader following [this](https://github.com/babel/babel-loader/issues/171) issue

[code]

I'm not really sure how to handle this in [apollo-upload-network-interface](https://github.com/HriBB/apollo-upload-network-interface), which only uses `babel`. Should I add `module` and `jsnext:main`?

As for the reproduction, j

[2017-01-30 10:09] semanser commented on #1233
@helfer  Ok, so I have created simple repo to reproduce this error. https://github.com/semanser/graphql-test
Please follow steps in the readme file to run the server.

[2017-01-30 13:18] kamilkisiela commented on #1237
@HriBB Which version of webpack?

[2017-01-30 13:22] HriBB commented on #1237
Webpack v1. Need to try out v2 soon. Or maybe rollup.

[2017-01-30 13:23] kamilkisiela commented on #1237
@HriBB v2 and rollup works okay, I'm testing all the versions right now. With webpack@2.2 you get es6 support by default :)

[2017-01-30 13:32] kamilkisiela commented on #1237
@HriBB Webpack@1 works for me:
https://github.com/kamilkisiela/apollo-client-webpack-test

[2017-01-30 15:41] calebmer commented on #1241
This is a good idea that the core team has talked about before. We would happily merge a PR implementing this feature 😊

[2017-01-30 15:45] Poincare commented on #1240
This should not be the case. The benchmarks show that the read time for a single item out of the cache is constant with respect to the number of items in the cache so the number of items in the cache is unlikely to be the culprit.

The issue is likely the number of items being read from the cache. Some other users have run into this issue and it seems that its impact can be lessened by turning off

[2017-01-30 15:51] Poincare opened #1242 "Expose a way to turn off referential equality checking"
I've been benchmarking how long it takes Apollo Client to read n items out of the cache with and without referential equality checking (added in #1136). Here are some of the results:

![plot](http://i.imgur.com/YcbuLVv.png)

I'm sorry for the lack of a legend and error bars! There are two important lines here. The blue one is Apollo Client cache read times with referential equality checking (REC)

[2017-01-30 16:21] calebmer commented on #1233
Sorry to keep bouncing you back and forth @semanser, but I took a look at your test case and I think this *is* a `graphql-server` issue after all 😊

As you can see in your “request details and response” image, the `Content-Type` header is `text/plain`. This will lead to an error on the server as it expects `application/json`. However, if we look at the code, Apollo Client explicitly sets the `Cont

[2017-01-30 16:31] calebmer commented on #1242
REC should add no cost if a `previousData` object was not provided, effectively turning it off.

Can I see the exact tests you used? My first reaction is that this is an implementation bug because REC (even when enabled) should only add significant cost in specific situations, and we may be able to optimize those specific situations (I’m mainly thinking of out-of-order arrays).

[2017-01-30 16:35] Poincare commented on #1242
It is definitely possible that REC isn't zero cost even if the previousResult object is empty because it calls functions that return immediately but are still called on every iteration of the loop. It could be an implementation bug within the benchmark, however; here's the benchmark: https://github.com/apollostack/apollo-client/pull/1159/files#diff-3bc6ae5cd90dcd8b2db974e94c8b8ca6R250

(Note: the

[2017-01-30 17:30] drejohnson opened #1243 "Cannot find name 'IResponse'."
When using `"@types/isomorphic-fetch": "^0.0.32",` I get error. Version `^0.0.31` works fine.
[code]

[2017-01-30 17:32] Draccoz commented on #593
Guys, now any update? Any estimates or at least when will it be started? We are picking a new stack for rewriting of our product and this would be handy. If nobody considers that a priority, we will have to pick something else...

[2017-01-30 17:48] wmertens commented on #1242
How about treating the 90% case by keeping a reference to the whole store on each active query, so that if the store hasn't changed, none of the query logic needs to run?

[2017-01-30 18:01] calebmer commented on #1243
Thanks for the report. It looks like we are currently pinned to version `0.0.30`. So if anyone wants to upgrade our types to support the latest version that would be appreciated 👍

[2017-01-30 18:13] semanser commented on #1233
@calebmer Thanks a lot for explanation. I have tried both variants but it's still doesn't work and it's absolutely strange... I will continue to work to find solution for this problem.

[2017-01-30 20:02] mzygmunt opened #1244 "Is there a way to remove middleware from networkInterface?"
Hello,
Is there a way to remove middleware from networkInterface, which I added by using networkInterface.use([])? I use this middleware to modifying http header, but I want to disable it on specified routes. Thanks for reply!

[2017-01-30 21:03] sondremare commented on #595
@helfer Can you link to the commit(s) that should resolve this?

[2017-01-30 21:53] helfer commented on #1242
@wmertens we already do that.

[2017-01-30 21:57] helfer commented on #1239
@ckimes89 We used to have that, and it's in fact how `addTypename` is implemented. However, it turned out that `addTypename` was the only use-case anyone came up with, so we removed the feature and now recommend that people transform queries before passing them to Apollo Client.

To have a more useful discussion, what is the specific use-case you have in mind?

[2017-01-30 21:57] wmertens commented on #1242
OK that's really odd - in my app, the components that use @graphql are part
of a bigger component that rerenders based on some props, but the props for
the @graphql components do not change. The refs for the gql query stay the
same, the string variable stays the same and the apollo part of the store
does not change; the elements are simply created again with the same props.

So if all the inputs t

[2017-01-30 21:58] helfer commented on #1244
@mzygmunt no, you cannot remove middleware once it's been set. However, you can definitely write your middleware in such a way that it has no effect on certain routes.

[2017-01-30 21:58] #1244 closed

[2017-01-30 21:59] helfer commented on #1243
@drejohnson would be great if you could try making a PR 🙂

[2017-01-30 23:00] Urigo commented on #593
@Draccoz we do have a plan to encapsulate the store so anyone could use their own store, can't give you exact date but I believe we want to do that before 1.0.

My main question is, while planning your new stack, why is that a blocking issue?
Especially because of the fact you can still use ng-rx store for the rest of your app and integrate it through the API and also you can use ng-redux and ther

[2017-01-30 23:13] ckimes89 commented on #1239
I would like to remove fields at runtime based on user permissions. I had planned to use a fake directive that only the client-side knew about. For example, you could write a query like this:

[code]

The query transformer would then check each field for the directive. If the directive exists and the user does not have the specified permission, then the field is removed from the query. If the dire

[2017-01-30 23:26] nakedcity commented on #593
I think the double store is not advised a good practice

[2017-01-31 01:28] SachaG commented on #1147
OK, it took me a while but I figured it out. The most important point (and something that's not really spelled out) is that when using a union, you have to change your query to use fragments.

So instead of:

[code]

I had to write:

[code]

Apart from that, just declare a new type:

[code]

And write its resolver:

[code]

Here's the [relevant Telescope commit if you're curious](https://github.co

[2017-01-31 01:28] calebmer commented on #1242
@wmertens currently Apollo re-reads your query from the store whenever a write happens anywhere in the system. So an optimistic mutation, mutation result, or subscription result to name a few. This is so that we can make sure that if any data in your system has been updated then your component knows about the new data.

In the future, we may implement dependency tracking so that we don’t have to r

[2017-01-31 01:54] calebmer commented on #1239
I think there are a couple of better options here for you @ckimes89 then implementing a `queryTransformers`.

Firstly, we are hesitant to add a `queryTransformers` feature because we want to move Apollo Client to a static query world. A static query world has a number of important benefits when it comes to predictability for the server team. This is why Apollo Client does not do query diffing.

Yo

[2017-01-31 05:17] stubailo commented on #1242
It could be that the components that use GraphQL inside your bigger component are actually being torn down and re-rendered, so they act as if they are appearing for the first time?

[2017-01-31 05:50] stubailo commented on #1147
Alright! Sounds like it was something with GraphQL itself, and not Apollo. Thanks for posting the resolution.

[2017-01-31 05:50] #1147 closed

[2017-01-31 05:51] stubailo commented on #1147
It's documented here, by the way: http://graphql.org/learn/schema/#interfaces

I'd suggest reading all of the GraphQL documentation there before using GraphQL for something complex.

[2017-01-31 06:07] wmertens commented on #1242
For sure there are no writes happening to the Apollo part of the store. I'm
sharing my own Redux store to have greater visibility in events.

The components are also not torn down.

On Tue, Jan 31, 2017, 6:17 AM Sashko Stubailo <notifications@github.com>
wrote:

[2017-01-31 06:30] SachaG commented on #1147
I did read the documentation, but I didn't realized the interfaces section also applied to unions, so for some reason it didn't really click until I found an issue thread somewhere explaining the problem.

[2017-01-31 08:51] Draccoz commented on #593
Ok, that is always some detail ^^.
I'm not saying that is a blocking issue, I was just hoping to get things done before we start rewriting core, otherwise we will think about other ways. We did want to use apollo, now did some research and found ngrx. Was just hoping to get both things connected, if not we will use just apollo probably.
If the question was about combining apollo and ngrx now, we m

[2017-01-31 09:06] alexthewilde commented on #593
@Draccoz give ng2-redux a try. It's giving you the same APIs as ngrx/store but can be integrated with Apollo, see this [example app](https://github.com/alexthewilde/angular-redux-apollo-example).

[2017-01-31 09:46] Draccoz commented on #593
Might do so, I am currently investigating all the options :). We stayed away from facebook official components, because of the patent clause, but just discovered Redux has no patent on it ^^.

[2017-01-31 10:16] HriBB commented on #1237
OK, I guess I'm doing something wrong. Will try to fix this later this week.

[2017-01-31 11:10] swernerx commented on #621
We also need this. Our current approach is:

- Separate view specific query files which cherry pick data from a large object `mySalesConsultation` to just return the areas of data which is required for rendering.
- A mutation which starts quite a complex run of our backend infrastructure which tweaks the affected sales consultation (computes schedules etc. in conjunction with other objects).
- As

[2017-01-31 11:17] swernerx commented on #621
@helfer as #41 was closed now... is this issue still on the radar?

[2017-01-31 11:27] rovansteen opened #1246 "Tactic for filtering '__typename' when sending back data"
Hey all, do you have any ideas or tactics about how to filter `__typename` from the results when using in your application and sending the data back to the user? I used to recursive iterate through the result & remove them but after upgrading this no longer works, I'm guessing you started using some kind of immutability. It didn't felt like a good way to handle this so I've no problem implementing

[2017-01-31 13:31] JesperWe commented on #1214
I am having the same issue in a similar situation using v0.8.1

[2017-01-31 14:31] calebmer commented on #1242
@wmertens are arbitrary Redux actions being dispatched in your shared store?

[2017-01-31 14:43] calebmer commented on #1246
The best case here is probably to clone the object you want to send to your server but omit `__typename`. A helper like [Lodash’s `omit`](https://lodash.com/docs#omit) could help with this.

I’m going to close. If this doesn’t help let me know and we can try to find a better solution 👍

[2017-01-31 14:43] #1246 closed

[2017-01-31 14:49] calebmer commented on #1214
Interesting, so [`refetch` seems to try reading](https://github.com/apollographql/apollo-client/blob/9b78e7a81d0477e8fc4f7fffe515bef3678859cf/src/core/QueryManager.ts#L504-L517) from the store before sending a query if `forceFetch` is not true. The fix would be to change the condition `!forceFetch` to `fetchType !== FetchType.refetch || !forceFetch`. However, seeing this makes me feel like this is

[2017-01-31 16:04] wmertens commented on #1242
@calebmer yes, but not always. If I just change some internal state of the parent component, causing it to rerender without changing query parameters or touching the store, I still get a bunch of apollo actions:

![image](https://cloud.githubusercontent.com/assets/54934/22472666/9c7ab80c-e7d6-11e6-8b48-0a0f99b26285.png)

In this case, I have only one `@graphql` child component for details and then

[2017-01-31 19:21] stubailo commented on #1214
That's odd - `refetch` is definitely intended to always fetch from the server regardless of other options.

[2017-01-31 20:51] dstik opened #1247 "Conflict when Node Typings are not installed"
Hi Team,

Thank you again for the quick response time moving @types/node to devDependencies (per https://github.com/apollographql/apollo-client/issues/1078).

I am working on a react-native project and have run into another issue where node typings are required.  When trying to call a GraphQL mutation, I get the following error from tsc.

[code]

Is there a workaround to use this with node typings

[2017-02-01 00:27] calebmer commented on #1214
@stubailo good to know 😊

I marked this as a bug, it should be an easy fix (see my [comment](https://github.com/apollographql/apollo-client/issues/1214#issuecomment-276383038) above) if anyone wants to submit a PR 👍

[2017-02-01 00:33] calebmer commented on #1247
The best thing to do here is to remove Node.js typings entirely. Which should just entail removing `NodeJS.Timer` in that one location as it has a union with `any` anyway. `T | any` will always just be `any` in TypeScript.

If you want to submit a PR it should be a simple change 👍

We’d keep `@types/node` as a dev dependency because it looks like we need them in tests, but otherwise, this referenc

[2017-02-01 00:38] dstik commented on #1247
Sounds good @calebmer - I will submit a PR. Thank you for the guidance and quick response!

[2017-02-01 00:55] GregYeo commented on #1193
thanks @calebmer

I recently did version up.

"apollo-client": "^0.5.25" to  "apollo-client": "^0.8.1",
 "react-apollo": "^0.7.1" to "react-apollo": "^0.9.0"

 Then, createFragment occurs problem because it is missing from apollo-client.

The document is making me confused. because API not exists and typings and source file doesn't have the API but still document is saying.

If somebody is having

[2017-02-01 00:56] abhiaiyer91 commented on #1193
@GregYeo `createFragment` was deprecated from Apollo Client in favor of handling this interface in `graphql-tag`

The documentation needs to be updated.

[2017-02-01 01:16] choonkending commented on #657
Documented what we used for logging, hopefully it helps!

We considered afterware, but it seemed weird that we would have to catch server returned errors (status codes 500, 404) and network errors (e.g. can't connect to server) in different places.

Recently, there were changes made to throw an error if you have a `!response.ok`. Read more [here](https://github.com/apollographql/apollo-client/blob

[2017-02-01 01:56] Urigo commented on #593
yep, hope we'll get to it soon.
Contributor week is coming soon so if someone wants to try abstracting the store of Apollo that would be great!

[2017-02-01 02:38] helfer commented on #1214
I also believe it's not intentional. As I mentioned for other things before, I think it's a side-effect of having lots of arguments/options which means there are a myriad of possible combinations, some of which weren't considered.

[2017-02-01 16:03] TSMMark commented on #850
Would very much like this feature.

[2017-02-01 16:20] mlukaszczyk commented on #1129
Hey all,

I know that the issue is being discussed in #1224, but does a workaround exist for this? The application that my team and I are developing, heavily relies on this feature.

Best regards,

Michael

[2017-02-01 16:22] marktani commented on #1129
The current workaround seems to be to downgrade to `0.5.21` :)

[2017-02-01 16:35] mlukaszczyk commented on #1129
@marktani yes, unfortunately we then run into this issue again https://github.com/apollographql/apollo-client/issues/993

[2017-02-01 16:46] Bobryk commented on #850
@helfer @TSMMark @seeden  Currently, I am doing `apolloclient.queryManager.refetchQueryByName('queryName')`

[2017-02-01 18:53] yurigenin opened #1249 "Bug in QueryManager.mutate where both Promise.reject and Promise.resolve are called"
In the QueryManager.mutate method there is this code:

[code]

If GraphQL server returns the **errors** property in its payload a **reject** is called but there is no **return** statement after that so the code proceeds further down and calls **resolve** method.

[2017-02-01 20:06] helfer commented on #850
Why not just call `refetch` on that query? Or run the same query again with `forceFetch` set to `true`?

I've slowly changed my opinion over time and now think it's not a good pattern to have to refer to queries by name. I think it would be better to pass around query documents and refer to them as variables.

[2017-02-01 20:42] TSMMark commented on #850
@helfer if we're using react-apollo, how would we access, from outside of its component, a query by reference rather than by name?

[2017-02-01 23:32] calebmer commented on #850
@TSMMark by moving the query to a variable:

[code]

We could also add a static method to the container component. Something like `getGraphQLDocument`.

[2017-02-01 23:37] calebmer commented on #593
I also want to note that we have been discussing making the internal store implementation interchangeable. Mainly our discussions revolve around interchanging a Redux store and a Vanilla-js store, but a ngrx store could be implemented by the community when we settle on an interface we like.

Stay tuned, this may not come out for a bit. In the meantime a contributor week contribution could get us w

[2017-02-01 23:39] calebmer commented on #1129
@mlukaszczyk you could not unsubscribe from queries you still may want to update. For React this means not unmounting components with queries you want to update.

[2017-02-02 04:59] helfer commented on #1084
I'm going to close this here so we can track it in #1129, which was filed first. We're discussing the best design to solve this in #1224.

[2017-02-02 04:59] #1084 closed

[2017-02-02 05:37] DimitryDushkin commented on #1129
@mlukaszczyk @marktani I've set `forceFetch` in query options and it works fine.)

[2017-02-02 16:07] yash0087 commented on #258
I am very much interested to know when this will be available. I have couple of scenarios where I would like to use setting/getting data directly from "apollo" part of redux store.
1. I have multiple container level components which connects to redux store. Since I cant access the "apollo" specific data directly, i have to use "qraphql(query)" to get the data from the store and pass it as props in

[2017-02-02 19:23] brunoreis opened #1251 "Add user comments to docs"
I've being following some open source projects for some years and I have noticed how useful are user comments on the documentation projects. They give a broader understanding of the documented topic and also give very good real world and usage examples.

I would guess they are the real strength behind some fast growing and large adoption technologies.

So, I have this suggestion to this excellent

[2017-02-02 19:36] calebmer commented on #1251
Thanks for the suggestion! Could you give an example of a project that you admire which has user comments in the docs 😊

[2017-02-02 20:36] benbeadle opened #1252 "Tests in test/client.ts are silently failing"
**Intended Outcome**

Tests that call a promise should return the promise so Mocha knows to fail the test if the Promise is rejected.

**Actual Outcome**

Tests are failing silently.

**How to Reproduce the Issue**

Run `npm test`

[2017-02-02 20:56] benbeadle commented on #534
I'd like to re-open this issue (as opposed to creating a new one).

We're running `apollo-client` 0.8.1 and still seeing this issue.

It looks like PR #629 (which is really PR #669) may have gotten regressed.

Here's a similar query to the one that's causing the issue:

[code]

Only the `updatedAt` and `createdAt` fields are being sent to props - not the fields in the fragment.

[2017-02-02 21:08] brunoreis commented on #1251
PHP is good one. Take a look at this (randomly chosen) page:
http://php.net/manual/pt_BR/function.strval.php

and this one:
http://php.net/manual/pt_BR/function.file-get-contents.php

How much do you get from the oficial docs? And how much from users?

* If I was an academic, I would make a thesis stating that one of the big reasons php grew so much is because of user comments. Since I'm not. I'm

[2017-02-02 21:12] brunoreis commented on #1251
Another one grabbed my attention years ago. I thought it was rails, but is not. If I remember, I'll put it here.

[2017-02-02 21:46] helfer commented on #1252
@benbeadle Thanks for filing the issue! Can you refer to the specific tests where you found this to be the case?

[2017-02-02 21:48] stubailo commented on #1251
The only issue with comments is the need for moderation etc. maybe we can use some off the shelf platform like disqus?

[2017-02-02 21:49] helfer commented on #1251
@brunoreis that's an interesting suggestion, thanks! Since anyone can make a PR to our docs I feel the need is less strong than it was for PHP, but I can definitely see the usefulness. The main problem as @stubailo pointed out is moderation, so we would have to figure out what to do about that before we try it out.

[2017-02-02 21:54] helfer commented on #1193
@greduan thanks for pointing it out, I've removed it from the docs!

[2017-02-02 22:13] jameswyse opened #1253 "Mutation Batching"
I noticed the following note on [GraphQL.org](http://graphql.org/learn/queries/#multiple-fields-in-mutations) which seems to suggest that multiple mutations can be sent in a single request:

It doesn't look like this is currently supported by Apollo.. (unless it uses the non-standard query batching feature?) Are there any plans to introduce this?

[2017-02-02 22:22] yash0087 opened #1254 "Accessing apollo store and passing initialState on client side"
I am very much interested to know when this will be available. I have couple of scenarios where I would like to use setting/getting data directly from "apollo" part of redux store.

1. I have multiple container level components which connects to redux store. Since I cant access the "apollo" specific data directly, i have to use "qraphql(query)" to get the data from the store and pass it as props i

[2017-02-02 22:30] benbeadle commented on #1252
@helfer The specific tests I'm talking about are the ones that call `clientRoundrip`. The tests should be returning the promise returned from that function call.

These call a Promise without wrapping it:
[L201](https://github.com/apollographql/apollo-client/blob/63ede5a377350460691e4ebb7ff377ae242da8e8/test/client.ts#L201)
[L281](https://github.com/apollographql/apollo-client/blob/63ede5a37735046

[2017-02-02 22:55] brunoreis commented on #1251
@helfer, I feel that user comments are not the same thing as the "official documentation". I would gladly use a user comment to paste a way I was able to accomplish a task related to that topic, or even to paste a doubt I have. But, I would probably fear adding the same thing to docs, since I'm still learning and could say something wrong.

Besides, usability adds a lot to conversion. Editing a pa

[2017-02-03 00:33] calebmer commented on #534
I’ve been working on refactoring the store and I noticed our implementation of field merging was incorrect (forgot to mention that to @helfer 😊). We only seem to merge for fragments even though technically any field can be merged in GraphQL (take for instance `{ foo { a bar { x y } } foo { b c bar { z } } }`). I noticed that our array field merging may also be broken in a similar way.

This issue

[2017-02-03 00:36] calebmer commented on #1253
You should be able to send multiple mutations like so:

[code]

Let me know if that does not work for you because if it does not work then that is definitely a bug 👍

[2017-02-03 00:36] #1253 closed

[2017-02-03 00:40] helfer commented on #1251
@brunoreis I agree, so I think we should definitely try it.

[2017-02-03 00:56] jameswyse commented on #1253
Ah thanks, that does work but is only really useful when you know ahead of time which mutations to bundle.

FWIW my use case is: I have an app with a datagrid and when a user edits a cell it calls the following mutation:

[code]
That works great for a single cell edit but not so great of bulk edits, which currently call `client.mutate` for each change; making hundreds of requests. I was hoping I c

[2017-02-03 01:30] iki opened #1255 "Mutation query succeeds, but logs bluebird warning: a promise was created in a handler, but was not returned from it"
With apollo-client@0.8.0 and react@15.4.2, a successful mutation query always logs the following. warning. On contrary, a failed mutation query doesn't log this warning, it just throws error, resulting e.g. in ` Unhandled rejection Error: Network error: Failed to fetch`.

[code]

[2017-02-03 01:46] helfer commented on #1254
@yash0087 we're doing some refactoring on the store logic which this is currently blocked on. I expect that we'll have a basic version running next week, and maybe a full example in two weeks or so. Does that answer your question? 🙂

[2017-02-03 02:28] helfer commented on #1242
@wmertens do you think you could distill that down to a minimal reproduction? That would make it much easier to find out what the underlying problem is.

[2017-02-03 02:29] helfer commented on #621
@swernerx yes, it's still on the radar! We trying to simplify the core and API before we add more features though, so this won't be in 1.0, but it could very well be in 1.1!

[2017-02-03 02:32] helfer commented on #595
@sondremare I think we fixed this a while ago, most likely with this commit: https://github.com/apollographql/apollo-client/commit/6402b2fb3e81866687e3ffe1f7a8b234d3126614

Let me know if it's not fixed for you.

[2017-02-03 02:34] helfer commented on #1241
cc @DxCx who might also be interested in this.

[2017-02-03 02:35] helfer commented on #1238
Yeah, this is definitely a regression that we should fix!

[2017-02-03 02:37] helfer commented on #1146
@nupurgrover the problem with accessing the original query variables is that you would have to keep track of every set of variables the query was ever called with, and then associate those with each invocation of updateQueries. That seems like a lot harder to do than knowing the set of variables that fetchMore was called with. However, if this is a use-case that many people find useful, we could d

[2017-02-03 02:43] helfer commented on #585
@Akryum I'll ask @daniman from the service team what they did and report back to you.

[2017-02-03 02:45] helfer commented on #1231
@jesenko Thanks, I've commented on the PR 🙂

[2017-02-03 09:34] yash0087 commented on #1254
Would be great to see it soon as I would be using it straight away!

[2017-02-03 09:43] doomsower commented on #1246
I faced similar issue as @rovansteen yesterday - forms with some deep non-scalar fields.
At first, a was looking for recursive omit solution, but all npm solutions I found had some drawbacks.
So now I'm using `filter` from `graphql-anywhere` - it takes care of __typename deeply. Here is how I pass props to my react view:

[code]
As you can see from the output, all `__typename`s are gone:

[code]

[2017-02-03 10:56] wmertens commented on #1242
@helfer @Poincare Argh, a thousand apologies, this was a case of PEBCAK. I was creating an intermediate component on almost every render, causing the components to unmount and remount.

So now it is much faster and only re-requests when it has to, when existing data is needed again and the component is mounted with the relevant prop. Not sure if referential equality checks help in that case?

Agai

[2017-02-03 11:22] mcrawshaw commented on #1253
It is possible with GraphQL, you just need to allow an array arguments for your mutations.

At a conceptual level, you need to separate the user actions from server mutation request.  A possible solution would be to store updates in a local store that you can diff for later updates to the server.  The updates would seem real-time to the user and you would be able to adjust polling frequency to sui

[2017-02-03 16:24] ne8il commented on #1237
I'm getting this error (`SyntaxError: Unexpected token import`) in Meteor (1.4.2.3) just by having `apollo-client@0.8.1` installed, without requiring it anywhere. This gets output into the `modules.js` file:
[code]

It was working fine previously with `apollo-client@0.5.12`. Not sure if there's something I need to configure about how it gets loaded or if anyone else on Meteor has fixed this.

[2017-02-03 17:14] calebmer commented on #1255
Interesting. This should fix it: https://github.com/apollographql/apollo-client/pull/1256

[2017-02-03 17:17] calebmer commented on #1238
Related: https://github.com/apollographql/react-apollo/issues/433#issuecomment-277176460
Explanation: https://github.com/apollographql/react-apollo/issues/433#issuecomment-277302892

[2017-02-03 17:22] benbeadle commented on #534
@calebmer Thanks for the response. I tried your temporary hack, but was getting an `undefined` error. I just created a temporary fragment and that worked perfectly:

[code]

[2017-02-03 20:05] rafrex opened #1257 "refetchQueries doesn't indicate that query is loading"
**Intended outcome:**
A `mutation` has `refetchQueries` option that refetches `someQuery`. `someQuery` should now have loading `true` so that the app can indicate to the user that the data is loading.

**Actual outcome:**
`someQuery` has loading as `false` with the stale data. It then updates with loading `false` with the new data, never indicating that data is loading.

[2017-02-03 20:37] PizzaBrandon commented on #1195
I'm with @booboothefool in that I would like an option to force it to not refetch (but I don't have the issue where cached data is returned_. In my case, I want to reset the store when a user logs out and go back to the login screen with a completely empty redux store and no memory of previously-run queries (including from the screen where they clicked "logout").

My server enforces authentication

[2017-02-03 20:58] rafrex commented on #1257
Note that the same issue occurs when using `withApollo` and calling `client.query(...)` directly. There is no indication that the query is loading.

[2017-02-03 22:02] helfer commented on #585
@Akryum so according to Danielle we don't currently do anything special, we just turn ISO date strings into dates inside the component.

I think that's a fine approach, but if you want something fancier you could probably also do it in `props` of the graphql HOC.

[2017-02-03 23:32] Akryum commented on #585
What do you mean by 'HOC'?

[2017-02-03 23:51] helfer commented on #1257
Hi @rafrex. `loading` is only true when the component first loads, but you should be able to use `networkStatus` for what you want to do. In order to make the observable emit results when it changes, use `notifyOnNetworkStatusChange`.

[2017-02-03 23:51] #1257 closed

[2017-02-03 23:57] helfer commented on #585
Higher Order Component (i.e. `graphql` from react-apollo)

[2017-02-03 23:59] helfer commented on #1239
I think @calebmer put it pretty well. For the use-case you mentioned, a queryTransform would not be the right approach.

[2017-02-03 23:59] #1239 closed

[2017-02-04 00:06] helfer commented on #1252
@benbeadle I think you're right about the first two, but that last one uses `done()`, so it should time out rather than fail silently.

Who wants to make a PR to fix the tests? For the first two, just return the promise, for the last one actually call done with a failure, or remove `done` and return the promise.

[2017-02-04 00:13] helfer commented on #1200
Let's continue this discussion in #1224

[2017-02-04 00:13] #1200 closed

[2017-02-04 00:16] helfer commented on #1087
I think the answer here is that it doesn't make sense to use fetchMore and polling together at the same component. Apart from warning people when they do that, but not do anything else. In the future, we may implement a separate structure for connections, which could make polling work on paginated lists.

[2017-02-04 00:18] helfer commented on #1025
I'm going to close this issue here because it concerns subscriptions-transport-ws and not so much apollo client (other than maybe exposing a "disconnected" status)

[2017-02-04 00:19] helfer commented on #1025
Actually, I'm going to reopen it because it would be cool if someone did the work to implement this in the client and the websocket package 🙂

[2017-02-04 00:24] helfer commented on #1080
I agree with @Poincare so I'll close the issue. The docs could use some love though...

[2017-02-04 00:24] #1080 closed

[2017-02-04 00:39] ckimes89 commented on #1239
@calebmer I understand the back-end benefits of static queries, but I don't see why that should impact the design choices a front-end library. It seems that Apollo Client could benefit from supporting a wider variety of querying patterns rather than just trying to enforce that everyone use static queries.

That was one of the first things I considered, however it doesn't quite work out with the wa

[2017-02-04 00:53] rafrex commented on #1257
Thanks @helfer, but I'm not having much luck with it. The `networkStatus` is always `7` for that query (with the stale data and with new data), so it doesn't seem to change. I didn't go into the details above, but the component with the query that's being refetched isn't mounted when the mutation takes place. It's only mounted on success of the mutation (with stale data from when it was previously

[2017-02-04 00:57] helfer commented on #1257
@rafrex it should definitely change with a refetch, so that may be a bug worth filing an issue for if you have a minimal reproduction!

[2017-02-04 01:06] #1249 closed

[2017-02-04 07:51] HMAN1911 commented on #1252
@helfer working on a PR now.

[2017-02-04 09:15] SachaG commented on #1210
It might be an issue with my app then… I'll close this until I can confirm this or give you more information.

[2017-02-04 10:27] kurmeroli commented on #1233
Hey there,
Are there any solutions yet?
I've got the same problem. :-(

[2017-02-04 15:18] kamilkisiela commented on #1237
@ne8il works fine
Take a look at [this](https://github.com/kamilkisiela/meteor-umd-bundle)

[2017-02-04 15:35] stevewillard commented on #1214
Just ran into this issue too.

[2017-02-04 15:47] calebmer commented on #1239
Yes it would cause in error in this case, but it’s your GraphQL server, so do whatever you want with validation rules! 😊

You could also add a `@has` directive on the backend and do query transforms there. This might be the best option for your use case.

[2017-02-04 15:48] Poincare commented on #1242
I think @wmertens 's issue that the problem that this Github issue describes are totally distinct at this point so we should probably continue that discussion in another issue?

[2017-02-04 15:48] calebmer commented on #1249
Thanks for the report @yurigenin!

[2017-02-04 15:49] calebmer commented on #1233
@kurmeroli see: https://github.com/apollographql/apollo-client/issues/1233#issuecomment-276108337

[2017-02-04 19:03] rafrex opened #1263 "networkStatus doesn't change for refetchQueries"
**Intended outcome:**
`networkStatus` should change to `4` when a query is refetched after a mutation.

**Actual outcome:**
`networkStatus` remains at `7` and the query returns cached data (the query then returns the updated data from the refetch also with a `networkStatus` of `7`),

**How to reproduce the issue:**
Mount `CompAWithData` which causes `queryA` to load and prime the cache. Unmount `C

[2017-02-04 19:21] rafrex commented on #1257
@helfer just opened #1263 with the `networkStatus` issue.

Also, the [docs say](https://github.com/apollographql/react-docs/blob/3133d589877f51f8c7a15338fa7cdd273c8dd211/source/queries.md#the-structure-of-the-data-prop) that:

So maybe the issue is with docs then? FWIW I think it makes sense to have loading `true` anytime a query is in flight except for polling. To me, if I'm calling `refetchQueri

[2017-02-04 21:54] helfer commented on #1195
@PizzaBrandon the way to do that is to unmount all components that are currently holding on to queries, and then call `resetStore()`. In that case, no query will be refetched. It sounds like your login screen doesn't need any query, so this shouldn't be an issue with the current implementation.

[2017-02-04 22:07] helfer commented on #1242
@wmertens no worries, it happens to all of us. I'm glad it's faster now!

@Poincare yes, let's close this issue until we know for sure what the lowest hanging fruit is. I suspect it's not referential equality checking.

[2017-02-04 22:07] #1242 closed

[2017-02-04 22:42] Poincare commented on #1242
Hmm... I'm not sure if we should close the issue. Although REC isn't what @wmertens' issue ended up being, it's pretty clear from the benchmarks that REC does impose a reasonably significant cost (@calebmer mentioned it may be an implementation issue?) and I think it makes sense to keep the issue open until we either fix the REC implementation issue if it exists or determine that it is too small o

[2017-02-04 23:58] willdeuschle commented on #1068
#903 led me here. Any update on this or what that rough design might be @helfer? I would be interesting in helping solve this problem as it is a pain point for me as well, but don't want to dive in cold if there is already something in the works.

[2017-02-05 00:16] helfer commented on #1242
@Poincare I agree that we shouldn't stop the conversation about REQ, but I would prefer to have an umbrella issue for benchmarks and performance improvements so we can weigh the different options there.

[2017-02-05 00:23] helfer commented on #1068
@willdeuschle We're going in the direction of #1224, but first we'll implement an imperative way to update the cache, that is a `read` and a `write` function for the store, which lets you update it in whichever way you want in response to a query. That should enable all use-cases for a start, and will let us (and anyone else who wants!) implement some nice declarative APIs on top of it (like updat

[2017-02-05 01:47] Poincare commented on #1242
Sounds good to me!

[2017-02-05 10:25] mlukaszczyk commented on #1068
@helfer this sounds great! Any hints on when we can expect this new feature (:?

[2017-02-05 11:40] Urigo commented on #1025
@helfer do you mean implementing a strategy?
because about the connection status, that exists in the new version of `graphql-subscriptions` and `subscriptions-transport-ws`

[2017-02-05 20:39] CodogoFreddie commented on #1123
I believe this is the right issue:
I'm also  unable to add an item to a collection using `updateQueries`, if that collection is empty to begin with.

[2017-02-06 14:33] HriBB commented on #1237
Hmm ... this is really weird, but for some reason `apollo-client` works on one project, but does not work on another. Anyway, I'm still having issues with running mocha tests.

[code]

Any ideas on how to convince babel to transpile `node_modules/apollo-client` when running mocha?

[2017-02-06 14:43] kamilkisiela commented on #1237
If you import something from a nested module of 'apollo-client' it uses a
file that contains es6 modules (import, export).

An example:

[code]

It will take `/node_modules/apollo-client/nested/module.js`, which has
`import` and `export`.

pon., 6 lut 2017, 15:33 użytkownik Bojan Hribernik <notifications@github.com>
napisał:

[2017-02-06 14:48] Siyfion commented on #1224
Certainly this does need to be solved sooner rather than later, but I'm also very much in favour of a well-thought out, robust implementation. As @helfer has already stated the previous two issues (reducers re-running & then reducers never running) simply highlighted a fundamental issue with the way in which the store updates were being triggered.

I don't mind the idea of a "global reducer" that

[2017-02-06 14:59] HriBB commented on #1237
Yeah I fixed it by adding a [setup.js](https://github.com/HriBB/apollo-upload-network-interface/blob/master/test/setup.js) that overrides `babel-register` `ignore` option.

[code]

I'm closing this issue, because it's not a bug in `apollo-client`. Feel free to reopen or comment ...

[2017-02-06 14:59] #1237 closed

[2017-02-06 16:53] majodev commented on #889
Any update on this? It would be pretty cool to get access to the raw response in afterwares of batched queries, especially for cases where the whole GraphQL endpoint is only allowed to be accessed by authorized users (thus handling logout on 401/403 responses).

[2017-02-06 17:45] HriBB opened #1265 "How to updateQueries when a subscription result arrives?"
I have been trying to wrap my head around graphql subscriptions and how to implement them in my app. I want to do a simple messaging system, where a `Salon` and a `Customer` can communicate via WebSocket. I have a working `subscribeToMore` implementation, and using `updateQuery`, I can inject new data into a single query. But how can update other queries? Basically I want to do `updateQueries` for

[2017-02-06 23:35] iki commented on #1255
@calebmer thanks for a fast fix!

I just retested with the current apollo-client master and get the same warning, but from a different ObservableQuery method.

[code]

[2017-02-06 23:36] iki commented on #1255
@helfer can you please reopen the issue, or should I open a new one?

[2017-02-07 01:18] Urigo commented on #379
@linonetwo I would love to see an English version of that post!
If you need help with that I would love too

[2017-02-07 13:38] armstrjare opened #1266 "Variables in reducer for query always use the original variables"
**Intended outcome:**
After setVariables, the reducers should re-run with the new variables for the query.

**Actual outcome:**
reducers always run with original variables.

**How to reproduce the issue:**
[code]

[2017-02-07 13:53] gex opened #1267 "how to override the uri of the apollo client's network interface?"
long story short: i'd like to override the uri of the apollo client's network interface without creating a new one.
i share the initial client with the combined redux reducer so it's mandatory to use the same instance. i tried to override the networkInterface property of the client but it doesn't work and maybe it should not and i tried to override the uri with a middleware but it's not clear what

[2017-02-07 14:45] mistic opened #1268 "Network interface for websockets"
Hi guys,

Do you have any already implemented network interface to use with web sockets?

Regards

[2017-02-07 15:31] stevewillard commented on #1267
I'm also interested in this. I tried a few methods of trying to set the client's uri in context for the rest of the tree, but ultimately I had to create new clients.

[2017-02-07 15:38] smolinari commented on #128
This would be a cool thing to take on for the contributer week this week. I am too inexperienced, otherwise I'd jump on it. I know the topic performant architecture is going to be a major USP for Apollo at some point, if it isn't already.

Scott

[2017-02-07 15:49] marktani commented on #1265
Might be related to #1224.

[2017-02-07 16:08] marktani commented on #1265
Ah, I see this is more about subscriptions. Here is an example: https://github.com/graphcool-examples/react-apollo-instagram-subscriptions-example

Of particular interest: https://github.com/graphcool-examples/react-apollo-instagram-subscriptions-example/blob/master/src/components/ListPage.js#L24

[2017-02-07 19:16] calebmer commented on #1268
Do you mean for subscriptions or queries/mutations? For subscriptions yes, for queries/mutations you will need to write your own 😣

[2017-02-07 19:18] calebmer commented on #1267
If you want to do this, you should write your own network interface! 😊

It’s not that bad, you can even extend `HTTPFetchNetworkInterface` if you would like: https://github.com/apollographql/apollo-client/blob/master/src/transport/networkInterface.ts

[2017-02-07 19:39] armstrjare commented on #1266
Fixed in #1270

[2017-02-07 20:18] HriBB commented on #1265
@marktani thanks for taking the time to answer.

You mean `updateQuery` works just like `updateQueries` for mutations, right? But it updates only a single query. What if I want to update other queries?

For example, I have a `viewerMessages` query that lists all messages and `viewerMessage` query that displays message details and conversation. When a new `Message` arrives via subscription, how can

[2017-02-07 20:23] marktani commented on #1265
Ahh, actually that didn't occur to me. Might be the case. But if you check [the returned object](https://github.com/graphcool-examples/react-apollo-instagram-subscriptions-example/blob/master/src/components/ListPage.js#L41) it has the query name `allPosts` as the key. Did you try returning an object like this

[code]

[2017-02-07 20:24] HriBB commented on #1265
Let me check ... :)

[2017-02-07 20:56] HriBB commented on #1265
In my top level `AppContainer` component I only have access to the `viewer` query, but not `viewerMessages` or `viewerMessage`. Problem is that `updateQuery` operates on a single query, but in my case I want to update other queries.

[2017-02-07 22:04] helfer commented on #1268
@mistic I think @DxCx was thinking about implementing one.

[2017-02-07 22:05] #1266 closed

[2017-02-08 00:10] mistic commented on #1268
@calebmer and @helfer thank you for your answers. We're designing our api to be a graphql api over websockets, so we need a network interface for query / mutations with support to sending an authoroziation token. We also need websocket subscritions to receive real time updates. @DxCx any news on this?

[2017-02-08 01:06] calebmer commented on #1268
@mistic it sounds like you’re doing something really awesome! I think you’re probably going to want to implement your own network interface. It really isn’t that hard though as you basically just need to implement a single `query` function.

[2017-02-08 02:33] helfer commented on #1265
@HriBB we're working on a set of imperative store update functions (read a fragment from the store, write a fragment to the store). Hopefully you'll be able to use that for your problem. You could still use `reducer`, you just have to write one for each query you want to update (it's essentially the same for `updateQueries`).

[2017-02-08 09:53] batjko commented on #967
Have subscriptions been removed from the clients? I can't find any mention of it anywhere in the docs, either for apollo-client or react-apollo.

[2017-02-08 11:08] DxCx opened #1272 "Idea: Split network layer"
Hi,

I was thinking maybe we should create another repo,
mono-repo for network interfaces. (or even split this one, open for discussion of-course)
so the base package will hold only the interfaces (as typescript interface)
then the sub-packages will hold the network layer implementation.
then we can achieve a similar solution to what we have on `graphql-server`
while also gaining the ability to us

[2017-02-08 13:00] Siyfion opened #1273 "Add error message when reducer results don't match query results"
I stumbled on this issue the other day and it took me a while to realise what was going wrong.

In the example below `insertCategory` is a mutation which returns a new category, however one field (`name`) has been omitted (by mistake).

As a result, the reducer that handles the `insertCategory` action tries to merge the new category into the store with the results of the query. Running the `update

[2017-02-08 13:52] mskec commented on #1189
@calebmer Now I see this option is defined in [react-apollo](https://github.com/apollographql/react-apollo) and not here, should I open issue there?
I updated to latest `react-apollo` version and now query is being executed correctly on skip changes. But there is new problem where the same query is being executed twice at the same time.

[2017-02-08 14:24] gex commented on #1267
[code]

thanks @calebmer !

[2017-02-08 14:51] wmertens commented on #1224
I don't yet have an opinion about which flavor of `updateQueries` to implement, but I would like to see `invalidateQueries` which would be like `refetchQueries` except that it doesn't fetch until it's needed.

Furthermore, `invalidateQueries` should also accept variables and wildcards as you describe here, to specify exactly which data sets to invalidate.

Maybe this functionality could go in `upd

[2017-02-08 17:32] stubailo commented on #1267
Great! Looks like we can close this, thanks for the tip @calebmer

[2017-02-08 17:32] #1267 closed

[2017-02-09 01:06] helfer commented on #1273
Thanks @Siyfion. I think the main thing we need to do is improve the error messages for when the data returned by updateQueries or reducer does not match the shape required. I think there might be some work we have to do with fragments there.

[2017-02-09 01:23] rogchap commented on #1193
@helfer Still see this here: http://dev.apollodata.com/core/fragments.html

[2017-02-09 01:25] helfer commented on #1193
Thanks for pointing it out @rogchap. It seems our automatic build and deploy process broke at some point. Going to fix it now.

[2017-02-09 07:51] sondremare commented on #1191
@lewisf Any progress? Let me know if I can assist with anything

[2017-02-09 09:34] guns2410 opened #1275 "One of the sources for assign has an enumerable key on the prototype chain. Are you trying to assign a prototype property? We don't allow it, as this is an edge case that we do not support."
I was on apollo-client 0.5.26 and everything was perfect, however, after upgrading to the latest version (0.8.3 at the moment) I get `APOLLO_MUTATION_ERROR`.

The error message is as follows

[code]

**Update**
The error starts from v0.7.0

[2017-02-09 09:39] srosset81 commented on #1263
I have the same problem with the fetchMore() function, the networkStatus is always set at 7. I have passed the `notifyOnNetworkStatusChange: true` option.

I'm using apollo-client 0.6.0 and react-apollo 0.8.3

[2017-02-09 13:51] seanes opened #1276 "Omit sending optional arguments in query if variable is not provided"
Disclaimer: At the very best it's a feature suggestion or a simple cry for help trying to solve something that at a surface scratch sounds overly complicated to do with GraphQL.

What I would like to do is create a query given a set of parameters (e.g. one required and _n_ optional), where the undefined optional arguments are _not_ passed as part of query to the server.

Simple example. A search f

[2017-02-09 13:55] Siyfion commented on #1273
Agreed, it was undoubtedly my code that had the bug... But the silently-failing nature of it caused a large headache in terms of trying to track it down!

[2017-02-09 14:24] koenpunt opened #1277 "Response array with null values is discarded"
We're using Apollo client with React, and for a certain query the graphql response contains `null` values in an array.

**Part of our schema:**

[code]

**Graphql response:**:

[code]

Where I expect the values being passed on as-is, so just `null` values, the response is discarded completely, without error.

Is this expected behaviour?

[2017-02-09 14:34] HriBB commented on #1273
@Siyfion thanks for the heads up. @helfer any idea how to debug this in the meantime?

[2017-02-09 15:37] calebmer commented on #967
@batjko read https://dev-blog.apollodata.com/graphql-subscriptions-in-apollo-client-9a2457f015fb#.7splm9100 and make sure to check out https://github.com/apollographql/GitHunt-React/tree/master which has subscriptions 😊

[2017-02-09 15:41] calebmer commented on #1189
Yes, if you could open an issue on `react-apollo` that would be ideal.

[2017-02-09 15:41] #1189 closed

[2017-02-09 15:49] calebmer commented on #1275
What is the `options` object you are passing into `ApolloClient`, and/or what middleware and afterware are you using? If there are any prototype properties then that’s probably why you get this error 😣

[2017-02-09 17:44] JesperWe opened #1278 "Memory leak in client.query()"
Activate pollInterval for a query.

**Intended outcome:**

Client can sit idle and do many polls without memory allocation increasing.

**Actual outcome:**

Allocated memory slowly climbs

**How to reproduce the issue:**

I am using react-apollo, with a simple query that fetches some counters using pollInterval:

[code]
I am using Chrome. If left idle for a few hours, the tab running the polling w

[2017-02-09 18:15] cramatt commented on #657
When I implement any of these patterns on my observable queries, I continue to get an unhandled error every time I perform a new graphQL request (even an unreleated one). Any ideas?

[2017-02-09 18:55] GiladShoham opened #1279 "Graphql caching send old headers"
**Intended outcome:**
I'm using [Apollo passport](https://github.com/apollo-passport/apollo-passport) for mange authentication.
During this flow, i take a token from the localstorage, and send it via Authorization header with bearer to the server.
I expect to have the proper token.

**Actual outcome:**
I got the old token instead.
The server code described [here](https://github.com/apollo-passport

[2017-02-09 20:19] #1279 closed

[2017-02-09 20:40] batjko commented on #967
Thanks, @calebmer. I'm just a little concerned that, if a feature isn't officially documented (maybe used to be, but not currently), it's not really recommended to implement.

Perhaps they make a comeback soon.

[2017-02-09 21:29] calebmer commented on #1277
Is the entire response being discarded, or just those null items?

[2017-02-09 21:31] koenpunt commented on #1277
I can see the response in the Redux devtools, but it is not passed to the graphql container.

[2017-02-09 21:49] bwbarron opened #1281 "Trouble understanding the request being sent to GraphQL server"
As per [GraphQL documentation](http://graphql.org/learn/serving-over-http/#post-request), the POST request to a GraphQL server should look like
[code]
if using `application/json` as the content type. Note the query being a string value. But I added some middleware to the networkInterface to inspect the request and it's actually an object (see below). I'm having trouble understanding how I should g

[2017-02-09 21:57] helfer commented on #1193
I fixed the build, updated the API docs to the most recent version and removed links to fragments. I think I'd have to go to S3 and remove the file manually if I wanted to delete it for good, but I don't believe that's necessary as long as there are no more links to it from the docs themselves.

@stubailo I think we could automatically update the API docs with greenkeeper if we released an apollo-

[2017-02-09 21:57] #1193 closed

[2017-02-09 22:00] helfer commented on #1281
In the middleware the query is a graphql document so it's easier for you to modify the AST (if you so wished). Before the request gets sent to the server, the query is printed [here](https://github.com/apollographql/apollo-client/blob/f8e4d1e78a5991d83fee723c32a4d9efe869b549/src/transport/networkInterface.ts#L79). I hope that answers your question! 🙂

[2017-02-09 22:00] #1281 closed

[2017-02-09 22:06] bwbarron commented on #1281
That clears that up, thanks! I was getting a HTTP 415 Unsupported Media Type so I thought it might be related to this but I guess not. I'll have to dive into our server code to figure it out.

[2017-02-09 23:12] jasonmorita opened #1282 "updateQueries after mutation is removing the data for a component if data not previously cached."
I am working on a feature with a list of users in a group. Initial query looks like:
[code]

And an `updateQueries` that looks like:
[code]

If the component initially has the full list of users in it's data payload, I can add and remove users from the list and everything updates fine.

If I load up the component with a single user, then attempt to add a user (the mutation payload doesn't contain

[2017-02-10 00:05] helfer commented on #1231
Apparently fixed now, thanks @jesenko !

[2017-02-10 00:05] #1231 closed

[2017-02-10 00:21] helfer commented on #1068
@mlukaszczyk We've started working on it in #1280. If I have time I'll write a store write implementation tomorrow, and then integrate it with mutations. If all goes according to plan, we can release it next week.

[2017-02-10 00:23] helfer commented on #1123
@CodogoFreddie do you have a small example / minimal reproduction? I'm guessing this isn't the same issue, but without a reproduction or failing test case it's pretty hard to tell.

[2017-02-10 00:33] helfer commented on #889
@majodev @lewisf was working on something.

@lewisf Can you update us on the status of the PR? 🙂

[2017-02-10 00:35] helfer commented on #1255
@calebmer can you take another quick look here, if you get a chance?

[2017-02-10 01:03] helfer commented on #1272
@DxCx I think that's a great idea! I remember we thought about this a couple of times. I also like @calebmer 's idea of getting rid of the name `networkInterface`. We should call it `executor` instead, because in some cases there may not be any network involved, and the client really doesn't need to know where the GraphQL query really gets executed. From the perspective of the client, calling the

[2017-02-10 01:05] helfer commented on #1273
@Siyfion I think we're still not 100% sure where the error gets swallowed, because we do have some tests specifically for that. The best way to help us fix this would be if you could make a PR with a failing test case that reproduces the thing you're seeing in your app. Could you do that? 🙂

[2017-02-10 01:07] helfer commented on #1224
@wmertens yeah, that's a good idea! We might implement some imperative form of cache invalidation first (i.e. you give it a query or a fragment and tell it to invalidate everything touched by that query/fragment).

[2017-02-10 01:29] helfer commented on #1263
@srosset81 For `fetchMore` this is expected since we didn't implement the networkStatus update for it yet.

[2017-02-10 01:33] helfer commented on #1276
@seanes I'm not sure I understand the problem. If the arguments are optional, you should be able to simply not provide them without altering the query. The server will deal with it.

[2017-02-10 01:45] helfer commented on #967
@batjko We never documented it so far, because we were still working out the API. I think you'll see some documentation soon, because @Urigo just finished implementing subscriptions in Galaxy.

[2017-02-10 01:52] helfer commented on #1282
@jasonmorita Thanks for filing an issue! From your description it's not really clear to me what's going on. If you could make a minimal reproduction, that would be great!

[2017-02-10 02:21] helfer commented on #1278
This could be pretty much anywhere in the code because polling exercises most parts of Apollo Client. Do you see the same increase if you just run the same query many times "manually" by calling `client.query`?

[2017-02-10 03:53] GRardB opened #1283 "`whatwg-fetch` causing an error?"
Hey!

I'm running into a problem with a side project of mine. I'm using Apollo Client to built a universal React app. This is the second time I've used it. The first time, I had no issues, but I'm running into an issue this time...

When I used `apollo-client` on the client-side, everything was fine. However, when I started implementing the SSR part, I get this error when running the code on the s

[2017-02-10 08:26] seanes commented on #1276
The problem was that the server wasn't allowing this in a fashionable matter. Closing this since it's unrelated. Thank you!

[2017-02-10 08:26] #1276 closed

[2017-02-10 08:44] guns2410 commented on #1275
This is how I create `ApolloClient`

[code]

**P.S. I am doing this in react-native**

[2017-02-10 14:49] GGAlanSmithee commented on #1213
Would just like to point out that this error has gone away for me since I restructured my webpack config. Unfortunatley, I can not point to any specific issue which caused this, but it does work now, without using `resolveLoader` or any other workaround.

[2017-02-10 15:53] calebmer commented on #1193
@helfer we should include the uncompiled source in the current package. I think that’s just good practice anyway for people who want their own custom builds. I’d like to take a look at the build process as we get closer to 1.0 because there’s a lot of things that could be improved there 👍

[2017-02-10 16:25] calebmer commented on #1255
This one is caused by `react-apollo`. It looks specifically like this line: https://github.com/apollographql/react-apollo/blob/a0e5a1d590989d9301494f7f0d1ebf500a4bec41/src/graphql.tsx#L382 although I’m not sure why. Promises are returned from all of the methods to that point. [`result`](https://github.com/apollographql/apollo-client/blob/5e944c1afaffb58e2f9165de5d370d957d23b972/src/core/Observable

[2017-02-10 16:29] calebmer commented on #1263
@rafrex can we see your mutation’s code for this? There are some cases where we don’t currently expect network status to change.

[2017-02-10 16:34] calebmer commented on #1283
If somewhere in your build chain this:

[code]

Turns into this:

[code]

That’s what is causing the problem (note the `'use strict';` in the global scope). You should either make sure the `whatwg-fetch` module is not running in strict mode, or submit a PR to `whatwg-fetch` to use the `global` or `window` variables if `this` or `self` is not available globally.

Let me know if this works for you,

[2017-02-10 16:34] #1283 closed

[2017-02-10 16:38] calebmer commented on #1275
It’s probably because you have `req.options.headers = new Headers();`. Could you try `req.options.headers = {};` instead?

[2017-02-10 18:29] JesperWe commented on #1278
OK. Seems to be unrelated to `pollInterval`. I have extrated a small test case app which does absolutely nothing except::

	componentDidMount() {
		setInterval( () => {
			this.props.client.query( {
				query: gqlCounters,
				variables: { accountId: 1 },
				forceFetch: true
			})
		}, 200);
	}

This is the memory allocation over a six minute period for the Chrome thread running the app:

![image

[2017-02-10 19:02] rafrex commented on #1263
@calebmer, there are two mutations where it happens:
[code]
and
[code]

[2017-02-10 19:06] rafrex commented on #1263
Also, if there is a single component with a mutation and a query, where the mutation refetches the query, and the query has `notifyOnNetworkStatusChange: true`. Is the intended functionality for the component to receive new props with a `networkStatus` of `4` (and cached data) as soon as the refetch is called?

[2017-02-10 19:21] jasonmorita commented on #1282
I am refactoring this code. Will come back if issue returns.

[2017-02-10 19:21] #1282 closed

[2017-02-10 19:26] calebmer commented on #1263
@rafrex It depends on how you are using `refetchQueries`. If you are referring to a query by name in `refetchQueries`, then yes. Although we are deprecating that behavior. If you are passing a query document and variables directly to `refetchQueries` then there is no way to associate that loading state back with your query. This is intentional. Relay does this as well, so it is also precedented.

[2017-02-10 19:35] rafrex commented on #1263
@calebmer I'm passing in the query document and variables to `refetchQueries`.
[code]

[2017-02-10 19:39] calebmer commented on #1263
Yep, then we wouldn’t expect `loading` to be set to true 😣

Is this something that you really need from Apollo Client? It might be easy enough to implement yourself for the UI that needs it.

[2017-02-10 19:41] helfer commented on #1263
@rafrex if your other component is active at that moment (which it seems to be since you expect it to update), you could just refer to the query by the name you gave it for now. That's the quick solution, but I think for longer term it's better to follow @calebmer's advice and implement it yourself in the UI.

[2017-02-10 19:41] #1263 closed

[2017-02-10 19:58] lewisf commented on #1191
Hey @sondremare, got busy with other things. I have test cases, and a work in progress branch that I'll make a PR with in the upcoming days.

[2017-02-10 20:02] rafrex commented on #1263
Thanks @calebmer and @helfer
In the single component example, I agree there is no need for Apollo to track the loading state (I don't have that situation in my app, I was just trying to come up with minimal reproduction case).

Where it is needed, is when the mutation causes a different route to match, which loads a different set of components that has the query that is being refetched from the mu

[2017-02-11 06:47] gopidon commented on #1214
Just ran into this .. using v0.8.1

[2017-02-11 16:52] calebmer commented on #1214
Try this PR by @stevewillard which should fix it: https://github.com/apollographql/apollo-client/pull/1264

We want to release it soon 😊

[2017-02-11 17:55] stevewillard commented on #1214
I'll try to write a test for that PR this weekend.

[2017-02-11 23:12] helfer commented on #1278
@JesperWe Thanks! Can you show me the query you're running? I want to make sure this actually maps to the same place in the cache, otherwise the memory usage is expected to grow anyway.

Is there a way of figuring out which objects are being held in memory and where in the code they are being allocated?

[2017-02-11 23:12] helfer commented on #1277
@koenpunt Could you make a PR with a failing test? I think that should be relatively straightforward and it would help us fix this quickly 🙂

[2017-02-12 02:24] linonetwo commented on #379
@Urigo Ok, I'm working on that, please wait for a while.

[2017-02-12 06:13] clayne11 opened #1288 "Typings are not pointing at the correct file"
The `typings` property is not pointing at the correct location in the `npm` bundle.

It's set to `./lib/src/index.d.ts` but it really should be `./index.d.ts`.

[2017-02-12 06:41] clayne11 commented on #1288
Nevermind - I was using an old version of the library

[2017-02-12 06:41] #1288 closed

[2017-02-12 06:57] clayne11 opened #1289 "ApolloQueryResult should be an interface, not a type"
I believe that `ApolloQueryResult` should be an interface and not a type.

When I write the props interface for my component, I want to extend `ApolloQueryResult`, and add the type generated by `apollo-codegen`, however I can't because types cannot be extended.

If we make `ApolloQueryResult` an interface then it can be extended.

**Intended outcome:**
[code]

**Actual outcome:**
"An interface can

[2017-02-12 07:19] clayne11 commented on #1289
I realized that this is actually perhaps an issue in `react-apollo`.

[2017-02-12 07:19] #1289 closed

[2017-02-12 07:26] JesperWe commented on #1278
The query is in the OP. I just made a small app that runs against my dev server for the app I'm working with, exercising only this query.

This is what the query looks like in the Network tab:
![image](https://cloud.githubusercontent.com/assets/1643015/22860378/423c03d0-f0fc-11e6-85e6-fea5a78d7d78.png)

The response is:

[code]

[2017-02-12 07:31] JesperWe commented on #1278
The complete test app (files changed after having created it with `create-react-app`) is [here](https://gist.github.com/JesperWe/547fa15bf9dc5bb7cee449673f32ca70) for reference.

[2017-02-12 07:52] JesperWe commented on #1278
Soo... Your comment about cache mapping made me think. I had just copied all the setup code from my main app into the test app, including the id generation stuff:

[code]

Removing `addTypename` and `dataIdFromObject` stops the memory growth, so there is an explanation for you.

I still think this is a bug though. Mapping ids like that is needed for queries that fetch objects with ids, and you sho

[2017-02-12 15:45] linonetwo commented on #379
@Urigo http://onetwo.ren/wrapping-restful-in-graphql/

[2017-02-12 19:33] helfer commented on #1278
@JesperWe Oh, that's a really interesting clue! So are you saying that even thought the id and typename don't change the memory usage keeps growing if you use `dataIdFromObject`? (I'd venture a guess that `addTypename` itself doesn't cause any memory growth).

[2017-02-12 19:37] JesperWe commented on #1278
Yes. Well, as you can see this particular query does not even have an ID. I didn't test the two properties individually, but when they are **absent** I can run forever without leaks, when  addTypename and dataIdFromObject are there memory keeps growing even though the query has no id (so `dataIdFromObejct` should be returning `null`.

[2017-02-12 23:07] helfer commented on #1278
Oh, that's even more interesting. I'll make sure we look into this next week!

[2017-02-13 05:48] srtucker22 commented on #947
One use case I've run into is with directives.

For example, if I want to reuse a query for different components, but they query a different subset of fields:

[code]

Here, it would be nice to default to false for `withGroups` and `withFriends`, and only opt-in with variables. It's a small change, but I imagine could get more complicated if you wanted to have optional filters with defaults, etc.

[2017-02-13 10:08] pleunv opened #1290 "Refetching an unmounted query results in stale data after remount."
Hi guys!

I'm running into an issue with a mutation that should cause a refetch of a component that's currently unmounted. Brief scenario:

Lets say I've got 2 components, `ListComponent` and `FormComponent`. `ListComponent` is mapped to a list of items through `MyListQuery`, `FormComponent` has a `createItem` mutation that has `MyListQuery` added to its refetch list. When the form is displayed, t

[2017-02-13 12:46] andrewvmail opened #1291 "Catching Network error: Converting circular structure to JSON"
Trying hours to debug and trace this error with no luck. Any ideas why apollo is spitting out
"Network error: Converting circular structure to JSON"

The mutation works and the server received the data. and returned expected value. But apollo is still spitting out the JSON error. Anyone have any ideas whats causing this?

[2017-02-13 16:03] calebmer commented on #1278
@JesperWe could you test each property individually? I wouldn’t rule out `addTypename` as the cause yet given that its implementation involves some deep cloning 😉

What happens when there is no `addTypename`? What happens when there is no `dataIdFromObject`? Also, is there a small reproduction you could put together for us with instructions on how to hit the leak?

[2017-02-13 16:07] calebmer commented on #947
@srtucker22 this is a feature we would be happy to merge if you wanted to implement it 😊

[2017-02-13 16:10] calebmer commented on #1290
This is a known issue that has had much prior discussion (see https://github.com/apollographql/apollo-client/issues/1129 and https://github.com/apollographql/apollo-client/issues/1224). In the meantime, we recommend not unmounting components whose data you want to stay fresh. Let me know if you have any more questions 👍

[2017-02-13 16:10] #1290 closed

[2017-02-13 16:14] calebmer commented on #1291
We’re going to need some more context to help debug this 😣

Do you have any stack traces? What does your query look like? What does your mutation look like? Could you put together a small case that reproduces this error?

[2017-02-13 16:19] JesperWe commented on #1278
I put the test app here (relevant files after creation with `create-react-app`):

https://gist.github.com/JesperWe/688ce0d78ad3a0aa675169d2aa558453

The server shouldn't matter (I think you know which one I am using ;-)...) just make it respond like above.

[2017-02-13 16:19] lucianlature opened #1292 "Self signed certificate"
Are self signed certificates supported?...If yes, where can I add that information and what format?

**Actual outcome:**
[code]
**How to reproduce the issue:**
Use `https` instead of `http`.
[code]

[2017-02-13 16:20] JesperWe commented on #1278
Nice! @calebmer it turns out you are correct, @helfer guessed wrong. Using:
[code]
still causes the leak! (no `dataIdFromObject`)

[2017-02-13 16:24] calebmer commented on #1292
This seems like an issue in your `fetch` implementation and not `apollo-client`. What `fetch` polyfill are you using? (I’m assuming you’re in Node.js because `ssrMode` is on 😊)

[2017-02-13 16:33] calebmer commented on #1278
So my initial theory is that there is a small memory leak in `client.query` given that it is implemented using `watchQuery` which then creates an `ObservableQuery` etc. effectively exercising most of the code. Since we deep clone the query every time with `addTypename` the problem becomes much, much worse to the point of becoming noticeable.

This is something that should go away with the major re

[2017-02-13 17:49] VinSpee opened #1293 "related query result not updating after mutation"
**Intended outcome:**
I expect a component that is using a query to get its data would update that data following a mutation _if_ the mutation names that query in either `refetchQueries` or `updateQueries`.

**Actual outcome:**
The component's data isn't updated unless `refetch()` is called explicitly, but `refetch()` also flushes the current data from the component.

**How to reproduce the issue:

[2017-02-13 17:51] stubailo commented on #1278
I wonder why something as simple as addTypename would make something this much worse. Could it be a problem in the query transformer itself?

[2017-02-13 18:17] JesperWe commented on #1278
Well my project is scheduled to go live in about 4 weeks. Pretty important to me, not sure how important it is to MDG :-)

[2017-02-13 18:23] stubailo commented on #1278
Heh, I sure would hope we can fix this in much less than 4 weeks. But any information you can gather will help get it done faster.

[2017-02-13 19:21] calebmer commented on #1293
Does `QuestionsList` unmount during this time?

[2017-02-13 19:24] VinSpee commented on #1293
No, it's in the same route as `AskQuestion` and rendered at the same time:

[code]

[2017-02-13 19:45] calebmer commented on #1293
Hmm, interesting. I don’t see any problems then. Could you put together a small reproducing use case by forking [`react-apollo-error-template`](https://github.com/calebmer/react-apollo-error-template)? It would go a long way in helping us debug the issue.

[2017-02-13 20:35] VinSpee commented on #1293
In recreating with the error template, I found that `refetchQueries` worked but `updateQueries` was dispatching:
[code]

strange that it didn;t have an error, but I figured out it was because my `createQuestion` didn't return the `createdAt` field. Would have been nice to have some indication of that error somewhere, do you agree?

[2017-02-13 21:31] JesperWe commented on #1278
Hum. In trying to characterize this further, I realize I must backtrack a bit. Earlier I ran the test app for about 6 minutes while observing memory allocation. The I happened to leave it running a lot longer while grabbing a meal, only to come back and find that memory allocation had stabilized. There seems to be a second wave of GC that kicks in after about 8 minutes, and manages to reclaim what

[2017-02-13 23:08] calebmer commented on #1293
Definitely, there are a couple of cases where errors seem to be swallowed which is something we should clean up.

[2017-02-13 23:41] manuelfink opened #1294 "Browser Freeze - Slow performance on many consecutive mutations"
I'm having performance issues with BatchingNetworkInterface with the latest client version. I'm using it to update a category tree structure on moving three elements. this results into 40-250 mutations batched into on request, since also children are updated.

### Timings

preparing changed elements and firing apollo mutations: <10ms
**apollo client** processing mutation till querying graph endpoi

[2017-02-14 00:04] andrewvmail commented on #1291
@calebmer sorry not much info given starting was so stressed out I just had to throw out a ticket to sleep.. Not sure if this is all you need? I'll keep trying, I didnt realize I can remove my catch and actually see the trace bubbled up on dev console.

If I remove the try catch in my code i get
![developer_tools_-_http___localhost_3500_lead_leads](https://cloud.githubusercontent.com/assets/243135

[2017-02-14 00:33] helfer commented on #1294
@manuelfink It's very hard to diagnose this from afar. The most useful thing for us to have would be some profiling information (traces) from Chrome. First I have one question though: What does it look like when you don't use batching?

[2017-02-14 00:33] helfer commented on #1292
Yeah, this is definitely not something Apollo can handle for you.

[2017-02-14 00:33] #1292 closed

[2017-02-14 01:06] calebmer commented on #1291
What does your network interface code look like (with any middleware and afterware)? If you could make a small reproduction using [`react-apollo-error-template`](https://github.com/apollographql/react-apollo-error-template) it would go a long way in helping us identify and fix the error.

[2017-02-14 01:08] manuelfink commented on #1294
@helfer same problem without batching interface. Cannot tell if it is better or worse though. You can find a heap timeline here: https://drive.google.com/open?id=0BwfEGzY_g_hIZFZsOXlfaktQTGM

Do you think using one mutation instead of many would resolve the issue, eg implementing:

[code]

[2017-02-14 01:11] manuelfink commented on #1294
What you looking out for in the timeline? I'd love to get an deeper understanding into the insights.

[2017-02-14 01:17] andrewvmail commented on #1291
Code below, I'll work on the getting a reproduction with your template.

[code]

[code]

[2017-02-14 01:31] andrewvmail commented on #1291
Hi @calebmer I'm having a problem with the error template

[code]

[2017-02-14 11:02] manuelfink commented on #1294
@helfer:

Firing mutations increase time till graphql hits networkDid some further analytics.

[2017-02-14 11:24] manuelfink commented on #1294
Some further tests show the processing of the response takes (almost exponentially) longer for a larger amount of responses. Problematic is that it fully freezes the browser that it can not even be closed or reloaded.

@helfer have you ever considered using service workers?

[2017-02-14 12:59] JesperWe commented on #1278
Oh well. I give up. Since yesterday I am no longer reproducing this. The test case runs fine in all circumstances and my main app (which I haven't modified) no longer crashes. Gah.

Ghost in the machine? Silent Chrome update that fixed something? (56.0.2924.87 was released last week with a loong changelog... Not sure when I got it.)

I dunno, I hate myself for waving red herrings :-( Sorry guys.

[2017-02-14 12:59] #1278 closed

[2017-02-14 16:26] Siyfion commented on #1273
Easiest way I can find to reproduce this is to modify the GitHunt-React example in the following way:

Remove the `createdAt` field from the mutation results in `SubmitComment.graphql`.
[code]

And replace `CommentsPage.js` with this version without the subscription (for simplicity).
[code]

[2017-02-14 16:54] stubailo commented on #1294
I don't think service workers would help here, sounds just like something that can be solved. Could you post a screenshot of the CPU flame graph from Chrome?

[2017-02-14 18:06] manuelfink commented on #1294
@stubailo see CPU Profile and screenshots of it shared in google drive https://drive.google.com/open?id=0BwfEGzY_g_hIaE1vT2MyS255d00

I removed the updateQueries statement for now, since running it pushes the processing of the result over 2 minutes.  Instead I use a refetch as a temporary fix for now.

Taking a look at the updateQueries statement in the flame chart, the time of getCategoriesOfPubl

[2017-02-14 18:11] calebmer commented on #1278
It’s important to hear reports like this, even if they are red herrings 😊. Thanks @JesperWe

[2017-02-14 18:13] stubailo commented on #1294
Yeah but I think it's a far easier solution for now to simply fix the CPU usage than make the whole architecture go over a bridge to another thread, although that is something we are interested in working on long-term!

[2017-02-14 18:42] calebmer commented on #1291
Hmm. I don’t get the same problem with the error template. If you’re having issues feel free to use whatever tools you are most comfortable with 👍

We have seen some issues with this before: `req.options.headers = new Headers();`. Maybe try `req.options.headers = {};` instead?

[2017-02-14 18:52] calebmer commented on #1294
I’m really not sure there is much we can do short of re-architecting most of the current codebase to support 40-250 _batched_ mutations efficiently. I’m not even sure if taking it to a service worker would do more then free the main thread for the seconds that it takes 😣

My recommendation is instead of sending 40-250 mutations you instead find a way to combine those all into a single mutation req

[2017-02-14 19:05] stubailo commented on #1294
Yeah I've been thinking having a way to deliver many results to the store in one batch could be useful to avoid this kind of thing.

[2017-02-14 19:46] calebmer commented on #1294
@stubailo that could help as we wouldn’t be rerendering 40–250 times, but we would still be reading, writing, and running `updateQueries` 40–250 times. Although that is likely much less severe then re-rendering.

[2017-02-14 19:49] manuelfink commented on #1294
Thx @calebmer, gonna give it a try within the next week.

Did not new about input types. Was searching for graphql mutation array but did not came across input types. This would also allow me to do a batch update to database and improve performance on server a lot too.

Regarding performance would it not make sense to batch process all mutations and than trigger redux state subscriber?

In apollo

[2017-02-15 01:28] firedev commented on #1112
Hi, I do `resetStore()` when switching locales in my app so it reloads the data in the new locale. However if I switch to the same locale again I get the error: `Can't find field <...> on object (ROOT_QUERY) {}. Perhaps you want to use the 'returnPartialData' option?`. If I check the network tab I see that the data is being requested again and returned from server correctly.

Is this a bug or an i

[2017-02-15 06:19] andrewvmail commented on #1291
@calebmer I figured it out. I'm using [simple-react-form](https://github.com/nicolaslopezj/simple-react-form)  and mashed it up in such an edge case that it worked even though it shouldn't....

FYI for anyone mashing apollo and simple-react-form I have the HOC container that contains the submission logic and the actual form skeleton as a child. The problem was i wired up the button at the end of t

[2017-02-15 06:19] #1291 closed

[2017-02-15 07:27] ncthis opened #1296 "Performance implications for using Redux"
I've been working a lot with react-native and apollo client and have a few grievances related to performance.

Imagine I'm doing a `<BookList />` of component `<BookListItem />`.

Query co-location means that my `BookList` will know which list item ids to get and how to sort them. But the name, author and everything else will be retrieved by `BookListItem`.

Which means, I will connect the followi

[2017-02-15 10:20] alex-kon opened #1297 "apollo-client makes the same graphql request after page load (SSR) even if store is rehydrated."
We are using apollo-client with React and wepback to create an isomorphic application. We are rendering the page server side and adding the initial store on the initial HTML payload as described here.

http://dev.apollodata.com/react/server-side-rendering.html

On the client we serve the bundled queries along with the apollo client so any future requests will be only client side.

However we've no

[2017-02-15 14:38] calebmer commented on #1296
Is there any way to reduce the number of queries you are sending? For instance, change your colocated queries to fragments and then add a field on the GraphQL server: `books(id: [ID])` which will get all of the books in one query, or combine your two queries together. It is ideal whenever possible to group all of your data into a single request (whether you use the batched network interface or not

[2017-02-15 14:42] calebmer commented on #1297
Yes, you are right that we should not send another query 😣

Could you put together a small case reproducing this error? It would go a long way in helping us debug this issue. You could use [`react-apollo-error-template`](https://github.com/apollographql/react-apollo-error-template) even though it is not server-side-rendered by passing a manually exported object into `initialState`.

[2017-02-15 15:37] Siyfion commented on #1224
@calebmer's new PR over here: https://github.com/apollographql/react-apollo/pull/462 solved all of my outstanding issues. I would recommend that people pull the change locally and give it a test.

[2017-02-15 15:37] Siyfion commented on #1129
@calebmer's new PR over here: apollographql/react-apollo#462 solved all of my outstanding issues. I would recommend that people pull the change locally and give it a test.

[2017-02-15 20:44] patrickml opened #1298 "Apollo Client Removes Data from other Queries"
We have two queries that pull content from the same resource. Once pulls basic information like name and createdAt, then when a user navigates to another part of that resource we pull the data required.

**Intended outcome:**
Query 1 pulls data and it should exist on the record
Query 2 pulls data and appends/updates the new data
Each query then filters out the unneeded data from the document when

[2017-02-15 20:50] calebmer commented on #1298
This is definitely the intended behavior. Does the id returned by `dataIdFromObject` change between requests? This is generally a symptom for that issue.

If not then could you reproduce this error using [`react-apollo-error-template`](http://github.com/apollographql/react-apollo-error-template)? It would go a long way in helping us debug the issue and get you a fix in a timely manner.

[2017-02-15 20:56] patrickml commented on #1298
@calebmer i don't think so its just the document id from our database

[code]

[2017-02-15 21:16] calebmer commented on #1298
Try adding the `__typename` as well. So something like:

[code]

There may be another object with the same `id`, but a different `__typename` that is messing up the cache?

[2017-02-15 21:30] patrickml commented on #1298
we are using uuid v4 so i doubt its the id, i just tried to implement the function you just provided but it didn't seem to make a diff.

I am currently working on the error template, but since its using plain gql its a little bit of a learning curve xD im using to the apollo flavor of everything.

[2017-02-15 22:47] calebmer commented on #1298
Hypothetically it shouldn’t be too hard to use `graphql-tools` with the error template if you are more comfortable with that 😊

[2017-02-16 00:27] ncthis commented on #1296
Thanks @calebmer I understand that this is the best way to solve this and intended usage. I was thinking of a lower degree of coupling, where props never flow through parents that don't need them. In component hierarchy A -> B -> C, A would query and flow the subset of props through B to C, even though ideally B does not need to know about it.

A could get the fragments from C, but then A is conce

[2017-02-16 00:27] #1296 closed

[2017-02-16 00:55] srtucker22 commented on #947
looking into it. got my apollo-client contributor env setup. hopefully will have some free time soon to mess with it

[2017-02-16 04:50] #1214 closed

[2017-02-16 04:52] helfer commented on #1297
@alex-kon are you using `ssrForceFetch` delay as described in the docs?

[2017-02-16 04:55] helfer commented on #1112
@firedev for content with locales I would suggest explicitly adding the locales as arguments to the query. That way you also wouldn't have to do `resetStore()`.

[2017-02-16 04:57] firedev commented on #1112
@helfer I pass requested locale as a header, but the problem is - I need to reload current data when switching locales. Is there a trick for that? `resetStore()` just drops everything and reloads.

[2017-02-16 05:25] helfer commented on #1112
Dropping everything and reloading is what `resetStore` is designed to do. I'm assuming you only see the bug if you switch back to the previous locale while the queries haven't refetched yet?

[2017-02-16 06:20] firedev commented on #1112
@helfer You mean like when clicking too fast? No, not at all, locale changes, the new data is fetched, then I slowly click the same locale again and it blows up. Sounds like a bug? The actual implementation is:

[code]

[2017-02-16 06:52] wmertens opened #1300 "Only denormalize results that have an id"
In my app, I have a "medium" amount of data (several hundred small-ish objects) coming in from the server, and getting it and handling it with REST+Redux would not be an issue at all.

With apollo though, the results are denormalized and all lists are split out. The result is that I have thousands upon thousands of entries in the apollo cache, so much that it crashes the apollo dev tools when I in

[2017-02-16 07:10] wmertens commented on #1298
@patrickml you can also inspect the graphql network requests to see if they errored, and your server logs of course.

[2017-02-16 07:13] helfer commented on #1112
Yeah, that sounds like a bug. Sounds like it could be this one. @chitswe did you ever get around to writing a test?

[2017-02-16 10:33] alex-kon commented on #1297
I created the `react-apollo-error-template` example but I couldn't replicate it there.
We are setting the `ssrMode` to true on the server and false on the client, but we are not setting `ssrForceFetch` at all. I believe that is used only when `ssrMode` is true.

I narrowed it down to a specific query we are using. Removing specific fields from the query fixes the problem. In theory it shouldn't ma

[2017-02-16 12:49] DimitryDushkin commented on #965
So how to catch this anyway?

[2017-02-16 13:41] petergarnaes opened #1301 "cache redirects with customResolvers on nested objects"
So I am experimenting with Apollo by making a webpage where groups of people can arrange events together. I am following along with the guide on cache [redirects and `customResolvers`](http://dev.apollodata.com/react/cache-updates.html#cacheRedirect) and I have a query that looks like this:
[code]

Which returns a list of events. When looking at the details of of one of these events, I want to fet

[2017-02-16 15:08] marktani commented on #1129
Thanks for the heads up @Siyfion :+1:

[2017-02-16 17:30] patrickml commented on #1298
@wmertens there are no errors :/ everything works and things are saved, the problem is that my other queries are updating.

[2017-02-16 19:18] NeoPhi opened #1303 "Afterware no longer called with bad HTTP status codes"
I'm noticing a regression in apollo-client.

Afterware no longer seems to be called with the batchedNetworkInterface if the fetch results in an HTTP status code of 401.

So the pattern here http://dev.apollodata.com/core/network.html#networkInterfaceAfterware no longer seems to work

Problem seems to be related to: https://github.com/apollographql/apollo-client/blob/master/src/transport/batchedNet

[2017-02-16 19:20] patrickml commented on #1298
@calebmer here is the example repo https://github.com/patrickml/react-apollo-error-two-queries-one-document/tree/master/src

[2017-02-16 19:49] calebmer commented on #1300
We would still have to piece the query back together when reading from the store no matter how we save the data, so I’m not convinced that this would improve read performance 😣

Maybe you could put together a quick test with [ESBench](https://esbench.com/) to show that our reading algorithm would be faster on a denormalized data structure? Remember that we can’t write aliases to the store so we wo

[2017-02-16 19:52] calebmer commented on #1301
What is the `__typename` for `group`? Or: `{ group { __typename } }`.

Try using that name instead of `Query` with your `customResolvers`.

[2017-02-16 19:56] calebmer commented on #1303
Hmm, perhaps adding that error throw was a mistake…

We added it to provide better information when the JSON parse failed. Could we add afterware calling at that point even though an error was thrown?

[2017-02-16 20:10] calebmer commented on #1298
It looks like there are two things going on here. Firstly, you are not returning the `name` field for the person in your mutation: https://github.com/patrickml/react-apollo-error-two-queries-one-document/blob/f330fa5189ed81f6d8b97989842f24e6ec0fc16b/src/graphql/schema.js#L59-L62

This means your mutation which has a selection set of:

[code]

Will return:

[code]

Note how there is a `null` there.

[2017-02-16 21:07] patrickml commented on #1298
@calebmer not sure if you read the little bit of notes I had in the main screen when the app runs, but basically I have one upsert HOC in my real app so i don't need to replicate any code. So it returns all fields possible for in my case a "segment"

[code]

This is so that I can just do something like

[code]

and i can use `upsertSegmentHOC` over and over again in many places.

I'd expect that i

[2017-02-16 21:32] wmertens commented on #1300
I think the slowness is partly because the cache has so many keys, and
partly because many things need to be pieced together that should not have
been denormalized in the first place. In my case, I would have 1 cache
lookup of a single object with embedded arrays instead of about 30 lookups.
That's an order of magnitude…

BTW, if you cache queries outside of the store, you could cache each query
i

[2017-02-16 21:33] patrickml commented on #1298
@calebmer to solve this issue im just going to pass in the fields i need per instance of the upsertSegment mutation

[code]

[2017-02-16 22:38] pseudoramble commented on #1303
In the case you get a 401 from a service, trying to parse the JSON response would fail and reject the promise with a string value like `Uncaught (in promise) SyntaxError: Unexpected token U in JSON at position 0`. So would this pattern have worked prior to this change?

It does seem like it could be modified to catch this and apply the afterware with the one response to make this pattern work thou

[2017-02-16 22:52] calebmer commented on #1300
Yep, I agree with your premises, but we’re hesitant to act on this until we see that an alternative where we don’t normalize would actually show a major perf win.

Since we are currently discussing refactoring our store code in a major way, this is a change that we could fit in. If anyone in the community can provide the data and prove that this difference would actually matter for perf 👍

(becaus

[2017-02-16 22:56] petergarnaes commented on #1301
@calebmer It worked! Thanks a lot! It might be worth explaining in a small paragraph in the documentation on [`customResolvers`](http://dev.apollodata.com/react/cache-updates.html#cacheRedirect).

[2017-02-16 22:56] #1301 closed

[2017-02-16 22:57] calebmer commented on #1298
That’s probably correct. Think about it this way:

If Apollo Client didn’t get `null` for a given field, say it got a new name like `"John Smith 2"` it would then update that field in the cache with the new value. This is the expected behavior. So, if Apollo Client gets `null` it would also update the name to `null`. There is no extra information, in this case, to tell Apollo Client that `null` _a

[2017-02-16 22:57] #1298 closed

[2017-02-16 22:59] calebmer commented on #1303
This response was undesirable to most users: `Uncaught (in promise) SyntaxError: Unexpected token U in JSON at position 0`. That’s why we made the change.

[2017-02-17 01:18] patrickml commented on #1298
Sounds good.

[2017-02-17 09:09] wmertens commented on #1300
Well, I have a working app you can inspect (privately) where simple queries
take disproportionate amounts of time to get from cache. So for sure it's a
problem.

However, I assume you want a benchmark of sorts? Is there already something
similar in the codebase?

On Thu, Feb 16, 2017, 11:52 PM Caleb Meredith <notifications@github.com>
wrote:

[2017-02-17 09:32] joshg111 opened #1308 "Using master branch"
I just want to use the apollo-client master branch since there is some fix there i would like to use now.

In my package.json file I give the following:
"apollo-client": "https://github.com/apollographql/apollo-client.git#master"
Then I run npm update apollo-client.
Then i get an error:
$ npm update apollo-client
cars@0.0.1 /home/joshg111/Projects/cars
└── UNMET PEER DEPENDENCY apollo-client@0.8.6

[2017-02-17 13:04] pleunv commented on #1290
I just tried out the new version of react-apollo and got rid of the `forceFetch`es, however I'm still not getting the desired result with the aforementioned scenario. Should the recycling be compatible with refetchQueries (query names), or could it be something else I'm missing?

[2017-02-17 14:35] calebmer commented on #1300
Benchmarking two implementations in `apollo-client` would take a lot of time. It would be much easier to write a micro-benchmark with https://esbench.com to demonstrate a comparable situation 😊

Here’s the benchmark I would like to see. We want to read the following object out of a cache:

[code]

The keys and values are arbitrary. Then we want to test against two different cache shapes. One where

[2017-02-17 14:46] calebmer commented on #1308
You are going to need to build the library with `npm run compile` before you can use it. The best way to use the master branch is to clone it, then install _all_ dependencies (including dev dependencies), then running `npm run deploy` (the last publish step should fail, that is ok) and `npm install`ing or `npm link`ing the `./npm` folder that gets created by `npm run deploy`.

Unfortunately, it is

[2017-02-17 14:46] #1308 closed

[2017-02-17 14:48] calebmer commented on #1290
Yeah, it should be compatible with `refetchQueries`…

Could you reproduce this error by forking [`react-apollo-error-template`](https://github.com/apollographql/react-apollo-error-template)? It would go a long way in helping us debug the issue.

[2017-02-17 20:38] jonathanheilmann commented on #1099
The same issue appears, if I subscribe to a watchQuery and http status is something like `4xx`. `onError` of my subscription is called, but actually I can't see any option to unsubscribe. apollo-client is still listening for changes in store (reducer is called), but changes won't be reflected to my subscription. This leads me to some errors if i try to reset apollo store (on logout for example).

[2017-02-17 21:28] pleunv commented on #1290
My [first attempt](https://github.com/pleunv/react-apollo-error-template/commit/0c4cfab6860ddd98e06c7368be536de804a9e45c) of reproducing it with a fairly similar approach actually works correctly... I must be overlooking something, will try to investigate a bit further.

[2017-02-18 17:54] Poincare commented on #1300
Benchmarking two implementations should actually be pretty easy [with the benchmarks we currently have](https://github.com/apollographql/apollo-client/blob/master/benchmark/index.ts). I think that would probably work better since it would capture some of the unforeseen differences in perf due to how things within AC are actually implemented. Agree it would probably take a bit more effort than just

[2017-02-18 17:56] mdebbar commented on #1240
@calebmer that's awesome! Do you have any details about this? Or maybe an issue/PR that I can follow?

[2017-02-20 10:10] manuelfink commented on #439
Just had the same thoughts having problems with network latency and availability on mobile devices with queries. Thus not sure if this is a good fit here or better be off in a new issue. @helfer, whats your opinion?

I think retrying is a pretty **default use case** in modern web application architecture to have/rely on retries. Once in a while a **request gets lost or a server goes down in an sca

[2017-02-20 12:17] manuelfink opened #1311 "Global query / mutation state - any requests running"
I'm thinking of implementing a global loading indicator which is independent from the single request observers. Is it anyhow possible to monitor the global request state from apollo-client to know if any queries / mutation are running to show one loading / saving notifications based on it?

[2017-02-20 12:24] alex-kon commented on #1297
We have figured out where the problem is. I haven’t found time to recreate it in a repo but will do soon.

Consider a union type. i.e.

`union Content = TypeOne | TypeTwo | TypeThree`

If in our query we ask for only some of all the types, and not all of them, then the response for the types that are not requested is an empty object. i.e.

` query {
	someField {
		… on TypeOne {
			id
		}
		… on T

[2017-02-20 13:25] ligaz opened #1312 "Specify better type of client.reducer()"
Currently the type of `ApolloClient.reducer()` is just `Function` which is not compatible with the one expected from Redux `combineReducers` function: `<A extends Action>(state: S, action: A) => S`. Ideally those should be compatible out of the box.

[Here](https://github.com/apollographql/apollo-client/blob/8fb44ef7a66f4d411519f0378b121ba3cc145dd7/src/store.ts#L179) is a reference in the codebase

[2017-02-20 16:04] calebmer commented on #1240
@mdebbar There is some preview of what we are working on in https://github.com/apollographql/apollo-client/pull/1258, but that specific PR is currently paused as we evaluate ways to tackle the issue.

[2017-02-20 16:08] calebmer commented on #439
Retry logic should really be in the network glue code, and not on a per-query basis. We may be willing to merge a PR that implements retries in the network interface for queries, but not mutations as that gets problematic as you mention.

[2017-02-20 16:13] calebmer commented on #1311
We currently don’t provide any public method for accessing this information, but you could look into `apollo-client` Redux state and select the information yourself. You’d be looking at the `queries` map which contains all queries that Apollo has made during the current session’s lifetime, and includes `networkStatus` information for each of these queries.

It is possible and we encourage you to t

[2017-02-20 16:13] #1311 closed

[2017-02-20 16:16] calebmer commented on #1297
Yep this makes sense. There are some subtle bugs with our handling of inline types on unions or fragments. As we refactor our store implementation we hope to eliminate many of these bugs.

[2017-02-20 16:18] calebmer commented on #1312
Is this just a bug report for TypeScript users? If so I completely agree that we should provide a better type in this scenario. Would you be willing to submit a PR to fix the type?

[2017-02-20 20:50] clayne11 opened #1314 "Cannot detect when fetchMore is in flight"
I'm having trouble figuring out when a `fetchMore` is in flight. When I call `fetchMore`, I want to be able to detect that that specific query is loading and to show a loading indicator in my UI.

There's a `loading` state for the initial load, but I can't find anything that represents subsequent loading states. Is there any way to detect that a `fetchMore` is in flight?

[2017-02-20 21:18] clayne11 commented on #1314
I solved the problem by putting a `hasFetched` variable inside of the `props` HOC from `react-apollo`.

[code]

By doing this it only allows each cursor to be fetched once.

[2017-02-21 00:09] calebmer commented on #1314
We have a PR opened to fix this. The implementation is a little hacky so it may not get merged in its current form, but please try it out and let us know if it works for you https://github.com/apollographql/apollo-client/pull/1305!

[2017-02-21 03:04] igrayson commented on #439
We implemented the bullets in my original post (about 6 months ago), and are happy with the result.

[2017-02-21 14:50] michalkvasnicak opened #1317 "Question: Is there a way to pass custom options to network interface?"
### Question

Is there a way how to pass a custom query option to network interface? My specific use case is that I want to determine which requests to batch and which don't.

I have simple network interface which determines which network interface (normal, batching) it should use based on the custom option available.

As a workaround I am using `variables` on request.

### Example

[code]

[2017-02-21 19:07] calebmer commented on #1317
I thought there was, but after a quick look at the code it looks like there is not. If you’re interested this is something you could add. By passing in a `requestMetadata` object or similar to watch query options you could add extra values.

[2017-02-21 20:17] jacobk commented on #1195
@helfer I have a weird issue in which unmounting doesn't help.

Basically the app is trying to fetch a query on initial startup, but the server responds 401, since the token in localStorage is no longer valid. I detect the 401 in an afterware handler and trigger my logout procedures followed by a `resetStore` (before invoking `next()`).

I make sure to not reset the store before all graphql wrappe

[2017-02-22 00:10] helfer commented on #1317
@calebmer I was under the impression that since a fairly recent PR you could pass whatever request options you want to the network interface, but that the network interface would only send query, operationName and variables. Is not actually the case?

[2017-02-22 00:24] calebmer commented on #1317
@helfer tracing the execution of requests. Let me know if I’m missing anything:

1. `Request` objects are used to send requests (https://github.com/apollographql/apollo-client/blob/d10a1eeeee97eedf0c7c3138e264ae9d01ab1f9b/src/transport/networkInterface.ts#L174)
2. `Request` will take any number of additional keys (https://github.com/apollographql/apollo-client/blob/d10a1eeeee97eedf0c7c3138e264ae9d

[2017-02-22 00:47] calebmer commented on #1195
@jacobk is this in `0.11.x`? We recently added a query recycling feature and may have overlooked store resetting.

[2017-02-22 06:43] jacobk commented on #1195
@calebmer I tried both 0.11.x and older versions, same issue. I will see if I can reproduce the issue in a clean app.

Actually the underlying issue doesn't seem to be caused by `resetStore`. If I load the route (graphql component) and trigger the 401 network error and navigate away from the route in the afterware handler I can see that the query is still watched even though the component is no lo

[2017-02-22 07:27] jacobk commented on #1195
@calebmer @helfer here's a repo that cleanly reproduces the issue described above.

https://github.com/jacobk/apollo-issue-example

Just

[code]
* Open browser with console open
* Navigate to localhost:3000/
* This will load a route with a graphql wrapped component that will get 401
* The afterware will detect 401 and navigate away to a different route with no graphql queries
* When the new route

[2017-02-22 15:13] calebmer commented on #1195
Thanks for the reproducing error case @jacobk. This looks like a different issue could you either open a new ticket in `apollo-client` or `react-apollo`? Also, if you don’t mind could you reproduce your error with [`react-apollo-error-template`](https://github.com/apollographql/react-apollo-error-template)? It’s very important that we be able to go into `node_modules` and edit the code to debug th

[2017-02-22 18:40] jacobk opened #1319 "Query is not cleaned up after component is unmounted in afterware"
**Intended outcome:**

Queries should be removed when a component is unmounted as a result from logic in afterwares.

See https://github.com/apollographql/apollo-client/issues/1195

**Actual outcome:**

Query is lingering in apollo-client after component is unmounted.

**How to reproduce the issue:**

* clone https://github.com/jacobk/react-apollo-error-template
* `npm install`
* `npm start`
* Ope

[2017-02-22 18:41] jacobk commented on #1195
@calebmer I've opened https://github.com/apollographql/apollo-client/issues/1319 and provided a new reproduce using react-apollo-error-template

[2017-02-22 20:09] calebmer commented on #1319
As of `0.11.x` we intentionally keep observable queries from unmounted components around. It means that a user’s `updateQueries` and `reducer`s will still run even after the component has unmounted. Perhaps after we merge https://github.com/apollographql/apollo-client/pull/1310 this decision can be reverted.

If I remember correctly this had the side-effect of making it difficult to for you to cal

[2017-02-22 20:33] jacobk commented on #1319
@calebmer oh, in that case it seems I've not managed to reproduce the error I had in my real app. Since downgrading my reproduction repos solves it indeed, which is not the case for my real app. Also, invoking resetStore seems to work pretty good in the repo I linked above.

The difficulty with `resetStore` was that it caused the query to be refetched. In my real app it causes further issue when I

[2017-02-22 21:26] lucasconstantino commented on #621
I'm feeling the need to have a field based invalidation strategy. As all resources are available in a normalized form under `state.apollo.data` (based on dataId), and going further with the proposal from @viridia, I believe we could reach a field based invalidation system much like the following:

**Given this schema:**

[code]

**With a data id resolver such as:**

[code]

**With Person type reso

[2017-02-22 22:29] #851 closed

[2017-02-22 23:17] helfer commented on #1317
@calebmer That looks about right. So anything that gets added to request should stay there throughout the middlewares.

[2017-02-22 23:35] helfer commented on #439
@igrayson That's cool! Would you be willing to share your implementation / insights?

[2017-02-23 01:17] dallonf commented on #621
@lucasconstantino An additional caveat of `updateQueries` that's worth ~harping on~ pointing out is that it only works with queries that are currently _active_; it won't help you if the affected data will be fetched by a _future_ query.

[2017-02-23 01:42] helfer commented on #621
@dallonf We patched the updateQueries caveat in a recent release of react-apollo. You should give it a try!

[2017-02-23 04:37] mistic commented on #1268
@calebmer thank you for your answer. Yeah we're creating an awesome product!

Do you know if there are any kind of examples of already implemented custom network interfaces to look for?

Isn't already implemented by someone?

[2017-02-23 05:44] smolinari commented on #1268
Is this what you are looking for? https://github.com/apollographql/graphql-server/pull/308#issuecomment-281758673

Scott

[2017-02-23 07:06] thebigredgeek commented on #1183
This is still a major bug.  I am running 0.8.7 and have encountered it.  Looks like it happens if I SSR a page that uses a variable, navigate away from that page, and then navigate back to it via the back button.  It does NOT happen if I SSR a different page, navigate to the page, navigate away, and then navigate back.  It appears like it might have something to do a difference in query presentati

[2017-02-23 07:17] jacobk commented on #1319
Still haven't manage to reproduce in the error-template project. But I noticed that if you add a `client.resetStore` after this line https://github.com/jacobk/apollo-issue-example/blob/master/app/graphql.js#L15 in my initial repro-repo it ends up in an infinite tailspin recursively fetching and failing.

[2017-02-23 07:26] AlexLeung opened #1321 "Can I access the Apollo Client Redux state reliably?"
Is this structure meant to be internal to apollo client, or is its current structure a supported part of the API which will remain constant in upcoming versions?

If it will change, then I'm probably going to either take my GraphQL query results and store them in a custom portion of the Redux state, or if there's a standard way to access the results of a query between components then I'd be intere

[2017-02-23 07:52] jacobk commented on #1319
The last version of https://github.com/jacobk/react-apollo-error-template is probably the same issue I'm seeing. The difference is that I don't invoke `resetStore` directly in my real app which has a state machine of sorts for auth which saves me from the infinite recursion.

[2017-02-23 10:27] pleunv commented on #269
Perhaps relevant? https://github.com/developit/unfetch

[2017-02-23 11:12] SachaG commented on #1210
I had more time to look into this. I tried triggering an error on the server, and got this response:

![https://d3vv6lp55qjaqc.cloudfront.net/items/3r2a3a3d1Q0N0F3j220l/Screen%20Shot%202017-02-23%20at%2012.09.55.png?X-CloudApp-Visitor-Id=cebf9777be46527f7e0ca9fdd95dd995&v=3ff704aa](https://d3vv6lp55qjaqc.cloudfront.net/items/3r2a3a3d1Q0N0F3j220l/Screen%20Shot%202017-02-23%20at%2012.09.55.png?X-Clo

[2017-02-23 13:36] Waitak opened #1323 "Generate schemas when queries and fragments are specified in-line"
With the removal of `createFragment`, it is no longer clear what the best practice is for specifying a large set of queries and fragments in such a way that a client-side (Typescript, in my particular case) schema can be generated with apollo-codegen. An example of best practice would be very helpful.

The best I've been able to come up with is something like:

    const CodeSetFragmentNode: Docum

[2017-02-23 19:11] calebmer commented on #1317
Yeah, but you can only add metadata in middlewares and you can’t pass in any metadata from top of the funnel methods like `client.query`, `client.watchQuery`, `client.mutate`, etc. which would solve this issue 😣

[2017-02-23 19:16] calebmer commented on #1268
@mistic yep. You can check out our default `HTTPFetchNetworkInterface`. There’s a lot of code in there concerning middleware that really isn’t necessary. The most important method is simply `query`: https://github.com/apollographql/apollo-client/blob/6274c98bb0925f0936d19fb9227bc58b1a558db9/src/transport/networkInterface.ts#L174-L206

We also have a mock network interface in tests you could look a

[2017-02-23 19:19] calebmer commented on #1183
@thebigredgeek could you reproduce your error with [`react-apollo-error-template`](https://github.com/apollographql/react-apollo-error-template)? It would go a long way in helping us debug the issue since we could really use some more information.

[2017-02-23 19:22] calebmer commented on #1321
The Apollo Client Redux state is an internal implementation detail. We do not recommend that you depend on the format because it may change at any time. Even depending on actions can be dangerous because we may change them at any time too.

We are, however, working on building tools to help you get certain kinds of data from the store that is relevant for building your application. Such as providi

[2017-02-23 19:29] calebmer commented on #269
@pleunv we thought about it, but it is still too early: https://github.com/apollographql/apollo-client/pull/1320. Mainly `unfetch` doesn’t have CORS or cookie support which are two very important HTTP network features.

In the future we are interested in moving towards a world where the user defines their own GraphQL execution function. It’s only a few lines in the user’s code for a lot of benefit

[2017-02-23 19:32] calebmer commented on #1210
Would it be possible for you to reproduce this error with [`react-apollo-error-template`](https://github.com/apollographql/react-apollo-error-template)? It would go a long way in helping us solve this issue because we could see exactly what’s happening 😊

[2017-02-23 20:05] stubailo commented on #1321
Would `client.query` work for your needs?

[2017-02-23 20:18] AlexLeung commented on #1321
Thanks @calebmer

@stubailo I'm not sure what `client.query` is. I don't recall reading about it in the documentation.

[2017-02-23 20:19] stubailo commented on #1321
@AlexLeung if you get a reference to the ApolloClient instance (perhaps by importing it) you can run any queries you want outside of a component. What are you trying to do?

[2017-02-23 20:23] AlexLeung commented on #1321
What I'm currently doing is having one of my application's root components run a query which fetches all the starting data for the entire app, then I'm storing it in redux when `props.data.loading` changes from `true` to `false`. Once it's stored in redux, then a number of other components in the application are using that redux data to populate themselves. I was hoping that there was a way I coul

[2017-02-23 20:45] davidye opened #1324 "Update @types/isomorphic-fetch optional dependency for typescript 2.2"
In typescript 2.2 fetch definitions are now included in the dom lib. In apollo-client, there is a dependency on an older version of @types/isomorphic-fetch and that is causing duplicate type definition errors. Updating that dependency should fix the issue.

[2017-02-23 21:24] stubailo commented on #1324
Will removing it break things for people using typescript older than 2.2?

[2017-02-23 21:34] stubailo commented on #1321
@AlexLeung why not populate the rest of your components using GraphQL queries? That's exactly how Apollo is designed to be used - you can use fragments to allow your components to specify their data requirements, do one query, and get all of that stuff at once without having to write any custom redux code at all.

[2017-02-23 21:50] davidye commented on #1324
Yes it should be backwards compatible: see https://github.com/DefinitelyTyped/DefinitelyTyped/pull/14796

[2017-02-23 21:51] stubailo commented on #1324
Ah! @davidye want to send a PR updating to the correct version?

[2017-02-23 22:08] davidye commented on #1324
@stubailo Hmm a simple version bump didn't work as there have been some changes between @types/isomorphic-fetch versions 0.0.30 => 0.0.33.

For example IResponse => Response in the latest version. And updating seems to cause conflicts with: https://github.com/apollographql/apollo-client/blob/c93b4cc56a9e30f8062a1d3501b7ee811f7a9edd/fetch-mock.typings.d.ts#L9

[2017-02-24 00:17] AlexLeung commented on #1321
I could, but each of those queries would probably need some parameters to be sent with them that come as props into the component, and as far as I'm aware, one can't user a component's props in the `variables` portion of `options` when using the `graphql` function.

[2017-02-24 00:18] AlexLeung commented on #1321
As in, I can't do this:
[code]

[2017-02-24 07:52] SachaG commented on #1210
Sure, I'll see what I can do.

[2017-02-24 09:16] Valentin-Seehausen opened #1326 "Test GraphQL Query"
Hey guys,

first of all: Thanks for the great work. I think you know, that you opened the GraphQL world for a lot of people, because Relay is so hard to use.

Ok, BUT. How can we test Apollos Queries and Mutations? To test mutations, I thought it would be a good idea to mock fetch with nock or fetch-mock, hardcode the queries response and then check if the react component acted as expected.

Well

[2017-02-24 09:27] jbaxleyiii commented on #1326
@Valentin-Seehausen we need a lot better documentation around testing (I'm hoping to get to it soon), but have you seen https://github.com/apollographql/react-apollo/blob/master/examples/create-react-app/src/Pokemon.test.js as a starting point?

[2017-02-24 10:05] Valentin-Seehausen commented on #1326
Ah nice. Thank you, will have a look!

[2017-02-24 10:06] Valentin-Seehausen commented on #1326
Also I thought, that it would be helpful, if there was a way, to bundle the mutations into functions, that you could pass to React Containers. So instead of using the graphql wrapper, we would build a selfcontained function that we could unit test. I haven't fount a way to do this. Can you also help me with that?

[2017-02-24 10:31] jbaxleyiii commented on #1326
@Valentin-Seehausen one approach that we have been using is to export the graphql wrapper and the component it is wrapping to test both. Since `graphql()` uses props to pass methods / data to the wrapped component, when testing the wrapped component we can pass in mocked functions via props. For example

[code]

[2017-02-24 10:44] Valentin-Seehausen commented on #1326
Thank you very much for your answer.

And how would you test the mutation? i.e. that it makes the correct http request?

And, how would you test the components reaction to the correct http request?

[2017-02-24 10:46] Valentin-Seehausen commented on #1326
Sorry to bomb with questions.

But how would you configure MockedProvider to react to a  mutation?

[2017-02-24 11:43] jbaxleyiii commented on #1326
@Valentin-Seehausen no worries!

Take a look at this file: https://github.com/NewSpring/Holtzman/blob/master/imports/components/content/related-content/__tests__/index.js

mainly lines https://github.com/NewSpring/Holtzman/blob/master/imports/components/content/related-content/__tests__/index.js#L11-L35 and https://github.com/NewSpring/Holtzman/blob/master/imports/components/content/related-conten

[2017-02-24 14:53] calebmer commented on #1321
Yes you can. The first argument of your options function _is_ `props` 😊. It wouldn’t be very useful otherwise. The following should work:

[code]

[2017-02-24 14:54] calebmer commented on #1321
I’m going to close because the original question was answered, but please feel free to ask us more questions if you need 👍

[2017-02-24 14:54] #1321 closed

[2017-02-24 14:56] Valentin-Seehausen commented on #1326
Ah, ok, basically the same for a mutation as for a query. Thanks a lot. I will try it again tomorrow.

[2017-02-24 14:58] calebmer commented on #1326
You could also use a mock network interface like we do in tests 😊: https://github.com/apollographql/apollo-client/blob/220ba33fe7d80b425e6d8c2ff57d175ddaedd57f/test/mocks/mockNetworkInterface.ts

@jbaxleyiii’s advice was very good, so I’m going to close. Let us know if you have any more questions 😊

[2017-02-24 14:58] #1326 closed

[2017-02-24 17:00] stubailo commented on #1326
If someone wrote a post about testing react-apollo components I think that would be a very popular post!

[2017-02-24 17:02] jbaxleyiii commented on #1326
You'll have a draft by Monday 😘. I'm back from leave and raring to go

On Fri, Feb 24, 2017, 12:01 PM Sashko Stubailo <notifications@github.com>
wrote:

[2017-02-25 05:00] helfer commented on #1324
@davidye have you tried setting `skipLibCheck`? That should work around the lodash thing. The other things will have to be changed in the Apollo Client source code.

[2017-02-25 06:20] davidye commented on #1324
@helfer I just want to fix this specific issue since it's preventing us from upgrading typescript.

Updating apollo-client to typescript 2.2 is a separate issue which I didn't really dig into.

[2017-02-25 07:07] helfer commented on #1324
@davidye I see. In that case I'll try to make time to fix it over the weekend and release a new patch version for you.

[2017-02-25 23:52] agonbina commented on #1324
@helfer it would be great to release a patch with the fix from @davidye soon as I struggled with this issue after updating all my dependencies 🥇

[2017-02-26 07:06] elie222 opened #1330 "Reducer not working"
The example listed here doesn't work:
http://dev.apollodata.com/react/cache-updates.html#resultReducers

I created an Apollo provider gave it a store, dispatched an action to the store, but the callback in the example is never called.

[2017-02-26 09:26] OllieJennings opened #1331 "Cannot install via NPM"
**Intended outcome:**
running `npm install --save apollo-client` installs the latest version of the apollo client pushed to NPM

**Actual outcome:**
<img width="1188" alt="screen shot 2017-02-26 at 09 24 31" src="https://cloud.githubusercontent.com/assets/1575448/23338541/989884ba-fc05-11e6-8740-71a9346baf57.png">

**How to reproduce the issue:**
Start a brand new project, and try to install the a

[2017-02-26 09:42] OllieJennings commented on #1331
Added NPM debug log for extra information
[npm-debug.txt](https://github.com/apollographql/apollo-client/files/801830/npm-debug.txt)

[2017-02-26 10:32] Valentin-Seehausen commented on #1326
Nice. I love you guys! Postponed testing to next week, but thanks for the great answers and for the draft.

[2017-02-26 15:33] OllieJennings commented on #1331
I was being an idiot, nvm

[2017-02-26 15:33] #1331 closed

[2017-02-27 10:18] fischerman commented on #1141
Any progress on this?

[2017-02-27 10:18] alejandronanez commented on #1252
Hey @helfer. I want to start contributing back to OSS and this seems like a good start for me.

[2017-02-27 10:38] lucasfeliciano opened #1333 "Error 400: Bad Request (message: Must provide query parameter)"
I'm creating a apollo client with this custom url which is the graphql console

[code]

Then I have a pure function component which i'm binding the query/data like this:
[code]

Then my response is the html
![screen shot 2017-02-27 at 11 33 47](https://cloud.githubusercontent.com/assets/968014/23358053/b14bf092-fce0-11e6-822e-8276c9c3411f.png)

So if I try to create the client with the url `/api/g

[2017-02-27 10:47] DimitryDushkin opened #1334 "Unhandled promise rejection when error in polling query on SSR"
**How to reproduce the issue:**
1. Setup SSR
2. Setup query polling:
[code]
3. Throw error in `Samples` query's resolver.

**Intended outcome:**
Error thrown once.

**Actual outcome:**
Error thrown twice: one for SSR and another after polling interval. The problem is second throw is not catchable so it shuts down whole server.

apollo-client 0.9.0

[2017-02-27 11:09] DimitryDushkin commented on #1334
The only "fix" for this I've found is to turn off polling on SSR:
[code]

[2017-02-27 12:04] lucasfeliciano commented on #1333
It was missing the trailing slash

[code]

The error should be me clear though. 😆

[2017-02-27 12:04] #1333 closed

[2017-02-27 13:44] majodev commented on #1303
As far as i can tell, the client instance no longer exposes a way to globally handle special error codes. :(

Currently thinking about proxying the `client.query` and other methods or subclassing the ApolloClient to supply a single catch handler that just rethrows finally. Anyways, would be fairly ugly. Is this use case still on the radar (as https://github.com/apollographql/apollo-client/pull/131

[2017-02-27 14:40] bryanerayner commented on #424
Falcor has a really elegant model of caching that I believe could work really well with something like GraphQL / Apollo. The only problem is that using it currently requires 100% buy-in. If there were a way to only use JSONGraph (it provides good cache invalidation support, error support, etc. at the data storage level), and Falcor's Model, but using GraphQL for the network transport, you'd have a

[2017-02-27 17:17] thomassuckow opened #1335 "Apollo stringifies error objects when console logging."
It becomes difficult to interpret errors from Apollo because stack traces are strings and thus source-maps don't get applied.

**Intended outcome:**
Stack traces reference the file they came from

**Actual outcome:**
Stack traces are strings and show minified file names and line numbers.

**How to reproduce the issue:**
Cause apollo to output a console.error message that uses `e.stack`

It would b

[2017-02-27 17:38] xiaohanzhang opened #1336 "Unhandled error Network error: Cannot read property 'data' of undefined, 0.9.0"
this error start shows up after upgrade to 0.9.0.
`Unhandled error Network error: Cannot read property 'data' of undefined`

**How to reproduce the issue:**
It is cause by: [this line](https://github.com/apollographql/apollo-client/blob/master/src/core/QueryManager.ts#L403)
I think we should change `data: lastResult.data` to `data: lastResult && lastResult.data`

[2017-02-27 17:49] abcd-ca commented on #424
Already impressed with Apollo/GraphQL – I've started using it. Still very interested about this offline/re-sync topic

[2017-02-27 18:04] fubhy opened #1337 "Schema knowledge needed for fragmentMatcher"
Currently, when working with Interfaces/Unions, the fragmentMatcher runs into a problem when trying to detect if a field value is missing (e.g. because the previous query simply didn't include the field) or if the field simply doesn't exist on the type at all. In the latter case, the fragmentMatcher should return ``false``. However, since we don't currently have any knowledge of the types and fiel

[2017-02-27 18:35] stubailo commented on #1337
There are two options here:

1. Load the list of all interfaces/unions and the implementing types up front on startup, and use this info in fragment matcher
2. Load the data for each query inside the request. This avoids having to do a chunk of work up front.

Conveniently enough, the GraphQL query language has the information we need to convert this:

[code]

Into:

[code]

That introspection giv

[2017-02-27 18:52] helfer commented on #1336
@xiaohanzhang yeah, looks like you're right. Would you mind making a quick PR?

[2017-02-27 19:34] xiaohanzhang commented on #1336
@helfer PR created. But I am not sure how to test this kind bug fix.

[2017-02-27 20:03] helfer commented on #1277
@koenpunt I'll close this issue here because you should file it on react-apollo. When you file it there, please make sure you include a reproduction with https://github.com/apollographql/react-apollo-error-template

[2017-02-27 20:03] #1277 closed

[2017-02-27 20:04] #1243 closed

[2017-02-28 08:37] koenpunt commented on #1277
@helfer was thinking the same. But we worked around the issue by updating the data on the server, and have not had the time (and somewhat forgot 🙄), to create a reproduction case.
However the error template is nice, and that'll probably get me going a bit quicker.

[2017-02-28 10:38] michalkvasnicak opened #1342 "Performance problem with tree structures"
In our beta application we have a performance issue with tree structure.

[code]

When given provider has deep category tree then reading from cache is slow because categories are denormalized. But we don't need them to be denormalized.

[2017-02-28 12:11] michalkvasnicak commented on #1342
As a workaround I used [graphql-type-json](https://github.com/taion/graphql-type-json)

[2017-02-28 12:25] #1342 closed

[2017-02-28 20:11] mat1h opened #1343 "BatchedNetworkInterface hangs on Jest tests"
**Intended outcome:**
The following test should pass

ApolloClientProvider:
[code]

Tests:
[code]

**Actual outcome:**
The test passes, except that Jest doesn't quit. Seems like the `BatchedNetworkInterface` is holding on to a resource.

**How to reproduce the issue:**
Changing the `createBatchingNetworkInterface` to `createNetworkInterface` and would quit Jest just fine.

[2017-02-28 21:44] wmertens commented on #1300
Aside from the benchmarks, I think a nice way to denormalize the queries is as follows:

* Receive query result
* For every cacheable object in the result _(*)_
  * Copy the object into cache, or merge in the values if an object with the same id is already there
  * Create an object consisting a hidden reference to the cache object and getters to get the graphql-defined values _(**)_
  * Replace t

[2017-03-01 03:27] pseudoramble commented on #1303
Would a way to resolve this be to invoke the afterwares in both the case when a response is not OK and when the responses are OK? Something like:

[code]

[code]

[2017-03-01 04:26] #1336 closed

[2017-03-01 04:27] helfer commented on #1324
Fixed and released 🙂

[2017-03-01 04:27] #1324 closed

[2017-03-01 04:28] helfer commented on #1314
Should be fixed now.

[2017-03-01 04:28] #1314 closed

[2017-03-01 04:33] helfer commented on #1303
@pseudoramble I think that's a reasonable approach, so if you make a PR we can work together to get it merged.

One question I have is whether it should be possible for the afterware to modify the response in such a way that it no longer throws. If that's desirable, the afterware should be called even before the if (assuming that the response is modifiable).

[2017-03-01 04:34] helfer commented on #1330
Hi @elie222 could you reproduce the error using the [error template](https://github.com/apollographql/react-apollo-error-template). That would help us a lot in solving this issue quickly. Thanks!

[2017-03-01 04:36] helfer commented on #1343
@mat1h thanks for filing an issue. Can you help us figure out what resource it could be holding on to? The code of the batched network interface is pretty simple, and it doesn't require understanding the rest of Apollo Client, so it would be great if you could give it a shot! 🙂

[2017-03-01 04:38] helfer commented on #1323
Hi @Waitak. Thanks for filing an issue. I don't think this is the right repo though. Could you open it again on graphql-tag or apollo-codegen? Thanks 🙂

[2017-03-01 04:38] #1323 closed

[2017-03-01 04:45] matt-way commented on #566
@morgante Did you end up figuring out a nice way to do it? The only way I could achieve this was with a singleton store which I was trying to avoid.

[2017-03-01 05:13] stubailo commented on #566
Couldn't you do something like this:

[code]

[2017-03-01 06:52] lewisf commented on #1343
@mat1h what version of jest? i tried to reproduce it here but I couldn't: https://github.com/lewisf/apollo-network-test

[2017-03-01 07:18] matt-way commented on #566
@stubailo Thanks, exactly what I ended up doing. Just wasn't obvious that the `networkInterface` could have `use()` called after instantiating the client.

[2017-03-01 08:57] OllieJennings opened #1346 "[Question] Will Apollo Client Support React Router 4 ever?"
I have started to transition quite a few of my projects to React Router 4 as it just feels nicer and easier to work with.

Has the Apollo Client team ever thought about supporting it?

Apologies if this has been asked before.

[2017-03-01 14:33] calebmer commented on #1141
@fischerman or @dallonf if you’d like to open a PR with this change we would be happy with helping you fix the unit tests 👍

[2017-03-01 14:38] calebmer commented on #1252
Hey @alejandronanez! I’m excited to here you want to contribute 😊

This issue may be a little difficult to fix without understanding the test suite, how about looking at some of the other issues labeled [easy](https://github.com/apollographql/apollo-client/issues?q=is%3Aopen+is%3Aissue+label%3Aeasy)? (easy implies help wanted 😉) https://github.com/apollographql/apollo-client/issues/1219 and https:

[2017-03-01 14:50] calebmer commented on #1334
We should not be polling when server-side rendering, especially considering that the React components don’t even mount.

See https://github.com/apollographql/react-apollo/pull/493 which should fix the issue. Tell me if that change solves it for you.