[2017-04-05 07:53] n1ru4l commented on #1525
I am working on it here: https://github.com/n1ru4l/react-docs/blob/master/source/partial-data.md

[2017-04-05 08:12] TheoMer commented on #1539
@greduan Thank you. But first allow me to, 'ahhhhhhhhh!!!'. Ok, I feel better now.

So. data.updatePosts. likes throws an `Cannot read property 'likes' of undefined` on handleSubmitSuccess. Any ideas?

[code]

[2017-04-05 09:01] greduan commented on #1539
Wouldn't it be `res.data` or `{ data }` as argument to `handleSubmitSuccess`?

[2017-04-05 09:07] lokhmakov opened #1548 "Refetch query get right result in fetchRequest but wrong when readQueryFromStore"
Hi,

1. We have query:

[code]

2. Result return array of `__typename: "Message"`
3. When load and refresh page `messageDataOwn` return right results
4. When we refetch query then in `fetchRequest` and return from server is right results:

U can see `Array[2]`

<img width="1100" alt="screen shot 2017-04-05 at 11 24 38" src="https://cloud.githubusercontent.com/assets/94939/24698037/f2f67d12-19f7-11

[2017-04-05 09:14] #1539 closed

[2017-04-05 10:22] Dattaya opened #1549 "Query with `fetchPolicy: 'cache-only'` is not updatable via `updateQueries`"
I have a query `Sale` that I don't want to initially fetch and a mutation `OpenSale` with:
[code]

**Intended outcome:**
Console prints 'test'

**Actual outcome:**
Nothing happens

**How to reproduce the issue:**
Create a query with `fetchPolicy: 'cache-only'`, try to update it in a mutation with `updateQueries`.

I'm trying to upgrade to 1.0.2 from 0.8.6. Previously I had `noFetch: true` and ever

[2017-04-05 10:27] kemalcany commented on #1542
Thanks for the quick response @helfer . You guys are really doing a great job!

I've dug a little further and found a really nice [error message](https://github.com/apollographql/apollo-client/blob/dc0840258b08544013a7ffd33af8d4ed5a249d6c/src/data/readFromStore.ts#L154-156) getting thrown by `src/data/readFromStore`

The return from readQuery is not a promise or observable but I think that's by de

[2017-04-05 11:22] Dattaya commented on #1549
repro case: https://github.com/Dattaya/react-apollo-error-template/tree/update-cache-only

[2017-04-05 11:27] alekbarszczewski opened #1550 "Full error data not returned"
**How to reproduce the issue:**

Here is a mutation

[code]

And here is a response received by client:

![screen shot 2017-04-05 at 13 23 31](https://cloud.githubusercontent.com/assets/2742373/24703331/1bfb5088-1a03-11e7-8918-69a1e0045f5b.png)

**Intended outcome:**

It should be possible to access original error & error data after "catching" rejected query promise.

**Actual outcome:**

[code]

[2017-04-05 11:35] Dattaya commented on #1549
Removing `updateQueries` (so Apollo would perform update automatically) doesn't help either, newly received object is not shown.

[2017-04-05 11:45] derek-duncan commented on #1518
@cesarsolorzano yep looks like it – I've never seen that error because it's being swallowed.

[2017-04-05 12:46] langpavel commented on #962
Huh, if I spotted this earlier, I don't nedd to write this: https://github.com/kriasoft/react-starter-kit/blob/feature/apollo/src/core/createApolloClient/createApolloClient.server.js#L10..L43

[2017-04-05 12:50] langpavel commented on #962
@af If I spotted this earlier, I don't need to write [createApolloClient.server.js](https://github.com/kriasoft/react-starter-kit/blob/feature/apollo/src/core/createApolloClient/createApolloClient.server.js#L10..L43)

[2017-04-05 17:02] abergenw commented on #1319
I just wanted to add to the discussion that a working `resetStore` is quite important for my use case (meaning that recycled queries don't get fetched, #531).

I like the mutation approach taken by GraphQL, making it possible for the client to update only data that has changed. However, there are situations where a lot of data is modified as a result of a mutation. Including all this data in the m

[2017-04-05 20:07] elie222 opened #1551 "Query result not delivered to component if array contains null values"
I have an issue where my query works in Graphiql in my browser, but wont work for me in my React Native app.

This is a condensed version of the query:
[code]
If I don’t request `history` it works for me in RN too. When I do request `history` I don't get any data back from the server for team. The server is getting the request and sending back data from my server console logs.

And the definition

[2017-04-05 20:35] elie222 commented on #1551
Here's a gist of the code: https://gist.github.com/elie222/cb1b594e3b91f7d860454c5a9594823e

[2017-04-05 22:28] dfee opened #1552 "client.resetStore() doesn't reset the store"
**Intended outcome:**
Props change when `client.resetStore()` is called.

**Actual outcome:**
Props do not change on `client.resetStore()`.

**How to reproduce the issue:**
Checkout this minimally modified repo: https://github.com/dfee/react-apollo-error-template/tree/resetstore

**Etc.**
Is this intended? I assumed that resetting the store (upon logout for instance) would immediately reset apollo

[2017-04-05 22:45] cesarsolorzano commented on #1550
@alekbarszczewski isn't this related to #1496?

[2017-04-05 22:58] Poincare commented on #1552
`client.resetStore` refetches active queries on your page. This is intended behavior. If we didn't do this and just emptied out all of the information in the store, all of the active queries on your page would be broken since they wouldn't correspond to a query result in the store. This is mentioned in the relevant [API documentation](http://dev.apollodata.com/core/apollo-client-api.html#ApolloCli

[2017-04-06 00:44] stubailo commented on #1551
What do you mean by "doesn't work"? Does it simply silently fail? What props does your component receive, if any? Are any errors or warnings printed?

[2017-04-06 02:25] richardgirges commented on #1552
I think `client.resetStore` is most confusing when it comes to active queries that are contingent on authentication. When I call `client.resetStore` in my app after logout, what I _want_ it to do is clear out all of my active queries' data. Instead, I get a slew of 401 auth errors from my backend due to the majority of the active queries being session-based queries.

This seems heavy-handed becaus

[2017-04-06 04:41] dfee commented on #1552
The reason I filed this ticket, the spirit of the ticket per se, is what @richardgirges has described.

[2017-04-06 04:47] dfee commented on #1552
@Poincare this is what the docs say:
[code]

I am relatively new to the world of front-end, so I see everything on the front-end as a cache. When I see, "there is no data left in your store from a time before you called this method", I interpret that to mean "all Apollo data will be wiped".

Am I correct in assuming this really means:
* all active queries (queries bound to a promise) are cleared o

[2017-04-06 09:17] saudpunjwani101 commented on #1186
It's a bit weird in my case, it was working okay in testing but when I generated a signed apk in react native and run that. For some queries loading never goes false. It's just loading forever, but it works fine in testing environment

[2017-04-06 10:10] elie222 commented on #1551
This is the result I receive when I request `history`:

<img width="177" alt="screen shot 2017-04-05 at 23 30 42" src="https://cloud.githubusercontent.com/assets/3090527/24749043/4d944222-1aca-11e7-96a6-3fcea4a7e5be.png">

When I don't request `history` I receive all the props as expected (`team`, `players`, ...).

And the request always works fine with graphiql.

[2017-04-06 13:02] elie222 commented on #1551
This is the graphiql query (and works fine):
[code]

And the result:
[code]

[2017-04-06 13:05] elie222 commented on #1551
I even created a `teamHistory(teamId: $teamId)` query just now that all it does is return the history information but again, it only works with graphiql and not apollo client.

[2017-04-06 15:48] jagare commented on #1551
I've faced the same problem (in the browser not in RN) with a query resulting in nested arrays. The client get the JSON result back, however the result is empty (as seen from React-apollo). No errors. If I modify the query and remove the nested arrays it is working. And the query with nested arrays is working in GraphiQL.

[2017-04-06 16:16] thebigredgeek commented on #1552
I think the problem here is confusion due to bad naming, and possibly bad docs.  It might be worth while to change the name of `resetStore` to `refetchAllQueries`.

[2017-04-06 16:17] thebigredgeek commented on #1551
@helfer this looks like the same bug that I still need to create a test case for :D https://github.com/apollographql/apollo-client/issues/1389

[2017-04-06 16:18] thebigredgeek commented on #1550
Yeah, I think this was a breaking change at some point.  I know that, before, I was able to access the raw error in the `.catch` clause.  But I don't really deal with error handling at the request location... I deal with it globally... so I can't really relate to the pain haha

[2017-04-06 16:22] elie222 commented on #1551
Did you find a work around for it?

If I add an id to the nested query would that help?

On Thu, 6 Apr 2017, 19:17 Andrew E. Rhyne, <notifications@github.com> wrote:

[2017-04-06 16:23] thebigredgeek commented on #1549
@helfer are we testing integration of fetch policies with other more-generic cases like `updateQueries`?  That might be a good idea, yeah?

[2017-04-06 16:26] thebigredgeek commented on #1549
@Dattaya what framework-specific lib are you using, if any?  `react-apollo`?

[2017-04-06 16:27] thebigredgeek commented on #1551
In our case, we discovered today that running the graphql HoC twice on a single component with two different queries caused this to happen.

[2017-04-06 16:42] raix opened #1553 "Feature request: createLocalInterface"
Would it be beneficial to have a `createLocalInterface` when you initially are trying out apollo-client / graphql in an existing stack?

The apollo-client and graphql can be a good alternative to all the redux boilerplating when it comes to maintaining a client cache/pagination/optimistic updates etc.

For now I basically just set up graphql schemas on the client and connected it directly to the `

[2017-04-06 17:36] derek-duncan commented on #1551
@elie222 definitely try to add an `id` to the nested queries. I intermittently had failed queries (outlined in issue #1518) because the cache couldn't store data without an id. It's error is being swallowed as well, so you're not alerted of the issue.

[2017-04-06 18:08] helfer commented on #1549
@Dattaya Thanks for the repro! Quick question: does the query error initially because there's nothing in the store? If not, what is the result that you get when running it the first time (before updateQueries).

[2017-04-06 18:17] Poincare commented on #1552
These concerns are pretty reasonable. I'm not sure if we have a good solution at the moment to clear out auth'ed data from your cache. As I mentioned, just throwing away everything in the cache isn't a reasonable solution since all active queries (i.e. those with Observables associated with them) would break.

I do think the docs don't do a great job of explaining this, especially with the second

[2017-04-06 18:48] thebigredgeek commented on #1552
@Poincare well, technically you shouldn't need to clear the store if you re-fetch all queries... unless you aren't cleaning up references.  Data shouldn't remain in the store if it is no longer referenced by a query / mutation entry... it should be removed so that the GC can clear up memory... and there is just no reason to leave it there since it is no longer accessible anyway.  If the query refe

[2017-04-06 18:50] thebigredgeek commented on #1551
Well, I think that is different.  If you don't have an ID for a nested type, and you have specified `dataIdFromObject`, it will try to normalized the object under some sort of `undefined` permutation... which means it will probably try to write the different data over and over on the same index.

[2017-04-06 19:18] saudpunjwani101 opened #1554 "this.props.data.loading"
What's happening is a bit weird, I have a condition in my component that if this.props.data.loading is true, show spinner. But for some reason it's showing the spinner even when loading is false.  When I do the logging I can see that loading is false which means it's not inside that if condition anymore. I do see "Error in observer.next" in the console. And it's happening only on some specific que

[2017-04-06 19:20] saudpunjwani101 commented on #1554
Sorry for an ambigious title, wasn't sure what to call it.

[2017-04-06 19:21] #1534 closed

[2017-04-06 19:55] Dattaya commented on #1549
@thebigredgeek, `react-apollo`.
@helfer, no errors, and no result from the query as expected (`loading: false`, `error: undefined`, `person` object in `data` is missing completely, `render` is called two times as though it's received new data but no changes). This is what I'm trying to achieve: I want to fetch data in a mutation (because the DB is going to be affected), so the query has the 'cache

[2017-04-06 20:22] alekbarszczewski commented on #1550
Hmm, I am not sure if it's related but in fact I found some solution: actually ApolloError does have public property `graphQLError` which is an array of errors. Not sure if it's documented: https://github.com/apollographql/apollo-client/blob/master/src/errors/ApolloError.ts#L35.
Closing this because err.graphQLErrors it's exactly what I was looking for. Thanks.

[2017-04-06 20:22] #1550 closed

[2017-04-06 21:46] dfee opened #1555 "Union type with fragments fails upon data change."
**Intended outcome:**
I can query on a Union type. Upon resetting the store, new data is available to the component.

**Actual outcome:**
When I reset the store (refetching the query) the store fails to update the component.

**How to reproduce the issue:**
Clone this repo and run: https://github.com/dfee/react-apollo-error-template/tree/union

[2017-04-06 22:54] elie222 commented on #1551
So adding an `_id` field didn't help at all unfortunately.

I'm dealing with an array of objects btw. These objects shouldn't have ids, but even when I added them, the error remains the same.

[2017-04-06 23:14] elie222 commented on #1551
I created an error repo for the problem here:
https://github.com/elie222/react-apollo-error-template

If you don't ask for `history` in the query it works fine, but when you do request history, no document is returned to the client.

[2017-04-07 05:00] jagare commented on #1551
In my case the problem was related to the server respons not having the exact shape of the query: sometime objects where missing in the answer. However the parsing errors were swallowed. This should have resulted in an error. Instead things where loaded in the store as if everything was working, except I didn't get the data in my React graphql HoC.

BTW: I also tried implementing dataIdFromObject,

[2017-04-07 05:01] helfer commented on #1555
@dfee Thanks for the reproduction. What am I supposed to see / do with it? I just see a "reset store" button. Not clear what should / should not happen when I press it.

[2017-04-07 10:02] elie222 commented on #1551
I finally found the source of the error based on your comments @jagare. Note, this is specific to Apollo, all works fine in graphiql and looks like it should work fine. Seems to be a bug with Apollo.

Apollo wasn't happy with me sending `null` in the array.

This works fine:
[code]

This doesn't work fine:
[code]

This is the schema we're talking about btw (and in the error repo I posted above):
[

[2017-04-07 16:11] dfee commented on #1555
@helfer so when you press "reset store" you'd expect the Primary objects to be updated just like the People objects. The "Primary" query is a union query between People and Books.

The "reset store" is just used as a convenience instead of a "refetch" on each component. But fundamentally, you'll see that "People" are updated after the mutation (and a refetch), while "Primaries" aren't.

[2017-04-07 16:17] BlooJeans opened #1560 "resetStore() refetches queries that are still "active", even after those queries' components were unmounted"
I'm trying to implement logout functionality in my app, which resets / unmounts all of my views and wipes the apollo store.  `resetStore()` wipes the store and refetches all active queries and causes problems because it refetches queries that the user is no longer authed for (as per https://github.com/apollographql/apollo-client/issues/1552 ).

I think this is a "smaller more squashable bug" that

[2017-04-07 17:28] richardgirges commented on #1560
I've experienced the same problem. I believe this is a duplicate of #1319 and a PR was just merged to address this issue: #531

[2017-04-07 17:55] BlooJeans commented on #1560
ha, yea the recent PR (https://github.com/apollographql/react-apollo/pull/531) fixed it- I was 11 hours behind the latest 😆 .  Thanks for the heads up @richardgirges

[2017-04-07 17:55] #1560 closed

[2017-04-07 18:19] richardgirges commented on #1560
haha, no problemo! Pretty stoked on this fix, been waiting for it :D

[2017-04-07 18:42] dmarkow opened #1561 "refetchQueries with string arguments not updating component"
**Intended outcome:**
Given a query:
[code]

Using ```refetchQueries: ["AllUsers"]``` in a mutation should re-execute the query and update any components depending on that query.

**Actual outcome:**
While the query is re-executed, the component never updates. Using the apollo dev tools in Chrome, I can see the new User item listed in the store, but it never makes it to my component.

If I instead

[2017-04-07 19:56] edvinerikson opened #1562 "union types without fragment matcher makes entire result undefined."
I've talked with @stubailo on Slack which suggested opening a issue.
We have had some issues with unions in our app.

given this schema

[code]

and this query
[code]

[code]

**Intended outcome:**
I receive the data I queried.
[code]

**Actual outcome:**
[code]

**How to reproduce the issue:**
Try to query a union with fragments that contain unique fields for that type.

----

I know that this is

[2017-04-08 01:14] TheoMer opened #1563 "TypeError: Cannot read property 'id' of undefined at Object.dataIdFromObject"
OS: Windows 10 Pro
"apollo-client": "^1.0.2"
"react-apollo": "^1.0.0-rc.3"
"graphql-tools": "^0.10.1",
"immutability-helper": "^2.1.2"

So, I have a one to many relationship from Posts to Comments:

[code]

and a Root_Query:

[code]

Running Add_Comment_Mutation and Remove_Comment_MutationNew:

[code]

do not correctly update reactive cache, and thus my UI does not correctly reflect any additions/

[2017-04-08 05:58] cusxio commented on #1282
@jasonmorita I was wondering if you managed to find out the reason why this is happening?

i.e. Why is Apollo removing the query results from the `data` prop on mutation?

[2017-04-08 11:21] TheoMer commented on #1563
So my reading of the immutability-helper [docs](https://github.com/kolodny/immutability-helper), was that $set: [newComment], instead of `$unshift: [newComment]` which handles arrays, would replace the existing comments tree with everything minus the deleted comment, but alas no.

What am I overlooking here?

[2017-04-08 12:00] TheoMer commented on #1563
In fact the issue appears to be that `const newComment = mutationResult.data.removeComment;` is being returned as 'undefined', instead of as an object.

What is the issue here?

[2017-04-08 17:06] sarora2073 opened #1564 "__typename field prevents updates"
Hi,

High-level issue: appended __typename field causes errors when updating.

Details:
When retrieving data for a custom address type, it appears that (by design) __typename field is added to the type e.g. I have an Address type on the server, and on the client this is fetched as shown below:
[code]
The UI permits changes to this address data, and then when I take this data object (generated by a

[2017-04-08 20:04] elie222 commented on #1391
Cache staleness. I have a React Native app. If a user leaves the app running in the background for a day and reopens it, I'd like Apollo to refetch. Or if they jump to a page for which the data is already loaded after returning from a long break, I want Apollo to realise the cache is old and refetch.

If we could set an argument to the client saying the cache is old after 5 minutes that would be g

[2017-04-08 20:44] thebigredgeek commented on #1391
@elie222, try 'resetStore'?

[2017-04-08 21:08] jfalk commented on #1542
The `graphql` function seems to be running into the same issue as above when it calls `executeField`.

[2017-04-08 21:21] TheoMer commented on #1563
Ok, and after much beating of chest, I happened across an article documenting the new [update implementation](https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3).
So my code now reads as follows:

[code]
But now I am getting the following errors:

[code]

What is the issue here?

[2017-04-08 21:47] elie222 commented on #1391
Good idea. Do a resetStore after a certain timeout. Thanks.

Would be cool if you could do it on a per query basis. You probably can I'm
guessing would just start to get complicated.

On 8 Apr 2017 23:45, "Andrew E. Rhyne" <notifications@github.com> wrote:

[2017-04-08 21:58] elie222 opened #1566 "Refetch after mutation not loading data"
I have a query that works fine. I do a mutation. And then the component refreshes, Apollo has `loading` as `false`, but none of the data I expected to get is loaded. Straight after that the component is rendered once again and now I do see all the expected data. How could this be happening?

[2017-04-08 22:03] thebigredgeek commented on #1391
You might be able to hook into some sort of event with react native for "resume".  Use an interval to persist the time into phone storage (which should pause when the app is sent to background) and then on resume check and diff that against the current time.  If it's past a certain threshold, reset the store

[2017-04-08 22:23] elie222 commented on #1566
Seems like I only have this issue when doing an optimistic update. My be an issue with my update then.

[2017-04-08 22:44] elie222 commented on #1566
I finally figured out the issue. I had a nested array of objects, and I wasn't attaching a `__typename` to them for the optimistic update. Once I added the typename to every object in the array, the errors went away. One thing that is annoying is that Apollo will fail silently and just not return any data at all when it doesn't quite like what has happened.
Would be good improvement if there were

[2017-04-08 22:44] #1566 closed

[2017-04-08 22:45] elie222 commented on #1551
A different issue I just had with optimistic updates related to arrays of objects again. Again, the silent failure:
https://github.com/apollographql/apollo-client/issues/1566

I figured that one out at least.

[2017-04-09 06:04] wmertens commented on #1391
That said, a per-query staleness setting would be nice. With REST, you can
use caching headers.

But in fact, the whole caching layer assumes that everything is an object
with a unique id, and that's not generally true.

On Sun, Apr 9, 2017, 12:03 AM Andrew E. Rhyne <notifications@github.com>
wrote:

[2017-04-09 10:03] TheoMer commented on #1563
My client reads as follows:

[code]

[2017-04-09 13:57] viztastic commented on #1478
I've upgraded my app to Angular 4 and still have this problem, even when including isomorphic-fetch that @Purus and @jsfrocha describe.

[2017-04-09 14:07] Purus commented on #1478
After upgrading I don't face issue even without using the above hack.

On Apr 9, 2017 7:27 PM, "Ahmed" <notifications@github.com> wrote:

[2017-04-09 14:13] viztastic commented on #1478
@Purus see my screenshot(s) below

![image](https://cloud.githubusercontent.com/assets/8556736/24837945/79e6c984-1d82-11e7-8014-e894dd3e7654.png)

![image](https://cloud.githubusercontent.com/assets/8556736/24837948/830b7d16-1d82-11e7-90c4-23d3c045c79d.png)

[2017-04-09 14:16] viztastic commented on #1478
Ok I just came up with a fix.

I was adding the `isomorphic-fetch` to my tsconfig.json at the root of my directory.

Instead I added it to the `tsconfig.app.json` inside my `src` directory and it works fine now.

[2017-04-09 15:02] #1554 closed

[2017-04-09 15:06] saudpunjwani101 commented on #1564
What args type have u defined in the server mutation?

[2017-04-09 15:16] saudpunjwani101 commented on #1561
refetchQueries takes a query object, I don't think u can actually pass a string to it.

[2017-04-09 15:21] dmarkow commented on #1561
@saudpunjwani101 [The documentation on refetchQueries](http://dev.apollodata.com/react/api-mutations.html#graphql-mutation-options-refetchQueries) says it can take an array of either strings or objects (and the first example uses the string option).

[2017-04-09 15:31] saudpunjwani101 commented on #1561
Yeah ur right, although the query does re execute it's not resolving the updates. I'll try it

[2017-04-09 16:12] elie222 commented on #1391
Also, thinking about this a little more. It's even more of an issue on web.
If a user leaves a tab open and returns after 5 hours, I'd expect that when
the user goes to a new page Apollo reloads the data.

If Apollo can track how long ago it last queried the server for every
query, then it should be fairly simple for Apollo to automatically refetch
after a certain amount of time and avoid cache st

[2017-04-09 21:36] TheoMer commented on #1563
In addition to my original question, altering my client to:

[code]

now throws the following errors whenever one of the above mentioned mutation/updates is fired:

[code]

What is the issue here?

P.S. The full client code is as follows:

[code]

[2017-04-10 00:08] benhjames commented on #1436
@msimulcik Sorry for the delay: I've produced a minimal example repo here: https://github.com/benhjames/apollo-fragment-issue

The most important thing about this is that if you remove the `... on ReplyNode` and `... on TriggerNode` fragments from the query/mutation, it works just fine. As soon as you add in the fragments, the client stops calling `updateQueries` etc.

Interestingly, somewhere bet

[2017-04-10 00:44] jaredtmartin commented on #924
The solution is here: http://stackoverflow.com/questions/40643719/apollo-data-mutation-prop-not-passed-to-component

[2017-04-10 00:50] thebigredgeek commented on #1563
This is, quite literally, because you are attempting to access `undefined` as an object.  It appears that you are causing `undefined` to be shoved through `dataIdFromObject` somehow.  This is a problem with your JavaScript :(.

[2017-04-10 01:36] jasonmorita commented on #1282
@cusxio Actually no, because I moved the refetch logic into an async action creator because it seemed like a better way to do it. Unfortunately, since I re-architected that part, I didn't have time to debug it :)

[2017-04-10 03:42] Poincare commented on #1553
Are you suggesting that a new user would be able to run the the GraphQL schema on the client with a bunch of mocked data in order to get up and running with Apollo Client?

[2017-04-10 08:33] TheoMer commented on #1563
@thebigredgeek So, and as can be seen in my root tree (See image), an array of 25 objects exists. A message is clicked to deleteComments, as can be seen in the console.log for mutationResult, which contains the object to be deleted. The very next line after the console.log, is to delete the object from the cache (tree)!

[code]

The mutation to handle deleteComments is:

[code]
![error](https://cl

[2017-04-10 09:25] TheoMer commented on #1563
So, console logging results in client (See image):

[code]

shows that a number of objects exist, the last of which is defined as `undefined`. What am I missing here?

![error2](https://cloud.githubusercontent.com/assets/15969262/24854928/f0c8ffea-1dd7-11e7-8896-52ec0c560206.jpg)

[2017-04-10 10:31] lucasfeliciano opened #1568 "FetchMore result not passed to component if using union types"
Issue from: https://github.com/apollographql/react-apollo/issues/602 that @rpylipow reported.

I wasn't quite sure if this belongs here or apollo-client as it somewhat relates to [apollographql/apollo-client#1523](https://github.com/apollographql/apollo-client/issues/1523 "Union types & fetchMore not working together"), however my `fetchMoreResult` returns the expected results. The issue is that t

[2017-04-10 13:10] raix commented on #1553
The graphql schema resolveres could use rest endpoints or mock data.

It could be new users, or like in my case we dont have a graphql server yet - but I still want to leverage the Apollo client (I'm not keen on writing redux boilerplate code for defining a client cache for server data)

[2017-04-10 14:21] BlooJeans opened #1569 "More helpful error message for "Store error: the application attempted to write an object with no provided id""
I just ran into `Store error: the application attempted to write an object with no provided id but the store already contains an id of " + escapedId.id + " for this object.` in `writeFieldToStore`.  I'd seen it before and figured it was because of a missing `id` somewhere, but the message itself only tells you what id already existed in your store, but in my case, that didn't really help me determ

[2017-04-10 14:44] BlooJeans commented on #1569
Also worth pointing out that the apolloReducer updates the apollo state with the reducerError but doesn't console.warn/error it ( https://github.com/apollographql/apollo-client/blob/8cfc80e0e8709bd1d0cb5d96aa056bce4b81e84b/src/store.ts#L124 ).  In my case, by checking redux, I see that the reducerError gets set, but I don't see any warnings or errors and `data.error` in my query is null

[2017-04-10 14:48] nicolo-paganin commented on #1568
yes, same problem for me.

[2017-04-10 15:12] sarora2073 commented on #1564
I have a customer type which has an embedded address input type. Note: create, read and delete operations are successful against this schema, and *even updates work in the Graphiql UI* using the schema, resolver function, so i'm confident the code is fine. Updates only fail on the client side, and the error message explicitly says it doesn't like the __typename field on the embedded Address (input

[2017-04-10 16:20] dahjelle opened #1570 "Deleting data with `writeFragment`"
**Intended outcome:** I'd like to be able to selectively remove data from the query store via the imperative API (i.e. `client.writeFragment` and `client.writeQuery`). Something like:

[code]

or

[code]

Is there a way to accomplish this?

**Actual outcome:** If I try either of the two above constructions, the data still exists and can be read back out. You can see this in [this example](https://

[2017-04-10 16:41] thebigredgeek commented on #1391
@wmertens I think the cache control could be partially handled by a pluggable cache interface.  You could implement and plug in a "no-op" cache interface if you don't want caching, for instance.

[2017-04-10 17:44] samhagan commented on #1563
@TheoMer I think your error may be `mutationResult.deleteComments` => `mutationResult.data.deleteComments`

[2017-04-10 21:08] #1563 closed

[2017-04-10 21:24] greenkeeper[bot] opened #1572 "An in-range update of @types/chai is breaking the build 🚨"
## Version **3.5.0** of [@types/chai](https://www.npmjs.com/package/@types/chai) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2F%40types%2Fchai-3.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/chai
    </td>
  </tr>
  <tr

[2017-04-10 21:36] cesarsolorzano commented on #1569
This is exactly #819 and #1518

[2017-04-10 21:42] #1569 closed

[2017-04-10 22:36] cesarsolorzano commented on #1525
@n1ru4l great! I'm going to close this now, but feel free to re-open this issue in [apollographql/react-docs](https://github.com/apollographql/react-docs/issues) so it can be discussed there.

[2017-04-10 22:36] #1525 closed

[2017-04-11 03:01] export-mike commented on #161
Union types are interesting I guess you would have maybe something like this?

[code]

The client code would need to check for the shape of the response to handle error?

[2017-04-11 04:20] sarora2073 commented on #1564
update: i was able to resolve this in a way that makes any "root cause" fix unnecessary, at least from the use case i'm dealing with which is a typical edit form in an angular app. It turns out that when I subscribe to the results of apollo-angular query, and bind those to the editForm, the object I bind to is immutable by design, so I can't just rely on it to store form edits as I was trying to d

[2017-04-11 06:04] MingLoan opened #1573 "[Error: Network error: Network request failed with status 200 - "undefined"]"
I am getting
[Error: Network error: Network request failed with status 200 - "undefined"]
once I do query/mutation using Apollo-Client.

I would like to know the source to produce it.

Can anyone tell me is it the issue from
1. query language, `gql`query { ... }``, or,
2. server side settings, or,
3. apollo client network settings, `createNetworkInterface` ?

Thanks.

[2017-04-11 06:32] wmertens commented on #1391
yes, but still, cache in-alidation is the hard thing, and everybody writing
their own won't help…

On Mon, Apr 10, 2017, 6:41 PM Andrew E. Rhyne <notifications@github.com>
wrote:

[2017-04-11 06:42] MingLoan commented on #1573
{ variables: { ... },
  refetch: [Function: bound ],
  fetchMore: [Function: bound ],
  updateQuery: [Function: bound ],
  startPolling: [Function: bound ],
  stopPolling: [Function: bound ],
  subscribeToMore: [Function: bound ],
  loading: false,
  networkStatus: 8,
  error: [Getter] }

  networkStatus is 8. In document, it says 'No request is in flight for this query, but one or more errors wer

[2017-04-11 07:40] TheoMer opened #1574 "Best Practise: For deleting item(s) from new imperative store using update"
Is there one (code example(s)) available? An deleteFragment(options) would be nice.

[2017-04-11 07:53] excitement-engineer opened #1575 "Refetch not working as expected"
I am trying to use the refetch function to allow the user to refetch the query if an error occurs. So if an error occurs I show a retry button.

I was testing out my implementation of the refetch function and I noticed unexpected behavior. In order to test my implementation I turned off the localhost server that the application was running on. This resulted in an error and enabled us to refetch us

[2017-04-11 09:16] excitement-engineer commented on #1575
I fixed it! Turns out I had to set `notifyOnNetworkStatusChange: true` in the options of the query.

[2017-04-11 09:16] #1575 closed

[2017-04-11 10:15] TheoMer commented on #1574
So, the workaround I have currently settled on is as follows:

**My Root Query**

[code]

**My Remove Comment Mutation**

[code]

**My Remove Comments Code**

[code]

Even though the deletion takes place successfully, albeit a complete comments rewrite in the allPostes tree for the specified post id, I'm still getting the following error in devTools:

[code]

What's the issue here? And, yes, I wel

[2017-04-11 16:15] thebigredgeek commented on #1391
Yeah it can definitely be challenging, but there are already so many patterns for cache handling server-side.  I think we could use some of those to be honest.  The difficult part, to me, is how to propagate cache invalidation to downstream modules that depend on state that exists in the cache... not so much the cache invalidation mechanism itself.

[2017-04-11 18:16] #1532 closed

[2017-04-11 22:14] cesarsolorzano commented on #1573
@MingLoan it looks like this is related to the server. But, I'd encourage you to post this question on Stack Overflow or the Slack channel, you're likely to get a better answer there.

I'm closing this issue since it doesn't look like it's a bug report or a problem with Apollo Client.

[2017-04-11 22:14] #1573 closed

[2017-04-11 22:32] cesarsolorzano commented on #1542
@kemalcany Apollo actually uses a try/catch block in order to prevent this. So, I'm closing this since this is the current intended behavior.

I'll let @helfer discuss the design question and therefore to reopen it if that's the case.

[2017-04-11 22:32] #1542 closed

[2017-04-11 23:10] rgoldfinger opened #1576 "Error is thrown on every store update"
Apollo is throwing a previously handled error on every store update.

Here's what's happening:
I'm getting an (expected) 401 back from a resolver:
![screen shot 2017-04-11 at 3 08 41 pm](https://cloud.githubusercontent.com/assets/5637592/24932968/c627d576-1ec8-11e7-88d0-ec6962fcf912.png)

This error is handled in a `graphql` HOC:
[code]

Nothing is logged to the console here, as expected.

However

[2017-04-12 05:33] cusxio commented on #1542
@helfer, @cesarsolorzano

`readQuery` throws an error whenever the cache/store is empty as mentioned [here](https://github.com/apollographql/apollo-client/issues/1542#issue-219257573).

However, I have a use case where I need to conditionally check if the cache exists in the store, if it exists, update it via `writeQuery`, if not, ignore it.

because `readQuery` throws an error when the query fail

[2017-04-12 05:56] PCreations commented on #1574
Great point, duplicate of #1570

[2017-04-12 07:27] abhiaiyer91 commented on #1542
Would it be alright if readQuery returned null with the helpful error message? Am i the only one not a fan of try/catching all my readQuerys?

[2017-04-12 07:51] helfer commented on #1542
I think @cesarsolorzano is right here. Since this isn't a promise API, throwing an error is the logical thing to do if the data you asked for isn't there. I agree that it would be a nicer API if we could just return `null` and a list of errors, but that would be a breaking change which we can't practically do until 2.0.

[2017-04-12 08:23] majodev commented on #1186
Really not sure how to reproduce this, `NetworkStatus` however works as expected, so you can use a little helper like this as a workaround to properly track the loading state in your components, until this issue is fixed:
[code]

[2017-04-12 08:35] saudpunjwani101 commented on #1186
Well I fixed it, it didn't have to anything to do with Apollo client. It was happening because of something other component. It's strange though cuz it worked in debug mode and not in production.

[2017-04-12 11:24] greenkeeper[bot] opened #1577 "An in-range update of webpack-bundle-analyzer is breaking the build 🚨"
## Version **2.4.0** of [webpack-bundle-analyzer](https://github.com/th0r/webpack-bundle-analyzer) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fwebpack-bundle-analyzer-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack-b

[2017-04-12 13:31] 0x6e6562 opened #1578 "Shadowing previously cached objects"
I _think_ I've run into a situation where a cached value gets shadowed by a subsequent query response, but I'm hoping the issue is in my code.

**Intended outcome:**

After running this query, the cache should be populated with `Group` objects:

[code]

This initial caching occurs as expected.

Then if another component requests a query with `Group` objects, it looks like the results of the second

[2017-04-12 14:12] 0x6e6562 commented on #1578
I've discovered the bug, which as expected, was in my own code. Turns out that a server side DB query returned the wrong column for the object id in the Apollo cache and this effectively `polluted` the client side cache with a bogus id.

I'm not quite sure why the Redux component gets an undefined value injected into it's `props` as a symptom, but the cause was a bug in my DB code.

For anybody re

[2017-04-12 14:12] #1578 closed

[2017-04-12 14:42] Florentijn commented on #1186
+1. We have it in our react application as well.
What we do to get this strange loading behaviour:

* Login to portal.
* Data gets queried and displayed normally.
* Logout user. --> Component that queried data unmounted.
* Login new user. --> loading in data prop stays true.

[2017-04-12 14:42] elie222 opened #1579 "readFragment - Can't find field on object"
I get an error if I do something like this and the property doesn't exist:
[code]

The error I get is:
[code]

Why is there an error if a field doesn't exist? It does exist in the schema, just not on the object in the Apollo cache.

[2017-04-12 17:54] helfer commented on #1577
False flag fixed with #1580

[2017-04-12 17:54] #1577 closed

[2017-04-12 17:56] helfer commented on #1547
Obsolete with #1580

[2017-04-12 17:56] #1547 closed

[2017-04-12 18:03] greenkeeper[bot] opened #1581 "An in-range update of fetch-mock is breaking the build 🚨"
## Version **5.10.0** of [fetch-mock](https://github.com/wheresrhys/fetch-mock) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Ffetch-mock-5.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      fetch-mock
    </td>
  </tr>
  <tr>

[2017-04-12 18:08] RupenAnjaria commented on #1213
I was able to fix this by upating webpack.config.js with below lines:

`          'Promise': 'es6-promise',
          'fetch':   'imports-loader?this=>global!exports-loader?global.fetch!whatwg-fetch'`

Note that we have added -loader after exports

[2017-04-12 18:32] greenkeeper[bot] opened #1582 "An in-range update of graphql is breaking the build 🚨"
## Version **0.9.3** of [graphql](https://github.com/graphql/graphql-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fgraphql-0.9.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      graphql
    </td>
  </tr>
  <tr>
    <th align=left

[2017-04-12 18:35] helfer commented on #1581
False flag, see #1580.

[2017-04-12 18:35] #1581 closed

[2017-04-12 18:36] helfer commented on #1582
False flag, see #1580.

[2017-04-12 18:36] #1582 closed

[2017-04-12 18:45] #1572 closed

[2017-04-12 18:50] helfer commented on #1579
@elie222 you cannot read partial data out of the Apollo store. The reason behind this is that we think it's very hard to reason about what data will be available in your UI component. It's much easier to do things if you either have a complete result or no result at all.

However, if you have a really good use-case, we can definitely revisit that decision.

[2017-04-12 18:50] #1579 closed

[2017-04-12 18:55] odigity commented on #161
What about the pattern described in this article?

https://medium.com/@tarkus/validation-and-user-errors-in-graphql-mutations-39ca79cd00bf

I just started using GraphQL/Apollo/React last week -- first time making a client-side app, so consider me ignorant of best practices -- but I applied the `mutation { model, errors }` pattern for my login/signup forms (only ones I've done so far) and it seems

[2017-04-12 18:58] helfer commented on #1562
@edvinerikson agreed, this is definitely unexpected and I'd really like to find a way to solve this. I think the first thing we could do is document the alternative fragment matcher much better, and maybe even make it the default.

The main issue is that we can't actually detect when you're trying to match a fragment on a union or an interface type. All we know is that a fragment type condition di

[2017-04-12 18:59] helfer commented on #1576
Thanks @rgoldfinger, I'd really like to debug this. Could you build a quick reproduction using the [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template)?

[2017-04-12 19:04] helfer commented on #1570
@dahjelle: this is indeed not something that's easy to do at the moment. What is your concrete use-case? Is it to invalidate the data or to purge it from the store? Depending on what people actually want to do, it might make sense to implement an invalidation mechanism or a way to delete objects from the store.

As an experiment, I'd be more than happy to accept a PR that implements `deleteFragmen

[2017-04-12 20:46] elie222 commented on #1579
So I'm a little confused how it's supposed to work. Why I am listing the
subfields at all when doing readFragment? And not just requesting the
document by id and receiving the entire document. The way things are now I
have to guess / keep track of what the shape of the document is at any
given time. Unless I'm missing something.

On 12 Apr 2017 21:50, "Jonas Helfer" <notifications@github.com> wrot

[2017-04-12 21:01] rgoldfinger commented on #1576
Sure, I will try to get a repro soon. Meanwhile, after some debugging, it looks like it's happening while the component that made the query is unmounted. Once it's re-mounted the errors stop.

[2017-04-13 02:13] dahjelle commented on #1570
I guess I'd say invalidate the data. Purging it from the store isn't really necessary in my case, though that would be fine, too.

A little more background: my storage back-end is in CouchDB, with CouchDB documents being served up via GraphQL. To keep the front-end up-to-date, I'm using the `_changes` feed to catch changes in documents, and then updating the store as appropriate. This includes doc

[2017-04-13 04:39] helfer commented on #1570
Maybe worth knowing: When you write `{}` to the store that gets merged with the object that was previously there, so nothing changes. Have you tried writing `null` or `undefined` and seeing what happens? Maybe it'll throw an error, but maybe it'll actually do something close to what you want.

[2017-04-13 05:01] #1518 closed

[2017-04-13 12:00] TheoMer opened #1586 "Apollo plugin missing from Chrome"
OS; Windows 10 Pro
Browser: Chrome Version 56.0.2924.87 (64-bit)
Apollo Client Developer Tools 1.0.8.1
apollo-client: "^1.0.2",
react-apollo: "^1.0.0-rc.3",

So, I have the plugin installed in chrome, as can be seen in the top right hand corner of the attached image, but it no longer appears in devTools.

I have uninstalled, and reinstalled the plugin, but still the issue remains the same.

What i

[2017-04-13 12:10] intellix commented on #1586
If you're lazily-loading the client, then this is related: https://github.com/apollographql/apollo-client-devtools/issues/26

[2017-04-13 13:14] elie222 commented on #1579
I see it in the docs now:
[code]

Honestly this feels like a bad design decision, why throw an error instead of just returning null? Same way as graphql server would do.
Feels like this issue should be reopened.

[2017-04-13 19:02] rgoldfinger commented on #1576
Got a repro: https://github.com/rgoldfinger/react-apollo-error-template

[2017-04-13 20:26] nate0001 commented on #1419
This would be nice. I'm working on a project using graphql and we will be doing queries with sensitive data that can't stay around in memory. Being able to disable cache for these queries would be great. I'd rather be able to use apollo for these instead of doing async calls myself.

[2017-04-13 20:53] ztratar opened #1588 "Optimistic Response Malformed Data Causes List Response to Empty Out"
We're building a chat app, and are using optimisticResponse combined with updateQueries.

The following code (screenshot) works well. The optimisticResponse is combined with our other message data, and the messages array is 1 greater than before.

![image](https://cloud.githubusercontent.com/assets/955182/25023880/7ec03c58-2050-11e7-879b-9414ac9edba1.png)

The following code, however (screenshot),

[2017-04-13 21:12] Florentijn commented on #1186
Never mind. Maybe this is helping someone: Updating "apollo-client" from `1.0.0-rc.2` to `1.0.3` and downgrading "react-apollo" 1.0.0-rc.2 to 0.8.3" seem to fix the loading stays true issue I had for now. 👍

[2017-04-13 21:33] tscanlin opened #1589 "What's the best way to refetch queries when using batching?"
I was able to get refetch working with simple queries in this PR:
https://github.com/apollographql/apollo-client/pull/1274

However, now we are switching to batched queries and need to essentially retry the request after refreshing an auth token.

Currently this is the flow:
1. Initial request is made and responds with a 401
2. Request is made to refresh the token (endpoint not part of graphql) re

[2017-04-14 00:13] Poincare commented on #1589
Is the second authed query a force fetch (i.e. a "network only" query)?

[2017-04-14 01:28] tscanlin commented on #1589
Yes it is

[2017-04-14 07:10] elie222 opened #1590 "writeFragment replacing entire document"
If I update only one field in a document it removes all other fields from the document. Seems like it would be better to just update the single field and not touch the rest of the document.

[2017-04-14 10:04] Akryum commented on #585
@stubailo Is anything planned to have a nice included solution to automatically cast strings into Dates?

[2017-04-14 10:11] Akryum commented on #585
I was thinking, maybe we could do something like this:

[code]

[2017-04-14 12:37] cesarsolorzano commented on #1588
closing in favor of #1273

[2017-04-14 12:37] #1588 closed

[2017-04-14 16:17] cesarsolorzano commented on #1586
@TheoMer you should discuss this in [apollographql/apollo-client-devtools](https://github.com/apollographql/apollo-client-devtools/issues/) 🙂

Closing since this isn't a bug or a problem with Apollo Client.

[2017-04-14 16:17] #1586 closed

[2017-04-14 19:02] khankuan opened #1591 "Debugging network errors"
Hi, i'm using the `graphql` container component and has encountered an error. The logs that I'm seeing are:
[code]
How should I go about debugging?

[2017-04-14 20:18] dahjelle commented on #1570
@helfer I did try `null` and `undefined` as the `data` to `writeFragment` and got back the same result as writing `{}`.

[2017-04-14 21:35] khankuan opened #1593 "Uncaught exception on batchedNetworkInterface"
[code]
Hi, has anyone encountered the error before?

[2017-04-14 23:52] cesarsolorzano commented on #1548
@lokhmakov could you provide a reproduction using the [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template)?

[2017-04-15 03:21] #1531 closed

[2017-04-15 03:37] #1574 closed

[2017-04-15 03:41] cesarsolorzano commented on #1591
@khankuan you will probably get a better answer to your question if you post it on Stack Overflow or the Slack channel 🙂

[2017-04-15 03:41] #1591 closed

[2017-04-15 03:51] khankuan commented on #1591
After some research, I think the library swallowed the error here:
https://github.com/apollographql/apollo-client/blob/master/src/transport/networkInterface.ts#L203

It is catching an error and creating a new one. I believe fetch attempts to read the body as json and has thrown a non-http error but apollo-client has handled the error and returned a http error. Do you think it is a good idea to set

[2017-04-15 11:25] grinono opened #1595 "function"
**Intended outcome:**

**Actual outcome:**

**How to reproduce the issue:**

[2017-04-15 11:26] #1595 closed

[2017-04-15 14:35] peitalin commented on #604
@carobeta
Not sure if this helps, but you can inject the redux-persist state directly into apollo-client, with
`getStoredState({ storage: localStorage }, (err, rehydratedState) => { ... }`

e.g:
[code]

[2017-04-15 22:26] #1593 closed

[2017-04-16 18:57] MarcBernat commented on #1233
@kurmeroli The first solution doesn't work for me. I tried with:

[code]
with
[code]

And works fine. The same for ES6:

[code]

More: [https://github.com/expressjs/cors](url)

[2017-04-16 19:27] yattias opened #1598 "readQuery does not include changes made by writeFragment"
I think I am misunderstanding an important point in regards to local cache function [documented here](http://dev.apollodata.com/core/read-and-write.html)

**Intended outcome:**
To fully update one document in my cache in such a way where if the document is updated by ID with `writeFragment`, executing a subsequent `readQuery` should include my updated document.

The use case here is that my app is

[2017-04-17 00:35] sheeldotme commented on #1324
@helfer @stubailo, I'm not sure this issue has been fixed adequately.

For the use case where one is using lerna (I couldn't see a way to prevent optional dependencies from being installed), or, the use case where one does want to take advantage of most of the optional dependencies, one wouldn't want to `npm install --no-optional`, because this would affect all project dependencies not just react-

[2017-04-17 01:57] gregorskii opened #1599 "Correct way to get response data in "useAfter" middleware"
Hi there,

I am using Apollo Client on a test app which returns JWT tokens in the responses. I am trying to use a "useAfter" middleware to obtain the token on my login/signup graphql requests. I do not want to duplicate logic in the places where login and signup are called, I was thinking I could apply a useAfter middleware to strip the value from the response.

This works, but seems to not be the

[2017-04-17 13:54] neilff opened #1600 "Best way to store only specific queries / results in localstorage?"
I'm using `redux-persist` alongside Apollo, I've been able to cache the entire store quite easily by pushing all of the data inside `store.apollo` into localstorage. This results in faster startups for my app which is great.

My problem with doing this however is that by caching the entire Apollo reducer state, I am potentially caching a lot of data (e.g. 5-10+ megabytes of data). I wanted to know

[2017-04-17 14:38] benhjames commented on #1436
@helfer I think I found the culprit for this: https://github.com/apollographql/apollo-client/blob/master/src/data/fragmentMatcher.ts#L146

Currently (and as noted in the comment there), the `HeuristicFragmentMatcher` will positively match a `TriggerNode` fragment with a `ReplyNode` fragment despite referencing different (interface) types. Ultimately that results in `hasMissingField` being set to `

[2017-04-17 18:34] ztratar commented on #1588
Thanks!

[2017-04-17 23:26] tscanlin commented on #1589
We ended up just using `refetch` from `applyBatchAfterware`.

[code]

[2017-04-17 23:26] #1589 closed

[2017-04-18 19:01] helfer commented on #1598
Thanks @yattias! Could you put this into a repro using the [error template](https://github.com/apollographql/react-apollo-error-template)?

[2017-04-18 19:23] helfer commented on #1598
How are you making sure that the Asset you're inserting in the first query becomes part of the assets in the second query? Apollo Client can't magically know that `assets` is a list of all Assets, you have to manually insert the asset into the list of Assets.

[2017-04-18 20:01] khankuan opened #1604 "Disabling cache-and-network for SSR"
I encountered a scenario where `cache-and-network` resulted in server side rendering resolving before the data is ready. Currently, the props of the component is passed in to `graphql` container but we might need a way to pass in context so that we can differentiate server from client.

This might also be related to #1419.

[2017-04-18 23:04] dfee commented on #1555
@helfer let me know if i can do anything more here. Thanks

[2017-04-18 23:17] khankuan commented on #1604
I've just found the solution to that:
[code]
Closing issue :)

[2017-04-18 23:17] #1604 closed

[2017-04-19 03:06] yattias commented on #1598
Hey @helfer sorry, there was mutation in there i forgot to add.

You can close this actually, the issue has been resolved once I updated to version 1.0.2. This is no longer an issue for me 👍

[2017-04-19 03:22] yattias opened #1605 "When creating a record directly against local cache, Apollo behaves unexpectedly if one of the optional fields is missing"
**Intended outcome:**
To create a record locally which will be synced at a later time to the server. The goal is to read from cache, append to the cached array and save directly to cache.

**Actual outcome:**
When creating the record locally as [described here](http://dev.apollodata.com/core/read-and-write.html#writequery-and-writefragment) Apollo "empties out" my local query cache.

This issue on

[2017-04-19 03:38] abhiaiyer91 opened #1606 "Discussion: read/write methods"
Hey all! This isn't a bug per say, but something I'd like to hash out.

When using `readQuery` `writeQuery`, I often forget the same variables used between readQuery, writeQuery.

[code]

and then with writeQuery:

[code]

I don't know how many times I've messed this up and spent debugging why I was getting unexpected results!

I know I know, i can just create a common variable to share between my

[2017-04-19 03:55] helfer commented on #1606
Seems like that would mean you can only read and write a single query, which would severely restrict the usefulness of that API.

[2017-04-19 04:27] dfee commented on #1555
FYI – I saw [documented on `graphql-tools`](http://dev.apollodata.com/tools/graphql-tools/resolvers.html#Unions-and-interfaces) that that package requires `__resolveType` to be specified for interfaces and unions. Yet, the error persists.

A brief overview of what does and does not work:
*Fails*
[code]

*Succeeds*
[code]

Even more strangely, when `props.data.subscribeToMore.updateQuery` is called

[2017-04-19 07:12] abergenw commented on #1409
I'm currently experiencing performance problems as a result of running mutations. Typically, when I run a mutation the store gets updated 3 times; before the mutation is sent to the server (regardless of `optimisticResponse` or not), after the mutation response has been received and finally after `refetchQueries` response has been received.

This is problematic for two reasons. First, and most imp

[2017-04-19 13:09] #1598 closed

[2017-04-19 14:39] jacobk commented on #1552
I agree that `resetStore` is confusing and multiple tickets have been raised both here and in react-apollo trying to reason about it's purpose and intended behavior (search "resetStore").

https://github.com/apollographql/react-apollo/pull/531 was recently merged for the purpose of trying to deal with `resetStore` refetching queries it shouldn't but is now causing issues with `refetchQueries` (see

[2017-04-19 14:57] joefraley commented on #1541
I was having this conversation at work today. What about these two cases:

1. Terminating a file upload.
2. Sparing the clients data usage. Apollo throws out the old result, but the client is still forced to _load_ the result, right?

[2017-04-19 18:16] helfer commented on #1555
Thanks @dfee and sorry for the delay, I'll take another look today!

[2017-04-19 20:45] ndarilek opened #1608 "Query fails with fragments on interfaces, works without"
**Intended outcome:**

I have a schema like so:

[code]

In my Vuex store, I implement the query like so:

[code]

I expect this will return an invoice, getting the common items from my LineItem type, as well as the specific data on both FixedLineItem and TimeLineItem. The main difference between these is that TimeLineItem has `hours` and `rate` fields, and its `total` is a resolver that multiplie

[2017-04-19 23:54] Poincare commented on #1605
If I'm understanding correctly, this is intended behavior since if you update the store with a result that's missing `createdAt`, it's going to break the existing query observer on the page associated with the query containing the `createdAt` field.

[2017-04-20 06:52] helfer commented on #1608
Hey @ndarilek. I think using the new fragment matcher will solve this problem for you (see #1483).

Here's how to use it:

[code]

and then pass it to Apollo Client in the constructor: `const client = new ApolloClient({ fragmentMatcher: fm });`

To figure out the exact introspectionQueryResultData to pass, you can run this query against your server:
[code]

[2017-04-20 12:25] yattias commented on #1605
Hey @Poincare yes, that's exactly what I did however I raised the issue here because I think Apollo should be throwing an error or at least a warning in such a case. Took some time before I figured out what was actually happening.

[2017-04-20 14:02] Poincare commented on #1605
@yattias I believe that an error should be thrown within the observer for your query as soon as the query breaks.   Are you sure this is not the case? If you're using react-apollo, maybe the error is being swallowed.

If this is not the case, it would be great if you could contribute a failing unit test that shows this.

[2017-04-20 14:06] Poincare commented on #1409
@abergenw Thanks for the issue details. As mentioned on Slack (reproduced here in case anyone else can help as well), it would be fantastic to get a reproduction of this issue through either the [benchmarks](https://github.com/apollographql/apollo-client/tree/master/benchmark) or through something like @nss213 's [apollo-perf-test](https://github.com/nss213/apollo-perf-test).

[2017-04-20 17:58] dfee commented on #1555
With @helfer's help I believe we've uncovered my problem, and I'll provide a synopsis here:

**Problem**
Using `union` (or `interface`) ObjectTypes, requires providing a custom `fragmentMatcher` property to the constructor options of `apolloClient`.

**What's going on**
I'm not entirely clear on this (JS / TS is a second language for me, so I've really just a cursory understanding) but the code fo

[2017-04-20 18:16] abergenw commented on #1409
Thanks @Poincare. I'm studying the code trying to comprehend how apollo works and whether it is a good fit for my use case at all (large amounts of data). I can set up something that reproduces the profile posted above but this really seems to be something that happens as soon the amount of data and queries grow (culprit being `diffQueryAgainstStore` and `graphql-anywhere`). To make things worse,

[2017-04-20 18:36] cesarsolorzano opened #1611 "Validate that the data matches the shape of a query before writing it back into the store"
This issue combines the problem described in #973 #1123 #1273 #1293 #1588 #1605

**Intended outcome:**
Apollo should throw an error or a warning when the returned data from `updateQueries` or `reducer` does not match the shape of the query that is intended to be updated.

**Actual outcome:**
Apollo flushes the data without any warning.

An insight into this problem is [here](https://github.com/apo

[2017-04-20 18:36] cesarsolorzano commented on #1605
The problem with this error being swallowed has been extensively reported, closing this in favor of #1611

[2017-04-20 18:36] cesarsolorzano commented on #1273
Closing in favor of #1611

[2017-04-20 18:36] #1273 closed

[2017-04-20 18:37] #1605 closed

[2017-04-20 20:19] yattias commented on #1605
@Poincare the error is being swallowed somewhere. I will provide a unit test for this but it will take me a bit of time. Let's keep this open for now please.

[2017-04-20 20:26] Poincare commented on #1605
I believe @cesarsolorzano is right. This issue can be closed since there is another one that describes exactly this problem.

[2017-04-20 20:55] cesarsolorzano commented on #1605
@yattias  as a matter of fact, the error is being swallowed [here](https://github.com/apollographql/apollo-client/blob/2ee7971938eba4c19f7de93ff182a6d55d145b44/src/core/QueryManager.ts#L923-L930), although the solution to this isn't that simple. If you are interested about this, there's more information in the issue mentioned above. 🙂

[2017-04-20 21:06] decafdennis commented on #1555
Great writeup @dfee!

I want to add: there's a huge advantage to using the `IntrospectionFragmentMatcher` because it will actually throw an exception if you query for a union/interface type that it doesn't know about, whereas the default `HeuristicFragmentMatcher` fails silently and the only symptom is your component not updating. For me, switching to the `IntrospectionFragmentMatcher` uncovered a

[2017-04-20 21:09] helfer commented on #1555
I'm thinking about printing a warning to the console any time someone uses fragments but doesn't use the introspection fragment matcher. Do you guys think that would be a good approach?

[2017-04-20 21:29] dfee commented on #1555
@helfer I think that would be a tremendous approach. In fact, what @decafdennis is saying is the final point I should've made! This would be incredibly helpful as a web search for the error will inevitably turn the user to using the `IntrospectionFragmentMatcher` (as opposed to the current situation: a silent fail).

[2017-04-20 21:29] decafdennis commented on #1555
@helfer I think that would be great! Although that's assuming there's a good reason to keep the `HeuristicFragmentMatcher` the default fragment matcher, which I'm not clear on, because otherwise why not just switch to an empty `IntrospectionFragmentMatcher` by default?

[2017-04-20 21:50] helfer commented on #1555
The main problem is that the introspection fragment matcher needs to know about all the union and interface type, otherwise those fragments will never match, and no error will be thrown.

The heuristic fragment matcher is the best way to get started because it doesn't require a build step, and it doesn't require people to manually enter information about their types, as long as their app doesn't u

[2017-04-20 22:10] yattias commented on #1605
Got it. Cool. Just wanted to make sure it's being tracked.

[2017-04-20 22:11] decafdennis commented on #1555
@helfer Assuming you're not using fragments on unions on interfaces, in what situation would an introspection fragment matcher (without type info) fail, where the heuristic fragment matcher would succeed?

[2017-04-20 22:28] helfer commented on #1600
Hey @neilff! Apollo client only needs the 'data' part, so you can safely discard everything else. However, I don't think that will help all that much, because that's probably where most of the store size comes from anyway. Are there specific queries that you want to keep?

[2017-04-20 22:30] helfer commented on #1599
@gregorskii I think your approach is correct. Unfortunately you have to clone the response in order to parse it. We know about this problem, and @thebigredgeek has implemented a solution which we'll use in the new network interface that we're starting work on soon.

[2017-04-20 22:30] #1599 closed

[2017-04-20 22:32] helfer commented on #1590
What do you mean by document? Could you provide an example? Apollo will merge objects unless you replace them entirely, I believe.

[2017-04-20 22:35] helfer commented on #1546
Hey @chrissm79. I think the right solution for your use case is a custom resolver, but you'll still have to keep track of the variables manually in order to know which queries to run against the store. We're going to make this a lot easier in the new API though.

[2017-04-20 22:35] #1546 closed

[2017-04-20 22:37] helfer commented on #1543
Thanks @seeden ! Where in the docs do you think we should add this? Maybe you could make a PR?  🙂

[2017-04-20 22:38] helfer commented on #1530
@pleunv this is not really a bug imho. You can clone the response and then parse it. However we're woking on a new network interface that pre-parses the response to make this easier, so it shouldn't be a problem any more soon.

[2017-04-20 22:38] #1530 closed

[2017-04-20 22:45] helfer commented on #1555
It wouldn't, but there's no way to tell if a fragment doesn't match because it shouldn't, or because type info is missing, so there's no way to print a warning when type info is missing. with the heuristic matcher we would just print a warning any time a fragment doesn't match.

[2017-04-20 22:50] neilff commented on #1600
Thanks for responding @helfer, I want to store only a specific `__typename`. If all I need is the `data` portion of the store, would filtering the store on `__typename === 'DesiredType'` and pushing that into `localstorage` work?

[2017-04-20 22:53] decafdennis commented on #1555
Gotcha, thanks for explaining.

To reiterate, I think the warning in the heuristic matcher is a great idea. 👍

[2017-04-20 23:11] gregorskii commented on #1599
Awesome thank you for the response.

[2017-04-20 23:35] yury-dymov commented on #1568
same problem for me, but everything works fine with apollo-client 0.9.0 and below

[2017-04-20 23:48] helfer commented on #1600
Yes, that would work, but you'll have to preserve the path from the root to those objects to make sure that the query that the objects were fetched with can be successfully run against the store again. What does your query look like?

[2017-04-21 00:14] helfer commented on #1611
I don't think we can solve this for 100% of all cases without schema knowledge, but maybe there is a heuristic approach that will work in 99% of the cases, such as comparing the result object before and after, and checking that their shapes are identical?

[2017-04-21 00:23] helfer opened #1612 "Make sure IntrospectionFragmentMatcher knows when it's missing info"
The introspection fragment matcher currently doesn't know if it has all the information it needs about the schema, which means it can't throw an error if a fragment cannot be matched. However, if the introspection fragment matcher has knowledge of all types that exist in the schema (and not just unions and interfaces), it can definitely know when it encounters a type that it has no information abo

[2017-04-21 14:58] elie222 commented on #1590
I believe this was another silent error causing the issues. Closing this.

[2017-04-21 14:58] #1590 closed

[2017-04-21 15:34] neilff commented on #1600
@helfer it is fairly simple, something like...
[code]

This ends up returning ~700 items and is a heavy query, so caching it for faster startup would be nice.

[2017-04-21 16:18] helfer commented on #1600
Cool, in that case you should be able to filter out just the `ROOT_QUERY` field and all the `user` objects.

[2017-04-21 17:40] helfer opened #1613 "Make sure @skip and @include are respected on fields in writeSelectionSetToStore"
Right now the code looks like these will only be checked on fragments, but not fields (~ line 145 in writeToStore.ts)

[2017-04-21 18:18] camd opened #1614 "Add GET support to NetworkInterface"
I have an application where the ReactJS app is hosted on one domain, and the Django service (using Graphene) is hosted on another.  The ReactJS app needs to access the data in the Django app.

## Steps to Reproduce

Since Apollo defaults to using POST for queries, I'm hitting a CSRF issue when trying to access the data.  At this time, since these APIs are all read-only, I'm using ``csrf_exempt`` o

[2017-04-21 21:30] Alanf718 opened #1615 "Cache Issues with Union Types"
**Intended outcome:**
Have queries cached when navigating back to an already executed query

**Actual outcome:**
Queries seemed to not get cached when a union type of two or more objects is specified.

**How to reproduce the issue:**

When using the query below, the cache doesn't seem to work.
[code]

When using the query below everything works as far as the cache is concerned.
[code]

[2017-04-22 00:58] Siyfion opened #1616 "Discussion: Delete mutations & entire cache removal"
This post is just to bring the discussion on entire-cache updates to the forefront so that people can voice their opinions on how best to tackle the issue longer-term.

## The Issue
A delete mutation may be triggered that deletes a data object from the underlying DB. This data object may be referenced in many queries, in particular, nested data in seemingly un-related queries. For example:

[code]

[2017-04-22 03:43] stevewillard commented on #1576
Just wanted to say that I'm seeing the same issue with roughly the same code as the above repro

[2017-04-22 03:58] Poincare commented on #1409
@abergenw Hm. The query observer should certainly be removed from QueryManager once the component is unmounted. If you could create a reproduction of just that, that would be very helpful.

[2017-04-22 07:24] seeden opened #1617 "loading is false | fetchMore"
Apollo's "loading" is always false when I use fetchMore. I am using two "loading" states as you can see in the example.
First one "loading" is from apollo and it is false when I try to use fetchMore.
Second is "loadingMoreItems" and it is working fine because it is using state.

apollo-client@1.0.4
react-apollo@1.1.0

[code]

[2017-04-22 15:30] helfer commented on #1409
@Poincare unfortunately the recycler in react-apollo makes it such that that's not the case. I think we need to take steps to remove it entirely and move to a the long term solid cache update strategy that we sketched out, which doesn't require it.

[2017-04-22 15:40] Poincare commented on #1409
Ah. That may be the cause of quite a few performance problems since the `broadcastQueries` is O(n) in the number of observers within the observer list. Could you link the cache update strategy discussion/issue?

[2017-04-22 15:48] helfer commented on #1409
I don't have a link handy right now, since many of the discussions happened in person, but the gist of it is that we want everyone to migrate from updates using named queries to updates using query documents and variables. That way queries no longer have to be kept around.

An alternative temporary solution (which I'm a bit wary of) would be to somehow mark the queries that are currently being rec

[2017-04-22 15:52] Poincare commented on #1409
Got it.

To me, the "recycle this" marker idea sounds pretty reasonable - it can replace what we're currently doing in the `result` function as of [this PR](https://github.com/apollographql/apollo-client/pull/1567). I have a feeling this issue is affecting quite a few people so having a temporary fix is likely better than waiting for a full fix/change in application-level code. Thoughts?

[2017-04-22 16:53] IgorVanian commented on #1533
I don't how I managed to fix it.
I started using redux in my app so I rewrote everything completely and this works:

[code]

[2017-04-22 19:46] Akryum commented on #1152
Any progress on supporting `@defer` on apollo? :smile:

[2017-04-22 23:07] BhaskaranR commented on #593
@helfer any updates on this?

[2017-04-23 00:04] benhjames commented on #1436
I must have done something incorrect when I previously tried using `IntrospectionFragmentMatcher` - I've now followed the steps outlined in #1555 and it works just fine!

[2017-04-23 00:04] #1436 closed

[2017-04-23 04:35] appjitsu opened #1618 "Mutate Promise - Wait for query to be done"
So let's say that I have this react app and there is a form with a submit button, which has the following click handler. What I would expect to happen is that, when the promise resolves the mutate command, the refetchQueries portion would already have occurred. But, that is not the case at all. What actually happens is that the refetchQueries and the router redirect happen at the same time. The .t

[2017-04-23 07:23] AdamYee opened #1619 "feature suggestion: operationName included in redux actions whenever possible"
Hello!

In the process of incorporating apollo-client in my app that heavily uses its own redux store, I find myself wanting `operationName` to be found in all Apollo dispatched actions where available (if the query/mutation name exists). For example, a component's initial query dispatches an `APOLLO_QUERY_RESULT` whose payload contains `operationName`, but subsequent cached queries dispatch `APOL

[2017-04-23 14:22] marktani commented on #51
My use case is any kind of error that happen after/during the query resolving. So it's a valid query as far as the GraphQL type system can tell, but another layer determined it's an error.

In the case of Graphcool, this is mostly permission errors - a node or field was included in the query that the requestee has no permission to access. [Here's an example query](https://www.graph.cool/docs/faq/g

[2017-04-23 15:40] Fabiantjoeaon opened #1620 "Proxy.writeQuery reloads root query and removes props (React)?"
I'm trying to update my UI after a simple mutation in the most efficiënt way possible. Basically I'm just adding a resource to a one to many schema, and I want to update just that single group, by using update, I managed to add my newly added resource to my cache.

See my mutation HOC here:
[code]

When I call `proxy.writeQuery`, I can catch a short glimpse of seeing it added to the list I render

[2017-04-23 15:58] Fabiantjoeaon commented on #1620
I figured it out, using typename in dataIdFromObject it manages to write to my cache (I guess):

[code]

I do receive this warning however:

[code]

But addTypename is set to true?

[2017-04-23 15:59] #1620 closed

[2017-04-23 19:44] DxCx commented on #1152
@paralin i havn't seen your message..
if you want to dicuess you are welcome to DirectMessage me @ slack (hagaico) :)

[2017-04-24 05:58] msmfsd opened #1622 "Network-only refetch after network error does not update networkStatus"
**Versions**
- apollo-client@1.0.4
- react-apollo@1.0.1

NOTE: this needs a seperate backend grpahql server to re-create so I have not created a `react-apollo-error-template` repo.

**Intended outcome:**
Refetching a query after network error should always update loading to true and networkStatus to 4 - until either success or error happens.

**Actual outcome:**
NetworkStatus remains at 8 and load

[2017-04-24 11:06] mitjade opened #1623 "update on subscribe (Direct Cache Access)"
I would like to replace `updateQueries` with `update` (Apollo Client’s new imperative store API), but it seems `update` is currently only available on `mutations`.

### Expected Behaviour
You should be also able to use `update` on `subscribeToMore`, like you are able to on mutations

### Version
- apollo-client@1.0.3

[2017-04-24 11:06] mitjade commented on #1623
https://github.com/apollographql/react-apollo/issues/634

[2017-04-24 11:08] mitjade commented on #1623
@helfer Would love to get some pointers on how to fix this, if I would be able to.

[2017-04-24 22:44] cfatorNSS commented on #51
+1 on this.  One easy option might be to support a .finally(response) block on the query promises.

[2017-04-25 07:57] jakelacey2012 commented on #1611
I've had this issue and if we cannot throw a warning 100% of the time it should at least be documented, I'm not to sure where though?

[2017-04-25 17:57] agonbina commented on #1324
I am also running into the same issue as @lionhive. Did you find a fix/workaround by any chance?

[2017-04-25 18:11] magbicaleman commented on #820
I'm still seeing this in `"react-apollo": "^1.0.0-rc.2"`, perhaps I'm doing something wrong. It seems that the query is still active.

[2017-04-26 11:17] luiscvalmeida opened #1625 "Undefined data when subscribing nested union types query"
**Intended outcome:**
I'm trying to get data after subscribing a watchQuery, given a query that has nested union types.

[code]

**Actual outcome:**
The actual outcome is that the data returned inside the subscribe result is undefined.
If I remove the `instrument` field from the query, everything works fine.

**How to reproduce the issue:**
I would add a plunkr to this but I don't know any public

[2017-04-26 14:01] nikhilag commented on #933
I am facing the same issue when I am using Relay style cursor pagination. Exact same query always ends up fetching results from the server. My code only uses 'after' and 'first' parameters so that the query stays the same but the results are not getting fetched from the cache when the query runs again.

[2017-04-26 14:37] bgentry opened #1626 "FetchPolicy is not documented"
**Intended outcome:**

I viewed the API reference for apollo-client, and discovered the new `fetchPolicy` option for queries. The option attempts to link to documentation for `FetchPolicy`, and I would expect that link to work and describe the feature in more detail (including the ramifications of each possible setting).

**Actual outcome:**

The documentation for `FetchPolicy` does not actually e

[2017-04-26 19:13] skosch commented on #1570
Would it be an option (among others) to provide a simple way to delete by object id? That would probably cover the most common use case.

[2017-04-26 21:23] stevewillard commented on #1626
I've had similar issues finding this documentation. It does exist, but it's tough to get to:
http://dev.apollodata.com/react/api-queries.html#graphql-config-options-fetchPolicy

[2017-04-26 22:04] bgentry commented on #1626
Ah, it's only documented in the React section :) thanks for sharing that link.

In either case it needs to be explained in the main API docs and the link in the docs should work too.

[2017-04-26 23:28] cesarsolorzano commented on #1626
yeah, this is very unfortunate. Nevertheless, there's already an open issue in apollographql/core-docs#273 so I'm closing this in favor of it 🙂

[2017-04-26 23:28] #1626 closed

[2017-04-26 23:43] cesarsolorzano commented on #1617
@seeden what about if you add `notifyOnNetworkStatusChange: true` to your [options](http://dev.apollodata.com/react/api-queries.html#graphql-config-options-notifyOnNetworkStatusChange)?

[2017-04-27 10:32] mkozhukharenko commented on #1123
I has the next issue and I think that it's the same that is discussing here:

docs says:

When I’m updating store using `updateQueries`  or `update` with proxy - *the Store is updated, actually, and the my component is being rerendered. But no values comes into it* (undefined).

I'll try to provide an example. It seems that the problem is in the query/mutation shape - but Apollo fails silently.

[2017-04-27 13:01] stevewillard commented on #1186
Just wanted to echo @Florentijn I'm getting this problem with 1.0.4, but downgrading to 0.10.1 fixes my issue.

[2017-04-27 13:49] luiscvalmeida commented on #1625
Sorry for this, my mistake, the resolver of the graph was returning data different from the query, that's why it returns undefined. But some error throwing would be helpful tho.

[2017-04-27 13:50] seeden commented on #1617
thanks @cesarsolorzano it is working fine with notifyOnNetworkStatusChange.

[2017-04-27 13:50] #1617 closed

[2017-04-27 17:02] cesarsolorzano commented on #1611
I think it would be great to explain this explicitly in the docs. It can be a way to prevent this error from being made in the first place (unconsciously or thinking that if you don't want to provide a value, you should omit it —instead of providing a null-like value).

Although it is briefly explained [here](http://dev.apollodata.com/react/api-mutations.html#graphql-mutation-options-updateQueries

[2017-04-27 17:57] HeatherZh commented on #1146
I am working on a scenario which is very similar to what was described in https://github.com/apollographql/apollo-client/issues/948,  where I have a timeline based data, as user clicks on left or right arrow I need to call fetchMore to fetch more data based on different time ranges concurrently.  Since the fetchMore results will *not* arrive in the same order as they are initiated,  I am totally c

[2017-04-27 18:53] helfer commented on #1146
@HeatherZh I think this may be due to a bug. The variables you get should be the variables of the base query at the time the fetchMore request was made. Is that not the case?

As for knowing which fetchMore result is being returned, I think using a closure is probably the easiest and most flexible option. You could technically also use that to know what the query variables were at the time fetchMo

[2017-04-27 19:51] ravikiran438 commented on #1614
Ideally it would be best to add `useGetForQueries: true` option to [persistgraphql](https://github.com/apollographql/persistgraphql) as it will be too brittle as each browser limit varies.

[2017-04-27 22:03] nirmaljingar commented on #1614
+1
It would be really great if we can use GET for persistgraphql.

[2017-04-27 23:10] tomtang539 commented on #1551
Also experiencing a similar problem.  I have multiple id fields which are null.  It looks like apollo is automatically creating a reference hash using the null values (which breaks).

[2017-04-28 00:25] jzimmek commented on #1618
I run into the same problem. Digged a bit into the apollo source:

https://github.com/apollographql/apollo-client/blob/15c57fcecd57bd99dc8d9c4b17c867103a17d6c7/src/core/QueryManager.ts#L326-L340

The query() invocations return promises but are simply not then-chained with the mutations resolve function.

Is this behavior a bug or by design? Will try to come up with a PR if this is a bug.

In the m

[2017-04-28 03:30] helfer commented on #1551
Thanks for the reproduction and detailed error report @elie222. I will look into it tomorrow and will try to fix it asap.

[2017-04-28 03:41] helfer commented on #1625
Hey @luiscvalmeida, thanks for filing an issue!

I think this could be a duplicate. Have you tried the solution outlined in #1555 using `IntrospectionFragmentMatcher`?

[2017-04-28 04:48] #947 closed

[2017-04-28 12:28] HeatherZh commented on #1146
Thanks for your comments @helfer.  I tried both react-apollo 0.8.3 and the most recent release of 1.1.1 and both have the same issue of having queryVariables returning the original data.  I was able to get the variables passed to fetchMore in the closure.  I would think it might be better not having queryVariables at all since both the original variables and the ones used in fetchMore are availabl

[2017-04-28 12:53] Siyfion commented on #1616
As a response to my own question, I guess one simple answer would be "don't do it with the `update` method", as this situation is possibly much easier to resolve with a `reducer` method on the query itself instead.

As an example, for the `category(id: String)` query you could add:
[code]

[2017-04-28 14:49] elie222 opened #1631 "Very difficult to debug errors when using Apollo client"
Not sure if this is just me and I'm missing something, but using Apollo is making debugging especially hard. This is the Chrome console for a React Native app. I see something is undefined, but I have no idea when in the app it is. Neither do I know what the problematic query is.

<img width="1412" alt="screen shot 2017-04-28 at 17 47 52" src="https://cloud.githubusercontent.com/assets/3090527/255

[2017-04-28 18:03] helfer commented on #1631
@elie222 if you figure out what the root cause is, can you tell us what the error is that you expected to see?

[2017-04-28 18:09] helfer commented on #1631
We definitely want to make it as easy as possible to debug things, so if there's a way we can improve the error message, we'll do it! 🙂

[2017-04-28 18:19] helfer commented on #1623
@mitjade thinking about this again, I'm not sure it makes sense to add the `update` function to `subscribeToMore`, because we currently also don't have it for `fetchMore`. Both of these are mainly intended to update a single query/view (whether that makes sense or not is probably worth its own discussion).

Instead of adding it to `subscribeToMore`, how about we add it to `client.subscribe`? That

[2017-04-28 18:29] helfer commented on #1622
@msmfsd I remember recently fixing a related issue. Can you check that this is still the case with the latest version?

If it is, could you create a reproduction with the error template? It should be possible to simulate a network error by simply throwing an error in the network interface the first time it's called: https://github.com/apollographql/react-apollo-error-template/blob/master/src/graph

[2017-04-28 18:33] helfer commented on #1619
@AdamYee I think it would be useful, but I'm a bit worried about cluttering the actions even more. You're right that we get the operation name from the document, so it's probably easiest if you do the same. If you make a PR to export `getOperationName` from the client and make it available, I'd be happy to merge it!

[2017-04-28 18:37] helfer commented on #1625
@luiscvalmeida I'm going to close this as a likely duplicate. If you think it isn't, please let me know.

[2017-04-28 18:37] #1625 closed

[2017-04-28 18:40] helfer commented on #1615
@Alanf718 Thanks for reporting the issue. I think the [solution](https://github.com/apollographql/apollo-client/issues/1555#issuecomment-295834774) outlined in #1555 should solve this for you. I'm aware that this is a usability issue at the moment, so I'm working on getting out a fix in the next few days that makes fragment handling and store updates much more ergonomic.

[2017-04-28 18:40] #1615 closed

[2017-04-28 18:41] helfer commented on #1613
If anyone has time to write PR with a test for the hypothesis that skip and include are not applied to fields, that would be great! Let me know if you need any pointers!

[2017-04-28 18:43] helfer commented on #1612
On second thought, this feature is probably not so useful, because the fragment matcher will still not know when the definition of a type changed. It's better to print a warning on any fragment use on interfaces and unions when the HeuristicFragmentMatcher is used, and then provide good instructions for using the IntrospectionFragmentMatcher and keeping it up to date.

[2017-04-28 18:43] #1612 closed

[2017-04-28 18:46] helfer commented on #1553
@raix are you aware of the two following patterns/solutions?

1. [mock network interface](https://github.com/apollographql/apollo-test-utils)
2. [a network interface that calls graphql execution](https://github.com/apollographql/react-apollo-error-template/blob/master/src/graphql/networkInterface.js)

[2017-04-28 22:22] harmon25 opened #1633 "Refetch issue with 1.1.1"
**Intended outcome:**
Being able to refetch on a query without fetchPolicy defined.

Apollo-Client - 1.1.1
React-Apollo -  1.1.1

**How to reproduce the issue:**
Try to refetch a simple query.
Am getting the following error:
![image](https://cloud.githubusercontent.com/assets/6964054/25549360/5989cf94-2c3f-11e7-8c5c-269da77d5245.png)

If I use 1.1.0 of Apollo Client - the refetch works as intended

[2017-04-28 23:10] helfer commented on #1633
@harmon25 Thanks for reporting the issue, it's very odd. Reverting that PR should not break anything that wasn't broken before. In addition, we have tests for refetch. I would think it much more likely that 1.1.0 has broken refetch. Are you sure about the version that you're running? Sometimes there can be multiple versions installed, for example one directly, and one through react-apollo.

In any

[2017-04-29 03:11] thinkpadder1 commented on #1432
@helfer I see that 1.1.1 is out. Is this RFC still being considered? Thank you.

[2017-04-29 03:30] yury-dymov commented on #1568
Tested with v1.1.2: issue is still there

[2017-04-29 05:04] smolinari commented on #1432
I'm also interested in this!

Scott

[2017-04-29 05:38] helfer commented on #1568
Have you guys tried the steps that @dfee outlined in #1555? I think the root cause here is the same. I'm working on making the error message much better.

[2017-04-29 07:00] raix commented on #1553
@helfer well I just did:
[code]

[2017-04-29 16:30] harmon25 commented on #1633
Hm OK does appear having both `apollo-client` and `react-apollo` as dependencies is unnecessary and possibly causes some weird behaviour.

This is related to the following react-apollo issue:
https://github.com/apollographql/react-apollo/issues/622

Going to close for now, move any input/discussion there.

[2017-04-29 16:30] #1633 closed

[2017-04-29 17:29] elie222 commented on #1631
I managed to find the root cause shortly after I posted the issue. I was
making a request for an item that didn't exist so a certain object was
`undefined` and calling `.teamIds` on it caused an error (that much is
clear from the screenshot).

The two things that were really annoying were:
1)  I had no easy way to find where the undefined object was in the code.
2) This isn't in the screenshot, bu

[2017-04-30 00:57] helfer commented on #1432
Yes, this is still on our radar. We're also trying to make sure it's aligned with iOS and Android, so it's probably going to take another week or two until we put a more complete draft out there. Our latest blog post contains a very high-level overview though.

[2017-04-30 01:00] helfer commented on #1553
Ah, I see. Basically like option 2 above. Since it's almost no code, I'd actually be in favor of including this in apollo-client. Can you make a PR for it!? 😃

[2017-04-30 11:39] raix commented on #1553
@helfer sure I can do a pr, something like:
[code]

[2017-04-30 19:15] utkarshsaxena93 commented on #1326
@Valentin-Seehausen Were you able to test mutations on your components? (and the reaction of components to the mutation?)
In my test when I use `MockedProvider` with the appropriate `mock` prop, my component shows the UI in the loading state (i.e when the returned object from GraphQL has `loading: true`) instead of when loading in complete and the actual response is received?

Any help will be gre

[2017-05-01 04:16] gastonmorixe opened #1637 "Mutations failures optional rollbackOptimistic"
I am creating a chat app.
I receive new messages by subscriptions.
I submit new messages by mutations (apollo http).

**Intended outcome:**
Mutations optimistic updates to be rollback **optionally**.
I want to let people now the message failed, and later give them the option to "resend" (or even automatically retry to resend when back online, this latter not that important in apollo-http).

**Actu

[2017-05-01 06:42] helfer commented on #1637
Hi @gaston23 :wave: I think the right way to solve this would not be to not roll back the optimistic update, but to build retries into the network interface, such that a mutation doesn't fail immediately if the network is down. However, once the mutation has failed, the optimistic update should be rolled back immediately.

PS: I think some people already implemented custom network interfaces or mi

[2017-05-01 07:42] gaston23 commented on #1637
@helfer. Good. I will digg more then. Do you think I will be able to mark  the "message" as failed? (Add a Boolean to it or something like that) and add a "retry button"? Thanks

[2017-05-01 07:50] msmfsd commented on #1622
@helfer I updated libs and no change. I did create an error template and could not replicate the error at all. We have a large, complex app connected to a ruby backend with relay graphql and the issue happens on some components and not on others - and the components are quite similar..

We are using a refetching state as a workaround and it works fine so perhaps I will revisit this at a later poin

[2017-05-01 08:08] msmfsd commented on #1622
For anyone looking for the refetch workaround:
[code]

[2017-05-01 16:23] helfer commented on #1637
@gaston23 the "failed" button could probably be added with a timer of sorts. For example if the message was supposedly sent at 10:33, but it's now 10:35 and it still doesn't have a `deliveryTime` on it or something. Otherwise we would have to introduce the concept of a kind-of-but-not-quite-failed request, which would make things unnecessarily complicated in my opinion.

[2017-05-01 16:31] gaston23 commented on #1637
@helfer

I understand the idea, still I believe there should be a way to not roll back it but rollback it manually? Why can't this be archived?

I don't really like the idea of timers, it seems like a workaround and so far graphql/apollo has the perfect design to make all this possible. I just think this is a really common use case which needs to be solved in the correct way.

[2017-05-01 16:35] gaston23 commented on #1637
Use case (all mutations with optimistic updates)

[code]

1. Click try Message B retry button.
2. Message B retries sending..
3. Message B can fail again or be sent.

We should discuss the "order" of the messages here, because probably "Message B" after retry works should be moved to the end of the list.

[2017-05-01 20:34] thebigredgeek opened #1639 "RFC: Reconciliation query for subscription disconnect/reconnect"
### Motivation

As it stands, there is not currently a well-defined method for reconciling subscribed data in disconnect -> reconnect scenarios via WebSocket transport.  With any real time system, there must be a way to tolerate connection issues.  By not providing a pattern for this with `subscribeToMore`, we are leaving a huge question open in the mind of any seasoned engineer who has worked on

[2017-05-01 20:34] thebigredgeek commented on #1639
@stubailo @helfer, wondering what you guys think about this?

[2017-05-01 23:01] tnrich opened #1640 "How does cache trimming/invalidation work with apollo?"
Hi there,

I couldn't find a description of how cache invalidation/trimming works with apollo-client anywhere in the documentation (sorry if it is there I must have missed it).

I'm using react-apollo in particular and am curious if the cache gets trimmed after a particular event or maybe after the total data store size grows above a certain limit (assuming the component(s) relying on the queries

[2017-05-01 23:34] gaston23 opened #1641 "batchInterval is in Milliseconds [Add to docs]"
^ :)

[2017-05-02 00:57] cesarsolorzano commented on #1640
@tnrich I think there's no implementation on this at the moment, however, there has been some discussions (that you may find useful) in #825 and #621

[2017-05-02 01:03] cesarsolorzano commented on #1641
@gaston23 thank you for pointing it out! Would you like to make a PR to help clarify this?

[2017-05-02 01:58] tnrich commented on #1640
@cesarsolorzano thanks for the info!

[2017-05-02 13:50] borisnieuwenhuis opened #1642 "getDefaultValues uses Object.assign breaks IE"
there is a call to Object.assign here
https://github.com/apollographql/apollo-client/blob/v1.1.1/src/queries/getFromAST.ts#L253

which breaks on IE

[2017-05-02 13:59] borisnieuwenhuis commented on #1642
also here

https://github.com/apollographql/apollo-client/blob/v1.1.0/src/core/QueryManager.ts#L261

[2017-05-02 15:06] magbicaleman commented on #604
@peitalin how do you export the client out ?

[2017-05-02 15:44] peitalin commented on #604
I had it in a react component so just assigned it to this.client.

But I don't think this is a good approach. It wasn't reliably persisting state (I suspect it was a fluke that it worked then)

[2017-05-02 15:51] magbicaleman commented on #604
I wish there was a different approach, but this is the one I found here that would delay your whole app. [Delay Render Until Rehydration Complete](https://github.com/rt2zz/redux-persist/blob/master/docs/recipes.md#delay-render-until-rehydration-complete)

[2017-05-02 18:00] borisnieuwenhuis commented on #1642
https://github.com/apollographql/apollo-client/pull/1643

[2017-05-02 18:12] helfer commented on #1642
Thanks for the PR! I'll merge it as soon as you make it pass 🙂

[2017-05-02 18:16] helfer commented on #1641
I'm going to close it here since it's a docs issue, and the docs have a separate repo (react-docs or core-docs). Please consider opening a PR @gaston23!

[2017-05-02 18:16] #1641 closed

[2017-05-02 18:20] borisnieuwenhuis commented on #1642
@helfer working on it

[2017-05-02 18:21] cesarsolorzano commented on #1640
I'm closing this, please refer to #621 for updates

[2017-05-02 18:21] #1640 closed

[2017-05-02 18:22] cesarsolorzano commented on #825
I'm closing this, please refer to #621 for updates on this topic

[2017-05-02 18:22] #825 closed

[2017-05-02 18:26] helfer commented on #1576
If this is due to query recycling it should be fixed by #1636 once I release it 🙂

[2017-05-02 18:30] cesarsolorzano commented on #1480
I'm closing this, please refer to #621 for updates on this topic

[2017-05-02 18:30] #1480 closed

[2017-05-02 18:33] helfer commented on #1618
@appjitsu @jzimmek just so I understand correctly, you would like the `then` to be called only after both the mutation and the subsequent refetches have completed?

It would be a breaking change, but I actually think it would be quite reasonable. @jzimmek would you like to make a PR for us to consider? If there's some code, we can see more clearly what the solution would look like 🙂

[2017-05-02 18:35] helfer commented on #1639
@thebigredgeek I think that's an interesting idea. I think we built something similar for our Galaxy UI.

The main problem I see is that even running such a query will give you no guarantees about consistency, because the subscription events might not be in sync with the query result, so you still have to figure out what changes to apply and what changes to skip. That being said, maybe we shouldn'

[2017-05-02 18:40] jesseseligman commented on #29
Any updates as to support for input objects? If so can someone point me in the right direction of an example? Thanks!

[2017-05-02 19:03] raix commented on #1553
I think I'll name it `createSchemaInterface` for now. I'll have a pr ready tomorrow

[2017-05-02 19:52] appjitsu commented on #1618
Yes, exactly. Wait for the mutations, etc to finish. Maybe make it so we need to pass some sort of flag for that to happen so it doesn't break existing expectations.

I'm swamped at the moment, so I can't do a PR.

[2017-05-02 20:08] thebigredgeek commented on #1639
@helfer agreed, there is additional complexity.  I think the main goal for a v1 fix should be to simply provide the user a means to handle this.  Building a query that accurately reconciles is the onus of the user, not `apollo-client`.  I think a bit of functional code within update queries fixes duplicate messages, etc.  I don't think you need strong guarantees around pulling exactly the messages

[2017-05-02 21:00] helfer commented on #1637
@gaston23 I think manually reverting would require the mutation API to become much more complicated. I'd rather add retries on the network. It doesn't have to be purely based on timeouts, you could also provide a function that decides when to retry.

[2017-05-02 21:23] helfer commented on #1606
I think you'll find this kind of thing much easier to debug with #1638, so I don't think we should add the ability to somehow store the variables. It would make the logic less transparent and more complicated.

[2017-05-02 21:23] helfer commented on #1600
Going to close this since it seems the question was answered.

[2017-05-02 21:23] #1600 closed

[2017-05-02 21:24] helfer commented on #1608
Closing this in favor of #1555

[2017-05-02 21:24] #1608 closed

[2017-05-02 21:25] helfer commented on #1568
Closing this in favor of #1555 which is a different issue, but same root cause. The PRs that landed over the weekend and will land today are going to make this much much easier to debug.

[2017-05-02 21:25] #1568 closed

[2017-05-02 21:28] helfer commented on #1552
Ok, it seems like the issue has been solved, so I'll close this. I agree with @jacobk that we could probably use a `resetClient`. I'd be open to merging that PR if someone would make it!

[2017-05-02 21:28] #1552 closed

[2017-05-02 21:30] helfer commented on #1570
@skosch it isn't possible right now, but we're thinking of adding an API for doing invalidations and deleting data in the store. Let's continue all discussions related to that on #621

[2017-05-02 21:30] #1570 closed

[2017-05-02 21:33] helfer commented on #1549
@Dattaya  sorry this slipped from my radar. I'll look into it again shortly.

[2017-05-02 21:44] gaston23 commented on #1637
@helfer great. Would you mind guiding me where to look at to do that? I have read the internals somewhat but it has been only last 3 days using apollo :) Thank you

[2017-05-02 22:43] helfer commented on #1562
Closing this in favor of #1555 which is the same underlying issue.

[2017-05-02 22:43] #1562 closed

[2017-05-02 22:50] helfer commented on #1549
@Dattaya I can run your reproduction, but it doesn't actually seem to demonstrate anything because there are no instructions included, and no description of what's not happening that should be happening. Could you add that so I can look into it?

[2017-05-02 22:52] helfer commented on #1622
Thanks @msmfsd!

If anyone could make a reproduction, that would be greatly appreciated. I think it's related to a similar issue on react-apollo about loading state not updating.

[2017-05-02 22:53] ndarilek commented on #1555
So this *should* work, then? Any idea why https://github.com/ndarilek/graphql-fragments-error doesn't? lib/apollo.js in that reproduction seems to set up fragmentMatcher as shown in this issue.

Including this reproduction here because my related issue was closed, and I'd really like to find out why this particular use fails. Details of how to trigger the failure can be found in #1608.

Thanks.

[2017-05-02 22:54] helfer commented on #1631
I think this should be much easier once #1638 is merged because you won't be able to write data of the wrong shape into the store any more. I'll close this now, but I think we should open separate specific issues for any errors where the error message isn't helpful in finding the root cause.

[2017-05-02 22:54] #1631 closed

[2017-05-02 22:55] helfer commented on #1521
I agree with @fc, I think the best way to go is to create a custom network interface that allows changing of the URI.

[2017-05-02 22:55] #1521 closed

[2017-05-02 22:56] helfer commented on #1509
I think this should be fixed in react-apollo now, which was keeping the observable queries alive even when they weren't used any more.

[2017-05-02 22:56] #1509 closed

[2017-05-02 22:57] helfer commented on #1543
Closing this for lack of activity. If someone has time and sees something that can be improved in the docs, please make a PR. If we all help each other as a community, we can make the Apollo docs and libraries really great! :pray:

[2017-05-02 22:57] #1543 closed

[2017-05-02 22:59] helfer commented on #1541
@joefraley there's no way for us to cancel the request once it's been sent to the server. That would require specific logic on the server that we have no control over. Currently Apollo Client will receive the result, but it will throw it away if it's not the most recent request made by an active observable query.

I'm closing this since it seems the feature requested is already implemented 🙂

[2017-05-02 22:59] #1541 closed

[2017-05-02 23:01] helfer commented on #1548
Closing for lack of activity.

[2017-05-02 23:01] #1548 closed

[2017-05-02 23:48] m14t commented on #1218
@calebmer according to http://dev.apollodata.com/react/cache-updates.html#resultReducers

To me that sounds like `reducer` _is_ the preferred way?  If that's not the case would it be possible to update that doc?

https://github.com/apollographql/react-docs/blame/master/source/cache-updates.md#L291

[2017-05-03 00:54] helfer commented on #1508
@payner35 Not sure if this is still relevant to you, but you can definitely just call `client.mutate` in an action, if you want to. There's nothing stopping you from doing so 🙂

[2017-05-03 00:54] #1508 closed

[2017-05-03 00:54] helfer commented on #1478
Looks like this issue is solved with @viztastic 's solution! :tada:

[2017-05-03 00:54] #1478 closed

[2017-05-03 00:56] helfer commented on #1479
@amannn sorry this dropped off my radar. Are you still facing this issue?

[2017-05-03 00:56] helfer commented on #1464
Closing for lack of activity.

[2017-05-03 00:56] #1464 closed

[2017-05-03 00:57] helfer commented on #1458
@flodlc I think your solution is right. The problem is with not writing the exact data into the store that you need. This kind of problem should become much easier to debug with #1638.

[2017-05-03 00:57] #1458 closed

[2017-05-03 00:58] helfer commented on #1450
Closing this since it's an old idea and has a workaround. Thanks for the suggestion though!

[2017-05-03 00:58] #1450 closed

[2017-05-03 03:51] helfer commented on #1218
@m14t yeah, `reducer` isn't the recommended way any more. We think `update` is much more versatile and will be a stable API in the future. Would you mind making a PR to the docs to change that sentence? There's a "edit on GitHub" button on every page.

[2017-05-03 07:20] lucasfeliciano commented on #1568
@helfer Indeed using the fragment matcher not only fix this issue also fix other issues related to caching.

[2017-05-03 07:30] oavasilcai commented on #1509
hi helfer, got a link to the PR ?

[2017-05-03 12:00] smeijer opened #1649 "Fragment "X" is never used. Suggest: warning instead of error."
When including a fragment that is not actually being used in the query, `react-apollo` throws the error: `Fragment "${name}" is never used`.

Can this error not just be a warning? I understand that we can leave the fragment away for optimization, but it doesn't seem to be a blocking issue to me.

**Intended outcome:**
`console.warn('Fragment "X" is never used.')`

**Actual outcome:**
`console.erro

[2017-05-03 14:57] rgoldfinger commented on #1576
Thanks @helfer, I tried this on my repo and in the error template, and unfortunately it doesn't seem to have fixed the issue.

[2017-05-03 15:01] stubailo commented on #1649
This is actually an error from your GraphQL server - it's running validation on the query and that's a default validation rule for GraphQL.js. In order to prevent this, Apollo would have to actively remove fragments that aren't used, which doesn't at first glance seem like a good idea for a GraphQL client to do.

[2017-05-03 15:23] joefraley commented on #1541
@helfer I understand that users would need to implement their own server side logic to handle the cancellation. But that's only possible if the Apollo client fires a cancellation.

With no client cancellation, there is no way to handle the desired case. With client cancellation, people that need it can account for it on the server, and people that don't need it will not notice any change from the

[2017-05-03 15:51] lucasfeliciano commented on #1541
@helfer I have to agree with @joefraley

Support this on client side is kinda a must have feature for big and high quality applications

[2017-05-03 15:55] helfer commented on #1649
Yeah, this is an issue with the GraphQL validation on the server.

[2017-05-03 15:55] #1649 closed

[2017-05-03 15:57] joefraley commented on #1541
@helfer @lucasfeliciano it's possible to set up your own custom network interface that does support cancellation of your using apollo-react, but it basically requires rebuilding the apollo-client network layer and extending it's API. I don't know if other Apollo libraries support that idea or not.

My product basically can't support GraphQL without cancellation though.

Another possibility is to s

[2017-05-03 16:04] helfer commented on #1448
We could do this in a 2.0 API as a breaking change, but not before that. Since the PR is closed, I'll close the issue as well.

[2017-05-03 16:04] #1448 closed

[2017-05-03 16:04] helfer commented on #1533
Seems like this was fixed.

[2017-05-03 16:04] #1533 closed

[2017-05-03 16:07] helfer commented on #1420
Closing this since the question seems to have been answered 🙂

[2017-05-03 16:07] #1420 closed

[2017-05-03 16:18] bkniffler commented on #1123
@mkozhukharenko I'm having the same exact issue. After a lot of digging and trying, I found out that the query mutation fields need to match the query that you want to update via updateQueries, or else something weird happens and the value will be undefined.

[2017-05-03 16:28] bkniffler commented on #1611
I don't get this. Lets say I have a big object:

[code]

Then I query a list of this type
[code]

And then I call a mutation like
[code]

Is it expected, that `items` will now be undefined? I've had a very similar scenario where this was the case. The example above does not match it 100%, but it was extremely similar as where I've been querying/mutating the same type, but the query would only have

[2017-05-03 16:42] helfer commented on #1268
I see you've already been making good progress on subscriptions-transport-ws. Closing this issue here 🙂

[2017-05-03 16:42] #1268 closed

[2017-05-03 16:43] helfer commented on #1437
This is fixed.

[2017-05-03 16:43] #1437 closed

[2017-05-03 16:54] gaston23 commented on #1611
@bkniffler I think ```const newData``` has to have all the same keys that the ```fileList ``` requires. Not any ```undefined``` but can be ```null```. That's what I understood from @helfer

[2017-05-03 17:01] m14t commented on #1218
Thanks for the speedy reply @helfer.  I'm actually quite new to Apollo and so re-writing that paragraph which does not currently reference `update` is a slightly nuanced tast for my current knowledge level.

[2017-05-03 18:10] helfer commented on #1411
Closing this for lack of activity. `__typename` is pretty much always needed for id generation and fragment matching, so removing it seems like a good idea.

[2017-05-03 18:10] #1411 closed

[2017-05-03 18:12] helfer commented on #1409
@Poincare We just landed a small improvement that doesn't watch recycled queries any more (standby fetchPolicy).

[2017-05-03 18:13] helfer commented on #1363
Seems like this has been resolved as I see no more issues related to it 🙂

[2017-05-03 18:13] #1363 closed

[2017-05-03 18:15] helfer commented on #1319
Ok I think this is now conclusively fixed with the `standby` option (only to be used for recycled queries). :tada:

[2017-05-03 18:15] #1319 closed

[2017-05-03 18:16] helfer commented on #1113
This is fixed now, see #1483.

[2017-05-03 18:16] #1113 closed

[2017-05-03 18:17] helfer commented on #1123
This will become much easier to debug with #1638 which we'll merge and release today or tomorrow (just working on adding more tests now)!

[2017-05-03 18:17] #1123 closed

[2017-05-03 18:18] helfer commented on #1456
Closing since it's been a month without reproduction. If this is still an issue, please feel free to open a new issue!

[2017-05-03 18:18] #1456 closed

[2017-05-03 18:19] helfer commented on #1251
Closing old issues 🏁

[2017-05-03 18:19] #1251 closed

[2017-05-03 18:20] helfer commented on #1094
This _might_ be fixed now. If it's still an issue, please open a new issue!

[2017-05-03 18:20] #1094 closed

[2017-05-03 18:22] helfer commented on #1025
Ok, I think we can close this again. If someone wants to make a PR to expose subscription status in Apollo Client, that would still be appreciated. 😄

[2017-05-03 18:22] #1025 closed

[2017-05-03 18:30] helfer commented on #1241
Closing up old issues. This is still on our radar and we're planning to implement it shortly. 🚪

[2017-05-03 18:30] #1241 closed

[2017-05-03 18:39] helfer commented on #1132
Closing old issues. 🚪

[2017-05-03 18:39] #1132 closed

[2017-05-03 18:41] helfer commented on #128
Closing up old issues. Let's track this under #1409

[2017-05-03 18:41] #128 closed

[2017-05-03 18:41] helfer commented on #195
Closing up old issues. Let's track this in a community repo.

[2017-05-03 18:41] #195 closed

[2017-05-03 18:42] helfer commented on #464
1.0 is out.

[2017-05-03 18:42] #464 closed

[2017-05-03 18:46] helfer commented on #929
This should be taken care of once #1638 is merged. Going to close this a bit prematurely because I'll definitely forget to do it afterwards...

[2017-05-03 18:46] #929 closed

[2017-05-03 18:47] helfer commented on #748
This never seems to have been an issue, so...

[2017-05-03 18:47] #748 closed

[2017-05-03 18:48] helfer commented on #722
Closing this up since it's pretty old and just an idea, not an issue.

[2017-05-03 18:48] #722 closed

[2017-05-03 18:50] helfer commented on #227
Done :tada:

[2017-05-03 18:50] #227 closed

[2017-05-03 18:50] helfer commented on #933
This should be fixed thanks to #1483. The introspection fragment matcher must be used for union and interface types.

[2017-05-03 18:50] #933 closed

[2017-05-03 18:52] helfer commented on #974
`returnPartialData` is no longer supported, so closing this old issue.

[2017-05-03 18:52] #974 closed

[2017-05-03 18:52] TSMMark commented on #933
Thanks @helfer! Works like a charm.

[2017-05-03 18:53] helfer commented on #1240
Let's track this under #1409

[2017-05-03 18:53] #1240 closed

[2017-05-03 18:53] #1606 closed

[2017-05-03 18:55] helfer commented on #1297
Should be fixed with #1487! 🙂

[2017-05-03 18:55] #1297 closed

[2017-05-03 18:56] helfer commented on #1614
@camd if you have time, a PR would be great!

[2017-05-03 18:57] helfer commented on #1317
Closing up some old issues. Let's make sure to take this into consideration when implementing the next client and network interface API.

[2017-05-03 18:57] #1317 closed

[2017-05-03 18:59] helfer commented on #1431
Closing this for lack of activity. In a future API version, I think it would be great to expose this as `source` on the result.

[2017-05-03 18:59] #1431 closed

[2017-05-03 18:59] helfer commented on #1613
Should be fixed now.

[2017-05-03 18:59] #1613 closed

[2017-05-03 19:00] helfer commented on #1535
Closing for lack of activity.

[2017-05-03 19:00] #1535 closed

[2017-05-03 19:01] helfer commented on #1561
@dmarkow could you provide a reproduction for this?

[2017-05-03 19:02] helfer commented on #1576
@rgoldfinger Hm... 😕  Could you update your reproduction to use the newest versions? Thanks!

[2017-05-03 19:11] helfer commented on #1300
Let's track this under #1409

[2017-05-03 19:11] #1300 closed

[2017-05-03 19:17] helfer commented on #1616
Let's keep track of deleting under the invalidation umbrella issue as well #621

[2017-05-03 19:33] #1616 closed

[2017-05-03 20:26] helfer commented on #1218
Haha, no worries, I hope you're liking it so far! I'll update the docs as soon as I get around to it.

[2017-05-03 20:38] helfer commented on #1195
Closing this in favor of #1319.

[2017-05-03 20:38] #1195 closed

[2017-05-03 20:40] helfer commented on #1220
Closing this for lack of activity, but we're still open to a PR that explores this option. 🙂

[2017-05-03 20:40] #1220 closed

[2017-05-03 20:41] helfer commented on #1477
Closing this since it's been a while, but still interested in an eventual PR, if someone wants to give it a try.

[2017-05-03 20:41] #1477 closed

[2017-05-03 20:48] helfer commented on #534
I think this has been fixed with #1483. If not, please open a new issue!

[2017-05-03 20:48] #534 closed

[2017-05-03 20:55] rgoldfinger commented on #1576
Looks like `react-apollo` is still on 1.0.x. https://github.com/apollographql/react-apollo/blob/master/package.json#L132

Unless I'm missing something, I think this needs to be updated before I can get this repo on the latest version. I guess this could be why it didn't look like it was fixed.

[2017-05-03 20:56] smeijer commented on #1649
Aaah, I see. Thanks for the clarification.

[2017-05-03 21:13] helfer commented on #1555
Hi @ndarilek. I'm closing this issue since the original problem has been resolved. Please feel free to open a new issue! 🙂

[2017-05-03 21:13] #1555 closed

[2017-05-03 21:15] helfer commented on #503
Let's continue all store API discussions in #1432.

[2017-05-03 21:15] #503 closed

[2017-05-03 21:17] helfer commented on #161
I don't think this should live in Apollo Client core so I'll close the issue here. I think it could be easily implemented in react-apollo if desired for example.

[2017-05-03 21:17] #161 closed

[2017-05-03 21:18] helfer commented on #593
It's still on our radar but will probably take a while. Let's focus all discussion around this in #1432

[2017-05-03 21:18] #593 closed

[2017-05-03 21:19] helfer commented on #1223
Closing for lack of activity. If this is still a problem, please open a new issue.

[2017-05-03 21:19] #1223 closed

[2017-05-03 21:20] helfer commented on #270
I think this is still a great idea, but the issue is quite old already. Let's continue discussion in #1210.

[2017-05-03 21:20] #270 closed

[2017-05-03 21:22] rgoldfinger commented on #1576
Updated the repro, it's still happening.

[2017-05-03 21:25] helfer commented on #1549
Looking at this again, this behavior is actually intended. If the query result is not in the store, `updateQueries` will not run. This is so that the data you get in the updateQueries function stays predictable. If you want to update a subset of that data, or just write data to the store, I recommend using `update`, which is much more flexible.

[2017-05-03 21:25] #1549 closed

[2017-05-03 21:29] helfer commented on #468
Closing up old issues 🚪

Let's take this into account when designing the next API.

[2017-05-03 21:29] #468 closed

[2017-05-03 21:30] helfer commented on #1013
Thanks for the example @dahjelle!

Closing this up since it's an old issue and the question has been answered 🙂

[2017-05-03 21:30] #1013 closed

[2017-05-03 21:31] helfer commented on #1255
Closing this since there hasn't been any activity in a long time 🚪

If it's still an issue, please open a new issue and reference this one.

[2017-05-03 21:31] #1255 closed

[2017-05-03 21:34] helfer commented on #1272
Let's keep track of this in #774, which talks about roughly the same thing.

[2017-05-03 21:34] #1272 closed

[2017-05-03 21:51] helfer commented on #1112
Closing this for lack of activity.

[2017-05-03 21:51] #1112 closed

[2017-05-03 21:52] helfer commented on #742
Closing this as an old discussion issue. Let's figure this out as part of a future normalization API.

[2017-05-03 21:52] #742 closed

[2017-05-03 21:53] helfer commented on #857
This should be fixed with #1483.

[2017-05-03 21:53] #857 closed

[2017-05-03 21:56] ndarilek commented on #1555
Wait, what? No it hasn't. I even left my question with this reproduction
on the second issue, but haven't heard back yet.

No worries if you're busy and still looking into it, but it definitely
is not resolved for me, as stated both on this issue and on the other. I
can wait, I just wanted to be clear on where this stood.

Thanks.

[2017-05-03 22:01] helfer commented on #862
Let's keep this in mind for any future API we design.

[2017-05-03 22:01] #862 closed

[2017-05-03 22:28] adamdawkins commented on #1419
@thebigredgeek I was doing exactly what you said not to here: https://github.com/apollographql/apollo-client/issues/1419#issuecomment-287274233

I'm using `ApolloClient` on the server, just to use GraphQL, because I came to GraphQL through Apollo, so it was my default.

Presumably I don't need to use ApolloServer either, but just an executable schema?

[2017-05-04 01:36] margh commented on #1631
I've been running into this a lot and have tracked it down to this line:
https://github.com/apollographql/apollo-client/blob/master/src/data/writeToStore.ts#L157

if your graphql query doesn't match the server's schema then `writeResultToStore` calls this with an undefined result causing the property lookup to fail.

For whatever reason there's no GraphQL errors in the result so an undefined resul

[2017-05-04 02:19] helfer commented on #1631
@margh I think strict checking of writes will make debugging much easier. We're almost ready to merge it in #1638 :tada:

[2017-05-04 05:14] wmertens commented on #1409
My approach in this situation is to query the userIds only and request the full user objects separately, in e.g. an Avatar component. Depends on the amount of data and duplication of course.

The approach I proposed in #1300 does do that, by making query cache writes build up the result object from cached objects, and then reads are O(1). Any time a query result comes in it would mutate all releva

[2017-05-04 05:36] #1611 closed

[2017-05-04 09:28] reut-co commented on #51
hey, any news regarding this issue?

[2017-05-04 10:47] reut-co opened #1653 "Network error, how to return data from cache"
when having a network error I would like to show the previous cached data (since we're using polling so there might be moments without network connection)
how can I do it?

[2017-05-04 11:04] amannn commented on #1479
@helfer No worries, I was able to work around it so far.

I just updated my node script to use `apollo-client@1.2.0`, `graphql-tag@2.0.0` and `isomorphic-fetch@2.2.1`.

I've also made it a bit clearer which fields are available and which aren't:

[code]

It seems like the problem is still there. If you remove the `owner` override of the query, the `login` is printed to the console.

[2017-05-04 11:20] chaffeqa commented on #1642
Could there be a better solution with instead:

* Using https://babeljs.io/docs/plugins/transform-object-assign/ for compiling standalone
* Require developers to opt to polyfill (using a similar tool)

Adding your own polyfill just contributes to the size + bloat, especially because id bet 99% either opt out of IE or apply their own polyfill (usually on `window.Object` or using babel)

[2017-05-04 11:38] happylinks opened #1654 "Feature request: BatchMaxQueries"
I just set up the batching queries with Apollo, which are great!
One thing I found was that when you execute a lot of mutations at the same time (let's say I want to save 100 images with a mutation for each), it will put all these queries in one batch.

This makes sense of course, because they are within the batch time limit. But a call with 100 mutations is probably slower then 10 calls with 10 q

[2017-05-04 12:18] joelmukuthu commented on #1317
Hi @helfer, is there an issue where we can track issues that are up for/passed consideration into future releases?

[2017-05-04 12:24] mcbain commented on #657
+1 for add to the docs

[2017-05-04 14:15] Dattaya commented on #1549
@helfer, thanks for your answer and thanks for keeping Apollo awesome.

makes sense

I tried it too with no success and now I know why. The query initially receives `id` from `react-router` in the form of a string, but in `writeQuery` for the purpose of testing I wrote the value myself as a number like so:

[code]
That's why the result didn't show up on the page.

Is it normal that Apollo does not

[2017-05-04 16:15] helfer commented on #1549
@Dattya yeah, that would definitely explain it! Apollo doesn't coerce any variables you give it. Since we don't have the schema on the client, so we can't even check if they fit the definition. I can see how that would be useful though, so I'm thinking about adding the option to put some more schema information in the client in the future to be able to do validation etc. with it.

[2017-05-04 16:20] helfer commented on #1642
@chaffeqa What's funny is that we use typescript from Microsoft, which compiles the code down to es5, but obviously doesn't transform `Object.assign`, so i doesn't work with IE, which is also from Microsoft 😁

Since we use typescript, also using babel doesn't really make sense. I don't know if typescript has a similar option to transform `Object.assign`, but even if it did, there are probably othe

[2017-05-04 16:21] helfer commented on #1317
@joelmukuthu Funny that you ask, I'm updating the roadmap this week, which we hadn't updated since 1.0 🙂 I'll also open a discussion issue about the roadmap, because I think that makes sense.

[2017-05-04 16:22] helfer commented on #1654
@happylinks I like the idea, it seems pretty reasonable to me! If you make a PR, I'd be happy to review it. 🙂

[2017-05-04 16:24] helfer commented on #1479
Ok, thanks, I'll look into it before the end of the week!

[2017-05-04 16:30] chaffeqa commented on #1642
derp I knew that, just didnt think to hard on the subject, was lost in a work issue this morning ><

So I looked quickly into the way you are distributing, and to me I would say:

* Remove the polyfills from `src`
* In the `npm run compile:browser`, add a browserify plugin (I know webpack, not browserify very well) or babel plugin (which I'm guessing browserify uses) that polyfills for you

That w

[2017-05-04 16:40] ndarilek commented on #1555
Can I please ask that either this issue be reopened, or that #1608 be repurposed to address my regression, which still fails even on the latest Apollo? I'm concerned that, with both issues closed, this will be lost. I'm also concerned that, were I to open a *new* issue, it'd be identical to #1608 which was closed in favor of this one, which was also closed. If I open a new issue, I'll basically cu

[2017-05-04 16:41] helfer commented on #1409
Hey @abergenw, that sounds awesome! :clap:

Some of the optimizations sound like they would break functionality that other people rely on, but I think the denormalized query cache and extra mutation hooks sound like we could integrate them quite smoothly! I'd love to have each of those as a separate PR. The smaller the PR, the faster we can review it, and the greater the chance that we can merge i

[2017-05-04 16:49] cesarsolorzano commented on #1555
@ndarilek I'll take a look at the reproduction, and I'll reopen your issue if necessary! 🙂

[2017-05-04 16:52] ndarilek commented on #1555
Thanks so much! At this point it's probably a silly mistake on my part,
and I apologize if so. I've been banging my head on this one for weeks,
and Stack Overflow/independent research is no help.

[2017-05-04 17:02] idibidiart opened #1655 "New bug in 1.x?"
hi

this was working fine in pre-1.0 Apollo Client

[code]

I updated from `forceFetch: true` to fetchPolicy

Getting this error now, which wasn't happening in pre-1.0 version of Apollo Client

    at new ApolloError (http://localhost:3030/bundle.js:2022:28)
    at http://localhost:3030/bundle.js:2941:44
    at http://localhost:3030/bundle.js:3299:25
    at Array.forEach (native)
    at http://loc

[2017-05-04 17:45] helfer commented on #1655
Hi @idibidiart, would you be able to provide a reproduction for this? You can use react-apollo-error-template.

[2017-05-04 18:21] helfer commented on #1555
@ndarilek Sorry about that. We'd be happy to open #1608 again, but I posted a suggestion there and got no reply for 2 weeks, so I saw no reason to keep the issue open. Please post an updated reproduction to use the latest versions of react-apollo and apollo-client, and then we'll reopen the issue!  🙂

[2017-05-04 18:24] Dattaya commented on #1549
I thought you can get this information from the beginning of a query: `query Sale($id: >>ID!<<) {` ?

[2017-05-04 18:26] helfer commented on #1653
@reut-co are you using react-apollo? If so, the component will now keep the data that was previously returned.

As for having a fetch policy that is essentially fetch-from-network-but-use-cache-if-necessary, we don't have that ready quite yet, but it's something we've been thinking about in the context of having much more flexible fetch policies.

[2017-05-04 18:31] idibidiart commented on #1655
@helfer

resolved by making these upgrades:

[code]

[code]

It was probably something to do with apollo-client and now it's fixed, so closing for now. Sorry, would have loved to reproduce but dealing with a deadline.

[2017-05-04 18:31] #1655 closed

[2017-05-04 18:39] tnrich opened #1656 "How to pass metadata per request/mutation"
Hi there,

I have a question about how to pass metadata on an apollo request. In my case, I am going to be making multiple create/update mutations in a row, and want to be able to wrap the creates/updates in a single transaction on the backend. To do that, I need to be able to pass a "transaction id" from the front end, as well as whether or not a given request is the last request in the series.

[2017-05-04 18:41] helfer commented on #1549
You're right, we could check what you pass against the definition in the query. That might be useful for client-side updates. What we can't actually check is if the variables are of the correct type in the place where you use them.

I don't think we want to get into the variable coercion business, but it's good to know that we could, if we wanted to 😀

[2017-05-04 18:47] helfer commented on #1656
@tnrich I think #1066 is essentially asking for the same thing. At the moment it's not possible. You might be able to hack something by giving your mutations a name that carries some meaning, and then sticking extra information into the request headers in your middleware.

However, even if you can transmit the intent of a transaction, it might still be a bit hacky on the backend to keep everything

[2017-05-04 18:47] helfer commented on #1656
I'll close the issue in favor of #1066, let's continue the discussion there! I'm definitely interested in seeing the solution you come up with, if you don't mind sharing it!

[2017-05-04 18:47] #1656 closed

[2017-05-04 18:51] tnrich commented on #1656
@helfer , thanks for the quick response!

That is a bummer there is no way to do this yet. I'll check over at #1066 to see if I can help something get implemented on this front.

In my case actually, they would be guaranteed to run serially because I would be doing something like:

mutation1.then(()=>{
  mutation2.then()...etc
})

I think the backend transaction would be okay as well...

[2017-05-04 18:52] helfer commented on #1509
@oavasilcai #1636 and the PR that references it in react-apollo. It should be in `react-apollo@^1.2.0`.

[2017-05-04 19:25] ndarilek commented on #1555
Oh, I think I see what happened. Thunderbird or Github recently changed
reply-by-email so I need to use reply-to-list for commenting by email. I
commented that I'd implemented your suggestion into the reproduction and
it didn't work, but that comment didn't go through because I didn't
realize this change had happened until recently.

In any case, I implemented your suggestion and it didn't seem to

[2017-05-04 20:03] raix commented on #1553
Since this would add more dependencies to the core apollo client we shouldn't add it in the main bundle.

Options:
* Move it to a separate package *costly in maintenance*
* Settle with documentation of the pattern
* Create general executor interface leaving it up to the user to supply an executor

[code]

[2017-05-04 20:08] abhiaiyer91 commented on #1553
Do you want to use this interface in production?

[2017-05-04 20:08] abhiaiyer91 commented on #1553
Can't we bundle this in `apollo-test-utils`?

[2017-05-05 00:17] cesarsolorzano commented on #1608
@ndarilek hey there! `ApolloClient` takes a `fragmentMatcher` option which should be a function.

You are initializing the `ApolloClient` with the wrong options (using an object instead of a function and with the name of `introspectionQueryResultData` rather than `fragmentMatcher`). There's more information available [here](http://dev.apollodata.com/react/initialization.html#fragment-matcher). Let

[2017-05-05 07:02] raix commented on #1553
@abhiaiyer91 if you don't have a graphql server and want to evaluate graphql and a store maintainer like apollo client what are your choices?

We might use apollo-client in prod - but we still have to evaluate and have some concerns to iron out.

--

From my point of view we can close this ticket - my point was to help newcomers that didn't have a graphql server in their stack

--

Further referen

[2017-05-05 08:21] MichaelDeBoey opened #1657 "How to get the default 'dataIdFromObject' value?"
I don't have a custom `dataIdFromObject` function in the constructor of the client, so all my values are stored as `__typename:id` by default.

Now I want to access the default `dataIdFromObject`, so I can use it for a `readFragment`, where I only have the id of the object.
I think there should be a better way then this, or is this the recommended way?
[code]

If I ever want to have a custom `data

[2017-05-05 09:05] ksmth commented on #1479
if you change
[code]

to read like this:
[code]
it works. This also works for as many fragments in any order, so it seems for now it's best to always put them last.

[2017-05-05 09:10] joelmukuthu commented on #1317
nice! thank you for the great work you guys are doing btw :)

[2017-05-05 10:08] github0013 opened #1658 "apollo doesn't return values nor error when [Episode]! type has a null value"
Server setup may depend on preferences, but I do ruby on the server side, and here's the reproduction code.
https://gist.github.com/github0013/2bd68d7569d49533ab629ca05f3f8238

### this code above returns values like this in graphiql without errors.
![](https://gist.githubusercontent.com/github0013/2bd68d7569d49533ab629ca05f3f8238/raw/2fab005d53d92160ec14d8ebb236497779e4523f/GraphiQL.png)

As far

[2017-05-05 13:56] elie222 commented on #1364
Yeah I get some weird behaviour on log out when using this.

I really just expect the store to equal = {} when I use resetStore not to refetch queries. How it is now I'm always getting errors saying variables for queries are null (which makes sense, they are null since the user logged out and doesn't want to make any queries).

[2017-05-05 15:51] happylinks commented on #1654
Cool, I'll take a stab at it :)

[2017-05-05 17:31] tnrich commented on #1066
@roippi , can you weigh in on whether what @wizardzloy is saying true? That adding metadata wouldn't be a breaking change? I don't see why passing a new field (metadata) to custom network interfaces would break them?

I think for my use case, passing info about how to batch transactions as described in #1656, a metadata field would be a very nice way to solve it.

Thanks!

[2017-05-05 18:04] helfer commented on #1658
Thanks for filing this issue @github0013! 🙂
I think this is a duplicate of #1551 so I'll close it. I will look into it today!

[2017-05-05 18:04] #1658 closed

[2017-05-05 18:09] helfer commented on #1479
Thanks @ksmth, that's a pretty simple workaround then. I'll still try to get it fixed, but I might make it lower priority for now.

[2017-05-05 18:12] helfer commented on #1657
@MichaelDeBoey I think currently this function is exposed as `client.dataId`, it's just not documented. A PR to the docs would be great.

I think we should also expose it as `dataIdFromObject` in addition to `dataId`. If you'd like to make a PR for that, that would be great as well! 🙂

[2017-05-05 18:12] #1657 closed

[2017-05-05 18:36] aikonplus opened #1660 "Getting message: graphql-server-express@0.7.2 installed, graphql-server-express@^0.6.0 needed"
**Intended outcome:**

I am using apollo with meteor.
I have updated apollo-client, and after that, I started to receive the message:
[code]

 The problem is persistent since several previous versions.

apollo/graphql related packages and versions:

[code]

[2017-05-05 18:48] helfer commented on #1551
@elie222 I found the bug and fixed it, just have to write a test for it. I'll release it later today :tada:

[2017-05-05 19:28] MichaelDeBoey commented on #1657
@helfer I'd love to help, but I'm completely new here, so if you could point me in the right direction on how to start, that would be great! 🙂

[2017-05-05 22:00] helfer commented on #1660
@aikonplus apollo-client has no dependency on any server (you can check in package.json), this message must be due to a different package.

[2017-05-05 22:00] #1660 closed

[2017-05-05 22:01] helfer commented on #1657
Sure! For the code PR, the only file you'd have to modify is `ApolloClient.ts`!

[2017-05-05 22:01] #1551 closed

[2017-05-05 23:20] MichaelDeBoey commented on #1657
@helfer I don't know if it was that easy to add it, or did I miss some things? 😕

[2017-05-05 23:37] #1334 closed

[2017-05-05 23:39] helfer commented on #1657
No, that's pretty much it. If you want, you can add two tests that make sure it's the function you'd expect (once default, once custom).

[2017-05-05 23:43] MichaelDeBoey commented on #1657
Yeah I was thinking about that, but I couldn't find the test for `dataId` so... 😕

[2017-05-05 23:44] helfer commented on #1657
It's really not worth testing imo.

[2017-05-05 23:48] MichaelDeBoey commented on #1657
If you want I can write a test for it, but if you don't think it's necessary, we can just leave it like this 🙂

[2017-05-05 23:49] #1092 closed

[2017-05-06 00:07] MichaelDeBoey commented on #1657
The only thing we (i.e.: I) have to do is add the docs now, but can't seem to find them 😕

[2017-05-06 00:07] helfer commented on #1415
This will no longer be a silent error thanks to #1638, so I'm closing this.

[2017-05-06 00:07] #1415 closed

[2017-05-06 00:14] helfer commented on #1657
Maybe here? http://dev.apollodata.com/react/cache-updates.html#normalization

[2017-05-06 00:27] MichaelDeBoey commented on #1657
@helfer Shouldn't it be updated on all clients and not only `React`?

[2017-05-06 00:36] helfer commented on #1210
It should no longer clear out results in react-apollo with https://github.com/apollographql/react-apollo/pull/548. For other integrations I think they should do a similar thing.

[2017-05-06 00:36] #1210 closed

[2017-05-06 00:39] helfer commented on #1099
I want to provide a bit of context to explain why we haven't done anything about this so far.

Right now watchQuery returns an `ObservableQuery`, which is just an observable with some extra functions. We call `error` on subscribers when an error happens. Observables are only allowed to call `error` once, which means we can't keep polling after delivering the first error. So we'd have to choose eit

[2017-05-06 01:08] helfer commented on #1657
In theory yes, but we don't have those docs there now, and the vast majority of users are on React.

[2017-05-06 01:49] MichaelDeBoey commented on #1657
@helfer docs are added 🙂

[2017-05-06 02:37] MichaelDeBoey commented on #1657
@helfer Also made sure the docs would be available [here](http://dev.apollodata.com/react/api.html#ApolloClient) 🙂

[2017-05-06 05:43] #1099 closed

[2017-05-06 10:26] dallonf commented on #1099
I think this should definitely be something done in React Apollo, but it doesn't really help this particular use case since it was using Apollo Client directly. I think the biggest problem is that, at least when I created this ticket, polling would not restart even if you call `startPolling()` again; was this fixed?

[2017-05-06 17:23] helfer commented on #1099
@dallonf I see, that's unfortunate. I don't think there's anything we can do to restart the polling once the observable has errored for the same reason that I mentioned above. Maybe we should consider using observables that can emit multiple errors though. Right now if you want to continue polling, you have to start a new query.

[2017-05-06 18:36] MichaelDeBoey commented on #1657
Closed by #1663, apollographql/react-docs#221 & apollographql/core-docs#286

[2017-05-06 18:47] greenkeeper[bot] opened #1669 "An in-range update of webpack-bundle-analyzer is breaking the build 🚨"
## Version **2.5.0** of [webpack-bundle-analyzer](https://github.com/th0r/webpack-bundle-analyzer) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fwebpack-bundle-analyzer-2.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack-b

[2017-05-06 19:00] #1669 closed

[2017-05-06 19:06] helfer commented on #1035
I think this is no longer a problem with the UMD bundle. At least I'm not having the issue. If it's still current, please re-open.

[2017-05-06 19:06] #1035 closed

[2017-05-06 19:32] greenkeeper[bot] opened #1672 "An in-range update of webpack-bundle-analyzer is breaking the build 🚨"
## Version **2.6.0** of [webpack-bundle-analyzer](https://github.com/th0r/webpack-bundle-analyzer) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fwebpack-bundle-analyzer-2.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack-b

[2017-05-06 19:45] MichaelDeBoey commented on #1561
@dmarkow If your get back a union, then this could be the same problem as in #1611, which is fixed by #1638 :-)

[2017-05-06 19:54] dmarkow commented on #1561
I just tried to reproduce this on the current version and can't, so maybe it was resolved with some of the recent updates... Thanks!

[2017-05-06 19:54] #1561 closed

[2017-05-06 21:09] helfer commented on #1672
RA

[2017-05-06 21:09] #1672 closed

[2017-05-07 14:03] MichaelDeBoey commented on #1619
Don't know if this is all that needed to be done, but tried to help with this one in #1676 🙂

[2017-05-07 18:04] maarekj commented on #1672
Uuump ou

[2017-05-07 19:46] Florentijn opened #1677 "Cache, and hence UI not updating after calling mutation that changes the __typename."
In our relay compliant GraphQL schema, we have defined an interface, lets say `Policy`, and a couple of types that implement the interface, lets say `PendingPolicy` and `ActivePolicy`. In one of our mutations, we change the underlying type of the object, while keeping the same id. We could for example have a mutation that mutates the PendingPolicy to an ActivePolicy type. The mutation returns the

[2017-05-07 21:45] badre429 opened #1678 "Change Traking on Datacontext To create mutation"
Is there any way to implement change traking on data context like we see on ORM framework where we have datacontext (dc ) and we have datasets (dc.products)
and all mutation happen after calling (dc.savechanges())

[2017-05-08 08:26] stubailo commented on #1678
No - GraphQL mutations are more like an RPC than an ORM. There is no concept of "saving" an object in a GraphQL API, you need to create specific mutations in your API, and then construct arguments to those.

[2017-05-08 08:26] #1678 closed

[2017-05-08 08:46] waleedarshad opened #1679 "updateQueries does not return store(cache) data on second attempt"
I have a secnario where i upload document to property. on very first page load when i upload document i received property in *prev* object and it show correctly on UI. When i upload another document on store, it does not return any property object in previous. why?

      (graphql(MUTATION, {
	    props: ({ mutate, ownProps: { id, onSuccess, onError } }) => ({
		onUploadError(err) { onError(err);

[2017-05-08 08:48] waleedarshad commented on #1679
![screenshot from 2017-05-08 13-47-10](https://cloud.githubusercontent.com/assets/5329697/25797023/123f04f2-33f5-11e7-84d6-9395a25bbe75.png)

[2017-05-08 12:38] aikonplus opened #1680 "In case of pagination, how can I refresh all pages?"
I am using the latest version of react-apollo with meteor

**Intended outcome:**
I have a paginated list. I would like to add a reload button to this list. On reloadig, the current data should be erased, and new data should be fetched from the server on all pages of that list.

**Actual outcome:**
I have tried to trigger `.refetch()` with this button. But it refetches only the current page. If oth

[2017-05-08 13:52] Florentijn commented on #1677
We did find it in the end! The problem was that you need to pass the necessary schema knowledge to Apollo Client so unions and interfaces can be accurately matched and results validated before writing them into the store. See [http://dev.apollodata.com/react/initialization.html#fragment-matcher](http://dev.apollodata.com/react/initialization.html#fragment-matcher)

One note, the documentation ment

[2017-05-08 16:05] Peterabsolon commented on #1186
Same here, downgrading to 0.10.1 fixed my issue. :|

[2017-05-08 16:45] michaelknoch opened #1681 "preserve cache when device loses internet connection"
I am developing a react native app with react-apollo for my clientside. Im experiencing a bug when the app disconnects from the internet. Data in some of the views will be deleted and data.error will be defined.
Unfortunately I am not able to debug what data.error actually contains, because disabling wlan on my device kills the connection to the react native packager and causes errors and crashes.

[2017-05-08 18:49] helfer commented on #1186
@Peterabsolon how about Apollo Client 1.2.2?

[2017-05-09 01:18] helfer commented on #1677
Thanks @Florentijn! Can you check if you still need to import from `apollo-client` with the newest `react-apollo`? If so, please file an issue!

[2017-05-09 01:18] #1677 closed

[2017-05-09 01:23] helfer commented on #1679
Hi @waleedarshad, thanks for filing an issue. It's really hard for us to tell if this is a problem with apollo-client or with your app. Could you put together a minimal reproduction with the most recent version of react-apollo and apollo-client using [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template).

[2017-05-09 01:45] helfer commented on #1672
@maarekj what's that? 😄

[2017-05-09 01:50] helfer commented on #1681
@michaelknoch Which versions of apollo-client and react-apollo are you using? If your components are using polling queries, this would be a duplicate of https://github.com/apollographql/apollo-client/issues/1210.

[2017-05-09 02:28] smkhalsa commented on #424
Any progress made on offline?

[2017-05-09 08:51] michaelknoch commented on #1681
An update to the newest `1.2.2` version of apollo-client fixed the deletion of already cached data, but another bug existed in my render function:
[code]
removing `|| data.error` fixed the problem, but i am still a little confused. What would be the best approach for displaying a loading/error view? `data.loading` and `data.error` can both be true although data is available for rendering.

maybe l

[2017-05-09 10:04] MichaelDeBoey opened #1684 "'coverage/coveralls' integration is stuck"
All new commits to a PR stay orange because of the `coverage/coveralls` integration 😕

CC: @helfer

[2017-05-09 18:34] tnrich opened #1685 "Accessing apollo redux data via selectors?"
Hey there,

So at the top of my app I have a query for the `currentUser` and based on this query I either redirect to a login page or let the user continue on with their business. I'd also like to get the currentUser's id in other places in the app, and I was wondering what the recommended way to do this would be. Is there something like a redux selector that I can use that would allow me to acces

[2017-05-09 18:37] stubailo commented on #1685
You can use a query with the `cache-only` fetch policy: http://dev.apollodata.com/react/api-queries.html#graphql-config-options-fetchPolicy

That basically just makes the query act just like a selector, and doesn't send anything to the network! Would that work for you?

Going to close since this is a question and not an issue.

[2017-05-09 18:37] #1685 closed

[2017-05-09 19:10] helfer commented on #1684
http://status.coveralls.io/

[2017-05-09 20:44] greenkeeper[bot] opened #1686 "An in-range update of rxjs is breaking the build 🚨"
## Version **5.3.2** of [rxjs](https://github.com/ReactiveX/RxJS) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Frxjs-5.3.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rxjs
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-05-09 21:40] NickDubelman commented on #1186
Downgrading to 0.10.1 fixed for me.
Updating Apollo Client 1.2.2 did not fix.

I can see in my dev tools that a request is being fired when my props are updated and is getting an appropriate response, but props.data.loading is never set to false and props.data never gets my queried data as one of its fields.

[2017-05-09 23:36] helfer commented on #1186
@NickDubelman is that irrespective of the react-apollo version used? Can you determine whether this is due to react-apollo or apollo-client?

[2017-05-09 23:48] NickDubelman commented on #1186
I believe it is due to react-apollo. I was using 1.x react-apollo when I tested Apollo Client 1.2.2. I imagine Apollo Client 1.2.2. would work with react-apollo 0.10.1.

[2017-05-10 01:51] helfer commented on #1186
Ok, I think a reproduction would be really great for this. It looks like we still don't have one. Would you be able to put one together using react-apollo-error-template @NickDubelman? :pray:

[2017-05-10 07:01] excitement-engineer commented on #1677
I can confirm that this is not an issue in the newest version (1.2.0) of `react-apollo`! I tested it out. This was an issue in version 1.0.1 of `react-apollo`.

[2017-05-10 08:04] MichaelDeBoey commented on #1684
@helfer Still some problems according to the status page, but the PR's aren't orange anymore 🙂

[2017-05-10 10:34] sondremare opened #1691 "Writing partial objects to store with writeQuery"
Hi! This is more of a question than an issue. I am using apollo-client v1.2.2 and I have a list of files displayed in our app.

Example query:
[code]

Lets say another users sends/inserts a new file from another instance of the app. But we only have the id to work with.

I am trying to writeQuery with that id, thus inserting a partial file into the store. However, this results in the entire list d

[2017-05-10 13:10] sedubois commented on #424
See https://github.com/logux/logux-client/issues/20 and https://github.com/jevakallio/redux-offline/issues/7. Redux-offline seems stalled by lack of resources, Logux might be promising but quite a few open questions. (both projects were presented at [React London](https://www.youtube.com/channel/UCV4LIEkC0S9KUAPDm2g4mNQ))

Or need to build something custom...

[2017-05-10 13:32] pi0 commented on #424
As far as i know after great 1.0 release apollo Dev team has decided to separate storage layout so it can be shared across native and js platforms. I think it would be better to wait and somehow adopt with new upcoming approach. /CC @helfer @stubailo any small guide by you would be super useful :)

[2017-05-10 17:14] maarekj commented on #1672
Sorry it was my daughter who played with the phone

[2017-05-10 17:19] NickDubelman commented on #1186
I will try over the next few days!

[2017-05-10 18:00] helfer commented on #1691
You can either refetch the entire file and insert it, or set the missing fields to `null` explicitly: `{ id: 123, name: null, type: null}`

[2017-05-10 18:00] #1691 closed

[2017-05-10 20:07] MichaelDeBoey commented on #1684
@helfer Everything is operational again on coveralls 🙂

[2017-05-10 20:07] #1684 closed

[2017-05-10 23:02] jazzdragon opened #1692 "Global error handling"
Hi,
In my application, as is quite common, I handle errors coming back from the server in the same global way, throughout the app. Right now, every time I make a mutation to the server, I need to include error handling code every time, which is just boilerplate overhead.
In my specific case, I use react with redux, and dispatch an action on error to display a snackbar.
So, every mutation has this

[2017-05-10 23:20] fc commented on #1692
you can create a custom network interface to handle this:
http://dev.apollodata.com/core/network.html#custom-network-interface

you can wrap the what apollo client network interface you are using then add in your error handling in there.

[2017-05-10 23:45] AndrewHenderson commented on #98
@stubailo I'm attempting to query the current user's User data on the root React.Component of my application and provide the data to the children which are React Router routes.

[code]

I don't like using React.cloneElement`. Ideally, I'd use `readQuery` however, the data has yet to be returned by the time the children mount.

What is the recommended approach in a case such as this?

A coworker re

[2017-05-11 01:00] helfer commented on #98
@AndrewHenderson If your children mount before the data is completely fetched, the children will fire their own queries. Is there a reason you don't want to stop the children from rendering while the data hasn't loaded yet? Do they have something useful to display without data? If not, you can check `props.data.loading`.

[2017-05-11 01:10] jazzdragon commented on #1692
Awesome thanks.
I actually looked into it, but missed `GraphQLResult`
Closing

[2017-05-11 01:10] #1692 closed

[2017-05-11 09:50] waleedarshad commented on #1679
Hi @helfer, when i used this line into the after mutation then it work fine

refetchQueries: ['getProperty']
so it mean refetching worked but not without.

Current version
Meteor 1.4.2.7
 apollo-client: "^0.8.1",
 apollo-server: "^0.3.3",
 react-apollo: "^0.9.0",
 graphql: "^0.7.2",

Will try to reproduce

Thanks

[2017-05-11 16:41] advance512 commented on #1186
I can facing this issue as well. It certainly happens in one specific query (possibly others too), and it does not have an array.

Weird.

[code]

[2017-05-11 20:44] renato commented on #899
(Please tell me if my question would be better asked in SO instead.)

I was using `updateQueries` to delete from the store but it only works for the current parameters in a query and I'm deleting data for other cached parameters (ie. I filter by month and I'd like to delete data from multiple months). Anyone knows the recommended way to do this (without refetching)?

Plus, I thought migrating to t

[2017-05-12 00:43] helfer opened #1693 "Mutation overwriting data from a different query doesn't error or return stale data"
Just debugged an issue with @daniman that was tricky to debug, because there was neither an error nor data returned.

**Intended outcome:**
If the mutation writes an object with a new id that doesn't have all the fields that a current query is requesting, stale data should be returned by that query, and it should probably print a warning.

**Actual outcome:**
The query status returned was `{loadin

[2017-05-12 02:01] helfer commented on #1693
For reference, this is the underlying fundamental problem: https://github.com/apollographql/apollo-client/issues/821

[2017-05-12 02:22] helfer commented on #899
@renato with the `update` function you should be able to write `null` to the store. This won't actually remove any data, but it will break the links, so to the client it will look like the data isn't there any more and it will refetch.

What's the reason you want to delete from the cache and how important is that feature to you?

[2017-05-12 02:51] helfer commented on #1186
@advance512 if you like, you could also try to make a reproduction!

[2017-05-12 03:19] helfer commented on #1679
@waleedarshad I'm glad it works now! I think the reason it probably didn't work is because the optimistic response didn't contain all the data that was required for the old query.

[2017-05-12 03:19] #1679 closed

[2017-05-12 04:01] helfer commented on #424
@pi0 yeah, we're working on it as fast as we can with the Airbnb team. We're going to publish our design docs here in the next few weeks so the community can participate and contribute as well!

We're a bit limited on bandwidth because I have other projects going on as well, but this is near the top of my todo list 🙂

[2017-05-12 04:04] #1252 closed

[2017-05-12 04:21] helfer commented on #1681
Hey @michaelknoch, I'm glad you were able to find a solution! I'm not sure how checking for `data.error` could break anything. Can you elaborate on what breaks when you include that?

[2017-05-12 07:06] advance512 commented on #1186
The issue is sporadic, hence I'd guess it is related to `apollo-client`'s data fetching state machine. It also means it is quite hard creating a reproduction, even more as you'd need some sort of GraphQL server and front end framework to work with and show the issue.

For now I've done what others have done, downgraded to 0.10.1.

[2017-05-12 07:52] michaelknoch commented on #1681
it does not actually break the code, it breaks the expected behaviour of my views.
When i turn my device into offline mode after a query was successful and the fetched data already has been rendered, data.error contains an error, i guess its something like 'connection refused' but `data.queriedAndRenderedData`still contains the data because the previous query was already successful.

I had to rewr

[2017-05-12 10:45] c10b10 opened #1694 "Updating cached data from multiple parameterized queries after a mutation"
Suppose I have a paginated infinite scroll list of `Items`. The list pulls data from a GraphQL server by using two parameterized queries: `ITEMLIST_QUERY` and `ITEMLIST_MORE_QUERY`. Both of those queries have arguments for ordering, and filtering, and whatever else is needed for pagination. The only difference between them is that the `MORE` query has an extra `$skip` argument (I know I could have

[2017-05-12 12:05] Dattaya opened #1695 "Warn `writeFragment` should not be used to modify array fields"
Right now if you try to add, remove, or rearrange items in an array field with `writeFragment`, for example:

[code]

[code]

**Actual outcome:**
`this.props.data.sample` becomes undefined.

**Intended outcome:**
Apollo prints a warning in the console and recommends to use `writeQuery`?

**How to reproduce the issue:**
https://www.webpackbin.com/bins/-KjwIl8lUONyYfuGthTX

[2017-05-12 12:06] Siyfion opened #1696 "Error - "Must provide document""
I have a mutation that when I fire with a small mutation, works perfectly fine. Once the size of the object being modified gets to a certain (unknown) size, it starts throwing `network errors` into the console and requests start failing with `400` codes.

The response given by the server is `{errors: [{message: "Must provide document"}]}`.

I'm pretty sure that this relates to the size of the data

[2017-05-12 13:45] lucfranken opened #1697 "Update store after mutation (create) unclear how to handle"
There are a lot of docs but one part seems to be totally unclear on how to approach.

I use GraphCool as backend and React Native as frontend so that's how the names of the queries are setup.

Say I have a list of invoices

- Invoice 1 Paid: true
- Invoice 2 Paid: false

I have 2 queries (I show 2 lists on the screen): All & unpaid

[code]

[code]

I insert a new invoice:

[code]

I do understand

[2017-05-12 22:51] c10b10 commented on #1694
Ran into the same need with `refetchQueries` since I have the same query with multiple arguments cached, and I want to update only the queries that contain a certain just favorited `Item`.

[2017-05-12 22:54] cesarsolorzano commented on #1695
@Dattaya  I think `messages` should have a selection of subfields in the fragment.

[2017-05-13 07:17] Dattaya commented on #1695
@cesarsolorzano, you're completely right, sorry for this useless issue.

[2017-05-13 07:17] #1695 closed

[2017-05-13 12:43] ablbol opened #1698 "infinite scrolling and updateQuery"
I am using "react-apollo": "^1.0.0".  I am experimenting with infinite scrolling.  So I have a query that is supposed to load the first 20 users and when I scroll down to the bottom of the page, I get the next 20 users. Every things works great.  But then I turn the network off, I log the error and networkStatus.  I get:
[code]
Seem fine so far but when I turn the network on again, I log the follo

[2017-05-13 12:49] ablbol commented on #1698
I should have created this issue in  @react-apollo.  I am sorry, I don't know how to move the issue there.

[2017-05-13 13:22] n1ru4l commented on #1698
You will have to close this issue and open a new one in the react-apollo repo

[2017-05-14 01:48] Narzerus opened #1700 "A way to catch GraphQL Server errors?"
I've looked everywhere for this but didn't manage to find an answer:

How are validation errors currently handled by the apollo-client? My graphql server sends a response to the client like this (on validation errors):

[code]

I'm using an afterware to handle things like logging out when doing a request with an invalid/expired session token. But the errors get thrown as I don't see any place wher

[2017-05-14 02:57] AlexLeung opened #1701 "Can't find field <field> on object (ROOT_QUERY) undefined."
I'm using ReactNative, and am able to load a user object from my graphql server using
[code]
Therefore, I would expect this user to be in the cache. However, when I write the following code in the constructor of a different component:
[code]
I get the following error:
`Can't find field user({"id":1}) on object (ROOT_QUERY) undefined.`

[2017-05-14 03:15] #1698 closed

[2017-05-14 09:55] saudpunjwani101 commented on #1697
in my case the update function doesn't gets called.

[2017-05-14 23:31] greenkeeper[bot] opened #1702 "An in-range update of mocha is breaking the build 🚨"
## Version **3.4.0** of [mocha](https://github.com/mochajs/mocha) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fmocha-3.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      mocha
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-05-15 00:08] danm opened #1703 "delete me :)"

[2017-05-15 03:32] Poincare commented on #1409
Hey. Sorry for my late response on this - was caught up with finals. These changes sound great @abergenw. I'm particularly excited by the cache associated with the query since it probably eliminates a lot of calls to `diffQueryAgainstStore` given how most applications use the query cache currently.

I think there's also a lot of work to be done around managing how state is held with `QueryManager`

[2017-05-15 10:51] #1703 closed

[2017-05-15 14:19] Aides359 commented on #1555
A warning would be really helpful.

The way it currently works the server request is correctly executed, the correct response is obtained (as visible in the network tab of chrome debugging tools) but the result from apollo-client has `data: undefined`.

After 7 hours of debugging I was able to pinpoint the cause, tried to reproduce it in a test for apollo-client, only to get
[code]
which I would h

[2017-05-15 15:27] renato commented on #899
@helfer I'm sorry, I'm probably missing something.

I don't really need to "delete from the cache" but this is the way that worked so far for me when deleting something from the view.

I've a list of items in my React view injected by Apollo. When I execute a mutation that deletes one item how do I remove that specific item from my view? So far I've been deleting it from the cache using the `updat

[2017-05-15 18:09] fc commented on #1680
You could use fetchMore and instead of appending data like in the example you could have it replace the property you're changing:
http://dev.apollodata.com/react/pagination.html#numbered-pages

[2017-05-15 19:12] claudiamatosa commented on #51
This would be quite important for a project I'm working on too. Use case (dummy schema):

[code]

`favouriteBook` needs to be fetched with a resolver for each `Customer` in the list, via http, as it's in a separate micro-service. If one of the resolvers fails, meaning that we don't get a group for that customer, apollo client doesn't return the remaining data, even though it comes in the network r

[2017-05-15 21:29] TSMMark commented on #621
Would very much appreciate a cache expire time option or a TTL feature.

[2017-05-16 10:33] jamsheer-thottathil commented on #1233
Issue solved me by adding CORS headers

const corsOptions = {
    origin(origin, callback){
        callback(null, true);
    },
    credentials: true
};
graphQLServer.use(cors(corsOptions));
var allowCrossDomain = function(req, res, next) {
    res.header('Access-Control-Allow-Origin', '*');
    res.header('Access-Control-Allow-Methods', 'GET,PUT,POST,DELETE,OPTIONS');
    res.header('Access-Cont

[2017-05-16 14:40] StevePotter opened #1704 "pollInterval with fetchPolicy of 'cache-first'"
Use case: I want a query to load data from the cache, and only fetch from network if it's been more than 1 day.  The API docs indicate that I need to use `fetchPolicy: 'cache-first'` and `pollInterval: 1000*60*60*24`.

But this gives me the error (attached) 'Queries that specify the cache-first and cache-only fetchPolicies cannot also be polling queries.'.

Why should that be the case?  The expect

[2017-05-16 15:00] MichaelDeBoey opened #1705 "Question: Is it possible to find object in the store by a non-id key"
I know how to get the (default) value from `dataIdFromObject` (#1657), but I was wondering if it's possible to do something like this:
[code]

when my store has (their ID is unique in the union)
[code]

with the following schema:
[code]

It's again for using it for a `readFragment`, where I only have the id of the object.

CC: @helfer

[2017-05-16 17:04] cesarsolorzano commented on #1479
I've found that this issue is related to graphql-anywhere, and in fact, it has already been reported: apollographql/graphql-anywhere#41

[2017-05-16 17:04] #1479 closed

[2017-05-16 18:14] ohjames commented on #332
@helfer cache redirects just don't seem to work for me.

I have `accounts` where each entry has a `from` field and then in another query I access `account (id) { from, ...otherFields }` but every time apollo re-requests `account(id) { from, ...otherFields }` when I'd expect to just see `...otherFields` inside of that. My server checks whether `from` is being requested and if it is it there it caus

[2017-05-16 18:37] aikonplus commented on #1680
Please correct me if I am wrong. Since I am not using `fetchMore()` right now. The results of my queries are not connected to each other, therefore `refetch()`, refetches only the last query.

Instead, if I start using `fetchMore()`, the results of the queries will be connected to each other (like get the data of the first, later get the data of the second page and so on...).  In the case of `refe

[2017-05-16 18:43] cesarsolorzano commented on #1701
@AlexLeung it looks like it should work. It will be helpful if could you provide a reproduction using the [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template)

[2017-05-16 18:48] rgoldfinger commented on #1576
I updated the repro to `1.2.0`, and it's down from throwing three errors to 1. I don't think that it should throw any because it's handled in the HOC.

[2017-05-16 20:37] StevePotter opened #1706 "Results from network not overwriting cached results due to query.lastRequestId"
We have a query that has a cache expiration.  So we fetch the query using 'cache-first' and if it's cached value has expired, we call `data.refetch()` and we get the new data with a future expiration date.

But the refetch doesn't get saved in redux!  I debugged the library and found the redux write gets cancelled at https://github.com/apollographql/apollo-client/blob/d420cbdbb3e6637ee2e8e8c211e3d

[2017-05-16 21:43] #1702 closed

[2017-05-16 21:50] helfer commented on #1706
@StevePotter I take it you are having this problem because you're persisting state to disk, then hydrating the client with it on startup? The way we intended for this to happen was to only hydrate the store data, but not the query state. Is that not possible with the expiration mechanism that you've built on top?

Personally I think a decent way to patch this would be to add a way to retrieve the

[2017-05-16 21:51] #1686 closed

[2017-05-16 21:53] helfer commented on #1696
Hey @Siyfion I'm almost certain that you're getting this error because you're hitting some kind of request size limit on your server or proxy. Can you successfully send the same request with a client like curl or from GraphiQL?

[2017-05-16 21:54] helfer commented on #1700
Hi @Narzerus I'm not sure what you mean by catching the errors. You should be able handle it by adding a `catch` to your `mutate` call. If that doesn't work, could you provide a reproduction using react-apollo-error-template? That would help us figure out what's going on.

[2017-05-16 21:57] helfer commented on #1705
Hey @MichaelDeBoey. Since you made that PR it should definitely be possible 😉

The union is a concept in the schema. On the client you always have a specific instance, so either a Student or an Instructor. If that object has all the fields that your `dataIdFromObject` function needs, then you can indeed just run it through `client.dataIdFromObject` and get the id. Let me know if that somehow doesn

[2017-05-16 22:01] helfer commented on #1704
@StevePotter the way the `cache-first` fetchPolicy works is that every time that query is run, we check if the data is in the cache. If it is, we'll return it from there and hit the server. The way we conceived it, we assumed that polling queries would only be used if you know you want to fetch from the server.

I'm sure this is something we can change to support your use-case, but before we get t

[2017-05-16 22:23] Narzerus commented on #1700
@helfer roger, I'll work on a repro case thanks!

[2017-05-16 22:52] Siyfion commented on #1696
It's a production server running on Galaxy, so the environment should be easy to replicate @helfer!

[2017-05-16 23:14] Narzerus commented on #1700
So, I tested my app again today and it now catches errors. before I was somehow in a state in which catching errors would not prevent them from being thrown, but cannot repro now and everything works.

Sorry for the noise, closing this unless I can reproduce again.

[2017-05-16 23:14] #1700 closed

[2017-05-17 00:15] ryannealmes commented on #1618
I think I am running into a similar problem as well. It seems in my case the mutation and the refetches are happening at the same time. This causes the data being returned to not be the newly mutated data.

My mutation config

[code]
Then in my component I call `this.props.refetch()`
[code]
As you can see the only way I can get this working is to add in a timeout so the refetch is delayed.

[2017-05-17 07:45] MichaelDeBoey commented on #1705
@helfer I think you don't understand me that clear 😕
In my example I only have `1234` and I know I have a store with `Person`s (`Instructor`s or `Students`s), but I don't know the type of `1234`.
So what I was asking was if it's possible to just ask for a `Person` in `dataIdFromObject` instead of specifying the specific type (which I don't know)?

[2017-05-17 08:49] joarwilk commented on #332
@ohjames They removed query diffing in 0.5, if that's what youre referring to.

https://dev-blog.apollodata.com/apollo-client-0-5-f1eb3f122ace

[2017-05-17 09:09] konstantin-hatvan opened #1707 "Mutation after being offline"
**Intended outcome:**
When initiating a refetch offline and failing, I expect other mutations to work after going online again even if i do not refetch the failed query.

**Actual outcome:**
When offline and failing to refetch, if you go online and try to call another mutation without having refetched the failed query apollo fails producing network error "Network request failed".

**How to reprodu

[2017-05-17 13:26] ohjames commented on #332
@joarwilk Thanks for letting me know! I can work around it with a slightly dirtier schema. Relay modern docs make a big deal about static queries but I'm not sure if it supports this level of query diffing, anyone else know?

[2017-05-17 15:53] kuka commented on #439
@igrayson Is there a chance you could share the implementation?

[2017-05-17 19:14] richburdon opened #1708 "Cache corruption (fails silently) when mutation fields don't match query?"
**Intended outcome:**

After applying mutations the cache should be updated and the UX updated reactively.

**Actual outcome:**

1). The HOC query is re-run but returns no data. There are no errors. The DevTools extension returns the corrects data (from the server), but "load from cache" hangs.

`mutate.update` is called with the correct data.

When I try to manually query the client form the JS c

[2017-05-17 21:25] thebigredgeek commented on #1637
This functionality would be great for me, too, as I am working on a chat based react-native app and I need to be able to handle connectivity issues.  I can technically hack this functionality into application code, but I'd really like to avoid it to be honest

[2017-05-17 21:45] fc commented on #1637
@gaston23 could you do something as simple as this?
[code]

could more easily do it on a custom network interface too using an Apollo provided network interface under the hood.
[code]

[2017-05-17 21:52] thebigredgeek commented on #1637
@fc no I don't think that's enough.  The user might want to "cancel" a message that failed to send (just like with Slack).  Sticking all of this into a network interface doesn't give enough control to application developers IMO

[2017-05-17 22:16] cesarsolorzano commented on #1708
@richburdon just to be sure, did you get the `missing field` warning message or no error/warning at all?

[2017-05-17 22:22] serle opened #1709 "Question: readQuery when query root is a parameterised function"
I have query root that is parameterized by an input object, with quite a few properties. It would seem that this is converted into the property name string in the client side cache. As a result, I am struggling to compose a valid query for my readQuery function as I can't get the root field name to conform to the gql query syntax. Is there an alias that can be used for the root object in the local

[2017-05-17 22:44] fc commented on #1709
If I'm understanding you correctly, ran into a similar issue.

Ended up setting a unique id to be returned from the query since apollo will use the id to map to the cache.

You may also need to use a custom resolver to make sure those ids are mapped correctly:
http://dev.apollodata.com/react/cache-updates.html#cacheRedirect

[2017-05-17 22:45] gaston23 commented on #1637
I agree with Andrew

Best,

Gaston

Sent from my iPhone

[2017-05-18 06:31] serle commented on #1709
Thanks @fc.

Yes that would be my next option to create an artificial ID and use the readFragment function instead.

I do somehow feel that the root cause of all this is that in the Apollo client is ignoring the fact that I put a field alias on the original root field, when constructing its local cache root key. For a bit more background, the original query is pulling out a tree from a much larger

[2017-05-18 09:43] Siyfion commented on #1696
@helfer I've tried reproducing the issue locally with a development server, but when running GraphiQL the moment I paste in the Query Variables, it throws an error, after which I can no longer query anything at all... 😕

![screen shot 2017-05-18 at 10 41 12](https://cloud.githubusercontent.com/assets/338488/26196386/b950e170-3bb6-11e7-912d-60470eb725f5.png)
![screen shot 2017-05-18 at 10 41 18](ht

[2017-05-18 13:24] lucfranken commented on #1697
Got some interesting feedback on Slack which I think should be added:
https://apollographql.slack.com/archives/C0Z9ZBDF0/p1495109398114586

As far as I understand for now I would have to do this part for EVERY query?

[code]

So every time I do a query on the same nodes I would have to change all update calls? So all code becomes strongly dependent on each other? That makes all code hardcoded conn

[2017-05-18 14:30] Strayer commented on #1653
@helfer I have a slightly related question about this… I'm using fetchPolicy cache-and-network, but I only want to show an error message to the user if both fail. Meaning ignore network errors as long as there is something in the cache.

By just checking data.error the network request failure will cause an error to pop up even if the cache was able to return data. What is the correct approach here

[2017-05-18 15:09] c10b10 commented on #1039
I am, response from the server is correct, `networkStatus` stuck at `2`, and `loading` stuck to `true`.

[2017-05-18 16:03] richburdon commented on #1708
Yes, I get the `missing field` warning.

[2017-05-18 16:43] cesarsolorzano commented on #1708
I don't quietly understand the issue. When you update the store, the updated data must have the same shape of the query you pretends to update.

Although I may agree that the `missing field` warning could provide a better context, if the warning is thrown then how is it failing silently or the error been swallowed? How do you think it should behave?

btw, you could use [`react-apollo-error-templat

[2017-05-18 17:02] richburdon commented on #1708
@cesarsolorzano thanks for the quick response.

Some thoughts/questions:
1). as you note, the warning provides no context (some field in some part of the selection set is missing).
2). at this point, i'm really just trying to understand what it means -- why does a missing field break cache reconciliation? why not just ignore the missing field by default?
3). it's not really a warning if this cause

[2017-05-18 17:38] TheoMer commented on #424
What's the current status with this issue, as I'm keen to add offline support to my react/appollo/graphql app?

[2017-05-18 17:51] cesarsolorzano commented on #1708
You're right, it should throw an error. However, for the time being, the warning was used to somehow provide backwards compatibility.

It's my understanding that ignoring a field (or updating the store with a result that has a missing field) could break existing query observers. I'm pinging @helfer who could provide a better answer to this and your other questions.

[2017-05-18 18:01] 20matan opened #1710 "Queries are not cleared in resetStore"
Hey
when i use client.resetStore(), then the queries in the state of the store are not cleared
The problem it's creating, is after a user is logging out and then log with another user,  the queries are not re-fetched so no data is fetched from the server for the new user...
adding an image from debug
![pasted image at 2017_05_18 08_37 pm](https://cloud.githubusercontent.com/assets/10909504/2621652

[2017-05-18 18:26] richburdon commented on #1708
Don't we already deal with this when two queries have different specs for the same item (i.e., I thought they were merged).

Now looking for examples to understand No. 6.

[2017-05-19 09:09] jaydenseric commented on #1697
Not a "proper" solution, but I have given up on attempting smart cache busting after running mutations. I just decorate the component with `withApollo` and in the mutation success callback run `this.props.client.resetStore()`. Mutations don't happen *that* often, so it's not too bad that users have to refetch everything; in my app it adds less than a second.

[2017-05-19 09:19] kuka commented on #424
Just to clarify the state of offline support, here is what I got to work:

**Queries**

At the moment `apollo-client` provides a full support for queries made offline with right options for `fetchPolicy` and `cachePolicy`. As `apollo-client` provides `.reducer()`, we can easily persist state with `redux-persist` so that’s a check.

**Errors**

Dispatched actions like `APOLLO_QUERY_RESULT` and `APO

[2017-05-19 09:51] TheoMer commented on #424
@kuka Thanks. I left you a message on apollographql.slack, by the way.

[2017-05-19 10:07] lucfranken commented on #1697
While totally agreeing that this should not be needed it sounds like a very simple and effective fix for the time being!

[2017-05-19 10:36] TheoMer opened #1711 "fetchPolicy: 'cache-and-network' causes app to hang on 'Loading ...' if this.props.data.refresh() called from componentWillMount"
OS: Windows 10 Pro
apollo-client: 1.0.2

So, calling this.props.data.refresh() from componentWillMount, with a fetchPolicy: 'cache-and-network' in my query, causes my app to hang on `Loading ...`, after an load/reload. What is the issue here?

My initial query is:

[code]

and my components are:

[code]
and

[code]

[2017-05-19 21:23] mmahalwy commented on #1564
@sarora2073 having the same problem as you, except I cannot get rid of the `__typename` with `Object.assign`. What'd you do to get around this now?

[2017-05-19 22:34] mvanlonden opened #1712 "Cannot use addTypenameToDocument from queryTransform in create-react-app test"
https://github.com/apollographql/react-apollo/issues/721

[2017-05-19 23:26] cesarsolorzano commented on #1710
Could this be related to #1552? (not an issue, but a confusion about what `resetStore` does)

[2017-05-20 02:12] changalberto opened #1713 "Feature: Apollo Fuse"
Are there any plans to create a fuse package integration?
https://www.fusetools.com/

[2017-05-20 03:40] smolinari commented on #1713
The way I see it, that would be something the fuse team would need to do.

Scott

[2017-05-20 04:01] changalberto commented on #1713
@smolinari I think that Apollo team should take the initiative to collaborate with the fuse team to make this happen since all of their other framework integration libraries are somewhat Apollo "offical" libraries. But I made a request to the fuse team [here](https://www.fusetools.com/community/forums/general/graph_ql_support?page=1&highlight=dd45c804-48ed-4d40-bbfb-d24a11062e0b#post-dd45c804-48ed

[2017-05-20 10:30] 20matan commented on #1710
@cesarsolorzano  I dont think so, because the problem they described there is that resetStore re-fetched queries.
I dont have a problem with the re-fetch on calling resetStore, I have a problem that it doesnt clear the queries object (after the refetch), so if user is logged out and then log in with another user data (other id), it doesnt fetch the new data, because those queries are cached, but w

[2017-05-20 16:23] sarora2073 commented on #1564
I haven't changed the approach. If you provide the version of the relevant libraries and code snippets etc. I'd be glad to compare what you're doing vs whats working for me.

[2017-05-21 00:48] OllieJennings opened #1714 "SSR on Heroku not working, possible bug"
**Intended outcome:**

I have spent the last 2 hours trying to search for solutions to this problem and so far i have got nothing back.

When doing SSR locally, everything works fine, however when doing SSR on heroku, i provide the correct address "http://myappurl.herokuapp.com" for the Apollo Client network interface.

But the interface when doing a graphql query just seems to resolve to the app'

[2017-05-21 00:57] OllieJennings commented on #1714
So i fixed by instead of (in the SSR network interface) using the other apps heroku URL.

I simply pointed it back to my own apps url such that `http://myapp.herokuapps.com/graphql`

I think this is a bug with apollo client and how it interact with with localhost and deployment resolutions for SSR

[2017-05-21 02:45] Poincare commented on #1710
When `resetStore` is run, the queries will refetch out of the cache, they will not be emptied out of the cache. This is to make sure that the cache doesn't end up in an inconsistent state.

When your new user logs in, do you still have active queries on your page from the older user with the old user's user id or equivalent? If that's the case, then `resetStore` will not get rid of that informatio

[2017-05-21 02:47] Poincare commented on #1707
If I'm understanding correctly, this is the sequence of events:

* Go offline
* Attempt to refetch a query
* Receive failed refetch from the network layer
* Go online
* Attempt to fire a mutation
* Receive network failure from network layer

I don't believe this is intended behavior. Could you produce the error that Apollo Client produces when this happens?

[2017-05-21 02:51] Poincare commented on #1711
Could you use the [Apollo Client devtools](https://chrome.google.com/webstore/detail/apollo-client-developer-t/jdkknkkbebbapilgoeccciglkfbmbnfm) to see if the store is actually being updated with the result of the query on the client?

[2017-05-21 02:53] Poincare commented on #1696
This seems like it might be due to the fact that `GraphiQL` is trying to put the whole variables object in the URL and the variables object contains a large JSON object. Could you just `curl` your development server with a POST request?

[2017-05-21 02:57] Poincare commented on #1680
The point of `fetchMore` is that it allows receive some data from your server and then tack it onto existing data in your store. This is generally the "right" way to do pagination.

In this case, you can use `fetchMore` to fetch each page (i.e. regular pagination) and then fire a single query that just refetches all of the items across each of the pages which can be fired by your reload button.

[2017-05-21 05:36] niranjanshukla opened #1715 "Does apolloclient work with Sequelize?"
This is not an issue itself but I have not seen examples of Apollo client with Sequelize / SequelizeConnection.

Could you please help with some examples of how to use Sequelize with Apolloclient? Specifically, the where: param of graphql-sequelize is of type SequelizeJSON but I am unable to create such an object in apolloclient.

[2017-05-21 05:52] duvet86 opened #1716 "Question: optimistic UI with subscriptions."
Does optimistic UI make sense with subscriptions?
I'm calling a mutation with a optimistic response that adds an item to the list. The optimistic update gets handled by the update option but it gets also triggered by the subscribeToMore function resulting in a duplicate key exception.
The workaround that I'm currently using is to filter the item list in the update function in order to avoid updati

[2017-05-21 06:32] smolinari commented on #1716
Interesting problem. I can't help you, but I'd like to know the answer, thus my comment. 😄

Scott

[2017-05-21 06:57] TheInquisitiveNerd commented on #1707
That is the exact scenario.

Here is the error screen:

![screenshot_20170521-085301](https://cloud.githubusercontent.com/assets/16699575/26281831/46110eac-3e03-11e7-848a-ecf1059b5ff5.png)

[2017-05-21 06:59] TheInquisitiveNerd commented on #1707
Maybe it is also important to note that as long as I do not refetch the query successfully all mutations result in this error. When I refetch the query successfully everything works just fine.

Another observation is that the mutations are still executed. Nevertheless the error is shown.

[2017-05-21 21:06] maximblack commented on #1419
I acomplished that, using directly `networkInterface`:
[code]

[2017-05-22 10:08] MichaelDeBoey commented on #1705
@helfer Any idea how I can do something like this?

[2017-05-22 14:52] lunedis opened #1717 "Running introspection query with apollo-client results in RangeError: maximum call stack size exceeded"
**Intended outcome:**

Running the graqhql introspection query with apollo-client. It should return the server's schema in JSON format.

[code]

**Actual outcome:**

[code]
(goes one for quite some lines)

**Comment**

Replacing the `client.query` code with `networkInterface.query` (not using all the fancy apollo features) works.

[2017-05-22 15:44] gajus opened #1718 "Remove the isomorphic-fetch dependency"
It is not the responsibility of a library to polyfill browser features.

`isomorphic-fetch` is now being pulled into a bundle for no good reason.

Remove the `isomorphic-fetch` dependency and document that user needs to polyfill Fetch if the target environment does not support Fetch API (or recommend to use https://polyfill.io/v2/docs/).

[2017-05-22 16:11] cesarsolorzano commented on #1718
@gajus Isn't this the same issue you described in #645?

[2017-05-22 16:25] gajus commented on #1718
oh, lol. I forgot about it by now.

Yes it is.

[2017-05-22 16:25] #1718 closed

[2017-05-22 16:37] cesarsolorzano commented on #1715
Apollo Client does not work with the underlying data (it sends GraphQL documents and recieves GraphQL responses). Where you probably want to use Sequelize is on the server ([example](https://dev-blog.apollodata.com/tutorial-building-a-graphql-server-cddaa023c035)). I'd encourage you to post this kinds of question on Stack Overflow or the [Slack channel](http://dev.apollodata.com/community/). 🙂

[2017-05-22 16:37] #1715 closed

[2017-05-22 20:07] maxsalven commented on #1301
@calebmer @stubailo
Sorry to bother you guys on this, but I'm still not clear on how I should be naming things in `customResolvers`.

I have one component that loads a user and their results:
[code]

I then have another self-contained component that renders an individual result and some info about its user. I'm using the following query, which will be fully cached already by the previous one, and

[2017-05-22 20:10] avindra opened #1719 "Missing field warning: escalate to error instead of silently logging?"
Relevant source code: https://github.com/apollographql/apollo-client/blob/dc0d1a722212e671144cc75439beb91589cbaed2/src/data/writeToStore.ts#L202-L206

**Intended outcome:**
I get an error thrown with the message `Missing field ${fieldName}`

**Actual outcome:**
A warning is silently output in the console.

**How to reproduce the issue:**
Make a query that uses fragments on interfaces or unions.

I

[2017-05-22 20:13] avindra commented on #1555
@Aides359  I disagree. The warning is there (in dev mode only). This is something that should throw an error. Created #1719 to request this change.

[2017-05-22 21:43] jazzdragon opened #1721 "Check for bodyUsed before resolving"
Hi,
I'm trying to implement an afterware that handles errors globally in my application. My backend is Ruby/Rails and on error I return an error key in the document. In order to check for the presence of errors, I need to parse the body stream using response.json()

Upon doing that, I get the following error:
[code]

I suspect it's because when the response is further channelled into the apollo ha

[2017-05-22 22:16] cesarsolorzano commented on #1721
You have to clone the response in order to parse it.
[code]

[2017-05-22 22:16] #1721 closed

[2017-05-22 22:17] jazzdragon commented on #1721
I like it, thanks!

[2017-05-23 01:47] greenkeeper[bot] opened #1723 "An in-range update of webpack is breaking the build 🚨"
## Version **2.6.0** of [webpack](https://github.com/webpack/webpack) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fwebpack-2.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-05-23 01:52] greenkeeper[bot] opened #1724 "An in-range update of tslint is breaking the build 🚨"
## Version **5.3.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Ftslint-5.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-05-23 08:02] bochen2014 opened #1725 "document on differences between apollo-client and react-relay needed"
can we have a section in document that explains the difference between `apollo-client` and `react-relay`?
so that people can have more insight into the project and can make a decision based on more facts

[2017-05-23 08:25] #1714 closed

[2017-05-23 08:58] gajus opened #1726 "Add a way to disable "Missing field X" message (and definitely do not throw an error)"
This is in regards to:

https://github.com/apollographql/apollo-client/blob/dbbd4dd9983f878e114378a9997e70df0f565b7b/src/data/writeToStore.ts#L202-L207

I am intentionally not providing fields to `apollo-client`. See [graphql-deduplicator](https://github.com/gajus/graphql-deduplicator) to understand the motivation. This strategy to reduce the size of the GraphQL response from 1.5MB to just under 1

[2017-05-23 09:53] greenkeeper[bot] opened #1727 "An in-range update of sinon is breaking the build 🚨"
## Version **2.3.1** of [sinon](https://github.com/sinonjs/sinon) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fsinon-2.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-05-23 14:19] GalFriD opened #1728 "new data from network dont update the props.data"
I have a container which wrapped in graphql

[code]

and when I invkoe did mount function i watch the network in chrome dev tool and i see that i got new data,  but when i watch the props.data, i see the old data i had before, and the page did not refreshed.

any ideas?
thanks

[2017-05-23 17:27] ferdingler commented on #657
I don't quite understand when is the afterWare called? My afterware is not triggered on certain network errors. I am using AWS API Gateway and when the session expires, API Gateway authorizer returns 401 status code. However the afterware doesn't get triggered.

I simulated a timeout on the server and the afterware doesn't get triggered either.

I am looking for a single place to catch and log all

[2017-05-23 19:16] ffxsam commented on #84
@stubailo I just thought of this and stumbled upon this issue. I saw GitHub released a GraphQL API, and thought "how would I write a front-end app that connected to my own GraphQL backend, but also used GitHub's API?" I don't know of any way for Apollo to connect to multiple servers.

[2017-05-23 22:17] jurajkrivda opened #1729 "Subscriptions: The provided query doesn't include any known model name. Please check for the latest subscriptions API"
I tried to play with subscriptions at my testing project and I got this errror message: `The provided query doesn't include any known model name. Please check for the latest subscriptions API`

[code]

[code]

As backend I used Graph.cool service.

[2017-05-23 22:25] jurajkrivda commented on #1707
@TheInquisitiveNerd  try to use { queryDeduplication: false } in ApolloClient constructor.

[2017-05-23 22:39] jurajkrivda commented on #1710
Hi you should use redux to keep the user id and when user will log off destroy this information and show login page to the user. Then you can reset the store but you should avoid making secured queries again using skip function.

[2017-05-23 22:47] jurajkrivda commented on #1697
You can get all the invoices and then filter those that are paid. Then you can use the mutation recommended above with readQuery and writeQuery helpers.

[2017-05-23 22:55] jurajkrivda commented on #1681
Hi. Why do you want to show Error component to the users while data is loading?
You can check type of error. If it is a Network Error you should display Error component with "No internet connection"  message and you should allow the user to reload the data again.

[2017-05-24 00:23] cesarsolorzano commented on #1726
A GraphQL result with a shape different to the requested query it's not compliant with the GraphQL specification.

However, perhaps you could use a custom network interface (which reconstructs the result data) so you provide a complete graphql-compliant response to `apollo-client`.

[2017-05-24 05:19] gauravmk opened #1731 "Feature: Allow switching between batched and non-batched transport based on request"
Based on this conversation: https://apollographql.slack.com/archives/C11QBB84R/p1495471281173263

It would be great to have a new NetworkInterface type that uses a batch transport by default but allows you to force a single request if you don't want it to batch. This is useful since it's possible for automatic batching to hold up an entire page because fast important queries are batched with slow

[2017-05-24 05:32] SachaG opened #1733 "writeFragment: Missing field __typename"
I'm trying to use `writeFragment` but running into the following issues:

![https://d3vv6lp55qjaqc.cloudfront.net/items/2f1l0M0s3x2c3u270W0a/Screen%20Shot%202017-05-24%20at%2014.28.35.png?X-CloudApp-Visitor-Id=4c115ae96a1293116cf3f7a8f20e2c24&v=827959ce](https://d3vv6lp55qjaqc.cloudfront.net/items/2f1l0M0s3x2c3u270W0a/Screen%20Shot%202017-05-24%20at%2014.28.35.png?X-CloudApp-Visitor-Id=4c115ae96a1

[2017-05-24 06:02] helfer commented on #1733
The data you're writing is missing `__typename`. Just change it to this:

[code]

[2017-05-24 06:02] #1733 closed

[2017-05-24 06:08] SachaG commented on #1733
Oh of course. For some reason I didn't realize you had to specify `__typename` in the `data`, that seems obvious in retrospect. Thanks!

[2017-05-24 08:19] jurajkrivda commented on #1729
Sorry my fault, WS client had bad settings

[2017-05-24 08:19] #1729 closed

[2017-05-24 08:38] jacobk opened #1735 "writeResultToStore cannot create error when using graphql-tag webpack loader"
**Intended outcome:**

Errors thrown in `writeResultToStore` should be propagated with relevant information added

**Actual outcome:**

`Cannot ready property 'body' of undefined` error is thrown instead

![screen shot 2017-05-24 at 10 29 45](https://cloud.githubusercontent.com/assets/497477/26394130/3b0c0bae-406c-11e7-9aa3-00808ed15013.png)

**How to reproduce the issue:**

Trigger writeResultToS