[2020-04-25 16:02] durchanek commented on #6192
I can see it has been reported already in #6125

[2020-04-25 16:02] #6192 closed

[2020-04-25 17:32] matyashlavacek opened #6195 "How to properly shutdown/close apollo-client?"
**Intended outcome:**

I am able to close apollo-client gracefully.
Here is a sample of a code I'm using:

[code]

**Actual outcome:**

When using `apollo-client` with `jest` as per example above I get the following warning:
[code]

**How to reproduce the issue:**

Run the code above.

**Versions**

[code]

Does anybody know how to properly close apollo client so I don't get this warning?

[2020-04-25 20:12] matyashlavacek commented on #6195
For those who hit the same issue
[code]

[2020-04-25 20:12] #6195 closed

[2020-04-26 02:12] wamujlb commented on #6011
I still have this error, so I used this approach:

`link: from([(errorLink as unknown) as ApolloLink, httpLink]),`

[2020-04-26 07:25] iamdanthedev commented on #5229
@yilakt Hi, I was also getting "inner.subscribe..." error, removing node_modules and reinstalling them helped

[2020-04-27 05:55] brotzky opened #6201 "optimisticResponse freezes / lags UI"
I'm not 100% sure this is a bug, but whenever we use `optimisticResponse` on a mutation hook the UI will freeze for ~500-1000ms. Removing the `optimisticResponse` will render the UI updates without any lag -- the feedback is instant.

For example, a user selects an option from a dropdown and the dropdown will only close 500ms after they've selected. If we remove the `optimisticResponse` the dropdo

[2020-04-27 07:02] iki commented on #3578
@borisyordanov `unfetch` is for js in browser, there we use it. In node.js, we need to pass a fetch lib like `node-fetch`.

[2020-04-27 08:14] azuxx commented on #2919
Same here, and I am using @apollo/client 3.0.0-beta.43

[2020-04-27 08:46] azuxx commented on #3766
I used this but only works in "current session of apollo". Which means that if I am calling like below, when I refresh the app I can the previous Apollo client state without the "clearing" thing.

This is my AuthNavigator:

[code]

Is there a way to kind "write" the clearing happened with client.clearStore()? 🙏🏻

[2020-04-27 09:19] ArnaudBarre commented on #5760
This works but does not trigger a re-render if the query is displayed. Any idea how to do it?

[2020-04-27 10:14] 3nvi opened #6202 "Referential Integrity issue causes perf issues in Apollo 3"
Whenever I use `fetchMore` to fetch more items from the server, I couple it with `updateQuery` in order to provide the merge strategy of the new data. A common practice is to "append" the new items into the existing list like so `[...prevResult.data.items, ...fetchMoreResult.data.items]`.

I would expect that this would retain referential equality of the existing items, since that happens in vanil

[2020-04-27 10:16] 3nvi commented on #6183
Yeah I think this is a duplicate of #5790

[2020-04-27 12:08] kjellski commented on #3053
I would like to see how it should be done as well, this is the workarround I implemented for us using hooks - https://gist.github.com/kjellski/42ae99e7b1d85a76d835274c255c6af0

[code]

[2020-04-27 12:55] chris-guidry commented on #3766
@azuxx to clear the store when signing out, try these two:
[code]

Also, using `await` is enough for the async code so the `.then` is not needed. The proceeding code can just be in line.

[2020-04-27 13:13] azuxx commented on #3766
@chris-guidry Thank you for your suggestion, I am using hooks and useLazyQuery so I tried like this with your suggestion but it does not work. Did the logout flow correctly, then I refreshed the app but there is still the logged user :(

[code]

[2020-04-27 14:02] kozborn opened #6203 "Wrong results received from useQuery"
**Intended outcome:**
I'm trying to fetch rather simple object from by backend, I see in Network tab correct response
with correct data (payee name in main object == 'Allegro')
[code]

**Actual outcome:**

But when I log it in app I receive this (payee name in main object == 'Dzieci', which comes from `category` with the same id = 6)
[code]

And sometimes (not every time) I see this in console
[co

[2020-04-27 15:36] kozborn commented on #6203
I'll answer my own question, it started to work correctly when I added aliases
[code]
and
[code]

in fragment

But still, I don't think it is desired behaviour.

[2020-04-27 15:55] AndTheDaysGoBy commented on #6171
I'm just going to take a stab in the dark and assume you had the same issue as me. Is it possible that your issue is related to the following?:
The above is an OPTIONS request method, per https://www.w3.org/TR/cors/#preflight-request we see that the user credentials will be stripped. Thus, what's necessary is for OPTIONS requests to be able to be performed without authorization.
This would explain

[2020-04-27 19:01] cheapsteak commented on #2510
Looks like this is addressed in Apollo Client 3, specifically this PR from Ben to remove that error
 https://github.com/apollographql/apollo-client/pull/5904

Here's the repro using `"@apollo/client": "3.0.0-beta.44"`, no longer erroring
https://codesandbox.io/s/github/cheapsteak/test-ac-cache-store-bug/tree/master/?file=/src/index.js

[2020-04-27 19:33] nratter opened #6205 "[3.0.0-beta.44] cache.modify function"
According to https://www.apollographql.com/docs/react/v3.0-beta/migrating/apollo-client-3-migration/#breaking-cache-changes, there is a new cache.modify function that can be used to update the cache. I haven't seen any documentation for how to use this, however. Can someone point me in the right direction or do the docs still need to be updated for this?

[2020-04-27 20:22] ahouchens commented on #5963
I've reproduced this bug.

So in my case, I'm using `useMutation()`  to add a new object, even after I add this new object into the underlying cache using the `update()` callback, a list component doesn't re-render showing the new object in the list, which uses `useQuery()` pulling from the same list in cache.

My only workaround right now is setting the `fetchPolicy` to `no-cache` on the list vie

[2020-04-27 21:44] Jakobo commented on #5268
For folks coming across this later who need async/await on `useLazyQuery` you can just use the apollo client directly with the `useApolloClient` hook. The client's `query` method returns a promise per [the docs](https://www.apollographql.com/docs/react/api/apollo-client/). You can then save whatever is needed from the query via react's `useState` hooks.

[code]

[2020-04-28 01:30] quietgopher opened #6206 "If I change the query in useQuery hook, the results from the previous query are returned."
**Intended outcome:**
I have roughly the following code:

const appleQuery = gql`
query {
  apple {
    appleId
  }
}`;

const orangeQuery = gql`
query {
  orange {
    orangeId
  }
}`;

...

const someReactComponentFn = () => {
...
useQuery(condition ? appleQuery : orangeQuery);
...
};

I'd expect useQuery to change the results depending on the condition.

Side-note: my takes the results and merg

[2020-04-28 05:52] brotzky commented on #4658
We're running into similar issues where adding an `optimisticResponse` to Mutations will block the JS thread and all UI updates are delayed and laggy. I've opened up a different issue but it could be a duplicate of this one: https://github.com/apollographql/apollo-client/issues/6201

Wondering if there are any known workarounds to this or possible solutions? I've tested Apollo v3@beta but we're cu

[2020-04-28 06:38] kierangilliam opened #6207 "How can I use Apollo Client 3 without having React as a dependency?"
I'd like to use Apollo Client 3 in my Svelte project. When migrating over from 2.6, I noticed I needed react as a dependency to run my project.

[code]

Is there a way around this without adding react as a dependency?

[2020-04-28 08:37] SachaG commented on #2810
I'm also running into this. Should a new issue be opened?

[2020-04-28 09:35] hwillson commented on #6207
@kierangilliam Use `@apollo/client/core` instead of `@apollo/client`.

[2020-04-28 09:35] #6207 closed

[2020-04-28 10:26] philvc opened #6208 "cache.modify() not a function"
Hello,

I have a problem with cache.modify() when trying to update the cache in a resolver with the v.3.0 beta @apollo/client version.

The chrome browser tells me that modify() is not a function:
cache.identify is working.
![image](https://user-images.githubusercontent.com/35938970/80476753-1a98de80-894b-11ea-8d78-87791e5ab095.png)

Here is my code :
`export const resolvers: any = {

  Mutation:

[2020-04-28 11:33] amiyatulu opened #6209 "Warning: Can't perform a React state update on an unmounted component."
This is the code for useMuation

[code]
But on using refetchQueries it gives the following warning

Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function.

This is my nav code:

[code]

And the is MeQuery()

[code]

[2020-04-28 11:39] rjakobsson commented on #6180
This happened to me as well.

[2020-04-28 13:18] moritzjacobs commented on #4575
We're trying to do more or less the same thing in our project, and it seems to be broken in 2.6.8 still, is there an ETA for @asselstine 's PR or another working solution? :)

[2020-04-28 18:04] elvenking commented on #6092
I have the same issue with 3.0-beta.44

[2020-04-28 19:08] klaussner commented on #6201
Can you share two performance profiles/flame graphs that show the time between the click and the finished rendering (with and without `optimisticResponse`)? Also, are you using `shouldComponentUpdate` or `React.memo` in a React subtree that could be affected by the cache update?

[2020-04-28 19:52] ClementeSerrano commented on #6070
Hi! Having the same issue here. I'm CRA TypeScript project using

[code]

My Apollo client `onErrorLink` config is:

[code]

When triggering an apollo error on a mutation that I have, my app crashes:

<img width="1680" alt="Screen Shot 2020-04-28 at 3 44 25 PM" src="https://user-images.githubusercontent.com/9727036/80531135-162eee80-8968-11ea-9f41-eaa25a446656.png">

Any idea of how to solve this?

[2020-04-28 19:58] xxx opened #6211 ""Missing cache result fields" on queries, when using cache-and-network fetch policy (but not cache-first)"
**Intended outcome:**
I am running a single query with `useLazyQuery`'s returned function multiple times, with different arguments. I expect all results to be written to Apollo's cache in a way that allows subsequent use of that data in later queries, without any warnings in my console.

**Actual outcome:**

The first query runs, and populates the cache as expected. When I run the query a second t

[2020-04-29 00:49] brotzky commented on #6201
Yes, using `useMemo` to the affected cache updates.
Here are some graphs, looks like about 130ms for the optimistic cache update

## Here it is with optimistic:

![Screen Shot on 2020-04-28 at 17-44-07](https://user-images.githubusercontent.com/8007686/80551495-79c11800-8978-11ea-9f62-cb13909fe264.png)
<img width="1566" alt="Screen Shot 2020-04-28 at 5 44 55 PM" src="https://user-images.githubuser

[2020-04-29 04:47] vanoMekantsishvili commented on #1913
What about this case: I am trying to set initial data in local cache, sth like this:

`client.cache.writeData({
  data: {
    isLoggedIn: !!window.localStorage.getItem('token'),
    cartItems: [],
    params: { name: 'test' }
  }
})`

And I've got warning that `__typename` is missing from params and when I add it then warning disappears and I've got correct response. But my question would be: Shou

[2020-04-29 07:29] vladinko0 opened #6212 "Setting Apollo client header dynamically is not working"
I am trying to set the header of Apollo client dynamically in React Native 0.62 according official [doc](https://www.apollographql.com/docs/react/networking/authentication/), but I am getting error:

`TypeError: (0 , _apollo.default) is not a function`

This is my **apollo.js**

[code]

[2020-04-29 09:48] andrewmclagan commented on #3909
Wow... this is a really really really poorly documented issue in Apollo.

If anyone is using hooks there is a change that you need to add the `{ returnPartialData: true }` option to the `useQuery` call on the dependant item containing the list. Check the [API docs](https://www.apollographql.com/docs/react/api/react-hooks/#usequery)

One comment i will make about Apollo, its documentation is very p

[2020-04-29 12:11] suppayami commented on #5869
Tried on 3.0.0-beta.44, still occurring

[2020-04-29 14:31] Vincz commented on #6098
Hey @benjamn & @danReynolds !
Any update about this?
It seems that this feature is really needed (https://github.com/apollographql/apollo-feature-requests/issues/4).

[2020-04-29 15:55] andreasonny83 commented on #5531
Same behaviour here

[2020-04-29 16:17] dominik-myszkowski commented on #5531
Guys, set the fetchPolicy: 'network-only', it should work then, I had the same problem. And better switch to: useLazyQuery instead of polling if it is possible.

[2020-04-29 16:33] eugle opened #6213 "The query field return null? Why?"
Query field
![image](https://user-images.githubusercontent.com/24447931/80621737-4cf52980-8a7a-11ea-8a16-483065e71e72.png)

If the field data is empty
The result returns null

![image|286x223](upload://b42FdAiZpuiHPudhoMdZD8fAO8m.png)
![image](https://user-images.githubusercontent.com/24447931/80621740-4f578380-8a7a-11ea-988c-65cc63c8822d.png)

Is there a way not to return anything, to go back to

[2020-04-29 16:34] 3nvi commented on #5531
Erm sorry but that's subjective. I need to store it in the cache since it's very expensive for me to re-fetch it. I need polling since I'm using it for an async server operation that replies in between 30secs and 2 minutes

[2020-04-29 16:39] andreasonny83 commented on #5531
Also, @dominik-myszkowski , setting `fetchPolicy: 'network-only'` only triggers the `onCompleted` once. I can only get it working by setting `notifyOnNetworkStatusChange: true`

[2020-04-29 17:37] bhishp commented on #5531
Are any of you falling in to this conditional? Is it not firing when no data has changed?

[2020-04-29 17:50] andreasonny83 commented on #5531
@bhishp I would really love the onCompeted event only to run on data changed. however even when the data changes, I cannot see the onCompeted method triggered

[2020-04-29 18:35] dwesty17 opened #6215 "Docs reference a single line npm package"
This is just a small thing with the docs. The page about using `MockedProvider` references a single line npm package that our team keeps trying to install. For obvious reasons we're trying to avoid that type of thing.

I opened a PR to remove references to the `waait` package. https://github.com/apollographql/apollo-client/pull/6214

[2020-04-29 20:04] francylang opened #6217 "MockedProvider doesn't work as expected when passing a client with options to useQuery"
**Intended outcome:**

I have been trying to use `<MockedProvider />` to  test a component that utilizes the `useQuery` hook, but because I am passing a different client via options, I am getting `undefined` returned for the data.

Query:
[code]

Component:
[code]
Test:
[code]

**Actual outcome:**

![image](https://user-images.githubusercontent.com/24443103/80635785-9eb99780-8a19-11ea-97bb-855a569

[2020-04-29 20:57] masull commented on #6070
Same here

[2020-04-30 05:16] danieldunderfelt commented on #5870
I have the same issue. Fast-refresh is getting more and more popular and I can't imagine this being a problem for only a small part of users. I tried the v3 beta, but it did not fix the problem.

[2020-04-30 06:02] Tadimsky commented on #6037
Yep, running into this issue as well - all of my `useSubscription`'s are subscribing twice.

[2020-04-30 06:04] jfrolich commented on #5870
The worrying part is that this must be due to assumptions made in the code that are incorrect. Fast refresh should work with any React app, so this bug is just a symptom of incorrect code (a type error/`undefined` check probably).

[2020-04-30 07:14] Gilwe commented on #2441
@sergiotapia-papa Can you post your solution?

[2020-04-30 07:28] JClackett commented on #6212
AsyncStorage.getItem is asynchronous ( its in the name :) ), i.e. you must await the getItem call

[code]

dont forget to use async in the setContext callback:

[code]

[2020-04-30 07:46] heavenkiller2018 opened #6220 "error TS2315: Type 'ExecutionResult' is not generic"
**Intended outcome:**

**Actual outcome:**

node_modules/@apollo/client/core/LocalState.d.ts:41:23 - error TS2315: Type 'ExecutionResult' is not generic.

41         remoteResult: ExecutionResult<TData>;
[code]

node_modules/@apollo/client/core/watchQueryOptions.d.ts:55:32 - error TS2315: Type 'ExecutionResult' is not generic.

55     refetchQueries?: ((result: ExecutionResult<T>) => RefetchQueryD

[2020-04-30 08:50] azuxx commented on #3633
This saved my day: thank you so much!
(I am using Apollo 3.0.0-beta.43)

[2020-04-30 10:09] vladinko0 commented on #6212
Yes, I was trying also your approach, and used asynchronous calls:

[code]

 but the error is anyway the same:

`TypeError: (0 , _apollo.default) is not a function`

This is how I am importing the client.
[code]

[2020-04-30 11:19] JClackett commented on #6212
yeah makeApolloClient isnt a function, the file just exports an instance of the apollo client. Just import it as if its a variable.

[code]

[2020-04-30 12:33] vladinko0 commented on #6212
@JClackett If you want to earn some points on Stackoverflow, you can answer my question [here](https://stackoverflow.com/questions/61495727/setting-apollo-client-header-dynamically-is-not-working/61496887?noredirect=1#comment108786082_61496887) and I will accept it.

[2020-04-30 16:37] benjamn commented on #5790
@3nvi Check out #6221 when you have a chance!

[2020-04-30 16:38] benjamn commented on #5991
I believe this will be solved by #6221. Have a look if you're curious, and thanks for your patience!

[2020-04-30 16:58] Andrew1431 commented on #6180
Did you find a way to resolve this? Should we just manually add the `graphql-tag` dependency for now?

[2020-04-30 17:08] 3nvi commented on #5790
Will take a look within the next few hours and comment on the PR :)

[2020-04-30 17:32] ryall opened #6222 "graphQLErrors not populated in thrown ApolloError during 400 NetworkError"
The `graphQlErrors` property of `ApolloError` is not populated with the error details when a schema required field is not supplied during a mutation. However, the error is sent correctly to `onError()`.

**Intended outcome:**
`ApolloError.graphQLErrors` to be populated with the GraphQL error information

**Actual outcome:**
`ApolloError.graphQLErrors` is an empty array

**How to reproduce the issu

[2020-04-30 17:43] ahrnee commented on #5991
@benjamn - that looks like a lot of work, and some good improvements! The fetchPolicy switch statement is definitely a big help in making the codebase more understandable. Pseudocode-style-coding is great for readability. Thanks for persisting.

[2020-04-30 18:55] levidyrek commented on #5790
Is there a workaround for this in the meantime?

[2020-04-30 19:25] #6212 closed

[2020-04-30 21:04] jguffey opened #6225 "InMemoryCache storing values as `null`."
My GraphQL API doesn't use `id`, it uses `uuid` on many fields. This silently causes a InMemoryCache to store the object under the key `{TYPE}:null`, which causes an overwrite when multiple objects are resolved.

**Intended outcome:**
Not entirely sure, I feel like the InMemoryCache should throw an error.

**Actual outcome:**
Instead InMemoryCache caches the object under `{TYPE}:null`.

**How to r

[2020-05-01 03:03] hoangvvo commented on #6225
I think `keyFields` is what you are looking for: https://www.apollographql.com/docs/react/v3.0-beta/caching/cache-configuration/#customizing-identifier-generation-by-type

[2020-05-01 07:27] amiyatulu commented on #6209
I found the cause. The issue is because of  <React.StrictMode>  https://github.com/apollographql/react-apollo/issues/3635

[2020-05-01 11:11] klaussner commented on #6201
The cache updates take much less time than the 500-1000 ms you mentioned above, so the performance problem may be caused by the re-rendering that's happening after the update.

The reason why I was asking about `shouldComponentUpdate` and `React.memo` is that the `InMemoryCache` returns a new JavaScript object for *every* object in the query result after an `optimisticResponse` is applied, even fo

[2020-05-01 11:13] northout-muzammil commented on #3402
Anyone please provide fix for this issue I am also facing the same.

[2020-05-01 15:52] brotzky commented on #6201
I've been digging into this and I think it's because we have one large query that's a combination of a few and the object gets quite large. I'm starting to break it down into smaller queries and seeing if updating the cache will be improved this way. So when we write to the cache it updates a smaller portion.
The memo stuff had a small improvement, but not enough to solve the problem.
Thanks for a

[2020-05-01 16:36] victorkurauchi commented on #2285
I managed to get it working with the fetchPolicy change and also sending all the variables.

[code]

and later on, load more:

[code]

[2020-05-01 16:54] jguffey commented on #6225
Yeah this was the solution for me.

I opened a ticket because I thought that some sort of warning (when there's no ID for caching), might be useful for other developers. It took me awhile to debug that it was a cache failure, because apollo-cache just kept returning the same record, I spent a lot of time thinking the problem was with my GraphQL API.

[2020-05-01 18:22] moritzWa opened #6226 "Broken Pupstagram Demo"
**Intended outcome:**
I was clicking on [this link](https://codesandbox.io/s/r5qp83z0yq) to view learn more about the [Zero-config caching ](https://www.apollographql.com/docs/react/why-apollo/#zero-config-caching)

**Actual outcome:**
Code-Sandbox-app did not work
![Screenshot 2020-05-01 at 20 20 35](https://user-images.githubusercontent.com/42035131/80830466-4c2ed580-8be9-11ea-96ea-bcca382a6617.

[2020-05-01 21:59] CatalinVoss opened #6228 "Caching one Object at a Time in a Collection"
It seems that when _adding_ an item to the cache, the Apollo client examples all assume that we have access to all of the previously cached items in memory. This is true for post-mutation updates, fetching paginated data, and the manual examples, e.g.

[code]

For scenarios where the cache is persistent, can items be added to the cache without reading the entire existing array? e.g. in this exampl

[2020-05-02 03:31] shakilkhan12 opened #6230 "Hello, GraphQL Mutation work successfully with Graphiql but does not work with Apollo its give me 500 server error"
Apollo and Server Connection Code:
[code]

React Apollo Mutation:
[code]
use mutation code
[code]
server side defined mutation code:
[code]

[2020-05-02 03:49] eugle commented on #6213
Okay, I see. Handle the logic yourself，thank you

[2020-05-02 03:49] #6213 closed

[2020-05-02 08:05] dandv opened #6231 "Import setContext in 3.0 authorization doc"
https://github.com/apollographql/apollo-client/blob/release-3.0/docs/source/networking/authentication.mdx doesn't import `setContext` from anywhere.

[2020-05-02 09:09] dandv commented on #6231
Also, I get this TypeScript error from [that code sample](https://www.apollographql.com/docs/react/v3.0-beta/networking/authentication/#header):

![image](https://user-images.githubusercontent.com/33569/80860022-2a048880-8cb9-11ea-913c-49c35e9495f0.png)

[2020-05-02 09:10] dandv commented on #5229
Related: #6231

[2020-05-02 12:38] dandv opened #6234 "Broken links to Error Policy"
At https://www.apollographql.com/docs/react/api/apollo-client/, all 3 anchor links to [ErrorPolicy](https://www.apollographql.com/docs/react/api/apollo-client/#ErrorPolicy) are broken, and `ErrorPolicy` is not ultimately explained on the page.

[2020-05-02 13:15] krishnaku commented on #5531
This worked for me. Setting 'network-only' did not.

[2020-05-03 11:04] ElForastero commented on #5991
I'm facing the same issue, but in beta-44 i've got a warning that field is missing.

To fix this I query the same fields set in both queries.

Example (note the `title` field):

[code]

[code]

And I don't know if this is important, but the socond query is resolved though `fieldsPolicy` AKA `cacheRedirects`.

[2020-05-03 11:23] mobiware commented on #5991
@ElForastero if these are your actual queries, isn’t the warning rather because your objects don’t have ids ?

[2020-05-03 12:44] acomito commented on #5991
I'm having a similar issue...

I'm building a kanban board so it has several columns (this query is called once for each column, or stage)

I have this query

[code]

cache looks like this before an update

<img width="888" alt="Screen Shot 2020-05-03 at 8 30 58 AM" src="https://user-images.githubusercontent.com/12701635/80914494-ee4ddb00-8d19-11ea-8d4b-35112ac06ce5.png">

and like this after an u

[2020-05-03 13:01] ElForastero commented on #5991
@mobiware I've simplified the examples. I have identifiers in entities and the warning was exactly about missed `title` field in the cache.

[2020-05-04 10:57] powerfulj commented on #6220
same issue here. anyone has any workaround?

[2020-05-04 11:35] NiestrojMateusz opened #6236 "Need to skip in useQuery to cached query with initial state works in SSR"
Hello, I have a case where I try to use `useQuery` hooks with SSR. The case is that I need to  `useQuery` in parent component to get config. That query is saved to apollo client cache with initial state when I invoke the ApolloClient. Config includes variables for nested queries in child components. The issue is that `getDataFromTree` from `@apollo/react-ssr` seems to invoke all queries at once (e

[2020-05-04 14:08] mortifia commented on #5229
if one does not want an empty authorization to be in the header (this can make some backend bug)

[code]

[2020-05-04 14:16] machi1990 opened #6237 "cache is required in `ApolloClientOptions` even if `no-cache` set globally"
**Intended outcome:**

The cache  https://github.com/apollographql/apollo-client/blob/8ee7648371fb3bac621af5c38fd98afb1f0bd7d7/src/ApolloClient.ts#L42 field to be optional.

Further down the line, cache seems to be always required - https://github.com/apollographql/apollo-client/blob/8ee7648371fb3bac621af5c38fd98afb1f0bd7d7/src/ApolloClient.ts#L140-L143

even if an app does not need one by setting

[2020-05-04 14:17] machi1990 commented on #6237
If it makes sense to make the `cache` field optional, I can provide a PR.

[2020-05-04 15:36] mcclowes commented on #5730
Also seeing this. Not using `apollo-client`, and have checked the versions of `react`/`react-dom` are consistent

[2020-05-04 16:42] JSilversun commented on #5983
Hello, I'm a bit confused with the new API, is there a way I can do something like "look in the cache for this id (I suppose this part is working with the provided example), if it's not there, then query the server"?  I always wanted this behavior in the old version of apollo but right now I haven't been able to achieve it. For example, sometimes you will go to the list page of a CRUD and then you

[2020-05-04 16:51] darkbasic commented on #5983
This is what the previous example is about... Basically if you return `undefined` it will fetch from the server, otherwise it will use the returned result.

[2020-05-04 17:44] JSilversun commented on #5983
Oh great, thanks for explaining :) I wasn't sure if this was the default behavior.

[2020-05-04 20:01] lexanth commented on #6234
Same for `FetchPolicy` too

[2020-05-04 21:31] RuneKR commented on #4485
@annabfenske  - have a look at what i did to my own project to make it work. You can make the same changes to your bundler to make it work.

[2020-05-04 23:32] LeeKevin opened #6239 "Is it possible to pass the mutator function input or other context variables to the onCompleted/onError handlers?"
I have a PR at https://github.com/apollographql/apollo-client/pull/6238/files.

It's not well-typed, but I wanted it to serve as a foundation for what I think is an important feature for Apollo Client.

Within the `onCompleted`/`onError` handlers, I would like to have access to the input data or other context variables which are available in the context where the mutator function is called.

Ideas

[2020-05-04 23:33] LeeKevin commented on #6239
Requested a few times. One other instance: https://spectrum.chat/apollo/react-apollo/how-do-you-access-a-mutations-variables-after-invoked~98e6c8ac-119a-4815-973f-ed539a6c03c9

[2020-05-05 03:14] roninjin10 opened #6240 "Polling starts when variables change for a skipped query"
**Intended outcome:**
Expected query that is skipped to not start polling when query is skipped.

**Actual outcome:**
At first the polling does not happen.  But if the variables change the polling is started.

**How to reproduce the issue:**
Wrote a failing jest test reproducing the issue here https://github.com/roninjin10/ApolloPollingBug

In summary, to reproduce this do a useQuery and pass in a

[2020-05-05 03:57] panindra2017 opened #6241 "Apollo Client Beta 3 : @react/react-ssr causing error , ModuleNotFoundError: Module not found: Error: Can't resolve 'apollo-client' in 'F:\BootstrapNext\bootnext\node_modules\@apollo\react-hooks\lib'"
I am working Apllo client beta 3 withNext js and using ssr mode but i am not able to get success as i am getting above error :
and my ERROR : [ error ] ./node_modules
/@apollo
/react-hooks/lib/react-hooks.esm.js Module not found: Can't resolve 'apollo-client' in 'F:\BootstrapNext\bootnext\node_modules\
@apollo
\react-hooks\lib' ModuleNotFoundError: Module not found: Error: Can't resolve 'apollo-cl

[2020-05-05 09:10] bantingGamer commented on #3480
After playing around a bit with my own message app im working on, i found that when receiving new messages with a new **id** I have to return the merged data myself. But when im updating the chatRooms to display which chatRoom should be at the top of my screen (which one has the newest message), then my update happens automatically and I just return prev.

so maybe this is the expected behavior on

[2020-05-05 09:34] ahrnee commented on #5991
@benjamn, @hwillson - I have verified that the issue I originally opened this ticket for is now solved. The query no longer silently fails, but instead produces a useful error message.

Others on this thread seem to have questions, so I am not sure what the protocol on closing the ticket or leaving open is. I shall leave to you.

Thanks for taking care of the core issue. This will be a massive pro

[2020-05-05 10:28] aryzing opened #6242 "Fix types: `prev` in `fetchMore`'s `updateQuery` may be undefined"
**Intended outcome:**

The type of `prev` in `updateQuery` in `fetchMore` should have an `| undefined` added to its type.

**Actual outcome:**

The type for the previous data of a query may be undefined if `fetchMore`'s `updateQuery` runs after an initially failed query.

Eg.

1. `useQuery` fails with error for whatever reason.
2. After the failed query has run, `fetchMore` is called to fetch more

[2020-05-05 12:46] mattvb91 commented on #6220
same issue

[2020-05-05 12:48] andlon10 commented on #3633
Shall we assume the Apollo team have completely forgotten about this? I appreciate the effort but there hasn't been an update for months and this is one of many important features within apollo-client...Due to this and the network-policy issues we might have to consider switching to an alternative library instead

[2020-05-05 13:22] omar-dulaimi opened #6243 "Error: GraphQL error: Validation Error "source" is not allowed"
**Intended outcome:**
I added a field called source to schema, having one of two string values. When I to try to include it in new creations/updates (mutations), the error below gets triggered.

**Actual outcome:**
[code]

**How to reproduce the issue:**
In any existing schema just add the following:
[code]
[code]
Now try creating/updating a new item of type TypeName while giving source a value fr

[2020-05-05 13:23] omar-dulaimi commented on #6243
Is source a reserved word or something?

[2020-05-05 14:29] tomraithel commented on #2119
The solution to this problem is setting an appropriate `ssrForceFetchDelay`:

As stated on the [Apollo SSR docu](https://www.apollographql.com/docs/react/performance/server-side-rendering/#store-rehydration).

[2020-05-05 14:46] nigelthinksprint commented on #6220
same issue? Any resolutions why this might be?

[2020-05-05 15:34] andreialecu commented on #5824
Indeed it seems that for a gql query like:

[code]

If `getUser` returns an error, even if `errorPolicy` is all, the result is simply unusable.

[code]

`data` will be undefined in the response.

[2020-05-05 18:09] EmiyaYang commented on #3633
😞

[2020-05-05 18:17] azuxx commented on #3633
@andlon10 I suggest you to use Apollo 3 beta. It works there👌

[2020-05-05 18:37] coreyjewett commented on #653
Zombie commenting on this thread for anyone that happens upon this issue as it cost me half a day.

In dev my graphql service (postgraphile) is a separate server on a different port from my client code (gatsby w/apollo-client). Due to poor CORS config (my fault), Chrome suggested I add `mode: 'no-cors'` to fetch. This causes the graphql query to POST as `text/plain`.

To fix: 1) remove `mode: 'no-

[2020-05-05 18:40] acamenhas commented on #6220
same here

[2020-05-05 19:35] #6220 closed

[2020-05-06 08:56] 3nvi commented on #6243
Can you post some more information? You mentioned queries and mutations, so can we please see your full schema along with a query and/or mutation that fails?

[2020-05-06 08:57] 3nvi commented on #6243
Normally these sort of errors are not related to Apollo, but to GraphQL in general. It can either be triggered by `graphql-js` or even your backend.

[2020-05-06 09:00] 3nvi commented on #6242
I think that fetchMore was not intended to be used that way, since it's counting on the fact that the initial query brought something back.

If I were you, I'd try and locally shim that (through a definition file), since it looks like you have a very particular scenario (or business requirement).

[2020-05-06 09:04] 3nvi commented on #6241
Please follow the template next time, since it's very illegible.

Why don't you let us know what you installed? Did you do `npm i @apollo/client` or what? Where did you encounter that issue? What did you try to import?

The information you give is a bit generic, we need to know steps to potentially reproduce it

[2020-05-06 09:35] 3nvi opened #6245 "Apollo v3 merge function fails when spreading existing non-normalized data"
In Apollo v3 we have the ability to specify a merge function in a particular type field. The merge function works fine when merging types that are normalized in the Cache, but throws an exception if (for whatever reason) you are attempting to spread the existing data.

For example, when defining a merge policy:

[code]

Everything works fine if the type of the `existing` is something that's normal

[2020-05-06 10:44] AjaxSolutions opened #6246 "useBaseQuery - non-reactive useEffect dependencies?"
https://github.com/apollographql/apollo-client/blob/master/src/react/hooks/utils/useBaseQuery.ts#L89

Is this dep list correct?

[code]
https://github.com/facebook/react/issues/16121

"Dependencies should only include values that participate in top-down React data flow. Such as props, state, and what you calculate from them. "

[2020-05-06 12:30] andlon10 commented on #3633
I'm in the process of safely migrating all of our render prop components to Apollo hooks, however once that's done I will definitely upgrade to 3, grazie 😃

[2020-05-06 12:35] ambientlight opened #6247 "TypePolicies: mutations are not propagated when local field typePolicy is present without a local resolver"
**Intended outcome:**
Local resolver that provides a (default) value for a client-side field should be replaceable with a type policy without having any impact on how mutations for this client field are propagated.

**For setup like**:

[code]

where *_commentsOpenColumnIdx* is defined as:

[code]

and *toggleComments* as:

[code]

**Actual outcome:**
So for the following mutation:

[code]

the `t

[2020-05-06 13:15] iki commented on #2205
Seems related to https://github.com/graphql/graphql-js/issues/1298

[2020-05-06 13:27] vikei opened #6248 "client.writeQuery: Can't perform a React state update on an unmounted component."
I have custom hook that use `useApolloClient`

**Hook**
[code]

I use this hook in two components on different routes.
I use `open` function to write data to cache in first component it shows modal and `close` modal(write to cache)

Then I go to second route, and first component unmount, and when I use `open` it shows warning on first component that I display in `useModal` code chunk

**First Comp

[2020-05-06 13:53] estubmo commented on #6037
Experiencing the same issue. Any news?

[2020-05-06 14:11] salza80 commented on #6070
same issue

[2020-05-06 16:43] seeruk commented on #5597
Also just ran into this issue - quite a frustrating one because I'm trying to add hide a modal after a mutation and subsequent refetch finishes, but instead the modal closes as soon as the mutation finishes, and the user is left waiting for the query to finish with no indication that the query is even happening.

[2020-05-06 18:27] CarsonF commented on #6146
I can second this with Yarn v2

[2020-05-06 19:30] omar-dulaimi commented on #6243
Well, after cloning and inspecting Apollo client, graphql-js, graphql-request and finally prisma, I finally started checking the backend as you mentioned. Turns out the culprit was Joi validation library!
Thank you for pointing me in the right direction, and this little experience showed me great code in those aforementioned libraries.

[2020-05-06 19:30] #6243 closed

[2020-05-06 19:43] AjaxSolutions commented on #6246
I'm looking at React code checking deps in `areHookInputsEqual`. I don't see anything here that would favor React state or props. They just use `Object.is` polyfill to compare deps.

https://github.com/facebook/react/blob/e71f5df9c32b3b486bf4efce861834389c395d47/packages/react-dom/src/server/ReactPartialRendererHooks.js#L124

[2020-05-06 22:42] ashubham opened #6249 "[AC3] readQuery returns a whole new copy of results after a mutation updates a subset of results."
**Intended outcome:**

If a `mutation` updates a subset of result, the siblings of the changed subset should still be the same reference of data as before.

**Actual outcome:**

When running `readQuery` after a partial update of the result set due to a mutation, the result set has all children as cloned copies even though they have not changed.

**How to reproduce the issue:**

My schema looks som

[2020-05-07 03:44] duro commented on #6070
I'm getting the same issue as well. I'm using apollo-boost, which ships with apollo-client 2.6.8.

I have tried errorPolicy: 'all' and errorPolicy: 'ignore' and I always get an unhandled promise exception. The only way around this is the hack of catching the error and sending it to console,

But according to docs that's not how this is supposed to work. Using 'ignore' or 'all' is supposed to make

[2020-05-07 04:07] ashubham commented on #6249
I did more research on this, seems to be due to `dirtyChildren` check which is done in `QueryManager.ts`
https://github.com/apollographql/apollo-client/blob/master/src/cache/inmemory/readFromStore.ts#L98

Basically, we `executeSelectionSet` if any child is marked `dirty`. In the above case `Session` is a child of `AnswerSession` which is marked dirty, causing the whole `AnswerSession` to be re-exe

[2020-05-07 04:46] duro commented on #6070
I have traced this down, at least in `@apollo/react-hooks@3.15` which which ships with `apollo-boost@0.4.7` to this block of code:

https://github.com/apollographql/react-apollo/blob/4bd40a94b18102b1eb42864d2e59d52ced0303f5/packages/hooks/src/data/MutationData.ts#L81-L89

The `errorPolicy` is never destructured from the options, and subsequently never passed to the underlying client mutation call.

[2020-05-07 04:55] mdnorman commented on #4165
This is a problem with @apollo/client 3.0.0-b44 as well. It's even broken with `network-only` fetch policy. `cache-and-network` works.

[2020-05-07 05:59] jocke138 opened #6250 "existing value of keyFields is overwritten by addTypePolicies"
Calling `cache.policies.addTypePolicies()` multiple times will override any value of `keyFields` instead of merging the results - even if keyFields is left out in the subsequent calls to addTypePolicies.

We share some code between our produces and have separated the state/type policies in two layers which is how we stumbled on this issue.
* one that manages common policies and state (such as sett

[2020-05-07 08:33] macrozone commented on #5869
can also reproduce with

[code]

[2020-05-07 11:55] mortifia opened #6252 "resetStore with predefined value generate a temporary memory leak"
Does someone knows how to do a resetStore() while keeping a value to avoid this concern when someone logs out ?

logout
[code]
component example
[code]

the error
Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function.

[2020-05-07 13:13] skjorrface commented on #1757
Hi guys, I'm having the same exact problem with Expo + React Native + Apollo Client + graphql-yoga-server. I read this issue so I managed to make my graphql endpoint reachable from "the external world" with nat and no-ip. Anyways, from expo server, if I click "Run in Browser", everything works correctly, if I run the app in android emulator or via the expo app on my smartphone I get a network erro

[2020-05-07 14:36] samrith-s opened #6253 "useQuery not updating loading state"
**Intended outcome:**

[code]
Once the query is complete it `loading` should be `false`.

**Actual outcome:**

The `loading` state is always `true`. This results in the page loading infinitely.

**How to reproduce the issue:**

- Add any query.
- Use `useQuery` from `@apollo/client@^3.0.0-beta.44`.
- Log `loading`.

**Versions**

**System:**
- OS: macOS Mojave 10.14.5

**Binaries:**
- Node: 10.16.

[2020-05-07 16:01] mschipperheyn commented on #2285
I have this problem as well. Refetching a query with the same variables (that delivers a different result bc it's random) does return new data visibly in the network debugger, but the cache is not being updated. adding `fetchPolicy: 'network-only'` does not help.

[2020-05-07 16:23] mschipperheyn opened #6254 "refetch with same variables but returning different data does return new data, but doesn't update cache"
**Intended outcome:**
I'm refetching data with useQuery using the same variables but the server returning a different (data) data result. The front end is supposed to update the frontend.

**Actual outcome:**
The new data is correctly retrieved and visible in the network debugger. The refetch also triggers a rerender. However, the data output in the console shows the old data result. This suggests

[2020-05-07 16:53] yss14 commented on #5596
I just ran into the same issue, which cost me about 2 hours of debugging.
If you try to query a not-existing key on your local schema, there is NO error, `useQuery` just returns `undefined` for `data` and `error`.

[2020-05-07 16:53] wosephjeber commented on #2813
I'm also very interested in the progress of this. My company has been struggling with bugs for some time now caused by this issue, and we've been unsuccessful in multiple attempts to work around it. Any update on if/when #4640 might be merged?

[2020-05-07 17:20] sanketCactus commented on #1751
Any idea how to achieve the same thing  with apollo-server-lambda setup? to increase or decrease the timeout ?

[2020-05-07 17:39] johannesjo commented on #593
Is this possible now?

[2020-05-07 17:40] johannesjo commented on #593
Is this possible now?

[2020-05-07 18:32] SunstroUS commented on #5963
Similar problem as @ahouchens . Set my query options { fetchPolicy: 'no-cache' } like mentioned and it seems to work. Currently using '@apollo/react-hooks' & 'react-router-dom@5.1.2'

[2020-05-07 18:46] duro commented on #6070
Just updating... I upgraded my app to `@apollo/client` v3.0.0-beta.44 and my particular issue was resolved.

[2020-05-07 20:35] multivoltage commented on #5659
Hi guys. I have the same issued. But I think there is some magic under the hood. In my scenario useQuery() return an array inside the data object. IN my scenario my data is composed by 8 element. I can put some filters for backend. But, each field "user_id" inside those array elements has the same value. For some reason when backend return me with new data, apollo know that new result are the same

[2020-05-07 23:27] #5991 closed

[2020-05-07 23:48] benjamn commented on #6253
Try `beta.46` (just released), which includes PR #6221?

[2020-05-07 23:50] benjamn commented on #6240
Try `beta.46` (just released), which includes PR #6221, which changes/improves some things about how polling works?

[2020-05-08 00:11] ahouchens commented on #5963
In my case for the `useMutation hook, I pursued the workaround of declaring, `refetchQueries` and listing out the same query my list view needed after the mutation.

https://www.apollographql.com/docs/react/data/mutations/#usemutation-api

[2020-05-08 01:47] joonhocho commented on #6190
I get the same bug. `skip` is not respected

[2020-05-08 04:00] sbodi10 commented on #3316
Thank you so much! `cors:false` FTW!

[2020-05-08 05:20] StinsonZhao commented on #6253
The same problem when using `beta.43`... T_T

[code]

Then, I tried `beta.46` as @benjamn said above. Emm... **New Problem**:

- `networkStatus` can change from 1 to 7, that means the `loading` can change to false
- **But, the `data` is `undefined`(`error` is also `undefined`)**

I'm very sure that my QUERY is correct. The Network of Chrome DevTools shows the request was returned with data correct

[2020-05-08 05:37] ashubham commented on #6142
This happens to me too:
`Uncaught Invariant Violation: Must provide an object or Reference when calling Policies#readField`

FWIW, inside the merge function you have access to the `existing` and `field` which could be passed as the second args

[2020-05-08 06:58] ashubham commented on #6142
@Banou26 You may want to look at this comment in the code though:

https://github.com/apollographql/apollo-client/blob/master/src/cache/inmemory/policies.ts#L549

[2020-05-08 08:10] chrisvoo opened #6255 "JavaScript heap out of memory"
**Intended outcome:**
Hi,
I have a batch script that runs from the command-line and makes sequentially thousands of requests. The queries are performed by this client:

[code]
The main part where I use the aforementioned client is the following:

[code]

**Actual outcome:**
After hours - but every time I launch the script - I get the following error which crashes the script:

[code]

**How to repr

[2020-05-08 09:41] kwaimind commented on #4778
Amazing @LuisDev99

Adding the `/graphql` fixed this issue for me too.

[2020-05-08 09:43] samrith-s commented on #6253
@benjamn The loading works. But there is a new issue with `useLazyQuery` and `error`. I will create a new issue for it.

[2020-05-08 09:48] samrith-s opened #6256 "useQuery/useLazyQuery data and error are undefined"
Error returned:
![image](https://user-images.githubusercontent.com/9032162/81393936-73256400-9121-11ea-891f-0f848d0d2e47.png)

Data returned:
![image](https://user-images.githubusercontent.com/9032162/81454184-cdf3a580-918b-11ea-81fe-d2651d574ba9.png)

**Intended outcome:**

When the query returns an error or data the destructed `error` or `data` variable should contain a value.

**Actual outcome:

[2020-05-08 10:59] raelmiu commented on #3909
I've tried all of these and NONE of them work for me. So the next question is: how can you verify if the update issue is due to writeQuery not triggering an update, or is useQuery is not updating?

Or stated in other terms: is there any way of debugging if your cache is actually updating properly from a writeQuery without having a query firing?

[2020-05-08 11:01] anajavi commented on #2919
I can't reproduce this anymore with @apollo/client 3.0.0-beta.46.

[2020-05-08 11:12] aryzing commented on #6242
Thanks for the suggestion @3nvi. I agree with you: this way of using `fetchMore` is probably a little outside the norm. It seems though that types are a description of the data more so than the conventions we agree on for how the data is used. In other words, while this may not be the intended usage, it is a possible usage, and the types should take this case into account to be considered accurate

[2020-05-08 12:20] Banou26 commented on #6142
If you took a look a look at the reference i gave in my post: *https://spectrum.chat/apollo/apollo-client/apolloclient3-typepolicies-contexts~0ed2649c-ad4c-4e8a-9a53-9ae52f865e7b*.

You'd see that there is a design problem with this, because they say that `readField` is useful for merge functions, but the thing is **you cannot use readField at all** because you cannot query the object of the merge

[2020-05-08 12:47] sumboxcar182 commented on #4535
Closing this down as i believe it's either fixed or so outdated that it's not going to be looked at.

[2020-05-08 12:47] #4535 closed

[2020-05-08 13:38] danielchikaka commented on #593
Yes!

I managed to do it a year ago. It looks ugly but works.

[2020-05-08 13:44] johannesjo commented on #593
@danielchikaka thank you very much for the reply.

I feared as much. For me personally it doesn't make much sense to adopt a whole new eco system without at least second class angular support.

[2020-05-08 14:18] riccoski commented on #5812
Same here. I noticed if you used:
`   fetchPolicy: 'network-only',
`

then it will work as expected. Of course if you don't need the cache

[2020-05-08 18:21] obedm503 commented on #3909
@raelmiu do you have the Apollo devtools installed?

[2020-05-08 19:55] raelmiu commented on #3909
@obedm503 yes, I do.

[2020-05-08 20:18] obedm503 commented on #3909
@raelmiu you can inspect the cache before and after a read or write through the devtools

[2020-05-08 20:26] benjamn commented on #3909
Hey folks, if you're using `@apollo/client` (AC3), please give the latest beta version (`3.0.0-beta.46`) a try, as we've made some substantial improvements to the automatic broadcast of cache changes (see #6221).

I can't begin to say this update will solve all the problems that have been raised in this thread, but there's a reasonable chance that many of them will be fixed/improved, I think.

Tha

[2020-05-08 20:49] awlui opened #6260 "Apollo-link-error not catching and local resolver exceptions"
I recently migrated from Apollo-link-state to the native one provided by Apollo Client. The error link would catch exceptions thrown from apollo link state but now that we have the local resolvers built into the client instead of as a link, we can't catch errors the old way. Is there a way around this?

[2020-05-08 20:54] austin43 commented on #6011
This issue seems to be resolved in beta.43, but present from beta.44 onward.

[2020-05-08 21:01] #6260 closed

[2020-05-09 09:11] vicary commented on #6011
@austin43 Thanks for the info, we'll hold on upgrading until this regression is fixed.

[2020-05-09 10:55] RobinKamps commented on #1701
Hi,
thank you all for your tips.
As already stated above this error happens, if the query is not already in the cache. This can happen mainly due to a page refresh or a direct link, so that a query, which would be normally performed in another component before is not in the cache.
I tried writeFragment, wich works, but does not propagate state update to all services and components (because these r

[2020-05-09 15:53] EirikFA commented on #2160
I believe this is still relevant.

[2020-05-09 18:14] hashinclude72 commented on #6122
It is still in `@apollo/client` 3.0.0-beta.44

[2020-05-09 18:53] kyosifov commented on #1546
This is really embarrassing, how we cannot access a query without variables. I don't think it will be much of a problem if we get queries with the same name. And we also can come up with different query names in GraphQL and get directly that query by the custom name, no by the whole GraphQL query with its variables.

It seems very frustrating to store queries with all their variables, just so we c

[2020-05-09 19:26] austin43 commented on #6011
@vicary to get around the blocker temporarily, @wamujlb's solution is certainly viable.  It is just a types issue so shouldn't affect anything during runtime.

[2020-05-09 20:26] brotzky commented on #6201
We were able to get around this through various changes to our app. The largest change was breaking down one massive query we had into lots of smaller queries. We should've done this in the beginning but were fairly new to GraphQL when we started.
By breaking down the cache into smaller pieces I'm guessing each update now only updates a small portion of the cache instead of a huge object.
We also

[2020-05-09 20:26] #6201 closed

[2020-05-09 21:29] Tadimsky commented on #6188
This is similar to the error I get - I believe it's just a different string in React 16.13.1:

[code]

@hwillson any chance you could fix this here as well?

[2020-05-10 07:11] ahrnee opened #6262 "AC3: ApolloCache.write* no longer updates cache silently (breaking change)"
**Actual outcome:**
Release **AC3 v3.0.0-beta.40** and beyond:
 - `ApolloCache.writeFragment` triggers watched query broadcast: TRUE (**breaking change**)
 - `ApolloClient.writeFragment` triggers watched query broadcast: TRUE (as expected)

Release **AC3 v3.0.0-beta.39** and before:
 - `ApolloCache.writeFragment` triggers watched query broadcast: FALSE (as expected)
 - `ApolloClient.writeFragment`

[2020-05-10 07:13] dandv commented on #6231
Also, there's a TypeScript error in that sample - https://github.com/apollographql/apollo-link/issues/1273.

[2020-05-10 14:08] anuragnagarkota commented on #6136
I am also facing the same issue while using viewer at different places with different data? Any updates?

[2020-05-10 14:09] dmc2015 opened #6266 "Appending Provided URI to localhost:3000"
**Intended outcome:**
Requests should be made to `http://localhost:5000/graphql`

**Actual outcome:**
Requests are made to http://localhost:3000/localhost:5000/graphql

**How to reproduce the issue:**
https://github.com/dmc2015/graph-front3nd/tree/BadUri
git clone
git checkout BadUri
yarn install
yarn start
navigate to localhost:3000
Open browser inspector and go to `Network` tab

**Versions**
[co

[2020-05-10 19:12] EirikFA commented on #5790
I still experience issues in my own app and in @jcane86's reproduction (https://codesandbox.io/s/optimistic-rollback-broadcast-v59wo) after updating to beta 46. It seems the result is rolled back for the first mutation, but not for any following.

[2020-05-10 23:11] EliasTouil commented on #5089
@derozan10 's and @mzygmunt code works with NextJs + Graphql Yoga + Prisma
https://github.com/apollographql/apollo-client/issues/5089#issuecomment-598671071

I also changed my CORS options on the backend

[code]

[2020-05-10 23:16] EliasTouil commented on #2443
If you are here in 2020 With next JS  =>  https://github.com/apollographql/apollo-client/issues/5089

[2020-05-11 14:55] benjamn commented on #6262
Yes, `ApolloCache#performTransaction` is the way to go here, if you need it. Wanting to delay/batch cache broadcasts is a relatively advanced use case, compared to the overwhelmingly common goal of wanting cache updates to be automatically broadcast to the client.

[2020-05-11 14:57] #6250 closed

[2020-05-11 15:17] weslleyaraujo opened #6267 "Expose jsdocs on final bundle"
Hi there 👋

I noticed that some of the jsdocs are getting lost on the final bundle (Eg. `apollo-client/core/networkStatus.d.ts`)

I see that there are very well explained jsdocs on this file here: https://github.com/apollographql/apollo-client/blob/master/src/core/networkStatus.ts

Would expect that to show up on VSCode as shown below:
<img width="1155" alt="Screenshot 2020-05-11 at 17 11 27" src=

[2020-05-11 16:44] #6118 closed

[2020-05-11 16:44] skinnomecom commented on #6266
Just stumbled upon that issue. Not sure if it's just a typo in your provided code snippet but your URI is missing a second`/` after `http:/`

[2020-05-11 17:32] lucian-student commented on #4778
/graphql solved it for me aswell seems like link cannot be same as server

[2020-05-11 18:08] benjamn commented on #6262
You're right about the nature of the change (and thank you for making sure we were are of the change), but this change was very much intentional, because it supports the general narrative that any updates to cache data trigger corresponding updates in the UI.

We are considering adding a `broadcast: boolean` option to `writeQuery` and `writeFragment` to allow silencing the broadcast for individual

[2020-05-11 18:13] dmc2015 commented on #6266
I fixed the typo and it seems to stop appending the URI. My feeling is it should not append, if it had just passed what I had typed and made the request, the request would of failed and I would have noticed I was missing a `/`. It shouldn't mutate the value I give it.

[2020-05-11 18:22] bwhitty commented on #6262
Big +1 to a programmatic API to control broadcasts, as this is a needed feature for us as well.

I think it makes a lot of sense to not have an implicit difference between `client.write*` and `cache.write*` as it pertains to broadcasts, so the explicit ability to control that would be great.

Also, @benjamn you mention the `cache.performTransaction` API; how do you see the importance of / support

[2020-05-11 19:12] velidan opened #6268 "Apollo client local state doesn't trigger resolvers"
Hi everyone. I'm working on the Apollo local state (frontend client. React).
I found that Apollo doesn't trigger local resolvers. They just aren't used. I read the official doc more than 4 times, asked on stack, etc. but didn't find any answer.
Maybe someone has some idea why it happens and how it can be resolved?

Apollo client Version: 2.7

Here is my setup: (The Member resolvers for **isLogged*

[2020-05-11 19:31] balazsorban44 commented on #6225
Agree with @jguffey! I spent a great amount of time figuring out why I had the same data on the screen multiple times, while the response of the graphql request in Network looked fine. A warning would be useful!

[2020-05-11 20:00] johnniehard commented on #5080
I just had a similar issue that was permissions related. I made the mistake of thinking that any permission given to the anonymous/public role will automatically apply to all other roles. Turns out that is not the case, each role has to have their permissions set explicitly.

[2020-05-11 20:53] ahrnee commented on #6262
@benjamn - OK, thanks for the clarification.

Yes, would welcome this addition!

[2020-05-12 00:14] dwesty17 commented on #6215
Closing this because the PR was merged!

[2020-05-12 00:14] #6215 closed

[2020-05-12 01:25] airstance commented on #4955
I must be doing something wrong because this is really bad.  It will crash every time if the user navigates to a different page in my React app while there's a pending fetchMore.  I'm not even sure it's only fetchMore.  It would appear to be any long running query/mutation.  Has this really always been there?

[2020-05-12 04:24] roninjin10 commented on #6240
Seeing same issue on @apollo/client@3.0.0-beta.46

[2020-05-12 05:10] zwl1619 opened #6269 "Will not update graphql to 15 in apollo-client 3 RC？"
Now graphql is 14.6.0 .
Will not update graphql to 15 in apollo-client 3 RC？

[2020-05-12 13:49] wwwebman commented on #6236
Is there any update on this?

[2020-05-12 13:58] benjamn commented on #6240
@roninjin10 Can you push those changes to your reproduction repo, so I can see exactly what you mean?

[2020-05-12 14:25] roninjin10 commented on #6240
So I tested this out on our app and it didn't work.  But just now when I updated packages in my reproduction repo the tests pass so I think this issue is resolved and I on our app it was just user error by me failing to correctly update the packages.   I'll try upgrading them again later today on our actual app and expect that the issue will be resolved.  I'll close this issue then.

[2020-05-12 15:29] DelToney commented on #3480
running into this issue as well. I dont understand the idea of this feature in terms of the subscription. Like, I understand that it takes more off of the developers hands, but this seems like software 'magic' is pulling the veil over things that should be available to the developer.

whats even more strange is that in my environment **SOMETIMES** I get the behavior that I had originally wanted, b

[2020-05-12 17:41] StanislavSoftermii commented on #3639
Its 2020 and this combination works for me in React-Native. I feel like a hacker who achieved to hack this beautiful documentation.

Application entry point **index.js**

[code]

**package.json**
[code]
**component** file inside application
[code]

[2020-05-12 17:45] hwillson commented on #6268
Would you mind creating a small runnable reproduction that demonstrates this? There are parts of your code sample that are missing, so it's difficult to fully see what's happening. Thanks!

[2020-05-12 17:47] hwillson commented on #6267
Thanks for letting us know - we'll look into this post the 3.0 launch.

[2020-05-12 17:51] hwillson commented on #6266
Thanks for reporting this, but this doesn't appear to be an issue with Apollo Client itself. If you think this is still a problem, and can provide a small runnable reproduction that shows this, we'll take an another look.

[2020-05-12 17:51] #6266 closed

[2020-05-12 18:04] hwillson commented on #6256
Would you mind providing a small runnable reproduction that demonstrates this? Thanks!

[2020-05-12 18:07] hwillson commented on #6255
Any chance you could re-test using the AC 3 beta (`@apollo/client`)? We've made a lot of performance improvements to the cache.

[2020-05-12 18:11] hwillson commented on #6254
Would you mind trying the latest `@apollo/client` beta? (`3.0.0-beta.46`) A small runnable reproduction would also be great. Thanks!

[2020-05-12 18:12] hwillson commented on #6253
It looks like the original issue was fixed by `@apollo/client@3.0.0-beta.46`, so closing this off. Thanks!

[2020-05-12 18:12] #6253 closed

[2020-05-12 18:15] hwillson commented on #6252
This doesn't sound like a bug with Apollo Client - would you mind moving this discussion over to [Spectrum](https://spectrum.chat/apollo)? Thanks!

[2020-05-12 18:15] #6252 closed

[2020-05-12 18:19] hwillson commented on #6248
This doesn't sound like a bug with Apollo Client - would you mind moving this discussion over to [Spectrum](https://spectrum.chat/apollo)? Thanks!

[2020-05-12 18:19] #6248 closed

[2020-05-12 18:23] hwillson commented on #6247
Would you mind creating a small runnable reproduction that demonstrates this issue? It's a bit difficult to tell what the problem is based on the code samples you've provided. Thanks!

[2020-05-12 18:26] hwillson commented on #6246
The dependency tracking we have in place is intentional and we would like to keep it as is for now. If you notice any issues caused because of this, definitely let us know. Thanks!

[2020-05-12 18:26] #6246 closed

[2020-05-12 18:31] hwillson commented on #6242
Thanks for reporting this. Would you mind trying Apollo Client 3 (`@apollo/client`) out? We've changed some of the `fetchMore` behavior and would love feedback. Thanks!

[2020-05-12 18:49] julian-sf commented on #3633
Oh, their documentation is super misleading.  But their documentation DOES state that `network-only` calls the cache, although it stupidly says it in the `no-cache` policy description:

https://www.apollographql.com/docs/react/api/react-apollo/#optionsfetchpolicy:

[2020-05-12 18:50] chrisvoo commented on #6255
I think so, I'll let you know as soon as I get assigned a similar task to the one that gave me this issue.

[2020-05-12 19:01] julian-sf commented on #3633
I mean that's what I said here:

@JustDoItSascha:

Oh, Apollo has bugs with IE for sure.

To your other point, I never claimed anyone was stupid.  I tried to simply explain the inner working of the complex caching logic that Apollo uses.  Nothing I said in my comment was incorrect.  People are getting angry because I'm simply explaining the system to them.  I didn't write the system, I'm just expl

[2020-05-12 20:41] mschipperheyn commented on #6254
I have tried it with 46 and it still fails. I will try to focus on a reproduction scenario bc refetch seems to be failing all over the place. I've replaced it with refetchQueries where I could, which works. But any refetch executes the refetch but doesn't seem to update the cache correctly.

[2020-05-12 21:01] pmcorrea commented on #5912
Thanks for the alternative solution @Relsig. @alexpermyakov I'm new to Apollo, so naturally I thought I missed something...came across this after trying to debug for too long. Nice to know I'm not the only one!

[2020-05-12 21:04] Gentlee commented on #2774
Does `client.cache.reset()` do the job right now?

[2020-05-13 03:24] ruslanvs commented on #3633
OK, fixed. Below is a sample of what I updated in my case, and steps that could help you identify what you need to update in your particular case.

`
// This change helped in my case. Please use the below steps to identify what you need to change.
const variables = {
    first,
    - sortBy: [{ key, dir }], // removed
    + sortBy: { key, dir }, // added
  };`

Troubleshooting steps for your situa

[2020-05-13 06:22] ahrnee commented on #6262
My primary question has been answered, and it looks like the feature to add a broadcast boolean to `cache.write*` and `client.write*` has been added to the roadmap (+1). Closing ticket.

[2020-05-13 06:22] #6262 closed

[2020-05-13 07:04] velidan commented on #6268
Hi @hwillson. Thank you for your attention. I found a possible workaround. Here is the explanation, maybe it will be useful for others.

In short: Use  **@client(always: true)** for a field that you'd like to use resolver for.

**The *in deep* explanation**

In general, there is a problem with how the Apollo client works with Cache.
By default, it caches the response, and next time it'll fetch the

[2020-05-13 07:05] #6268 closed

[2020-05-13 07:54] airstance commented on #3480
It gets worse.  The previousResults parameter contains the results from the mutation that caused subscription to fire.  If the person who made the mutation only asks for a few fields, then only those fields will be in the cache now.  In other words, the client isn't merging but overwriting the object before updateQuery is even called.

The merge workaround above doesn't work because the prevRes is

[2020-05-13 09:17] charlypoly opened #6271 "undefined is not an object (evaluating 'o.currentObservable.query.fetchMore')"
Hi Apollo team!

Our product is facing this error very often:

![image](https://user-images.githubusercontent.com/1252066/81794014-6d0cfa00-950a-11ea-9575-7de0c5e7b684.png)

Our application allows to switch between many workspaces which is associated to a unique apolloclient instance (different ApolloLink for authentication headers), when doing so, the active apollo client of the React app is chan

[2020-05-13 10:37] miller-productions commented on #6241
Possibly a dupe of #5808

[2020-05-13 11:48] morrys opened #6272 "[apollo-client] 2.6.9 different bundle"
Hi all,
I wanted to report that with version 2.6.9 a different bundle structure was released on npm.

This results in a breaking change when internal APIs are used.

| bundle 2.6.9  | bundle 2.6.8 |
| ------------- | ------------- |
![immagine](https://user-images.githubusercontent.com/2670647/81808246-b9af0000-951f-11ea-891e-6cfb91b92966.png) | ![immagine](https://user-images.githubusercontent.co

[2020-05-13 12:36] mortifia commented on #6252
it's moved to spectrum

[2020-05-13 14:02] nathanschwarz opened #6273 "SSR: Missing cache result fields for fields with @client directives"
Hello there,

since `@apollo/client@3.0.0-beta.44` all the `@client` directives on fields throw a `MissingFieldError` when trying to render on the server (using `@apollo/react-ssr@4.0.0-beta.1`)

When downgrading to `@apollo/client@3.0.0-beta.41` it works as usual.

Does `@apollo/client@3.0.0-beta.44` introduced a breaking change on the way it handles `@client ` directives ?

[2020-05-13 14:36] mschipperheyn commented on #6254
@hwillson do you guys have a code sandbox with a basically setup server and client? It would help to do this quickly.

[2020-05-13 18:51] #6245 closed

[2020-05-13 20:22] benjamn commented on #6245
@3nvi Can you give `@apollo/client@3.0.0-beta.48` a try? My fix for this was also in `beta.47`, but `beta.48` is currently the latest version.

[2020-05-13 20:36] benjamn commented on #6272
@hwillson Any idea what might be up with this?

[2020-05-13 20:53] tnguven commented on #5400
return () => unsubscribe();  This would work

[2020-05-13 21:51] ljmerza commented on #1913
The ID doesn't not need to be a uuid. It just needs to be unique to the type of object. You can technically have a user object with ID 1, another with ID 2, and also have a list object with ID 1, another with ID 2.

[2020-05-13 23:06] KristenLeach commented on #6272
I'm experiencing the same breaking change with this update, following here for more info.

[2020-05-14 05:31] 3nvi commented on #6245
Hey @benjamn the current issue is indeed fixed on `@apollo/client@3.0.0-beta.48`, thanks a lot!

Another issue related to data mutations is still present though https://github.com/apollographql/apollo-client/issues/6202. I've also added a reproduction codesandbox using the latest beta.

[2020-05-14 08:05] BrickCarvingArtist opened #6277 "ExecutionResult Type Error still on Tag 3.0.0-beta.48"
On tag 3.0.0-beta.48
Would you please change code in file `/src/core/QueryInfo.ts` to code below?

on line 2 to change
[code]

line 10 to add
[code]

and `function markResult()` to change to like
[code]

**Intended outcome:**
Do not throw type error.

**Actual outcome:**
Throw type error.

**How to reproduce the issue:**
Just compiled by typescript.

**Versions**
System:
    OS: macOS 10.15.4
  Bi

[2020-05-14 08:56] IcanDivideBy0 commented on #2042
In case anyone else stumble on this, `yarn why @apollo/react-common` can help you figure out why you have different version of `<ApolloProvider>` used by different packages.

[2020-05-14 10:45] hwillson commented on #6272
Interesting - it looks like the `apollo-client` prep script (`./scripts/deploy.sh`) didn't fire as part of the Lerna deploy process. I'll dig in - thanks!

[2020-05-14 10:53] jaynetics commented on #5058
We are also seeing `Network error: undefined` in our error tracker coming from this same line.

We are using the latest apollo-client, apollo-link-error, apollo-link-retry, and no custom fetch.

[2020-05-14 11:11] morrys commented on #6272
@hwillson I think the cause is the absence of the property "private": true,
in the [package.json of apollo-client](https://github.com/apollographql/apollo-client/blob/release-2.x/packages/apollo-client/package.json)

This avoids running the lerna publish and allows the [deploy.sh script to run correctly](https://github.com/apollographql/apollo-client/blob/release-2.x/package.json#L19)

[2020-05-14 11:43] hwillson commented on #6272
Ahhh great catch @morrys - that makes sense! We removed it in https://github.com/apollographql/apollo-client/commit/b73b380655d8118f91596e15e11361781a834a5e#diff-ba5107ed2a3d01d496471a867baf8207 to fix Github's "Used by" counter. Fix coming momentarily - thanks!

[2020-05-14 12:03] hwillson commented on #6272
This should now be fixed in `apollo-client@2.6.10` (and I'm really glad we've moved away from AC 2.x's build/deploy approach in `@apollo/client`).

[2020-05-14 12:03] #6272 closed

[2020-05-14 13:21] benjamn commented on #6277
@BrickCarvingArtist Any chance you might have time to submit a pull request? 🙏

[2020-05-14 13:22] azuxx commented on #3766
@chris-guidry Fixed! It was also a server issue🤦🏻‍♂️

[2020-05-14 15:37] dylanwulf commented on #6254
I think there's a link to an error template in the [Contributor Guide](https://github.com/apollographql/apollo-client/blob/master/CONTRIBUTING.md#reporting-bugs) (Under `Issues > Reporting Bugs > 3`). I don't know if there's a codesandbox template though.

[2020-05-14 18:10] darkbasic opened #6278 "[cacheRedirects/typePolicies] Retrieving fragments from the cache and returning an array of references"
typePolicies are really easy if you just fetched a list of Chats and then want to query one of them:

[code]

But what if you fetched a Chat along with all its messages
[code]
and now you want to query all messages for that given chat?

The first thing which came to my mind was something like this:
[code]

But unfortunately:
1) There is no easy way to access the client/cache from within `typePolic

[2020-05-14 18:36] marcelkooi commented on #3747
Ran into a similar issue, had to add an `id` field within the query. Definitely would have been helpful to have a warning or something mentioned in the docs since this isn't an obvious solution to the problem IMO

[2020-05-14 19:44] durchanek commented on #6277
Ran into this as well after upgrading to graphql@15.0.0

[2020-05-14 19:44] perrosnk commented on #6136
I am also having the same issue. Has anyone found a solution?

[2020-05-14 20:14] benjamn commented on #6278
I think the answer here is the `readField` helper, which can optionally take a `Reference` as its second argument:
[code]
If you pass only a field name to `readField`, it assumes you want to read from the current object.

[2020-05-15 07:34] darkbasic commented on #6278
Thanks @benjamn for the quick answer. Unfortunately `readField` always returns undefined. It works for simple scalar fields, but not for `messages`. I probably over-simplified my previous example, but `messages` uses Relay-style cursor pagination:

[code]

And it looks something like this:

[code]

I'm not sure if `readField` is supposed to behave that way (I wasn't even sure if it was the right t

[2020-05-15 07:52] vincicat commented on #6273
After some digging, I found the source: devs removed `@client` directive without saying it in migration guide.

See PR #5982 for detail.

[2020-05-15 11:47] #6277 closed

[2020-05-15 12:07] ashubham commented on #6249
@benjamn Is this something we are tracking to fix in 3.0 ? Or is this something expected

[2020-05-15 12:11] mschipperheyn opened #6281 "client.stop is not the way to prevent "reset store when query is in flight error""
This is probably a documentation issue or might be considered an edge case.
When you reset the cache, you often get the error:
[code]
My solution was to call `client.stop()` before resetting the store. However, after that, the local cache doesn't work anymore. It probably requires a full client recreation? Or is this considered a bug.

**Intended outcome:**

The pattern to correctly reset the stor

[2020-05-15 12:17] hwillson commented on #6271
@wittydeveloper Can you confirm which version of Apollo Client you're using?

[2020-05-15 12:19] wittydeveloper commented on #6271
@hwillson Sure, we use `apollo-client@2.6.8`

[2020-05-15 14:18] michelalbers commented on #5920
With ```wait()``` testing-library will complain that ```wait``` is depreacted. My solution:

[code]

[2020-05-15 18:27] ezhuikova commented on #5075
Hi! Did you solve this problem?

[2020-05-15 18:52] hwillson commented on #6271
Thanks @wittydeveloper - a few additional questions:

1. How are you toggling your `ApolloClient` instance - e.g. are you toggling `client` instances before passing them through `ApolloProvider`? Or are you passing different `client` instances into `useQuery` through its `client` option?

2. Are you using `fetchMore` anywhere, or are you seeing this error without using `fetchMore`?

[2020-05-15 22:04] sanpablomarket commented on #5140
this appears to still be broken. `startPolling` and `stopPolling` are undefined when returned from the lazy hook.

[2020-05-15 22:18] patrickleet commented on #4190
omg I spent so long on this.

Here is how my setup looks:

1. Auth Server - Keycloak - auth.domain.com
2. SSR Sapper/Svelte App - www.domain.com
3. graphql api - content.domain.com

For me, `credentials: true` on the server (localhost:3001), and `credentials.include` on the client got things working for me on localhost!

... Then I deployed...

Once I deployed with SSL and the works to Kubernetes,

[2020-05-15 23:17] benjamn commented on #6262
Opened PR #6288 to implement the `options.broadcast` idea for `cache.writeQuery`, `cache.writeFragment`, and `cache.evict`.

[2020-05-16 08:04] capaj opened #6291 "Uncaught TypeError: this.executeSelectionSet.peek is not a function"
**Intended outcome:**
no type error

**Actual outcome:**
[code]

**How to reproduce the issue:**
not sure, but this error is thrown like 5 times every second, so it shouldn't be impossible to repro with the right configuration.
I tested on other project, where I don't have SSR, so this might be a problem.
The project that is problematic is based on https://github.com/leebenson/reactql but modified

[2020-05-16 09:08] hugoh59 commented on #3573
Updates ?

[2020-05-16 13:28] samirelanduk opened #6292 "Documentation Structure"
I think some of the text on the [main page of the documentation](https://www.apollographql.com/docs/react/#explore-apollo-client) is out of date. It says that the documentation is split into five sections (Essentials, Features, Advanced, Recipes, API), but this does not seem to be the case at all.

Related to this, the [last section of the tutorial (section 9)](https://www.apollographql.com/docs/t

[2020-05-16 14:35] benjamn commented on #6291
Have you run `npm install` lately?

[2020-05-16 17:24] darkbasic opened #6293 "Improving the local state management: @export directive on server side fields or accessing grandparent values in local resolvers"
**Disclaimer**: this is against the GraphQL specification, but since it's going to be used in client resolvers it shouldn't be a big deal, especially when coupled with `always: true` which forces local resolvers to re-run on every request.

First, let me illustrate my use case:

[code]

[code]

For both queries I want to assign a fixed color to each chat member, so that I can use it when I display

[2020-05-16 20:34] WIStudent commented on #5790
I am seeing a similar issue using watchQuery that is probably related. I have a demo [here](https://github.com/WIStudent/apollo-graphql-experiments/blob/master/client1/index.ts). Basically I am setting up a watchQuery and then triggering an optimistic mutation whose update function changes the watchQuery data using cache.modify. The watchQuery will being updated with the modified cache data caused

[2020-05-17 10:08] wittydeveloper commented on #6271
Hi @hwillson,

1.  we do change the `client=` passed to `<ApolloProvider>`
2. yes, we have queries that use `fetchMore()` every 5min to poll new pages.

I guess the issue here is that those queries should use a direct `ApolloClient` instead of the context one that ends up being deleted when switching client?

[2020-05-17 12:20] byurhanbeyzat commented on #4190
Hey, I'm have the same issues and I can't resolve this
My FR (Vercel) & BE (Heroku) both are on a subdomains

On Firefox `Set-Cookie` is not coming from response on Chrome/Brave `Set-Cookie` is coming but after page reload redirects me to the login page.

This example is working on localhost but not after deploying it.

Apollo client

[code]

My Next.js `_app.js`
[code]

[code]

Server code:

[cod

[2020-05-17 15:19] chemicalkosek commented on #4190
You should have frontend and backend on subdomains within the same domain.
Like frontend.yourdmain.com and backend.yourdomain.com.
Then the cookies will be set.

[2020-05-17 15:32] byurhanbeyzat commented on #4190
@chemicalkosek

Yes, they both are on same custom domain. If I remove headers it's not working event on localhost.

[2020-05-17 15:36] chemicalkosek commented on #4190
What is your `process.env.SESS_DOMAIN`
It should be `yourdomain.com`, not any of the subdomains.

[2020-05-17 15:38] byurhanbeyzat commented on #4190
@chemicalkosek
SESS_DOMAIN - '.bbn.codes'
app - bank.bbn.codes
api - bank-api.bbn.codes

[2020-05-17 15:56] chemicalkosek commented on #4190
@byurhanbeyzat It looks like the cookie is not being wiped out on refresh, hmmm.
Well I don't know :( . Btw you're using next-with-apollo 5.0.0, you should pass getDataFromTree in order to have SSR

// import { getDataFromTree } from '@apollo/react-ssr';
// You can also override the configs for withApollo here, so if you want
// this page to have SSR (and to be a lambda) for SEO purposes and remov

[2020-05-17 16:44] patrickleet commented on #4190
console.log your cors and cookie settings to make sure they actually are what you expect

[2020-05-17 17:18] kevinjcoleman commented on #5596
@yss14 I set `errorPolicy` to `all` and I was able to access the error object.
[code]

[2020-05-17 19:45] Timonzimm opened #6298 "Cannot find module apollo-client with react-testing and MockProvider"
I am getting an error when trying to use the `MockedProvider` to test by Apollo / NextJS web app.

My test is very basic and looks like this:

[code]

**Error:**
[code]

**Versions**
[code]

[2020-05-17 20:04] byurhanbeyzat commented on #4190
Thank you everyone. I found solution for myself
I've decided to use next-apollo-example that I found on the internet with a little tweaks.

If someone needs here is the code

initApollo.js

[code]

witApollo.js

[code]

_app.js
[code]

And added this middleware code to the backend

[code]

[2020-05-17 21:40] TimoGruber commented on #6298
You need to change your import to:
`import { MockedProvider } from '@apollo/client/testing';`

[2020-05-17 21:59] timosg opened #6299 "Error while testing with @apollo/client/testing"
After upgrading my Project from apollo-client to @apollo/client my tests aren't working.
the first error `SyntaxError: Unexpected token 'export'` seems to be a babel problem, but if i add `@apollo/client` to my transformIgnorePatterns, i get a TypeError (see Actual outcome).

**Intended outcome:**

Test Success

**Actual outcome:**

[code]
or
[code]

**How to reproduce the issue:**

Updating from

[2020-05-18 00:22] vishwam opened #6300 "useQuery returns incorrect data after variables change"
**Intended outcome:**

When the variable of a query changes and the client doesn't have the new results already cached (i.e., while the request is loading), the data field should not be populated with the previous variable's results.

**Actual outcome:**

When the variable changes, useQuery initially returns `loading: true` with the previous variable's data. Once the network call finishes, it retu

[2020-05-18 03:44] jinshin1013 opened #6301 "Not memoize onCompleted and onError never resolves the query"
**Intended outcome:**
The following query should log either `Completed` or `Error`  to the console.

[code]

**Actual outcome:**
The query is never resolved and the component re-renders infinitely.

Is it now recommended to make sure to memoize the query/mutation callbacks (`onCompleted`, `onError`, `update`, etc) when used with `fetchPolicy: 'network-only'`? The version, `@apollo/client@3.0.0-bet

[2020-05-18 05:49] gpbaculio commented on #2603
what worked for me is doing michaelknoch's suggestion, if you are on port 4000, e.g.: http://192.168.56.1:4000/

[2020-05-18 06:26] Timonzimm commented on #6298
It worked thank you, I must have missed that part in the doc or it's not updated yet.

[2020-05-18 06:26] #6298 closed

[2020-05-18 08:50] capaj commented on #6291
oh this is caused by having the version 2 and 3 side by side, I am sure of it. Don't do that. When I installed just the version 3 beta problem was solved.

[2020-05-18 08:50] #6291 closed

[2020-05-18 09:08] darkbasic commented on #6262
It looks like Apollo is moving towards a standardization of the client/cache behaviour (+1 for this), but that makes the previous point even more compelling: what are the use cases for using client vs cache?

[2020-05-18 09:41] deathemperor commented on #3069
except it doesn't. ApolloClient in apollo-boost keeps connecting to local graphql. Using `import { ApolloClient } from 'apollo-client';` solves it.

[2020-05-18 11:03] darkbasic commented on #6183
I gave this another try with @beta.48 (https://github.com/apollographql/apollo-client/pull/6221), but unfortunately it still doesn't roll it back.

Worth mentioning, I also noticed another bad behaviour on the Apollo side: if I use `cache.evict` to delete the match (instead of `writeQuery`) it doesn't wait for the mutation response before re-fetching. Instead, as soon as it gets the optimistic rep

[2020-05-18 13:24] javiercr commented on #4955
We're experiencing the same problem on a React Native app using apollo-client `2.6.x`. If the user navigates to a different screen while the current screen is still fetching data we get the error and the app crashes (in production).

Wrapping fetchMore with a try/catch block seems to be the only solution available at the moment. Is there any plan to fix this in apollo-client v3.0.0 before the fina

[2020-05-18 17:05] haneetsingh commented on #6190
I also get the same issue with `skip` not getting evaluated.

[2020-05-18 21:07] jebonfig opened #6305 "Cache-and-network should not make a network call when watched cached items change via subscription/mutation"
*This is new behavior as of beta .46 and has prevented us from moving past .45 (most likely a result of https://github.com/apollographql/apollo-client/pull/6221).*

**Intended outcome:**
A query with `fetchPolicy: cache-and-network` should not make a network call when a cached item that it's watching changes.  It should just re-render containing the data from the cache.

**Actual outcome:**
When a

[2020-05-18 22:43] dylanwulf commented on #4955
Just so you guys know, this issue is _not_ about `fetchMore`. `fetchMore` requests have never been cancelled. There are a couple issues over on the feature-requests repo to add the ability to cancel `fetchMore` requests. But this issue is _only_ about cancelling the initial query that begins when the component mounts.

[2020-05-19 02:41] vhenzl opened #6307 "Fetching data again and again if more queries without id executed"
The problem started after upgrading from beta 45 to beta 48 and is related to missing `id` in queries.

**Intended outcome:**
I have two components, displaying a list of items, each has its own query. The queries are very similar and differ only in query arguments.

[code]
It should fetch each query just once, render items and doesn't do anything more.

**Actual outcome:**
After initial queries co

[2020-05-19 02:58] andreyk-code commented on #6180
also hitting this issue

[2020-05-19 03:03] andreyk-code commented on #6180
@brianbancroft try running

`npm i graphql`

this fixed it for me

[2020-05-19 04:08] peterhanneman commented on #6307
Ran into the same issue.  I've narrowed it down to being introduced in `v3.0.0-beta.46`.

[2020-05-19 10:26] GuptaSiddhant commented on #6269
So will v3 have graphql 15 or not?

[2020-05-19 12:25] Adzz commented on #3909
For me, I had to include variables into the query:

[code]

[2020-05-19 12:42] olivierpascal opened #6308 "Fields are not nullable in local state (or the query will return undefined)"
Version: ac@3 (but it was the same with ac@2)

Reproductible example: https://github.com/apollographql/ac3-state-management-examples/tree/master/apollo-local-state/

This example works well.
Now, edit: `/src/operations/queries/getAllTodos.tsx`

[code]

Now the query return undefined. It means that the query should *exactly* match the underlying data. No field is nullable. Which makes using local s

[2020-05-19 12:46] GiselaMD commented on #6011
For me upgrading client and link-error fixed the problem:
` "@apollo/client": "^3.0.0-beta.49",
    "@apollo/link-error": "^2.0.0-beta.3"`

[2020-05-19 12:52] olivierpascal commented on #6308
Same that https://github.com/apollographql/apollo-client/issues/5253

[2020-05-19 13:38] supercranky commented on #5870
Threw out Apollo now because of this.

[2020-05-19 13:47] TeamDman commented on #4778
Was a reverseproxy configuration issue for me, not a library issue

[2020-05-19 15:17] benjamn commented on #6307
Can you try this?
[code]
You could also write `keyFields: ["id"]` if there are going to be multiple different `Viewer` objects within the same application, and the cache will enforce that the `id` field is always present.

[2020-05-19 16:41] dmarkow opened #6309 "Error types don't match actual error data"
Presumably, the error that `apollo-client` raises and the error passed into `apollo-link-error` are the same. However, the `networkError` keys don't match up. `apollo-link-error` correctly uses `Error | ServerError | ServerParseError` whereas `apollo-client` just uses `Error`.

This means that accessing things like `networkError.statusCode` isn't possible on the error raised by `apollo-client` wit

[2020-05-19 16:59] hwillson commented on #6309
Thanks for pointing this out @dmarkow. If you (or anyone else) is interested in submitting a PR to address this in the AC 3 codebase (`master` of this repo), we'll get it in. Thanks!

[2020-05-19 17:02] dmarkow commented on #6309
@hwillson `apollo-link-http` has a dependency on `apollo-link-http-common` to provide the `ServerError` and `ServerParseError` types. Would it be preferable to introduce the same dependency in `apollo-client` or to just paste in the types?

[2020-05-19 17:10] hwillson commented on #6308
@olivierpascal The issue is you're asking for a field that doesn't exist in your schema. This usually points to an error in your code, so it's an error as far as Apollo Client is concerned (by default). If you want to work around this though, `useQuery` supports an option called `returnPartialData` that will let you ignore this problem. You would call it like:

[code]

[2020-05-19 17:10] #6308 closed

[2020-05-19 17:18] hwillson commented on #6299
@TimoGruber any chance you could share a small runnable reproduction that demonstrates this?

[2020-05-19 18:20] ashubham opened #6310 "[AC3] Apollo client immutability is inconsistent with Redux like immutability"
**Intended outcome:**

Suppose Cache contains:
[code]

If a mutation occurs and changes something inside `key2`, a redux like immutability will gurarantee:

[code]

**Actual outcome:**

The thing is that it still might be the case for the storage layer on Apollo cache, but when we retrieve this data using `useQuery` it returns a new copy of results, because the `selectionSets` are re-executed.

[c

[2020-05-19 18:54] benjamn commented on #6310
Can we keep this discussion in #6249? I know I owe you an answer over there, but I'm also pretty sure the answer will cover this issue as well.

[2020-05-19 18:54] #6310 closed

[2020-05-19 19:03] mtsmfm opened #6311 "fragment which has `__typename` only is removed by `removeClientSetsFromDocument`"
**Intended outcome:**

The following code which works in v2 should not throw an error in v3:

[code]

**Actual outcome:**

The above code throws an error `Validation error of type UndefinedFragment: Undefined fragment CellFragment @ 'gameStatus/maze/cells'` because the CellFragment only contains __typename

https://github.com/apollographql/apollo-client/blob/61a799b2cd5e1657eab4ea97485828671ce3528

[2020-05-19 19:28] olivierpascal commented on #6308
So, the "schema" is, in fact, the initial data format provided to the cache.

I would have expected that the `typeDefs` property of the `ApolloClient` constructor was the local schema definition. The following definition does not allow the query to run, even if `nonExistingField` exists in the schema (and is nullable).

Also, in any case, the returned data is just `undefined` and no error is repor

[2020-05-19 21:46] mhuconcern opened #6312 "Ability to query to see which requests are inflight, in order to cancel requests that are taking too long or trigger an further ui action based on all queries being resolved on a page"
Thanks for your interest in helping make Apollo Client better!

Feature requests and non-bug related discussions are no longer managed in this repo. Feature requests should be opened in https://github.com/apollographql/apollo-feature-requests.

[2020-05-19 21:47] #6312 closed

[2020-05-19 21:56] mhuconcern opened #6313 "apollo-client not working as expected for `network-only` cache policy, duplicate requests noticed"
**Intended outcome:**
Network tab doesn't show duplicate query requests

**Actual outcome:**

Noticed the query being requested for twice
**How to reproduce the issue:**

**Versions**
  System:
    OS: macOS High Sierra 10.13.6
  Binaries:
    Node: 12.9.1 - /usr/local/bin/node
    npm: 6.10.3 - /usr/local/bin/npm
  Browsers:
    Chrome: 84.0.4143.2
    Firefox: 75.0
    Safari: 13.1
  npmGlobalPa

[2020-05-19 22:05] tm1000 commented on #5870
The line is now: https://github.com/apollographql/apollo-client/blob/master/src/react/data/QueryData.ts#L464

[2020-05-19 23:07] vhenzl commented on #6307
@benjamn Thanks for the answer. Unfortunately, I can't use the trick with `keyFields: []` as `viewer` is `User` and can appear again anywhere in the tree. So the only way for me is enforcing `id` on `User`.

Is this new behaviour considered a bug or is it intended, expected?

If it's expected, my guess is the same problem can occur for any type anywhere in the query, not just for the top-level fie

[2020-05-20 01:26] hwillson commented on #6293
Thanks for the feature request @darkbasic. I'm going to convert this to a discussion (we're trialing GH's beta discussions feature).

[2020-05-20 01:26] #6293 closed

[2020-05-20 05:09] ppv94 opened #6315 "How can i pass access token as Authorization in headers of graphql with apollo in react-native"
**I am using Graphql with apollo in my react-native application, I had wrapped my navigator in ApolloProvider and I am able to make Graphql API calls without passing authorization in headers**

**But I am getting Access token while login and I want to pass that access token in headers of Graphql API**

**How can I pass authorization in headers in Graphql with apollo in react-native**
I tried this

[2020-05-20 10:39] #6315 closed

[2020-05-20 10:40] hwillson commented on #6313
@mhuconcern Can you provide a small runnable reproduction that shows this? Thanks!

[2020-05-20 11:00] hwillson commented on #6309
@dmarkow AC3 should already have `ServerError` and `ServerParseError` types in the codebase (although they are a bit all over the place):

- https://github.com/apollographql/apollo-client/blob/a18ee7ec9378bcf71ac6d37f76fbb8695f7ee565/src/link/utils/throwServerError.ts#L1-L5
- https://github.com/apollographql/apollo-client/blob/a18ee7ec9378bcf71ac6d37f76fbb8695f7ee565/src/link/http/parseAndCheckHtt

[2020-05-20 11:13] ambientlight commented on #6307
most likely a bug, local mutations doing `cache.modify` will also cause backend queries dispatched (with id),
like:

[code]

[2020-05-20 12:14] strongpauly opened #6318 "MockedProvider does not populate fields if a fragment is being used"
**Intended outcome:**

Mocking a result for a query which contains a fragment should pass through the values defined in the mock result.

**Actual outcome:**

The query is successfully mocked, but each of the objects returned by the hook is empty.

**How to reproduce the issue:**

See example in: [https://github.com/strongpauly/apollo-bug](https://github.com/strongpauly/apollo-bug)

Running the be

[2020-05-20 12:36] jengel-rackner commented on #6190
It's failing for me as well

[2020-05-20 12:41] SuliacLEGUILLOU opened #6321 "Dead link in documentation"
I am not going to follow the template as my issue seems pretty simple:

On the [react-native integration documentation page](https://www.apollographql.com/docs/react/integrations/react-native/), the two application examples provided are dead link

[2020-05-20 16:23] nvma commented on #5869
Any progress on this?

[2020-05-20 18:54] ryanwiesjahn commented on #6044
I'm also having this issue. `partialRefetch` does not seem to help, both in my application as well as your example codesandbox.

[2020-05-20 19:33] laplacesdemon commented on #4955
I end up having the following errors in tests because of this:

[code]

Is there a way to tell apollo to ignore the response if the component is unmounted (rather than actually cancelling the request)

[2020-05-20 21:54] jmarca commented on #5640
I'm getting this error too.

[code]

The only crazy thing about my setup is I'm trying to run this via ClojureScript/Helix.  Which is a little crazy, I admit.

Everything worked fine with older version of Apollo, etc.  Trying to upgrade to the 3.0-beta using  @apollo/client and I hit this issue.

[2020-05-20 22:50] jmarca commented on #5640
Fixed it.

Apparently the issue was something in the shadow-cljs compilation cache.  I fixed it by changing the compiler options flag (https://shadow-cljs.github.io/docs/UsersGuide.html#_output_language_options) but reverting no options to update this issue did nothing (no crash, everything working fine)

Guessing, but most likely an older version of optimism was hanging around in the shadow-cljs

[2020-05-20 23:39] danReynolds opened #6325 "readQuery after cache evict"
Hello! I have a question about how eviction of normalized objects interacts with queries that already had references to those objects. For example, if I were to do the following:

[code]

I could then access that data like this:

[code]

but if I then evict the entity that the query contains:

[code]

then subsequent calls to `readQuery` for `employeesQuery` fail with error `Dangling reference to

[2020-05-20 23:47] samrith-s commented on #6256
@hwillson I figured out what was causing the issue.

I was using `formatResponse` and `formatError` on my server like so:

[code]

This caused Apollo Client to bug out as it expected `response.data.<queryName>` but didn't receive it. Similarly for errors it expected an array. I removed the weird formatters and now it works. :smile:

Closing this issue now.

[2020-05-20 23:47] #6256 closed

[2020-05-21 01:45] xhlsrj commented on #4031
FYR,
`"@apollo/client": "^3.0.0-beta.49"`
When I use `update` like this, it does not work.
[code]
After I set a new object to data like this, it works.
[code]

[2020-05-21 07:50] thminggg commented on #4031
Yup, always ensure the original cache object is immutable!
Assign new value by deep clone the object and assign new values will work!

[2020-05-21 10:25] monokrome commented on #5229
Okay, but how do we do this from the server?!

[2020-05-21 11:03] hwillson commented on #6325
@danReynolds can you confirm which `@apollo/client` beta version you're using?

[2020-05-21 11:20] hwillson commented on #6318
@strongpauly Thanks for providing a reproduction! The problem is that your mocked data uses a `__typename` of `Rate`, but your fragment is defined on `Rates`. If you change your fragment to

[code]

everything will work properly.

[2020-05-21 11:20] #6318 closed

[2020-05-21 11:22] hwillson commented on #6313
@mhuconcern Actually, one more thing to mention here. Using `apollo-link-dedup` is no longer required with `@apollo/client`. Deduplication functionality is built into the core. Can you try removing `apollo-link-dedup` to see if that helps?

[2020-05-21 11:35] #6309 closed

[2020-05-21 11:38] hwillson commented on #6292
Thanks @samirelanduk - the docs are definitely out to date in parts. We're working on the Apollo Client 3 docs right now, and are combing through every page of the docs carefully. We'll have the new docs up shortly.

[2020-05-21 11:38] #6292 closed

[2020-05-21 12:18] hwillson commented on #6281
Thanks for the reproduction @mschipperheyn. `ApolloClient.stop()` is intended to be called just before destroying the client instance, which explains why the cache stops working. Although this method is public, you shouldn't really ever have to call it yourself (it's more for libraries that integrate with Apollo Client that need a way to ensure the `QueryManager` has been stopped). If you're using

[2020-05-21 12:23] hwillson commented on #6273
We did remove the option to pass `@client` directives into the link chain, which is documented in the [link section of the Migration Guide](https://www.apollographql.com/docs/react/v3.0-beta/migrating/apollo-client-3-migration/#apollo-link-). It isn't clear though if that is the issue being originally reported here? @nathanschwarz if this isn't your problem, could you provide more details, such as

[2020-05-21 12:23] #6273 closed

[2020-05-21 12:24] hwillson commented on #6269
@GuptaSiddhant it will! If someone wants to submit a PR to update it, that would really help speed things up.

[2020-05-21 12:28] hwillson commented on #6242
Closing for now - please try `@apollo/client` if you get a chance, as there's a good chance this is is now resolved. Thanks!

[2020-05-21 12:28] #6242 closed

[2020-05-21 12:29] hwillson commented on #5808
The original issue here has been resolved, and the [Migration Guide](https://www.apollographql.com/docs/react/v3.0-beta/migrating/apollo-client-3-migration/) has been updated.

[2020-05-21 12:29] #5808 closed

[2020-05-21 12:30] hwillson commented on #6241
This does sound like a dupe of https://github.com/apollographql/apollo-client/issues/5808 - thanks @miller-productions!

@panindra2017 if https://github.com/apollographql/apollo-client/issues/5808 doesn't help, let us know. Thanks!

[2020-05-21 12:30] #6241 closed

[2020-05-21 12:31] hwillson commented on #6240
Great news @roninjin10 - we'll close this for now, but definitely let us know if you're still encountering this issue. Thanks!

[2020-05-21 12:31] #6240 closed

[2020-05-21 12:37] hwillson commented on #6237
@machi1990 Supplying `ApolloClient` with a `cache` instance is currently required, even when using the `no-cache` fetch policy exclusively. This isn't something we're going to change anytime soon, as we're planning on leveraging the cache more extensively for internal operations, in the future. E.g. our React hooks are going to interact with the cache much more directly, to track application chang

[2020-05-21 12:37] #6237 closed

[2020-05-21 12:40] #6230 closed

[2020-05-21 12:40] #6228 closed

[2020-05-21 12:42] hwillson commented on #6226
Thanks @moritzWa - we're no longer maintaining this demo app, and it's being removed from the Apollo Client 3 documentation (which will be updated shortly). For a more up to date example app, see: https://github.com/apollographql/fullstack-tutorial

[2020-05-21 12:42] #6226 closed

[2020-05-21 12:46] hwillson commented on #6222
@ryall Any chance you could try out `@apollo/client@beta` to see if this issue still occurs? If it does, could you please provide a small runnable reproduction?

[2020-05-21 13:14] jspizziri commented on #6150
## TL;DR;

I'd recommend double-checking that there is actually a _change_ in the data that you're writing to the cache, as if there isn't one, Apollo won't trigger an update in your component. In my case, this was the issue.

## Here We Go

FWIW, I was having a problem that displayed identical symptoms. What it boiled down to for me was effectively 2 things:

1. No updates were being triggered be

[2020-05-21 13:20] danReynolds commented on #6325
@hwillson this is on 3.0.0-beta.49. I think the read not supporting partial data is intended behavior, I'm just not sure how we can access fields containing dangling refs then

[2020-05-21 15:41] hwillson commented on #6217
@francylang yes, this is a current limitation of `MockedProvider`. `MockedProvider` is intended to replicate the behavior of `ApolloProvider`, which means it creates its own client instance to use with the provided mock data. It does not touch any `ApolloClient` instances passed into your hooks, via options. If you would like to see this handled differently, please consider opening a feature reque

[2020-05-21 15:41] #6217 closed

[2020-05-21 17:09] joonhocho opened #6327 "Using pagination with fetchMore and fetchPolicy involving network together causes bug where next page data is cleared"
**Intended outcome:**
`fetchMore` and `updateQuery` for pagination via `useQuery` should work well without a bug with `fetchPolicy` that involves network such as `'network-only'`, `'cache-and-network'`, etc.

**Actual outcome:**
`fetchMore` and `updateQuery` works, but `updateQuery` immediately triggers apollo's query observables to refetch query with old `variables` (with pagination cursor = null

[2020-05-21 17:31] hwillson commented on #6209
@amiyatulu is this still happening when you use the latest `@apollo/client@beta` (3.0.0-beta.50)?

[2020-05-21 17:52] hwillson commented on #6208
@philvc `cache.modify` was recently removed. See https://github.com/apollographql/apollo-client/pull/6289 for the full details.

[2020-05-21 17:52] #6208 closed

[2020-05-21 17:53] hwillson commented on #6206
@quietgopher could you please provide a small runnable reproduction that demonstrates this?

[2020-05-21 17:54] hwillson commented on #6205
@nratter `cache.modify` was recently removed. See https://github.com/apollographql/apollo-client/pull/6289 for the full details.

[2020-05-21 17:54] #6205 closed

[2020-05-21 18:00] hwillson commented on #6203
We've moved away from the heuristic fragment matcher in `@apollo/client`, to an easier to use feature called [`possibleTypes`](https://www.apollographql.com/docs/react/v3.0-beta/data/fragments/#defining-possibletypes-manually). If you're able to use the `@apollo/client@beta`, `possibleTypes` are the recommended approach moving forward.

[2020-05-21 18:00] #6203 closed

[2020-05-21 18:02] hwillson commented on #6188
Is this still an issue for people using the latest `@apollo/client@beta` (3.0.0-beta.50)?

[2020-05-21 18:03] mhuconcern commented on #6313
@hwillson I probably should word it correctly but yes we don't use Apollo link dedup seperately :) I thought it was the offending library

[2020-05-21 18:04] hwillson commented on #6187
@timkendrick can you re-rest with `@apollo/client@3.0.0-beta.50` and let us know if this is still an issue?

[2020-05-21 18:06] hwillson commented on #6185
@solugebefola Any chance you could test things out using `@apollo/client@beta` instead? A small runnable reproduction would definitely help us troubleshoot.

[2020-05-21 18:08] hwillson commented on #6184
@two-legs we haven't added official React Suspense support to Apollo Client. This is on our list to do after we launch Apollo Client 3.0.

[2020-05-21 18:08] #6184 closed

[2020-05-21 18:13] hwillson commented on #6181
Thanks @1wpro2. We've made this more clear in the instructions included in `@apollo/client`.

[2020-05-21 18:13] #6181 closed

[2020-05-21 18:15] hwillson commented on #6180
As mentioned in https://github.com/apollographql/apollo-client/issues/6180#issuecomment-630550827, installing `graphql` is the solution. We'll make sure our getting started docs are updated to mention that `graphql` is required. Thanks!

[2020-05-21 18:15] #6180 closed

[2020-05-21 18:20] Banou26 commented on #6188
Currently on `^3.0.0-beta.48` and i don't have it anymore.

[2020-05-21 18:25] hwillson commented on #6179
@lifeiscontent where are you seeing that `onError` returns a list of `GraphQLError`'s? It should be [returning an `ApolloLink`](https://github.com/apollographql/apollo-link/blob/55d55d0a28e1844a3a92c11fe68e242d0fe730c2/packages/apollo-link-error/src/index.ts#L34).

[2020-05-21 19:09] jamshally opened #6329 "AC3: Missing Field Console Error Messages No Longer Displaying (Regression of issue #5991)"
This is a regression of previous issue #5991.

**Expected outcome:**
If a field is missing from a child object of query results, I expect:

- The query to continue to update and return the objects with complete/expected fields
- Some kind of error/warning to be available to indicate the missing fields

**Actual outcome:**
If a field is missing from a child object of a query:

- No error or warning

[2020-05-21 20:31] cknabe commented on #2380
For 1.4 react-apollo:
1. You MUST pull IntrospectionFragmentMatcher from 'react-apollo' not from apollo-cache-inmemory
2. As stated above, you MUST pass the fragment matcher directly to ApolloClient.

**DO NOT USE apollo-cache-inmemory AT ALL for react-apollo 1.4**

[code]

I lost a lot of time to this.
Upgrading to 2/3 is not considered a priority, and thus there are no cycles to devote to it.
Po

[2020-05-21 21:28] dko-slapdash opened #6330 "useQuery() swallows last error in error-success-error sequence since previousData.error is not reset on a success"
Hi.

I noticed that useQuery() hook sometimes swallows error if this error is **exactly equal** to the error happened somewhere in the past, even though there were successful responses in between.

TL;DR: in the sequence of (A) failure + (B) success + (C) failure, step B doesn't reset error state in previousData.error. So step (C) becomes a no-op and doesn't trigger a hook re-render.

Imagine the

[2020-05-22 00:11] jamshally opened #6331 "AC3: Behavior differences between ApolloClient.write* and ApolloCache.write* (Seen in Apollo Client Dev Tools)"
**Context**
When viewing cache items using [Apollo Client Dev Tools](https://chrome.google.com/webstore/detail/apollo-client-developer-t/jdkknkkbebbapilgoeccciglkfbmbnfm):

- **ApolloClient**.writeFragment updates are immediately reflected in Apollo Client Dev Tools
- **ApolloCache**.writeFragment updates are not immediately reflected in Apollo Client Dev Tools

**Intended outcome:**
- Primarily:

[2020-05-22 07:32] slask commented on #5419
Still an issue in 3.1.5 on May 22nd 2020

[2020-05-22 07:48] strongpauly commented on #6318
This works!  Thank you!

[2020-05-22 10:29] bebbi opened #6332 "Impossible to test loading states in storybook using `MockedProvider`"
**Intended outcome:**

I need to show a component's `loading` state in `storybook`.

I followed exactly the instructions and code for `MockedProvider` in the apollo docs [here](https://www.apollographql.com/docs/react/development-testing/testing/#mockedprovider).

Then I tried with a custom mock:
[code]

**Actual outcome:**

There is a brief flash of the component in its `loading` state.
Then the

[2020-05-22 11:23] IljaDaderko opened #6333 "type WebSocketLink is invalid on split() junction"
**Intended outcome:**

Per documentation, we need to use `splitLink` approach in order to have http and websocket links: https://www.apollographql.com/docs/react/v3.0-beta/data/subscriptions/#3-use-different-transports-for-different-operations

In following setup, when passing `wsLink` to `split` function a type error is thrown

[code]

**How to reproduce the issue:**

Follow set up instructions h

[2020-05-22 11:57] obrejla commented on #5870
Hi, in which version can we expect the fix? We are facing this as well in common react web app. Thanks.

[2020-05-22 13:27] vishwam commented on #6327
I would also like to some resolution to this, but I recognize this is not an easy thing to implement. I have a similar scenario with a paginated list and a cache-and-network policy. When the user first visits the list and starts scrolling down, the list query starts accumulating the full results.

When the user goes away and comes back to the list later, they initially see the full list of items.

[2020-05-22 13:31] goldo commented on #5775
same question here!  have you found anything @hmeerlo @sshkalikov  ?

[2020-05-22 14:03] sshkalikov commented on #5775
not quite what i wanted to achieve initially, but i ended up handling errors on the top level, using apollo-link-retry (https://www.apollographql.com/docs/link/links/retry/) and apollo-link-error (https://www.apollographql.com/docs/link/links/error/)
would still be happy to find a way to handle subsription errors individually

[2020-05-22 15:21] markusylisiurunen commented on #6301
@hwillson I've encountered this issue as well. The result is an infinite number of API calls which means the same as our own frontend doing a DDoS attack on our API. We've reverted back to version `3.0.0-beta.44` which seems to resolve the issue for now. However, with such serious consequences, I think this should be somewhat high priority bug to fix.

I've narrowed the issue with our setup to be

[2020-05-22 15:46] amiyatulu commented on #6209
Yes, it's still given the error after upgrade to 3.0.0-beta.50

[2020-05-22 17:54] tm1000 commented on #5870
@obrejla there is no 'fix'. You can follow the open PR here: https://github.com/apollographql/apollo-client/pull/6314

[2020-05-22 19:52] raduflp opened #6334 "useQuery loading state stays true after fetch finishes"
There is an issue with `useQuery` loading state remaining `true` if a cached query result is displayed and the subsequent variable changes return the same result as the cached one.
See codesandbox for the steps to reproduce.

changing the `fetchPolicy` to `network-only` or `cache-and-network` fixes the issues
This issues appeared after beta-46 refactor, works as expected in beta-45

**Intended out

[2020-05-22 19:58] danReynolds commented on #6325
@hwillson Here's a commit off latest master demonstrating the problem: https://github.com/danReynolds/apollo-client/commit/d2a09a76d4972d9a559cba29ba2efd572fca7d87, if you run it you'll see it errors out with the dangling reference problem. The goal is to be able to make the query valid again by removing the evicted reference.

[2020-05-22 22:00] jedwards1211 opened #6335 "Feature request: updateQuery method that can operate on all variables a query has been cached with"
@benjamn

With the removal of `cache.modify`, ensuring that a deleted item is removed from all cached queries is still near impossible.  (https://github.com/apollographql/apollo-client/pull/6289#issuecomment-632842327, https://github.com/apollographql/apollo-client/pull/6289#issuecomment-631072849).

To solve this without the problems `cache.modify` had, I propose an `updateQuery` method that allo

[2020-05-22 22:29] danReynolds commented on #6335
One problem with this structure is just that the cache doesn't store variables for queries. It could support iteration like this but it'd have to pass you the unique `storeFieldName` instead of the variables.

[2020-05-22 22:51] jedwards1211 commented on #6335
@danReynolds I mean it sort of does already, because the variables are serialized in the cache keys.

In any case I'm sure the Apollo team will make the cache store variables sooner or later because it's going to be the only way to manage cache updates in a large app in a sane way unless you force the responsibility for storing variables into userland.

For example, if you want to insert a newly c

[2020-05-23 00:25] nodabladam commented on #6209
Is this the fix and if so can it get merged?
https://github.com/apollographql/apollo-client/pull/6216

[2020-05-23 00:57] danReynolds commented on #6335
Yea you can't just parse the store field name though because field directives for example are also added to it. I'd vastly prefer for them to store variables separately as a first class entity of fields that we can access. I assume the concern with that is mostly bloating the cache size.

[2020-05-23 01:13] dodas commented on #6325
What about removing entities from queries **before** evicting them?
I thought the correct way is to update the cache to remove the items I don't want and then evict them / or gc the whole cache.

[2020-05-23 01:44] jedwards1211 commented on #6335
It's hard to imagine a case where the variables take up even close to as much space as the data though

[2020-05-23 02:14] danReynolds commented on #6325
ah because that's more manual effort than necessary, any watch queries containing an entity that has been evicted will automatically refetch if `partialRefetch` is on, which is the desired behavior I'd want versus having to go through all possible queries that could contain it.

[2020-05-23 10:05] vicary commented on #6011
@GiselaMD Not sure if I've been missing something, tried beta.49 and beta.50 and they both gave me type errors on all `@apollo/link-error`, `@apollo/link-context` and `@apollo/link-retry`.

[2020-05-23 10:19] lukeramsden commented on #6335
I must say that when I started using Apollo for the first time on my latest project, I was quite confused about the whole read/writeQuery stuff, it's probably the most commonly used feature (I mean how many projects don't update or delete items?), and yet it just doesn't feel up to scratch for such important functionality. Definitely a +1 from me for this.

[2020-05-23 11:41] olivierpascal opened #6336 "[AC@3] MissingFieldError should be muted by default because fields can be optional"
AC (from 3.0.0-beta.43) is raising a `MissingFieldError` if a `@client` query includes fields that are missing in the underlying cached object.

I can understand this, but assuming that there is no schema validation client-side, and that the field could be optional, a simple query like this:

[code]

Even with `{ returnPartialData: true }`

Will raise a `MissingFieldError` if `optionalField` is no

[2020-05-23 11:47] olivierpascal commented on #6336
I disagree with the following statement in https://github.com/apollographql/apollo-client/issues/6308 and I think this should be reconsidered:

[2020-05-23 17:45] davidpatters0n commented on #1701
How does this work for a situation where a component is is wrapped using the `graphql` HOC function. For example:

[code]

I can also see that the data exists in the cache too:

![image](https://user-images.githubusercontent.com/870447/82736844-6b221280-9d24-11ea-89d9-fcd30982bfbf.png). This recording: https://recordit.co/BSj49MyJEd also demonstrates the issue that I'm seeing. I don't quite unders

[2020-05-23 21:23] GiselaMD commented on #6011
@vicary try fixing @apollo/client version inside @apollo/link-error and other apollo dependencies, they must be the same version inside those packages. In my case I use yarn, so I set yarn resolution in my package like this, for example:

[code]

[2020-05-24 03:09] anark commented on #6327
I am also having this issue using version 3.0.0-beta.50.

Basically if I do my query as follows it works great
[code]

However if I add a fetchPolicy of 'cache-and-network' to the useQuery
[code]

The console.log will show the correct output, however when the component updates it will only have the original data and none of the new data.

_I am using a loadingMore scope here because I couldn't bet

[2020-05-24 08:17] vicary commented on #6011
@GiselaMD So are we forcing the deps of `@apollo/client` inside `@apollo/link-*` to match the top-level, such that a `dependencies` of beta.49 should set `resolutions` to beta.49, while beta.43 should forces a beta.43?

[2020-05-24 09:14] fdev opened #6340 "Subscription updateQuery triggers refetch"
**Intended outcome:**
When receiving data from a websocket subscription, _only_ the original `useQuery` `data` object should get modified.

**Actual outcome:**
When receiving data from a websocket subscription, the original query as defined in `useQuery` is run again as if `refetch` was called.

This happens each time new subscription data is received.

**How to reproduce the issue:**

The issue o

[2020-05-24 14:26] GiselaMD commented on #6011
Yes @vicary

[2020-05-24 18:11] hugomn commented on #2503
For those looking for a great example of next with apollo and typescript, here's the repo that saved me: https://github.com/borisowsky/next-advanced-starter

[2020-05-24 22:44] sjmeverett commented on #6340
I'm pretty sure the same thing is causing `fetchMore` not to work either.  If you have a `fetchPolicy` that does network fetches, the data is refetched, overwriting your updated data.

E.g. something like this:

[code]

[2020-05-24 23:27] Sergioamjr commented on #6070
Just adding a callback on `onError` property of <Mutation /> worked for me.

[2020-05-25 05:07] solugebefola commented on #6185
I used the error reproduction repo to create a small runnable repro.  Sorry if this is some simple thing that I'm overlooking, but I'm getting a similar Network error

Here is the link: https://github.com/solugebefola/react-apollo-error-template

[2020-05-25 09:30] nathanschwarz commented on #6273
It seems that the bug was removed with `@apollo/client@3.0.0-beta.50`.

Anyway, I wasn't using the old `apollo-link-state` API, but the one in the core (just to clarify, I can guess that `apollo-link-state` is still implemented in the core). It seems that `@client` directives were sent to server anyway even with local resolvers setup.

Thanks anyway !

[2020-05-25 09:37] esseswann commented on #6037
Confirmed

[2020-05-25 09:45] fdev commented on #6327
It's not just `fetchMore`, `subscribeToMore` has the same problem (#6340).

[2020-05-25 11:30] yamalight commented on #6327
Having the same issue.
Here's the [simplest repro on codesandbox](https://codesandbox.io/s/apolloclient-beta-fetchmore-bug-suukv)

[2020-05-25 12:32] nathanschwarz commented on #6236
Does your `@client` directives (fields or queries) are initialized server-side ?
Did you try to fetch the `@client` with the `cache-only` directive server side ? (and not the default `cache-and-network` which resolves into a Promise).

[2020-05-25 12:43] nathanschwarz opened #6342 "[SSR:skip@3.0.0-beta.50]: query is still firing with skip set to true (server-side only)"
I have an issue with the new beta release `@3.0.0-beta.50` (server-side only) concerning `useQuery` with `skip: true`.

**Intended outcome:**
the queries are skipped.

**Actual outcome:**
The queries with `skip: true` option are still firing, leading to unwanted errors.

[2020-05-25 14:29] NiestrojMateusz commented on #6236
@nathanschwarz thanks for answering.

Yes, sure. It is initialized when ApolloClient is initialized

Unfortunately it doesn't solve the issue. Nothing change

[2020-05-25 15:07] nathanschwarz commented on #6236
@NiestrojMateusz I faced the same issue with SSR.

To solve this issue you need to check for an `undefined` value of data in your `ConfigProvider` and do `if (data === undefined) {
    return null;
}`.

This is the "normal" behavior of `getDataFromTree ` (even thought it's very confusing) :

mainly, `getDataFromTree` is derived of React `renderToString`, it browse all your tree for every queries /

[2020-05-25 15:18] sinn1 commented on #5209
I was using app.use(cors({ origin: '*', credentials: true }) as well as apolloServer.applyMiddleware({app, cors: corsOption});

Removing app.use(cors({ origin: '*', credentials: true })  fixed it for me.

[2020-05-25 15:45] alex-r89 commented on #4037
Hi,

Sorry to revive this but I'm also running into this issue, and the above steps don't seem to be solving it. Like the above, my cookie is stored locally but a browser refresh (or closing the tab and reopening it) causes the cookie to be deleted/destroyed. I believe this is down to the `createHttpLink` uri being a subdomain (`api.mydomain.xyz`) because my graphql server is running on a subdomai

[2020-05-25 17:21] darkbasic commented on #6335
Imagine having a search field in your query: variables size can easily get huge.

[2020-05-25 17:46] jedwards1211 commented on #6335
@darkbasic you're saying if the search is really long?  Or that each keystroke would create another set of variables? (I'm assuming they wouldn't remain cached forever unless data gets loaded, which would probably be larger than the search term)

[2020-05-25 18:01] darkbasic commented on #6335
Definitely not each keystroke because you want to debounce it, but you will end up with plenty of search terms anyway. Lots of them could have little to no results.

[2020-05-25 19:04] jedwards1211 commented on #6335
Only the active one will be mounted though so others would get garbage collected right?

[2020-05-25 19:08] jedwards1211 commented on #6335
Also since the variables already go in the cache keys, any size problems are already there.  Storing the unstringified variables wouldn't be a very substantial increase relative to that.

[2020-05-25 22:29] jaytula opened #6343 "Apollo Client Queries documentation on Inspecting error states appears inaccurate"
**Intended outcome:**

The Apollo Client documentation section on Queries *Inspecting error states*  appears to be inaccurate.

https://github.com/apollographql/apollo-client/blob/version-2.6/docs/source/data/queries.mdx#inspecting-error-states

In particular,  the following sentence:

The `error` property from `useQuery` is not exactly `true` but a truthy *object*.

[code]
**Actual outcome:**

Th

[2020-05-26 06:13] tyankatsu0105 commented on #5268
@Jakobo
Your solution is good for me!!
Thanks for the sharing your knowledge :)

But I don't know why `useLazyQuery` does not support async await.

@hwillson
Is there plan for supporting async await at `useLazyQuery`?

[2020-05-26 08:27] klaussner commented on #6305
The problem also occurs with the `"network-only"` fetch policy. Whenever the cache is updated (either manually or by a mutation), the query is refetched.

[2020-05-26 08:38] jockey100332 opened #6345 "There is an alternative to 'provider' access to data？"
I used alibaba's umi, because some built-in layout makes it inconvenient to use 'provider'. There is no alternative to wrapping the 'provider' in the outer layer

[2020-05-26 08:48] itshallrun opened #6346 "useLazyQuery, onCompleted/onError, "no-cache"/"network-only", infinite loop."
**Intended outcome:**
useLazyQuery in combination with onCompleted/onError should execute once.

**Actual outcome:**
Executing useLazyQuery in combination with onCompleted/onError leads to an infinite loop with loading === false.

**How to reproduce the issue:**
[Click here for a Codesandbox example](https://codesandbox.io/s/apollo-client-uselazyquery-example-f54yt?file=/src/Countries.js:309-327)

[2020-05-26 09:36] fdev commented on #6346
Probably the same issue as #6301.

[2020-05-26 10:23] helly0d commented on #5920
It might be a bit of an overkill, but I hate waiting a random number of seconds so I just hooked some deferred promises on the mocks so I can wait for them to finish. I did this mostly because in our project we are using multiple apollo providers so we had random failing tests due to CPU differences between local and CI servers.

I hope this helps, and hopefully the apollo team will include someth

[2020-05-26 14:15] hwillson commented on #6346
Confirmed duplicate of https://github.com/apollographql/apollo-client/issues/6301. We'll track progress in that issue. Thanks!

[2020-05-26 14:15] #6346 closed

[2020-05-26 14:17] #6345 closed

[2020-05-26 14:27] hwillson commented on #6340
Could someone provide a small runnable reproduction that demonstrates this? Thanks!

[2020-05-26 14:30] fdev commented on #6340
I suspect this issue has the same cause as #6327, which has a runnable example.

[2020-05-26 14:34] hwillson commented on #6330
@dko-slapdash any chance you could put together a small runnable reproduction for this?

[2020-05-26 15:01] hwillson commented on #6102
Answered in https://github.com/apollographql/apollo-client/issues/6102#issuecomment-610016212 - thanks!

[2020-05-26 15:01] #6102 closed

[2020-05-26 15:01] hwillson commented on #6103
Can you please provide a small runnable reproduction that demonstrates the issue you're seeing? Thanks!

[2020-05-26 15:02] #6104 closed

[2020-05-26 15:10] hwillson commented on #6116
@Klemensas this has been fixed in the latest version of the beta (`3.0.0-beta.50`). Thanks!

[2020-05-26 15:10] #6116 closed

[2020-05-26 15:11] #6121 closed

[2020-05-26 15:12] hwillson commented on #6125
Addressed by https://github.com/apollographql/apollo-client/pull/6194 and available in the latest `@apollo/client@beta`. Thanks!

[2020-05-26 15:12] #6125 closed

[2020-05-26 15:13] #6126 closed

[2020-05-26 15:13] #6127 closed

[2020-05-26 15:13] #6129 closed

[2020-05-26 15:14] #6132 closed

[2020-05-26 15:15] hwillson commented on #6133
Answered by https://github.com/apollographql/apollo-client/issues/6133#issuecomment-611761188 and https://github.com/apollographql/apollo-client/issues/6133#issuecomment-611793980. Thanks!

[2020-05-26 15:15] #6133 closed

[2020-05-26 15:15] #6134 closed

[2020-05-26 15:16] #6135 closed

[2020-05-26 15:52] #6147 closed

[2020-05-26 15:52] #6148 closed

[2020-05-26 16:03] hwillson commented on #6156
This question would be better asked over in the https://github.com/apollographql/apollo-android repo. Thanks!

[2020-05-26 16:03] #6156 closed

[2020-05-26 16:05] hwillson commented on #6157
There is much here for us to go on. Can you provide a small runnable reproduction that demonstrates this?

[2020-05-26 16:06] kingisaac95 commented on #6321
@hwillson this looks like a quick fix.

The links `"Hello World" example` and `GitHub API Example` are currently pointing to 404 pages.

Can I take this as my first issue?

[2020-05-26 16:09] kingisaac95 commented on #6343
@hwillson what would we want to have here instead?

I'd love to discuss this and push a fix if possible

[2020-05-26 16:10] hwillson commented on #6158
This should be fixed in the latest `@apollo/client@beta`. Thanks!

[2020-05-26 16:10] #6158 closed

[2020-05-26 16:10] #6159 closed

[2020-05-26 16:42] #6168 closed

[2020-05-26 17:04] hwillson commented on #6172
@aryzing would you be able to provide a small runnable reproduction that demonstrates this? Thanks!

[2020-05-26 17:13] #6176 closed

[2020-05-26 18:01] bopfer commented on #6313
I am seeing this as well.  The change happened in `@apollo/client@3.0.0-beta.45` and has the same behavior up to `@apollo/client@3.0.0-beta.50`.

`@apollo/client@3.0.0-beta.44` does not have the issue.

I will work on unraveling my project a bit and try to create a reproduction.

[2020-05-26 18:06] jedwards1211 commented on #6335
@benjamn although you're restoring `cache.modify`, I think it will still be hard to perform some kinds of updates without a feature like this, especially inserting a newly created item into all the sorted lists where it belongs.  (In my project the sort order and page range are determined by variables.)

[2020-05-26 18:24] bopfer commented on #6313
For what it's worth, I am also getting "No more mocked responses" error for queries and mutations that do not have a `fetchPolicy` explicitly set.  The weird thing is that sometimes just duplicating the mock will "fix" it.  Other times, I can create many, many copies of the mock and it will still give the "No more mocked responses" error.

[2020-05-26 18:38] hwillson commented on #6043
As mentioned in https://github.com/apollographql/apollo-client/issues/6043#issuecomment-598092211, something seems to be up with your bundling configuration. Closing for now - thanks!

[2020-05-26 18:38] #6043 closed

[2020-05-26 18:42] hwillson commented on #6014
The newer `cache.makeVar` Reactive Variable API supports this. Thanks!

[2020-05-26 18:42] #6014 closed

[2020-05-26 20:18] samrith-s opened #6347 "Error returned by useQuery is `undefined` if server returns `data` as `null`"
**Intended outcome:**

When the server returns an object like so:
[code]
The `error` property returned by `useQuery` should contain the error.

**Actual outcome:**

The `error` property is `undefined`.

**How to reproduce the issue:**

Test with any GraphQL API endpoint that returns an object as described above.

**Versions**

[code]

[2020-05-26 21:30] freshollie commented on #6332
Setting `delay: 10000000` will probably achieve what you are looking for.

See definitions: https://github.com/apollographql/apollo-client/blob/3d48f9fc7d07d8170c5b906b6e93bf0400aa2698/src/utilities/testing/mocking/mockLink.ts#L21
[code]

[2020-05-27 01:01] bwhitty commented on #6313
I can confirm that this is happening in our application on `beta.49` for us as well. We have a code change where all we did was flip our main query from `cache-and-network` to `network-only` and this exact problem manifests. No other code changes introduced.

I am sorry I cannot provide a minimum reproduction, but for what it's worth we are using `@client` directive on the query and are resolving

[2020-05-27 01:49] hwillson commented on #6335
Thanks for the great discussion here @jedwards1211. We'd like to keep issues here for bugs only, so I'm going to transfer this issue over to our FR repo. Thanks again!

[2020-05-27 11:39] bryancolin commented on #4998
Does anyone knows how to stringify the object of the access token?
`<Button
                          className="login-button"
                          type="submit"
                          color="primary"
                          variant="contained"
                          size="large"
                          fullWidth
                          onClick={async () => {

[2020-05-27 16:28] alex-r89 commented on #4190
I am also struggling with this and have been for weeks, Im at a total loss as to what to do/what is causing this. Similarly to the above, I am also getting the issue where refreshing causes the cookie to be deleted/destroyed.
I only notice this behaviour on production where I am running my server on a subdomain.(api.mydomain.xyz), Locally on localhost it all works fine - my guess this is down to t

[2020-05-27 16:46] chemicalkosek commented on #4190
@alex-r89 I think you should also apply the same cors options to `.applyMiddleware`. You can try also cors settings in `app.listen`. At least that's how it's working for me
[code]

You should also try to set the domain value in the cookie object because it might be set with your server domain `api.mydomain.xyz` and not `.mydomain.xyz` (check in devtools with what domain the cookie is created, I'm

[2020-05-27 17:07] dusty commented on #6301
I'm having the same infinite loop but using cache-and-network.  It seems this can be reproduced in the original codesandbox by changing the fetch policy to cache-and-network and reloading the page.

[2020-05-27 18:09] benjamn commented on #6278
@darkbasic With PR #6306 (included in `-beta.50`), you should be able to call `readField` with arguments like so:
[code]
Let me know if you run into any problems with that style in your real application, since I definitely intend for `readField` to be used in situations like this.

[2020-05-27 18:18] joziahg commented on #6342
Having same issue with regular react.
[code]

[2020-05-27 19:27] benjamn commented on #6202
Quick solution: if you want referential equality here, you need to give those `{ text }` objects a `__typename` and `id` so they will have stable object references across repeated reads.

You seem to be working under the impression that the objects you write into the cache are the very same objects that the cache gives you back as result objects, as if the cache simply holds onto those objects tem

[2020-05-27 20:42] 3nvi commented on #6202
Wow thanks a lot for the detailed answer. I was indeed not aware of some of the logic involved  with the cache.

Perfect, good to know!

With the new trend  on hooks, components tend to  get  bloated with memoization logic, so I'd prefer if I handled it outside the "context" of a React component.

# ####

In our app we fetch a paginated list of heavy **read-only** data, that I'd explicitly like to

[2020-05-27 21:04] benjamn commented on #6202
I do think some sort of final memoization/canonicalization step is in scope for future versions of Apollo Client. I'd like to see some more progress on the `Record` and `Tuple` proposal, so we can start recommending/providing a lightweight polyfill implementation. It's also not out of scope to implement similar behavior ourselves, it's just more code for us to ship (and for you to bundle).

[2020-05-27 21:14] benjamn commented on #6202
As for the performance tradeoffs of normalization, I think you're right to point out that contradiction. Specifically, I think our recommendation about disabling normalization may have been somewhat speculative, and could easily be trumped by the downstream performance benefits of reference equality.

Nowadays, I think of disabling normalization (with `keyFields: false`) as a way to say "this obje

[2020-05-27 21:36] 3nvi commented on #6202
Gotcha,

I'll run some tests, compare timings with and get back to you if something seems off. For the time being, since what I described is originally described is expected from your side, I think it's fair to close this issue.

[2020-05-27 21:36] #6202 closed

[2020-05-28 04:13] trevordebard commented on #6307
This issue exists for me in beta 50. Adding ID to the graphql query also resolved the bug.

[2020-05-28 09:01] dc-pm commented on #6146
We're also seeing this problem - is super annoying as we can't close the issue (renovate reopens it immediatly as immoral)

Any ideas on a fix? My only idea is to disable renovate for apollo until v3 ships?

[2020-05-28 10:17] ANavakahtsky opened #6348 "Duplicated subscription using hook useSubscription"
Hello there!

I'm trying to use hook useSubscription in my component as following:

`const onSubscriptionData = useCallback(
    (options: { subscriptionData: any }) => {
      const {
        subscriptionData: { data, loading, error },
      } = options;
      if (!loading && !error && !!data) {
        fieldArray.fields.push(mapPropertyAddress(data.addressAdded));
      }
    },
    [fieldArray.

[2020-05-28 11:16] jockey100332 opened #6349 "useLazyQuery 返回的异步方法通过props 传递后，子组件调用无效"
index.js
[code]
在返回的 异步方法中，我通过props 传递给了 子组件，在子组件的useEffect 当中调用无效。
我是一个中国程序员，英文能力有限，我想我用中文可能会描述得更清楚些
[code]

[2020-05-28 11:27] hwillson commented on #6136
As mentioned in https://github.com/apollographql/apollo-client/issues/6136#issuecomment-615933193, this new warning is intentional. When query/cache mismatches like this happen in AC2, they are essentially swallowed. For example, when you have one query that's relying on a certain set of data in the cache, but run another query that ends up removing some of the fields the first query was expecting

[2020-05-28 11:36] anuragnagarkota commented on #6136
Thanks @hwillson.
But what I understand is you are telling to use the super set of all fields at every place? which could be very problematic to do while coding a complex project?

[2020-05-28 11:36] hwillson commented on #6146
This is definitely annoying 🙁. The good news is we're publishing the AC3 RC sometime between tomorrow and Sunday, so at least switching to the RC will get past this. Instead of figuring out a way around this (since we can't unpublish the infamous `James` package), and since the RC is imminent, we're probably going to leave this as is.

[2020-05-28 12:17] hwillson commented on #6136
@anuragnagarkota This is definitely a challenging issue. These warnings are really just intended to  help give some visibility into query/cache mismatching. We want to make sure developers have greater clarity into why data isn't being matched from the cache, when it looks like it should be. Using a super set of all fields in a selection set can definitely be problematic/cumbersome. There are othe

[2020-05-28 13:44] bebbi commented on #6332
Great, that works out!

[2020-05-28 13:44] #6332 closed

[2020-05-28 14:00] jaxxreal commented on #4636
Still an issue with `"apollo-client": "^2.6.2"`...

[2020-05-28 16:26] arminbro commented on #6327
It looks like this issue/bug is introduced in version `3.0.0-beta.46`

[2020-05-28 17:44] hwillson commented on #5790
Just dropping some quick notes here - I've looked into this further and have verified that Apollo Client's optimistic response rollback code is all working properly. The problem here is caused by `useQuery`'s memoization code. Even though the response is rolled back, `useQuery` doesn't pick the change up as it sees the render that should pick the change up as being the same as the last render, so

[2020-05-28 19:51] edufschmidt commented on #5179
I too have encountered this very same issue. The `called` attribute is not reset on re-render. A workaround I've found that might be useful considering your scenario is to use `useQuery` with the `skip` parameter set to `true`, in conjunction with the `useEffect` hook to control what to do on a re-render. This way you can still call the `refetch()` method, and the behavior will be similar to the o

[2020-05-28 20:09] matthewleonard opened #6351 "Issue with passing variables in a gql query in angular using apollo-client: Syntax Error: Expected Name, found $"
**Intended outcome:**
Use the apollo client in Angular to run a graphQL query while passing in a variable and receive data from the graphQL server.

**Actual outcome:**
The apollo-client throws an error when running a query that passes a variable:

**Query:**
[code]

**Error:**
[code]

**However, I am able to get results without issue when hardcoding the variable like: **

[code]

I have tried a m

[2020-05-28 20:40] benjamn commented on #6062
This should be fixed by #6276 (`-beta.47`+). Please feel free to reopen this issue if the problem persists.

[2020-05-28 20:43] #6062 closed

[2020-05-28 20:46] #5781 closed

[2020-05-28 21:05] benjamn commented on #6142
@Banou26 You need to be using the `options.args` object rather than the `options.variables` object in your `merge` functions. Arguments are specific to the field, whereas variables are global to the query. Once you get comfortable with this distinction, I think/hope your issues with variable name uniqueness will resolve themselves.

[2020-05-28 21:05] #6142 closed

[2020-05-28 21:06] #6349 closed

[2020-05-28 21:09] benjamn commented on #6349
Please use English here, even if it's not your preferred/native language.

[2020-05-28 21:29] benjamn commented on #6351
In your example, `$cocode` is used as an _argument_ for the `findCompanyByCocode` field. Arguments are specific to a certain field, whereas variables are global to an entire query. Arguments

You probably want something like this instead:
[code]
To be clear: this is standard GraphQL syntax, not related to Apollo Client specifically. Take some time to understand the difference between [arguments](h

[2020-05-28 21:30] #6351 closed

[2020-05-28 22:20] matthewleonard commented on #6351
@benjamn You are correct, that is what I wanted and that resolved the issue. Thank you for your time and sorry that I reported this as an issue instead of realizing it was an ID10T problem. Cheers!

[2020-05-28 23:04] tafelito commented on #6136
@hwillson I have an entity that has 5 fields, 3 fields are always queried in and 2 others that are only queried in one place. The entity is a relation to a parent entity.

So pretty much is something like this

[code]
}

profiles inside users is an array and same is the companies inside profiles. Companies is not always present

I first start the app, I query the users without profiles. Then I ins

[2020-05-28 23:11] FredKSchott opened #6352 "@apollo/client v3 broken in Rollup & Snowpack"
Tracked it back to this item:

https://github.com/apollographql/apollo-client/blob/master/src/react/react.ts#L8

The require function doesn't exist inside an ES Module (any file with `import` or `export` syntax), which is causing the package to fail in some bundlers.

Happy to help brainstorm ideas on how to solve if you'd like, but would strongly recommend against shipping 3.0 with broken support

[2020-05-28 23:13] FredKSchott commented on #6352
related: https://github.com/apollographql/apollo-client/issues/6035

[2020-05-29 00:06] macrozone commented on #6190
skip seem to be broken in apollo-client version 3. using ^3.0.0-beta.50

[2020-05-29 00:14] #6305 closed

[2020-05-29 00:18] hwillson commented on #6352
@FredKSchott can you post an example of the failures you're seeing? I haven't tried Snowpack, but AC3 definitely works with Rollup. Thanks!

[2020-05-29 00:18] benjamn commented on #6352
Good catch @FredKSchott

It's disappointing that the only way to defer an ESM `import` is to use dynamic `import()`, which introduces asynchrony into the codebase, and is implemented differently by just about every major JS runtime.

Please do give us your thoughts on how we might avoid importing `React` when it isn't needed!

[2020-05-29 00:28] benjamn commented on #6305
@jebonfig Can you try `@apollo/client@3.0.0-beta.52`, which includes #6353?

[2020-05-29 00:52] FredKSchott commented on #6352
Yup, 100% agreed and wish this was better supported in ESM. But even Webpack is limited by how much it can statically analyze. Bundlers can see that @apollo/client is importing & requiring React, but they can't tell at build-time wether that function will or won't ever be run, so a bundler will  normally just bundle "react" for everyone to be safe.

Based on the above, I'm 99% sure that Webpack is

[2020-05-29 01:27] waldinho commented on #6137
i am facing a similar issue, did you manage to find a fix?

[2020-05-29 01:35] hwillson commented on #6352
Thanks @FredKSchott, we'll look into this further. Just a small note though - AC3's current lazy react `require` approach does work with Rollup. You can see it in action [here](https://github.com/apollographql/apollo-client/tree/master/examples/bundling/no-tree-shaking/rollup-ac3-no-react).

[2020-05-29 01:37] hwillson commented on #6035
@ashubham can you provide a small runnable reproduction that demonstrates the issue you're seeing with Rollup? We have an AC3 non-React Rollup based example [here](https://github.com/apollographql/apollo-client/tree/master/examples/bundling/no-tree-shaking/rollup-ac3-no-react) that demonstrates how this can be achieved with Rollup.

[2020-05-29 01:59] ashubham commented on #6352
@hwillson FWIW, the example you are citing is `no-react`, where the lazy require is not even needed.

I did a workaround though to make it work with Rollup/React:

I created a rollup plugin which replaces the lazy require with a static import.
[code]

[2020-05-29 03:44] mschipperheyn opened #6354 "fetchMore doesn't set loading to true (beta.52)"
**Intended outcome:**

When calling `fetchMore`, loading should be set to true.

**Actual outcome:**

It remains false and the data loads without this status ever changing, even though `notifyOnNetworkStatusChange: true` has been set on the `useQuery`

**How to reproduce the issue:**

Nothing special here:

[code]
**Versions**
  Apollo client beta.52
  System:
    OS: macOS Mojave 10.14.6
  Binari

[2020-05-29 04:34] FredKSchott commented on #6352
Yup, that's correct, the lazy require isn't called in that example.  `ApolloProvider` is an example of something that calls the broken lazy require

[2020-05-29 05:28] ashubham opened #6355 "[AC3] useQuery does not respect keyArgs, and returns a deep cloned copy if non-key variables are changed."
**Intended outcome:**

Multiple calls to `useQuery` for the same Query document should return the same result object if the given `keyArgs` for the query are same.

**Actual outcome:**

Everytime a component calls `useQuery` as a result of a rerender (with different variables but the same `keyArgs` for the Query), it returns a fresh clone of the data.

**How to reproduce the issue:**

Here is a co

[2020-05-29 06:13] abdonrd commented on #6352
I really like the second option from @FredKSchott!

[2020-05-29 06:24] abdonrd commented on #6352
Also about ES Modules related, `@apollo/client` still uses three dependencies exported as CommonJS:

- `graphql-tag` (#6074)
- `zen-observable` (#5961)
- `fast-json-stable-stringify`

[2020-05-29 07:09] ashubham commented on #6352
There is a 4th way too, which can achieve lazy loading without asking users to use a different namespace to import from:

Have 2 modules:

[code]

And another,
[code]

Now, have the users when using `apollo-client` in a react app do:
[code]

Instead of `load.ts` if we name it `index.ts`, we can have users just `import '@apollo/client/react'`.

[2020-05-29 07:27] maltenz commented on #3909
On man, I think I am gonna give up on apollo state after working on it for over a week! I almost managed to fix this issue by using
returnPartialData: true
Which works great if you are switching between views on the same stack in Expo, but the moment you unmount the view (like in a modal) the whole thing goes back to its initial state.
Back to redux so I can spend my time working on my important s

[2020-05-29 09:33] fdev commented on #6188
This issue was indeed fixed for me in `beta.48`, but seems to have returned in `beta.52`. @Banou26 can you check if the latest version produces the error for you again as well?

[2020-05-29 10:03] darkbasic commented on #5790
I've tried beta.52 and what happens is really weird: as you said the query is rolled back, but it doesn't get reflected in the UI until you re-access it. If you do and trigger the same mutation this time it *will* get reflected in the UI, without the need to re-access it.

[2020-05-29 10:19] csteuer commented on #6037
We have the same problem. Any updates?

[2020-05-29 10:26] darkbasic commented on #6278
Thanks @benjamn I tried beta.52 and it works fine! To everyone reading please note that `toReference` may actually return `undefined` so it must be type checked before actually being used inside `readField` like in the example before.

[2020-05-29 10:26] #6278 closed

[2020-05-29 11:30] hwillson commented on #6146
This is definitely becoming more annoying: https://github.com/apollographql/apollo-client/pull/6350#issuecomment-635871472. I've added a deprecation notice so hopefully that helps, until we're past this.

[2020-05-29 11:51] unutoiul opened #6358 "Bug - use query is repeatly called when init component"
I've attached here the bug I am using

[code]
<img width="1680" alt="Screenshot 2020-05-29 at 14 49 18" src="https://user-images.githubusercontent.com/317535/83256821-d0aa4f00-a1bb-11ea-83c1-4ac68c7e57c0.png">
<img width="1680" alt="Screenshot 2020-05-29 at 14 50 49" src="https://user-images.githubusercontent.com/317535/83256827-d3a53f80-a1bb-11ea-8d77-4b786ea92cb8.png">

[2020-05-29 11:51] hwillson commented on #6352
Thanks all - sorry, I misinterpreted the original problem regarding the example app I shared (I was focused on the use case of not needing React).

We had discussed a lot of the ideas in this thread back when we decided to integrate our React hooks into the `@apollo/client` core. The thing is, we're very focused on providing an as easy to use out of the box Apollo Client + React experience as poss

[2020-05-29 12:51] julian-linux commented on #3909
@maltenz men u can use lodash.cloneDeep

[2020-05-29 13:50] jebonfig commented on #6305
thanks a lot @benjamn - this is fixed on .52 🎉

[2020-05-29 14:03] leapworkcto commented on #6092
Same problem in 3.0.0-beta50, also without using onCompleted.

I can see the graphql call returns the right data in chrome devtools, but the data object returned from useQuery is undefined. Removing the use of `@export(as: "somevar")` solves the issue.

[2020-05-29 14:18] emiloberg opened #6359 "Observable queries indefinitely stop updating after cache.clearStore()"
**Intended outcome:**

1. Create an observable query with a `@client` directive which depends on a reactive variable to resolve.
2. Run `client.clearStore()`
3. Update the reactive variable from step 1
4. The observable query should now be re-run and its returning data reflecting what's set in step 3.

Or in other words:

I'm assuming that the `client.clearStore()` call will not broadcast any chan

[2020-05-29 14:43] benjamn commented on #6355
Variables are currently included in the cache keys used by the result caching system, so this is working as expected.

[2020-05-29 16:25] FredKSchott commented on #6352
@hwillson I think that's a good call 👍

[2020-05-29 21:51] alex-r89 commented on #4190
Hi @chemicalkosek thanks for the reply. I have tried that, unfortunately it made no difference.

I have also tried with the domain value on the cookie, again to no avail. It seems odd that the cookie works on the root domain but not on a subdomain.

One thing I have noted is that the domain value of the cookie in dev tools reflects whatever value I put in the `uri` of my `createHttpLink`. For exam

[2020-05-29 23:04] #6035 closed

[2020-05-29 23:04] #6352 closed

[2020-05-29 23:09] FredKSchott commented on #6352
Excellent! Thanks for the quick fix. What's the best way to test this in Snowpack/Rollup?

[2020-05-29 23:13] hwillson commented on #6352
@FredKSchott we'll publish a new `beta` shortly (I'll post back here when it's ready). Thanks!

[2020-05-29 23:49] benjamn commented on #6325
Shortly after the AC3.0 release, we are hoping to introduce some sort of field policy configuration to specify what happens when references contained by a field no longer point anywhere.

For example, the policy could control whether the field itself gets removed, or what happens to lists that contain dangling references. I think the default behavior will continue to be leaving the dangling refere

[2020-05-30 00:38] hwillson commented on #6352
@FredKSchott we just published `@apollo/client@3.0.0-beta.53` which should hopefully fix this 🤞.

[2020-05-30 01:41] jebonfig commented on #6325
@benjamn So with these changes a `cache-only` query now returns an empty object `{}` on a cache miss?  Did you all consider returning `null` or `undefined` instead of the empty object?  Feels like that would be easier to handle.

A simple example being a CarsQuery using `cache-and-network` which fetches the entire list of cars, and a CarQuery using `cache-only` which gets a single car by it's `id`

[2020-05-30 03:25] stephenh commented on #2510
@cecchi thanks for that visitor/linter! I dropped it into a graphql-code-generator plugin: https://github.com/homebound-team/graphql-id-linter cc @capaj

[2020-05-30 06:01] FredKSchott commented on #6352
That worked! Thanks again

[2020-05-30 08:17] iDavidB opened #6366 "Fragment based dynamic component rendering"
Hi,

I was reading through [Rebuilding our tech stack for the new Facebook.com
](https://engineering.fb.com/web/facebook-redesign/) and noticed they had implemented a feature which allows them to dynamically render a certain component based on the data they get back. Like so:

[code]
I know this partly has to do with fragments but I was also wondering if a similar feature like this exists in Apoll

[2020-05-30 08:24] ahrnee opened #6367 "AC3 Breaks Apollo Client DevTools Query Tab"
**Intended outcome:**
Apollo DevTools client, Query Tab, works

**Actual outcome:**
Apollo DevTools client, Query Tab, is broken (as of AC3 v3.0.0-beta.40)

**Note**
Perhaps this issue should be posted/moved to the [apollo-client-devtools](https://github.com/apollographql/apollo-client-devtools) Repo. However, starting here because:
- It was an AC3 change that broke the Apollo Client DevTools
- Th

[2020-05-30 09:00] vinhnglx commented on #6321
So, is there any react-native example?

[2020-05-30 09:51] fdev commented on #6340
This is fixed in `@apollo/client@3.0.0-beta.52`.

[2020-05-30 09:51] #6340 closed

[2020-05-30 14:41] hwillson commented on #6367
@ahrnee See https://github.com/apollographql/apollo-client-devtools/issues/231 - this should now be fixed in devtools 2.3.1. Thanks!

[2020-05-30 14:41] #6367 closed

[2020-05-30 14:41] #6366 closed

[2020-05-30 17:01] Banou26 commented on #6188
Tried on `^3.0.0-beta.53` and it's not back.

[2020-05-30 23:54] ArtGurianov commented on #6070
Hey guys! I had exactly the same problem. And solution was simple:
- just change 'client.resetStore()' to 'client.clearStore()'.
That's it! No refetching will be performed :) Happy coding!

[2020-05-31 07:47] Jaikant commented on #5764
@simpleshadow  Why didn't you just set the mode to 'no-cors'? Any particular reason?

[2020-05-31 10:02] Sunhat commented on #1626
lol. bozos.

[2020-05-31 10:11] fdev commented on #6188
For some reason `npm install '@apollo/client@3.0.0-beta.52'` kept installing version `3.0.0-james.33.0`, which is why it was broken again for me. This no longer happens with `3.0.0-beta.53`. Thanks for checking!

[2020-05-31 10:30] wtrocki commented on #1626
@Sunhat ??

[2020-05-31 15:15] bengal75 commented on #6358
I am also running into this, using 3.0.0-beta.53. It happens immediately when using `useQuery`, but also happens once the query function has been called when using `useLazyQuery`. I've gone back to 3.0.0-beta.45 for now which doesn't seem to have the issue.

[2020-05-31 15:53] unutoiul commented on #6358
I just notice the issue.. the load inside the component does the reloading all the time... very weird why I’m not sure what’s the reason

[2020-05-31 16:21] jebonfig opened #6368 "Query with embedded fragment returns an empty object on cache miss instead of null"
This is a new issue in beta.53 as a result of https://github.com/apollographql/apollo-client/commit/c81071374225a2f94e86a6f0693fe99f17b1724f

With this code:

[code]

**Intended outcome:**
1. When using a read type policy **and** a query containing a fragment with a `cache*` fetchPolicy, when the cache misses, return `null` for the result instead of an empty object.

2. most likely directly relate

[2020-05-31 16:33] mrflip commented on #6205
... and it was un-removed! in #6350. See there.

[2020-05-31 17:22] gregorybellencontre commented on #5268
Thank you all for these great solutions !

[2020-05-31 20:16] simpleshadow commented on #5764
@Jaikant Hmm, trying to recall. I think it was related to this original issue where headers aren't sent in `no-cors` mode and the Hasura backend required CORS with headers.

[2020-05-31 21:01] nordvall opened #6370 "Two queries loop forever when requesting different parts of same object"
**Intended outcome:**
I have a CRUD-like application where the user may create, read update or delete objects of different types. Let's say we are talking about "countries" and "cities". I can then execute queries like this:

`
countries {
  id
  name
}
`

or this:

`
cities {
  id
  name
}
`

However, different users have different permissions to work with these objects, and the server owns the l

[2020-06-01 02:40] layerssss commented on #6327
@arminbro Looks like this was fixed in `@apollo/client@3.0.0-beta.53`

[2020-06-01 07:26] timshingyu commented on #5209
@huytran2khust Cos me whole day long to fix this issue. You save my life. Thank you.

[2020-06-01 07:59] seniv commented on #5236
You can also search "17) :" to find exact error what you need. 17 - number of your error

[2020-06-01 08:54] bennypowers commented on #2510
Looks like this wasn't published yet?

[2020-06-01 13:58] c10h22 commented on #6370
@nordvall I am getting same issue with v3.0.0-beta.43.

 We are prefetching some data with two independent queries.
Infinite loops occurs on first rendering because first query is faster than the second when loading of first query is finished, the second relaunch and when the second loading finish, the first one relaunch.

So to resume the situation here below the state logs:
[code]

[2020-06-01 14:00] hinok commented on #6281
It's especially problematic in case when you want to log out users and clear cache but at the same time redirect them to a page that run some queries.

I made also very simple demo: https://codesandbox.io/s/react-apollo-with-hooks-n6nby?file=/src/index.js (Click `Log out John`).

[2020-06-01 14:03] c10h22 commented on #6370
@nordvall I think this is duplicate #6358, as per comment there we are using useLazyQuery

[2020-06-01 14:06] c10h22 commented on #6358
We have same same issue with v3.0.0-beta.43.

We are prefetching (for caching) some data with two independent queries during component init with `useQuery`. The problem disappear if we use only one query instead of two at the same time
We are using `useLazyQuery` as well.

So to resume the situation here below the state logs:
[code]

[2020-06-01 14:56] benjamn commented on #6370
@nordvall Can you tell me more about this `Permissions` type?

I can see that the desired behavior is for the fields of this `Permissions` object to be merged over time, so you don't lose data fetched by different queries. Is that because the `Permissions` object is conceptually a global singleton object, so it's always safe to merge new fields into it? Or should the merging of `Permissions` objec

[2020-06-01 15:10] arminbro commented on #6327
@layerssss Thanks for the heads up.

`fetchMore` does seem to be working again in version `@apollo/client@3.0.0-beta.53` but it looks like it has another issue.

**The other issue:**
When `fetchMore` is invoked, the `loading` prop from the `useQuery` or `useLazyQuery` doesn't seem to update with `true`. This is an issue because I would like to show a loading indicator to the end-user when fetching

[2020-06-01 15:28] unutoiul commented on #6358
the issue is when you setup

[code]

the version . "@apollo/client": "^3.0.0-beta.50" doesn't trigger onCompleted function anymore..

ANY Idea was is BROKEN?

is breaking all my project can Apollo CLIENT TEAM FIX THOSE ISSUES ?

[2020-06-01 16:09] brandon-leapyear commented on #6137
No, we just have a skipped test with a link to this issue :(

[2020-06-01 16:15] benjamn commented on #6370
Speaking of warnings, I would also like to draw your attention to PR #6372, which would have given the following warning in your case:
[code]

[2020-06-01 17:48] #6183 closed

[2020-06-01 19:11] nordvall commented on #6370
Thank you for your detailed explanations!

From the options that you describe I would say that the "global singleton" pattern applies to my scenario. (I don't really understand the second option and how it's different conceptually, but nevermind).

I have been reading the about both keyfields and merge functions in the documentation, but to be honest:
* I did not understand that an empty array of

[2020-06-01 19:13] dobesv opened #6373 "Query onCompleted callback is not called when the query data updates due to a cache update"
When trying to upgrade from react-apollo `2.5.8` to `3.1.5` we found that the behavior of the `onCompleted` callback on the `Query` component had changed in a breaking manner.

**Intended outcome:**

A `Query` components `onCompleted` callback should be called any time the data for that Query changes, even if the change is made by another operation such as a mutation or a cache update.

**Actual o

[2020-06-01 19:19] nordvall commented on #6370
The warning in the PR would at least convince me that I was facing a configuration problem and not a bug (and point lazy people to the documentation). But it would not lead me to the keyFields solution =)

Also I understand that an incorrect cache configuration could result in data falling out of the cache, but I don't think it should result in this infinite query looping that we see now. My probl

[2020-06-01 20:06] unutoiul commented on #6373
same issue heree

[2020-06-01 20:18] dobesv commented on #6373
@unutoiul Can you use the "emoji" button to add a "thumbs up" instead of adding a "me too" comment?  That seems to be the preferred etiquette for "me too" on github these days, and makes it easier for people to count up the responses.

[2020-06-01 22:12] unutoiul commented on #6373
Loool thanks Buddy, did I think the issue?

[2020-06-01 22:53] layerssss commented on #6327
@arminbro That's true. Looks like there's one issue tracking this already https://github.com/apollographql/apollo-client/issues/6354

[2020-06-01 23:34] benjamn commented on #6368
@jebonfig This should be fixed in the latest beta (`-bets.54`). Thanks for catching this regression so quickly, and sorry for any inconvenience it caused.

[2020-06-01 23:34] #6368 closed

[2020-06-02 00:09] hueter commented on #6334
This issue is a blocker for my team upgrading -- we're currently stuck on beta-44. I reproduced this on beta-54 just now; however changing the `fetchPolicy` did not help in my case.

This issue is especially notable on our app's "dashboard" view which features about a dozen queries firing simultaneously. On the upgrade branch, some of them work fine but several of them just spin forever because `l

[2020-06-02 12:54] fromi opened #6374 "Why is client nullable in MutationResult type?"
Using Typescript, I notice that when I use `useQuery`, [I collect a non nullable 'client' property.](https://github.com/apollographql/apollo-client/blob/c2698e5fdbd109a4765ce269d345b20cfccc0ec9/src/react/types/types.ts#L80)
However, with `useMutation`, [it is nullable.](https://github.com/apollographql/apollo-client/blob/c2698e5fdbd109a4765ce269d345b20cfccc0ec9/src/react/types/types.ts#L192)

This

[2020-06-02 13:16] fromi commented on #6374
I have another related question:
When I do this:
[code]
The data passed in the update function can be null or undefined. Why is that?

[2020-06-02 15:33] julian-sf commented on #6334
Holy crap this bug was hard to find.  This needs to be fixed asap.  I'm thinking we're not gonna use Apollo for a client ever again...

[2020-06-02 15:37] #6111 closed

[2020-06-02 15:37] #6269 closed

[2020-06-02 15:52] fromi opened #6375 "useQuery silently returns null data when cache is missing some field"
**Intended outcome:**
I have a local field named "displayedGame":
[code]
It references a Game in the cache: `ROOT_QUERY: displayedGame: {__ref: "Game:6k3ZEe3AouGr"}`

I receive a real time notification (not using Subscription because I use a Serverless + Pusher architecture). This notification informs that a player joined the game.
I use `client.writeFragment({id: 'Game:' + gameId, fragment: GAME_

[2020-06-02 16:34] jrnail23 opened #6376 "With TypeScript, Apollo Client expects to be built with `lib: ['dom']`, which is non-ideal for non-browser environments and not documented"
@benjamn, I just installed the RC, and got the following typescript errors, all from DOM types (my project is a lib that doesn't depend on any DOM stuff).  FYI, my previous version was beta 52, which didn't have this problem.
[code]

[2020-06-02 18:37] julian-sf commented on #6334
This seems to be a recurring issue.  The following issues seem to be related:

- https://github.com/apollographql/react-apollo/issues/3425
- https://github.com/apollographql/react-apollo/issues/3774
- https://github.com/apollographql/react-apollo/issues/3361
- https://github.com/apollographql/react-apollo/issues/3090
- https://github.com/apollographql/react-apollo/issues/2899

[2020-06-02 21:20] julian-sf commented on #6334
Note on the above: I'm more than happy to help out with updating the cache key logic, but a quick tip on where to start looking would be appreciated.

[2020-06-02 21:30] hurshagrawal commented on #6336
Agreed here. We're trying out the beta and getting a lot of `MissingFieldError`s for fields that exist in the schema but just haven't been pulled from the server yet so they don't exist in cache. These cause the entire app to crash without granular error handling/boundaries across the codebase.

[2020-06-02 21:49] jguffey commented on #6225
Closing since dataIdFromObject is now [deprecated](https://www.apollographql.com/docs/react/v3.0-beta/caching/cache-configuration/#configuring-the-cache)

[2020-06-02 21:49] #6225 closed

[2020-06-02 22:08] willleahy commented on #4190
I struggled with this for a while, the request would always be missing `Cookies` no matter where I put `credentials: 'include'`. The issue ended up being the `"content-type": "application/json"` header. If I removed that the request worked fine. I found it helpful to use the `fetch` argument to debug this:

[code]

[2020-06-02 23:52] migueloller commented on #5916
I will also add to this that `data` goes to `undefined` when `networkStatus` is `1`. The behavior I would expect would be for `data` to never go back to `undefined` once data was successfully fetched. Again, this is `refetch`'s behavior.

It would seem that if `networkStatus` just goes to `4` and then `7`, `data` being `undefined` would stop being an issue.

[2020-06-03 00:30] wosephjeber commented on #1900
I've been wrestling with getting the Apollo client to wait for the queries specified in `refetchQueries` to resolve before resolving the mutation promise and wanted to chip in with something I just learned in case it helps anyone still struggling with this.

For one, you need the `awaitRefetchQueries` option to be set to `true` on the mutation. But even with that set, it seems that the `fetchPolic

[2020-06-03 02:27] BenoitHiller opened #6378 "MockedProvider throws an error in a subsequent test when a mock is missing"
I attempted to perform the following two tests of a component in order using MockedProvider:

1. Test that the component shows a loading state when a the query is still loading by passing in `mocks={[]}`
2. Test that the component shows a result when the same query is done loading

**Intended outcome:**
Either both tests pass or only the first test passes.

**Actual outcome:**
The second test fail

[2020-06-03 07:03] leapworkcto opened #6379 "Using @client fields as variables does not work"
**Intended outcome:**
Use `@client @export(as: "fieldName")` in a remote query and get data back.

**Actual outcome:**
Data is undefined as query result, but Chrome DevTools shows the correct query was sent and the correct data was returned from the server.

`query GetBooks($fco: Int, $filterText: String!) {
            filterCount @client @export(as: "fco")
            getBooks(count: $fco, filte

[2020-06-03 08:20] balazsorban44 commented on #6376
May be related, after upgrading to 3.0.0-rc.0, I get the following error:

[code]

Downgrading back to beta 50 (my previous version) does NOT solve the issue.

The relevant code:
[code]

[2020-06-03 10:21] antoinelyset opened #6380 "A mutation call can return `undefined` if `onError` has been defined"
If `onError` has been defined in `useMutation`, the client doesn't throw an actual error (in case of a server-side error) see :

https://github.com/apollographql/apollo-client/blob/379bbb024a0909714e949d76584a3b76067649cb/src/react/data/MutationData.ts#L74-L77

It means that calling `mutation()` will return `undefined`. This is problematic since TypeScript does not force us to handle this case.

*

[2020-06-03 11:59] hwillson commented on #5790
@benjamn and I have looked at this further, and have noticed that while removing `useDeepMemo` does fix the issue, it's masking the real issue that's happening at a lower level. We need to adjust the cache internals a bit (namely how `maybeBroadcastWatch` leverages caching via `makeCacheKey` while ensuring optimistic rollbacks are considered). We're working on a solution.

[2020-06-03 13:09] hboylan commented on #6334
We're encountering this issue on RC `v3.0.0-rc.0`. In our case, the variables change on every request, but around the 4th or 5th time `useQuery` is triggered it will get stuck returning `loading=true`.

I've tried different `fetchPolicy` settings to no avail.
[code]

[2020-06-03 16:06] jeffreyffs commented on #6374
@fromi Default graphql behaviour is `null | T` if you don't specify it is a required field. Apollo then adds on the possibility of `undefined` if the data hasn't loaded yet. Hence you end up with `null | undefined | T`. If you update your schema to say the field is required (adding a !), you will end up with `undefined | T`

[2020-06-03 16:18] fromi commented on #6374
@jeffreyffs Here we are inside an "update" function of a mutation: why can it be undefined? If we run the function, it mean that it has returned, so the data has loaded.
Regarding the 'null', I already have ! everywhere in my schema. This mutation returns a non nullable object, so data should not be null either.
See type MutationUpdaterFn in the source code: mutationResult is a FetchResult, wherea

[2020-06-03 16:26] jeffreyffs commented on #6374
You've forced the type of your `useMutation` here with `useMutation<{ addTodo: Todo }>`... there is no`!` so, it is nullable as far as the mutation is concerned.

I could see an argument for having it not be `undefined` though. It will never be in a loading state, as you have already finished the mutation.

[2020-06-03 17:33] deafult2010 commented on #3480
Just check whether the id of the user is equal to the id of the incoming comment/post from the subscription. If it is then ignore the incoming feed if it isn't add it to the array of  comments/posts

e.g.:

  const { subscribeToMore, ...result } = useQuery(FETCH_POSTS_QUERY);
  const { user } = useContext(AuthContext);

  useEffect(() => {
    subscribeToMore({
      document: SUB_POSTS,
      upd

[2020-06-03 17:59] tafelito commented on #5881
@benjamn I know you guys are busy with the release of the upcoming v3 but can we get back to this at some point, at least on the docs?. We use a lot of tables in a admin dashboard where we can edit/remove/add rows and we still have to refetch after any crud operation. I thought with the new AC cache the pagination was gonna be fixed but this still happening.
i think is a really common use case and

[2020-06-03 18:18] tsaiDavid commented on #6333
@hwillson @IljaDaderko - we were seeing this with `@apollo/client` on `3.0.0-beta.50`, after upgrading to `3.0.0-rc.0` we still saw the same error upon building for production, but were able to "fix" the issue by adding the following to our `package.json` as a hopefully temporary fix (@dmi3y):

[code]

[2020-06-03 19:48] hueter commented on #6334
Updates for me:
- `fetchPolicy: 'no-cache'` is working now too on 3.0.0-rc.0
- `fetchPolicy: 'network-only'` fails
- the affected queries are susceptible to returning the same data with different variables

This corroborates what others in this thread have said.

I actually reproduced the issue closest to my use case in this sandbox:

https://codesandbox.io/s/autumn-darkness-8b69l

(check the cons

[2020-06-03 19:50] SterL opened #6381 "The fetchMore function on a useQuery hook is throwing an error on newer versions of apollo-client"
**Intended outcome:**

I'm using react-native and I have a Flatlist that gets it's data from a useQuery hook. I want to call the `fetchMore` function when the user reaches the end of the list, to grab the next page of data, and append it to the list.

The useQuery looks like this:
[code]

The Flatlist has props:
[code]

and `loadMore` that gets called when user reaches end of list:
[code]

**Actua

[2020-06-03 20:24] tpict commented on #6334
I think there's a related but possibly separate issue in `rc.0`. For a _very_ simple query (just swapped out field names, structure is the same):
[code]

we get the following console messages:
[code]
The query is never refetched or anything, and there's no changing query variables.

Changing the fetch policy to `no-cache` works on rc.0. This behavior is not present in `beta.54`

[2020-06-03 21:14] fromi commented on #6374
I am not exactly forcing the type, I am specifying it. Otherwise data has "any" type, which indeed cause no warning or compilation error of any kind, which is not what I want.
I cannot specify a type for data which is not nullable, it is declared as so in the framework.

[2020-06-03 22:07] moraycreative commented on #6334
Same issue here. Using Next.js app. When initially spinning up app > loading TRUE > loading FALSE > DATA. Then when navigating to another page and back again > Loading TRUE, Loading TRUE, Loading TRUE, etc. Even when its a cached query with data ready to go.  Got around it this way:
`if (loading && !data) return <p>Loading...</p>;
    if (error) return <p>Error :(</p>;
    return (
      <div>

[2020-06-04 01:13] Doaa-Ismael opened #6383 "Can't test loading state using MockedProvider"
**Intended outcome:**
I tried to test loading state
[code]
**Actual outcome:**
but it gives me an error
No more mocked responses for the query

**Versions**
  System:
    OS: macOS 10.15.3
  Binaries:
    Node: 10.18.1
    Yarn: 1.21.1
    npm: 6.13.6
  Browsers:
    Chrome: 83.0.4103.97
    Safari: 13.0.5
  npmPackages:
    @apollo/client: ^3.0.0-rc.0 => 3.0.0-rc.0

[2020-06-04 01:18] schester44 commented on #5708
Any update on this? I have a pretty large app that relied on this pattern to minimize the amount of try/catch and .catch that was needed. Made for a super clean code base knowing I could rely on apollo-link-error when needed.

Not sure what changed, guess I need to look at my past few commits, but lately all mutation errors throw an unhandled error.

Is this change documented in a change log somew

[2020-06-04 01:38] jitensuthar commented on #6325
@benjamn Haivng policies to affect how dangling references are handled sounds promising (and including it also as part of GC makes sense to me).

I agree with the above though in preferring cache misses come back with `null` or `undefined` fields instead of empty objects (also in `returnPartialData` cases) as the default behavior. It's a lot less awkward and more natural to null-test vs. testing k

[2020-06-04 01:48] dodas commented on #6325
I think this change has been reverted and dangling references are treated the same way they were before - throwing error.
See https://github.com/apollographql/apollo-client/commit/5e74226077b88237d1f8e2cf898cf97e8ae1250e.

[2020-06-04 01:58] jitensuthar commented on #6325
I'm still getting back an empty object when I have `returnPartialData` flag set on a useQuery hook where one of the fields holds a dangling reference (resulting from an earlier cache eviction).

I was only `null`-testing that particular field so it fell through the cracks, which led me here. I am proposing returning `null` or `undefined` on fields that hold dangling references in a partial cache r

[2020-06-04 03:07] riccoski commented on #6334
Also getting the same issue when using local state

[2020-06-04 04:17] mrjamesjcho commented on #2555
I also have the same issue:
"@apollo/client": "3.0.0-beta.41"

If I provide `errorPolicy` in `useMutation` and `useQuery` it works but it would be great if I didn't have to do it for every mutation and query.

This may be related but I would also want `refetchQueries` to use `defaultOptions`

[2020-06-04 04:22] ArtGurianov commented on #4955
Any solution so far?

[2020-06-04 04:28] ArtGurianov commented on #4955
It's just incredible how this could went through all major releases. If you wrap queries in try-catch, there is no way to refetch or do anything more complex than hello world...

[2020-06-04 05:14] ArtGurianov commented on #4955
switched to using client.query() + useEffect with cleanup. Until better times. 😫

[2020-06-04 07:14] bennypowers commented on #5961
There's a use case of apollo-client without a bundler that's worth considering here. Buildless workflows and even smaller applications that use unbundled CDN and http2.

I believe post-3.0 ac is moving away from observable, but in the mean time it would be nice to have an all-browser option to cover those use cases.

[2020-06-04 07:19] duarten opened #6384 "`useQuery` doesn't expect a link to return data synchronously"
I have a custom link that maps a query to another, potentially cached query[1]. If the query isn't cached, everything works fine. However, if the query is cached and we return synchronously from the Link, then no data is returned and the query stays in the loading state.

Following the code:
1. In `QueryData::execute()`, `if (this.isMounted) this.startQuerySubscription();` doesn't happen;
2. Then,

[2020-06-04 07:20] duarten commented on #6384
Symptoms seem similar to #2669 and others.

[2020-06-04 08:45] JClackett commented on #2555
@jbaxleyiii i think this needs to be reopened?

[2020-06-04 09:38] eDubrovsky commented on #6334
Have the same problem in `3.0.0-rc.0`. with a simple query:
[code]

After first load `loading=true` then `loading=false`. Open another page and back, query not changed, but `loading=true` again.

[2020-06-04 10:32] reggaemuffin opened #6385 "rc0 breaks our nextjs site"
**Intended outcome:**
We were updating our apollo-client version to v3.0.0-rc.0 and expected it to work

**Actual outcome:**
Any call that used the apollo client timed out, which for us was server side rendered pages. We did not find any errors or log messages.

**How to reproduce the issue:**
We are currently in the process of investigation, but wanted to already alert the apollo-client team of t

[2020-06-04 12:05] eisnstein commented on #6334
I experience exactly the same behavior with `3.0.0-rc.0`.
I did a little investigation and could somehow solve it, but it is not a solution, just could show the origin of the misbehavior:
- on line 227 in `node_modules/@apollo/client/react/data/QueryData.js` I commented out the `if` statement so that the `onNewData()` function always gets called
- restart app
- works like expected

see that commit

[2020-06-04 12:45] vinit-m commented on #2914
I'm getting the exact same issue, the API hits successfully and returns data in network tab (chrom dev tools) but the promise returned by refetch has {data: undefined, errors: undefined, loading: false, networkStatus: 7, stale: false}. This happens when I pass variable (dynamic) in refetch as refetch({ first: 10, filter: { search } })

[2020-06-04 13:12] gtwright commented on #6385
Looks like this ssr issue is reported on the Next repo, too: https://github.com/vercel/next.js/issues/13702

[2020-06-04 13:15] joonhocho opened #6386 "getDataFromTree hangs and is never resolved during SSR"
**Intended outcome:**
getDataFromTree should resolve or reject.

**Actual outcome:**
It hangs and never finishes.

** possible solution **
https://github.com/apollographql/apollo-client/blob/c76804eea2afcd3df4e01d5a8db3ae2c4c553aee/src/react/data/QueryData.ts#L294
When I changed `this.isMounted = true` during SSR, it works as expected.
So, during SSR isMounted never becomes true.

**How to reprodu

[2020-06-04 14:05] riccoski commented on #6358
I also get this with "network-only" and "no-cache" fetch policy and onCompleted not being called.
Works as expected with the default "cache-first" fetch policy.

version:
[code]

[2020-06-04 14:28] joonhocho commented on #6386
This merge seems to be the cause. https://github.com/apollographql/apollo-client/pull/6216
Is there tests to avoid these unintentional bugs?

[2020-06-04 14:47] benjamn commented on #6385
What version were you upgrading from? If you were previously using `apollo-client` (AC2), the new `@apollo/client` (AC3) package is a major update, with a number of absolutely necessary [migration steps](https://www.apollographql.com/docs/react/v3.0-beta/migrating/apollo-client-3-migration/). Hopefully you already know this, but I honestly cannot guess this information from your description.

[2020-06-04 14:49] benjamn commented on #6381
What version of React Native are you using, and on which platform (ios or android) did you see this happening? Is it possible that this version of React Native does not support/polyfill `Promise.prototype.finally`?

[2020-06-04 15:29] reggaemuffin commented on #6385
I was upgrading from beta.50 which was I believe a few days ago.

[2020-06-04 16:12] eDubrovsky commented on #6334
Some update: in my case `loading=true` again if query return empty data like:
[code]
and my query in cache empty and looks like:
[code]

If my array is not empty - all work fine.

[2020-06-04 16:38] SterL commented on #6381
@benjamn we are using `"react-native": "~0.62.0"`. We are experiencing the issue on both ios and android. And I think you may be on to something there. A team member mentioned that he was debugging a feature in the app and found that a `.finally` block was never getting executed. He didn't see any error, but I'm assuming that if he had wrapped it in try catch, it would catch and log the same error

[2020-06-04 16:59] hwillson commented on #6334
Thanks for the great reproduction and details here. This issue is being caused by the way we snapshot and track differences between results, to help prevent unnecessary computations. For example, removing the `isDifferentFromLastResult` call from this line fixes the issue:

https://github.com/apollographql/apollo-client/blob/2d61e5c936c2bcb2aa62f4eb7c6f82b773b962ab/src/core/ObservableQuery.ts#L594

[2020-06-04 21:57] benjamn commented on #6386
@joonhocho Can you try `@apollo/client@3.0.0-rc.1`, which includes #6388?

I think the reason testing didn't catch this is that `getDataFromTree` lives in [`@apollo/react-ssr`](https://github.com/apollographql/react-apollo/tree/master/packages/ssr) rather than this repository, and I merged #6216 without running those tests. So there are tests, and this regression would have been caught one way or

[2020-06-04 21:59] benjamn commented on #6385
@reggaemuffin If the problem has to do with SSR, then I believe #6388 may help (published in `@apollo/client@3.0.0-rc.1` just now). Let us know!

[2020-06-04 22:02] seansfkelley opened #6390 "`MutationFunctionOptions.optimisticResponse` type is too restrictive in typescript 3.9"
**Intended outcome:** the following code compiles with Typescript 3.9.

[code]

**Actual outcome:** tsc rejects the signature of `optimisticResponse`, though it did compile on Typescript 3.7.

[code]

**How to reproduce the issue:**

This can be boiled down to the `| {}` union in `optimisticResponse`.

[code]

[Playground Link](https://www.typescriptlang.org/play/#code/C4TwDgpgBAYgdgHgCoD4oF4oAoBu

[2020-06-04 22:21] dhalbrook commented on #6386
I'm still seeing this issue on 3.0rc.1 as well.

[2020-06-04 23:22] lyonsv commented on #6386
I'm experiencing the same issue with ```3.0.0-rc.1```. I effectively have the same code as in the Next.js Apollo example:

https://github.com/vercel/next.js/blob/master/examples/with-apollo/lib/apollo.js

[2020-06-05 05:23] jemmyphan opened #6391 "useQuery pollInterval props still triggered even after unmount"
**Intended outcome:**
after component is unmounted useQuery pollInteval shouldn't be triggered again.

**Actual outcome:**
useQuery still refetch data even after unmount

**How to reproduce the issue:**
https://codesandbox.io/s/apollo-client-pollinterval-bug-1d0ns?file=/src/App.js

**Versions**
this issue still exist on 3.0.0-rc1

[2020-06-05 09:20] sarakusha commented on #6384
I have a similar problem.
When I use useQuery with SSR,
`getMarkupFromTree => renderPromises.consumeAndAwaitPromises()` <- it will never resolved
because `QueryData::isMounted === false` and see above

[2020-06-05 10:04] darkbasic opened #6392 "Apollo 3.0.0-rc.1 stuck on loading after cache redirects (type policies)"
Latest working version was 3.0.0-beta.54. Since 3.0.0-rc.0 the loading state remains on `true` forever after a cache redirect. This obviously breaks my whole application, but if I omit the checks on the loading state everything seems to work normally from what I can see.

[2020-06-05 10:29] fwojciec commented on #6392
Confirmed here -- I'm experiencing the exact same problem after updating from 3.0.0-beta.43 to 3.0.0-rc.1.

[2020-06-05 10:32] LinusU opened #6393 "Apollo local state: no re-render after resolver resolves with useQuery since 3.0.0-rc.0"
Sorry for the bad title, didn't know how to summarise this any better.

We are using Apollo local state to store shopping carts in our app. After updating to `3.0.0-rc.0` from `3.0.0-beta.54` we had one of our `useQuery` no longer returning any data. By adding some logging, I've managed to get a somewhat clear picture of _what_ is happening, although I cannot understand _why_ or how to make it wor

[2020-06-05 10:46] darkbasic opened #6394 "[Discussion] fetchMore is a bad match with cache redirects (type policies)"
As outlined in a previous comment (https://github.com/apollographql/apollo-client/pull/6350#issuecomment-636176607) cache redirects can be annoying because when you use cache.modify you will have to remember to update the fields which feed the type policy instead of the ones you're actually working on.

Another thing worth mentioning in the docs is that `fetchMore` doesn't also play well with cach

[2020-06-05 10:48] darkbasic commented on #6393
I think this could be a duplicate of https://github.com/apollographql/apollo-client/issues/6392

[2020-06-05 10:49] LinusU commented on #6393
So I did the only sane thing left and decided to use `git bisect` to see which commit broke it, here is the result:

[code]

[2020-06-05 10:50] LinusU commented on #6393
@darkbasic thanks for the comment, subscribed to that one as well. Will continue to investigate here and see if I can submit a fix. If I manage that, we can see if that issue is also resolved 👍

[2020-06-05 11:11] LinusU commented on #6393
ping @grxy, it seems like your commit https://github.com/apollographql/apollo-client/commit/c76804eea2afcd3df4e01d5a8db3ae2c4c553aee maybe relied on some incorrect assumptions about `isMounted`, do you have any ideas on how we can fix this?

[2020-06-05 11:47] vinit-m commented on #2914
I found the issue, I had implemented cache in my apollo client, so whenever I was using refetch it used to get response from the cache. If variables were different it would return undefined. Setting up fetch policy to 'no-cache' in query options (I'm using hooks)  resolved the issue
`
{
variables: { first: 10, filter: { search: '' } },
fetchPolicy: 'no-cache',
}
`

[2020-06-05 14:41] benjamn commented on #6394
I'm sure what you're describing makes perfect sense to you, but it would really help if you could put together a couple of concrete reproductions, so we can move past generalizations and get into the details.

[2020-06-05 14:46] benjamn commented on #6386
Thanks for the updates. Since my attempt to salvage #6216 was not successful, I think it makes the most sense to revert it (along with #6388) for now: #6395.

[2020-06-05 15:14] Ed-Ed opened #6396 "How to improve performance?"
I've identified a performance issue and I'm not sure what's causing it.

Currently my homepage has no queries on it:

The `getDataFromTree` method takes 101ms.
The `renderToNodeStream` method takes 172ms.

If I add a query to the homepage, the methods take longer, as expected, but it's taking much longer than expected:

The `getDataFromTree` method takes 426ms.
The `renderToNodeStream` method take

[2020-06-05 15:14] benjamn commented on #6392
Not to be a broken record, but a reproduction or failing test case would be a big help here!

[2020-06-05 15:36] benjamn commented on #6396
Can you show how you're calling `getDataFromTree`? There's another function called `getMarkupFromTree` that returns a promise for the generated HTML, so you shouldn't have to do an extra render to get the HTML. Perhaps that could help? Also happy to do some performance profiling, given some example code.

[2020-06-05 15:37] SeyedAlirezaFatemi commented on #6354
I'm experiencing the same problem with Apollo client 3.0.0-rc.1. Calling refetch when using lazy query, doesn't set loading to true.

[2020-06-05 15:38] benjamn commented on #6386
Heads up: `@apollo/client@3.0.0-rc.2` is out now, including just #6395.

[2020-06-05 15:44] tilersmyth opened #6397 "Apollo Local State - local child resolver not firing since beta"
Since upgrading from `2.6.10` to `3.0.0-rc.0` (also tried `v3.0.0-beta.54`) local child resolvers are not executing.

**the code**

graphql:
[code]

typeDef:

[code]

resolver:
[code]

Calling resolver:
[code]

**Intended outcome:**

In `2.6.10` this will log:
[code]

**Actual outcome:**

In `3.0.0-rc.0` (and `v3.0.0-beta.54`) this will log:
[code]

**How to reproduce the issue:**
Running the abov

[2020-06-05 15:47] benjamn commented on #6397
Can you try again with `-rc.2` (just published)?

[2020-06-05 15:54] tilersmyth commented on #6397
Just tried with `-rc.2` - child resolver still not executing

[2020-06-05 15:54] benjamn commented on #6397
Ok good to know. If you can put together a runnable reproduction, I'm happy to do the bisecting myself, but I'm curious if there were any beta versions (0-54) that worked.

[2020-06-05 15:56] benjamn commented on #6393
Heads up: we reverted #6216 for now in `@apollo/client@3.0.0-rc.2` (just published).

[2020-06-05 16:38] Ed-Ed commented on #6396
Hi Benjamn, thanks for the reply.

The reason I use `getDataFromTree` rather than `getMarkupFromTree` is because I also use Emotion. Here's an example of how I call `getDataFromTree`:

[code]

I'll try and provide a repo example tomorrow.

[2020-06-05 16:53] darkbasic commented on #6392
@benjamn I think we won't need a repro because it has been fixed by rc2.

Not sure if it was intentional or not so I won't open a separate bug report, but I also noticed that since rc0 you cannot import `Modifier` from `@apollo/client` anymore, instead you have to import it from `@apollo/client/cache/core/types/common`

[2020-06-05 16:53] #6392 closed

[2020-06-05 17:34] tilersmyth commented on #6397
Ugh.. this is totally fine.. and embarrassing.
In the course of creating the repro I realized when toggling between versions my typeDefs and resolvers were not referenced properly on the beta version.

[2020-06-05 17:34] #6397 closed

[2020-06-05 18:05] lyonsv commented on #6386
```getDataFromTree``` has stopped hanging for me now that I've upgraded to ```@apollo/client@3.0.0-rc.2```, however I've a test for my SSR requests that's failing. When I view the page source by navigating to [view-source:http://localhost:3000/](view-source:http://localhost:3000/), my components that use apollo are all in a loading state.

This might be a problem somewhere in my code, the next.js

[2020-06-05 23:09] Jonathannsegal commented on #6019
@schematis, this should be something that is added to the docs even if it is added as a direct dependency.

[2020-06-06 06:15] moneebalalfi commented on #5419
What happened with this issue, please!!

[2020-06-06 07:09] SmallHollow commented on #6358
I've had similar problems as described by others above, with 'no-cache' fetchPolicy and onCompleted not triggering. In my case I'm using useLazyQuery. This behaviour occurs on all releases since beta.46. The latest I've tried is rc.1. Like @bengal75  mentions, going back to beta.45 fixes this problem.

[2020-06-06 08:26] souchi opened #6402 "When using client directives in part in MockedProvider, it doesn't work."
I'm sorry for my poor English.
When using client directives in part in MockedProvider, it doesn't work.

**Intended outcome:**

It's can be execute without error.

**Actual outcome:**

Does't work with the following error.

[code]

But if add all @client or not add all, it works.

[code]

**How to reproduce the issue:**

https://codesandbox.io/s/competent-black-18fnt

**Versions**

  System:
    O

[2020-06-06 10:12] IljaDaderko opened #6403 "apollo link context: Type 'ApolloLink' is not assignable to type 'ApolloLink | RequestHandler'."
**Intended outcome:**
Using `@apollo/link-context` alongside `@apollo/client` should result in no type errors.

**Actual outcome:**
`concat` method of `@apollo/link-context` throws an error

**How to reproduce the issue:**
[code]

**Versions**
[code]

[code]

[2020-06-06 10:23] devdany opened #6404 "subscribed data is only null from apollo pubsub"
I try use pubsub in apollo server & apollo client. but subscribed data is only null.

client dependency
[code]
server dependency
[code]
// apolloClient.ts
[code]

// subscribe.ts
[code]

-server-
onPutUnit.ts
[code]
putUnit.ts
[code]

Is it some problem? subscribe event is normally reached to client when publish. but data is is only null. I can't fine the reason.

[2020-06-06 11:27] darkbasic commented on #6394
@benjamn fine, here is the repro: https://github.com/darkbasic/apollo-gh6394
I've tried to think of an example which makes some sense, like a list of articles with comments. I've created it super fast so there may be some logic flaws, but I've put there some of the issues I'm facing in bigger real world applications.
Let me know if my previous message makes some sense now, otherwise I'll provide m

[2020-06-06 12:52] lyonsv commented on #6386
This looks to be a problem with ```@apollo/client@3.0.0-rc.2```. I've just taken the latest next.js with-apollo example app, and tried upgrading it to use rc.2. You can see the changes I made here: [https://github.com/lyonsv/with-apollo-app](https://github.com/lyonsv/with-apollo-app).

Before making my changes, I could view page source and see the correct markup generated by successfully loading g

[2020-06-06 13:48] darkbasic commented on #6394
@benjamn please refetch, I forgot to add the logic to update the source query in fetchMore.
As you can see things can easily go crazy when you deal with cache redirects. That's why I would love to centralize this logic, maybe extending type policies in order to also handle insertions of new elements/deletions of existing ones: that way if we detect that a new ref is being added to the `comments` q

[2020-06-06 13:57] darkbasic commented on #6394
Basically I want type policies to handle these things:
- Retrieve `article(id)` from `articles`
- Retrieve `comments(articleId)` from `article(id)`
- If a new comment gets added to `comments(articleId)` also add it to the `article(id)` comments field
- If a new comment gets deleted from `comments(articleId)` also delete it from the `article(id)` comments field

Right now type policies handle the f

[2020-06-06 15:08] dhalbrook commented on #6386
We've seen the behavior you describe (data is fetched during the SSR, but the rendering stops after the first loading state is encountered) all throughout the 3.0 alpha cycle, so 3.0.0-rc.2 is simply reverting to what was happening earlier.  It's unclear to me if it's an issue in @apollo/client or in @apollo/react-ssr (we're using 4.0.0-beta.1).

[2020-06-06 17:39] papercuptech opened #6405 "Subscription prematurely closed w/ useSubscription + webpack + react-fast-refresh (plus possible simple fix)"
**Intended outcome:**
When changing JSX of func component that uses `useSubscription`, while webpack-dev-server --hot is running, underlying subscription should not be lost; i.e. source pushes should still result in `useSubscription` causing re-render.

**Actual outcome:**
After first change to func component, source changes pushed no longer cause `useSubscription` to cause re-render.

**How to re

[2020-06-06 23:03] #6404 closed

[2020-06-07 10:07] lyonsv commented on #6386
@dhalbrook are you sure it's been a problem for the whole alpha cycle?

On the repo I've used to produce a test example, it seems to break between `beta.7` and `beta.8`. My last two commits will show the source including a loading when using `beta.8`, and returning the expected markup with GraphQL supplied data in `beta.7`. A quick sample of a few versions before 7 suggest this is a regression in

[2020-06-07 15:29] bizready opened #6409 "Can't find field __typename on object"
I am creating 1 record and add to the cache so that data gets quickly in the UI. It works as expected. I have a scenario in which I need to add many records (meaning the user can create a set of records) to cache so that it will reflect in UI quickly. Record counts maybe 2-4. When I am trying to add 2nd record, it fails with error - `Error: Can't find field __typename on object {
  "id": "7571ef50

[2020-06-07 15:54] enrilchow commented on #6409
When you write cache directly you should explicitly include  __typename in the object to be cached (cuz
if there is a union type the __typename can't be auto resolved).