[2017-03-01 14:51] calebmer commented on #1335
Could you link us to specific places in the code where this happens? Also, does https://github.com/apollographql/apollo-client/pull/1340 change this at all?

[2017-03-01 14:55] calebmer commented on #1337
I still don’t think we need a `fragmentMatcher` with a better design of the store as I have discussed with @helfer. If we add `__typename`s to paths in the store, so for example `ROOT_QUERY.search.foo` becomes `ROOT_QUERY.search:Human.foo:Foo` or `ROOT_QUERY.search:Driud.foo:Foo` I don’t see how this could be a problem.

[2017-03-01 14:58] calebmer commented on #1342
Also see: https://github.com/apollographql/apollo-client/issues/1300

cc @wmertens

[2017-03-01 14:59] calebmer commented on #1342
Could you give a few more details @michalkvasnicak? This is something we want to be fast. How slow was it?

[2017-03-01 15:11] wmertens commented on #1342
@calebmer forgive me, but I feel like your team does not fully grasp how slow denormalization is.

The really nice thing about Apollo is that you can pretend that server data just floats into your app without any effort on your side. That's great.

However, if you make for example a table that shows 20 rows, and each row needs to grab a small-ish cached query, that can easily take 30ms per row, or

[2017-03-01 15:14] calebmer commented on #1343
It looks like [someone](https://github.com/apollographql/apollo-client/blob/f9e92d19fd9a8279cda77e3b15b6d77a0a56bece/src/transport/batchedNetworkInterface.ts#L62) predicted this would happen 😊

Try adding:

[code]

Which calls this [`stop`](https://github.com/apollographql/apollo-client/blob/f9e92d19fd9a8279cda77e3b15b6d77a0a56bece/src/transport/batching.ts#L102-L106) method which clears an interv

[2017-03-01 15:14] calebmer commented on #1343
Let us know if this does not fix your issue 👍

[2017-03-01 15:14] #1343 closed

[2017-03-01 15:16] calebmer commented on #1346
The great thing about React Router 4 is that it is basically just React! Apollo Client integrates cleanly with React and therefore with the rest of the React ecosystem, including React Router v4 which we are very excited about 😊

Please let us know if there are specific integrations you would like to see!

[2017-03-01 15:16] #1346 closed

[2017-03-01 15:29] calebmer commented on #1342
@wmertens reads are unfortunately way to slow, that we understand. My first attempt to improve store performance was https://github.com/apollographql/apollo-client/pull/1258, but we put that effort on the back-burner to focus on getting out a 1.0 release. Once we feel comfortable with a 1.0, this is a problem that I feel is incredibly important for us to address.

I agree and recognize the unfortu

[2017-03-01 15:30] calebmer commented on #1343
Another option is to use the `--forceExit` flag: https://github.com/facebook/jest/issues/1456

[2017-03-01 15:36] wmertens commented on #1300
Thinking some more on what I propose above:

* it won't quite work with sub-queries that have different variables. You can have a shared query result between two queries but different variables in sub-queries, so those need to be stored in the cached query.
  * `query {a { id b(foo: 1){id bar} boop }` and `query {a { id b(foo: 2){id bar} boop }` can share `a` but `b_foo1` and `b_foo2` need to be s

[2017-03-01 15:57] thomassuckow commented on #1335
https://github.com/apollographql/apollo-client/blob/9061b62c27395c06fa3262916cc11ff5ba1fc932/src/core/QueryManager.ts

`${e.stack}`

[2017-03-01 16:08] calebmer commented on #1335
Ok, I addressed the two in that file: https://github.com/apollographql/apollo-client/pull/1347

Let me know if you find any more 👍

[2017-03-01 18:16] fubhy commented on #1337
Clever idea. I think I understand what you are trying to do but I believe that this would still potentially leave us with one remaining issue in some cases. Note: I did not have a close look at the read/write logic in the store yet so I might be missing something here ...

You can write the following query in different ways:

[code]

[code]

By the way: It's a valid query to ask for identically na

[2017-03-01 20:23] dallonf commented on #1141
OK, created the PR!

[2017-03-01 20:46] kolpav commented on #1314
@helfer @calebmer
Could you please show me some basic example how to detect `fetchMore` in flight status?
I must be doing something wrong but I never get `3` network status I go from `1` directly to `7`

[2017-03-01 20:54] colophonemes opened #1349 "Reset store by dispatching action (e.g. in Saga)"
Is it possible to trigger the equivalent of `client.resetStore()` by dispatching an action to the store? E.g. from a [saga](https://redux-saga.github.io/redux-saga/docs/api/index.html)?

For example:

[code]

Dispatching the action in this way currently doesn't do anything (presumably because it needs `observableQueryIds` to be set), and I'd be missing the things that [`QueryManager.resetStore()`]

[2017-03-01 20:56] helfer commented on #1314
@kolpav which version of Apollo Client are you using? And do you have an example of your code?

[2017-03-01 21:03] kolpav commented on #1314
@helfer I am at `0.10.0` my code might be a bit chaotic as I am still playing with apollo but anyway here it is
[code]
[code]

[2017-03-01 22:01] helfer commented on #1335
Just merged the PR, should be fixed in the next release!

[2017-03-01 22:01] #1335 closed

[2017-03-01 22:28] fubhy commented on #1297
I am discussing the same issue here: https://github.com/apollographql/apollo-client/issues/1337

[2017-03-01 23:18] helfer commented on #1314
@kolpav I think you still have to use the `notifyOnNetworkStatusChange` option for this query. Probably something we should change, along with deduplicating queries by default.

[2017-03-01 23:20] helfer commented on #1349
@pseudoramble currently this is not possible because some Apollo internal state needs to be updated as well. There's no fundamental reason why it couldn't be done, we just didn't implement Apollo Client in a way that makes this particular thing easy.

[2017-03-01 23:54] colophonemes commented on #1349
No problems, thanks for the info (I realise now that I probably should have asked this on [react-apollo](/apollographql/react-apollo) — I'll close this and reopen an issue there).

For anyone else attempting a similar thing, my interim solution is to use a dummy route that resets the store before the component mounts. Not super clean, but gets the job done:

[code]

[code]

[2017-03-01 23:54] #1349 closed

[2017-03-02 01:40] pseudoramble commented on #1303
That's a good point @helfer. I don't think there is much that can be modified on a Response object itself. It does look lie you can return different kinds of Response's from it (like a redirect) but that creates a new Response object.

The other case I could think of is if the user throws an error that they want to use instead of the `batchedNetworkInterface` error with the response that gets thro

[2017-03-02 02:19] tomitrescak opened #1352 "applyBatchMiddleware: Documentation"
Guys, you have rolled out some modifications to batchednetwork interface that broke my existsing functionality. I'm trying to find where it is documented.

The error I'm getting is:`Batch middleware must implement the applyBatchMiddleware function`

I looked at the web docs, in source and PR's but it's quite confusing what kind of middleware you are expecting.

[2017-03-02 02:47] tomitrescak commented on #1352
OK. It's a simple rename of applyMiddleware

[2017-03-02 02:47] #1352 closed

[2017-03-02 02:49] tomitrescak commented on #1186
Hi, just following up. This is still persistent in 0.10.0 after the brand new batchingnetworkinterface. Can I somehow help? I just don't know where to start and what to watch for.

[2017-03-02 05:15] dbrrt opened #1353 "Handling events from a SSR Generated view"
Hello,

I don't if that's an intentionally missing feature but when I render (following this guide : http://dev.apollodata.com/react/server-side-rendering.html#local-queries, ) my React components on the server, I lose onClick attributes. Maybe that's totally acceptable and normal?

[code]

Is that possible to overcome that with a specific configuration or I should continue rendering my views Clie

[2017-03-02 06:05] kolpav commented on #1314
@helfer `notifyOnNetworkStatusChange` sounds like something I really need to use 😄 . Thanks totally missed that.

[2017-03-02 09:57] alex-kon-turner commented on #1297
Great, will follow it there.

[2017-03-02 09:58] alex-kon commented on #1297
Great, will follow it there.

[2017-03-02 11:07] schickling commented on #1186
Can confirm. This is really a severe problem for us using Apollo Client. Is this somewhat on your roadmap for 1.0 @helfer?

[2017-03-02 12:56] OllieJennings commented on #1346
@calebmer Thanks for the response, just a quick query.

Currently in the Apollo Client SSR examples, you make use of `match` which is available in react-router 3.

In react-router 4, it appears like match no longer exists (from what l have seen), and instead you must use `StaticRouter`.

How would you implement the Apollo Client with the StaticRouter?

is it simply:

[code]

If so, how do you perf

[2017-03-02 12:58] MiMaMuh commented on #1237
@ne8il I have the same issue with meteor 1.4.2.7 and apollo-client > 0.8.x. Do you found any fix?

[2017-03-02 14:20] ne8il commented on #1237
@MiMaMuh I did not. I tried running kamilkisiela's fix listed above. His sample project runs for me fine locally, but importing those deps into my own meteor project doesn't fix it. I kind of put that on the back burner so I will try again and see if anything's changed.

[2017-03-02 16:06] Poincare commented on #1300
@wmertens This approach does sound interesting, especially when you are dealing with lists of objects returned. Our current approach there is O(n) but this should give us an O(1) read for the list. To clarify, if you have one query that returns a list of, say, to-do items and another query returns an update to a specific to-do item (with a particular id), then we'd only be storing one "real" objec

[2017-03-02 16:23] n0ne opened #1354 "Error after update apollo-client to 0.10.0"
Hi.
Today I updated apollo-client in my test Meteor app from 0.9.0 to 0.10.0.
And now in my Chrome console:

Uncaught Error: Batch middleware must implement the applyBatchMiddleware function
Meteor apollo ver. 0.4.1
apollo-client ver. 0.10.0
react-apollo ver. 0.13.0

And only one row:

const client = new ApolloClient(meteorClientConfig())
What I have to change?

GraphiQL is normally working...
Dow

[2017-03-02 16:33] wmertens commented on #1300
Yes, that's right

On Thu, Mar 2, 2017, 5:06 PM Dhaivat Pandya <notifications@github.com>
wrote:

[2017-03-02 16:48] timsuchanek opened #1355 "Expose connectionParams of subscriptions-transport-ws to subscribeToMore"
The `connectionParams` that you can specify in the [subscriptions-transport-ws#connectionParams](https://github.com/apollographql/subscriptions-transport-ws#constructorurl-options-connectioncallback), are essential if you want to have Authorization with subscriptions.
If I see it right, currently you can't pass them in into `subscribeToMore`.

Is that something on the roadmap? Otherwise I might do

[2017-03-02 21:32] calebmer commented on #1346
You use `renderToStringWithData` instead of `renderToString` from `react-dom/server` 😊

[2017-03-02 23:35] tomitrescak commented on #1186
@schickling a temp solution for now (unless you are using streaming data) is to check for existence of data in the "data" property, and not the "loading" property. But yes, a systematic solution would be helpful.

[2017-03-03 00:36] twelvearrays commented on #1186
@tomitrescak This is what I am doing also.

[2017-03-03 01:09] hugofelp commented on #940
What's the current way of using fragments with vanilla js?

I tried following [this part of the documentation](http://dev.apollodata.com/core/fragments.html), but it seems to be outdated.

I also tried the solution pointed out by @tmeasday, but that doesn't work for me because I am not using graphql lib directly, and there seems to be no way to reference fragments from a query initiated by an Apol

[2017-03-03 03:38] helfer commented on #1186
@tomitrescak @schickling  I want to make sure this gets fixed, but it's a bit difficult without any reproduction. Even an indeterministic one would be better than nothing. Can one (or both) of you try creating a reproduction with https://github.com/apollographql/react-apollo-error-template?

[2017-03-03 05:02] tmeasday commented on #940
@hugofelp I'm not sure there's anything in [this documentation](http://dev.apollodata.com/react/fragments.html) that is all that react-specific, apart from the fact that you store the fragment on the React component.

I'm not sure what you mean by "I am not using graphql lib directly"?

[2017-03-03 08:49] OllieJennings commented on #1346
@calebmer thank you so much, l feel like an idiot now!

[2017-03-03 10:14] Siyfion commented on #1354
@n0ne I think the issue stems from the `meteor-integration` package, specifically these bits: https://github.com/apollographql/meteor-integration/blob/8fbbc84c8d289101e00c19358086bd0e457001ba/main-client.js#L67-L71

[2017-03-03 10:52] schickling commented on #1186
I'll try to come up with a minimal example over the weekend. Maybe @tomitrescak can provide one earlier?

[2017-03-03 11:48] xavcz commented on #1354
Actually these bits are here for handle that if you are using a batching or a network interface :)

The batching interface expects a `applyBatchMiddleware` function.
The network interface expects a `applyMiddleware` function.

See https://github.com/apollographql/apollo-client/pull/1285/files 👍

To discuss the way `meteor/apollo` handles that, let's move the discussion in the [meteor-integration r

[2017-03-03 14:56] twelvearrays commented on #1186
In my current project which is built in React Native on iOS. We link to business websites based on the users location.  I have noticed that when I go to a business website from the app and Apollo polls for updates while the app in not in the foreground then return to my app is normally when the loading variable is not set to false even though I have all my data.   This does not always happen but i

[2017-03-03 17:19] mistic commented on #1268
@smolinari No :( This is an implementation for the graphql-server. What I need is an implementation for the Apollo-client be able to connect to a graphql-server over websockets instead of http and make the requests to for example ws://localhost:8080/graphql. So I'll be able to send graphql queries to this ws address and also send subscriptions to the same websocket address.

[2017-03-03 17:26] mistic opened #1359 "apollo-client with mobx store"
Hi guys,

It's possible to use apollo-client with an app currently using mobx store?
What's the problems and difficulties that can/will appear in the future?

Regards

[2017-03-03 21:34] helfer commented on #1354
Closing here, since it should go on the meteor-integration repo.

[2017-03-03 21:34] #1354 closed

[2017-03-03 22:46] fubhy commented on #1337
I submitted https://github.com/apollographql/apollo-client/pull/1360/files with the query transform I created (introspection at runtime). Obviously that is not ideal and we need to find  a better solution.

[2017-03-04 05:27] smolinari commented on #1268
@mistic - ah yes. Sorry. Not sure what I was thinking.

Maybe this might give you some ideas. https://github.com/rgraphql/soyuz

Scott

[2017-03-05 00:31] petejkim commented on #1303
Right now this bug is preventing afterware from getting invoked even if there is no JSON parse error. I am correctly returning `[{"data":{},"errors":[{"message":"jwt expired"}]}]` with 401 status code.

[2017-03-05 06:04] helfer commented on #1303
@petejkim I've merged the PR, and the fix will be shipped when the first RC is released early next week!

[2017-03-05 23:36] bgentry opened #1363 "Interface query with conditional fragments breaks after v0.8.7"
**Intended outcome:**

I have a query like this in my app:

[code]

Expected outcome is that this query just works with a `watchQuery`.

**Actual outcome:**

While upgrading ember-apollo-client to the latest apollo-client (and my app that uses it), I encountered a specific route that broke during the upgrade. The `watchQuery` observable's `next` function gets called with `data: undefined` and `sta

[2017-03-06 00:10] jurajkrivda opened #1364 "Apollo resetStore() refetch all queries"
I use it with React Native
[code]

after call client.resetStore() I see Apollo refetch some queries. Why?

[2017-03-06 05:18] helfer commented on #1129
I'll close this for now.

[2017-03-06 05:18] #1129 closed

[2017-03-06 05:33] helfer commented on #1363
Hi @bgentry! Thanks for the excellent bug report. I think I know where the issue comes from. Am I right in guessing that in order to make it work pre 0.9 you had to pass `returnPartialData: true`?

Can you share the piece of the schema that defines `Item`, `SpecialItem`, `ExtraSpecialItem` and their relationship? Or if you could write a failing test case that reproduces this issue, that would be e

[2017-03-06 05:42] bgentry commented on #1363
Nope! The call to `watchQuery` has no arguments other than `{ query }`.

Also just realized that I was mistaken earlier. It's not a Union, it's an Interface type. Have been away from GraphQL for a few weeks :flushed:

While it's not a reproduction, this sort of schema (excerpt from the Star Wars schema) should be enough to reveal the issue:

[code]

And then the following query:

[code]

[2017-03-06 06:04] Poincare commented on #1364
The idea is that reset store is meant to clear out information from your store, but you may have `watchQuery()` instances (i.e. active queries) that are subscribed to information from the store. If we were to reset everything without fetching new information, those queries would break. So, `resetStore` actually refetches those queries.

I just noticed that [resetStore is undocumented](http://dev.a

[2017-03-06 07:36] helfer commented on #1363
@bgentry I have a hunch that this schema and query with a single fragment won't be enough to reproduce the issue, because if all the data for that fragment is in the store, it should work (I'm pretty sure we test that exact case). As far as I know the fragment matching currently eagerly matches everything, so if the data is in the store, it will be returned.

I suspect that the error you observed

[2017-03-06 07:49] helfer commented on #1364
cc @calebmer. Can you also document `resetStore()` while you're working on the docs? Thanks!

[2017-03-06 08:52] jurajkrivda commented on #1364
I think I have an issue with React Native Router Flux.

[2017-03-06 09:19] jacobk commented on #1213
I had this same issue on a project based on [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate) and fixed it by changing the `webpack.base.babel.js` to:

[code]

[2017-03-06 10:01] GGAlanSmithee commented on #1213
@jacobk yeah, forgot to update this issue, but eventually, I also boiled it down to be a problem with the `fetch` injection. My solution was to remove `fetch` from `webpack.ProvidePlugin` and instead inject it explicitly on the server;

`import 'isomorphic-fetch'`

[2017-03-06 11:43] dmatejka commented on #593
is there anything new on this topic?

[2017-03-06 16:04] bgentry commented on #1363
I'll look more closely at the server response and see if there's anything
unusual like that going on. Otherwise I'll see if I can put together an
actual reproduction.

On Sun, Mar 5, 2017 at 11:36 PM Jonas Helfer <notifications@github.com>
wrote:

[2017-03-06 18:21] bgentry commented on #1363
@helfer the server appears to be returning all requested fields. All of the expected data is in the store (confirmed with the Apollo Chrome extension and the Redux extension).

I played around with the server to limit the types of objects returned, and I narrowed it down substantially. My interface has two implementation types. One of them adds extra fields, the other contains only the fields in t

[2017-03-06 19:12] helfer commented on #1359
Apollo Client will work just fine with your mobx application, even if the GraphQL data isn't stored in Mobx but in Apollo's own Redux store. Redux is a very small library, so the additional dependency shouldn't matter. No matter which kind of state management solution you're using, you don't have to care about what type of store Apollo Client uses, unless you want to manipulate it directly (which

[2017-03-06 19:24] helfer commented on #593
@dmatejka This is not going to be part of 1.0, but after that we're going to start working on making the store API external so any store can be plugged in. I expect it to be ready for public testing in about three weeks to one month.

[2017-03-07 01:04] stubailo commented on #1300
@wmertens could you provide an example of a single query and dataset so that we could test out different reading/writing methods?

[2017-03-07 01:08] alejandronanez commented on #1247
This was closed on #1248 right?

[2017-03-07 01:18] calebmer commented on #1247
Yep! Should be. Thanks for pointing it out @alejandronanez 😊

[2017-03-07 01:18] #1247 closed

[2017-03-07 02:37] alejandronanez commented on #1219
I'll go and take this one!

[2017-03-07 05:16] helfer commented on #1219
@alejandronanez sorry, I actually just fixed that a few days ago! I just didn't remember to close this issue. Thanks for the interest though! Would you be interested in working on some other small bug/ feature? 🙂

[2017-03-07 05:16] #1219 closed

[2017-03-07 09:32] marktani commented on #51
Any news on this? This is pretty important in my opinion :slightly_smiling_face:

[2017-03-07 12:11] greenkeeper[bot] opened #1373 "An in-range update of uglify-js is breaking the build 🚨"
## Version **2.8.8** of [uglify-js](https://github.com/mishoo/UglifyJS2) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fuglify-js-2.8.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglify-js
    </td>
  </tr>
  <tr>
    <th align=

[2017-03-07 12:49] timsuchanek opened #1374 "Partial Data/Error Responses"
Currently, if the result payload of a query contains errors, the whole result is rejected ([here](https://github.com/apollographql/apollo-client/blob/0d4fe2c850ee86f260ec30f9f68b866f5d6ba797/src/core/QueryManager.ts#L961) and then [there](https://github.com/apollographql/apollo-client/blob/0d4fe2c850ee86f260ec30f9f68b866f5d6ba797/src/core/QueryManager.ts#L999)).

At Graphcool, we often times need

[2017-03-07 13:44] rmosolgo opened #1375 "feature idea: send "operationName" only"
I've been experimenting with [an approach to static queries](http://rmosolgo.github.io/blog/2017/03/07/persisted-graphql-queries-with-ruby/) based around a _single_ server-side document whose operations are invoked by name from clients.  In this approach, the client doesn't even have access to the query string, _only_ the operation name!

I'd like try supporting this with Apollo Client but I didn'

[2017-03-07 13:44] rmosolgo commented on #1375
Just while I was writing that up, I realized, what if I send an `operationName` with a _blank_ query ... let me give that a try!

[2017-03-07 14:00] michalkvasnicak commented on #1342
@calebmer Sorry for late response. I don't have any benchmark or charts from profiler. But in our app it caused to delay render of the new route from few ms to 2-3 seconds. When I switched it to GraphQLJSON it was performing as expected (fast).

I think that something like `dataIdFromObject()` but for determining if given data should be denormalized could help. Of course with different name.

[2017-03-07 15:08] rmosolgo commented on #1375
Oops, it was kind of a dead end. I assumed that `operationName` was accepted by `Client.query`, but  [it's not actually there](http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient\.query) 😬

Sure enough, passing an operation name:

![image](https://cloud.githubusercontent.com/assets/2231765/23662328/3358b83a-031d-11e7-9b0a-f2845dda2c31.png)

Doesn't get forwarded to the server:

![im

[2017-03-07 21:59] abcd-ca opened #1376 "When a mutation's promise resolves, how can I get the http status of the response?"
Is there a way to get the http status code of a graphql mutation? I need to handle 401s and other error codes.

[2017-03-07 22:16] helfer commented on #1375
@rmosolgo Apollo Client still needs the query to read from the cache, but I think it should be possible to build a middleware that strips out the query and only sends operationName and variables. Have you tried that? If there's something blocking that, there's probably a minor change we could do in the network interface to enable that 🙂

[2017-03-07 22:34] stubailo commented on #1375
Why send an operation name instead of an ID? I feel like you need to be able to change a query over time, while keeping the same operation name.

[2017-03-07 22:37] wmertens commented on #1300
@stubailo I gave @helfer a private link to a project to test things in, is that ok?

[2017-03-07 23:15] rmosolgo commented on #1375
That's just it! I think using operation name supports that nicely.

Let's say you design the `ItemsList` component and the `GetItems` query, then you deploy.

People load your page and store the component & query in JavaScript memory.

Now, you want to improve the UI and your improvement will need more data. How can you support the new-and-improved UI _and_ the already-deployed UI? (Same question

[2017-03-07 23:36] stubailo commented on #1375
I don't think so - the idea is that you would store all current and past queries in a database. So every time you modify the query, you save it to your database again, and generate a new unique ID. There is never any chance of a breaking change since you simply never modify the queries.

The extracted queries JSON is not meant to be the only thing you use - it's simply the output of the tool. The

[2017-03-07 23:57] daniman commented on #1099
@helfer can we bump this? :)

For transient errors that are acceptable while polling, like network errors, it'd be nice if AC continued to poll and handled those errors elegantly. For cases where you'd want to display a network error toast or something, we could expose the state/error on the network status that indicates that the query is not actively polling successfully.

[2017-03-08 00:24] Poincare commented on #1375
@stubailo ++.

It doesn't make any sense for anyone to use the JSON output in production usage because you'd have to load the entire set of queries into your server response process in order to do a lookup. Most people will probably place their queries into a database/KV-store and be much better off.

[2017-03-08 01:53] rmosolgo commented on #1375
Thanks for clarifying that usage info! I saw the example under ["Server-side"](https://github.com/apollographql/persistgraphql/blob/31fbbb88eb681ecafbeda7f1d1ab7f2c294272c5/README.md#server-side) and thought that it was suggested suggested usage. Are there any examples of a database-backed setup like that? Obviously I have some more reading to do!

And thanks again for pointer towards middleware.

[2017-03-08 01:53] #1375 closed

[2017-03-08 02:01] swhamilton opened #1378 "Authentication strategies/examples"
What's the best methods for authentication for GraphQL/Apollo at this time? I know it all depends on my app/specific business requirements, but I'm curious what the Apollo community is using.

From what I can tell, there are the following methods for GraphQL/Apollo auth:

- Use JWTs and pass along the token in the header:
http://dev.apollodata.com/react/auth.html#Header
https://www.npmjs.com/packa

[2017-03-08 11:10] rovansteen opened #1379 "Having fragments in a query causes fetchMore to not update the component"
Okay so I'm running in a weird issue. I am using the `fetchMore` method to implement a simple pagination and that works fine. But then I started moving bits of the query in to fragments and it broke. After investigating this I found that the query itself is executed fine, with the right fragments and parameters. The server also has no problems to return the data just like expected. And with the de

[2017-03-08 11:21] rovansteen commented on #1379
By the way I don't know exactly what causes this problem, so not sure if this belongs here or in react-apollo.

I also noticed that when calling `refetch` the same issue occurs, updating component works fine without fragments, breaks with fragments.

[2017-03-08 16:19] manuelfink opened #1381 "How to make apolloclient request withCredentials?"
I'm having issues that cookies are not updated with the graphql request having hard times authenticating and saving the token in a cookie.

Is it anyhow possible to tell apollo-client to request withCredentials? Or is it doing this by default and the problem lies anywhere else?

The following seems not to work?
[code]

[2017-03-08 16:42] stubailo commented on #1381
Pass it as an option to "createNetworkInterface" next to "uri".

[2017-03-08 16:51] manuelfink commented on #1381
Just realized console.log(req.options); shows that withCredentials is already set to true without applying it in middleware.

Passing it in createNetworkInferface / createBatchingNetworkInterface  as withCredentials: true results in an typescript error. credentials also seems not work:

[code]

Argument of type '{ uri: '/graphql',  withCredentials: true,  batchInterval: 10 }' ist not assignable to

[2017-03-08 16:52] Urigo commented on #1355
@timsuchanek is it possible that your scenario is being handled [here](https://github.com/apollographql/subscriptions-transport-ws/pull/78#issuecomment-285071402)?

[2017-03-08 16:52] ssomnoremac opened #1382 "[React Native] v37- Unmet peer dependency"
RN37
```npm install apollo-client react-apollo graphql-tag --save```

[code]
attempt to resolve

    npm install react@^15.4.2 --save
    react-native@0.37.0 requires a peer of react@~15.3.1 but none was installed.

[2017-03-08 16:54] stubailo commented on #1381
My mistake - was on mobile: https://github.com/apollographql/apollo-client/blob/9e8662ca0684bd04541d2e9b5bc896c9ecb3cba5/src/transport/batchedNetworkInterface.ts#L221

[code]

Looks like it would be:

[code]

So, looking up at https://developers.google.com/web/updates/2015/03/introduction-to-fetch#sending_credentials_with_a_fetch_request

Looks like it's documented here btw: http://dev.apollodata.

[2017-03-08 16:54] #1381 closed

[2017-03-08 18:33] ssomnoremac commented on #1382
rolled react-dom back down to 15.3.2

    npm install react-dom@~15.3.2 --save

[2017-03-08 18:33] #1382 closed

[2017-03-08 19:02] helfer opened #1384 "fetchMoreResult shouldn't have data property"
In the  `updateQueries` function of `fetchMore`, `fetchMoreResults` has a `data` property, but `previousResult` doesn't. We should hoist the properties in `fetchMoreResults`.

[2017-03-08 19:32] stubailo commented on #1375
@rmosolgo let me know if you want to jump on a call or something and work through it! I think having support for this in graphql-ruby would be awesome.

[2017-03-08 20:07] thebigredgeek opened #1385 "`fetchDataFromTree` can fail if using apollo afterware to clone response stream on large responses"
From https://github.com/bitinn/node-fetch/issues/151

This isn't a bug with apollo per se, but it is probably something worth at least mentioning in the docs as a combination of large responses, gzip, and `response.clone` in afterware seems to cause a really difficult-to-track-down bug if the graphql response size is larger than a platform-specific limit (NodeJS's default buffer size is smaller th

[2017-03-08 21:49] thebigredgeek commented on #1385
Here is the afterware:

[code]

I suppose it could be that either `response.clone().json()` is not resolving, or that the original response that apollo-client hooks into is not resolving.

[2017-03-09 06:26] cncolder opened #1386 "How to rollback optimisticResponse after mutation return a rejected promise"
**Intended outcome:**

Drop optimistic response if error.

**Actual outcome:**

Apollo only dispatch `APOLLO_MUTATION_INIT` but not `APOLLO_MUTATION_RESULT` and leave optimistic response there.

**How to reproduce the issue:**

[code]

[2017-03-09 10:37] nandito commented on #1384
I'm not sure if I understand it properly, but it seems to me that the `updateQuery`'s `previousResult` is basically the same as `fetchMoreResult.data`. The additional elements in the `fetchMoreResult` object are the `loading` and the `networkStatus`.

Here is an example from an implemented pagination:
[code]

This shows the following log:

previousResult:
[code]

fetchMoreResult:
[code]

So the go

[2017-03-09 13:59] calebmer commented on #1036
Implemented in https://github.com/apollographql/apollo-client/pull/1310 🎉

[2017-03-09 13:59] #1036 closed

[2017-03-09 14:10] thifranc opened #1387 "ResetStore blocks data.loading when data fetched is the same"
Hi !

I'm currently working on a project where I need to handle different languages.
When a user swap from French to English, I change the graphql URI and i reset my apollo store in order to update my data :
[code]
When the freshly fetched data is different from the old one, there is no problem, my component re-render with the freshly fetched data.
But, if the freshly fetched data is the same as t

[2017-03-09 14:26] thifranc commented on #1387
I've juste seen that this issue is referencedby  #1186 I'll post my comment there

[2017-03-09 14:26] #1387 closed

[2017-03-09 14:26] thifranc commented on #1186
Hi !

I'm currently working on a project where I need to handle different languages.
When a user swap from French to English, I change the graphql URI and i reset my apollo store in order to update my data :
[code]
When the freshly fetched data is different from the old one, there is no problem, my component re-render with the freshly fetched data.
But, if the freshly fetched data is the same as t

[2017-03-09 16:26] cncolder commented on #1386
After half day to search in codes. I have a question about `QueryManager.mutate`

[https://github.com/apollographql/apollo-client/blob/v1.0.0-rc.0/src/core/QueryManager.ts#L279](https://github.com/apollographql/apollo-client/blob/v1.0.0-rc.0/src/core/QueryManager.ts#L279)

[code]

[2017-03-09 16:34] greenkeeper[bot] opened #1388 "An in-range update of request is breaking the build 🚨"
## Version **2.81.0** of [request](https://github.com/request/request) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Frequest-2.81.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      request
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-03-09 17:48] bgentry commented on #1363
I added a failing test here: https://github.com/apollographql/apollo-client/compare/master...bgentry:failing-interface-test

It actually fails with a timeout, which is not what I expected, but afaict the test is written correctly:

[code]

 I got the same result when using the actual query and response data that causes a failure in my app.

[2017-03-09 18:18] thebigredgeek opened #1389 "QueryObservable `currentResult` behavior seems to be buggy"
QueryObservable returned from `client.subscribe` seems to assign the immediate query result (from `APOLLO_QUERY_RESULT` to `lastResult` and returns an empty object from `currentResult` immediately following.

This seems to break [react-apollo here](https://github.com/apollographql/react-apollo/blob/master/src/graphql.tsx#L533).

This bug appears to express itself only in areas of our app where we

[2017-03-09 19:06] helfer opened #1391 "Help improve Apollo Client by contributing use-cases!"
Dear friends, contributors and users,

We've been building Apollo for almost a year now, and we have a pretty good idea what we and the most active contributors need from a good GraphQL client.

However, there are also plenty of use-cases that we think a good GraphQL client should support that we don't have ourselves. We could try to optimize for what we _think_ you want to do with it, but that wo

[2017-03-09 19:19] helfer commented on #1363
@bgentry Yay, thanks!

A thought I had yesterday is that I think this should also fail if we do the store roundtrip and then assert that `isMissing` is false I don't know if the `storeRoundtrip` function exposes that, so we may have to write a modified store roundtrip test.

[2017-03-09 19:44] thebigredgeek commented on #1391
@helfer We are planning to write robust content around apollo-client within the next couple of weeks.  Ping me on slack and we can talk about collab and co-publishing

[2017-03-09 19:45] thebigredgeek commented on #1391
@helfer want me to write about Large queries and Large Responses? haha.

[2017-03-09 21:35] thebigredgeek opened #1393 "`loading` is true when invoking fetchMore"
Encountered this bug today.  It looks like `loading` is set to true when using fetchMore, even while `networkStatus` !== `1`

[2017-03-09 21:50] jbinto commented on #657
@cramatt Just a guess, but perhaps you need to rethrow the error so something downstream in apollo can catch and handle it?

[2017-03-09 22:03] helfer commented on #1393
I think that's actually what the docs say. It's better to use `networkStatus` directly and not rely on loading. If enough people think that loading shouldn't be true in that case, we can consider changing it.

[2017-03-09 22:03] #1393 closed

[2017-03-10 00:01] helfer commented on #1388
I need to fix these intermittent build failures on CI 🔧

[2017-03-10 00:01] #1388 closed

[2017-03-10 00:01] #1373 closed

[2017-03-10 00:02] helfer commented on #1376
@abcd-ca The most common way to get http status codes on the response is to use an [afterware](http://dev.apollodata.com/core/network.html#networkInterfaceAfterware). Would that work for your use-case?

[2017-03-10 00:04] helfer commented on #1385
Thanks for the careful writeup @thebigredgeek. I don't think there's anything we can do from the Apollo Client side, but it's useful to have this documented in the issues! 👍

[2017-03-10 00:04] #1385 closed

[2017-03-10 00:08] helfer commented on #1374
Hey @timsuchanek ! This is definitely on our radar. We already have a couple of issues on this, one of which is here: https://github.com/apollographql/apollo-client/issues/51

It's something we'd like to do, but it's not on the top of our list of priorities right now. We'd be happy to accept a PR though that makes the result and errors available without messing up the store. I think error paths mi

[2017-03-10 00:08] #1374 closed

[2017-03-10 00:11] helfer commented on #1353
@dbrrt That's somewhat surprising. Unless it's a limitation of React SSR (which I find hard to believe) it should still work.

[2017-03-10 00:35] unkleho opened #1394 "IE10 issue with findIndex on retQuerySubscription in ObservableQuery.ts"
Hi Apollo Team,

Just having an issue with this line here in IE10:
https://github.com/apollographql/apollo-client/blob/master/src/core/ObservableQuery.ts#L432

IE10 shows:
```SCRIPT438: Object doesn't support property or method 'findIndex'```

I got it working by adding the polyfill from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/findIndex

Not sure what

[2017-03-10 00:35] dbrrt commented on #1353
I found the answer there : http://stackoverflow.com/questions/36323336/onclick-handler-not-registering-with-reactdomserver-rendertostring
It needs to be rendered client side also.

[2017-03-10 00:35] #1353 closed

[2017-03-10 00:47] helfer commented on #1394
Thanks @unkleho ! I think IE 10 has less than 0.5% market share now, so this is not high priority for us to fix. However, I would definitely accept a PR that uses something other than `findIndex`. 🙂

[2017-03-10 00:47] #1394 closed

[2017-03-10 01:41] helfer opened #1395 "Make sure FetchPolicy typings are exported from index.ts"
So other libraries can import the definition.

[2017-03-10 02:14] helfer commented on #1386
@cncolder The code looks correct to me. Are you sure `APOLLO_MUTATION_ERROR` is not dispatched?

[2017-03-10 02:23] helfer commented on #51
@marktani it's not high on our list of priorities, but we're definitely open to a PR. What makes this tricky is having predictable and identical results when hitting the cache vs. requesting from the server. I don't really know what the right solution there is, so it would help to have a couple of real-world use-cases so we can weigh the pros and cons of each option. Maybe you could describe your

[2017-03-10 03:21] cncolder commented on #1386
APOLLO_MUTATION_ERROR only dispatched when network error (fetch error). If server throw a business logic error. It's not dispatch.

[2017-03-10 03:55] helfer commented on #1186
@schickling did you manage to build a minimal reproduction for this?

[2017-03-10 06:32] cncolder commented on #1386
In `networkInterface.query`. There are two condition to reject.

1. `!httpResponse.ok`
2. `!payload.hasOwnProperty('data') && !payload.hasOwnProperty('errors')`

I throw TypeError in `graphql-server-koa` resolvers. But the server still return

[code]

So now If I must find a way to return a 4XX to trigger APOLLO_MUTATION_ERROR action.

[2017-03-10 07:28] helfer commented on #1386
@cncolder oh, I think I see what you're saying. The code above rejects the promise directly without going through the catch block that dispatches a MUTATION_ERROR, right?

Could you make a PR to fix this? We would really appreciate it! You can just dispatch the action before the promise is rejected, so it shouldn't be complicated.

[2017-03-10 07:29] helfer commented on #1391
@thebigredgeek sure, that would be great! I think @wmertens might also have a thing or two say about that.

[2017-03-10 07:37] cncolder commented on #1386
@helfer Ok fork now. But I still confused. I'm not sure if dispatch APOLLO_MUTATION_ERROR before `reducerError`

[2017-03-10 08:08] helfer commented on #1386
Try dispatching the action where you wrote this: `/** I'm not sure why not rollback optimistic here. Is this the role of specs? Or forgot? **/`

[2017-03-10 08:14] fikriauliya commented on #521
Can the header value dynamically assigned upon `.query` call?
So far I haven't found a way to add additional parameters to `.query` which could be read in `middleware`, is there?

[2017-03-10 08:18] helfer commented on #521
@fikriauliya that's currently not possible. Could you describe your use-case?

[2017-03-10 08:52] wmertens commented on #1391
I wish this could be a poll of sorts, where you can tick off the things you are doing.

Things I actually do:
* Queries:
  * I use static queries, so persistent queries would be nice.
  * Reading a large (100s) array of unique-id items into browser memory for instant search and for translations. Items are small-ish objects with maybe an embedded array or two.
  * Reading full detail for existing o

[2017-03-10 08:53] wmertens commented on #1391
BTW batching really helped when I am loading data per table row. However, a websocket transport would have the same result I think.

[2017-03-10 09:01] wmertens commented on #1300
a quick note: Storing the cache this way allows updating cached objects (CO) by mutation the single base object, but it doesn't allow removing objects easily.

To do that, you could keep a WeakSet of queries that refer to the CO (per CO), so they can be traversed and the CO can be removed from lists and references. (on remove, check all the queries to see if they are in the WeakSet, if so, travers

[2017-03-10 14:23] rovansteen commented on #1379
Ok so I've looked in to this a bit more and it turns out that the issue is somehow caused by the union type. If I set up my API to only return stories and I remove the `... on Video` and `... on Gallery` it works fine.

When upgrading to RC2, calling refetch twice causes it to update the component but it's behind one query then. (So if I start with 8 results, pressing refetch twice causes it to up

[2017-03-10 14:47] rovansteen commented on #1379
Small correction: it only works if all the types have the same property, so if I only fetch the ID's on stories, videos and galleries it works fine. But when I add `body` to `... on Story` for example (which is not on videos) the updateQuery is executed after my component is updated.

This is illustrated by logging the props in the render method & logging 'updateQuery' in the `updateQuery` method.

[2017-03-10 14:51] csillag commented on #1363
We hit the same issue in our app, too.

[2017-03-10 15:16] rovansteen commented on #1379
This seems to be related to https://github.com/apollographql/apollo-client/issues/1363, but I'm not sure. If so, please feel free to close this. :)

[2017-03-10 16:34] calebmer commented on #1186
It looks like @kouak ran into a similar issue here: https://github.com/apollographql/react-apollo/issues/518

@schickling can you confirm that this is the same issue?

[2017-03-10 17:49] frankdugan3 opened #1402 "Feature Request: Option to show deprecated field warnings"
**Use case**
It would be very helpful for code maintenance if there were an option to show console warnings when a query/mutation/subscription uses a deprecated field. Presumably, this would only occur in a dev environment unless otherwise specified.

**Could this be a plugin?**
It would make more sense as a core config option, but either way is fine.

**Is there a workaround?**
To my knowledge, n

[2017-03-10 19:20] tizmagik commented on #862
I wonder if there's a way to reuse the TS definitions to make these assertions? Also, I guess these checks should only happen in development (`NODE_ENV !== 'production'`) for performance reasons?

[2017-03-10 19:31] thebigredgeek commented on #1385
@helfer couldn't we parse the response stream before passing it into afterware?  That way there is no need to clone the response etc

[2017-03-10 19:35] richburdon opened #1403 "Querying transient (and offline) items (via cache resolution/custom resolvers)."
I would like to query and mutate certain types that are transient and only exist on the client (and later for offline operation). I thought customResolvers would be a good place to start, but that looks like a dead-end...

1). According to the docs Apollo can't tell that Item X was already retrieved, but given that ID is resolved by dataIdFromObject and __typename is included in all results via ad

[2017-03-10 20:17] helfer commented on #1403
@richburdon can you give a more concrete description of your use-case? What's the app /view you're trying to build?

[2017-03-10 20:18] helfer commented on #1402
@frankdugan3 I think the best way right now would be to use eslint-plugin-graphql and make it print warnings when deprecated fields are used.

I think it's a great idea, but in Apollo Client such a feature is currently not possible, because Apollo Client doesn't load the schema from the server, so it has no knowledge of which fields are deprecated.

[2017-03-10 20:18] #1402 closed

[2017-03-10 20:19] #1395 closed

[2017-03-10 20:21] helfer commented on #1334
@DimitryDushkin Could you make a PR that checks the `ssrMode` flag before starting to poll, and just not poll when it's `true`? That way this problem could be solved internally to Apollo Client.

[2017-03-10 20:21] #1303 closed

[2017-03-10 20:23] helfer commented on #1330
The example comes from GitHunt. If it's really broken, please open an issue there so we can fix it!

[2017-03-10 20:23] #1330 closed

[2017-03-10 20:26] helfer commented on #1363
We're going to try to solve all the interface and union related issues by implementing a `fragmentMatcher` function. Right now fragment matching is a bit heuristic due to the fact that we don't load the schema on the client. Is anyone interested in helping out with the implementation? @bgentry @csillag ?

[2017-03-10 20:27] helfer commented on #1312
@ligaz do you have time to make a small PR that fixes this?

[2017-03-10 21:31] bgentry commented on #1363
I'd love to but I simply don't have the bandwidth right now, trying to get a venture off the ground. Sorry I can't be more helpful.

[2017-03-10 21:38] jacobk commented on #1364
It sound similar or related to the issue I reported in https://github.com/apollographql/apollo-client/issues/1319

[2017-03-10 22:04] jacobk commented on #1319
@calebmer I think the current issue might be this empty subscribe in react-apollo: https://github.com/apollographql/react-apollo/blame/master/src/graphql.tsx#L642

When the wrapped react component unmounts the empty observer added when recyling causes https://github.com/apollographql/apollo-client/blob/master/src/core/ObservableQuery.ts#L439-L441 to not teardown the query and hence it will refetch

[2017-03-10 22:05] xiaohanzhang opened #1404 "only last reducerError get logged, previous reducerError been overrided."
Is it possbile to keep a reducerError array or simply log all error if debug is true?
Currently previous reducerError will been overridden by later reducerError, and only the last error got logged [soure code](https://github.com/apollographql/apollo-client/blob/master/src/store.ts#L122)

**How to reproduce the issue:**
I have an error during APOLLO_MUTATION_INIT: `TypeError: Cannot read property '

[2017-03-10 22:34] yash0087 opened #1405 "How to pass variables to query when using in Root level component"
Hi, I have a scenario where I am using 'graphql' from 'react-apollo' and want to make a query which has dynamic fields in it. In my component which is the Root/Main/Entry component, how can i pass the variables to the query if it needs to be decided based on component's state?

[code]

So how do I pass the variable in this case?

[2017-03-10 22:36] yash0087 commented on #1254
@helfer Do we have any updates on this functionality?

[2017-03-10 22:39] stubailo commented on #1402
Another great way to do this would be for the server to return warnings in this case.

[2017-03-10 23:16] jacobk commented on #1319
I was playing around with the new fetchPolicy and doing

[code]

before saving the query in the recycler seems to fix the issue. It would probably make sense to store the old policy for when its reused.

[2017-03-10 23:19] richburdon commented on #1403
I have several use cases:

1). I have a Chrome Extension where the Content Script needs to proxy GQL requests to a Background Page (same story for service workers). So in this case, I've created a simple ChromeNetworkInterface that relays messages via chrome.runtime.connect ports. The background page implements the regular HttpNetworkInterface.

This all works, but it would be cleaner if I could e

[2017-03-11 00:17] csillag opened #1406 "Errors from polling query escape to the browser console"
**Intended outcome:**

I have a query, for which the resolver throws an error.
The query is configured to be executed in every few seconds, using `pollInterval`.

[code]

I would expect any errors received from the server to be intercepted by the function I pass in to the `then` call.

**Actual outcome:**

When the query is first executed, the error is correctly handled to the error handler.
Howev

[2017-03-11 00:33] csillag commented on #1363
Same here. We are trying to roll out software which should be in production, and we have tight milestones. At this point, we are just trying to *use* this thing, we can't really afford to get deep into development.

However, once the rush will over, I hope to share with you some of our additions... but unfortunately, none of them is related to getting the basics to work.

[2017-03-11 01:39] calebmer commented on #1319
@jacobk the reason we have that subscribe is so that `updateQueries` and `refetchQueries` will still run on queries for unmounted components so that when those components remount they have the latest data. This is intentional.

[2017-03-11 02:35] Poincare opened #1407 "Improve README description of project"
Right now, the README.md describes Apollo Client as:

I'm not sure if we what we have is really a "toolchain" (i.e. something like `binutils`). More importantly, I don't think the above sentences communicate what exactly Apollo Client is unless you have a pretty clear idea of the GraphQL ecosystem already.

Maybe we could have something like this instead:

This serves two goals:
1. The first sente

[2017-03-11 04:13] helfer commented on #1407
@Poincare I agree 100%. I think I made a comment about this in the PR, but I must have missed it the second time. Can you make a quick PR and merge it? :)

[2017-03-11 04:46] Poincare commented on #1407
See above :)

[2017-03-11 05:02] helfer commented on #1363
Thanks guys! @fubhy is on it. I think we can get it fixed pretty soon, so stay tuned!

[2017-03-11 05:05] #1407 closed

[2017-03-11 10:33] jusefb commented on #593
Hi been looking at using Apollo with ngrx, @MikeRyan52 has any work been done on ngrx to make the two compatible? I am very happy with ngrx so far but would unfortunatly have to change to ng2-redux if it is not compatible with Apollo

[2017-03-11 20:19] AlexLeung commented on #1321
Another reason why I wouldn't want all of the components to be populated via GraphQL queries is because I don't want to be making new requests all the time when a user changes the page (via react-router), going from one component to the other.

I'd prefer to use the model of loading as much of the data as possible when the application first loads, then use a set of GraphQL subscriptions to load th

[2017-03-11 23:36] helfer commented on #1405
@yash0087 this is a question that's specific to react-apollo, so it's better to open an issue on that repository. Thanks!

[2017-03-11 23:36] #1405 closed

[2017-03-13 03:30] peisenmann commented on #566
@matt-way @stubailo  Thanks. I was stuck on the whole cyclic dependency thing, too

[2017-03-13 05:48] Poincare opened #1409 "Performance Umbrella Issue"
This issue is meant to describe current tasks related to improving Apollo Client store performance and serve as a summary about the information we currently know about Apollo Client's perf. characteristics.

The primary issue that we are concerned with at the moment is store read performance. This is probably the operation that Apollo Client performs the most since apps don't write new results or

[2017-03-13 07:48] jacobk commented on #1319
@calebmer thanks for the answer!

I guess it's fair to assume that it's a unwanted side effect to also have the recycled queries be refetched when resetting the store.

This is part react-apollo and part apollo-client. I think my proposal with changing the fetchPolicy for recycled requests seems sensible for react-apollo but I'm not sure what other side effects it might have?

Regarding apollo-cli

[2017-03-13 08:16] DimitryDushkin commented on #1334
@helfer Sure, I'll try to make PR on this week.

[2017-03-13 10:46] fikriauliya commented on #521
I have multiple GraphQL endpoints. As suggested https://github.com/apollographql/apollo-client/issues/84#issuecomment-207656752, instead of creating multiple Apollo client, I created a proxy server to dispatch a GraphQL query to the corresponding server.

The way the proxy determine where to dispatch to is by HTTP header (e.g. `service: tracker` => goes to `tracker` server, `service: transaction`,

[2017-03-13 12:42] cport1 commented on #593
@jusefb It has always been "compatible". This discussion is about having Apollo Client nested in the same store.

[2017-03-13 13:29] wmertens commented on #1409
I must say this is surprising to me, in my testing the flamegraph showed that a lot of time was being spent rebuilding the query from cache.

I had a quick look at the benchmarks but could not immediately figure out what they were doing.

It would be nice if the benchmarks included a configuration as follows:
* a query returning an array of 500 small objects without unique id like `{index: $i, tex

[2017-03-13 15:24] calebmer commented on #1321
@AlexLeung check out the new read and write methods we added to Apollo Client, docs are here: https://github.com/apollographql/core-docs/blob/master/source/read-and-write.md (they should be deployed to the website soon). Let me know if those fulfill your needs 😊

[2017-03-13 15:29] calebmer commented on #1319
That was the point behind `resetStore`, and your proposed solution using `fetchPolicy` seems appropriate. Any unintended side effects are actually, likely, desired because I don’t think there is any time where we want queries in the recycler to fire a query with your network interface 😊

Want to submit a PR to `react-apollo` and we can build from there?

[2017-03-13 15:47] stubailo commented on #521
I think the goal of doing the proxying on the server should be that the client is not aware of which server it is talking to. Perhaps you can use the root field names of the query? I feel like hard coding which graphql service you are talking to in each component might make things very hard to change down the road.

[2017-03-13 15:53] lewisblackwood commented on #1326
@jbaxleyiii 👋 was there any progress on documentation around testing? I'd love to get involved, either helping to produce content or reviewing from a user perspective.

I have some questions around using `MockedProvider` and the example projects. It would be helpful to maintain an open thread with any questions around the testing utils. I'm not sure about the best place to ask these right now!

[2017-03-13 16:05] AlexLeung commented on #1321
Ok this actually does seem to be what I was looking for. Thanks @calebmer!

[2017-03-13 16:39] Poincare commented on #1409
@wmertens The benchmarks currently implement the first out of the three you mention. What would be the difference we'd expect to see between the first and the second or the first and the third? It seems that the third would have more to do with updating query observers than actual store read time.

[2017-03-13 16:44] wmertens commented on #1409
Those are the 3 use cases in my app :)

However, the first 2 don't really get re-run, their base components are always mounted. So it's the 3rd one that is the killer.

Come to think of it, the third case is not actually correct. In my app, the 3rd case actually augments the data from the 2nd case. So even though they don't request much themselves, they do act on big objects, not sure if that is r

[2017-03-13 17:34] wmertens commented on #1409
Actually, I only have 20, and they take 2s to update :-/

On Mon, Mar 13, 2017, 5:49 PM Dhaivat Pandya <notifications@github.com>
wrote:

[2017-03-13 18:50] ne8il commented on #1237
@MiMaMuh I found that the problem centered around having the atmosphere package `apollo` at version `0.0.1`. If you update that to a newer version it should go away. I'm not entirely sure why it's is an issue. @kamilkisiela if you add that package at that version to your sample project you should see the same issue. Thanks for looking into it.

[2017-03-13 23:09] unkleho commented on #1394
Totally understand. We are only supporting it because our organisation is still using it. Anyway at least it is now documented. I'll submit a PR if I find some time.

Btw we just soft launched this last week - https://collection.maas.museum. Uses apollo-client and react-apollo.

[2017-03-14 03:10] Poincare commented on #1409
Hm. I honestly have no idea why that's happening in your specific case - if you can write a short benchmark that captures the behavior you're running into and produces similar times, I'd be happy to look into it more deeply.

[2017-03-14 03:24] fikriauliya commented on #521
Thought about the same as well @stubailo . But I think there are two problems on that approach:
1) The root field name may be shared among multiple services. e.g.:
[code]
and
[code]

2) The proxy server could do more by decoding the GraphQL query and match on `recommendation` and `profile` fields instead. But I am afraid of the overhead (compared to simply match on HTTP Header which could be done

[2017-03-14 03:35] fikriauliya commented on #521
Rethinking again, my approach above couldn't handle single query which need to retrieve from multiple servers:

[code]

Now I am thinking to use approach (2) above: Instead of having simple Nginx proxy server, put GraphQL proxy server on top of Nginx, decode the JSON query, and dispatch based on JSON query.

Or do you have better alternatives?

[2017-03-14 10:59] intellix opened #1411 "Typename added unnecessarily to everything"
**Intended outcome:**
__typename to only be added to required queries automatically

**Actual outcome:**
__typename is added everywhere and greatly adds query overhead when not needed

**How to reproduce the issue:**
Make a query like:

[code]

I've got ~1,000 nodes that I want to return and the response is typically: **39kb**
With ApolloClient, `__typename` is added everywhere so the response is:

[2017-03-14 11:25] ksmth opened #1412 "ReduxDataProxy isn't forwarding ApolloReducerConfig"
**Intended outcome:**
When calling `client.readQuery()`, I expect it to use `customResolvers` provided when initializing the client.

**Actual outcome:**
It's not using the `customResolvers`

**How to reproduce the issue:**
Follow http://dev.apollodata.com/react/cache-updates.html#cacheRedirect and try reading from the cache with `client.readQuery()`

[2017-03-14 15:57] MiMaMuh commented on #1237
@ne8il Thx for your information. In my case I don't use the `apollo` atmosphere package instead I load the apollo-client directly via npm. I have to do some more tests I think.

[2017-03-14 17:42] 0x6e6562 commented on #1321
The new read and write methods look like a pretty cool evolution in the API. Reading the section titled "Updating the cache after a mutation" - will the direct proxy access ultimately supersede the current `updateQueries` mechanism? I'm wondering whether code that uses the current declarative cache update mechanism should be ported to the proxy API in the medium, or will both mechanisms co-exist i

[2017-03-14 17:45] binchik opened #1413 "Refetch after being offline"
**Intended outcome:**
When initiating query offline and failing to fetch it, I expect `refetch` to work after going online.

**Actual outcome:**
When offline and failing to fetch a query, if you go online and try to refetch it apollo fails producing network error "Network request failed". (it happens in 1.0.0.rc2, does not happen in 0.10.1)

**How to reproduce the issue:**
Turn off network, open a

[2017-03-14 18:21] calebmer commented on #1321
@0x6e6562 we are looking to see if `update` is a viable replacement to `updateQueries`, yes, but that requires a lot of feedback from the community! 😊

If you could try using this new approach instead of `updateQueries` _please_ let us know your experience. We know people are having issues with `updateQueries` and we want to find a better paradigm, but if people like `updateQueries` and we don’t h

[2017-03-14 18:30] BlooJeans commented on #1404
This might be of interest to you - https://github.com/apollographql/apollo-client/pull/1383

[2017-03-14 18:31] lucasconstantino commented on #379
I've being working on a project with apollo-client/server both on the browser wrapping a rest api. I works smoothly, with File upload support, Apollo client dev tools working properly, etc, etc. I'm working on a post in portuguese, but I guess I can make a copy in english and put in on Medium or similar. Does anyone have a better or more contextualized place to publish it, in case it fits?

[2017-03-14 20:35] xiaohanzhang commented on #1404
@BlooJeans Thanks, I believe your PR will solve my problems. I will close this issue once your PR got merged

[2017-03-14 22:30] stubailo commented on #1411
Actually, making an option to only add it in places where there are fragments would be really awesome.

We would only need to add a condition here, which would check if there are any fragment spread or inline fragments in the selection set: https://github.com/apollographql/apollo-client/blob/82a846c9591bcff975cc28d3786105b80a49b4ba/src/queries/queryTransform.ts#L30

While we're at it, we could mak

[2017-03-15 02:17] fongandrew commented on #424
So, just to clarify, if all we need is persistence of previous cached queries, then we basically just use something like `redux-persist` on an existing Redux store that we then hook up the Apollo client to? That is, maybe something like this:

[code]
Probably need to also add some logic to sanity check the persisted data as well, especially if you're changing schemas and whatnot.

Caveat: I'm curr

[2017-03-15 04:35] smolinari commented on #424
@fongandrew - If you have success, do report here about it please! 😄

Scott

[2017-03-15 05:34] mdebbar commented on #1363
@helfer is there a work-around in the time being? we are not able to implement pagination because of this issue :(

[2017-03-15 09:45] 0x6e6562 commented on #1321
Thanks for the heads up. I'll give this a go - I assume that I need to update to 1.0.0-rc2 or similar?

What lead me to this thread was needing (or at least thinking that I need) to update the local cache as a result of having received a push notification. In this use case, I'm not using a subscription (because the back end I am using doesn't support this). So I'd like to use the notification to e

[2017-03-15 10:46] MiMaMuh commented on #1237
@ne8il I've solved my issue, too. It was due to importing from a subdirectory which caused the build system to ignore the project.json as @stubailo explained it at the [meteor forum](https://forums.meteor.com/t/apollo-client-unexpected-token-import/34811/4). It was a old api anyway I've used.
Thx for your help!

[2017-03-15 11:23] Urigo commented on #379
@lucasconstantino Medium sounds great.
If you want we can review it and in the case will fit and a lot of people will be interested, publish it also under our Apollo publication

[2017-03-15 11:59] swhamilton commented on #1378
Closing this as it's more appropriate to discuss on the slack channel https://apollographql.slack.com

[2017-03-15 11:59] #1378 closed

[2017-03-15 13:13] calebmer commented on #1321
This is certainly another primitive that we want to add. It is harder to do compared to the read/write methods, but you can currently get this behavior within 90% accuracy with `watchQuery` and a `cache-only` `fetchPolicy`:

[code]

I believe this should work for what you are describing. Let me know if I’m wrong!

[2017-03-15 14:00] ksmth commented on #951
Isn't this solved by the new `client.writeQuery` and `client.writeFragment`? You can now do stuff like this:

[code]

[2017-03-15 16:55] ali commented on #1301
@petergarnaes OOC, what was the working solution?

something like this? 👇🏽

[code]

[2017-03-15 17:20] stubailo commented on #951
@ksmth that's right! Thanks for the heads up, we can close this now thanks to @calebmer :]

[2017-03-15 17:20] #951 closed

[2017-03-15 18:14] 0x6e6562 commented on #1321
Can `writeFragment` be used an incremental way to update a single leaf within a node or does the entire updated state of the `data` field need to passed in?

[2017-03-15 18:23] 0x6e6562 commented on #1321
Regarding the `cache-only` option - this is really cool and I didn't know that this existed - I guess this is like having a headless redux subscription. In certain situations this could be quite useful.

After having asked my question I've realized that there's something about my own question that doesn't make sense: I was trying to avoid having fragments of mutation side effects distributed over

[2017-03-15 18:59] 0x6e6562 opened #1415 "Sub-selection without object reference"
I'm trying the `writeFragment` API and I'm getting the following error that indicates I should file an issue:

[code]

This is using 1.0.0-rc.2.

**Intended outcome:**

The updated client side cache should be available for reads in the same way that it is without attempting a write.

**Actual outcome:**

The non-updated client cache is readable but after issuing the write, the cache is no longer r

[2017-03-15 19:03] 0x6e6562 commented on #1321
Re-reading the documentation, I think I might have partially answered the `writeFragment` question. It seems that since you have direct access to the cache, you can read the fragment just before updating it. So this give you more explicit access to the cache state than the `updateQueries` mechanism.

However, upon trying this out, I ran into an error that requested the user to file an issue: #1415

[2017-03-15 21:26] helfer commented on #1384
@nandito Yes, I think that would be best.

If you (or someone else) want to make a quick PR, it would be very much appreciated! :)

[2017-03-15 22:08] jusefb commented on #593
I see, very sorry for asking silly questions. That is great news thank you very much.

[2017-03-16 04:38] helfer commented on #1415
@0x6e6562 Thanks for reporting the issue! I'm noticing that you're using a different fragment for writing vs. reading. Is that intentional?

[2017-03-16 07:43] 0x6e6562 commented on #1415
Good point! I'll re-test this using the same fragment to see if the behavior is the same.

[2017-03-16 09:45] 0x6e6562 commented on #1415
Interestingly if rewrite the code to re-use a common fragment definition, the error goes away. In this variant I can read from the cache, update some nodes on the fragment and then re-read the updated cache state back without an error:

[code]

This doesn't solve the issue I am seeing with my view component losing all of it's state after I invoke `writeFragment` but that might have something to do

[2017-03-16 10:30] 0x6e6562 commented on #1415
After a bit more debugging I've noticed that the `props` of the component wired with `connect` is undefined immediately after updating the cache. Is this related to the fact that `connect` hooks into the redux store and the the update to the Apollo cache is on a different layer somehow? Or should one pass in some special options to `connect` to make it aware that it will need to respond to the und

[2017-03-16 12:07] chriscartlidge opened #1419 "[Proposal] - Disabling Cache"
Before getting into the issue I just wanted to say what a great job you are doing with the apollo-client here at OpenTable we really are enjoying working with it!

### Situation

We are currently using the apollo-client in a number of different use cases at it's working well 👍.

However, we have one application which is consuming the apollo-client via node-js and it is very memory sensitive (for v

[2017-03-16 12:32] chriscartlidge opened #1420 "Ability to create custom cache-keys"
Hi,

Our GraphQL server currently uses the accept-language header to determine what locale the content should be returned in.

We pass the header down by using the applyMiddleware function like so:
https://github.com/opentable/oc-graphql-client/blob/master/index.js#L29

However, it seems that the cache key does not take the header into consideration e.g.

[code]

[code]

The second call returns th

[2017-03-16 16:08] borisnieuwenhuis opened #1421 "cache always missed when querying inline fragments of concrete types"
Hi,
it looks like the apollo client always returns that there is a missing field when using queries on an interface and then specifying the fields of the concrete type.
For instance, running a query like:

extras {
       __typename
       id
       name
       subTitle
       scope
       mandatory
       price {
         __typename
         amount
       }
       ... on OptionRange {
         ra

[2017-03-16 17:04] 0x6e6562 commented on #1415
OK, so I've gotten to the bottom of this.

Because I've writing a sub node into the updated fragment with the `__typename` field, the query blows up (silently) when the redux subscription tries to query the latest data from the cache [at this line in the QueryManager](https://github.com/apollographql/apollo-client/blob/44e7d1e928e0b159542b284332c7f46b539f420f/src/core/QueryManager.ts#L857). This s

[2017-03-16 17:08] 0x6e6562 commented on #1321
As indicated [in this comment](https://github.com/apollographql/apollo-client/issues/1415#issuecomment-287124654) it is important not to forget the `__typename` field when updating sub nodes using `writeFragment`.

[2017-03-16 18:00] stubailo commented on #1415
The fact that the error is not reported well is definitely not great! I think that's really what this issue is about.

[2017-03-16 18:46] calebmer commented on #1301
@ali if `group` is the name of the type you are targeting then yes 😊. If the name of the type you are targeting is `Group` then you should use that instead 👍

[2017-03-16 18:47] stubailo commented on #1301
BTW PRs to the docs are always appreciated to make things clearer!

[2017-03-16 18:51] calebmer commented on #1321
Yep! You just need to be sure to only pass in a fragment with the field you want to update 😊

[code]

vs.

[code]

Glad to hear you figured it out 🎉

[2017-03-16 18:53] stubailo commented on #1321
@0x6e6562 if you have some ideas for how we could document these patterns, PRs are always appreciated!

[2017-03-16 18:55] borisnieuwenhuis commented on #1421
sorry for the formatting I will make it better soon

[2017-03-16 19:00] borisnieuwenhuis commented on #1421
hmm, might relate to https://github.com/apollographql/apollo-client/issues/1363

[2017-03-16 19:04] stubailo commented on #1421
I think this is more related to: https://github.com/apollographql/apollo-client/issues/1337

This is something we're going to solve before the 1.0 release, and there are ideas about the solution there if you have time to contribute the feature!

(Going to close this issue since I'm pretty sure it's a duplicate, let me know if you disagree)

[2017-03-16 19:04] #1421 closed

[2017-03-16 20:18] lukemadera opened #1422 "graphql-tag/bundledPrinter typescript error - will not build"
**Intended outcome:**

Build succeeds.

**Actual outcome:**

Build fails due to typescript error.

**How to reproduce the issue:**

Follow the apollo angular 2 setup instructions and try to run it with webpack2 and typescript. Gives this error:

[code]

My package.json versions:
[code]

** Fix **

I manually changed the line in the offending file `index.d.ts`
[code]
to:
[code]

[2017-03-16 20:29] borisnieuwenhuis commented on #1421
Yes you are right this is definitely a duplicate of that one.
I will dive a bit deeper see if I can get somewhere with it, but I am just starting with graphql so it will take some time to sink in probably.

[2017-03-16 20:32] alfonsoperez commented on #1389
I am seeing the same behaviour: https://gist.github.com/alfonsoperez/2b44155bf5da6834e739e441a212a45e

[2017-03-16 21:30] helfer commented on #1191
This is fixed now, thanks to @lewisf ! :heart:

[2017-03-16 21:30] #1191 closed

[2017-03-16 21:35] thebigredgeek commented on #1389
Will try to create a test case for this.

[2017-03-16 21:41] #1141 closed

[2017-03-16 22:09] nnance commented on #933
@helfer there is a possibility that we are seeing the same thing in our application.  Is this a known problem?

[2017-03-16 22:20] helfer commented on #933
@nnance Yes, that's definitely possible. There are a few corner-cases with interfaces and unions that the heuristic fragment matching doesn't quite get right. We've decided to just implement a fragment matcher that actually has the knowledge to conclusively decide whether a fragment matches or not. That should solve this and related issues.

[2017-03-16 22:23] TSMMark commented on #933
@helfer that sounds nice. Any idea when that will become available?

[2017-03-16 22:28] helfer commented on #933
@TSMMark I'm hoping within the next 10 days. @fubhy is currently working on it (see discussion on https://github.com/apollographql/apollo-client/pull/1360)

[2017-03-16 23:33] thebigredgeek opened #1424 "BREAKING: Parse response before passing it to afterware"
Making this change should (mostly) resolve https://github.com/apollographql/apollo-client/issues/1385 by ensuring that the response is parsed before it is ever passed into afterware.  This removes the necessity of cloning the response stream and, thus, the reduces the probability that the above bug will present itself.  It also provides a simpler API for writing afterware, as most afterware cases

[2017-03-16 23:47] thebigredgeek commented on #1424
@helfer per slack

[2017-03-17 04:47] dfee opened #1426 "Dummy Network Interface fails on refetch."
**Intended outcome:**
`refetch` runs without error when using a custom networkInterface on client

**Actual outcome:**
`refetch` returns:
[code]

**How to reproduce the issue:**
Use this as your client's networkInterface:
[code]
for query:
[code]

[2017-03-17 04:48] dfee commented on #1426
I should note, I'm using this for a WebsocketNetworkInterface I have implemented. Upon refetch, the server's data is returning updated data, but I'm still getting the error.

[2017-03-17 05:12] Valentin-Seehausen commented on #1013
+1
would be awesome to have apollo listening to foreign actions.

[2017-03-17 05:35] thebigredgeek opened #1427 "IMPROVEMENT: Default selector for `dataIdFromObject`"
Per my conversation with @stubailo on slack, I think it would be a good idea to default `dataIdFromObject` to a function that selects the two most common primary key fields: `id`, falling back to `_id`.  This would drastically reduce the amount of configuration required in most use cases, which would mean one less thing to learn to be productive with `apollo-client`.

[2017-03-17 05:41] thebigredgeek commented on #1427
https://github.com/apollographql/core-docs/pull/262

[2017-03-17 05:42] thebigredgeek commented on #1424
https://github.com/apollographql/core-docs/pull/261

[2017-03-17 05:57] thebigredgeek commented on #1420
@chriscartlidge Apollo caches queries by combining variables with the query string into a sort of hash.  Combining headers into this hash is not likely something desirable from an API design standpoint.  Is there any way you could include the language as a query variable as well as in the header?  If so, this should resolve your problem, as apollo will attempt to query again because the language v

[2017-03-17 06:00] thebigredgeek commented on #1419
@chriscartlidge are you using Apollo Client in nodejs for server side rendering?  If so, cache context should be garbage collected so long as you aren't keeping references to it after the render request.  If you are simply trying to make server-to-server GraphQL requests, I would advise you to use something other than Apollo Client for that use case.  Apollo Client is inherently designed to use wi

[2017-03-17 06:14] thebigredgeek commented on #1386
I can also confirm that `APOLLO_MUTATION_ERROR` is no longer dispatched.  This was why I switched to afterware for error alerting and how I discovered [this](https://github.com/apollographql/apollo-client/issues/1389)

[2017-03-17 06:16] thebigredgeek commented on #1300
^ Awesome idea.  Let me know if I can help out @wmertens

[2017-03-17 06:27] thebigredgeek commented on #1411
One caveat with omitting `__typename` is that it could make it far more difficult to programmatically select unique identifiers inside of `dataIdFromObject`... in the case where different types have different names for their primary keys

[2017-03-17 07:06] stubailo opened #1429 "Possible SSR issue"
Sorry for poorly formatted issue, just something to look at: https://github.com/apollographql/GitHunt-React/issues/218

[2017-03-17 07:49] stubailo commented on #1419
Thanks for filing an issue, @chriscartlidge! This is definitely an interesting thought we haven't heard much about yet!

I'd love to find out more about the use case here, and the reasons you have selected Apollo for this case. At first glance, it doesn't sound like being able to control the caching on a per-query level is necessary for what you are doing, and disabling caching entirely is suffici

[2017-03-17 07:50] stubailo commented on #1426
Weird, is that the only stack trace you get? Would it be possible for you to send a PR with a failing test using the reproduction above? At first glance it doesn't seem like this should fail.

[2017-03-17 07:53] stubailo commented on #1420
@chriscartlidge is it important for the same page to be able to display multiple locales at once, or is switching locales a global operation? If it's global, I think the best approach is probably to reset the whole store when locales are switched.

Like @thebigredgeek mentioned, Apollo is currently based on the premise that the query and variables contain enough information to figure out what data

[2017-03-17 07:54] stubailo commented on #128
I think a really cool way to work on this if anyone in the thread is still interested is to see if we can modify `broadcastQueries` to not always run all queries at once, but instead yield in between queries when we're going to take too much time.

[2017-03-17 07:56] stubailo commented on #264
We've got it, and it didn't require any core changes! https://dev-blog.apollodata.com/persisted-graphql-queries-with-apollo-client-119fd7e6bba5#.7itzp5jo3

[2017-03-17 07:56] #264 closed

[2017-03-17 07:58] stubailo commented on #1427
I know I suggested opening an issue about it, but I actually think the PR is a good enough place for discussion since this is a relatively small change!

[2017-03-17 07:58] #1427 closed

[2017-03-17 08:06] sheerun commented on #1191
@helfer @lewisf Looks good. It's just shame you didn't change behavior of applyMiddleware to what batchMiddleware is implemented here. queryMiddleware is both more generic name and would allow for better uniformity and backward compatibility of passing request / response to applyMiddleware

- `applyMiddleware` - apply middleware to request
- `applyAfterware` - apply middleware to response
- `query

[2017-03-17 08:11] stubailo commented on #821
I think this is resolved now - our chosen approach was to mark queries as stale if they end up in a situation where they no longer have all of the data they need, you can read about it here: https://github.com/apollographql/apollo-client/pull/1306

[2017-03-17 08:11] #821 closed

[2017-03-17 08:19] stubailo commented on #1191
Interesting - I never really considered that sharing middlewares between different network interfaces would be that useful. Since different interfaces have different transport mechanisms, seems like it would be hard. Of course some stuff like the query response data will be the same across transports, but that seems like the minority.

[2017-03-17 09:25] philhardy commented on #1413
I've been seeing very similar results, meaning the app effectively fails to come back from network issues

[2017-03-17 10:59] philhardy commented on #1413
Although I actually still see the problem in 0.10.1, and also with `fetchMore`. This is in a react native app along with react-apollo.

[2017-03-17 11:48] armstrjare commented on #1422
You got the wrong version of graphql-tag installed. Need to go back to a previous version before refactoring

[2017-03-17 12:27] philhardy commented on #1413
I think I've found the problem - does this seem like a reasonable amendment? It fixes the problems I'm seeing

https://github.com/siliconrhino/apollo-client/commit/a0d84672a4c0e2408334e6e6309bc7dd4fb2335c

[2017-03-17 13:04] philhardy commented on #1413
The plot thickens - the above only fixes `fetchMore` with `queryDeduplication` turned off. It seems `refetch` works anyway with `queryDeduplication` turned off, and so it seems there are 2 problems here:
- queryDeduplication breaking any follow up requests after encountering network errors
- fetchMore failing for follow up requests after encountering network errors

That could explain why @binchik

[2017-03-17 14:06] calebmer commented on #1013
You can change data in Apollo from external actions with the new read and write APIs! https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3#.3993ykbqe

[2017-03-17 14:20] iki commented on #947
@calebmer another common use case is simply whenever it's more appropriate in codebase to setup default query/mutation parameter values in gql, e.h. if they are internal parameters and the user module which attaches given query/mutation to a redux component should not care about those parameters at all.

[2017-03-17 14:26] lukemadera commented on #1422
Thanks @armstrjare - what version should I go to?

[2017-03-17 14:44] armstrjare commented on #1422
Sorry - I was wrong. I thought I had the same issue, and that was how I solved it. I think that may have been on earlier version of apollo-client though.

Are you certain you have installed apollo-client rc-2?  I'm running `graphql-tag` 1.3.1 with rc-2 and it's working fine.

Try  `rm -rf node_modules` and `npm install` again?

[2017-03-17 15:00] thebigredgeek commented on #821
Woot

[2017-03-17 15:19] lukemadera commented on #1422
Oh interesting, that may have fixed it! I'll close for now, unless I encounter it again. Thanks @armstrjare

[2017-03-17 16:31] phuochau commented on #1419
Hi guys, so what's the best way to disable cache on ApolloClient?

[2017-03-17 16:51] nicolaslopezj opened #1431 "Missing networkStatus for "cache ready and loading from network""
**Intended outcome:**
When I use ```fetchPolicy: 'cache-and-network'``` I can't know if the data is loaded from cache or if it's the first time the component load.

**Actual outcome:**
```networkStatus``` should be equal to 1 when the components loads without cache and it should be 5 if its fetching from network but has the data from cache.

**How to reproduce the issue:**
Use ```fetchPolicy: 'cac

[2017-03-17 17:13] dfee commented on #1426
That is the only stack trace I'm receiving. I'd like to send a PR, but unfortunately I'm not sure where to begin on writing a test to demonstrate what _should_ happen.

[2017-03-17 18:18] helfer commented on #1431
Thanks for filing the issue @nicolaslopezj. It should be pretty easy to fix. Do you want to try making a PR?

PS: That also reminds me that I should change `networkStatus` to an enum that uses strings...

[2017-03-17 18:19] calebmer commented on #1431
Also, it’s worth asking if `stale` should be true for any result from the cache, or if it is worth adding another variable for visibility into that information.

[2017-03-17 18:29] helfer commented on #1431
I think we discussed adding a `source` field for that information. In my opinion `stale` should only be true if you asked for the most recent information, but we're returning something older instead.

[2017-03-17 18:32] bl42 commented on #51
`
{
  member { # resolves from DB
    firstName
    ...
    tweet(latest:true) { # resolves from twitter api
       ...
    }
  }
}
`
If an external api fails, it doesnt fail gracefully where i think we all in this use case would want it too

[2017-03-17 18:33] helfer commented on #1429
Basically it's this:

with 1.0.0-rc.0 works fine

This may be related to the change from `reduxRootKey` to `reduxRootSelector`, but GitHunt doesn't seem to be using that.

Can anyone reproduce this issue?

[2017-03-17 18:33] calebmer commented on #1429
I’m debugging right now. The first issue is that GitHunt uses `forceFetch`.

[2017-03-17 18:36] helfer commented on #1426
@dfee I'm not sure if that's the issue, but your dummy response is not spec-compliant, because it contains an `errors` field with an empty array. Please see here for details: https://facebook.github.io/graphql/#sec-Errors

Feel free to reopen if removing `errors` doesn't solve the issue.

[2017-03-17 18:36] #1426 closed

[2017-03-17 18:39] thebigredgeek commented on #1419
@phuochau I don't think disabling the cache is currently supported. I believe the intent behind apollo is to provide an opinionated graphql + caching solution for building client-side apps.

[2017-03-17 18:42] calebmer commented on #1429
This PR upgrades GitHunt to 1.0.0 and fixes SSR: https://github.com/apollographql/GitHunt-React/pull/220

[2017-03-17 18:42] #1429 closed

[2017-03-17 18:45] thebigredgeek opened #1432 "Decouple GraphQL store with a generic API"
I think it might be kinda cool to provide some sort of interface similarly to how we do it with `NetworkInterface`.

Redux could be the “default” but excludable, and users could plug in mobx or reflux or whatever.

If the interface implements async functions, the store could even be run in something like redis (for server side caching, for instance, for inter-service RPC) or a web worker to reduce

[2017-03-17 18:46] helfer commented on #1419
@chriscartlidge This is something we've been thinking about for a while. I'm curious about your specific use-case, because it might make more sense to simply fetch the GraphQL query "by hand" if you don't ever want to cache things and don't need results to be reactive (i.e. updating when newer results from overlapping queries come in).

Apollo Client currently uses the normalized cache to watch fo

[2017-03-17 18:47] calebmer commented on #1420
An alternative to resetting the store would be to use multiple client instances.

[2017-03-17 18:49] helfer commented on #1412
@ksmth It seems likely that we simply overlooked this. Would you like to make a quick PR to fix this?

[2017-03-17 18:55] calebmer commented on #1413
Could either of you create a reproduction with [`react-apollo-error-template`](https://github.com/apollographql/react-apollo-error-template)? It would go a long way in helping us find out exactly what is wrong and then fixing it. Having a reproduction with both `refetch` and `fetchMore` would be helpful.

Since the error template does not actually make an HTTP request you’ll probably want to add a

[2017-03-17 18:57] helfer commented on #1413
@philhardy thanks for digging into this! The `queryDeduplication` issue sounds like a simple bug that should be relatively easy to fix, and it seems like it could be the original issue here.
@binchik can you confirm that `refetch` works when `queryDeduplication` is set to false when initializing the client?

There's probably a network request info somewhere that should be cleared out when a query

[2017-03-17 19:01] calebmer commented on #1415
Yep. Now that we expose functionality that was previously never accessible we need better errors.

To summarize this issue, you can’t do this:

[code]

You need to write with the same query you are going to use for reading. So `{ foo }` must become `{ foo { a b c } }` in the `writeQuery` call or else Apollo Client will incorrectly write your `foo` value as a JSON scalar instead of as a GraphQL obj

[2017-03-17 19:05] calebmer commented on #1411
First thing I want to mention is that adding `__typename` everywhere doesn’t add that much overhead if you are gzipping your queries. At that point your response only _looks_ much bigger because of `__typename` when in fact it is almost the same size with a few added bytes.

However, we’d be open to merging a PR that has `addTypenames` take a few more options. For instance, if it were `always` the

[2017-03-17 19:12] calebmer commented on #1406
The first problem here is on our side. We shouldn’t allow `pollInterval` in `query` 😊. `query` returns a promise so you will only ever get the first rejection. I opened a PR to make sure people can’t use `pollInterval` with `query`: https://github.com/apollographql/apollo-client/pull/1433

Well then, what should you use? You should use `watchQuery` instead. Your above example would then become:

[

[2017-03-17 19:12] #1406 closed

[2017-03-17 19:15] calebmer commented on #1404
It looks like https://github.com/apollographql/apollo-client/pull/1383 is ready to merge. Thanks for your report @xiaohanzhang 👍

[2017-03-17 19:15] #1404 closed

[2017-03-17 19:20] #1384 closed

[2017-03-17 19:21] calebmer commented on #1403
@richburdon make sure to check out the new read and write APIs! They should allow you to do what you want: https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3#.n14q2wv4m

We also export `HTTPFetchNetworkInterface` so you can import that into your application from `apollo-client` and extend it.

[2017-03-17 19:21] #1403 closed

[2017-03-17 19:23] calebmer commented on #1389
If you could create a reproduction using [`react-apollo-error-template`](https://github.com/apollographql/react-apollo-error-template) it would go a long way in helping us debug this issue! Thank you so much for reporting 😊

[2017-03-17 19:29] calebmer commented on #1379
I think it may be related to #1363. When does the error _not_ occur in your query?

Also, fun fact. You could simplify your query like this by removing the inline fragments:

[code]

I assume that your `StoryDetail`, `VideoDetail`, and `GalleryDetail` fragments are `on Story`, `on Video`, and `on Gallery` respectively. This works because you already have the `on x` on your fragment definition!

[2017-03-17 19:30] calebmer commented on #1364
As explained in https://github.com/apollographql/apollo-client/issues/1319 this is intentional behavior. Let us know if you disagree with that decision.

[2017-03-17 19:30] #1364 closed

[2017-03-17 19:41] calebmer commented on #1364
There’s a PR open to document `resetStore` here: https://github.com/apollographql/apollo-client/pull/1435

[2017-03-17 19:42] calebmer commented on #1376
When your mutation errors you may also get to the status through the `error.response` property. `error.response` will be the response returned by `fetch`.

[2017-03-17 19:42] #1376 closed

[2017-03-17 19:44] calebmer commented on #1359
I’m going to close this because Apollo Client does work great in your mobx applications today! In the future we may also have a pluggable store architecture. Follow this issue for more information https://github.com/apollographql/apollo-client/issues/1432

[2017-03-17 19:44] #1359 closed

[2017-03-17 19:45] calebmer commented on #1355
I’m going to close because it looks like @Urigo has a solution. Let us know @timsuchanek if that’s not enough!

[2017-03-17 19:45] #1355 closed

[2017-03-17 19:52] nss213 commented on #1409
So I think my data structures sound similar to @wmertens and I'm also experiencing data perf problems with `diffQueryAgainstStore`. I have fiddled with the benchmarks but haven't got them to demonstrate the issue. In the browser, however, I'm delivering 3 queries of about 20-30 objects each. Those objects each have 10-20 subobjects in an array field, and those subobjects have 4 string fields.
One

[2017-03-17 19:56] calebmer commented on #1294
I’m going to close. We definitely want a faster implementation, but optimizing the execution of 40–250 GraphQL requests at once isn’t at the top of our priority list. It makes much more sense to combine those GraphQL requests into 1 which Apollo Client handles efficiently today 😊

[2017-03-17 19:56] #1294 closed

[2017-03-17 19:59] calebmer commented on #1275
I’m going to close. The issue is almost certainly that `req.options.headers = new Headers();` is being used instead of `req.options.headers = {};`. Please let us know if you have any further issues! 😊

[2017-03-17 19:59] #1275 closed

[2017-03-17 19:59] dfee commented on #1426
@helfer thanks, that solved the problem!

I didn't dig into the spec when implementing that method. Do you think that should be documented [here](http://dev.apollodata.com/core/network.html#GraphQLResult)?

[2017-03-17 20:01] calebmer commented on #1265
The imperative store functions are available for you to use today! https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3#.p44izsa28

If you are using `react-apollo`, then you may also want to consider using `subscribeToMore`: http://dev.apollodata.com/react/api.html#graphql-query-data\.subscribeToMore

[2017-03-17 20:01] #1265 closed

[2017-03-17 20:03] calebmer commented on #1254
@yash0087 you can use `initialState` like you would expect! You just have to put the `apollo` key in yourself 😉

See this test for an example: https://github.com/apollographql/apollo-client/blob/a7ca533c98345bace74a9f18711826ddd233b77c/test/ApolloClient.ts#L9-L21

[2017-03-17 20:03] #1254 closed

[2017-03-17 20:05] calebmer commented on #1224
Closing as we now have a mitigation for the problems with `updateQueries` (https://github.com/apollographql/react-apollo/pull/462) and a new imperative read/write API! (https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3#.33v3kjx3u)

[2017-03-17 20:05] #1224 closed

[2017-03-17 20:05] calebmer commented on #1218
Closing this issue. We don’t recommend using `reducer`. Please use `updateQueries` or `update` instead.

[2017-03-17 20:05] #1218 closed

[2017-03-17 20:06] calebmer commented on #1209
Please let us know if you have any more issues 👍

[2017-03-17 20:06] #1209 closed

[2017-03-17 20:09] calebmer commented on #1087
Closing because we don’t currently intend to make polling work with fetch more. The implementation would just be to difficult 😣

However, we recognize the use case! Hopefully we can introduce a better to implement pagination soon.

[2017-03-17 20:09] #1087 closed

[2017-03-17 20:13] calebmer commented on #903
We now have a mitigation for the `updateQueries` problems discussed in this issue in `react-apollo`. We now recycle queries to make sure they don’t get removed (https://github.com/apollographql/react-apollo/pull/462). We’ve also introduced a new [read/write API](https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3#.jssznik2k) to give you maximum control over your da

[2017-03-17 20:13] #903 closed

[2017-03-17 20:18] helfer commented on #1411
@intellix how much overhead do you actually have when the response is gzipped?

[2017-03-17 20:27] benhjames opened #1436 "UpdateQueries with inline fragments fails"
I have a query that looks something like this:

[code]

where `nodeFragment` is:

[code]

This runs fine, and I get back the desired result.

I then want to perform a mutation that adds a node, and therefore runs `updateQueries`. So I wrote a query like this:

[code]

And called it like this:

[code]

**Intended outcome:**

I expected the client to at least run the `updateQueries` function and pri

[2017-03-17 20:38] ProjectCheshire commented on #521
Came across this, also. Basically looking to aggregate many data sources under a single graphql api. Eg. some rest, but also some graphql endpoints

ala api gateway'ish.  Coming to similar conclusion of having resolvers that dispatch to different network interfaces/connectors.

so
App layer (views/internal server app specific concerns)->graphql API gateway-> [1..n] endpoints (rest, another graphql

[2017-03-17 20:46] intellix commented on #1411
With __typenames: Compression ratio: 1060 % Original size: 89857 bytes Result size: 8481 bytes
Without __typenames: Compression ratio: 511 % Original size: 39887 bytes Result size: 7812 bytes

[2017-03-17 21:09] benhjames opened #1437 "Erroneous warning when using imperative API"
When running commands from the new imperative API, I get this warning:

[code]

However, I have ensured that `addTypename: true` in the client setup:

[code]

The specific command I'm running is:

[code]

**Intended outcome:**

Not to display the warning, or perhaps I'm doing something wrong!

[2017-03-17 21:14] helfer commented on #1436
@benhjames I think this is related to the issues you mentioned and also to #1337. Because of its heuristic fragment matching, Apollo Client doesn't know for sure whether the response is complete and seems to think that it's in fact incomplete. This in turn leads to not running the `updateQueries` function. We're working on a non-heuristic fragment matcher that will not have this issue, and I'm hop

[2017-03-17 21:16] helfer commented on #1437
Hi @benhjames. I'm not sure what's going on in your case. Could you try to reproduce the error with https://github.com/apollographql/react-apollo-error-template please?

[2017-03-17 21:17] benhjames commented on #1436
@helfer, no worries - can make do with `refetchQueries` for now. Thanks for the speedy response and glad to hear it's being looked at!

[2017-03-17 21:19] benhjames commented on #1437
Sure - one repo coming up.

[2017-03-17 22:03] helfer commented on #1411
Ok, so that's about 5 - 10% overhead, which is not great, but also not so bad. I think what @calebmer suggested sounds pretty reasonable. The only time it would be needed is when `dataIdFromObject` uses it and inside of fragments. I'd be more than happy to merge that PR if someone worked on it 🙂

[2017-03-17 22:05] helfer commented on #1409
@nss213 that's interesting. How much of a difference did you observe with scalars vs. nested objects?

[2017-03-17 22:16] rovansteen commented on #1379
@calebmer there's never really an error, just a wrong order of executing things like I illustrated with the `console.log`. But when all the entities have the same fragments in the query (for example if I only fetch the ID's) it works fine, the issue occurs when I fetch something that is not all entities (like a video URL that is only on the video entity).

And thanks for the tip about removing the

[2017-03-17 23:10] thebigredgeek commented on #1389
@calebmer I plan to implement an integration test in `react-apollo`, which is where this should be moved once we have verified it to be the problem.  I just haven't had time yet.  Already paired with @helfer on it for a bit last friday.  Sorry!

[2017-03-17 23:18] helfer commented on #1437
Thanks a lot @benhjames, this was extremely helpful. I now know what's going on.

First, there was a small problem in your code: you forgot to add `__typename` in the optimistic result. Adding that alone didn't fix the issue because of the second problem:

`proxy.writeQuery` doesn't check `addTypename`, which means the result would be written to the store without the `__typename` field, even if it

[2017-03-17 23:33] #1312 closed

[2017-03-17 23:34] helfer commented on #1386
Should be fixed in `master` now.

[2017-03-17 23:34] #1386 closed

[2017-03-17 23:39] helfer commented on #771
Now tracking this in #1337

[2017-03-17 23:39] #771 closed

[2017-03-17 23:41] benhjames commented on #1437
Nice one, glad it was useful! Thanks for spotting the missing `__typename` in the optimistic result too, will save me some head-scratching down the line. 😃

[2017-03-17 23:41] helfer commented on #1337
A list of related issues that are likely to be fixed with the new fragment matcher:

#1363 #1379 #1113 #857 #771 #1297 #1273 #961 #933

[2017-03-17 23:43] helfer commented on #1424
Let's just track this in #1425, there's no need to have a separate issue open.

[2017-03-17 23:43] #1424 closed

[2017-03-18 02:32] nss213 commented on #1409
@helfer It's a rough measurement, but I'm seeing 200-400ms for my test with the typed subobject and 150-200ms with the JSONType for the subobject. So perhaps we are seeing a symptom but not the root cause. The top-level object which resides in an array is still typed. I think _perhaps_ we're seeing something similar to @michalkvasnicak in issue #1342

[2017-03-18 04:52] Poincare commented on #1409
Hmm. The fact that the scalar JSON objects helped probably means that the denormalization is slow but in a different way than what the benchmarks are currently measuring. Could you give us a copy of the queries and an idea of what the results look like?

[2017-03-18 07:11] kamilkisiela opened #1440 "Wrongly compiled files in the package on npm (RC.3)"
@helfer @stubailo  straight to the point.

RC.2 and previous releases:
https://unpkg.com/apollo-client@1.0.0-rc.2/transport/networkInterface.js

RC.3:
https://unpkg.com/apollo-client@1.0.0-rc.3/transport/networkInterface.js

I guess it was published [incorrectly](https://unpkg.com/apollo-client@1.0.0-rc.3/lib/src/transport/networkInterface.js) or there's something I don't know that has changed?

I

[2017-03-18 09:17] suhail-ansari-apconic opened #1441 "New update function does not work with .graphql files"
Just went through new functions on Apollo client readQuery and writeQuery. Tried them but they do not work with queries defined in  .graphql or .gql files.

[2017-03-18 09:46] suhail-ansari-apconic commented on #1441
Sorry it was my issue. I always have a problem remembering that we need to put assign the query to a variable named query in both readQuery and writeQuery.

[2017-03-18 09:46] #1441 closed

[2017-03-18 09:47] suhail-ansari-apconic opened #1442 "New readQuery and writeQuery API support"
Does graphql HOC support update function option or do we need to keep using updateQueries.

[2017-03-18 10:20] suhail-ansari-apconic commented on #1442
It does just played with it. I like it much better than updateQueries.

[2017-03-18 10:20] #1442 closed

[2017-03-19 01:28] helfer commented on #1440
crap, I think I ran `npm publish` :/. Thanks for reporting, will be fixed in ~5 mins.

[2017-03-19 01:28] #1440 closed

[2017-03-19 01:45] helfer commented on #1440
I'm going to write a little script on Monday to make sure this never happens again. 😕

[2017-03-19 02:09] nss213 commented on #1409
So far I've taken my entire response body and slammed it into the benchmark in place of the "hotel reservations" -- it doesn't seem to make the benchmark any slower for `diffQueryAgainstStore` but I can get the actual `query` benchmark to take 18ms or so (in node 6). I think we need to be able to run the benchmark in the browser -- not sure what config is needed to do that. Is that something you h

[2017-03-19 03:05] Poincare commented on #1409
There isn't a slick way to run the benchmark in browser yet, but I expect that just linking the compiled equivalent of `benchmark/index.ts` in an HTML document might do the trick.

[2017-03-19 07:34] binchik commented on #1413
@helfer Hi! I tried to reproduce the issue again with `1.0.0-rc.2` and it suddenly disappeared without setting `queryDeduplication` to `false`. I changed some of my code between opening the issue until now, not sure what caused the dissapearance.

[2017-03-19 08:09] nss213 commented on #1409
Ok, well I wasn't able to get those running in a short amount of time so I just cobbled together a browser-based test based on some webpack boilerplate. I assume there are much better ways of putting these things together, but I'm not up to speed on all the community libs.
https://github.com/nss213/apollo-perf-test
You can see the test in app/main.js, app/test.js, and the data in app/data.js.
Just

[2017-03-19 10:13] jaydenseric opened #1448 "Inconsistent "batched" and "batching" naming"
Bit of a nitpick, but shouldn't `createBatchingNetworkInterface` be called `createBatchedNetworkInterface`, since it returns a new `HTTPBatchedNetworkInterface`?

Most of the filenames, functions and classes about batching go by "batched", with the exception of `BatchingNetworkInterfaceOptions`, which should also probably be renamed `BatchedNetworkInterfaceOptions`.

Ideally this would happen prio

[2017-03-19 14:57] kolpav commented on #1391
If I understood correctly what is this post about then I am currently facing use case I am unable to solve [relevant issue](https://github.com/apollographql/react-apollo/issues/545). If you guys point me in the right direction and I actually solve it :smile: I could write something about it

[2017-03-19 15:29] jurajkrivda commented on #1413
I have 1.0.0-rc.3 and I can confirm that fetchMore works when `queryDeduplication` is set to false.

[2017-03-19 17:22] jurajkrivda opened #1449 "Possible Unhandled Promise Rejection"
Apollo 1.0.0-rc.4. React Native 0.42.3

I have some query:

[code]

And when I turn off my internet connection I am getting this error message:
Possible Unhandled Promise Rejection (id: 0):Network error: Network request failed

[2017-03-19 17:33] helfer commented on #1449
@jurajkrivda Do you have a stack trace for this? It could be due to a recent change that we could easily revert.

[2017-03-19 17:38] jurajkrivda commented on #1449
[code]

[2017-03-19 18:11] leoselig opened #1450 "Feature idea: Allow functions in refetchQueries"
**Goal:**
Allow the mutation `options.refetchQueries` to receive an array of `function`s (besides `string` and `PureQueryOptions`. These functions would receive the mutation result.

**Use Case:**
In some situations, the result of the mutation contains data that serves as arguments for query that should be refetched. In certain situations, `updateQueries` poses as a good alternative, but this is o

[2017-03-19 18:18] helfer commented on #1449
That stack trace is not very useful, bcause it doesn't have source maps. Are you getting the same with `rc.2`?

I'm guessing this is the change that caused it: https://github.com/apollographql/apollo-client/pull/1133/files

Could you help me verify it conclusively by editing the file in your `node_modules/apollo-client/lib` directory to add the `catch` back in? If the error doesn't appear any more

[2017-03-19 18:18] helfer commented on #1449
If it doesn't work, a reproduction with https://github.com/apollographql/react-apollo-error-template would be much appreciated.

[2017-03-19 18:54] jurajkrivda commented on #1449
I don`t have a directory lib at node_modules/apollo-client.

[2017-03-19 19:01] stubailo commented on #1450
If you added `withApollo` to pass in the client as a prop, you could do:

[code]

This seems like a case of just wanting to do arbitrary things in the result of a mutation, and I think we should make that simpler rather than adding more special-case APIs.

Would the above solution work in your case?

[2017-03-19 20:02] helfer commented on #1449
Oh, I see. In that case you probably have the umd bundle. In the file that is under `main` in `package.json`, find the `QueryManager.prototype.startQuery` function and add back a `.catch(function (error) { return undefined; });` after `this.fetchQuery(queryId, options)`.

[2017-03-19 21:13] nickyhajal opened #1451 "Query with variable throws: "Expected Name, found $""
I am trying to run a basic query with 1 variable through Apollo. It works as expected in GraphiQL and if I hard-code the value into the gql query.

So, this works:

[code]

But, if I change to the following I get an error:

[code]

The error I get is:

[code]

Seems like I'm following the docs exactly but I must be missing something.

Any insights on what's going on?

[2017-03-19 21:19] jurajkrivda commented on #1449
It works now.

[2017-03-19 21:23] helfer commented on #1449
Ok, in that case I will revert the PR and release a new version with the fix in a few hours.

[2017-03-19 21:33] helfer commented on #1451
The `$` is only for variable definitions, which need to come before the first `{`. Here's an example:

[code]

[2017-03-19 21:33] #1451 closed

[2017-03-19 21:51] #1449 closed

[2017-03-19 22:14] nickyhajal commented on #1451
Ah - thank you so much! Got it working now. :)

[2017-03-19 22:24] 0x6e6562 commented on #1321
@stubailo That's a very reasonable suggestion - right now however I am fumbling my way around the new API and don't quite feel I've groked every aspect.

I've just figured out how to insert new items into an empty subscription, but now I'm at the point where I'd like to delete stuff from the cache.

@calebmer Is there an API to delete a fragment?

[2017-03-19 23:06] stubailo commented on #1321
@0x6e6562 that's right!

[2017-03-20 00:39] lucasconstantino commented on #621
Ok, I've worked on this issue and ended up with a project to solve field based cache invalidation: [`apollo-cache`](https://github.com/lucasconstantino/apollo-cache).

This is how you would use it, following the example on my previous comment:

[code]

As you can see, *invalidateFields* method is only a higher-order function to create a valid `update` option for the `client.mutate` method. It rece

[2017-03-20 02:37] lungkuteo opened #1454 "Update meteor apollo-client newest failed when build"
When build to server error. How to fix it? Thank you!

[code]

[2017-03-20 02:42] helfer commented on #1448
@jaydenseric Good point, I think it would be reasonable to make that change. If you make a PR, we might be able to include it in `1.0.0`.

[2017-03-20 02:55] helfer commented on #621
@lucasconstantino I think this is really cool! It's exactly the kind of cache control we hoped to enable with the generic store read and write functions and `update`. A couple of things came to mind when I looked at the package:

1. I'm okay with the name, but I think it would be best to call it `apollo-cache-invalidation` to be specific (or `apollo-cache-updates` if you want it to be a more gener

[2017-03-20 03:34] lucasconstantino commented on #621
@helfer I've renamed the project to *apollo-cache-invalidate*. I'll look at you other considerations in the morning ;)

Thanks for the productive feedback!

[2017-03-20 03:41] helfer commented on #1391
@kolpav yes, your use-case might be very interesting to inform others about patterns to use for representing nested information! If you could describe it (and the solution) succinctly here, that would be great!

[2017-03-20 03:47] helfer commented on #1409
Thanks for the flame graph @nss213. It seems to indicate that `diffQueryAgainstStore` is a problem after all, so if we can't make that more performant, we'll have to look into other ways of propagating cache updates, for example by tracking dependency paths of a query in Apollo Client.

[2017-03-20 06:52] SachaG commented on #903
I'm not sure if this fits the use case discussed here, but I've also been running into issues with data update after mutations (I'm using reducers, not `updateQueries` btw). I made a quick video to show the problem: https://youtu.be/jNgQfmH0nKY

I just updated both `apollo-client` and `react-apollo` to 1.0.0 but it doesn't seem to fix the issue?

[2017-03-20 08:06] leoselig commented on #1450
That sounds like a perfect workaround
I still feel like the idea of `refetchQueries` seems a little incomplete without the ability to use the mutation result within it
Just my 2 cents

[2017-03-20 08:08] jurajkrivda commented on #1449
Thank you @helfer

[2017-03-20 12:57] jurajkrivda commented on #1449
@helfer please reopen this issue. I am getting this error again but now with refetch function. My code

[code]

I am getting Network Error at props.error. This is fine I can handle errors but I think query is still running and after query timeout I got the same error as above.

[2017-03-20 14:57] TSMMark opened #1456 "signOut in afterware does not cancel apollo trying to consume the response JSON as a successful query response"
**Intended outcome:**
queries depending on response data should not try to consume the response JSON as a successful graphql query response.

**Actual outcome:**
If response has empty body, warn:

[code]

If response has JSON body, warn:

[code]

**How to reproduce the issue:**

Create a react-apollo connected component which makes any graphql query.

[Add an afterware which effectively unmounts t

[2017-03-20 16:15] Poincare commented on #1409
I have a hunch that this must be an implementation issue within `diffQueryAgainstStore` because in an idealized implementation, the denormalization execution time should be completely independent of the store size but this clearly isn't the case. I'll look into this ASAP.

[2017-03-20 16:23] nss213 commented on #1409
Glad I could help - If you will be using the test I gave up above, I do suggest reviewing it to make sure this graph isn't an artifact of a faulty test :)

[2017-03-20 17:39] lucasconstantino commented on #621
@helfer I've looked into your second observation, and I think I found a dead end here.

Studying the QueryManager class, and specifically the `queryListenerForObserver` method, I've realized the way I'm doing the cache cleaning isn't really work for current observers. This is quite odd, for I though I had it working on a project using *react-apollo*. I'll look into that later, though. About the *s

[2017-03-20 18:17] lukemadera commented on #1422
It's back. Tried wiping and re-installing node_modules twice.

[code]

[code]

[2017-03-20 19:34] flodlc opened #1458 "Refetching after update a query"
**Intended outcome:**
I'm trying to update the store with "update" after a mutation.
The query i'm updating is not watched during the mutation, this is why I do it with "update".

This is how I'm calling the mutation:

[code]

This is my mutation and my query:

[code]

**Actual outcome:**
After calling proxy.writequery(...), everything seems good, the devtool shows me the store as expected.
But wh

[2017-03-20 19:38] dahjelle commented on #180
If anyone is coming to this in the future, I see that `writeFragment` and `writeQuery` are the new methods to implement this kind of behavior, amongst other things. See [the blog post](https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3#.3fcidsciq) for more information.

[2017-03-20 21:44] tlvenn opened #1459 "Imperative API and cache invalidation"
Hi, in some cases, we need to be able to simply notify clients to invalidate some data rather than giving them a payload to update their store.

I was wondering why the store API does not expose any method to do so.

Thanks

[2017-03-20 22:01] stubailo commented on #1459
We don't have that feature yet, here's the main discussion about it: https://github.com/apollographql/apollo-client/issues/621

[2017-03-20 22:01] #1459 closed

[2017-03-20 22:06] tlvenn opened #1460 "Apollo Client / Relay cache and node refetch"
Apollo Client and Relay caches are pretty similar. They both normalize records using a flattened approach and can leverage a unique ID for given node to further help with deduplication of cache entries.

Relay however mandate the implementation of the `Node` interface which provides an ID lookup for any given node essentially providing refetch capability. This should give Relay cache implementatio

[2017-03-20 22:11] tlvenn commented on #1459
Hi @stubailo,

The linked issue seems to refer to conditional or time based invalidations, i am simply asking to invalidate fields on a given root node and was wondering was this was missing from the new imperative API.

[2017-03-20 22:18] stubailo commented on #1459
The new imperative API only has the ability to update the store contents - currently the store format has no way of representing an invalidation, time-based or otherwise, so the API doesn't have that feature.

I agree that the first comment is about conditional/time based invalidation, but the whole discussion overall is about all different kinds of invalidation, so I'd encourage you to add some c

[2017-03-20 22:21] stubailo commented on #1460
Apollo and the new experimental unreleased versions of Relay both do what some have referred to as "boolean query diffing" - for every given query, either the entire query is in the cache or the entire thing is refetched. So this seems to be where the state of the art of GraphQL clients is moving.

You can definitely use the Node interface manually with Apollo, and even use the `customResolvers` f

[2017-03-20 22:24] jeremyputeaux commented on #1364
Is it only weird to me to fetch all the store again after resetStore?
Some queries might not change if user is logged.

Why not using a param (refetchOnResetStore) to choose this?

[2017-03-20 22:26] tlvenn commented on #1460
Ha interesting to see that Relay 2 is moving toward the same approach as in Apollo Client. Thanks for the feedback @stubailo.

[2017-03-20 22:58] tlvenn commented on #1459
Thanks for the clarification, wanted to make sure that even simple invalidation was not possible at the moment.

[2017-03-21 00:41] stubailo commented on #1460
Cool - would be happy to have an issue to discuss different ways we could leverage the `node` API otherwise!

[2017-03-21 00:41] #1460 closed

[2017-03-21 01:25] flodlc commented on #1458
I've finally found the solution.
I set the __typename of each object  I add in the store by "update" before use writeQuery(...) to be sure the store keep the same Syntax than the one I've choose for "dataIdFromObject".
In my case __typename + id.
Without the _typename, the symbol(id) of the object in the store wouldn't be as expected, I guess.

[code]

And now it work perfectly without refetching,

[2017-03-21 02:41] stubailo commented on #1448
Ping, this would be a good change to have!

[2017-03-21 02:44] jaydenseric commented on #1448
Or maybe even just use `Batch` everywhere: `createBatchNetworkInterface`.

[2017-03-21 03:20] stubailo commented on #1420
@chriscartlidge any updates - would one of the solutions proposed work for you?

[2017-03-21 03:21] stubailo commented on #1448
Sounds good to me!

[2017-03-21 08:43] ligaz commented on #1312
Thanks!

[2017-03-21 14:26] nosovsh commented on #899
We are missing one big use case when frontend can not determine results of what queries and how were changed after deletion (same applies for creating new entities). Let's say I queried `users(age=29, limit=20, offset=10, sort='name')`.
Then I sent mutation to delete some user. And now I can not use `reducer` or `updateQueries` because I don't know HOW should I change results of users query. Only

[2017-03-21 14:47] lionhive commented on #1324
Having same problem with typescript 2.2.1 and @types/graphql.

Many errors due to conflict (showing only few here)

[2017-03-21 15:59] chriscartlidge commented on #1420
@stubailo Apologies I've been I'll the past few days. I'll update you with our use case soon.

[2017-03-21 17:52] nicolo-paganin opened #1464 "The query is reloaded on the client using Server Side Rendering when the js script is loaded on the browser"
**Intended outcome:**

Using apollo-client@1.0.0-rc.5  and server side rendering (node.js / express web server) the query is called on the server and also on the client when the full js script is loaded on the browser. This is triggering a refresh of the componet. This is not happening with apollo-client@0.7.0.

I try to better explain the problem:

I have some react pages with some graphql query.

[2017-03-21 19:15] helfer commented on #818
@NeoPhi I think this is fixed now (with stale data). Can you confirm?

[2017-03-21 19:34] helfer commented on #1454
@lungkuteo this looks to be an issue that's not related to apollo-client (nobody else has observed it), so I'm afraid we can't be of much help debugging it.

[2017-03-21 19:34] #1454 closed

[2017-03-21 19:36] helfer commented on #1464
@imthehell could you provide a reproduction of this issue using https://github.com/apollographql/react-apollo-error-template?

[2017-03-21 19:38] helfer commented on #1456
Hi @TSMMark! Could you provide a reproduction of this using https://github.com/apollographql/react-apollo-error-template? That would help us find and fix the error.

[2017-03-21 20:57] kenshero opened #1465 "Cannot call "query" with "notifyOnNetworkStatusChange = true""
Error: Cannot call "query" with "notifyOnNetworkStatusChange = true"
    at QueryManager.query (QueryManager.js:310)
    at ApolloClient.query (ApolloClient.js:103)
    at Vue$3.getProducts (app.js:23)
    at Vue$3.boundFn [as getProducts] (vue.js:131)
    at eval (app.js:41)

many time error after refresh. some time not error that.
Can you help me ?

[2017-03-21 23:36] helfer commented on #1465
`query` only notifies once. It doesn't make sense to pass the `notifyOnNetworkStatusChange` option to it. Just remove it, or set it to false and you'll be fine. Alternatively, you can use `watchQuery`, which will return an observable.

[2017-03-21 23:36] #1465 closed

[2017-03-21 23:38] helfer commented on #1337
@fubhy any update on your progress? This is a pretty high priority feature for us, so I'd like to finish it this week. If you don't have time, you could just make a PR with what you have, and then I'll take it from there. 🙂  Either way, a quick answer would be appreciated.

[2017-03-21 23:53] #871 closed

[2017-03-22 00:01] #1412 closed

[2017-03-22 01:25] davidye commented on #1413
I am on 1.0.0-rc.6 and am seeing this issue when I call refetch(). Setting queryDeduplication to false does fix the issue.

[2017-03-22 03:51] ryancole opened #1470 "The "install dev tools" console message appears even when I have them installed already"
I'm on Windows 10 64-bit, using Chrome and the latest Apollo dev tools. Even with the dev tools installed, I still see the console log telling me to install them.

I see that the code attempts to check if the tools are installed before printing the message, so I figure there's a bug there and wanted to open this issue.

[2017-03-22 03:56] ryancole commented on #1470
I put some console logging in the `ApolloClient.js` file. I can see that, at run time, the check for `window.__APOLLO_DEVTOOLS_GLOBAL_HOOK__` is `undefined`, despite having the tools installed. This is triggering the notice.

[2017-03-22 04:04] helfer commented on #1470
@ryancole that's interesting. Which version of the devtools are you on? We recently updated them to include that hook.

I have the opposite problem: it doesn't print the message, even when I'm incognito mode, so I assumed it didn't work 😬

[2017-03-22 04:10] ryancole commented on #1470
@helfer here's the version info from the plugin page, via chrome ..

[code]

I just installed it about an hour ago, after seeing the console message.

[2017-03-22 04:38] derek-duncan commented on #1389
I've been trying to debug this as well. Any updates on a solution or ways we can help out?

[2017-03-22 04:44] helfer commented on #1470
Hm, that's the same one I have, and for me `window.__APOLLO_DEVTOOLS_GLOBAL_HOOK__` is not undefined. Are you sure you're not in incognito mode or something?

[2017-03-22 04:51] stubailo commented on #1389
I think we still don't have a reliable reproduction, which would make it much easier to work on a fix.

[2017-03-22 06:36] thebigredgeek commented on #1389
FWIW, we discovered today that running the graphql HoC twice on a single component with two different queries caused this to happen.  By merging both queries together, the bug went away.  I've been planning on implementing a test case to reproduce, and will hopefully have time to do so pater this week

[2017-03-22 13:25] jvbianchi commented on #1470
I have the same problem

[2017-03-22 14:20] nosovsh commented on #621
@lucasconstantino I think I have similar use case. I want to invalidate some queries after mutation and it doesn't matter are they active or stale. And I don't want to refetch them immediately because there could be a lot of them and maybe user will never open pages that are using them again. Did I understand your last message correctly that you were trying to solve similar problem with `apollo-ca

[2017-03-22 14:58] lucasconstantino commented on #621
@nosovsh *apollo-cache-invalidate* will basically purge current data from the cache. In the current state of things, it will work as expected for new queries the user eventually perform on that removed data, but if there are any active observable queries (queries currently watching for updates) related to the removed data, these queries **will not refetch, but serve the same old data they had prio

[2017-03-22 16:00] NeoPhi commented on #818
A simple test indicates that the new `stale` flag is handling this case correctly. As #821 was a more general version of this issue I think we are covered.

[2017-03-22 16:00] #818 closed

[2017-03-22 16:40] gmchaturvedi1 opened #1472 "how to do return partial data on pollinterval"
Dear team,

My component is working fine till beforore ver 1. After ver 1 returnpartialdata is removed now my whole conponent is rerendder on pollinterval. Kindly suggest me how to get changed data with pollinterval like return partial data.

regards
gm

**Intended outcome:**

**Actual outcome:**

**How to reproduce the issue:**

[2017-03-22 16:50] ryancole commented on #1470
@helfer Nope, not in incognito mode. Here's a screenshot of my browser. In the top right you can see the Apollo extension icon. In the dev console, you can see the Apollo tab's text. I've typed out `window._` and you can see what appears in the auto-complete dropdown.

![untitled](https://cloud.githubusercontent.com/assets/484801/24210003/c36bd1da-0ef5-11e7-96fb-18f197834949.png)

[2017-03-22 17:39] helfer commented on #1470
@ryancole @jvbianchi Hm, that's strange. Can you tell me what running `navigator.userAgent` in the console prints for you?

[2017-03-22 17:40] helfer commented on #1470
cc @daniman do you think it's possible the hook doesn't get added in all versions of Chrome for some reason?

[2017-03-22 17:40] ryancole commented on #1470
@helfer `"Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36"`

[2017-03-22 17:41] jvbianchi commented on #1470
@helfer "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36"

[2017-03-22 17:44] ryancole commented on #1470
Also, just updated Chrome, and here's the new `userAgent`. The dev tools console message still appearing. `"Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.110 Safari/537.36"`

[2017-03-22 17:45] jvbianchi commented on #1470
Here is the plugin info:
Version: 1.0.7
Updated:  March 22, 2017

[2017-03-22 17:55] helfer commented on #1470
@jvbianchi I have the exact same user agent, so I'm surprised it's not working. Do you have an example app that I could run to see if it prints the notification for me as well? It may have to do with how the bundle is created.

I'm also curious to know: what is the output of just `__APOLLO_DEVTOOLS_GLOBAL_HOOK__` without the `window` before it? Is that also undefined? If it is, I'm almost certain

[2017-03-22 18:03] jvbianchi commented on #1470
The project I'm working in It's closed source. I'm using   apollo-angular v0.12.0 and apollo-client 1.0.0-rc.6.

`window.__APOLLO_DEVTOOLS_GLOBAL_HOOK__` => undefined

`__APOLLO_DEVTOOLS_GLOBAL_HOOK__` => VM2566:1 Uncaught ReferenceError: __APOLLO_DEVTOOLS_GLOBAL_HOOK__ is not defined  at <anonymous>:1:1

[2017-03-22 18:06] ryancole commented on #1470
For me, when I freshly open a tab, and try to check for `__APOLLO_DEVTOOLS_GLOBAL_HOOK__`, it does indeed exist without `window` before it. But, when I refresh the same page, within the same tab, the variable no longer seems to exist.

Here is what it looks like upon that initial load, though ...

![untitled](https://cloud.githubusercontent.com/assets/484801/24213422/60952326-0f00-11e7-86c2-a85e28

[2017-03-22 18:09] stubailo commented on #1470
Ooh, I think this is the key. I think we only add that variable when the dev tools load, but don't add it when the page refreshes.

[2017-03-22 18:12] ryancole commented on #1470
@stubailo To clarify though, the dev tools console notification still appears on that first load, even with that variable existing. The variable does indeed go away after refreshing, though. So that's something!

[2017-03-22 18:25] helfer commented on #1470
Ok, I think this might be due to the timing. It could well be that the code that checks for the extension runs before the code that adds the hook to the window. Maybe we can solve this by using `chrome.runtime.sendMessage` instead, but it'll probably involve some experimentation.

[2017-03-22 18:25] stubailo commented on #1470
I think we should just add a delay before printing the message, and make sure the devtools add it to the page on refresh.

[2017-03-22 18:30] stubailo commented on #1472
I think this might have to do with the notify on network status default change by @helfer.

[2017-03-22 18:47] ryancole commented on #1470
[React also displays a similar notice](https://github.com/facebook/react/blob/master/src/renderers/dom/ReactDOM.js#L72-L92). Whatever they're doing seems to work as expected.

[And here](https://github.com/facebook/react-devtools/blob/5fedf871df064bbde429c27eddead08cabe72168/shells/chrome/src/GlobalHook.js) is where their dev tools appears to install the global hook.

[2017-03-22 19:54] kenshero opened #1473 "Cannot call "query" with "notifyOnNetworkStatusChange = true""
![notifyonnetworkstatuschange](https://cloud.githubusercontent.com/assets/8245757/24217792/9f58185c-0f73-11e7-8ec6-34c3f3c77d1f.png)

my document query

export const getPostQuery = {
  query : gql`
    query {
      getPosts {
        _id
        topic
        description
      }
    }
  `
}

i am not put notifyOnNetworkStatusChange. Why many time error but sometime works. Can you help me ?
i have

[2017-03-22 20:09] NeoPhi opened #1474 "Create and export fetchPolicy constants"
Would like to see the various fetchPolicy options exported as constants instead of having to relay to magic strings (this could support moving to Symbols in the future).

This is in reference to: http://dev.apollodata.com/react/api.html#graphql-query-options\.fetchPolicy

[2017-03-22 22:38] helfer commented on #1473
@kenshero How are you running the GraphQL query? Are you calling `ApolloClient.query` or are you using an integration library like react-apollo?

[2017-03-22 22:41] helfer commented on #1474
@NeoPhi Yeah, that's a good idea. A PR would be very welcome!

PS: I use VScode and actually see all the options as suggestions since it's defined as a union in the TypeScript source.

[2017-03-23 00:43] helfer commented on #1470
We figured it out. Content script is the way to go. Could you try again with the newest version of apollo devtools (1.0.8) @ryancole @jvbianchi ?

[2017-03-23 00:50] ryancole commented on #1470
@helfer that fixes it! 👍

[2017-03-23 01:22] #1470 closed

[2017-03-23 02:23] langpavel opened #1477 "Batching boundaries (feature idea)"
Hi

There is batching client for Apollo. **But Is there a _manual callback_ which can be used instead of waiting for timeout?**

You should be able to tell batching interface to not wait anymore because you know that **all code paths which can trigger new requests are finished**.. This is typically happens after you get callback from your top level router, `ReactDOM.render` or own logic..

This is

[2017-03-23 03:29] langpavel commented on #1419
@chriscartlidge @phuochau Disable cache? If you spend more time reading sources then writing issue, you will discover that you can use `networkLayer` directly which effectively skip all caching. Yep, it is (in most cases) same as using `fetch` or `XMLHttpRequest` directly. If you want trigger new request and want it to be recorded back into Apollo store, then you should asking more precisely. But

[2017-03-23 04:48] thebigredgeek commented on #1419
@langpavel I don't think most people read through source code in their spare time.  Some of us contribute more than others.  That is to be expected, and I think everyone deserves respect :)

[2017-03-23 05:58] abubakkarbutt opened #1478 "Cannot find Response and RequestInit"
After i upgraded to @angular 2.4.10 and @angular/cli to 1.0.0.rc4
/apollo-client/transport/afterware.d.ts (11,16): Cannot find name 'Response'.
/apollo-client/transport/batchedNetworkInterface.d.ts (9,14): Cannot find name 'RequestInit'.)

It was running fine before

[2017-03-23 07:50] kenshero commented on #1473
I use vanilaJs ApolloClient.query .

[2017-03-23 08:28] langpavel commented on #1419
@thebigredgeek Reading sources is for me the easier way in case of Apollo :-) So sorry, I didn't want to be impolite :-)

[2017-03-23 10:05] philhardy commented on #1413
I'm trying to find the time to do some of the suggested - will get back

[2017-03-23 11:26] primetwig commented on #1419
Project I'm working on has a specific data structure which makes me unable to use `dataIdFromObject`. Example: Updating an item moves it from one list(query) to another. Writing `updateQueries` for every mutation is kinda verbose (although I have written a service for creating some generic update  functions).
Optional disabling of cache is definitely a must-have.

[2017-03-23 14:12] chriscartlidge commented on #1419
@thebigredgeek @helfer @stubailo Thanks for the constructive replies and apologies for replying back to this late 👍

@stubailo Let me give you a bit of overview about our setup at OpenTable.

## Overview

We currently have a front end structure where our front end is divided into self-contained ```microsites``` e.g. the homepage & search page are 2 totally different applications.

As you can expec

[2017-03-23 14:32] csillag commented on #1363
What is the current status of this issue?
This also blocks quite a few (mission critical) things for us.

[2017-03-23 14:47] chriscartlidge commented on #1420
@stubailo Our microsites which server side render contain a long-lived instance of the apollo-client, so resetting the store is probably not the option for us or using multiple client instances.

I think the simplest approach is probably to pass in the language as a parameter like @thebigredgeek  says and just discharge it in the backend (still read from the header though).

Cheers guys 👍

[2017-03-23 16:43] amannn opened #1479 "Nested fragment results arent't merged into a query result"
When a fragment selects nested fields and the original query also selects fields on that type, the fields from the fragment are left out and only the ones from the query are in the result.

**Intended outcome:**

The results from the nested fields of the fragment should be merged into the complete result.

**Actual outcome:**

The nested fields are left out.

**How to reproduce the issue:**

[Here

[2017-03-23 16:53] thebigredgeek commented on #1419
I am wondering if we could solve this, along with other requests for a more flexible caching structure, by implementing a sort of "pluggable" storage interface, as we do with `NetworkInterface`, for the cache.  This would be in lieu of direct coupling with Redux.  I need to look more into how Apollo Client returns results into integration libs like `react-apollo` before I can say confidently that

[2017-03-23 16:59] thebigredgeek opened #1480 "RFC: Root Query TTL"
Hey guys,
I was thinking that perhaps a decent solution for the "ever expanding cache" problem might be to allow for a configurable TTL on root queries.  This TTL value could reset whenever the query is updated.  Whenever the query goes stagnant beyond a certain period, it could simply be purged out of the store once it's subscriber count reaches zero.  Any store entries that are orphaned (you can

[2017-03-23 17:01] stubailo commented on #1480
Sounds like: #41

I think this would be really cool to have after 1.0, we probably don't want to do it before then because it will require some store changes. But we could start working on designs now!

[2017-03-23 17:02] thebigredgeek commented on #1432
Can we get discussion going on this?  I'd love to drill down to design details once everyone is on board with it.

[2017-03-23 17:02] derek-duncan commented on #1389
Some more debugging... FWIW when a `refetchQueries: myQuery` is called for an unmounted `graphql(myQuery)`, this bug seems to occur when it is mounted again. Trying to repo in the error template repo...

[2017-03-23 17:04] thebigredgeek commented on #1480
Yeah agreed.  I think we should take https://github.com/apollographql/apollo-client/issues/1432 into account when talking about this, though, as there would likely need to be some sort of function on the storage interface that `apollo-client` would call to trigger the removal of a root query and orphaned entry cleanup

[2017-03-23 17:08] #283 closed

[2017-03-23 17:12] thebigredgeek commented on #1389
@derek-duncan @alfonsoperez could either of you find time to try to reproduce this with an integration test in `react-apollo`?  I was planning on doing this like a week ago but I've been so slammed at work that I haven't had time.  We should try to get this ironed out before 1.0.

[2017-03-23 17:17] thebigredgeek commented on #464
For uploads: https://github.com/HriBB/apollo-upload-network-interface/issues/5#issuecomment-288652875

[2017-03-23 17:17] helfer commented on #1389
A reliable reproduction with https://github.com/apollographql/react-apollo-error-template would be great! Once we have that, it shouldn't be too hard to pinpoint the issue.

[2017-03-23 17:19] thebigredgeek commented on #1389
@helfer could I just add you as read-only to our app?  I have 3 or 4 examples :D

[2017-03-23 17:24] thebigredgeek commented on #464
@crubier usually upgrading is pretty simple.  I've been upgrading almost non stop since 0.4, and I haven't ever encountered a breaking change that wasn't listed in the [change log[(https://github.com/apollographql/apollo-client/blob/master/CHANGELOG.md).  There has almost always been enough information in the change log to modify my code within 5 or 10 minutes and get it working again.  Otherwise,

[2017-03-23 17:49] derek-duncan commented on #1389
@helfer I've been working on reproducing in `react-apollo-error-template` for a bit and having a difficult time pinpointing. I can continue to debug, but @thebigredgeek's repo might be the clearest way for you to see the issue right now.

[2017-03-23 18:15] helfer commented on #1389
@thebigredgeek is it easy to run? The main reason we have an error template is because it's relatively easy to run and thus reproduce the error without a lot of unrelated code getting in the way.

[2017-03-23 19:21] NeoPhi commented on #1413
Believe that we are hitting a similar issue when using `pollInterval`. If one of the query attempts fails then all later ones fail as well. I'll try to put together a sample later today or tomorrow if @philhardy doesn't get to something first.

[2017-03-23 19:26] stubailo commented on #1013
Yeah I think you could do this by creating your own Redux middleware which listens to actions and calls the above read/write methods when necessary.

[2017-03-23 20:29] helfer commented on #1473
In that case you cannot use the `notifyOnNetworkStatusChange` option. Just don't pass it, or set it to false explicitly. This came up in another issue recently, and the explanation is there as well.

[2017-03-23 20:29] #1473 closed

[2017-03-23 20:35] helfer commented on #1413
@NeoPhi I think I know what the problem is, so I can fix it without a reproduction. But thanks anyway! 🙂

[2017-03-23 21:25] #1413 closed

[2017-03-23 21:45] helfer commented on #1337
@fubhy heads-up: I'll start working on this today.

[2017-03-23 22:01] thebigredgeek commented on #1389
Yeah it's easy to run.  You just need docker and direnv.  With those, you can pull down prod data spin up then entire project with 3 or 4 commands

[2017-03-23 22:02] thebigredgeek commented on #1389
Or I can just come over again haha

[2017-03-24 03:00] mistic commented on #1391
@helfer As you can check in an email I sent you, my current use case not supported by Apollo Client is:

1 - Send queries and mutations over an websocket authed connection using an auth token. (There is no default network interface for websocket connection)

2- Use the same websocket connection to also listen for subscriptions (currently subscriptions-transport-ws don't support receiving an alread

[2017-03-24 06:08] helfer commented on #1479
@amannn any chance that the `Repository` type is a union or an interface? If so, we're about to fix this in #1483

[2017-03-24 06:34] helfer commented on #1391
@mistic Yeah, that's a use-case we'd like to support very soon. @DxCx has already been working on it for a bit. The current plan is to add capability for queries and mutations to `subscriptions-transport-ws` and rename it to `graphql-transport-ws` or something. You should check in with him and @Urigo so you guys don't duplicate work! 🙂

[2017-03-24 06:41] helfer commented on #1432
@thebigredgeek We've been planning this for a while and we think the interface should be quite similar to how the data proxy works.

Making the store reading asynchronous and Redux optional is going to be a pretty large breaking change. Our priority at the moment is 1.0, so this will have to wait until after that.

[2017-03-24 06:43] helfer commented on #1363
@csillag @mdebbar  I'm currently working on #1483, it should be out by tomorrow!

[2017-03-24 06:54] helfer commented on #1472
@gmchaturvedi1 this has to do with the recent change to `notifyOnNetworkStatusChange` and the loading state that you're most likely using in your component. We're reverting the change (releasing tomorrow), but for now you should be able to keep your components from re-rendering into the loading state by checking at `networkStatus` instead of `loading` inside your component. Most likely you want to

[2017-03-24 06:54] #1472 closed

[2017-03-24 07:17] gmchaturvedi1 commented on #1472
Thanx it is done with your suggestion I have just set 5
On 24 Mar 2017 12:24, "Jonas Helfer" <notifications@github.com> wrote:

[2017-03-24 08:08] amannn commented on #1479
Thanks for the quick reply! [`Repository` is a regular type](https://github.com/apollographql/GitHunt-API/blob/master/api/github/schema.js#L6). Also in my app code I'm encountering this bug with a regular type that is not related to a union or an interface.

Here's a fork of `react-apollo-error-template` that shows the error: https://github.com/amannn/react-apollo-error-template. In this case the

[2017-03-24 08:35] ablbol opened #1485 "received status code 204 (no content)"
I am using Apollo client with react in the front end running on port 3001.  In the back end I am running node/express on port 3000.

In the front end, I have a nav bar that is supposed to run a query and get the user data.  When I look at the chrome devtools / network I see something like this:

<img width="1000" alt="screen shot 2017-03-24 at 12 11 22 pm" src="https://cloud.githubusercontent.com/

[2017-03-24 09:25] superandrew213 commented on #1246
@calebmer can't we just omit `__typename` from the results? I understand that it's need for fragment matching but it doesn't have to be included in the results.

[2017-03-24 09:46] wmertens commented on #1391
Use case for https://github.com/apollographql/react-apollo/issues/472:

Maybe I'm doing it wrong, but in my app I have the following pattern a lot:

[code]

With react-apollo not allowing internal state on the query, this becomes at least
[code]

So now, for a simple internal-state search, I need to add a reducer and an action for every time I encounter this pattern.

[2017-03-24 09:50] jlovison commented on #899
@nosovsh You can invalidate the entire cache, for everything, on a delete. That's what I ended up going with as a solution, though in my application deletes are a rarity anyways (i.e. perhaps once a week for a user at most).

Yes, it would be really nice if there was a way to invalidate a single item using the object ID the store is using to keep track of it, across all possible queries that would

[2017-03-24 12:47] csillag commented on #1363
Awesome.

[2017-03-24 15:07] mistic commented on #1391
Hey @helfer I already sent an email to @Urigo to check this situation with him. However, do u have any estimative of the time needed to have graphql-transport-ws implemented in an alpha version? I can give some help with it :)

[2017-03-24 15:08] superandrew213 commented on #161
@abhiaiyer91 @jbaxleyiii any news on this? What approach are you using for mutation validation?

[2017-03-24 16:02] helfer commented on #1246
@superandrew213 you are definitely right about that, but we haven't had time to implement it and try it out. Depending on how it's implemented it might adversely affect performance.

If you have time and are willing to make a PR, we'd do our best to get it merged!

[2017-03-24 16:42] greduan opened #1490 "Explicitly allow partial results, data is undefined as result of intentional partial results"
**Intended outcome:**

The `.query(...).then` handler receives an object with a `data` key with server value. Example:

[code]

**Actual outcome:**

The `.query(...).then` handler receives an object with a `data` key of value `undefined`. Example:

[code]

**How to reproduce the issue:**

Make query to GraphQL server which returns partial result by design and make the client try to query the diffe

[2017-03-24 17:02] alfonsoperez commented on #1389
I can try to do it this week, but I suspect my issue was related to what @derek-duncan said. Been pretty tough on deadlines too myself :D

[2017-03-24 18:34] helfer commented on #1490
@greduan I think this is the same issue as #1337, so I'll close it. We'll have a fix out shortly!

[2017-03-24 18:34] #1490 closed

[2017-03-24 18:40] joshjg commented on #1391
Regarding query options: when you need to pass certain `context` values as query variables, rather than `props`, there is currently no straightforward way to do so. It would be nice if `context` was passed to the `options` argument of the HOC. Like so:
[code]

[2017-03-24 19:05] Poincare commented on #1409
@nss213 The test does seem to be valid to me. I'm running into some very weird behavior, however. If I run a test for reading a single object with 500 subjects on Safari, I get the following results:

![safari results](http://i.imgur.com/P8CXKJi.png)

As you can see, the read times are quite reasonable in magnitude and don't increase over the tests. On the other hand, this is the same test on Chro

[2017-03-24 19:46] greduan commented on #1490
@helfer Thank you! :smile:

[2017-03-24 20:25] helfer commented on #1409
That is indeed very intriguing @Poincare!

[2017-03-24 21:04] nss213 commented on #1409
IMO 10 to 80 ms is still too slow since multiple queries will add up and tie up the CPU for that entire time. 200ms will be clear, perceptible stutter in the UI.

I'm indeed able to replicate the difference in perf with Safari and Chrome that you are seeing.

[2017-03-24 21:24] Poincare commented on #1409
After spending some time adding `console.log`'s in the various function calls, I believe I have an explanation for what is happening. The list `this.queryListeners` within `QueryManager` continues to grow for each query that is fired which gives us the increasing query read times. This occurs because of [this block]( https://github.com/apollographql/apollo-client/blob/master/src/core/ObservableQue

[2017-03-24 21:38] helfer commented on #1409
@Poincare can you link to the block within `ObservableQuery` that you're referring to?

[2017-03-24 21:46] Poincare commented on #1409
I did - see "this particular block" in the text above. Markdown error was preventing it from being rendered as a link earlier.

[2017-03-24 21:51] nss213 commented on #1409
@Poincare that's some excellent analysis; the story makes sense. Might you be able to get away with unsubscribing *without* a timeout altogether? Does the unsubscription actually have to wait until the this particular call-stack is complete?

[2017-03-24 22:16] helfer commented on #1409
@nss213 @Poincare I think we could use `setImmediate` in that position as well instead of `setTimeout(fn, 0)`. Could you try that @Poincare?

[2017-03-24 22:19] nss213 commented on #1409
Pretty sure setImmediate is nonstandard https://developer.mozilla.org/en-US/docs/Web/API/Window/setImmediate

[2017-03-24 22:23] helfer commented on #1409
Oh, I didn't realize. Then we'll have to look into whether we can run the `result` function without going through `subscribe()`.

[2017-03-24 22:48] Poincare commented on #1409
Let me first give it a go on `setImmediate` with a supported browser to see if the problem goes away at all. If it doesn't, then it isn't the source of the problem.

[2017-03-24 23:47] Poincare commented on #1409
I don't think the core issue is the result function since exactly the same issue will occur when we use `watchQuery` directly. I think a reasonable approach is to separately run the logic that has to do with `QueryManager`'s list of queries and the logic that has to do with tearing down the subscription. This way, we can run remove the query from the QueryManager's list of queries before the retur

[2017-03-25 03:47] superandrew213 commented on #1246
@helfer I will take a look at it. What ways did you have in mind?

[2017-03-25 07:43] #1238 closed

[2017-03-25 12:40] smilexu opened #1493 "How to update props after this.props.client.query via 'withApollo' HOC ?"
My use case is that I do not want to do the initial query for search component, instead of that,  I will trigger query after button click, seems like the only choice is withApollo HOC.

Here is my code fragment.

[code]
Fetching data is fine, I can get data in promise then, but how I can update it into props ? As the document http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient\.quer

[2017-03-25 17:28] #1337 closed

[2017-03-25 18:02] ali commented on #51
I came up with a workaround by creating a custom network interface: https://gist.github.com/ali/4884425affbe43f9db85726fecf7d033

Since a partial response is a response with both data and errors, my solution was to wrap Apollo's network interface and make it ignore errors. 😛 I know, unspeakable. It'd be nice if I could additionally retry the request (or just the parts of the query that failed) so

[2017-03-25 18:32] mdebbar opened #1495 "Apollo client stops sending requests"
I'm developing a web application that uses ApolloClient and ReactApollo to communicate with a qraphql api. On some pages, the apollo client works fine and sends the requests as expected. But on some pages, the client just stops sending requests and the `loading` flag is always true. I can see there are no requests in the Network tab in Chrome devtools.

So I started investigating the cause. I kept

[2017-03-25 18:43] mdebbar commented on #1495
The link to the jwplayer code: http://content.jwplatform.com/libraries/lkoR1NDI.js

I'll try to setup a minimal repro today or tomorrow. In the mean time, if anyone has theories on why this happens, I appreciate it.

[2017-03-25 18:54] stubailo commented on #1495
Yeah - if you could put together a small app that has AC, jwplayer, and does like one query that fails, that would help a ton!

So you don't get any errors or anything anywhere?

Sounds like it might be an issue with `fetch` or similar.

[2017-03-25 18:57] mdebbar commented on #1495
No errors. I tried using `fetch` from the console, it works fine. And I tried using the ApolloClient from the console but it didn't send any requests.

I'll try maybe creating a new ApolloClient instance after jwplayer is initialized?

[2017-03-25 19:06] mdebbar commented on #1495
My guess was right. I created a new apollo client and it worked fine. Does apollo client put or use anything in the global scope?

[2017-03-25 19:08] stubailo commented on #1495
Very little - just a few things so that the devtools can find your client. Nothing that would stop the client from working. Might be a good use case for a debugger - set a breakpoint right before firing the query, and then trace it through until something unexpected happens.

[2017-03-25 22:56] mdebbar commented on #1495
Ok, more findings: this issue only happens with `BatchedNetworkInterface`. I tried switching back to the default network interface and things worked as expected.

I'll debug what's going on in the `BatchedNetworkInterface` that's causing it to not send requests.

[2017-03-25 23:18] mdebbar commented on #1495
The requests are being enqueued in the `QueryBatcher` but they never get consumed. Looking now at how the query batcher works.

[2017-03-26 00:08] mdebbar commented on #1495
This is extremely weird. I've never seen something like this before. The `QueryBatcher` uses `setInterval` to watch to queue of requests (which is not ideal, but that's another topic).

I set a spy on `window.setInterval` and `window.clearInterval` to see what's going on. Everything seemed fine, the query batcher is calling `setInterval` and the callback starts getting called every 10ms (or whatev

[2017-03-26 02:15] webular opened #1496 "How to catch mutation errors from the server"
I’ve got a question about error handling client side.

My server returns this on validation error:
[code]

I’d like to get access to the validation errors using apollo-client mutation - something like this:

[code]

But `mutationErrors` get swallowed up and only show a string `Error: GraphQL error: An authentication error has occurred…`

Is there a way to get the contents of the server error so I

[2017-03-26 06:05] mdebbar commented on #1495
Created a repro here: https://github.com/apollographql/react-apollo-error-template/pull/3

[2017-03-26 13:52] greduan commented on #1490
Just to confirm:

v1.0.0-rc.7 fixed the problem by using `fragmentMatcher: new IntrospectionFragmentMatcher()` as a property of `new ApolloClient()`.

Thank you for your time and effort :grin:

[2017-03-26 16:44] kouak commented on #1480
My use case involves a complex SPA, running full screen for long periods of time (multiple days).

To prevent the store from ballooning, I've implemented a simple renderless component which will call `client.resetStore()` every now and then.

Ugly, but it does the job : https://gist.github.com/kouak/18910729ecfda906eadbd6084793f5eb

[2017-03-26 17:10] Purus commented on #1478
Same issue for the below setup.

Ionic Framework: 2.3.0
Ionic App Scripts: 1.1.4
Angular Core: 2.4.8
Angular Compiler CLI: 2.4.8
Node: 6.10.1
OS Platform: Windows 10
Navigator Platform: Win32

[2017-03-27 09:26] nabiltntn opened #1499 "refetchQueries can't find the query to call after mutation"
**Intended outcome:**
refetchQueries calls the query after mutation. The query i used is defined in graphql file ( using the webpack loader ).
It's the same query i am using to display the current page.

[code]

**Actual outcome:**
I can't see any call to query, and i am getting warning message :

**How to reproduce the issue:**
When i debug, i see that `queryName` is an object ( with query and va

[2017-03-27 09:50] nabiltntn commented on #1499
I had to update react-apollo and apollo-client

[2017-03-27 09:50] #1499 closed

[2017-03-27 11:31] nosovsh commented on #899
@jamiter problem with `resetStore()` is that after you call it all active queries will be immediately refetched. And because Apollo uses `recycling` of queries a lot of them could be active even if components that were using them already gone. see #462
That can cause enormous network load so I can not use it.

[2017-03-27 11:34] scf4 opened #1500 "Could you explain how to replicate the functionality of returnPartialData"
It suggests we use two queries but doesn't explain how this can be done?

[2017-03-27 11:56] jamiter commented on #899
@nosovsh, I think you mentioned me by accident.

[2017-03-27 12:58] nosovsh commented on #899
oops, I meant @jlovison

[2017-03-27 13:19] rdickert commented on #1275
In case others find this, I just ran into this problem, and the above fix worked for me.

[2017-03-27 13:53] jsfrocha commented on #1478
I can confirm upgrading @angular/cli to 1.0.0.rc4 throws a couple type errors on build:

[code]

[2017-03-27 14:33] jsfrocha commented on #1478
Solved it by installing `@types/isomorphic-fetch` and adding `isomorphic-fetch` to the `types` array in `tsconfig.json`.

Don't know if its an workaround or an actual fix, but there it is..

[2017-03-27 15:25] stubailo commented on #1478
Can we solve this by adding a dependency on those typings in this package?

[2017-03-27 15:49] jsfrocha commented on #1478
I'd suggest waiting to see if it solves the others' issues, it could be a dependency I have due to any other module, although it seems unlikely.

[2017-03-27 15:53] Purus commented on #1478
Can you share what you have in package.json and tsconfig.json so that I can try your fix.

[2017-03-27 16:30] cesarsolorzano commented on #542
It looks like this should be closed per #1205

[2017-03-27 16:35] #542 closed

[2017-03-27 16:39] cesarsolorzano commented on #973
I think this should be closed in favor of #1273

[2017-03-27 17:17] mdebbar commented on #1495
Here's a PR that removes the need for continuous polling of the request queue. That also seems to fix my issue because there's no more `setInterval`s going on.

https://github.com/apollographql/apollo-client/pull/1498

[2017-03-27 21:00] seeden opened #1506 "Best practices for fragment names"
Hi guys.

I have middle project with lot of fragments and I am thinking about best naming convention for fragments.
Currently I can see in the Apollo documentation two types of names.

## [ComponentName + TypeName](http://dev.apollodata.com/react/fragments.html#reusing-fragments)
[code]

##  [Just ComponentName](http://dev.apollodata.com/react/fragments.html#creating-fragments)
[code]

In my proje

[2017-03-27 22:36] #1032 closed

[2017-03-27 23:19] helfer commented on #1506
@seeden That's a great question! I think the decision comes down to what is easiest to understand and maintain:

Fragments are great when you're fetching the same objects and fields in many different queries. You don't want to repeat yourself, so you just use the fragment.

However, there can be such a thing as too many fragments. A common problem in projects with lots of fragments is that the que

[2017-03-27 23:22] #1506 closed

[2017-03-27 23:36] helfer commented on #1500
@scf4 I've updated the gist, it should be a bit clearer now. We'll include it in the docs before 1.0

https://gist.github.com/helfer/3bbd1a727e30bbad9d2873803855fb91

cc @stubailo

[2017-03-27 23:36] #1500 closed

[2017-03-28 00:34] helfer commented on #1495
Thanks @mdebbar. The PR has been merged and will be released shortly!

[2017-03-28 00:34] #1495 closed

[2017-03-28 00:35] helfer commented on #1485
Hi @ablbol! I think this is a help question that would be better suited to stackoverflow.

[2017-03-28 00:35] #1485 closed

[2017-03-28 01:01] helfer commented on #1493
@smilexu Reducer is not the right choice for this. You should be able to use `client.writeQuery` or `client.writeFragment` to update the cache.

Maybe a cleaner way to do this in React would be to have a Search component with a text field, then a searchResult component that's nested inside it. The searchResult component gets the search text as a prop. That way you could directly attach the query t

[2017-03-28 01:01] #1493 closed

[2017-03-28 01:02] helfer commented on #1496
@webular I think it might not be possible at the moment. It should be pretty easy to fix with a PR though, I think.

cc @cesarsolorzano do you think it's feasible?

[2017-03-28 01:14] stubailo commented on #1485
@helfer might be nice to mention that we watch Stack Overflow closely on the `apollo` tag so you're just as likely to get an answer there!

[2017-03-28 02:25] stubailo commented on #1032
The right way to do what you're trying to do is to call "refetch" right?

[2017-03-28 04:01] payner35 opened #1508 "Trigger Mutation on Redux state update"
is it possible to have a mutation trigger after a redux state has changed?

I have a reducer changing state and setting a _tokenId_. I'd like to trigger a mutation to use the tokenId.

Should I call the GraphQL mutation in my action (which feels wrong)?

Can the mutation be auto-triggered once the state object is updated

my mutation looks like this...

[code]

I can call the mutation _loginUserWi

[2017-03-28 07:54] oavasilcai opened #1509 "Clearing the client state using 'resetStore'"
Not sure if this is actually a bug but more of behaviour issue, we use `resetStore` to clear the state on user logout. However, active queries on that page are being sent once `resetStore` is called.

The queries made require authentication on the backend, so once logout is made they respond with a 401.

I've already submitted a PR with a possible solution, just not sure how the apollo team wants

[2017-03-28 13:07] seeden commented on #1506
Thanks @helfer :)

[2017-03-28 14:05] Peterabsolon commented on #1186
I'm experiencing the same problem. When I call data.refetch() it sometimes get stuck in loading: true.

[2017-03-28 14:33] Purus commented on #1478
@jsfrocha Can you share what changes you have done to package.json and tsconfig.json files?

[2017-03-28 17:24] djshapiro commented on #1394
I assume @unkleho was using an older version of apollo-client, like I was. When I pulled v1 in order to try to fix this with a polyfill for findIndex, I found I also needed polyfills for startsWith and forEach. So I tried adding babel-polyfill and way surpassed the 27kB size limit for apollo-client. That's as far as I can go, unless @helfer has any suggestions.

[2017-03-28 18:12] jamesreggio commented on #534
@calebmer, is there another issue that we can follow to track your progress towards a holistic fix?

I'm still experiencing this problem and the typeless, anonymous fragment isn't working as a workaround.

[2017-03-28 18:14] #1474 closed

[2017-03-28 18:16] #973 closed

[2017-03-28 18:17] #370 closed

[2017-03-28 18:18] helfer commented on #527
This is now in `apollo-test-utils`

[2017-03-28 18:18] #527 closed

[2017-03-28 18:18] #391 closed

[2017-03-28 18:20] helfer commented on #819
This issue has never come up in the last 5 months, so I think we're good here.

[2017-03-28 18:24] helfer commented on #1003
I don't think this is an issue any longer. If it is, we can reopen.

[2017-03-28 18:24] #1003 closed

[2017-03-28 18:26] helfer commented on #1061
@schickling @rricard is this still an issue? If yes, please reopen!

[2017-03-28 18:26] #1061 closed

[2017-03-28 18:32] helfer commented on #1496
@webular can you try this with `mutationError.graphQLErrors[0].data`?

If that doesn't work, please print `JSON.stringify(mutationError)` and then paste the output here.

Thanks!

[2017-03-28 18:47] #961 closed

[2017-03-28 21:18] funkyeah commented on #714
@calebmer is this still in progress, done, or dead?

[2017-03-28 22:31] helfer commented on #1039
Is anyone still encountering this issue? If yes, please let me know and I'll reopen the issue.

[2017-03-28 22:31] #1039 closed

[2017-03-28 22:35] helfer commented on #714
I'm not sure why an `in progress` label was added to this issue, but I'm going to close it, because I believe what was originally asked for can now be done with the `cache-and-network` fetch policy (see the [docs](http://dev.apollodata.com/react/api-queries.html#graphql-config-options-fetchPolicy)).

[2017-03-28 22:35] #714 closed

[2017-03-29 01:34] #831 closed

[2017-03-29 01:35] #1072 closed

[2017-03-29 03:58] baptistemanson commented on #1496
If your server returns something different than 200 response (like a 401 Unauthorized), we found the error buried in "networkErrors".
What we did was:
[code]

We use yarn add stringify to discover the structure of errors.

[2017-03-29 04:02] baptistemanson commented on #1508
If I understand correctly, you are trying to resolve a mutation after an action coming from a side-effect is resolved. I would do with redux-thunk or redux-saga.

[2017-03-29 16:11] cesarsolorzano commented on #1293
It looks like the problem described is the same as #973 and related to #1273. Closing in favor of #1273

[2017-03-29 16:11] #1293 closed

[2017-03-29 18:23] derek-duncan commented on #1186
What's the status on this? Do we still need a reproduction?

[2017-03-29 20:23] peisenmann commented on #480
I know I'm commenting on a pretty old issue here, but after a couple of hours searching the current code base and issues, I can't find anywhere that this was implemented.

Did the idea of a global fragment map get canned, or is it implemented in a way that I was too dense to absorb it in the docs?

[2017-03-29 20:31] stubailo commented on #480
We've actually since decided to move away from the idea of global queries, since it didn't seem to work too well with JavaScript conventions. What are you trying to do?

[2017-03-29 22:30] lucasconstantino commented on #379
Here it goes: https://medium.com/@constantinoyo/graphql-today-using-apollo-for-applications-that-still-depend-on-rest-apis-839895ce20d0

[2017-03-29 23:20] carobeta commented on #604
@drager  I use redux-persist too, but my apollo state never rehydrated. I need to implement something for that?  Thanks!

[2017-03-30 03:21] dfee opened #1516 "subscribeToMore breaks going from 1.0.0-rc2 --> 1.0.0-rc3"
**Intended outcome:**
Return value of `updateQuery` in `subscribeToMore` is passed as new props to component.

**Actual outcome:**
Return value is not passed as new props to component.

**How to reproduce the issue:**
Below is some example code from a component that demonstrates the issue. It largely apes the example in the docs.
[code]

[2017-03-30 03:25] dfee commented on #1516
Closed in favor of https://github.com/apollographql/react-apollo/issues/585

[2017-03-30 03:25] #1516 closed

[2017-03-30 05:06] webular commented on #1496
@helfer Ok that worked out.

I was able to get the error object by doing
```const error = JSON.parse(JSON.stringify(mutationError))```

not sure if there is a better way to turn the string into an object but this works for me.

Thank you all for the help!

[2017-03-30 05:06] #1496 closed

[2017-03-30 05:55] Poincare commented on #1509
This is currently intended behavior as far as I know.

If `resetStore` didn't refetch queries that are active on your page, then your cache would be left in state that may display information pre-resetStore. This is obviously bad (e.g. if you `resetStore` on logout).

[2017-03-30 07:00] oavasilcai commented on #1509
There is no information in pre-resetStore - and I would prefer that over refetching queries and getting 403's because the token/cookies are invalid.

The usecase makes it more difficult for us because this piece of our app is kind of a 'microservice' and logouts navigates away from it's own 'micro-domain'

[2017-03-30 08:10] oavasilcai commented on #1509
@Poincare also, in the PR I've added an option to `resetStore` to be able to not refetch, default behaviour is still to run active queries. PR here: https://github.com/apollographql/apollo-client/pull/1487

[2017-03-30 11:20] ablbol commented on #1485
I will ask all my questions there.
Thanks

[2017-03-30 14:35] dallonf opened #1517 "Usage question / feature request: Invalidating/refetching all instances of a parameterized query after mutation"
Welp, should have searched before writing a huge wall of text. This is basically a duplicate of #621.

~Let's say I have a paginated list field in my schema:~

[code]

~There is table in the app powered by this `Query.widgets` field. The user can customize the page size (aka `$limit`) as well as paginate through the list (`$offset`), so there are an essentially unbounded number of possible permuta

[2017-03-30 14:49] #1517 closed

[2017-03-30 15:02] dallonf commented on #621
I'm not sure how much this really adds to the conversation, but I spent a whole lot of time typing this out in a dupe issue, so I may as well add it here. :) Here is a use case my team commonly runs into that is not well covered by the existing cache control methods and would greatly benefit from field-based cache invalidation:

Let's say I have a paginated list field in my schema:

[code]

There

[2017-03-30 15:42] nosovsh commented on #621
@dallonf We have similar use case. Plus we can not refetch `widgets` right after mutation because there could be a lot of such queries and maybe user will not go again to pages that are using them. It should be just marked as stale so in case user will open such page again query will will be executed.

@lucasconstantino yeah seems active observable queries making problems in such case. I will look

[2017-03-30 15:42] lucasconstantino commented on #621
@dallonf you could experiment using the more sophisticated mutation option [`update`](http://dev.apollodata.com/react/api.html#graphql-mutation-options.update). It gives you direct access to the cache, so you can accomplish quite everything you would need.

I have to promote my project a bit now, for this is exactly the kind of situations a built [apollo-cache-invalidate](https://github.com/lucasc

[2017-03-30 16:15] dallonf commented on #621
@lucasconstantino Aha, thanks! That does solve my use case for now. (I had tried your module, but didn't realize the regex was necessary to capture field arguments).

[2017-03-30 17:16] derek-duncan opened #1518 "Query never receives result (stuck in loading state) when id is not specified on nested type three-levels deep"
[See reproduction for example](https://github.com/apollographql/react-apollo-error-template/pull/4)

**Intended outcome:**
When querying similar data throughout an app, it should be possible to exclude the `id` field on nested queries. E.g. (`{ people { id, name, pets { name } }`).

**Actual outcome:**
However, if you have two similar queries in your app, one that includes the nested `id` and the

[2017-03-30 21:05] JMGonzalezR opened #1521 "Question/Feature Idea - Dynamically uri for network interface"
Hi Apollo Team

There is a way to set or change the Uri of network interface after set it the first time? I have an app that the user can change the host to point, so i want to change the BaseUri when the user change it.

Something like `gql(
{
    uri:baseuri+'graphql',
    query:'foo{id}'
}
)`

Thanks

[2017-03-30 21:48] fc commented on #1521
You could achieve this by creating a custom network interface:
http://dev.apollodata.com/core/network.html#custom-network-interface

Every time you query, you could re-calculate the URI to what you want.

In your case you may actually want to wrap their existing interface and just reload their network interface with whatever URI you want to use.

[2017-03-30 22:03] funkyeah commented on #424
Congrats on the [1.0 for apollo client](https://dev-blog.apollodata.com/apollo-client-1-0-a-flexible-community-focused-javascript-graphql-client-2253b90e6c84). Of course I'm particularly interested in the what's next section. Specifically "next-generation features like cache invalidation, persistent offline caching" which seems particularly relevant to this issue.

My use case is pretty much the s

[2017-03-31 09:38] jsfrocha commented on #1478
@Purus Sorry for the delay, only saw your comment now.

I've added `"@types/isomorphic-fetch": "0.0.33"` to devDependencies in my package.json and
[code]
to my tsconfig.json, right below "typeRoots".

Nothing different from the regular way of adding types to an Angular CLI app.

Hope it helps.

[2017-03-31 10:10] rovansteen opened #1523 "Union types & fetchMore not working together"
When fetching more of a query that has union types the results come back undefined or without data.

**initialQuery**
Not using `IntrospectionFragmentMatcher`: works fine.
Using `IntrospectionFragmentMatcher` with schema: works fine.

**fetchMore**
Not using `IntrospectionFragmentMatcher`: `fetchMoreResult` is undefined.
Using `IntrospectionFragmentMatcher` with schema: `fetchMoreResult` is undefi

[2017-03-31 10:23] Siyfion opened #1524 "Getting Store Errors after upgrading to v1.0.0"
Since upgrading from a previous release candidate (rc6), I am now getting errors when running _**ALL**_ of my create/delete mutations, regardless of what data they mutate I always get the same error:

[code]

In this particular instance I was attempting to delete an `Allergen`.

For reference here is the relevant client-side code:
[code]

and the server-side mutation:

[code]

[2017-03-31 10:55] n1ru4l opened #1525 "Question/Feature Request Partial Query Result for Data already in store"
Lets say I have the following schema:
[code]
In my first View I am fetching an overview of all series with the following query:
[code]

Then somewhere else I have a second View in which I am fetching details for a specific series

[code]

Altough parts of the data for the second query already exist in my store, I will have to wait until the query is executed to access the query result. I think it

[2017-03-31 10:58] Siyfion commented on #1524
Rolling `apollo-client` back to `v1.0.0-rc.6` makes it all work again... I'll continue testing the versions in between to try to narrow the issue down...

[2017-03-31 11:13] Siyfion commented on #1524
I'm starting to think that it might be related to the `reducer` functions so for completeness I'll add them too:

[code]

[2017-03-31 14:01] msimulcik opened #1526 "reducer and updateQueries not called after mutation if query contains union type"
**Intended outcome:**
I have query with union type field and I want to update cache with mutation result. I expect reducer or updateQueries to be called after mutation. I use IntrospectionFragmentMatcher with exported schema.

**Actual outcome:**
Neither reducer nor updateQueries are fired after mutation. If I remove union type field from query, it works.

**How to reproduce the issue:**
Here is r

[2017-03-31 14:34] Purus commented on #1478
Thanks @jsfrocha . It works fine now.

Below is the settings for my Ionic app that worked as you have specified. Hope it helps someone else.

[code]
And

[code]

[2017-03-31 14:59] msimulcik commented on #1526
Can it be that `diffQueryAgainstStore` is missing `fragmentMatcherFunction` [here](https://github.com/apollographql/apollo-client/blob/648b8e1c6a401c2b1c8bb1891104e2419c1c47c1/src/data/store.ts#L161) and thus `graphqlAnywhere` is using default fragment matcher?

[2017-03-31 16:32] helfer commented on #1524
@Siyfion could you provide a reproduction using react-apollo-error-template? That would help us find and fix the issue faster.

[2017-03-31 20:40] helfer commented on #1526
@msimulcik That could indeed be the reason, thanks for the PR! 👍

[2017-03-31 21:17] msimulcik commented on #1526
I'm gonna add tests tomorrow. Would it be enough to cover only the case when I call mutation and expect updateQueries and reducer on query with union type to be called? I'm thinking about adding it to [test/client.ts](https://github.com/apollographql/apollo-client/blob/master/test/client.ts)

[2017-03-31 22:19] Mike-Dax commented on #1525
It appears this functionality used to be available, but it was considered bad practice.

Take a look at this PR: https://github.com/apollographql/apollo-client/pull/1370

[2017-03-31 23:33] Mike-Dax commented on #1436
This should be fixed by https://github.com/apollographql/apollo-client/pull/1527

[2017-04-01 01:37] colvint commented on #1094
+1 for reducer errors getting swallowed. In my case, I was returning an object from my reducer which was *missing* a field which was *present* in the underlying query / fragment it was intended to update.

[2017-04-01 06:32] #1526 closed

[2017-04-01 06:39] helfer commented on #1523
@rovansteen thanks for filing an issue and providing a reproduction! This might be fixed in 1.0.1 by #1527. Could you give it another try and report back?

[2017-04-01 07:55] rovansteen commented on #1523
@helfer thanks! Unfortunately after updating to `1.0.1` the issue is not resolved yet, and `fetchMoreResult` returns still undefined.
I've updated the repository: https://github.com/rovansteen/react-apollo-union-fetchMore-issues

[2017-04-01 08:51] n1ru4l commented on #1525
Ok thanks for the information, looks like I was heading into the right direction. I think this should get documented!  I think the recipe section would be the correct place to add this? I could do a PR for this.

[2017-04-01 15:59] rdickert commented on #1524
I saw a similar issue upgrading a client app to 1.0.0. I don't have time to give a good repro, but I thought I'd mention our code uses `reducer` code very similar to @Siyfion 's, in case that helps. We were at rc6 when we found the issue and have set the upgrade aside for the time being.

[2017-04-01 17:16] helfer commented on #1524
@rdickert I'm assuming you're also using `meteor-integration`, right?

[2017-04-01 18:25] msimulcik commented on #1523
@rovansteen I've just tried your repo with reproduced problem and fetchMore is working fine with 1.0.1

[2017-04-01 23:13] rovansteen commented on #1523
@msimulcik removing my `node_modules` and running a fresh `yarn` did the trick, not sure why that was causing an issue. Anyways thanks for checking it out, great work on the 1.0 release, running smooth now!

[2017-04-01 23:13] #1523 closed

[2017-04-01 23:14] rovansteen commented on #1379
Fixing https://github.com/apollographql/apollo-client/issues/1523 fixes this too. 👍

[2017-04-01 23:14] #1379 closed

[2017-04-02 17:03] xavcz commented on #1524
I've tried to help @Siyfion solving this issue, here are which *assumptions* have come out after our discussion (*assumptions as in my knowledge of the internals of `apollo-client` is limited*).

The error happens when updating the store after a mutation succeeded: part of the reducer output conflicts with what is already there in the store, resulting in the error `Store error: ...`.

Looking at [

[2017-04-02 21:57] benhjames commented on #1436
@Mike-Dax I upgraded to `react-apollo@1.0.0` (and therefore `apollo-client@1.0.1`), and also passed my schema into `fragmentMatcher` on the apollo client options but it seems to have made no difference.

`updateQueries` is still never called (no `console.log`). I traced this through Chrome's debugger: it seems that `context.hasMissingField` is being set to `true` during `diffQueryAgainstStore`, ca

[2017-04-02 22:25] cesarsolorzano commented on #1518
An error message is thrown in [createApolloReducer](https://github.com/apollographql/apollo-client/blob/b69401085d50df1a51a47bcf6b04d40302ae7fdd/src/store.ts#L123) because it attempted to write an object with no id but the store already contained an id, therefore the [state](https://github.com/apollographql/apollo-client/blob/b69401085d50df1a51a47bcf6b04d40302ae7fdd/src/store.ts#L88-L89) is never

[2017-04-03 02:07] peisenmann commented on #480
@stubailo Thanks for the response. I was attempting to setup something where I could do
[code]

Without having to pipe in the strings for the fragments into every query like  `${fragments.people.standard}` `${fragments.company.simple}`

[2017-04-03 06:58] msimulcik commented on #1436
@benhjames could you provide a replication of the issue using https://github.com/apollographql/react-apollo-error-template? I would take a look at it.

[2017-04-03 08:47] pi0 commented on #424
@fongandrew Thanks for your starting point, here is a working version. (It fails loading from local cache sometimes on an unknown race-condition)

[code]

[2017-04-03 09:14] Siyfion commented on #1524
Just to confirm that the issue still exists in `v1.0.1` and that I believe @SachaG is also suffering from this issue?

[2017-04-03 11:02] wmertens commented on #1524
@xavcz so the error is that your mutation somehow also returns a site that "conflicts" with a site already in the cache?

[2017-04-03 11:07] Siyfion commented on #1524
@wmertens The mutation doesn't return anything at all to do with a `Site`, in fact I get an error when dealing with the `removeAllergen` mutation which only returns a simple `String`.

[2017-04-03 12:20] pleunv opened #1530 "Cannot read response data in afterware"
Hi!

I've got a scenario where I want to have a look at the response data in the afterware (async cqrs - in case of an async command response I need to wait for a websocket confirmation event to come in before proceeding). However, since we're getting `Response` objects I need to resolve `response.json()` to get to the data. The problem here is that `networkInterface.js` also resolves the Response

[2017-04-03 13:09] krailler opened #1531 "Apollo query using "... on MyNode" returns undefined."
**Intended outcome:**
{ data: { ... }, ... }

**Actual outcome:**
{ data: undefined, ... }

**How to reproduce the issue:**
If "... on UserNode" is set, client.query(...) returns { data: undefined, ... }
Example of query:
[code]

[2017-04-03 13:22] SachaG commented on #1524
I can confirm I've been running into pretty clear-cut issues with mutation updates. I'm not using `meteor-integration` btw.

[2017-04-03 14:45] derek-duncan commented on #1518
thanks @cesarsolorzano. are you working on a solution to this? just checking to see if someone still needs to pick this up (I'm up for helping out as well).

[2017-04-03 14:57] reggi opened #1532 "API Request: graphql accept "name" as first argument via Object where value is query"
Hey! Little proposal here. I find this a bit redundant to have to name a query name.

[code]

Would be cool if this worked as well:

[code]

Just a small proposal.

[code]

[2017-04-03 15:04] abhiaiyer91 commented on #1524
I hit this error so I did 2 things:

1. I added the `addTypename` attr to my ApolloClient constructor
2. I specified __typename in all my relevant queries that the mutation touched

The fact that I had to do those things seemed weird, but bigger fish to fry on my end.

[2017-04-03 16:48] cesarsolorzano commented on #1518
@derek-duncan yes, I'm working on it! 🙂

[2017-04-03 17:35] fc commented on #1530
It looks like this could be solved using the batch network interface until a fix is in regular network interface.  Someone correct me if I'm wrong on this... but take a look at:

See the batch network interface here (batchedNetworkInterface.ts) where it checks `httpResponse.ok` instead of doing a try-catch like it does with the other one:
https://github.com/apollographql/apollo-client/blob/master/

[2017-04-03 18:16] cesarsolorzano commented on #1530
I think it's necessary to remove `httpResponse.ok` from `batchedNetworkInterface` and make it similar to the `networkInterface` in order to avoid #1238.

Perhaps the solution here is to clone the response object instead of sending it back in `httpError.response = httpResponse`

[2017-04-03 19:46] Danjavia commented on #1524
Hi I have this error after mmigrate to v1.0.1

```Network error: Store error: the application attempted to write an object with no provided id but the store already contains an id of UserNodeVXNlck5vZGU6MTUwNjA= for this object.```

can someone help me?

Thank you!

[2017-04-03 20:13] benhjames commented on #1436
@msimulcik sure, bit of a hectic week so hope you don't mind waiting a little bit - cheers!

[2017-04-03 20:17] cport1 commented on #1422
updating to  "apollo-angular": "^0.13.0" and  "apollo-client": "^1.0.1"  fixed this issue for me

[2017-04-03 20:18] IgorVanian opened #1533 "Filter in query transformed to an empty array with it's query code as key"
Trying to put a filter in a simple query, but it's entirely transformed as a single property containing an empty array.

Using RN42 with apollo-client 1.0.1 and graphql-tag 2.0.0

The query works perfectly in graph.cool console.

**Intended outcome:**
Filtered result :/

**Actual outcome:**
The filter from query is transformed in the result to:
`followedBy({"filter":{"follower":{"id":"\"cj0y53jplv

[2017-04-03 20:19] lukemadera commented on #1422
Cool, I'll close, thanks.

[2017-04-03 20:19] #1422 closed

[2017-04-03 21:18] theotran opened #1534 "Passing down component state instead of 'ownProps' to Apollo's 'options:' in query options"
I have a form in which i'm trying to create a user experience that when you are creating a new record, it will create an id for it and write to the database in real time, and reflect those changes in the UI.
OR
You are editing a record, it is already given a id, so it knows to update the record.

I have a mutation that handles this with 2 cases:
1. There is no ID passed to the mutation, so it crea

[2017-04-03 21:32] dahjelle commented on #1013
Does anyone have an example of doing that?

[2017-04-03 22:37] scf4 opened #1535 "Running similar query twice in a component results in infinite loop"
I'm trying to replicate the functionality of `returnPartialData` and have two HOCs, "ThreadData" and "ThreadDataPartial".

When I do `ThreadData(ThreadDataPartial(ThreadPage)))` I get stuck in an infinite rendering loop.

The only thing that stops it is changing the query inside the HOCs. They do have different query names but it doesn't make a difference. If the variables are the same (e.g., `thr

[2017-04-03 23:10] helfer commented on #1535
@scf4 Thanks for opening an issue! Could you provide more information on what exact queries you are running? A reproduction using [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template) would be best.

[2017-04-03 23:15] TheoMer opened #1536 "Uncaught (in promise) Error: Must contain a query definition."
OS: Windows 10 Pro
apollo-client: "^1.0.0"
react-apollo: "^1.0.0-rc.3"

**Intended outcome:**
GraphQL mutation to fire an update.

**Actual outcome:**
An `Uncaught (in promise) Error: Must contain a query definition.` is issued. See attached image.

**How to reproduce the issue:**
Initiating an onClick event causes the error to be issued.

My code is as follows:

[code]

![query-definition-error](

[2017-04-03 23:45] LilyMGoh commented on #1363
Has this been resolved? I'm on 1.0.1 and it doesn't seem to be working for me.

[2017-04-04 00:07] helfer commented on #1363
@LilyMGoh: the new fragment matcher works, but it's not the default yet. We'll provide some updated documentation soon. In the meantime, here's an example of how to use it:

[code]

[2017-04-04 00:08] helfer commented on #1536
@TheoMer Your mutation needs to have a name, e.g. `mutation Blah (id: Int!) { ...`

[2017-04-04 00:08] #1536 closed

[2017-04-04 00:14] TheoMer commented on #1536
@helfer Many thanks for your response. Unfortunately that did not resolve the issue.

[2017-04-04 00:25] TheoMer opened #1537 "(Reopen) Uncaught (in promise) Error: Must contain a query definition. #1536"
As a continuation to [#1536](https://github.com/apollographql/apollo-client/issues/1536#issuecomment-291333049), the suggested change to the mutation was made, but this did not resolve the issue:

[code]

P.S. I'm not sure whether I'm following proper protocol by opening up this 'continued' issue here, as I was unable to re-open the previous issue.

[2017-04-04 01:58] dahjelle commented on #1013
This seems (on some quick tests) that it'd be an example of using the new read/write APIs from a Redux middleware:

[code]

That said, I (in older versions of Apollo) had to have custom Redux actions integrating with the store, but I think one can avoid that entirely with the new read/write API.

[2017-04-04 02:19] helfer commented on #1537
Hi @TheoMer. It seems like there were two problems in your original mutation. The error message indicated that you used `client.query` instead of `client.mutate`. You should try it like that.

[2017-04-04 02:19] #1537 closed

[2017-04-04 02:25] helfer commented on #1533
@IgorVanian What's the query that's actually sent to the server and what's the server response (in the network tab of the developer tools).

[2017-04-04 02:32] helfer commented on #1534
@theotran Thanks for filing an issue. I'm having a hard time trying to understand what the problem is and whether it even has anything to do with Apollo Client. If you're generating a new object and want it to update in the cache right away, then most likely you have to use either `updateQueries` or the `update` function. Have you tried that?

If you already did that, can you see the data showing

[2017-04-04 02:45] helfer commented on #1524
Thanks all! A reproduction with react-apollo-error-template would really help here, but I'll see if I can figure out what's going on without it.

[2017-04-04 03:35] SachaG commented on #1524
I can confirm @abhiaiyer91's fix seems to work for me using 1.0.1.

[2017-04-04 04:28] theotran commented on #1534
@helfer The store is not being updated with the new object being generated, but when using graphiql i can see the new object created. So i guess my problem is that the store isnt noticing the change thats happening when this new id is being created from user action on the frontend.

[2017-04-04 05:08] theotran commented on #1534
@helfer also, is there a way to pass a variable from component state to the `refetchQueries:` option as a variable?

[2017-04-04 06:21] helfer commented on #1531
Thanks @krailler! Could you perhaps provide a small reproduction using [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template)?

[2017-04-04 06:27] helfer commented on #1532
@reggi I'm not sure what you're referring to. You don't have to provide `name`, it's optional.

[2017-04-04 06:33] TheoMer opened #1539 "(Reopen) Uncaught (in promise) Error: Must contain a query definition. #1536"
As a continuation to [#1536](https://github.com/apollographql/apollo-client/issues/1536#issuecomment-291333049), the suggested change to the code was made,

`client.mutate`

but now throws an `Uncaught TypeError: Cannot read property 'kind' of undefined` error, as shown in the attached image.

![error](https://cloud.githubusercontent.com/assets/15969262/24643948/be2d2634-1908-11e7-93a7-55f0b571c8c

[2017-04-04 06:34] helfer commented on #1477
Hi @langpavel! I think it's a pretty good idea, and I'd be open to a PR! 🙂

[2017-04-04 07:41] helfer commented on #1524
Ok, after thinking for bit and looking at the code I'm fairly sure I know what's going on. The issue is that `reducer` takes its query from `observableQuery.options.query`, which does not yet have the `addTypename` transform applied.
The workaround is to add `__typename` to all selection sets in queries that have a reducer. I'm not sure if `updateQueries` has the same issue (it's not trivial to ch

[2017-04-04 08:01] abhiaiyer91 commented on #1524
@helfer This issue occurs in `update` and `reducer` surprisingly not in `updateQueries` for version `1.0.0` not sure if the fix you describe for update is in `1.0.1`

[2017-04-04 08:17] helfer commented on #1539
I'm sorry @TheoMer, but I can't help any further without a reproduction. Could you please provide one with [react-apollo-error-template](https://github.com/apollographql/react-apollo-error-template)?

[2017-04-04 09:06] Siyfion commented on #1524
@abhiaiyer91 The fix isn't in `v1.0.1` @helfer is still working on it I believe.

[2017-04-04 09:53] TheoMer commented on #1539
@helfer You can find my fork of the error-template [here](https://github.com/TheoMer/react-apollo-error-template)

`Yarn install` away

[2017-04-04 12:33] lucasfeliciano opened #1541 "Feature idea: Abort pending requests"
I saw that in the middleware the `req` object has a `request` object with `operationName`.

[code]

So I'm figuring out a way to cancel previous request with the same operationName.

### Motivation

The motivation behind is to use this feature on search's autocomplete/suggestions.

So when a new query is made we cancel the last request if it is not completed yet, so make it easy to treat the async

[2017-04-04 13:42] krailler commented on #1531
@helfer I solve this using custom IntrospectionFragmentMatcher , see: https://github.com/apollographql/apollo-client/issues/1363#issuecomment-291332651, why do I have to use this to work?

[2017-04-04 13:44] IgorVanian commented on #1533
@helfer Will update when once I figure out how RN can log xhr in devtools...

[2017-04-04 13:51] kemalcany opened #1542 "readQuery crashes if there is nothing in the store"
**Intended outcome:**

I want to check whether or not the apollo cache(store) has a watchQuery registered for a query name (ex: get_comments). I want to use readQuery (or a similar method?) to check the store and if there is nothing, I will get an undefined or null, or -1 etc. Something to indicate that there s no watchQuery exists under that query name.

**Actual outcome:**

When I try to read so

[2017-04-04 15:48] seeden opened #1543 "server side rendering | update documentation"
Hi guys I spent o lot of hours with strange behaviour of react-apollo and apollo-client.
The problem was with state.apollo.queries on the server side. Somehow it is not compatible with client side. When i did next on the server side everything is working fine.

[code]

Maybe you can add information about it into the documentation. The main problem was that apollo-client downloaded query result but

[2017-04-04 16:00] greduan opened #1544 "Doesn't allow mutations without arguments"
**Intended outcome:**

With the following query:

[code]

I expect an answer from GraphQL server. Using `/graphiql` confirms this is valid schema call.

[code]

**Actual outcome:**

I get error:
[code]

**How to reproduce the issue:**

I'm only the front end guy, so all I know is that I must try to make a query that contains a mutation that accepts no arguments.

Relevant schema bits:

[code]

[2017-04-04 16:37] helfer commented on #1544
Duplicate of #1539. (you need to call `client.mutate` instead of `client.query`).

[2017-04-04 16:37] #1544 closed

[2017-04-04 18:42] helfer commented on #1542
Thanks @kemalcany, this looks like a pretty obvious bug! It would help a lot if you could make a PR with a failing test. Should be pretty easy, do you want to give it a go?

[2017-04-04 18:42] greduan commented on #1544
My bad >_<

[2017-04-04 18:47] helfer commented on #1544
No worries! 🙂

[2017-04-04 18:49] fc commented on #1530
It looks like this could be resolved by this PR #1425

[2017-04-04 18:55] #1524 closed

[2017-04-04 19:15] helfer commented on #1541
@lucasfeliciano in a sense this already happens. If the same component makes queries in quick succession, server responses from previous requests are ignored when there's a more recent request already under way. What more would you need?

[2017-04-04 21:05] theotran commented on #1534
Here is the component code for reference
`import React from 'react';
import { graphql, compose } from 'react-apollo';
import gql from 'graphql-tag';
import { withRouter } from 'react-router';

let SiteAddress = React.createClass({
  getInitialState() {
    if (this.props.job.address) {
      return {
        addressId: this.props.job.address.id,
        belongsTo: "Job",
        addressType: this.

[2017-04-04 21:32] chrissm79 opened #1546 "readQuery without variables"
**Intended outcome:**
I would like to be able to query the store without having to use the same variables in previous queries. For example, on a list page I have a query that looks like this:

[code]

I have a mutation to add a location and I'm attempting to load **all** locations associated with the company but it's forcing me to add the `first` and `after` field arguments. I would like to grab a

[2017-04-04 22:22] greenkeeper[bot] opened #1547 "An in-range update of browserify is breaking the build 🚨"
## Version **14.2.0** of [browserify](https://github.com/substack/node-browserify) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fbrowserify-14.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      browserify
    </td>
  </tr>
  <tr>

[2017-04-05 01:57] cesarsolorzano commented on #1518
@derek-duncan so, just to be clear, at the moment, we are talking here about a lack of warning.

The error thrown is from [`writeToStore`](https://github.com/apollographql/apollo-client/blob/54f7b9880023158fa2f9f142f2e1c2f32e724ab2/src/data/writeToStore.ts#L307) and it's swallowed  in [`fetchRequest`](https://github.com/apollographql/apollo-client/blob/4f626207da5cd2258c56d617647a2b08196142ec/src/

[2017-04-05 02:34] cesarsolorzano commented on #1534
@theotran you will probably get a better answer to your question if you post it on Stack Overflow or the Slack channel 🙂, those places are more appropriate for that kind of question.

[2017-04-05 05:51] greduan commented on #1539
Can confirm I also get this error.

[2017-04-05 06:53] greduan commented on #1539
This error is caused because `apollo.mutate` expects `mutation` to exist as a property of its first argument, rather than `query`.

[2017-04-05 07:17] merges commented on #924
@mxmtsk did you end up resolving this? i have a similar issue.