[2017-07-27 17:22] nihalgonsalves commented on #1946
Apollo-Client uses `fetch` under the hood, so if you're looking for more information you should look into documentation about fetch instead.

That said, I don't think that making a request from `qwerty.a.cloud` to `api.a.cloud` with `credentials: 'same-origin'` will send cookies, regardless of the fact that you set the cookie with `.a.cloud`.

Try using `credentials: 'include'`, because you're mak

[2017-07-27 19:23] vincentpageau commented on #1954
Is it possible that **Apollo-Client** has its own default headers when it makes a query?
It looks like the client is adding an `Access-Control-Allow-Origin: * ` whenever it makes a request and I think that's what is causing my error.

[2017-07-27 20:31] jasonkuhrt opened #1956 "React Native cannot find variable self"
**Intended outcome:**

I started a new React Native project via `yarn create react-native-app` and then `yarn add apollo-client`. I try to import it like so:

[code]

**Actual outcome:**

![image](https://user-images.githubusercontent.com/284476/28690929-fe5d0870-72e8-11e7-94ad-462b6fc0f9b3.png)

**How to reproduce the issue:**

**Version**
- apollo-client@1.9.0-1

[2017-07-27 20:52] KadoBOT opened #1957 "Async connection resolver breaks subscription"
I have a subscription which listens for `Post` creation. The `Post` have an `author: User`, and the user needs to be fetched from the DB (promise). Because of that, I can't get the author, before the subscription happens, which causes everything to fail. If I mock the author, without it being a promise, it works.

Schema:
[code]

Resolver: (failing)
[code]
If I change the last part to this, it wor

[2017-07-27 21:46] smeijer commented on #1087
A little late, but one case for the `fetchMore` + `polling` is on infinite lists.

Just changing one variable doesn't work, as the start of the list is than being removed. And polling is wished for to update information along the way.

It can for example happen that an item moves from "page 2" to "page 1" when sorting on a `modifiedAt`.

After reading this issue, I'm still unsure what the way to g

[2017-07-27 22:54] ramirobg94 commented on #653
i am also have this problem

`const networkInterface = createNetworkInterface({
  uri: 'http://localhost:4000/graphql',
  opts: {
        mode: 'no-cors'
    }
});`

{"errors":[{"message":"Must provide query string."}]}

`POST /graphql HTTP/1.1
Host: localhost:4000
Connection: keep-alive
Content-Length: 169
Pragma: no-cache
Cache-Control: no-cache
accept: */*
Origin: http://localhost:8080
User-Age

[2017-07-28 03:38] aryo commented on #1956
Same here

[2017-07-28 07:15] ramirobg94 commented on #1853
I hace the dame issue, the reason is the content-type request heladera, ir should be aplication/json.

I cant be able to change this heladera so i still have the error :s

[2017-07-28 09:56] pleunv opened #1958 "1.9.0-x version troubles."
The `latest` tag is pointing to `1.9.0-1`, however this is not covered by semver `^1.0.0` due to the dash. This is causing some issues, e.g. `react-apollo` that's installing a local copy of `1.8.1` despite having `1.9.0-1` in the root. Is this a pre-release version, in which case the tag should be changed, or can the dash be removed and the version be re-released as `1.9.1`?

[2017-07-28 11:51] acomito commented on #1956
downgrade to apollo-client@1.9.0 worked for me, for now.

[2017-07-28 18:37] kikar opened #1959 "remove optional dependency @types/isomorphic-fetch"
This dependency breaks compilation of typescsript apps with `apollo-client` dependency because is looking for the fetch object, without having it.
Please either move `@types/isomorphic-fetch` to `devDependencies` or move `isomorphic-fetch` to `optionalDependencies`

[2017-07-28 19:13] sonaye commented on #503
React + MobX + Apollo + Graphcool, full implementation for reference.

[code]

[2017-07-28 21:46] reverie commented on #258
@helfer Is there another issue where we can track that feature?

[2017-07-28 21:49] ramirobg94 commented on #653
@saeho
I have solved my problem,
I have a react-web-app on a static server and my API is on another server,
I was serving the app with static-server, I switched to normal express server and with cors on both sides everything is okay.

[2017-07-28 23:02] helfer commented on #258
@reverie You should be able to do this now by simply running `client.writeQuery({ query, data })`. Obviously you'll need the query, the data and the variables (if you used any).

[2017-07-28 23:19] stubailo commented on #258
Here are the docs! http://dev.apollodata.com/core/read-and-write.html#writequery-and-writefragment

[2017-07-29 00:35] mvanlonden commented on #604
Any updates here? Is there a recognized best approach?

[2017-07-29 00:51] mvanlonden commented on #604
Nevermind, this has been fixed by the recent update `1.9` https://github.com/apollographql/apollo-client/issues/424#issuecomment-316529011

[2017-07-29 12:02] tomitrescak opened #1964 "Impossible to use apollo test utils when scalars are present"
I tried to use apollo-test-utils when using custom scalar

I receive folloing error when running code below:

GraphQL error: Expected a value of type \"Date\" but received: Date

[code]

**How to reproduce the issue:**

Just run the code above.

[2017-07-29 14:08] sonaye commented on #503
Just published a small utility [mobx-apollo](https://github.com/sonaye/mobx-apollo) that makes this petty straightforward.

[2017-07-29 14:30] #1033 closed

[2017-07-29 14:30] #1553 closed

[2017-07-29 14:30] #1654 closed

[2017-07-29 14:30] #1066 closed

[2017-07-29 14:30] #674 closed

[2017-07-29 14:30] #1693 closed

[2017-07-29 14:30] #1576 closed

[2017-07-29 14:30] #1637 closed

[2017-07-29 14:30] #1709 closed

[2017-07-29 14:30] #1653 closed

[2017-07-29 14:30] #1711 closed

[2017-07-29 14:30] #1681 closed

[2017-07-29 14:30] #1680 closed

[2017-07-29 14:30] #1725 closed

[2017-07-29 14:30] #1705 closed

[2017-07-29 14:30] #1707 closed

[2017-07-29 14:30] #1614 closed

[2017-07-29 14:30] #1754 closed

[2017-07-29 14:30] #1771 closed

[2017-07-29 14:30] #1710 closed

[2017-07-29 14:30] #1761 closed

[2017-07-29 14:30] #1775 closed

[2017-07-29 14:30] #1743 closed

[2017-07-29 14:30] #1791 closed

[2017-07-29 14:30] #948 closed

[2017-07-29 14:30] #701 closed

[2017-07-29 14:30] #645 closed

[2017-07-29 14:30] #774 closed

[2017-07-29 14:30] #1389 closed

[2017-07-29 14:30] #1391 closed

[2017-07-29 22:07] khankuan commented on #1829
Can't seem to reproduce. Closing for now.

[2017-07-29 22:07] #1829 closed

[2017-07-30 06:16] glasser commented on #952
Reopening, as we haven't fixed it yet and in theeeeeeory the Redux devtools could get rid of the deprecated version at some point.

[2017-07-30 06:29] hammadj commented on #819
Having the same issues as @clayne11

[2017-07-30 13:46] amitport commented on #1432
(https://github.com/apollographql/apollo-client/pull/1921 is merged)

[2017-07-30 13:51] probablyup commented on #481
An LRU implementation seems like a natural choice for the gql cache. Is there a good place to request that as a feature?

I definitely agree with the write-through philosophy for optimistic updates, but I'm sure there are ways to limit overall storage in a reasonable way.

[2017-07-30 16:48] avatsaev commented on #1432
Will there of an official doc with angular ngrx integration or maybe update the current tutorial to use ngrx by default instead of redux?

[2017-07-30 20:38] cpotemski opened #1965 "[question] Is there a way to access the redux store in useAfter"
Hey everyone.
I am trying to use the middleware and afterware of the apollo-client.
Is there any way to access the redux store at this point?

**Problem:**

At the middleware i am attaching my auth-token to every request like:
[code]

If my server returns an 401 status code i would like to send an logout action to my redux store at the userAfter.
[code]

But the store is declared after the Network

[2017-07-31 08:45] julienvincent commented on #621
@jbaxleyiii Sounds good :) Do you guys have any timeframes to the launch or is that still quite unknown?

[2017-07-31 12:22] gastonmorixe commented on #1637
I think this still something important to address. Key part of the data design solution Apollo should provide.

[2017-07-31 12:52] marlonmleite commented on #621
I have same problem, any date to launch new store API?

[2017-07-31 13:30] breathe commented on #1959
I'm hitting this also -- the serverless project requires apollo-client which pulls in isomorphic-fetch and causes this error in node app ...

```node_modules/@types/isomorphic-fetch/index.d.ts(8,30): error TS2552: Cannot find name 'fetch'. Did you mean '_fetch'?```

[2017-07-31 15:00] cport1 commented on #1432
You can use ngrx alongside apollo-client just fine .. there are a dozen other conversations about turning off the cache .. there's also apollo fetch and apollo link

https://github.com/apollographql/apollo-fetch

[2017-07-31 18:34] c316 commented on #1956
1.9.0 doesn't exist. Deleted the node_modules directory, then removed apollo-client from the package.json file. I then did a `npm install apollo-client@1.9.0-0 --save` and it is working for me.

[2017-07-31 18:45] jbaxleyiii commented on #1956
@evanshauser this will be fixed with the link-core PR yes?

[2017-07-31 18:45] jbaxleyiii commented on #1956
This should be fixed via https://github.com/apollographql/apollo-client/pull/1955

[2017-07-31 18:47] bryanyee commented on #1641
Created a PR in core-docs: https://github.com/apollographql/core-docs/pull/315

[2017-07-31 19:33] stubailo commented on #774
BTW, the answer to this is https://github.com/apollographql/apollo-link

[2017-08-01 00:56] jbaxleyiii opened #1971 "Cache API design"
This issue is an umbrella issue for tracking discussions related to the new store API design and store's built with it!

cc @shadaj @nevir

[2017-08-01 01:34] nevir commented on #1971
Some scattered feedback as I dig into the code:

1. It would be nice if the cache was a pure interface, so we didn't have to set up a circular dependency on apollo-client.  I think there's a couple changes needed for this:

  * Reduce the surface area of the Cache's interface.  Probably: drop `readQuery`/`readFragment` (in favor of `read`) from the API, and instead make them pure functional helper

[2017-08-01 02:46] stubailo commented on #1971
Link to PR for context: #1921

[2017-08-01 03:16] stubailo commented on #1971
You want this if you are planning to update the non-optimistic data with a `readQuery`/`writeQuery` combo.

[2017-08-01 03:17] stubailo commented on #86
@jbaxleyiii how do we mark an issue to not be closed? I think this one is the canonical issue for client-side data management.

[2017-08-01 04:25] anasvn commented on #1478
Have you fixed the problem ?

[2017-08-01 13:08] ancashoria commented on #1795
Hi, I'd also like to `reject` a mutation and display the rejection message in the UI.
How am I supposed to do this?
Thanks  @helfer

[2017-08-01 15:12] cpotemski commented on #1965
Sorry wrong lib :D i use react-apollo

[2017-08-01 15:12] #1965 closed

[2017-08-01 15:16] nevir commented on #1971
Unless I'm missing something, there's no _public_ API from AC that allows someone to specify `optimistic: false`, right?

Locations in AC that I'm unclear on:

---

[`QueryManager#fetchQuery`](https://github.com/apollographql/apollo-client/blob/bdc715fec132e075938b259295fd4efb68a4d18e/src/core/QueryManager.ts#L445-L450) calls `diffQuery({ ... optimistic: false })`, which is surprising to me.  If t

[2017-08-01 16:06] ericyip opened #1976 "One of the sources for assign has an enumerable key on the prototype chain. Are you trying to assign a prototype property? We don't allow it, as this is an edge case that we do not support."
trying to add apollo client with react native navigation.
![screen shot 13](https://user-images.githubusercontent.com/11587066/28834622-556011be-7715-11e7-852e-9509f031a953.png)
[code]

**Version**
- apollo-client@1.4.10

[2017-08-01 21:55] LilyMGoh commented on #1956
I just upgraded to 1.9.0-1. It seems like the issue is still not fixed.

[2017-08-02 09:06] kikar commented on #1959
@stubailo @jbaxleyiii Any ETA for when this fix merged in #1960 is gonna be published to NPM?

[2017-08-02 09:10] narayananramu commented on #1946
@nihalgonsalves Thanks for the reply, I made a workaround using stateless cookie (JWT). I tried using `credentials: 'include'` there is any change in the request header.

[2017-08-02 10:18] maksymkhrystenko commented on #1976
You can try to install apollo-client@1.4.0. It helped me

[2017-08-02 10:34] TomWhiteCSL commented on #1478
Hi @anasvn
No I haven't.
Having repeated my steps and got the same problem, I now wonder if the two steps I completed are actually enough for a Hello World type test. Can anyone enlighten me?
I just want the minimum steps to run the Angular Apollo Client against a GraphQL playground url.
Cheers
Tom

[2017-08-02 11:47] anasvn commented on #1478
I have solved it by installing the exact version of apollo-client I wanted. My current version where replaced with latest version. I think you could solve it by checking the apollo-client version and re installing it.

[2017-08-02 12:00] TomWhiteCSL commented on #1478
Hi @anasvn
Excellent. I will have a go.
Can I ask what versions of Angular, CLI, and apollo-client you've got working?

[2017-08-02 12:22] mathiasjakobsen commented on #1701
@helfer @cesarsolorzano, I had the exact same problem and I think I found the problem. Given how the store key is resolved in https://github.com/apollographql/apollo-client/blob/master/src/data/storeUtils.ts#L163, any GraphQL query that has an `null` argument, will cause this error.

The keys in the store can look like this `$ROOT_QUERY.whatever.foo.bar({"foo":"bar","baz": NULL})`, but when the `r

[2017-08-02 12:23] mathiasjakobsen commented on #1701
This is particularly annoying, since I'm using relay style pagination, and the cursor must always be `NULL` to start from the beginning.

[2017-08-02 12:37] anasvn commented on #1478
@TomWhiteCSL I have been using apollo-client **1.4.2** version

[2017-08-02 15:13] Superpat opened #1980 "Confused on how to pass arguments to query"
So I'm pretty sure I'm simply confused as to how this all works. But I've tried many combinations and I cant get it to work.

**Intended outcome:**

Trying to query a specific object with an id
[code]

**Actual outcome:**

When used like this:
[code]
I get a 400 error becauses arguments to the graphql query are not being passed along.

**Version**
- apollo-client@<1.8.1>

[2017-08-02 16:33] Fxlr8 commented on #1971
Ability to read/update instances in store using data id only would be highly useful

[2017-08-02 17:18] nevir commented on #1971
@Fxlr8 I believe you can do that today via [`readFragment`](http://dev.apollodata.com/core/read-and-write.html#readfragment)

[2017-08-02 17:20] Fxlr8 commented on #1980
It is better to ask such questions on stackoverflow.com
You should get num from props
Try this
[code]

[2017-08-02 17:41] Superpat commented on #1980
Wow I just realized that I was modifying viewItem.js instead of ViewFile.js.... Spent so much time on this I feel like the biggest fool!

Oh well, at least your response lead me to find out that there couldnt possibly be something wrong with the code (As I had tried the way you wrote it before)

I've always preferred using github issues directly compared to stackoverflow, as I find the community o

[2017-08-02 17:41] #1980 closed

[2017-08-02 17:42] pcorey commented on #424
Hey all,

I've put together two articles that outlines my experiences with setting up offline queries and mutations with Apollo and Redux Offline.

[Offline GraphQL Queries with Redux Offline and Apollo](http://www.east5th.co/blog/2017/07/24/offline-graphql-queries-with-redux-offline-and-apollo/)
[Offline GraphQL Mutations with Redux Offline and Apollo](http://www.east5th.co/blog/2017/07/31/offlin

[2017-08-02 17:52] Fxlr8 commented on #1971
@nevir, `readFragment` as API reference says, requires me to:

1. write/import a fragment
2. add fragment name
3. add fragment-specific variables

it is unwanted stuff to do when I just want to read/change a single object in the store. data id is unique for the whole store and is enough to identify and get a single item

[2017-08-02 18:05] Fxlr8 commented on #1971
Also, there is a problem when I want to `readQuery` on a query with pagination. For example, if I have the following data structure:
`
`

[2017-08-02 18:40] MichaelDeBoey commented on #1705
@stubailo You have any idea yet?

[2017-08-02 20:22] nevir commented on #1971
Ah, yeah - that makes sense.  I can't speak to the pagination bit (I think it might get merged into a single list somewhere in the cace)

As for fetching state from Apollo's current cache without a fragment - unless you only want shallow values (e.g. no nested objects/arrays), it's a no-go.  The cache needs to know how far to walk (and reconstruct) your nodes to return them

[2017-08-03 09:31] roadhump opened #1985 "It is not possible to update query in mutation while query is refetching"
**Intended outcome:**

`update` or `updateQueries` from mutation must work independently from loading state of queries.

**Actual outcome:**

Now it looks like `update` and `updateQueries` will not change query result while query is loading when we use `referchQueries` for the same queries.

**How to reproduce the issue:**

Here is my example https://codesandbox.io/s/wjoAmRPkJ . I want to change q

[2017-08-03 09:53] poyannabati opened #1986 "[docs] config.props passes ownProps for mutations, not the props themselves."
I think the docs are confusing / misleading as they are now.

![image](https://user-images.githubusercontent.com/1499050/28916330-2ad14d72-7842-11e7-81fe-88caabf9beeb.png)

Whereas the part on mutations shows us;

![image](https://user-images.githubusercontent.com/1499050/28916356-3c8e01e0-7842-11e7-9f16-534b9d37af25.png)

[2017-08-03 12:10] altschuler opened #1987 "Infinite loop when selecting multiple fragments with the same fields"
Using apollo-angular, given something to the effect of the following schema, `watchQuery` will trigger infinitely. I'm guessing the cause is something like the `PartOne` fragment being updated which triggers a change in the store that triggers the `PartTwo` which triggers `PartOne` and so on. Or something similar. It might be an issue with apollo-angular, sorry if it's the wrong repo to report.

[

[2017-08-03 13:38] lucfranken commented on #1910
@jbaxleyiii to be  clear, here it now happened that issues are just closed:

https://github.com/apollographql/apollo-client/issues/899#issuecomment-318834815

Are you sure that bot isn't going to close down those relevant issues?

[2017-08-03 13:53] jbaxleyiii commented on #1910
@lucfranken sadly it will probably end up closing some relevant issues. The bot takes 5 weeks to close an issue (first comment is three weeks after no activity and close is two weeks after that). If the community / myself hasn't noticed it / responded over 5 weeks I don't see how it will be found and fixed 😢.

What we really need is more help with issues in the client. Unfortunately I don't have t

[2017-08-03 13:55] lucfranken commented on #1910
@jbaxleyiii like I said: There needs to be some vision input from the team on those issues. It's totally unclear what the direction of the API is which makes it impossible to add specific tests / advices etc.

[2017-08-03 15:56] nevir commented on #1971
Feedback on `recordOptimisticTransaction`:

The current behavior appears to be to capture the `transaction` callback, and (re-)call it each time the store wants to (re-)apply the optimistic update.  But for situations where the app must be shut down (and the cache needs to be marshalled/restored), that's not going to work (at least at this level).

What I'm thinking of doing is:

* Record all writ

[2017-08-03 17:10] TheoMer commented on #424
Hey @pcorey

Many thanks for the break-down you've given.

Do you have a github repository where I can see the components mentioned in your article in action? I need to have a clearer understanding of your use of `<Loader />`, specified in your Rehydrated component.

[2017-08-03 17:15] pcorey commented on #424
@TheoMer `<Loader />` is just a generic loading component (in my case, I'm using [SemanticUI](https://react.semantic-ui.com/elements/loader)). The details of that component aren't important. Anything of importance should be described in the article.

If you want a complete repo that outlines a lot of these ideas, check out [ReggaePanda's `redux-offline-examples` project](https://github.com/ReggaeP

[2017-08-03 21:41] nevir commented on #1971
Another point:

* Transactions should probably be given a `DataProxy`, not an entire `Cache` object (hard to reason about calling `reset`, `watch`, etc within a transaction)

[2017-08-03 22:32] evanshauser commented on #1956
@jbaxleyiii Yes this should be fixed in 1.9.0 with the move to `apollo-link-core`

@LilyMGoh @jasonkuhrt @aryo Let us know if it still fails. I have tested `yarn create react-native-app` and `yarn add apollo-client` on an android successfully

[2017-08-03 23:23] aryo commented on #1956
@evanshauser yup just tried 1.9.0, all is well.

[2017-08-03 23:44] evanshauser commented on #1956
@aryo Awesome thank you for confirming!

[2017-08-03 23:44] #1956 closed

[2017-08-04 05:07] stubailo commented on #1971
@Fxlr8 you'll be interested to read about the `@connection` directive, which is exactly for that purpose - to make more predictable store keys for complex arguments: http://dev.apollodata.com/react/pagination.html#connection-directive

👍  - I agree that the methods should be limited to the ones that make sense

I think that is an implementation detail of `InMemoryCache` - other implementations cou

[2017-08-04 05:22] stubailo commented on #1986
Would you mind reopening the exact same thing on https://github.com/apollographql/react-apollo?

However, it seems like it's a problem with the docs themselves, since I think it's always `ownProps` so it's probably just not clearly written: https://github.com/apollographql/react-apollo/blob/8ee56e94d90c1df6862b54073ed0cf3b99330ead/src/types.ts#L63

Mind sending a PR here to mention that parent pro

[2017-08-04 06:52] filippofilip95 commented on #621
I Am waiting too :)

[2017-08-04 07:06] stubailo commented on #621
Discussion here: #1971

Also, 2.0 PR with refactored store here: https://github.com/apollographql/apollo-client/pull/1941

Those are the best places to follow along!

[2017-08-04 07:09] stubailo commented on #1954
Doesn't look like it: https://github.com/apollographql/apollo-client/blob/a3b9677576889bb5d20d227683f5ab563e8088a8/src/transport/networkInterface.ts#L187

That header is usually something sent from the server, not the client. So you might need to look at your server configuration.

[2017-08-04 07:09] stubailo commented on #1954
What do you mean by this? Is it using `GET` or `POST`?

[2017-08-04 08:13] pleunv commented on #1958
Resolved with 1.9.0 release, closing this :)

[2017-08-04 08:13] #1958 closed

[2017-08-04 09:38] roadhump commented on #1985
It looks like `fetchPolicy: 'cache-and-network',` makes it work as expected https://codesandbox.io/s/l5l1qvqz1

[2017-08-04 12:37] heysailor commented on #1186
Similar for me. I have a component that I mount in when data is required, and it's often mounted with different variables. The network request succeeds but the component is stuck in loading state.

It takes a further (unrelated) interaction from the user - in my case, tapping on a map elsewhere -  to come out of the loading state.

[2017-08-04 15:02] tomitrescak commented on #1186
Hi, I have another reproducible case.

I have noticed that this happens after I call `resetStore`.
My workflow is:

1. When logOut -> resetStore
2. logIn ... no component will update to loading = false

To reproduce:

1. go to: http://staging.claraworld.net
2. use: t.trescak@westernsydney.edu.au / apollo123 as access data
3. log out
4. log back in ... voila, everything is stuck on LOADING

Reset s

[2017-08-04 15:15] jbaxleyiii commented on #1186
@tomitrescak I wonder if this is actually an interop issue between react-apollo and apollo-client. I think when reset store happens, the react tree isn't rerendering correctly. Could you create a simple reproduction for me to take a look at?

[2017-08-04 15:22] tomitrescak commented on #1186
@jbaxleyiii ... I tried downgrading apollo-client and all goes back to normal at 1.7.0 (I did not try every version, just minor ones).

I am not sure how to create a minimal repro, I am affraid that what I have posted is good as it gets :/

[2017-08-04 16:59] dylanscott commented on #1186
@helfer were you able to reproduce the issue with [the repro I linked](https://github.com/dylanscott/apollo-repro)? I just upgraded it to the latest `apollo-client` and `react-apollo` releases and can still reproduce the issue. This seems like a pretty minimal repro case, which is what you asked for.

[2017-08-04 19:04] scotmatson commented on #1680
fetchMore really a solution for cursor-based pagination rather than offset-based. The example on the Apollo-Client documentation improperly exemplifies this behavior for the offset-based pagination. While fetchMore can be used, it definitely is not the correct solution here. The whole point of offset-based pagination is to minimize the amount of cached data and provide a bit more fine grained cont

[2017-08-04 20:52] liz-mars commented on #1326
I went to https://github.com/apollographql/react-apollo/blob/master/examples/create-react-app/src/Pokemon.test.js and it is now a 404. Any documentation on this, or, failing that, a solid example?

I've been reading through http://dev.apollodata.com/tools/graphql-tools/mocking.html and it's not prima facie clear to me how to apply this to react-apollo.

[2017-08-05 01:22] jasonkuhrt commented on #1956
Thanks guys

[2017-08-05 09:14] TheoMer commented on #424
@pcorey Many thanks for the follow up information.

I'm having a slight issue refctoring my component which uses withApollo, as it needs to be fired only after an onclick event. Can you shed any light on the following?: https://stackoverflow.com/questions/45520210/howto-refactor-mutation-withapollo-to-use-redux-offline

[2017-08-05 14:53] pierrebiver opened #2004 "Network error: Network request failed with status 0 - """
I setup a basic project using react-apollo for the front end. And a go server for the back.

When I launch my app, despite a status 200 from my server and data received. React apollo send me a request error:

`Error: Network error: Network request failed with status 0 - ""
    at new ApolloError (C:\Users\Pierre\WebstormProjects\healthy\node_modules\apollo-client\errors\ApolloError.js:34)
    at O

[2017-08-06 14:15] pierrebiver commented on #2004
My bad, I did not configure the cors correctly on server side :)

[2017-08-06 14:15] #2004 closed

[2017-08-07 02:10] #1976 closed

[2017-08-07 08:50] lifeiscontent commented on #566
@peisenmann @matt-way @stubailo how would you pass the apollo client into the store? I'm confused.

[2017-08-07 12:54] janaleible opened #2007 "update fails if a query has not yet been executed"
Not sure if this is a bug or intended behaviour, however, it doesn't work for my use case. The same thing has been reported (and fixed) for `refetchQueries` (see #690), although I do realise that this case is different.

**Intended outcome:**
I'm executing a mutation query which afterwards requires a manual update of the store. However, I cannot guarantee that the query I want to update has been r

[2017-08-07 13:51] TheoMer commented on #424
@pcorey I'm having a bit of an issue whereby upon firing a login mutation 'data' returns a user token. The token should then be stored via an action call, and the user is then redirected to the main site.

But the token action and the redirect are not acted upon, and the action to complete a user login simply continues to cycle round over and over (See image). What is the issue here?

My original

[2017-08-07 13:52] mhlavacka commented on #636
Sorry to open this again, but is there a way to do this without reusing server schema? Working on  the case with separate client and API.

[code]

[2017-08-07 18:24] clayne11 commented on #585
Keeping this open.

[2017-08-07 20:05] jbaxleyiii commented on #585
@clayne11 hmm, adding the feature label should have kept this open! I'll take a look so you don't have to comment 👍

[2017-08-07 21:39] baio commented on #1746
problem still persists.
My setup angular2 project + apollo-client, exact same errors.
Project include many over dependencies and building fine without apollo-angular dependency.
Project gives this error only with AOT compilation (production mode)

I would consider this bug critical, since angular 2 projects couldn't be build in production with apollo-angular.

[2017-08-08 00:02] asafigan opened #2011 "Be able to unset content-type with middle-ware on network interface"
There is a problem with the Fetch API where setting the content-type header to undefined while using cors mode sends a header of "undefined" rather than the default header. The default header is needed for sending form data.

I am trying to use middleware to unset the content-type sent by the network interface, so that I can send form data as the body. I am doing this so that I can send files to t

[2017-08-08 07:27] igo commented on #1893
Unfortunately no 😞, I dont do typescript.

[2017-08-08 09:32] amannn opened #2012 "Actions aren't symmetrical"
**Intended outcome:**

I have a redux store that listens to apollo actions and updates a state that indicates if the app is currently doing any GraphQL calls and if there was a recent error. For this to work, I need apollo client to dispatch init and matching result/error actions.

**Actual outcome:**

I noticed that there can be init actions, without matching result or error actions.

**How to re

[2017-08-08 12:25] groundmuffin opened #2013 "networkInterface.use is not a function"
**Intended outcome:**
When using ApolloClient on full WebSocket transport, the `subscriptions-transport-ws\SubscriptionClient` instance is used as client's networkInterface.
Trying to use Apollo Client with middleware and networkInterface.use()
Followed instructions from http://dev.apollodata.com/core/network.html#networkInterfaceMiddleware

**Actual outcome:**
The problem is when AppolloClient co

[2017-08-08 16:29] TheoMer commented on #424
So, I want to dispatch an action, which updates a user token, in my effect:, but this does not work.

I am doing:

[code]

Why does this not work?

[2017-08-08 22:31] un33k opened #2016 "watchQuery() can't handle an empty variables object properly."
[x] **bug**

**Intended outcome:**
watchQuery() was passed in an empty object as variables.  Expected a better handling of empty variables. The call was expected to hit the backend, or minimally return an error of some sort.

**Actual outcome:**
Noop.  watchQuery() neither returned an error nor executed anything or even hit the middleware chain. No message was sent to the backend.

**How to reprod

[2017-08-09 03:43] Saidalavi opened #2020 "Getting SCRIPT1014: Invalid character in IE and Safari while handling GraphQL operations"
**Intended outcome:**
We are using Apollo client in angular 1.x to connect with GraphQL. All browsers working fine except IE and Safari.

**Actual outcome:**
Getting a `SCRIPT1014: Invalid character` in IE and Safari

**How to reproduce the issue:**
The issue is due to back quote ( `) character present in GraphQL queries (gql`${query}`, gql`${mutation}`).

**Version**
- apollo-client@0.8.0

[2017-08-09 04:53] nevir commented on #1971
Looks like there's a couple straggling spots where `addTypename` is still managed outside of the cache (spotted by @vincecoppola).  Would be good to have consistent ownership for that config flag:

* https://github.com/apollographql/apollo-client/blob/2.0-alpha/packages/apollo-client/src/core/QueryManager.ts#L355
* https://github.com/apollographql/apollo-client/blob/2.0-alpha/packages/apollo-clien

[2017-08-09 08:22] stretchkennedy commented on #1186
We're seeing a case of this where `APOLLO_QUERY_STOP` is sometimes but not always dispatched before `APOLLO_QUERY_INIT` for the same `queryId`, and it's only happening for one query. I haven't been able to create a minimal repro or figure out what's special about that query yet, unfortunately.

[2017-08-09 10:00] muaaz-vf opened #2022 "_this.networkInterface.subscribe is not a function"
![screenshot from 2017-08-09 14-58-26](https://user-images.githubusercontent.com/5028648/29116174-770f320a-7d13-11e7-8c11-bc2dfeda420c.png)

[2017-08-09 10:31] waleedarshad-vf commented on #2022
+1

[2017-08-09 10:38] DxCx commented on #2022
There is already bug fix pending (#1992)
On Wed, 9 Aug 2017 at 13:31 Waleed Arshad <notifications@github.com> wrote:

[2017-08-09 10:42] waleedarshad-vf commented on #2022
can do patch or something for the time begin to run it

      import {SubscriptionClient, addGraphQLSubscriptions} from 'subscriptions-transport-ws';
      import ApolloClient, {createNetworkInterface} from 'apollo-client';

      import { meteorClientConfig } from 'meteor/apollo';

      const isLocalhost = process.env.ROOT_URL === 'http://localhost:3000/' || !process.env.ROOT_URL;

     const GR

[2017-08-09 10:43] waleedarshad-vf commented on #2022
How to merge that pull request or the way we can use it?

[2017-08-09 11:02] waleedarshad-vf commented on #2022
Problem exists here when i run subscribe to more
    componentWillReceiveProps(nextProps) {
	  // we don't resubscribe on changed props, because it never happens in our app
	  if (!this.subscription && !nextProps.data.loading) {
	    let { subscribeToMore } = this.props.data

	    this.subscription = subscribeToMore(
	      {
	        document: postUpdated,
	        updateQuery: (previousResult, {

[2017-08-09 13:34] #2013 closed

[2017-08-09 15:56] nevir commented on #1971
Also, I'm definitely struggling to understand when the cache should throw exceptions vs not - for example https://github.com/convoyinc/apollo-cache-hermes/pull/32 - from reading the in memory cache code, it seems like diffQuery _should_ be throwing if `returnPartialData` is falsy (aka the default), but it doesn't appear to.  And things like query observers don't appear to expect it to throw

[2017-08-09 15:58] jbaxleyiii commented on #1971
@nevir I was just talking with @shadaj about the typename issue! Working on a solution for sure!

hmm, I'm not sure on throwing. We should set policies for sure there. Maybe even adjust to not throw anywhere and have error responses somehow?

What are your thoughts?

[2017-08-09 16:23] waleedarshad-vf opened #2023 "Update Single Hash in SubscribeToMore Instead of array"
How to update single hash. When I try to change value in hash it does not change. As hash is read only but when I do in array it works. i have only hash in current scenario.

     subscribeToMore(
      {
        document: postUpdated,
        updateQuery: (previousResult, { subscriptionData }) => {

         if (subscriptionData.data.postUpdated) {

	  console.log("------Updated hash------",subsc

[2017-08-09 17:10] zunder opened #2024 "proxy.readQuery throws an error on not executed queries"
I am having a structure which looks like the following:

[code]

At one point in time I am fetching one persons addresses, which is being cached in the store while using the id field.

At a later point in time, I am doing a mutation on the object and add a new friend. Please note, that at this point in time the user did not request to fetch the list of friends for now. In order to keep the friends

[2017-08-09 18:56] nevir commented on #1971
IMO the cache shouldn't throw at all - but instead return `isMissing` when
requested.  That way AC can choose what to do based on it

On Wed, Aug 9, 2017, 08:58 James Baxley <notifications@github.com> wrote:

[2017-08-09 19:22] #2022 closed

[2017-08-09 19:47] ralphchristianeclipse opened #2026 "Does graphql-tag parses multiple queries and fragments like this?"
![image](https://user-images.githubusercontent.com/25447231/29140845-857205a0-7d7e-11e7-81f7-a3fd4eef56c8.png)

[2017-08-09 20:07] emmenko commented on #1186
Hey guys, we are also experiencing the same issue (logout -> resetStore -> login) on version `1.9.0`.
However I downgraded the version to `1.8.1` and it seems to work again. I guess some kind of regression introduced in `1.9.0`?

I'm also using `react-apollo@1.4.10`, but changing the version there does not seem to influence the result.

[2017-08-09 21:15] nevir commented on #1971
Aha, so I missed that `returnPartialData` _defaults_ to `true` (might want to flip that option around in the cache API to make it apparent)

[2017-08-09 21:53] rnenjoy commented on #1854
Same here

[2017-08-10 03:19] nevir commented on #1971
Oof, more fire to douse on to the "don't expect + trap errors coming from the cache" fire: just lots a lot of time to a genuine bug in my cache that was being swallowed by AC, and treated as a partial result

[2017-08-10 04:05] liuuu commented on #1493
@smilexu have you solve the problem? I met it as well.

[2017-08-10 05:48] janaleible commented on #2024
See also issue #2007

[2017-08-10 06:07] waleedarshad-vf commented on #2023
Problem lies over ther on this line

 **previousResult.property.water_heater = subscriptionData.data.postUpdated.water_heater;** .
    This is not working as PreviousResult.property is hash not array

[2017-08-10 06:10] waleedarshad-vf commented on #2023
**Here it works previousResult.posts is an array**
          subscribeToMore(
          {
             document: postUpdated,
             updateQuery: (previousResult, { subscriptionData }) => {
               previousResult.posts = previousResult.posts.map((post) => {
                if(post._id === subscriptionData.data.postUpdated._id) {
                  return subscriptionData.data.postUpdat

[2017-08-10 07:59] tomsowerby commented on #424
Has anybody considered (or solved) how authentication could be managed?
It may be the case that a user token has expired and they will need to log in again once online in order for the mutations to succeed.

[2017-08-10 08:09] hyusetiawan opened #2032 "batched polling, docs issue"
according to: https://github.com/apollographql/apollo-client/issues/164
it seems like the polling happens all at once under one request?
which is different from what the docs say:
http://dev.apollodata.com/react/receiving-updates.html#polling
[code]
says nothing about batching

[2017-08-10 18:52] #657 closed

[2017-08-11 12:29] nerdmed commented on #1409
@helfer any news on this one or any plans you guys could share regarding apollo performance? We also found some performance issues on slower devices, that totally break the UX.

[2017-08-11 12:29] ephemer commented on #1409
Adding some more info to avoid this issue being closed: we're having issues with Apollo Client performance in React Native on older devices (anything older than an iPhone 6). Part of this is probably due to JSCore not allowing JIT outside of WKWebView, leaving us with a pretty poor performance baseline for JS to begin with. We're investigating too.

[2017-08-11 12:31] elie222 commented on #1409
Our Android React Native performance is awful. Not sure if this is Apollo
or not. We know for certain that having too many items in the Apollo client
store is a recipe for disaster though. Hopefully 2.0 fixes it.

On 11 Aug 2017 15:29, "Geordie J" <notifications@github.com> wrote:

[2017-08-11 16:19] variousauthors commented on #585
I too would like to have more control over how Apollo deserializes the response from client. It isn't enough to munge the shape of the data in the HOC's `props` method. If the date is nested in the response data, then we would have to iterate over the entire response every time. Not just every time it is fetched, either, since as far as I know the `props`method is called even if the data was cache

[2017-08-11 18:13] daniman opened #2038 "Expose wether a query is polling"
It would be nice if Apollo Client exposed wether or not a query is polling in the context when passing information to Apollo Link. I'd use that information when making links and it'd be nice to be able to show polling queries in the devtools as well.

[2017-08-11 19:17] jimthedev commented on #1186
Same as @emmenko.

Using apollo-client@1.8.1 in combination with react-apollo@1.4.10 works.

As soon as you upgrade to 1.9.0 this issue starts happening. Here is the diff between those: https://github.com/apollographql/apollo-client/compare/v1.8.0...v1.9.0

[2017-08-11 19:27] joshjg commented on #1263
@helfer @calebmer  Why can't Apollo support this? It seems like it would be very tedious, or maybe even impossible, to implement this ourselves. We can set `loading: true` somewhere in our state, but how do we know when the `refetch` is done, so we can set `loading: false`?

[2017-08-11 19:43] s-panferov opened #2039 "Layered cache proposal"
Hello, thanks for the amazing library. In our company, we're trying to adopt some Relay-like solution and we are looking for a set of specific features that seems to be missing right now in all GraphQL client libraries. I'll try to explain what we're looking for.

Relay and Apollo Client are good for fetching and mutating data, but I don't see any ability to work with data BETWEEN load and save st

[2017-08-11 23:01] s-panferov commented on #2039
I need to think more about it. Will reopen later.

[2017-08-11 23:01] #2039 closed

[2017-08-12 01:07] yuricamara commented on #424
Does anyone know a solution to use with Angular 4?

[2017-08-12 14:15] MLPXBrachmann commented on #424
Based on @pcorey's excellent articles, I came up with a prototype of a custom network interface & Redux store enhancer you can just plug into your app to basically get full offline-support out of the box (it utilizes Apollo's native caching & optimistic response features).

Here it is: [Apollo-Offline](https://github.com/Malpaux/apollo-offline)

This solution is not framework-specific and should w

[2017-08-12 15:21] TheoMer commented on #424
@MLPXBrachmann many thanks for this.

You've specified:

[code]

but have defined:

[code]

Shouldn't that be `<Rehydrated />` or am I overlooking something?

[2017-08-12 15:54] MLPXBrachmann commented on #424
@TheoMer you are absolutely correct! Indeed there is (now was) a typo in the README. Thank you for pointing it out!

[2017-08-12 20:39] farzd opened #2042 "Could not find "client" in the context of Apollo(MyComponent). Wrap the root component in an <ApolloProvider>"
Hello,
Using expo/react-native, I get this error when I try make a graphql-query from a modal. I.E the component only gets mounted when you click on a link [the modal slides in]. The graphql-query seems to work in any other component.

my root component is wrapped in a ApolloProvider
[code]

I'm not quoting my query code as it works fine outside the modal, is there some gotchas for components that

[2017-08-13 13:33] mxstbr commented on #1934
Uhh this is weird, should this be marked as stale? I feel like it should be marked as an ongoing discussion 😅

[2017-08-13 20:33] mattapperson commented on #1909
I am also more irritated with this then pleased it exists... :/

[2017-08-14 08:40] hzsweers commented on #1079
@miwo100 I'm in the same position with the same ID kind. What was the solution for you? I'm guessing the `id` field on `repository` objects maybe isn't actually the right one?

[2017-08-14 08:59] hzsweers commented on #1079
Just answered it myself - I was querying with `query repositoryById($id: String!){` instead of `query repositoryById($id: ID!){`

[2017-08-14 10:07] TheoMer commented on #424
@MLPXBrachmann I've submitted a new issue to you.

[2017-08-14 11:34] fischerman commented on #1881
@jbaxleyiii do you need more information at this point?

[2017-08-14 12:16] happylinks opened #2045 "__typename isn't added automatically to queries that use __type("
**Intended outcome:**
GraphQL queries that use __type( should also get the __typename added to them automatically.
Correct query should be:
[code]

**Actual outcome:**
When you have a query like:
[code]
The __typename will not be added in the correct places. (see first query)
This causes persisted queries to not work anymore for these specific queries; it will not find the query in the query map.

[2017-08-14 12:38] jbaxleyiii commented on #1881
@fischerman sorry I haven't taken a look yet! I'll be out of town this week but will add it to my list first of next week!

[2017-08-14 22:02] lambert-velir commented on #1886
@jbaxleyiii @msand I'm struggling with this right now.  I've typed up my problem on Stacked Overflow.

https://stackoverflow.com/questions/45683687/apollo-mutation-debounce-and-race-conditions

Any ideas?

[2017-08-15 01:32] bylevel commented on #1186
I have same problem.

1. When logOut -> resetStore
2. login
3. When data == last data   ... no component will update to loading = false

if data != last data , no problem.

So, I try get server time.

[code]

[2017-08-15 05:49] altschuler commented on #1836
@helfer No worries! I'm still quite interested, I think it'd be a nice addition, I can image a few use cases if it can be done in an efficient way. Regarding the performance of watchQuery I never measured it since I never went with that solution, but it somehow feels like the wrong approach to "wrap" simple fragment lookups with proper query bells and whistles

[2017-08-15 10:56] timur560 opened #2047 "Cannot add Authorization header"
I was trying to add Authorization header to apollo GraphQL request, but it was not added
My code:
[code]

As a result, I don't see this header in my request
Request headers:
[code]
Response headers:
[code]

**Although** when I use Modify Headers chrome extention to add custom headers, all works fine.

[2017-08-15 11:56] intellix commented on #2047
We're achieving this in ng2 using a factory/middleware:

[code]

Hope it helps

[2017-08-15 12:52] timur560 commented on #2047
Thank you, @intellix, but unfortunately, with `applyMiddleware` the result is the same. If it helps, I use apollo with polymer, but it is not the issue, I think.

[2017-08-15 14:48] mxstbr commented on #1936
This isn't really stale since it's just an enhancement suggestion, so I'll comment again to remove that stale label! Would somebody mind adding a label to the issue so it doesn't get marked as stale again?

[2017-08-15 14:53] jbaxleyiii commented on #1936
@mxstbr done and this will be part of the 2.0 🎉

[2017-08-15 15:11] mhlavacka commented on #1913
Sorry for reopening, but it doesn't make sense to me. You can't mutate with `__typename` key name otherwise you need to include it inside of your schema on each nested object.

[2017-08-15 15:40] #1623 closed

[2017-08-15 17:37] yarbshk opened #2048 "Can't pass array of objects via the variables method when mutate"
Hi. I just opened an issue [there](https://github.com/Akryum/vue-apollo/issues/102) but should make it here as it turned out.

Can you help me to understand what happened and why to be able to resolve this issue?

Thank you a lot!

### Additional info
ApolloClient version 1.7.0

[2017-08-16 00:31] khankuan opened #2049 "Partial fragment matching causes data disappear due to hidden error in apollo-client"
Hi, I have a use case where I'm doing a mutation that creates a new object. I then nest the fields that would be changed in the mutation query and expect that the ui gets updated correctly.

**Actual outcome:**
The data in the `data` object is gone, primarily due to an error in https://github.com/apollographql/apollo-client/blob/master/src/data/readFromStore.ts#L149

Reproduce at https://khankuan.

[2017-08-16 03:30] khankuan commented on #1942
It seems like the bug has changed with the latest version. It is now showing the same error as https://github.com/apollographql/apollo-client/issues/2049

[2017-08-16 16:33] jonathanphz commented on #1701
I'm getting the same errors and like @mathiasjakobsen mentioned I do have Null values in my queries - not sure of that helps.

[2017-08-16 19:37] acomito commented on #1701
yeah I'm having the same issue. My one complaint about apollo is that simple CRUD stuff is not as turn key as you'd like.

[2017-08-16 19:47] stubailo commented on #1701
@mathiasjakobsen @jonathanphz do you mind opening a new issue specifically about null arguments? I think that's probably a real thing.

[2017-08-16 22:02] mravey commented on #1419
Could you provide any help on how to use `apollo-link` to bypass the cache?

[2017-08-16 22:26] ahopkins commented on #1954
I am having the same issue.

```Fetch API cannot load http://localhost:8000/. Response to preflight request doesn't pass access control check: The 'Access-Control-Allow-Origin' header contains multiple values 'http://localhost:9999, http://localhost:9999', but only one is allowed. Origin 'http://localhost:9999' is therefore not allowed access. Have the server send the header with a valid value, or

[2017-08-16 23:03] vincentpageau commented on #1954
Sorry forgot to update my status here

I actually fixed the issue I had. It didn't have anything to do with Apollo.

I'm using an IIS Server and what I did was I customized my Response headers.
I also used the URL Rewrite method in IIS Manager.

If your requests has 2 Access-Control-Allow-Origin headers, you are probably adding one before it reaches the server. Because it's your preflight request

[2017-08-16 23:04] vincentpageau commented on #1954
Meant to write IIS Manager^^.
I'm using a GraphQL server.

I didn't change anything on my apllication and on my server in my solution.

[2017-08-16 23:08] ahopkins commented on #1954
Thanks @vincentpageau

I did find it. I was using [sanic cors](https://github.com/ashleysommer/sanic-cors) to manage my CORS. Little beknownst to me, the [sanic-graphql](https://github.com/graphql-python/sanic-graphql/blob/master/sanic_graphql/graphqlview.py#L166) also decides to add its own CORS. And, oddly enough, it does not overwrite the original. Poor decision in my opinion that they would ad

[2017-08-16 23:49] vincentpageau commented on #1954
No problem glad you figured it out !

[2017-08-17 01:06] davidtran commented on #819
I am still getting this issue.

[2017-08-17 03:03] bjeanes commented on #248
I am on apollo-client 1.4.0 and I _think_ I'm experiencing this issue as described above. I am introducing React into an existing codebase so have multiple top-level components. One of the components I am mounting fetches data via two separately `graphl()`-wrapped queries, only one of which is polling. When I re-mount the top-level component, I seem to have poll leaks. I tested this by purposefull

[2017-08-17 04:30] helfer commented on #1836
Ok, great! I'm not sure what the latest state is of the new store API that you'd have to write against, but maybe @jbaxleyiii can fill us in!

[2017-08-17 05:49] voodooattack opened #2050 "Network interfaces are forcing `application/json` as the content type"
**Intended outcome:**

I wrote a middleware to upload files through GraphQL requests, and despite explicitly setting the content type to `undefined` (which should make the browser automatically assign the `multipart/form-data; boundary=xxxxxx` content type`), the content type in the end request comes out as `undefined`, which is confusing my server-side parser. (busyboy)

Here's the client part of

[2017-08-17 07:50] scf4 commented on #1704
I had this error using `fetchPolicy: 'network-only'` with server-side rendering.

Need to check for window object e.g.
`pollInterval: typeof window === 'undefined' ? null : 180 * 1000,`

[2017-08-17 07:59] mathiasjakobsen opened #2051 ".readQuery errors on queries which originally had NULL variables"
Trying to read a query which originally had `NULL` values (perfectly acceptable in the case of cursor pagination for example) will fail, because the call to `.readQuery` will strip `NULL` values.

**Example:**
Given that this query have been executed on the client:
[code]
Apollo will cache it on a store key looking something like `$ROOT_QUERY.users({"first":"10","after": NULL})`. Then, when trying

[2017-08-17 08:00] mathiasjakobsen commented on #2051
@stubailo, there you go 🚶

[2017-08-17 08:01] mathiasjakobsen commented on #1701
@jonathanphz @acomito, still havn't found a solution, but follow https://github.com/apollographql/apollo-client/issues/2051 which hopefully will end up with a solution.

[2017-08-17 18:23] benhjames opened #2052 "Feature idea: Allow bulk writeFragment updates"
Currently, `writeFragment` writes a single data item at a time. This is fine for updating 1 or 2 items, but when you have 100 items you want to update, it is a prohibitively expensive operation!

This is because `writeFragment` force renders GraphQL components' children, so there are potentially components that are being re-rendered 100 times (if you call `writeFragment` from a loop).

I'm suggest

[2017-08-18 03:51] tomitrescak opened #2054 "Shape of the store changed from 1.8.0 to 1.9.1. How to detect all running queries?"
Hi, we were actively using apollo store to check whether any query is still pending.
When we have updated to 1.9.1 our functionality broken down, since keys "queries" and "mutations" disappeared from the store.

[code]

any help is greatly appreciated

[2017-08-18 04:10] tomitrescak commented on #2054
This is the state of the store that I see:

[code]

[2017-08-18 04:12] tomitrescak commented on #2054
To put this in another words. How can I check whether there is ANY query still running in 1.9.1? Thanks!

[2017-08-18 07:56] seeden commented on #1717
I have same problem with all queries via react-apollo.
I can simulate it very easily. Try to turn off your server during the query and you will see frozen browser and after one/few minutes a lot of errors.

[2017-08-18 09:14] timur560 commented on #2047
The reason was that OPTIONS should always return 200 without authorization. The issue was fixed by server updating.

[2017-08-18 09:14] #2047 closed

[2017-08-18 13:57] gilesbradshaw opened #2055 "synchronising queries and subscriptions"
if you use a query over http and a corresponding subscription over ws then you can run into problems where the data changes just after the query data is obtained on the server eg if you do this on the server:

[code]

you end up with stale data on the client - because the subscription doesnt catch the change.

I was just wondering whether you'd thought about this scenario...

I seem to have fixed

[2017-08-18 16:41] 0x80 commented on #819
Same here

[2017-08-18 17:33] samrae7 commented on #1911
Hy just wondering if someone is working on this as I need this too :)

[2017-08-18 18:12] jad11v commented on #819
also getting this issue!

[2017-08-18 20:36] sodiumjoe opened #2056 "feature request: `createBatchingNetworkInterface` should allow queries to unbatch"
Use case: unblock fast calls from slow ones in a batched query

[code]

In the above snippet, if the `commentsQuery` is slow, it will prevent the `renderFeed` function from being called because the queries are batched together (using `createBatchingNetworkInterface`).

I've worked around this by creating a custom networkInterface that separates known slow queries into their own batching interface:

[2017-08-18 20:49] joelgriffith commented on #2056
I'm curious if `apollo-client@2.x.x` will have mechanisms in which to implement stuff like this by consumers? I'd be interested in testing out 2.0.0 and writing a post about it since this will effectively solve some perf issues others' until things like deferred queries are a thing, or not :)

[2017-08-19 09:50] bradleyayers commented on #1186
I actually had a really similar issue to this, but I was using react-apollo and my component was getting stuck in "loading=true" state. Turns out the problem was that I hadn't specified `notifyOnNetworkStatusChange=true`, by default it's `false`. So in the `graphql` container I had to set `{ options: { notifyOnNetworkStatusChange: true } }`.

[2017-08-19 10:09] tomitrescak commented on #1186
Yeah, I was just about to post this, had similar issue and that solved it!

[2017-08-19 14:31] wallslide commented on #2055
I have been creating the query, initializing the subscription, then doing a refetch to make sure no updates were lost inbetween the original query and the subscription creation.

[2017-08-19 15:35] pawsong commented on #1697
It would be helpful if there is a API like `readQueries` which returns all cached parameters of a parameterized query. Then I can manually update each query caches. My 2 cents :)

[2017-08-19 15:38] jvbianchi commented on #1971
is there a design doc with the new planned Cache API?

[2017-08-19 22:40] hyusetiawan commented on #1812
the way it's designed right now it's not friendly in terms of developer ergonomic, like the rest of the people here, my first assumption is to use the error.message but instead, we have to map the error stack it seems.

[2017-08-20 01:58] kaid commented on #1854
Is it possible to make data() an async function, so that we could somehow await the update() invocation?

[2017-08-20 08:08] tomitrescak commented on #1964
Yup, scalar resolvers need to passed to makexecutableschema not to mocks. Afterwards all works as expected.

[2017-08-20 08:08] #1964 closed

[2017-08-20 13:43] mxstbr opened #2057 "RFC: Rename customResolvers to cacheResolvers"
When skimming the Apollo Client docs I was confused what `customResolvers` were about. My first thought were that they are sent to the server and replace the resolver that's running there or something like that. (which doesn't make any sense in hindsight, but whatever)

I feel like `cacheResolvers` would be a much more descriptive and easy to understand name, since that's really what the option is

[2017-08-20 13:53] rjdp opened #2058 "Apollo style cursor based pagination tradeoffs"
Is there any tradeoff with Apollo style approach as compared to relay style cursor pagination ? I am trying to understand the same, your insight will be greatly helpful.

[2017-08-20 21:30] adamhaney commented on #84
@stubailo I have a similar use case to @ffxsam. I'm working on creating a prepackaged library that I'd like to distribute for other developers to use (so in my case imagine that I *am* Github and I'm trying to develop a client library that abstracts away the fact that the underlying implementation of my backend is graphql/apollo).

Is there any way that I can create an HOC that utilizes ApolloProv

[2017-08-21 14:48] colinramsay commented on #1692
I agree with @machineghost. Even some example code would help.

[2017-08-21 18:11] Remexllee opened #2059 "Add a parameter to resetStore without refetch"
Hi, there has a requirement in my current project that just reset store without refetch queries, how about add a flag in resetStore function let user decide whether need to refetch or just clean store.

like: client.resetStore(false), which just clean store, not need to refetch.

**Version**
- apollo-client@1.3.0

[2017-08-21 22:02] ffxsam commented on #84
Maybe I was thinking about it the wrong way, and third party GraphQL APIs should be accessed on the backend, and ingested via resolvers?

[2017-08-21 22:04] ajanieniolasolomon commented on #2004
Pls the solution

[2017-08-21 22:16] stubailo commented on #84
BTW this is our long-term solution to this: https://github.com/apollographql/graphql-tools/pull/382

[2017-08-22 03:27] windgaucho commented on #1186
@bradleyayers solution work form me too

[2017-08-22 12:57] m-korkut opened #2060 "apollo-client and apollo-server used together example ?"
hi guys , I have not found an example where Apollo client and apollo server are used together.  TI need a sample to better learn and understand.

[2017-08-22 14:19] #1759 closed

[2017-08-22 14:19] #1706 closed

[2017-08-22 14:19] #1860 closed

[2017-08-22 14:19] #1851 closed

[2017-08-22 14:19] #1830 closed

[2017-08-22 14:19] #1825 closed

[2017-08-22 14:19] #1800 closed

[2017-08-22 14:19] #1896 closed

[2017-08-22 14:19] #1873 closed

[2017-08-22 21:55] pcorey opened #2061 "Change default fetchPolicy to "cache-and-network""
Hello,

I thought I'd open up this issue for discussion. The current `fetchPolicy` on GraphQL queries is `"cache-first"`. This default assumes that all mutations are either made by, or can be predicted by the client. I would argue that this isn't true for most web applications.

Defaulting `fetchPolicy` to `"cache-first"` opens up the possibility of stale cache reads throughout an app if any queri

[2017-08-22 23:23] enjoitheburger opened #2062 "Race condition with updating using readQuery() and writeQuery()"
**Intended outcome:**
Currently we have an update function like so:
[code]

This function updates the same query with different triggers. One of them is after sending/receiving a message the the server. Another one is asynchronous from receiving a pushed message.

A race-condition exists where data will get lost from the store if we use an optimistic response. Sample walkthrough:
1. Message is sen

[2017-08-23 08:19] tomas-paronai commented on #1186
Facing the same issue. When I open a certain scene, I have a swiper with same components but different query variables. On all pages in the swiper I am stuck on `loading: true` and no data returned.
Tried it without variables as well, same result.

[2017-08-23 08:32] emmenko commented on #1186
Setting `notifyOnNetworkStatusChange: true` does seem to help. Thanks 👍

[2017-08-23 14:41] #1959 closed

[2017-08-23 18:08] zunder commented on #2024
@janaleible did you manage to come up with a workaround on this issue?

I noticed that `readFragment` supposed to return either the FragmentType or null. This might be a solution for this issue, but I didn't try it out yet.

[2017-08-23 18:40] variousauthors commented on #1496
I am experiencing the same behaviour and am using `JSON.parse(JSON.stringify(e))` to get the error object.

[2017-08-23 18:50] variousauthors commented on #1496
When I catch the error from a mutation like this,

[code]

The following message is logged to the console,

[code]

So I got the impression that this issue was still occurring.

When I inspected the object more closely, like this,

[code]

It logged an array of error objects.

So the problem was my expectations, not the object itself. Just putting this here for posterity, in case anyone else is ca

[2017-08-23 22:58] sepehr500 commented on #1419
I am also using `apollo-client` with an application that has sensitive information, so would like to cache nothing on disk by default. Is there a way to do this?

[2017-08-23 23:02] thegrumpysnail opened #2065 "Identical queries returning individually distinct results"
**Intended outcome:**
I was attempting to use `reselect` with `react-apollo`. I used two different components with the same physical query, expecting to get back the same physical object.

**Actual outcome:**
What actually happened was that I got back two distinct responses, even though they were the same exact query. This breaks `reselect` since it uses shallow equality. While there are workaroun

[2017-08-23 23:09] sepehr500 commented on #2061
I think a default policy of `network-only` makes more sense. You don't want your application to be storing sensitive information without you specifically setting it to do so.

[2017-08-23 23:47] stubailo commented on #1419
Apollo Client doesn't cache on disk - it's just a JS variable, so when you close the page it's all gone.

[2017-08-24 01:47] japrogramer opened #2066 "Question - Is there a guide for using graphql with marko js?"
Well the title is self explenatory i want to use apollo with markojs with cordova, I allready have cordova and markojs working together. .. I just don't have a clue of how to use apollo with marko. I tried looking at the vanilla js documentation but all that leads to is examples of apollo with react ..

"This is the documentation for the apollo-client library, a vanilla JavaScript GraphQL client t

[2017-08-24 06:18] janaleible commented on #2024
Not exactly a workaround, unfortunately. I ended up avoiding the isssue altogether by using a network-only fetchPolicy for this particular query.

[2017-08-24 08:21] val-samonte commented on #1432
Sorry for the annoyance, but is this something that will be out on the next major release?

[2017-08-24 11:04] tkvw opened #2077 "Abstract fetch from networkinterface"
I created a branch where fetch is abstracted away from the networkinterface:
bac2e9476c634953bbab6bac478ecbfc76767fcc
When I wanted to create a PR there was a note that it should first be discussed, so here goes:

I want to use a single API for rest and apollo client, which allows requests interception. This was not possible for apollo-client, because fetch was used directly. This branch adds two

[2017-08-24 12:01] thegrumpysnail commented on #2065
After thinking about it further, I realized that this is probably more appropriate under `react-apollo` than `apollo-client` (even though I think the behavior ultimately falls down to `apollo-client`). If this is the case, I am more than happy to move this to the appropriate repo. Thanks!

[2017-08-24 12:09] paucarre commented on #2004
@pierrebiver how did you sort it out?

[2017-08-24 15:56] goldo commented on #1152
Any news on this `defer` functionnality ?

[2017-08-24 16:18] stubailo commented on #1152
I think this is a good thing to reopen - part of the work for #1941 (Apollo Client 2.0) is supporting multiple results for the same query, which will make supporting `@live` and `@defer` pretty easy!

[2017-08-24 16:36] berrylike commented on #1692
@fc any simple example on wrapping the error as you mention would be great!!

[2017-08-24 17:28] jazzdragon commented on #1692
I did something along these lines:
[code]

Obviously showUserFeedback is implemented somewhere...
Hope this helps!

[2017-08-24 19:10] #1803 closed

[2017-08-24 19:10] #1858 closed

[2017-08-24 19:10] #1888 closed

[2017-08-24 19:10] #1922 closed

[2017-08-24 20:21] scf4 commented on #1639
@thebigredgeek @jaridmargolin are you guys any further along with a solution for this?

[2017-08-25 02:42] cajames commented on #2011
Hey there, faced this issue.

For some reason noticed that the CORS pre flight failed when content-type was set to `application/json`.

Setting it to `text/plain;charset=UTF-8` did the trick. Also, using opts `credentials`.

[code]

[2017-08-25 15:00] Nickersoft commented on #1449
@helfer +1 I'm also getting this same issue using `refetch()`

[2017-08-25 16:41] jmoore315 opened #2080 "typescript file issues in ^1.9.0"
Upon upgrading to v1.9.0 I get the following errors compiling:
[code]

versions up to 1.8.0 work fine.

node version: 8.4.0
npm version: 5.3.0
using typescript@2.2.2

[2017-08-25 18:57] glasser commented on #952
AC 2.0 will not use Redux. References to window.devToolsExtension have already been removed from the 2.0-alpha branch: https://github.com/apollographql/apollo-client/pull/1949/commits/bba7bce36ee835f09270987c91033fce5e0f7fee

So this can be closed.

[2017-08-25 18:57] #952 closed

[2017-08-26 13:48] #1930 closed

[2017-08-26 14:24] thegrumpysnail commented on #2065
After playing around more with `watchQuery`, it makes more sense why the graphql HOC is returning distinct objects. With that said, it sounds like there are three ways around this.

1) Use `react-apollo` purely as a data fetcher / cacher, and use a redux store for storing the full state of the entire app. This is probably closer to how `reselect` was designed to work. The disadvantage here is that

[2017-08-26 17:22] jmoore315 opened #2084 "Mutation time is O(n) with store size n"
**Intended outcome:**
Mutation time should not increase with store size

**Actual outcome:**
When running a simple mutation, even one that does not impact store data (e.g. returns a scalar response), processing time decays as store size grows. I hit this issue when working on a project with ~8000 fairly flat records loaded in the apollo store. A mutation with a 20ms network response time ends up t

[2017-08-27 10:42] odero commented on #86
@stubailo Is there any update on this? Any light at the end of the tunnel?

[2017-08-27 13:08] yannickschuchmann commented on #1717
I can confirm what @seeden says. If server is not available react-apollo goes crazy firing`APOLLO_QUERY_INIT`and `APOLLO_QUERY_STOP` which ends up in an app crash on react-native.

[2017-08-27 16:24] Gregoirevda commented on #432
This package is meant to integrate Elm in a React App to try it out.
There is an Elm  [utility package](http://package.elm-lang.org/packages/jahewson/elm-graphql-module/1.0.0/GraphQL) for graphQL queries/mutations.

[2017-08-27 22:22] MichaelDeBoey commented on #621
I don't think this one should be closed yet 🙂

[2017-08-27 22:23] MichaelDeBoey commented on #899
I don't think this one should be closed yet 🙂

[2017-08-28 02:41] jahed commented on #1186
While @bradleyayers' workaround might work, it'd be nice to have an actual solution to this. I don't think that's the original intention of `notifyOnNetworkStatusChange`. Also, having to set that option on every query isn't great.

I've been looking at my particular case (similar to others using `resetStore`), and have a feeling it's to do with how `QueryObservable`, `QueryRecycler` and `QueryMana

[2017-08-28 04:01] jahed commented on #1186
I'm pretty sure now that it's a caching issue. But I don't know enough to provide a fix.

`QueryManager.getCurrentQueryResult` consumes any errors and returns an empty `data` and `partial: true`. When you're using the network caching, the `partial` is remapped as a valid result and `loading` is set to `false`, otherwise, `loading` is set to `true`, causing the infinite loading as there are no rema

[2017-08-28 08:15] kievechua commented on #1551
@helfer I have similar issue.
[code]
When I query company A with result { addresses: [..] }, it return the adresses.
Then I query company B with result { addresses: null },
and then query Company A again, it show empty addresses.
Also disabling dataIdFromObject fixed it, returning empty array also fixed it.

P/S: Let me know if I should open new issue for this.

[2017-08-28 10:54] wmertens opened #2087 "Mutation with error not rejecting?"
**Intended outcome:**

Mutation with authorization error resulting in rejected promise.

**Actual outcome:**

Mutation is resolved with error

**How to reproduce the issue:**

I'm using react-apollo and performing a mutation. This calls through to apollo-client and I don't know what happens then, but there are no other layers on my side. The end result is the mutation promise resolving with the au

[2017-08-28 13:32] yarbshk commented on #2048
Thanks for help. Problem was solved.

[2017-08-28 13:32] #2048 closed

[2017-08-28 14:45] goldo commented on #819
I'm having the same issue, for a request/object which has no id, how can I fix it ? Thx

[2017-08-28 14:54] #1925 closed

[2017-08-28 14:54] #1939 closed

[2017-08-29 01:50] Spoki4 commented on #1186
I think it's happening becouse we clearing store. I tried clear store two different code
[code]
and in main reducer
[code]
In apollo-client-devtools I saw a cache of my requests. But in redux, we didn't have data.
empty branches of apollo state.
![image](https://user-images.githubusercontent.com/2562688/29800873-0f884a2e-8c75-11e7-8e09-495552905fed.png)
but in devtools i saw this(i tried toggle th

[2017-08-29 05:35] ducngtuan commented on #1186
One thing i want to note here too, is that when i tried to do the same thing in Vue (with Vue-Apollo which use Apollo Client underneath), there is no infinite loading when I do logout (resetStore) -> login -> homepage. And I didn't use `notifyOnNetworkStatusChange` for the Vue example either. I don't know if Vue-Apollo does something different than React-Apollo when hook up the query with the comp

[2017-08-29 07:30] jinxac commented on #1186
it looks like regression introduced in `^1.9.0`. I was earlier using `1.4.1` on which it worked perfectly fine.

I updated my packages yesterday to and moved apollo-client to `1.9.1` and was able to see this issue after `client.resetStore()`. After reading comments in this section tried downgrading to `1.8.1` and it works fine.

[2017-08-29 09:55] amannn commented on #2012
Would be nice to hear if this is a bug or if it's by design.

[2017-08-29 11:30] goldo commented on #819
Ok here's what I found:

When we have this:
- NO batching (because this problem doesn't appear when both requests are merged into 1)
- 1 of the 2 requests asks for an `id` field, and the other one doesn't, example :
[code]

=> if the  component 1's request arrives first, apollo doesn't know how to handle the 2nd request. If not, it's OK.
=> if both of the components ask for an `id` field, its ok.

[2017-08-29 13:35] ferland182 opened #2094 "Update header token to all requests"
How can I update header token to all request using `applyAfterware` ?

[2017-08-29 13:36] ferland182 commented on #2094
[code]

[2017-08-29 13:36] #2094 closed

[2017-08-29 14:54] #1944 closed

[2017-08-29 14:54] #1945 closed

[2017-08-29 14:54] #1947 closed

[2017-08-29 14:54] #1876 closed

[2017-08-29 22:11] lobosan commented on #1692
@jazzdragon can you please share the whole implementation? I don't understand what you mean with "showUserFeedback is implemented somewhere"

[2017-08-30 05:03] AnandWalvekar commented on #1884
Hi @martijnwalraven @alvinvgeorge
On building Xcode project I got error
"The version of Apollo.framework in your project requires the use of version 0.10 of apollo-codegen, but 0.16.5 seems to be installed"
Downgrading to 0.10 has solved the problem but going back shouldn't be a solution. Please let me know if we can expect the fix in future versions

[2017-08-30 07:01] janaleible commented on #2007
The issue still exists -- see also #2024

[2017-08-30 08:31] martijnwalraven commented on #1884
@AnandWalvekar: This repository is for the JavaScript client, but I see you've also commented on https://github.com/apollographql/apollo-codegen/issues/48#issuecomment-325662665.

[2017-08-30 08:51] VladShcherbin opened #2096 "Add possibility to change prefix for apollo errors"
Currently, apollo-client adds prefix for error messages [here](https://github.com/apollographql/apollo-client/blob/master/src/errors/ApolloError.ts#L20-L25):

- `GraphQL error:` for graphql errors
- `Network error:` for network errors

It would be great to have a possibility to turn off this message changes or to be able to set custom prefix. It is useful when you send good errors from server and

[2017-08-30 10:51] maxsalven opened #2097 "Show store write errors in Console"
**How to reproduce the issue:**
I had two components both querying data under a `currentUser` root key, e.g.
`currentUser {id, name}` and `currentUser { email }`

Note that the second query did not have an `id` in it.

**Intended outcome:**
An error message should be shown in the console.

**Actual outcome:**
[Note, the issue was due to the second query not having the `id` field].

I'd like to see

[2017-08-30 15:37] #1780 closed

[2017-08-30 15:37] #1900 closed

[2017-08-30 15:37] #1948 closed

[2017-08-30 15:53] ctavan commented on #1821
The issue still persists and I believe this issue should not be closed.

[2017-08-30 17:47] thierryskoda commented on #2042
Hi @farzd,

Have you solved this issue? I have the same thing right now.

[2017-08-30 23:31] vieiralucas commented on #2061
+1 for allowing the default value to be configurable.

[2017-08-31 00:18] pcorey commented on #2061
This hasn't been discussed, and consensus hasn't been reached, but I thought I'd throw our a PR for posterity and discussion.

[2017-08-31 13:19] jbaxleyiii commented on #2061
@pcorey what do you think about a way to set defaults for all of the `watchQueryOptions`? Vue apollo does this and it could be useful for other integrations for it to be part of the core!

[2017-09-01 16:28] #1853 closed

[2017-09-01 16:47] glasser commented on #585
I'm gonna keep this open :)

[2017-09-01 18:59] elhorowitz opened #2107 "Some GraphQL servers return an empty error array, even though it's not spec compliant PART II"
This issue is related to https://github.com/apollographql/apollo-client/issues/156

**Intended outcome:**
Mutations should not return rejected promises if the server response includes an empty errors array.

While this behavior is technically spec compliant:

Some servers (like [graphql-java](https://github.com/graphql-java/graphql-java)) do not follow the specs explicitly: https://github.com/grap

[2017-09-02 01:04] rationalthug commented on #2055
Is it possible to get an Apollo contributor to speak to this-- if there is not an enforced order (subscription, then query), would you consider a pull request to add such? Are there known complications to doing so? Is using the full websocket transport currently a reliable way of ensuring that no new data is missed by the subscription?

[2017-09-02 07:49] gilesbradshaw commented on #2055
@rationalthug  FWIU even using a websocket is not foolproof because the browser can disconnect and reconnect behind the scenes when network connection is variable so messages can be missed.  If this is true there really needs to be a mechanism like an incrementing id with each message (+ a heatbeat) so the client can know if it has missed a message.

[2017-09-02 10:00] nerdmed commented on #1409
Dear bot, please don't touch this issue. It's quite important one. 👍

[2017-09-02 11:46] pierrebiver commented on #2004
I let the cors enable on the front, and on my Go server I configure the cors to accept request from my front.

You can look at my solution in go here:
[https://github.com/pierrebiver/healthy-service/blob/master/main/main.go]

[2017-09-02 13:52] #604 closed

[2017-09-02 15:11] pcorey commented on #2061
@jbaxleyiii Something to consider, for sure.

I haven't dug deep enough to figure out the difference between [`ModifiableWatchQueryOptions` vs the extended `WatchQueryOptions`](https://github.com/pcorey/apollo-client/blob/c6260667342e89eccb75a9024c109d916cb1c7cf/src/core/watchQueryOptions.ts#L31-L81), but does it make sense to want to have a global default for things like `variables`, `query`, and

[2017-09-03 04:12] richardgirges commented on #2096
Was just looking for a way to do this! This would be beneficial for cases where the server is returning user-facing-friendly error messages (which happens to be the case for me as well).

[2017-09-03 10:11] odero commented on #2051
For anyone else having this problem when using cursors, I got around this by setting a default empty string value i.e. `{ variables: after: '' }` on both the initial query and the `.readQuery`

[2017-09-03 11:35] dpnova commented on #1954
@ahopkins i got it to work by doing this `CORS(app, automatic_options=True)` - haven't dug into it, but seems to make things happier.

[2017-09-03 14:01] mxstbr commented on #1934
Could somebody add a label to the issue or something?

[2017-09-03 15:50] #1957 closed

[2017-09-03 16:44] townmulti commented on #2096
+1

[2017-09-03 21:35] Fxlr8 commented on #1971
By the way, why do you guys want to drop the [query reducer](http://dev.apollodata.com/react/cache-updates.html#resultReducers) feature?

[2017-09-04 01:17] shadaj commented on #1971
@Fxlr8 Before, Apollo Client always had a single cache implementation that had a structure that could be updated with a reducer. With the new Cache API, there can be cache implementations that do not have an in-memory representation that can be updated with a reducer, so we decided to remove the feature so that Apollo Client could be more flexible.

[2017-09-04 04:36] stalniy commented on #1541
It looks like it's not hard to implement custom network interface which extends `HttpFetchNetworkInterface` And override `fetchFromRemoteEndpoint` method, use inside `XMLHttpRequest` and do custom logic with request abort

[2017-09-04 12:35] n1ru4l commented on #2060
https://github.com/apollographql/GitHunt-API and https://github.com/apollographql/GitHunt-React

[2017-09-04 13:40] happylinks commented on #2045
I'm keeping it alive for now. Will probably pick it up myself when I have the time. (Any hints would be nice though)

[2017-09-04 15:15] WiktorKa commented on #1821
Is there any update on this issue?

[2017-09-04 16:32] jazzdragon commented on #1692
@lobosan it's up to you, how you want to handle the errors in your application. For example:
[code]

[2017-09-05 10:01] Saidalavi commented on #2020
We didn't get any solution for this so far. We are still waiting for some solution on this.

[2017-09-05 12:34] AlexMost commented on #1186
Also had this issue in `apollo-client:1.9.2`. This issue was reproducing each time when query returned empty list as a result. (`productsQuery.products` was empty). Everything works ok on page reload. Downgrade to `1.8.1` fixed that. Finally solved this issue with `notifyOnNetworkStatusChange: true` in `1.9.1`, but feels like it is a workaround.

[2017-09-05 12:40] oakmad commented on #2042
I just encountered the same issue, anyone solved this?

[2017-09-05 13:43] farzd commented on #2042
@thierryskoda @oakmad
Sorry guys, i've not revisited this yet. But a work around would be to either import the client again
https://stackoverflow.com/questions/40634872/do-i-need-to-bind-to-a-component-to-use-the-apollo-react-client-even-if-it-has-n

or use HOC from apollo
http://dev.apollodata.com/react/higher-order-components.html#withApollo

[2017-09-05 13:47] krinoid commented on #1186
I also encountered this bug, and setting `notifyOnNetworkStatusChange: true` in `1.9.1` didn't always work. Similarly to @AlexMost, downgroading to `1.8.1` solved the issue.

[2017-09-05 14:58] #1938 closed

[2017-09-05 15:15] trevordmiller commented on #594
I'm getting the `unknown query with name {Query} asked to refetch` warning whenever a mutation is run that has a `refetchQuery` that hasn't been run yet (which occurs often in our app, since users can start on different routes as @hammadj mentioned in https://github.com/apollographql/apollo-client/issues/594#issuecomment-246463834. Is there a way to tell a `refetchQuery` to only run if the query h

[2017-09-05 17:01] farzd opened #2117 "subscription updating store automatically, updateQueries not called."
Hello,
My initial query and subsequent subscription fields map up exactly and only one field is updated in the subscription response _[active is true or false]_ so i'm assuming Apollo is taking care of the store updates for me. I was under the impression that i would have to manually update the result when using **subscribeToMore**, i need full control of the update, however **updateQuery** is nev

[2017-09-05 17:21] farzd commented on #2117
seems to be a strange issue on my end

[2017-09-05 17:58] yattias opened #2118 "Error when building webpack for production: "Uncaught Error: Cannot initialize the store because "reduxRootSelector" is provided""
Apollo-client works wonderfully for development but in a production environment it crashes with an error (see below). I use Webpack on both production and development.

Any advice as to how to go about this would be greatly appreciated! Keep in mind that this only happens when I try to build for production.

**Intended outcome:**
To have apollo client load without errors in a production environmen

[2017-09-05 17:59] rationalthug commented on #2055
@gilesbradshaw Yep. Just curious if something along those lines is under consideration already or if it is desirable for someone else to take a crack at it.

[2017-09-05 18:22] #2117 closed

[2017-09-05 19:37] mxstbr opened #2119 "SSR and cache-and-network fetch policy"
**Intended outcome:**

I server-side render my React application. I used `renderToStringWithData` on the backend to get all the data, then serialized the state with Yahoos `serialize-javascript` into the generated HTML and then added it to my custom Redux store as the initial state via `window.__SERVER_STATE__`.

I expected the client bundle to load in and not fetch anything.

**Actual outcome:**

[2017-09-06 02:59] #2118 closed

[2017-09-06 03:00] yattias commented on #2118
This is a silly mistake by me. Realized that I had a conditional for production specific environment that prevented the store from being configured properly.

[2017-09-06 05:09] khankuan commented on #2049
@jbaxleyiii Any hints on where to get started? I would love to help fix it.

[2017-09-06 05:09] khankuan commented on #1942
@jbaxleyiii Any hints on where to get started? I would love to help fix it.

[2017-09-06 05:23] mitjade commented on #1186
I can also confirm that `client.resetStore()` causes this issue. Tested on `1.9.1` and `1.9.2`.
`notifyOnNetworkStatusChange: true` fixes the issue in this two versions and works in `1.8.1` with no changes required.

If I use `apollo-logger` I see that query  get's successfully executed, but component does not refresh.

[2017-09-06 06:52] mitjade commented on #1186
I created a minimum possible reproduction scenario here: [react-apollo-error-template](https://github.com/mitjade/react-apollo-error-template).

I use `react-router-dom` v4.2.2 to navigate between pages, `apollo-client` v1.9.2 and `react-apollo` v1.4.15.

#### Steps to reproduce:
- Start app
- Go to `Logout Page`
- Press `Logout` button

`Logout` does `client.resetStore()` and then `history.push('

[2017-09-06 07:46] rlech commented on #1186
I have exactly the same issue. it only happens *sometimes* for me if the result will be an empty array.
[code]

[2017-09-06 09:29] mitjade commented on #1186
@helfer Could you please confirm, if my reproduction scenario is good enough, or do you need some additional info.

[2017-09-06 13:18] oakmad commented on #2042
OK Thanks @farzd Honestly it's far from ideal in terms of solution, decorators cause me grief in other ways. I was under the impression that is I wrapped my app then client was available all the way down. I'll keep looking and post if I find anything, thanks again.

[2017-09-06 15:12] #1946 closed

[2017-09-06 16:15] farzd commented on #2042
@oakmad client should be available all the way through, can you post your code?
I was having an issue because i'm cloning my component etc [i'm assuming]

[2017-09-06 16:57] oakmad commented on #2042
Yeah sure. I've trimmed some non pertinent code, I'm sure its a silly mistake. When I include the phone component in the form, I see the error "Warning: Failed context type: The context `client` is marked as required in `Apollo(Phone)`, but its value is `undefined`."

Parent Component:
[code]

And the Phone Child:
[code]

[2017-09-07 02:54] gilesbradshaw commented on #2055
@rationalthug  not as far as i am aware,,

[2017-09-07 14:29] farzd commented on #2042
@oakmad sorry i cant see anything wrong with your code, unfortunately - unless the client singleton is not setup right but then none of it would work.

[2017-09-07 16:00] #1987 closed

[2017-09-07 16:39] avalla commented on #566
if anyone else had an issue using the network interface returned by addGraphQLSubscriptions, be sure to don't use it, use the original networkInterface returned by createNetworkInterface

[2017-09-07 17:46] Cito commented on #1945
After logout I simply call `initStore()` instead of `resetStore()` to get rid of the cached data without refetching it when there are still pending subscriptions.

[2017-09-07 19:08] jbaxleyiii commented on #2052
@benhjames oooh interesting idea!

[2017-09-07 23:15] TinkGu commented on #2097
same issue

[2017-09-07 23:15] Geczy commented on #899
I ended up doing something like this

[code]

[2017-09-07 23:36] voodooattack commented on #2050
Commenting to keep this open. The issue is not resolved as far as I know.

[2017-09-08 05:56] #1986 closed

[2017-09-08 10:56] #1985 closed

[2017-09-08 12:59] tobyski opened #2130 "Refetching a query (when using batch networking interface) causes other queries in that batch to refetch also"
I have searched everywhere and cannot find any advice on this.

I have two components on the screen, both wrapped with graphql, the queries are different.

I am using a batch network interface with query de-duplication enabled.

On first render the browser makes one request to the server (as expected) which is a batched request of both queries, the response is fine and components update with data.

[2017-09-08 13:08] bastianwegge commented on #1800
@helfer can you reopen the ticket?

[2017-09-08 14:09] tobyski commented on #2130
my fault, identified the problem with the queries, works as expected.

[2017-09-08 14:09] #2130 closed

[2017-09-08 15:09] oakmad commented on #2042
Thanks @farzd - It seems to be working without issue elsewhere in the app, so I presume the client is OK. I'm relatively new to react and apollo (from Meteor) and suspect I've made some news error. I'll revisit it in future as I get more experience.

[2017-09-08 17:13] slorber opened #2132 "isEqual: unable to compare objects created with Object.create(null)"
Hi,

I want to report an exception thrown in `setVariables` I got, due to `isEqual` util. This affects latest client.

![image](https://user-images.githubusercontent.com/749374/30222884-ca1fbfce-94c8-11e7-87c6-c809b0171f42.png)

Most of the time this code path works fine, but I've found a case where it fails to compare 2 objects.

It is notably the case when one of them is created with `Object.cre

[2017-09-08 20:26] Ardhimas commented on #2042
@oakmad I know this isn't helpful in any way, but I just started running into this issue today and I have no idea why. I'll report back if I figure it out, but it's definitely nothing to do with conditional rendering.

[2017-09-08 21:21] nevir opened #2133 "[2.0-alpha] published packages include babelrc (and a buch more)"
apollo-client@2.0.0-alpha [includes `.babelrc`](https://unpkg.com/apollo-client@2.0.0-alpha.4/) and most of the original source.

`.babelrc` is problematic for react native builds, at least, as babel consumes it and ends up not processing the built `apollo.umd.js` (because it's ignored by `.babelrc`)

[2017-09-08 21:28] nevir commented on #2132
👍 that should totally be doing `Object.prototype.hasOwnProperty.call(object, key)` (generally faster, too)

[2017-09-08 23:03] slorber commented on #2132
Thanks that seems like a good solution, I'll make a PR unless someone else wants to

[2017-09-09 08:20] Zoe7 commented on #2007
I'm running into the same exact use case and having `proxy.readQuery()` return `null` would make a lot of sense.

[2017-09-09 16:36] alexd16 opened #2135 "Cannot access HTTP Reponse (response headers, status, etc) when using batchNetworkInterface in afterware"
**Intended outcome:**
When I setup the apollo client to use the batchNetworkInterface and I add an afterware It should allow me to inspect the HTTP Response.
This is already the case when I add an afterware when using the simple networkInterface.

**Actual outcome:**
The middleware only gets called with the array of responses, without any of the HTTP Response information like headers or status inf

[2017-09-09 17:11] EmpireWorld opened #2136 "Update Apollo Project Email Links"
Hi.

I have starred this project and then i received an email titled: **Welcome to the Apollo project!**

And the email contains a link to Apollo Project, here is the link: http://em.meteor.com/O0C0YdcJ0200mR5F0I0D0t/

While it should go to the new Apollo GraphQL organization page, but it sends me to the old one.

Also most of the links in the email is old, please update them for new comers.

Hope

[2017-09-10 14:39] rjdp commented on #2058
Any insight will be very helpful.

[2017-09-10 16:34] n1ru4l commented on #2058
There is not apollo style cursor approach. You could use relay cursors or offset based navigation depending on your use case.

I do not think that this question does belong here. IMHO it would be a better fit for stack overflow or the apollo stack since this is more of a schema design question then a "problem" related to apollo client.

[2017-09-10 17:14] rjdp commented on #2058
@n1ru4l Thanks, I will close the issue.

[2017-09-10 17:14] #2058 closed

[2017-09-11 09:44] slorber commented on #2132
done: https://github.com/apollographql/apollo-client/pull/2138

[2017-09-11 10:06] mxstbr commented on #2057
Nooo stale bot please don't!

[2017-09-11 12:22] stalniy opened #2141 "[Feature] Add possibility to subscribe to tearDown logic of ObservableQuery"
**Intended outcome:**

As a developer I want to be able to know when `ObservableQuery` is tear down. This will allow me to add extra cleanup logic.

**Motivation**:

I don't like the idea (because of coupling) that mutation should know which queries depends on it and update that queries in `update` method of mutation. That's why I want to fire an event  in `update` function of mutation and during

[2017-09-11 12:54] robmoorman opened #2142 "Refetch remembers options.skip:true"
**Intended outcome:**
Refetching data after an event (a transition has ended in my case) while skipping the initial fetch with `option.skip` set to `true`.

See also the source code: https://github.com/apollographql/apollo-client/blob/a70d45847492f12059460f7fcece5627da914c30/src/core/ObservableQuery.ts#L226-L230 (this is were I expect I can override options, e.g. skip).

**Actual outcome:**
Callin

[2017-09-11 13:59] #2132 closed

[2017-09-11 18:10] trevordmiller opened #2143 "Feature idea: conditional refetchQueries"
Currently, Apollo outputs a `unknown query with name {Query} asked to refetch` warning whenever a mutation is run that has a `refetchQuery` that hasn't been run yet (which occurs often, since users can start on different routes).

![image](https://user-images.githubusercontent.com/5497885/30068421-058b3f80-921b-11e7-8331-378c7e7ca715.png)

It would be great if `refetchQuery` only ran if the relate

[2017-09-11 18:10] trevordmiller commented on #594
Moved to https://github.com/apollographql/apollo-client/issues/2143

[2017-09-11 20:16] mxmtsk commented on #1186
It stays true for me too when the result contains and empty array (same as @rlech) Using `"react-apollo": "^1.2.0",` and React Native.

[2017-09-12 07:56] #1893 closed

[2017-09-12 08:02] sondremare opened #2148 "Throwing error when field is missing"
Our application is getting quite large, and tons of fragments.
We read and write fragments based on data received from a real time service.
Once in a while we mismatch the fields from the original query and the result is a "Missing field" warning. The end result for the user is that the data is not showing.

I created a fork an actually throw the error as you suggest in your own code:
/src/data/wr

[2017-09-12 19:41] jasonmorita commented on #1186
@krinoid 's fix of using 1.8.1 worked for me as well.

[2017-09-12 21:38] tnrich commented on #621
Can anyone explain how this issue will be affected by the 2.0? Will it be significantly easier with 2.0 to refetch/invalidate queries?

Thanks!

[2017-09-12 22:56] #2016 closed

[2017-09-13 07:27] harunsmrkovic commented on #1888
The same thing is happening for me... identical reproduction steps, Apollo version 1.4.10

[2017-09-13 08:18] CodogoFreddie commented on #1888
Please reopen this issue, It's still a problem

[2017-09-13 17:16] wzrdzl opened #2150 "Update to graphql@0.11.3"
[graphql@0.11.3](https://github.com/graphql/graphql-js/releases/tag/v0.11.3) fixes flow errors introduced by flow@0.54.x

The list of changes can be found here https://github.com/graphql/graphql-js/releases

Looks like the only breaking change is:

[2017-09-13 20:51] #2026 closed

[2017-09-13 20:59] darkadept commented on #820
I'm still seeing this in 1.4.15. I'm following the instructions from here: http://dev.apollodata.com/react/auth.html.

It could be because my component has both a query and also does the reset. I'll have to check further into this.

[2017-09-13 23:58] johndanek commented on #2042
This is an issue for me as well. I think it's due to the fact that the component trying to use @withApollo is created as a property to a parent component. That's my hunch, at least.

[2017-09-14 07:20] wzrdzl commented on #2150
@stubailo Do you know if this breaking change affects us?

[2017-09-14 08:07] haizz commented on #2052
+1000

[2017-09-14 08:13] #2023 closed

[2017-09-14 08:50] n1ru4l commented on #2052
This is an awesome idea, maybe this idea could be expanded in something like a transaction API.so that write queries and fragments could be applied in batches.

I am also pretty sure that batched query results also cause multiple defenders.

[2017-09-14 09:13] #2032 closed

[2017-09-14 09:43] n1ru4l commented on #899
I thought about the ability to use directives in order to mark mutations. E.g. `@delete`. then the mutation would return either null or the Id of the object that should get deleted. In case of a mutation that deletes multiple items the mutation could return a list of IDs. We could then either implement this in Apollo or as a plugin, I did not check out Apollo 2 yet so I can not tell where it would

[2017-09-14 19:12] hccampos commented on #1432
Any news on this? Marked as stale but I can't find more info regarding a solution/etc.

[2017-09-14 20:41] paralin commented on #1152
Yay, auto-closing issues

[2017-09-14 22:10] elie222 opened #2156 "Difficulty upgrading to Apollo 2.0 (Meteor)"
Having some trouble upgrading from 1.0 to 2.0.

First I ran:
[code]

Then I updated my file as below:

My previous config:
[code]

My new config:
[code]

In graphiql I get this error:
[code]

In the console when going to localhost I get:
[code]

Previous I was on:
[code]

Also, I'm not fully sure how this line fits into Apollo 2.0 setup:
[code]

[2017-09-14 23:47] azz commented on #1152
I'm trying to get a holistic view of where `@defer/@live/@stream` is being implemented for experimental purposes.

Now that #1941 is merged is it the right time to implement support here? Can this work be used in conjunction with https://github.com/DxCx/graphql-rxjs? Is there work that a new contributor could do to help push this along?

[2017-09-15 00:47] stubailo commented on #1152
@azz I think @DxCx has something working already, probably the right person to talk to!

[2017-09-15 00:49] stubailo commented on #1152
@paralin lol we misconfigured stale bot. It's supposed to ignore issues with `discussion` label:

![image](https://user-images.githubusercontent.com/448783/30461682-111b1a1c-9975-11e7-8347-ca10c4ca5663.png)

Should be safe now!

[2017-09-15 01:37] stubailo commented on #1639
ping - we incorrectly configured stalebot, it shouldn't close `discussion` issues.

[2017-09-15 01:44] stubailo commented on #1432
Yep, this is part of the Apollo Client 2.0 work!

Here's the cache API to implement: https://github.com/apollographql/apollo-client/blob/14a7bc4ff7e87c3f99844a79538029939c9cd0cf/packages/apollo-cache/src/cache.ts#L8

Here are two implementations:

1. In memory cache similar to Apollo Client 1.0: https://github.com/apollographql/apollo-client/tree/14a7bc4ff7e87c3f99844a79538029939c9cd0cf/packages/a

[2017-09-15 02:41] tlvenn commented on #1432
Is there any collaboration with Relay team regarding the cache API ? At some point if it becomes pluggable in Relay Modern as well, it would be neat if implementations could work in both libs.

Just pondering...

[2017-09-15 02:46] nevir commented on #1432
Hermes is built in a way that it could be pretty easily adapted for other clients - but, honestly, given how tightly coupled Relay's API is with its cache, it would be unlikely that Relay could support alternate cache implementations

[2017-09-15 02:51] stubailo commented on #1432
Yeah it could be a cool hackathon project to try to jam together the Relay cache with Apollo's API/networking. Although I hope that this new feature enables people to innovate quickly on new cache implementations, so we have enough options to choose from even without that!

[2017-09-15 07:59] haizz commented on #2052
Something interesting I've found:

https://github.com/apollographql/apollo-client/blob/latest/src/data/proxy.ts#L303

https://github.com/apollographql/apollo-client/blob/latest/src/data/store.ts#L174

Apparently, there are:
1. TransactionDataProxy class which accumulates write operations.
2. Possibility to pass multiple writes to APOLLO_WRITE redux action.

It's pity that it's not a part of a publ

[2017-09-15 08:03] DxCx commented on #1152
Hey @azz
Feel free to catch me on slack (hagaico) if you want to hear where things stands :)

[2017-09-15 09:32] n1ru4l commented on #2052
@haizz This is old code. The new cache implementation is here: https://github.com/apollographql/apollo-client/tree/master/packages/apollo-cache-inmemory/src

[2017-09-15 13:22] haizz commented on #2052
I've managed to make batched updates by dispatching APOLLO_WRITE manually (with the latest stable version).
Does anybody know what could be the corresponding workaround for the new cache implementation?

[2017-09-15 15:16] benhjames opened #2160 "Feature idea: Automatically remove `__typename` from mutations"
I tend to do mutations like this a lot of the time:

[code]

This may look unusual, but let's assume that for some reason the database requires you to pass the entire object rather than just modified fields (e.g. a JSONB update)

However, unfortunately `data` has `__typename` automatically added to it, which my schema doesn't expect in a mutation!

I've written a helper function to strip `__typena

[2017-09-15 18:08] giautm commented on #2156
@elie222 I think your uri is incorrected base on this line. https://github.com/apollographql/meteor-integration/blob/master/src/main-client.js#L10

[2017-09-15 18:17] giautm commented on #2156
And you have to using apollo-link-set-context to set custom token from meteor.
[code]

Fortunately, `meteorLoginToken` was exported. So:
[code]

[2017-09-15 18:56] ulrikstrid commented on #585
Would be awesome for the reasonml community if we could give a query and a custom parser to the request as that would give us type-safety all the way through.

[2017-09-15 19:36] #2038 closed

[2017-09-15 21:05] mhuggins commented on #1419
For anyone else having this issue, I ended up creating a [custom higher-order component]() that will prevent caching on the server while using the provided/cached value (and updating if necessary) once the client loads.  I found this useful for ensuring that my isomorphic React app didn't run into an error because the client-generated HTML doesn't match the server-generated HTML.

You can use this

[2017-09-16 14:14] mhuggins commented on #2119
I just started using Apollo and am seeing this as well.  Not sure if there's an existing solution or if this is a bug.

[2017-09-16 14:21] mhuggins commented on #2119
As a workaround, I'm now using the `ssr: false` option to prevent loading data on the server, instead just sending the unloaded/loading state back to the client.  http://dev.apollodata.com/react/server-side-rendering.html#skip-for-ssr

[2017-09-16 15:03] RedShift1 opened #2164 "Cache doesn't update when object ID === 0"
JSFiddle: https://jsfiddle.net/s7zgfsL7/2/

**Intended outcome:**
When an object is mutated, the cache is updated with the new values even if the object's ID === 0.

**Actual outcome:**
The cache is updated, but not when the object ID === 0. Cache update works successfully if object ID > 0.

**How to reproduce the issue:**
See https://jsfiddle.net/s7zgfsL7/2/ Clicking the "update" button should up

[2017-09-16 18:45] BjornMelgaard opened #2165 "Expose MiddlewareInterface type please (typescript)"
**Intended outcome:**
I want to use `MiddlewareInterface` but it is not exposed

**Actual outcome:**
Typescript is swearing at me

[code]

**How to reproduce the issue:**
I want to use it like this

[code]

**Version**
- apollo-client@1.9.2

[2017-09-17 13:39] stevewillard opened #2166 "Installing apollo-client-preset has an incorrect version of apollo-utilities"
When you run
[code]

The version specified for `apollo-utilities` is '*' , so you get prompted to install a version:
[code]
Even explicitly installing `0.2.0-beta.0` of apollo-utilities, I always get prompted on subsequent installs through yarn. Would it be possible to change the apollo-utilities from '*' to a more concrete version?

[2017-09-17 17:00] Artem-Schander opened #2167 "empty headers object in afterware response"
Hi,

I have a similar issue to #1156. But in my case the response is completely empty.
Here is my afterware:
[code]
Here is the real response:
![response screenshot](https://i.stack.imgur.com/ZdhEZ.png)

Here is the console log:
![console log screenshot](https://i.stack.imgur.com/uI9io.png)

BTW. I've already asked at [StackOverflow](https://stackoverflow.com/questions/46257557/apollo-client-has-n

[2017-09-17 17:32] mhuggins commented on #1419
Does anyone have any suggestions for workarounds to disabling the cache until a feature like this is implemented?

[2017-09-18 08:43] nikolasburk opened #2168 "How to do authentication with ApolloClient 2.0?"
**Intended outcome:**

I'm trying to provide an authentication token to `ApolloClient` so that the requests it sends to the server are authenticated. I'm using the following versions of the npm packages:

[code]

Here's the code I'm using to setup my `ApolloClient` instance:

[code]

**Actual outcome:**

I'm getting the following runtime error:

[code]

**How to reproduce the issue:**

Create new

[2017-09-18 09:55] mech commented on #2168
I have same problem also only my error is:

`SetContextLink is not a constructor`

[2017-09-18 22:27] trevordmiller commented on #2143
@stubailo, @helfer any thoughts on this? Is there something I'm missing? Thank you so much for your great work, apollo-client is fantastic!

[2017-09-19 06:24] virmelcruz commented on #2080
I have the same issue, have you already know how to fix it?

[2017-09-19 07:49] Alexintosh commented on #2080
Same issue here.

[2017-09-19 09:06] kctang commented on #1748
@helfer I am getting similar `ObservableQuery with this id doesn't exist` error when using `fetchMore()` without `graphql` HOC.

After calling `query.subscribe()`, then `fetchMore()` works. As I am still new to GraphQL & Apollo, I do not know why but at least it works.

Unless `fetchMore()` is meant to only be used within the `graphql` HOC, the pre-requisites to have it working properly should be

[2017-09-19 10:51] amannn commented on #2012
Sorry for keeping this open another round, but it would be helpful to know if this is fixable or if I should look for another solution.

[2017-09-19 11:17] mattfysh commented on #1186
Anyone know how/why `notifyOnNetworkStatusChange` works?

[2017-09-19 15:48] #1936 closed

[2017-09-19 16:51] oliviertassinari commented on #1692
@jazzdragon The only I have seen so far with your solution is around request that ends pretty bad. Like with a failed to fetch or with a CORS issue. Apollo isn't calling the `useAfter` callbacks.

[2017-09-19 17:03] oliviertassinari commented on #657
@ferdingler @zackify @llorentegerman Use @choonkending's solution 👍 . `useAfter` is an approximate solution, e.g. you json parse the response twice 👎 , isn't call on network or CORS issues 👎 .

[2017-09-19 17:17] dardub commented on #1759
@helfer Was this issue resolved. I've come across many issues here that have been closed due to inactivity, but not resolved. It helps keep the issue count down, but many issues are getting lost into the ether it seems.

[2017-09-19 17:46] townmulti commented on #1692
Same here, when the network disconnects, in the console I get

`Unhandled (in react-apollo) Error: Network error: Failed to fetch`

and

[code]
Checking to see if the second error goes away if I temporarily remove Apollo Chrome Dev Tool.

[2017-09-19 22:12] jazzdragon commented on #1692
@oliviertassinari Would those errors be caught by a mutate(...).catch()?
Those were the ones I was targeting here.

[2017-09-20 06:43] Parakoopa opened #2177 "Setting the redux store [Apollo Vanilla JS]"
This isn't really a bug, so I hope it's okay I don't use the issue template...

I'm currently trying to set the redux store of ApolloClient manually, in order to add Redux Offline support.
I know that in Apollo for React the Provider has an argument to take a custom store. However there doesn't seem to be a way to set the store using vanilla JS.

The only issue here I could find (#1794) said that

[2017-09-20 07:07] oliviertassinari commented on #1692
@jazzdragon I think so, as well as with a query(...).catch().

[2017-09-20 08:01] altschuler commented on #2168
Just a guess, but I think you need to import the `HttpLink` like this:

`import { HttpLink } from 'apollo-link-http'`

And then obviously use `new HttpLink(...)` instead of just `Link`.

[2017-09-20 13:58] zunder commented on #2024
This issue is not solved, no need for closing.

[2017-09-20 18:34] emilbruckner commented on #903
@SachaG What was your issue?

[2017-09-20 19:16] volkanunsal commented on #1717
Would be great to have a solution for this. `addTypename: false ` trick doesn't work for me.

[2017-09-20 20:52] townmulti commented on #1692
@oliviertassinari Can you give a code example of how to catch or handle the `Unhandled (in react-apollo) Error: Network error: Failed to fetch` error?

[2017-09-20 23:20] Artem-Schander commented on #2167
is there anybody out there?

[2017-09-21 05:03] #1836 closed

[2017-09-21 12:08] aprofromindia opened #2179 "Query variable from Redux props fails with error"
After much reading Apollo React documentation I am unable to create a GraphQL query using a Redux provided props variable `displayLocation` of the `DiscoveryList` component. Flow type of `displayLocation` given below: -

    type DisplayLocation = {
      lat: number,
      lng: number,
    };

My package.json includes only the following apollo entry

"react-apollo": "^1.4.15",

I am getting the f

[2017-09-21 16:24] TheoMer opened #2181 "Error: Can't find field allLinks({}) on object (ROOT_QUERY)"
OS: Windows 10 Pro
Browser: Opera 47.0.2631.71 (PGO)
apollo-client: 1.9.2
subscriptions-transport-ws: 0.6.0
vue: 2.4.2
vue-apollo: 2.1.0-rc.5

So, I'm getting the above mentioned error when attempting to run a query with a Graphcool endpoint. What's the issue here?

The full error being generated is:

[code]

Query:

[code]

Code:

[code]

[2017-09-21 16:54] mattbrunetti commented on #1800
I am new to Apollo, and one of the things I was looking forward to, since it's advertised to work using our app's own Redux store, was having a single container for state which we can control (i.e. use time travel on) for testing & debugging the app **as a whole**.

@helfer Please please reopen this issue

[2017-09-21 17:24] nbushak commented on #1186
Can we drop the "reproduction-needed" label here? There are multiple ones listed at this point.

[2017-09-21 17:32] stubailo commented on #1186
Yeah, thanks for bringing that up. I'll see if we can prioritize this issue. Does anyone have lead on a fix/underlying cause?

[2017-09-21 17:41] nbushak commented on #1186
Definitely a fan of prioritizing this one :) At this point this issue is the historical #1 issue by number of comments for both the apollo-client and react-apollo github projects. I spent a few hours digging into this yesterday, but it's tough as someone without an intimate knowledge of apollo internals / state machine. I also upgraded to Apollo 2.0 to no avail.

https://github.com/apollographql/r

[2017-09-21 17:46] jbaxleyiii commented on #1186
@here I'll be taking a look at upgrading these reproductions to 2.0 and digging into it again. I agree we should make sure its working for the 2.0. Will anyone commit to trying out beta's for quick feedback on shipped builds?

[2017-09-21 17:48] jbaxleyiii commented on #1186
I've also setup a milestone for the 2.0, if you have other issues that are critical please add them to that milestone for review! https://github.com/apollographql/apollo-client/milestone/9

[2017-09-21 18:01] jasonhero opened #2182 "Rerun apollo queries that fail"
Hey, I'm trying to implement a auth/refresh token flow into my apollo app.

What I’m trying to do:
- App makes a request, but auth token is invalid and server returns a 401.
- App realizes the 401, and makes a request for a new auth token.
- App receives the new auth token and retries the original request.

I’ve gotten the first 2 steps to work with afterMiddleware, but I can’t figure out a good w

[2017-09-21 18:21] nbushak commented on #1186
Actually, looks like I spoke too soon, it's possible I did something wrong and didn't upgrade to Apollo 2.0 on my other project correctly

I went through the effort of forking the example in https://github.com/apollographql/react-apollo/issues/976 and it seems that it no longer repros in Apollo 2.0. See https://github.com/nbushak/apollo-reset-issue for anyone interested. Maybe this issue will be f

[2017-09-21 18:58] dylanscott commented on #1186
I can confirm that the issue in [dylanscott/apollo-repro](https://github.com/dylanscott/apollo-repro) appears to be fixed after upgrading to the apollo-client 2.0 beta.

[2017-09-22 04:44] JerryAWalker commented on #2168
SetContextLink class extends ApolloLink from "apollo-link-core" that's where the issue is;
I didn't look too deep into it but  here
create your own SetContextLink, something like this
//
import { ApolloLink } from 'apollo-link';

class SetContextLink extends ApolloLink {

  constructor(setContext) {
    super();
    this.setContext= setContext;
  }

  request(operation,forward) {
    if (!operatio

[2017-09-22 05:34] mitjade commented on #1186
I can also confirm that `loading` issue is gone in apollo-client 2.0 beta. But store still does not get reset as mentioned in https://github.com/apollographql/react-apollo/issues/807 and https://github.com/apollographql/react-apollo/issues/890.

[2017-09-22 05:43] jay1337 commented on #1186
For me it seems that in 2.0, after an error (error not null and networkStatus at 8),  the status of the request is not updated by a refetch (and the component not rerendered). Even after loading successfully the refetch, the error remains...

[2017-09-22 05:48] stubailo commented on #1186
@jay1337 yeah, there might be a few bugs still during the beta process. Would you mind opening a new issue for that new problem?

[2017-09-22 07:25] jay1337 commented on #1186
There is already one but you closed it with your bot : #1622

[2017-09-22 10:55] Alexintosh commented on #2080
Downgrading this packages will fix the problem.
[code]

[2017-09-22 13:53] SachaG commented on #2051
Same issue here. I only got `readQuery` to work once I specified all the same arguments as the original query, including empty fields in the `variables` argument of `readQuery`.

[2017-09-22 16:59] tgdn commented on #1496
Got the same, and it doesn't seem to be documented

[2017-09-22 18:26] #1911 closed

[2017-09-22 21:26] #2056 closed

[2017-09-22 21:34] sodiumjoe commented on #2056
This still seems relevant. If a core team member has reviewed and decided not to do this, I'm ok with that, but i don't even know if anyone's looked at this.

[2017-09-22 21:35] sodiumjoe commented on #2056
how do i do this

[2017-09-22 22:48] jamesreggio opened #2190 "Default `errorPolicy` of `ignore` on mutations is a breaking change"
The title says it all.

Took a little while to track this one down.

[2017-09-22 22:50] jamesreggio commented on #2190
While we're at it, `none` feels like a bit of a misnomer, since `none` results in an exception being thrown. (`throw` would've felt a bit better to me.)

[2017-09-22 23:48] tremby opened #2191 "Object not found in cache on followup query"
I'm not sure this is a bug or not so will not go into a huge amount of detail just yet.

**Overview**

I have an initial large query which fetches an object of type `Thread` and various fields on it, including objects of type `Comment`. Some of these objects are several levels deep in the query.

If the user takes a particular action, I then query for a particular `Comment` object which was defini

[2017-09-23 16:09] dusanmarsa opened #2195 "Can't pass and edit data from response"
I'm using MobX and I need to pass data to MobX store.

`store.rooms = data.rooms` not working

I also tryied `Object.assign` to lose apollo flag..

I need to get data from database and then edit them how i need.. Not only fetch. Can I do that? How?

[2017-09-23 16:36] jamesreggio opened #2196 "The lifecycle of ObservableQuery with recycling is broken"
First, thank you for the excellent work on 2.0.

We're seeing upwards of a 5x perf improvement in our React Native app! 🎉

**What's wrong**

One strange regression I've witnessed pertains to the interactions between the query recycler in `react-apollo` and the new `ObservableQuery`. The `react-apollo` recycler will retain and reuse the same `ObservableQuery` for each instance of the component it w

[2017-09-23 17:07] #1697 closed

[2017-09-23 17:52] leoasis commented on #2190
Here's a PR that addresses this https://github.com/apollographql/apollo-client/pull/2194

[2017-09-23 22:29] dyst5422 opened #2198 "Allow for specifying variables as a generics argument in graphql TypeScript declaration for react"
There are times when a query requires variables that are not useful to the underlying component. Currently, if I specify variables as part of the props the graphql function will receive, my component must also accept those variables.

This should be a relatively simple addition to the declaration to have an extra generic that is variables types defaulted to `{}` that gets merged into the returned

[2017-09-24 03:07] #1854 closed

[2017-09-24 08:01] SachaG commented on #1726
For some reason I'm seeing this error for queries that shouldn't return the field that's missing. In other words I might get a `Missing field CommentsList` message for a query that doesn't target that resolver at all.

[2017-09-24 14:09] lukecwilliams commented on #2182
Here's how we solved this issue (we're using Auth0).  Any fetch makes an async call to get an auth token first.  It tries to grab from, in this order:

1. In memory
2. Local storage
3. Refresh server (if we have token but it's expired)
4. Web authentication (if no token or token is for some reason invalid)

Helpfully, getAuthToken can be called by many fetches in parallel since it just returns a s

[2017-09-24 15:33] mxstbr commented on #1934
Pleeeeasseeeeeee

[2017-09-24 18:21] vmasto commented on #1812
Not sure why this is closed, I've been dazzled by this for the better part of the day trying to remove the prefix.

The most common of use cases:

I fire a mutation from within a component in a `try/catch` statement. I just want to `setState({ error: error.message })` in my `catch`. My GQL errors are already optimized for user display.

It's not hard to str.replace or introspect and get the origin

[2017-09-25 01:26] maplion opened #2201 "Object has no __typename or id Available When Attempting to Specify IDs in ApolloClient dataIdFromObject in Angular (4); Webpack Fails to Compile"
**Intended outcome:**
Specify IDs in Apollo configuration to tell queries about updates when new information becomes available for an Angular project, as per http://dev.apollodata.com/angular2/cache-updates.html

**Actual outcome:**
`Property '__typename' does not exist on type 'Object'.` and `Property 'id' does not exist on type 'Object'.` When angular-cli webpack attempts to compile.

**How to r

[2017-09-25 02:04] #2054 closed

[2017-09-25 03:32] joint-song commented on #819
I think apollo client should generate(or any other action) a unique id to resolve this issue, not throwing an error.
It's not a perfect solution as @goldo do, but really helpful for now.

[2017-09-25 08:00] goldo commented on #819
@joint-song if your data contains id field it means there should be several of them, right ? If it does, apollo will need to know how to handle them, and merge them.
If your data doesn't contains any IDs and is unique (like a global config query for example), the merge should be simple since there's only 1 element.
i don't know how apollo could handle them any otherway

[2017-09-25 11:34] fervanrijswijk commented on #1881
I've encountered the same issue. When receiving an error on polling, the error handler is ignored and the output is directly send to the console which results in an application which is crashed.

[2017-09-25 18:54] jjant commented on #1913
@jbaxleyiii Agreed with @mhlavacka, this field breaks my mutations.

[2017-09-25 19:18] jjant commented on #2160
Why use a property like `__typename` instead of something like a symbol property that doesn't break mutations?

[2017-09-25 19:19] migueloller opened #2205 "Undefined values in variable get converted to `null` preventing GraphQL default values"
Moving from https://github.com/apollographql/react-apollo/issues/1038.

[2017-09-25 19:20] #2059 closed

[2017-09-26 09:10] lordnox opened #2212 "Typescript definition problems with apollo-client@next and link-core / cache-core"
![screen shot 2017-09-26 at 11 01 45](https://user-images.githubusercontent.com/503189/30852247-6b13b4e0-a2ab-11e7-86f0-83450aa05167.png)
Code in question:
[code]

**Intended outcome:**
This code is mostly copied from `apollo-client-preset` and I expected it to work out of the box. I might be missing some parameters for the cache, but typescript did not like the code even without the cache

**Actu

[2017-09-26 10:01] dpnova commented on #1954
FWIW as someone who uses the python side of this issue, this ticket can be closed.

[2017-09-26 16:14] timbrandin commented on #1879
I'm getting the same error, I don't even have apollo devtools installed in my browser (using chrome).

[2017-09-26 18:23] jmoore315 commented on #2084
Bot - please do not close this issue

[2017-09-26 21:54] jbaxleyiii commented on #1186
@jay1337 is that same error happening exactly as described on the 2.0? Without a reproduction we won't able to fix it very easily

[2017-09-26 22:53] n1ru4l commented on #2168
I solved this issue by upgrading my dependencies:

[code]

[2017-09-27 00:33] #2062 closed

[2017-09-27 03:05] affablebloke commented on #2196
We have been experiencing the exact same issue.

[2017-09-27 03:18] jbaxleyiii commented on #2196
@affablebloke is that with the beta or the current 1.* branch?

[2017-09-27 03:22] affablebloke commented on #2196
@jbaxleyiii
[code]

BTW I love apollo-link, it is such a great design decision.

[2017-09-27 03:23] kctang commented on #1237
Posting my scenario & solution here, hope it helps someone with similar situation. Project environment is TypeScript 2.5.2 and Webpack 3.

Scenario: With `import ApolloClient from 'apollo-client/ApolloClient'`, I got this error:

[code]

Solution: `import ApolloClient from 'apollo-client'`

No idea why IntelliJ decided to add `/ApolloClient` when I auto-imported.

[2017-09-27 06:59] mech commented on #2168
I am still seeing no headers so far :(

[code]

[2017-09-27 07:35] jay1337 commented on #1622
@jbaxleyiii : here are some precisions.

I work on a React Native project with:

- apollo-cache-inmemory@0.2.0-beta.2
- apollo-client@2.0.0-beta.2
- apollo-link@0.6.1-beta.4
- apollo-link-http@0.6.1-beta.4
- apollo-link-set-context@0.6.1-beta.1

I have a component "connected" using graphql HOC. I have a setInterval to trigger a refetch of the query. If a refetch fails, then the data.error remains,

[2017-09-27 15:06] jay1337 opened #2221 "broadcastWatches called too many times by InMemoryCache"
InMemoryCache calls broadcastWatches many times during a mutation:

1. After writing the optimisticResponse to the cache
2. After each writeQuery/writeFragment in the update function of the mutation options called with the optimisticResponse
3. After processing the optimisticResponse
4. After writing the server response to the cache
5. After each writeQuery/writeFragment in the update function of

[2017-09-27 16:57] khankuan commented on #2049
Hi, I've encounter this bug again yesterday. I'm wondering if the least we could do might be to a warning message in dev mode that fragment has missing data. Any thoughts?

[2017-09-27 18:14] #2190 closed

[2017-09-27 20:50] mekhami commented on #2181
I'm having the same issue with one of my queries not being added to ROOT_QUERY.

[code]

[code]

[code]

[2017-09-27 21:26] BossGrand commented on #2051
Is there a way to check if the query is loaded before tying to update it?

[2017-09-27 23:07] n1ru4l commented on #2168
@mech It only solved the errors for me. The headers are still missing. 😥

[2017-09-28 02:53] #2066 closed

[2017-09-28 06:17] jay1337 opened #2222 "readQuery and readFragment do (can) not return optimistic data"
After processing an optimistic response and before receiving the response from the server, if readQuery or readFragment is called from ApolloClient, it returns data ignoring the optimistic update.
I think the optimistic data should be returned instead. It would be coherent with the data available through observable queries.
At least, there should be an option ("optimistic:: true" ?) to let the use

[2017-09-28 11:35] jay1337 opened #2224 "addTypenameToSelectionSet do not add __typename to root query"
The function `addTypenameToSelectionSet` in `tranform.ts` from `apollo-utilities` do not add `__typename` field to the root query.
But the `match` function of `HeuristicFragmentMatcher` expects cached root query objects cached to have the `__typename` field (when it's called by `graphql-anywhere` in function `executeSelectionSet` through `execContext.fragmentMatcher`).

[2017-09-28 11:53] #2077 closed

[2017-09-28 16:28] samus42 commented on #2168
I've also been trying to solve this, when debugging the code I see the following:
in HttpLink.prototype.request at the line var headers = operation.getContext().headers;  If you look at the operations object, you can see operation.context.headers with your headers, however what gets returned will not have it.  When you step into operation.getContext(), you'll see your headers on the 'this.context'

[2017-09-28 16:46] samus42 commented on #2168
So when debugging this, I found the following
In HttpLink.prototype.request, line 40, the line var headers = operation.getContext().headers;
When inspecting operation, I could see operation.context.headers with my value.

However, when stepping into operation.getContext() I could see this.context with my headers, however the context object used via var getContext = function () { return (__assign({

[2017-09-28 16:49] dotansimha commented on #1945
Same here. any idea?

[2017-09-28 16:59] jbaxleyiii commented on #2168
@samus42 I'll take a look! Thanks!

[2017-09-28 18:29] webmobiles opened #2226 "apollo support react 16 fiber"
can use apollo client and server with react v16 ? is it compatible?

[2017-09-28 19:49] dfee opened #2228 "Subscriptions as a first-class citizen"
[originally posted on /apollo](https://github.com/apollographql/apollo/issues/107) but reposted here as this seems like a more active(?) repo.

I'm not sure this is the right place to post this, so if not, please redirect me.

I'm not very interested in using `subscriptions-transport-ws` for my subscription transport. It's fine enough if you're using NodeJS on the backend, as you get the server si

[2017-09-28 21:16] bskern commented on #2177
I would be interested in this too. I couldn't quite figure out how the client received the store from the Provider in react-apollo so I could mimic that in my project that uses vanilla apollo.

[2017-09-29 03:19] #2011 closed

[2017-09-29 03:21] ianstormtaylor commented on #84
@stubailo if there's only ever one server, how do you recommend doing subscriptions with WebSockets?

From everything I understand, the best practice is to separate your socket-based servers from your HTTP-based servers, because they will have very different usage profiles. But if you're forced to proxy all of your traffic through a single server, this is impossible.

[2017-09-29 03:32] ianstormtaylor commented on #84
Another example: CDN API's, where the content inside the API is highly optimized for reads, and stored on a CDN. Right now pretty much every API doing this is REST, because it's been the easiest to cache. But more people are wanting them to be GraphQL-powered. Putting the CDN behind a proxy server adds extra overhead.

[2017-09-29 05:09] n1ru4l commented on #2226
It should be fine, I am using apollo-client with react-native and react v16 and could not find any problems yet.

[2017-09-29 05:12] webmobiles commented on #2226
nice , i confirme, and working very fast ! thanks

[2017-09-29 05:12] #2226 closed

[2017-09-29 05:37] valerybugakov commented on #2224
Bumbed into the same issue, if I comment `if (!isRoot)` condition everything works fine, otherwise apollo throws an error in `executeSelectionSet`

[2017-09-29 08:53] successkrisz commented on #2135
We're experiencing the same issue as well, response headers are always empty, so can't extract tokens from it.

Are there any solution for this?

[2017-09-29 10:09] VladShcherbin commented on #2096
What a useless bot, wow. What activity do you expect, it's an issue tracker, not a chat room.

[2017-09-29 13:19] davemcorwin commented on #2196
I'm having this same issue, does anyone have a suggested workaround or a way to force the variables NOT to be reused?

I noticed there is a `storePreviousVariables` key in the Redux action, is there anyway to control that?

react-apollo 1.4.15
apollo-client 1.9.3
apollo-link-core 0.5.4

[2017-09-29 13:21] jamesreggio commented on #2196
This bug should actually be fixed in the latest version of react-apollo and
apollo-client pushed yesterday. Just reinstall everything at the @beta tag
and see if that fixes it for you.

On Sep 29, 2017 9:19 AM, "David Corwin" <notifications@github.com> wrote:

[2017-09-29 13:31] davemcorwin commented on #2196
Thanks @jamesreggio is there a solution that doesn't involve bumping a major version, there are breaking changes here.

[2017-09-29 13:39] jbaxleyiii commented on #2196
@davemcorwin the breaking changes only impact one file! Is there something large preventing you from upgrading?

[2017-09-29 13:42] jbaxleyiii commented on #1186
@jay1337 that error should be fixed in the latest beta!

[2017-09-29 13:42] davemcorwin commented on #2196
@jbaxleyiii I will look at https://github.com/apollographql/apollo-client/blob/master/Upgrade.md, but I have a production application, so doing an off-the-cuff major version upgrade to a beta makes me a bit nervous...

[2017-09-29 13:54] jbaxleyiii commented on #2196
@davemcorwin of course! I totally understand! If you can hold off for one more week it will be the official release! Its testing super well and we just have doc updates left with full upgrade guides before cutting the release candidate and moving to an official release

[2017-09-29 15:20] AndreasGalster commented on #2196
Could this issue be related to updateQueries not properly updating the observableQuery as well?

[2017-09-29 16:47] tim-soft commented on #1622
@jay1337 I'm having the same problem although I'm using Apollo client 1.x

I have a HOC query with a polling interval. If some network error occurs once, every future request will carry the past error despite returning good data.

[2017-09-29 19:30] mekhami commented on #2181
@TheoMer I had to add my variables to `store.readQuery`, even in an empty state, to get the store to pick them up at all.

[2017-09-29 21:04] cport1 commented on #1971
Doesn't version 2.0 pretty much take care of this issue?

[2017-09-30 00:46] alehl commented on #1326
@liz-mars getting a 404 as well. I also agree that it's not clear how to apply this to react-apollo... hopefully there's some update soon

[2017-09-30 09:57] bkniffler opened #2235 "graphql as peerDependency"
Hey,
I see that Apollo-client and apollo-link depend on different versions of graphql (0.10 vs 0.11). Wouldn't it make sense, since lots of your packages depend on graphql, to add it as a peer dependency to not run into issues with these version differences?

[2017-09-30 11:40] ssatir commented on #2201
I have a very similar issue.
When i try to create a client with:

[code]

i get the error

Either the documentation is outdated or this is a bug. :(

I'm using `"apollo-client": "^1.9.3"`

Any hint is much appreciated.

[2017-09-30 15:10] #2065 closed

[2017-10-01 12:04] #86 closed

[2017-10-02 10:45] mxstbr commented on #2057
Arggg please can somebody mark this as a discussion? My lordey this stalebot is going on my nerves :D

[2017-10-02 11:44] #2087 closed

[2017-10-02 17:51] bmeyers22 commented on #2167
I am also having this issue, headers are completely empty.

[2017-10-02 18:52] dacz commented on #2168
any ideas when it could be solved? May I help somehow? Thanks!

[2017-10-03 01:20] lukeggchapman opened #2238 "Non-ok query response does not throw error with response status if JSON is returned in the body"
**Intended outcome:**

I'm attempting to identify if a query request I'm making is failing due to an access token expiring.

**Actual outcome:**

I'm receiving this error:
`Network error: Server response was missing for query 'undefined'.`
Which does not contain the `error.networkError.response.status` I need to determine the actual response status returned from the fetchAPI

https://github.com/ap

[2017-10-03 15:39] galaxym51 opened #2245 "graphql-js license issue (BSD + Patents)"
Facebook has recently relicensed part of their opensource packages to MIT, getting rid of BSD + Patents.

graphql-js, one of apollo dependencies, has MIT license as of v0.11.4 but apollo-client still depends on v0.10.x.

Depending on the previous Facebook license is a blocker for most of the adopters (see papers and discussions about it  during the last 2 months).

Would it be possible to update a

[2017-10-03 16:55] serle opened #2246 "Apollo2.0 - FragmentMatcher not enabled/picked up"
I have several union types in my schema and have added the IntrospectionFragmentMatcher to the InMemoryCache as specified in the docs. I don't think the fragmentMatcher is being used as I am getting these warnings. I'm using "apollo-cache-inmemory": "^0.1.0-0", however when I upgrade the the beta version I get a store update error.

The rest of my apollo stack is:
"apollo-client": "^1.9.3",
"apoll

[2017-10-03 19:45] serle commented on #2246
So I managed to fix the fact that the fragmentMatcher was not being picked up. I fixed it by reverting to the old way of installing the fragmentMatcher i.e. placing the property directly in the client's parameter object like so:

`const client = new ApolloClient({ link: link, cache: cache, fragmentMatcher: fragment_matcher});`

as opposed to placing it on the InMemoryCache config parameter like so

[2017-10-03 20:16] danieljvdm commented on #2013
Is this live in any version? It's still happening with the latest `react-apollo`.

[2017-10-04 05:24] jaydenseric opened #2247 "context.fragmentMatcherFunction is not a function"
Using the latest betas for v2, when using `IntrospectionFragmentMatcher` I get the `networkError` `TypeError: context.fragmentMatcherFunction is not a function`.

Only pages that have interfaces/union queries on them cause this error, other pages are fine.

**Version**

- apollo-client@2.0.0-beta.4
- apollo-link@0.7.0
- apollo-link-batch-http@0.3.0
- react-apollo@2.0.0-beta.0

[2017-10-04 11:09] joarwilk commented on #2168
This is how I do my auth headers, works just fine:

[code]

[2017-10-04 11:15] seeden commented on #2168
@joarwilk do you have problem with https://github.com/apollographql/react-apollo/issues/1192 as well? I am just curious

[2017-10-04 12:43] joarwilk commented on #2168
@seeden Not as far as I know. Not running 2.0 however

[2017-10-04 13:12] PetrSnobelt opened #2255 "Is it possible to use subscription without query?"
I try to create react component, which uses only one subscription, no query.
But If I do not add a query to component I do not have access to `subscribeToMore` fn.

Is there any way (sample) how to use subscription without query? All tutorials use a subscription with query.

As a workaround, I add dummy query to component and it looks like it works

Thanks

[2017-10-04 13:13] joarwilk opened #2256 "Query results are ignored when finished due to mismatching request ids"
**Intended outcome:**
I make a lot of requests in parallel (without batching). One request is a lot slower than the others and may take some time to finish. When this request is finished the client ignores it completely and ends up in a permanent loading state. I have narrowed the issue down to this line:

https://github.com/apollographql/apollo-client/blob/master/packages/apollo-client/src/core/Q

[2017-10-04 15:29] ArtisanalPickle commented on #439
@igrayson +1 on that implementation :)

[2017-10-04 17:01] spoeck commented on #1546
@helfer  Hi, I've the same issue. Are there any updates for the new API?

[2017-10-05 03:23] yhjor commented on #2051
same problem here

[2017-10-05 10:32] jay1337 opened #2258 "Error handling for unmounted component"
When a component is unmounted, error observer is removed from the query (in graphql wrapper component function `componentWillUnmount`). Thus, if an "in flight" request arrives with an error, there is no way to catch it and avoid the `console.error` red box message "Unhandled error ...".

At least the error message should explain what's really happening (unmounting could keep an error observer subs

[2017-10-05 11:26] jthegedus opened #2259 "Apollo Client 2.0 getInitialState for SSR with Next.js"
**Intended outcome:**

Upgrade the [Next.js with-apollo](https://github.com/zeit/next.js/tree/master/examples/with-apollo) example to use Apollo Client v2.0.0.

**Actual outcome:**
Everything works, I just would like some feedback on the method used.

Originally I followed the [Apollo Client v2 upgrade guide](https://github.com/apollographql/apollo-client/blob/master/Upgrade.md) and implemented th

[2017-10-05 11:58] aunnnn commented on #1697
Hi, is there any updates on this issue?

So now I have to either:
1. use 'refetchQueries' or,
2. use 'update' to update the store for all related queries,

Is that right?

[2017-10-05 12:01] lucfranken commented on #1697
@aunnnn this issue got closed automatically. Asked about that here: https://github.com/apollographql/apollo-client/issues/1910

As I wrote months ago:

No idea why there is no answer.

[2017-10-05 14:55] scheiblr opened #2260 "Entire application slows down after performing resetStore"
**Intended outcome:**
I tried to implement a logout routine which refers back to the login page. I'm using session cookies which are cleared successfully.
So I tried two versions to clean the apollo store according to http://dev.apollodata.com/react/auth.html#login-logout:
1. calling ` props.client.resetStore();` instantly **after logging in**
2. calling ` props.client.resetStore();` **after loggo

[2017-10-05 15:29] valerybugakov commented on #1637
@helfer any news on this issue? What is the suggested way to handle mutation errors? Especially with optimisticUpdate provided. It should be a common scenario when you don't want to fully rollback an update on error, but want to partially change it.

[2017-10-05 16:49] jay1337 commented on #1186
@jbaxleyiii the error is still there.

Basically, when there is a network error, the `queryObservable` is removed from graphql wrapper object (in `react-apollo.browser.umd.js`). Any refetch only update Apollo store but does not trigger a rerender of the components.

I found a workaround by adding a `retry` function to the data prop passed to the wrapped component in function `dataForChild`:

[code

[2017-10-05 21:36] jjant opened #2261 "Add a way to easily select data from apollo + redux store."
I'm finding it hard to select data from my redux store that depends on both, current redux state and data fetched by Apollo.

An example is the following: I have an `options` model, which has `id, name` properties. These `options` are fetched by apollo from the server. In a form, I have a select field, in which I store a selected option ID (which I use in a mutation, to change the currently select

[2017-10-06 03:28] changalberto commented on #1432
Not stale you salty bot! =)

[2017-10-06 05:38] jay1337 opened #2262 "Warning on missing data for observable query"
When an observed query can't be updated because data is missing in the cache, there should be a `console.warn` because it means that:

1. Data are not consistent in the app
2. There is a mistake in the choice of the queries observed or in the choice of field selected in the response to some mutations/queries

For instance, if you call a mutation to add a new product to a shopping basket with only

[2017-10-06 08:26] johncrisostomo commented on #2143
I am also experiencing the same thing. They are errors and I still have the intended side effect; the yellow warning line is jut annoying :(

[2017-10-06 11:06] hlehmann opened #2266 "[2.0] Use cache breaks react-apollo"
It's related to https://github.com/apollographql/react-apollo/issues/1192
But I think it's caused by apollo-client.

**Intended outcome:**
Scenario:
query1 + variables1 => data1
query1 + variables2 => data2
query1 + variables1 => data1

**Actual outcome:**
Same scenario:
query1 + variables1 => data1
query1 + variables2 => data2
query1 + variables1 => data2 instead of data1

**How to reproduce the

[2017-10-06 11:58] reinvanimschoot commented on #2051
I have this problem when not passing in `skip` as variable

[2017-10-06 14:35] haizz commented on #2052
up

[2017-10-06 16:59] goldo commented on #2255
I'd also need this !

[2017-10-06 20:05] #2107 closed

[2017-10-06 21:12] kulikovviktor commented on #1817
When network Interface configured as `no-corse`, all requests has content-type: `plain/text` instead `application/json`. I'm not sure thats problem is Apollo or native fetch implementation, but with `cors` all headers are correct

[2017-10-07 00:10] wmcbain commented on #2142
@robmoorman Did you ever have a solution for this? Running into this problem as well

[2017-10-07 14:29] mhuggins commented on #2119
This is still an issue.

[2017-10-07 14:44] mxstbr commented on #2119
Definitely still an issue.

[2017-10-07 14:50] leoasis commented on #2119
Isn't this expected behavior with `cache-and-network`? According to the docs here http://dev.apollodata.com/react/api-queries.html#graphql-config-options-fetchPolicy, that policy will always execute a network request even if the data is present in the cache (in which case that data is also returned). Maybe the `cache-first` policy would have the behavior you'd expect?

[2017-10-07 14:56] mxstbr commented on #2119
No. I want my query to run again when a user visits a page again to get the freshest data, but I also want it to show the stale data for a faster render and nicer UX.

It's just now rendered with the fresh data on the server, why would I want it to stress my server by unnecessarily fetching the exact same queries that were just loaded literally milliseconds ago?

[2017-10-07 15:29] leoasis commented on #2119
Yeah I understand that, just wanted to say that it was kind of the expected behavior IMO, because the component is returning the data from the cache and _also_ firing a network request, as it is documented. The problem though is that in this case, the cache was populated by that same component on the server side, but that state is not transferred to the client (since it's not part of the store), o

[2017-10-07 16:28] #2061 closed

[2017-10-07 16:51] RedShift1 commented on #2164
Ping...

[2017-10-08 04:05] zapkub commented on #2261
You can mutate Apollo store locally by using `apolloClient.writeQuery`, I suggest to use with redux-saga if you want to mutate Apollo data in Form 😀

[2017-10-08 05:25] uyouthe opened #2270 "Is it Google Closure compliant?"
Hello!

I'm looking for graphql client library for Clojurescript application, and it seems like there's no graphql client libraries for clojurescript and I have to use some JS library.

In order to use some js library in clojurescript app, I have to be sure that it wouldn't break after Google Clojure Compiler optimizations.

Can Apollo graphql client be used with that optimizations?

[2017-10-08 08:58] Nyaruiru commented on #2201
The issue stems from type definition of 'IdGetter' function in Apollo client source code. 'dataIdFromObject' is of type 'IdGetter' which takes one argument of type 'Object' but the Object interface in the es5 library does note define '__typename' and 'id'. This makes that code fail the type check.
You can find type IdGetter in the last line of apollo-client's 'types.d.ts' file. Path to the file is

[2017-10-08 10:44] dotansimha opened #2271 "QueryScheduler causing unhandled promise rejection when using polling"
Originally from here: https://github.com/apollographql/react-apollo/issues/1216

The actual code the does not handle the rejection is here:
https://github.com/apollographql/apollo-client/blob/a1217fbd1ebe8b56ff96dcb077430720dd0b381c/src/scheduler/scheduler.ts#L127

**Intended outcome:**
Should catch the error and trigger `error` of the `QueryObservable`.

**Actual outcome:**
If the server throws a

[2017-10-08 10:47] dotansimha opened #2272 "fetchPolicy `cache-and-network` throwing an unhandled promise rejection"
Originally started here: https://github.com/apollographql/react-apollo/issues/1117

When using `cache-and-network` and the server throws an error, the promise does not return to the executor, and it's not possible to catch and handle the error.

The actual code is here:
https://github.com/apollographql/apollo-client/blob/a1217fbd1ebe8b56ff96dcb077430720dd0b381c/src/core/QueryManager.ts#L505-L507

[2017-10-08 16:10] lrettig opened #2273 "[2.0] ApolloClient.reducer() method is gone, how to connect to redux?"
**Intended outcome:**
Create a new Apollo client, then plug it into redux as a store per [these instructions](http://dev.apollodata.com/react/redux.html#creating-a-store).

**Actual outcome:**
Error: `apolloClient.reducer is not a function`.

**How to reproduce the issue:**
I tried to do this using both code-sandbox and react-apollo-error-template but neither has been updated for 2.0 and neither w

[2017-10-08 16:13] lrettig commented on #2273
I'm also getting the error `apolloClient.middleware is not a function`

[2017-10-08 16:32] maplion commented on #2201
@Nyaruiru Thank you!  That seems to have fixed the issue for me.  It makes sense that it was a simple typing issue.  Just for clarification for others, the file you need to edit is `apollo-client/core/types.d.ts` and then just follow @Nyaruiru's comment above and you should be golden.

[2017-10-08 16:32] #2201 closed

[2017-10-08 16:46] aikonplus commented on #1680
so what should I use for offset based pagination?

[2017-10-08 17:22] Nyaruiru commented on #2201
@maplion Im not very conversant with github. If you could make a pull request for the sake of the community, that would be good.

[2017-10-08 17:24] maplion commented on #2201
@Nyaruiru Will do, thanks again for your assistance.

[2017-10-08 18:20] mhuggins commented on #1419
I'm still interested in this.

[2017-10-08 19:51] monolithed commented on #207
Here is my solution:

[code]

[2017-10-08 21:06] n1ru4l commented on #2273
apollo-client v2.0 replaced the redux cache with an abstract cache implementation. AT the moment there are two implementations that i am aware of:  https://github.com/apollographql/apollo-client/tree/master/packages/apollo-cache-inmemory and https://github.com/convoyinc/apollo-cache-hermes

[2017-10-08 22:47] maplion commented on #2201
Just FYI, I discovered from tests that the id type needs to be a string:  `export interface IdGetterObj extends Object { __typename?: string; id?: string; }`

[2017-10-08 22:49] corvana-nbaker opened #2275 "dataIdFromObject ignored when updating cache store"
**Problem:**
The same entity (identified by the same 'id) is retrieved as two different GraphQL types by two different queries.  One of the types is generic and the other specific (e.g. Animal -> Dog). When the generic query executes after the specific, the __typeName of the specific query is overridden with "Animal" despite "dataIdFromObject" on ApolloClient being defined as:

dataIdFromObject: o

[2017-10-09 04:53] vinhlh commented on #1419
@stubailo I would love to make a PR if you guys agree that we could have a `defaultFetchPolicy`.

[2017-10-09 08:25] AshwinTayson commented on #1419
Can we have disable-cache per query. Right now I'm using client.resetStore(). But if there are multiple requests placed then it throws error Store reset while query in-flight.

[2017-10-09 10:11] rrhvella commented on #1419
Honestly, I found the best workaround to be to just call the network layer directly. I've been doing that for the last few weeks and the only problem I've encountered is that deduplication doesn't work. Which is understandable because that is implemented at client level. The network layer still performs batching though, which is all I really need.

[2017-10-09 13:34] jjant commented on #2261
@zapkub I'm not sure I follow how that helps with my use case, I'm not trying to mutate state, just access it as a regular js object.

[2017-10-09 13:52] #2060 closed

[2017-10-09 14:15] zapkub commented on #2261
@jjant yes, because Apollo has it own way to store data.
So access it directly in Redux store is quite too difficult

 you can check `readQuery` for directly access to ApolloStore locally.

[2017-10-09 14:52] #2045 closed

[2017-10-09 17:07] Gabriel-AL opened #2277 "client_1.createFragment is not a function"
Hi there, and thank you for all your work, it is amazing !

I am actually using Apollo while learning to use ReactJS & GraphQL. So I may be quite a newbie, I apologize about that.

To test if everything was working, I wanted to only list all the users of my database.  So I created a component:

[code]

I linked it in my main app, created the provider in my index.js (entry of the app)
[code]
When I

[2017-10-09 19:21] RDGthree commented on #1812
Gonna throw in another vote for removing this string, it results in `GraphQL error: [Object object]` if you have errors with multiple fields. This is broken, bizarre, unnecessary functionality.

[2017-10-09 19:36] dallonf opened #2278 "Errors from `ObservableQuery.currentResult` are not referentially equal"
**Intended outcome:**

Using `react-apollo` (although I think the issue is in `apollo-client`, see below), I would like to trigger an imperative action (show an error notification) when a load error occurs. The most straightforward path to me is to compare `props.data.error` with `nextProps.data.error`, and if they are different, show the notification for the new error.

**Actual outcome:**

The `

[2017-10-10 02:41] johncrisostomo commented on #2007
I'm also having this issue. Commenting on this one because this is the most recent one that is related to my issue.

[2017-10-10 11:03] #2020 closed

[2017-10-10 11:16] amannn commented on #2012
I've now worked around this issue. All loading indicators for queries are now shown inline and only mutations use the global loading bar. I've seen that mutation actions are symmetrical, therefore this is no longer a problem.

Just in case somebody has the same issue.

[2017-10-10 11:16] #2012 closed

[2017-10-10 13:38] xinshangshangxin commented on #2080
I use [angular-starter](https://github.com/AngularClass/angular-starter)
and `apollo-angular` + `apollo-client`

found same result

[2017-10-10 13:54] jbaxleyiii commented on #2277
@Gabriel-AL sorry you ran into this issue! Would you be able to create a reproduction? And what versions of apollo-client and react-apollo?

[2017-10-10 13:56] jbaxleyiii commented on #2275
@corvana-nbaker can you create a small reproduction for this issue?

[2017-10-10 13:58] jbaxleyiii commented on #2273
@lrettig that is correct, apollo-client no longer has a link to redux by default. What do you need the link for?

[2017-10-10 14:01] jbaxleyiii commented on #2272
@dotansimha I *think* this is fixed in the 2.0. I'll check and see but could you send a reproduction issue for me to try out?

[2017-10-10 14:01] jbaxleyiii commented on #2270
@uyouthe I'm not sure! Have you tried it?

[2017-10-10 14:03] jbaxleyiii commented on #2266
@hlehmann do you have a small reproduction for this? I'd love to take a look! Also, what version of react-apollo are you using?

[2017-10-10 14:03] jbaxleyiii commented on #2262
@jay1337 I'm all for improving the development warnings / guidance of Apollo! Do you have a sample app which showcases this behavior?

[2017-10-10 14:04] jbaxleyiii commented on #2261
@jjant the 2.0 actually detaches apollo from redux entirely. The `readQuery` method is the best way to read directly from the store

[2017-10-10 14:04] #2261 closed

[2017-10-10 14:06] jbaxleyiii commented on #2260
@scheiblr do you have a reproduction showing this? And have you tried the 2.0?

[2017-10-10 14:14] lrettig commented on #2273
Apologies for the newbie question, but how do I use apollo-client with my
existing redux store? In other words, I'm asking for an updated version of
the instructions here:
http://dev.apollodata.com/react/redux.html#creating-a-store.

Thanks.

On 10 October 2017 at 09:58, James Baxley <notifications@github.com> wrote:

[2017-10-10 14:14] jbaxleyiii commented on #2259
@jthegedus hmm this is an interesting point. I didn't expect keeping the cache reference around to be a problem but I do see that adding a quick method would be nice.

How about I implement something like this:
[code]

That way `cache` is publicly attached to the client instance to be used as needed

[2017-10-10 14:18] jbaxleyiii commented on #2258
@jay1337 interesting! Do you have a reproduction for this? I think it should be fixed in the 2.0 though since the new interface is an observable which will correctly clean up errors

[2017-10-10 14:22] jbaxleyiii commented on #2256
@joarwilk oh wow! Do you have a reproduction for this? I'd love to investigate and get it fixed!

[2017-10-10 14:23] jbaxleyiii commented on #2255
@PetrSnobelt @goldo you can actually use a subscription directly with `graphql` and it will do this! I do agree we need to improve the docs on this! We are overhauling the docs and will work to add this

[2017-10-10 14:23] #2255 closed

[2017-10-10 14:23] jbaxleyiii commented on #2247
@jaydenseric interesting! Do you have a small app I can take a look at! I'll try to figure out what's happening

[2017-10-10 14:24] jbaxleyiii commented on #2246
hmm that doesn't seem right. Do you have a reproduction I can look at to verify whats happening?

[2017-10-10 14:26] jbaxleyiii commented on #2238
This is merged for the `latest` branch and I will cut a release this week. I've added it to the 2.0 milestone to update apollo-link-http to handle this case as well. Thanks for the great work @lukeggchapman

[2017-10-10 14:27] jbaxleyiii commented on #2235
@bkniffler I think that's a great idea!

[2017-10-10 14:28] jbaxleyiii commented on #2228
@dfee the 2.0 now uses `apollo-link` for the network interface so setting up your own subscription transport should be way easier!

[2017-10-10 14:28] #2228 closed

[2017-10-10 14:29] PetrSnobelt commented on #2255
@jbaxleyiii can you provide a sample, please?

[2017-10-10 14:29] jbaxleyiii commented on #2222
@jay1337 I think there is a way to do this actually, you should be able to specify the optimistic nature of the response:

https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache/src/cache.ts#L69-L72

[2017-10-10 14:34] jbaxleyiii commented on #2196
This is fixed in the 2.0. If someone wants to open a PR for the latest I'd be happy to merge and release it but the official recommendation is to upgrade to the 2.0

[2017-10-10 14:34] #2196 closed

[2017-10-10 14:35] jbaxleyiii commented on #2195
@dusanmarsa can you provide more information? A reproduction or code sample is needed for me to understand and help out more!

[2017-10-10 14:38] jbaxleyiii commented on #2191
@tremby if I understand this correctly, you are doing a mutation which results in a new `Comment` which you write to the store? Then you try to run a new query which would pull the comment out but wasn't the query you used to write it to the store?

Can you share the actual operations (graphql) that you are using?

Apollo has no way to know what type a root field will return so trying to pull the

[2017-10-10 14:38] #2191 closed

[2017-10-10 14:39] jbaxleyiii commented on #2182
@jasonhero @lukecwilliams this would actually be a perfect use case for an `apollo-link`!! Would either of you want to try writing that and I can help guide?

[2017-10-10 14:39] #2182 closed

[2017-10-10 14:40] jbaxleyiii commented on #2179
@aprofromindia can you verify the variables being sent to apollo exist and if you run the same query in graphiql it works?

[2017-10-10 14:41] jbaxleyiii commented on #2177
@Parakoopa the 2.0 actually doesn't use redux anymore and it has an API for rehydrating / setting the data in the cache 👍

[2017-10-10 14:41] #2177 closed

[2017-10-10 14:43] jbaxleyiii commented on #2168
@nikolasburk here is an upgrade guide! https://github.com/apollographql/apollo-client/blob/master/Upgrade.md#upgrading-from-custom-networkinteface-with-middleware--afterware

Auth should work easy and `graphcool` may even be able to ship an `apollo-link-graphcool` which would make this automatic for users!

[2017-10-10 14:43] #2168 closed

[2017-10-10 14:44] jbaxleyiii commented on #2167
@Artem-Schander did you create any headers on the initial request? This should be fixed by using `apollo-link` with the 2.0. Here is an upgrade guide if you are interested in the migration to links https://github.com/apollographql/apollo-client/blob/master/Upgrade.md#upgrading-from-custom-networkinteface-with-middleware--afterware

[2017-10-10 14:44] #2167 closed

[2017-10-10 14:44] jbaxleyiii commented on #2166
This is fixed in the latest beta!

[2017-10-10 14:44] #2166 closed

[2017-10-10 14:44] jbaxleyiii commented on #2165
This isn't needed anymore with the move to apollo links in the 2.0. I'm happy to accept a PR for the `latest` branch and release it on the 1.0 if you would like though!

[2017-10-10 14:44] #2165 closed

[2017-10-10 14:45] jbaxleyiii commented on #2156
Here is an official upgrade guide if anyone else runs into this! https://github.com/apollographql/apollo-client/blob/master/Upgrade.md#upgrading-from-custom-networkinteface-with-middleware--afterware

[2017-10-10 14:45] #2156 closed

[2017-10-10 14:46] jbaxleyiii commented on #2150
@wzrdzl hmm I'll need to see if that does or not! My bet is that it will but with the 2.0 this logic is moved to the subscription transport link. Thanks for the info! This should allow us to upgrade the flow support as well 🎉

[2017-10-10 14:46] #2150 closed

[2017-10-10 14:47] jbaxleyiii commented on #2148
I think we should eventually change how error are handled by the store and maybe even loop it into the 2.0 since the swallowed errors make store issues hard to debug. I'll add it to the 2.0 milestone

[2017-10-10 14:47] bmeyers22 commented on #2167
Additional comment here, the headers object in Chrome is actually of the type Headers. To get the values you actually need to do `response.headers.get(key)` . This fixed the issue for me

[2017-10-10 14:49] jbaxleyiii commented on #2143
hmm, this is an interesting issue. I'll see if I can improve this with the 2.0 or immediately following. Do you have a sample app / reproduction I can use to see this?

[2017-10-10 14:49] jbaxleyiii commented on #2142
@robmoorman @wmcbain can you try using the top level `skip` option on `react-apollo`? That is why we moved to recommending it!

[2017-10-10 14:49] #2142 closed

[2017-10-10 14:50] jbaxleyiii commented on #2136
cc @stubailo for the new site!

[2017-10-10 14:50] #2136 closed

[2017-10-10 14:51] jbaxleyiii commented on #2135
@successkrisz @alexd16 the new apollo-link-batch-http should have this working for the 2.0! Can you verify it works that way? I'd be happy to accept a PR for the `latest` branch if you want to fix this for the 1.0 line!

[2017-10-10 14:51] #2135 closed

[2017-10-10 14:51] jbaxleyiii commented on #2133
Fixed 🌮

[2017-10-10 14:51] #2133 closed

[2017-10-10 14:53] robmoorman commented on #2142
He @jbaxleyiii what do you mean with top level? The issue is about missing these top level options within the `prefetch` method.

[2017-10-10 14:54] jbaxleyiii commented on #2119
@mxstbr so you are saying the initial data from the SSR isn't present and it resets and makes a network request?

Looking at the intended outcome from the issue, you don't want it to make the request again but that is what that policy is designed to do? I'm not sure I understand what is wrong?

[2017-10-10 14:54] joarwilk commented on #2168
@jbaxleyiii Great guide, thanks. I would add a note regarding which beta version the guide was written for. There is already a lot of conflicting tutorials for apollo link out there and since most people are using @beta its very hard to know if the code is relevant today or not.

[2017-10-10 14:54] jbaxleyiii commented on #2097
@maxsalven I agree this should be better! I'll add it to the post 2.0 when we work on better dev time warnings / issues!

[2017-10-10 14:55] jbaxleyiii commented on #2096
@VladShcherbin the error should contain the raw error response message. Can you access that directly?

[2017-10-10 14:55] #2096 closed

[2017-10-10 14:56] jbaxleyiii commented on #2084
@jmoore315 I'll take a look but I think this should be better with the 2.0. Thanks for the reproduction!

[2017-10-10 14:58] jbaxleyiii commented on #2057
@mxstbr sorry about the bot and missing this! Btw if you add `discussion` as a label it will leave it alone!

I think this is a GREAT idea and will make it a non-breaking change with the 2.0 and remove the original name at some point in the future!

[2017-10-10 15:00] jbaxleyiii commented on #2055
@gilesbradshaw I'm not sure I totally follow? Can you provide a reproduction or some more info about what is going wrong here?

[2017-10-10 15:01] jbaxleyiii commented on #2052
@benhjames I do think this is an awesome idea and have told stalebot to leave it alone and added a post 2.0 milestone to track it!

[2017-10-10 15:01] jbaxleyiii commented on #2051
Thanks for the reproduction! I will take a look!

[2017-10-10 15:02] jbaxleyiii commented on #2050
@voodooattack you should be able to override this with the new apollo-link and I think we can make this work on the 1.* line. Would you be up for working on it? I'd be happy to advise how to fix it!

[2017-10-10 15:03] jthegedus commented on #2259
Keeping the cache around isn't really a problem, but if it's not necessary because of `apollo.queryManager.dataStore.getCache()` then why split the functionality? If this type of usage is expected to remain available and stable I don't see why I would want to track the cache separately.

Having the cache attached to the client in that manner would be more convenient than the `queryManager.dataStor

[2017-10-10 15:03] jbaxleyiii commented on #2049
@khankuan I think we should change the hiddenness of store issues by changing how the 2.0 handles store errors! I'm adding this to the 2.0 milestone because its caused a lot of problems for cache implementers with the new API.

[2017-10-10 15:04] #2042 closed

[2017-10-10 15:05] jbaxleyiii commented on #2024
@zunder do you have a reproduction app for this? I'd be happy to take a look!

[2017-10-10 15:06] jbaxleyiii commented on #2007
I think we can change how this works in the 2.0 and if the app hasn't made the request for it yet, we can not run it and not throw. Do you have a small reproduction for this issue?

[2017-10-10 15:07] jbaxleyiii commented on #1971
I'm going to close this out in favor of a new issue to formally document the API. cc @shadaj would you be up for documenting it?

[2017-10-10 15:07] #1971 closed

[2017-10-10 15:08] jbaxleyiii commented on #1942
closing for #2049 which we will work to improve! Sorry for the lack of response on this one!

[2017-10-10 15:08] #1942 closed

[2017-10-10 15:08] aortbals commented on #2266
@jbaxleyiii I believe https://github.com/apollographql/react-apollo/issues/1192, the discussion and explanation here https://github.com/apollographql/apollo-client/pull/2200#issuecomment-332338791, and https://github.com/apollographql/react-apollo/issues/1192 are all the same issue.

With the recycling behavior of ObservableQuery, in combination with a cache-only (no fetch) strategy, the Observabl

[2017-10-10 15:12] jbaxleyiii commented on #1934
@mxstbr sorry about that! I've added discussion so it will stay open! This is a really interesting idea! I think we can probably support something like this in the InMemoryCache!

[2017-10-10 15:15] jbaxleyiii commented on #1432
This is done the 2.0 🎉

[2017-10-10 15:15] #1432 closed

[2017-10-10 15:15] PtwHub opened #2279 "New ApolloClient 2 "Link" No 'Access-Control-Allow-Origin' header is present on the requested"
Just porting to ApolloClient 2. Everything seems to work except for replacing the "networkInterface" with the new "Link" breaks the CORS header: the Access-Control-Allow-Origin is simply missing now. My server has not changed. Any ideas/tips?

**Version**
    "apollo-cache-inmemory": "^0.2.0-beta.4",
    "apollo-client": "^2.0.0-beta.4",
    "apollo-link-http": "^0.6.1-beta.6",
    "false": "0.0.4

[2017-10-10 15:16] jbaxleyiii commented on #1419
@vinhlh the new 2.0 will support `defaultOptions` so you can set this!

[2017-10-10 15:17] jbaxleyiii commented on #1409
The 2.0 has around a 5x performance jump and new cache implementations (like apollo-cache-hermes) can increase this jump even more! I think its time to close this issue for the 1.* line and open a new one for the 2.0 if / when needs come up!

[2017-10-10 15:17] #1409 closed

[2017-10-10 15:18] jbaxleyiii commented on #1186
@jay1337 can you open a new issue for that issue with a reproduction? And add it to the 2.0 milestone? Thanks!

[2017-10-10 15:20] jbaxleyiii commented on #1152
The basic level of this is supported in the core with 2.0 but there needs to be a lot more work around standards for handling partial data and response shapes for these directives 👍

Leaving this issue open until we get to that. If any contributor wants to help (along with @DxCx) please reach out in slack or here!

[2017-10-10 15:21] jbaxleyiii commented on #899
I think this is a few things.

1. Improving the docs to outline how to do this
2. Implementing some level of cache invalidation mechanism to support the core client to intelligently update

Anyone want to take as stab at number one? I'd be happy to help!

We are actively working on number 2!

Keeping this issue open until the docs are at least improved here.

@peggyrayzis I think this should be an

[2017-10-10 15:23] jbaxleyiii commented on #819
I think we can improve this with the goal of better messages / error handling in the post 2.0 launch

[2017-10-10 15:29] mhuggins commented on #1419
@rrhvella any examples you know about that would demonstrate how to go about doing that?

[2017-10-10 15:54] dotansimha commented on #2272
@jbaxleyiii
It looks like the code is the same under `master` branch:
https://github.com/apollographql/apollo-client/blob/master/packages/apollo-client/src/core/QueryManager.ts#L363

So if the promise does not return from the function, the callee can't handle a rejection.

To see a running example with the error, clone this: https://github.com/dotansimha/apollo-client-unhandled-expection , under t

[2017-10-10 16:28] trevordmiller commented on #2143
@jbaxleyiii That would be fantastic, thank you. I don't have a sample app, but to reproduce just make some route-level components that use `refetchQueries` like this:

[code]

Then refresh the app at different routes and the routes with refetchQueries for other routes will throw the errors.

[2017-10-10 16:35] mxstbr commented on #2057
Awesome. Unfortunately only maintainers/folks with write access can add labels, otherwise I would've done so :blush:

[2017-10-10 16:38] mxstbr commented on #2119
No, the data is there, that's the whole point.

1. User requests `/something`
2. We render that page on the server with `renderToStringWithData` and send down the full HTML with all the data
3. The user gets the full HTML and downloads and executes the JS bundle
4. Now React rehydrates and Apollo rehydrates too
5. At this point, the user has the full app and the JS bundle has rehydrated
6. Apollo

[2017-10-10 16:40] wmcbain commented on #2142
@jbaxleyiii Tried using the top level api like so:

[code]

Calling refetch still does not execute the query is the skip condition has changed.

[2017-10-10 16:49] jbaxleyiii commented on #2057
oh no! I should just give you write access ;)

[2017-10-10 18:23] jbaxleyiii commented on #2119
@mxstbr that totally shouldn't be happening! Does that only happen with certain fetch policies? Can you share your initialization code and SSR code where you inline the state? I've got a few SSR apps and they don't double request so I'm looking to narrow down the issue!

[2017-10-10 18:25] jbaxleyiii commented on #2272
Thanks for the reproduction! I'll take a look!

[2017-10-10 18:28] jbaxleyiii commented on #1419
@mhuggins I'm working on documentation for it this week! But you can check out [these tests](https://github.com/apollographql/apollo-client/blob/6ac5105d316f30096ea496cd6233d8f74b484e9f/packages/apollo-client/src/__tests__/client.ts#L2403-L2406) as a starting point!

[2017-10-10 18:30] jbaxleyiii commented on #2279
@PtwHub sounds like its missing the `credentials` part of the `fetch` request. I'm going toad that as the default in an upcoming release but for now you should be able to add them with a link that modifies the context (https://github.com/apollographql/apollo-link/tree/master/packages/apollo-link-http#context). The updated package should be about this week. You should also be able to use not the be

[2017-10-10 18:30] #2279 closed

[2017-10-10 18:31] jbaxleyiii commented on #2266
@aortbals thanks for the detailed response! I will get a solution out for you ASAP and would love if you could try it out!

[2017-10-10 18:33] jbaxleyiii commented on #2259
The idea was that you typically define the cache where you need to extract the data, but that may not always be the case. I think attaching it to the client and recommending that as the official way is the best / easiest bet!

Thanks for the idea!

[2017-10-10 18:33] jbaxleyiii commented on #2168
@joarwilk noted! You shouldn't need to use @beta for the links! I'll update the guide to make that clear!

[2017-10-10 18:34] jbaxleyiii commented on #2255
@PetrSnobelt I don't have one currently but if / when I come across one or we add it to the docs I'll update this issue!

[2017-10-10 18:35] jbaxleyiii commented on #2273
@lrettig you don't need to anymore! Any reason you want to?

[2017-10-10 18:35] rationalthug commented on #2055
As far as I am concerned, for my current use cases, everything works correctly.

I can't speak to other configurations, but using full a full web socket network interface, and react-apollo, results in a predictable ordering of messages, with subscription enabled React components sending subscription messages first, followed by query messages. This results in no dropped subscription messages during

[2017-10-10 18:42] jbaxleyiii opened #2280 "Support conditional refetch in 2.0"
https://github.com/apollographql/apollo-client/pull/2234

[2017-10-10 18:46] mxstbr commented on #2119
It only happens with `cache-and-network`, so it seems to be semi-intended behaviour but to me that's wrong behaviour since it doesn't make any sense to give my server double the load. 😅

You can replicate this in your own browser by opening `https://spectrum.chat/styled-components` in a private browser window (make sure to clear your browser cache each time since we cache the app shell locally wit

[2017-10-10 19:36] aortbals commented on #2266
Awesome, thanks @jbaxleyiii. Looking forward to trying something out. Ping me if I can help!

[2017-10-10 19:36] samus42 commented on #2168
that worked!  Thanks!

[2017-10-10 20:17] bricesanchez commented on #1692
@jazzdragon Thanks for your solution but what if i would like to fire a `Toast` message instead of print in the console.error. How could i accept to `dispatch`?

[2017-10-10 20:40] uyouthe commented on #2270
Not yet. I'll reply there when I do

[2017-10-11 00:28] jaydenseric commented on #2247
This was encountered on our main project and is blocking the v2 upgrade. I don't have a small demo project handy, sorry. I am quite sure the issue is with v2 though since everything is fine on v1.

[2017-10-11 01:37] jbaxleyiii commented on #2247
@jaydenseric how are you setting up the FragmentMatcher? With the cache constructor? Can you share any of that code? I'd love to figure this out and get it fixed for you ASAP!

[2017-10-11 01:40] jbaxleyiii commented on #2247
@jaydenseric I think I see the issue! I'll publish a fix for it and let you know when to try it out!

[2017-10-11 01:42] jaydenseric commented on #2247
@jbaxleyiii awesome, I am reapplying the v2 update now, so hopefully will be ready to try the fix in the next few minutes.

[2017-10-11 01:57] jbaxleyiii commented on #2246
Fixed with https://github.com/apollographql/apollo-client/pull/2281

It should be on the `Cache`, but the interface was expecting the `.match` function instead of the actual `Matcher`

[2017-10-11 01:57] #2246 closed

[2017-10-11 01:57] jbaxleyiii commented on #2247
Fixed with https://github.com/apollographql/apollo-client/pull/2281

It should be on the `Cache`, but the interface was expecting the `.match` function instead of the actual `Matcher`

cc @jaydenseric

cutting a beta now!

[2017-10-11 01:57] #2247 closed

[2017-10-11 02:11] jbaxleyiii commented on #2247
@jaydenseric try `beta.5` of the inMemoryCache package 👍

[2017-10-11 02:11] jbaxleyiii commented on #2246
@serle  try `beta.5` of the inMemoryCache package 👍

[2017-10-11 02:26] jaydenseric commented on #2247
Everything looks fine 😍

I am using a custom `fragmentMatcher` this time, instead of the `IntrospectionFragmentMatcher` exported from `apollo-cache-inmemory`, but that should not relate to this issue.

Want to talk about that some time BTW. It would be great if `apollo-cache-inmemory` exported a plain `FragmentMatcher` that initializes with a minimal implementations map; skipping the bulky introsp

[2017-10-11 02:33] jbaxleyiii commented on #2280
Fixed via https://github.com/apollographql/apollo-client/pull/2281

[2017-10-11 02:33] #2280 closed

[2017-10-11 02:47] jbaxleyiii commented on #2278
@dallonf this should actually already be fixed with the 2.0 👍

[2017-10-11 03:52] jbaxleyiii commented on #2272
@dotansimha this was SO helpful to fix! Thank you for the excellent work! Fixed via https://github.com/apollographql/apollo-client/pull/2281

[2017-10-11 03:52] #2272 closed

[2017-10-11 03:53] jbaxleyiii commented on #2272
@dotansimha if you want to PR this fix into the `latest` branch (for the 1.*) line, you should be able to do the same thing as in this commit https://github.com/apollographql/apollo-client/pull/2281/commits/b67367c38d250e6fc1079576fa022b63f93124de. I'd be happy to merge and release it for the 1.* if needed!

[2017-10-11 03:55] jbaxleyiii commented on #2247
@jaydenseric I'd LOVE to hear more about it!

[2017-10-11 03:58] jbaxleyiii commented on #2266
@aortbals btw, what version of react-apollo are you using?

[2017-10-11 04:07] jbaxleyiii commented on #2259
@jthegedus updated with https://github.com/apollographql/apollo-client/pull/2281

Both previous ways will work, but once that beta is out, you can do `client.cache.extract()` and I've updated the upgrade guide to use it as the primary method

[2017-10-11 04:07] #2259 closed

[2017-10-11 04:35] bennyhobart opened #2282 "@connection directive not being stripped before hitting server"
**Intended outcome:**
Have `@connection` directive stripped in apollo link

**Actual outcome:**
Connection directive is not stripped leading to error from my GraphQL
 server
![screen shot 2017-10-11 at 3 31 48 pm](https://user-images.githubusercontent.com/3694930/31422447-621f896e-ae99-11e7-8c60-f257e2171967.png)

**How to reproduce the issue:**
[code]

**Version**
- apollo-client@2.0.0-beta.5

[2017-10-11 04:37] jbaxleyiii commented on #2256
@joarwilk are you turning of deduplication? Are any of the request repeats?

[2017-10-11 04:38] jbaxleyiii commented on #2256
I tried to write a test based on the issue [here](https://github.com/apollographql/apollo-client/pull/2281/commits/69d4275856f53cba6c2db186049a92ed23772ab2) but its passing so I don't think I fully understand whats happening in your app

[2017-10-11 04:38] dotansimha commented on #2272
Thank you @jbaxleyiii ! awesome!!!

[2017-10-11 04:39] dotansimha commented on #2272
BTW, @jbaxleyiii, I guess that we can also fix https://github.com/apollographql/apollo-client/issues/2271 with a similar solution

[2017-10-11 04:46] jbaxleyiii commented on #2235
@bkniffler the only project using it directly in this repo was apollo-client and it didn't even need it! I've removed it [here](https://github.com/apollographql/apollo-client/pull/2281/commits/7d06fa6fdf909c2a45aef213a14160ae5900b844) and will make it peer in the Apollo Link project as well!

Thanks again!

[2017-10-11 04:46] #2235 closed

[2017-10-11 04:47] jbaxleyiii commented on #2282
well that's no go! I'll take a look! Thanks for the report!

[2017-10-11 05:09] jbaxleyiii commented on #2282
@bennyhobart this is fixed via [this commit](https://github.com/apollographql/apollo-client/pull/2281/commits/7d06fa6fdf909c2a45aef213a14160ae5900b844) and is on npm under `apollo-client@2.0-beta.6`!

Thanks again for the bug report!

[2017-10-11 05:09] #2282 closed

[2017-10-11 05:09] jbaxleyiii commented on #2282
Fixed on https://github.com/apollographql/apollo-client/pull/2281

[2017-10-11 05:17] bennyhobart commented on #2282
thanks so much for the quick response love you guys

[2017-10-11 05:22] jbaxleyiii commented on #2235
Actually it did need it haha. Made it to a peerDep

[2017-10-11 05:31] voodooattack commented on #2050
@jbaxleyiii Sure.

[2017-10-11 05:36] jbaxleyiii commented on #2271
Fixed via https://github.com/apollographql/apollo-client/pull/2281 and going out as `beta.7`. Thanks again for the reproduction! 🎉 couldn't have done it without you!

[2017-10-11 05:36] #2271 closed

[2017-10-11 05:37] dotansimha commented on #2271
Thank you @jbaxleyiii ! :)

[2017-10-11 05:39] jbaxleyiii commented on #2141
@stalniy good news! The ObservableQuery in `2.0` uses a more robust Observable implementation so this is possible via `complete` now! Thanks for the issue!

[2017-10-11 05:39] #2141 closed

[2017-10-11 05:42] stalniy commented on #2141
Cool! Thanks!

[2017-10-11 05:55] jbaxleyiii commented on #2057
@mxstbr renamed with backwards compat [here](https://github.com/apollographql/apollo-client/pull/2281/commits/0a99d01e6f566127f3c76843003f117c6ee811f7)

And you should have commit access now for labels!

[2017-10-11 05:55] #2057 closed

[2017-10-11 05:57] jbaxleyiii commented on #2143
@trevordmiller so the warnings are there as a help to prevent things like one off spelling mistakes where you are trying to update a query but it doesn't exist yet. I think I understand the use case you have though to generically try and refetch a few possible queries even if they haven't been run yet.

I think its probably best to remove the warning since the use case is more important to support

[2017-10-11 06:05] johncrisostomo commented on #2143
The verbatim warning that it throws is:

[code]

I also think that just removing this warning will sort this because everything works fine and it doesn't stop or crash anything, it's just that the yellow warning line stacks up on React Native (iOS simulator). :)

[2017-10-11 06:24] jaydenseric commented on #2247
@jbaxleyiii [here is a gist](https://gist.github.com/jaydenseric/dccd8719ee41741df6d221815a0b0394#gistcomment-2226303), with a few minor simplifications from what we are using in our app.

Happy to talk it though or even screenshare our setup.

[2017-10-11 06:51] jay1337 commented on #2262
@jbaxleyiii I don't have (time to provide) a full sample app but here are some code to make the example in my first message more concrete.

The schema could be:

[code]

The query observed by a React component could be:

[code]

The mutation triggered when the user adds a product to the basket could be:

[code]

Since `weight` is not selected in `basket`, data will be missing to refetch the query

[2017-10-11 07:28] jbaxleyiii commented on #2084
@jmoore315 some updates for this problem!

## Version `1.*`
<img width="130" alt="v1" src="https://user-images.githubusercontent.com/4967600/31424778-279104a4-ae2a-11e7-9c6d-f6a8aa14088f.PNG">

## Version `2.0-beta.6`
<img width="117" alt="v2" src="https://user-images.githubusercontent.com/4967600/31424783-33886d60-ae2a-11e7-8fa2-f091717b6e81.PNG">

That shaves over a full second off the result co

[2017-10-11 07:28] jbaxleyiii commented on #2084
I'm going to mark this as closed for now, but know that post 2.0 I'm going to be taking a hard look at some possible performance gains so this number will hopefully continue to improve

[2017-10-11 07:29] jay1337 commented on #2258
@jbaxleyiii I'm only working with 2.0 beta and it's not fixed...

Sorry I don't have (time to make) a simple reproduction (it would require server and client code). However, it could be an app with a toggle button that display a React component when you press it. The React component is wrapped with a wrong graphql query. The server wait 10s before sending the response. Thus, if you press the butto

[2017-10-11 07:33] jbaxleyiii commented on #2084
for more info on what was changed for these improvements, check out [this commit](https://github.com/apollographql/apollo-client/pull/2281/commits/5c5c24f8665e23157ecbf8847e17cc559da3338f)

[2017-10-11 07:33] #2084 closed

[2017-10-11 07:42] jbaxleyiii commented on #2143
Fixed in what will be `beta-7` https://github.com/apollographql/apollo-client/pull/2281

[2017-10-11 07:42] #2143 closed

[2017-10-11 07:44] jbaxleyiii commented on #2007
hmm, I'm not sure about this. `null` would likely denote that the query had no data (such as when an errors array is returned) versus not existing yet which currently throws.

I'd love to hear some thoughts on this and will add this to the post 2.0 milestone to at least improve the docs on this, or actually make a change

[2017-10-11 07:45] jay1337 commented on #2222
@jbaxleyiii You can access to optimistic from the `Cache` object but not from the `ApolloClient` object.

You can have a look at the `ApolloClient` code : https://github.com/apollographql/apollo-client/blob/master/packages/apollo-client/src/ApolloClient.ts

To get an optimistic response from the `Cache` you have to provide a second argument being `true` to the `readQuery` or `readFragment` functio

[2017-10-11 07:45] jbaxleyiii commented on #2224
@jay1337 @valerybugakov do either of you have a reproduction for this issue?

[2017-10-11 07:46] jbaxleyiii commented on #2238
Moving to apollo-link

[2017-10-11 07:46] #2238 closed

[2017-10-11 07:48] jbaxleyiii commented on #2212
@lordnox can you try with the latest betas?

Also the `Cache` will need a type of the [store now](https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache/src/cache.ts#L8)

[2017-10-11 08:31] joarwilk commented on #2256
@jbaxleyiii I can't set up a repro case right now, sorry. For now I get around it by modifying the source in node modules directly via a small hook to remove the if statement.

Is there any information I can extract from the cache / network when this happens that would help?

[2017-10-11 08:50] seeden commented on #2266
@jbaxleyiii  it is not fixed in react-apollo 2.0. I reported same issue https://github.com/apollographql/react-apollo/issues/1192

[2017-10-11 08:52] lucfranken commented on #899
@jbaxleyiii Is there any vision from the Apollo team on how to approach this?

[2017-10-11 09:23] jay1337 commented on #2224
@jbaxleyiii I think the issue is clear enough, no ?

This function expect a `__typename` : https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache-inmemory/src/fragmentMatcher.ts#L28-L86

It is called at root level here : https://github.com/apollographql/apollo-client/blob/master/packages/graphql-anywhere/src/graphql.ts#L149

But the function that add `__typename` does not

[2017-10-11 09:41] Gabriel-AL commented on #2277
Hi back, and sorry for my answer's delay !

While trying to create a reproduction, I discovered that I did not have the latest version of apollo-client. Correcting it corrected the above error !

But I have a new problem now, and I don't get the cause.
- I have first set my server to return a response, and console.log the request. In Firefox, I can see that the client sent a POST request with para

[2017-10-11 09:41] Gabriel-AL commented on #2277
Hi back, and sorry for my answer's delay !

While trying to create a reproduction, I discovered that I did not have the latest version of apollo-client. Correcting it corrected the above error !

But I have a new problem now, and I don't get the cause.
- I have first set my server to return a response, and console.log the request. In Firefox, I can see that the client sent a POST request with para

[2017-10-11 11:21] makamekm opened #2285 "New variables are not used after refetch(newVars)"
Hello! I don't know how to make it better. Please help.
I use the function:

[code]

But I see in Network two queries and nothing happens.
The first one is right, but the second is the default data (like `variables: { company: props.match.params.companyId, filter: {}, order: [], limit: 10, offset: 0 }`). Why?

[code]

[2017-10-11 11:52] makamekm commented on #2285
But if I call `console.log(await this.props.refetch(variables));` this is what i need, but I want to see it in `props`.

[code]

[2017-10-11 12:04] aortbals commented on #2266
@jbaxleyiii I'm using `react-apollo` `2.0.0-beta.0`. Personally, I've seen this issue only on the 2.x/beta series of releases.

[2017-10-11 13:12] PtwHub commented on #2279
Thanks, got it. Now, I have the apollo-client and apollo-link directly from the #latest repo, but I can't seem to find a way to get the apollo-link-http "latest" in the same manner. What's the scoop here?

"dependencies": {
    "apollo-cache-inmemory": "^0.1.0-0",
    "apollo-client": "git+https://github.com/apollographql/apollo-client.git#latest",
    "apollo-link": "git+https://github.com/apollo

[2017-10-11 13:26] Artem-Schander commented on #2167
Thanks to both of you, but update the apollo-client to v2 is in my case not an option. I'm using vue-apollo so the dependency is ^1.0

[2017-10-11 14:21] seeden commented on #2266
Maybe it is related to https://github.com/apollographql/apollo-client/issues/2285 as well

[2017-10-11 14:22] jbaxleyiii commented on #2285
@makamekm what version of apollo client and react-apollo are you using?

[2017-10-11 14:24] jbaxleyiii commented on #2266
@seeden would you be able to help me with a small reproduction using the reproduction template? I included a [new test](https://github.com/apollographql/react-apollo/blob/apollo-client-2.0/test/react-web/client/graphql/queries/observableQuery.test.tsx#L472) in the 2.0 of react-apollo specifically for this last week but it looks like I'm missing how its being run in your (and others) app to fix the

[2017-10-11 14:25] jbaxleyiii commented on #2266
@aortbals @seeden a few more questions:

- does this only happen when the watched component is unmounted then remounted (i.e page navigation)?
- does this happen when calling refetch manually?

[2017-10-11 14:31] seeden commented on #2266
@jbaxleyiii no my component is mounted (I checked it).  graphql decorator just get a new variable. ( I am switching between users profiles = I am not the same route)
[code]

[2017-10-11 14:31] jbaxleyiii commented on #2266
I may have been able to create a reproduction. Still investigating. This is my top priority today so expect a fix soon!

[2017-10-11 14:36] savovs commented on #1496
Is it a idea to catch user-specific errors like "wrong email or password", using [apollo-errors](https://github.com/thebigredgeek/apollo-errors)? I'm trying to figure out how to update the store on a catch.

[2017-10-11 14:46] jbaxleyiii commented on #2266
Live action play by play:

1. [Original working code with some of the 2.0 betas](https://codesandbox.io/s/jvlrl98xw3)
2. [Now broken version of the app with the latest](https://codesandbox.io/s/52rk91om8p)
3. Failing test written in react-apollo
4. Currently working on failing test in apollo-client

[2017-10-11 15:06] jmoore315 commented on #2084
Cool - thanks James!

On Oct 11, 2017 12:33 AM, "James Baxley" <notifications@github.com> wrote:

Closed #2084 <https://github.com/apollographql/apollo-client/issues/2084>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/apollographql/apollo-client/issues/2084#event-1287547528>,
or mute the thread
<https://github.com/notific

[2017-10-11 15:10] purplecones commented on #2156
@elie222 did you resolve this issue? I am having a hard time using Apollo 2.0 with meteor as well. @jbaxleyiii the guide doesn't specifically show a Meteor app that uses `meteorClientConfig()`.

[2017-10-11 15:11] bgentry opened #2286 "fetchMore leaks watched queries"
I'm using `fetchMore` on an `ObservableQuery` that I'm already subscribed to. I'm not starting any new watchQueries. However, the Apollo Chrome inspector shows that each time I use `fetchMore` to fetch another page of results, a new "watched query" appears in the list. These remain even after I unsubscribe from my original subscription. Is this expected? Is there something else I need to do to cle

[2017-10-11 15:13] purplecones commented on #2156
@giautm Would you be able to provide a more complete file where you use `meteorClientConfig` and `SetContextLink`.

[2017-10-11 15:59] jbaxleyiii commented on #2266
Thanks everyone for the issue report and help! I've fixed the bug [here](https://github.com/apollographql/apollo-client/commit/c9c642d785f0b7b83e82402a537dbb2498f25d0e), verified it in react-apollo and in a sample app. Working on a new release now.

Heads up that we are in the RC mode so you will need to switch from `@beta` for apollo-client and apollo-cache-inmemory to `@next`.

React Apollo 2.0

[2017-10-11 16:05] makamekm commented on #2285
"apollo-client": "1.9.3",
"react-apollo": "1.4.16"

[2017-10-11 16:09] jbaxleyiii commented on #2266
[Working version of the app with the new RC](https://codesandbox.io/s/9o8p6z1oo4)

[2017-10-11 16:10] purplecones commented on #2156
I have the following on the client and it doesn't seem to be sending the headers down to the server. The context on the resolvers is empty.

[code]

[2017-10-11 16:29] trevordmiller commented on #2143
@jbaxleyiii Thank you so much!

[2017-10-11 16:43] hlehmann commented on #2266
It works well for me. Thx !

[2017-10-11 16:47] purplecones commented on #2156
Got the headers to pass in like so
[code]

At this point, I can use the `userId` and `loginToken` from the resolver `context` to verify if user is logged in before returning any data. Is this the recommended approach with Apollo Client 2.0 since https://github.com/apollographql/meteor-integration doesn't seem to work well with the new client yet?

[2017-10-11 16:47] lukecwilliams commented on #2182
@jbaxleyiii We're actually really new here and just migrating over from Relay Modern - we'll take a look though.

[2017-10-11 16:56] jbaxleyiii commented on #2256
hmm, maybe if you can send over the queries + variables (or obfuscated), how long the typically take, the order they are fired in, and which one hangs? That way I could write a test case for it?

[2017-10-11 16:58] jbaxleyiii commented on #2224
@jay1337 I'm more interested in how you are getting errors in your app for this?

[2017-10-11 17:06] corvana-nbaker commented on #2275
I'll try to work on that later this week. We're in startup-mode, aka Crazy busy

[2017-10-11 17:56] purplecones commented on #2156
If anyone else comes across this, this is how I had to configure the apollo client and server to get this to work:

[code]

[code]
The `meteor/apollo` package looks for a header named `meteor-login-token` and uses it attach a user object to the context.

[2017-10-11 18:56] Esemesek commented on #1292
For anybody who still struggles with this issue - just use `Agent`. Alternatively you might just ignore cert with option `rejectUnauthorized: false` in `Agent`.

[code]

[2017-10-11 19:28] serle commented on #2246
@jbaxleyiii thx will do

[2017-10-11 19:39] SkReD commented on #2273
@jbaxleyiii
From the upgrade guide to the 2.0 version:

Doesn't this mean that apollo become the state container for all the data in application and not only for graphql data? If so, than this is what redux do and it is good at it, with all the plugins and stuff, like time traveling, around it and the concept itself.

So why not just go in other direction and provide the ability to run requests th

[2017-10-11 19:42] pissarro commented on #2224
Apollo Client CCTV app stopped working after the IOS11 download.
Anyone have a recommendation of a compatible app or solution?

[2017-10-11 20:07] n1ru4l commented on #2273
@SkReD AFAIK the removal redux store move is related to performance and pluggability. Not everybody is using redux. There are users out there that use mobx or vue or ember or <insert-framework-here>. It is now possible to replace the cache with an implementation that fits your needs. Related: https://github.com/apollographql/apollo-client/issues/1432

[2017-10-11 20:11] aortbals commented on #2266
@jbaxleyiii it looks like a query like this is fixed:

[code]

However, when you use the variable nested, not at the root, it doesn't select the correct set of cached `items` out of the cache (I can see that multiple sets of `posts` are cached like `posts({"page":1})`, `posts({"page":2})` inside of a given user, but I'm seeing the same behavior as before with the wrong inner list being returned to

[2017-10-11 20:39] gilesbradshaw commented on #2055
@jbaxleyiii this is just extracted from my code but I hope it indicates what I mean..

in schema I have a typ test:

[code]

and my query has a query called test
[code]
my resolver returns test and also increments it and publishes the change..

[code]

I have a testChanged subscription:
[code]

my subscription does
[code]

So if I use a client to query the above with http and subscribe to it with

[2017-10-11 20:39] Ayc0 opened #2287 "Export DocumentNode Type"
Currently, if you want to you flow in react with apollo, you have to use the type `DocumentNode`. But this type is only available in the `graphql` package. So the issue is that the only variable that is imported from `graphql` in the the `DocumentNode` type, and so the graphql package is just imported for one optional var and we have to ensure that the version of `graphql` is the same that the one

[2017-10-11 21:21] peggyrayzis opened #2288 "Consistency across packages with named exports"
Across our packages, especially in Apollo Link, we should be more consistent with suggesting to use named vs. default exports.

I ran into a issue today where `ApolloLink.from([])` was causing an error because I was using the default vs. the named `ApolloLink` export. Some of our links vary too (HttpLink uses a named export, WSLink uses the default).

@jbaxleyiii and I discussed earlier that we sh

[2017-10-11 22:20] MiguelMadero commented on #585
Now that we have a way to share parts of the schema, maybe there is an option to share the subsets that contains scalar types so we can get the additional information needed client-side to support them.

[2017-10-11 22:25] simonhaenisch commented on #872
I have a case in Angular with a query `const queryUser = gql`` `

[code]

Where I would want to do this in my provider:

[code]

That would query the logged in user if no `id` is passed or a user by id if it is passed.

I read that queries should be static, so what would be better: this or doing template string interpolation to include the same fragment in two separate queries?

[2017-10-12 00:32] eugene1g commented on #2246
Thanks: confirming @jbaxleyiii findings & the fix for this issue.

[2017-10-12 03:58] mgwidmann commented on #2255
can you maybe explain more what you mean by "you can actually use a subscription directly with graphql"? I tried doing `withApollo(MyComponent)` and `this.props.client` doesnt have anything on it to subscribe with...

[2017-10-12 05:04] mgwidmann commented on #2255
I figured out what he meant here...

[code]

[2017-10-12 05:47] katopz commented on #2212
In my case

[code]

[code]

[code]

[2017-10-12 06:54] janaleible commented on #2007
There could still be a clear distinction between `null` and `{"data": []}`, with the latter indicating no data (optianlly with an errors property, just like a real query), the former indicating that the query has not yet been executed.

[2017-10-12 08:29] Rusfighter commented on #1409
Hey folks,

I am currently developing a chat part in ours react native like whatsapp. Currently, I am focusing on the offline part of the application. When the user resubscribes, all the events that the user missed are pushed through the subscriptions (websocket). This cause a lot of subscribeToMore.updateQuery  calls in a very short period of time. The updateQuery method is not a heavy operation,

[2017-10-12 08:30] jay1337 commented on #2224
@jbaxleyiii Try running this code in any app with `apolloClient` being created with `addTypename` activated:

[code]

You should get theses warnings:

[code]

It seems to raise warnings on previously cached queries. Maybe the problem is more complicated that what I thought...

[2017-10-12 08:34] Rusfighter opened #2290 "Many sequential subscription events cause long JS block"
Hey folks,

I am currently developing a chat part in ours react native like whatsapp. Currently, I am focusing on the offline part of the application. When the user resubscribes, all the events that the user missed are pushed through the subscriptions (websocket). This cause a lot of subscribeToMore.updateQuery  calls in a very short period of time. The updateQuery method is not a heavy operation,

[2017-10-12 09:54] jay1337 commented on #2262
@jbaxleyiii I updated to:

[code]

And now if data is missing, the partial data are passed to the wrapped component anyway !
So I can get `!this.props.data.error && !this.props.data.loading && this.props.myRequiredQueryField === undefined` !

[2017-10-12 11:38] serle commented on #2246
Upgraded to beta.5 but it is still not working. This is my initialization code

`const fragment_matcher = new IntrospectionFragmentMatcher({..}
const cache_config = { addTypename: true, fragmentMatcher: fragment_matcher }
const cache = new InMemoryCache(cache_config)
const link = new HttpLink({ uri: 'http://localhost:4000' })
const client = new ApolloClient({ link: link, cache: cache})`

This work

[2017-10-12 13:18] PtwHub opened #2291 "Apollo-client 2, graphql body content contains empty object, causes server parser error."
Hi,

I'm using the newest packages (I think, see below). When I send of this query:
`const channelsListQuery = gql`
{
  hero {
    name
    friends {
      id
      name
    }
  }
}
`;`

I get a POST body like this, which causes my server to "internal server error status 500".

`{"operationName":null,"variables":{},"query":"{\n  hero {\n    name\n    friends {\n      id\n      name\n}\n}\n}\n"}`