[2017-10-12 13:50] jbaxleyiii commented on #2291
@PtwHub that sounds like the variables aren't being stringified correctly for you? Can you create a reproduction for me to take a look at?

[2017-10-12 13:54] seeden commented on #2266
@jbaxleyiii can you reopen this issue ?

[2017-10-12 15:08] PtwHub commented on #2291
Thanks. I could pack the client up for you, but the server is already available [here](https://github.com/JacekKosciesza/StarWars) and then all I used to narrow down the problem the  apollo-client tutorial ["graphql-tutorial-t1-end"](https://dev-blog.apollodata.com/full-stack-react-graphql-tutorial-582ac8d24e3b), ported it to the current 2.0 drop (dependencies above) and then pointed it at a non-J

[2017-10-12 20:33] jbaxleyiii commented on #2224
awesome! I'll take a look! Thanks for the info!

[2017-10-12 20:38] niieani opened #2293 "Proposal: opening up the cache-inmemory implementation [apollo-client@2.0]"
Hi apollo-client devs! Such an _amazing_ job with the 2.0 release so far, kudos. 💥

We've decided to port our setup over to Apollo 💛, but our needs are such that we want to integrate it with our custom `Observable` cache for storing the normalized objects.

The main problem is the way those normalized objects are currently stored and modified. Our implementation requires us to dispatch events when

[2017-10-12 21:25] dotansimha commented on #2247
@jaydenseric cool solution!
@jbaxleyiii I think this issue isn't closed yet. I am using the latest versions of all packages, and still getting this error when using `IntrospectionFragmentMatcher`

[2017-10-12 23:20] jbaxleyiii commented on #2293
I'm all for this! The external API provided by Apollo Cache should be able to stay the same and the internals change as needed! Let's try it out!

[2017-10-13 05:58] Dishant15 commented on #1913
I am having same problem. I am parsing long list of data and at the end i have to test for __typename and remove it manually every time. That is huge waste of time... any solutions to remove this from query ?

[2017-10-13 06:32] alexthewilde opened #2294 "loading flag should be true on initial network request of cache-first policy"
**Intended outcome:**
Using the default 'cache-first' fetchPolicy, the client will need to load data from the network since the cache is empty initially. In order to display loading indicators, I need to be able to distinguish a network response from a cache response via the `loading` flag.

**Actual outcome:**
All responses using the `cache-first` policy have `loading` set to false. Hence no dist

[2017-10-13 07:44] mhlavacka commented on #1913
You can remove it by adding `addTypename: false` in your Apolloclient init:
[code]

[2017-10-13 12:13] oliverjam commented on #51
Can we re-open this? The problem still exists—I just hit it today.

Querying event data means that for some languages e.g. a town might not exist and returns null.

[code]
We get this response:
[code]
Apollo doesn't pass any of the partial data it gets right now, which is frustrating.

[2017-10-13 14:59] edelreal commented on #621
I'm curious about how the evict() method will work once implemented.

Currently, https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache-inmemory/src/inMemoryCache.ts#L114 has:

[code]

[2017-10-13 21:01] jbaxleyiii commented on #2288
Done via https://github.com/apollographql/apollo-client/pull/2281 and the links PR 🌮

[2017-10-13 21:01] #2288 closed

[2017-10-13 21:06] jbaxleyiii commented on #2291
@PtwHub we are stringifying the operation to send to the server [here](https://github.com/apollographql/apollo-link/blob/master/packages/apollo-link-http/src/httpLink.ts#L117-L126). I'm not sure why your server would be parsing it like that?

[2017-10-13 21:26] jbaxleyiii commented on #2224
@jay1337 The example code you have here is missing the id key for [reading](http://dev.apollodata.com/core/read-and-write.html#readfragment) and [writing](http://dev.apollodata.com/core/read-and-write.html#writequery-and-writefragment)

[2017-10-13 21:44] jbaxleyiii commented on #2051
@mathiasjakobsen this appears to be working correctly in the 2.0? Can you verify?

[2017-10-13 21:47] jbaxleyiii commented on #2051
I wrote a test for this issue which is passing on the 2.0 branch. Am I missing something of how you are using readQuery? [test](https://github.com/apollographql/apollo-client/pull/2281/commits/0cce1f46d3d60edbbfa99a0bad939f49c393e7fb)

[2017-10-14 04:40] abubakkarbutt opened #2295 "Unhandled GraphQL subscription error ObservableQuery.js 184"
**Error Message:**
Unhandled GraphQL subscription error ObservableQuery.js:184
[ 0: {message: "Cannot read property 'then' of undefined"} ]
**Version**
- apollo-client@1.9.3
- apollo-angular@0.13.2
- graphql-subscriptions@0.5.4
- graphql-redis-subscriptions@1.3.1
- subscriptions-transport-ws@0.8.2

[2017-10-14 05:16] abubakkarbutt commented on #2295
I can handle the error by adding onError to subscribeToMore but don't know what is causing this error

[2017-10-14 12:13] gajus opened #2300 "apollo-cache-inmemory v0.1.0-0 defines a non-existent dependency graphql-anywhere ^4.0.0"

[2017-10-14 12:15] gajus commented on #2300
Already fixed in beta.

[2017-10-14 12:15] #2300 closed

[2017-10-14 16:33] jay1337 commented on #2224
You are right, the following code runs without warnings;

[code]

Maybe you could improve the warning but I close this issue.

[2017-10-14 16:33] #2224 closed

[2017-10-15 16:56] Dygerati opened #2302 "Memory Leak caused by MutationStore?"
**Intended outcome:**
My app requires a lot of mutations, making small updates to the DB continuously. Just a simple mutation:

[code]

**Actual outcome:**
Everything functions fine, but the memory heap fills up with `mutationString`'s that never seem to be collected.

**How to reproduce the issue:**
Simply run a much of simple mutations and check the heap. Here's a screenshop of Chrome Dev Tools:

[2017-10-15 17:15] gajus opened #2303 "IntrospectionFragmentMatcher does not seem to function in v2"
Initialization of the client:

[code]

Request to retrieve a resource:

[code]

**Intended outcome:**

`result.data.getArticleById` is expected to contain the data described in the API response.

**Actual outcome:**

`result` is:

[code]

Meanwhile, the actual API response is:

[code]

**How to reproduce the issue:**

N/A

**Version**

- "apollo-cache-inmemory": "^0.2.0-beta.4",
- "apollo-client":

[2017-10-15 21:11] kamilkisiela commented on #2293
@niieani @jbaxleyiii If we would abstract data's setter and getter it would be super easy to use normalized cache in `@ngrx/store` :ng: :+1: .
I forked Apollo's `InMemoryCache` few days ago and created a working prototype based on it.

Would be awesome to make it till the official release :heart:

[2017-10-16 01:06] jbaxleyiii commented on #2303
@gajus change

[code]

to

[code]

You don't need to pass the `.match`. Also the `inmemory-cache` now has an rc too!

[2017-10-16 01:07] jbaxleyiii commented on #2302
@Dygerati interesting! Would you be able to make a small reproduction of this using the apollo-error-template and maybe launchpad.graphql.com for a server?

[2017-10-16 01:15] jbaxleyiii commented on #2198
@dyst5422 do you have any interesting in adding this?

[2017-10-16 07:55] PtwHub commented on #2291
Yes, I saw. Yes, our server can handle it (after patch) but it still boils down to a weird/confusing discrepancy in the http-body format: using two different JSON representations in one message? Why should the variables be the only thing that is not quoted in the JSON representation? As above, I haven't found an explanation in the spec for this... Thanks for the input -- and for the great apollo-c

[2017-10-16 09:59] gajus commented on #2303
I did try that at first ... it gave an error.

[2017-10-16 10:02] gajus commented on #2303
It works now.

[2017-10-16 10:02] #2303 closed

[2017-10-16 12:57] ghostganz opened #2307 "Stale-but closes issues with no way for users to re-open them"
I keep seeing important issues being closed by "stale" just because no one has commented in them for a few days.

The message says "_If you belive this issue is still a problem or should be reopened, please reopen it!_", but **there is no way for me to re-open** them, is there?

For example https://github.com/apollographql/apollo-client/issues/51 that has 14 thumbs-down on the bot's closing messag

[2017-10-16 15:32] Cito commented on #2007
I agree that something needs to be done here. The example code in the docs at http://dev.apollodata.com/react/cache-updates.html is problematic because it does not catch the error in the case when the updated query has not yet been executed. We would need to add a catch clause to every such update which results in too much boilerplate for writing update code.

[2017-10-16 16:51] kamilkisiela opened #2308 "InMemoryCache.readQuery returns the result directly"
Here's the line that is responsible for that:
https://github.com/apollographql/apollo-client/blob/91f5116ce830151e6bedf92e10550c607984e11c/packages/apollo-cache-inmemory/src/readFromStore.ts#L52-L55

**Intended outcome:**
`InMemoryCache.readQuery()` should return `Cache.DiffResult`

**Actual outcome:**
It returns query's results directly instead of keeping it under `result` property.

**How to rep

[2017-10-16 17:36] ignacio-chiazzo commented on #1253
@jameswyse I have the same issue and I wonder if you had found any solution to it? I want to avoid adding another mutation type to my server.

My issue is that I don't know exactly the number of mutations it'll execute. [See this](https://github.com/apollographql/react-apollo/issues/1222)

[2017-10-16 19:47] dyst5422 commented on #2198
I'll take a stab this week after I fix this one bug....

[2017-10-16 20:38] Dygerati commented on #2302
Sure! Although I'm not really familiar with the react toolset, so I just mocked up a really simple vanilla JS example here:
[https://github.com/Dygerati/apollo-memory-leak](https://github.com/Dygerati/apollo-memory-leak)

I'm using the pad here:
[https://launchpad.graphql.com/1xj5jr959](https://launchpad.graphql.com/1xj5jr959)

My github example will automatically create a heap snapshot in the dir

[2017-10-16 21:46] jamesreggio opened #2309 "Enable cache implementations to modify document before transmission to links"
Per a Slack conversation with @jbaxleyiii.

As cache implementations become more sophisticated, it will be helpful to allow end users to signal cache-specific behaviors via directives in the GraphQL document. (A simple, popular example would be a `@ttl` directive to set a cache TTL on a specific field.) These directives are meant exclusively for consumption by the client, and need to be stripped b

[2017-10-16 21:57] migueloller commented on #2205
Cant somebody (@jbaxleyiii?) look at this?

[2017-10-16 22:52] riking opened #2310 "generateErrorMessage creates giant error messages (86KB)"
**Intended outcome:**

Error messages reported in the console are concise and comprehensible.

**Actual outcome:**

Simply joining error messages of an array together when a large array of identical errors is generated results in enormous error messages.

Error with HTML response (86KB): http://putco.de/NjkyMw.javascript

![image](https://pbs.twimg.com/media/DL5DcyuXkAAOBtc.jpg:large)

https://twi

[2017-10-17 02:02] mech commented on #2168
Following the upgrade guide, I am getting: `'apollo-link-http' does not contain an export named 'createHttpLink'`

[2017-10-17 07:50] chris08002 commented on #2286
Same issue here with

        "apollo-angular": "0.13.0",
        "apollo-client": "^1.7.0",

[2017-10-17 07:53] miquelferrerllompart commented on #2286
I have open issue with the same problem.
https://github.com/apollographql/apollo-angular/issues/376

[2017-10-17 08:30] jbaxleyiii opened #2319 "Throw if missing constructor requirements"
Throw / warn if missing items from the constructor that are required (i.e. links / cache)

[2017-10-17 08:33] jbaxleyiii commented on #2307
@ghostganz I'm sorry that its causing frustration for you! I'd like to open up the ability for users to add labels which will prevent stale bot from closing issues. I'm surprised you can't reopen them as well? I'll look into that!

[2017-10-17 08:33] #2307 closed

[2017-10-17 08:34] jbaxleyiii commented on #2302
Awesome! I'll take a look at it this week!

[2017-10-17 08:36] jbaxleyiii commented on #2308
@kamilkisiela hmm I think the safest solution would be to change the type signature of readQuery and return the results directly as to not break a ton of application code. Do you have a usecase for having the `DiffResult` or were the typings just wrong messing with your application?

[2017-10-17 08:41] kamilkisiela commented on #2308
@jbaxleyiii I updated one of available examples to new `apollo-angular` API.

First, TypeScript threw an error about a mismatch in typing between ApolloClient and what my app expected.
Second, after fixing it my app broke.

I'll create a PR to make `readQuery` returns just results.

[2017-10-17 08:44] jbaxleyiii commented on #2308
@kamilkisiela awesome thank you!

[2017-10-17 09:36] CallumBrankin commented on #2080
Same issue

[2017-10-17 19:27] tonyxiao commented on #6
@stubailo I remember you wrote a post (maybe on Medium?) about choosing TypeScript vs. Flow for Apollo. I can't seem to find a link to it anymore. Do you remember where it is?

[2017-10-18 06:19] webmobiles commented on #1692
I've found this solution on the web for global handling, but looks very different from solution here:

https://dev.to/andre/react-apollo-an-approach-to-handle-errors-globally-jg

in my case I have:

[code]
@jazzdragon your solution is better to handle errors codes ?

I've seen too this package:

https://github.com/thebigredgeek/apollo-errors

but i don't think can manage errors when there is no co

[2017-10-18 06:31] n1ru4l commented on #1692
@webmobiles apollo-errors ist a package for apollo-server

[2017-10-18 06:33] webmobiles commented on #1692
yes I know , with that all errors can be transformed in just errors response like data, and don't have throws erros in client, but the problems keeps to get the error when the server is down.

[2017-10-18 07:18] dacz commented on #2168
@mech This is moving target :) See https://github.com/apollographql/apollo-link/tree/master/packages/apollo-link-http ... this should work `import HttpLink from "apollo-link-http";` but it doesn't seem so, as one can see in the code.

Yesterday I spent an hour debugging `InMemoryCache` after upgrading from beta to rc and removed default export in favor of named export - in release notes (buried in

[2017-10-18 07:26] mech commented on #2168
Sorry my fault, should have try the newer RC instead of Beta.

[2017-10-18 08:19] serle commented on #2052
Could we look holistically at a typical bulk update cycle. For me is should start with a filter/map/reduce operation against the in-memory-cache. If `Id` and `__typename` are preserved (by this operation) then it would be far easier to have some kind of bulk merge operations that I can perform against the store as opposed to a graphql writeFragment based approach.

The in-memory-store should also

[2017-10-18 12:04] TimoRuetten commented on #956
Is there any solution yet ? Maybe a basic setup of the network layer to prevent this issue ?

[2017-10-18 13:16] webmobiles opened #2328 "throw error in graphl(mutation)"
I have the following code,  i've tried to insert ".catch" in the first line, but i'm gettint this error:

[code]

anyone can help me to understand ?

[code]

[2017-10-18 14:53] webmobiles commented on #2328
the right way is in handleSubmit of component:
[code]

[2017-10-18 14:53] #2328 closed

[2017-10-18 15:38] MattCain opened #2329 "Subscription results have extra(?) data key in 2.0.0-rc3"
After upgrading to `apollo-client@2.0.0-rc.3` the shape of the `data` prop my React component is receiving has changed.

I'm doing this:

[code]

**Intended outcome:**

Previously inside `MyComponent` I could access the `bid` value with `this.props.data.Price.bid`.

**Actual outcome:**

Now it's `this.props.data.data.Price.bid`. Note the extra `data`.

This is the case using both `react-apollo@1.4

[2017-10-18 16:07] webmobiles commented on #1692
@jazzdragon  i have error :  'each' is not defined  no-undef , from where 'each' comes ?

[2017-10-18 18:41] daniman opened #2330 "Invalid query doesn't seem to log to console in the 2.0 release client"
I've noticed through using the 2.0 release client that I no longer get console errors when I write an invalid query. My query just seems to hang, but I don't get any actual errors thrown telling me that it's an invalid query.

[2017-10-18 21:15] seeden opened #2333 "[2.0] old data after mutation | bug"
Hi, I have next query

[code]

and next mutation

[code]

as you can see after success mutation I will get new cover photo. So far so good. Everything is working fine with apolo 1.x. In apollo 2 I will get same cached cover photo after mutation. I checked response from server. There are valid new fields. But apollo is using old cached data.

I am using latest versions of all libraries:
[code]

I t

[2017-10-19 09:57] bkniffler commented on #2333
This issue has been bothering me for quite some time too. Only came up with v2

[2017-10-19 13:32] xavimb opened #2338 "optimisticResponse is very slow"
After upgrading to 2.0.0-beta.3 in our React Native app, optimistic responses are very slow and make the app almost unusable.

**Intended outcome:**

After making a mutation with `optimisticResponse`, the `update` function is called immediately with the data from the optimistic response object.

**Actual outcome:**

After making a mutation with `optimisticResponse`, the `update` function takes a l

[2017-10-19 14:40] jay1337 opened #2340 "query remains watched in cache after apolloClient.query(...)"
After calling `apolloClient.query(...)` the query remains watched in `InMemoryCache`. It leads to a major performance issue since writing to the cache (and so broadcasting watches) takes more and more time after each `apolloClient.query(...)` call.

To reproduce this you can just call many times `apolloClient.query(...)` with any query and look at `this.watches.length` in `InMemoryCache` object.

[2017-10-19 18:06] #2308 closed

[2017-10-19 18:18] #2319 closed

[2017-10-19 19:42] playerx commented on #2273
cache implementation abstraction is good, but not having redux implementation out of the box is bad, because right now I'm using redux for time travel, epics and I don't want to just drop it and replace with graphql client, because building chains with epics is really cool stuff. So I will not be able to move on redux until there will be package for Apollo client 2.0, so will be other developers w

[2017-10-19 20:00] kamilkisiela commented on #2293
@niieani any progress on that?

[2017-10-19 20:39] #2340 closed

[2017-10-19 20:40] jbaxleyiii commented on #2340
@jay1337 oh dang! Thank you so much for the info! It will be fixed with the next release!

[2017-10-19 21:09] jay1337 commented on #2340
@jbaxleyiii If you like this one, maybe you will like this other issue : https://github.com/apollographql/react-apollo/issues/1258

And don't forget that there are still 4 useless broadcastings for each mutation with optimistic response: https://github.com/apollographql/apollo-client/issues/2221

[2017-10-19 21:44] jbaxleyiii commented on #2333
@seeden what do you mean by `fetchPolicy: 'network-only' is not working`?

And are you saying the watchQuery is kept alive and rerendered with old data?

[2017-10-19 21:44] jbaxleyiii commented on #2333
@bkniffler do you have any more info

[2017-10-19 21:47] seeden commented on #2333
I have tried to turn off caching with network-only but I received cached data

[2017-10-19 21:51] jbaxleyiii commented on #2333
@seeden I tried to recreate your issue without any luck? https://github.com/apollographql/apollo-client/pull/2342

[2017-10-19 21:51] jbaxleyiii commented on #2333
Can you create a reproduction for me?

[2017-10-19 21:54] seeden commented on #2333
I am using @graphql decorator from react-apollo and apollo-link-batch-http. I will try to create reproduction tomorrow because it is too late here :)

[2017-10-19 22:02] jbaxleyiii commented on #2266
@seeden @aortbals I also added a test for the nested path here https://github.com/apollographql/apollo-client/pull/2342/commits/a0a6462ec2b31a87aefd7ae4dcd51830506731b8

[2017-10-19 22:03] jbaxleyiii commented on #2333
@seeden no worries! Thanks so much! I'll cut a new RC too just to see if it was fixed with some new changes

[2017-10-19 22:16] tomitrescak opened #2343 "Apollo 2.0: subscribe disappeared, subscribeToMore ... what does it do?"
Hi, what is the substitution to subscribe ?
There is now subscribe toMore but that is related to subscriptions rather then to watched queries

How can I now observe a query?

Thanks

**Version**
- apollo-client@2.0-rc-2

[2017-10-19 22:23] dobesv commented on #1830
I believe I am having a similar issue and may have a good idea of the cause.

What I am seeing is that if you use `writeFragment` or `writeQuery` to update the store, and some components have a query that is affected by the store, BUT the data you have written is missing some field(s) needed to satisfy those components' query, they end up with no data and no network activity.

There is logic that

[2017-10-19 22:31] bkniffler commented on #2333
I'm having issues with caching and I've not yet been able to reproduce. But the issue comes up when mutating via `@graphql` decorator. Possibly also when using the client directly, but I'm not doing this as much as the decorator so the issue didn't come up yet.

Most of the time, mutations will automatically update the cache and the changes are visible on my UI.

Last time I had the issues (today)

[2017-10-19 22:34] jbaxleyiii commented on #2338
@xavimb a couple questions for you!

1. can you verify update is being run for the optimistic response AND the result from the server?
2. how long does it take for your server response to come back?
3. Do you have any kind of reproduction I could take a look at?

[2017-10-19 22:38] jbaxleyiii commented on #2343
@tomitrescak I'm confused? No subscribe API has been changed?

[2017-10-19 22:56] jbaxleyiii commented on #2329
@MattCain ah! Yes apollo-link returns the full execution result! Fixed via https://github.com/apollographql/apollo-client/pull/2342/commits/f8990960468a13e87e514c1a2b985e03069fa9ab

[2017-10-19 22:56] #2329 closed

[2017-10-19 23:39] jay1337 opened #2344 "new data prop sub content with same content"
I have a React component wrapped with a query. When a mutation result changes the query result, the component is updated but with a totally new `props.data`, even if some of the sub content was not changed by the mutation. It makes children components that compare (with `===`) previous and new sub content rerender although they should not.

The problem comes from here: https://github.com/apollogra

[2017-10-19 23:44] jay1337 commented on #2338
@xavimb Same observation on my side. I bet you have a lot or big queries being watched, or that were watched or fetched in the past. Or you may have a lot of React components that rerender although they should not.

Cf :
https://github.com/apollographql/apollo-client/issues/2221
https://github.com/apollographql/react-apollo/issues/1258
https://github.com/apollographql/apollo-client/issues/2340
htt

[2017-10-19 23:58] #2309 closed

[2017-10-20 00:00] jbaxleyiii commented on #2344
@jay1337 would you be able to share some sample code for this for me please?

[2017-10-20 00:07] jbaxleyiii commented on #2344
@jay1337 can you also try the newest rc (`rc.4`?)

[2017-10-20 00:08] jbaxleyiii commented on #2338
@jay1337 @xavimb can you also try the newest rc (`rc.4`?)

[2017-10-20 00:09] jbaxleyiii commented on #2333
@seeden @bkniffler  can you try the newest rc (`rc.4`?)

[2017-10-20 00:09] jbaxleyiii commented on #2266
@seeden  can you try the newest rc (`rc.4`?)

[2017-10-20 00:09] jbaxleyiii commented on #2256
@joarwilk can you try the newest rc (`rc.4`?)

[2017-10-20 04:38] xavimb commented on #2338
@jbaxleyiii @jay1337 it's fixed in rc.4. Thanks a lot guys!

[2017-10-20 04:38] #2338 closed

[2017-10-20 05:57] ravenscar commented on #899
I'm not sure how many cases it works for, but I think using soft deletes might be a solution for some people.

Certainly performing a mutation and then expecting that to be able to correctly update all active queries is ...ambitious.

Imagine a user:

[code]

and maybe a message

[code]

Then John Doe wants to delete his account so return a mutation with a result e.g.
[code]
Then it's up to compon

[2017-10-20 06:08] jay1337 opened #2350 "Avoid reduce for better perf"
Prefer `array.some()` or `array.every()` instead of `array.reduce()` in order to stop iterating as soon as you know that it's no more useful to iterate.

I've found  it here:

- https://github.com/apollographql/apollo-client/blob/6ba4b3bf06aad67b2edd5a5ce7c23defd1dfa185/packages/apollo-cache-inmemory/src/readFromStore.ts#L284
- https://github.com/apollographql/apollo-client/blob/6ba4b3bf06aad67b2e

[2017-10-20 06:09] jbaxleyiii commented on #2350
@jay1337 would you be open to making these changes? I think it would be a great change!

[2017-10-20 07:29] jay1337 commented on #2350
@jbaxleyiii You can merge this PR : https://github.com/apollographql/apollo-client/pull/2356

[2017-10-20 07:50] finian commented on #1186
The `notifyOnNetworkStatusChange: true` solution is not ideal. If we have a paginated list and try to load more data with `fetchMore`, the `data.loading` will be true and the whole list will be in loading state (Expect `fetchMore` not to trigger `data.loading`)

[2017-10-20 07:53] jay1337 commented on #2344
@jbaxleyiii Issue still there with `rc.4`

[2017-10-20 08:01] bradleyayers commented on #1186
@finian `loading` doesn't imply an initial load, it just implies *some* loading is happening. It sounds like you want to look at the exact `networkStatus` instead — http://dev.apollodata.com/react/api-queries.html#graphql-query-data-networkStatus.

[2017-10-20 08:06] jay1337 commented on #2344
@jbaxleyiii To reproduce I think you can do nearly the following.

[code]

[2017-10-20 08:46] finian commented on #1186
@bradleyayers Thanks. `networkStatus` is exactly what I want.

[2017-10-20 09:26] seeden commented on #2333
I tried latest rc.4 but issue is still there.

[2017-10-20 12:23] jbaxleyiii commented on #2344
@jay1337 I'm confused, isn't that the desired behavior? Of the data changes you want to rerender?

[2017-10-20 12:25] jbaxleyiii commented on #2333
@seeden ah! That may be the case! I'll take a look there!

[2017-10-20 13:15] #2350 closed

[2017-10-20 13:44] bkniffler commented on #2333
same for me, hopefully a fix to react-apollo can resolve the issue..

[2017-10-20 13:55] jbaxleyiii commented on #2333
@bkniffler do you have any example code you can share? I can't seem to reproduce this?

[2017-10-20 13:56] jbaxleyiii commented on #2333
Or more information about how its being used? Are you unmounting the query wrapped component, firing the mutation, then remounting or is this all happening in a single mount?

[2017-10-20 14:11] stubailo commented on #2344
So Apollo Client only returns the same object reference if all of the fields on that object and all of its children are identical.

In this case, `data.user.friend` before the update is `{ id, name }`, and after the update is `{ id, name, age }`. The only way to maintain the same object reference would be to mutate the original result.

There might still be an issue here with a different set of qu

[2017-10-20 14:11] stubailo commented on #2344
(Going to close the issue, let's reopen if we have a confirmed reproduction)

[2017-10-20 14:11] #2344 closed

[2017-10-20 14:15] stubailo commented on #2221
I fixed this in #2358!

[2017-10-20 14:19] #2221 closed

[2017-10-20 14:27] bkniffler commented on #2333
So, I got 2 queries and 1 mutation:
[code]

[code]

When I update an existing item (inside a modal that closes after save, so unmounting), I'm getting the new values returned from the mutation and the list immediately updates accordingly (so far everything good). But when I reopen the item/modal, it has the old values. As soon as the list polling interval kicks in, the modal immediately shows the

[2017-10-20 15:11] jay1337 commented on #2344
@stubailo Your first sentence is true, and also Apollo MUST return the same object reference if all of the fields on that object and all of its children are identical. But this is not the case here. The watched query only asks for `id` and `name`, and since these 2 fields do not change, the "sub object" must be the same.

To maintain the same object reference you don't need to mutate the original

[2017-10-20 16:16] jay1337 opened #2359 "broadcastWatches called 2 times by InMemoryCache when an optimisticResponse is used"
When a mutation happens with an `optimisticResponse` provided, `InMemoryCache`'s function `broadcastWatches` is called 2 times after successfully receiving data from server:

1. When writing the data from the server: https://github.com/apollographql/apollo-client/blob/2cd695fda1085aa957dde1d632bf3b08738b5036/packages/apollo-client/src/core/QueryManager.ts#L201
2. When removing optimistic response

[2017-10-20 17:06] jamesreggio opened #2360 "lastVariables behavior is incomplete"
The introduction of `lastVariables` caused a major referential equality regression.

By requiring `lastVariables` to equal the current `variables` in order to avoid recalculation of the current resultset ([here](https://github.com/apollographql/apollo-client/pull/2281/files#diff-55239150ee8aa0aab3b1143fd04e998bR176)), you're effectively forcing the regeneration of the resultset upon every read for

[2017-10-20 17:17] seeden commented on #2333
I think that this is related to https://github.com/apollographql/react-apollo/issues/1257#issuecomment-338184744 as well.

[2017-10-20 18:54] jay1337 commented on #1622
Hey! This is still an important and open issue!

[2017-10-21 07:43] shipiak commented on #2080
Guys I've spent literaly days fighting  this issue and also errors conected to AsyncIterator interface used in subscriptions.

I was using latest beta versions of apollo libs:
[code]

What helped:
[code]

Important upgrades to make it work in my case:
`"@angular/cli": "^1.4.9"`
`"typescript": "~2.3.3"`

[2017-10-21 07:52] xinshangshangxin commented on #2080
@shipiak
It works for me; thanks!

[2017-10-21 07:54] swennemans commented on #2168
For other impatient people like me, you could try it with:

[code]

Happy coding!

[2017-10-21 17:46] knipferrc opened #2366 "r"
**Intended outcome:**

**Actual outcome:**

**How to reproduce the issue:**

**Version**
- apollo-client@<version number>

[2017-10-21 17:46] #2366 closed

[2017-10-21 17:47] knipferrc commented on #2366
Not sure what happened, this was a complete accident.

[2017-10-22 01:32] hauptrolle opened #2367 "Uncaught TypeError: __webpack_require__.i(...) is not a function"
Hey, I have a little problem getting the apollo client to work properly in my vue app.

My apollo config looks like this: https://gist.github.com/hauptrolle/c0186e9dc6128f233ed572481e5f6f04

This is my query:
https://gist.github.com/hauptrolle/f4e62f8961e2ffb72c8d7559afa097e4

I always get this error :(

`apollo.js?02af:12 Uncaught TypeError: __webpack_require__.i(...) is not a function`

pointing

[2017-10-22 06:20] webmobiles commented on #1419
@credli ,  @maximblack ,  to get props.client  i must to send this "client"

[code]

to my components, something like that ?

[code]

I think to use apollo client to manage millions of records , but i'm not sure if is the right tool, i'll use for small tables, but if i can deactivate the cache until wait version 2, it would be nice so I can  manage cache for small tables , but not for bigtables. A

[2017-10-22 07:24] hauptrolle commented on #2367
If I am using this versions, all works fine:
"apollo-client": "1.4.2",
"subscriptions-transport-ws": "0.7.3",

Does the syntax has changed since some versions?

[2017-10-22 08:43] mitjade opened #2368 "optimisticResponse does not get overridden when result comes back form the server"
**Intended outcome:**
You submit an add mutation with `optimisticResponse` and then when you get the result from the server, it should get replaced with actual data.

**Actual outcome:**
When you get the result from the server, both `optimisticResponse` and result remain in cache.

**How to reproduce the issue:**
You can reproduce this in `apollographql/GitHunt-React` example by adding a comment.

[2017-10-22 17:55] janaleible commented on #2007
Also, it feels wrong to manage control flow through try/catch in this way -- a query that hasn't been executed yet is not necessarily an exception, it may well be a valid use case.
An alternative would be to offer a method returning a boolean indicating whether the query has already been executed that could then be used with an if block.

[2017-10-23 04:20] msmfsd commented on #1622
@jay1337 agreed! apollo please fix loading state updating issues.

[2017-10-23 08:18] sheerun opened #2369 "Is order of calling resolvers deterministic?"
If one doesn't use any promises as resolver implementations, is calling order of them guaranteed deterministic in apollo-client? (it's only obvious for mutations as that's what the spec says).

I need this functionality as I'd like the resolving process to build a promise that resolver all queries in order: i.e. in my case you could think of queries (even nested) as mutations/commands.

[2017-10-23 08:50] sheerun commented on #2369
Also relevant: is order of batched queries guaranteed sequential?

[2017-10-23 10:53] VasiliKubarka opened #2373 "Update data after mutations for queries with different variables"
Hello

I have difficulties with add/delete data after mutation, when data used in different components, that have queries with different variables. What is the best way for data update?

For example:
I have something like this in Component1:
[code]

Component2:
[code]

Component3:
[code]

And I have a mutation to delete User in Component4:
[code]

The problem is that list is updated only for Compo

[2017-10-23 13:04] KillerCodeMonkey commented on #1881
I've got the same error.

1. created a watchQuery with pollInterval
2. if an network error occurs (using https://github.com/mstn/apollo-local-network-interface) i get a hard JS Error
3. The error callback of the subscription is called once

[2017-10-24 04:25] helfer opened #2374 "Context is missing on MutationOptions"
**Intended outcome:**
`MutationOptions` should include `context` and pass it to the link.

**Actual outcome:**
Mutations do not accept context as an argument, only queries do.

**Version**
- apollo-client@next (cfd2561, 2.0-ish)

FWIW, I'm currently using the following link as a workaround at the top of my link stack:

[code]

[2017-10-24 05:18] nyanpasu commented on #2285
I have also encountered similar behaviour.

When I call `this.props.data.refetch()`, without a variables argument, I see a network request for the query and `this.props.data` updating. However, if I call `this.props.data.refetch({ stuff })`, I still see a network request with the updated variables, but the corresponding props does not update. `this.props.data.refetch({ stuff })` does return a Prom

[2017-10-24 10:05] kamilkisiela commented on #2295
@abubakkarbutt Could you try out new version (beta) of `apollo-angular`? I think something in the integration is causing an error, worth to try.

All details here:
https://github.com/apollographql/apollo-angular/pull/377

You can find there Migration Guide since there are some breaking changes but not a lot, should be very easy to move on.

[2017-10-24 11:53] bkniffler commented on #2333
Any news? Can we expect an update to react-apollo? Sorry for pressing this, but its critical. I can't rollback to apollo 1 due to the significant performance improvements.

[2017-10-24 11:55] seeden commented on #2333
Hi @bkniffler. @jbaxleyiii did some updates in https://github.com/apollographql/apollo-client/pull/2375#issue-267903813 but it is not working for me as well. I am waiting too for this fix.

[2017-10-24 13:22] bkniffler commented on #2333
Thanks for pointing me there @seeden, my issue above has been resolved by rc7.

[2017-10-24 16:12] jbaxleyiii commented on #2374
Fixed in the next rc!

Also 👋  ❤️

[2017-10-24 16:12] #2374 closed

[2017-10-24 19:12] seeden commented on #2333
@jbaxleyiii I removed whole node_modules and package-lock as well. I double checked all versions as well but it is not working for me. I tried latest versions as well. I see old data after mutation :(

[code]

I tried to use just react-link-http without dedup and retry as well. But nothing changed.

[2017-10-24 19:14] seeden commented on #2266
I tried 2.0.0 it is not working. :(

[2017-10-25 03:37] tremby opened #2380 "How do I set up InstrospectionFragmentMatcher with Apollo 1.4 (React)?"
My GraphQL endpoint has just had a UnionType added. Apollo gives an error during a query for one such field:

There are then a lot of "missing field" warnings.

I read the documentation linked to, but it appears to be for apollo-client 2 rather than 1, and so when it says "You’ll want to do this in the same file where you initialize the cache for Apollo Client" I say "what cache?"

My Apollo confi

[2017-10-25 03:41] tremby commented on #2380
Alternatively, if upgrading to version 2 is easier, I could do that, if you can point me to a migration guide. (I have some precarious logic updating the cache manually so a major version change did not seem appealing.)

[2017-10-25 08:00] KillerCodeMonkey commented on #1881
@jbaxleyiii seems like this is a general problem with watchQueries.

First the cache is used and then the network request is made. If the network request fails you are not able to catch those errors :(

Any Ideas?

@fischerman do you have a solution?

[2017-10-25 08:45] fischerman commented on #1881
@KillerCodeMonkey I have not found a solution, I don't actively work with Apollo anymore.

I think this issue is still unresolved. @jbaxleyiii Can you reopen it, please?

[2017-10-25 08:51] KillerCodeMonkey commented on #1881
@fischerman thanks for your quick response.

@jbaxleyiii
Yeah i think with this case it makes the apollo-client more or less useless for me, because in many cases i want to use 'cache-and-network' or even a simple 'cache-first' watchQuery. But if i am not able to handle those errors (which happens when the cache value is returned first and the real request data later - that is failing). Those thin

[2017-10-25 09:49] shtse8 commented on #108
I have the same issue.
[code]

[2017-10-25 10:10] mzygmunt commented on #2212
@katopz The same error with version apollo-client 2.0.1 and react-apollo 2.0.0

[2017-10-25 11:41] gijo-varghese opened #2390 "Unable to reuse Fragments"
I have a query like this:
[code]
Since `id` & `message` are used many times, I created a fragment for this:
[code]

And final query as:
[code]
But I'm getting an error:
` "Fragment "message" cannot be spread here as object…ype "LastMessage" can never be of type "Message"."`

What did I do wrong? I thought fragments are somethings that I can reuse! What does this '**on Message**' in fragment really

[2017-10-25 12:24] mitjade commented on #2368
Still the case with the latest packages in `apollographql/GitHunt-React`. Made a PR there so this can be seen when inserting a new comment.

[2017-10-25 12:25] seeden commented on #2333
probably related to https://github.com/apollographql/apollo-client/issues/2368#issuecomment-339312365 as well

[2017-10-25 12:34] dmarkow opened #2391 "Deduplication/Batching not properly handling duplicate queries"
Given a single query and using query batching (with `apollo-link-batch-http`):

[code]

**Intended outcome:**
Executing the query multiple times should properly resolve, so the `App` component above should display "Hi Dylan!" twice.

**Actual outcome:**
Only the first component using the query resolves. The rest get hung in a loading state. So the `App` component above displays "Hi Dylan! Loading.

[2017-10-25 13:41] csillag opened #2392 "Update README for 2.0"
As of [now](https://github.com/apollographql/apollo-client/blob/402754ababba656ec89a5e6671e5c48d423e21b8/README.md), the README says:

However, now we *are* out of beta for 2.0.

(2.0.1 has been released yesterday.)

So, as of now, the README on the master branch is documenting the 1.0 API, which is now considered obsolete...

[2017-10-25 15:07] pansitwattana commented on #108
same here
[code]

[2017-10-25 16:32] tmhpfnr commented on #108
👋  me too

[2017-10-25 16:46] karsens commented on #108
same 🔢

[2017-10-25 17:43] grimunit commented on #1886
I'm struggling with this exact same issue. I've tried a lot of different approaches such as setting local state, using every different component lifecycle method, using the apollo update method and even using `react-debounce-input` component. However they all end up with the same result.

Basically if I add a debounce to anything that calls an apollo mutation, the component that called the debounc

[2017-10-25 20:25] jaroslav-kubicek commented on #108
There is error in docs. Check that you are importing from `apollo-client`, not from `react-apollo`:

`import ApolloClient, { createNetworkInterface } from 'apollo-client';`

[2017-10-25 22:32] grimunit commented on #1886
Actually it turns out that I was calling another redux action creator within the same function that does the mutation which would cause the extra re-render. After removing the other action call it no longer does the extra re-render.

[2017-10-25 23:52] kamek-pf opened #2399 "ApolloQueryResult type definition mistake ?"
Hey !

So, the `ApolloQueryResult` is defined as :
[code]

I'm using react-apollo, and I see that the `loading`, `networkStatus`, and `stale` flags are actually under `data`, not on the same level, so `data.loading` is actually undefined.

Looking at [the docs](http://dev.apollodata.com/react/queries.html) and a [Medium post](https://dev-blog.apollodata.com/simplify-your-react-components-with-apol

[2017-10-26 04:06] msmfsd commented on #1865
bump

[2017-10-26 04:50] willchertoff commented on #108
@jaroslav-kubicek still throwing

[code]

event when
[code]

[2017-10-26 05:56] mementototem commented on #108
If the problem raise after update apollo-client to v.2.0 this [upgrade instructions](https://github.com/apollographql/apollo-client/blob/master/Upgrade.md) may help

[2017-10-26 07:57] OllieJennings commented on #2273
IMO there should be a redux cache implementation to make it easy to upgrade from 1.0 to 2.0

[2017-10-26 09:59] scheiblr commented on #2260
@jbaxleyiii sorry, but as we use it in a bigger application stack I do not have a reproduction showing this.
Do you expect 2.0 to solve that issue? If so, I'd give it a shot (this will take some time to adopt the application).

[2017-10-26 10:34] shtse8 commented on #108
I found the reason, because I am using the latest version of apollo-client but still following the old instruction. For those who having this issue, please downgrade your apollo-client or just follow the latest version instruction to start.

[2017-10-26 12:30] KrzysztofKarol opened #2401 ""createFetchLink" instead of "createHttpLink" in error message"
**Intended outcome:**

[code]

**Actual outcome:**

[code]

**Version**
- apollo-client@2.0.1

[2017-10-26 12:38] KrzysztofKarol commented on #2401
Sorry. This issue should be in apollographql/apollo-link.
https://github.com/apollographql/apollo-link/issues/181

[2017-10-26 12:38] #2401 closed

[2017-10-26 13:31] webmobiles commented on #2051
no way to  check if the query is loaded before tying to update it?, version 2.0 looks unstable and not a lot of documentation, i looks can take a lot of weeks to have a 2.0 version stable

[2017-10-26 15:40] glasser opened #2402 "Clean up old docs site"
Current AC 2.0 docs are at https://www.apollographql.com/docs/ and AC 1.0 at http://dev.apollodata.com/core/.  Neither of these sites clearly states which version they are for (though they do each have "upgrading to X.0 articles".

We should take down the old docs, redirect to the new site, and add a single article on the new site that documents using the 1.0 API for folks still on it (perhaps wit

[2017-10-26 16:22] darkbasic opened #2403 "ApolloClient from 'apollo-client-preset' expects an ApolloClientOptions parameter"
**Intended outcome:**
[code]

I expect the tooling (Webstorm's editor) to not complain about missing parameters.

**Actual outcome:**
`Supplied parameters do not match any signature of call target`.

**How to reproduce the issue:**
`npm install apollo-client graphql-tag apollo-client-preset`
[code]

**Version**
- apollo-client@2.0.1

[2017-10-26 16:35] darkbasic commented on #2403
I know this is probably because of apollo-client-preset expects apollo-client@^1.0.0, but I expect it to stay in sync with apollo-client and there is also no warning about wrong peer dependencies in npm.

[2017-10-26 17:09] seeden commented on #2333
After two days of debugging I realised that I have an issue and therefore you can close it. It is working for me too. Thanks @jbaxleyiii

[2017-10-26 17:38] #2333 closed

[2017-10-26 17:54] Esemesek opened #2405 "Missing ZenObservable module."
**Intended outcome:**

I was just trying to upgrade to apollo-client ^2.0.0.

My tsconfig.json
[code]

**Actual outcome:**

[code]

**How to reproduce the issue:**

**Version**
- apollo-client@2.0.1

I can fix it just by adding zen-observable and types/zen-observable, but I don't want to.

[2017-10-26 18:25] tsnieman opened #2406 "Multiple 2.0 upgrade guides"
**Intended outcome:**
There should probably only be a singular 1.x -> 2.0 upgrade guide.

**Actual outcome:**
There are two, and they are both different.
https://github.com/apollographql/apollo-client/blob/master/docs/source/2.0-migration.md
https://github.com/apollographql/apollo-client/blob/master/Upgrade.md

One mentions removal of things like `reduxRootSelector`, the other doesn't. There are m

[2017-10-26 19:11] tsnieman opened #2407 "False claim: "InMemoryCache is a normalized data store that supports all of Apollo Client 1.0's features without the dependency on Redux.""
**Intended outcome:**
While I was trying to upgrade to 2.0, I noticed that `reduxRootSelector` functionality was entirely removed, so I went hunting for the replacement since `InMemoryCache` claims `"InMemoryCache is a normalized data store that supports all of Apollo Client 1.0's features without the dependency on Redux."`

**Actual outcome:**
There is no replacement for the `reduxRootSelector` f

[2017-10-26 19:19] tsnieman commented on #2051
@jbaxleyiii I cannot get `.readQuery` to work at all in `2.0`. Using the `graphql` HoC lets me query just fine, but `.readQuery` gives me issues. Example detailed below.

Setting up client like:
[code]

and then trying to do something like:
[code]

Let me know if I can further help.

[2017-10-26 20:06] dcposch opened #2408 "Repo links to the old docs"
![image](https://user-images.githubusercontent.com/169280/32074446-4759f5a4-ba4e-11e7-97b2-880804ca3e2d.png)

**Intended outcome:**
I visited https://github.com/apollographql/apollo-client looking for the docs.

I clicked the link right at the top and it took me to the wrong docs--the old 1.0 docs.

The repo is at 2.0, so the link should point to the new docs:

https://www.apollographql.com/docs/

[2017-10-27 02:06] Nickersoft opened #2409 "Issue when using @graphql decorator + Redux [2.0]"
**Intended outcome:**
After just upgrading to 2.0 from the beta, I expected that wrapping a GraphQL-decorated class with Redux's `connect()` method should continue to work like before. For example:

[code]

**Actual outcome:**
Now, I am getting the following error:

[code]

I'm wrapping my root app class in an `<ApolloProvider>` tag, and was previously passing in my Redux store as a `store` prop.

[2017-10-27 04:27] leizard commented on #1186
I have the same issue and `notifyOnNetworkStatusChange: true` works for me too, maybe it should be put in the official doc.

[2017-10-27 05:56] webmobiles commented on #1419
the solution i've found is just to set options in every gql:

http://dev.apollodata.com/react/api-queries.html#graphql-config-options-fetchPolicy

fetchPolicy: network-only

there is no global settings

Example:
[code]

[2017-10-27 08:21] seeden commented on #2409
It is not a bug. You need to use Provider from react-redux

[code]

[2017-10-27 12:52] mhuggins commented on #1419
@webmobiles Unfortunately that doesn't work as expected with react-apollo.  That package explicitly converts "network-only" to "cache-first".  You can see [a PR I proposed here](https://github.com/apollographql/react-apollo/pull/1177) for discussion to see about removing this behavior.

[2017-10-27 13:12] Nickersoft commented on #2409
Ah, thanks! Yeah, I just got confused because I think I saw `<ApolloProvider>` still mentioned on the docs site, despite the move away from redux. I'll give it a shot!

[2017-10-27 13:50] webmobiles commented on #1419
@mhuggins I've tested it and is working for me...i'm not using server rending , it's react app front end app

[2017-10-27 13:52] mhuggins commented on #1419
Yes, the issue is specifically for when server rendering. Just adding a
warning here that your solution won't work for everyone. :)

On Oct 27, 2017 7:50 AM, "Dave I." <notifications@github.com> wrote:

[2017-10-27 15:20] tsnieman opened #2411 "client.resetStore() does not clear data out of cache"
**Intended outcome:**
Calling client.resetStore() should clear all data out of the cache.

**Actual outcome:**
Calling client.resetStore() does not clear data out of cache

**How to reproduce the issue:**
Call client.resetStore() and then inspect the cache.

**Version**
- apollo-client@2

Related info can be found here: https://github.com/apollographql/react-apollo/issues/807 - I created a new iss

[2017-10-27 16:30] lednhatkhanh commented on #2212
This is really annoying, the old `subscriptions-transport-ws` version 0.8.3 has problems with Typescript so I decided to update to apollo client 2, now I got another problem with apollo-client...
Have to stop and wait for the error to be fixed...

[2017-10-27 18:06] lgants commented on #2273
@jbaxleyiii I'd prefer redux since I need to pass static data around to multiple components. In my opinion, this was an important point of differentiation for Apollo from Relay. Is there a workaround for Apollo 2 that I'm not seeing?

[2017-10-27 19:13] andrei-anisimov commented on #2273
I agree, getting rid of redux is a premature decision IMO. Somehow I still need to manage the local state and redux is a proven solution for this.

[2017-10-27 19:46] mbrowne commented on #29
@jbaxleyiii Did you reference this issue in your `updateQueries` commit by mistake? If it's not a mistake, then how is that a fix for this issue?

[2017-10-28 00:04] dcposch commented on #2408
FYI googling "apollo 2 docs" takes you directly to the old, wrong docs :(

[2017-10-28 00:18] obartra opened #2412 "converting `null` to `undefined`"
**Intended outcome:**

In Apollo 2, I'm trying to convert all `null` values to `undefined` in every query response.

**Actual outcome:**

I get a console warning saying the field is missing. It looks like:

[code]

I also get no response back and no errors

**How to reproduce the issue:**

This is how I define my `link`:

[code]

**Version**
- apollo-client@2.0.0

[2017-10-28 01:24] KeithGillette opened #2413 "`NetworkStatus.loading` available globally on `ApolloClient`?"
Is there any way to determine whether `NetworkStatus.loading` is true for any currently executing `ApolloClient` operation?

I'd like to create an application-wide network activity indicator component in an Apollo-Angular project without having each Apollo client `.query`/`.watchQuery`/`.mutate` call report its `NetworkStatus.loading`. I thought of using middleware/afterware hooks in `ApolloClient

[2017-10-28 06:32] gforge opened #2414 "/n instead of \n in enhancedError"
Thank you for this awesome software! Your error was actually helpful, although I think I found a typo, `/n` should probably be `\n` in `enhancedError`:

https://github.com/apollographql/apollo-client/blob/2cd695fda1085aa957dde1d632bf3b08738b5036/packages/apollo-cache-inmemory/src/writeToStore.ts#L47

[2017-10-28 06:47] dotansimha opened #2415 "writeQuery does not work with 2.0"
I have a very simple query:
[code]

And I am using the following code to create a subscription for the query:
[code]

The initial execution of the query works as expected and the result is printed to the log.

Then, my code does:
[code]

The store **updates** and I can see it's new value in the store, but the `next` of the `watchQuery` Observable is not triggered.

Also trying to execute it using

[2017-10-28 12:49] jbaxleyiii commented on #2415
@dotansimha can you create a reproduction of this?

[2017-10-28 12:50] jbaxleyiii commented on #2414
@gforge ah for sure! would you open a PR to change that?

[2017-10-28 12:50] jbaxleyiii commented on #2413
@KeithGillette you can do this with the 2.0 and writing a custom link. I think it would be a great link for others to use as well!

If anyone is interested in writing this, I'm happy to give guidance

[2017-10-28 12:52] jbaxleyiii commented on #2412
hmm @obartra I do believe that we treat undefined as bad responses (missing fields) since the GraphQL spec only allows for returning nulls in the case of empty data.

What is your use case?

[2017-10-28 12:53] jbaxleyiii commented on #2411
@tsnieman do you have a reproduction I can use to fix / test against?

[2017-10-28 12:54] jbaxleyiii commented on #2408
@dcposch we are still working on all of the redirects being in place! Thanks for the heads up!

[2017-10-28 12:54] #2408 closed

[2017-10-28 12:56] jbaxleyiii commented on #2051
@tsnieman we have quite a few tests for this including a new set for the 2.0 with this reported issue. I really need a reproduction to test against at this point

[2017-10-28 12:57] jbaxleyiii commented on #2407
@tsnieman I disagree considering `reduxRootSelector` was a function of the redux integration with Apollo Client 1.0. I don't think it is misleading in this manner.

I'm happy to accept a PR on the migration guide if you want to make this more explicit

[2017-10-28 12:57] #2407 closed

[2017-10-28 12:58] jbaxleyiii commented on #2403
@darkbasic it looks like the documentation (readme) is out of date for this package. Just a heads up that it is a new package so it will be behind Apollo Client my a major version

[2017-10-28 12:59] jbaxleyiii commented on #2392
@csillag I kept the PR so I could merge it on stage at GraphQLSummit, this is all fixed now 🎉

[2017-10-28 12:59] #2392 closed

[2017-10-28 13:46] obartra commented on #2412
I'm trying to simplify how I handle default values. `undefined` is used for ES6 default parameters, React default props and applying defaults in other libraries like lodash. So it's a more convenient way to indicate a value has not been set for me. Otherwise I need to manually check and apply default values.

I assumed `link` allowed me to modify a response after it was processed by apollo-client

[2017-10-28 13:53] KeithGillette commented on #2413
Thanks for the fast & helpful response, @jbaxleyiii! That's great news.

As soon as [`apollo-angular@1.0`](https://github.com/apollographql/apollo-angular/pull/377) is released to support `apollo-client@2.0`, I'll [migrate](https://github.com/apollographql/apollo-angular/blob/1.0/Migration.md) our project to both and attempt to use `apollo-link` to create an application-wide network activity indic

[2017-10-28 15:01] 20matan commented on #2415
Happens with writeFragment too (pretty clear it is, but maybe it worth mention it)

[2017-10-28 15:41] dotansimha commented on #2415
@jbaxleyiii
I created a reproduction here:
https://github.com/dotansimha/apollo-client-unhandled-expection
Under the directory `write-query`.

Note that the `console.log` here:
https://github.com/dotansimha/apollo-client-unhandled-expection/blob/master/write-query/index.js#L111

is called only once, but when you uncomment this line:
https://github.com/dotansimha/apollo-client-unhandled-expection/b

[2017-10-28 16:04] dotansimha opened #2417 "writeFragment requires explicit type in the `id` param?"
I am using `writeFragment`, and trying to update a specific object, for example `User`, with a specific id. The code examples in the docs is as follow:

[code]

But with latest versions of Apollo, this example above won't work, because is requires to specify the type of the fragment we want to update. So we need to add `Todo:` in the `id`:

[code]

It seems like the API expects the data id to be t

[2017-10-28 17:03] RedShift1 commented on #2164
Ping

[2017-10-28 17:19] kamilkisiela commented on #2413
@KeithGillette You can already use [`apollo-angular@1.0.0-beta.1`](https://unpkg.com/apollo-angular@1.0.0-beta.1/). I know it's beta but there should be no changes. It all works fine, pretty much all the issues are now fixed.

In the PR you mentioned, there are 3 examples (simple one on StackBlitz two other on github - SSR and NativeScript) which I'm keeping up to date with releasing process.

[2017-10-28 21:58] gforge commented on #2414
Ok, will try to fix tomorrow

[2017-10-29 03:27] atalebagha opened #2418 "New Feature - two urls or option to switch between URLs (React-Apollo/Apollo-Client)"
How can I have two URLs or change URLs based on application state with Apollo Client?  Or would I have to use two separate clients ?  How would that work with React-Apollo ?

What I want to do is I want to have a method to change the URL from a production server to a staging/QA server for testing. I want to avoid making separate builds for QA and Production (backend)

If the feature is not availab

[2017-10-29 04:46] mitjade commented on #2368
Here is a video demonstrating this: https://youtu.be/ij10JZ1_uSY

[2017-10-29 04:49] mitjade commented on #2333
@seeden What was your issue, maybe I am facing something similar with #2368?

[2017-10-29 08:22] seeden commented on #2333
@mitjade I used HoC which cached data to state.

[2017-10-29 08:28] shtse8 commented on #1079
@hzsweers I am having same concern, what should we use? `($id: String!)` or `($id: ID!)`?

[2017-10-29 08:30] hzsweers commented on #1079
The latter

[2017-10-29 13:18] KeithGillette commented on #2413
Thanks for the helpful reply, @kamilkisiela. So if I use `apollo-angular-link-http`, it seems to me that for my use case, the problem reduces to determining whether Angular's HTTP service is active, which would cover Apollo as well as other Angular application HTTP network activity. In that case, I wouldn't need to write a custom `apollo-link` and could use [existing package](https://github.com/mp

[2017-10-29 13:52] shtse8 commented on #1079
@hzsweers the latter? But it will throws error when I query like `user(id:123)`.

[2017-10-29 14:13] kamilkisiela commented on #2413
@KeithGillette that's great! Thanks to using `HttpClient` we gain so many things like NativeScript support, SSR, features like that one you mentioned! If you have any questions feel free to message me on slack (same user handle)

[2017-10-29 18:00] KeithGillette commented on #2405
I encountered the same issue with `apollo-client@2.0.1`. I was able to work around it by adding `@types/zen-observable` to my project.

[2017-10-29 21:21] yuit opened #2422 "[Cache API] Allow addtional type parameter to Apollo Cache to specify"
Currently `ApolloCache` restore signature is `restore(serializedState: TSerialized): ApolloCache<TSerialized>` In the case of InMemoryCache, this works great as the `data` is already [serializable](https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache-inmemory/src/inMemoryCache.ts#L38).

However, for other cache implementation such as Hermes. the `data` is not necessary

[2017-10-30 02:08] KeithGillette commented on #2413
Thanks so much! With the help of the `apollo-client` and `angular-apollo` migration guides, the `howtographql/angular-apollo` example, and @kamilkisiela's expert guidance, I got our project upgraded to ApolloClient 2.0.1 + Angular-Apollo 1.0.0 with `apollo-angular-link-http`. I successfully tested a third-party Angular network activity/loading component that intercepts Angular `HttpClient` used by

[2017-10-30 02:08] #2413 closed

[2017-10-30 05:16] Rafaell416 commented on #108
@shtse8  which version?

[2017-10-30 08:47] rafales opened #2425 "Feature request: partial data"
Sometimes it's useful to display partially loaded data (from cache) while waiting for the server to respond.

## Previous solution

As far as I know there was a solution for this up until 1.0 version - `returnPartialData`. It was removed in PR #1370 for good reasons - it was impossible to control and some data could be missing that child components or other code did not expect to be missing.

## C

[2017-10-30 11:41] jay1337 commented on #2344
@stubailo @jbaxleyiii Don't you agree with my last comment ?

[2017-10-30 11:54] JozefBiros opened #2428 "subscribeToMore bad documentations and typescript type annotations"
**Intended outcome:**
According to new docs about subscriptions:
https://www.apollographql.com/docs/react/features/subscriptions.html#subscribe-to-more

Data about new comment should be found in
`subscriptionData.data.commentAdded`

Typescript annotation for subscriptionData is
`subscriptionData: {
 data: any
}`

**Actual outcome:**
But data about new comment are direcetly in subscriptionData like

[2017-10-30 14:32] 3nd commented on #653
For those who are utilizing systemjs, angular, typescript, apollo and graphql, add the options in the network interface like:

`/* **************************************************
 * **************************************************
 * Instantiate a new Apollo Network Interface Object
 * the opts enables us to pass additional options to fetch
 * credentials: 'same-origin' - To automatically sen

[2017-10-30 17:44] Nickersoft commented on #2409
Just got a chance to test it and it works perfectly! Thanks.

[2017-10-30 17:44] #2409 closed

[2017-10-30 19:26] benhjames commented on #2415
Confirming this happens to me too, and adding `client.queryManager.broadcastQueries()` as mentioned above solves the issue!

[2017-10-30 19:29] sheeldotme commented on #2405
This was the solution in apollo-link: https://github.com/apollographql/apollo-link/issues/163#issuecomment-338978391

[2017-10-30 19:29] sheeldotme commented on #2405
This was the solution in apollo-link: https://github.com/apollographql/apollo-link/issues/163#issuecomment-338978391

[2017-10-30 19:31] sheeldotme commented on #2405
This was the solution in apollo-link: https://github.com/apollographql/apollo-link/issues/163

[2017-10-30 19:55] kavink opened #2431 "Multiple docs with different version docs"
Looks like there are 2 document sites, which

http://dev.apollodata.com/react/. <- This one seems to be for 1.X docs.

https://www.apollographql.com/docs/react/. <- This one is for 2.X docs.

Based on link on sidebar , "migrating to 1.0" and "migrating from 1.0"

Which one is the latest doc and official ?

[2017-10-30 20:26] #2160 closed

[2017-10-30 20:30] kavink opened #2432 "docs Calling mutations in 2.0 use gql from react-apollo from v1.0"
This doc still seems to refer to 1.0 version, instead of 2.0 docs example.

https://github.com/apollographql/apollo-client/blob/master/docs/source/basics/mutations.md#calling-mutations

[2017-10-30 21:42] un33k commented on #2016
Still an issue ... will be resolved in 2.0?

[2017-10-30 23:41] larryranches commented on #51
@helfer Is there any traction on this?

[2017-10-31 00:08] UncleJimmy commented on #1965
I have the same issue here, have you found the solution for this?

[2017-10-31 00:49] sneerin opened #2434 "default docs example for 2.0 is not working"
I copy pasted this code:

[code]

and this is not working:
Error:
        In order to initialize Apollo Client, you must specify link & cache properties on the config object.
        This is part of the required upgrade when migrating from Apollo Client 1.0 to Apollo Client 2.0.
        For more information, please visit:
          https://apollographql.com/docs/react/setup
        to help you get

[2017-10-31 00:51] sneerin commented on #2434
Link is broken btw, just adding cache doesn't help at all.

[2017-10-31 03:36] shahzeb1 commented on #1879
![image](https://user-images.githubusercontent.com/1383831/32206382-ea66de90-bdb1-11e7-9da2-2460105528de.png)

Still getting this error (don't have the Chrome extension installed). Any guesses?

[2017-10-31 03:56] shahzeb1 commented on #2434
Try seeing of you find the docs here helpful: https://www.apollographql.com/docs/react/basics/setup.html

[2017-10-31 08:04] shtse8 commented on #2431
i have the same problem. i want to migrate apollo client from 1.0. but the official document is hard to be found. how can i modify the header before send ing the request in the latest version?

[2017-10-31 09:33] veekungx opened #2438 "Fragment on Query not working"
**Intended outcome:**
I want to get data from query on fragment like this

[code]

expected
[code]
**Actual outcome:**
Don't get any result loaded to React Component. It looks like it doesn't make graphql request from Chrome Debugger network tab too.

**How to reproduce the issue:**

**Version**
- apollo-client@2.0.1
- graphql-tag@2.5.0
- react-apollo@2.0.0

[2017-10-31 10:45] joshuataylor commented on #2434
Docs should link there ^.

[2017-10-31 11:07] #1954 closed

[2017-10-31 12:18] Billy- commented on #1564
Can this issue please be re-opened? I believe it is a valid issue for discussion.

[2017-10-31 13:37] peggyrayzis commented on #2434
Hi @sneerin! Would you like to try creating a pull request to fix the broken link in the error message? If you need help, I can walk you through it. 😀

[2017-10-31 13:44] peggyrayzis commented on #2380
Hi @tremby! Apologies for the bad link, we were in the middle of upgrading our docs site.

[This page](https://www.apollographql.com/docs/react/recipes/fragment-matching.html) should tell you everything you need to know about setting up the fragment matcher for unions & interfaces. This guide is for 2.0, but it looks like your [upgrade to 2.0](https://www.apollographql.com/docs/react/2.0-migration

[2017-10-31 14:35] jbaxleyiii commented on #2438
@veekungx that's no good to hear! Would you be able to reproduce using our [error template](https://github.com/apollographql/react-apollo-error-template)?

Thanks!

[2017-10-31 14:37] jbaxleyiii commented on #2434
@sneerin @peggyrayzis that example is also missing using an apollo cache! Which is why it showed the error message. This is a great first PR if anyone wants it!

[2017-10-31 14:38] jbaxleyiii commented on #2432
Good catch! Would you be able to PR that change?

[2017-10-31 14:40] jbaxleyiii commented on #2431
Hey @kavink! The new docs is the second link, we are working to redirect the old sites

[2017-10-31 14:40] #2431 closed

[2017-10-31 14:47] jbaxleyiii commented on #2428
@JozefBiros hmm it seems like we went back and forth on this! I'll ping a few subscription contributors to see what it should ideally be. I lean towards what is documented because it gives us the ability to add errors as well, but I think the previous version did it differently?

@mistic @Urigo @DxCx @NeoPhi what is the right direction here?

[2017-10-31 14:52] jbaxleyiii commented on #2425
@rafales this is a really interesting idea! Another way it can be done today is to use `readQuery` or `readFragment` within a component to find the first set of data while the full query is fetched from the server. I think that pattern would also work well and is worth documenting.

Would you be up for trying that out? I think they should be able to use the same query, one would return partial dat

[2017-10-31 14:52] jbaxleyiii commented on #2422
I think better type defs would work great here!

[2017-10-31 14:55] jbaxleyiii commented on #2418
@atalebagha though it is not currently possible, a small PR to [apollo-link-http](https://github.com/apollographql/apollo-link/blob/master/packages/apollo-link-http/src/httpLink.ts#L114-L118) could allow you to set the `uri` based on the context of the request. With that change, you could do something like this:

[code]

[2017-10-31 15:04] jbaxleyiii commented on #2417
@dotansimha I believe this is how the last version worked as well for fragments? I do think we could potentially try to calculate the id but I don't think we could do it very reliably.

Are you saying this worked on the 1.0 but does not on the 2.0?

[2017-10-31 15:05] jbaxleyiii commented on #2415
@dotansimha thanks for the reproduction! I'll take a look!

[2017-10-31 15:06] jbaxleyiii commented on #2414
Thanks! This is fixed now!

[2017-10-31 15:06] #2414 closed

[2017-10-31 15:07] jbaxleyiii commented on #2412
@obartra I think we can probably make those adjustments! The first step would be to write a failing test showing how `undefined` is not handled currently. Would you be up for doing that?

[2017-10-31 15:08] jbaxleyiii commented on #2406
The Upgrade.md file has been removed in favor of the docs site! Thanks!

[2017-10-31 15:08] #2406 closed

[2017-10-31 15:09] jbaxleyiii commented on #2405
@Esemesek @KeithGillette @sheeldotme would any of you be able to open a PR adding these types to the deps instead of dev deps?

[2017-10-31 15:11] jbaxleyiii commented on #2399
@kamek-pf react-apollo attaches the `ApolloQueryResult` to `props.data` by default, but it takes the resulting data and includes it alongside things like `loading` and `networkStatus` that way you don't have to access your data at `props.data.data.myField`

[2017-10-31 15:11] #2399 closed

[2017-10-31 15:12] jbaxleyiii commented on #2391
@dmarkow thanks for the reproduction and details! Since we reworked the entire network stack I had a feeling a bug or two might surface 👍 I'll get right on this fix!

[2017-10-31 15:14] jbaxleyiii commented on #2390
@gijo-varghese can you run this same query using GraphiQL on your graphql app? That message appears to be a server error of type mismstach where `last_message` is returning a type of `LastMessage` but `messages` return a type of `Message`. If these two fields return different types, the fragment cannot be applied

[2017-10-31 15:15] jbaxleyiii commented on #2367
Hey @hauptrolle this looks like a build config issue! Sadly we won't be able to help here, but maybe on stack overflow or the apollo slack someone can?

[2017-10-31 15:15] #2367 closed

[2017-10-31 15:16] dotansimha commented on #2417
Actually I didn't use it in 1.0, that's why I didn't mention the 1.0/2.0 releases for this issue...

Why calculating the type could make an issue with reliability? The type is always the type of the fragment, isn't it?

And I think that if it's problem to calculate it, then we need to update the docs

[2017-10-31 15:30] obartra commented on #2412
For sure, how do you want to approach it? Do you want me to add tests for supporting this `ApolloLink` or to use `hasOwnProperty` / `'key' in object` instead of `undefined`?

I don't see many tests for `link` other than on `__tests__/QueryManager/links.ts` do you want them there or is there a better spot?

[2017-10-31 16:15] matteodem opened #2441 "Async Middleware (with ApolloLink)"
**Intended outcome:**

To resolve a promise inside an `ApolloLink` middleware to adjust request headers.

**Actual outcome:**

Wasn't able to write code that works.

**How to reproduce the issue:**

[code]

There's no examples regarding this type of middleware in the docs. How can this be achieved?

**Version**
- apollo-client@^2.0.1

[2017-10-31 16:28] jbaxleyiii commented on #2441
@matteodem 👋 `ApolloLink` expects an Observable to be returned which makes this not work. To make it super easy, I wrote a `setContext` link just for this use case! The docs for it are [here](https://www.apollographql.com/docs/link/links/context.html#Usage) but in short your code would be this:

[code]

[2017-10-31 16:28] #2441 closed

[2017-10-31 18:32] Esemesek commented on #2405
Created PR - #2442

[2017-10-31 18:40] danieljvdm commented on #424
I think this issue has become relevant again since Apollo 2.0 has moved from Redux.

I was using `redux-persist` before to manage offline/saved state on my React Native app but now obviously can't. I have a working solution but I think it can probably be optimized a bit. Here's what I'm doing:

I created an "afterware" or "link" that simply forwards the operation on but also extracts and saves the

[2017-10-31 19:17] alexboots opened #2443 "Request cookies not being passed when `same-origin` is set."
**Intended outcome:**
Want request cookies to be sent with query when `same-origin` is set.

**Actual outcome:**
I followed the new docs for [Authentication](https://www.apollographql.com/docs/react/recipes/authentication.html#Cookie) but the Request Cookies are not being passed.

This worked before upgrading and I haven't changed any code besides what was in the migration guide.

Code from 1.0.1

[2017-10-31 19:21] yuit commented on #2422
Let me know what you think about the PR... .still more test to do but any feedbacks are welcome!

[2017-10-31 19:28] ramirobg94 opened #2444 "Apollo client 2.0 redux React-Native"
**Intended outcome:**

**Actual outcome:**

**How to reproduce the issue:**

**Version**
- apollo-client@2.0
I am working in a mobile App with react-native, Redux and Apollo-client and when I updated the dependencies the App is absolutly broken..

I read that:

"Ultimately we think the move off Redux will open the door for more powerful cache implementations and further performance gains. If you w

[2017-10-31 19:35] blackxored opened #2445 "Add StoreProxy to optimistic response function form"
IMHO it would be really helpful if `optimisticResponse` would take a StoreProxy (the object that allows `store.readQuery`, `store.readFragment`, etc, or in general allow a mechanism to read data from the store. Hopefully I'm not the only one that finds himself building partial optimistic responses and then adding the missing pieces in the `update` function, since I know we got all data we need to

[2017-10-31 20:25] mxstbr commented on #2119
Argg, not stale. Thank god I can label it myself now...

[2017-10-31 21:29] esseswann commented on #2438
I kind reproducing this bug right now but if you add some requests to query which are not fragment it works

[2017-10-31 22:23] tremby commented on #2380
It sounds from your answer that it is not possible to use the introspection fragment matcher with 1.4.0, or at least no working documentation exists for it.

It wasn't clear I even could upgrade to version 2, using react-apollo, since its releases page on Github shows the latest as 1.4.x.

But I now see there is a 2.x on NPM, and so I upgraded.

Upgrading is *not* just a few lines, or at least was

[2017-10-31 23:34] alidcastano opened #2446 "feature idea: dynamic nested mutation"
I know that nested mutations are currently possible. For example:

[code]

However, as far as I'm aware, there's no current way for the second mutation to access the query returned from the first mutation. An example use case is if a notebook must have at least one note (makes for better UX) and that a note must belong to a notebook. But since dynamic nested mutations aren't possible, instead of c

[2017-11-01 00:05] tizmagik commented on #819
I just hit this error today. Haven't yet dug into the cause/why I'm seeing it, but a path to the error sounds like it might be useful. 😅

[2017-11-01 01:43] alidcastano commented on #2446
seems to be related to https://github.com/facebook/graphql/issues/88 and https://github.com/facebook/graphql/issues/212

[2017-11-01 08:01] gijo-varghese commented on #2390
Got it

[2017-11-01 08:01] #2390 closed

[2017-11-01 08:30] jay1337 commented on #2258
Hey !

[2017-11-01 12:03] DxCx commented on #2428
and which subscription transport?
using transport >= 0.9.0 should yield `subscriptionData: { data: any }`
post that will yield `subscriptionData: any`

[2017-11-01 13:04] ste93cry commented on #1879
Same here, after a mutation throws an error (user error) I get the message

I'm using Chrome with the Apollo Dev Tools enabled

[2017-11-01 13:55] #2293 closed

[2017-11-01 14:51] raderio commented on #264
Is someone using approach: on dev environment support mix(persisted & arbitrary) and on prod environment support only persisted queries?

[2017-11-01 14:54] raderio commented on #478
Is someone using approach: on dev environment support mix(persisted queries & arbitrary queries) and on prod environment support only persisted queries?

[2017-11-01 15:16] peggyrayzis commented on #2380
It is possible to use the fragment matcher with 1.4. The build step process is the same, but you specify the fragment matcher [on the constructor of Apollo Client](https://www.apollographql.com/docs/react/2.0-migration.html#full) instead of the cache like in 2.0.

Apollo Link is our new network stack that is responsible for processing data (middleware, afterware, etc) and retrieving data (HttpLink

[2017-11-01 15:16] #2380 closed

[2017-11-01 16:48] danieljvdm opened #2450 "Optimistic option on ApolloClient.readQuery"
Pre 2.0 I believe that `client.readQuery` would also return optimistic mutation results. After upgrading to 2.0 most of my optimistic code broke since I use it in tandem with subscriptions. In the subscription (for a new message) I would read the store and check if an optimistic result was there (designated by a negative ID) and not do anything with the subscription if that were the case. Now that

[2017-11-01 19:53] #2418 closed

[2017-11-01 20:01] qswitcher opened #2452 "Observable.js:6 Uncaught TypeError: Object prototype may only be an Object or null: undefined"
I've updated my project to the latest apollo-client version as per the upgrade instructions.
[code]

And upgraded like so
[code]

However in my setup this code is blowing up client side on the `apollo-client` import line (oddly enough it seems to work server side) with the exception
[code]

I dug into the apollo-client code in my node_modules and it looks like it's blowing up because the `LinkObse

[2017-11-01 20:14] tremby commented on #2380
I detailed what I tried and what happened with 1.4 above.

Yes, I already said above that I found documentation. I am pointing out that it was difficult to find and that the migration documentation is lacking. I'm not sure you're actually reading what I'm saying.

[2017-11-01 20:24] amackintosh commented on #108
I just opened a project and updated `react-apollo` and it detonated everything, which is also highlighting that https://github.com/apollographql/react-apollo is currently some troll documentation.

I was using these like this in React Native:
[code]

It definitely doesn't work in React Web with `react-apollo 2.0`.

I checked my RN app and even though I installed it last week~, its using `react-apo

[2017-11-01 21:48] 2WheelCoder commented on #424
@danieljvdm I think your persisted cache is lagging one request behind because `forward(operation)` is called after you call `cache.extract()`. I haven't tested this yet, but this should solve it:
[code]
Thanks for taking a first stab at this. I think there is a lot of potential for some great offline patterns to build around Apollo 2.

[2017-11-01 23:10] dnalborczyk commented on #2428
we just upgraded our project, and were wondering the same if removing the _data_ property was intended?

@DxCx as far as I can tell it doesn't seem to matter which version of subscription transport one is using, it's transferring { _data_ } either way. (< 0.9 and > 0.9).

the _data_ property is being removed by apollo-client v2.0

https://github.com/apollographql/apollo-client/blob/master/packages

[2017-11-01 23:38] danieljvdm commented on #424
Since this issue is closed and there's a new opened one reference above I'll continue the discussion there.

[2017-11-02 03:01] dnalborczyk commented on #2428
related issue:
https://github.com/apollographql/apollo-client/issues/2329(https://github.com/apollographql/apollo-client/issues/2329)

related commit:
https://github.com/apollographql/apollo-client/commit/f8990960468a13e87e514c1a2b985e03069fa9ab

[2017-11-02 03:48] shahzeb1 commented on #1879
I finally got it to work, this is what my client related code looks like. Hope it helps someone.

[code]

[2017-11-02 04:36] rafrex opened #2453 "New object wrapper on every query prevents object comparison"
**Intended outcome:**
For a query like:
[code]
When the query is run multiple times (hitting the cache) I should be able to do object comparison, e.g. `this.props.posts[0] === nextProps.posts[0]`. Note that each post is a normalized object in Apollo's in memory cache.

**Actual outcome:**
Each time the query is run new objects are created making object comparison useless.

In v1 this worked great,

[2017-11-02 08:27] bdombro opened #2457 "graphql and/or gql functions broken in React Native"
Am getting this error _reactApollo.gql is not a function.

![image](https://user-images.githubusercontent.com/3165897/32316105-2deeb780-bf85-11e7-9477-9fddb041f849.png)

**Intended outcome:**
Try apollo with react native.

**Actual outcome:**
Example not working.

**How to reproduce the issue:**
Add imports and this snippet to app.js. [Here](https://gist.github.com/bdombro/d3e62e4d8e7ef0898c099acd

[2017-11-02 11:01] jay1337 commented on #2262
Hey !

[2017-11-02 12:07] bnovf commented on #2457
You should import `gql from 'graphql-tag'`
Check the migration docs https://www.apollographql.com/docs/react/2.0-migration.html

[2017-11-02 13:36] joshhunt opened #2458 "Where did createNetworkInterface go?"
[react-apollo docs](http://dev.apollodata.com/react/initialization.html) mentions I import `createNetworkInterface` from `react-apollo`:

[code]

However that wasn't working, as I'm getting `Uncaught TypeError: (0 , _reactApollo.createNetworkInterface) is not a function. [After a bit of reading](https://github.com/apollographql/apollo-client/issues/108), it appears the docs is incorrect or out of

[2017-11-02 13:40] Jannis commented on #2212
This seems closely related (or identical even) to https://github.com/apollographql/react-apollo/issues/1299.

[2017-11-02 13:42] joshhunt opened #2459 "Where did createNetworkInterface go?"
[react-apollo docs](http://dev.apollodata.com/react/initialization.html) mentions I import `createNetworkInterface` from `react-apollo`:

[code]

However that doesn't work as it's no longer included in `react-apollo`.

[Then apollo-client docs mention](http://dev.apollodata.com/core/network.html) I can import it from `apollo-client`:

[code]

That also doesn't work.  `createNetworkInterface` doesn

[2017-11-02 14:08] #2459 closed

[2017-11-02 14:22] qswitcher commented on #2458
createNetworkInterface was removed in 2.x. Refer to the upgrade docs and new documentation
https://github.com/apollographql/apollo-client/blob/master/Upgrade.md

docs: https://www.apollographql.com/docs/react/  (linked on project README)

[2017-11-02 14:25] joshhunt commented on #2458
Ahhh right hmm okay. I was reading the docs at dev.apollodata.com, which is confusing to say the least.

Thanks for the help.

[2017-11-02 14:25] #2458 closed

[2017-11-02 14:41] ralphchristianeclipse opened #2460 "Offline Support for Version 2?"
Based on the apollo client v2 redux has been deprecated as the default store

any ideas how to do offline support for apollo client?

[2017-11-02 15:26] DxCx commented on #2428
ok so 2 things happened here:
subscription transport added `data` when introducing observable interface (as it should be).

after that james worked on subscription on apollo client 2
and returned the old behavior.. probably to stay compatible with older versions.

[2017-11-02 16:20] dnalborczyk commented on #2428
@DxCx  I'm not quite sure if I'm following. I'm mainly wondering if the above change was intended, which is fine with me, other than the docs seem to be wrong - or otherwise it might need to be fixed before a broader adoption of v2.0.

[2017-11-02 17:33] herlon214 commented on #1564
I agree with @Billy-, it's a valid issue for discussion.

[2017-11-02 17:48] #2270 closed

[2017-11-02 19:08] makamekm opened #2461 "v2 is sending an array"
Is it normal with the library? It sends an array instead of object to /graphql after upgrading v2.
I can't use it with Java, ... graphql servers.

[code]

[2017-11-02 19:57] #2446 closed

[2017-11-02 20:51] alexboots commented on #2443
Decided to look at the source code to see whats wrong, the `documentation` is incorrect for passing options.

You don't need to pass the credentials in an `opts` object, from
https://www.apollographql.com/docs/react/recipes/authentication.html#Cookie

[code]

Should actually read:
[code]

[2017-11-02 21:13] alexboots commented on #2443
Docs were off: https://github.com/apollographql/apollo-client/pull/2462

[2017-11-02 21:13] #2443 closed

[2017-11-02 22:20] manbropig opened #2463 "queryDeduplication not working as expected in apollo-client@2.0"
**Intended outcome:**

The same graphQL query (same variables and query string), executed by different components on load of the app, should only result in one network request (visible in the network tab). Before upgrading to apollo-client 2.0, we would experience such behavior.

**Actual outcome:**

Now that we have upgraded to apollo-client 2.0 we see a network request for every time we execute

[2017-11-03 03:56] sarora2073 commented on #1564
Update: I was mistaken about how I resolved the issue for my purposes and have updated my comments above to be clear.

I concur that generally speaking the __typename field is a nuisance and that Object.assign does NOT remove it. An enhancement that sanitizes it on the query side and/or mutation would be helpful imho.

Workarounds for now:
1.  Manually remove __typename from the cloned object
2. F

[2017-11-03 06:16] xpol opened #2464 "Does readQuery guarantee not modify the `options` for now and always?"
What I want to do is store `query` and `variables` (and others) in an `options` object and shared between `readQuery` and `writeQuery`.
This helps write correct code and less debugging the `update` callback for mutations.

[code]

It currently works. If no modification will made to the `options` it would be nice to have it documented in the API page.

[2017-11-03 07:46] abenchi commented on #1618
IMO, this ticket should be reopen. I do not need to hack arround `componentWillUpdate` and leverage the `nextProps` so as to guarantee that the mutation along with the refetchQueries are all `setteled`.
I really want to know what the Apollo team thinks about this?
Thanks a lot

[2017-11-03 09:20] misoguy commented on #2434
I'd like to try creating a PR if no one is on it yet :)

[2017-11-03 12:00] gonardfreeman opened #2467 "Network error: Network request failed with status 200 - "OK""
Hello, I'm not sure is this issue or what, but it realy strange.
Why it think that 200 is error?
[code]
and why provider do not see answer from api?
![selection_005](https://user-images.githubusercontent.com/16113714/32372853-48493eaa-c09f-11e7-901a-e3b9455f6d6a.png)
![selection_006](https://user-images.githubusercontent.com/16113714/32372854-486a0400-c09f-11e7-8122-3e74b4dd2094.png)
and last, how

[2017-11-03 12:03] bogdansoare commented on #1865
also having this issue

[2017-11-03 12:49] gonardfreeman commented on #2467
You can close, problem was at api endpoint

[2017-11-03 13:02] odero commented on #2051
Here's a more detailed example of how I solved this. Hopefully this makes more sense

[code]

[2017-11-03 13:10] MrCheater opened #2468 "Please update package.json / npm update"

[2017-11-03 14:33] zach-is-my-name opened #2469 "<query>.loading will not change to true"
**Intended outcome:**
Want stepQuery.loading === false
[code]
**Actual outcome:**
console.log 'called' is displayed
console.log 'called2' is never displayed

**Version**
- apollo-client@1.4.15

[2017-11-03 15:41] juliocanares commented on #2443
still not working for me, even setting `credentials: same-origin` it just doesn't set the cookie

[2017-11-03 16:26] lancygoyal commented on #2460
Is there is any way to configure apollo client with redux ?

[2017-11-03 16:35] lancygoyal commented on #2444
I also have similar situation do i downgrade to 1.0 or is there is any way to use redux and apollo client together?

[2017-11-03 16:41] #2434 closed

[2017-11-03 16:49] #2467 closed

[2017-11-03 16:50] peggyrayzis commented on #2457
Thanks @bnovf! I'm going to close this.

[2017-11-03 16:50] #2457 closed

[2017-11-03 17:57] nenti opened #2471 "undfined is not a function 'props.client.initStore()' react-native issue"
Apollo 2.0 does seem to have problems with the ne InMemoryCache. I was going through the getting started and can't figure out how to resolve this error coming from react-apollo\react-apollo.browser.umd.js

**Intended outcome:**
Init apollo.

**Actual outcome:**
Thrown error.

**How to reproduce the issue:**
Go throught react getting started guide for setting up react native.

**Version**
- apollo-

[2017-11-03 18:11] nenti commented on #2444
[code]

[2017-11-03 18:31] nenti commented on #2471
Problem was, I was missing the upgrade of react-apollo to 2.0+. There seems to be no core dependency set. Hope it helps someone else having problems with the upgrade to apollo 2.0! ;)

[2017-11-03 18:31] #2471 closed

[2017-11-03 18:33] Goluis commented on #2450
I also experienced the same issue but here is a workaround:
[code]
it will do a query to the cache as `client.readQuery`, but now you're allowed to pass a second prop called `optimistic` which will include the optimistic results, you actually can't do it with `client.readQuery` cause the implementation looks like this:
[code]

[2017-11-03 19:15] lukecwilliams commented on #2432
FYI - I've searched all files under `documents` and submitted pull requests for the erroneous gql imports.

[2017-11-03 19:22] lukecwilliams opened #2477 "Tutorial docs and 2.0 announcement on Medium do not show full 2.0 import changes"
While going through Tutorial information I was confused on why gql import was not working, having just installed 2.0 on a new project.  I finally realized that many of the most prominent articles online are not correct or complete.

I'd strongly suggest either updating the Tutorials with the new imports and client construction (which may be all that's necessary), or point at the top of each to the

[2017-11-03 19:42] farskid commented on #108
I confirm downgrading `react-apollo` from version 2 to 1.4 solved my problem.

[2017-11-03 19:56] 2WheelCoder commented on #2460
This has been discussed across a couple of other issues here and in apollo-link, notably https://github.com/apollographql/apollo-link/issues/125. I think there's some good momentum to get an offline cache solution going for Apollo 2 and I believe @danieljvdm may be opening a PR. I think other features like queueing requests are probably more suited to an apollo-link alternative or middleware/after

[2017-11-03 19:59] danieljvdm commented on #2450
Wouldn't an easier workaround be simply `client.cache.readQuery`?

[2017-11-03 20:09] Goluis commented on #2450
it's the same as the result of `this.initProxy()` so yes, you'll need to pass `true` as the second prop to query in the optimistic results too

[2017-11-03 20:48] #2181 closed

[2017-11-04 02:23] xcv58 commented on #2444
I also have the similar issue.

My app needs some global states shared by multiple components. I can treat Apollo client itself as a key in my Redux store previously. I have no idea how to do the similar trick in 2.0.

[2017-11-04 17:06] nenti commented on #2444
Can you give an example for how you used the apollo state in your components? Because normally you don't access apollo state directly but through binding a query to it. This is still possible.

[2017-11-05 05:29] xcv58 commented on #2444
Thanks @nenti

We used to query all data of one type and it needs to be accessible across different components, i.e. autocomplete component, search component, select target component. It's fine because this data wouldn't change often (at most once per day) and relatively small (less than 2kb).

So previously we can directly access the data in all components by `connect`, `mapStateToProps` of `reac

[2017-11-05 09:02] ahmadalli commented on #2047
I'm getting typescript error saying that `Type '{}' is not assignable to type 'Headers | string[][]'.
  Type '{}' is not assignable to type 'string[][]'.`

[2017-11-05 10:23] nenti commented on #2444
I had the same issue. But don't pattern of saving the data into a separate redux store. You can add cacheResolvers in your InMemoryCache like the following:
[code]

And that's it. Now you access cache directly. It's ofc also possible to configure your query to request cache only to optimise network traffic.

[2017-11-05 13:24] xcv58 commented on #2444
@nenti I understand that your cacheResolvers would resolve a product from cache. But could you confirm that it would also cache for products query without args.

In other words, if I need to query a query like this:
[code]

Is this possible by using any apollo utilities helpers? Thank you so much!

[2017-11-05 13:34] e346m opened #2483 "docs: Migrating from 1.0 > Installation > Custom configuration > after"
This doc seems to have an unnecessary line because example code doesn't use ApolloLink.

https://github.com/apollographql/apollo-client/blame/c500fcd83b357165872a3761e894624877b89708/docs/source/2.0-migration.md#L136

https://www.apollographql.com/docs/react/2.0-migration.html#full

[2017-11-05 14:11] ceferrari commented on #2061
+1

[2017-11-05 14:12] nenti commented on #2444
Where does the data come from? If you request once it is automatically cached, even without cacheResolvers. So you would just integrate the HOC where you need the data and if it is a cachehit you will get the data immediately.

[2017-11-05 14:34] xcv58 commented on #2444
Let me double check and get back to you.

[2017-11-05 15:39] xcv58 commented on #2444
I have codes like this:

### Apollo client
[code]

### Components
[code]

But there are still two fetch connections:

![image](https://user-images.githubusercontent.com/503123/32416331-77ca41ca-c1fc-11e7-820f-0a7e131542c8.png)

[2017-11-05 15:48] nenti commented on #2444
Hmmm. Can you check your fetchPolicy please: https://www.apollographql.com/docs/react/basics/queries.html#graphql-config-options-fetchPolicy

Try setting cache-only on your 2nd request:
[code]

See if there is still a 2nd fetch. I suppose you see this behavior in your test setup because the first query has no result yet when the 2nd is started so there is no cache hit. To cover this usecase you ne

[2017-11-05 16:12] xcv58 commented on #2444
I move the second `<GraphQLTest />` to another lazy load component and get no 2nd request. It works without configuring `fetchPolicy` or `queryDeduplication`

But sometimes I have to render something at the same level:
[code]

Both `Search` and `ProjectList` needs the products query.

I did try use `queryDeduplication: true|flase` and `fetchPolicy: 'cache-only'`. It does have 2nd request regardles

[2017-11-05 16:15] nenti commented on #2444
No sorry. Regarding to the docs queryDeduplication works by default. Should open another bug ticket after searching for others having this problem.

[2017-11-05 16:24] xcv58 commented on #2444
Thank you very much @nenti

[2017-11-05 16:27] lancygoyal commented on #2444
Folks, i am using redux persist package to save store data in react native AsyncStorage. Hows i do this now? Any idea?

[2017-11-05 22:47] cesarsolorzano commented on #2428
If returning the `data` property directly is intentional, it should be better documented. Everyone using `subscribeToMore` will have to change their code when they migrate to Apollo 2.0.

[2017-11-06 02:58] raysuelzer commented on #2272
This still appears to be broken.  cache-and-network always returns 'undefined' for data.

[2017-11-06 06:15] migueloller opened #2484 "Documentation for custom cache implementations"
Hi there! 👋

I was wondering if there was a plan to document the API for custom cache implementations.

As a huge fan of Apollo and happy user of 1.0, I can't wait to migrate to 2.0 and take advantage of all the awesome new features. Unfortunately, I won't be able to do that until there's a cache implementation with Redux.

Where would be the best place to start learning about the contract needed

[2017-11-06 08:28] glasser commented on #2402
Somebody set up https://s3.amazonaws.com/apollo-docs-1.x/index.html which is awesome!

[2017-11-06 09:01] PtwHub commented on #2291
OK, closing. May be an unnecessary complication in the graphQL spec if it allowing a mixture of valid representations. Better would be to permit one universally valid representation, but not a mixture as follows:

{
  "operationName": null,
  "variables": "{}",
  "query": "{\n hero {\n name\n friends {\n id\n name\n}\n}\n}\n"
}

[2017-11-06 09:01] #2291 closed

[2017-11-06 13:23] cpotemski commented on #1965
I am declaring an empty variable for the store and use this variable in my afterware...
[code]

... and fill it afterwards
[code]

So this works fine, because the first network-request ist after the initialization.
It's not the best way, but a good workaround.

Complete code: https://github.com/cpotemski/aquata/blob/4a87f50882af6a9ee9fb2380a268c3e947a7a957/client/src/index.js

I hope that helps ;)

[2017-11-06 13:39] sondremare opened #2489 "Persistent data / Immutability"
**Intended outcome:**

I have a chat app that shows messages in a view. We are using react-native with their FlatList implementation. If I send a new message it will be added to the list of messages in apollo store via fragment/query updaters. I expect it to be the only message that has changed in store. Thus only (re)-rendering that item.

**Actual outcome:**
After the message is added to apollo

[2017-11-06 13:46] csgsky commented on #1865
Apollo Client 2.0 also having this issue .

[2017-11-06 14:02] jbaxleyiii commented on #2489
@sondremare I don't know if this is fixed in the 2.0 though @jamesreggio has done some great work in ensuring ref equality. If not, can you upgrade, then create a small sample app with the incorrect behavior so I can write a test and fix it!

Thanks so much!

[2017-11-06 14:03] jbaxleyiii commented on #2402
@glasser @stubailo thoughts on what we should do with the 1.0 docs? Should we link to ^^ or set it up ourselves? Where should we show that?

[2017-11-06 14:05] jbaxleyiii commented on #2484
@migueloller we absolutely are planning on documenting it 🎉 @kamilkisiela has even started work on an rx-js variant of the InMemoryCache that we should be able to adapt as a guide for redux integration.

I am curious, why is the cache being in redux a blocker for you?

[2017-11-06 14:10] jbaxleyiii commented on #2428
Looking at the olds docs (https://s3.amazonaws.com/apollo-docs-1.x/subscriptions.html#subscribe-to-more) `subscribeToMore` should return `{ data, errors }`. Therefore I think this was a bug that I introduced in the 2.0 and should be fixed as such!

If anyone wants to open a PR I'd be thrilled to review and merge, otherwise I will add it to my list for this week.

Thanks to @dnalborczyk , @DxCx and

[2017-11-06 14:11] sondremare commented on #2489
@jbaxleyiii Do you have a test-project with a mocked graphql backend that I can base it on?

[2017-11-06 14:11] jbaxleyiii commented on #2483
@e346m would you be able to open a PR removing it?

[2017-11-06 14:14] jbaxleyiii commented on #2450
@danieljvdm definitely not intentional at all! There is a PR open [here](https://github.com/apollographql/apollo-client/pull/2429) to renable this, if its not worked on early this week I will add it to my work and make this adjustment!

Would you be able to share some sample code that is now broken, write a failing test, or create a reproduction for me to verify the change?

Sorry for any inconven

[2017-11-06 14:17] jbaxleyiii commented on #2460
@ralphchristianeclipse we definitely want to have great offline support! Its one of the big reasons for the new architecture of the 2.0 🎉

That issue that @2WheelCoder is a great starting point, but we can also have a discussion around features here for everyone to chime in (this repo has higher traffic)

@2WheelCoder I'd prefer that any offline tooling work across cache implementations so maybe i

[2017-11-06 14:18] jbaxleyiii commented on #2477
@lukecwilliams I see that you fixed a number of these in the docs 👏 thanks so much! I'll update the article as well!

[2017-11-06 14:18] #2477 closed

[2017-11-06 14:20] jbaxleyiii commented on #2464
@xpol this should work as you have it written! I think we could probably add a test to verify its not mutated though!

And yes documentation would be great for this is if you can!

[2017-11-06 14:24] #2432 closed

[2017-11-06 14:24] jbaxleyiii commented on #1564
@sarora2073 you can disable adding `__typename` on when creating a cache, though I don't recommend it as it makes the cache less reactive and fragments are much harder.

One option would be to use an `omit` function like the one [lodash provides](https://lodash.com/docs#omit) to `const data = omit(changed, ['__typename'])` to clean the fields

[2017-11-06 14:26] jbaxleyiii commented on #2469
@zach-is-my-name can you try updating to the 2.0 and seeing if this is still a bug? We fixed a couple of causes of this

[2017-11-06 14:26] jbaxleyiii commented on #2468
@MrCheater what do you mean?

[2017-11-06 14:28] jbaxleyiii commented on #2051
@odero thank you for providing this code! Would you also add a block of how you think it *should* work? Then we can write it as a test case and work to improve!

[2017-11-06 14:28] jbaxleyiii commented on #2294
@alexthewilde can you see if this is still an issue for you with the latest version?

[2017-11-06 14:30] jbaxleyiii commented on #2463
@manbropig that's no good! We have tests for this but if you are seeing the issue we clearly aren't testing everything! I'll see about improving those tests, but would you be able to create a reproduction of this?

We have a [template](https://github.com/apollographql/react-apollo-error-template) to make creating these easier

[2017-11-06 14:31] jbaxleyiii commented on #2461
@makamekm what link are you using? What versions?

[2017-11-06 14:33] jbaxleyiii commented on #2212
Looks like someone took a stab at it [here](https://github.com/apollographql/react-apollo/pull/1319) which I'm working to release asap! Hopefully it fixes these issues!

[2017-11-06 14:34] jbaxleyiii commented on #2262
@jay1337 sorry about that! I forgot to add the label to keep this open as an area of improvement!

[2017-11-06 14:35] jbaxleyiii commented on #2290
@Rusfighter the 2.0 should help as it has a much more performant store, but I think there are still changes we can make to improve this!

Can you update and see how it performs?

[2017-11-06 14:36] jbaxleyiii commented on #2453
@rafrex this was definitely not intentional! Would you be able to create a small reproduction so I can fix this for you!

[2017-11-06 14:37] jbaxleyiii commented on #2287
@Ayc0 with the 2.0 we no longer export everything all together. We will be working on adding back flow type support for the 2.0 soon and will make sure it is as good of an experience as we can!

[2017-11-06 14:37] #2287 closed

[2017-11-06 14:39] jbaxleyiii commented on #2452
@qswitcher sadly I'm not sure how much help I'll be here but hopefully somebody with webpack knowledge can jump in an help!

[2017-11-06 15:04] makamekm commented on #2461
"apollo-link": "1.0.0"

[2017-11-06 15:12] makamekm opened #2490 "Apollo GraphQL doesn't use new variables after refetching!"
Again... GraphQL doesn't use new variables after refetching.
[code]
`symbols` are always the same.

This is a duplication of an issue: [Issue](https://github.com/apollographql/react-apollo/issues/1321)

[2017-11-06 15:13] makamekm commented on #2469
I use v2. And I have the same issue.

[2017-11-06 15:20] odero commented on #2051
@jbaxleyiii Here's a _how it should work_, based on my previous comment

**How it currently works**
- if a variable is optional you have to give it an initial value e.g. empty string for `String` and `ID` types.

**Expected:**
- the queries should accept nulls in case optional params are not provided

Example, given that `after` is an optional cursor variable, then both queries below would return

[2017-11-06 15:24] jbaxleyiii opened #2492 "Unify error returning naming"
Currently we use `graphQLErrors` and `networkError` in things like apollo-link-error and internally, however we return them both as `error` on things like `currentResult()`

I think we should start to return these errors as separate keys from the currentResult call and can make it backwards compat by keeping the current `error`. Long term I'm not sure if we should remove `error` as it is a way of

[2017-11-06 15:35] hillct opened #2493 "Package Apollo-Client-Preset has missing dependencies"
When attempting to setup an initial apollo-client and react application using apollo-client-preset, I followed documentation found in README.md from the NPM as published in the npmjs.com repository https://www.npmjs.com/package/apollo-client-preset currently at v1.0.1
 which states in part:

Use create-react-app then yarn add apollo-client-preset and replace below code for index.js

then provides

[2017-11-06 15:47] sondremare commented on #2489
@jbaxleyiii I have created a reproduction for the 1.4.2 version of apollo-client: https://github.com/sondremare/apollo-immutable/tree/apollo-v1.4.2

I have also tried to reproduce for v2 of apollo, but nothing happens when I do a writeQuery to the store. This code is located on master https://github.com/sondremare/apollo-immutable/tree/master.
Has writeQuery been removed? I went through the docume

[2017-11-06 15:52] e346m commented on #2483
@jbaxleyiii Sure 👍

[2017-11-06 16:03] danieljvdm commented on #2460
@jbaxleyiii I think in order for offline to work across cache implementations we need a cache listener (to know when the store updates, in order to persist) on the top level api. Do you agree with this? If so I can probably get started on a PR for that.

[2017-11-06 16:05] sarora2073 commented on #1564
Thanks @jbaxleyiii. Did a quick search and am guessing the way to do this is by modifying the dataIdFromObject constructor perhaps?

Found some general docs here but nothing specific to how:
https://www.apollographql.com/docs/angular/cache-updates.html

Anyhow, I'll defer to the others on this thread that wanted to revive the matter to dive further as it's not a burning issue for me personally at

[2017-11-06 19:11] jamesreggio commented on #2489
Hey @sondremare and @jbaxleyiii — I think this could be related to the problem I reported in #2360 where referential equality is being lost on most resultsets.

@sondremare, my temporary fix is to apply this patch to the `apollo-client` JS bundle directly. Depending on your version, it may not apply cleanly (and it may cause other side effects!), but for now it's getting us by:

[code]

[2017-11-06 19:30] peggyrayzis commented on #2492
This makes a lot of sense! I'm all for it 😀

[2017-11-06 19:42] peggyrayzis commented on #2493
Hi! We mention the extra dependencies in the README for `apollo-client` [here](https://github.com/apollographql/apollo-client#installation). Would you like to send a PR to add additional installation information for the README of `apollo-client-preset`? I can walk you through it if you need help. 😀

[2017-11-06 20:01] jsrandom commented on #1631
I too would like to know if there are better debugging strategies.

I am using ionic with angular apollo client on android emulator:
    "apollo-angular": "^1.0.0-beta.1",
    "apollo-angular-link-http": "^1.0.0-beta.1",
    "apollo-cache-inmemory": "^1.0.0",
    "apollo-client": "^2.0.1",

and apollo-server-express for the server.

Although a wireshark trace of the client/server interaction appea

[2017-11-06 20:04] seeden opened #2496 "[2.0.2] apollo-client returns empty data during mutation | bug"
I am not sure if it is related to apollo-client or react-apollo but I have this issue. During mutation I will get data without cached fields.

Here is steps how to reproduce it
1. I have one component with graphql query which is loading user by his username. It is working great. **data.user contains all information.**
[code]

2. Second component is changing users photo (it has one mutation)
[code]

[2017-11-06 20:39] btroia commented on #2484
@jbaxleyiii I'm in the same boat. I need query persistence for certain queries when a user quits/restarts my app. Previously I was using redux-persist to include Apollo data, but with 2.0 all queries will refetch once each time my app is restarted. Or am I missing something? Thanks.

[2017-11-06 20:53] liz-mars opened #2497 "Mocking with 2.0"
Hi all,

First of all, I love Apollo Client; big thanks to the dev team.

Form responses:

Intended outcome: upgrade from react-apollo 1.2 to 2.0
Actual outcome: I have no idea how to mock anything anymore
How to reproduce the issue: Attempt to find information about mocking with 2.0
Versions: as above

Discursive account:

I've had to upgrade to 2.0 (react-apollo) by the lack of (remaining) docum

[2017-11-06 21:06] manbropig commented on #2463
@jbaxleyiii here is the reproduction https://github.com/manbropig/react-apollo-error-template/tree/gh-pages/bug/no-query-dedup

[2017-11-06 22:26] jamesreggio opened #2499 "fetchMore's updateQuery option receives the wrong variables"
The `updateQuery` method passed to `ObservableQuery.fetchMore` is receiving the original query variables instead of the new variables that it used to fetch more data.

This is problematic not so much because it breaks the `updateQuery` method contract (which is bad, but clearly doesn't seem to impact many people), but rather because when the results from `fetchMore` are written to the store in `wr

[2017-11-06 22:30] jamesreggio commented on #2499
Uploaded repro here: https://github.com/jamesreggio/react-apollo-error-template/tree/repro-2499

[2017-11-06 22:42] xcv58 opened #2500 "The cache doesn't work if multiple GraphQL components rendered in the same level."
The cache doesn't work if multiple GraphQL components rendered in the same level.

**Intended outcome:**
If you have components using the same query, there should be only one request.
[code]

**Actual outcome:**
It actually fires multiple requests.

**How to reproduce the issue:**
I create a repo to reproduce this:
https://build-nhpmxggvzn.now.sh/
![image](https://user-images.githubusercontent.com

[2017-11-06 22:59] jamesreggio commented on #2499
So, my hack above doesn't actually resolve the problem :-/

To be clear, there are two — and possibly three — related issues at play here:

1. `nextResults` has the wrong `variables` — easy to fix.
1. The value returned by the `updateQuery` function is written to the cache with old variables. Perhaps this is okay, and perhaps it's not. I'm worried that if the new variables are used and are differe

[2017-11-06 23:32] migueloller commented on #2484
@jbaxleyiii, awesome! Great to hear that's on the works.

As to why the Redux cache is a blocker, there are a couple of reasons.
- We use tools in the Redux ecosystem to manage various things related to state/side effects, including but not limited to:
  - Tracking errors in a central location and sending them to an error reporting service like Sentry
  - Adding offline functionality using tools l

[2017-11-06 23:44] liz-mars opened #2501 "Describing upgrade to 2.0 from 1.x as simple or quick is not always accurate"
I've recently had to upgrade from 1.2.x to 2.0 and the documentation suggests this is a quick change. While I profoundly appreciate all the hard work that has gone into this product, I also can't help but notice this description of the upgrade path is (sometimes) misleading. It can be a real toothpull if:

- You make extensive use of third-party middleware, which must either now be hacked into the

[2017-11-07 00:27] bkon opened #2503 "Typescript error when compiling a module using apollo-client and apollo-cache-inmemory"
**Intended outcome:**

Successful compilation of the project.

**Actual outcome:**

[code]

**How to reproduce the issue:**
tsconfig.json

[code]

Sample module:
[code]

**Version**
- apollo-client@2.0.2
- apollo-cache-inmemory@^1.1.0
- apollo-cache@^1.0.0

** Possible cause **

apollo-cache defines `ApolloCache` base class with `read` method which cannot miss:
[code]

apollo-cache-inmemory actual

[2017-11-07 00:49] UncleJimmy commented on #1965
@cpotemski Thanks for your reply. I'm using angular+apollo-client+ngrx, it's a little bit different, but I see what you mean, I think it will work with react. ngrx(Redux for angular) doesn't have a createStore function though.

networkInterface even allows me to create middleware in service class constructor, so right now this issue is solved. Thanks again for your code.

Now they have upgraded ap

[2017-11-07 02:38] hillct commented on #2493
For what it's worth, I'd advise you to rethink your approach of adjusting documentation to explain a flaw in a meta-package, which flies in direct opposition to the stated purpose of the meta-package. Either way, it's your project and you can engineer it as you see fit.
   To your other point - while a generous offer - I don't require instruction in the use if Git. Thanks.

[2017-11-07 02:38] #2493 closed

[2017-11-07 02:53] riking commented on #2310
This is still an issue from what I can see.

[2017-11-07 03:30] simontegg commented on #2484
I'm also using redux-persist.
I'm not sure if you consider this bad practice but I also sometimes find it useful to use [reselect](https://github.com/reactjs/reselect) for querying data that depends in apollo's redux cache, rather than write a whole query.

[2017-11-07 05:46] timscott opened #2505 "Documentation for v1?"
Where can I find the documentation for version 1.x.x?

[2017-11-07 07:31] wailorman commented on #248
I've encountered the same issue on react-apollo@1.4.15. I am using old ejected create-react-app (with webpack@1) and do requests through webpack proxy.
All was great before I set `pollInterval`s to  _all_ `@graphql()`-wrapped components. After that, my bundle started randomly crashing or infinitely reloading when I made some changes in files. In Chrome task manager my react app becomes using up to

[2017-11-07 08:27] sondremare commented on #2489
@jamesreggio Tried applying this patch, but still, when I writeQuery with another item, nothing happens rerendering-wise. The new item is never shown. @jbaxleyiii Do you have any idea why nothing happens?

[2017-11-07 09:09] cpotemski commented on #1965
@UncleJimmy Yeah I just upgraded to apollo-client 2.0.0 yesterday and saw they removed redux from apollo. So now I use both in parallel. I will try to remove redux if possible because I only use some redux features. It was a little bit difficult but it works now.

I solved the concat issue this way
[code]
but i think the better way would be
[code]

Here is my current code:
https://github.com/cpote

[2017-11-07 09:18] Billy- commented on #1564
@jbaxleyiii note that omit is not deep, and also that lodash intends to remove omit from the library entirely  [[sic](https://github.com/lodash/lodash/issues/723#issuecomment-340779022)]. This is what I am using at the moment to strip the `__typename` field deeply: https://gist.github.com/Billy-/d94b65998501736bfe6521eadc1ab538

[2017-11-07 10:09] vankop opened #2509 "Redux cache in apollo-client >= 2.x.x"
Will you implement official support for cache in Redux store in apollo-client >= 2.x.x?

For example, if I have react-redux app and I want to time travel between data/loading state for debugging or development reasons using cache in memory will make state of my app inconsistent. So, it will be great if redux cache will have official support.

**Version**
- apollo-client@2.x.x

[2017-11-07 10:32] hwillson commented on #2505
@timscott Try: https://s3.amazonaws.com/apollo-docs-1.x/index.html

[2017-11-07 13:04] sondremare commented on #2489
@jbaxleyiii I have now added the workaround in https://github.com/apollographql/apollo-client/issues/2415 to broadcast changes after writeQuery is performed. The issue is reproducible in apollo-client 2.0.0 as well. Every single item is re-rendered (twice) when I add one item to the list.
Applying @jamesreggio's patch did not work either.

[2017-11-07 13:21] hinok opened #2510 "Store error: the application attempted to write an object with no provided id but the store already contains an id of..."
Hey,
Today in one of my applications I found this issue. I'm not sure if this is a bug or desired behaviour because I couldn't find any information about in documentation.

The fix is quite easy, just add `id` to the `query` without id.

So, should every query has defined `id` for a resource?
It seems to work without `id` but when there will be the next query with defined `id`, this error appears.

[2017-11-07 14:27] javascriptlove commented on #2469
Doesn't this evaluation return false when loading == false?

[code]

[2017-11-07 14:43] MrCheater commented on #2468
@jbaxleyiii
- https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache-inmemory/package.json#L37-L59
- https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache/package.json#L38-L53
- https://github.com/apollographql/apollo-client/blob/master/packages/apollo-client-preset/package.json#L37-L56
- https://github.com/apollographql/apollo-client/blob/maste

[2017-11-07 14:44] ciszak commented on #6
@tonyxiao There is a medium post mentioned in readme: https://dev-blog.apollodata.com/javascript-code-quality-with-free-tools-9a6d80e29f2d Maybe it's the one you're trying to find (if you haven't found it already, as I'm 3 weeks late;).

[2017-11-07 15:36] tackley commented on #2503
Temporary, and unfortunate, workaround is to set `"strictNullChecks": false` 😞

[2017-11-07 15:57] rasdaniil commented on #1564
Thanks @Billy- , I've incorporated your function like this to filter out __typename once and for all:

[code]

[2017-11-07 16:02] tylerjbainbridge commented on #1865
bump

[2017-11-07 16:11] #2245 closed

[2017-11-07 16:22] rhodee commented on #2503
@tackley thank you for the suggestion.

After following the suggestion to set `strictNullChecks` to false. I experience another TypeError:

`'Type 'ApolloClient<NormalizedCacheObject>' is not assignable to type 'ApolloClient<Cache>'`

Below is the client/server code for rendering resulting in the error. The `ApolloClient` is created as stated in the [docs](https://www.apollographql.com/docs/react/

[2017-11-07 16:34] zach-is-my-name commented on #2469
@javascriptlove Those are values from my Redux store...
@makamekm
@jbaxleyiii  thank you, apparently i was stuck in a loop of my own creation...
I resolved by checking query loading state **before** comparing props
...appologies, closing

https://stackoverflow.com/questions/47101258/query-loading-will-not-change-to-true

[2017-11-07 16:34] #2469 closed

[2017-11-07 17:43] donaldpipowitch commented on #2503
For now you can also set `skipLibCheck` to `true`. Might be better for this issue.

[2017-11-07 18:29] bdombro commented on #2457
Got it working, thanks for the help. I had a hell of a time trying to get the Expo Snack working locally, especially since I could not extract or locate a working package.json. Maybe we should add an example with complete source? Here is mine fyi: https://github.com/benevolenttech/react-apollo2-examples/tree/Native

[2017-11-07 19:23] rhodee commented on #2503
@donaldpipowitch still seeing the error. Webpack emits

[code]

[2017-11-07 19:28] kavink opened #2511 "How pass a field from one request's response to another in Compose"
Looking at docs  seems like I should be able to use```options.context``` to pass information in the chain of Compose requests. But I am unable to find example on how to do it for chaining queries. I can see how we can do it in chaining links: https://www.apollographql.com/docs/link/overview.html#context
 but not how to do it in queries.

from: https://www.apollographql.com/docs/react/basics/querie

[2017-11-07 19:45] JakeDawkins commented on #2500
@xcv58 Have you checked out the dedup link? I think it solves what you're asking. Two identical requests happening at the same time? https://github.com/apollographql/apollo-link/tree/master/packages/apollo-link-dedup

[2017-11-07 22:02] larryranches commented on #1552
Is there any best practice on resetStore() on logout since then? I also had the idea that resetStore() would reset my store and not refetch queries again like I'm seeing today.

[2017-11-07 22:48] Dygerati commented on #2302
Any updates on this?

[2017-11-07 22:56] Wenzil commented on #2391
Query deduplication not working with `HttpLink` either

[2017-11-07 23:28] jaydenseric opened #2512 "apollo-cache-inmemory v1 -> v1.1 breaks interfaces"
After updating, interface fragments do not appear in data.

[2017-11-07 23:43] obartra commented on #2412
Hey @jbaxleyiii, not to nag you but if you can give me some direction on the issues ^ I can get started with some test cases

[2017-11-07 23:53] Wenzil commented on #2503
Yeah, same error here

[2017-11-07 23:56] Wenzil commented on #2503
The issue seems to be that the `Cache` type parameter isn't declared anywhere in react-apollo's type definitions

[2017-11-08 00:27] Wenzil commented on #2463
@jbaxleyiii Can you give us ETA on when we can expect a fix?

Asking because it will factor into whether we will include the migration to v2 in our next app release

[2017-11-08 00:43] msmfsd commented on #2490
Bump, here is what happens on v2 only:
[code]

[2017-11-08 04:26] msmfsd opened #2513 "2.0 not clearing error after refetch"
**Intended outcome:**
data.error should be cleared after successful refetch.

**Actual outcome:**
after error a successful refetch does not clear the error.
(In fact I dont think query data is set to undefined on error either, it also retains previous response if there was one. Not sure if that caching and is possibly expected on network-only calls?)

**How to reproduce the issue:**
[code]

**Vers

[2017-11-08 10:10] ecerroni opened #2514 "empty headers in in afterware link"
**Intended outcome:**

I'm setting a custom header on the response I'm supposed being able to access in the afterware link

**Actual outcome:**

The headers object is empty

**How to reproduce the issue:**

Some context:
I have a custom header in response visible in network tab but not in the response object.

I know that the custom header is stripped away by the browser as this is a CORS request

[2017-11-08 13:13] helios1138 opened #2517 "is it possible to force querying of id field?"
is it possible to force apollo to query `id` field for all objects?
e.g. I almost never want `id` in components, but it is necessary for denormalization and caching so I have to manually add it everywhere

[2017-11-08 14:26] tzimmermann opened #2518 "Stripped @connection directive breaks MockedProvider"
**Intended outcome:**
I have a test that uses a `MockedProvider` to test a given GraphQL query. This test was running smoothly with `apollo@1.9.1`, but broke once we migrated to `2.0.2`. This is the query we are testing:
[code]

**Actual outcome:**
We get this error:
`Error: Network error: No more mocked responses for the query: query WidgetData($id: ID!, $parameter: JSON) {
    widgetData(id: $id

[2017-11-08 16:35] jonmanzo commented on #899
This is how I handled the use case of removing an obj from multiple caches and unshifting it onto multiple other caches.

the mutation...
[code]

Used in Update Queries...
[code]

Used in update
[code]

I have a removeItemFromQuery helper which is nearly identical to unshiftItemToQuery.  Created the helpers and use the "self" const etc. as we have (right now) 20+ mutations this can run on and dupl

[2017-11-08 17:12] Rusfighter commented on #2290
I didn't test it yet with 2.0. However I implemented a function that write to the store only once x seconds on new sub event.

[code]

One thing to mention, i think the performance is really depended on the deep of the nested object you update.

[2017-11-08 17:39] evangow opened #2520 "Form submit button in sibling component"
It's unclear how to insert data into the local cache then send that data with a mutation from another component in Apollo Client 2

Use case: I have a "submit" button in the navbar and a form for creating an item (let's call it ItemCreate). The navbar and form are rendered by react-router v4 with Route components and the ItemCreate is wrapped by a PrivateRoute component to handle authorization.

W

[2017-11-08 19:27] glasser opened #2522 "docs: broken links, missing info in mutation update docs"
A few issues with https://www.apollographql.com/docs/react/basics/mutations.html#graphql-mutation-options-update (options.update section):

- [ ] All DataProxy links are broken
- [x] The "Apollo Client technical documentation on the subject" link is broken
- [ ] I believe the semantics of this function is that it is called twice if optimisticResponse is provided and once otherwise, but the docs do

[2017-11-08 19:31] glasser commented on #2522
Also scrolling up a bit "be sure to read the recipe on Optimistic UI" is also a broken link.

[2017-11-08 19:35] glasser commented on #2522
Also another thing that's not clear to me: is it the case that any changes written during an optimistic call to `update` are automatically reverted when the mutation is done? (I think that's true and if so then that's good.) If so that should be explicit.

[2017-11-08 20:22] glasser commented on #2522
Also it might be nice to document that if you want to do custom writes optimistically that aren't part of the data returned by the mutation (eg, if you want to set some apollo-link-state state) then you can pass `optimisticResponse: {}` to trigger the optimistic writing stage without otherwise messing anything up.

[2017-11-08 20:25] glasser opened #2523 "Allow mutation update callback to know that it's being called optimistically"
The mutation `update` callback can be called twice: once with optimistic data, once with the actual mutation result.

You should be able to tell the difference. Perhaps just add a bool `isOptimistic` next to `data` in the second argument.

One use case is to add an in-flight indicator to the cache while the mutation is in flight.

[2017-11-08 22:19] n1ru4l commented on #2497
Does this help you? https://github.com/apollographql/react-apollo-error-template/tree/b1c8e690ddec5d6a0f2723c2a705ff6913566ee4/src/graphql

[2017-11-08 22:31] glasser opened #2524 "docs: 'props' option to queries not documented"
I don't see explicit documentation of `props` in https://www.apollographql.com/docs/react/basics/queries.html

[2017-11-08 23:20] liz-mars commented on #2497
Yes, that helps enormously. Looking forward to the docs still, though :) ...and of course the update from Storybook. I'll send this their way.

[2017-11-09 01:56] Panoplos commented on #2509
Yes! It is terrible that this was not supported in release of 2.0, as I have several breaks that are hard to track now. Stuff that worked in 1.x now has odd behaviour in 2.0 and no way to see how or what is updated.

[2017-11-09 01:59] dobesv opened #2526 "Watcher stores DiffResult instead of ApolloQueryResult into query's newData"
I've been having this problem where the data is sometimes missing for a component during a react update.

After much debugging, I think I have found the cause.  I'm not sure how to reproduce it quite yet, since I'm still learning the working of apollo-client.

I first realized something was wrong when looking in the debugger here:

https://github.com/apollographql/apollo-client/blob/master/package

[2017-11-09 02:05] dobesv commented on #2526
See also https://github.com/apollographql/apollo-client/commit/69fcfcc762be8fc055cd8a5fb3dc75b48ace1adb

[2017-11-09 02:07] dobesv commented on #2526
https://github.com/apollographql/apollo-client/commit/69fcfcc762be8fc055cd8a5fb3dc75b48ace1adb#commitcomment-25497374

[2017-11-09 02:29] Panoplos commented on #2501
Agree. This was not a trivial upgrade. I have a special network interface that uses Socket Cluster that required a complete rewrite around Link, and the docs did not help at all with this. I had to look at the default implementations' code for guides.

Also, discarding Redux has introduced several new issues with race conditions that are hard to debug due to lack of visibility in the form of state

[2017-11-09 04:09] argallo commented on #1564
@rasdaniil I tried this but got `Cannot delete property '__typename' of #<Object>`

`products: {
                            basketProducts: omitDeep(Object.assign({}, this.props.basketProducts), '__typename')
                        }`

[2017-11-09 04:35] pycraft114 commented on #2441
@jbaxleyiii how do i set custom headers?

[2017-11-09 05:45] msmfsd commented on #2513
BTW I have options set to `fetchPolicy: network-only`

[2017-11-09 07:32] msmfsd commented on #2522
Another link that appears to be broken is the `cache docs` link: https://www.apollographql.com/docs/react/basics/basics/cache.html

The link comes from `https://www.apollographql.com/docs/react/basics/setup.html#ApolloClient`

[2017-11-09 07:39] dobesv commented on #2526
Despite my best efforts I cannot create a simple reproduction for this, it seems like you have to have some sequence of events occur to get the issue I am having, and I don't know what that sequence of steps is.  Anyway, the information above I think does reveal some kind of type mismatch.  Also of interesting is that at https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cl

[2017-11-09 08:11] pycraft114 commented on #2441
@jbaxleyiii
[code]
why wouldn't this work at all?

[2017-11-09 10:19] mikberg commented on #2503
This seems to work together with `skipLibCheck: true`.

[code]

[2017-11-09 11:53] prybalko opened #2533 "fetchMore after being offline"
This issue ticket branched off from #1413

**Intended outcome:**
`fetchMore` failing for follow up requests after encountering network errors

**Actual outcome:**
`fetchMore` should work after being offline

**How to reproduce the issue:**
https://github.com/sreucherand/react-apollo-error-template

1. Turn off network
1. Try to Fetch more. See the error
1. Turn on network
1. Try to Fetch more agai

[2017-11-09 11:57] beornborn opened #2534 "Can't modify response with afterware"
I am trying to modify response data following this guide https://github.com/apollographql/apollo-client/blob/master/Upgrade.md#afterware-data-manipulation

Apollo client config
[code]

saga

[code]

console:

[code]

problem:
status key is present in afterware but absent in saga

minimal example to reproduce  https://github.com/beornborn/apollo-client-2-response-issue

**Version**
- apollo-client@

[2017-11-09 15:33] rzane commented on #2463
I am definitely seeing this bug.

[2017-11-09 17:48] lancygoyal commented on #2509
Its a much needed feature for react developer's.

[2017-11-09 18:19] franceindia commented on #2460
👍+1 on this.

[2017-11-09 18:44] Thr1ve commented on #2514
I ran into this issue as well and found that I had to get the context after `forward(operation).map` in order for the correct response object with headers to be available.

Afterware code:
[code]

[2017-11-09 19:47] vankop commented on #2509
@Panoplos Actually you can access cache directly by `window.__APOLLO_CLIENT__.cache`, in my post I point on much more big problem as app state inconsistency, that makes your app depending on 2 states redux and apollo cache state

[2017-11-09 21:32] SkReD commented on #2489
@jamesreggio This patch is introduce another problem with situation, when data, that query depends on, is modified while observableQuery is recycled during react component unmount. In recycled state it stops listening all broadcastQueries events, but stil contains all of instance properties, such as `lastResult` and `lastVariables`. Then, when component mounts again, this observableQuery is reused

[2017-11-09 21:36] jamesreggio commented on #2489
@SkReD, which version of `apollo-client` are you using?

I encountered a problem like the one you described (#2196), but @jbaxleyiii resolved it about a month ago. If you are still experiencing it on `apollo-client` 2.0.1, you should file another issue with a repro app. (They've made repros a lot easier with a template here: https://github.com/apollographql/react-apollo-error-template)

[2017-11-09 21:37] jamesreggio commented on #2489
Also worth noting to all interest parties: my patch is **not** safe for production code. The only thing I'd use it for is to see if you're experiencing the problem I've filed over in #2360.

[2017-11-09 22:31] sharonswli commented on #2273
Any updates on when/if a apollo-cache-redux integration will be available as a package in the near future? Is this something on Apollo's roadmap or is currently being worked on? If not, can we at least have some documentation on how to integrate our own custom store implementations?

I understand the decision to move away from the Redux dependency to open up more options on customizing our cache w

[2017-11-09 23:59] glasser commented on #2524
Oh I see it's in https://www.apollographql.com/docs/react/basics/queries.html#graphql-props-option but not in the API section. Still confusing.

[2017-11-10 00:01] glasser commented on #2524
(Specifically, I got confused that the props callback has ownProps but other things like options or skip just get the props directly.)

[2017-11-10 01:51] Panoplos commented on #2509
@vankop My point was that with Redux you can clearly see what updates/queries happen and when, conveniently seeing past states, etc. This is all lost with memory cache, unless I console.log everything out, which is terrible. Yes, I also agree with you that two app states is a bad idea.

[2017-11-10 02:32] pycraft114 opened #2539 "Cannot set property 'networkStatus' of undefined error occurs when fetchMore gets called"
**Intended outcome:**

I'm trying to use fetchMore function that is described at your documentation. link : https://www.apollographql.com/docs/angular/recipes/pagination.html#fetch-more

below is the actual code :
[code]
but when fetchMore gets invoked, "Cannot set property 'networkStatus' of undefined" error occurs.

ps. After the 2.0.0 releases your documentations are very unstable .Inside the e

[2017-11-10 03:09] sharonswli commented on #2505
@hwillson Thanks for the link. Although it appears only the React-Apollo section is working and all other sections just link me back to the 2.0 docs.

Releasing the full v1 docs would be much appreciated, considering many of us are stuck in 1.0 for the time being.

[2017-11-10 06:55] SkReD commented on #2489
@jamesreggio apollo-client version 2.0.2. This issue happen only with checking `this.lastVariables` and `this.variables`. Because without it `this.lastResult` is never used and output is always recalculated and so it is always actual.

[2017-11-10 07:23] vidyakhadsareibm commented on #51
@oliverjamI am facing the exact same issue you mentioned. @stubailo  do you have any updates?

[2017-11-10 09:50] ecerroni commented on #2514
@Thr1ve You save my day! Although I was looking in that direction I wasn't able to get it right.

Thanks a lot :+1:

Now I'm just wondering if that's the way it was supposed to be. In the Context section of the readme it's written:
[code]
Now that you've post it I have to say that it reassembles your code example although it wasn't so obvious to me.

[2017-11-10 10:37] wojcikiewiczm commented on #1622
+1

[2017-11-10 10:44] arendjr commented on #2509
I too am hoping for an official `apollo-cache-redux` package. For me, the fact that Apollo used Redux internally was one of the main reasons I adopted it in the first place. I am currently migrating a large codebase towards both Redux and GraphQL and it is easy to see how Apollo was an excellent fit there... but with version 2 no more.

I was even contemplating whether I could create a "bug record

[2017-11-10 12:23] VladShcherbin commented on #2096
@jbaxleyiii here is the error object contents:

[code]

In order to get normal raw message I need to use `graphQLErrors[0].message`. I would like to use just `message` property.

[2017-11-10 15:32] michaelknoch commented on #2509
What was the reason to drop redux? Maybe the inmemoryCache is much more performant than the old redux cache was?

[2017-11-10 16:25] michaelknoch opened #2542 "can't find variable self when using apollo 2.0 with react-native"
I tried to upgrade apollo inside a react native project from 1.x to 2.0 but i ran into a redbox error.

**Intended outcome:**
The app should normally render

**Actual outcome:**
The app breaks with a redbox which says: `"cant find variable self" in fetch-npm-browserify.js`

<img width="432" alt="screen shot 2017-11-10 at 17 26 07" src="https://user-images.githubusercontent.com/5617793/32667868-451

[2017-11-10 16:44] SkReD commented on #2509
Think this is related to #2484

[2017-11-10 16:57] lancygoyal commented on #2484
GraphQL + Apollo + Redux + React = 😊

[2017-11-10 20:53] jay1337 commented on #2359
Hey !

[2017-11-11 03:54] Panoplos commented on #2509
@michaelknoch Documents related to this state that moving away from Redux gives them more "flexibility", but I wonder if it would have been better to discuss with the community before foisting this one on us. :-D It may have also been the case that apps/frameworks that do not utilise redux were keeping adoption down? It certainly is better to have a more abstract interface to a store, but probably

[2017-11-11 19:47] miguelocarvajal commented on #439
@igrayson +1 if you could share some implementation code

[2017-11-12 14:09] gilesbradshaw commented on #1025
To prevent out of order problems (eg subscription results arriving before and being overwritten by out of data query results) imo you are best off running everything over a websocket.

Then this pull request

https://github.com/apollographql/apollo-link/pull/235

* makes a callback for subscription status change
* automatically re executes queries when the ws connection reconnects

[2017-11-12 16:21] gilesbradshaw commented on #1413
this pr might help - using it the current queries automatically refetch when the websocket reconnects...

https://github.com/apollographql/apollo-link/pull/235

[2017-11-12 16:53] malexandre commented on #2463
I'm also having this problem. I'm currently trying to switch to apollo-client 2 on my company main project, but I can't until this is fixed.

[2017-11-12 19:47] human-a opened #2550 "Using SSR + setContext + createHttpLink results in empty initialState"
**Intended outcome:**
I am using Apollo with NextJS to get SSR on my app. I followed the instructions on this [example](https://github.com/zeit/next.js/tree/canary/examples/with-apollo) and this [example](https://github.com/zeit/next.js/tree/canary/examples/with-apollo-auth) to add Apollo to Next.js

Everything was working fine until I upgraded to Apollo Data 2.x following the instructions found o

[2017-11-12 21:21] SkReD commented on #1622
@jbaxleyiii Looks like i fill issue with same problem in [react-apollo issue](https://github.com/apollographql/react-apollo/issues/1336). I put investigation result and reproduction steps in last sections of bugreport

[2017-11-12 23:31] Rogant commented on #529
I have the same bug with Express and React

[2017-11-12 23:35] corydeppen commented on #2512
The return type of the `read` method in [`InMemoryCache`](https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache-inmemory/src/inMemoryCache.ts#L76) (`T | null`) doesn't match the signature in [ApolloCache](https://github.com/apollographql/apollo-client/blob/master/packages/apollo-cache/src/cache.ts#L11) (`T`). If `null` is truly a valid return type for this method, it loo

[2017-11-12 23:41] corydeppen commented on #2512
Actually, this appears to be a duplicate of #2503.

[2017-11-12 23:48] corydeppen commented on #2503
While the return type of the `read` method in the base class is still an issue, I think the issue related to `ApolloProvider` should be resolved by apollographql/react-apollo#1299.

[2017-11-13 05:11] andy-mcdonald commented on #2368
I was seeing the happen intermittently (within the same session) and thought it may be some sort of race condition, so I added a delay to the resolver and now the optimistic entry is failing to clear every time.

@mitjade - did you manage to resolve the issue?

[2017-11-13 06:15] mitjade commented on #2368
@andy-mcdonald No still facing this issue. The problem for me is, that I am doing `updateQueries` on the mutation and `updateQuery` on the `subscribeToMore`, similarly as it is done in `apollographql/GitHunt-React` example. If `updateQuery` is triggered before mutation `updateQueries`, this problem occurs, otherwise if `updateQueries` on the mutation gets called first all is ok.

I got no response

[2017-11-13 06:44] andy-mcdonald commented on #2368
@mitjade - So I'm using `update` on the mutation instead of ([the soon to be deprecated](https://www.apollographql.com/docs/react/features/cache-updates.html#updateQueries)) `updateQueries` but I'm seeing the exact same behavior as you described.

I'm surprised this hasn't had a response given how detailed your initial description was so thorough.

[2017-11-13 06:47] mitjade commented on #2368
@andy-mcdonald I tried `update` as well. Same result. I am using `updateQueries`, because I can reuse the `add` logic for both `updateQueries` and `updateQuery` in `subscribeToMore`, since they do not offer `update` functionality on subscriptions.

[2017-11-13 10:51] sheerun commented on #2369
@apollographql Could you please configure your bot so it doesn't close issues when it's you who didn't answer, not the creator of the issue?

[2017-11-13 11:39] michaelknoch commented on #1419
is it still possible to use apollo.networkinterface directly with apollo 2.0?
@rrhvella

[2017-11-13 12:08] rrhvella commented on #1419
@michaelknoch
I actually switched to using apollo-link directly: http://apollo-link-docs.netlify.com/docs/link/

[2017-11-13 12:23] michaelknoch commented on #1419
can u explain this a bit more or provide a small example? This would be awesome @rrhvella

[2017-11-13 15:19] jbaxleyiii commented on #2550
@human-a where is initial state coming from? Is there a chance that your setContextLink is throwing? Could you create a reproduction for me to test and verify the bug?

[2017-11-13 15:19] jbaxleyiii commented on #2539
@pycraft114 could you create a reproduction for this to help me isolate what is not working?

[2017-11-13 15:21] jbaxleyiii commented on #2534
@beornborn hmm I would have expected that to work. However, does your query have a `status` field? If not it may be stripped by apollo-client's store interactions on queries

[2017-11-13 15:21] jbaxleyiii commented on #2533
@prybalko have you tried out the 2.0?

[2017-11-13 15:22] jbaxleyiii commented on #2526
@dobesv thank you for the detailed investigation! I'll take a look and see if I can reproduce!

[2017-11-13 15:22] jbaxleyiii commented on #2520
@evangow if you are wanting to store data in redux to use it within an operation, then create a reducer / action / dispatcher for redux to save the form data into the redux store, then use something like `react-redux` to pull it out of the store for use in a mutation.

Apollo no longer uses redux under the hood. If you are wanting to manage all state in apollo, checkout [apollo-link-state](https:/

[2017-11-13 15:22] #2520 closed

[2017-11-13 15:24] jbaxleyiii commented on #2518
@tzimmermann interesting! We strip `@connection` because it is a client side only directive, but the MockedProvider should do the same 👍

I'll take a look! Thanks for the issue report

[2017-11-13 15:27] jbaxleyiii commented on #2517
@helios1138 unfortunately, this is not something that we want to do with Apollo Client as it would enforce a schema requirement for usage.

That being said, I think there are a couple places where this *could* be done.
1. a helper function that wraps `gql` calls when creating the AST could add `id`
2. a fork of the InMemoryCache that adds it to all operations using the `transformDocument` method o

[2017-11-13 15:27] #2517 closed

[2017-11-13 15:28] jbaxleyiii commented on #2514
@ecerroni we should def improve that portion of the docs! It is on the ApolloLink repo, would you be up for improving that?

@Thr1ve thanks for the assist here!

[2017-11-13 15:28] #2514 closed

[2017-11-13 15:29] jbaxleyiii commented on #2513
@msmfsd would you be able to create a reproduction of this issue? I think I can reproduce it as well, but it would save on time if you had something I could take a look at?

[2017-11-13 15:36] jbaxleyiii commented on #2511
@kavink what do you mean by chaining queries?

[2017-11-13 15:38] jbaxleyiii commented on #2510
Hey @hinok 👋

This error only *should* occur when you have made a query with an `id` field for a portion, then made another that returns what would be the same object, but is missing the `id` field.

We are planning on making this just a warning (instead of throwing) but it does help a lot to keep the `id` field included in queries that share fields

[2017-11-13 15:39] human-a commented on #2550
The initialState is followed based on the Next.js instructions. If you take a look at [this file](https://github.com/zeit/next.js/blob/canary/examples/with-apollo/lib/initApollo.js) and [this file](https://github.com/zeit/next.js/blob/canary/examples/with-apollo/lib/withData.js) You can see that the later creates a wrapper component containing the initalState (comes from getInitialProps static met

[2017-11-13 15:41] human-a commented on #2550
If you can not get it from the links I sent you, let me know and I will create a repo, but most of my code regarding graphql, is identical to the links I sent you, all I am adding to it is ```const authLink = setContext((_, { headers }) => {``` part

[2017-11-13 15:54] jbaxleyiii commented on #2509
Hey everyone! @jbaxleyiii from the Apollo team here. I'd love address the change from redux and our future plans around this 🤗

*note: I'm working on a blog post about this too*

### Why we moved off of redux
From the very beginning, the call to use redux under the hood was a practical and positioning decision. Most react apps used redux (even in they didn't need to haha) and the excitement / tool

[2017-11-13 15:57] jbaxleyiii commented on #2503
Does anyone have an example TS project I can use to test changes and fix this?

[2017-11-13 16:01] jbaxleyiii commented on #2501
@liz-mars I'm so sorry to hear the upgrade path wasn't as easy as I hoped it would be for you. Part of the language around the upgrade was formed by the fact that nearly all application usage would stay the same. This certainly didn't take into account third party libraries into account which should have been considered and noted.

With that being said, I hope a single workday of upgrade will prov

[2017-11-13 16:01] #2501 closed

[2017-11-13 16:02] jbaxleyiii commented on #2500
@xcv58 I've heard from a few people that this is an issue. My hunch is a bug in deduplication and I'll be taking a look at it ASAP!

[2017-11-13 16:04] jbaxleyiii commented on #2499
@jamesreggio as always, thank you for the thoughtful research and repo! I'll get on it ASAP!

[2017-11-13 16:05] jbaxleyiii commented on #2497
@liz-mars we will definitely work to update the docs! Also, I'd love to feature a recipe on integration with Storybook. Do you know who would be the best to help me with that? @abhiaiyer91 ?

[2017-11-13 16:05] #2497 closed

[2017-11-13 16:08] beornborn commented on #2534
@jbaxleyiii
Query doesn't have `status` field.

Previously I added custom data with own wrapper like this
[code]

and in saga

[code]

Can I achieve this with afterware? Or not because apollo-client will strip all my custom data?

[2017-11-13 16:11] jbaxleyiii commented on #2496
@seeden I'll try to make a reproduction and figure this out!

[2017-11-13 16:12] jbaxleyiii commented on #2490
Thanks for the reproduction! I'll take a look!

[2017-11-13 16:14] jbaxleyiii commented on #2360
@jamesreggio I'm going to see if I can get rid of `lastVariables` 👍

[2017-11-13 16:15] jbaxleyiii commented on #2468
@MrCheater are you referring to the locked dependencies? I've been thinking about unlocking them for the libraries so its not so limiting for users.

Going to mark this as a post 2.0 feature to address asap

[2017-11-13 16:16] jamesreggio commented on #2360
Perfect. Would very much appreciate that.

[2017-11-13 16:38] jbaxleyiii commented on #1934
@mxstbr swinging back around to this to let you know I've added it to the post 2.0 features milestone to get looked into!

[2017-11-13 16:39] jbaxleyiii commented on #819
After some discussion, I think its best to adjust this to be an error. We've added some better logging around when this is happening as well

[2017-11-13 16:42] jbaxleyiii commented on #2051
@odero thanks so much! I'll see what I can do!

[2017-11-13 16:43] jbaxleyiii commented on #2359
@jay1337 sorry about that! I took a week off and missed keeping this issue going along. I'm going to remove stalebot too now that I have the bandwidth to better take care off issues.

[2017-11-13 16:45] jbaxleyiii commented on #1622
I'm going to add this to the post 2.0 bug milestone to make sure it is prioritized and fixed for everyone! Sorry for the delay!

[2017-11-13 16:48] jbaxleyiii commented on #2463
@manbropig  @Wenzil @malexandre this is first up on my bug squashing adventure this week!

Sorry for the delay, after the 2.0 launch + new sites + graphqlsummit, we took a week off at our company for a company wide hack week. I'm back on Apollo this week and am making a few milestones to work through. This is priority number one for me

[2017-11-13 16:49] #2428 closed

[2017-11-13 16:52] mxstbr commented on #1934
Wait a second... I'm a collaborator on this repo... So I could theoretically assign issues to milestones...

😈

[2017-11-13 16:52] mxstbr commented on #1934
Just kidding, just kidding, don't worry. Thanks, excited to have this looked at!

[2017-11-13 17:23] xcv58 commented on #2500
Thanks @jbaxleyiii
I guess this may be related to another issue: https://github.com/apollographql/apollo-link/issues/225

[2017-11-13 17:32] helios1138 opened #2555 "defaultOptions do not work"
I tried setting `defaultOptions` like this:
[code]

and yet re-rendering of components does not trigger refetching, however manually setting `fetchPolicy` option on a particular component does achieve the intended result

[2017-11-13 18:40] SkReD commented on #2453
@jbaxleyiii I create a test app for reproducing the other issue but this seems to be reproduceble with it also.
Reproduction app is based on create-react-app and apollo-server-express
(can be cloned from https://github.com/SkReD/apollo-demo.git)
To run it you need to start express server by npm run start-server command and then run
webpack-dev-server by command npm start.

For reproduction simply

[2017-11-13 18:44] jay1337 commented on #2359
@jbaxleyiii Welcome back :)

[2017-11-13 18:51] rafrex commented on #2453
@SkReD thanks for creating this. I've had this on my todo list but haven't gotten to it.

[2017-11-13 20:31] jbaxleyiii commented on #2391
@dmarkow @Wenzil this should be fixed via https://github.com/apollographql/apollo-link/pull/242

[2017-11-13 20:31] jbaxleyiii commented on #2463
This should be fixed via https://github.com/apollographql/apollo-link/pull/242

[2017-11-13 20:47] jbaxleyiii commented on #2391
new version of dedup link is release as 1.0.1, I'm going to do a release of AC which removes the hard locked dependencies to make it easy to upgrade parts like this

[2017-11-13 20:47] jbaxleyiii commented on #2463
new version of dedup link is release as 1.0.1, I'm going to do a release of AC which removes the hard locked dependencies to make it easy to upgrade parts like this

[2017-11-13 21:25] AlexanderEkdahl commented on #2503
@jbaxleyiii Here's a minimal repository reproducing this bug: https://github.com/AlexanderEkdahl/apollo-client-typescript-bug

[2017-11-13 22:34] jbaxleyiii commented on #2463
The 1.0.1 build threw a lot of errors on AC tests, I've removed it for now and will keep this issue open until its fixed

[2017-11-13 22:34] jbaxleyiii commented on #2391
The 1.0.1 build threw a lot of errors on AC tests, I've removed it for now and will keep this issue open until its fixed

[2017-11-13 22:59] bgentry commented on #2286
I haven't yet upgraded to Apollo Client 2.0. Can anybody confirm whether this is still a problem there? AFAIK it has not been fixed.

[2017-11-14 00:08] bogdansoare commented on #2496
@jbaxleyiii I have the same issue, after mutation the data is empty

[2017-11-14 00:23] bogdansoare commented on #2496
For me it happens when the component with the query is unmounted and then mounted again and after that I run the mutation

[2017-11-14 00:29] msmfsd commented on #2513
@jbaxleyiii yep will have a look now

[2017-11-14 01:08] peggyrayzis commented on #2542
Hi! Can you please post the code where you're initializing the client & your link chain?

[2017-11-14 02:42] tlvenn opened #2558 "Apollo Cache with Relay Modern"
Similarly on how apollo-link can be used with Relay Modern, I am wondering if apollo-cache could not be integrated in Relay Modern as well.

Contrary to what I had believed, Relay Modern does not ship with any cache at all but one can easily be added at the network level:

Relay Modern ships a very rudimentary in memory cache with `RelayQueryResponseCache` and it would be great if we could tap int

[2017-11-14 04:30] nascode commented on #2255
Is subs with graphql like @mgwidmann example still working on v2?

We would love to use subs without query. Especially for global subs. Is there any example on this already? @jbaxleyiii

[2017-11-14 04:52] msmfsd commented on #2513
@jbaxleyiii error template is here: https://github.com/msmfsd/apollo-error-tmpt-pr-2513

see readme for guide

[2017-11-14 05:29] prybalko commented on #2533
@jbaxleyiii not really. `2.0` doesn't seem to be compatible with `1.*` versions, so in order to use it, I would have to rewrite my application. In any case, I think this bug worth fixing in `1.*` version.

[2017-11-14 09:21] michaelknoch commented on #2542
hey @peggyrayzis
thanks for your reply

[code]

Passing fetch explicitly into BatchHttpLink constructor does not solve the problem.
Window.fetch is available throughout the whole project, it seems that accessing `self` here is the problem. Something like `if (typeof self === 'undefined') { self = window; }` silences the error, but its kind of weird, i guess.

[2017-11-14 09:31] leethree commented on #2258
I'm also seeing unhandled ApolloError when component is unmounted. I'm using `apollo-client` v2.0.2 and `react-apollo` v2.0.1. Here's a stack trace for the error:

[code]

In particular, `ObservableQueryRecycler.recycle` calling `subscribe` looks suspicious to me.

[2017-11-14 10:49] gviligvili opened #2559 "pollInterval keeps NgZone occupied and hangs e2e tests"
I use protractor to test my project.
If setTimeout / setInterval is used the ngZone is occupied, and the app won't stablize therefore the protractor will throw Timeout Error accours :
`
Timed out waiting for asynchronous Angular tasks to finish after 11 seconds.
`

When I use pollInterval option, protractor keep throwing this error.
when I remove pollInterval, e2e tests runs perfectly fine.

**Int

[2017-11-14 14:28] Trellian opened #2560 "Auto-injected '__typename' throwing ER_BAD_FIELD_ERROR: unknown column in fieldlist"
**Intended outcome:**

The simple query:
[code]
succeeds...

**Actual outcome:**

The backend MySQL server is throwing the following error:
[code]
and the GraphQLExpress server is throwing the following error:
[code]
**How to reproduce the issue:**

My server code looks like this:

[code]
and in the Vue client component I have :
[code]
The exact same query:
[code]
succeeds in the GraphiQL client,

[2017-11-14 15:24] kroeder opened #2561 "Why doesn't .query() return a Promise?"
Just wanted to ask for the reasen why .query() does not return a Promise

I always end up calling .toPromise() because I don't want to unsubscribe something that is executed once anyway.

And if there's a good reason for it, does this mean, calling toPromise() is bad practice?

[2017-11-14 15:45] #2195 closed

[2017-11-14 15:45] #2179 closed

[2017-11-14 15:45] #2024 closed

[2017-11-14 16:18] michaelknoch commented on #2542
I think this issue is related to `apollo-link-batch-http`.  It seems this error does not appear when using `apollo-link`

[2017-11-14 16:32] n1ru4l commented on #2542
@michaelknoch This is most likely related to https://github.com/matthew-andrews/isomorphic-fetch/issues/125

`apollo-link-batch-http` is still using `apollo-fetch` which depends on `isomorphic-fetch`.

There is also hint in the readme of `apollo-link-batch-http`: **Note: This package will be updated to remove the dependency on apollo-fetch an use the same options / API as the http-link**

If there

[2017-11-14 16:43] atoy40 commented on #2266
I'm using apollo-client without react and I have the same issue with :

[2017-11-14 16:45] tphan18 commented on #2513
@msmfsd @jbaxleyiii I got the same issue. It's pretty easy to reproduce it.
1. Do a success query
2. Update the token/session in your store to get invalid token/session
3. Refresh the page -> got 401 error from graphql query -> should route to login again
4. Login -> should route back to the route on step 1 but still got 401 error.

Quick fix is to refresh the page.

[2017-11-14 16:50] tphan18 commented on #2513
I got the same bug for `none` and `all` in `errorPolicy`

[2017-11-14 17:22] chris08002 commented on #2286
@bgentry same problem with apollo client 2.0. Any suggestion how to solve this. I tried to look into the apollo code, but don‘t really understand it. This is kind of a blocking issue for us.

[2017-11-14 18:00] jbaxleyiii commented on #2561
@kroeder `.query` should return a promise? Are you seeing where its not?

[2017-11-14 19:37] jbaxleyiii opened #2562 "Cache API Solidification and Adjustements"
Now that 2.0 has shipped, I think there is some important work to be done around the `Cache` interface, and potentially around the `cache` usage API with Apollo Client. I'd love for this issue to serve as a discussion point for listing what needs to be done, and what possible improvements can be made!

@nevir @yuit for your work with Hermes
@rportugal @kamilkisiela @niieani for custom cache integr

[2017-11-15 01:13] jamesreggio opened #2563 "Suggestion: don't throw an exception on a cache miss"
This is a minor inconvenience that is likely a huge pain to fix, so take with a grain of salt.

It's generally an antipattern to use exceptions for ordinary control flow. They're more difficult to reason about; they incur multiple expensive stackwalks throughout their lifecycle; and, most importantly, they're annoying as hell when debugging.

The final point is most relevant here. Many JavaScript

[2017-11-15 04:46] sscaff1 commented on #2460
This is stopping me from migrating my app to use GraphQL on the client. I still rely heavily on Redux Persist to ensure I have access to my data offline. +1 for this.

[2017-11-15 06:16] vtsatskin commented on #2441
@pycraft114  @matteodem  Here is how I got it working:

[code]

@jbaxleyiii The documentation was a little confusing due to not having a fully working example with the HTTP link. I understand this is meant to be generalized for any link, but your advice in this issue was a little misleading due to having to set explicitly structure the context to what HttpLink expects. How can we make the document

[2017-11-15 07:11] kroeder commented on #2561
https://www.apollographql.com/docs/angular/basics/queries.html#queryref

"As you know, Apollo.query method returns an Observable that emits a result, just once, but Apollo.watchQuery also does the same except it passes multiple results."

Snippets from Apollo-angular source
[code]
See https://github.com/apollographql/apollo-angular/blob/master/packages/apollo-angular/src/Apollo.ts

[2017-11-15 08:20] jschlieber opened #2564 "www.apollographql.com down"
The docs are down...

[2017-11-15 08:24] Trellian commented on #1564
Hi @Billy- and @rasdaniil ,

I'm getting this same problem, but not on mutation (haven't even got there yet).  This is happening on a simple query. The __typename is being passed through to my SQL backend as a column request.  Of course the SQL server rejects the query.

I implemented the 'omitDeep' option as described above, but it is not helping.  Do you perhaps have some thoughts or advice on t

[2017-11-15 09:11] effektsvk commented on #2564
It looks like it is back up and running, but if it's down again, check [this](https://www.howtographql.com) site. It isn't same as the docs but it is a pretty good tutorial.

[2017-11-15 09:50] #2564 closed

[2017-11-15 11:14] Trellian commented on #1564
Not to worry, problem solved, my objection-graphql middleware just needed to filter out the __typename 'column'

[2017-11-15 11:29] #2277 closed

[2017-11-15 12:07] ignivalancy commented on #2509
@jbaxleyiii i think its best to have **apollo-cache-inmemory** alternative which should be configureable with redux. for instance **apollo-cache-redux**.

[2017-11-15 17:17] jbaxleyiii commented on #2563
@jamesreggio @nevir and I have talked about this as well. I 100% think we should remove all internal try / catches to make developing a cache sane (its sooo hard to build one with the try catch in place) and because it will be faster.

[2017-11-15 17:19] jbaxleyiii commented on #2561
@kroeder that sounds like an issue to bring up on the angular project. The core apollo-client returns a promise

[2017-11-15 17:19] #2561 closed

[2017-11-15 17:19] jbaxleyiii commented on #2558
@tlvenn are there any docs on what a relay cache would need?

[2017-11-15 17:21] jbaxleyiii commented on #2560
@Trellian it looks like you are sending the query to MySQL somehow? What does your resolver look like?

[2017-11-15 17:27] maplion commented on #2509
@jbaxleyiii I think @ignivalancy 's idea would work for me as well.  I just need a way to tell Apollo 2.0, "I'd like you to use redux for your local cache and I'm going to use it too -- both outside of your reach and directly with GraphQL."

Here is how I am using Apollo, as an FYI:  I am currently utilizing apollo-client 1.9.2 in Angular 5 with the @angular-redux suite (/store, /router, /form) an

[2017-11-15 17:28] Wenzil commented on #2391
Any update on this? I've been banging my head against the wall trying to integrate the RetryLink. Turns out it doesn't work really well without query deduplication :{

[2017-11-15 17:31] glasser opened #2569 "Changing pollInterval with startPolling or setOptions adds an interval rather than replacing"
If an ObservableQuery is currently polling with pollInterval X and you call startPolling or setOptions to change the interval to Y, this code runs:

[code]

However, scheduler is buggy. stopPollingQuery does not remove the query from `this.intervalQueries[X]` and so after this code runs, the query will be in all of `this.registeredQueries`, `this.intervalQueries[X]`, and `this.intervalQueries[Y]`.

[2017-11-15 17:34] jbaxleyiii commented on #2391
@Wenzil new version is out on npm (`apollo-link-dedup@1.0.2`) and I'm working on a new AC release today with a number of bug fixes.

[2017-11-15 18:14] #2275 closed

[2017-11-15 19:07] wailorman opened #2570 "client.writeFragment doesn't update components"
I've encountered a problem with notifying react components about store changes when I making it through `client.writeFragment` or `client.writeQuery`. The store is updating, but components are not.

I've created a repo for reproducing this bug: https://github.com/wailorman/write-fragment-error
gh-pages: https://wailorman.github.io/write-fragment-error/

What I want:
When I'm filling login input I

[2017-11-15 19:11] jbaxleyiii commented on #2570
@wailorman yep! This is a confirmed bug and I've got a reproduction for it! Should have this fixed asap!

[2017-11-15 19:47] xcv58 commented on #2500
Hi @jbaxleyiii

I did verify your latest publish fix the problem.
https://github.com/xcv58/apollo-client-cache-same-query/commit/bea448e4ae21d8b2607192cdb5c19b90342200ca
https://github.com/apollographql/apollo-link/commit/685b07dd024b2e97a0929ac841ba5e1d19aa042a

Thank you very much!

[2017-11-15 20:08] Trellian commented on #2560
@jbaxleyiii Hi, thanks for getting back to me. The problem is solved, my backware, objection-graphql just needed to filter out the __typename pseudocolumn that was being passed to it. However, should the __typename be passed to the backware in the first place? I would have thought that it would stop with the graphql layer?

[2017-11-15 20:41] nevir commented on #2563
Yes please! :P

[2017-11-15 20:45] joelgriffith commented on #2425
I'm curious if there's a way to opt-out of apollo's behavior where no data is returned when the server responds with errors. Most GraphQL servers don't prescribe how to handle mixed results, and I see the reasoning why you would want to error entirely by default, but there's cases where there's enough data in the response that consumers could theoretically recover.

I'm definitely open to other ap

[2017-11-15 20:57] ashah888 opened #2571 "writeFragment causes container data to be null."
I have a container that hooks data by the normal Apollo way (graphql(...)).

That container is connected to a component that has data from the graphql(...) and also a manual client.query(...) which sets the second data into this.state.

When I update hte manual state data using client.writeFragment, the data from the container graphql(...) becomes null for some reason (even though they are 2 compl

[2017-11-15 21:02] liz-mars commented on #2497
@jbaxleyiii  I'm afraid I don't, but please keep me in the loop! It's the one thing missing for me now :)

[2017-11-15 21:14] abhiaiyer91 commented on #2497
@jbaxleyiii lets chat about this! I'll try to get this done as soon as i can

[2017-11-15 21:24] glasser commented on #2569
FWIW this doesn't look (by source inspection) to be new in 2.0, though if pretending it was helps keep it on the upgrade blocker list and gets it fixed faster I'd be happy to :)

[2017-11-15 21:53] glasser commented on #2569
oops i think i fixed it

[2017-11-15 22:15] jbaxleyiii commented on #2571
@ashah888 yep! I'm working on it now! closing as this is a duplicate of https://github.com/apollographql/apollo-client/issues/2570

[2017-11-15 22:15] #2571 closed

[2017-11-15 22:41] #2569 closed

[2017-11-16 00:11] jbaxleyiii commented on #2391
The new dedup link will be part of the next release!

[2017-11-16 00:11] #2391 closed

[2017-11-16 00:11] jbaxleyiii commented on #2463
The new dedup link will be part of the next release!

[2017-11-16 00:11] #2463 closed

[2017-11-16 00:12] #2500 closed

[2017-11-16 00:15] Wenzil commented on #2391
Neat! In the meantime I had to `yarn upgrade apollo-link-dedup@latest` and manually delete the old version from apollo-client's node_modules. Is there a better way?

[2017-11-16 00:30] #2570 closed

[2017-11-16 00:46] peggyrayzis commented on #2542
Hi @n1ru4l! We would love if you could send a PR to upgrade `apollo-link-batch-http` to use global fetch & give the user the ability to pass in a fetcher if they would prefer. You can look at the `apollo-link-http` [source code](https://github.com/apollographql/apollo-link/blob/master/packages/apollo-link-http/src/httpLink.ts#L110) for an example.

[2017-11-16 01:09] jbaxleyiii commented on #2526
@dobesv this has been adjusted in the next release!

[2017-11-16 01:09] #2526 closed

[2017-11-16 01:17] #2453 closed

[2017-11-16 01:18] jbaxleyiii commented on #2489
This will be fixed with 2.0.3 🌮

[2017-11-16 01:18] #2489 closed

[2017-11-16 01:19] jbaxleyiii commented on #2496
This should be fixed on master!

[2017-11-16 01:19] #2496 closed

[2017-11-16 01:19] jbaxleyiii commented on #2415
This is fixed on master!

[2017-11-16 01:19] jbaxleyiii commented on #2360
Removed on master!

[2017-11-16 01:19] #2360 closed

[2017-11-16 02:22] treecy opened #2577 "Need the documentation for v1.0"
Hi there! 👋

I was wondering if there is a way to get the documentation for Apollo 1.0+?

I really like the new features of Apollo 2.0, and the migrating has been in our schedule already.
But we still need to work on Apollo 1.9 for some time before migrating.
So it will be very nice if you can give us a way to check the documentation for Apollo 1.9.

Thank you very much.😁

[2017-11-16 04:08] paradite commented on #1326
I still don't see any blog posts around, so I wrote one myself:
https://paradite.com/2017/11/16/test-react-apollo-components-enzyme-examples/

Hopefully it would help people who are new to this. Let me know if you spot any errors or inaccuracies.

[2017-11-16 04:47] tlvenn commented on #2558
Hi @jbaxleyiii,

First I should correct myself by saying that the default cache (named `store` in Relay Modern) provided by Relay Runtime (`RelayMarkSweepStore`) is not rudimentary at all. They just choose to have a pretty agressive GC strategy which purge any data that is not referenced in your view anymore.

The good news is the store is entirely pluggable, very similarly to Apollo Client 2.0 wi

[2017-11-16 05:00] tlvenn commented on #2562
I have recently opened an issue(https://github.com/apollographql/apollo-client/issues/2558) regarding Apollo Cache and Relay Modern. It would be great if future work on the cache API could have in mind what Relay Modern cache interface is expecting and how this could be fulfilled.

I would love to see Apollo Cache being promoted outside of Apollo Client and provides integration with Relay Modern,

[2017-11-16 10:32] Knaackee commented on #2514
After trying to get it to work for several hours, i have to ask here.
I have the exact same problem and tried what @Thr1ve  suggested.

I use the same dependencies and versions as @ecerroni

I tried using "Access-Control-Expose-Headers: *" and "Access-Control-Expose-Headers: x-refresh-token".

heres is what i see in the chrome network tab

![screen shot 2017-11-16 at 11 26 41 1](https://user-image

[2017-11-16 10:48] ecerroni commented on #2514
That's ok I guess as it is the same thing I see in mine.

However `headers.get('x-refresh-token')` correctly retrieves the token and I can both console.log it and set it in the localStorage in the afterware code.

Do you mean it is not working for you? I mean retrieving the header using `headers.get('x-refresh-token')`

A complete example:
[code]

[2017-11-16 10:57] danielstahl opened #2579 "Send Accept application/json in HTTP request"
**Intended outcome:**
Include Accept header with only application/json in all HTTP requests.

**Actual outcome:**
The apollo client includes a Accept header today with "`*/*, application/json`". This may make the server prefer some other format over json.

**How to reproduce the issue:**
Make a Apollo client and make a query request.

**Version**
- apollo-client@2.0.2

[2017-11-16 11:13] Knaackee commented on #2514
@ecerroni

Sorry i missed that. Now its working as expected. Thank you!

In addition i had to change `Access-Control-Expose-Headers: *` to `Access-Control-Expose-Headers: x-refresh-token`  to make it work.

Thanks a lot!

[2017-11-16 15:28] sondremare commented on #2489
Great! Thanks :D

[2017-11-16 16:17] jamesreggio opened #2580 "Chore: straighten out dependencies upon `graphql`"
Nearly all of the packages in this project utilize AST types from the FB-owned `graphql` library.

However, the way that each package declares its dependency is inconsistent, and potentially problematic.

* `apollo-cache` utilizes `graphql` but doesn't list it as a dependency.
* `apollo-cache-inmemory` utilizes `graphql`, but lists it as a `devDependency` and omits any instructions about needing t

[2017-11-16 20:25] Wenzil commented on #1622
Like @jay1337 mentioned, this bug appears to be worse in apollo-client@2.0.3. The `networkStatus` and `error` are never updated after a successful refetch.

This happens with the default network policy as well.

[2017-11-16 20:54] seeden opened #2581 "[2.0] subscribeToMore unsubscribe after first data | bug"
I have simple react component with graphql decorator. When component was mounted I am doing subscribeToMore. I will receive first data but immediately after that subscription it stoped working. Component was not unmounted. Am I doing something wrong @jbaxleyiii ? Thank you

[code]

Here you can see frames from websocket:
![websocket](https://i.imgur.com/6RA0w3B.png)

As you can see command "stop"

[2017-11-16 21:01] seeden commented on #2581
It will subscribe again when I call subscribeToMore again but you know it is buggy :(

[2017-11-16 21:37] #2503 closed

[2017-11-16 22:00] jasonmorita commented on #2509
https://github.com/apollographql/apollo-client/blob/master/Upgrade.md#immediate-wins

This seemed to me to indicate we would be able to use Redux as a store option.

[2017-11-16 22:09] maplion commented on #2509
@jasonmorita I think a closer reading is that it makes the default store faster than their old redux store and they have the "ability to build stores for things like mobx, redux, ng-rx, vuex, and more!", but they haven't done it yet; hence this thread.

[2017-11-16 22:13] jasonmorita commented on #2509
@maplion Yeah, I think I was being delusional

[2017-11-16 22:28] maplion commented on #2509
@jasonmorita Or hopeful, which was where I was at...

[2017-11-17 00:09] judoaseeta opened #2582 "data is on the apollo store, but i can't use it."
I use the most recent version of Apollo.

[code]
I fetched this query and it was success.
I can see that query was success via network panel in my chrome tool.

also, with your Apollo dev tool, I confirmed the data is fetched successfully.

however when I console.log() it. it only gives me loading status.(and it is true..)

so field of data is undefined even though it is surely in store.

what did

[2017-11-17 00:43] #2582 closed

[2017-11-17 00:44] judoaseeta commented on #2582
oh, I did a mistake. it should be nextProps in componentwillreceiveprops.

[2017-11-17 02:58] jaydenseric commented on #2512
To be clear, by interfaces I mean actual GraphQL interfaces, not TypeScript interfaces. I don't use TypeScript. This bug completely breaks apps.

[2017-11-17 06:17] liz-mars commented on #2497
@abhiaiyer91 @jbaxleyiii  PR for Storybook decorator https://github.com/abhiaiyer91/apollo-storybook-decorator/pull/7

[2017-11-17 09:37] KaroseLiu commented on #1717
@seeden how to solve the problem, add the 'addTypename: false' not work.

[2017-11-17 10:41] boomyao opened #2589 "Class 'InMemoryCache' incorrectly extends base class 'ApolloCache<NormalizedCacheObject>'."
**Intended outcome:**
const client = new ApolloClient({
  link: new HttpLink({ uri: 'https://api.example.com/graphql' }),
  cache: new InMemoryCache()
});

**Actual outcome:**
error TS2415: Class 'InMemoryCache' incorrectly extends base class 'ApolloCache<NormalizedCacheObject>'.  Types of property 'read' are incompatible.    Type '<T>(query: ReadOptions) => T | null' is not assignable to type '<T

[2017-11-17 13:14] nabiltntn opened #2591 "[apollo-cache-inmemory] ESLint problems importing InMemoryCache"
**Intended outcome:**

After installing `apollo-cache-inmemory`, import and use `InMemoryCache`

**Actual outcome:**
 Errors in ESlint and when starting application.

[code]

**How to reproduce the issue:**

Install the package and import `InMemoryCache` using
[code]
**Version**

- "apollo-cache-inmemory": "^1.1.1"
- "apollo-client": "^2.0.3"
- "apollo-link": "^1.0.3"
- "apollo-link-context": "^1.

[2017-11-17 14:10] kamilkisiela commented on #2561
@jbaxleyiii it completes after the first result. It's an Observable like everything in Angular. This way all can be easily chained etc.

[2017-11-17 16:09] stefanmaric commented on #2591
Experiencing the same.

[2017-11-17 16:51] nabiltntn commented on #2591
It works when adding `/lib` :

[code]
Is it the intended way ?

[2017-11-17 16:58] stefanmaric commented on #2591
I don't think so. Probably has something to do with this PR: https://github.com/apollographql/apollo-client/pull/2466

[2017-11-17 17:17] jbaxleyiii commented on #2591
@kamilkisiela do you have any idea why this happened?

[2017-11-17 17:50] seeden commented on #1717
I did not solve it. I have this issue still in my project

[2017-11-17 19:08] kamilkisiela commented on #2591
@jbaxleyiii I did some testing and it seems ESLint doesn't care about package.json's `main` field. If I set `main: "./lib/index.js"` ESLint warns that `apollo-cache-inmemory/index.js` is missing. Which is true but because there is no `./index.js` this is why we have `main` in package.json to point to the entry file.
I could set there any path, it still won't work.

We could publish `apollo-cache-i

[2017-11-17 19:15] kamilkisiela commented on #2591
@jbaxleyiii About the publishing process. Since all packages share exact same file structure and have the same values for package.json's `main`, `jsnext:main`, `module` we could do in `apollo-client` the same thing I did in `apollo-angular`.

Lerna mono repo. Every package has the npm script called [`deploy`](https://github.com/apollographql/apollo-angular/blob/8440034ed8f1d8d3e55c2abb4561780f6574

[2017-11-17 19:26] kavink opened #2593 "Recommended way to use Apollo client 2.0 after redux removal"
Just wanted to know what is the community recommended usage of Apollo Client after redux removal.

Mainly my question surrounds for new projects which are on simpler side, i.e. it just depends on multiple graphql queries from server and display those. Also triggering mutations and updating queries.

Do we recommend using using apollo-in-memory cache ? but im finding it hard to figure out how do I

[2017-11-17 19:52] seeden commented on #2581
Subscribe is automatically unsubscribed with client.subscribe as well after first data.

[code]

[2017-11-17 20:18] seeden commented on #2581
I did some research. The problem is in the apollo-link-dedup
https://github.com/apollographql/apollo-link/blob/master/packages/apollo-link-dedup/src/dedupLink.ts#L73

[2017-11-17 20:49] Yamilquery commented on #2168
I've try everything but this don't work.

[2017-11-17 22:48] EclipticWld commented on #2402
I had experience when I need references to Apollo 1.0 docs but I didn't find it so I was forced to move to 2.0 to be able to use API properly :)

[2017-11-17 23:05] prencher commented on #2212
Is there any traction on this? We just tried to upgrade our codebase today and ran into this with the latest versions.

[2017-11-17 23:07] prencher commented on #2212
Is there any traction on this? We just tried to upgrade our codebase today and ran into this with the latest versions.

@jbaxleyiii I don't see how the `ApolloProvider` change would address this. The issue is with `ApolloClient` and `InMemoryCache`.

[2017-11-18 00:12] ShockiTV opened #2594 "Slightly improved normalization docs"

[2017-11-18 01:18] stubailo commented on #2402
Hehehehe. Anyway, old docs are gone now, so this can be closed!

[2017-11-18 01:18] #2402 closed

[2017-11-18 02:49] #2483 closed

[2017-11-18 05:39] alvis commented on #2212
@prencher the code in #1319 hasn't released yet, so that may be the reason the issue remains. May be you can try the master version for now. Disclaimer: I haven't tried it yet.

[2017-11-18 07:38] stubailo commented on #2594
No need to open an issue before the PR, thanks!

[2017-11-18 07:38] #2594 closed

[2017-11-18 07:39] stubailo commented on #2577
You can find the markdown content here: https://github.com/apollographql/react-docs

Hope that's a good solution, it is a good amount of work for us to build a version selector right now for the site.

[2017-11-18 07:39] #2577 closed

[2017-11-18 07:51] gdi2290 commented on #2374
which release is this? @jbaxleyiii

[2017-11-18 09:54] gajus opened #2597 "Is there a way/ project that would make apollo-client queries return Immutable.js structure?"
I was searching to find existing issues/ projects that would `ApolloClient` return [Immutable.js](https://facebook.github.io/immutable-js/) structure. However, I did not find anything.

If you are using Immutable.js with apollo-client, how are you using it?

[2017-11-18 15:30] rportugal commented on #2509
I have been working on a reduz cache implementation: https://github.com/rportugal/apollo-cache-redux
Would appreciate some testing, hopefully it will solve this issue. Thanks

[2017-11-18 23:00] barbalex opened #2598 "query field missing in result"
**Intended outcome:**
Run query, then access field `objectUrlData`.

**Actual outcome:**
That field is not output using apollo. It _is_ output using GraphiQL though.

**How to reproduce the issue:**
I am migrating a fairly complex codebase from using apollo with mobx to using apollo with apollo-link-state. I do not know how to make this reproducible. Sorry.

Here is what I have:

This query runs p

[2017-11-19 02:15] AlexanderEkdahl commented on #2503
@jbaxleyiii I'm afraid this did not fix the issue.

If you clone my repository and then run `yarn upgrade` followed by `./node_modules/.bin/tsc` the issue persists. The fix is to modify the base class to allow null being returned from the read query. The client expects a type conforming to the base class which the `InMemoryCache` class does not.

[2017-11-19 03:24] miyi commented on #2168
the documentation is so inconsistent. Official doc between Apollographql.com and their github README are all so different. Really wish someone can show me a working example.

[2017-11-19 03:46] miyi commented on #2168
this is doc for the presently functioning auth process, note that it uses setContext from 'apollo-link-context', the returned header has a spread operator on the requested header.

https://github.com/apollographql/apollo-client/blob/master/docs/source/recipes/authentication.md

[2017-11-19 20:32] IronCoderXYZ opened #2600 "Data Persistance"
First off, I'd like to congratulate the Apollo team on the amazing job they have done so far, I've watched most of your presentations etc. and I'm excited to start using Apollo - but, I cannot.

I need data persistence, for which I was using Redux Persist, but I cannot find a way to integrate redux along with Apollo.

Has anybody found a workaround?

[2017-11-19 20:49] n1ru4l commented on #2600
@IronCoderXYZ Someone is working an a apollo-cache-redux implementation: https://github.com/rportugal/apollo-cache-redux

Also there will be meeting about `apollo-cache-asyncstorage` which lists localstorage on the agenda. (https://github.com/apollographql/apollo-cache-asyncstorage/blob/master/designs/meetings/11-17-17.md)

[2017-11-19 21:36] RedShift1 commented on #2164
Ping

[2017-11-20 00:23] treecy commented on #2577
@stubailo This is helpful enough for now! 😁

Thank you very much!!

[2017-11-20 02:07] akeating opened #2601 "ApolloClient.subscribe undefined"
I am experimenting with subscriptions with https://github.com/absinthe-graphql/absinthe-socket/tree/master/packages/socket-apollo-link however ApolloClient does not expose the `subscribe` method alongside the usual `query` and `mutate` methods. I notice there is support in the codebase. Was it intended that this be exposed in the latest release?

**Version**
- apollo-client@2.0.3

[2017-11-20 02:50] akeating commented on #2601
ah too quick to pull the trigger :)

[2017-11-20 02:50] #2601 closed

[2017-11-20 03:47] akashbdj opened #2603 "Unable to connect to local GraphQL Server running at localhost:PORT"
I'm trying to connect to GraphQL server running at **http://MY_MACHINE_IP:PORT** using **apollo-client** and **react-apollo**.
I'm using **expo** to create React Native application and trying to run it on my **real device(iOS)**
It's working on iOS Simulator, though!

**Intended outcome:**
It should return proper response I was expecting.

**Actual outcome:**
Network Error: Network Request Failed.

[2017-11-20 09:15] goldo commented on #2255
@jbaxleyiii @mgwidmann  I haven't tried it on v1, but on v2 it doesn't seem to work. Have you got any hint for us ?
Thanks

[2017-11-20 11:41] chmac commented on #424
@2WheelCoder / @danieljvdm I've tried a similarly naive approach to persist the cache which appears to have been working for at least the last 5 minutes!

[code]

It's pretty ugly, relies on `broadcastWatches()` which is a private, internal method of `apollo-cache-memory`, but seems to be getting the job done, and doesn't rely on any timing hacks, etc.

I'm using `ApolloOfflineCache` in my client

[2017-11-20 13:16] GuillemotF commented on #2258
[I made a reproduction with the error template](https://github.com/GuillemotF/react-apollo-error-template)
It reproduces a component throwing an unhandled network error when unmounting and not updating after an error (related to [#2513](https://github.com/apollographql/apollo-client/issues/2513))

[2017-11-20 13:28] adnsio commented on #2589
#2592

[2017-11-20 14:29] qswitcher commented on #2452
This appears to just be a webpack bug. Bumping webpack from 3.4.0 to 3.8.1 resolved the problem.

[2017-11-20 14:29] #2452 closed

[2017-11-20 14:36] andrewpeterprifer commented on #2577
I think an okay temporary solution would be if for now (until the version selector is done) the dev.apollodata.com URL wouldn't redirect to the new site. I can see why redirecting might seem necessary to help avoid confusion for newcomers, but I think a bigass red banner (like [this one](http://webpack.github.io/docs/)) would do the job just as well. Suddenly removing the (easily accessible) docum

[2017-11-20 16:12] tim-soft commented on #2593
I'm personally waiting on https://github.com/rportugal/apollo-cache-redux to mature. I'm unwilling to upgrade until I can use redux.

[2017-11-20 18:00] jamesreggio commented on #2411
@jbaxleyiii, we're experiencing this too, so I put together a repro.

Please see the `repro-2411` branch on this repo: https://github.com/jamesreggio/react-apollo-error-template/tree/repro-2411

The expected behavior is for the existing `data` to be cleared immediately upon pressing 'Reset Store' — however, instead, the data remains and no updates are received until the query has finished refetchi

[2017-11-20 18:03] jbaxleyiii commented on #2411
@jamesreggio thanks! I'll have this fixed today!

[2017-11-20 18:17] mechanical-turk commented on #2591
For those who had this error start happening out of nowhere, it's probably because you're using `^` in your package json. Npm adds this by default when you install packages. It will make your package manager download the latest major version. For example, if your package version in your package.json is `{"apollo-cache-inmemory": "^1.1.1"}`, and the latest version is `1.9999.9999`, your package man

[2017-11-20 18:48] jbaxleyiii commented on #2411
@jamesreggio is that how it happened on the 1.0? I'm wondering if we are missing a broadcast call, but I do seem to remember this being by design on the 1.0 to not clear out the UI during resetStore. So looking at your reproduction it seems to be working as expected?

[2017-11-20 18:54] jbaxleyiii commented on #2591
@kamilkisiela thanks for the feedback! I'm working on making the repo easier to interact with so those are great things to know!

[2017-11-20 19:15] KeithGillette opened #2606 "writeQuery on object in store with missing property generates `errorHandling.js:7 Error: Can't find field <fieldname> on object (<$objectId>)`"
**Intended outcome:**

In a `DataProxy.writeQuery(…)` call within a function passed to the `update` property in `ApolloClient.mutate({…})`: Update a query that updates a property in an object already in the Apollo in-memory cache from a _different_ query  which did *not* include the given property.

**Actual outcome:**

Receive error of the form:
[code]

**How to reproduce the issue:**

Given Grap

[2017-11-20 19:48] jamesreggio commented on #2411
I'm not certain what the behavior was in 1.0; however, if this is intended behavior, I found this documentation a bit misleading:

I assume the clearing cache + re-executing all active queries = broadcast to all observers with `loading: true` and empty results. The lack of even a `loading: true` broadcast is going to force me to do quite a bit of external gymnastics to ensure that our user isn't r

[2017-11-20 19:55] jbaxleyiii commented on #2411
@jamesreggio yeah totally! I think that #807 shows the disconnect between what happens and the expectation / docs are an issue to be addressed!

[2017-11-20 19:59] danieljvdm commented on #424
this seems pretty cool @chmac, do you have any more detail about how `broadcastWatches` is supposed to behave? Does it fire deterministically after store updates?

[2017-11-20 20:05] chmac commented on #424
@danieljvdm As I read the `InMemoryCache` code, it's the internal mechanism used to propagate changes to any registered "watchers" on the cache. At first I started out overriding the `write()` method, then I saw `writeFragment()` and `writeQuery()` and started to realise some other methods also mutate data. To the best of my understanding (which is admittedly quite limited) the `broadcastWatches()

[2017-11-20 20:25] srhise commented on #2294
@alexthewilde I am unable to get the loading prop to come through at all on react-apollo 2.0.0 or 2.0.1. Here is a good example of the loading prop never changing, even though there is a network request happening:

https://github.com/zeit/next.js/tree/master/examples/with-apollo

New props aren't passed to the component until the data is actually loaded (e.g., the loading prop never comes through

[2017-11-20 21:13] dyst5422 commented on #2198
Would still like to see this get merged in.

[2017-11-20 21:33] jbaxleyiii commented on #2198
@dyst5422 I'll reopen and see if anyone can help add this!

[2017-11-20 21:34] dyst5422 commented on #2198
I already opened a pull request for this one. I'm not sure if it's still compatible with V2

[2017-11-20 21:58] yuit opened #2607 "[API Request] -Expose `restore`, `extract` from underline cache to ApolloClient"
While using new ApolloClient with Hermes cache, we end up have to directly access the cache to perform `restore`or `extract`

[code]

**Intended outcome:**
We would like to propose a slight change in the API and expose `restore` and `extract` method

[code]
**Version**
- apollo-client@2.0.0

ping @nevir

[2017-11-20 22:12] #2205 closed

[2017-11-20 23:00] michaelknoch commented on #2603
Have you tried setting Uri to your local Network ip? E.g 192.168....

[2017-11-21 02:38] akashbdj commented on #2603
Yes! I already did -- still not working.

[2017-11-21 10:46] entropitor opened #2609 "Document how to do side-effects after a mutation"
The docs clearly mention that `update` should not be used for side-effects (https://www.apollographql.com/docs/react/features/caching.html#updating-the-cache-after-a-mutation), however it's lacking what should be used instead.

Is it a good idea to handle the side-effects when the promise resolves/rejects?

**Version**
- apollo-client@2.0.0

[2017-11-21 10:53] entropitor commented on #2484
@jbaxleyiii Another reason why redux can be useful is so we can use reselect as to only compute the denormalized state if the relevant normalized state has changed

[2017-11-21 12:03] dotansimha commented on #424
@chmac your solution is good, but using the Observable from apollo-client will cause it to be Hot Observable before time, and causing the mutations to execute twice.

Should be something like that:
[code]

[2017-11-21 13:08] fermuch commented on #424
I love to see your workarounds in here!!
I've been using something close to the one described by @danieljvdm, but I'm wondering: how do you handle cache purging?

AFAIK, InMemoryCache doesn't purge anything, since in the next run it'll be totally fresh, but having an ever-growing offline cache might not be a good idea 😛

[2017-11-21 13:50] danieljvdm commented on #424
@dotansimha were you referring to my code rather than @chmac 's?

[2017-11-21 13:53] dotansimha commented on #424
@danieljvdm yeah, you are right...

[2017-11-21 13:54] danieljvdm commented on #424
Ok thanks for the feedback, good to know...

[2017-11-21 13:54] danieljvdm commented on #424
Though those side effects don't seem to be happening or have happened, my understanding of observables is not the best so i'll take the necessary precautions. Though I think I may try move over to @chmac 's solution.

[2017-11-21 14:01] jay1337 commented on #2222
Hey !

[2017-11-21 14:14] jbmeslin commented on #2484
@jbaxleyiii in my case i catch the APOLLO_QUERY_RESULT action  in a redux middleware in which i can inspect the extensions of my query. I got some anonymized fields then i call an other graphQL endpoint and finally i dispatch a second time this action with my resolved fields. If there is a solution to do that in V2 (or a better way in V1 ;) ) i agree to say redux is no more needed.

[2017-11-21 14:18] niieani commented on #2591
Actually, the reason for this issue is that path for `jsnext:main` is wrong in all the the packages, e.g.:

https://github.com/apollographql/apollo-client/blob/37e6f9b8adc1bf2fc12bb8c3cb5c2aa898702ce2/packages/apollo-cache-inmemory/package.json#L12-L15

You can see that it's missing a `.` in front. This causes the eslint rule to resolve it from the root instead of relative to the package.

The bug

[2017-11-21 14:32] jbaxleyiii commented on #2591
@niieani this is great information! I'll work on fixing this for the next build and if you have any other ideas on how to improve our bundlesize / this?

[2017-11-21 14:34] jbaxleyiii commented on #2484
@jbmeslin so you get a result, fire another query, then write to the cache with that data? That can be done using an apollo-link now!

[2017-11-21 14:36] jbaxleyiii commented on #2222
@jay1337 heads up that I'm going to be turning off stalebot next week (getting ready to have Thanksgiving holidays in the US)

[2017-11-21 14:37] jbaxleyiii commented on #424
@chmac would you be open to writing a recipe for the docs for this?! @peggyrayzis this is pretty great!

[2017-11-21 14:38] jbaxleyiii commented on #2609
@entropitor what kind of side effects are you wanting to do? Generally yes the promise resolution is the best place to do it as `update` is called multiple times

[2017-11-21 14:43] jbaxleyiii commented on #2603
@akashbdj can you open the network panel and see where the request is trying to go to?

[2017-11-21 14:44] jbaxleyiii commented on #2205
@migueloller we are looking into this in another issue / PR! Hope to have a resolution for it soon!

[2017-11-21 14:45] jbaxleyiii commented on #2607
@yuit this seems totally fine to me! I'm going to label this as a good first PR to see if anyone wants to grab it, if not I'll get it added!

[2017-11-21 14:46] jbaxleyiii commented on #2198
@dyst5422 I'm not sure if it is either! I'm going to create an umbrella issue for typescript / type improvements to see about organizing towards a shared goal of better types (flow, improved depth of typings, etc)

[2017-11-21 15:00] chmac commented on #424
@jbaxleyiii Sure. I thought about wiring it up into an npm package, but there's quite a lot of assumptions baked into my implementation (the cache key name, the cache engine, when to repopulate the cache, etc), and I'm not sure how to best generalise those. Certainly happy to write something that points folks in this direction. Can you point me at an existing recipe or two that I can fork, etc?

[2017-11-21 15:01] entropitor commented on #2609
Examples could include:
- loading other stuff
- saving some things to AsyncStorage
- Dispatching a redux action

[2017-11-21 15:02] entropitor commented on #2609
(I've updated the issue title as I think it's clear to me now, but I think it should be included in the docs for other people. Or it should include why it's a bad idea to have side-effects anyway)

[2017-11-21 15:07] jbaxleyiii commented on #424
@chmac 🎉 take a look here https://github.com/apollographql/apollo-client/blob/master/docs/source/recipes/server-side-rendering.md

[2017-11-21 15:09] jbaxleyiii commented on #2609
@entropitor there is nothing wrong with side-effects for sure! Yeah we could stand to improve the docs around how to do this. Would you be up to contribute those if I help?

[2017-11-21 15:10] M-Zuber commented on #2607
I'd like to give this a shot, where should I start?

[2017-11-21 15:18] niieani commented on #2591
@jbaxleyiii Nothing more comes to my mind at this time, just the `sideEffects` tip I mentioned above. As for the fix, we can actually do without `./` in the `main`/`module`/`jsnext:main`/`typings` fields, because they're implicitly relative: i.e. `lib/index` or `lib/index.js` should be enough.

[2017-11-21 15:22] jbaxleyiii commented on #2607
@M-Zuber so great!! What needs to be done is add two methods to the `ApolloClient.ts` file that wraps the underlying cache calls (`extract`, `restore`). We do this already for items like `readQuery` so that is a great starting point: https://github.com/apollographql/apollo-client/blob/master/packages/apollo-client/src/ApolloClient.ts#L278-L285

Then we need a test for both. You may be able to just

[2017-11-21 15:33] danieljvdm commented on #424
@chmac I'd probably try emulate what redux-persist does with the abstraction of the cache engines. I'd say just start off with support for AsyncStorage + LocalStorage and go from there. This can be passed in the constructor with perhaps an optional argument for a cache key (otherwise it can be generated).

I'd be happy to collab with you on the PR if you'd like.

[2017-11-21 15:37] jbmeslin commented on #2484
Ok i have to spend some times to understand how works apollo-link and reproduce my use case.

 I call => uri1/graphqlX  ->  {dataX: {},  extensionsX, }  in dataX i have some anonymized field listed in extensionsX then i call an other endPoint to resolved these fields  => uir2/graphQLY-> {dataY}   with this result replace in dataX the anonymized fields with the resolved fields in dataY.

The second

[2017-11-21 16:10] moimael commented on #2285
I'm still seeing this issue with latest apollo-client (2.0.3)

[2017-11-21 16:16] M-Zuber opened #2610 "Teething issues with getting started instructions"
When trying to get started contributing, I ran `npm install` and `npm test` per the instructions in the README

The tests failed due to Jest being a peerDependancy of ts-jest and thus needing manual installation.

Additionally `npm run build` has to be run before the test will work properly

Should the README be updated with commands to install jest and run the build, or should a script be added t