[2017-05-24 10:35] helfer commented on #1735
Hi @jacobk can you send a PR to fix this? I think all you'd have to do is make sure we don't access an undefined field when putting together the error message.

[2017-05-24 11:36] jacobk commented on #1735
@helfer the issue is fixed by https://github.com/apollographql/graphql-tag/pull/65
I tried with `graphql-tag@2.1.0` and it works like expected.

What's the formal constraints on what the query documents passed to apollo-client should look like?

I'll be happy to open a PR to simply not concat the source when not present if you think it makes sense.

[2017-05-24 14:49] Siyfion commented on #1696
@Poincare I get exactly the same issue with Postman (effectively curl):

<img width="1516" alt="screen shot 2017-05-24 at 15 47 26" src="https://cloud.githubusercontent.com/assets/338488/26409416/7050a7ee-4098-11e7-8631-7055f68f6f24.png">
<img width="1516" alt="screen shot 2017-05-24 at 15 48 08" src="https://cloud.githubusercontent.com/assets/338488/26409421/71ac9918-4098-11e7-97f6-66e8c2b8c57f.p

[2017-05-24 15:21] gauravmk opened #1736 "Enhancement: Expose BaseNetworkInterface"
"You would need a custom networkInterface" is a phrase I've seen a bunch in the `react-apollo` channel. To be able to properly do that you'd want to create

`MyCustomNetworkInterface extends BaseNetworkInterface`

but apollo-client doesn't export BaseNetworkInterface. Exposing that means that it's a lot easier for people to write custom networkInterfaces for their specific networking needs.

[2017-05-24 15:41] pgdejardin commented on #1614
I have tried to modify the `BaseNetworkInterface` in apollo-client/transport to accept method GET and pass the query and variables from body to url query string.
It works well for me, but I didn't tried on the consequences on mutations, fragments, etc.

To know if The client have to fetch data with a GET or a POST method, I check if in NetworkInterfaceOption of `createNetworkInterface` if the opti

[2017-05-24 17:48] Poincare commented on #1736
This seems like a fine thing to do but out of curiosity: why not just implement the `NetworkInteface` interface? What benefit does the `BaseNetworkInterface` currently provide?

[2017-05-24 17:50] Poincare commented on #1731
I'm not sure if something like this should live inside Apollo Client core. Although we currently do implement a few network interfaces within the core, this seems like something that might do better as an independent package.

[2017-05-24 17:58] gauravmk commented on #1736
Oh good call, didn't realize there were both of those and was just looking at `HTTPBatchedNetworkInterface extends BaseNetworkInterface`. This probably handles what I want to do, I'll give it a try

[2017-05-24 18:00] gauravmk commented on #1731
That makes sense. I'll close my PR

[2017-05-24 21:19] xavierlefevre opened #1737 "[Error] Mutation : the application attempted to write an object with no provided id but the store already contains an id"
Hello guys,

Sorry it might be a trivial problem but I'm stuck, in my Apollo testing and learning process, by an error my mutation generates and I'm coming down to you to help me.

**Intended outcome:**

Mutating by adding a new friend to a user and updating the state with the newly added friend.

[code]

**Actual outcome:**

The mutation works db-wise, but the client does not want to update the a

[2017-05-25 03:43] jaridmargolin commented on #1639
Unfortunately there is no guarantee that the websocket disconnect was reported.

I don't know quite enough about the Apollo client, or if any of the ides will carry over, but the team at Layer had a few interesting ideas utilizing a counter: https://docs.layer.com/reference/client_api/websocket_recovery

---

Hopefully you don't mind me crashing your conversation. I've been surfing the webz all ni

[2017-05-25 05:27] gauravmk commented on #1731
I started digging into writing a custom networkInterface and an issue I ran into is that I can't forward any custom options from my query into my networkInterface. I'm using react-apollo and ideally would like to do something like:

[code]

Any thoughts on forwarding custom options as part of the request? Or some way to tag a request at query time in a way that a customNetworkInterface can do some

[2017-05-25 05:35] #1736 closed

[2017-05-25 15:35] abhiaiyer91 commented on #1716
@duvet86 I think it depends on your UI and the latency from the sub. But i do think it makes sense :)

[2017-05-26 08:00] sherinmarlabs commented on #1493
I've been trying this and couldn't find a proper solution.
I've have a login screen in which I call the client.query. I'm till not sure how to pass the error to the form when client.query fails when invalid credentials are passed.

I can handle the error and dispatch another action to my redux. I feel there will be a better way to do this.

[2017-05-26 09:51] WaSa42 opened #1740 "Error 400 - Must provide document - when fetching"
**Intended outcome:**

I'm trying to fetch data with a simple query in a React component wrapper:
[code]

[code]

And here are my resolvers, types etc., on an Express server:
[code]

[code]

[code]

[code]

So, when I enter `http://localhost:5076/graphql?query={teams}`, the result must be `{"data":{"teams":null}}`.

**Actual outcome:**

This GET request is working but when Apollo try to fetch with

[2017-05-26 10:04] WaSa42 commented on #1740
This is basicaly the issue here: Error - "Must provide document" #1696

But I did reproduce with Postman and it works fine. I hope getting more informations about the size limit you thought it might be the problem.

Thank you

[2017-05-26 14:03] stevewillard commented on #1409
@abergenw I would be curious to see your changes. I am experiencing similar issues with large result sets (5k-10k items in an array). The most time consuming time is spent writing/diffing/reading from the store.

<img width="741" alt="screen shot 2017-05-26 at 9 58 19 am" src="https://cloud.githubusercontent.com/assets/11420/26497738/898c30f8-41fa-11e7-9a61-b4b79f9f1d1e.png">

[2017-05-26 14:54] abergenw commented on #1409
@stevewillard you can find my performance related improvements here:

https://github.com/abergenw/apollo-client/tree/performance-improvements

Most of the improved performance is a result of the query cache. More on this in #1673.

[2017-05-26 16:04] cesarsolorzano commented on #1740
This is an error on the server and isn't related apollo-client - for a solution see: #1233

[2017-05-26 16:04] #1740 closed

[2017-05-26 20:53] dallonf commented on #1680
Is `fetchMore` intended to be used for page-based pagination in the UI? It seems more designed for things like infinite scrolling... looking at the examples, it's not clear how one might implement a more traditional paginated view. I'm talking about this sort of thing:

![image](https://cloud.githubusercontent.com/assets/346300/26512242/5200efe4-422b-11e7-9c38-bd44d7016257.png)

Note that it's not

[2017-05-26 21:45] helfer commented on #1719
Hi @avindra. Yeah, I'd like to throw an error in that case, but it would not be a backwards-compatible change, so we decided against it.

The real problem with your setup is probably that you're using fragments on interfaces or unions without using the IntrospectionFragmentMatcher.

I don't think it's possible to make Apollo Client shut up completely at the moment, but if you're running in product

[2017-05-26 21:46] #1719 closed

[2017-05-26 21:52] helfer commented on #1737
Hi @xavierlefevre. The error message indicates that there's no id generated for the new user. I'm not sure why there are two users, but it would be really helpful to have a simpler reproduction using the [error template](https://github.com/apollographql/react-apollo-error-template). A minimal reproduction helps us isolate the problem faster, and it would help you figure out if you were doing somet

[2017-05-26 21:54] helfer commented on #1728
Hi @GalFriD if fetchPolicy is `network-only`, you should not have to refetch manually. Please try it without that, and if it still doesn't work, please open a new issue and provide a reproduction. Thanks!

[2017-05-26 21:54] #1728 closed

[2017-05-26 22:01] helfer commented on #1717
Hi @lunedis. :wave: I looked at the code for `cloneDeep` in Apollo Client, but I couldn't find an obvious reason why there would be an infinite recursion. Could you provide us with a GitHub repo that I can clone and then simply run `npm install && npm test` to reproduce the issue? Thanks in advance!

[2017-05-26 22:24] helfer commented on #1717
Actually, never mind, I think I figured out what is going on. If you're using `parse` from graphql, that will result in an object with circular references, which gets cloned when typenames are added (so if you initialize the client with `addTypename: false` you won't have the issue). If you use the `gql` tag, that's not the case because it doesn't include those circular references.

We should prob

[2017-05-26 22:27] helfer commented on #1713
Hey @changalberto, that's a great idea! However, as @smolinari pointed out, this is something the Fuse team should look into. We're definitely happy to help if there's anything that needs to be done on our end.

[2017-05-26 22:27] #1713 closed

[2017-05-26 22:36] helfer commented on #1725
Hey @bochen2014, I think that would be a great idea! @stubailo and I would be happy to help with that 🙂

[2017-05-26 22:42] helfer commented on #1727
This was a lint error that's now fixed.

[2017-05-26 22:42] #1727 closed

[2017-05-26 22:43] helfer commented on #1724
Someone fixed it already.

[2017-05-26 22:43] #1724 closed

[2017-05-26 22:43] helfer commented on #1723
lint error.

[2017-05-26 22:43] #1723 closed

[2017-05-26 22:47] helfer commented on #1712
If it's just for a test could you just do `import { addTypenameToDocument  } from 'apollo-client'? I don't know if we really want to generate a umd version of every file.

[2017-05-27 01:58] richburdon opened #1741 "Fragments don't seem to work for interfaces (despite IntrospectionFragmentMatcher)"
**Intended outcome:**

Apollo Client 1.3.0

I have a simple schema (to test this issue):
[code]

And a simple query using fragments:
[code]
In GraphiQL the correct list of Task objects are returned with each of the `{ __typename id title status}` fields.

NOTE: the following works (so it seems to be related to defining fragments on the interface itself, not implementing types).
[code]

**Actual ou

[2017-05-27 14:18] richburdon commented on #1741
Related to https://github.com/apollographql/apollo-client/issues/1719

However I am defining a  `IntrospectionFragmentMatcher` and still have the problem.

[code]

[2017-05-27 14:33] richburdon commented on #1608
@cesarsolorzano by "function" you mean an instance of `IntrospectionFragmentMatcher` correct? I have the same issue despite supplying this. https://github.com/apollographql/apollo-client/issues/1741. Note also, this isn't documented in the `ApolloClient` ref docs: http://dev.apollodata.com/core/apollo-client-api.html#apollo-client

[2017-05-27 15:52] cesarsolorzano commented on #1741
@richburdon I think I know what's going here. Could you change your `TaskFragment` to:
[code]

[2017-05-27 18:02] stubailo commented on #1713
Yeah actually all of the framework integrations are primarily community maintained, so it's always up to someone to take the first step for a new integration!

[2017-05-28 04:02] developerworks opened #1743 "The uri of createNetworkIntreface is overwrite by webapck devServer option"
![image](https://cloud.githubusercontent.com/assets/725190/26526010/626477c0-439d-11e7-9ebb-054c6a1701af.png)

I have created a project [HERE](https://github.com/developerworks/apollo-subscription) to re-produce the issue, if you have time to see this, thank you.

The issue could be fixed by add a proxy config to devServer like this:

[code]

But why the uri property of createNetworkInterface is n

[2017-05-29 04:41] stubailo commented on #1743
Can you point to the part of the code where you are trying to specify the URL? All I see is this line: https://github.com/developerworks/apollo-subscription/blob/3d64e9d35621b6ad1cf9a479e855bc4a3b955be5/client/index.js#L24

Which I would expect to point to the same address as the webpack dev server, so I'm not sure what the problem is.

[2017-05-29 05:18] dcworldwide commented on #899
`What's the reason you want to delete from the cache and how important is that feature to you?`

To synchronise my view model (mobx) with my model store (apollo)

[2017-05-29 08:12] MichaelDeBoey commented on #1705
@helfer Any idea how I can do something like this?

[2017-05-29 09:09] xavierlefevre commented on #1737
@helfer I'll try and spend some time this beg of week to find a way to reproduce this, hoping it is easily reproducible. I'll get back at you fast. And thanks for the fast answer.

[2017-05-29 15:54] stubailo commented on #1705
[code]

Doesn't this "just work" right now? What's stopping this code from working?

[2017-05-29 16:49] emcpadden commented on #1432
Looking forward to an integration with ngRX. I am using ngRX already and really love it, it feels like the right redux-style store for Angular apps.  I am just starting to look at graphQL/apollo and would love to have a clean integration between the two.  It would be a great bridge for adoption for Angular users that want to stay close to Angular projects like ngRX.

[2017-05-29 18:28] MichaelDeBoey commented on #1705
@stubailo The problem is I don't have `Person`s in my store, I only have `Instructor`s and `Student`s.

[2017-05-29 18:37] stubailo commented on #1705
Have you tried passing "Instructor" as the __typename in the above code? Or are you saying you have the Id but don't know what type it is?

[2017-05-29 18:38] MichaelDeBoey commented on #1705
@stubailo Yeah that's indeed what I'm saying: I know `1234`, but I don't know if it's an `Instructor` or a `Student`, I only know it's a `Person`.

[2017-05-29 18:46] stubailo commented on #1705
That's interesting, I think the easiest solution would be to use an ID that doesn't have the type in it. Another solution is to scan the store for a matching ID but that would be linear in the number of objects. Haha maybe one day we will have an index for arbitrary lookups by fields other than the generated ID!

[2017-05-29 18:47] sondremare opened #1744 "ObservableQuery is removed, stopping rerenders"
**Intended outcome:**

We have a sidebar with items, showing some info including the last message received in that conversation. On the right side, we show all the messages when the user clicks the corresponding sidebar item. When the user receives a message in real-time (via pub/sub) we update the fragment used in the sidebar item with the corresponding message (using read/writeFragment), wanting

[2017-05-29 18:51] MichaelDeBoey commented on #1705
I'm now manually checking if it's an `Instructor` and if the result is `null` I try if it's a `Student`, but that's a bit cumbersome I think. 😕
Especially when you have a type that has like 7 subtypes for instance.

[code]
And because we _know_ the scheme, we _could_ know the possible subtype I think?

Or is there another best practice for this?

[2017-05-29 20:37] stubailo commented on #1705
Unfortunately I don't think anything will help you determine the type from an ID without actually looking at the data.

I think the easiest thing to do is to check the store, but that will be linear in the size of the store:

[code]

Basically the fundamental limitation is that the ID generated from `dataIdFromObject` is the only way to access a particular object without accessing the store. Allow

[2017-05-29 21:12] MichaelDeBoey commented on #1705
The IDs are (mostly, but unfortunately not always 😕) unique in `Person`, but they're not in the whole store.

I'm using an `IntrospectionFragmentMatcher`, so the `apollo-client` knows the whole schema, that's why I was thinking there should be some way to do what I want and not needing to make the iteration myself for every Union type I'd like to do this for.

[2017-05-29 21:21] stubailo commented on #1705
Can you show me the snippet of how you're using the `IntrospectionFragmentMatcher`?

[2017-05-29 22:11] MichaelDeBoey commented on #1705
@stubailo I just queried the server like explained in [the docs](http://dev.apollodata.com/react/initialization.html#fragment-matcher).

[2017-05-30 00:45] richburdon commented on #1708
Answering my own question #6.

In `mutation.update`, optimistic responses should update fragments -- and the relevant queries should update themselves (via `dataIdFromObject` magic).

Awesome.

[2017-05-30 00:45] #1708 closed

[2017-05-30 00:55] richburdon commented on #1741
Thanks for the suggestions.

I think I've been hitting a perfect storm of issues: I have a monorepo with multiple GQL dependent modules. I have things working now, so the problem has been some combination of:

- different graphql versions used across pacakges
- `jest` and `babel-node` caching `.graphql` files (so updates to my schema defs were being ignored).

And, I think these issues may have ob

[2017-05-30 00:55] #1741 closed

[2017-05-30 01:55] kingkong2013 opened #1745 "how to query by foreign key?"
I am new to Apollo and graphQL, I am trying query all testcases by user's id:

    query TestCaseQuery($id: String) {
      testcases(user: {id: $id}) {
        id
        name
        content
        status
        lastUpdate
        locale
        description
        priority
        user{
          id
          name
          group
        }
      }
    }

it can get results from graphQL, but w

[2017-05-30 02:55] kingkong2013 commented on #1745
it worked  after I upgraded to latest version. sorry for the questions.

[2017-05-30 02:55] #1745 closed

[2017-05-30 12:36] xavierlefevre commented on #1737
@helfer I did not have time yet to reproduce the issue on a simpler example.

However I have a question, how does `updateQueries` work exactly ? Because I do not understand why after **1** mutation, the function is called several times, where one time a previous result misses properties, among which the `id`. See the attached screenshot :

<img width="1118" alt="screen shot 2017-05-30 at 14 27 50"

[2017-05-30 14:30] ViggoV commented on #1524
I know this one is closed, but I am getting this error after updating from 0.10.1 to 1.3.0.. Are you sure that it is fixed? I am not using meteor..

[2017-05-30 21:01] fmatuszewski opened #1746 "Error during webpack build @types/graphql"
**Intended outcome:**
I tried to install apollo-client in my application.
My setup is polymer 2.0 polymer-redux redux and is build with webpack.
I don't use angular cli
When i try to build it with webpack i get errors

[code]

Below is my configuration:

webpack.config.js
[code]

tsconfig.js
[code]

package.js
[code]

**Actual outcome:**

During webpack build I get this errors:

[code]

**How to r

[2017-05-30 21:47] xavierlefevre commented on #1737
@helfer

I fixed the issue. Here is my commit : https://github.com/xavierlefevre/chat/commit/11c84529c5fc16168470109f07ab83cbe15ca181

The thing I understood :
- I query `USER_QUERY` when arriving on the app, retrieving many information for this user as id, username, friends, groups etc.
- In the page of this issue, I then make a `FRIEND_QUERY` that only retrieves the friends of this same user
- O

[2017-05-31 05:42] kingkong2013 opened #1748 "Help need, after update, fetchMore didnot work."
old version:
"react-apollo": "^0.5.13",
"apollo-client": "^0.4.22",

update version:
"react-apollo": "^0.7.1",
"apollo-client": "^0.5.18",

the code below did not work on update version:

    this.query = props.client.watchQuery({
      query: gql`${query}`,
      variables: {
        offset: this.state.length
      }
    });

      this.query.fetchMore({
        variables: {
          offset: thi

[2017-05-31 07:41] stubailo commented on #1748
Hmm, that code looks like it should work fine - can you maybe `console.log` the `previousResult` and `fetchMoreResult`? I think the shape of those might not be what you expect.

[2017-05-31 07:41] stubailo commented on #1748
I'd suggest updating to the newest version though, since those properties have a slightly different shape now: https://github.com/apollographql/apollo-client/blob/master/CHANGELOG.md#100-rc4

[2017-05-31 14:59] chris-guidry commented on #899
Based on the blog post [Apollo Client’s new imperative store API](https://dev-blog.apollodata.com/apollo-clients-new-imperative-store-api-6cb69318a1e3#0e85), here's how I setup delete mutations:

`
this.props.FooDelete({
  variables: {
    input: {
      id: this.props.id
    }
  },
  update: (store, { data: { deleteFoo } }) => {
    const data = store.readQuery({query: fooQuery() }); // the Graph

[2017-05-31 15:56] karlhorky commented on #1326
@jbaxleyiii Any movement here on the documentation? Was working with this today and it would be great to have some docs 😄

[2017-05-31 17:48] helfer commented on #1748
@kingkong2013 those are some really old versions, and we don't have the bandwidth to provide support for them or fix non-critical bugs. Can you try updating to 1.0?

[2017-05-31 18:09] helfer commented on #1746
@fmatuszewski I think this is not related to Apollo Client, but a problem with your setup. I recommend asking on stackoverflow instead, or on the Apollo slack.

[2017-05-31 18:09] #1746 closed

[2017-05-31 21:49] clayne11 commented on #585
That would allow us to pretty easily parse any custom scalar on the client. I think it's a great idea.

[2017-06-01 00:34] benbro opened #1749 "Automatically create networkInterface"
Instead of this:
[code]

Use this:
[code]
If networkInterface is an object, ApolloClient can automatically call createNetworkInterface with the networkInterface config.
https://github.com/apollographql/apollo-client/blob/master/src/transport/networkInterface.ts

[2017-06-01 01:58] kingkong2013 commented on #1748
@stubailo @helfer
Thank for your guys response.

my fetchMore  function worked OK on old version,  but when I want to install [apollo-client-devtools ](https://github.com/apollographql/apollo-client-devtools) chrome extension, it need me to upgrade to:

but after I upgrade to that version, fecthMore didnot work.

now as your guys suggest I upgraded to latest version:
"react-apollo": "^1.0.0",
"apo

[2017-06-01 07:04] sondremare commented on #1744
bump

[2017-06-01 08:20] timbrandin commented on #1694
I have the same issue, this is very common for paginated queries, and you want to update all of the cached data in the store, like for example remove an item.

[2017-06-01 08:27] sondremare commented on #1744
Seems to be an issue with un/mounting, so just closing this.

[2017-06-01 08:27] #1744 closed

[2017-06-01 08:57] tomitrescak opened #1751 "How to increase timeout from 2 minutes to N Minutes?"
In my application I make queries to 3rd party server that can last more then 2 minutes.
Currently, after 2 minutes Apollo closes connection and throws "Request failed to fetch".
Is there any way for me to increase this timeout to N minutes?

It seems that node has [this timeout by default](https://github.com/nodejs/node-v0.x-archive/issues/3460), I'm just not sure where can I set this for the clie

[2017-06-01 09:09] tomitrescak commented on #1751
Ok, I managed to solve it in express configuration:

[code]

[2017-06-01 09:09] #1751 closed

[2017-06-01 15:20] abergenw commented on #1186
Not sure if it's related to this issue, but this happens when a react component is "remounted" with different variables for the query. While not standard practice, it happens e.g. when including some content in a component's state, and the state is updated with new content which happens to be the same component only with different props/variables. In this case a remount occurs.

This line seems to

[2017-06-01 15:53] gbenga504 commented on #1555
I am actually using the latest version of Apollo client and react Apollo...  And also running in Dev mode, didn't see any warning. I would have loved it users could be noted to use the introspectionFragmentMatcher .. At least it would be a perfect guide.

[2017-06-01 18:32] helfer commented on #1749
@benbro I don't think that's a good idea, because it would either make things more complicated or mean that you can no longer provide your own networkInterface. However, I agree that we could make things simpler. @stubailo had the idea of making the networkInterface argument completely optional if your server is on the same origin as the app and the GraphQL API is at `/graphql`, which seems to be

[2017-06-01 20:07] benbro commented on #1749
Thanks

[2017-06-01 20:07] #1749 closed

[2017-06-01 20:12] stevewillard commented on #1409
@abergenw BTW I tried your branch and it noticeably faster in my app (3x-5x faster for large arrays). Nice work! I'll be following your PR.

[2017-06-01 21:24] #1619 closed

[2017-06-01 21:39] helfer commented on #1748
@kingkong2013 I think the way you're using Apollo Client is very non-standard. Is there a reason you're not using the `graphql` higher order component from react-apollo? I think the problem that you're running into is that you're not actually starting the query by subscribing to it before you call fetchMore.

I would recommend rewriting your app to use a more standard way of querying, or reading t

[2017-06-01 21:39] #1748 closed

[2017-06-01 21:41] helfer commented on #1735
Hi @jacobk thanks for helping with this! We fixed it in #1738 🙂

[2017-06-01 21:41] #1735 closed

[2017-06-01 21:43] helfer commented on #1716
Hi @duvet86 I think that's the best solution we have at the moment. We actually do the same thing for the comments subscription in GitHunt.

[2017-06-01 21:43] #1716 closed

[2017-06-01 21:46] helfer commented on #1726
@cesarsolorzano is right. The main reason we added this feature in the first place is that it helps people much more quickly debug when a manual cache update isn't working as expected. 99% of the time this was because of missing data. This feature took care of it.

If performance is your main concern, then I think you will find that the PR by @abergenw will solve your problem. Once we merge it, yo

[2017-06-01 21:46] #1726 closed

[2017-06-01 21:48] helfer commented on #1731
Hey @gauravmk, I see your problem, but I don't think there's a decent way of solving this problem at the moment. We're working on a new network interface and core client API that will actually let you do this exact thing: pass through metadata with every query. For now, I think you should be able to use a special variable (that doesn't exist on the query) and read that out in the middleware. So fo

[2017-06-01 21:48] #1731 closed

[2017-06-01 21:51] helfer commented on #1696
Hi @Siyfion, I'm going to close this because I'm 99% sure that it's not a client issue. Maybe the answer is the same as for #1233. If not, please file an issue on the server implementation that you use.

[2017-06-01 21:51] #1696 closed

[2017-06-01 21:53] helfer commented on #1707
Hi @TheInquisitiveNerd, would you be able to provide a reproduction for this using the [error template](https://github.com/apollographql/react-apollo-error-template)?

[2017-06-01 21:55] helfer commented on #1704
I'm going to close this for now because we're not going to change it in the current version of the API, but please add a comment to the use-cases and API wishlist issue on react-apollo so we can keep it in mind during a future refactor!

[2017-06-01 21:55] #1704 closed

[2017-06-01 21:56] helfer commented on #1701
Closing this for lack of activity. If it's still an issue, please provide a reproduction and we'll reopen. Thanks! 🙂

[2017-06-01 21:56] #1701 closed

[2017-06-01 22:48] gauravmk commented on #1731
Yep, that's exactly what I ended up doing and it works for us.

For other folks who want to do something similar, we're basically doing this:

[code]

[2017-06-02 03:16] helfer commented on #1737
Ah, I think I see the problem now. Your FRIENDS_QUERY doesn't ask for the user's id. That way Apollo Client cannot calculate a unique id for the object, and you get the error message that you saw. I'm glad you figured out a solution on your own though! 🙂

[2017-06-02 03:16] #1737 closed

[2017-06-02 03:18] helfer commented on #1614
@pgdejardin GET requests should only be used for queries, so it's fine if it doesn't work for mutations. In fact, for mutations it should always make a POST request. A PR to the default network interface would be really cool! 👍

[2017-06-02 05:41] n1ru4l commented on #1614
I implemented such a network interface in an application a few days ago: https://gist.github.com/n1ru4l/cb24401592417bda7fad989d416f0b9f

[2017-06-02 07:00] kingkong2013 commented on #1748
@helfer,
Thank for your information.

the logic of my page is liked that:
1. define query in constructor of react component
`this.query = props.client.watchQuery({})`
2. get results in refresh() function. and put refresh() into componentDidMount(){}
`this.query.result().then((result) => {...})`
3. get more results in next() function.
`this.query.fetchMore({...})`

it did work on old apollo version

[2017-06-02 07:01] lucfranken commented on #1697
Thanks for the feedback @jurajkrivda !

I think if I understand you well:

      const data = proxy.readQuery({ query: allInvoicesQuery });

      data.allInvoices.push(createInvoice);
      proxy.writeQuery({
        query: allInvoicesQuery,
        data
      });

      // Then manually filter that array by paid = true and write it to
      // allInvoices(filter: {paid: true })

      // Then ma

[2017-06-02 07:56] ksmth opened #1754 "improve error message when ID is missing while attempting to write to store"
Over the past few days, I've noticed a lot of people are confused by the error message here:
https://github.com/apollographql/apollo-client/blob/25b293b2b9afdb08da9583bec36201532a881840/src/data/writeToStore.ts#L373

It's not clear how to solve the problem if you see this error message. The most common solution appears to be to query for the `id`.

[2017-06-02 08:14] gajus commented on #1726
Presumably, this is the PR thats being referred to https://github.com/apollographql/apollo-client/pull/1675

[2017-06-02 10:01] miclill commented on #1717
Here is how lodash solves this problem:
https://github.com/lodash/lodash/blob/master/.internal/baseClone.js#L198

[2017-06-02 14:49] c10b10 commented on #1694
@timbrandin Maybe you can chip in here: https://github.com/apollographql/react-apollo/issues/708

[2017-06-02 17:31] joncursi opened #1757 "React Native Android: Network Request Failed (using localhost)"
Hey there,

I've been working on a React Native app for a while now with great success using Apollo Client. I do most of my debugging during development using the iOS simulator, and check the app on the Android emulator now and again to make sure things are working as intended.

I have configured Apollo Client per the docs (basically just setting the `networkInterface` and wrapping my app in the `

[2017-06-02 18:20] zackify commented on #657
@ferdingler same thing happening for me.

[2017-06-02 18:23] zackify commented on #1757
Use the ip address of your computer instead of localhost. This has nothing to do with react-apollo btw :)

[2017-06-03 00:29] helfer commented on #1754
@ksmth yeah, I've noticed that too. The error happens when you don't include `id` for some object that you previously queried with `id`. We could provide a better error message if we knew exactly what query caused the error. In the context where the error is thrown we don't have that information, but we could catch the error at the top level of `writeToStore` add the full query to the error messag

[2017-06-04 19:31] rafrex opened #1759 "Loading query overwrites proxy.writeQuery"
This is a re-issue of #1223 (updated using `apollo-client` v1.4.0, `react-apollo` v1.4.2 and `proxy.writeQuery`)

I have a `login` mutation with an `update` option that updates my current user query:

[code]

This works fine in isolation, the `currentUser` query is updated with the user `id` and `username` and my `User` React component gets the new current user data exactly as is should. However,

[2017-06-05 01:38] hems commented on #177
oh glad i found this!

[2017-06-05 03:59] stubailo commented on #177
Mind sending a PR to the setup docs to mention that a `fetch` polyfill is necessary on Node?

[2017-06-05 05:42] leowmjw opened #1760 "GraphQL error: No operation named """
Was trying out the Apollo Client for the most basic of examples (from README) to get data from Github API but have been hitting a strange error.

**Intended outcome:**
- Data from Github API

**Actual outcome:**
No data, error instead:
[code]

**How to reproduce the issue:**
Code; I used:
[code]

Raw data sent over the wire:
[code]

Have tried to put operationName in but same result:
[code]

I fou

[2017-06-05 05:52] stubailo commented on #1479
Note that this issue is now fixed as of `graphql-anywhere` 3.1.0

[2017-06-05 06:05] stubailo commented on #1760
That's interesting! The GitHub API is the only thing that has ever tripped up on this.

Our `getOperationName` function returns `""` when the operation is not named: https://github.com/apollographql/apollo-client/blob/57bdecd90aabe3af7ba548b0a38b98d06aa302dd/src/queries/getFromAST.ts#L62

Looks like the GitHub API might be expecting `null` in the case of an anonymous query. I think a very simple c

[2017-06-05 06:11] buholzer opened #1761 "HTTPFetchNetworkInterface afterwares are not called on exception"
**Intended outcome:**
A registered afterware should be called even doe the query execution had an error.

When calling a graphql server, the request gets a cors error (No 'Access-Control-Allow-Origin' header is present) due to an authentication failure. The browser throws an error that can be catched in the promise chain and the afterware should be executed.

**Actual outcome:**
The afterware is n

[2017-06-05 06:25] tmeasday commented on #1536
FTR the issue here is calling `.query()` with a mutation. I think the error could be more helpful.

[2017-06-05 10:40] leowmjw commented on #1760
Thanks @stubailo for the tips, I did the below change (total TS newbie) and tried to compile:
[code]

but encountered the following scary output -- not sure how to fix and where the rabbit hole will end 🐰 :
[code]

[2017-06-05 11:21] Siyfion commented on #1696
I've tried all of the CORS additions talked about in #1233, but none of them have worked for me at all. The server implementation is `graphql-server`, via `meteor-integration`.

[2017-06-05 13:03] jbaxleyiii commented on #1536
@TheoMer any reason why you aren't using `graphql` from react-apollo? It has the same interface for mutations / queries / subscriptions to help prevent issues like this

[2017-06-05 13:51] TheoMer commented on #1536
@jbaxleyiii I'm using gql because I needed to retrieve data only on the onClick event, hence the use of withApollo.

Many thanks All

[2017-06-05 14:36] janiukjf commented on #1186
@abergenw This is exactly how we are using components with apollo and are seeing the same behavior as described. Any suggestions on a better, more standard approach?

[2017-06-05 16:22] nevir commented on #1409
Slight side track, but fundamentally it seems like Apollo is going to hit a wall with the way it juggles normalized vs materialized nodes.

Even with a query cache, there is a significant initialization cost per query (e.g. `diffQueryAgainstStore` and friends being called the first time).  If you have, say, a mobile app that retrieves several large subgraphs when mounting a scene/route, it's very

[2017-06-05 16:48] wmertens commented on #1409
@nevir could not agree more, see also some musings on the subject at https://github.com/apollographql/apollo-client/issues/1300#issuecomment-283374347

[2017-06-05 17:23] helfer commented on #1409
@nevir with the new store we're working on you'll be able to make these kinds of tradeoffs yourself. If consistency isn't too important, you can plug in a store that simply caches the whole query and returns it when exactly that query is requested. From there one can add more optimizations like working out consistency in the background if desired. Happy to involve you in the design, if you're inte

[2017-06-05 18:02] nevir commented on #1409
@helfer yeah, would definitely be curious about it - do you have any docs/thoughts written up on it?

[2017-06-05 20:12] rafrex commented on #1759
I created a failing example using the error template and Scaphold as a backend:
https://github.com/rafrex/apollo-error-example-issue-1759

`git clone`, `npm install`, and `npm start` should be all you need to get it running.

Login with `user` for both username and password (pre-filled). It will take you back to the login page because this issue (current user is overwritten as `null`). If you refr

[2017-06-05 21:24] fc commented on #1731
@gauravmk I'm wondering if this is something you could add to the documentation? http://dev.apollodata.com/core/network.html#custom-network-interface

People are frequently asking about custom network interfaces and need a basic example of a custom network interface to satisfy a common use case they can either use or modify to fit their needs.  There is an 'Edit on Github' link on the page.

[2017-06-06 00:23] gauravmk commented on #1731
https://github.com/apollographql/core-docs/pull/300 there you go

[2017-06-06 02:05] sanyam-coursera commented on #1706
I am facing this issue too while using react-native and redux-persist to persist/hydrate my store. I think this is going to affect more and more people as react-native is adopted since mobile apps need to persist their apollo state for faster bootup time.

@StevePotter Any luck making a PR for this issue or were you able to find a workaround?

[2017-06-06 02:28] nickjs opened #1765 "`mutate` result doesn't match declared type"
**Intended outcome:**
The return type of `mutate` is supposed to be `Promise<ApolloQueryResult<T>>`, according to https://github.com/apollographql/apollo-client/blob/master/src/ApolloClient.ts#L345.
That means I would expect the result of the promise to have, for example, a `loading` prop: https://github.com/apollographql/apollo-client/blob/master/src/core/types.ts#L14

**Actual outcome:**
However

[2017-06-06 04:01] stubailo commented on #1760
Oh I think that's because all of our redux actions include `operationName` and specify that it's a `string`. So all of those will have to change to `string | null` as well.

[2017-06-06 19:26] developersoul opened #1767 "Improving the documentation mutation update option"
Hi everyone, firsts thanks for the amazing client. Second after half of a day trying to update the cache after a mutation and seeing the examples, I can say the more examples are needed, in the documentation. Like the next one with variables...

**Example:**

[code]

[code]

And to make works readQuery function we need to pass the variables. That is something that is not mention on the docs and ge

[2017-06-07 08:14] seeden opened #1768 "fetchMore and updateQuery vs update"
Hi guys I can see in the documentation that updateQuery can be deprecated in the feature and therefore I have started to use update. But when I use fetchMore I can see next error:

Uncaught (in promise) Error: updateQuery option is required. This function defines how to update the query data with the new results.

[2017-06-07 09:02] baldurh commented on #1760
Just started getting this error this morning using the Shopify Storefront API.

[2017-06-07 13:06] ryannealmes commented on #1227
This fixed my problem, but I am not understanding why the [documentation](http://dev.apollodata.com/react/cache-updates.html#normalization) is the way it is. If you look at the example in the docs

[code]
Doesn't the example then override the default way the dataId is created? i.e. You would return ids without the `__typename` appended. I would have thought the documentation would include the exam

[2017-06-07 13:36] ryannealmes commented on #1227
After chatting on the apollo channel I see that the comment in the example says `unique IDs`. It's a little obscure. Might be good to draw attention to that a bit more. People using relational databases might not see it.

[2017-06-07 13:36] jbinto commented on #1227
@ryannealmes I think the salient point is "If your database has unique IDs across all types of objects". NoSQL dbs like Mongo tend to work this way, while relational DBs like Postgres tend to use non-globally unique keys.

[2017-06-07 13:37] ryannealmes commented on #1227
Ye, noticed the comment, could be helpful to draw a bit more attention to it. Anyway, my 2cents, hopefully this helps other people who glance over the comment!

[2017-06-07 21:25] helfer commented on #1768
Hi @seeden 👋

I think the naming that we chose is a bit unfortunate. For `fetchMore` you can continue using `updateQuery` just like before. Only for mutations we recommend using `update` instead of `updateQuery` (which is different from the `updateQuery` for `fetchMore`, but has the same name). Does that make sense? Is there any place in the docs where we could clarify this?

[2017-06-07 22:46] stubailo commented on #1768
FWIW, for mutations it's called "updateQueries" :)

[2017-06-07 22:47] stubailo commented on #1760
That's odd - I wonder why people are just starting to hit this. Perhaps graphql ruby changed the way it accepts requests.

[2017-06-07 23:52] helfer commented on #1760
Fixing this as soon as possible.

[2017-06-08 03:30] #1760 closed

[2017-06-08 11:50] baerrach opened #1771 "proxy.readFragment with missing fragment option fails with "Cannot read property 'definitions' of undefined""
**Intended outcome:**

I was fiddling with options.update to update the cache after a mutation.
Initially I tried readQuery, but the bit of data I needed to modify is not at the root node.
So after reading more I tried readFragment.
However I neglected to change the option name from **query** to **fragment**, and instead of getting an error indicating the fragment was missing I essentially get a n

[2017-06-08 13:24] sabativi commented on #424
Hello @kuka,

Did you manage to handle network errors and how ?
I am currently facing problems with this, but apparently I am not the only one https://github.com/apollographql/react-apollo/issues/758

For handling mutations, as redux-persist save everything to local storage and as we catch `APOLLO_MUTATION_ERROR` action which give us the id of the mutation, I was thinking on a simple solution that

[2017-06-08 15:02] advance512 commented on #1186
@janiukjf - what version are you using, that resolved the issue?

[2017-06-08 15:33] janiukjf commented on #1186
@advance512 I had to update both apollo-client and react-apollo to versions 1.4.0 and 1.4.2 respectively.

[2017-06-08 17:20] helfer commented on #1771
Hi @baerrach, thanks for filing an issue! Is that a complete code sample? Because I don't see any `readQuery` or `readFragment` in there.

That said, I wouldn't be surprised if this was an issue, but it should be very easy to fix. Do you want to make a PR for that? We would really appreciate it! 🙂

[2017-06-08 17:21] helfer commented on #1765
Thanks @nickjs! I think it should probably be `Promise<GraphQLResult>`. @cesarsolorzano do you have time to look into it and maybe fix it? 🙂

[2017-06-08 17:29] cesarsolorzano commented on #1765
sure thing. I'll look into it!

[2017-06-08 19:14] tmickel commented on #51
@helfer @stubailo I'm still learning about this problem (and Apollo), but:

In an imaginary Apollo configuration where partial results and errors are returned, could these be cached, too? I.e., a cached response would indicate errors (and partial data), which would then be overwritten (errors cleared) if a new, successful response comes back from the server?

In react-apollo, errors could maybe ev

[2017-06-08 22:36] baerrach commented on #1771
Sure its PR #1772

[2017-06-08 23:10] baerrach commented on #1771
I've updated the code example, that will teach me to create an issue when its bed time :P

[2017-06-09 04:05] edelreal commented on #621
I'd like to delete some specific nodes in my cache store for my application's logout, for security, and also force them to refresh from the network the next time they are accessed via queries.

Would it make sense to have invalidation and deletion methods symmetrical to the other imperative store API methods?

For example:

[code]

Nodes selected by the above would be deleted from the cache, and w

[2017-06-09 09:49] jinxac opened #1773 "Queries for unmounted components getting called after calling a mutation and resetStore."
We have an application built up on react-native, apollo and graphql. The application is a fintech  app which contains a dashboard with list of portfolios, the user choose the portfolio, goes to payment page and can make payment after which he is redirected to dashboard.

We were looking to clear cache on login for handling multi user behavior. We tried implementing `resetStore`. This works fine wh

[2017-06-09 09:59] jinxac commented on #1710
@jurajkrivda would this scale for a scenario where you have list of items specific to a user and a detail view which each item?

[2017-06-09 11:16] kbrandwijk opened #1774 "Easy example for custom network interface?"
I'm looking at a way to modify a query or mutation in the networkinterface. It doesn't seem possible in midleware functions, and the documentation describes it as a use case for a custom network interface. Are there any easy examples available for creating a custom network interface to do this?

[2017-06-09 13:11] dallonf commented on #621
I like the idea of differentiating between `invalidate` and `delete`.

After using https://github.com/lucasconstantino/apollo-cache-invalidation, though, I'm not convinced that an API perfectly parallel to `writeQuery`/`writeFragment` is sufficient, since it only targets fields with one particular set of arguments... here's an example of why that's important.

Let's say I have a `widgets(page: Int

[2017-06-09 13:56] n1ru4l commented on #1774
I did this the other day https://gist.github.com/n1ru4l/cb24401592417bda7fad989d416f0b9f
I hope it helps you :)

[2017-06-09 14:38] lucasconstantino commented on #621
I agree, invalidation should definitely differ from simply deleting cache. In fact, I think `apollo-cache-invalidation` only scratches the surface on how third-party libraries could be built to control cache in any necessary manner.

[2017-06-09 18:00] muninn9 opened #1775 "Optimistic UI Not Updating with Graphcool"
After performing a mutation with an optimistic update, the UI does not update until the page is refreshed. I'm using Graphcool as the server. I'm thinking it could have something to do with the schema and resolvers not being defined properly because it works when I build my own server.

**Here's what I have for my query, which is in a separate file in a list component:**

[code]

**And here's the

[2017-06-09 21:11] helfer commented on #1775
@muninn9 Thanks for filing an issue. I don't see anything wrong with your code at first glance. Have you filed a corresponding issue with Graphcol?

[2017-06-09 21:13] helfer commented on #1774
@kbrandwijk we don't have any special documentation for that, but we're working on a new fetcher for Apollo that is more composable. We'll have docs on that kind of thing there. In the meantime, I think you can use @n1ru4l 's Gist as a template! 🙂

[2017-06-09 21:13] #1774 closed

[2017-06-09 21:17] helfer commented on #1773
Hi @jinxac, thanks for filing an issue. It sounds like this could be a bug in Apollo Client. Would you be able to provide a reproduction using the [error-template](https://github.com/apollographql/react-apollo-error-template)? That would help us get to the bottom of the issue much quicker. Thanks!

[2017-06-09 21:18] helfer commented on #1768
I think I'll close this issue and make a note to point out explicitly in the docs that for mutations you should continue to use `updateQuery`.

[2017-06-09 21:18] #1768 closed

[2017-06-09 21:20] helfer commented on #1767
Hi @developersoul. I think you're right, we definitely need more examples there. I think this is an issue with the docs though, so can you make a PR there? Here's the link to the repo: https://github.com/apollographql/react-docs

[2017-06-09 21:20] #1767 closed

[2017-06-09 21:23] helfer commented on #1761
Hi @buholzer. Thanks for filing an issue. It should be pretty easy to fix this by adding a `catch` right after it and calling the afterware there as well. Could you make a PR please? 🙏

[2017-06-09 21:24] muninn9 commented on #1775
I did file an issue with Graphcool.

[2017-06-09 21:31] helfer commented on #1759
@rafrex Thanks for re-opening the issue and providing a reproduction. I will try to find out why `null` is written to the store when the `currentUserInfo` query is still loading.

[2017-06-09 21:31] helfer commented on #1743
@developerworks are you still having this issue?

[2017-06-09 23:36] zunder opened #1779 "Adjusting the store in order to squash pagination results via Relay's @connection directive."
I am using the Relay convention for pagination as described [here](http://dev.apollodata.com/react/pagination.html#relay-cursors). Coming from Relay Modern, there is a directive called `@connection`. It contains a key which Relay makes use of in order to retrieve all elements of one connection from the store. Apollo Client on the other side does ignore the `@connection` and stores objects by using

[2017-06-10 04:23] jinxac commented on #1773
yeah sure, let me try doing that

[2017-06-10 04:57] srtucker22 opened #1780 "createBatchingNetworkInterface causing issues with client.resetStore()"
When using regular `createNetworkInterface`, if I `skip` all my active queries (I'm using `react-apollo`) and run `client.resetStore()`, everything works fine.

Switching over to `createBatchingNetworkInterface`, running the same code causes:

[code]

If I stick `client.resetStore()` inside a timeout, this issue goes away, which leads me to believe it's some sort of timing issue for stopping queri

[2017-06-10 18:53] rafrex commented on #1759
Great, thanks!

[2017-06-11 05:37] jaydenseric opened #1781 "Give batchInterval a default value"
Lets give the `batchInterval` option for `batchingNetworkInterface` a default value to make batching setup easier. Most people just want to use a recommended value. Those who understand the pros and cons of adjustment will still be able to set their own value for the option.

Perhaps default it to `10` because that is what everyone is using from [the example](http://dev.apollodata.com/core/network

[2017-06-11 15:26] palmtale opened #1782 "Question: How to ignore ssl check in networkinterface options"
As the question content
I've got error of UNABLE_TO_VERIFY_LEAF_SIGNATURE
But just a test I was trying for connecting my owner server side.
I'd like to know how to ignore TLS verification, no promotion in error message, no method on official doc http://dev.apollodata.com/core/network.html.

It would better to provide way for adding self-issued cert.

[2017-06-11 17:20] stubailo commented on #1782
You can pass any options you can pass to `fetch` in the `opts` field. See the docs for `fetch` here: https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch

If you need any extra control, create your own network interface, which is just an object that has a `query` method on it: http://dev.apollodata.com/core/network.html#custom-network-interface

Let me know if that work

[2017-06-11 17:20] #1782 closed

[2017-06-11 18:47] helfer commented on #1781
Works for me! Can you make a PR @jaydenseric? 🙂

[2017-06-12 01:03] khankuan commented on #1555
@helfer would there be a benefit of making `HeuristicFragmentMatcher` slightly smarter? I feel that warning devs over the recommended solution is great. At the same time, it would be less a friction to get started with apollo if we can make some assumptions and avoid having the schema included on the application. Cheers!

[2017-06-12 02:56] helfer commented on #1555
@khankuan I don't know how to make it any smarter than it already is, but if you have an idea, I'd love to hear it. Right now it won't throw any errors if you use a fragment that matches the type condition it's checked against. So unless you are using union or interface types, or you have a bad type condition, the heuristic fragment matcher will work without complaining.

[2017-06-12 17:33] zunder commented on #1301
@maxsalven did you find the answer to your question? I am having the same issue.

[2017-06-12 20:54] jonmanzo commented on #1779
You won't need to worry about that provided you are using fetchMore -> updateQuery to update your cursor or in your case first/after.  The query will get stored in redux with the new key name based on the variables, but the data will flow down to the original query.  That said, the readQuery/writeQuery is the spot that needs some work.  This is what I did (in an infinite scroll solution...):

I pr

[2017-06-12 21:00] jonmanzo commented on #1694
Take a look at this response...  It's how I handled a similar situation:

https://github.com/apollographql/apollo-client/issues/1779#issuecomment-307924778

[2017-06-12 21:27] zunder commented on #1779
@jonmanzo That variables part is exactly what gives me headache. I guess you're having some sort of store for variables accessible through the `rootQueryVariables` function. I imagine it being a bit problematic if the variables are given through user input. Surely there are ways to implement `rootQueryVariables` to hack around it, but this solution still feels like a hack, as the original Apollo s

[2017-06-13 02:38] jonmanzo commented on #1779
Agreed 100%, it is a hack in my opinion and I've had to make functional exclusions to work under this model to boot.  Digging through the src, I didn't find any other options that would allow a modification of the key utilized to store the query...

Honestly, I'd even be ok with the ability to define a query cache key name.  We're pushing an ES query through the args, thus the potential exists for

[2017-06-13 02:42] jonmanzo commented on #1779
Oh, and we cannot solely use update queries as we're moving objs from one cache to another based in user action and ran into issues where the destination query was no longer watched once their component unmounted.  Found this a better solution that putting all the queries into a top level wrapper just to keep them available to updateQueries

[2017-06-13 03:05] stubailo commented on #1779
We did want to have this in the original implementation for pagination, but didn't do it at first because the simpler version has worked fine for a while. I agree that being able to pick a custom store field name is a great way to do this.

We used to call this concept `quietArguments` and were thinking of an `@apolloFetchMore` directive: https://github.com/apollographql/apollo-client/pull/350

Pe

[2017-06-13 08:22] srosset81 commented on #1186
Updating to latest apollo-client and react-apollo also solved the issue for me :tada:

[2017-06-13 08:57] Roy9102 commented on #845
@helfer ,how to get rid of the queries part of the state

[2017-06-13 09:00] maxsalven commented on #1301
@zunder Unfortunately I haven't looked in to it all since posting that message, so no progress on this end.

[2017-06-13 10:44] JannesV commented on #1701
I've had the same problem
[code]
This happens when I try to update the store when I add an item and I'm sure they're loaded.

[code]

I've tried removing the filter field which I thought might cause the problem but it doesn't make a difference.

The problem was my optimistic response didn't contain the same fields as the ones in the strore. Which seems weird but that fixed it.

[2017-06-13 13:29] chris-verclytte opened #1784 "Feature idea/Question: Accessing sent request in afterware"
Hello,

I am currently considering moving from Relay to Apollo and I am a little disappointed about the way network interface is handling request and response.

My problem is that I am using JWT token to provide authentication and in order to avoid user to seize his credentials each time token expire, I simply refresh the token based on the old one.

In order to do it, here is what I was doing wit

[2017-06-13 16:54] jinxac commented on #1773
Hi @helfer I debugged this issue a little further by creating a new project itself and observed that it is not linked to mutations at all. Yeah that was bit of a surprise.

The actual issue is that the `react-native` navigator does not unmount the current component on pushing new component on top. It just adds to the stack. So I when i move from dashboard -> portfolio -> paymentScreen -> payment g

[2017-06-13 16:54] #1773 closed

[2017-06-13 21:46] ramyanaga opened #1785 "@types/node 7.0.30 (latest version) breaks build"
The latest version of @types/node directory, which is version 7.0.30, breaks the build. Throws this error message:
test/client.ts(651,27): error TS2345: Argument of type '"uncaughtException"' is not assignable to parameter of type 'Signals'.
test/client.ts(705,27): error TS2345: Argument of type '"uncaughtException"' is not assignable to parameter of type 'Signals'.

[2017-06-13 22:56] glasser commented on #1785
We looked at it together and learned that 7.0.30 added rules for `process.addListener`. Specifically it seems to really want "uncaughtException" handlers to take an error argument.

Arguably the bug in @types/node is that if they're going to add these detailed types for `process.addListener("uncaughtException") and friends, they should also add matching detailed types for `process.listeners("uncau

[2017-06-13 22:59] glasser commented on #1785
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/16705#issuecomment-308272510

[2017-06-14 05:50] Bertrand31 opened #1786 "Question: How to run a container query only on component mount, without using withApollo?"
Currently when I'm using a normal container query, every change of props (like a sub-route change) triggers the query again.
Is there a way to specify that this query should only run on component mount?

I know I could theoretically use `withApollo` and `queryData`, but it doesn't suit my needs as I'd like to keep the container/component dichotomy clean and do some complex stuff in the container,

[2017-06-14 21:21] helfer commented on #1773
@jinxac ok, glad you figured it out and thanks for telling us what the issue was! This will be helpful for other people who end up in the same situation!

[2017-06-14 21:36] helfer commented on #1785
Thanks @ramyanaga and @glasser! I'm going to patch this by pinning the version to 7.0.29 temporarily.

[2017-06-14 21:44] helfer commented on #1301
@zunder It looks right to me. Have you tried logging the output or stepping through with the debugger?

[2017-06-14 21:45] helfer commented on #845
@Roy9102 just remove that property from the resulting initial state. The only thing you need to keep is `data` and anything below it.

[2017-06-14 21:45] helfer commented on #1186
Great, in that case I'll close this issue 🙂

[2017-06-14 21:52] #1785 closed

[2017-06-14 22:14] #1765 closed

[2017-06-14 22:14] evanshauser commented on #1784
Hey Chris,

Thank you for reaching out! We are currently working on a new network interface(apollo-fetcher) that is composed of units called fetchers. Each fetcher receives an operation with some context and returns an Observable capable of representing the current and planned GraphQL responses. The fetcher can modify the query or context and pass them down to another fetcher, until the operation

[2017-06-14 22:30] helfer commented on #1694
Thanks for opening the issue @c10b10. Let's keep all the discussion in one place:  apollographql/react-apollo#708

[2017-06-14 22:30] #1694 closed

[2017-06-14 22:52] helfer commented on #1786
@Bertrand31 by "running the query" do you mean sending it to the server, or just executing it against the store? If the server query is what you want to avoid, you should be able to just set the right `cachePolicy`, for example `cache-first`.

[2017-06-14 23:06] helfer commented on #1779
@zunder As @stubailo said, we think it would be a good idea to allow for an `@connection` directive. The key would determine where in the store the connection gets written to, so it would be easy to read it out with `readQuery`. The only thing that we'd have to decide is how you would tell Apollo Client when you're fetching more for a certain connection, and whether that "more" goes at the beginni

[2017-06-15 03:17] Bertrand31 commented on #1786
Ah, the problem was actually that I was handling auth in a middleware, so my query had `''` as `token`, and the token was fetched from indexedDB and added to the query in the middleware, overriding `''`.
So the query result stored in Apollo store (with the proper token as a param) was never matching the query with `''` as token.
Thanks anyway!

[2017-06-15 03:17] #1786 closed

[2017-06-15 03:31] stubailo commented on #1779
I don't think we need to change anything about the fetchMore mechanism to add this directive - we could still use the manual reducer approach. Only difference would be having a more reasonable cache key!

[2017-06-15 05:07] simpletrontdip opened #1788 "Apollo should raise exception for a Query response with `errors`"
Sometimes, having exception return in `result.errors` is better than return `null` in `result.data`

This will unify the way we handle the exception, error in **Query**, say you are in `then` mean you have nothing to worry about the data back, cause all of them are in `catch`

For some case raise `Not found` is better than return `null`, but currently apollo just raise error when query has **Netwo

[2017-06-15 07:23] chris-verclytte commented on #1784
Hello @evanshauser and thanks for the comprehensive answer !
I had missed the point about this refactoring being done. It seems really nice.
However, I am not sure we could properly handle this use case with this new flow because as you stated:

So the fetcher allow work to be done **before** sending the query. While it would be possible to send a query to know if token has expired each time befor

[2017-06-15 10:51] greenkeeper[bot] opened #1791 "An in-range update of @types/lodash is breaking the build 🚨"
## Version **4.14.66** of [@types/lodash](https://www.npmjs.com/package/@types/lodash) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2F%40types%2Flodash-4.14.66">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/lodash
    </td>

[2017-06-15 11:01] greenkeeper[bot] opened #1792 "An in-range update of @types/node is breaking the build 🚨"
## Version **7.0.30** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2F%40types%2Fnode-7.0.30">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <

[2017-06-15 12:09] derailed commented on #899
I am confused. Most of the sample code I see on this thread, seems to deal with running a delete mutation from a single query. What if I actually have multiple queries referencing that object? I thought the whole point of Apollo tracking refs ie Type-X was to handle such a use case.

For example say user deletes User-1. User-1 is referenced by multiple queries say queryA and queryB. Based on what

[2017-06-15 13:54] chris-guidry commented on #899
@derailed a few thoughts:
1. The store is only going to save the user as one item in the cache so even if multiple queries are returning the user, it should only need to be removed once. If you haven't already, try out the Chrome Apollo extension, which will allow you to see how the store is updated post mutation.
2. If there are items in the store related to the user such as BlogUser, ToDoUser, e

[2017-06-15 14:47] derailed commented on #899
Hi Chris,

  Thank you for the reply! I am at loss here. I have a bunch of queries
falling in this use case ie referencing a user
  object. I am indeed using the extension and it seems to report the
correct behavior per the implementation ie the user object is deleted from
the query but still shows on the left handside under the store tab aka
`Apollo Client State, which leaves me to believe that u

[2017-06-15 16:02] sammkj opened #1794 "[FEATURE IDEA] Make `setStore` public"
`setStore` is particularly useful when implementing Redux in Web Worker / Redux in Chrome Extension (see [this thread](https://github.com/tshaddix/react-chrome-redux/issues/37#issuecomment-263360896)).

[2017-06-15 16:03] chris-guidry commented on #899
@derailed - in the Apollo Chrome Extension, under the Store tab, the User is not removed after a delete mutation? If you post the code for the delete mutation, then I can give feedback on it.

[2017-06-15 17:44] appjitsu opened #1795 "Handling promise errors from mutations client-side"
I have looked everywhere for a solutions for this...

I have a mutation that is checking for run-time validation errors and throwing those back to the client. The problem I am having is my client side code does not give me back the errors array.

In the network tab in Chrome I can see the following:

`{"data":{"addMount":null},"errors":[{"message":"List or Action not found.","locations":[{"line":2

[2017-06-15 18:10] derailed commented on #899
@chris-guidry - Tx Chris!

I believe, the user is correctly removed from the query but not from the store. I think I am
not understanding out to actually remove my user from the store. This code works for the
users query. However I have 2 other query referencing that user and the given user still show
in those.

So I think my confusion here is I expect the delete to be propagated to the other quer

[2017-06-15 18:19] helfer commented on #1779
Yeah, you're right, since `fetchMore` is imperative we don't need any configuration.

[2017-06-15 18:29] MichaelDeBoey commented on #899
@derailed You're right that the User is still in the store, but isn't given back when asking for the `PvdmUsers` query.
Currently there's no way of really deleting an object from the store I think.

[2017-06-15 18:51] derailed commented on #899
@MichaelDeBoey @chris-guidry - Tx Michael! I think you are right.

One thing just dawned on me. I think a delete mutation does not have any special meaning in Apollo, it's just a mutation. Thus it would be the resp of the dev on the update to make sure the deletion is correctly propagated across all queries referencing it. I think this is why I have been struggling with this concept as I thought g

[2017-06-15 19:36] MichaelDeBoey commented on #899
@derailed No you're right. With a normal mutation (create or update), you get the created/updated Object back as a response, so Apollo knows how to handle it (in most cases). When deleting an object, Apollo doesn't know what to do (yet), so we have to specify it ourself in the `update` method we provide.
If Apollo would automatically delete the object from the store, that could always break severa

[2017-06-15 19:50] derailed commented on #899
@MichaelDeBoey Thank you Michael for the explanation! I was hoping there was a better solution here as I am going to need to a) figure out which queries are active during the delete. b) for each active query traverse to see if that user is actually referenced c) delete the ref d) update the store. Lots of manual operation here especially in lite of new features creeping in and introduction new ref

[2017-06-15 19:55] chris-guidry commented on #899
Data can definitely be deleted from the store, and it's working for me using something like the [example I shared](https://github.com/apollographql/apollo-client/issues/899#issuecomment-305214067).

Here's the update section again, with comments this time:
[code]

[2017-06-15 19:58] MichaelDeBoey commented on #899
@derailed I don't think you have to see if the query is active, you can just do the `readQuery` I think (I'm not sure tho 😕).
The only pain will be that you need to read every query with every possible `variables` I think.
Or maybe you can check just check the `ROOT_QUERY` for all executed queries?

@helfer or @stubailo should confirm that last one, 'cause I'm not sure if that's possible or not

[2017-06-16 00:09] nbushak commented on #1186
This is still happening for us, even with the latest versions of react-apollo and apollo-client (1.4.2). I even tried downgrading apollo-client to 1.4.0 to match @janiukjf's experience, but that also didn't work. The affected component/query does not use variables.

[2017-06-16 00:17] nbushak commented on #1186
I also think that @abergenw's comment is a red herring. I tried logging inside the removeQuery() call, and that wasn't called for us. I also commented out the unsubscribe() call and that didn't fix our problem.

[2017-06-16 00:57] bruce opened #1797 "Typescript compilation incompatible with graphql-subscriptions"
**Intended outcome:**

Use `apollo-client` (as a dependency of `persistgraphql`) in another project that uses Typescript.

**Actual outcome:**

Typescript compilation failed. It appears it is due to a type incompatibility between this package and `graphql-subscriptions`.

**How to reproduce the issue:**

With the following dependencies in my `package.json`:

[code]

And the following simple `tscon

[2017-06-16 01:01] bruce commented on #1797
Note that I'm admittedly very new to TS -- and not exactly the most adept npm package dependency spelunker -- it's possible I'm missing a quick fix here.

[2017-06-16 03:21] helfer commented on #1797
@bruce Thanks for filing the issue! This should go away when apollographql/graphql-subscriptions#77 is fixed, so let's track it there.

[2017-06-16 03:21] #1797 closed

[2017-06-16 03:22] helfer commented on #1186
@nbushak ok, we'll open it back up then!

[2017-06-16 03:31] helfer commented on #899
Hi @derailed! @MichaelDeBoey is right, there's currently no easy way of deleting things from the store, but we're thinking of adding that soon. Right now you'll have to delete the reference from all queries that use it. A simpler way is to refetch all the queries that could reference that object, which you could even do as part of the mutation, if you wanted to (in that case it would be called a "

[2017-06-16 03:35] helfer commented on #1795
Hi @appjitsu :wave:

Apollo Client currently returns either data or an error, not both (this is because we couldn't cache errors in the normalized store in a meaningful way without a path). However, on the error you get, there should be a property that lets you access the original errors array: `error.graphqlErrors`. If it wasn't a GraphQL error, that property will of course not contain any errors

[2017-06-16 03:35] #1795 closed

[2017-06-16 03:43] helfer commented on #1792
We have an exact version in package.json, why is greenkeeper complaining about this?

[2017-06-16 03:43] #1792 closed

[2017-06-16 03:50] #1781 closed

[2017-06-16 04:04] helfer commented on #1794
Hi @sammkj I'm not sure if making `setStore` public would help that much. Once Apollo Client is initialized, I don't think the store can simply be swapped out, because there's some state in Apollo Client. Rather than swapping the store, could you just initialize a new client instance?

[2017-06-16 04:05] helfer commented on #1788
@simpletrontdip I think this already happens. If there's a GraphQL error, Apollo will throw an `ApolloError`. If you find an instance where that's not the case, please open an issue and tell us how to reproduce it. Thanks! 🙂

[2017-06-16 04:05] #1788 closed

[2017-06-16 04:25] sammkj commented on #1794
@helfer, currently I'm moving Redux into Web Workers. For that to work, I have to create a Redux store proxy on the main thread and a real Redux store in Web Worker. So I need a way (setStore) to tell Apollo to use the Redux store proxy instead of the real Redux store. I hope what I said makes sense. =D

[2017-06-16 05:35] helfer commented on #1794
Ok 🙂 Is there a reason why you can't use the proxy directly when you're initializing Apollo Client?

[2017-06-16 05:59] evanshauser commented on #1784
@chris-verclytte glad you solved the issue with a `NetworkInterface`!

You are correct a fetcher has the ability to modify the request on the way out to the server by changing the Operation. Last post I should have mentioned that the Observable returned by the underlying fetcher provides the execution environment for responding to the result of a request.

An Observable's uses three callbacks, `ne

[2017-06-16 07:06] lucfranken commented on #899
This really seems to go to the same point I made an issue for here: https://github.com/apollographql/apollo-client/issues/1697

This seems to be the clue from @MichaelDeBoey

Is there no way Apollo can "understand" the relation between resources?

[2017-06-16 07:13] abergenw commented on #1186
@nbushak in that case I don't know what's going on. The situation I described can easily be reproduced and fixed by removing the premature removal of the listener (the `removeQuery()` call).

[2017-06-16 07:39] chris-verclytte commented on #1784
Thanks again @evanshauser for the answer. It is really clear and it perfectly makes sense. I think my use case would be totally covered by this new architecture.
Congratulations for the great work you deliver with Apollo and, for sure, if I have some insights about this feature, I will be happy to discuss it with you.

[2017-06-16 07:39] #1784 closed

[2017-06-16 12:22] appjitsu commented on #1795
Not sure why this issue was closed... please give people time to respond.

Anyhow, **error.graphqlErrors** is undefined. The entire error comes back as a string, not an object. Is the issue the Promise.reject(...)?

[2017-06-16 12:31] appjitsu commented on #1795
OK so I tried just throwing an error directly inside resolve:

[code]

... and I get the same problem. What am I missing?

[2017-06-16 12:41] sammkj commented on #1794
Is there an option to specify the store when initializing ApolloClient? If I removed `apolloClient.setStore(reduxProxyStore)`, Apollo Client doesn't dispatch any actions to update the store

[2017-06-16 14:00] appjitsu opened #1799 "Uncaught (in promise) Error: GraphQL error"
#1795

My code is very similar to:
- client: https://github.com/apollographql/GitHunt-React/blob/7f124b2b606b4ae503318e35f1516929a9629b20/ui/routes/NewEntryPage.js
- server: https://github.com/apollographql/GitHunt-API/blob/e3de8c0226394a071c72313c59e340e8b8ea7a29/api/schema.js

So I changed up my code a bit.

The browser console shows an error:

[code]

The network tab shows:

`{"errors":[{"messa

[2017-06-16 14:09] sabativi commented on #1773
Hi @jinxac, would love to have more details on the react-navigation side as I am facing the same problem...

[2017-06-16 15:14] appjitsu commented on #1799
@helfer I'm an idiot apparently...

I figured out my issue finally after it donned on me about what you were saying. I've been taking cold meds and I guess my brain is having a seizure.

Thanks for your help.

[code]

[2017-06-16 15:14] #1799 closed

[2017-06-16 15:58] credli commented on #1419
@maximblack I also managed to achieve this using a 'network-only' fetch policy like so:
[code]

[2017-06-16 17:58] jcheroske commented on #1618
This situation is a common use case. Furthermore, having these sequences of events coupled to the UI (mutate -> change route -> send notification) is not always the best design. These flows occupy a kind of nebulous space between the UI and the business logic. My current thinking is that I'm going to place the `mutate` function in an action, along with its variables, and pass that into a side-effe

[2017-06-16 19:03] derailed commented on #899
@helfer - Thanks for the update Jonas! I think that call will be helpful. Also a call to see who has contention on a given object would be nice to have. Think the store might be headed toward a client side db??

[2017-06-16 19:24] TSMMark commented on #899
A db in redux? Is that a thing?

[2017-06-16 20:02] akaztp opened #1800 "Redux devtools Time Travel not working"
**Intended outcome:**
Time traveling with Redux DevTools should retrigger watchQueries() observables.

**Actual outcome:**
When replaying with time travelling, APOLLO_QUERY_* actions are fired, graphql queries travel on the network, but watchQueries() observables do not retrigger.
CORRECTION: actions are not fired, graphql queries are not retriggered.

**How to reproduce the issue:**
- Install the

[2017-06-17 04:40] helfer commented on #1800
Hey @akaztp! We never really put in any effort to make sure that things work with time traveling, so I wouldn't be surprised if it didn't work. Do the repeated actions update the store like they did before?

[2017-06-17 04:42] helfer commented on #899
We're headed in a somewhat different direction that's very close to the imperative store API we added before 1.0. The store will be pluggable, and have functions like `readQuery, `writeQuery`, `watchQuery`, `readFragment`, etc. on it.

[2017-06-17 04:45] helfer commented on #1618
If you care about knowing exactly when stuff has refetched, you can always fetch/refetch manually in the `mutate().then ...` function. That way you have complete control over what code runs when. You'll know when the mutation has completed, and you'll know when each of the refetches is done.

[2017-06-17 04:46] helfer commented on #1419
@maximblack @credli you might be interested in what we're working on over here: https://github.com/apollographql/apollo-fetcher/blob/44fe1084954882039d76edbbf921882577d8fb13/SPEC.md

[2017-06-17 04:56] helfer commented on #1794
@sammkj here are some instructions for using a custom store: http://dev.apollodata.com/react/redux.html#creating-a-store

[2017-06-17 05:12] helfer commented on #1799
Thanks @appjitsu. I'm glad you figured it out. Sorry I closed the other issue too quickly!

[2017-06-17 07:00] akaztp commented on #1800
I'm new to time travel and further investigation showed that I've been misguided by the full-blown project I'm working on, where things are a bit more complicated than on the HelloWorld project.

On the time travel replay, the **actions and network do not refire**. Only the state is changed. On my project this prompted more actions to fire and that was how I got confused.

But the problem with the

[2017-06-17 13:36] sorenbs commented on #51
I have been living in blissful ignorance for the last 6 months thinking this had already been fixed :-)

The GraphQL spec is pretty explicit about supporting partial responses and the errors field containing detailed information.

As the most popular GraphQL client I would expect Apollo to have a strong story around error handling.

@helfer @stubailo - what can Graphcool do to help move this forwa

[2017-06-17 18:25] clayne11 commented on #819
I'm having a ton of trouble with this issue. It's extremely difficult to track down when the app gets large with a lot of fragments. I use a unique `nodeId` for each entity's ID field. If I forget to add a `nodeId` in any single entity anywhere inside any fragment, mutation, or query it causes Apollo to blow up with this error.

As suggested in the initial issue, adding a path would be **extremely

[2017-06-17 19:03] helfer commented on #819
Thanks @clayne11, let's make sure we print a better error message here!

[2017-06-17 19:16] helfer commented on #51
@sorenbs this is currently blocked on the store refactor which we're working on at the moment. Currently the plan for the new API is to handle errors the same way as we handle data, and write them into the store as well if they have a path (which means you might retrieve cached errors from the store). I'm not yet 100% clear on what we should do with errors that don't have a path, but my intuition

[2017-06-17 19:24] bmpieretti commented on #1186
Our team is having the same issue but difference circumstances. Anytime a route change happens during the polling process, the loading and data objects we need never get evaluated, although we get a 200 and response in the network tab. We have updated to the current versions of both react apollo and apollo client, but it is still a problem.

[2017-06-17 19:33] helfer commented on #1800
I think what we would really want from time travel is to be able to recreate the store at each step and thus reproduce the app state, correct? So we would explicitly **not** want queries to be fired again. As discussed in #701, this doesn't currently work in Apollo Client because some queries are actually fired from inside reducers. That means that for the time being redux time travel wont' work.

[2017-06-17 19:37] helfer commented on #1186
Can I get a show of hands for how many people are still seeing this issue or a similar one? Please vote 👍 if you're having the issue.

If one or more of you could provide a reproduction using the react-apollo-error-template, that would also help us greatly speed up the process of finding and fixing this bug.

[2017-06-17 19:42] sorenbs commented on #51
Thanks Jonas - that's awesome news!

I very much agree with allowing developers to configure the behaviour, and agree the sensible defaults are super important.

I'll take some time soon to write up my perspective on this.

[2017-06-18 08:49] joncursi commented on #1757
@zackify thank you! This thread also had relevant information: https://github.com/facebook/react-native/issues/10404

[2017-06-18 08:49] #1757 closed

[2017-06-18 14:17] n1ru4l opened #1802 "[Feature Request] Add store read access to optimisticResponse functions"
**Use case:**

This is helpful when you update some type that is already in the store.
[code]

[code]

Lets say you call updateAnswer the following way `updateAnswer(1, { color: 'red' })` (because you only want to update the color field). In the optimisticResponse function you can only access the variables which got passed to the mutate function, so you cannot perform a "valid" optimistic response

[2017-06-18 16:26] akaztp commented on #1800
Those are great news! Keep up the wonderful work!

Not exactly “recreate the store”, since, when time travelling, the store is recreated by the Redux DevTools. I think that what apollo needs is to obey the current state, and nothing else.

Without knowing nothing of the Apollo inner workings, here is my first thoughts on the solution, it may be somewhat useful to you.
The main goal is to decouple

[2017-06-18 22:24] ForbesLindesay opened #1803 "Typescript errors on fresh install"
**Intended outcome:**

Installing should not produce any errors in typescript.

**Actual outcome:**

Typescript produced the following errors, immediately after installing apollo-client:

[code]

**How to reproduce the issue:**

1. Clone: https://github.com/ForbesLindesay/apollo-client-typescript-error
2. Run `npm run build`
3. Observe that there are typescript errors, and that they're all from ap

[2017-06-19 03:16] jcheroske commented on #1618
@helfer, can you provide an example of what you're talking about? I'm very new to Apollo.

[2017-06-19 07:01] simpletrontdip commented on #1788
@helfer Correct me if I'm wrong, but here is the code you handle the `query` (the query not the mutation)

https://github.com/apollographql/apollo-client/blob/v1.4.2/src/core/QueryManager.ts#L460

This function only called when the exception occurred (I suppose they are network error, cause nothing can raise error there) mean if the server side return the result with `errors`, they will not be rai

[2017-06-19 14:29] darkship opened #1804 "Should ROOT_QUERY be initilized by myself ?"
Hi,
I came across an issue like this https://github.com/apollographql/apollo-client/issues/1701.

It appears that when I start my app I don't have any ROOT_QUERY. So that whatever is in my query,<code>store.readQuery({query});</code> throws "Can't find field <field> on object (ROOT_QUERY) undefined."
Running <code>store.writeQuery({query, data}})</code> creates ROOT_QUERY and the same <code>readQu

[2017-06-19 15:28] oopserv commented on #1618
@jcheroske I believe @helfer is referring to something alone these lines...

onSubmit ({email, password}) {
    this.props.mutate({
      variables: { email, password },
    }).then (() = > this.props.data.refetch())
  }

[2017-06-19 16:54] return007 opened #1806 "Make batchedFetchFromRemoteEndpoint public."
Why is that `batchedFetchFromRemoteEndpoint` made private? Please let the developers override their functionality and make changes as per their requirements.

**Intended outcome:**
The method `fetchFromRemoteEndpoint` is public and so I expected this for batching interface too.

**Actual outcome:**
`fetchFromRemoteEndpoint` is private...

[2017-06-19 17:35] oopserv commented on #1618
Another good way to get around this is to use componentWillUpdate lifecycle method. You can check your props.data and compare if the 'old' user prop was logged out or didnt exist with the incoming props and see if they are now logged in or exist....

[2017-06-19 23:11] glasser commented on #1785
FYI, https://github.com/DefinitelyTyped/DefinitelyTyped/pull/17150 if merged and released should resolve this issue and allow you to upgrade and unpin.

[2017-06-20 01:41] helfer commented on #1804
Hi @darkship If any of the data that `readStore` tries to read is not there, the function will throw an error. In your case there's nothing in the store at all, which is why it errors at ROOT_QUERY. You should protect the `readStore` call with a try/catch block if it's possible that the data might not be in the store yet.

[2017-06-20 01:41] #1804 closed

[2017-06-20 01:46] helfer commented on #1618
Yeah, @oopserv is right @jcheroske. What I'm proposing is basically this:

[code]

[2017-06-20 01:48] helfer commented on #1806
Hey @return007 can you tell me what you would like to do specifically with `batchedFetchFromRemoteEndpoint`? If we have a specific use-case that is reasonable, we can definitely make it public.

[2017-06-20 05:00] darkship commented on #1804
OK, thanks

[2017-06-20 05:16] helfer commented on #1788
@simpletrontdip For queries, the error gets thrown here (due to legacy reasons): https://github.com/apollographql/apollo-client/blob/e4410c41438344d9e58849ce07f06fcc590fd0c7/src/core/QueryManager.ts#L1092

We know that the logic is not very clear around this, which is why we're working on refactoring it soon.

[2017-06-20 05:22] helfer commented on #1802
@n1ru4l I think you should be able to provide those variables using a closure. Or maybe I'm missing something? `optimisticResponse` should definitely not have anything special to access the store. If there are any extra variables you need, you should be able to provide them by creating a closure around `mutate`.

[2017-06-20 05:26] helfer commented on #1785
Thanks @glasser, I'll keep an eye on it! 🙂

[2017-06-20 08:19] return007 commented on #1806
@helfer I want to override the functionality of method and modify the request body (to some format that is acceptable by my graphql endpoint) before sending it. I also thought of doing this in a Middleware but came to know that its not possible.

[2017-06-20 16:27] acomito commented on #899
is there a TLDR for a delete mutation?

[2017-06-20 17:20] n1ru4l commented on #1802
@helfer This is what I am doing at the moment. IMHO this forces me to pass props to the HoC that are only needed for the optimistic ui, which in my case can be reduced by attaching the mutation HoC to a component higher in the hierarchy and passing the mutate function down. But I can life with that. I am going to close this issue

[2017-06-20 17:20] #1802 closed

[2017-06-20 17:22] jinxac commented on #1773
@sabativi sure would love to help. Can you help me understanding the issue once?

[2017-06-20 17:27] stubailo commented on #1802
What if we added `store` as one of the arguments to `props`, just like `mutate`?

[2017-06-20 17:30] TSMMark commented on #899
@acomito If I'm not mistaken, TLDR: you can either manually update every single query that depends on the deleted record(s), or you can manually refetch every single query that depends on the deleted record(s).

[2017-06-20 18:31] n1ru4l commented on #1802
@stubailo That would also be a nice solution for me!

[2017-06-20 21:01] jcheroske commented on #1618
But what about the issue @ryannealmes raised? Might the refetch run before the mutation has finished? I must be missing something...

[2017-06-20 21:06] stubailo commented on #1618
In the above code the refetch is guaranteed to happen after the mutation returns.

[2017-06-20 22:25] kamilkisiela commented on #1803
You have two options:

a) add `dom` to  tsconfig.json > `compilerOptions.lib`
b) install typings that contains `fetch`, `Response` and `RequestInit`

First option is recommended :+1:

@helfer Just so you know about it, this could be a popular topic in github issues :)

[2017-06-20 23:05] sammkj commented on #1794
@helfer that's what we already have.

We had an older version of `apollo-client` that needed `setStore` to make it work. So everything is fine! Thank you!

[2017-06-20 23:05] #1794 closed

[2017-06-21 00:10] sammkj commented on #128
@helfer, will `apollo-client` have support for web-worker? I'm having a few problems trying to put `apollo-client` in web worker. Specifically how `react-apollo` uses `apollo-client`, fetching data has to be on the main thread and ideally I would like it happen on the worker thread.

[2017-06-21 02:30] helfer commented on #128
Hi @sammkj we haven't thought too much about it yet, but we'd definitely like to support that use-case. Can you tell us how you would envision using Apollo with a web worker?

[2017-06-21 02:44] helfer commented on #1806
So what you would want is a way to override the batchedFetchFromRemoteEndpoint in your BatchNetworkInterface to provide your own fetch function? If that's your use-case, I think for now you can probably just copy the whole BatchNetworkInterface, because there's not that much code in it. We're working on a new thing called apollo-fetcher which will make your use-case a lot easier. If you want, it w

[2017-06-21 05:33] return007 commented on #1806
Hey @helfer, initially I did the same as you said (copying `BatchNetworkInterface` in my own code. But later I tried to override the `batchedFetchFromRemoteEndpoint ` method and it worked (to my surprise). Sorry for the issue.

And yes, if its the case the you guys are working on apollo-fetcher (that would make this use case easier), I would love to see that.

I think the use case should be mentio

[2017-06-21 14:06] sammkj commented on #128
Hi @helfer , I wrote a slightly longer than expected response. Hope you don't mind.

I have created a package called `workux` to facilitate Redux and web worker integration. Check it out [here](https://github.com/sammkj/workux/tree/master/packages/workux).

## Redux & Web Worker Architecture

![how redux and web worker work](https://user-images.githubusercontent.com/9153498/27388241-f1cf26ac-5668-

[2017-06-21 17:42] phyrog opened #1811 "Stop retrying queries if there's been a network error"
Is it possible to stop Apollo from retrying the queries, if there has been a network error (e.g. the server is not reachable)? It currently just throws the error and retries over and over, crashing the browser if the console is opened for too long.

I've tried setting `pollInterval` to `0`, but it has no effect.

[code]

Gradually increasing the timeout between retries would be fine for us too.

[2017-06-21 23:50] dylanscott commented on #1186
@helfer I've put together a minimal repro of this. I didn't notice you mentioned the `react-apollo-error-template` project but hopefully this should be similar enough - my repro was created with `create-react-app` and is pretty small.  You can find it [here](https://github.com/dylanscott/apollo-repro).

I go into some detail about how to reproduce the issue in the README, but it appears to be caus

[2017-06-22 00:01] helfer commented on #1811
Hi @phyrog, thanks for filing an issue. Apollo Client doesn't currently retry on error. Maybe you're using some custom logic to retry requests, retry queries or re-render components on error?

[2017-06-22 03:16] david1820 commented on #1784
Hi, @chris-verclytte

Please can you give me a hint how did you do it the network interface, i need to implement the same approach.

Thanks in advance.

[2017-06-22 08:01] SachaG opened #1812 ""GraphQL error" text string in error messages"
I've noticed that all error messages passed on from apollo-client include the string "GraphQL error":

https://github.com/apollographql/apollo-client/blob/a80ed36a76317d01009f0ff03ade340844d6e317/src/errors/ApolloError.ts#L20

I'm wondering if this is really necessary? It's not a big deal (I can remove the string myself manually) but in some cases you might want to show an error message from the s

[2017-06-22 08:43] tillkolter opened #1813 "Feature idea: Possibility to handle network errors in a centralized way."
In case the server is not reachable or the connectivity is broken, the Apollo client rejects the promise with an ApolloError classified as a network error. Though it might be better to catch various errors on a per query/mutation basis, I think it is reasonable, that an application should be able to handle network errors in a centralized way as it seems inappropriate to add the same network error

[2017-06-22 09:30] chris-verclytte commented on #1784
Hi @david1820,
For sure, here is my implementation of the network layer:

**networkInterface.js**
[code]

**apollo.js**
[code]

[2017-06-22 11:01] saadbinsaeed opened #1814 "Electron: "cache-only fetchPolicy option should not be used together with query refetch""
I am using refetchQueries option in my code and it works very well in my web app. But when i converted my application to electron app, the page where the refetchQueries are used dispatching the error

`Uncaught (in promise) Error: cache-only fetchPolicy option should not be used together with query refetch. at ObservableQuery.module.exports../node_modules/apollo-client/core/ObservableQuery.js.Obse

[2017-06-22 13:37] advance512 commented on #1186
Superb work, @dylanscott!

[2017-06-22 15:22] david1820 commented on #1784
Hi @chris-verclytte, thanks for your prompt answer

I'll try, very good implementation, thanks again.

[2017-06-22 15:26] acomito commented on #899
It would be amazing if you could just take the response from the mutation (in your .then()) and do

`ApolloStore.remove({ _id: 'fdsakfjaslkfjsalfjsaf'});`

rather than

[code]

[2017-06-22 15:29] skosch opened #1815 "Include afterware in batching network interface"
**Intended outcome:** To be able to easily use the batching network interface with a server that supports it (in our case, Absinthe; see absinthe-graphql/absinthe_plug#89)

**Actual outcome:** The requests are batched into an array as advertised, but when the results come back in the shape of a corresponding array, Apollo fails to pull that apart into the individual result objects and throws an er

[2017-06-22 15:32] TSMMark commented on #899
@acomito Following your example, I believe you would need a typename in there as well:

[code]

[2017-06-22 15:55] acomito commented on #899
refetchQueries does not seem to work for a delete. In my .then() I redirect to a table of buildings, and the deleted building is still there.

[code]

[2017-06-22 16:16] sabativi commented on #1773
It seems that `replaceTo` solved your problem, can you point me towards some info about it ?

[2017-06-22 16:56] acomito commented on #899
Okay, so I am able to delete a building from my store, but and getting some errors about typenames or something:

[code]

[code]

`WARNING: heuristic fragment matching going on!`

[2017-06-22 17:10] phyrog commented on #1811
Yep you're right. It has to do with performing a `client.resetStore()` if an error occured in the `props` function, which triggered the query to be re-performed and the same network error to retrigger the reset, and so on.

Closing this. Thanks!

[2017-06-22 17:10] #1811 closed

[2017-06-22 17:11] piotrblasiak commented on #585
Any plans on implementing this, or is there any way to do this already with some middleware or similar?

[2017-06-22 17:29] dk0r commented on #424
Here's a project (with a Medium article) that's approaching this topic:
[https://github.com/rauliyohmc/react-native-offline-utils](https://github.com/rauliyohmc/react-native-offline-utils)

[2017-06-23 02:57] stubailo commented on #1812
You can retrieve the actual error message from inside the ApolloError object, the message is mostly intended to be a summary for developers and differentiates between a graphql error and a network error.

[2017-06-23 05:21] helfer commented on #1815
@skosch Apollo does indeed automatically do it, if your response is in the format specified by Apollo and supported by graphql-server, Graphene and others. The only reason you need an afterware with Absinthe is because they decided to send the responses in a different shape. I think it would be worth getting everyone in the community together and agreeing on a standard.

[2017-06-23 05:21] #1815 closed

[2017-06-23 06:04] jaydenseric commented on #1806
@return007 you can see how I went about it [here](https://github.com/jaydenseric/apollo-upload-client/blob/master/src/batch-network-interface.js).

[2017-06-23 06:08] jaydenseric commented on #1780
Keep in mind that `client.resetStore()` is async, and returns a promise. So you might get issues if you don't await and immediately follow it by a redirect to a page with queries on it.

[2017-06-23 06:09] return007 commented on #1806
@jaydenseric Thanks!!! I also did something like that. I guess I should close the issue now. :smile:

[2017-06-23 06:09] #1806 closed

[2017-06-23 08:23] nisimjoseph opened #1817 "when add options `mode: "no-cors"` it break the request and Apollo Server fail, 500 error"
**Intended outcome:**
GraphQL call execute without CORS

**Actual outcome:**
server response 500 error

**How to reproduce the issue:**
use this code in the client, occur all the time.
[code]

[2017-06-23 08:45] SachaG commented on #1812
Is that supposed to work inside errors resulting from mutations, too? When I log out `error.message` it still has `GraphQL error: ...`.

[2017-06-23 08:55] erkieh opened #1818 "Usage of Object in Typescript files too restrictive?"
**Intended outcome:**
Compilable Typescript code

**Actual outcome:**
TS2459:Type 'Object' has no property 'data' and no string index signature.
TS2339:Property 'data' does not exist on type 'Object'.

I am new to Typescript, so bear with me. Isn't the use of Object in many of the typescript files too restrictive?

for example
https://github.com/apollographql/apollo-client/blob/master/src/data/mut

[2017-06-23 09:23] michalkvasnicak opened #1819 "Support flow type without configuration"
I want to typecheck using `flow` in my project but it isn't working without configuration because there is no `apollo.umd.js.flow` file.

As in apollographql/graphql-tag#98, copying `index.js.flow` to `apollo.umd.js.flow` should do the job just fine.

[2017-06-23 09:29] michalkvasnicak commented on #1819
Actually I tried copy the file and it does not work just as is.

[2017-06-23 09:47] michalkvasnicak commented on #1819
Ok so after investigation. `index.flow.js` shouldn't be in lib-def format because then you have to install it using `flow-typed` or point to it in `.flowconfig`.

Next thing is to use `RequestOptions` type from `flow` definitions instead of `RequestInit` from `fetch` lib.

And last thing is install lib defs using `flow-typed` and import `Middleware` from redux.

[2017-06-23 11:12] skosch commented on #1815
@helfer Thanks! The referenced issue wasn't my own but I actually wrote a substantial chunk of Absinthe's batching code, so you have my full attention :stuck_out_tongue: We tried to make it compatible with both Relay-React-Network-Layer and Apollo by sending back an array of responses, each in the shape of `{payload: {data: {...}}}`, in the same order as the requests. I was under the assumption th

[2017-06-23 13:45] benwilson512 commented on #1815
I definitely agree with this. There seems to be a dearth of documentation WRT the formats expected by different clients at this time.

[2017-06-23 13:53] linonetwo commented on #1536
I went through same error message, using ```.mutate()``` solved this.

Not using react-apollo since It's running in a crawler.

[2017-06-23 14:09] ctavan opened #1821 "Race-condition in refetchQueries (cache-first query completes before network-only query)"
**Intended outcome:**

Using `refetchQueries` on a mutation should guarantee to update the store from the network query result.

**Actual outcome:**

If the application triggers the same query, that was supposed to be refetched, shortly after the mutation has run (which by default will happen with the `cache-first` policy), this query will typically hit the cache and complete before the `network-o

[2017-06-23 14:10] ctavan commented on #1561
Might be related to the race-condition described in #1821.

[2017-06-23 14:43] linonetwo commented on #881
@jpshelley Strangely,

[code]

gives

[code]

Why I can't do an assignment?

[2017-06-23 16:02] ctavan commented on #1759
Might also be somewhat related to #1821.

[2017-06-23 17:13] 0x6e6562 commented on #621
@helfer Would adding a timestamp to each cache result break something in the library?

If a client were able to grab the timestamp of a query result, they could use `refetchPolicy` and decide on an application basis whether data was deemed to be stale.

For example, if an app regards data older than n seconds to be out of date, you could fetch @ `cache-only`, check the timestamp and then issue a f

[2017-06-23 18:44] jamiter commented on #1432
It would also help Meteor developers move over if minimongo could be used as the store. This way the rest of stack (like Tracker and Blaze) will keep their reactivity like before!

And personally I would like to experiment with MobX as well.

[2017-06-23 20:25] syrusakbary commented on #1717
Also having this same issue

[code]

[2017-06-23 23:44] bessey opened #1824 "Fragment merging results in corrupt cache"
**Intended outcome:**

(I am running the latest version of react-apollo + apollo-client as of time of submission.

These two queries should give identical results:

[code]
and reordered, but otherwise identical.

[code]

**Actual outcome:**
While the Apollo devtools gives the same return value when the "from cache" block is unchecked, when checked, the `otherStuff` value is missing. `graphql-anywh

[2017-06-24 00:46] #1779 closed

[2017-06-24 11:10] younisshah opened #1825 "Network request failed"
**Intended outcome:**
I am trying to access a GraphQL server (in React Native, over HTTPS) behind Kong API gateway with OAuth 2.0 plugin enabled. I'm not sure if the headers are getting added to the request.The following is my code:
[code]

**Actual outcome:**
I just get an Apollo Error
`
 E ReactNativeJS: 'Unhandled (in react-apollo)', 'ApolloError@http://192.168.12.251:8081/index.android.bundle?

[2017-06-24 15:24] yoneapp opened #1826 "writeToStore: Missing field __typename"
**Intended outcome:**

I wanted a warning not to be displayed.

**Actual outcome:**

A warning was displayed on the console.

﻿```

**How to reproduce the issue:**

I used such a code.

[code]

Could you advise me on this issue?

[2017-06-26 06:37] psamim commented on #439
@igrayson It would be great if you could share some implementation.

[2017-06-26 16:17] gajus opened #1827 "Provide a way to override the HTTP client that the network interface is using"
I am referring to this segment in the code:

[code]

https://github.com/apollographql/apollo-client/blob/94d8d200d727337f265a10472723b0af0fd59d7e/src/transport/networkInterface.ts#L180-L190

There are multiple reasons why I do not want to use `fetch`, esp. on server side. The primary reason is that I want to proxy all the requests.

What you could do is simple provide HTTP client as an option to t

[2017-06-26 18:36] Atretoname commented on #593
Hi
any activities on this field has been done ?

[2017-06-26 19:32] petercn commented on #1432
@helfer Any recent updates on this?

[2017-06-26 19:36] khankuan opened #1829 "Fragment on `refetch()` causes query to be fetched twice"
**Intended outcome:**
`refetch({ overrideArg })` triggers a single query call to refetch data.

**Actual outcome:**
2 graphql queries are sent at the same time. (fetchQuery is called twice)
First query has args that are overridden.
Second query has args that were default and not overridden.

**How to reproduce the issue:**
Other info:
- Using IntrospectionFragmentMatcher with the latest schema
- C

[2017-06-26 20:03] llorentegerman commented on #657
@ferdingler @zackify Me too the same

[2017-06-26 23:05] sammkj commented on #1432
I recently made a comment [on another issue](https://github.com/apollographql/apollo-client/issues/128#issuecomment-310089445) regarding Apollo and web worker implementation. Please feel free to give feedback on that

[2017-06-27 00:19] rrdelaney commented on #1818
I'm also having this problem

[2017-06-27 00:30] helfer commented on #1818
Hey @erkieh, I think you're right. In most cases here `object` should have been used, or a more appropriate `{ [key: string]: any}`. If you make a PR I'll be happy to fast-track it! 🙂

[2017-06-27 12:11] richburdon opened #1830 "Custom mutation processing (writeFragment) via update seems flaky."
**Intended outcome:**
writeFragment should update the cache.

**Actual outcome:**
When processing mutations using the `update` option I get unstable results. Writing to the cache isn't heavily documented, so I'm trying to understand the mechanism after days of trying to debug the issue.

My component's `props` method returns null for it's requested query item after it is mutated (not created -- ju

[2017-06-27 12:18] kennethlynne opened #1831 "Refetch all queries"
We have a chat application that might lose its real-time connection from time to time, and when the real-time session is re-established it might have lost some events. It would be sweet to be able to tell apollo to refetch all known queries, but I can not find this documented anywhere. Is there any solution to this? I can only find documentation on how to do this refetch per component.

[2017-06-27 18:20] helfer commented on #1831
@kennethlynne there's no function built for the explicit purpose of just refetching active queries, but `resetStore` actually does that as a side-effect (it also removes currently unused data from the store). Maybe give that a try and report back if it worked?

[2017-06-27 20:52] helfer commented on #1829
Hi @khankuan, thanks for the report. Would you be able to build a quick reproduction with react-apollo-error-template? That would help a lot! 🙂

[2017-06-28 07:57] yechezkelbr commented on #600
Hi,
This is what I did to solve this issue in graphql-dotnet
change the default serialization converter for GraphQLQuery class

`
public class GraphQLQueryConverter : JsonConverter
    {
        public override bool CanConvert(System.Type objectType)
        {
            throw new NotImplementedException();
        }

        public override object ReadJson(JsonReader reader, System.Type objectTy

[2017-06-28 08:40] thifranc commented on #51
Hi !

@helfer  thanks a lot for all the work you do, that's amazing !
Do you have any leads about when the release of the "error handler feature" for apollo-client is due ?
And moreover, we're currently implementing an error handling system following [this article](https://medium.com/@tarkus/validation-and-user-errors-in-graphql-mutations-39ca79cd00bf).

If we return something like :
[code]
Do you

[2017-06-28 12:31] altschuler opened #1836 "Select fragment as observable from the store"
Using Apollo for Angular 2, I'm trying to find a way to reactively select entities from the cache/store. It's basically `readFragment` but as an observable (`watchFragment` maybe?). `watchQuery` will not work as I don't want to watch an actual query.

As far as I could tell `readFragment` only enables a single immediate lookup into the store, not an observable result. I tried looking into the Apol

[2017-06-28 14:20] rblalock opened #1837 "Sub queries returning the same data when they should be different"
I'm running in to an issue only in the Apollo client that I'm troubleshooting.  If you could point me how I could best debug this I'd be very happy.

**Intended & outcome:**
Below is the sample query, the GraphiQL results (which is the expected results), the apollo results (the actual outcome of the Apollo client, which is incorrect), and my node unit test as well.  This exact query works fine in

[2017-06-28 17:59] cfatorNSS commented on #657
Have been looking at establishing the correct patterns in our UI for getting server generated messages back the user.  It seems odd to me that in the catch block of my query I get an error object with a general error on it and then have to use a utility with a promise in it to get the resulting graphQLErrors array which has the server-generated error messages.

Can anyone shed some light on if thi

[2017-06-28 18:08] helfer commented on #657
@ferdingler @zackify I think the reason these errors don't get passed to the afterware is that afterware gets run inside a `then` after fetch, and 401s throw, so the afterware doesn't get called.

@evanshauser is working on a new network interface which should be ready in the next week or two. If you provide him with some test cases, he could make sure that afterware gets called when those network

[2017-06-28 18:17] rblalock commented on #1837
Using the networkInterface directly, e.g. `client.networkInterface.query`, works btw.

[2017-06-28 18:22] zackify commented on #657
In my case, the afterware logs all errors for me now. The problem is the red screen when you don't grab the error at the component level. Thats the big thing I need fixed :) Hope @evanshauser's solution supports this! Thanks for the hard work guys.

[2017-06-28 18:26] helfer commented on #1837
Hi @rblalock, is there any chance that all of these items have the same id? If so, the behavior is completely expected, because Apollo will merge items with the same id together in the store during normalizing. I think this is corroborated by the fact that setting `addTypename: false` makes the problem go away. In that case Apollo will assign a store key based on the object path from the root of t

[2017-06-28 18:27] helfer commented on #657
@zackify oh, ok, then the real problem is uncaught errors, right? Those propagate up and you have to catch them at the component level.

[2017-06-28 18:27] rblalock commented on #1837
@helfer Yes they do have the same ID since they're the same user.  However, in the data structure in the gist, the user will have different data associated with it depending on it's parent object.

[2017-06-28 18:28] zackify commented on #657
I am catching them in the afterware. They log to the console. Yet at the component level it is throwing that they are uncaught unless if I pull out this.props.error in every component. Which is what I don't want. I just want to have a global error catcher.

[2017-06-28 18:36] rblalock commented on #1837
Just put this in the client options:  `dataIdFromObject: () => undefined,`.  Getting bad results again.

[2017-06-28 18:38] helfer commented on #1837
You can inspect the store with the Apollo Client developer tools, or you can use the Redux devtools to look at the content, which I think should help you debug this.

[2017-06-28 18:45] rblalock commented on #1837
Yeh I have.  The store just has the last data in for the `user {}` fields, which, as you say, is expected since the ID is the same.  Setting `dataIdFromObject` fn that returns `undefined` still results in using the ID as the key.  It seems like it should use the full path to the sub query, not just the top most parent as part of the key.  For example, the key ends up being `ContributionUser:userId

[2017-06-28 18:47] helfer commented on #1837
I may be wrong and you have to return `null` or something from `dataIdFromObject`. There's definitely a way to make the key use the path all the way from the root.

[2017-06-28 18:48] rblalock commented on #1837
Yeh tried null too.

[2017-06-28 18:58] rblalock commented on #1837
Ok my apologies, I had the option in the wrong spot (under the networkInterface options).  `dataIdFromObject: () => undefined,` does indeed work under the top level options for the apollo client.  Thanks for helping me with this.

[2017-06-28 19:47] helfer commented on #1837
Ok, glad you figured it out! 🙂

[2017-06-28 19:47] #1837 closed

[2017-06-28 20:41] helfer commented on #1836
Hey @altschuler, that's an interesting idea. Can you tell me what your use-case is?

You're right that currently there's no function that lets you do this directly, but if you want to make a PR to add a `watchFragment` function, we'd definitely be open to that.

Right now, I think you can get exactly what you want by using a [custom resolver](http://dev.apollodata.com/react/cache-updates.html#cach

[2017-06-28 22:59] dastoori opened #1841 "Bluebird warning on every request when `createBatchingNetworkInterface` is used"
**Intended outcome:**
I want to use `createBatchingNetworkInterface` instead of `createNetworkInterface`.

**Actual outcome:**
**How to reproduce the issue:**
I use `apollo-client` in ReactNative and when I use [**this example**](http://dev.apollodata.com/core/network.html#BatchingExample), I get the following warning on every requests ([`bluebird` warning](http://bluebirdjs.com/docs/warning-expla

[2017-06-29 00:20] #1841 closed

[2017-06-29 05:38] nss213 commented on #1409
In the meantime, has anyone come up with some good performance workarounds for "I want to display a filterable list of medium sized objects"? Ideally something that doesn't involve changing the schema (e.g. making the data structure an opaque json blob).

[2017-06-29 08:21] kennethlynne commented on #1831
We're currently using that to reset the store when logging the user out, but I will give it a try and see if this very interesting side-effect solves it for us and report back yeah :D

[2017-06-29 09:34] koenpunt commented on #1409
Would making use of `requestIdleCallback` help? I'm currently using that to defer mutations during navigating in React Native app, which works quite well.

[2017-06-29 09:47] altschuler commented on #1836
Cool, thanks a lot, that might work. I went for NgRedux to get notified when a change has occured and the readFragment to get the actual full fragment. It might be quite a performance overhead so will have to measure. Using the technique you mention, would you say that, performance-wise, it's something that's suitable for having potentially hundreds or `watchQuery` going at a time?

Use case is th

[2017-06-29 13:58] vincentpageau opened #1842 "Using redux-observable"
I read almost entirely the apollo client docs and I couldn't find anything on using redux-observable with it.

I know the usual way to make queries with apollo is with the `connect()` method connecting the query and the class but with **redux-observable**, you need to be able to call the query/mutation directly in the `epic` which is in a different _js file_.

Basically we would have to call the q

[2017-06-29 19:51] zunder commented on #1779
@helfer just tried it out with #1801 and the store structure seems to be as expected in the intended outcome. Thank you and @shadaj for providing this feature!

[2017-06-30 02:03] AlexLeung commented on #1701
I ended up with a bit of a different error now, but it's similar in a lot of ways.

[2017-06-30 05:25] helfer commented on #1813
Hey @tillkolter, we're actually working on exactly that kind of thing [over here](https://github.com/apollographql/apollo-link/pull/6). I'm going to close the issue here and suggest you add your comments and input on the other repo, it would be much appreciated!

[2017-06-30 05:25] #1813 closed

[2017-06-30 05:29] helfer commented on #1817
I'm pretty sure this has nothing to do with apollo-client because it just passes the option to the underlying `fetch` library. I suggest you open the issue there, or on the server library if you think the server is at fault.

[2017-06-30 05:29] #1817 closed

[2017-06-30 05:31] helfer commented on #1814
Hi @saadbinsaeed, this error indicates that one of the queries that you're trying to refetch has the cache-only policy set. Refetching such a query doesn't make sense, because it didn't go to the server in the first place.

Also, it's worth noting that we no longer recommend using refetchQueries with named queries. instead, we recommend providing the full query document and variables to reduce dep

[2017-06-30 05:33] helfer commented on #1821
Hi @ctavan, thanks for the very detailed bug report! I think this is definitely not a desired feature, so if you would be able to provide us with a reproduction using react-apollo-error-template, we should be able to fix this pretty quickly (or you could help us fix it by making a PR with a failing test!).

[2017-06-30 05:35] helfer commented on #1824
Hi @bessey, thanks a lot for the bug report. If you would be able to provide us with a reproduction using react-apollo-error-template, that would be really great!

[2017-06-30 05:36] helfer commented on #1825
Hey @younisshah, thanks for opening an issue. Unfortunately it's pretty difficult for me to help with only the information you've given. Maybe you can ask in the slack channel or on stack overflow? In any case, please try to provide as much information as possible so other people can help you.

[2017-06-30 05:38] helfer commented on #1826
Hi @yoneapp, you need to include `__typename` as follows in the result you return from `updateQuery`:

[code]

[2017-06-30 05:38] #1826 closed

[2017-06-30 05:39] helfer commented on #1827
Hi @gajus, thanks for filing this issue. @evanshauser is working on exactly that over in https://github.com/apollographql/apollo-link/pull/6 and https://github.com/apollographql/apollo-fetch. I'm going to close the issue here, but we'd love to have your input over there so we can make sure it works for your use-case.

[2017-06-30 05:39] #1827 closed

[2017-06-30 05:41] yoneapp commented on #1826
Thank you for your advice 🙇

[2017-06-30 05:42] helfer commented on #1830
Hi @richburdon, this sounds like a very strange issue indeed. It looks like there's something there, but it's hard to debug based on the description, so I really hope you'll be able to put together a minimal reproduction somehow (ideally using react-apollo-error-template).

[2017-06-30 05:44] helfer commented on #1842
Hi @vincentpageau, congratulations on filing your first issue! 😉

I think you should be able to do exactly what you want by declaring the query or mutation as a variable, using it in the component and also exporting it from the file. Then in your epic you simply have to import your client instance and the query, and you'll be able to call `client.query({ query: myQuery })` or `client.mutate({ ...

[2017-06-30 05:46] pencilcheck commented on #1817
It's weird how it breaks only when it is fetched in the browser not in the server though

[2017-06-30 15:08] vincentpageau commented on #1842
Thanks for the quick answer !

So far I've been using ApolloProvider to provide my client instance to my entire application. To my knowledge, only my containers and components have access to that client instance and my actions/epics do not.

Would you suggest I do not provide the client in ApolloProvider and instead create it and import it everyehre I use it?

[2017-06-30 22:29] fc commented on #1825
@younisshah, could it be a configure issue with React Native?

There is an issue with HTTPS + IOS/OSx + React Native that requires a little bit of extra configuration.  Refer to the links below:

https://stackoverflow.com/questions/38862837/react-native-ios-network-request-failed

https://stackoverflow.com/questions/38418998/react-native-fetch-network-request-failed

[2017-06-30 22:34] fc commented on #1821
@helfer it looks like he already provided a reproduction react-apollo-error-template (refer to the link in his post).

[2017-06-30 23:40] stantoncbradley opened #1849 "resetStore not clearing store!"
**Intended outcome:**

resetStore clears the Apollo data

**Actual outcome:**
resetStore only refetches, there is no point where data in components is cleared

**How to reproduce the issue:**

error repo: https://github.com/stantoncbradley/apollo-reset-store
1. Run the app :)
2. Clicking resetStore button triggers Apollo resetStore
3. App logs nextProps as the come in through componentWillReceiveP

[2017-07-01 00:40] pencilcheck commented on #653
In my experience, setup CORS from the server side to respond to preflight is the easiest way to solve this issue.
So no need to add mode: 'no-cors' to apollo or fetch

[2017-07-01 04:44] helfer commented on #1849
@stantoncbradley thanks for filing the issue along with a reproduction and good description of what's going on.

@jbaxleyiii  FWIW: I think the data may be cleared in the store, but due to this [PR in react-apollo](https://github.com/apollographql/react-apollo/pull/548), the query data isn't read from the store, but from [here](https://github.com/apollographql/apollo-client/blob/479099ee0793939ecc

[2017-07-01 16:23] morgs32 commented on #84
@stubailo any chance you could provide an example of this without going to too much trouble?
https://github.com/apollographql/apollo-client/issues/84#issuecomment-242853278

[2017-07-02 02:13] bessey commented on #1824
Hey helfer, my graph's shape has changed since i reported and I can no longer repro this bug, so closing for now.

[2017-07-02 02:13] #1824 closed

[2017-07-02 12:59] manuelfink commented on #424
As @stubailo mentioned I guess apollo is not the same as an real data sync like minimongo and mongo offline db. However I think with **queueing mutations** something really similar can be achieved. I really think this would match 90% of the use cases without any problems.

I think the client just needs the following functionality to become fully offline:

- **Queue Mutations**
- **Reply Mutations:

[2017-07-02 22:35] matthewerwin commented on #1542
@helfer the design of this to be an error state seems suspect. Particularly since there is no guarantee that the cached data would exist for a related query at the time say a mutation attempts to update records related to it which may only load on certain pages of a website. A site of any complexity is going to regularly run into this all the time because there is no predictability that any relate

[2017-07-03 05:06] stubailo commented on #1842
@vincentpageau that's right, you can just import your client instance into the place where you want to use it. The provider is specifically so that you can use the `graphql` container.

However, if you are doing server side rendering make sure you make a new client instance for every render - that's one of the main uses of the provider, is to avoid conflicts.

[2017-07-03 05:06] #1842 closed

[2017-07-03 07:03] serle opened #1851 "Client-side cache enhancement: Is it possible to add additional client-side properties to query data?"
I am building a tree control. I would like to be able to add some additional client-side properties to each  query data object, before it gets written into the cache. e.g. isExpanded property which is not a server-side concern, but belongs with the underlying object. I would also like to be able to retrieve the underlying object from the Apollo cache by id/typename and then be able to imperatively

[2017-07-03 09:06] leethree commented on #1706
Yes we are also using react-native together with redux-persist and we are facing this problem now.

Would it be helpful to only include `data` key when persisting the Apollo reducer?

[2017-07-03 11:24] saadbinsaeed commented on #1814
Hi @helfer happy to see you. As i already mentioned that refetch query is working well in web project but it is not working in desktop ( electron ) app. I have also tried all the documented fetch policies `cache-first" | "cache-and-network" | "network-only" | "cache-only" | "standby` but it didn't work for electron app.

How can i set the fetch policy of queries called by the name in refetchQuerie

[2017-07-03 12:39] saadbinsaeed commented on #1814
I have even tried this with and without the option of **fetchPolicy**
[code]
but still the same error :(:(:(

[2017-07-03 15:01] andreasgruenh opened #1852 "Feature idea: Combining middleware and afterware"
Hello everyone, I have been replacing Relay with Apollo in my SPA and I'm really liking it so far! One problem I encountered is refering to the middlewares.
In the past I had a logging middleware in my fetchWrapper, that logs the path, the response, and the time to completion. With the current setup I have to add an id to the request options, to connect requests with responses.
Other middleware fr

[2017-07-03 15:40] vincentpageau commented on #1842
@stubailo Ok I understand a lot more now but I still don't have all the information I need to correctly make query calls and mutations from my `epics/action creators` (not you guys' fault, I'm new to both **apollo** and **redux**)

If I take for example my `mutation`. At the moment, it's in my class where I call my action creator.
I use the `graphql` method to connect it to my class and pass `prop

[2017-07-03 15:55] vincentpageau commented on #1842
@stubailo Ok I understand a lot more now but I still don't have all the information I need to correctly make query calls and mutations from my `epics/action creators` (not you guys' fault, I'm new to both **apollo** and **redux**)

If I take for example my `mutation`. At the moment, it's in my class where I call my action creator.
I use the `graphql` method to connect it to my class and pass `prop

[2017-07-03 17:09] vincentpageau commented on #1842
Ok I successfully changed the mutation to mutate using the client directly.

[code]

I use `return` here to call my reducer and then update my redux store.

Thank you for your help 😃

[2017-07-03 19:48] azotklas opened #1853 "POST 500 (Internal Server Error) Wrong format"
Help me to understand.
I just started learning angular 4 and immediately decided to connect to the server graphql.

I have a string :
{ **NAME** : jobs(limit: 100, filter: "{\"and\":[{\"or\":[{\"flow\":{\"is\":\" **FLOW_NAME** \"}},{\"stage\":{\"is\":\" **STAGE_NAME** \"}}]}, {\"user\":{\"is\":\" **USER_NAME** \"}}]}") { count jobs { id name flow stage user } } }

**Parameters that change:**
-NAME

[2017-07-03 20:31] richburdon commented on #1830
Hi @helfer, I'm still trying to break down a repro into a separate repo. I think I have a better guess at what is happening now (I have a workaround) -- so some questions:

1). I have a generic mutation that updates fields on Items. The mutation itself doesn't return any data from the server (just a success flag), but my custom `mutate.update` method can take the mutation values (optimistic or not

[2017-07-03 20:55] stubailo commented on #1424
Here's the first part of the new network interface!

https://github.com/apollographql/apollo-fetch

It does indeed provide parsed results to afterware, maybe someone can give it a try.

[2017-07-04 00:19] evanshauser commented on #657
@ferdingler @zackify we published the first part of the future Apollo network stack with the release of [apollo-fetch](https://github.com/apollographql/apollo-fetch). It should solve your issue of afterware not getting access to the response status. There is an integration with Apollo Client in the docs. Please open an Issue or let me know if apollo-fetch doesn't hit your use case or you think of

[2017-07-04 00:23] evanshauser commented on #1827
@gajus We just published the initial release of [apollo-fetch](https://github.com/apollographql/apollo-fetch). It has an example of using a custom fetch function. Please open an issue or let me know if apollo-fetch doesn't hit your use-case or can be improved.

[2017-07-04 02:22] helfer commented on #1852
Hey @andreasgruenh, if I understand correctly you mainly want to time how long the request takes, right? @evanshauser is currently working on a new fetch architecture for Apollo which should be able to support that use-case really easily. You can check out the progress over on the [apollo-link](https://github.com/apollographql/apollo-link/pull/5) and [apollo-fetch](https://github.com/apollographql

[2017-07-04 02:24] helfer commented on #1814
@saadbinsaeed hm, that's really strange. So you're saying code that works perfectly on react native or the web doesn't work in electron? Would you be able to put together a reproduction so someone can look into it?

[2017-07-04 02:25] helfer commented on #1830
Hey @richburdon thanks for the detailed description. I don't have time to look into it, but I hope @jbaxleyiii will get to it at some point.

[2017-07-04 02:49] stubailo commented on #1852
For now, one easy way to do timing would be to wrap the method on the network interface itself:

[code]

You'd also need to handle the error case, but the above could work as a hack until `apollo-link` is ready!

[2017-07-04 06:00] andreasgruenh commented on #1852
As far as I can see apollo-fetch is using the same separation between middlewares and afterwares. Could maybe explain the benefits of this separation to me? Because in my opinion this concept would be much simpler if there were only one kind of middleware which can do both.
Another use case that could be made with this is repetition of requests. A middleware could store the current request and res

[2017-07-04 15:32] vincentpageau commented on #1842
@helfer @stubailo

One last thing I was wondering, **error handling** using apollo.
I know apollo-client has its own way of handling **errors** during a mutation/query and I was wondering if there was some way to catch the error from a **mutation** and call another action.

see code below

[code]

In that code, I have no trouble getting into `map(result => ...` but I can never catch an error and c

[2017-07-04 17:45] seb-saletes opened #1854 "Impossible to use await in update method"
I have a mutation that create a new album in my db. Once the album is created I call an async method to upload the pictures in this album. However, I need the result to update my apollo store using readQuery and writeQuery. Using await in the update method seems to give me the following error:

    at TransactionDataProxy.assertNotFinished (http://localhost:9000/_next/1499188588067/commons.js:8006

[2017-07-05 03:40] xialvjun opened #1855 "[Advice] is it possible to add an option `autoIntrospection: boolean` in new ApolloClient?"
Since there is `http://dev.apollodata.com/react/initialization.html#fragment-matcher`, I think it can be done auto...

[2017-07-05 04:21] khankuan commented on #1829
Did not manage to build a reproduction yet. But it seems like nested fragment caused the bug:
[code]

[2017-07-05 04:40] stubailo commented on #1855
Yeah we wanted to have this, but it needs a few changes to the core around initialization. Since there will be a time when introspection data is not ready yet, and we can't handle queries before then. Also, it's not clear what to do if the introspection returns an error, or the network request is lost, etc.

It's easier to do it in a step up front, but it might be nice to have a simpler way to set

[2017-07-05 04:57] xialvjun commented on #1855
Thanks. Since all of our code is based on Promise, queries before introspection will waiting some time is not a problem. As to introspection returns an error, well, it indeed is a problem.

[2017-07-05 05:04] stubailo commented on #1855
Yep - agreed, but it still requires some architecture changes inside the core implementation to know to wait for that.

[2017-07-05 11:12] xifengxx commented on #1803
I tried it, but it doesn't work. don't know how to do it.

[2017-07-05 12:51] 1player commented on #258
Sorry to comment on a closed topic, but is there any news or tracking issue?

[2017-07-05 19:18] stantoncbradley commented on #1849
@helfer no problem!  A couple things on further investigation:
1. Our issue seems to have been introduced in `react-apollo 1.2.0`, as `1.1.3` doesn't show our previous user's data but shows the empty data.
2. Testing my repo app with `react-apollo 1.0.2` never passes down cleared data props to the component either, it just replaces the data with the latest fetch.

Perhaps I am unclear on the inten

[2017-07-05 19:37] stubailo opened #1858 "Missing field <field name> in <result> message should have more information"
**Intended outcome:**
When you are writing an `updateQuery` function, and you forget to specify a field on the query, it should tell you how to resolve your problem rather than just saying "missing field".

**Actual outcome:**
Apollo Client throws an error like:

[code]

Which doesn't help you fix the problem. It's not clear that this actually prevents the write to the store (should it?) and it do

[2017-07-05 19:43] jbaxleyiii commented on #1849
@stantoncbradley @helfer keeping the data is indeed the intended effect since you may have a mixture of user data and global data. So components showing things that aren't user specific didn't want to re-render until it has new data to show.

@stantoncbradley a couple options here:
1. When you call resetStore, trigger a rerender of your tree from a wrapper right below ApolloProvider
2. PR into rea

[2017-07-05 20:09] stantoncbradley commented on #1849
@jbaxleyiii thanks for the suggestion.  How do you recommend doing #1?

I tried
[code]
in my example repo and I'm still not getting empty data

thanks!

[2017-07-05 20:17] jbaxleyiii commented on #1849
@stantoncbradley resetStore returns a promise, can you try the force update after that is done?

[2017-07-05 20:29] stantoncbradley commented on #1849
@jbaxleyiii
[code]
even added a 5 sec delay to my resolver, still not seeing empty data in between fetches
[code]
![image](https://user-images.githubusercontent.com/5314103/27883613-0125c516-6186-11e7-8fa1-58f7741401c1.png)

thanks!!

[2017-07-05 20:36] stubailo commented on #1852
I think it's best to move this conversation over to `apollo-fetch` - I don't think we're going to change the API on the current network interface, but there's some opportunity to release breaking changes on `apollo-fetch` while not too many people are using it yet.

[2017-07-05 20:36] #1852 closed

[2017-07-05 22:26] stantoncbradley commented on #1849
looking at the code for `apollo-client`, I clearly see that the store gets reset in the reducer:
[code]
I think @helfer is right, this may be an issue with `react-apollo` (should I move the issue over there?).  digging into that code now to see if I can track down why the empty data store from ApolloClient isn't propagating to the components.  Note @helfer the empty data set from `resetStore` does

[2017-07-05 23:10] cesarsolorzano commented on #51
@thifranc you could use `response.graphQLErrors[0].myCustomErrorData` to access the data.

[2017-07-06 01:12] xifengxx commented on #725
@ValentinKlinghammer I followed your way to solve it, but there are still some errors:
`"@types/chai": "^3.4.34",
    "@types/isomorphic-fetch": "0.0.30",
    "typed-graphql": "^1.0.1",`

I use angular cli to build Angular2 APP, the error is as below:
`ERROR in /git/cm-worth/node_modules/apollo-client/transport/afterware.d.ts (4,15): Cannot find name 'Response'.

ERROR in /git/cm-worth/node_module

[2017-07-06 03:13] xialvjun opened #1860 "[Advice] add api `apolloClient.registerFragments(gql``)`"
Using fragments in apolloClient is cumbersome. We need import those fragments into many places, and write `${fragments.fragmentName}` in those gql templates.

And since apolloClient needs [unique fragment name](http://dev.apollodata.com/core/fragments.html#unique-names), why not just registerFragments...

[2017-07-06 08:16] ctavan commented on #1821
Yes indeed @fc @helfer: The reproduction is here: https://github.com/ctavan/react-apollo-error-template/tree/reproduce-refetch-query-race

[2017-07-06 12:05] kennethlynne commented on #1831
It worked like a charm!

[2017-07-06 12:05] #1831 closed

[2017-07-06 17:30] evanshauser commented on #1852
@andreasgruenh To help segue the conversation over to `apollo-fetch` or `apollo-link`, `apollo-fetch` is designed to make the separation of functionality distinct and simple, so middleware and aftweware are two different concepts.

`apollo-link` is based on similar ideas to what you have in mind, where each link has access to the request (called an Operation) and the response in the form of an obs

[2017-07-07 05:17] stubailo opened #1864 "Remove package-lock.json from repo?"
This is currently making it harder to reproduce incompatibility issues with new packages. Also, doesn't work with Greenkeeper.

[2017-07-07 08:17] agborkowski commented on #593
as @helfer said observe https://github.com/apollographql/apollo-client/issues/593

[2017-07-07 13:37] SeanBannister commented on #379
For anyone else stumbling across this you might like to check out https://github.com/mstn/apollo-local-network-interface

[2017-07-07 15:03] smooJitter commented on #1186
Lord... my very first graphql container and this is what I get.🤦🏾‍♂️.   I'm using recompose branch and renderComponent to handled data availability logic.  The data is there but like every one else, networkloading is stuck at 1.  I'll try upgrading my tooling.  I passing a simple query with no special options or parameters.  Nevertheless, I'm importing default export stateless components. This all

[2017-07-07 17:23] #1819 closed

[2017-07-07 18:33] jonmanzo commented on #1779
This is great, I second the thanks! :dancers:

[2017-07-07 18:35] abubakkarbutt opened #1865 "Simple (heuristic) fragment matcher warning. Even thought i am not using interface or union"
**Intended outcome:**

**Actual outcome:**

**How to reproduce the issue:**

I getting warning that

 But I am not using any interface or union type. Is  there any way i can check why i am getting this.

[2017-07-07 19:38] stubailo commented on #1432
@shadaj can you provide a longer update on what you're working on?

The first few PRs in this direction are #1845 and https://github.com/apollographql/apollo-client/pull/1846 and https://github.com/apollographql/apollo-client/pull/1859

[2017-07-07 20:37] shadaj commented on #1432
Sure, I'm going to be working on implementing a new store API that will make it possible to plug in different backing store implementations into Apollo. The first step of this is to extract out the Redux implementation of the Apollo store into a separate module, where we can place it under a more general API. The new Store API will make it possible to provide custom implementations of Apollo store

[2017-07-07 20:40] smooJitter opened #1866 "APOLLO_QUERY_RESULT is not updating the state."
The APOLLO_QUERY_RESULT action is not updating the the next state?  Because of this, I cannot access the result data.  It returns with the results but according to redux-logger the state isn't modified.  Has anyone experienced this.

React-native
React-apollo 1.4.3
Apollo-client 1.7

[2017-07-07 21:01] smooJitter commented on #1866
Resolved:  I'm using redux-persist.  I added 'apollo' to the blacklist all is well.

[2017-07-07 21:05] smooJitter commented on #1186
Resolved: I'm using redux-persist. I added 'apollo' to the blacklist all is well.

[2017-07-07 21:14] yordis commented on #1864
@stubailo  just remove it.
At the end of the day it's helpful when you really want to force people to work with the exact versioning but we have versioning anyway in `package.json` so.

[2017-07-07 22:46] stubailo commented on #1864
Mind sending a PR? I'm not near a CLI right now.

[2017-07-07 22:47] stubailo commented on #1864
Need to add to `.gitignore` as well.

[2017-07-08 00:45] #1864 closed

[2017-07-08 13:40] Vitiell0 opened #1870 "update is duplicating values in store instead of updating them"
**Intended outcome:**
I am trying to update my query after a mutation using `update`. I followed the documentation [here ](http://dev.apollodata.com/react/cache-updates.html#updateQueries)to attempt to do this.

Here is my code:

[code]
**Actual outcome:**

When I click the button that triggers the mutation, nothing happens and there are no errors printed to the console. If I reload the page, the

[2017-07-09 01:43] abubakkarbutt opened #1871 "Failed to execute 'postMessage' on 'window'."
I am receiving following Error only in google chrome. Other browsers are working fine.

Error: Failed to execute 'postMessage' on 'Window': function (number) {
        var b = number % 10,
            output = (toInt(number % 100 / 10) === 1) ? 'th' :...<omitted>... } could not be cloned.
    at ApolloClient.hookLogger [as devToolsHookCb] (<anonymous>:13:12)
    at ApolloClient.js:189
    at Objec

[2017-07-09 02:40] sudharsan1988 commented on #1871
Same here. I am using Apollo developer tool on my Chrome.

Apollo Client - 1.4.2
react-apollo - 1.4.2

It's working fine and all of sudden getting this error message very often.

Any help would be really appreciated.

[2017-07-09 03:07] abubakkarbutt commented on #1871
My query string
`query events($from: Date!, $to: Date!) {...}`
In my case the problem was that i was passing date (Moment) object in variables of watchQuery.
`client.watchQuery({`
`   query: eventsQuery, `
`   variables: { from, to }`
`});`
I changed that to string using moment.format() and then everything started to work.
`client.watchQuery({`
`   query: eventQuery,`
`  variables: { from: from.fo

[2017-07-09 04:33] stubailo commented on #1871
I think this is an issue with the new release of the Chrome devtools, cc @ramyanaga

[2017-07-09 04:36] stubailo commented on #1871
Weird that sending those as JSON over the network doesn't cause an issue, but sending them over `postMessage` to the devtools causes problems.

[2017-07-09 05:30] stubailo commented on #1871
I opened an issue on the dev tools about it: https://github.com/apollographql/apollo-client-devtools/issues/58

[2017-07-09 07:18] serle opened #1872 "Enhancement request: better imperative api"
The current writeFragment method seems to be overly complicated for local cache updates. Given that Apollo managers a normalized cache of objects i.e. separate arrays of objects of a give __typename (after having performed a query) it would be much easier to allow something standard like array.filter() to query a subset of objects in the cache; and subsequently allow bulk mutations to that set of

[2017-07-09 18:43] scf4 opened #1873 "Custom resolvers for pagination results"
Let's say I have the following results cached:

[code]

How can I access something like

[code]

and pull the first post from the cache?

I'm about to try something like this inside a custom resolver, but I don't know if it will work/scale well, and it seems super hacky:

[code]

Is there some super-simple Apollo way to do this?

[2017-07-09 21:13] stubailo commented on #1873
The `@connection` approach should work well if what you want to do is simply ignore the `limit` argument on the client. Surprising that it's not working.

I think the custom resolver approach is the best you can do at the moment, but it might be nice to add some more metadata to the store to make it easier to find the relevant fields on the object. For example something like `client.getAllArgument

[2017-07-09 21:26] gfpacheco opened #1874 "Redux devtools' time travel not working"
From the docs:

Other redux actions, dispatched manually, can be "undone" by time travel just fine.
But the ones dispatched by apollo-client just can't, not out of the box nor passing a redux store to the client.

**Intended outcome:**
Redux devtools extension time travel working

**Actual outcome:**
Redux time travel doesn't work

**How to reproduce the issue:**
- Install [redux devtools extensio

[2017-07-09 22:32] scf4 commented on #1873
@stubailo I didn't realize I needed to define`@connection` on the server. That works now.

The only problem is it seems like `fetchMore` isn't playing very nicely with it. In apollo dev tools, it looks like `thread.posts` isn't keeping all of the posts there.

This is my loadMore function:

[code]

[2017-07-09 22:46] scf4 commented on #1873
I think `prev` isn't actually returning the current state of `thread.posts` (by accounting for the `@connection` stuff) is this intended behaviour?

[2017-07-09 23:15] stubailo commented on #1873
You shouldn't have to. You also don't need to update anything about `fetchMore`. Maybe there's something surprising or a bug going on!

Any chance you could submit a complete reproduction with an app we can run? In our internal tests/apps this stuff is working with no extra configuration.

[2017-07-10 02:15] Vitiell0 commented on #1870
I figured out what was causing this bug. The problem was that when I used store.writeQuery I was not including the same variables that I used when calling store.readQuery. After I updated the writeQuery to include the variables it is working correctly!

[2017-07-10 02:15] #1870 closed

[2017-07-10 04:05] stubailo commented on #1874
Duplicate of #1800, let's keep discussion there!

[2017-07-10 04:05] #1874 closed

[2017-07-10 04:07] stubailo commented on #1872
If you could split the different features into separate issues and provide some code examples of what you're looking for, that would be awesome! These seem like cool ideas for sure, but I want to make sure we can keep the discussion focused and specific.

[2017-07-10 04:12] gfpacheco commented on #1874
Actually the issue I'm reporting is that time travel isn't working at all. While traveling through time neither the state is changed or the components re-rendered.

[2017-07-10 04:27] stubailo commented on #1874
It sounds like it's the same issue - that it doesn't really work at all.

Either way, I think the changes to fix this are going to be the same, so it's best to have one issue about it. Having more people on the same thread makes it easier to prioritize and discuss.

[2017-07-10 11:39] serle opened #1876 "Imperative API: Improve ability to read/write local store data"
Instead of using `client.readFragment()` and `client.writeFragment()` with all their GraphQL like complexity, one could operate against the cache in a more array-like way i.e. using concepts such as filters and maps.  This API would be limited to normalized cache data i.e. it operates under the assuming that Apollo has already normalized the cache by `__typename`. Thus this API would not be usable

[2017-07-10 11:43] serle commented on #1872
see #1876 + will log another one on server synchronization ideas later

[2017-07-10 11:43] #1872 closed

[2017-07-10 17:26] rsimp opened #1877 "Feature request: expose action types for redux-saga/redux-observable"
**Intended outcome:**
Expose the apollo-client redux action types officially as part of the api. Exposing them would be quite simple and would immediately make apollo compatible with libraries like redux-saga or redux-observable which have better support for long lived complex async workflows. This is specifically needed for for redux-saga's take/takeEvery and redux-observables' actions.ofType.

*

[2017-07-10 17:53] ramyanaga commented on #1871
@sudharsan1988 @abubakkarbutt Are the two of you also running into this issue with queries with date objects? If not, could you guys specify the type of object you are running into this issue with (if you know the type/can easily figure that info out). Thanks!

[2017-07-10 18:06] rsimp commented on #1877
However it may make more sense to only use custom action types for saga/epic control mechanisms, and just give the epic/saga a client instance to manually run queries/mutations on. Just store the graphql separately so that the epics/sagas also have access to them.

[2017-07-10 22:45] scf4 commented on #1623
Any update on this?

[2017-07-10 23:47] ramyanaga commented on #1871
@sudharsan1988 @abubakkarbutt can you guys post reproductions of your app/link us to your repos so we can better solve this issue?

[2017-07-11 02:49] jazzdragon opened #1879 "Uncaught DOMException: Failed to execute 'postMessage' on 'Window'"
* could be related to [#1871](https://github.com/apollographql/apollo-client/issues/1871)

I have afterware on my apollo client to handle errors in my app. In order to check the server's response status I have to clone the response. It was working fine until suddenly (chrome update?) I started getting this message:
`DOMException: Failed to execute 'postMessage' on 'Window': Error: Network request

[2017-07-11 03:00] dcworldwide commented on #1879
Updated to latest, also getting:

[code]

[2017-07-11 03:37] jameswyse commented on #1879
Seems to be a problem with the apollo devtools. Had to disable the extension in chrome.

[2017-07-11 03:40] jazzdragon commented on #1879
Yep, that worked, thanks.
Leaving this open until the issue is resolved.

[2017-07-11 12:03] seeden opened #1880 "Maximum call stack size exceeded"
Hi guys.

I can see infinity fetch requests when something went wrong with graphql.
That means when graphql server sent back error or server is not responding.

I am using latest react-apollo and apollo with batched requests.

Here is my stacktrace from sentry
[code]

[2017-07-11 12:28] elie222 commented on #1701
yup, same errors here :(

[2017-07-11 12:35] fischerman opened #1881 "Catch error on watchQuery poll"
I posted this issue on SO, but no response, so I post it here as a potential bug report.
https://stackoverflow.com/questions/44898988/apollo-client-how-to-catch-error-with-pollinterval

I have a watchQuery with a pollInterval, like so:

[code]

I want to ignore any network errors for this particular query.

**Intended outcome:**

Catch all errors during a poll using the Observable error handler. N

[2017-07-12 00:45] cesarsolorzano commented on #1880
I'm quite sure this is a duplicate of #1717. If you have time to fix it, a PR will be welcome! 🙂

[2017-07-12 00:45] #1880 closed

[2017-07-12 10:09] batjko commented on #1879
I'm seeing something similar, but with `Error writing result to store for query` as the underlying error:

[code]
Disabling the extension solved the issue for me as well.

[2017-07-12 10:27] saadbinsaeed commented on #1814
Solved it. I was setting the `fetchPolicy` to the query whose default policy was `cache-first`. I attached `"cache-and-network"` policy to the both original query and with the refetchQuery. First i am only setting the fetchPolicy with the refetchQuery. But still wondering that how it is working and web app :P

[2017-07-12 10:27] #1814 closed

[2017-07-12 10:48] alvinvgeorge opened #1884 "apollo-codegen version issue"
I installed npm, added Apollo framework, generated schema. Whenever I try to run the project, it throws the following error.

Showing Recent Issues
error: The version of Apollo.framework in your project requires the use of version 0.10 of apollo-codegen, but 0.14.3 seems to be installed.

[2017-07-12 12:13] msand opened #1886 "feature idea: optimistic response with debounced server-calls mutation"
Would it be possible to have the optimistic response update immediately, while the actual request to the graphql server would be debounced?

Such that, if the first debounced mutation sends its request and the user makes another change, then when the response from the first mutation arrives it still uses the newer optimistic response, until the second mutation response resolves the end result.

I

[2017-07-12 13:47] CodogoFreddie opened #1888 "Merging incomplete mutation causes data loss"
Performing a mutation that adds an object to a collection will cause a watched query to fail, if the mutation does not return all the fields included in the  original query

**Intended outcome:**

Performing a mutation that does not return all the data needed to fully update any relevant queries should either provide as much data as possible, or display a warning by default.

**Actual outcome:**
P

[2017-07-12 13:52] CodogoFreddie commented on #1888
![bitmoji](https://render.bitstrips.com/v2/cpanel/10216404-256758121_2-s4-v1.png?transparent=1&palette=1&width=246)

[2017-07-12 14:40] chris08002 commented on #1276
@seanes Have you found a solution for this? I am not able to make a query with optional variables in angular apollo.

[2017-07-12 21:19] savovs commented on #1871
In my case, this happened because I was passing a [Moment](https://momentjs.com/) object to Apollo. Fixed it by passing the date object like this: `momentDate.toISOString()`

[2017-07-12 23:42] steida opened #1889 "Do we really need resetStore for signIn, signUp?"
Without Redux, I understand re-fetching is the must, but why user data has to be cleared after signIn?

For signOut, resetStore seems to be not enough, because, with SSR, the app still can contain server initial state, so we need full reload.

Please correct me if I am wrong.

[2017-07-13 00:07] kMeillet commented on #1889
For the moment, i use a full refresh, because resetStore is really weird and can throw for some reason like in-flight request or new request incoming before full reset phase. I've try awaiting full cache reset before redirect on auth form, but it slowdown my logout :( ...

If resetStore doesn't clear cache, component will not be refresh when logout (like an AppBar with current authenticated user n

[2017-07-13 00:09] steida commented on #1889
Because Next.js app can contain previously logged in user data in its initial props.

[2017-07-13 05:23] jbaxleyiii commented on #1886
@msand I wonder if this is the best approach? Since you are binding direct user interaction, it seems to me using a combination of local component state + a delayed mutation would be the better option? It will be more performant as it doesn't go through any Apollo store actions, nor would rerender the graphql wrapper.

When possible, I'd like to steer clear of debouncing in library code since it i

[2017-07-13 11:38] igo opened #1893 "APOLLO_MUTATION_ERROR action not processed correctly"
APOLLO_MUTATION_ERROR action is not processed correctly and therefore state is not changed (eg. mutation loading state). This issue can be observed also in demo implementation on http://demo.learnapollo.com/ with redux dev tools. APOLLO_MUTATION_INIT and APOLLO_MUTATION_RESULT seems to work correctly.

UPDATE: https://github.com/apollographql/apollo-client/blob/master/src/mutations/store.ts#L56 se

[2017-07-13 12:39] msand commented on #1886
Yeah, I'm wondering the same thing as well, before I simply used a stateful component like this:
[code]

Where the this.props.updateDailyNote is already debounced.

Somehow it feels unnecessary to have a stateful component, when the needed data / structure already exists in redux, and optimistic updates can achieve the same thing. If redux didn't already have the right data and structure, it would

[2017-07-13 12:58] msand commented on #1886
At least in this case, the data is only used in one place, and thus is fine to keep only in local encapsulated state of one component.

The principle of "When possible, I'd like to steer clear of debouncing in library code" seems sound and doesn't cause any unwanted computation or library code. It merely requires having one component be stateful instead of pure. As such, this is not an actual issu

[2017-07-13 15:18] pfrendo opened #1894 "Adding AuthMiddleware after client creation"
Is there I way I can add middleware after the ApolloClient has been initialized? As I need the token to be injected as it's constantly changing. Thanks !

[2017-07-13 15:53] yuricamara opened #1895 "Do the caching features works great with Ionic 2/3 in Android and iOS devices?"
Hi folks,

Since I don't know how the caching mechanism of Apollo Client works, I feel a little bit insecure in using this feature inside these environments.

[2017-07-13 18:23] stubailo commented on #1895
Yeah it works just fine in any JavaScript environment!

[2017-07-13 18:25] yuricamara commented on #1895
Where data is cached by Apollo Client?

[2017-07-13 18:50] jbaxleyiii commented on #1886
@msand thank you for the great responses! I really appreciate the thoroughness of them. I will close this issue, but as a heads up, we are working on a new way to compose a client which would make this possible on the client level if desired. I'll ping you when it is ready if you want to take a stab at writing a package for debouncing!

[2017-07-13 18:50] #1886 closed

[2017-07-13 19:58] enjoitheburger opened #1896 "Misleading Redux Actions in Regards to Query Deduplication"
**Intended outcome:**
Unable to tell if queryDeduplication is actually working from inspecting the list of redux actions in a tool such as redux-devtools. One might expect that `APOLLO_QUERY_INIT` and `APOLLO_QUERY_RESULT` would actually initialize and resolve a network call.

**Actual outcome:**
`APOLLO_QUERY_INIT` and `APOLLO_QUERY_RESULT` are called for every possible query regardless of whethe

[2017-07-13 20:03] yuricamara commented on #1895
From [Facebook Group:](https://www.facebook.com/groups/graphql.community/permalink/1180951188677465/)

Ok. Thank you folks!

Congratulations for the nice job! ;-)

[2017-07-13 21:07] lobnico commented on #1894
Middleware allows to access to context object where you would put
your request object.
It is largely described in documentation and starter kits

[code]
this context is now attached to your client resolver functions

userQueryResolver = async (source, variables, context, info) => {
  console.info({ requestObj: context.request })
}

[2017-07-13 21:31] jurajkrivda commented on #1894
[code]

[2017-07-13 22:33] pfrendo commented on #1894
@lobnico @jurajkrivda

I think it's best I open this issue on the angular client as it has to do with module loading... My bad for not opening it there actually as my description didn't quite go into detail about the problem.

Thanks for the info tho !

[2017-07-13 22:33] #1894 closed

[2017-07-14 00:42] stubailo commented on #1895
Thanks!

[2017-07-14 00:42] #1895 closed

[2017-07-14 13:56] tokenvolt opened #1900 "refetchQueries after mutation"
**Intended outcome:**

I'm trying to refetch some queries after the mutation and I expect them to be executed.

**Actual outcome:**

refetchQueries are not working as they are described [in the docs](http://dev.apollodata.com/core/apollo-client-api.html#ApolloClient.mutate)

**How to reproduce the issue:**

[code]
LOGIN_MUTATION and USER_QUERY are strings in graphql syntax. I don't see USER_QUERY

[2017-07-14 14:21] n1ru4l commented on #1900
From the documentation:

Also you will have to convert your `LOGIN_MUTATION ` graphql strings to a GraphQL AST by using  [graphql-tag](https://github.com/apollographql/graphql-tag)

It should look like this:

[code]

[2017-07-14 14:42] tokenvolt commented on #1900
I'm using graphql-loader and writing mutations and queries in separate graphql files. How should I approach this way? BTW I've tried to use gql and use the name of the query, but it doesn't work as well.

[2017-07-14 14:53] n1ru4l commented on #1900
then you should probably create a reproduction with https://github.com/apollographql/react-apollo-error-template . I never user refetchQueries so my knowledge is limited to the documentation 😞

[2017-07-14 21:49] jonmanzo opened #1906 "@connection (w key & filter) fetchMore bug"
This is related to #1873 as I believe it likely explains the fetchMore issue, though opening a new bug as it does not reference customResolvers.

**Intended outcome:**
Paginated fetchMore utilizing connection w/ key and filter should result in data of [0,1,2,...,24,25,26,...,48,49]

**Actual outcome:**
The updated store result looks like this... [0,1,2,...,24,0,1,...,23,24]

**Version**
- apollo-c

[2017-07-14 23:52] jonmanzo commented on #1873
@stubailo from what I saw I'm not sure the existing test cases cover connections and fetchMore.

[2017-07-15 09:38] KamranGhoochanian commented on #542
in version 1.9.0-0 i'm getting `Error: Network error` string in catch of query function

ex: () => client.query({
    query: gql`...`
  }).then(a => console.log('response =>', a))
  .catch(e => console.log('error =>', e))

and i can't use afterware due to using redux-saga (couldn't run generators in afterware)

[2017-07-15 12:49] clayne11 commented on #819
Keeping this open.

[2017-07-15 12:49] clayne11 commented on #585
Keeping this open.

[2017-07-15 12:52] KamranGhoochanian commented on #542
ok i found out that server response wasnt a standard one!

[2017-07-15 20:12] aroth commented on #1821
Also noticing this.

[2017-07-16 14:26] TomWhiteCSL commented on #1478
This or something very similar still appears to be a problem here.

ng --version
angular-cli: 1.0.0-beta.28.3
node: 6.11.0
os: win32 x64

TypeScript 2.3.4

I've followed the instructions for getting started on
http://dev.apollodata.com/angular2/initialization.html
followed by
http://dev.apollodata.com/angular2/queries.html

"ng serve" gives the following errors listed below. "ng build --prod" give

[2017-07-16 18:50] kadosh1000 opened #1909 "disable maybeDeepFreeze"
Hi, I have an issue with apollo-client using angular 4.
I have a service fetching data from the server.

The thing is that in my component need to be able to add items to an array returned from the service.
But I keep getting errors indicating that the object and the array inside of it are frozen.

After deeply looking into the package I've seen that the object is being frozen in dev mode using th

[2017-07-16 23:22] intellix commented on #1909
I think it's strange that this is only done on development rather than being consistent across environments. It'll lead to a few WTF moments I imagine.

I've also got a case where I'd like to disable deep-freezing for an individual query but I'm not sure how it'd affect the store.

Our use-case is that we're passing an object of properties to a third-party client who check that object and add/remo

[2017-07-16 23:44] kadosh1000 commented on #1909
@intellix I think maybe convert the individual queries I need to "unfreeze" to normal `$http.post` requests.
Why don't you use that?

[2017-07-17 05:13] lucfranken commented on #1697
@probot-stale[bot] actually this issue is still open and wondering whether there are any new strategies which have been developed recently.

[2017-07-17 05:15] lucfranken commented on #1900
See also: https://github.com/apollographql/apollo-client/issues/1697 where I tried to figure out the same problem. Did not find a really good solution yet but it may give you some insight in the options.

[2017-07-17 05:29] lucfranken opened #1910 "Probot-stale half of the open issues are marked to be closed"
I noticed that about half of all open issues are marked by a bot:
https://github.com/apollographql/apollo-client/labels/no-recent-activity

While reviewing that list many of the items seem to be totally valid issues which are (partly) unanswered. The expectation from people who posted the issues is not clear to me. Do we need to kick them to stay open and alive? Feels a bit the way around.

Exampl

[2017-07-17 07:06] ctavan commented on #1910
Another example: https://github.com/apollographql/apollo-client/issues/621#issuecomment-315523483

[2017-07-17 07:12] kamrancode opened #1911 "How to get status code from failed request"
How am I suppose to get network status code in my catch block?
I need to decide next step base on this status code

[code]

and I cannot use afterware because I'm using redux-saga and afterware doesn't accept generator.
or can't run generator in afterware.

[2017-07-17 07:42] lauriii opened #1912 "Skipping query causes errors if trying to access undefined properties in a function assigned to options property"
**Intended outcome:**
According to the [documentation](http://dev.apollodata.com/react/queries.html#graphql-ski), I would expect to skip property to prevent function assigned to options property from being run, and not cause errors in case the function tries to access properties that do not exist if the skip property is true.

**Actual outcome:**
If trying to access properties that do not exist in

[2017-07-17 12:02] larsbs commented on #1364
I'm also having errors because `resetStore()` is refetching all the queries. As stated in the docs http://dev.apollodata.com/react/auth.html#login-logout I'm using `resetStore` after the user logs out. I'm deleting the `token` when the user logs out so obviously, `resetStore` trying to refetch all the queries is breaking because now, it's unauthorized to do that. So, what's the recommended way of

[2017-07-17 12:32] seeden opened #1913 "__typename in query response"
When I use next query

[code]

I get next response:
[code]

I know and understand that apollo-client will add __typename automatically into the query. But my question is if it is all right that I will get it in my response. Currently I am using this object as input for mutation which is defined as

[code]

And therefore I need to remove __typename for each mutation.
I do not want to complain. I am

[2017-07-17 13:34] jbaxleyiii commented on #1913
@seeden it is the intended default behavior. Apollo Client uses  `__typename` in order to determine a data id when handling cache updates (https://github.com/apollographql/apollo-client/blob/master/src/ApolloClient.ts#L85-L95). It also is helpful to not strip them to the end result for doing optimistic updates based on previous data since `__typename` is part of that response data!

I hope this wa

[2017-07-17 13:34] #1913 closed

[2017-07-17 13:37] jbaxleyiii commented on #1912
@lauriii sorry about this! It came with a bug introduced in react-apollo 1.4.3. Can you confirm what version of the react integration you are using?

https://github.com/apollographql/react-apollo/issues/830 is the current issue tracking this bug. If this is a different case, could you open an issue on react-apollo? `skip` is only an option from that integration

[2017-07-17 13:37] #1912 closed

[2017-07-17 13:54] jbaxleyiii commented on #1911
@KamranGhoochanian error handling is definitely a major weak point of Apollo that we are actively working on!

If you would be able / like to help with this specific problem, I can help point you (or anyone else) in the right direction.

Currently, if the server returns an invalid `ExecutionResult` (meaning `data` and `errors` are missing from the response data, AC throws a custom error saying tha

[2017-07-17 13:57] jbaxleyiii commented on #1910
@lucfranken @ctavan I'm sorry that this has been frustrating for you! I setup the bot to help me triage issues and to actually help me make sure that I (nor the original opener) forget about them.

Currently the number of people / contributors handling issues on the client and react integration (the two highest used) is just 1 (me). The bots are intended to help me stay on track of everything! If

[2017-07-17 13:57] #1910 closed

[2017-07-17 13:59] jbaxleyiii commented on #1909
@intellix if I'm not mistaken, the desire for it to only be present in development mode was for performance reasons when running it in production. That use case certainly shows problems with the current implementation though.

@stubailo do you have any thoughts here?

[2017-07-17 14:00] jbaxleyiii commented on #1906
@shadaj can you take a look at this?

[2017-07-17 14:04] jbaxleyiii commented on #1900
@tokenvolt I think this may be a shape issue within refetchQueries. Can you try

[code]

The object is needed in order to support things [like variable changes](http://dev.apollodata.com/react/cache-updates.html#refetchQueries)

[2017-07-17 14:06] jbaxleyiii commented on #1896
@enjoitheburger what version are you using? I believe this is the expected behavior since the client will need to update every observer for each query even if it is deduped. Are you seeing a bug related to deduplication?

[2017-07-17 14:07] jbaxleyiii commented on #1893
@igo would you be able to open a PR with a failing test or perhaps a reproduction?

[2017-07-17 14:09] jbaxleyiii commented on #1889
@steida resetStore is the currently advised way to clear out data for signIn / signUp. In regards to SSR, a new client instance should be created for each request as to not leak user data between users.

[2017-07-17 14:09] #1889 closed

[2017-07-17 14:10] jbaxleyiii commented on #1884
@alvinvgeorge could you open an issue on codegen for this? I'm not sure of what changes would have been made to log this error?

[2017-07-17 14:10] #1884 closed

[2017-07-17 14:13] jbaxleyiii commented on #1881
@fischerman thank you for the bug report! Would you be able to create a reproduction repo or even better, a failing test?

I suspect the error is coming from [here](https://github.com/apollographql/apollo-client/blob/master/src/core/QueryManager.ts#L522-L524)

[2017-07-17 14:14] tokenvolt commented on #1900
@jbaxleyiii still no luck

[2017-07-17 14:14] jbaxleyiii commented on #1879
@ramyanaga have we fixed this?

[2017-07-17 14:14] jbaxleyiii commented on #1879
@jazzdragon I'm going to close this and move it to the Apollo-devtools repo 👍  thanks!

[2017-07-17 14:14] #1879 closed

[2017-07-17 14:15] jbaxleyiii commented on #1900
@tokenvolt do you think you could create a simple reproduction for this? We have an error template and code sandbox listed in the issue template (try to create a new issue and it should be there) or a failing test?

[2017-07-17 14:18] jbaxleyiii commented on #1877
@rsimp we are actually in the process of removing the hard dep on redux and allowing for pluggable store implementations. When this is done, something like this can be written as part of the store API.

Thank you for your feature request!

[2017-07-17 14:18] #1877 closed

[2017-07-17 14:19] jbaxleyiii commented on #1876
@serle thank you for the feature request! We are working on a new store design and I think these ideas would be great to include in some manner.

Do you have a couple use cases to show how these could be used in practice? Thanks!

@shadaj notes for the new store implementation

[2017-07-17 14:20] tokenvolt commented on #1900
@jbaxleyiii I'll try to reproduce

[2017-07-17 14:20] jbaxleyiii commented on #1873
@jonmanzo would you be able to open a failing test for connections and fetchMore? We would love to improve this!

[2017-07-17 14:21] jbaxleyiii commented on #1871
Closing in favor of the devtools issue! Thank you for the report!

[2017-07-17 14:21] #1871 closed

[2017-07-17 14:21] #1866 closed

[2017-07-17 14:22] jbaxleyiii commented on #1865
@abubakkarbutt could you create a small reproduction or share more code to help us figure out what is going on?

[2017-07-17 14:24] jbaxleyiii commented on #1858
If anyone is interested in improving this, I would be happy to help out! Just comment here or open a failing PR!

[2017-07-17 14:29] jbaxleyiii commented on #1855
This would probably be best as a build step anyway yes? @xialvjun if this was possible at build time instead of runtime, would that meet your needs?

[2017-07-17 14:36] ctavan commented on #1697
@lucfranken first of all I believe that this is a duplicate of (or at least related with) https://github.com/apollographql/react-apollo/issues/708

In fact I ran into exactly the same issue and ended up calling _all_ queries in the `update` hook with all parameters as you describe. This is particularly bad since you don't really know which of all those queries are already in the store and actually

[2017-07-17 14:47] ctavan commented on #1900
@tokenvolt FYI I was also not lucky with using the query-name based variant of `refetchQueries`. While it _should_ work as expected there currently seems to be a race-condition which effectively prevents it from working, see https://github.com/apollographql/apollo-client/issues/1821

In principle though, the query-name based `refetchQueries` is an expected feature, here's the implementation:
* htt

[2017-07-17 14:51] jbaxleyiii commented on #1854
@seb-saletes this is an interesting use case for sure! I'm not opposed to it, but it will require some inner reworking around [how update](https://github.com/apollographql/apollo-client/blob/3b5045dfe74183fe060d2027e31317d890755b99/src/data/store.ts#L165-L171) is executed.

[2017-07-17 14:55] jbaxleyiii commented on #1853
@azotklas I'm having a hard time following here? Would you be able to setup a reproduction for us to look at or maybe more information like the response data? Looking at the last screenshot, everything is being sent over as expected

[2017-07-17 14:57] jbaxleyiii commented on #1851
@serle we are actively working on something that would allow something like this! We are working on making the store pluggable (so you could setup your own) and making the request chain open to the application developer to be able to add custom things to it

cc @shadaj and @evanshauser for another use case

[2017-07-17 14:59] jbaxleyiii commented on #1849
@stantoncbradley yeah lets move this to the react integration! I'll see if I can come up with a solution!

[2017-07-17 14:59] #1849 closed

[2017-07-17 15:00] jbaxleyiii commented on #1849
Attached to https://github.com/apollographql/react-apollo/issues/807

[2017-07-17 15:03] jbaxleyiii commented on #1836
@helfer would you be able to help point @altschuler in the right direction here?

[2017-07-17 15:09] jbaxleyiii commented on #1830
@richburdon thank you for the great description! It does seem like something funky around cache consistency is going on. There are a couple options for testing:

1. write a failing test in apollo-client (or react-apollo) which showcases this issue
2. write a reproduction repo (or code sandbox) and include instructions for replicating the error

Since you are currently using components, I would rec

[2017-07-17 15:11] jbaxleyiii commented on #1829
@khankuan this is very interesting! For reproductions with custom schemas, using [Launchpad](https://launchpad.graphql.com/) can be really helpful!

[2017-07-17 15:14] jbaxleyiii commented on #1821
@ctavan thank you for the great report! I'll take a look!

[2017-07-17 15:14] jbaxleyiii commented on #1818
@erkieh or @rrdelaney would you be able to PR this? I'd be happy to merge it!

[2017-07-17 15:18] KamranGhoochanian commented on #1911
I'll be happy to help
I will look at the test

[2017-07-17 15:18] jbaxleyiii commented on #1812
@SachaG you can retrieve all of the GraphQL errors like this:

[code]

If you take a look [here](https://codesandbox.io/s/VXkoD5vO) and open the console to the Frame, you can see the actual issue reported by the server

[2017-07-17 15:24] jbaxleyiii commented on #1803
@kamilkisiela are there any options we can do on the Apollo slide to make this easier?

@ForbesLindesay I'm sorry you ran into this issue! I'll see if we can work to a solution!

[2017-07-17 15:25] jbaxleyiii commented on #1800
@shadaj @evanshauser more use cases around the new store / links

[2017-07-17 16:39] rrdelaney commented on #1818
PR sent to use `Record<string, any>` 😄

[2017-07-17 16:42] enjoitheburger commented on #1896
De-duplication seems to work fine as far as I can tell from the logs in our backend. My concern was that the `APOLLO_QUERY_RESULT` actions fired for each one to be a little misleading. It would be cool if only one of them fired `APOLLO_QUERY_RESULT` and the rest fired off an `APOLLO_QUERY_RESULT_CLIENT`.

This would have also prevented a bug where we have some middleware that performs decryption o

[2017-07-17 16:51] jonmanzo commented on #1873
@jbaxleyiii That should work (well technically it shouldn't)...  LMK if you need anything else

[2017-07-17 19:22] rafrex commented on #1759
@helfer this is still a valid issue.

[2017-07-17 22:42] SachaG commented on #1812
@jbaxleyiii I actually ended up using https://github.com/thebigredgeek/apollo-errors instead.

[2017-07-17 23:13] #1818 closed

[2017-07-18 00:36] jbaxleyiii commented on #1906
fixed in the next release! Thank you!

[2017-07-18 00:36] #1906 closed

[2017-07-18 00:51] kadosh1000 commented on #1909
@jbaxleyiii @stubailo
I would really appreciate a quick reply on this issue, as it has really stuck my project.
Any workaround I can do for now? any suggestions?

I think the best option is to allow configure in the client configuration rather to enable the freeze feature or not, and let the default to be true. This way if there is no need to change the data retrieved than it's all remain the same

[2017-07-18 05:49] serle commented on #1876
I have a scheduling system that queries scheduling data along with multiple sets of reference data. e.g. resources. The reference data can either be embedded in the query or materialized on the client through separate queries. Either way I end up with a scheduling data cache and multiple reference data caches as Apollo normalizes by `__typename`. I then operate against the scheduling data using cl

[2017-07-18 06:34] xialvjun commented on #1855
Well, I have indeed pushed it into the building process.
[code]

I don't know which is the best way.

[2017-07-18 10:51] Ralf8686 commented on #1186
When I `refetch`, after server error, `loading` not will be true, why? Have network request, but loading false.

[2017-07-18 12:02] runk commented on #1812
+1

When you have server-side validation error it's intuitive to use just `error.message` - it feels wrong that there's implementation/technical detail being exposed to the user. Not sure there's a real value.  IMO it'd be far better to swap that deep error with real message with modified one.

Or make the prefix configurable and set it to `"GraghQL Error"` by default. Happy to send a PR for it yo

[2017-07-18 12:39] jarnojellesma opened #1919 "Apollo-client throws error in NuxtJs: Cannot set property '__APOLLO_CLIENT__' of undefined"
**Intended outcome:**
I am trying to implement the Apollo-Client with my NuxtJs application.

**Actual outcome:**
![screenshot at 2017-07-18 14 37 07](https://user-images.githubusercontent.com/27930147/28317295-a4deb6dc-6bc6-11e7-8049-594da498ef4d.png)

**How to reproduce the issue:**
I created a minimal app to reproduce the error in my repository:
https://github.com/jarnojellesma/apollo-nuxt

**V

[2017-07-18 14:36] abubakkarbutt commented on #1865
@jbaxleyiii I am sorry for late response. Actually i was using fragment, not on UNIONS or INTERFACE but for regular GraphQL types. I removed those fragments and warning disappeared.

Issue is when using fragments on regular types then it should not show this warning.

fragmentMatcher is for UNION and INTERFACE not for regular types

[2017-07-18 15:06] jbaxleyiii commented on #1919
@jarnojellesma this is most likely from tyring to attach to the window (for the dev tools) while on the server. Can you confirm that this code is not being executed on the server?

[2017-07-18 15:07] jbaxleyiii commented on #1911
@KamranGhoochanian so great! Let me know if you have any questions!

[2017-07-18 15:11] jbaxleyiii commented on #1803
@ForbesLindesay I cloned down the repo, removed the `node_modules` and ran `npm i && npm run build`, everything worked great for me with no errors? Could you see if you can reproduce?

[2017-07-18 15:23] jarnojellesma commented on #1919
I just found a working example at: https://github.com/nuxt/nuxt.js/tree/dev/examples/with-apollo

I have to go now. Will implement it in my own application tomorrow and will post what I did wrong.

[2017-07-18 15:45] #1919 closed

[2017-07-18 17:54] jvbianchi commented on #621
any news on this topic?

[2017-07-18 19:36] jbaxleyiii commented on #621
@jvbianchi we are nearing the launch of a new store API and network stack which should allow for fine grained cache control!

[2017-07-19 00:27] ramyanaga commented on #1858
@stubailo Can you check if this error still occurs and/or check if thats the error message you're getting? I get a more useful error message when I try replicating the error.
![screen shot 2017-07-18 at 5 27 09 pm](https://user-images.githubusercontent.com/9134031/28345316-5d6e61cc-6bde-11e7-80d5-19e490f7516b.png)

[2017-07-19 02:07] stubailo commented on #1858
That's a different error, I need to create a better repro. I think you can get it by calling:

[code]

I think it will tell you missing field `avatar_url` like the above.

[2017-07-19 05:13] tohjustin opened #1922 "Broken link in README's "Important discussions" section"
**Intended outcome:**

Clicking on the link labelled as **[Long conversation about different client options, before this repo existed](https://github.com/apollographql/apollo/issues/1)** under the **Important discussions** section should bring the user to a valid webpage.

**Actual outcome:**

Clicking on the link brings the user to a Github 404 webpage (https://github.com/apollographql/apollo/iss

[2017-07-19 18:06] jbaxleyiii commented on #1922
@tohjustin would you be able to open a PR for this fix?

[2017-07-19 18:55] tohjustin commented on #1922
@jbaxleyiii I would love to make a PR to fix this 😄

The only blocker I have right now is that I'm not too sure what link to use for the fix (I'm guessing the current link we have in the README broke when issue tracking in https://github.com/apollographql/apollo have been disabled)

[2017-07-19 19:10] jbaxleyiii commented on #1922
haha oh! Sorry I misread! I'll get that for you!

[2017-07-19 19:12] jbaxleyiii commented on #1922
ah, this was my fault. I closed issues on the Apollo project for clarity. A lot of people opened AC issues on that repo. Hmmm, I'll think through an option, maybe I'll move it here and close it so it an be linked

[2017-07-19 21:51] pcorey commented on #424
FYI @pi0 The recent 1.9.0 updates seem to have solved all of the loading issues related to Apollo queries and rehydration:

https://github.com/apollographql/apollo-client/blob/df42883c3245ba206ddd72a9cffd9a1522eee51c/CHANGELOG.md#v190-0

[2017-07-20 08:30] pi0 commented on #424
Thanks @pcorey for information 👍

[2017-07-20 10:11] quannh25595 commented on #543
@gauravtiwari Many thks bro

[2017-07-20 13:19] chompomonim commented on #1409
Dear bot, please don't touch this issue. It's quite important one.

[2017-07-20 13:47] jbaxleyiii commented on #1409
@chompomonim you can now tell the bot to not mark an issue using labels. Take a look at #1924 for more information!

[2017-07-20 13:54] fischerman commented on #1881
@jbaxleyiii I've created a reproduction repo [here](https://github.com/fischerman/apollo-issue-1881). It's an angular-cli project.

I have also created a test case, however that runs through without errors: https://github.com/apollographql/apollo-client/compare/master...fischerman:issue/1881?expand=1
I would have expected to see errors in the console. I'm not sure how asynchronous errors are handl

[2017-07-20 16:43] akaztp opened #1925 "Cached data is not updated between equal queries."
I know that you are moving from the model of the store in Redux where this behavior was observed. So maybe this problem does not apply any more. Or maybe it does... :)

**Intended outcome:**
- watchQuery('query A()').subscribe()
- consume the value
- unsubscribe()
- mutate() with UpdateQueries(A), change the data read in query A()
- watchQuery('query A()').subscribe(), totally equal to the first q

[2017-07-20 17:07] akaztp commented on #1925
The solution is not to maintain the queries active, since there is one for each variables set and so they can grow easily. I think the solution is to delete data from cache to force a reload from server, as it has been discussed #621.

[2017-07-20 20:10] beardedpayton commented on #1911
I can help with this @jbaxleyiii  if @KamranGhoochanian hasn't gotten far with it yet!

[2017-07-20 23:19] #1712 closed

[2017-07-21 05:56] joelbowen commented on #1871
Same as @savovs for me - I was using a moment object, appending `.toISOString()` to the value I was passing fixed the error.

[2017-07-21 12:05] Isigiel opened #1929 "TS compilation fails Class 'RxObservableQuery<T>' incorrectly extends base class 'Observable<ApolloQueryResult<T>>'"
**Intended outcome:**
Compilation works with the latest typescript version.

**Actual outcome:**
Compilation fails with typescript newer then 2.4.0.
I'd guess this is related to https://github.com/ReactiveX/rxjs/issues/2539, or even to their fix of it.

**How to reproduce the issue:**
Right now it seems, just update angular, ts, rxjs ... to the latest version and try to compile.
Using typescript 2

[2017-07-21 14:50] hmontes opened #1930 "Cursor-based pagination issues"
Hi

I don't understand cursor-based pagination in your docs. I have a few questions . http://dev.apollodata.com/react/pagination.html

1. I need TWO queries for implementing this? query comments and query moreComments? I ask because this line is confusing.

Line 13, official docs
[code]

Where is the Comment variable? It's the "MoreCommentsQuery" variable?

2. Can you make an example in apollo-ser

[2017-07-21 15:30] pckhoi commented on #1718
`isomorphic-fetch` is still being required for no good reason. I see that recent releases of `apollo-client` no longer require `isomorphic-fetch`, yet it require `apollo-link` which require `apollo-fetch` which require `isomorphic-fetch`. Ultimately `apollo-client` still depend on `isomorphic-fetch`. I still can't get this to work in React Native running into `Can't find variable: self` error.

[2017-07-21 15:39] gajus commented on #1718
Patience.

[2017-07-21 18:06] kamilkisiela commented on #1929
Please, post an issue here: [apollo-client-rxjs](https://github.com/kamilkisiela/apollo-client-rxjs/issues)

[2017-07-21 18:06] #1929 closed

[2017-07-21 19:33] tnrich commented on #1456
I am hitting this issue as well @helfer. It is slightly difficult to set up an example using your error boilerplate because the mock network interface you're using doesn't use the actual createNetworkInterface exported from apollo-client

[2017-07-21 19:35] tnrich commented on #1456
Specifically, I'm not sure how to add afterware to the mock networkInterface:

[code]

Maybe you should modify the error repo to use the actual createNetworkInterface function?

[2017-07-21 21:41] hmontes commented on #1930
The docs are deprecated.
[code]

[code]

1. graphql(Comment.. = graphql(MoreComments ...
2. The cursor prop don't load in that location. Props load in the query name (props.moreComments.cursor).
3. Most of the variables are wrong. comments = moreComments (lowercase) because the data is load in the queryname.
4. const previousEntry = previousResult.entry; This produces an error. entry don't exists

[2017-07-21 22:26] hmontes commented on #1930
Temp. Fix

```const GetBlogPosts = gql`query GetBlogPosts($cursor: String) {
  getBlogPosts(cursor: $cursor) {
    cursor
    blogPosts {
      id
      title
      ...moreFields
    }
  }
}`

export default graphql(GetBlogPosts, {
  props({ data: { loading, getBlogPosts, fetchMore } }) {
    return {
      loading,
      getBlogPosts,
      loadMoreEntries: () => {
        return fetchMore({

[2017-07-22 02:46] mattfysh commented on #1364
@larsbs it sounds like some of the components that are still mounted in the React tree require the user to be signed in, before resetting the store, route the user away from any screens that require authentication so that the queries associated with "protected" components are not re-triggered

[2017-07-22 12:40] clodal commented on #586
Link to #65 is broken. Any idea what happened?

[2017-07-22 13:21] vitaLee commented on #1701
I'd like to know how to handle scenarios very much similar to this one as well.
What I have is a component that triggers a mutation and then updates the store with the result of the mutation via `readQuery/writeQuery`. Pretty trivial scenario. The problem arises when I attempt to `readQuery` from the store with a query that has not yet been loaded. Then I get the exception `Can't find field <field

[2017-07-22 19:32] mxstbr opened #1934 "Key an object in the cache by multiple keys"
`dataIdFromObject` and `customResolvers` together are a very powerful mechanism for making an application feel super fast by returning data from the cache. I want to be able to **key a single object in the cache by multiple keys**.

----

Let me illustrate with an example. Imagine this type:

[code]

When a user visits their homepage we query `communities` and display them on the page. They can th

[2017-07-22 19:41] mxstbr opened #1936 "Export default dataIdFromObject"
To override the default `dataIdFromObject` I pass the `dataIdFromObject` key to my client constructor:

[code]

In many cases I only want to add a special case for a specific resource though. (see #1934 for an example use case) Right now I have to dig through the source code in this repo, find the `defaultDataIdFromObject` function, copy-and-paste it and then add my custom stuff at the top.

That'

[2017-07-22 20:24] abhiaiyer91 commented on #1936
Yeah! I think this sounds like a good idea. We should allow users to build on top of the functionality in a streamlined way. I think the example you illustrated is a good way to do so!

[2017-07-22 21:11] elie222 commented on #1409
Yes, we've run into this issue too. Apollo being super slow for us. Need to work around this somehow. Not sure how right now.

[2017-07-23 07:48] greenkeeper[bot] opened #1938 "An in-range update of uglify-js is breaking the build 🚨"
## Version **3.0.26** of [uglify-js](https://github.com/mishoo/UglifyJS2) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/apollographql/apollo-client/compare/greenkeeper%2Fuglify-js-3.0.26">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      uglify-js
    </td>
  </tr>
  <tr>
    <th alig

[2017-07-23 12:47] flamerohr commented on #678
Hi, I've recently run into this issue recently with `store.readQuery({ query });` and had traced it down to `getDefaultValues()` in `getFromAST`:
https://github.com/apollographql/apollo-client/blob/3b5045dfe74183fe060d2027e31317d890755b99/src/queries/getFromAST.ts#L269
where the null values are being filtered out, but I'm pretty that filter is also required by the map following it...

A screenshot

[2017-07-23 16:33] machineghost commented on #1692
@jazzdragon you're not the only one to have missed that.  The documentation could really use a "global error handling" section or something; currently the only way a user can find out how to handle errors in Apollo is to:

1. Read all of the documentation front-to-back until the find the "secret" feature in the network inter
2. Find this ticket
3. Be a dev ;)

[2017-07-23 20:41] avatsaev commented on #1432
I wanted to use apollo in our newest angular project, but not being able to use it with ngrx/store, ngrx/effects is kind of a deal breaker.

[2017-07-24 03:42] tmeasday opened #1939 "Disabling network fetches should also disable polling"
It is not currently possible to use `client.options.ssrMode`, `query.options.fetchPolicy = 'networkOnly'`, and `query.options.pollInterval`.

**Intended outcome:**

It should simply ignore the fetch policy and poll interval, as `ssrMode` is designed to preference the cache.

**Actual outcome:**

[This line](https://github.com/apollographql/apollo-client/blob/f15d0c58052ef70d262b902f637b3ba9c0b5f85

[2017-07-24 07:57] stubailo commented on #1432
First steps here: #1921

[2017-07-24 09:14] lucfranken commented on #1697
@ctavan yes party it's related but this issue actually was created based on the recommendations in the documentation that the refetchQueries would be deprecated. Input from the Apollo team on the right direction is needed.

[2017-07-24 09:15] lucfranken commented on #1910
@jbaxleyiii thanks for the reply! Ah, that sounds like a lot of work! Understand you use tools for it. Maybe the message could be tweaked a bit to make your intentions more clear!

Some input on from the team is needed on the intended direction/vision, see for example: https://github.com/apollographql/apollo-client/issues/1697#issuecomment-317365005 When the intended direction is clear mor help mi

[2017-07-24 14:01] blackinno commented on #1879
This my case
Uncaught (in promise) DOMException: Failed to execute 'postMessage' on 'Window': Error: GraphQL error: Whoops. Looks like an internal server error

[2017-07-24 15:31] anhldbk commented on #1618
So is there any solution for this issue?

[2017-07-24 16:35] oopserv commented on #1618
@anhldbk  I handle this situation with componentWillUpdate lifecycle method. For example,

[code]

[2017-07-24 21:31] khankuan opened #1942 "UpdateQuery affecting queries in root query with multiple sub queries that are not related"
Hi, I have 2 components that are both lists, one showing name, another showing email. When I'm doing `fetchMore` and then `updateQuery` on the first list, the second list gets updated as well. It seems like both list are using the same key in the redux store ROOT_QUERY.

Reproduction: https://github.com/khankuan/react-apollo-error-template/tree/bugs/update-query-concat
Reproduce at: https://khanku

[2017-07-24 23:23] johannchen commented on #1186
I am using react-apollo 1.4.8, it works for the initial load, but when the props change to trigger refetch, loading is still false. same problem as @Ralf8686

[2017-07-25 07:33] bradzacher opened #1944 "remove optional dependency @types/async"
This can be handled by typescript's `esnext.asynciterable` library.
Additionally this dependency breaks compilation with `@types/graphql` as of the type's `v0.10.0`.
It looks like this typing is not actually used within the apollo-client package.

[2017-07-25 08:58] damarna85 opened #1945 "Unhandled error: Store reset while query was in flight."
Hi all,
We have a question regarding how to properly handle the `Store reset while query was in flight.` error. In our `applyAfterware` method we are handling 401 errors, logging out the user and calling the `client.resetStore` method. It can happen that some of the queries are in flight at this point so we are getting that error because of this code in the Apollo Client resetStore method:
[code]

[2017-07-25 09:28] narayananramu opened #1946 "Never sends cookie header to the server"
Apollo client doesn't send session cookie to Apollo server as a result I am getting empty session object on Apollo Server.

I have 3 Docker containers that run

1. Apollo Koa Server (kcors is enabled) at api.a.cloud
2. Koa (where I use Apollo Client with React) at qwerty.a.cloud
3. Nginx (for reverse proxy) at a.cloud

Apollo Koa Server Session Configuration & Koa. Also both (Apollo Server and Cli

[2017-07-25 12:02] Elliryanna commented on #1493
I do here an push.

I've nearly the same problem, is there a kind of solution already? I also want to use withApollo() instead of graphql()
I know there is a data.refetch within graphql()

[2017-07-25 12:04] Fxlr8 opened #1947 "Any way to move data in cache from one list to another?"
This seems like a very common problem, but I still can't find any way to figure this out.

My page has two lists: "friends" and "friendship requests". Elements of those lists share the same type name, and I want to be able to move them from one list to another. I don't see any obvious way to do this using update method. Is there a way to manage relations in cached data? I asked a [question on Stac

[2017-07-25 12:12] Fxlr8 commented on #1876
#1947
This problem can also be solved by the ability of reading/writing local store.

[2017-07-25 12:21] sherinmarlabs commented on #1493
I'm using redux-form and withApollo. I was able to throw SubmissionError from the submit method when an error occurs. Sample code given below.

`try {
      const { data } = await client.query({
        query: query,
        variables: { username, password }
      })
      if (data.user) {
        document.location.href = redirectToHomePage
      }
    } catch (error) {
      throw new SubmissionE

[2017-07-25 12:39] Elliryanna commented on #1493
have you already tried to reset the store?
`this.props.client.resetStore();`
maybe it helps, its for me a kind of solution, but not in every case i have

[2017-07-25 14:36] jbaxleyiii commented on #1936
@mxstbr I'd be happy to accept that PR and release it! Would you have some time (or @abhiaiyer91) to open and write a simple test to make sure it is exported correctly?

[2017-07-25 14:38] vtahlani opened #1948 "fetchMore example with API as data source"
Sorry for asking sample code here, i am not sure if it is right place...

I want to consume responses from server which sends multiple chunks as a response for a request. I thought, I should be able to do it through fetchMore with graphql client. Can you please provide me a example for same.

[2017-07-25 20:43] emmenko commented on #1780
This might be related to #1945

[2017-07-25 22:04] tokenvolt commented on #1900
Hey, guys, I figured out that it was an issue in my application. Sorry for bothering, as it was just a stupid mistake on my side. `refetchQueries` works as it was mentioned in https://github.com/apollographql/apollo-client/issues/1900#issuecomment-315765415

[2017-07-26 13:45] michieldewilde commented on #1948
You can find the needed information on the [pagination section](http://dev.apollodata.com/react/pagination.html`) of the documentation.

[2017-07-26 14:29] vinhlh commented on #1419
If we can set `fetchPolicy` to `cache-and-network` globally, then we don't have to worry about invalidating the caches everywhere (refetch).

[2017-07-26 16:37] viniciussbs opened #1951 "Network error: Cannot add/remove sealed array elements after update Chrome to version 60"
I'm using apollo-client@1.0.4 and everything was working fine. Then I've updated Chrome to version 60 (stable) and now, when I fetch the very first query on my app, I face this error: `Network error: Cannot add/remove sealed array elements`

Chrome error message
![image](https://user-images.githubusercontent.com/245791/28632317-8538d632-7206-11e7-95a0-473d8d6e629d.png)

Firefox error message
![ima

[2017-07-26 20:58] thebigredgeek commented on #1639
@jaridmargolin you could probably implement some sort of ping/pong (I think this already exists) and pass a last-message user-specific nonce with each pass.  That way, if the server sends a nonce that is > last nonce + 1, we know we had a connection issue.

[2017-07-26 20:59] viniciussbs commented on #1951
I've found the problem. My Apollo client has an middleware that was doing:

[code]

The array returned by `window.navigator.languages` is sealed now on Chrome 60.

[2017-07-26 20:59] #1951 closed

[2017-07-27 10:40] kaladivo commented on #1419
@vinhlh Yeah! That would be great!

[2017-07-27 14:46] cport1 commented on #1419
https://github.com/apollographql/apollo-link

[2017-07-27 16:04] vincentpageau opened #1954 "Access-Control-Allow-Origin header contains multiple values"
I'm currently trying to query my `/graphql` API through **IIS** that uses Basic authentication.

I am receiving this error:

`Fetch API cannot load http://localhost/wfgen/graphql. The 'Access-Control-Allow-Origin' header contains multiple values '*, http://localhost:3000', but only one is allowed. Origin 'http://localhost:3000' is therefore not allowed access. Have the server send the header with