[2016-05-30 05:26] smolinari commented on #255
Thanks guys! I am almost certain this remodelling is a good step for Apollo to work best with other state managers, for instance, [Vuex](https://github.com/vuejs/vuex), which is Vue.js' own state manager. As I see it, and correct me if I am wrong, but the redux part of Appollo and Vuex do basically the same thing (only different). So, to get Vuex working with Apollo, we'd need different entry poin

[2016-05-30 06:49] antitoxic commented on #256
@stubailo agreed.

@abhiaiyer91 do you require all people that submit issues to have read the
code? Not very friendly, not friendly at all.

On Mon, 30 May 2016, 02:56 Sashko Stubailo, <notifications@github.com>
wrote:

[2016-05-30 07:12] abhiaiyer91 commented on #256
Lol. @antitoxic I think you read my comment the wrong way. I was merely poking you for more reasoning. I don't know if what you are suggesting is right or wrong, only to explore if you have thought deeply about what you are proposing.

[2016-05-30 10:10] fortm opened #257 "using apollo with rethinkdb horizon"
Can apollo-client be used with RethinkDb horizon client  [horizon](http://horizon.io/) in a react/redux app as horizon is going to support GraphQL queries as well directly from client to database ?

[2016-05-30 15:08] 7immy commented on #161
+1 for the above question

[2016-05-30 16:23] helfer commented on #257
Apollo-client can be used with any spec-compliant GraphQL server.

[2016-05-30 17:16] stubailo commented on #257
As far as I know, graphql support in horizon is not implemented yet, but when it is Apollo Client should work out of the box!

[2016-05-30 18:57] stubailo commented on #256
To be fair, QueryManager only plugs into redux in 2 ways: `getState` and `dispatch`. So if you can make a Redux shim on top of whatever data storage solution, then it should basically just work.

[2016-05-30 19:14] stubailo commented on #255
No I think your understanding is good! We have a top-level issue for this: https://github.com/apollostack/apollo-client/issues/256

[2016-05-30 22:54] timbotnik commented on #212
This is probably b/c support for native fetch is not added in Android browser until v5.  Note this is also an issue in current Safari & iOS Safari.  Perhaps we should make [this part of the docs](http://docs.apollostack.com/apollo-client/core.html#fetch-polyfill) slightly more prominent, or include a `fetch` polyfill by default.

[2016-05-31 04:46] Poincare commented on #257
Yup, seems like it is an open issue on their end (https://github.com/rethinkdb/horizon/issues/125).

[2016-05-31 04:48] Poincare commented on #247
I think it is safe to close since the changes have been merged.

[2016-05-31 04:48] #247 closed

[2016-05-31 17:05] antitoxic opened #258 "How to initialize apollo client with just the return of query"
I have a graphql server and it's neither apollo server or node. It's python's graphene server. I will user React and server-side rendering via a separate node process which I will pass an object which matches the data for a graphql query. Most backends that are not javascript are using the same flow.

[In the docs](http://docs.apollostack.com/apollo-client/index.html#store-rehydration) it says tha

[2016-05-31 17:05] antitoxic commented on #256
Poking is much less preferred than asking "have you though about it in depth and in what scenario". Anyway:

What about them? Redux is just an immutable object exposing 2 API - dispatch and getstate.

No.

Because redux is not the only thing existing for keeping state (mobx, SAM, etc..). I'm trying not to use redux and cut down on boilerplate in my apps. I need graphql and apollo seem like a good

[2016-05-31 17:05] #256 closed

[2016-05-31 19:18] aleksandrenko commented on #256
You can go and just use graphql without apollo and do it like you want.
Or you can do an abstraction over the redux and making like you want ... I see no real issue there.
The project is still in it's infancy if you want i'm sure you can contribute the change you wanna see.

[2016-05-31 19:29] Poincare commented on #258
This doesn't seem to possible at the moment but once we factor out the cache normalization/denormalization code (see #255), this should be easy to implement.

[2016-05-31 19:36] antitoxic commented on #256
@aleksandrenko :) The issue has been closed. Mainly because @stubailo mentioned there is a limitation but it will be overcome when the normalization is extracted, which actually will solve a lot of other things and also, in the redux' issue about Relay there already community gathering to contribute to that.

"infancy" or "just make an abstraction" are not solutions. Any package could be abstracte

[2016-05-31 19:39] antitoxic commented on #258
Yep, the same was discussed in slack. Copying from there:

[2016-05-31 23:59] lorensr commented on #128
At the GraphQL meetup, Relay guy said:
- they use a mix of OO, functional, mutability, immutability, caching, memoization, depending on the use case.
- "queries are immutable objects, so when we diff them against the store, we get a new object, but the new result is referencing items in the original query" similar to immutable.js. "creating fewer JS objects reduces pressure on the GC, which improv

[2016-06-01 02:15] helfer commented on #248
@jbaxleyiii Any update on this issue? It's currently blocking us from using Apollo client in production. If you want, @Poincare could also look into it.

[2016-06-01 04:06] jbaxleyiii commented on #248
@helfer I haven't actually gotten any time to look into this. I'm working on rebuilding our production server currently. I'd love @Poincare to take a look at it and especially at #194. There will need to be some changes to react-apollo after #194 is done too fwiw

[2016-06-01 04:22] helfer opened #259 "send operationName with graphql request"
This is useful for logging.

[2016-06-01 04:23] helfer opened #260 "Print a warning for unnamed queries"
Related to #259. I think we should strongly encourage using named vs. unnamed queries.

[2016-06-01 04:46] timbotnik commented on #248
I tried a work-around for this by making my own timer and using `refetch` instead of `pollInterval`.  Then I ran into https://github.com/apollostack/react-apollo/issues/61, which is a differently bad behavior.

[2016-06-01 05:05] Poincare commented on #248
Sure, I'll look into this in detail tomorrow and hopefully make some headway on some kind of fix.

[2016-06-01 06:23] abhiaiyer91 commented on #244
Alright, so I got this going...

[code]

so it takes a couple runs of mapState to get the result. Which is chillin. Just sucks we have to trycatch!

[2016-06-01 06:23] abhiaiyer91 commented on #244
I think next to do is refactor the "selectors" we already have to be inline with something like reselect.

[2016-06-01 06:32] timbotnik commented on #248
I think there is another subtlety to be aware of here.  If your query takes LONGER than the polling interval, it seems the query will re-fire before you receive any results, and even when the original request completes, the data never gets propagated because another (identical) query is already in-flight.  I don't know if the fix for this would be in `apollo-client` or `react-apollo`, just somethi

[2016-06-01 06:59] Poincare commented on #248
I think that issue is currently mentioned in the code as something to fix. It seems the polling structure requires some pretty significant changes so that (1) polling doesn't leak (2) we can keep track of the queries that have been sent to the server (probably by query id) and don't re-fire the same query again.

I think fixing this issue is actually pretty intimately connected to the batching ove

[2016-06-01 10:22] jbaxleyiii commented on #248
@timbotnik the loading bug should be fixed in the latest react Apollo fwiw. @Poincare that sounds awesome!

[2016-06-01 10:53] jbaxleyiii commented on #248
@timbotnik while @Poincare fixes the polling setup, I think I fixed https://github.com/apollostack/react-apollo/issues/61 with `0.3.7`. Could you see if that works?

[2016-06-01 18:29] Poincare commented on #144
If the result of a query is uniquely identifiable with the query itself (e.g. using some kind of ID field and supplying `dataIdFromObject` to `ApolloClient`). If you check out the GitHunt PR referenced by @stubailo, it concatenates `__typename` with `id` in order to get a unique identifier for each Entry.
As a rule of thumb, if you have a unique identifier within your query, the refetch shouldn't

[2016-06-01 19:04] helfer commented on #248
I think for now it's fine to keep polling even if some query is still in flight, but we should fix the bug where the UI doesn't update when a query returns if there's still some polling query in flight.

[2016-06-01 19:30] sammkj commented on #144
@Poincare , thank you for your response. Actually, it's working. I can see updated result after mutation in the store. But my UI is not updating. Is this the correct behavior?

[Here's](https://github.com/sammkj/meteor-1.3-todo/blob/master/imports/client/modules/core/containers/todos-page/index.js#L6-L32) how I query the data and here's the [mutation](https://github.com/sammkj/meteor-1.3-todo/blob

[2016-06-02 00:41] helfer commented on #150
@abhiaiyer91 any progress on this?

[2016-06-02 00:43] helfer commented on #80
#251 will solve this completely, afaict.

[2016-06-02 01:11] abhiaiyer91 commented on #150
haven't started !

[2016-06-02 02:34] saeho opened #261 "Latest version of React Native + Apollo Stack doesn't work."
Following this example I'm able to get Apollo working:
https://github.com/apollostack/apollo-client/issues/147#issuecomment-214903672

But then, this happens:
[code]

Thus the React Native app cannot run with Apollo.

[2016-06-02 02:44] saeho commented on #261
Just figured out the issue. It's very strange.

"npm install" creates a sub-node_modules folder inside the "APP/node_modules/graphql/" module directory.

Deleting this second node_modules folder from the graphql folder will make the app work again.

Inside this inner node_modules folder, there are 2 packages -- babel-runtime and core-js. Deleting these make the apollo app work again.

[2016-06-02 03:20] helfer commented on #261
@saeho Is this something we can fix with a prepublish or postinstall script, or is it an npm issue we have no control over?

[2016-06-02 04:06] saeho commented on #261
I'm trying to figure this out too.

The reason why I'm posting this here is because I _think_ it's an apollo issue.

Apollo used to work in the React Native app I'm working on at one point. Then after some upgrades (don't know which package), I learned that my co-workers cannot fresh-install the app and make it run with npm install.

The package causing this issue as I said above is the graphql pa

[2016-06-02 04:34] helfer commented on #261
This sounds a lot like an npm issues (npm has so many issues... ), but there may be a workaround.

If you could make a github repo with a minimal reproduction, then we might have a chance at figuring out whether there's a fix we can do in apollo client, or whether this needs to be fixed in graphql-js.

[2016-06-02 04:46] timbotnik commented on #248
@Poincare @jbaxleyiii Now that https://github.com/apollostack/react-apollo/issues/61 is fixed, I have a viable work-around for the polling issue, which is to manage my own timer per component and call `refetch` myself.  This also enables me to check if it's still in the “loading” state, and not refire the query if it's still in-flight.  I think that means I'm unblocked on this issue, but we still

[2016-06-02 04:49] Poincare commented on #248
Great to hear. I have a fix working for the polling timer issue but I'm still working on the unit test that is able to reproduce this issue.

I think it will be valuable to have this unit test working since the complexity of the polling mechanism will only increase and having a template to test the polling queries will be helpful.

[2016-06-02 06:15] tychota commented on #261
@saeho can you post your npm and node version. Seems like an npm2 artifacts. Npm3 normally flatten the tree.

[2016-06-02 06:59] saeho commented on #261
npm 3.8.6
node 5.10.1

[2016-06-02 08:42] stubailo commented on #260
I disagree that this should print a warning, since the overwhelming majority of current graphql servers don't use the operation name for anything at all. Perhaps we can have an Apollo server Network interface or something which prints this warning instead?

[2016-06-02 08:46] stubailo commented on #150
I'd say maybe unassign yourself if you're not actively working on something! that way someone else might pick it up.

[2016-06-02 10:01] stubailo commented on #260
Also, this could be part of https://github.com/apollostack/eslint-plugin-graphql or similar.

[2016-06-02 12:27] stubailo commented on #257
Gonna close this since the issue is not on our end - its up to horizon to implement a graphql server.

[2016-06-02 12:27] #257 closed

[2016-06-02 14:22] stubailo commented on #128
These are good notes, but I want to make sure we don't assume that these optimizations are necessary or appropriate for Apollo until we have some way to make those decisions in a data-driven way.

[2016-06-02 15:01] stubailo commented on #261
Perhaps `graphql` somehow depends on `babel-runtime` and `babel-runtime` is not compatible with Apollo Client?

And then maybe when you delete that package, it still runs fine because the GraphQL parser (the only part of `graphql` we use in Apollo Client) doesn't use anything from `babel-runtime`?

That could be one explanation.

[2016-06-02 15:16] lorensr commented on #128
Yeah, it was great how they were able to try immutablejs and just measure :)

[2016-06-02 18:17] saeho commented on #261
That's probably what's happening. But the question is not why it breaks, but why it's happening.

[2016-06-02 21:28] helfer commented on #261
Why would graphql depend on babel-runtime? (except during development)

Maybe this is an extraneous dependency in graphql, and could be removed there?

[2016-06-03 00:37] helfer commented on #144
@sammkj: Does the updated result replace the data that was there before? I.e. is the result stored under the same key?

[2016-06-03 08:03] helfer commented on #260
Ok, agreed, closing for now.

[2016-06-03 08:03] #260 closed

[2016-06-03 08:07] helfer commented on #259
@Poincare I'm assigning this to you. It should be relatively easy to do. Just get the operation name from the AST and send it along with the query the way GraphiQL does by default. Not very high priority though.

[2016-06-03 10:40] WilliamHolmes opened #263 "BUG: Missing fields on response causes writeToStore Error"
ref: writeToStore.ts#L129

`Uncaught Error: Can't find field startCursor on result object some_group_id.people({"first":"10"}).pageInfo.
`
If a query response returns without values that were sent on the query, the client throws and error.

query
[code]

When there are no people in the group our server responses with ...

[code]

Note in this case,  startCursor and endCursor are not returned

I'm

[2016-06-03 11:59] stubailo commented on #263
I don't think that is a valid GraphQL response for that query - what GraphQL server implementation are you using?

[2016-06-03 12:26] WilliamHolmes commented on #263
@stubailo [graphql-java](https://github.com/graphql-java/graphql-java)
I've opened an issue with our server guys in the meantime.

[2016-06-03 12:29] stubailo commented on #263
Oh ok I remember you also had an issue with the empty error array before. I heard that some people are working on a test suite to test GraphQL servers for spec compliance: https://github.com/graphql-cats/graphql-cats

[2016-06-03 15:44] sammkj commented on #144
@helfer, here's what I got before the mutation in my store:

![todo1](https://cloud.githubusercontent.com/assets/9153498/15784364/cecdd866-2977-11e6-99c6-9eec9341ca07.png)

And here's what I got after mutation:
![todo2-2](https://cloud.githubusercontent.com/assets/9153498/15784434/199a6152-2978-11e6-8a66-87b3c475ff43.png)

[2016-06-03 18:57] helfer commented on #144
@sammkj Is your mutation by any chance inserting a new element?

In that case this is a known limitation that a list query run previously will not reflect that change, because we have no way of knowing whether that new element belongs to that list or not without rerunning the list query.

A workaround is to return the root query object from the mutation and rerun the original list query to force t

[2016-06-03 19:35] sammkj commented on #144
Yes, the mutation inserts a new todo. So does that mean that the new update only work if I have mutation that updates data? If that's case, I can't get it work either. My UI is not updating.

Just out of curiosity, I kinda expect that this would work somewhat similar to Redux state. As in if I update the store and the component that subscribes to the store will get updated automatically.

[2016-06-03 21:42] helfer opened #264 "Support for stored queries"
We should think about how we could support queries that are stored on the server, where the client sends only the operation name and variables to the server.

[2016-06-03 23:09] stubailo commented on #264
Is the idea that a server with this setup would no longer accept _any_ arbitrary queries at all? Or is it possible to have a mix?

[2016-06-03 23:48] #250 closed

[2016-06-04 00:39] helfer commented on #144
If the updated object is returned by your mutation (i.e. it is in the selection set), then the redux store will update and your component will update as well. If your component displays a list, then that particular list must be updated in the redux store. That will only happen if you query for it again with the same arguments so it ends up in the same place in the redux store.

This is because you

[2016-06-04 00:43] helfer commented on #264
I think a mix should be possible, i.e. send just the operation name for a stored query (in which case the client only needs to know the signature) or send the entire query if it's not a stored one.

[2016-06-04 04:33] Poincare commented on #259
Will do.

[2016-06-04 05:04] #80 closed

[2016-06-04 05:04] #248 closed

[2016-06-05 20:26] helfer opened #269 "Remove fetch dependency"
This would make things like whatwg-fetch (#267) unnecessary. It's only a minor change in the network interface, so it should be easy to do.

Anyone want to take this?

[2016-06-05 22:46] stubailo commented on #269
Yeah this is compounded by the fact that we only use like 1% of the features of fetch.

[2016-06-05 22:57] jbaxleyiii commented on #269
@stubailo @helfer any direction on doing this isomorphically? I'd be happy to rework it but not sure of a solid universal way?

[2016-06-06 03:12] timbotnik opened #270 "Affordance for suppressing transient transport errors"
When the network has occasional drop-outs, we might not care.  It would be nice for Apollo client to be able to distinguish between transport and application errors so we could do some automatic retrying and error suppression.  This is especially true of polling queries.

In the case of `react-apollo`, when we receive new props with an error, our data can disappear.  The work-around is to do somet

[2016-06-06 04:32] timbotnik opened #271 "Response "errors" field is not always an array"
This makes it *slightly* harder to check for errors.  I see this one when I shut down the GraphQL server while a request is in-flight.

![screen shot 2016-06-06 at 1 09 40 pm](https://cloud.githubusercontent.com/assets/1831709/15812015/2aa549f8-2bf3-11e6-964d-e5afdd017a51.png)

[2016-06-06 05:13] helfer commented on #271
@timbotnik you're not supposed to shut down the GraphQL server while requests are in-flight 😛

On the other hand, I think you're right that it would be nice to return this error in an array even though it's not an error from the server.

[2016-06-06 08:12] nmn commented on #6
I know this discussion ended. But I want to make a few quick points:

1. Flow handles Null and Undefined Better, which is very important, but then Typescript will get it soon enough.
2. There are `linter-flow` and `autocomplete-flow` plugins for atom if Nuclide is being a pain.
3. Flow is much better at inferring types automatically, and better handling dynamic code.

On the other hand, the fact t

[2016-06-06 15:28] davidwoody commented on #244
@abhiaiyer91 @stubailo being able to utilize `mapStateToProps` for actually reading data out of the store makes a lot of sense and feels like it's more approachable / understandable for folks who are familiar with Redux.

I think `mapQueriesToProps` still could make sense, but what the container component does could be simplified to:

1. Calling `client.query` or `client.watchQuery` to fetch the d

[2016-06-06 15:59] abhiaiyer91 commented on #244
@davidwoody But if mapQueriesToProps already maps todos and its data to props, why use mapStateToProps to fetch the same data? Or are you saying that we can use mapStateToProps primarily for selectors that take the data of the apollo store and some other stuff to compute some new type of state? Without that case, mapStateToProps and mapQueries doing the same thing is overkill?

[2016-06-06 17:10] davidwoody commented on #244
@abhiaiyer91 This may or may not be helpful, but this is sort of how I'm thinking about `apolloConnect` in my example working for `mapQueriesToProps`:

[code]

[2016-06-06 19:18] stubailo commented on #6
This thread has no relation to what users of the library need to do - it's just for the internal development.

[2016-06-06 19:40] saeho commented on #261
After some digging around, I came to the conclusion that graphql's babel-runtime dependency is causing this issue. Can we please remove it from the its dependencies?

[2016-06-06 20:04] stubailo commented on #261
I think a good choice would be submitting a PR to graphql-js to remove the dependency on `babel-runtime` and turn off the babel runtime transform, and see what Lee thinks. When I talked to him before he seemed interested in making GraphQL-JS something you can reasonably use on the client, and React Native is a pretty attractive use case, so perhaps he would be interested in this change.

[2016-06-06 20:06] stubailo commented on #271
Shouldn't this be returned as a network error rather than a server error? Those are currently returned in different places, so this smells like a bug. On the other hand it would probably be a good idea to unify how errors are handled regardless of where they come from.

[2016-06-06 20:10] stubailo commented on #269
I know of one that's pretty solid and relatively minimalist... https://github.com/meteor/meteor/tree/devel/packages/http

[2016-06-07 10:19] timbotnik commented on #158
This is a real security issue for users on shared computers, is there currently a mechanism for clearing the state?

[2016-06-07 19:17] helfer commented on #158
I think the current workaround is to explicitly pass the store to apollo on construction, and then remove the reference to that store. I think setting the store content to null wouldn't be enough, because you also want to get rid of history. But then again, I don't know much about Redux, so I'll defer to the experts.

[2016-06-07 20:35] timsuchanek opened #272 "Changing variables in watchQuery after polling started"
Hi,
so I'm creating an observable with the `client.watchQuery` method and watch on it.
It works fine.
But let's say variables in my query changed.

How to properly handle that?
Do I really have to kill the old observable and create a new one which includes the new query?

In other words: How to change variables of a polling `ObservableQuery` in runtime?

Idea: Pass in an optional callback that ret

[2016-06-07 21:21] ejfrancis commented on #143
looks like this may be what you're looking for https://github.com/Akryum/meteor-vue-component/tree/master/packages/vue-apollo

[2016-06-07 23:57] stubailo commented on #272
@poincare I think mutating the variables is not the right approach long term, even though it might work now. I think we should encourage people to make those immutable, and perhaps provide a method to update the query options.

[2016-06-08 00:10] Poincare commented on #272
Makes sense. I guess I will leave this issue open and we'll fix it soon.

[2016-06-08 00:13] Poincare opened #273 "Named fragments don't work with mutations"
For example, something like this won't work correctly:

[code]
because the `mutate` method within `QueryManager` works with the mutation `OperationDefinition` rather than the `Document` containing the mutation. Should be an easy fix - see PR #251 since that's pretty much the same thing but for queries.

[2016-06-08 00:35] helfer commented on #273
good catch!

[2016-06-08 02:45] nmn commented on #6
@stubailo I know. Just couldn't find another place to reach out to the team about this.

[2016-06-08 03:30] smolinari commented on #143
Thanks @ejfrancis. However, it would need to work with Vuex to be feasible for our project.

Scott

[2016-06-08 09:00] timsuchanek commented on #272
Hey guys, thanks for the fast answers.
@Poincare your solution works like a charm.
So do you want some unit tests or better later when there is a better api for this use case?

[2016-06-08 10:36] stubailo commented on #272
You can help us design the API! What should it look like?

[2016-06-09 04:03] Poincare commented on #273
Fixed w/ PR #274.

[2016-06-09 04:03] #273 closed

[2016-06-09 04:06] Poincare commented on #270
I guess this means that Apollo Client should distinguish between network and application errors and react-apollo should distinguish between errors that require a component update and those that do not.

[2016-06-10 15:59] romellogood opened #276 "Turn off Caching"
Is there a way for caching to be turned off? There isn't any documentation on options I can pass to turn this off so that every request is sent and things aren't cached.

[2016-06-10 16:28] helfer commented on #276
@romellogood You can pass the option `forceFetch: true` to `query` or `watchQuery`. If you're using react-apollo, you can pass the same option to `mapQueriesToProps` and `mapMutationsToProps`. Does that solve your problem?

[2016-06-10 16:42] romellogood commented on #276
Yes it worked. Thank you.

[2016-06-10 16:42] #276 closed

[2016-06-11 12:20] timsuchanek commented on #272
Ha I'm pleasured to tell you my opinion for the API.

Ok, this is my use case:
I get params from `react-router` into my React component and pass them into an action, which is a `redux-thunk`, that then creates the observable and its subscription.

(Btw I'm aware of `react-apollo`, but I had some problems with error handling with it, so I decided for a pure `redux/apollo-client` implementation, as

[2016-06-11 15:15] stubailo commented on #272
Just trying to understand better - why not stop the previous observable and start a new one with new variables?

[2016-06-11 18:28] WilliamHolmes commented on #158
FYI:
Your global REDUX state can be reset using...
`type: RESET`

[2016-06-12 20:38] amannn commented on #144
I just tried the new normalization feature out in my app and updating data now works as expected – great job! :)

I totally understand that creations don't result into updating lists, as the client doesn't know how that list is sorted and the server should be the only source of truth for this. So I guess a re-fetch always makes sense if the UI is expected to show the result immediately. This could

[2016-06-12 20:38] #144 closed

[2016-06-12 23:43] stubailo commented on #144
Yeah we have a lot of thoughts about how mutation results should work, but as you mentioned it can be quite complex. Hopefully in the next month or so we can provide some solutions.

[2016-06-12 23:55] helfer commented on #263
@WilliamHolmes Can you reference the issue you opened on graphql-java? I can't seem to find it there.

Also: closing this, since this is expected behavior when the server doesn't conform to the graphql spec.

[2016-06-12 23:55] #263 closed

[2016-06-12 23:56] helfer commented on #261
@saeho Any news on this? Did you file an issue or make a PR to graphql-js?

[2016-06-14 03:51] timbotnik commented on #158
So I tried out a store reset using the mechanism described [here](http://stackoverflow.com/a/35641992), but I found the QueryManager threw an exception whenever I dispatched my RESET action.

The internal state for query listeners is actually the issue.  If there are outstanding watched queries, it fails inside this function https://github.com/apollostack/apollo-client/blob/master/src/QueryManager

[2016-06-14 11:30] pradel opened #280 "Concat data on refetch (e.g: For infinite scroll)"
Hi,

I am trying to make an infinite scroll, the problem is actually when you refetch a query old data are erased. Maybe It can be good to pass some options on refetch ?
Something like that ? `data.refetch({ newArgs }, { concat: true });`

[2016-06-14 12:07] stubailo commented on #280
I asked pradel to open this issue so that we can discuss a minimal viable design for infinite scroll pagination, let's see if we can come up with something simple!

[2016-06-14 12:51] jbaxleyiii commented on #280
@pradel @stubailo I like the simplicity of `data.refetch(<variables>, <settings>)`. The second argument can be expanded to control other aspects of refetching we may want to add in. To take it a step further, should we add `concat` on the `WatchQueryOptions` and the second arg of refetch allows overwriting of existing query options? This would allow polling changes as well as other additions to `W

[2016-06-14 13:54] stubailo commented on #280
I am not sure that this belongs on refetch, personally - I'd be in favor of similar but alternative approaches, for example:

1. A fetchMore method in addition to refetch
2. A way to assemble an array of queries with different variables programmatically

I don't think refetch should be overloaded to do more than simply rerun a single query maybe with different variables.

[2016-06-15 13:58] batjko commented on #269
Guys, I'm unable to use any fetch polyfills anymore, when using apollo-client on node.
I have tried node-fetch, whatwg-fetch and isomorphic-fetch, but I keep getting "fetch is not defined errors".

It used to work a little while back (maybe two months?), but today I am trying to use Apollo-client in a new node app and just can't get my query to work anymore.

e.g.:
[code]

Anything else I should b

[2016-06-15 21:35] helfer commented on #269
@batjko Would you be interested in rewriting the meteor package that sashko linked to into a npm package? I think that would do the trick, and we could provide assistance where needed.

[2016-06-16 07:38] batjko commented on #269
@helfer It looks like the HTTP package is just wrapping the npm "request" package under the hood, which, although it's not pretty, could be used instead?.

I wonder if [axios](https://www.npmjs.com/package/axios) or the like wouldn't be better recommendations though? Supporting promises instead of callbacks, even for multiple concurrent requests.

[2016-06-16 08:28] stubailo commented on #269
@batjko we can't use request in the browser though. I was specifically suggesting http as a nice code base that works exactly the same way on client and server, and is super well tested.

[2016-06-16 08:30] stubailo commented on #269
Axiom looks pretty cool - how big is it? Ideally we don't want to increase the size of this library too much.

[2016-06-16 11:47] batjko commented on #269
The downloaded npm package racks up about 270kb. Written in typescript though, if that helps? ;)

[2016-06-16 11:53] hwillson commented on #269
@batjko The [minified axios dist](https://github.com/mzabriskie/axios/blob/master/dist/axios.min.js) is much less, coming in at around 10k.

[2016-06-16 12:02] batjko commented on #269
True. Depends on how you guys import the thing.

[2016-06-17 10:56] stubailo commented on #269
10k still seems overwhelmingly large just to make an http request with a promise. All of Apollo client is like 25k or something.

[2016-06-17 12:01] batjko commented on #269
Ah, makes sense then.
I don't think I can do the conversion of that HTTP package though, I don't know the first thing about how npm or meteor packages are built.
I should really read into that sometime.

[2016-06-17 12:56] kamilkisiela commented on #269
What do you guys think?

https://github.com/kamilkisiela/httpcall

Basically it the same implementation as in https://github.com/meteor/meteor/tree/devel/packages/http

[2016-06-17 13:20] batjko commented on #269
@kamilkisiela Yea tests are missing. If a big project like Apollo were to depend on this, it better be plastered with code coverage.

[2016-06-17 14:46] stubailo commented on #269
Wow awesome @kamilkisiela! I was going to put it together but you beat me to it :)

[2016-06-17 14:50] kamilkisiela commented on #269
@stubailo I have one question.

While I was creating [this](https://github.com/kamilkisiela/httpcall/blob/master/src/url.ts#L10-L14) I saw that there is a `escape` variable [inside of it](https://github.com/meteor/meteor/blob/devel/packages/url/url_common.js#L3-L5).

From where it come from?

[2016-06-17 15:05] hwillson commented on #269
@kamilkisiela It's actually the JS standard library [`escape`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/escape) function (now deprecated). `String.replace`  can accept a function as its second parameter, that can be called to create the new substring.

[2016-06-17 15:37] kamilkisiela commented on #269
@hwillson Didn't know, thanks!

I added few tests and created a build process with continuous integration. If someone wants to help with moving tests from meteor package it would be amazing! :)

@stubailo Do you guys want to have it under apollostack or meteor organisation or something?

[2016-06-17 17:49] jlevycpa opened #283 "Improve error message when query receives a gql string"
When first trying apollo client I tried to call `client.query` like this:

[code]

Instead of the correct way, which is to pass an object with a `query:` key containing the gql string. The error I received in the console was:

[code]

@helfer suggested I file an issue so that this error can be improved. Here you go!

[2016-06-17 17:51] helfer commented on #269
@kamilkisiela Under apollostack would be good.

[2016-06-17 17:52] kamilkisiela commented on #269
@helfer You can create the repository for it and I will do transfer.

[2016-06-17 17:54] helfer commented on #269
@kamilkisiela I've created a repo called **http**, you have write access (as soon as you accept the team invitation), so you can push your initial commits to it without making a PR.

[2016-06-17 18:00] kamilkisiela commented on #269
@helfer Done :+1:

[2016-06-17 21:14] Poincare commented on #259
Fixed by PR #282 - closing.

[2016-06-17 21:14] #259 closed

[2016-06-20 09:58] pfulop opened #284 "Response Wrapper"
Is there way to somehow wrap responses from graphql server? I want to know if server returned 401 or refreshed token.

[2016-06-20 18:41] stubailo opened #285 "Discussion: different cache format"
Note that this isn't a proposal to actually change anything, just something I wrote up on a plane flight when I was thinking about my mental model for how the apollo cache works.
## Idea about alternate cache format

This is based on thinking about how I would write a blog post about how caching works in Apollo client (AC). The main way it makes sense for me to talk about how the cache works, and

[2016-06-20 22:14] stubailo opened #286 "Attack low hanging fruit of file size"
Right now I think there is some dead code in the client that is unnecessarily being loaded. Something to investigate.

[2016-06-21 04:33] spicydonuts opened #287 "Optimistic updates"
Client-side optimistic updates should work pretty seamlessly if there's a way to tell the mutation "here's the data to use until the response comes back".  The trick will be figuring out how to get that into the current syntax and deciding how it gets undone in the event of a failure, since a failed server call probably can't be expected to reliably undo the optimistic update by sending down the o

[2016-06-21 05:04] smolinari commented on #285
Hi,

I hope you don't mind me making some comments and asking some questions, even though I am not a team member. I am just a user (at some point). This subject intrigues me  a lot and I am learning. I hope you will have patience with me.

[I've looked at the Relay docs](https://facebook.github.io/relay/docs/thinking-in-graphql.html) and they use a flattened record approach. Correct me if I am wro

[2016-06-21 05:56] stubailo commented on #285
Actually our client does the exact same thing that relay does - this question doesn't have anything to do with whether or not IDs are used to normalize.

Note that we use IDs when they are present but don't require them to exist to do caching.

[2016-06-21 05:57] stubailo commented on #285
The suggested approach here with paths is just a different data structure for representing flattened records.

[2016-06-21 06:45] smolinari commented on #285
Oh ok. The have or have not id's throws me for a loop I guess. Theoretically, there won't be a record, without ID's or rather there can't be (in my mind). So, I guess that is my misunderstanding. I guess I am at a higher level with my thinking than this issue is. Sorry, for the interruption then.

Scott

[2016-06-21 06:48] stubailo commented on #285
Even in Relay, not all records have IDs. In that case, Relay generates an ID, and and Apollo Client uses the query path. In fact, you can do a lot of nice caching stuff with no IDs at all, which can be useful for certain cases.

[2016-06-21 08:41] smolinari commented on #285
Interesting. I'll have to learn some more, I guess.....

Thanks for your time.

Scott

[2016-06-21 11:30] javascriptlove commented on #239
Is this going to be in next version (0.3.14)?

[2016-06-21 12:52] stubailo commented on #239
Yes!

[2016-06-21 14:10] AlmaasAre commented on #261
followed the same steps as @saeho, but got this error:

[code]

It's when using object-assign in connect.js in react-apollo, so issue probably belongs in that repo. But you didn't receive this error?

React native doesn't like modules to use object-assign-polyfill?

[2016-06-21 18:14] gmchaturvedi1 opened #289 "react-native error is coming"
Dear friends,

i am just trying apollo-client with react-native the following error is coming :

![image](https://cloud.githubusercontent.com/assets/10846505/16241155/0c61fcca-380a-11e6-9ce0-b9c884ec29ef.png)

Kindly suggest me how to resolve this.

thanks & Regards
 G M Chaturvedi

[2016-06-21 18:18] stubailo commented on #289
Looks like a duplicate of this: https://github.com/apollostack/apollo-client/issues/163

It's weird that React Native is trying to compile this code at all. But let's talk on the other thread.

[2016-06-21 18:18] #289 closed

[2016-06-21 20:39] #48 closed

[2016-06-21 20:40] #139 closed

[2016-06-21 20:44] stubailo commented on #287
I think we can use one of the two, since the store is already implemented with Redux:

- https://github.com/ForbesLindesay/redux-optimist
- https://github.com/mattkrick/redux-optimistic-ui

This would mean modifying how we handle the `MUTATION_RESULT` action, and adding an optimistic version that we roll back when the actual result comes back.

Do you have experience working with Redux? Perhaps yo

[2016-06-21 21:26] zimt28 opened #290 "Optional MessagePack support"
I'm not sure which format Apollo uses to transport data, but if it's JSON have a look at [MessagePack](http://msgpack.org/). This might lead to faster load times. If that's not interesting, please close this issue right away :-)

[2016-06-21 21:59] stubailo commented on #290
Right now none of the GraphQL servers support this as a response format, so it wouldn't help much to add it to the client. And I haven't seen this be a bottleneck in performance, so I think we should wait until there is a big need to switch.

[2016-06-21 21:59] #290 closed

[2016-06-21 23:04] stubailo commented on #284
Can you explain a bit more what you mean by this? For example, a hypothetical code snippet of what you would like to do? I'm not quite sure what wrapping a response would mean.

[2016-06-21 23:21] #237 closed

[2016-06-22 04:14] timbotnik opened #296 "Query merging fails when merging the same query with different variables"
Just trying out the new batching mode, ran into this issue since we are running the same query multiple times with different vars.  Failing test on the way.

![screen shot 2016-06-22 at 2 14 35 pm](https://cloud.githubusercontent.com/assets/1831709/16254473/950fdae6-3883-11e6-8661-1638f1870cd8.png)

[2016-06-22 06:18] tmeasday opened #298 "Figure out a strategy for `forceFetch` / polling and SSR"
In getting a POC of SSR in githunt working w/ saturn
 - with this: https://github.com/apollostack/saturn/commit/4a5cbee88b9f77610a36516ca1a735347905c39c
 - particularly: https://github.com/apollostack/saturn/blob/4a5cbee88b9f77610a36516ca1a735347905c39c/server/app.js#L100-L120
 - and https://github.com/apollostack/githunt/tree/saturn-ssr,

I ran into an issue with the use of `forceFetch` here: htt

[2016-06-22 06:28] Poincare commented on #298
How do you determine when to "end" the first render and stop it from firing any further queries? Once all the components have been rendered and the queries returned?

[2016-06-22 06:33] tmeasday commented on #298
Basically just watch the Apollo Client store and wait for all queries to become ready, after doing the first render.

We may run into problems with polling queries also; we should probably consider that as well.

We shouldn't run into any issues with the client re-rendering due to the changes @jbaxleyiii is making [here](https://github.com/apollostack/react-apollo/pull/75), although it would serio

[2016-06-22 07:34] Poincare commented on #298
Polling queries were what I was concerned about. However, since a polling query should fire one time immediately after it starts (i.e. it doesn't wait around for a polling cycle to send out the query), I think it should have resulted in initial data by the end of the first render.

[2016-06-22 07:52] bruno12mota commented on #298
Hey guys! As I've told to @stubailo here https://github.com/relax/relax/issues/228#issuecomment-227503506 I ended up not using a React render for the first render, instead made my own render function on Relate, which doesn't make any markup or virtual tree, it just goes through the components tree, passing props and context as it would in a normal React render making it much more efficient.

In th

[2016-06-22 08:38] pfulop commented on #284
For instance your network interface allows to applyMiddleware to work with request object. It would be nice if I could apply middleware to response, and have something like general error check.

`networkInterface.use([{
  applyMiddleware(res, next) {
    if (!res.status===401) {
      dispatch(logout());
    }
    next();
  }
}]);`

Therefore I wouldn't need to write same code for every query and

[2016-06-22 10:53] AlmaasAre commented on #261
Did you get this to work @saeho ? Seems like babel-deps that graphql needs breaks react native packaging.

[2016-06-22 11:08] tmeasday commented on #298
Thanks for weighing in @bruno12mota, I have followed the thread over there, I was about to post now I've actually pushed my [hacky-POC code](https://github.com/apollostack/saturn/blob/4a5cbee88b9f77610a36516ca1a735347905c39c/server/app.js#L100-L120).

I think your strategy sounds interesting as an optimization. At this point I think just getting it working using React's `renderToString` makes sens

[2016-06-22 12:49] bruno12mota commented on #298
@tmeasday rendering to virtual DOM then setting updates and getting the dom string representation on demand would be ideal yes, that way a lot of the components tree could be reused, but don't see that happening from the React team, at least in the following months (SSR is definitely something that doesn't concern them since they don't need it) 😛

Performance is an issue with React server side ren

[2016-06-22 14:31] monteirocode commented on #284
Yes! 🙌  I was just searching the docs for a way to to this, maybe we could call it an `afterware `?

[code]

[2016-06-22 15:19] stubailo commented on #284
Sure, would you be interested in submitting a PR for this?

[2016-06-22 15:35] monteirocode commented on #284
@stubailo I'm a very junior developer but I can give it a try

[2016-06-22 20:52] stubailo commented on #296
Should be fixed in `0.3.18`!

[2016-06-22 20:52] #296 closed

[2016-06-22 22:14] timbotnik commented on #296
Tested, WFM, thanks!

[2016-06-22 22:26] stubailo commented on #296
@timbotnik I'm about to remove the need for `addQueryMerging`: #303

[2016-06-22 23:17] stubailo opened #304 "Note that Relay doesn't support certain things on root queries"
Which is a big reason people use `viewer`. For example, see:

https://apollostack.slack.com/archives/general/p1466637279001259

[2016-06-22 23:45] stubailo commented on #239
This should be fixed now.

[2016-06-22 23:45] #239 closed

[2016-06-23 00:40] stubailo commented on #298
I think (1) is correct - we just never want to forceFetch or poll on the server at all. Adding an API to the client to turn that off seems like a fine solution to me.

For (2), I think we could do something really basic, like add a timeout - after instantiating the apollo client, the first 500ms we don't honor the `forceFetch` option.

[2016-06-23 00:46] tmeasday commented on #298
Ok, what would be your preferred API for the above, if I send a PR?

[2016-06-23 00:48] stubailo commented on #298
I'd say `disableForceFetch: true` and `ssrForceFetchDelay: <ms>` are fine options for the apollo client constructor.

[2016-06-23 16:52] arbesfeld opened #306 "Custom NetworkInterface query argument"
The `Request` interface: https://github.com/apollostack/apollo-client/blob/master/src/networkInterface.ts#L19

Doesn't seem to match the interface in the documentation: http://docs.apollostack.com/apollo-client/network.html#GraphQLRequest

For implementing a custom network interface, it would be convenient if the spec matched the spec in the docs and passed the `query` as a string.

[2016-06-23 20:46] cdroulers opened #307 "Offline usage"
Hello,

I've started experimenting with Apollo-client with my GraphQL Server to understand how it works and see if it can work for my offline needs. So far, I've been able to store the redux state into localStorage and read it on page load. It seems to then be able to show the page (on refresh) without hitting the server.

Though when I `refetch()` a query, it still hits the GraphQL Server even th

[2016-06-23 20:48] stubailo commented on #307
`refetch` is _only useful_ for the case where you need to fetch from the server. What are you trying to use `refetch` for?

[2016-06-23 20:59] cdroulers commented on #307
For running a query when a variable changes. I have a simple input field and I want to query the data with the value whenever it changes. I read http://docs.apollostack.com/apollo-client/react.html#connect and couldn't figure out how to trigger the fetching of data. I tried to modify the redux state, but the function in `mapQueriesToProps` wasn't triggered. Maybe I missed something?

[2016-06-23 21:04] stubailo commented on #307
@cdroulers queries should automatically refetch when the variable changes. React apollo compares the variables and queries before and after a state change, and reruns them if they are different.

Do you have a code sample by any chance? It sounds like what you're doing should work really well, but perhaps there is a small bug.

[2016-06-23 21:05] stubailo commented on #307
By the way, if we get this working, it would be awesome to get some more info about how you are persisting the state, since I bet a lot of people would be interested in this kind of offline strategy!

[2016-06-23 21:17] luandro commented on #307
It would be awesome to have at least some documentation on offline first strategy.

[2016-06-23 21:29] cdroulers commented on #307
I'll make a repro over the weekend!
On 23 Jun 2016 5:05 p.m., "Sashko Stubailo" <notifications@github.com>
wrote:

[2016-06-23 21:32] stubailo commented on #307
@cdroulers that would be amazing!

@luandro I agree, I think you can already do some really great stuff, but it's not well explained or documented.

[2016-06-23 21:48] luandro commented on #307
Is something like PouchDB/CouchDB `sync` possible with Apollo?

[2016-06-23 21:50] stubailo commented on #307
@luandro can we open a new thread about this? I sense it's not the same topic as the original post.

[2016-06-23 21:55] luandro commented on #307
Yea sure. We should discuss offline first more in depth in order to consolidate solid strategies.

[2016-06-24 01:21] cdroulers commented on #307
@stubailo So if I understand correctly (before I start my repro case), to have it query automatically, I have to change the redux state so the `mapQueriesToProps` function is called anew?

Seems overkill to update the redux state just for a search string (or any other "local" changes in a page), but I'm not that familiar with redux philosophy yet!

[2016-06-24 01:26] stubailo commented on #307
@cdroulers if you change the props of the component, change the redux state, or load a new query from the server, it should re-query. So you can either keep the search string in redux, or in the state of the parent component. Redux is specifically designed for local state so it does make sense, but you don't need to use it if you don't want to!

[2016-06-24 01:28] stubailo opened #308 "Don't use batching logic if there is only one query to be done"
The default batching approach mangles the query, which isn't nice for debugging. so we should default to sending the query as-is, and only mangle it if we need to.

[2016-06-24 02:23] cdroulers commented on #307
@stubailo I've been able to get it to work starting with the apollo-demo (adding a `$page` parameter to the query). I'll see tomorrow about getting it to work with my use-case.

Although I still have an interrogation on this point; would it be possible to use the component's state to set variables instead of only props or redux state? For example, paging. I added a "more" button at the bottom of t

[2016-06-24 02:32] stubailo commented on #307
@cdroulers there are some pretty good points here:

1. If you persist the redux store as a way to use apollo offline, that will also persist your temporary state if they are in the same store, which is annoying
2. Often, you want a component to change its own query, for example setting a different page or filter on its own data

Specifically, (1) means that it's not always convenient to use one st

[2016-06-24 02:35] cdroulers commented on #307
@stubailo

1. I could (should) selectively store the state instead of just everything, that would work well.
2. I agree with a `setVariables` method. I think there would be a lot of uses for it.

Having to create an action and reducer to manage local state seems overkill and lots of boilerplate.

I'll look into my problem some more and post a repro if it doesn't work!

[2016-06-24 02:42] tlvenn commented on #304
Current Relay limitation on root fields are well explained there: https://github.com/facebook/relay/issues/112#issuecomment-195456911

It does not look like FB has any interest in solving this for now and it's definitely a pretty big plus that apollo client does not enforce any restrictions on root fields.

[2016-06-24 02:43] stubailo commented on #304
Something to think about for a comparison chart!

[2016-06-24 05:51] tmeasday commented on #298
Sent a PR, let me know your thoughts

[2016-06-24 06:28] tlvenn commented on #148
Is there any update / timeline / milestone for that feature ? This is one of the strong point of Relay, should Apollo Client be able to provide query composition, I expect it will be a huge help to increase adoption.

[2016-06-24 06:44] stubailo commented on #148
@tlvenn Dhaivat is working on it next week!

[2016-06-24 07:28] tlvenn commented on #148
That's great news, thanks for the update !

[2016-06-24 20:31] stubailo opened #312 "Split `gql` template literal into a new package"
Context from Apollo Slack: https://apollostack.slack.com/archives/general/p1466800064001809

[2016-06-25 10:03] tychota commented on #261
I also have the same issue, @saeho ! Do you want me to file an issue ?

[2016-06-26 01:11] jbaxleyiii commented on #26
@stubailo is there any progress / recommendations for pagination?

[2016-06-26 06:35] stubailo commented on #26
Ah, sorry, not yet - we needed to do batching first because it was necessary for Galaxy. I'm not sure that the query diffing approach for pagination is the right one, I think I actually prefer something more like `addFetch`. @jbaxleyiii do you guys have a big paginated view in your app? It would be good to take a look at the needs there and see how it would work with different designs.

[2016-06-26 12:48] jbaxleyiii commented on #26
@stubailo we do! can we schedule a call?

[2016-06-26 17:31] abhiaiyer91 commented on #26
Let's write a spec for this? Should we rely on the view frameworks to power this experience for us? If so, let's write specs for the view layers we support now

[2016-06-26 17:44] abhiaiyer91 commented on #269
Alright so is this still an issue?

[2016-06-26 18:14] stubailo commented on #269
Yeah, definitely!

[2016-06-27 04:09] #223 closed

[2016-06-27 05:09] #312 closed

[2016-06-27 05:25] stubailo opened #317 "Mutation results"
There needs to be a good way to incorporate the result of a mutation into the store. You can already use the result of a mutation to do the following:

1. Call any JavaScript code with the result in the `then` of the promise
2. Dispatch any Redux action in the `then` of the promise
3. Incorporate changes in fields, when the response of the mutation contains a normalizable response (like we do in G

[2016-06-27 05:54] stubailo commented on #317
### Inserting a new object into an array

Let's say we've got the following setup:

[code]

Essentially, we are looking at a todo list, and we want to create an item in that list. Let's say we want the item to show up at the top. To do this we need the following information:

1. The location of the item in the mutation result
2. The location of the list in the query

The most basic way to provide

[2016-06-27 06:05] stubailo commented on #317
### Delete an object

Let's add another mutation:

[code]

I think it is pretty reasonable that the object should have an ID if it is to be deleted. So we can just have the mutations return the ID of the deleted item. Since we might have custom dataId generation, we need all of the fields used by that method in the response.

In this case, we probably need:

[code]

So we could, say, do the follow

[2016-06-27 06:10] stubailo commented on #317
### Remove an object from an array

This would happen if we had something that moved the todo to a different list:

[code]

This is basically like a cross between `ARRAY_INSERT` and `DELETE` since it needs both an array to operate on, and the data ID of the item to remove.

I don't think there are any new questions over the above.

[2016-06-27 06:15] stubailo commented on #317
### Writing a custom reducer

We should document well the implementation of the above methods, which are basically like mini reducers. Maybe you can add new ones via the apollo client constructor?

[code]

So this would be like:

[code]

Seems like if we document the tools well it will be quite possible to write nice custom reducers.

[2016-06-27 15:44] cdroulers commented on #307
It seems I only needed to use `mapStateToProps` for apollo to pick up my changes to the redux store. Once I did that, I got everything working.

It wasn't obvious to me from the docs that this was a requirement!

[2016-06-27 15:47] manuelfink opened #318 "How to load appollo-client with system.js"
I just added angular2-apollo to an angular2 project bootstraped with angular-cli.

Angular 2 is loading modules with systemjs. However it's pain with apollo-client: You have to add every individual lodash function as a module to systemjs to be loaded. Moreover this ends in many requests to the server and inconvenient imports.

Thus I do have the following questions / ideas:

1. Isn't it possible t

[2016-06-27 16:56] stubailo opened #319 "Add ssr options to changelog and document them"
I merged the PR, but forgot that there weren't any changelog entries. Also, we need docs.

[2016-06-27 17:16] stubailo commented on #318
Honestly, this seems like a problem with systemjs rather than with Apollo Client. It shouldn't be up to the module author to pre-package dependencies, that sounds like the build system's job. Otherwise the whole concept of dependencies doesn't really make sense.

No, because many apps don't use lodash. In this case we would be loading all of lodash just to use a few functions. With Webpack/Browser

[2016-06-28 01:26] tmeasday commented on #319
How do docs work? Are we going to do jsdoc sometime soon? (We should discuss this).

[2016-06-28 01:31] tmeasday commented on #319
https://github.com/apollostack/apollo-client/pull/322/files

[2016-06-28 02:45] abhiaiyer91 commented on #317
What if `queries` and `mutations` both shared these custom reducers?

Client queries -> query results hit our custom reducer maybe specified via `QUERY_NAME_INIT`.

Then we can also mutate the data via this custom reducer. This would actually help Optimistic UI, client state, etc.

[2016-06-28 03:02] stubailo commented on #317
Sounds pretty interesting! I'm sure the design for mutations can transfer over to that as well

[2016-06-28 03:02] #319 closed

[2016-06-28 03:36] stubailo commented on #163
We can test out fixes with this boilerplate: https://github.com/scaphold-io/react-native-starter-kit

[2016-06-28 03:47] abhiaiyer91 commented on #317
The more I think about this, the more I'm contemplating a `redux` way of doing this.

In redux, our reducers describe our state change. So whether its a query or a mutation, a reducer is expecting some shape of data to then return a new state.

If we take this approach with `Apollo` the store can actually have a different shape.

Maybe it can work like this,

1. `Apollo Client` ships some generic

[2016-06-28 03:49] abhiaiyer91 commented on #317
What do we gain by having a store path?

[code]

[2016-06-28 04:23] stubailo commented on #317
@abhiaiyer91 we need store path to tell Apollo which array we are trying to remove from. The goal of this action is if you have an item that is displayed in one or more lists on the page, and you want to stop displaying it there. This is for cases where you aren't deleting the item entirely, so we can't just remove all references like we do with `DELETE`.

For the query example, is this better tha

[2016-06-28 05:53] stubailo opened #324 "0.4.0 release with breaking changes"
- [x] Remove `apollo-client/gql` shim in favor of `graphql-tag` package
- [ ] Remove special publish script in favor of normal npm publish
- [ ] Remove any legacy exports and functions that we can find

- [ ] Consider changing argument format to `write*ToStore`, `read*FromStore` and `diff*AgainstStore` to avoid repeating those in every file that uses them, by factoring out an object that contains

[2016-06-28 07:08] stubailo commented on #307
@cdroulers how could we best document this? Where would you look for information like this?

[2016-06-28 09:28] kamilkisiela commented on #318
I have no experience in working with SystemJS. There is [an issue](https://github.com/apollostack/angular2-apollo/issues/23) on `angular2-apollo` on that topic too.

In some way you have to specify which modules you want to load and where the build system can find them. I didn't come up with any rational solution.

Here's an example of SystemJS in use. https://github.com/angular/quickstart

[2016-06-28 11:27] rricard commented on #280
Ok, I have the same needs and I would be interested to take on that issue and implement a `fetchMore(variables)` method. If you are open to that, I could start working on a PR.

[2016-06-28 13:51] rricard opened #327 "Cannot find module `apollo-client/gql`"
Like #186, `apollo-client#0.3.21` seems to not have the right module resolution on `gql`.

Can you publish a corrected version please ?

Also this is related to #188.

Thanks to @pschupp01 for indentifying the bug.

[2016-06-28 14:10] ramsaylanier commented on #304
FWIW this is one of the main reasons I switched from Relay to Apollo.

So thanks.

👍

[2016-06-28 14:14] cdroulers commented on #307
I'd at least mention in http://docs.apollostack.com/apollo-client/react.html#using-with-redux that if variables from the state are used in the queries, they need to be mapped in the `mapStateToProps` function. Otherwise, it kind of looks like black magic!

[2016-06-28 15:05] stubailo commented on #327
You're right! I just realized the issue, will publish a fix in 10 minutes.

[2016-06-28 15:10] helfer commented on #327
Isn't the _fix_ that gql is now in its own repo and you have to do this?

`import gql from 'graphql-tag';`

[2016-06-28 15:14] rricard commented on #327
That is not an acceptable fix because what you are suggesting is there has been a major API change and you just incremented a PATCH number (see semver http://semver.org/). To actually tell you what happened on our side is that we had a major breakage because npm considered it was ok to go to 0.3.21.

[2016-06-28 15:15] rricard commented on #327
By the way, you should emit a deprecation warning when people are trying to import `apollo-client/gql`

[2016-06-28 15:17] helfer commented on #327
@rricard I agree, the proper way to fix things now is probably to re-introduce it in 0.3.22, and then remove it for 0.4.0.

[2016-06-28 15:18] rricard commented on #327
I think that's better. React warns breaking changes mostly like this and it works really well!

[2016-06-28 15:18] abhiaiyer91 commented on #327
@rricard send over that deprecation warning PR!! :)

[2016-06-28 15:21] rricard commented on #327
@abhiaiyer91: when I'll have some time but if there is some stuff to revert back, I think it's better that the @apollostack's team takes care of it

[2016-06-28 16:09] stubailo commented on #327
This was an accidental change. I had no intention to break importing from `apollo-client/gql` in this version.

[2016-06-28 16:10] rricard commented on #327
Okay, I'll just do a deprecation warning PR then!

[2016-06-28 16:12] stubailo commented on #327
@rricard yes please, it would go here: https://github.com/apollostack/apollo-client/blob/master/gql.js

Is there any way to avoid printing the warning in production?

[2016-06-28 16:14] rricard commented on #327
mheh, I know that React and Redux remove warnings on prod but I don't think it's easy to do, they have a really different build system and I have to admin I'm not an expert with tsc

[2016-06-28 16:16] stubailo commented on #327
I think it's up to the user's build system. Perhaps if we just do `if (process.env.NODE_ENV === 'production')` that will be good enough.

[2016-06-28 16:18] rricard commented on #327
I was leaning towards that by looking at redux. But it should be noted that redux uses webpack's DefinePlugin for UMD builds ...

[2016-06-28 16:19] stubailo commented on #327
I think those if statements are evaluated by the app using the package, at the minification step. Like, when you `npm install react` it comes with all of the debug stuff, I'm pretty sure it's up to your minifier to remove it.

[2016-06-28 16:25] stubailo commented on #327
Hey, I published a fix as version 0.3.24.

This kind of problem is exactly why we are moving it into a different package - I'd prefer not to have to deal with moving around folders when publishing the package, which is what we had to do to achieve the `apollo-client/gql` module.

So hopefully @rricard you can add the deprecation warning for 0.3.x, and in 0.4.x we will get rid of it in favor of the

[2016-06-28 16:25] #327 closed

[2016-06-28 16:27] stubailo commented on #324
CC @rricard here's where I was keeping track of breaking changes for `0.4.0`.

[2016-06-28 19:10] stubailo commented on #163
I'm going to tackle React Native this week. It seems like just a very small modification would fix this bug, and then we can put React Native on the homepage.

[2016-06-28 19:10] stubailo commented on #163
Btw, link to the graphql bug: https://github.com/graphql/graphql-js/issues/414

[2016-06-28 23:07] joarwilk opened #332 "Querying for data already in the store with a different query"
These two queries share the same return type (the first is a list of events, the second is a single event). If I would first run the `getFeed` query and then run `getEvent` with an id that I retrieved in the `getFeed` query, the `getEvent` query would run and fetch both `id` and `title` even though that information already has been retrieved. In addition, it will update the same item in the store

[2016-06-29 01:37] Poincare commented on #158
Should now be fixed w/ PR #314.

[2016-06-29 01:37] #158 closed

[2016-06-29 07:16] #286 closed

[2016-06-29 07:16] #317 closed

[2016-06-29 07:16] stubailo commented on #317
Merged #320

[2016-06-29 07:18] stubailo commented on #188
Closing in favor of https://github.com/apollostack/apollo-client/issues/324

[2016-06-29 07:18] #188 closed

[2016-06-29 08:45] rricard opened #334 "Polling (and force fetch in general) while the client is disconnected empties the store after erroring"
## Expected

If the polling fails because of a connection issue, still show errors in the console and everything, but don't change the contents of the store!

## Obtained

If the polling fails because of a connection issue, errors arise in the console and empties the store where the query is.

Is this really the behavior we want ?

## Fix proposition

Polling shouldn't just trigger a `forceFetch`

[2016-06-29 17:23] stubailo commented on #334
Good point! Will look into this. Error handling in general is something we are taking a look at soon.

[2016-06-29 17:49] stubailo commented on #194
@Urigo, @kamilkisiela I think we should fix this ASAP. I was just talking to @purban and it's a bit weird because people from Angular 2 are going to be expecting RxJS, not a regular old observable. With this merged, at least we can implement a feature to replace the observable shim with Rx.

[2016-06-29 19:33] rricard commented on #334
Yes, ok, I would be for, by default, not delete the contents of the store then. (I thought the behavior was wanted if graphql errors arised)

[2016-06-29 19:55] rricard commented on #334
I can look into that if you want as well, I will need a fix pretty ASAP and I see you guys already have a bunch of projects going on! 😉

[2016-06-29 21:48] stubailo commented on #334
We were going to take a look at error handling late this week or early next week, but I'd be happy to look at a design for a fix, or a PR!

[2016-06-29 23:42] Poincare opened #338 "Fragment Referencing/Query Composition"
We want to be able to reference a fragment definitions within our queries. The point of including this feature is to do query composition across different UI components. Each UI component can be associated with a fragment to load and a root (or, parent) UI component can then construct a query that references these fragments.

## Goals

After some discussion with @stubailo, we've come up with the f

[2016-06-30 07:55] tlvenn commented on #264
A strict mode where the server is only accepting operation name and variables would be nice as to effectively offer a protection against arbitrary queries.

[2016-06-30 08:23] rricard commented on #334
Let me just finish first with #335, I'll see after that!

[2016-06-30 13:50] sgoll opened #339 "`watchQuery`/`query` wrappers modify options in-place"
The `watchQuery`/`query` wrappers of ApolloClient modify the passed-in options in-place to honor the global `shouldForceFetch` setting: https://github.com/apollostack/apollo-client/blob/master/src/index.ts#L119

This has the unexpected side-effect of forcing re-evaluation of queries in react-apollo as the options now don't match that of the original query.

See the original issue at apollostack/re

[2016-06-30 15:49] deoqc commented on #285
**tl;dr: We need to be able to identify the same entity called from 2 different paths. Global id's serves this nicely.**

---

I use some Relay machinery (by means of `graphql-relay`) in my Apollo client, as some say it is the *idiomatic* graphql.

The Connections and Node Interface caches nice in Relay (at least if think, since I don't have redux devtools to inspect it =) but no wonders, it is no

[2016-06-30 16:44] stubailo commented on #285
Please do! We do have the concept of a global ID which you can use by passing `dataIdFromObject`, but currently that isn't used when querying the `Node` interface. It would be a pretty simple change to do.

I don't agree that all of what Relay specifies needs to be idiomatic GraphQL, especially because a lot of things like the mutation spec is simply driven by the idiosyncrasies of the Facebook in

[2016-06-30 16:45] stubailo commented on #285
@deoqc btw, this is an issue about the same thing: https://github.com/apollostack/apollo-client/issues/332 so let's talk there

[2016-06-30 17:00] stubailo commented on #332
@deoqc totally agree. Have you seen this: http://docs.apollostack.com/apollo-client/how-it-works.html#normalize

Would you be interested in coming up with a design/implementation for making queries that can be fetched from already cached data do so via the `dataId`? Ideally it would be something that would support both `Node` interface queries, and the query specified by @joarwilk above.

Maybe it

[2016-06-30 17:15] #339 closed

[2016-06-30 17:24] deoqc commented on #332
Nice docs @stubailo, I had missed these updates.

I will dive deeper in this over the weekend.

[2016-06-30 17:46] stubailo commented on #338
Another important benefit is that this is a simple way to avoid rewriting fragment names, so that server-side debugging tools can use the fragment names meaningfully.

@Poincare one question this kinda skips.. how do I use `client.fragment` to create a fragment that references another fragment?

[2016-06-30 17:53] stubailo opened #342 "Avoid view integrations tracking loading state manually"
Right now, it seems like both `react-apollo` and `angular2-apollo` are tracking loading state by doing manual bookkeeping. But this doesn't seem optimal, because:

1. Apollo Client already keeps track of loading state internally
2. Some options to `watchQuery`, for example `returnPartialData`, might return data while `loading` is still `true`, confusing the view integrations

I think we should hav

[2016-06-30 17:58] Poincare commented on #338
To solve that issue, `client.fragment` will now take a second argument: an array of fragment definitions that a particular fragment depends on and there's no longer a needed for a nested array structure: `client.fragment` will simply return a single-dimensional array of `FragmentDefinition`s every time it is called.

[2016-06-30 17:58] stubailo commented on #339
Fixed in release `0.3.25`!

[2016-06-30 17:59] stubailo commented on #338
Nice! I love the detail of making sure that fragments in queries are unique as well.

[2016-06-30 21:55] funkyeah commented on #307
@cdroulers @stubailo this thread kind of quickly went the direction of looking at specific bug rather than the more general topic the title implies?

Should the discussion of offline usage continue here or new issue?  Or maybe that's too broad a topic in the first place... I'm particularly interested in persisting data and then pre-loading / re-hydrating. Does Apollo work particularly well with an

[2016-06-30 22:02] stubailo commented on #307
@funkyeah I think Apollo probably works with all of them. Perhaps you could give it a try and come back if it doesn't work?

I think this is a good place to talk about, but the general phrase "offline data" is not really specific enough. Perhaps we can open another issue about persisting data across reloads?

[2016-06-30 22:47] stubailo commented on #25
This is done BTW!

[2016-06-30 22:47] #25 closed

[2016-07-01 01:16] stubailo opened #344 "Fetching some data without an id and then with an id results in an orphaned node in the cache"
Because we re-point the root query path to the node dataId, but don't move the previously fetched data with a generated ID.

[2016-07-01 14:12] purplecones opened #346 "ApolloClient throwing error when used with meteorClientConfig()"
I get this error when passing meteorClientConfig() into ApolloClient(). If I remove meteorClientConfig(), everything works fine

![localhost_3000_account_investment-accounts](https://cloud.githubusercontent.com/assets/136654/16523896/bcdea07e-3f73-11e6-9508-765371a74d92.png)

configure client
[code]
[code]
[code]

configure server
[code]

[2016-07-01 14:30] tlvenn commented on #261
Is there any update on this issue ? I read on Slack that @stubailo wanted to take a closer look and fix any remaining issue with RN. Did you had a chance to do it yet ?

[2016-07-01 15:28] abhiaiyer91 commented on #346
What is meteorClientConfig?

[2016-07-01 15:31] kamilkisiela commented on #342
@stubailo Totally agree that `loading` state should be delivered to UI integrations directly from `ApolloClient`.

**3rd option** seems to be the best one.

Yes, it would :+1:

[2016-07-01 16:57] purplecones commented on #346
Comes from the meteor package `apollo` :
http://docs.apollostack.com/apollo-client/meteor.html#meteorClientConfig

[2016-07-01 17:28] stubailo commented on #261
OK here's the plan: We're going to bundle just the `print` and `parse` functions of `graphql` into the [graphql-tag](https://github.com/apollostack/graphql-tag) package, and remove the dependency altogether.

@abhiaiyer91 is going to take a stab at it, and we'll see if we can get it done today.

[2016-07-01 17:47] stubailo commented on #346
Still have to update meteor starter kit etc

[2016-07-01 18:33] stubailo commented on #346
@purplecones can you try updating all of your dependencies and let me know if this still happens?

[2016-07-01 21:17] stubailo opened #351 "Document how to use npm run dev for contributors"

[2016-07-02 09:28] AlmaasAre commented on #261
👋👋
On Fri, 1 Jul 2016 at 19:28 Sashko Stubailo <notifications@github.com>
wrote:

[2016-07-02 11:18] tychota commented on #261
@stubailo @abhiaiyer91 : i started to investiguate this solution last week so maybe I can help.

But are you sure you wan't to maintain a fork for those two functions if graphql agrees to split package and remov the hard dependencie to async in the parser build.

[2016-07-02 16:48] abhiaiyer91 commented on #261
@tychota yes ideally we would want graphql to be more modular in their export. I also even tried to attempt the solution like that, but since we use these 2 functions only, I felt that it was too much work to sign up for to unblock our project

https://github.com/apollostack/graphql-tag/pull/3

Here is the PR. We just bundle parser and printer, and if graphql does change this we can always rebundl

[2016-07-05 14:07] joarwilk opened #354 "Fragmenting on a Union type will throw when storing the result to state"
Given this GraphQL Schema:
[code]

And this query:
[code]

And this server response:
[code]

The client will throw at [this line](https://github.com/apollostack/apollo-client/blob/master/src/data/writeToStore.ts#L145), claiming it's missing the "weight" property. In this case the client should ignore the "weight" property since the returned object is of type `Apple`.

[2016-07-05 14:54] rricard opened #355 "Fragmenting with @skip and @include directives will throw when storing the result to state"
Very likely correlated to #354.

Given this kind of query:

[code]

With this server response:

[code]

The client will throw a missing the "weight" property. In this case the client should ignore the "weight" property since the weight has not been included.

Note that changing the query to this solves the issue:

[code]

[2016-07-05 15:44] purplecones commented on #346
@stubailo I still get this error with `ApolloClient(meteorClientConfig())`. Calling `ApolloClient()` on its own is working fine.

![localhost_3000_account_investment-accounts](https://cloud.githubusercontent.com/assets/136654/16590391/5c7748c8-42a5-11e6-90b7-073e38c85490.png)

Updated to to `0.3.26`:
[code]

[2016-07-05 22:39] Poincare commented on #306
I think this is no longer a bug in ApolloClient since we decided to expose the `printAST` method rather than stick to the currently documented approach. Guess the bug is now within the documentation.

[2016-07-05 23:59] Poincare commented on #338
Closing due to #343.

[2016-07-05 23:59] #338 closed

[2016-07-06 00:00] #261 closed

[2016-07-06 05:27] stubailo commented on #163
OK, I believe we have conclusively fixed this issue in Apollo Client version `0.3.27`, which now depends on `graphql-tag`, which contains a pre-bundled GraphQL printer and parser to avoid the build issues. Let me know if this doesn't work! Big thanks to @abhiaiyer91 for building the bundle script.

[2016-07-06 05:27] #163 closed

[2016-07-06 05:28] stubailo commented on #261
OK, I believe we have conclusively fixed this issue in Apollo Client version `0.3.27`, which now depends on `graphql-tag`, which contains a pre-bundled GraphQL printer and parser to avoid the build issues. Let me know if this doesn't work! Big thanks to @abhiaiyer91 for building the bundle script.

[2016-07-06 05:39] #351 closed

[2016-07-06 05:58] stubailo commented on #271
I think #352 will address this.

[2016-07-06 16:09] dahjelle opened #359 "`readQueryFromStore` using `returnPartialData` returns an empty object if some fields are empty"
What should `readQueryFromStore` return when `returnPartialData` is true and some requested fields are missing? It currently returns an empty object. I'm not sure what the best approach is. Certainly, for my needs, returning `null` or even `undefined` for the missing fields is nicest, and I think makes sense since `returnPartialData` is expected to get the full data at a later point in time from t

[2016-07-06 20:52] Poincare opened #361 "Add named fragments support within roundtrip.ts"
It would be convenient to be able to test store roundtrips for queries with named fragments. Found in #356 .

[2016-07-06 22:07] #359 closed

[2016-07-06 23:40] Poincare commented on #307
Conversation is now off-topic; we should probably open a new issue about the data reloading across pages.

[2016-07-06 23:40] #307 closed

[2016-07-07 02:54] hammadj opened #363 "addQueryMerging not defined in exports"
Tried to setup a custom network interface with query merging, and in the docs here: http://docs.apollostack.com/apollo-client/network.html#addQueryMerging

it says to import the ‘addQueryMerging’ function from apollo-client, however, its not declared in the exports of apollo-client

[2016-07-07 03:29] #363 closed

[2016-07-07 12:41] siegesmund opened #367 "Apollo-Client with isomorphic React+Redux throwing error: localStorage is undefined"
I've refactored an existing app that uses Apollo to render the initial page load on the server. In doing this, Apollo appears to run queries during the initial, server-side render when localStorage is not available.

I'm wondering if there's an established pattern to deal with this?

[2016-07-07 15:55] stubailo commented on #367
Do you want it to run queries when you're rendering on the server? Or do you want to render without data?

[2016-07-07 20:35] Poincare commented on #306
With the above issue in apollostack/docs, I think it is now safe to close this issue on apollo-client.

[2016-07-07 20:35] #306 closed

[2016-07-07 21:03] siegesmund commented on #367
I suppose I'd like to do both, but I'll settle for rendering without data at the moment.

[2016-07-07 22:38] rricard commented on #334
I need to retake a look. Maybe a recent change may have fixed that.

[2016-07-08 00:25] Slava opened #370 "Data reducer requires queries and mutations to be passed in"
Right now the `data` reducer requires `mutations` and `queries` to be passed in because the information in the `APOLLO_MUTATION/QUERY_RESULT` action is not enough to apply a change.

Instead, we should make actions fatter and pass in all the necessary info. After that we should stop passing in mutations and queries into the data reducer.

[2016-07-08 00:46] Poincare commented on #308
Done w/ #369.

[2016-07-08 00:46] #308 closed

[2016-07-08 01:38] stubailo commented on #367
Apollo Client itself doesn't use `localStorage` at all. So it sounds like you might be using a network interface middleware to attach a login token to your request? If so, you should add some logic in there that detects if you are on the server, and doesn't try to get a token from `localStorage` in that case.

[2016-07-08 05:58] stubailo opened #373 "Query transform is not applied to named fragments"
@Poincare I haven't tested this, but I'm 99% sure it's true based on the code. I think I'm going to refactor this stuff anyway though.

[2016-07-08 08:57] rricard commented on #334
@Poincare: my bad the issue is on apollostack/react-apollo: when an error is associated to the component, the component doesn't receive the data anymore.

[2016-07-08 08:58] #334 closed

[2016-07-08 09:36] rricard commented on #334
cf https://github.com/apollostack/react-apollo/pull/98

[2016-07-10 18:24] nevir commented on #332
@stubailo I'm not sure it's feasible to mutate the `SelectionSet` that is used when fetching data from the store.  We need to rewrite the _value_ returned by the store, not the key used to look it up.  For example:

Say after fetching the feed, the store has:

[code]

In order to satisfy `getEvent(id:1)` from the cache, the store needs to yield the id `1` as a value (which doesn't exist in any pla

[2016-07-10 20:42] nevir commented on #332
@deoqc @stubailo here's an approach to tackle this: https://github.com/apollostack/apollo-client/pull/376

[2016-07-11 05:11] tmeasday commented on #298
I think we can close this? There may still be issues around polling, but let's solve them when we get to them?

[2016-07-11 05:11] #298 closed

[2016-07-11 07:36] dalgard opened #379 "Wrapping a REST API in GraphQL"
The article [Wrapping a REST API in GraphQL](http://graphql.org/blog/rest-api-graphql-wrapper/) describes how to use a client-side schema to resolve queries against a REST endpoint.

The schema is inserted as a **network layer** in Relay – can something similar be achieved with Apollo Client?

[2016-07-11 07:46] dalgard commented on #379
Seems easier than I expected: [Custom network interface](http://docs.apollostack.com/apollo-client/network.html#custom-network-interface)

[2016-07-11 14:04] dahjelle opened #380 "Make it easier to ensure the right fields are present for dataIdFromObject"
Idea: should Apollo print a warning if `dataIdFromObject` is provided, but returns something falsey? Apollo currently uses it's default `itemDataId` or `valueDataId` if the response is falsey, but it wasn't immediately clear to me why my queries suddenly started breaking.

Happy to submit a PR if this sounds like a good idea. Would throwing an error or just logging a warning to the console be pref

[2016-07-11 14:41] abhiaiyer91 commented on #380
Ouch. Yes I think more warnings the better!

[2016-07-11 14:44] abhiaiyer91 commented on #370
I agree actions should hold more info, which is a very redux like approach. It'll also be more flexible.

[2016-07-11 18:32] stubailo commented on #379
Yep, that's it! Very similar to the Relay approach.

[2016-07-11 18:32] #379 closed

[2016-07-11 18:37] stubailo commented on #370
Yep, I now realized that relying on all of that stuff already being in the store was a mistake.

[2016-07-11 18:39] stubailo commented on #370
If anyone is interested, this could be a relatively simple refactor to tackle.

[2016-07-11 18:52] stubailo commented on #380
Totally agree, having a warning for this would be great.

Since this function might be called in several places, it might be best to just wrap it where it is passed in: https://github.com/apollostack/apollo-client/blob/82aa1aceaac589926479000fdd872cbe063c8a73/src/index.ts#L177

[2016-07-11 20:44] Poincare commented on #380
What about the case where we have a query that _doesn't_ include an `id`? In that circumstance, we would expect `dataIdFromObject` to return a falsey value, right?

[2016-07-11 21:05] dahjelle commented on #380
It's almost as if, before writing to the store, one wants to look at the existing data, and if it doesn't "look" like the default key (i.e. `ROOT_QUERY._`), then warn if you are about to write over it? I don't know enough about the store format to know if that really makes any sense.

For instance, I see there are quite a few tests in `mutationResults.ts` that have a `dataIdFromObject` that intent

[2016-07-11 21:10] dahjelle commented on #380
I started a [potential change](https://github.com/apollostack/apollo-client/compare/master...dahjelle:dataIdFromObject-warning) but I don't think this is the best design, if only for all the warnings printed in the `mutationResults` tests.

[2016-07-11 21:39] Vanuan opened #384 "Redux: store state and reducers"
As far as I [read](http://docs.apollostack.com/apollo-client/redux.html), there's no way to pass a graphql response through reducers. I've looked into "apollo" state object but it doesn't seem to provide the same data we have in component's properties (in mapQueriesToProperties).

I'm new to redux, but should we be able to preprocess server's response before passing them on to React components?

I

[2016-07-11 22:00] Poincare commented on #380
That's exactly what I meant in my previous comment. I don't think warning the user every time that there is a falsey value returned is a great approach because this seems like a perfectly reasonable thing to do if we don't have an id for a particular object.

[2016-07-11 22:25] Urigo commented on #318
I've just answered it on Stack Overflow here: http://stackoverflow.com/a/38317093/1426570

It's been hard to solve and I totally agree with @stubailo that this is a System.js/Angular CLI issue.

In the answer I link to the solution but also to an active issue about this on Angular CLI.

I think we can close this now

[2016-07-11 22:25] #318 closed

[2016-07-11 22:49] stubailo commented on #380
Yeah that's true - I think I misjudged the situation.

We should see if there is a way to warn people when they didn't have an id but intended to have one, but it's totally reasonable for not all returned objects to have IDs!

[2016-07-11 22:53] stubailo commented on #384
I'd suggest not copying GraphQL state into a new part of the store unless you really need to. If you need to reformat arguments, you can easily just use a new intermediate component:

[code]

[2016-07-12 00:11] Vanuan commented on #384
What if need some computed fields? Putting that logic to a component doesn't feel right. I thought I should be using reducers. But in reducers I don't have access to GraphGL data. Do I?

[2016-07-12 03:20] abhiaiyer91 commented on #370
Alright I'll make the changes

[2016-07-12 05:37] Vanuan commented on #384
Can I just handle `APOLLO_QUERY_RESULT`? Or is it a private action?

[2016-07-12 06:20] abhiaiyer91 commented on #384
You can always use `redux-thunk` to fetch the data and put it in another reducer.
http://docs.apollostack.com/apollo-client/redux.html#async-actions

[2016-07-12 12:57] dahjelle commented on #380
Agreed.

I'm not sure I see a good way of doing that, though. Check if `dataIdFromObject` returns `undefined`?

Looking at this a different way, my issue was entirely due to a misshapen query: it didn't match what `dataIdFromObject` was expecting. Is there another way to define `dataIdFromObject` (i.e. a name of a field? a fragment?) such that one could easily compare against the query to see if t

[2016-07-12 18:29] Poincare opened #390 "Performance Improvements"
We can use this issue to keep track of ideas to improve performance within Apollo Client. Here are a few initial ideas which I'll modify as I learn more about existing applications running on Apollo Client:

* Polling intervals should be decreased in a background tab
* Look into shouldComponentUpdate to prevent useless re-renders
* Smarter handling of the loading state to prevent excessive re-rend

[2016-07-12 18:34] stubailo opened #391 "Don't read from store inside of fetchOverInterface"
We did this to make refetch return a result, but it's not a good approach.

[2016-07-12 18:36] stubailo commented on #390
I think this comes down to just avoiding firing the observer when the query result hasn't changed. People shouldn't need to use shouldcomponentupdate.

[2016-07-12 20:18] #287 closed

[2016-07-12 20:42] stubailo commented on #380
Yeah, this is definitely one downside of the current approach - that you need to manually make sure the `id` is in your queries. I don't have a good solution at the moment, but we should think about it more for the future. One option is to figure out some way to automatically add IDs to the query.

[2016-07-12 21:15] jbinto commented on #384
This issue interests me.

We use a [form library](https://github.com/frig-js/frig/) which is entirely stateless: it uses the `onChange`/`value` pattern and requires another component (or a Redux store, etc) to manage its state.

Currently, we're using a Redux store with keys `form` and `apollo`.

We'd like to be able to extract data out of the Apollo query response, and populate the `form` state t

[2016-07-12 21:26] stubailo commented on #384
Hmm, personally I would have actually used the approach that you just described. But I can understand that it's not appealing to everyone.

How about dispatching an action inside your `componentDidMount` to populate the `form` part of the store? You can do this by getting the data from `mapQueriesToProps`, or you can dispatch a thunk action like Abhi suggested above.

By the way, `connect` from Ap

[2016-07-12 21:50] Poincare commented on #164
See #277.

[2016-07-12 21:50] #164 closed

[2016-07-12 21:54] Poincare commented on #271
This should now be fixed w/ the 0.4.x release?

[2016-07-12 22:34] Poincare opened #394 "Allow app developer to set batcher polling interval"
We should expose a way for the application developer to set the batcher poling interval and give it a sensible default rather than making it something that Apollo Client orders.

[2016-07-13 17:44] #194 closed

[2016-07-13 19:29] stubailo opened #398 "Ideas for improving mutations, mutation results, and optimistic UI"
Right now, we have a working implementation of mutation results and optimistic UI, which can be seen in this PR to GitHunt: https://github.com/apollostack/GitHunt/pull/64/files

First, let's clear up the difference between mutation result handling and optimistic UI for that:

1. Mutation results are achieved via `resultBehaviors` on the mutation. These tell the client where to put the result into

[2016-07-13 19:34] #394 closed

[2016-07-13 21:09] Poincare opened #400 "Don't fire the observer if the result of a query hasn't changed"
If we have a `watchQuery` observer and we receive a result from the server that is identical to the last result we handed to the observer, we should not call the observer at all. This will prevent solutions like using `shouldComponentUpdate` and will reduce useless re-renders on the page.

[2016-07-13 21:24] Poincare opened #401 "Do very simple polling interval grouping"
I have a hunch (developed from looking at the Galaxy UI code) that for lots of applications, most polling queries that we have any hope of batching together will run on the same polling interval. This means that if we just fired the queries with the same polling intervals on the same timer, we'd be able to reap the benefits of batching.

Most of the logic for this has been implemented within `src/

[2016-07-13 21:49] dahjelle commented on #180
I'm not sure where the best place to put thoughts/notes on reactivity is, but since I've been discussing it here so far, I'll continue. Just wanted to share a few things I've been running in to and thinking here.

---

An issue that I just ran in to with this (and is perhaps immediately obvious, but took some time for me to realize) is that if you do a `writeQueryToStore` for

[code]

as in the ex

[2016-07-13 21:52] dahjelle commented on #398
I don't mean to add too many thoughts into this discussion, but I wonder if reactivity is also related? I've been adding updates to the Apollo store from a CouchDB `_changes` feed, and I just recently used one of the mutation behaviors (`mutationResultDeleteReducer`) as part of it.

Some of the discussion on reactivity that I've seen:

#180: updating the apollo store after creation
#172: write up

[2016-07-13 22:48] Slava commented on #398
@dahjelle seems like what you are describing is not relevant to this issue. That being said, it is something we are interested in supporting too. Maybe open a separate issue for a discussion? Thank you.

[2016-07-14 00:39] Slava commented on #398
A new idea how to do it with a reducer-style function:

[code]

[2016-07-14 02:48] Poincare commented on #401
This will have to wait until #385 is merged and I update `QueryManager` so that it calls an instance of `QueryScheduler` which will be able to do this sort of grouping very easily.

[2016-07-14 17:48] stubailo commented on #271
Agreed - the `errors` field on the response doesn't exist anymore, and now we get errors in the form of a `catch`/`error` with an `ApolloError` object.

[2016-07-14 17:48] #271 closed

[2016-07-14 20:51] #225 closed

[2016-07-14 22:19] davidwoody commented on #342
@stubailo It seems like https://github.com/apollostack/apollo-client/pull/385 has added the `queryId` to the result of calling `watchQuery`, so the `queryId` can now be used to read directly from the state of `apollo.queries`.

[2016-07-14 23:01] stubailo commented on #342
Oh, awesome! I didn't even notice. I should publish a new version with all of these changes.

[2016-07-15 02:09] timbotnik commented on #271
@stubailo do you know when this will be avail `react-apollo` land?

[2016-07-15 09:24] dbx834 commented on #26
Hello,

After having recently decided to jump on the Apollo ship, I've been teaching myself Apollo. Please see [http://sandbox.kāla.com/data-emulation](http://sandbox.kāla.com/data-emulation).

Was looking the best way to go about pagination and stumbled across this. I've tried out something similar to what @deoqc has done. Do you think is it a good idea to make some sort of a wrapper for this? So

[2016-07-15 13:19] davidwoody commented on #342
@stubailo haha yeah same, I was about to open up a PR for that tweak, but noticed the new changes in master beat me to it! I added a note to the changelog - https://github.com/apollostack/apollo-client/pull/405

[2016-07-15 16:27] kamilkisiela commented on #342
@stubailo Do we stay with `queryId` and `apollo.queries` or there's going to be that 3rd option implemented?

apollostack/angular2-apollo#43

[2016-07-15 21:11] purplecones opened #406 "Client changes error logging"
Sorry for unclear title but let me try and explain in more detail. Since starting to use Apollo Client, I've noticed that console errors, when they appear, are not as clear anymore and hard to debug. For example, below is a simple Container/Component. In `render()` I try to access properties that do not exist:`console.log(this.props.propThatDoesNotExist.test)` should throw an error.

**Component**

[2016-07-15 21:29] nevir commented on #227
https://github.com/facebook/relay/issues/114 might have some relevant insights here, too

[2016-07-17 00:06] nevir commented on #400
I'm unsure if I'm running into the same thing, or a slight variation of it:

I have a `watchQuery` (with `noFetch: true`); the observer's `next` fires _2 or 3 times_  each time the store is changed, even if some other portion of the store (not owned by apollo) was modified

[2016-07-18 03:26] Poincare commented on #400
Hm. That should not happen if the part of the store associated with the store was left untouched. Could you file an issue that would allow us to reproduce the problem? (a unit test would also be great!)

[2016-07-18 18:35] Poincare opened #410 "A few changes in store format"
After discussing potential solutions to #344 with @stubailo, we realized that there is a need for some changes to the store format that allows us to distinguish between generated ids, application-provided ids (i.e. returned by `dataIdFromObject`) and normal scalars. This issue describes a proposed change to the store format that will allow us to make these distinctions.

## Why?

Suppose these two

[2016-07-18 18:55] stubailo opened #411 "Add query name and path to "can't find field" error from diffQueryAgainstStore"
That would be really helpful to identify which data is wrong in your store.

[2016-07-18 22:44] stubailo opened #413 "Don't apply queryTransforms to the first level"
If we have an `addTypename` transform, we want this:

[code]

To become this:

[code]

And not this:

[code]

So we don't want to add fields to the root mutation or root query selection set on operation definitions.

[2016-07-18 22:47] stubailo opened #414 "Split ObservableQuery out of QueryManager.ts"
It will make that one file less complex. Perhaps other things can be moved out while we're at it.

Anyone can take this, @Poincare @amandajliu @Slava

[2016-07-18 23:05] Poincare commented on #400
Since #402 was merged, this issue can now be closed.

[2016-07-18 23:05] #400 closed

[2016-07-18 23:13] stubailo commented on #400
And deployed!

[2016-07-18 23:14] stubailo commented on #400
@nevir can you check if `0.4.2` fixes your issue with multiple firing?

[2016-07-18 23:16] stubailo commented on #410
Looks good to me 👍

[2016-07-19 00:39] #414 closed

[2016-07-19 01:00] stubailo commented on #406
Hey, this is a duplicate of this bug (which is in react-apollo, not this package): https://github.com/apollostack/react-apollo/issues/57

Please help identify the cause, we've been trying to track it down for a while since it can be pretty hard to reproduce.

[2016-07-19 01:00] #406 closed

[2016-07-19 01:01] stubailo commented on #370
Amanda's on it now.

[2016-07-19 01:01] stubailo commented on #271
Should be now! Since react-apollo doesn't do anything special with errors, it just passes them through AFAIK. does it not work?

[2016-07-19 01:51] tomitrescak opened #420 "Catching errors"
Hi, previously the errors in query made it to the view component so I could add a bit of functionality to view the error stack.

Now in query manager you reject the erroneous query and view component is never rendered:

[code]

I am using react to render my components with `mapQueriesToProps`.
How can I catch errors coming from the Apollo while using react-apollo?

Thanks

[2016-07-19 01:54] tomitrescak commented on #420
Never mind. It was only Redux acting up.

[2016-07-19 01:54] #420 closed

[2016-07-19 01:57] nevir opened #421 "Idea: flatten arrays of fragments when querying"
Because `createFragment` returns an array of fragments, you've got to be a bit careful when passing around its result - particularly when you're composing several fragments together:

[code]

---

For this sort of situation, it'd be helpful if `createFragment` and `query` flattened out any nested arrays of `FragmentDefinition`s they got

[2016-07-19 02:33] stubailo commented on #421
I thought it already did this, or at least that was definitely the intention. Could you PR a failing test case for this? Then @Poincare should look at it.

[2016-07-19 02:36] stubailo commented on #420
There's some really hard to track down bug here that might be relevant: https://github.com/apollostack/react-apollo/issues/57

[2016-07-19 02:43] nevir commented on #421
Yup!  Probably won't get around to that for a few days though

[2016-07-19 02:51] stubailo commented on #421
OK we will hopefully get to it before then.

[2016-07-19 02:56] nevir commented on #400
@stubailo can confirm - all better as of `0.4.2`

[2016-07-19 03:22] stubailo commented on #400
Sweet! It really helped in our app as well.

[2016-07-19 07:32] purplecones commented on #406
Thanks @stubailo . I read through the issue you mentioned and it appears to very similar. However, one noticeable difference is that I am **not** using the `react-apollo` but still run into the issue. In fact, I don't have `react-apollo` at all in my `node_modules` folder.

[2016-07-19 08:56] adamjking3 opened #423 "Query Error Handling"
I am using apollo server and apollo client. Here is a resolver passed to apollo server:

[code]

and my query

[code]

Everything works correctly, however when the resolve method throws an Error, the client console prints `QueryManager.js:409 Uncaught (in promise) ApolloError {graphQLErrors: Array[1], networkError: undefined, message: "GraphQL error: No user with that email address exists."}`.

Wh

[2016-07-19 12:20] paldepind opened #424 "How to achieve offline support?"
Is it possible to use Apollo together with a client side database to achieve offline support? I found #307 where some comments imply that it should be possible but without explaining how.

Ideally we'd like to persist the data that Apollo fetches to a local database and use that database instead of fetching from a remote when the client is offline.

[2016-07-19 16:40] stubailo commented on #424
You might be able to use something like this: https://github.com/rt2zz/redux-persist

The goal is that you can use some standard Redux offline library rather than needing something specifically for apollo, but I don't know if we have all of the necessary features for this. Can you list some of your requirements? I think all we need to do is write up a guide about offline use, and give a few exampl

[2016-07-19 16:46] stubailo commented on #406
Ah, I think it's an issue with react-komposer or whatever Mantra uses then. Basically, the problem is that the rendering is done synchronously inside `onData`, meaning that the network request promise catches all errors from React accidentally.

I'd suggest using `react-apollo` instead, since it's got some really great Apollo-specific functionality that will reduce rerenders, pass through errors a

[2016-07-19 16:59] stubailo commented on #423
Good catch! I think just one small change would fix this. We shouldn't call `reject` here, since we already dispatched an error action: https://github.com/apollostack/apollo-client/blob/378cbbe6054d0bae2b4ede2387d19dc2d1927567/src/QueryManager.ts#L732

We already identify unhandled errors here: https://github.com/apollostack/apollo-client/blob/378cbbe6054d0bae2b4ede2387d19dc2d1927567/src/QueryMana

[2016-07-19 17:15] purplecones commented on #406
Thanks @stubailo ! I'll look into your suggestion

[2016-07-19 18:58] paldepind commented on #424
Thank you for your response @stubailo.

redux-persist is great but I don't think it solves the problem that we have (I could be wrong though). One aspect is that you persist exactly what is in the store. That is fine as long as one is comfortable with keeping the entire persisted client site in memory. But for more complex needs I believe a proper client side database is needed (i.e. Realm, Indexe

[2016-07-19 21:52] Poincare commented on #421
Maybe I am misunderstanding the issue at hand but from the test added in #425, it seems that `createFragment` currently returns a flat array of `FragmentDefinition` instances. Could you check it out @nevir ?

[2016-07-20 00:23] stubailo commented on #421
@Poincare wait.. I just realized your test tests something totally different. Can you write a test where you pass an array of fragments into `query`?

[2016-07-20 00:52] nevir commented on #421
Ah, yeah, sorry, the case is more like this:

[code]

[2016-07-20 01:53] stubailo commented on #424
Honestly it seems pretty hard to implement resolution of arbitrary GraphQL queries on the client. I guess you could reimplement your entire schema against the client-side database, but then you would be quite limited in what kinds of server-side features you could use.

Can you give me more specific examples of different views in your app, what data could be in there, and what queries you would ne

[2016-07-20 02:20] dahjelle commented on #424
(This is a bit off-topic from Apollo Client, but in the interest of discussing offline support…)

[PouchDB](https://pouchdb.com/) is a client-side database that's nearly feature-equivalent to CouchDB on the server, and uses the CouchDB sync protocol to enable syncing between front- and back-ends. PouchDB can also act as a proxy to a CouchDB instance, so it wouldn't be unreasonable to write a bunch

[2016-07-20 02:31] stubailo commented on #424
I agree that this is possible - a similar concept is achieved by meteor with MongoDB and minimongo as well. I'm just saying that graphql is not the right server technology for this kind of database synchronization.

If you have some way of synchronizing the database to the client then you can definitely run GraphQL queries against that with Apollo Client.

[2016-07-20 02:33] stubailo commented on #424
I'm just coming from the perspective where you are trying to query many different kinds of back end data sources and you can't sync them all into MongoDB or couchdb or similar.

[2016-07-20 07:20] paldepind commented on #424
The goal is not to implement the entire capabilities of the server client side. Only some subset that would give sufficient offline features in our application. I.e. the local resolvers would be given the chance to get the data locally but they are allowed to fail if the user is trying to do something that only works online.

I am aware of PouchDB. It is a great solution to creating offline first

[2016-07-20 07:42] stubailo commented on #424
My current theory is that for at least some applications it will be sufficient to not have any resolvers on the client at all, and just use previously fetched query results stored in the Apollo Client cache (something that already works now out of the box).

Perhaps to start a deeper discussion we can talk about a case where that isn't enough? I think it will be a lot easier to think about specifi

[2016-07-20 07:53] paldepind commented on #424
I think the theory sounds accurate. Is there a way to make the client cache persistent?

Maybe one case where that isn't sufficient is if your server supports querying a list of something over a range and you'd like to support that offline as well with different variables. If you've previously queried parts of or the entire list it should be possible to persist those results and perform the query

[2016-07-20 09:17] Poincare commented on #421
Ah, got it. I had misunderstood the issue. I'll fix the test and add the array flattening.

[2016-07-20 10:01] mquandalle commented on #424
There is a lot of demand for a version of Wekan that would work offline, it should
* be able to persist boards and cards data across refresh (either in localstorage, IndexedDB, or AsyncStorage in the case of react-native)
* be able to resolve queries using this local cache
* be able to do some mutations (“add a card”) and have it reflected in the local cache
* keep a queue of unsynced mutations an

[2016-07-20 13:51] smolinari commented on #424
This is a great discussion.

I was thinking, how about having a "syncing" query system built that isn't UI driven, but rather "offline system" driven, which can also fill Apollo's store (and automatically any browser persisted data system). In other words, data would be pre-fetched with a forward-looking algorithm, as if the user was working her way through the app. This basically would prime the

[2016-07-20 17:11] drejohnson opened #429 "Wrong paths in definition file causing errors"
Wrong paths in definition file: node_modules/apollo-client/index.d.ts
[code]

Should be:
[code]
[code]

[2016-07-20 17:15] kamilkisiela commented on #429
Should be fixed by #428

[2016-07-20 17:32] drejohnson commented on #429
Nice! What about the ```Cannot find name 'RequestInit'```?

[2016-07-20 17:38] kamilkisiela commented on #429
You should install typings for fetch pollyfil that you're using. See chapter [_"Fetch Polyfill"_](http://docs.apollostack.com/apollo-client/core.html#fetch-polyfill) from docs.

It doesn't really matter if you're using `whatwg-fetch` package and typings for `isomorphic-fetch` package, you can install typings globally for one of these node modules.

I did it in Angular2 version of GitHunt, [see the

[2016-07-20 17:47] drejohnson commented on #429
Got it thanks!

[2016-07-20 17:47] #429 closed

[2016-07-20 18:16] kamilkisiela commented on #194
Maybe you guys will be interested in it.

Here's [an implementation](https://github.com/apollostack/angular2-apollo/blob/d38cbcd28323ff56457acc5281b0775c7e3a41b3/src/apolloQueryObservable.ts) of `QueryObservable` that works with RxJS.

---

[code]

To solve that problem I created custom observable called `ApolloQueryObservable` that extends `Observable` from RxJS. `QueryObservable` is being hold u

[2016-07-20 18:19] stubailo commented on #194
Hmm, sounds like this could be a good idea. Could you open a new issue with some details about how `ApolloQueryObservable` works?

[2016-07-20 18:20] Poincare commented on #148
This was merged some time ago with `createFragment`. We can close this issue at this point, probably.

[2016-07-20 18:20] #148 closed

[2016-07-20 18:22] stubailo commented on #421
@Poincare I think you should be able to create a fragment that has a dependency on multiple other fragments - how would you do that without this nested array approach?

I would definitely expect @nevir's approach to work.

Also, can't we just add one more level of possible nesting? I don't think it has to be arbitrary, just one more level.

[2016-07-20 18:30] kamilkisiela opened #430 "RxJS support"
Here's [an implementation](https://github.com/apollostack/angular2-apollo/blob/master/src/apolloQueryObservable.ts) of `QueryObservable` that works with RxJS.

---

[code]

To solve that problem I created a custom observable called `ApolloQueryObservable` that extends `Observable` from RxJS.

`QueryObservable` is saved under `apollo` property. This way I could create methods like `refetch()`, `sta

[2016-07-20 18:30] kamilkisiela commented on #194
#430

[2016-07-20 18:35] Poincare commented on #421
@stubailo

So, we could do dependencies on other fragments by doing this:

[code]

This declares a dependency between `fragmentDoc1`, `fragmentDoc2`, `fragmentDoc3`. @nevir's approach could work as well and I think doubly nested arrays should work as long as no one tries to use something like `[fragment1, [fragment2, fragment3]` to create a dependency structure.

I think the key distinction is tha

[2016-07-20 19:16] octohedron opened #431 "Possible unhandled promise rejection"
I'm trying to work this out, I'm getting an annoying YellowBox warning that reads "Possible Unhandled Promise Rejection: Network error: Network request failed" when running my app without an internet connection for testing purposes.
 [As explained in the docs: "The promise should be rejected in the case of a network error".](http://docs.apollostack.com/apollo-client/network.html)

This is the code

[2016-07-20 19:39] yanisurbis opened #432 "Apollo-client for Elm?"
Did you think about that? =)

[2016-07-20 20:37] stubailo commented on #421
@Poincare I'd really like to do the nested array approach - that seems the most natural to me, rather than having to call createFragment multiple times.

[2016-07-20 20:51] stubailo commented on #432
Never used Elm - can you use NPM packages?

[2016-07-20 20:52] stubailo commented on #431
Duplicate of: https://github.com/apollostack/apollo-client/issues/423

There's an idea for a fix there, could you submit a PR for it?

[2016-07-20 20:52] #431 closed

[2016-07-20 21:03] dahjelle opened #434 "Several error reporting issues"
I think there may be several issues here; this is prompted from [a discussion with @Poincare in Slack](https://apollostack.slack.com/archives/general/p1469029558000617) These may be separate issues; let me know if you'd prefer separate open issues for each.

# Issues

1. `render` error reported as a `networkError`
2. `ApolloError` object does not include stack traces
3. `crashReporter` from `store

[2016-07-20 21:08] #344 closed

[2016-07-20 21:13] stubailo commented on #434
@dahjelle is this example something we can clone and run locally?

[2016-07-20 21:23] dahjelle commented on #434
I put it in [this GitHub repo](https://github.com/dahjelle/apolloerror-example). Should be fairly straightforward to get it going (but, then again, it's the stack I'm used to :-) ).

[2016-07-20 21:33] stubailo commented on #434
Nice, I dig the mocked network interface! This could be a great way to distribute simple examples :]

[2016-07-20 21:46] dahjelle commented on #434
I was pretty pumped when I realized you'd set things up to enable mocking a whole GraphQL server. 👍

[2016-07-20 21:49] stubailo commented on #434
That's how we run all of the apollo client tests! https://github.com/apollostack/apollo-client/blob/master/test/mocks/mockNetworkInterface.ts

[2016-07-20 21:54] Poincare commented on #434
I think (1) may be tied to one of the current issues with `react-apollo`, (2) is definitely fixable from `apollo-client` (I'll work on it) and I'll have to look more into (3) to figure out what is going on.

[2016-07-20 22:08] Poincare commented on #401
This is done with #403.

[2016-07-20 22:08] #401 closed

[2016-07-20 23:06] Poincare commented on #421
See #437 for fix

[2016-07-20 23:06] #421 closed

[2016-07-20 23:10] Poincare commented on #390
This stuff has been completed and merged (#403 and #402) so I'll go ahead and close this

[2016-07-20 23:10] #390 closed

[2016-07-20 23:48] Poincare commented on #410
Done with #389

[2016-07-20 23:48] #410 closed

[2016-07-21 00:55] nevir commented on #421
Sweet, thanks for the quick turnaround!

[2016-07-21 01:41] igrayson opened #439 "Mutation retry/persistence"
Hi team,

We've been following along with the progress on optimistic updates for mutations, and are considering how best to augment one remaining feature to bring this client to parity with our existing (non-GraphQL-based) redux architecture: request retries which persist through application restarts.

I'd be grateful for feedback on the follies or values of the following actions, to get us there:

[2016-07-21 02:18] nevir opened #440 "Concurrently requesting a node w/ and w/o an identity triggers #380"
This seems like it might be somewhat different than #380 - so reporting as a separate issue:

In our application, we have configured `ROOT_QUERY.viewer` to be the current user.  As seems common, many of our queries are rooted off of that node for convenience.  In this instance, we made the following requests concurrently (but far enough apart that they are not merged):

[code]

[code]

Depending o

[2016-07-21 04:39] stubailo commented on #439
Hey I'll think about this in more detail later, but I'm curious - have you already implemented all of the bullet points above, or is that something you are thinking about doing?

[2016-07-21 04:43] igrayson commented on #439
We haven't implemented this. We're looking this for the near future.

[2016-07-21 05:09] woniesong92 opened #441 "Empty variables in mapQueriesToProps throws"
[code]

If you pass in an empty object `{}` to `variables`, you get the following error.

[code]

[2016-07-21 05:22] stubailo commented on #441
@woniesong92 I think you have the `variables` in the wrong object - it should be inside `post`, like this:

[code]

[2016-07-21 05:22] #441 closed

[2016-07-21 06:53] Poincare commented on #440
I don't think this is related to #380 but it is closely related to #410 and #344.

Judging from the fact that the ids generated by Apollo don't have "$" in front of them, the application is still using a release that's older than one of the two released today. If so, could you update to the latest release and see if that fixes the issue? If not, I'll look into it tomorrow and hopefully fix it.

[2016-07-21 09:09] Akryum opened #442 "Add forceFetch option to ObservableQuery.refetch()"
This could allow to call `refetch` with `forceFetch: false`, to change the variables of the `watchQuery` while still using the cached data if any.

Is [this](https://github.com/apollostack/apollo-client/blob/master/src/ObservableQuery.ts#L80) the right code to change?

[2016-07-21 09:11] Akryum commented on #442
This will essentially be usefull for my integration with Vue, that way I can call `refetch` with new values from the Vue data-binding system.

[2016-07-21 15:56] nevir commented on #440
Aha, awesome - I'll get our copy rebased and caught up today

[2016-07-21 17:39] stubailo commented on #442
Similar/duplicate: https://github.com/apollostack/apollo-client/issues/272

[2016-07-21 17:56] Akryum commented on #272
Isn't this less efficient in terms of performance/memory?

[2016-07-21 17:57] Akryum commented on #442
Agreed.

[2016-07-21 17:57] Poincare commented on #373
Fixed by @amandajliu

[2016-07-21 17:57] #373 closed

[2016-07-21 18:17] stubailo commented on #272
Not really - the overhead of creating an observable object is basically 0, everything else is handled by the cache almost exactly the same way.

[2016-07-21 18:19] stubailo commented on #272
Or yeah, I guess there are also some extra things stored in Redux when you start/stop a query. So it could be less efficient, but we haven't run into that as a source of problems in our production apps. It's mostly React renders that are very costly.

[2016-07-21 18:51] Poincare commented on #434
As far as I can tell, it seems that both (1) and (3) are related to `react-apollo` (see [this issue](https://github.com/apollostack/react-apollo/issues/57)) since I tried and failed to reproduce them inside Apollo Client. (3) is certainly interesting - I'm not exactly sure why it is happening. Any thoughts, @stubailo?

I did fix (2) and submitted #445. However, the stack trace added will contain a

[2016-07-21 22:33] #434 closed

[2016-07-21 22:38] Poincare commented on #423
Should be fixed with #445. If it isn't, we can re-open the issue.

[2016-07-21 22:38] #423 closed

[2016-07-21 23:06] nevir commented on #440
Alright, caught up - the errors still fail (which _is_ expected?), but I get a more reasonable error:

[code]

[2016-07-22 01:31] Slava opened #448 "Mutation's invalidateQueries option"
Right now, a mutation allows you to specify how to update the results of certain queries by supplying a reducer function.

But if it is too complicated, or you just don't care enough to do it, the right way would be to refetch the whole query from scratch. Right now, there is no easy way to do that, but implementing it should be relatively easy:

[code]

[2016-07-22 05:06] paralin opened #450 "Argument of type ApolloClient is not assignable"
Getting some typescript warnings with the apollo client. Where should I look to start trying to fix this? The `APOLLO_MUTATION_INIT` part is confusing me away from finding the source of the error.

[code]

Thanks for any help.

[2016-07-22 11:38] kamilkisiela opened #451 "Fragments and `Can't find field <field> on result object ROOT_QUERY`"
Pattern:

https://gist.github.com/kamilkisiela/43964606ee4d0ee436257be719b93b0a

Repro:

https://github.com/apollostack/GitHunt-angular2/tree/issue-fragments

An error (from different project so don't look at paths):

[code]

[2016-07-22 13:29] Akryum commented on #424
Is there any documentation already available about how to do just that?

[2016-07-22 17:17] Poincare commented on #451
@kamilkisiela Is this on the latest update of Apollo Client? We made some pretty significant changes to the store format so this may have been an unintended consequence.

[2016-07-22 17:19] Poincare commented on #440
Yup, that's what should happen. The way the store is structured, there isn't really a way out of this problem other than just asking for IDs as far as possible.

I guess we can now close this issue since it is exhibiting intended behavior.

[2016-07-22 17:19] #440 closed

[2016-07-22 18:00] nevir commented on #440
👍

[2016-07-22 18:35] Poincare commented on #324
@stubailo can we close this?

[2016-07-22 18:57] Slava opened #455 "A proposal for Computed Views"
There is a need for a higher-level abstraction to work with graphql queries, accumulating some state, and binding to a UI component.

The use-cases that we think it will solve are: pagination, infinite scrolling, anything else?

What a "Computed View" represents:
- rendering a single component, composed of result of multiple queries over time
- some state that is accumulated
- an initial query tha

[2016-07-22 19:13] kamilkisiela commented on #451
Latest at the time I checked this, it was 7h ago.

pt., 22 lip 2016, 19:17 użytkownik Dhaivat Pandya <notifications@github.com>
napisał:

[2016-07-22 21:01] Poincare commented on #451
@kamilkisiela Ok, this must be a bug then. I am now looking into it and will hopefully producing a test that reproduces it + a fix.

[2016-07-22 22:26] Poincare commented on #451
@kamilkisiela So I tried to reproduce this issue within #456 but I couldn't quite do it. Could you look into the unit test - maybe I missing some crucial component that's actually causing the error?

[2016-07-23 00:47] yanisurbis commented on #432
No, we haven't, we have elm packages. But several days ago was the announcement of react-elm-components (https://github.com/evancz/react-elm-components) which I missed, so... we can use Appolo now. Thanks for your response.

[2016-07-23 00:47] #432 closed

[2016-07-23 01:18] stubailo commented on #432
Great! Let me know if I can help in any way.

[2016-07-23 14:35] saikat commented on #398
For 'You need to make sure that the fields in your mutation result match up with the fields you need to render in the UI, which basically means it should match the fields you ask for in the queries on this page of the UI. This can be mitigated using fragments, but that makes optimistic UI harder, see below' -- am I right in thinking that this also means that if you have any components outside of t

[2016-07-23 14:51] saikat commented on #380
I have an implementation of dataIdFromObject that does this:

[code]

However, if I forget to include id in my queries, I still get this error:

`Error: Can't find field displayName on object [object Object].`

Is this to be expected? I was hoping that returning a randomString would just duplicate the object in the client-side store, but not lead to any actual problems.

[2016-07-23 15:10] drager commented on #284
This can be closed now since #399 is merged?

[2016-07-23 20:40] Poincare commented on #380
If you return a random string and this string is different every time that the we have to get the object from the server, that will cause problems in looking up the element when we want to read from the store again (i.e. the `dataIdFromObject` must be a pure function). Instead, you should just return "nothing" (i.e. `undefined`) and Apollo Client will take care of generating the id for the object.

[2016-07-23 20:52] hammadj opened #458 "ApolloError not thrown when receiving mutation result with GraphQL errors"
ApolloError is not thrown when the result of a mutation contains errors. Haven't tested with queries yet so I don't know if this is only a problem for mutations.

Example:
[code]

Results in `ApolloError not thrown` being logged to the console.

Example of result with errors:
![image](https://cloud.githubusercontent.com/assets/7143583/17080241/a4070b48-50dc-11e6-8c16-c017a491e4ce.png)

[2016-07-23 21:41] saikat commented on #380
Nope, it just wasn't clear to me how to invoke the default action that
Apollo Client would take from this method.

On Sat, Jul 23, 2016 at 4:40 PM Dhaivat Pandya <notifications@github.com>
wrote:

[2016-07-23 22:20] Aweary commented on #380
@saikat you can see the behavior in [`writeToStore`](https://github.com/apollostack/apollo-client/blob/8901ee023d788d6cf818a22324342f3e26992fac/src/data/writeToStore.ts#L271-L279)

[2016-07-25 06:00] dbx834 commented on #26
Hello again,

Here's another solution that works fairly well with RESTful APIs,

I have been able to do all sorts of things - sort, filter, sort on particular columns, text-search using this method.

Server,
[code]

And, in client,

[code]

[2016-07-25 08:30] rricard commented on #455
I feel like splitting the state is not necessarily a great idea considering that the Redux store is usually a good single source of truth. What I like about apollo is this central store and I feel like this would break that by adding another state layer. However I'm not a core dev and maybe you have other goals than I have, rendering this proposal more necessary...

Note that at some point, in my

[2016-07-25 17:53] dbx834 commented on #26
Here's a working example, [Apollo-Paginate](http://sandbox.kāla.com/data-emulation/paginate)

[2016-07-25 18:32] dbx834 commented on #455
Hi, I just stumbled across this post. What is your view on this - [Apollo-Paginate Example](http://sandbox.xn--kla-1oa.com/data-emulation/paginate) @rricard and @Slava?

[2016-07-25 18:45] Slava commented on #455
@dbx834 looks like the example that you linked uses Redux to store the intermediate state. In practice, this proposal offers to do the same, just with a little bit less boilerplate and an "opinionated and official way" to do pagination. I think other than that, this proposal is thinking in the same line with your example?

@rricard I will need to re-read your proposal for `fetchMore`, so far I don

[2016-07-25 18:50] rricard commented on #455
@dbx834 - My goal is to get an infinite pagination system (this one is cool but it actually creates a new hierarchy in the store, therefore, not allowing infinite pagination easily in situations such as react-apollo)

[2016-07-25 19:02] Poincare opened #464 "1.0 Countdown"
When we started working on Apollo Client, we wrote up a [design document](https://github.com/apollostack/apollo-client/blob/master/design.md) that outlined all of the features we need for an initial production-ready version.

At this point we have working implementations of most of these features. We want to ship a "1.0" release in a reasonable timeframe to signal that people should be confident r

[2016-07-25 20:58] Poincare commented on #458
#465 should be the fix for this.

[2016-07-25 21:12] Poincare opened #466 "Loading state design"
As discussed in #342, we want Apollo Client to handle most of the logic around loading states and `returnPartialData` rather than passing on this responsibility to view layer implementations such as `angular-apollo` or `react-apollo`. To do this, I am proposing the following design and would be happy to hear feedback.

## Design

We will add a `loading` field to `ApolloQueryResult` which will be a

[2016-07-25 21:36] saikat commented on #464
This is exciting!  I just deployed our first Apollo app in production today, and overall I'm really impressed with where things are.  Here's my list of issues that felt important to prioritize for a 1.0:

1) **Handling client-side store updates across componentsfrom the result of a mutation.**  Currently there are 3 ways to do this, but it's not clear to me (may just be my own lack of understandin

[2016-07-25 23:35] jbaxleyiii commented on #342
@stubailo @kamilkisiela I would love for this to be done!

[2016-07-25 23:55] Poincare commented on #342
This should be fixed through #467 and then we can work on implementing the required changes within the view layers

[2016-07-26 00:16] Poincare opened #468 "Unifying error handling further"
It is somewhat difficult to handle errors well at the moment. I'm using this issue to write down some ideas as to how we can improve error handling within Apollo Client.
## Goals
1. It should be easy to ignore error handling entirely and just have the errors printed to the console
2. It should be easy to differentiate the type of error that has occurred within the set of stuff that Apollo deals wi

[2016-07-26 00:16] Slava commented on #455
@rricard

After thinking more about this feature and possible other solutions for pagination, I think this proposal is describing something that is adding complexity and is not solving the problem in hands (pagination) well.

Multiple questions arose when I was working on an implementation for this proposal:
- are the queries issued by a computed view observed or not?
- how is the queries cache co

[2016-07-26 00:16] #455 closed

[2016-07-26 02:19] stubailo commented on #466
This looks great!

[2016-07-26 04:05] HriBB commented on #464
Basically what @saikat wrote + file upload. 1.0 simply needs that.

[2016-07-26 04:29] stubailo commented on #464
@saikat great feedback, thanks! Really appreciate it. Going to look at all the items, but for `updateQueries` in more detail:

`updateQueries` does work across all queries in the whole app, and the results are actually normalized into the store so any objects affected by the query reducer are updated in all components. I agree that this creates a somewhat undesirable situation where you need to ke

[2016-07-26 04:38] #458 closed

[2016-07-26 04:54] #354 closed

[2016-07-26 04:54] #355 closed

[2016-07-26 04:54] #361 closed

[2016-07-26 05:05] stubailo commented on #458
Released in 0.4.8!

[2016-07-26 05:25] stubailo commented on #423
Released in 0.4.8!

[2016-07-26 07:33] stubailo commented on #450
Which versions of everything are you using?

[2016-07-26 07:39] stubailo commented on #398
@saikat Yes, that's correct. But I'm not sure how to get around this. I guess one option is to somehow keep track of which fields are accessed on that todo item so that they can all be refetched.

I feel like for complex cases (when lots of parts of the UI are being updated) it might be pretty reasonable to refetch queries, but for simple cases the current approaches will work?

[2016-07-26 07:47] rricard commented on #455
@Slava, that works for me. I agree we need to be precise with the API. While implementing the smaller PRs though, I had some ideas to make that better though. Can't wait to talk to you guys about it.

[2016-07-26 08:05] joarwilk commented on #380
Do you have access to the GQL schema definition inside the client? A good case would be to log warnings when the id field is present in the schema but not in the query. I have some types without an ID and for those it'd be nice to not warn even though `dataIdFromObject` may return falsy.

Expanding on that case, a client setting which auto-includes the id field for all types which has an id in the

[2016-07-26 08:08] stubailo commented on #380
Right now we are trying not to require having the schema on the client or in a build tool, but I'd definitely be open to something optional that people can use if they want to. There are a few options:

1. Load the schema on the client only in development, to provide the warnings mentioned above
2. Load the schema in a developer tool like an ESLint plugin, that warns you when you are missing the I

[2016-07-26 08:17] joarwilk commented on #380
Having it as an ESLint plugin feels like it makes the most sense imo since it'd hook into most users regular workflow and you can add it on an on-demand basis.

[2016-07-26 12:40] saikat commented on #398
I wonder if having an option to just fetch every field on the mutation
result would be better than having each of the dependent queries be
invalidated and do a refetch.  This doesn't solve the list insertion
problem, but if that happened out of the box, I would personally probably
just move to a model where all my lists are owned by a 'collection' type
where the collections have unique IDs so I do

[2016-07-26 15:40] HriBB opened #470 "[0.4.8] Cannot read property 'forEach' of undefined at Object.createFragmentMap when doing updateQueries"
I get APOLLO_MUTATION_ERROR when I do `updateQueries` after a successful server mutation.

[code]

This is my mutation

[code]

`fragments` variable is undefined in `createFragmentMap` [here](https://github.com/apollostack/apollo-client/blob/master/src/queries/getFromAST.ts#L116)

Any ideas???

[2016-07-26 16:20] HriBB commented on #470
The problem goes away if I add `fragments: []` to `mapQueriesToProps`

[code]

I will leave this open until we can confirm whether this is a bug or not.

[2016-07-26 16:34] stubailo commented on #470
Thanks for the report! We will look into it ASAP. Thanks for giving `updateQueries` a try!

[2016-07-26 16:39] Poincare commented on #439
@igrayson

Currently, your queries created through `watchQuery` will be refetched automatically on an "application restart" if you use `resetStore`. I'm not sure if doing this sort of thing would make sense for mutations since they generally modify server state and you definitely wouldn't want to retry all mutations. Does it make sense to just expose a `refetch` method on a mutation promise?

[2016-07-26 17:01] HriBB commented on #470
@stubailo I got it working now, but I had to add `fragments: []` to all my `mapQueriesToProps` queries.

Just for the reference, if anyone is interested in `updateQueries`, this is my final implementation

[code]

Perfect! I love it! Good job apollo team!

[2016-07-26 17:31] Poincare opened #471 "QueryManager refactor"
`QueryManager` has become pretty complex and we need to refactor it before the 1.0 release, as described in #464. I'm using this issue to write down what `QueryManager`'s responsibilities should include, some of the issues that currently plague `QueryManager` and how we can fix them.
## Responsibilities

The `QueryManager` should be responsible for sending queries/mutations to the network interfac

[2016-07-26 20:52] stubailo commented on #470
Hey, @HriBB heads up, you might be able to use this feature instead: http://docs.apollostack.com/apollo-client/mutations.html#new-object-or-updated-fields

Since all you're doing is updating fields on a brand object, and that has an `id` on it, you can probably skip writing the updateQueries stuff entirely!

[2016-07-26 21:15] Poincare commented on #284
Yup, this can be closed.

[2016-07-26 21:15] #284 closed

[2016-07-26 21:41] amannn commented on #398
I've read in your new [Medium article on mutations](https://medium.com/apollo-stack/mutations-and-optimistic-ui-in-apollo-client-517eacee8fb0#.gmx44y7is) about the new `updateQueries` features.

Is this really the best way to do this? I know that the underlying problem is somewhat difficult, but this still feels somewhat hack-ish to me. Doing optimistic updates is one thing, but they will be corre

[2016-07-26 23:58] HriBB commented on #470
@stubailo yes, I've read about it and tried it out really quickly, but I'm not sure how to write `dataIdFromObject` function. Are there any examples?

[2016-07-27 00:38] HriBB commented on #464
@stubailo I was trying to do a `multipart/form-data` upload to store a profile photo with apollo client ... did not get far :) I thought I could somehow manipulate the request with `networkInterface` middleware, attach `FormData`, then handle everything on the server before request hits the `expressApollo` server.

Anyway ... what is the official recommendation? Upload files via custom endpoint, t

[2016-07-27 00:53] HriBB commented on #470
Using such a function ...
[code]

... does not work well in my case.

![apollo](https://cloud.githubusercontent.com/assets/4412324/17160343/98e012ee-53a4-11e6-8a03-6e147a1191b9.png)

Data is overwritten and merged ... I don't get it :) Do I need a unique ID for every object in the GraphQL?

[2016-07-27 01:24] stubailo commented on #470
Just use the typename in there as well. check out the githunt example - you can automatically add typenames to your query, and then use them in your ID!

[2016-07-27 02:08] HriBB commented on #470
It works! I don't need `updateQueries` anymore. This is so awesome! I'm always happy when I remove alot of code and everything still works :)

Just for reference, check out [GitHunt](https://github.com/apollostack/GitHunt/blob/master/ui/index.js) example for `dataIdFromObject` implementation. Be sure to add `queryTransformer: addTypename` to ApolloClient to be able to access `result.__typename`.

[2016-07-27 02:23] stubailo commented on #470
So we attempted to document this here: http://docs.apollostack.com/apollo-client/mutations.html#new-object-or-updated-fields

Can you help us improve this information so that it would be easier for others to find it in the future?

[2016-07-27 02:25] stubailo commented on #464
I think I would upload the file using a completely separate Express endpoint, and then when the upload is done fetch data about the file using GraphQL. Is that good enough, or is there some problem with that approach?

[2016-07-27 02:33] stubailo commented on #398
@saikat @amannn Note - if you fetch the parent of the mutated item or array, and you have IDs set up for your objects, it "just works" without using `updateQueries`: http://docs.apollostack.com/apollo-client/mutations.html#new-object-or-updated-fields

There's another aspect of `updateQueries` that isn't very clear from our blog post/documentation - it doesn't just update the result of that one qu

[2016-07-27 02:40] stubailo commented on #380
We could integrate it as a new rule into this project: https://github.com/apollostack/eslint-plugin-graphql

[2016-07-27 03:04] HriBB commented on #470
I'm more of a source code kinda guy, so I would provide a simple example (taken from GitHunt)
[code]

I would point out that string returned by `dataIdFromObject` needs to be globally unique. With `__typename` this should be much more obvious. I would simplify the part where you explain that if you have `dataIdFromObject` defined, you don't need to `updateQueries` when you simply update fields.

T

[2016-07-27 08:09] amannn commented on #398
Thanks for the detailed response!

You mean the regular normalization technique with `dataIdFromObject`, right? That should work regardless of if you implement `updateQueries`, doesn't it? Or is there something special when you use `updateQueries`?

Btw. my comment is mostly about mutations that create or delete entities – I think updates are covered really well with normalization.

Regarding muta

[2016-07-27 18:47] Poincare opened #474 "Reading from store by id"
After talking to several current users of Apollo, we realized that we need to expose some ways to interact with the store without having to understand the normalization that Apollo performs internally.

Providing a way to read an object out of the store given that object's id is one of the easiest and immediately beneficial things to implement.
## Design

Suppose we have some user that we fetch us

[2016-07-27 21:13] #470 closed

[2016-07-27 22:26] nevir commented on #183
I'm wondering if it would make sense for the client to consume the complete schema.  It would alleviate cases like this (apollo-client could just look up the value of the enum).  It would also remove the need for the `addTypename` query transformer (look up the type of a node) - probably other cases too

[2016-07-27 22:38] Poincare commented on #413
Done with #463

[2016-07-27 22:38] #413 closed

[2016-07-28 04:04] smolinari commented on #474
What are some of the use cases or reasons that need the exposing of single objects in the store? I can imagine what could be wanted, just would like to understand better.

I personally think this feature needs more consideration, because, from what I understand of Apollo and its usage of Redux, there is nothing in place guaranteeing the validity of the data being read from the store, when it isn't

[2016-07-28 06:26] stubailo commented on #474
Yeah that's the whole point of caching though, which is that you intentionally show possibly outdated information to save on network and server resources.

[2016-07-28 06:36] Poincare commented on #474
To add to what @stubailo said, we can force-sync data to the server using a refetch.

[2016-07-28 06:43] stubailo commented on #474
I'm not sure if it's better to comment on this or the PR, but I have some concerns about this design - specifically I think it should take a GraphQL fragment as an argument.

[2016-07-28 07:39] smolinari commented on #474
Agreed, though who really wants to show outdated data in most cases? Probably no one. I can see this only useful for data that is very personalized.

I looked through the docs, but couldn't find anything. Does Apollo have a similar subscription system to sync the store with updated data from the server like Relay does?

http://graphql.org/blog/subscriptions-in-graphql-and-relay/

If it did, I'd be

[2016-07-28 16:29] stubailo commented on #474
BTW Relay doesn't actually support subscriptions right now (that blog post just talks about a plan to support it). That's something we are actively experimenting with, however, so realtime data might be something coming very soon - ideally within the month we'll have a working demo.

A TTL approach would be helpful as well.

Basically right now we (and Relay as well) require the developer to manua

[2016-07-28 17:49] Poincare opened #478 "Persisted queries"
From [this PR to express-graphql](https://github.com/graphql/express-graphql/pull/109), it is evident that there is interest around support for persisted/stored queries on GraphQL server implementations and it would be great if Apollo Client could support this feature right out of the box.

I'll use this issue to sketch out a preliminary design for this feature and how we should implement it inter

[2016-07-28 18:53] stubailo commented on #478
To clarify I think the plan is to wait for the express GraphQL pr to land before moving forward with this implementation.

[2016-07-28 21:13] HriBB commented on #464
@stubailo this is exactly how I imagined it. No problems with this approach, I just thought that it would be cool to keep everything "inside" GraphQL, if you know what I mean :)

Just wondering ... will file upload ever be a part of GraphQL, or is this just something that really does not belong in the GQL?

[2016-07-29 05:02] stretchkennedy opened #479 "Exceptions within updateQueries reducer are swallowed silently"
At https://github.com/apollostack/apollo-client/blob/master/src/QueryManager.ts#L261 all errors are caught and turned into `APOLLO_MUTATION_ERROR` actions, which aren't logged by the crashReporter or by anything else, but are passed through to the wrapped component. This includes errors from `collectResultBehaviorsFromUpdateQueries` and thus from `updateQueries`, making it hard to tell when a redu

[2016-07-29 19:01] Poincare opened #480 "Referencing fragments and queries"
Currently, the way that we reference queries and fragments is pretty splintered and leaves the API  feeling somewhat incohesive. There are multiple ways to reference both queries and fragments, depending on circumstance. For example, `updateQueries` refers to queries through query names but fragments are passed around using the return value of `createFragment` rather than by fragment name. Here's

[2016-07-29 19:42] daimeng opened #481 "Maximum cache size"
Quick question, how is cache eviction handled? I'm unable to find any information on it.

[2016-07-29 19:51] helfer commented on #481
Apollo Client currently doesn't do automatic cache eviction (and neither does Relay, for that matter).

So far it hasn't been an issue for anyone, so we're treating this as a low-priority feature, to be implemented at some point in the future

If you have a specific use-case that needs a cache eviction strategy, we'd love to know more about it.

[2016-07-29 20:22] Poincare commented on #481
If you want to empty the cache entirely (e.g. on logout), you can use `resetStore`.

[2016-07-29 21:07] helfer commented on #480
I mostly agree with your proposal. It would be awkward if a fragment or query could have a different name in the document than the one we use to reference it by.

Currently it looks a bit weird because it seems like graphql queries and fragments are just magic strings, but I think it could look much cleaner if the queries and fragments were put into .gql files, which would (in most cases) remove t

[2016-07-29 21:11] Poincare commented on #480
I think the general guideline is for queries to be placed within the same file as the component declaration so `createFragment` and `gql` will likely serve as the most common use case.

[2016-07-29 21:12] helfer commented on #480
That would speak against having a global namespace then, in my opinion.

[2016-07-29 21:30] Poincare commented on #480
I'm not sure if there's a way to accomplish this more effectively. We'll have to reference the fragments by name in any case; passing around references to the fragments and also having to reference them by name is a pain.

Using this approach, we are basically reflecting the "global namespace" that GraphQL has. There is some discussion in the [graphql repo](https://github.com/facebook/graphql/issu

[2016-07-29 21:41] helfer commented on #480
Yeah, since queries and fragments already have names, I think it makes sense to use those. We'll have to force people to choose names though, and make sure that they are unique. If we go down that path, I'm guessing that we'll soon be interested in some sort of namespacing as well.

[2016-07-29 22:12] jbaxleyiii commented on #480
@helfer @Poincare in the new react-apollo, I'm using query/mutation names as the key in the generated props. We also moved our queries into .gql files which get importes. I like the global namespace because it is just graphql at that point. It also mirrors using the schema language to generate the schema on the server to some extent

[2016-07-29 22:28] Poincare commented on #480
Ok, I think this makes sense from most if not all perspectives. I agree that namespacing would be nice if we could have it - until then, I'll go ahead and work on implementing this within Apollo Client.

[2016-07-30 23:35] a-s-o opened #483 "Variables are being coerced into strings by apollo-client in some situations"
Hi,

I am noticing that the variables passed to a query are being coerced. I would like to know whether this is intended behavior or it is an error? Here is an example:

[code]

In the above case, my resolver on the backend receives args of `{ id: '1,2,,,[object Object]' }`. Not sure if it is this package or `apollo-server` that is doing coercing the id to string. I would normally expect something

[2016-07-31 00:16] daimeng commented on #481
Thanks, this is not a pressing concern, I don't have any concrete issues yet. Mostly just curious. I eventually will have a lot of data points being pulled in for graphs. So if I understand the caching correctly, there is some caching by entire query string and caching by parsing/interpreting the query. I was worried primarily about the former.

I wanted the reporting data to be cached and stay ar

[2016-07-31 01:01] jbaxleyiii commented on #227
@stubailo is this still planned?

[2016-07-31 01:20] igrayson opened #487 "Unexpected error in watch query, when another query updates a subset of the selection"
1. When running watchQuery on this query...
[code]

2. ... the entity initially doesn't exist, so watchDeeply gets callback:

3. Something persists mainTodoList in the data source.

4. Another query loads *some* of now-existent mainTodoList:
[code]

5. Meanwhile, `watchDeeply` receives:

[2016-07-31 17:22] Poincare commented on #227
@jbaxleyiii Sort of, although the `readObjectById` that is currently a PR is similar to but not exactly the same as `readFragmentFromApolloState`. The `readQueryFromApolloState` seems to be the same thing as the `noFetch` option that was added.

[2016-07-31 23:23] margaretmoser opened #488 "TypeError: fragments is undefined"
I've been trying (and trying and trying) to get a mutation+updateQuery combination to work, and I'm encountering unexpected issues. I've been following the example provided in the apollo-client doc ("Updating query results with updateQueries").

This is a React application where a logged-in user can save and retrieve bookmarks, which are simple objects with a few scalar properties. I have a Bookma

[2016-07-31 23:52] HriBB commented on #488
Could be related to #470

[2016-08-01 00:06] stretchkennedy commented on #488
This looks like it's related to #470 and #475, but I was able to circumvent that by writing something similar to

[code]

The empty array of fragments had to be provided _to the query_, not to the mutation.

[2016-08-01 00:15] margaretmoser commented on #488
I'll give that a shot, thank you.
On Jul 31, 2016 5:06 PM, "Tim Kennedy" <notifications@github.com> wrote:

[2016-08-01 05:27] margaretmoser commented on #488
I tried it, and indeed it did work. I just started working on this 3 days ago... and #470 was closed 4 days ago but hasn't made it to the npm package yet. Looks like I should switch to pulling master instead of relying on the package since this is moving so rapidly.

Anyway, thanks very much – it's so satisfying to get the round trip working! I've now made several bookmarks just to see them appear

[2016-08-01 07:27] hammadj opened #490 "Renaming queries not working with batching"
If I send the following query in a request that is batched with other queries...

[code]
...it will give me the following error:

![image](https://cloud.githubusercontent.com/assets/7143583/17286384/34a637e4-577e-11e6-861e-976a9238644c.png)

However, if it isn't batched with other queries, it will work fine. It will also work fine if I don't rename the query:
[code]

[2016-08-01 17:44] RobinGa commented on #180
I have a question which is maybe very simple but I can't find the answer anywhere else (I am very new to apollo, thank for all the work achieved so far!)

I have a websocket streaming data into my store and I want to update my components without refetching data. I used this thread to achieve it but my component connected to apollo client by mapQueryToProps won't update:

[code]

Is there any redux

[2016-08-01 17:44] #488 closed

[2016-08-01 18:47] stubailo opened #491 "Figure out how much bundle size would increase if we updated all of the lodash packages"
See the list here: https://github.com/apollostack/apollo-client/pulls?q=is%3Apr+author%3Agreenkeeperio-bot

It's possible they have overlapping dependencies, so it could be pretty small.

[2016-08-01 21:00] Poincare commented on #483
I don't think doing type checking on the variable values should be Apollo Client's responsibility - it should simply follow the query structure.

[2016-08-01 21:18] Poincare commented on #491
For some weird reason, it seems that if I update a few `lodash` packages individually, the bundle size turns out to be larger than if I just run `npm update`.

Before any updates, the bundle size was 35.32 KB. Here are the bundle sizes after running updating each of these packages (in the given order):

[code]

After running a full `npm update`, the bundle size is `37.79kb`. So, I guess this isn't

[2016-08-01 22:32] stubailo commented on #491
OK, let's go ahead and update all of the deps at once then.

[2016-08-01 22:45] #490 closed

[2016-08-02 10:40] rricard opened #495 "Proposal: Mutation/FetchMore-like query reducer after receiving results of a query"
In the recently introduced Mutation and pagination mechanisms, we have the possibility to apply a "reducer" on the query results. This allows for instance to merge mutation results inside of the store or concat and sort two lists (pagination).

However, there is currently no way of applying a function on the results when the query is created (for example for sorting). Yes, this could be achieved i

[2016-08-02 10:42] rricard commented on #495
This mechanism could for example let the user control the update from a previous query state and also control how a refetch is done.

[2016-08-02 13:17] sandervanhooft commented on #26
@dbx834 Server seems to be offline.

[2016-08-02 13:19] dbx834 commented on #26
Please try again. Just checked, it works for me.

[2016-08-02 13:35] sandervanhooft commented on #26
Yes, seems to be up again, thanks! :)
On di 2 aug. 2016 at 15:19, Pranav <notifications@github.com> wrote:

[2016-08-02 13:51] lvauvillier opened #496 "Query diff error when operation has variables"
It seems query diff is not working in some cases when original query use variables.

I have an article container component which retrieve its data and its source from two distinct root queries.

The first time the component is mounted, everything works (the full query is sent to the server). But the second time with a different article and the same source the diff is not working.

Component connec

[2016-08-02 15:17] a-s-o commented on #483
Fair, we can leave it at that. However, this is a desireable check. I can even do the check on the application side but the issue is that after the coersion I have less information about the incoming parameter. This I think is a bad default. So i am enquiring which package is doing that?

[2016-08-02 17:43] stubailo commented on #495
Can you give me an example of when this would be useful? Is it only for sorting? I'd like to think about a few more use cases before settling on a design.

[2016-08-02 18:04] stubailo commented on #483
I think this is something your server is doing. Apollo client simply JSON-serializes the variables and passes them down, which shouldn't be doing any coercion.

Are you using grpahql-js?

[2016-08-02 18:06] a-s-o commented on #483
I'm using apollo-server with express

[2016-08-02 18:07] stubailo commented on #483
I think I'd be surprised if this was done by apollo client. Have you tried putting in similar variables in GraphiQL and seeing if the same thing happens?

[2016-08-02 18:11] a-s-o commented on #483
Okay, i can check that and report back in the evening. Thanks for the suggestion.

[2016-08-02 18:21] rricard commented on #495
For now, I only see sorting (what actually I would need it for) but I'll try to thing about other use cases. If we do that, I agree, it has to be useful but I'm sure there are some other cases where it could make sense too.

[2016-08-02 18:32] #26 closed

[2016-08-02 18:33] stubailo commented on #26
We just merged a new pagination approach: https://github.com/apollostack/apollo-client/pull/472

Docs coming soon: https://github.com/apollostack/docs/pull/157

[2016-08-02 19:18] stubailo commented on #496
Sounds like we might need to avoid sending variables that are not actually included in the query!

[2016-08-02 19:20] stubailo commented on #487
What would you expect to happen in this situation? I guess we could simply not return any data, or you could use `returnPartialData` to just get whatever exists. Thoughts?

[2016-08-02 19:25] stubailo commented on #464
I'm not sure! I don't actually see a lot of benefits in doing file upload through GraphQL, but I'm open to ideas about how it could work.

[2016-08-02 21:08] Poincare commented on #491
So, the `node_modules` are in gitignore and we've set `package.json` to the lowest acceptable version (as we probably should), so what do we need to update? Just the bundle size?

[2016-08-02 21:13] Poincare commented on #466
This was merged with #467

[2016-08-02 21:13] #466 closed

[2016-08-02 21:14] Poincare commented on #448
Merged with #482

[2016-08-02 21:14] #448 closed

[2016-08-02 21:17] Poincare commented on #450
We can re-open this issue if some more info surfaces but I don't think this is an issue w/ Apollo Client.

[2016-08-02 21:17] #450 closed

[2016-08-02 21:18] Poincare commented on #398
Can we close this issue now that each of these have been implemented fully? @stubailo @Slava

[2016-08-02 21:19] #342 closed

[2016-08-02 21:22] Poincare commented on #487
I think `returnPartialData` is the right solution here. The query _should_ error if it can't find a particular field unless you tell Apollo Client that you're okay with not getting the full query results.

[2016-08-02 22:07] a-s-o commented on #483
Hi, reporting back. The issue does not occur through graphiql.

Here is my query in graphiql
[code]
The response is:
[code]

Note: I skipped the null value from my original example above as that causes a SyntaxError in graphiql.

Thanks for taking a look at this.

[2016-08-02 22:09] Poincare commented on #150
@stubailo Does this mean that we want to mock the entire SWAPI schema using GraphQL tools?

[2016-08-02 22:15] Poincare commented on #238
I don't think this applies anymore because we have to end up extracting the query definition anyway

[2016-08-02 22:15] #238 closed

[2016-08-02 22:16] Poincare commented on #280
Done thanks to @Slava

[2016-08-02 22:16] #280 closed

[2016-08-02 22:44] #324 closed

[2016-08-02 22:47] igrayson commented on #487
You guessed it. If I specify `returnPartialData`, it should (and does) return partial data. No problem there.

The problem is that I don't _want_ partial data (and I did not set that flag). In this case, I expect to receive no callback when some other query populates some -- but not enough to be valid without `returnPartialData` -- fields.

[2016-08-02 23:26] Slava commented on #398
yeah, I used this issue as a place to discuss ideas

[2016-08-02 23:29] #398 closed

[2016-08-03 16:41] jordan-burnett opened #501 "Query batching not working when using fragments"
[code]

Gives me the following error when batched with another query:

![image](https://cloud.githubusercontent.com/assets/2143374/17373661/1e511bec-59a1-11e6-9386-a74ea89be392.png)

Works fine when batching is disabled or the fragments are removed.

[2016-08-03 18:07] stubailo commented on #488
@margaretmoser we usually release everything that is merged within one day - so I would be surprised if you needed to use master... #470 is in 0.4.9: https://github.com/apollostack/apollo-client/blob/master/CHANGELOG.md#v049

[2016-08-03 18:24] Poincare commented on #501
Could you describe how you're calling `query` or `watchQuery`?

[2016-08-03 18:28] jordan-burnett commented on #501
Apologies, I'm using `react-apollo` and `mapQueriesToProps`

[2016-08-03 18:33] Poincare commented on #501
What does the fragment `neighbourhoodMap` look like? Are you referencing it through the return value of `createFragment` or is it embedded within the query document?

[2016-08-03 18:48] jordan-burnett commented on #501
So neighbourhoodMap looks like:

[code]

The full query looks like:
[code]

[2016-08-03 19:24] stubailo commented on #479
Merged a PR to log them using `console.error`. If we come up with a better way, I'd be happy to do it as well.

[2016-08-03 19:24] #479 closed

[2016-08-03 19:34] stubailo commented on #150
Now that I think of it, we could probably just save mocked JSON blobs and use them with a mocked `fetch` or something.

[2016-08-03 20:29] josoroma opened #503 "Mobx integration"
Hi!

I was wondering is there a => How integrate with Mobx example?

Thanks in advance!

[2016-08-03 20:57] tomitrescak opened #504 "Efficiently polling for added/changed/removed items in a list"
Hi, I need to display specific data from a table and I want to reactively display when data is added, changed or removed. With Apollo this is possible with polling, yet after coming from Meteor subscription mechanism and OPLoG optimisation I have a mental problem with this approach.

Does Apollo get All data at every poll, or is there any optimisation mechanism in place? I tried only obtaining dat

[2016-08-03 21:16] Poincare commented on #501
Ah, this does look like a bug. I will look into it and see if I can reproduce it with a test.

[2016-08-03 21:17] Poincare commented on #504
You can use the `fetchMore` API in order to fetch only the new data and then merge into the store as per your application's needs.

Polling queries do fetch the entire query again, but if you query for only "new" information, you can simply merge it into the existing data in the store with `fetchMore`.

[2016-08-03 21:51] helfer opened #505 "Support batching with new Apollo Server"
Instead of mangling the queries, clients which connect to Apollo server v0.2.1 and above should be able to make use of the clean batching interface that it provides. This will require adding an option to the batching network interface.

[2016-08-03 22:12] tomitrescak commented on #504
Is this documented at some place so I know how to use it?

[2016-08-03 22:15] tomitrescak commented on #504
Also, does it work with Apollo-react? I cannot find it

[2016-08-03 22:15] tomitrescak commented on #504
Also, does it work with Apollo-react? I cannot find it

[2016-08-03 22:54] tomitrescak commented on #504
@Poincare, I just spent an hour trying to find anything on fetchmore. The only thing available are some pull requests and discussions in unclosed tickets on apollo-client issues.

I know you are very busy guys and I am really grateful for all the work you do, but closing this ticket by saying .. "use fetchmore" without any other information is not very helpful. On top of that it seems that this fu

[2016-08-03 23:40] stubailo commented on #505
Also something to think about: https://github.com/graphql/express-graphql/pull/100

[2016-08-04 00:02] Slava commented on #495
tracking this in #506

[2016-08-04 00:20] Poincare commented on #451
This must be related to #501 somehow.

[2016-08-04 06:18] Isigiel opened #507 "Add token generation to the client"
When implementing an optimistic ui while not using the apollo client for state management it would be helpful to get an identifier token, so the created dataset can be tracked down after the server response and updated with the actual id or deleted if the operation failed.

[2016-08-04 08:11] tomsdev commented on #464
Any updates on this? Given the features/refactoring you mentioned, what would be your best-case and worst-case time estimates to reach 1.0?

[2016-08-04 16:09] stubailo commented on #507
What do you mean by not using Apollo client for state management?

[2016-08-04 16:31] Slava commented on #495
We  merged #506.

[2016-08-04 16:31] #495 closed

[2016-08-04 17:40] rricard commented on #495
@Slava thanks!

[2016-08-04 19:15] stubailo commented on #503
What kind of integration are you looking for?

[2016-08-04 19:22] stubailo commented on #180
You need to do this in a Redux reducer. Redux doesn't have any way of telling when state has changed, so you should fire a custom action and do this inside the reducer.

Also, you can use a new feature we just added, `updateQuery`: https://github.com/apollostack/apollo-client/blob/master/CHANGELOG.md#v0411

Although I'm not sure `react-apollo` supports it.

[2016-08-04 19:34] stubailo commented on #503
Right, but I'm wondering what integration means to you - is it having the store data live in mobx? using the query results with mobx as data sources? etc.

In redux it's pretty clear because we internally use reducers etc. But as far as I know MobX doesn't have reducers so I'm wondering what kind of integration you would be looking for.

Right now you can easily just call `watchQuery` and put the

[2016-08-04 19:36] stubailo commented on #483
@a-s-o wait a second, this doesn't quite reproduce. Can you pass the `id` in the `variables` panel of GraphiQL? Instead of inline in the query? And see if it still works the same.

[2016-08-04 23:07] stubailo commented on #496
Hmm, this requires additional logic to manipulate the AST to remove variable definitions, scan for what variables are being used, etc.

Would it maybe be better to just get rid of this query diffing feature? Then the only difference is you just put it in as two separate queries if you want them to be cached independently. What do you think? Do you feel like you get a lot of value out of this featu

[2016-08-05 09:08] lvauvillier commented on #496
I split it in two queries, this is a safe workaround, you're right.
But as it return an unexpected result, i think this is a good idea to disable query diffing for theses queries.

[2016-08-05 22:45] Poincare commented on #501
This turned out to be a pretty involved bug to fix but I think #509 should be the fix for it.

[2016-08-05 22:59] Poincare commented on #505
@helfer

Do we want to identify whether the server supports batching via a header or just leave it as a user-specified option?

[2016-08-05 23:02] helfer commented on #505
@Poincare I think we can make it a user-defined option for the time being. Adding custom headers is a bit more work, and I think it only makes sense once this feature (and others) have settled a bit.

[2016-08-05 23:04] Poincare commented on #505
Sounds good. I can work on this.

[2016-08-07 11:54] tomitrescak opened #510 "AAuthentification of Apollo calls"
Guys, this is really a very noob question. I'm moving away from Meteor and trying a pure node.js approach. My issue is authentication. I have implemented it with JWT and works well, yet I do not know how can I add auth headers to Apollo calls. I am using React, which has no http interceptor to my knowledge. Would you be able to give me some advice? Thanks

[2016-08-07 12:03] tomitrescak commented on #510
Never mind -- http://docs.apollostack.com/apollo-client/

[2016-08-07 12:03] #510 closed

[2016-08-07 20:37] rricard opened #511 "Mutation update on query with variable fields with a previously aborted query fails"
Hi!

This one seems complex to reproduce, however, I managed to do it!

If I have time, I'll try to take a look myself but for now, I just made my app avoid aborting the query.

### How to reproduce?

1. Create a query on which an updateQuery from a mutation will be performed.
2. Start a query with a given variable and abort it (let's say `variableField({"var":"a"})`)
3. Restart with new vars and

[2016-08-07 22:05] nevir opened #512 "Idea: Global fragment map"
In our app, we have a fair number of commonly used fragments (especially for queries triggered via non-UI code).  It'd be pretty handy to register fragments globally with an apollo-client instance to cut down on verbosity when querying

Maybe as a `fragments` argument when constructing the client?

[2016-08-08 04:27] Poincare commented on #512
We thought about this when designing the `createFragment` concept. At the time, we came to the conclusion that handling global state like this might actually be somewhat complicated to reason about and we went with a more local approach.

However, from the discussion in #480, it is evident that we will end up implementing this in some capacity since we want to be able to reference fragments by nam

[2016-08-08 07:31] tmeasday opened #513 "Design for easy and consistent view integration"
This is a proposal to centralize the "state" management part of Apollo Client integrations inside the JavaScript client.

## State of the art

I'll speak chiefly about the `react-apollo` integration, although it appears the same rationale would apply to the Angular integration also.

The current API for `react-apollo` adds a layer between the user and `apollo-client`, in both directions:

 - When

[2016-08-08 07:49] stubailo commented on #513
I know I used the word "context" when we talked about this before, but perhaps we can just call it a "component"? Or is that confusing? Just worried about using a relatively generic word like "context" which could mean almost anything.

Some specific questions:

1. What does `context.query` return? Is it like `watchQuery` and returns an observable?
2. I'm not sure what (3) or (4) mean in your list

[2016-08-08 07:54] stubailo commented on #513
Oh, one final question - if the goal here is to unify React/Angular integrations, what does the "Core API" look like? Is it:

[code]

Almost seems like the context should return an observable here:

[code]

Then `teardown` can just be `unsubscribe`.

[2016-08-08 10:37] dbx834 opened #514 "Search? Full-text search?"
Hi,

How good is Apollo/ how good can it be for things like searching and full-text search?

Apollo would be the man-in-the middle. Will this pipe - one wraps the search as a query, listens to input 'onChange' event, fires the query, and displays the result - work well?

On the back, the API can talk to anything, be it Elastisearch, or Mongo, or XYZ.

I'm gonna try it out. Any reasons why such a t

[2016-08-08 11:20] tmeasday commented on #513
I agree context is not a good name, I just didn't want to debate that yet. Maybe component query?

1. The problem with it not returning a object, ala fracker is that then the user needs to manipulate the result in a callback, which makes things more complex and confusing. That's why my feeling is an object is best.

2. Yeah if it returns an object the react wrapper doesn't need to deal with the re

[2016-08-08 14:41] abhiaiyer91 commented on #513
Why diverge from syntax that people are already familiar with via @connect?
Both ngRedux and react-redux utilize the connect function to provide a layer of indirection so that your code is less bound to a store instance.

In regards to

1. Core implementation vs View Layer integration is really that confusing? The react integration seems less confusing and maybe it's the way the docs are presented

[2016-08-08 14:43] abhiaiyer91 commented on #513
If there are already best practices being built in each respective community, why diverge from that for the sake of creating a new standard ? Shouldn't the goal be to embrace each community, have contributors that are thinking about these problems with the framework in mind, and executing changes when they occur? Or is there not enough volume of those people?

[2016-08-08 17:34] Poincare commented on #514
This should work just fine. In fact, we do implement search within the Meteor Galaxy UI with Apollo Client on the frontend.

[2016-08-08 17:36] Poincare commented on #501
Fixed by #509.

[2016-08-08 17:36] #501 closed

[2016-08-08 17:42] stubailo commented on #514
Yep, this should work great! Same way you would do search with a REST API.

[2016-08-08 17:42] #514 closed

[2016-08-08 17:52] stubailo commented on #513
I guess it really comes down to - do we want to maintain completely separate docs for Angular and React, and make constant changes to those APIs for every new feature in core?

It could be fine, we've been doing that with react-apollo for a while.

One of the goals of this post is to get feedback from Angular devs - if we don't write up a design we can't get the feedback!

But I see what you're sa

[2016-08-08 17:54] stubailo commented on #505
Yeah I don't think we want to get into client/server feature negotiation just yet...

[2016-08-09 00:12] stubailo opened #519 "ApolloError doesn't add new error message to the stack"
According to @Slava, JavaScript error stacks usually include the error message. We should make sure this also works with our custom-generated message.

[2016-08-09 00:22] tmeasday commented on #513
@abhiaiyer91

I'm interested as to why you mention this--a big part of my thinking behind the "proposed" part of this design is exactly this philosophy. For instance, my major gripe with the current 0.4.0 `react-apollo` API is that the default props for the wrapped component looks like:

[code]

Which means that `X` at some level needs to understand that its input (`field1` in this case) comes fro

[2016-08-09 00:37] abhiaiyer91 commented on #513
Thanks for the clarification @tmeasday

Ah because their interaction with connect functions are just different syntaxes. Im just on the side of letting the Angular nerds and React nerds have the same exact api they are already using but enhanced for our purposes.

This number 2 mate!

Ah I get it now @tmeasday

It just seems this
[code]

Should read

[code]

and both `mapStateToProps` and `mapResu

[2016-08-09 00:48] tmeasday commented on #513
Just to be clear, we aren't proposing using this syntax to interact with the redux store directly. If you want to do that, it seems best to just use another container:

[code]

[2016-08-09 00:51] abhiaiyer91 commented on #513
Interesting. I'm actually down for this proposal, but I want to poke more.

Why separate state connectors here between UI State and GraphQL State. The beauty of Redux is the ability to colocate this data. Now, it took me a while to get used to, and MAYBE this separation will help people grok it better?

Whats your thinking there?

[2016-08-09 01:18] tmeasday commented on #513
I'd actually be interested in an API like

[code]

But the argument against it is that it's probably more confusing for people who are following along with our examples to see Redux done in an a different way to what they are used to. Perhaps this API can be exposed for "advanced" users if we like it.

(PS I'm not sure why Redux separates `mapStateToProps` and `mapDispatchToProps`, it seems unnece

[2016-08-09 03:39] abhiaiyer91 commented on #513
Yeah this is the thing I'm most worried about. Ideally a uniform experience for Redux users and maybe some power user apis.

Where I'm coming from is, I'd like people to have a jumpstart with easy wins in Apollo Client. Then when they become rockstars, start diving into deeper APIs.

Is that an okay thought?

[2016-08-09 03:44] tmeasday commented on #513
Seems like a good thought on the surface, but I'm not sure which API it pushes us toward?

[2016-08-09 03:48] abhiaiyer91 commented on #513
Definitely. In any case, I've exhausted my poking of the design! Let's do it!

[2016-08-09 04:17] stubailo commented on #513
Yeah I was thinking this might actually be easier for Redux devs because they can use the `connect` they are used to already.

It would be interesting to get the Angular take on this.

[2016-08-09 07:57] #496 closed

[2016-08-09 13:17] jbaxleyiii commented on #513
I've thought about this for a couple days. All in all I'm not a fan of moving state management into the core client.

I agree that this can be confusing. However, looking at prior art like redux, when libraries choose to be view layer independent, this happens and isn't a bad thing. It helps with triage of issues because the API is a giveaway of where to start looking.

This was true in the first

[2016-08-09 17:08] marktani opened #521 "Supply custom headers to queries"
The documentation shows how to add a authorization header:
Supply `req.options.headers.authorization` in a middleware.

How can we add a custom header `my-custom-header` with value `header:header-value` to all queries?

[2016-08-09 18:36] stubailo commented on #521
Yep - you can do it the same way. Have you tried it? `req.options.headers["my-custom-header"] = "header:header-value"`

[2016-08-09 18:36] #521 closed

[2016-08-09 18:51] Poincare commented on #512
I'll go ahead and close this since this suggestion is pretty much a part of #480. We can re-open if this is not the case.

[2016-08-09 18:51] #512 closed

[2016-08-09 21:11] Slava commented on #483
One of the solutions that we can implement here, is a quick check of variables, according to their declared type. If the type is something simple like `String!` or `Int!`, it is fairly easy to check.

[2016-08-09 23:01] stubailo commented on #513
I think everything you're saying makes sense to me. Let's let this cook for a bit more, but my current inclination is that we should just figure out a way to improve our documentation so that people can easily figure out the right syntax for their platform.

[2016-08-10 00:24] Slava commented on #483
We've done some testing with other GraphQL servers available and it seems to be the problem of the graphql reference implementation? Here is a link that demonstrates the same problem: [link](https://www.graphqlhub.com/playground?query=%23%20Welcome%20to%20GraphQLHub!%20Type%20your%20GraphQL%20query%20here%2C%20or%0A%23%20explore%20the%20%22Docs%22%20to%20the%20right%0A%0Aquery%20(%24asdf%3AString!

[2016-08-10 08:53] stubailo commented on #483
This is confirmed as an issue with GraphQL-JS itself, and therefore an issue with any JavaScript GraphQL server based on it; read below.

[Here's the file](https://github.com/graphql/graphql-js/blob/08a00aa4eb2a58c1aece167ee70774fae7c5393c/src/type/scalars.js) where the parsing for scalar types is defined. You can see:

- [parseValue](https://github.com/graphql/graphql-js/blob/08a00aa4eb2a58c1aece

[2016-08-10 08:53] #483 closed

[2016-08-10 18:09] Poincare commented on #481
There isn't really a simple way to "time out" data in the cache right now due to the fact that you could just refetch the data whenever you need it again and Apollo Client will ignore whatever is in the cache.

We use a write-through cache simply because it is pretty natural for the GraphQL usecase. At the end of the day, there is a tradeoff; if we elected to make optimistic updates simpler, we wo

[2016-08-10 18:09] #481 closed

[2016-08-10 18:11] Poincare commented on #451
I can't reproduce this issue and it seems to have been fixed through #501 (going off your description).

[2016-08-10 18:11] #451 closed

[2016-08-10 18:17] kamilkisiela commented on #451
@Poincare I've checked it with GitHunt for Angular2 and it seems to be fixed

[2016-08-10 22:02] kamilkisiela commented on #430
Related:
- apollostack/angular2-apollo#56 - missing `subscribe` method on `ApolloQueryObservable`
- ReactiveX/rxjs#1829 - discussion about extending the Observable

[2016-08-10 23:43] tomitrescak opened #525 "Copying query result into another point in store."
In alignment to discussion in #98 this problem seems not to be tackled yet. Is there a possibility to redirect or store query results in another point in the redux store.

I currently have it working my way by intercepting apollo actions in my reducers and copying it into the store there. Yet, this approach duplicates data (which may be alright I guess).

**Reducer**

[code]

**Helpers**

[code]

[2016-08-11 06:57] katopz opened #526 "About caching header"
Hi guys.

I try search through code about `etag` and `last-modified` but can't find any related.
IMHO Apollo take care of client and server so both headers are a "must have" to reduce latency.
So the question is can I expect this features or I've to implement it myself?

Thanks

[2016-08-11 08:10] Poincare commented on #526
You can handle ETags and Last Modified pretty easily through middleware/afterware at the moment.

[2016-08-11 09:04] katopz commented on #526
Cool thanks @Poincare I'll do it myself then. This should be fun. :)

[2016-08-11 09:04] #526 closed

[2016-08-11 11:18] kamilkisiela opened #527 "Move mockNetworkInterface to separate package"
Both UI integration, `react-apollo` and `angular2-apollo`, use [`mockNetworkInterface.ts`](https://github.com/apollostack/apollo-client/blob/master/test/mocks/mockNetworkInterface.ts).

I think there's no point of creating copies of it. Also if there are any changes in `apollo-client` that require to change the mock, our (angular2-apollo) copy stops being up to date and we need to get the new one.

[2016-08-11 11:18] kamilkisiela commented on #430
@stubailo @Urigo I think I did it. Take a look at this project https://github.com/kamilkisiela/apollo-rx-observable

[2016-08-11 11:19] kamilkisiela commented on #430
Of course we can move it under apollostack organisation as a separate package or even use it in `apollo-client` as one of the exported things.

[2016-08-11 11:36] kamilkisiela commented on #527
@jbaxleyiii what's your point of view on this? :)

[2016-08-11 12:00] jbaxleyiii commented on #527
@kamilkisiela :tada: I'd love that! It could be cool to make n apollo-test-utils for packages and projects using Apollo

[2016-08-11 14:35] shoebmogal opened #528 "How to add apollo client to este app"
I am trying to add apollo client to este app: https://github.com/este/este

I used the guideline here: http://docs.apollostack.com/apollo-client/redux.html

It shows up in the store successfully.
But I am not able add the middleware properly.
Can someone please guide?

I tried adding it here: https://github.com/este/este/blob/master/src/common/configureMiddleware.js

but the client shows as undefi

[2016-08-11 14:42] cristiandley opened #529 "CORS localhost loading props but calling ip not working"
Before upgrading Apollo/Meteor i could access my app from localhost:3000 or from other computer using my IP or from my computer using my own private IP. Now i can see the React dom but is not loading any data.

[code]

[code]

i can access my_ip:3000/graphql

is there any new configuration im missing ?

Thanks !

[2016-08-11 17:18] igrayson opened #530 "From one query result, updating other (watch) queries."
Hi guys. A few weeks ago, I had a discussion in slack `#general` about the best approach for this use case:

We have several watchQueries observing large lists of entities. When we receive a push notification that a new entity has been created, we want to fetch that new entity and update (append to) those watchQueries, without refetching their entire collections.

As of a few weeks ago, the best s

[2016-08-11 17:31] stubailo commented on #527
Hmm, how will this work with TypeScript? Because that is going to depend on the `NetworkInterface` declaration.

Perhaps this means we should just split the whole network interface into a package, and apollo client can just depend on it?

[2016-08-11 17:34] stubailo commented on #528
You linked to the file where you tried to add it, but I don't see any Apollo Client code there. Can you show a version where you tried to add it?

[2016-08-11 17:43] stubailo commented on #529
Have you tried to CORS options as specified here? http://docs.apollostack.com/apollo-client/index.html#corsSupport

Otherwise, it might be that your server doesn't accept CORS requests. How have you hooked up GraphQL to your web server?

[2016-08-11 17:49] kamilkisiela commented on #527
I sad "create a package" which I would prefer but we can also expose it in ApolloClient like this `import { mockNetworkInterface } from 'apollo-client/test'`

[2016-08-11 19:19] jbaxleyiii commented on #527
@stubailo I think one of the possible solutions would be to create a project with a peerDep on apollo-client. This is how react Apollo can use the definitions of the client without directly depending on it

[2016-08-11 20:35] Poincare commented on #530
Generally, you should have a single (large) query you'd have to update with the new entity and the other smaller queries would get the update due to the reactive store if they are subsets of the larger query.

There are some cases where this won't happen automatically. For example, if you have a query that fetches all todo items, another that fetches only todo items of a certain type and you fire

[2016-08-11 22:01] cristiandley commented on #529
@stubailo  i tried this:

[code]

what im trying to do is to get is `graphQLServer`... that is in the `createApolloServer`, but i couldn't import it.

[2016-08-11 22:06] stubailo commented on #526
If you come up with a cool implementation, it would be cool to learn more about it!

[2016-08-11 22:14] stubailo commented on #529
Hmm, I think this definitely should be in `meteor-integration`. I don't think it has anything to do with apollo client.

One option is to simply not use the `meteor/apollo` package, and just attach the `graphQLServer` to Meteor directly, as @jangerhofer mentioned on the other thread.

[2016-08-11 22:14] #529 closed

[2016-08-11 22:28] stubailo commented on #527
I'd really really like to move away from importing from `apollo-client/*` because that just causes a ton of problems with publishing, npm link, etc.

So perhaps we can make a package `apollo-mock-network-interface` with a peer dep on `apollo-client`?

[2016-08-11 22:32] jbaxleyiii commented on #527
@stubailo can we do a generic `apollo-test-utils`?

[2016-08-11 22:35] stubailo commented on #527
What else would we put in there? Like general stuff about testing GraphQL clients? I guess since it's a testing package it doesn't matter if it has a ton of junk in it.

[2016-08-11 23:31] shoebmogal commented on #528
configureMiddleware.js
[code]

[2016-08-12 00:00] shoebmogal commented on #528
And my configureStore.js
[code]

[2016-08-12 00:52] shoebmogal commented on #528
And this is my action:

[code]

[2016-08-12 02:36] oexza commented on #207
any progress on this?. I'm and angular 2 newbie, I'm having this same problem, and i have no idea how to work around it, using angular-cli@webpark and angular 2 rc5.

`ERROR in [default] /home/peace/Desktop/school-sync-student/node_modules/apollo-client/QueryManager.d.ts:16:27
Cannot find namespace 'NodeJS'.

ERROR in [default] /home/peace/Desktop/school-sync-student/node_modules/apollo-client/aft

[2016-08-12 08:43] kwnccc opened #532 "Importing ApolloClient causes import module error"
I'm using webpack for bundling and after importing ApolloClient in my file the following console errors occur:
[code]

[code]

The lodash isPlainObject library exists under node_modules but within a directory named `lodash.isplainobject`.

[2016-08-12 09:46] SerkanDayicik opened #533 "Unmet peer Depency"
install following Docs http://docs.apollostack.com/apollo-client/angular2.html

if installed npm install angular2-apollo --save npm say cannot install apollo-client

after npm install apollo-client --save can install apollo-client but you run build app says  node_modules/apollo-client/QueryManager.d.ts(6,60): error TS2307: Cannot find module 'graphql'.

After this error i'm install Graphql on npm

[2016-08-12 10:07] kamilkisiela commented on #533
Typings for `graphql` are missing so try to run:

[code]

[2016-08-12 10:17] kamilkisiela commented on #527
@stubailo By `apollo-client/test` I meant the file `src/test.ts` or `src/test/index.ts`.
@jbaxleyiii Yes, we could use `peerDeps`.

I'm not the fan of creating a package that holds only the mocked networkInterface. In my way of thinking it should be something that holds lots of helper functions, mocks etc, even if it would have just one feature for now.

About `apollo-test-utils`, maybe we should

[2016-08-12 10:19] SerkanDayicik commented on #533
Thanks @kamilkisiela
Problem solved but new error  Same folder QueryManager.d.ts

pollingTimers: {
        [queryId: string]: NodeJS.Timer | any;
    };

apollo-client/QueryManager.d.ts(16,28): error TS2503: Cannot find namespace 'NodeJS'

[2016-08-12 10:31] kamilkisiela commented on #533
@SerkanDayicik Yes :) In one of the recent releases of `apollo-client` there was a change that requires to install typings for `nodejs`.

[code]

You can always take a look at the example projects that use `apollo-client`.

- [GitHunt | Angular2](https://github.com/apollostack/GitHunt-angular2)
- [GitHunt | React](https://github.com/apollostack/GitHunt)

[2016-08-12 10:46] SerkanDayicik commented on #533
@kamilkisiela  Problem solved i try angular.rc.5 on apollo client but no luck Typings error coming all time maybe try starter project and update angular latest version thank you

[2016-08-12 10:46] #533 closed

[2016-08-12 10:47] kamilkisiela commented on #533
@SerkanDayicik You can checkout my starter kit for `angular2-apollo`.

https://github.com/kamilkisiela/angular2-apollo-starter

[2016-08-12 10:48] kamilkisiela commented on #533
But yes, RC5 breaks everything :) I'm going to work on it soon.

[2016-08-12 17:33] stubailo opened #534 "Nested fields in fragments not passed to props"
Originally posted by @jordan-burnett at https://github.com/apollostack/react-apollo/issues/124

---

When using multiple fragments, I'm finding that nested fields aren't being resolved to props as expected.

For example, I have a query attached to a connected component like:

[code]

with two fragments like:

[code]

[code]

I can see in the server response city.name and city.countryName is return

[2016-08-12 17:34] stubailo commented on #534
Here's a concise reproduction also by @jordan-burnett:

-------

No problem, here's a compressed version of the code I'm using which I've just tested produces the same result:

[code]

The order in the root query changes the output.  If I place fragmentTwo first then city contains 'countryName' and 'image'

[2016-08-12 19:34] kamilkisiela commented on #430
`angular2-apollo` with support for RxJS [has been released (`v0.4.2`)](https://github.com/apollostack/angular2-apollo/blob/master/CHANGELOG.md#v042)

[2016-08-12 20:36] igrayson commented on #530
We have a `Todo` entity with a `state` attribute (a lengthy enum). Our apollo server exposes a `todos(stateGroup)` resolver, and several components of our app listen (`watchQuery`) to different `Todo` state groups, which overlap but are not strict super/subsets.

Some of these components are actual React components (typically list views), and some are background 'services' which need to act on CRU

[2016-08-13 11:06] kamilkisiela opened #535 "MockNetworkInterface returns same result even on different variables"
I'm trying to create a test for the new feature in `angula2-apollo` but I have a problem with current implementation of networkInterface's mock.

[The test](https://github.com/apollostack/angular2-apollo/blob/variable-observable/tests/angular2Apollo.ts#L95-L120)

It suppose to return `data2` on the first call and `data3` on the next one but I get `data2` every time.

I checked and it calls [`netwo

[2016-08-13 14:47] kamilkisiela commented on #535
Something with caching, it works with `forceFetch`.

[2016-08-13 18:16] kamilkisiela commented on #207
@oexza you can take a look on GitHunt, both react and angular2 versions.

[2016-08-14 13:56] kamilkisiela commented on #430
Killer feature for `angular2-apollo` that uses variable of a query as Observable.

apollostack/angular2-apollo#64

[2016-08-15 02:47] tmeasday commented on #513
So I agree (especially after just releasing `react-apollo@0.4`) that focusing on changing it's API will bring little benefit at this point (and could be a step backwards besides).

I wonder what the appetite is for moving some of the common logic into Apollo Client would be (so perhaps still having a Context object but perhaps not presenting it to the user?)

I think a lot of the code around [chec

[2016-08-15 06:48] timeyr commented on #503
From my point of view, in order to use Apollo together with Mobx we need a way to transform a query result into an observable state tree. This can be done quite easily by wrapping `connect` into a function that walks through the json result and creates `observable`s for them. The tricky part is that we need to make sure that we always create/re-use the same observable object instance for each doma

[2016-08-15 06:49] SerkanDayicik opened #541 "any idea for angular2 rc5 New module system ?"
@NgModule({
  imports: [
    BrowserModule,
    routing
  ],
  declarations: [
    AppComponent,
    AnasayfaComponent,
    HakkimizdaComponent,
    HizmetlerimizComponent,
    FirmasorguComponent,
    AdsorguComponent,
    NumaradanisimComponent,
    TcknilesorguComponent,
    IletisimComponent,
    TarifelerComponent,
    TFirmaComponent,
    TisimComponent,
    TnumaraComponent,
    TtcknCompon

[2016-08-15 07:11] SerkanDayicik commented on #541
i solved this way

`import { NgModule } from '@angular/core';
import { BrowserModule }  from '@angular/platform-browser';
import { AppComponent } from './app.component';
import { routing, appRoutingProviders } from './app.routes';

import { AnasayfaComponent } from './sayfalar/anasayfa/anasayfa.component';
import { HakkimizdaComponent } from './sayfalar/hakkimizda/hakkimizda.component';
import { H

[2016-08-15 07:12] #541 closed

[2016-08-15 08:00] philcockfield opened #542 "HTTP Status Code - Helpful on Errors"
### Scenario:

Connecting to a GraphQL server that require authentication, and the client is either not authenticated, or the authentication token has expired.
### Current Experience:

The current experience is that the Apollo Client throw an error that contains details about failing to parse a JSON response:
### Better Experience:

It would be better to be able to see on the error the HTTP status

[2016-08-15 08:00] kamilkisiela commented on #541
@SerkanDayicik This would be available in the next release

https://github.com/apollostack/angular2-apollo/blob/master/CHANGELOG.md#vnext

[2016-08-15 09:59] kamilkisiela commented on #513
I like the idea. Decorators are just functions so `angular2-apollo` could use the `@graphql` inside the `@Apollo` decorator. The whole logic, which does pretty much the same thing as the `react-apollo` would be moved to `@graphql()`.

Life cycle hooks would be in charge of controlling the `context`.

:clap: :+1:

[2016-08-15 11:24] tim-field opened #543 "__webpack_require__.i(...) is not a function"
I've been using apollo client today in a redux app and its been working well, I can make graphql requests etc, but I wanted to use the mapQueriesToProps function so I swapped out

`import { connect } from 'react-redux'`

with

`import { connect } from 'react-apollo'`

Webpack built everything fine, but I get this exception in the console now.
`__webpack_require__.i(...) is not a function`

Anyone

[2016-08-15 11:49] gauravtiwari commented on #543
Hey @tim-field

You are using an outdated syntax. I think, you would need to do this instead,

[code]

[2016-08-15 11:52] gauravtiwari commented on #542
Hey @philcockfield,

You could use an `afterware` middleware, http://docs.apollostack.com/apollo-client/index.html#networkInterfaceAfterware

is this what you looking for?

[2016-08-15 11:55] gauravtiwari commented on #532
@kwnccc Could you please share more code? And, also what version are you using?

This is all needed.

[code]

[2016-08-15 12:10] gauravtiwari opened #544 "Can't find a field on result object in fetchMore"
Folks, so I have this setup to fetch and paginate a collection of posts,
#### Posts Query:

[code]
#### Initialise Query with variables

[code]
#### Mutate variables and fetch page 2

[code]

Initial render fetches and displays results fine, but when I do `fetchMore` with new page, this is the response received from server,

![screen shot 2016-08-15 at 12 59 13](https://cloud.githubusercontent.com

[2016-08-15 13:11] gauravtiwari commented on #534
Probably related? @stubailo #544

[2016-08-15 19:49] philcockfield commented on #542
Hey @gauravtiwari - yeah, that will do it.

Still feels like it would be good to get status codes on a failed query though.  The failure point will be explicitly where the code is calling query, and being able to choose what to do at that call-site is a good place to locate that logic.

`afterWare` feels like an elegant solution for global, generic problems that come up - like a blanket `401 => lo

[2016-08-15 21:52] tim-field commented on #543
Thanks!

[2016-08-15 21:52] #543 closed

[2016-08-16 03:58] stubailo opened #546 "Null or undefined fragments throw a weird error"
Posted originally by @deoqc at https://github.com/apollostack/react-apollo/issues/143

We should identify invalid fragments earlier and throw a better error.

[2016-08-16 04:22] stubailo commented on #504
Here's how you use it, perhaps the documentation wasn't there yet when you were asking about it, or you didn't think to look under "pagination": http://docs.apollostack.com/apollo-client/pagination.html#fetch-more-new-query

This isn't as nice to use for polling, because it's designed for imperative stuff like pagination.

Right now, reactivity on added/changed/removed data from lists is where Met

[2016-08-16 07:24] smolinari commented on #504
This would be a great addition!!! Looking forward to it.

Scott

[2016-08-16 08:39] bryanchriswhite opened #547 "Allow adding extra fields to the request body via middleware"
As a part of my project's authentication I need to be able to add a `__nonce` property to the request body.

My initial approach looked something like this:

[code]

However, this modification to the `req.request` object isn't persisted in the network request:
<img width="518" alt="screen shot 2016-08-16 at 10 30 42 am" src="https://cloud.githubusercontent.com/assets/600733/17692891/8b20f238-639c-

[2016-08-16 08:45] bryanchriswhite commented on #253
Is this issue something that people want to be fixed?

I just opened #547, which affects the same part of the code and would be convenient to fix at the same time (assuming my expectations on how to resolve this issue are correct).

I am also curious if there is any explanation to why middleware is required to be an object with an `applyMiddleware` property because, based on the code, it seems arb

[2016-08-16 08:53] bryanchriswhite commented on #547
Further, it looks like `printRequest` was added at 2a36e65, before which the request was just sent as is. This leads me to believe that there was a reason but it's still not clear to me.

[2016-08-16 09:40] kwnccc commented on #532
@gauravtiwari this is what I just did, just the import of the module. I've installed `"apollo-client": "^0.4.11"`.

[2016-08-16 09:55] gauravtiwari commented on #532
@kwnccc Strange! Could you please share your `webpack.config`? Looks like it can't find the modules in the node_modules folder, but as you said it's there so, may be something is wrong with webpack setup. Sorry, just guessing in the wild here.

[2016-08-16 11:23] bryanchriswhite commented on #547
Update: I've since noticed the subtle `print(query)` and the corresponding type differences between the `Response` and `PrintedResponse` properties which may account for the existence of the `printResponse` method.

[2016-08-16 11:30] bryanchriswhite commented on #547
As noted by the reference comments, I have the fix for this issue but am still working on adding tests for it.

[2016-08-16 13:27] kwnccc commented on #532
[code]

[2016-08-16 14:31] gauravtiwari commented on #532
[code]

Could it be this @kwnccc ? You are using `babel-loader` and testing against `.js` and excluding node modules folder. Probably you want to use a different file extension for app files instead, like `.jsx` or `.es6.js`

[2016-08-16 15:11] kwnccc commented on #532
I don't understand why I should do this, the node modules should not need transpilation with babel, right?

[2016-08-16 15:13] katopz commented on #526
@stubailo Sure thing, I'm half way done here on client side as middle/afterware, just need some decision on server side ATM https://github.com/apollostack/apollo-server/issues/96

[2016-08-16 15:17] gauravtiwari commented on #532
ohh shoot! that's right. Sorry!

[2016-08-16 17:37] stubailo commented on #532
@kwnccc this almost looks like an error in Redux, not Apollo... Have you tried deleting all node modules and reinstalling from scratch?

[2016-08-16 17:41] Poincare commented on #542
This makes sense to me. Often, different queries require you to handle response codes differently. I'm thinking we could pass the response information returned by `fetch` into the promise handler or observer. This probably means we'll have to add another field to the `ApolloQueryResult` structure.

@stubailo, thoughts?

[2016-08-16 18:27] deoqc commented on #244
I use global unique id's and nodes (actually using `graphql-relay` helpers for this). It may have some advantages, like automatically updating mutations (see the `dataIdFromObject` [here](http://docs.apollostack.com/apollo-client/mutations.html)), or some more discussion [here](https://github.com/apollostack/apollo-client/issues/332).

---

The thing is, ideally this selectors could support get da

[2016-08-16 18:44] stubailo commented on #542
Would it be sufficient if this error just included the entire HTTP response including headers and response code? Also, we should probably treat any `4**` or `5**` response as an error.

@philcockfield what status code does your server return when the authentication fails?