[2016-02-26 20:40] jbaxleyiii opened #1 "Collection helpers"
One of the things I have missed most when using redux as my client side data store, has been the lack of query / sort / filter / etc operations that we had with Mongo.Collection.

Since part of the GQL spec will require id, could we replicate the Mongo collection methods for easy manipulation / fetching of data from the store to use in the UI?

[2016-02-26 21:10] stubailo commented on #1
Is lodash not enough? Like `_.findWhere(items, { stuff: "value"})`. That isn't much more complex than `items.find({stuff: "value"})` right?

[2016-02-29 18:39] jbaxleyiii commented on #1
@stubailo I was thinking more around nested keys. But after playing around with lodash more, its all I need! Thanks for the advice!

[2016-02-29 18:39] #1 closed

[2016-02-29 18:47] stubailo commented on #1
Cool, so hopefully I can get an initial version of this client going this week, and then we can see if it meets your needs and we can collaborate, does that sound good?

[2016-03-17 22:23] stubailo opened #2 "Handle arguments in fields"
This requires some representation of arguments in the cache!

[2016-03-18 00:09] stubailo commented on #2
Interesting case:

[code]

[2016-03-18 18:44] stubailo opened #3 "Merging into cache"
Different subtrees of the same query might access different fields on the same object. We should merge them instead of overwriting the whole object.

[2016-03-19 01:58] stubailo commented on #2
Done!

[2016-03-19 01:58] #2 closed

[2016-03-19 21:58] stubailo opened #6 "Set up static typing"
I think the complexity of this code is reaching the point where having static type error detection would really help with development speed and documentation. There are a couple of concepts - selection sets, query ASTs, cache objects, etc - that are being passed around constantly and it can be hard to figure out errors where those objects aren't properly formatted. If there's a solution to this pr

[2016-03-20 01:15] jbaxleyiii commented on #6
@stubailo I'm all for it. I think we should go with flow since we can dot things `import type { Document } from 'graphql/language/ast';` (as far as I can tell, I'm new to flow). I've started work on adding it here https://github.com/apollostack/apollo-client/tree/flow

[2016-03-20 02:21] stubailo commented on #6
Whoooooa if you can import like that, that is a killer feature.

[2016-03-20 02:25] jbaxleyiii commented on #6
@stubailo https://github.com/graphql/graphql-js/blob/master/src/language/ast.js#L71-L75

[2016-03-20 13:09] martijnwalraven commented on #6
I'm a big fan of static typing, and I really miss it in JavaScript. As you mention, it is not just about correctness, but it also improves documentation of the code and avoids too many ad-hoc structures with slightly different semantics to be passed around. Just spent two days debugging issues in the Meteor build tool and constraint solver, and I feel typing would really have helped there.

[2016-03-20 14:39] mquandalle commented on #6
I definitely agree that typing will help avoiding errors and writing better APIs. Typescript vs flowtypes is sadly a difficult topic.

I’ve been playing with Typescript because it’s easier to set up and it works on Windows, Mac, and Linux. The DefinitelyTyped repository also have typing definitions for a lot of popular libraries (including Meteor APIs), and I never had to write these definitions m

[2016-03-20 15:04] jbaxleyiii commented on #6
@mquandalle that sounds great. I'll probably do the same conversion I did with flow using typescript so we can evaluate both of them fairly.

[2016-03-20 15:18] mquandalle commented on #6
I didn’t see #8!

Trying to do the same thing in Typescript sounds like a good idea, unfortunately I haven’t found Typescript interfaces for GraphQL. (BTW with flow are you able to import types for lodash for instance, or do the original source has to contains the flowtypes?)

[2016-03-20 15:23] jbaxleyiii commented on #6
@mquandalle from what I understand, the original source has to contain and export flow types. Otherwise you can create them. Flow actually uses underscore as an example so writing it for lodash would be pretty easy. http://flowtype.org/docs/third-party.html#example

[2016-03-20 16:18] mquandalle opened #9 "Unable to npm install on linux"
Here is the full log:

[code]

[2016-03-20 19:12] stubailo commented on #9
Hmm, odd! Looks like some weird thing with Babel maybe? Looks like @jbaxleyiii had no trouble with development. I'll try to get a linux box tomorrow and test this out.

[2016-03-20 19:16] stubailo commented on #6
I feel like using TypeScript with the VS Code IDE, etc, is a pretty big selling point. We should see what it's like with Nuclide as well.

[2016-03-20 19:25] fabiodr commented on #6
Tooling welcomes enterprise apps, an introducing team feels more confortable for experimenting and enjoying. TypeScript would bring many static typing friends.
+1

[2016-03-20 19:29] stubailo commented on #6
To be clear, let's make sure we separate two related issues:

1. Which type system we use internally to develop this library, and
2. Which type system people consuming the library can use

Ideally, (2) would be _both_ TS and Flow. So it's just a question of which one we use internally first.

[2016-03-20 20:11] mquandalle commented on #6
Well, for the moment it’s difficult for libraries authors to provide both typescript and flow types to consumers, because of the differences in the type system (this is discussed a bit in https://github.com/facebook/flow/issues/7). Unless of course we are willing to maintain both interface manually, but at least while the Apollo stack evolves quickly, we should expect lib consumers to use the type

[2016-03-21 00:14] jbaxleyiii commented on #6
@stubailo @mquandalle after about 30 minutes with typescript + VSCode I'm 1000% supportive of typescript. I should have a PR done tonight for it. Its incredible

[2016-03-21 00:29] stubailo commented on #6
Hahahah awesome. Let's try it! I've heard it's pretty magical. And it replaces our Babel build process too right?

[2016-03-21 00:47] mquandalle commented on #6
Yes (but if for some reason we want to keep Babel, we can ask Typescript to target ES6 and then run Babel on the Typescript result. Obviously relying on Typescript for the entire compilation is more efficient).

Also to answer one point in your original post @stubailo:

I haven’t tried Flow, but with Typescript I can say for sure that it makes third-partiy contributions easier, not harder. It’s li

[2016-03-21 01:41] stubailo commented on #6
sure, I think we should have a small guide about tools - like how to import the project into vs code etc. I should try it soon.

[2016-03-21 03:55] jbaxleyiii commented on #6
@stubailo @mquandalle I've got a start on typescript but have run into a few issues. They are detailed on #10

[2016-03-21 20:52] stubailo commented on #6
@jbaxleyiii sorry for flip-flopping, but it just took me like 10 seconds to set up Visual Studio code and typescript and it "just works". I still haven't been able to set up Nuclide/Flow properly. And I've already found some bugs because the type checking works really well.... maybe we should go with TypeScript after all?

[2016-03-21 20:54] jbaxleyiii commented on #6
@stubalio no worries! Its why I did both branches :+1: Play around with typescript while I get flow back working. I *know* I had it at one point haha. That way you can easily evaluate both options

[2016-03-21 21:00] stubailo commented on #6
Yeah there are also issues like:

https://github.com/Microsoft/TypeScript/issues/2103

Where TypeScript doesn't support certain language features that are trivial to use with Babel. So we have to restrict ourselves to the subset of JavaScript supported by TypeScript.

[2016-03-21 21:11] mquandalle commented on #6
Well I also miss the spread operator syntactic sugar, but the reason the Typescript team hasn’t implemented it yet is because it is not a part of the ES6 specification. So I wouldn’t say that Typescript users have to restrict to a subset of Javascript, actually if you take a Javascript program (ES5 or ES6) program, there wouldn’t be any syntax error in Typescript (only potential type errors). The

[2016-03-21 21:19] stubailo commented on #6
Right, I'm not referring to "real" language features. It's just a fact that they work with Babel but not TS, regardless of their standards track status. Just something to consider.

[2016-03-21 21:55] mquandalle commented on #9
Not trying to influence anyone here but I was actually able to `npm install` and `npm test` the `typescript` branch. I had no success with other branches :( (I wanted to test flow on this code base).

[2016-03-21 22:02] jbaxleyiii commented on #9
@mquandalle I bet you need to `npm i -g babel-cli` first. We can add it to the package.json if we stick with babel

[2016-03-21 22:04] mquandalle commented on #9
Yep! Thanks @jbaxleyiii, that was it.

[2016-03-21 22:05] #9 closed

[2016-03-22 00:42] stubailo commented on #6
We're done here!

I got the testing and test coverage to work as well! So now Travis CI is happy.

[2016-03-22 00:42] #6 closed

[2016-03-22 02:40] stubailo opened #14 "Create a local SWAPI to run tests against"
We should be able to basically cache all of the star wars API data and put it in a static JSON file and resolve requests against that directly.

[2016-03-22 04:06] stubailo opened #15 "Client design discussion thread"
I think the idea I'm tending towards is that the core client just has a registered set of queries that the UI is interested in. Any query aggregation from the UI would be built on top of this. Each query is an event emitter, so that every query consumer can get notified about changes in that query. Here's a crappy diagram:

![slack for ios upload](https://cloud.githubusercontent.com/assets/448783/

[2016-03-22 21:15] #3 closed

[2016-03-22 22:09] mquandalle commented on #15
(maybe you would like to try https://www.draw.io, if you don’t know it already :))

[2016-03-23 01:47] stubailo commented on #15
@mquandalle @jbaxleyiii question:

Right now, we have a QueryManager that keeps track of a list of queries, associated callbacks, etc. Should this data live in Redux as well? It might be useful to keep track of actions such as "add query to the list", "error on query", etc.

[2016-03-23 01:51] jbaxleyiii commented on #15
@stubailo the callbacks would be possible but kinda against the plain state ideals of a redux store. Although you can store rich objects, ideally the store is serializable. Otherwise I'm all for QueryManager keeping things in redux. Keeping track / being able to report on query actions would be great!

[2016-03-23 01:59] stubailo commented on #15
@jbaxleyiii I was thinking Redux would just store queries by ID:

[code]

And anyone who wanted to get the query out of the store, or have a callback to its data, would reference it by ID.

So you could say "give me a callback for data on query 1" and the query itself can be serialized, refetched whenever necessary, etc.

[2016-03-23 02:01] jbaxleyiii commented on #15
@stubailo that makes sense! Thanks for the clarification!

[2016-03-24 01:50] jbaxleyiii opened #25 "Optimistically batch requests"
In many applications, there are a number of ways that data is requested. Lets take a moderately complex react app as the example. In this case, the app has SSR (server side rendering), a single UI tree, a centralized application state (using redux), and has the need to prefetch application data that isn't UI dependent.

**Using a direct 1:1 query/operation:request**
* On the server, this app curre

[2016-03-24 05:43] stubailo commented on #25
I think as much as possible I want to maintain the store API of "just throw a ton of queries at it, and it works" so batching by time automatically would be great rather than having to distinguish between data fetching, UI components, etc.

[2016-03-24 06:05] stubailo opened #26 "Pagination idea: type-specific refetching plugins"
In some sense, handling pagination in a smart way is just a special case of "when you ask for data, treat certain fields in a special way because we know that the arguments are meaningful." So if we're looking at a Relay spec paginated list:

[code]

Notice how easy it is for us as humans to imagine what data needs to be fetched to satisfy the new query.

Here's a set of hypotheses:

1. The initia

[2016-03-24 06:43] stubailo opened #27 "Add __typename fields to queries automatically"
This can be done in a lot of different places. I think actually it might make sense to do it close to where the query is created, for example in `watchQuery` in QueryManager.

I mentioned earlier doing it in the network interface, but it kind of makes sense for that thing to just handle query fetching. It's a natural place to do it in Relay, but that's mostly because the network layer is basically

[2016-03-24 17:25] stubailo commented on #15
Given the index.js is merged, I think all of this is now in the code.

[2016-03-24 17:25] #15 closed

[2016-03-24 21:47] stubailo opened #29 "Mutations"
The ability to do mutations is one of the primary features of a GraphQL client. A mutation looks like this:

[code]

You can pass multiple mutations in the same query, as well. If you want to pass the arguments as variables, you have to specify them after the `mutation` keyword, and then also indicate where those variables should be used:

[code]

As you can see, this is quite verbose, with the na

[2016-03-24 21:54] mquandalle commented on #29
I have a question that is more about GraphQL mutations than about Apollo specifically: but does the GraphQL/Apollo model allows to chain mutations, by using the result of a mutation `A` as the parameter of a mutation `B` without sending the intermediate data back and forth to the client? (clearer explanations of what I’m talking about in the “Time Travel! (Promise Pipelining)” of https://capnproto

[2016-03-24 22:23] mquandalle commented on #29
After a bit of googling I don’t think that GraphQL allows promise pipelines. Sorry for the off-topic.

[2016-03-24 22:24] helfer commented on #29
Yeah, unfortunately it doesn't allow you to pipeline mutations.

[2016-03-24 22:27] stubailo commented on #29
COULDN'T IT THOUGH?

what about this magic:

[code]

You would be able to access the result of `myMutation` in the context of `myOtherMutation`!?

[2016-03-24 22:45] mquandalle commented on #29
Hum but you would need to provide the result of the first mutation as a GQL *argument* of the second mutation, something like that:

[code]

But I doubt that this is really possible. (Warning: I don’t understand all the boilerplate involved in GQL mutations and I have no idea what I’m writing).

[2016-03-24 23:01] mquandalle commented on #29
Actually I wonder if Apollo needs to use GQL mutations at all. It seems to me that one of the specificity of GQL mutations is to request a list of fields that you expected to be modified by the mutation, at the same time that you are calling the mutation.

Now with Apollo the server side code is allowed to invalidate a dependency key and the invalidation server then notify the client. So couldn’t

[2016-03-24 23:09] jbaxleyiii opened #30 "Update to include typescript 1.8 features"
'll do the update and list out the new features that are meaningful here. :+1:

*Note*
We have been using 1.8, but typescript just updated their site and have a good breakdown of 1.8 features. A few of them will be helpful here so I'll document them as tooling enhancements and open a corresponding PR with the adjustments

[2016-03-24 23:12] mquandalle commented on #29
And it’s how it works with Meteor by the way. If you create a method creates a new post:

[code]

the post isn’t returned by the method. The client is still notified of the new post thanks to the reactivity layer— as the `insert` call notify the mergebox/invalidation server. The method is still free to return something, for instance an error if something went wrong, but the actual data refresh is

[2016-03-24 23:13] mquandalle commented on #30
Aren’t we using typescript 1.8.9 already? https://github.com/apollostack/apollo-client/blob/048ac76b7c9f7399db3e788cb8ceca6091d01e91/package.json#L47

[2016-03-24 23:14] mquandalle commented on #30
Oh, did you mean update to TS1.8 new language features?

[2016-03-24 23:15] jbaxleyiii commented on #30
@mquandalle yep! Wherever they can be applied!

[2016-03-24 23:15] stubailo commented on #29
I think we should first support all normal GraphQL servers, and then extend it to avoid having to manually refetch data. But I agree having to list the fields to be refetched is a drag.

If this client only works with special GraphQL servers that will be a really big damper on adoption, and kind of defeats the purpose of using a standard like GraphQL.

[2016-03-24 23:19] stubailo opened #31 "Variables"
Currently, we don't support variables. This is extra useful in mutations. so for now I'll implement simple mutations without variables and then add variable support for both queries and mutations afterwards.

[2016-03-24 23:19] mquandalle commented on #30
Maybe one occurrence of that is in the GraphQL typescript interface, I think the following interfaces could be modified as follows:

[code]

[2016-03-24 23:36] stubailo commented on #30
ooh, that's neat. we should send a PR or something? or do these definitions want to be compatible with multiple versions of the language?

[2016-03-24 23:56] stubailo opened #33 "Network interface should return errors object in promise rejection"
Currently, this code in QueryManager:

[code]

Doesn't work! Because `catch` actually gets a string with some serialized errors. We need it to return the actual error data.

[2016-03-25 00:30] jbaxleyiii commented on #33
on it!

[2016-03-25 01:25] jbaxleyiii commented on #26
@stubailo I'm a big fan of the flexibility of this method. We will be using what we have of `apollo-client` in an app this week that has pagination. I'll report back what usage on a non relay spec server is like.

cc @johnthepink

[2016-03-25 01:27] jbaxleyiii commented on #33
Discussion and PR #34

[2016-03-25 01:30] jbaxleyiii opened #35 "Websocket network interface"
Do we want to ship this as part of core or as a separate module?

A sample use case is in a Meteor app where extra variables / authentication happens via a Meteor method on the server.

@johnthepink and I will be building this interface next week and would love to know if we want it in core or as `import { createWSNetworkInterface } from 'apollo-client-websocket'` or the meteor sugared `import { D

[2016-03-25 01:32] jbaxleyiii commented on #31
@stubailo with this change, we will be able to start testing this in our application stack as it reaches the current functionality we are using with Lokka :fire:

[2016-03-25 01:40] jbaxleyiii commented on #29
@stubailo I personally don't like the Relay API fwiw. I prefer to be able to read the actions from the client side to know what is going on in the operation. The Relay spec in the example hides the knowledge that I need to send `twitterHandle`.

However I think we can pass objects as arguments and access them:
[code]

[2016-03-25 04:43] stubailo commented on #26
What do you mean by this week? :P that sounds pretty soon!

[2016-03-25 04:44] stubailo commented on #35
Can you give me an example of how you would use this?

[2016-03-25 04:46] stubailo commented on #35
Also, is this websocket, or DDP?

[2016-03-25 04:51] stubailo commented on #31
Yep! In fact, more, because Lokka doesn't support variables in mutations. (I guess it does if you use `query` lol)

[2016-03-25 04:55] helfer commented on #26
I think these kinds of plugins are a great idea! The thing to keep in mind is that we might have to be more careful with garbage collection in the case where newer queries rely on the data from no longer active queries still being in the store. Somehow we'd have to know what data the plugins are extracting from the store. It might not be necessary for pagination, but you could imagine other plugin

[2016-03-25 05:55] stubailo commented on #29
Yeah, that looks great!

Explain more? Sounds intriguing but I don't quite understand.

[2016-03-25 23:06] stubailo opened #36 "License"
I'm planning on copying in some of the code from GraphQL-JS to handle arguments/values. Specifically, this file:

https://github.com/graphql/graphql-js/blob/master/src/utilities/valueFromAST.js

@n1mmy can you help me figure out how we can incorporate that in the license for this package?

[2016-03-26 05:19] stubailo opened #40 "Make sure root query that returns object with ID is cached"
This test kinda describes the situation:

[code]

(This is a note so that I can focus on a different thing)

[2016-03-26 05:59] stubailo opened #41 "Garbage collection"
In the current code, the store will grow without bound as more and more queries are fetched. We should implement a strategy for clearing out data we are no longer using.

This can be as simple as re-running all of the active queries and putting the results into a new empty store, then throwing away the old one.

[2016-03-27 10:28] mquandalle commented on #41
Could ES6 `WeakMaps` be of any use here?

[2016-03-27 17:33] stubailo commented on #41
That's an interesting idea! On the other hand, I think it would be beneficial to be able to inspect via Redux which items are being garbage collected. If items start unexpectedly disappearing from the store, that might be very confusing. I wonder if we can somehow get both.

[2016-03-27 17:38] #31 closed

[2016-03-27 17:38] stubailo commented on #29
Basic mutation support with variables works now!

[2016-03-27 17:38] #29 closed

[2016-03-27 20:47] jbaxleyiii commented on #14
I can work on this over the next couple of days :+1:

[2016-03-27 22:41] stubailo commented on #14
BTW @helfer is working on something that might make it really easy to mock a GraphQL server over the next few days. So let's talk about it in our call tomorrow!

[2016-03-27 22:41] stubailo opened #42 "Turn on query diffing"
We have the capability to diff a new query against the the store to avoid fetching data we already have. Currently, that functionality is not exposed through `index.js` at all. There are some tests, but any new query passed to `watchQuery` is run against the server in its entirety. We should add this functionality.

## Options

There are 3 variants (with small deviations) of what you might want to

[2016-03-27 22:48] stubailo commented on #26
BTW this issue blocks on #42

[2016-03-27 23:23] stubailo commented on #42
@jbaxleyiii question:

Should the information about what the server supports live in the network interface? For example, this would be a flag `supportsRelayNodeQueries` or something.

[2016-03-27 23:33] jbaxleyiii commented on #42
@stubailo I think so. To me the network interface both declares how to communicate to an external source, as well as other potential information. For instance, at some point I think we build authentication that is passed / provided by the network interface.

This keeps the main data logic separate from the data source making it possible to point to different types of graph servers, as well as open

[2016-03-27 23:34] #33 closed

[2016-03-27 23:43] stubailo commented on #42
Yep, that's what I was thinking as well. Might build passing options about what the server supports as part of #43

[2016-03-27 23:58] stubailo opened #44 "Set up CI test coverage report"
I think there are services that can take our test coverage report and make it look nice so that we can just click to see a page where we can think about what tests might be good to add. Would be good to get source maps in there as well.

[2016-03-28 00:29] stubailo opened #45 "Compile list of changes before alpha release"
@jbaxleyiii alluded to this in a comment earlier. If we want people to start testing this on basic queries and stuff, we should put out an alpha release where there is a clearly documented set of supported features. We should start writing down which features that should include, and see if that represents a coherent story. (For example, a drop-in replacement for Lokka presents a pretty good story

[2016-03-28 00:30] stubailo commented on #45
This will also let us iron out a release process, and make sure the package is indeed installable. I'd also suggest this includes removing the dependency on _all of LoDash_...

Should be pretty easy to create a custom build of lodash that just has the functions we use in production, or we can use the single-function packages.

[2016-03-28 00:32] jbaxleyiii commented on #45
@stubailo that sounds fantastic. I'd like to setup the docs using gitbook so we get something akin to http://redux.js.org/ for now.

I prefer doing single-function packages because its paints a clear usage picture and is easier to add / replace. I would also like to remove the deps on fetch and promise and let the environment handle supporting of that. With relevant documentation and perhaps a ver

[2016-03-28 00:34] jbaxleyiii commented on #44
I haven't used it before but https://codeclimate.com/oss looks pretty great

[2016-03-28 00:44] stubailo commented on #44
Wow, that was easy! Thanks for the suggestion. Check out the page here:

https://codeclimate.com/github/apollostack/apollo-client/coverage

[2016-03-28 00:45] stubailo opened #46 "Add source maps to test coverage"
We can remap the .lcov file before sending it to code climate using some tools that can be found with Google. Not super high priority though since TypeScript compiled code is pretty easy to read.

[2016-03-28 00:46] stubailo commented on #45
Sounds great to me!

[2016-03-28 00:49] stubailo commented on #44
Hmm, I think I partied too early - I can't find any way to actually see the annotations there... when you look at the coverage file locally you can look at the code and stuff:

[code]

Looks like this:

<img width="699" alt="screenshot 2016-03-27 17 48 57" src="https://cloud.githubusercontent.com/assets/448783/14068834/3a727676-f444-11e5-8b1b-1bfa44239637.png">

Would be really neat to be able to

[2016-03-28 00:52] jbaxleyiii commented on #44
@stubailo another service to the rescue! Also free for open source and used with react :+1:

https://coveralls.io/
[React Coverage](https://coveralls.io/github/facebook/react)

[2016-03-28 00:53] stubailo commented on #44
MORE SERVICES PLEASE

OK let's try that one, they probably know what they are doing!

[2016-03-28 01:01] stubailo commented on #44
OK, almost there - I think I do actually need to set up source maps to be able to see a report: https://coveralls.io/builds/5564180/source?filename=lib%2Fsrc%2Fstore.js

[2016-03-28 01:17] #46 closed

[2016-03-28 01:19] stubailo commented on #44
Done! And it shows the original code not the compiled version! https://coveralls.io/builds/5564257/source?filename=src%2Fparser.ts

Except now the test fails sporadically since the service isn't reliable, which is ironic I guess?

Seems like a lot of people are getting a similar error - "Couldn't find a repository matching this job." - very sporadically. Let's see if it becomes a problem!

[2016-03-28 01:19] #44 closed

[2016-03-28 17:19] stubailo opened #47 "Track query loading state via Redux"
We set up the query watcher immediately when the client asks for it, which means that results from other queries will trigger a data broadcast. We need to put a hold on each query until its initial results have arrived (unless the partialData option is passed).

[2016-03-28 17:41] stubailo opened #48 "Don't send unused variables"
This would only make a difference in the case where the variables themselves comprise a significant part of the request.

[2016-03-28 18:38] stubailo opened #49 "Keep track of which specs the server supports, and use that to determine query diffing behavior"
Right now, either you call your query with diffing off, or it's assumed that your server implements the Relay Node spec.

[2016-03-28 18:39] stubailo opened #50 "Handle cases where query diffing returns a node which doesn't have its own ID"
In this case, we might need to use the path to the node to refetch, or simply walk up the query tree until we find something with an ID.

[2016-03-28 18:40] stubailo opened #51 "Handle partial responses when the server returns an error"
`XXX` in `QueryManager#makeRequest`.

[2016-03-28 18:41] stubailo opened #52 "Figure out error handling with Redux"
Going to talk to some people about this - right now AFAIK the errors just get swallowed unless you have a middleware to print them.

[2016-03-28 18:50] stubailo commented on #45
I made a milestone `alpha`:

- [On GitHub](https://github.com/apollostack/apollo-client/issues?q=is%3Aopen+is%3Aissue+milestone%3Aalpha)
- [On Zube.io](https://zube.io/boards/52630616?milestone=1669649)

No need to have an issue here I think.

[2016-03-28 18:52] #45 closed

[2016-03-28 18:54] #42 closed

[2016-03-28 18:56] stubailo opened #53 "Create a docs site"
Even though this library isn't done, writing docs can be very informative. It will help us figure out where we have a coherent story and where we don't. We can also put in placeholders for things we know we need to implement, to sketch out the API.

[2016-03-28 19:00] stubailo opened #54 "Figure out annoying Coveralls issue"
Every once in a while we get this in a Travis failure:

![Screenshot 2016-03-28 11.59.08.png](https://zube.io/files/apollostack/ab3826c9f98658343be26c90ea330e54.png)

I don't know what we can do to fix it, right now I just re-run the build.

[2016-03-28 19:01] stubailo commented on #54
Seems like this is a long-standing thing: https://github.com/lemurheavy/coveralls-public/issues/487

Not sure if our issue is related to all of these people, since they said it was fixed...

[2016-03-29 19:23] stubailo opened #57 "Handle mutation errors"

[2016-03-30 18:35] johnthepink opened #58 "Write simple arrays to store"
Currently there is an issue with writing simple arrays to the store. Arrays of objects work fine (`[{}, {},]`), but arrays of strings do not (`['one', 'two',]`). It throws this error:

[code]

I played around in the tests, and it seems there is no issue reading an array of strings from the store once it is in there.

This seems like something it should support, and I'm going to work on a solution.

[2016-03-30 18:38] stubailo commented on #58
Yeah that makes sense! Just an oversight. Probably step 1 is to write a failing test for this case.

[2016-03-30 18:38] johnthepink commented on #58
@stubailo already on it :)

[2016-03-30 18:38] stubailo commented on #58
This might mean we don't read those out of the store properly either, since the tests usually do both.

[2016-03-30 18:39] stubailo commented on #58
If you're going to work on it, please assign the issue to yourself!

[2016-03-30 18:40] johnthepink commented on #58
@stubailo It doesn't look like I have permission to do that, but feel free to assign me

[2016-03-30 18:43] stubailo commented on #58
Just added you, and I made @jbaxleyiii an admin so that he can add additional collaborators if necessary!

[2016-03-30 18:43] johnthepink commented on #58
Thanks!

[2016-03-30 20:58] stubailo opened #59 "Add ability to do a one-off query"
Right now you can call `watchQuery` then `stop` once you get the data, but that's not optimal.

[2016-03-30 20:59] stubailo opened #60 "Pluggable authentication in the network interface"
After you log in to the server, you should be able to tell the client to send along a login token with every request.

This could also work as a feature to add a pluggable middleware to the network interface or client.

[2016-03-30 21:01] stubailo opened #61 "Allow passing in an existing Redux store and pick which key in the store should be managed by Apollo"

[2016-03-30 23:27] stubailo opened #62 "Note on how to make a GraphQL server always accept `id` in a query"
From @helfer:

"actually, I’ll just write it down here: it’s in execute.js, all the way at the end in getFieldDef. I think we should just return a default id field if it doesn’t exist on the type. That’s also where the __typename stuff gets handled."

Just something to note when we add the functionality to add `id` and `typename` to all queries.

[2016-03-30 23:50] stubailo opened #63 "Create repositories and basic implementations of view layer integrations"
Two to start with:

1. ✅ React: https://github.com/apollostack/apollo-react
2. Angular 2

Other candidates, to do as people need them:

1. Blaze
1. Riot.js
1. Angular 1
1. Ember
1. Vue

[2016-03-30 23:50] stubailo opened #64 "Add mutations to index.ts"
Right now they exist on queryManager but not on the client object itself!

[2016-03-30 23:57] mquandalle commented on #63
A big :+1: for building that, we are getting closer to an Apollo MVP!

I wonder if it would be possible to customize the reactivity layer, for instance by using MobX + React, instead of Redux + React? Also there are some decisions to make on the API design, for instance I imagine that higher-order functions/components/decorators are much more recommendable these days than Tracker-like mixins.

[2016-03-31 00:03] stubailo commented on #63
I wonder if you have an idea for how this would work? At the end of the day, we need a state object that can be modified by firing actions. If MobX offers that, I imagine it wouldn't be hard to integrate. Also, what's the benefit here? Is it to integrate with some kind of MobX tooling?

I think each view layer's integration should be the best practice for that view layer. So for React it will be a

[2016-03-31 00:32] mquandalle commented on #63
There have been a bit of discussion about MobX in https://github.com/apollostack/apollo/issues/1. MobX basically does the same thing as Tracker, as it allow you to have some reactive data source (in this case it could be a GraphQL query) and a reactive context that will be re-ran every time one of its dependency gets invalidated. With this model you are able to run arbitrary computation reactively

[2016-03-31 00:39] stubailo commented on #63
One of the core ideas I'm working with for this package is versioning the entire store as an immutable object, very much in the style of Redux. I think this is the most natural approach for a store which is normalized and shared between all queries, and immutable JS will hopefully let us determine relatively easily which parts of the query result have changed.

If this makes MobX integration a bit

[2016-03-31 00:45] mquandalle commented on #63
But one’s might as well want to perform some arbitrary computation using a Apollo/Graphql query as a GraphQL source, say for instance that you want to display an HTML5 notification when a new message is posted in a thread. How would that work if it is the view connector that is determining if a query result changed or not?

[2016-03-31 00:55] stubailo commented on #63
Sorry, I misspoke. It should be some layer between the Redux store and the view connector. So you could think of the MobX integration as a view connector.

[2016-03-31 00:57] stubailo commented on #63
And I agree that not firing spurious events on queries when their result didn't change should be a priority! Otherwise many things would become very hard to do and people would have to build custom result diffing, which kind of defeats the purpose.

[2016-03-31 02:43] jbaxleyiii commented on #61
@stubailo this will require a partial rewrite to move the default store generated from `createApolloStore` to be a combined reducer where all apollo data will live under a specified key. I'm thinking nesting it under an `apollo` key makes the most sense.

In order to support a dynamic key, we will need that to be an input of the `ApolloClient` and passed to query manager (I think, still working th

[2016-03-31 02:49] jbaxleyiii commented on #60
A few notes:

- [ ] the middleware can modify both the options passed to the request, and the headers by passing a compliant `RequestInit` object
- [ ] we should document that the following fields are reserved `body, headers.Accept, headers.Content-Type, method` and probably warn if they are sent
- [ ] the authentication middleware should only affect the headers. (Unless I'm missing another need?)

[2016-03-31 02:50] stubailo commented on #61
yeah that sounds great! It would be good if it was possible to just not pass in a store, in which case Apollo would make one for you. Basically having flexibility while having sane defaults.

[2016-03-31 02:52] jbaxleyiii commented on #59
@stubailo do you think it would be confusing if we have a `query` method on the client? `watchQuery` is more descriptive of what the method does for sure, just don't want to cause confusion between creating a query.

Counter point would be that `query` and `watchQuery` will return drastically different things so there is no point in unifying the calling method. It would do more harm than good. The

[2016-03-31 02:53] stubailo commented on #60
The question here is, if someone built an alternate network interface, would an existing login middleware work with it? It seems like the answer is probably no, because only an HTTP network interface would have a login middleware that uses headers. So it makes sense that it would be attached to the network interface I guess.

Everything you said sounds good then.

[2016-03-31 02:56] stubailo commented on #59
Yeah I agree, these are separate methods, since one returns a fancy handle and the other will return a simple promise. IMO having both `query` and `watchQuery` methods is fine. Realistically, the end developer might not be using `watchQuery` much, since they will probably be using the view integration?

I think we should have consistent options where possible though, like whether to use the cache.

[2016-03-31 03:04] jbaxleyiii commented on #61
@stubailo yep! 100% still possible!

[2016-03-31 03:08] jbaxleyiii commented on #59
hmmm, if it does, it comes down to a simple sugaring of `watchQuery` with a promise and self cleanup. I think the initial run could be that exactly. I'm not sure of the performance gains by bypassing the watch methods internally?

[2016-03-31 03:15] stubailo commented on #59
Right now, if you do the same query twice, it will have two different query IDs, so this isn't a problem. I think the efficiency benefits of deduplicating queries and doing ref counts would be pretty minimal in the current architecture.

[2016-03-31 03:20] jbaxleyiii commented on #59
Seems easy enough! @johnthepink can probably knock this out tomorrow then because he is :rocket:

[2016-03-31 15:32] johnthepink opened #65 "Null values in lists"
Lists from GraphQL should all be of the same type, in theory. But, It may also return a `null` in the middle of a list:

[code]

Currently, this will error out:

[code]

[2016-03-31 19:57] #59 closed

[2016-03-31 19:57] jbaxleyiii commented on #58
@johnthepink this is fixed yes?

[2016-03-31 20:29] johnthepink commented on #58
@jbaxleyiii yessir. Closed via #66

[2016-03-31 20:29] #58 closed

[2016-04-01 22:01] johnthepink commented on #65
Closed via #70

[2016-04-01 22:01] #65 closed

[2016-04-01 23:10] #35 closed

[2016-04-02 02:15] helfer opened #71 "npm install fails on fresh clone"
After cloning a fresh repo, `npm install` runs `tsc`, which fails with the following error:

error TS6053: File 'typings/main.d.ts' not found.

Am I missing some dependencies?

[2016-04-02 03:05] johnthepink commented on #71
@helfer I think you need typings and tsc.

npm install -g typings tsc

Do you have those?

[2016-04-02 03:30] helfer commented on #71
I found it, this commit has the solution: https://github.com/apollostack/apollo-client/commit/40b59f82fe19cc198a09e6b0f5da8a3e60e463f7

I just had to run `typings install` first, then `npm install`. It's a bit of a chicken and egg situation with npm, but I hope we can figure something out that works for both installing from npm and cloning from github.

[2016-04-02 17:53] stubailo commented on #71
Yeah I think we just need to update the readme to explain how to set it up. Alternatively I think committing the typing a to git could be a great choice - I bet they don't change that often!

[2016-04-02 19:41] stubailo commented on #53
I got us started with a GitBook! https://apollostack.gitbooks.io/apollo-client/content/

Didn't write anything useful yet, and there appears to be some weird comment-related error. Will figure out more soon.

[2016-04-02 20:09] stubailo commented on #53
Cool, it works now! Let's get some docs going!

[2016-04-02 20:30] #71 closed

[2016-04-03 16:00] mquandalle commented on #71
@stubailo Committing third-party typing files doesn’t seems extremely right. Could you expand on why the previous `postinstall` script to run typing fetching wasn’t working?

[2016-04-03 17:20] jbaxleyiii commented on #60
@stubailo @johnthepink and I talked through a few options for this. What are your thoughts on https://gist.github.com/jbaxleyiii/e899fe74842b7488657617e43c9a30fe

// the meat of the gist
[code]

[2016-04-03 19:48] stubailo commented on #71
Mostly because I couldn't figure out how to not make that step run when installing from NPM. If you have any ideas I'd love to put it back

[2016-04-03 20:22] mquandalle commented on #71
Why do you want to skirt this step?

[2016-04-03 21:22] jbaxleyiii commented on #71
@mquandalle @stubailo I think this comes down to two issues. Development from github vs using this package in npm.

- Locally I want typings, the raw files, test, etc
- on the CI I want the same
- when pushed to npm, I only want the compiled code

I think the npm script hooks (e.g. postinstall) should be reserved for the package on npm. That way when a user downloads it, we know exactly what is be

[2016-04-04 04:14] stubailo commented on #71
Yeah that makes sense to me. On the other hand, I really don't feel like committing development-only dependencies, like the typings, is that bad. It has the added benefit that if something about the typings installation stops working our builds don't spontaneously fail.

Last week, there was some incident where all of our tests on CI started failing because something was broken in the `typings` to

[2016-04-04 04:19] stubailo commented on #60
is this better than something like:

[code]

Also, I think `use` should always take an array probably.

Other than that, looks really good! I think going with the express model where you modify the object is probably the best.

[2016-04-04 06:31] #64 closed

[2016-04-04 17:39] stubailo commented on #47
Going to try to tackle this and related stuff about error handling today. The basic idea is:

Add a query dictionary to the store that maps from query IDs to metadata about them.

  1. The actual query string
  2. The minimized query sent to the server
  3. The state: `loading`, `done`, or `error`
  4. The result (even though this is a duplication of the normalized store, I think this will make st

[2016-04-04 20:44] stubailo opened #73 "John, join me on Meteor Chef slack?"
http://slack.themeteorchef.com/

@johnthepink I'm in the middle of a small refactor, might be good to keep in touch!

[2016-04-04 20:59] #73 closed

[2016-04-05 00:09] jbaxleyiii commented on #60
@stubailo that is what @johnthepink had too :+1: Let's go with that direction for the auth middleware

[2016-04-06 00:06] johnthepink commented on #60
Closed via #75

[2016-04-06 00:06] #60 closed

[2016-04-06 00:42] jbaxleyiii commented on #30
closing because it looks like we are already using everything useful

[2016-04-06 00:42] #30 closed

[2016-04-06 05:11] stubailo commented on #51
Still haven't fixed this

[2016-04-06 17:49] #47 closed

[2016-04-06 17:49] #57 closed

[2016-04-06 18:06] #52 closed

[2016-04-06 18:07] stubailo opened #78 "Handle network errors"
Right now, we handle GraphQLErrors just fine, but we don't have anything for network and runtime errors.

[2016-04-06 18:23] stubailo opened #79 "Resolve node queries directly from store"
When we have a query like:

[code]

If we already have a node with ID 1 in the store, we should be able to retrieve it. Right now, this will not realize that this is just looking for a particular node, and hit the network with a new root query. I guess this also means, when we receive the result of a root node query, we might want to not cache it under the root query, but instead only under the ID

[2016-04-06 18:27] stubailo commented on #40
Oh, actually this is basically a malformed query.. for this result to actually work, `id` would have to be a root query on the schema, which would be ridiculous.

[2016-04-06 18:27] #40 closed

[2016-04-06 21:31] stubailo commented on #50
Also, query diffing could diff the `id` out of the query, in which case the result might not be able to be patched in? Need to check, not sure if that's the case.

[2016-04-06 21:31] #36 closed

[2016-04-07 04:19] stubailo opened #80 "Support named fragments"
Some questions:

1. Do we inline the fragments, or try to keep the original names?
2. What do we do about variables?
3. Do the fragments return their own data, or does the UI component get it passed in from the parent?

More to think about later. The main question is, how critical is named fragment support for the alpha launch? It's one of the flagship features of the Relay API.

[2016-04-08 17:56] stubailo commented on #53
I got some basic docs on the page, going to close this in favor of more specific issues.

[2016-04-08 17:56] #53 closed

[2016-04-08 17:59] stubailo opened #82 "Make breaking API changes to align with docs"
When I was writing the docs, I decided to write them for the API I want, not the one I have :P

So we should make some changes to the library itself to bring it up to date:

- [x] Make ApolloClient a default export of the package
- [x] Make the arguments to ApolloClient an object instead of positional
- [x] Make sure `ApolloClient#query` doesn't take a `returnPartialResults` option
- [ ] Add a few

[2016-04-08 18:00] stubailo commented on #79
This will become important once fragment variables are a thing. But isn't as useful now.

[2016-04-08 18:55] stubailo opened #83 "Get a community started"
Once we have some users for this thing, we would need a place to chat and see what people are doing with it.

[2016-04-08 21:16] johnthepink commented on #82
@stubailo cool I'll be thinking about it, but on first glance looks good to me!

[2016-04-08 23:24] jbaxleyiii commented on #82
@stubailo I'm always a fan of documentation driven development :+1:

Those look good to me, espeically tmaking the client the default export. I'd also personally prefer if the default for `forceFetch` was `false`. It seems like defaulting to cached data is the more often desired action, rather than forcing entirely new data. I can see how `returnPartialData`'s default makes a lot of sense though d

[2016-04-08 23:36] stubailo commented on #82
@jbaxleyiii yeah, I think you're right. My only concern is that to make forceFetch false the default, we need a lot more testing about how it interacts with different servers that may or may not support certain features.

[2016-04-08 23:37] stubailo commented on #82
Perhaps by default, we should just assume the server doesn't support the Relay Node spec, and just check if we have all of the query results on the client. Then we can set forceFetch to false, and it will help a lot for stuff like navigating to a route you just visited.

[2016-04-08 23:50] jbaxleyiii opened #84 "Allow for multiple remote endpoints"
One of things things that has me a little confused, is the seemingly lack of versioning recommended by GraphQL implementation articles and examples. Speaking for our team, we are already planning on making our current implementation essentially a pre release (`/graphql`) and starting with our apollo server build out at `api/v1` or `graphql/v1`.

That being said, I'm interested to get thoughts on u

[2016-04-08 23:58] jbaxleyiii commented on #82
@stubailo I think this sounds great

[2016-04-09 00:03] stubailo opened #85 "Set forceFetch to false by default, do all-or-nothing diffing"
per this comment: https://github.com/apollostack/apollo-client/issues/82#issuecomment-207647987

[2016-04-09 00:06] stubailo commented on #84
Personally, I think the main strength of GraphQL is having exactly one endpoint. If you're querying multiple GraphQL servers from the same client, I feel like you're doing it wrong (just my opinion at the moment).

I think having a function in the _server_ to proxy part of the schema to a different GraphQL server would be the right approach, so that you maintain the property that you can render yo

[2016-04-09 00:07] stubailo commented on #84
My understanding is that GraphQL is supposed to remove the need for versioning by having deprecated fields. So you can deprecate a field, then track how many clients access that field, and once it drops below a certain level you just remove it. Rather than having different versions of the whole API.

[2016-04-09 00:10] jbaxleyiii commented on #84
@stubailo I haven't played around with deprecated fields. I'll give that a go for our use case. I can see how having the server doing the linking would be a better world too.

Thanks for the input :tada:

[2016-04-09 00:10] #84 closed

[2016-04-09 00:11] stubailo commented on #61
Fixed by #81

[2016-04-09 00:11] #61 closed

[2016-04-09 00:12] jbaxleyiii commented on #61
@stubailo this closes out our needs to get this into production :tada: :tada: I'll let you know when it's alive and working in our app!

[2016-04-09 00:12] stubailo commented on #84
Yeah I would really love to know how that works for you. And it would be cool to collaborate on the proxy thing, I think that would be really valuable, if you could just have your schema say "oh, this is a GitHub user" and then be able to import the whole GitHub API schema and just traverse it.

[2016-04-09 00:14] stubailo opened #86 "Add the ability to manage client and server data together"
As a special case of multiple endpoints, I think it would be really valuable to be able to use Apollo Client as a one-stop-shop for client data management.

This would be very similar to using Redux (since it is under the hood) but you would make a typed schema for your client-side data, declare relationships to server data, do client data changes via mutations, and be able to query client and ser

[2016-04-09 00:14] stubailo commented on #84
Moving this: https://github.com/apollostack/apollo-client/issues/86

[2016-04-09 00:14] jbaxleyiii commented on #84
@stubailo since our move would be to the apollo version of the graphql server, I'm sure you'll hear about it haha.

The dream. Application libraries that you can import and use for your app

[2016-04-09 00:16] stubailo commented on #61
Dude, amazing! Let me know. Excited to see our first set of production bug reports 😄

Sounds like I should get those breaking API changes in today, so that you don't have to make random weird changes once you start using it: https://github.com/apollostack/apollo-client/issues/82

[2016-04-09 00:30] gschmidt commented on #61
@jbaxleyiii Super exciting! It's great having you guys as a partner. I can't wait to hear how it goes.

[2016-04-09 00:32] johnthepink commented on #61
@stubailo if you don't get them all in today, I'd be happy to help you finish next week before I start integrating.

[2016-04-09 00:51] stubailo commented on #83
I think starting a Slack channel is a good idea!

[2016-04-09 01:06] stubailo opened #88 "Add more functions to the query handle"
These are the ones I can think of so far:

- [ ] onError
- [ ] isLoading
- [ ] getResult
- [ ] getError

[2016-04-09 01:11] #82 closed

[2016-04-09 04:18] stubailo opened #90 "Move docs to guide infrastructure"
We've moving the docs and Galaxy guides to the same Hexo site as guide.meteor.com, so let's use that here too. GitBook doesn't really provide much value, and takes away a lot of control. I'll do this in collaboration with @tmeasday.

[2016-04-09 04:21] stubailo commented on #54
Hope this is solved now: https://github.com/apollostack/apollo-client/commit/b5e48a006bd5fd7b3fc9bcf24df6c55c0e0f6f5a

[2016-04-09 04:21] #54 closed

[2016-04-09 04:26] stubailo commented on #85
Essentially, we should see which root queries we can resolve from the store, and for each one we either resolve the whole query from the client or send the whole thing to the server.

This already covers a good set of use cases for caching, and doesn't require us to implement any kind of feature detection for the server.

[2016-04-09 04:40] stubailo opened #91 "Set up a CI job to measure the size of the library"
With client-side NPM, it's easy to code yourself into a huge client-side bundle. We should at least be aware of the size of our dependencies. Should be easy to set up with some kind of CI job.

[2016-04-09 04:41] stubailo commented on #91
For example, I would like to know how much smaller it would be if we didn't depend on lodash.

[2016-04-10 09:38] martijnwalraven commented on #88
Would it make sense for `getResult` to return a promise? Maybe combine it with `getError`?

Also, I'm not sure what naming conventions people are following in JavaScript nowadays, but maybe we could get rid of the `get` prefix? I see that more and more, like the functions on [Body](https://developer.mozilla.org/en-US/docs/Web/API/Body) as part of the `fetch()` API.

[2016-04-10 12:11] ansarizafar opened #92 "Integrate with other options for client-side data management"
@stubailo check this [Freezer](https://github.com/arqex/freezer)

[2016-04-10 14:02] helfer commented on #92
This looks interesting - especially because it has bindings for the Redux devtools - but I'm a bit concerned by the fact that it is basically written by one person and has less than 100 commits. Might be worth considering once it's more mature though. Swapping out the store at a later point shouldn't be too hard, I believe. @stubailo correct me if I'm wrong.

[2016-04-10 17:04] stubailo commented on #88
I was thinking getResult would return whatever the result in the store is at this exact moment synchronously- it's the answer to that thing we were talking about with the query callback always being async.

[2016-04-10 17:05] stubailo commented on #88
And right now the way we are doing it is using the result callback for GraphQL errors, and a different callback for fatal errors

[2016-04-10 17:38] stubailo commented on #92
Hmm, more and more I'm thinking building on Redux is one of our main advantages, since it's something people are really excited about. But in the future it would be cool to be able to integrate with all kinds of reactive backends, as long as we can apply our Redux reducers and actions to it.

[2016-04-10 17:47] stubailo opened #93 "Don't treat `id` as a special field unless instructed to do so"
Right now, the `id` field on an object is treated as a globally unique ID no matter what. I think this could cause serious issues for backends where the `id` property is not unique across types.

It's probably worth hiding this feature behind a flag somehow so that you can turn it on if you have a relay-like backend, and think about whether we want to handle non-unique IDs, or just build the Apoll

[2016-04-10 18:00] stubailo commented on #92
Other things to think about for this are RxJS, MobX, Tracker, etc.

[2016-04-10 18:22] helfer commented on #93
It wouldn't be too hard to build the Relay spec into the server. What I would propose is to add a _id field which defaults to 'id', but can be overridden with a resolve function on the type. If no custom _id resolve function is available and 'id' is not defined on that type, either null could be returned, or a hash could be generated. Although the hash could be a bad idea because it might not be u

[2016-04-10 18:36] stubailo commented on #93
Yeah I think making it really easy to follow the node spec on the server is the way to go. So I won't go to too much trouble to make non-unique IDs work well.

[2016-04-10 18:40] helfer commented on #93
How do you feel about requiring people to use a server that's not spec compliant? My intuition is that we should stay compatible with the GraphQL reference implementation and spec if at all possible.

[2016-04-10 18:56] martijnwalraven commented on #88
Thinking about it some more, I'm not sure how useful returning the result synchronously is. I would say you always want the latest result, but if a result is not yet available it makes sense to wait until it is. A promise also has the benefit that it has error semantics built in, so there is no need for a separate `getError`.

[code]

I also think we need to consider interoperability with Observer

[2016-04-10 20:52] stubailo commented on #93
Yeah I agree - I'm saying that you either conform to the relay spec and get nice refetching, or you don't and then you just turn that feature off. Just saying it's not worth having a third option where you don't use the relay node spec and still expect IDs to work nicely.

[2016-04-10 20:54] stubailo commented on #88
Yes refetch is a good idea! And I feel like this isn't the right place to worry about specific UI integrations. Angular people will want an angular optimized wrapper anyway so I feel like we shouldn't think about it too hard yet. I bet only alpha-testers and advanced users will end up using the query APIs directly.

[2016-04-10 20:57] stubailo commented on #88
Btw sorry my answers are pretty short because I'm on my phone. We should have a more in depth discussion about this!

[2016-04-11 07:08] helfer commented on #93
I agree, anything else doesn't make sense.

[2016-04-11 14:10] marclar commented on #86
Yesss. This is what I was trying to say, @helfer

[2016-04-11 17:42] stubailo commented on #83
Done! http://apolloslack.meteorapp.com/

[2016-04-11 17:42] #83 closed

[2016-04-11 17:47] stubailo commented on #83
Changed URL: http://slack.apollostack.com/

[2016-04-11 18:02] tmeasday commented on #90
Let me know what you need from me. In the meantime you can just copy the first commit from https://github.com/meteor/galaxy-docs and tweak it.

[2016-04-12 00:48] #14 closed

[2016-04-12 03:01] stubailo commented on #90
Made big progress today, still to do:

1. Set up continuous deployment
2. Customize theme to work better for Apollo stuff
3. Make sure analytics are all correct

Repo here: https://github.com/apollostack/docs

[2016-04-12 06:03] stubailo opened #95 "Set up analytics for Apollo docs"

[2016-04-12 06:03] #90 closed

[2016-04-12 06:55] #95 closed

[2016-04-12 15:11] jbaxleyiii commented on #91
@stubailo okay so I really hope I'm doing something wrong but these are the stats that I ran:

[code]

changing to lodash.* for the things we need does help (saves around 30kb gzipped) but GraphQL is our biggest weight

[2016-04-12 15:31] stubailo commented on #91
Oh snap! Well it's a good thing we checked this out. I'll look into it in more detail today.

[2016-04-12 15:32] jbaxleyiii commented on #91
getting better with direct imports of what we need:

[code]

but we will need to add type definitions for those files. Should be an easy thing to do though

[2016-04-12 17:00] abhiaiyer91 opened #98 "interaction with domain state and redux"
I have a couple questions about the Apollo Client store implementation

I see in the example that we have one reducer called `apollo`. What state does this represent? The current query? The thing with ambitious projects like this is I feel that we should be thinking long term. Having all state under one reducer seems like a bad idea and hard to manage going forward. Imagine mapping state to props

[2016-04-12 17:11] stubailo commented on #98
The apollo client itself manages both the reducer and mapping state to props - so rather than using redux-react, you would use `watchQuery` with a custom Apollo container. Check out this article:

https://medium.com/apollo-stack/building-a-graphql-store-from-first-principles-413e19ea65b4

Also, if you have read about Relay, it uses a similar store shape, and it does the same management for you und

[2016-04-12 17:12] jbaxleyiii commented on #98
@abhiaiyer91 one thing about the current store implementation, is there isn't a 1:1 query: data mapping. We normalize the data so using `mapStateToProps` like that wouldn't be possible.

We are working on an easy integration with both redux and react. I'm actually working on the redux api today! Ideally something like this:

[code]

This is a similar proposal syntax to #26.

That being said, I'd a

[2016-04-12 17:14] stubailo commented on #98
@jbaxleyiii have you considered using `readFragmentFromStore` instead of the regex? Then you can just pass the root ID and a query to get data in the shape you want.

It sounds like writing a React container and demonstrating how I was thinking the data would be used should be a critical priority.

[2016-04-12 17:17] jbaxleyiii commented on #98
@stubailo I was just playing around with that :+1:. I'm working on redux and react implementations today as we continue moving our app over. I think I get what you are thinking with your example and have created a couple implementations to try it out. Its working great so far.

[2016-04-12 17:17] stubailo commented on #98
Here's my current naive implementation:

[code]

[2016-04-12 17:20] abhiaiyer91 commented on #98
See now this makes more sense. In my mind I envision this playing out something like:

Server data:
ApolloClient -> watchQuery -> container component -> render

Client Data
Store -> ReactRedux -> container component -> render

Then theres a mix client state to server state back to client
Store -> stateFromClient -> watchQuery -> container component -> render

From there you use ActionCreators to a

[2016-04-12 17:24] stubailo commented on #98
No right now you call `client.mutate` and that does the right Redux actions for you. Redux is more of an underlying store and debug log than an end-user API in this model.

Ideally the React container for Apollo will also let you do the regular Redux mapStateToProps, so you can just use one container to get a graphql query, and your client-side data.

[2016-04-12 17:27] stubailo commented on #91
We don't have a target at the moment. How big is Riot? I'd like this library to feel lightweight, but we don't have to go overboard with code size hacks, especially this early in development.

[2016-04-12 17:31] jbaxleyiii commented on #91
@stubailo riot is tiny (one of its major draws) it weighs in at 8.61 kb gzipped and minified

[2016-04-12 17:33] stubailo commented on #91
Hmm. I think there are a few options to really really cut down the size:

1. Ship a "simple build" that has the same API but doesn't do any caching at all (so it's less efficient at fetching, but initial load is tiny)
2. Pre-compile queries at build time and get rid of the GraphQL parser dependencies

Probably something to consider later - is 24kB good enough for your needs right now?

[2016-04-12 17:37] jbaxleyiii commented on #91
Yep! We are going through our entire app to cut cost where we can and 24kb is :+1: compared to some other libs. I'd be interested in 1. for the embed project I was telling you about though! May have to hack that together soon to try it out!

[2016-04-12 17:42] abhiaiyer91 commented on #98
Dont you think encapsulating `client.mutate` into a pattern will help end-users consolidate their business logic/ state update patterns?

I like that container can mapState, much like a Meteor `createContainer` + `connect` does. I'm sold on the data fetching part of this.

Still not entirely sold on the update api right now

[2016-04-12 18:17] stubailo commented on #98
Yeah, the mutation API is the weakest part at the moment. Once we start thinking about optimistic UI and how data refetching after mutations works, it will probably get better.

One that that would be great is if mutations and redux actions could be fused together, so you could update your server and client in one step.

Great! Yeah I think not needing to stack up two containers will be great. I t

[2016-04-12 18:56] stubailo opened #99 "Export `createNetworkInterface`"
the docs say you can import it

[2016-04-12 19:21] #99 closed

[2016-04-12 19:54] abhiaiyer91 commented on #98
Awesome! I'm going to start using Apollo for an internal tool. Will probably have my own opinions about some of the API design once im in the thick of it. Ill report back on the issues any ideas I have

[2016-04-12 19:59] stubailo commented on #98
Dude amazing!

[2016-04-12 23:33] stubailo commented on #93
Hmm, one awkward part to this is that this config needs to apply to the apolloReducer, since that's the thing that normalizes objects to put in the store. So if we want to have different ways of normalizing objects, it's not enough to have configuration in the client. Perhaps the API for adding a reducer needs to change. So instead of the current situation:

[code]

We would instead do:

[code]

@

[2016-04-12 23:34] stubailo commented on #93
One more option is to pass options into the `apolloReducer`, so like:

[code]

[2016-04-12 23:42] jbaxleyiii commented on #93
@stubailo I think we need an API change, but I'm not sure what is best yet though. In the migration of our app we are running into somewhat of a race condition.

Typically in large scale redux apps, you have many reducers, then create the store where you initialize your app (i.e. the router if using react-router, or the root component). You do this by passing the store to redux's `Provider` compon

[2016-04-12 23:48] stubailo commented on #93
OK what about this:

1. `new ApolloClient` doesn't create a Redux store immediately.
1. If you are using your own store:
  1. You can get a reducer from it with client.reducer() which applies the config you passed to the constructor
  1. You initialize the store, and pass ApolloClient as a middleware
1. If you don't have your own store:
  1. When you first call anything on ApolloClient that needs

[2016-04-12 23:50] jbaxleyiii commented on #93
@stubalio I think in practice that would work great!

[2016-04-12 23:50] stubailo commented on #93
Any objections to this? If not, going to implement that right now.

[2016-04-12 23:51] jbaxleyiii commented on #93
@stubailo none from me! Excited to see what these changes look like!

[2016-04-12 23:52] stubailo commented on #93
@jbaxleyiii one thing that was buried in there is that I think a middleware is a better approach than `setStore`, does that sound good to you as well?

[2016-04-12 23:54] jbaxleyiii commented on #93
@stubailo yep, it's more idiomatic with redux and doesn't expose an API that people not using redux might be confused by :tada:

[2016-04-13 00:02] johnthepink commented on #93
Sounds good to me!

[2016-04-13 02:03] stubailo opened #102 "Change Redux integration to use Middleware"
To enable #93, which requires shared config between the reducer and client.

[2016-04-13 02:17] stubailo opened #103 "Get a changelog started"
Once we release the "alpha" milestone with docs and everything, I think we should slap a `0.1.0` version on it, and start a changelog. We are going to have a lot of breaking changes, and people will probably want to keep track of them without watching every single commit on the repo.

[2016-04-13 02:35] #102 closed

[2016-04-13 12:32] AhmadEl-Banna opened #105 "Question : is it depending on Apollo-server ?"
is it depending on Apollo-server ? or i can use it with watchQuery with any custom GraphQl servers

[2016-04-13 15:07] johnthepink commented on #105
You will be able to use it with any GraphQL server. Just create a network interface and pass it to the client.

See here: http://docs.apollostack.com/apollo-client/#createNetworkInterface

[2016-04-13 16:18] stubailo commented on #105
Note that reactivity is not yet implemented, but we will have manual query refetching and polling pretty soon.

[2016-04-13 16:44] #105 closed

[2016-04-13 16:52] #93 closed

[2016-04-13 17:21] stubailo opened #106 "How to tell the difference between missing object and fetch error"
Per conversation with @martijnwalraven:

If you get a GraphQL error in the response, the data might have some missing fields. The missing fields are represented by `null`. However, `null` is also a valid response for any part of a GraphQL query when there is a nullable reference. So it's not possible to reliably determine which parts of the response are missing because of the server error, and whi

[2016-04-13 19:12] johnthepink opened #107 "isomorphic-fetch issues"
So, I found something interesting when integrating apollo-client in to our app. I installed apollo-client in to our library, and then loaded our library in to our app that uses webpack.

isomorphic-fetch throws this error:

[code]

Looks like this is an ongoing unfixed issue: https://github.com/matthew-andrews/isomorphic-fetch/pull/63

I set up a chain of forks to get it working, but not a permane

[2016-04-13 19:23] stubailo commented on #107
Is isomorphic fetch the best option these days? AKA should we be trying to fix their bug, or should we switch to some simpler internal fetching mechanism?

[2016-04-13 19:36] johnthepink commented on #107
I like the idea of something simpler internal

[2016-04-13 19:39] Krabaul opened #108 "createNetworkInterface is not a function"
The docs say that you can create a new Network Interface by using
[code]

but for me it throws

Is there anything that I'm missing?

(I'm using apollo-client with Electron and a normal Graphql Server.)

[2016-04-13 19:45] stubailo commented on #108
Oh I need to publish a new version to NPM, sorry - give me an hour!

[2016-04-13 19:46] stubailo commented on #107
What would it be? A different NPM package, or using XHR directly?

[2016-04-13 20:31] johnthepink opened #109 "Query diffing with variables"
It looks like the `minimizedQueryString` in QueryManager doesn't account for named queries, and therefore variables:

[code]

If the original query was:

[code]

Assuming none of the data is current in the store, the minimized query string generated currently is:

[code]

Which throws an error on the graph server since the variable isn't defined.

[2016-04-13 21:11] stubailo commented on #109
Ooh, that's awkward. OK, maybe we need to pass around variable type definitions wherever we have `SelectionSetWithRoot` instances.

BTW - we want to do an initial open source launch next Tuesday, so keep the bugs coming and I'll try to fix them ASAP!

[2016-04-13 21:18] johnthepink commented on #109
@stubailo will do. Thanks!

[2016-04-13 23:08] stubailo commented on #108
@Krabaul just published `0.0.5`, it should export that function! Thanks for the report - let me know if it's fixed, please!

[2016-04-14 04:19] Krabaul commented on #108
It works now. Thanks

[2016-04-14 04:27] stubailo commented on #108
Great!

[2016-04-14 04:27] #108 closed

[2016-04-14 04:39] stubailo commented on #63
Started a repo for React here: https://github.com/apollostack/apollo-react

Also, we're going to get going on Angular pretty soon.

[2016-04-14 06:52] stubailo commented on #107
I just looked at isomorphic-fetch, and it looks like it's _really_ unmaintained...

[2016-04-14 07:04] stubailo commented on #107
Just emailed the author, maybe he'll be interested in some help with it.

[2016-04-14 10:45] mattiasewers opened #110 "Uncaught TypeError when initialising ApolloClient"
This might be something wrong on my part but when I'm calling `const client = new ApolloClient();` I get `Uncaught TypeError: _apolloClient.ApolloClient is not a constructor`, what am I doing wrong? Using webpack

[2016-04-14 11:22] jbaxleyiii commented on #107
@stubailo I think we should drop both es6-promise and fetch. They are both environment based libraries that modern environment s don't need. I really like the fetch API but would rather give instructions to people to configure fetch / promise as part of their build if they need it then include it in this app.

[2016-04-14 15:46] stubailo commented on #110
Oh, I think this might be related to default vs. named exports. Let me check.

[2016-04-15 21:21] stubailo opened #113 "Do smarter root query diffing"
Right now, if you do the following queries in succession:

[code]

The query diffing algorithm will refetch:

[code]

Instead of:

[code]

This was a decision to not implement a new query diffing/merging algorithm before alpha. So it still works now, but will refetch some data.

## The fix

In the XXX sections in `diffAgainstStore`: https://github.com/apollostack/apollo-client/blob/8df914c21980fb3

[2016-04-15 21:25] stubailo opened #114 "Get started on Angular view integration"
Should be much easier after #97

[2016-04-15 21:25] stubailo opened #115 "Get started on React view integration"
Splitting off of #63

[2016-04-15 21:25] stubailo commented on #115
Here's the repo: https://github.com/apollostack/react-apollo

[2016-04-15 21:26] stubailo commented on #63
Closing this issue in favor of having individual issues for each view layer.

#114 for Angular
#115 for React

[2016-04-15 21:26] #63 closed

[2016-04-15 21:27] stubailo commented on #114
Split off of #63

[2016-04-15 21:33] stubailo commented on #98
Gonna close this issue, but I listed it in the README as a good conversation to look at: https://github.com/apollostack/apollo-client/commit/6de2414db61ac54b149c13ec478c95b2c0fa3ca5

[2016-04-15 21:33] #98 closed

[2016-04-15 21:35] #109 closed

[2016-04-15 21:50] #85 closed

[2016-04-15 22:53] stubailo opened #116 "Bump to 0.1.0 and publish"
When we finish the `alpha` milestone

- [ ] Update CHANGELOG.md
- [ ] Update README.md to link to related projects and docs in a prominent fashion

[2016-04-15 22:56] stubailo commented on #110
You need to import it using one of the two code snippets below:

[code]

Let me know if that doesn't work.

[2016-04-15 22:56] #110 closed

[2016-04-16 00:19] stubailo commented on #114
Started a repo: https://github.com/apollostack/angular-apollo

[2016-04-16 00:20] stubailo commented on #103
https://github.com/apollostack/apollo-client/blob/master/CHANGELOG.md

[2016-04-16 00:20] #103 closed

[2016-04-16 02:58] #78 closed

[2016-04-16 06:49] jbaxleyiii opened #120 "Setup CD to npm?"
Not sure if you want to or not, but Travis allows auto publish to npm.

https://docs.travis-ci.com/user/deployment/npm/

[2016-04-16 06:52] stubailo commented on #120
Yeah that's a great idea! Unfortunately it still doesn't mean we get to publish directly from a PR since that doesn't make a tag, but it's still better I guess?

[2016-04-16 06:56] jbaxleyiii commented on #120
@stubailo I wrote this for our usage on circle ci. Any libs we ship to npm get deployed on merge to master. https://github.com/NewSpring/ops-ci-npm-publish.

Either way, just thought I'd mention it :+1:

[2016-04-16 07:01] stubailo commented on #120
Yeah @helfer and I were just talking about this the other day, basically I was complaining that it's a hassle to republish manually.

[2016-04-16 07:03] jbaxleyiii commented on #120
Automate what's important right? We have a pretty hard and fast rule that if we can't auto deploy something, we don't build it. It's mainly so we can take vacations and not be on call hahah

[2016-04-16 19:43] #115 closed

[2016-04-16 20:26] stubailo commented on #115
Awesome!

[2016-04-17 03:34] jbaxleyiii commented on #107
#122 removes fetch and promise as part of the lib BTW. I think fetch should be on the dev using the library, not the lib itself. If you are good with that, we can close this

[2016-04-18 18:35] stubailo commented on #107
Hmm, this is a bit unfortunate because it means there is more boilerplate to set up the library. I feel like requiring the whole fetch API just to do one POST request is the main problem, IMO?

But for now let's do this until we can maybe just not use fetch anymore...

[2016-04-18 18:54] jbaxleyiii commented on #107
@stubailo I can remove fetch today in favor of an existing supported node + browser solution! I'll open a PR tonight with it 👍

[2016-04-18 18:56] stubailo commented on #107
Awesome! I'm going to start polishing up docs and example apps so I'll see how much of a hassle it is to get the right environment set up.

[2016-04-18 21:02] stubailo opened #123 "Switch to Redux observable implementation"
https://github.com/reactjs/redux/pull/1632

Then maybe we won't need our own shim!

[2016-04-18 22:46] stubailo opened #124 "Add basic guards to avoid firing observer unnecessarily"
For example, we don't need to recalculate all queries when a `QUERY_STOP` action happens, and this can be easily detected by `===` the `data` field.

[2016-04-18 23:25] #88 closed

[2016-04-18 23:25] #114 closed

[2016-04-19 00:26] #116 closed

[2016-04-19 02:50] jbaxleyiii commented on #107
the app should work as is, further discussion can be found here: #126

[2016-04-19 02:50] #107 closed

[2016-04-19 05:57] stubailo opened #127 "Middlewares clobber default options"
https://github.com/apollostack/apollo-client/blob/fc9d3981251ff30482c7b62267ecd6d010010022/src/networkInterface.ts#L41

[2016-04-19 05:57] lorensr opened #128 "Architecting for performance"
### Goal: 10ms blocks

When you are in a browser environment, in order to have a smooth UI, main-thread JS should be kept to [10ms per frame](https://developers.google.com/web/fundamentals/performance/rendering/). While the view layer is usually the larger culprit, we saw with minimongo (eg https://github.com/meteor/meteor/issues/6835) that updating the data store can easily exceed that 10ms budge

[2016-04-19 05:59] mitar commented on #128
What about using service workers? So that client-side database could really be a service running in the background?

[2016-04-19 05:59] mitar commented on #128
(This can then be nicely turned into offline use as well.)

[2016-04-19 06:36] stubailo commented on #128
@lorensr is there some way to run perf tests on this library without trying to guess at which parts are slow?

[2016-04-19 15:15] mquandalle commented on #128
An important optimization is to avoid recomputing the UI (virtual DOM or other) when the state hasn’t changed, which is a problem a state management library like MobX is good at solving (see [Dan Abramov tweet](https://twitter.com/dan_abramov/status/719973322453348352) on that and related [detailed explanations](https://medium.com/@mweststrate/becoming-fully-reactive-an-in-depth-explanation-of-mob

[2016-04-19 15:33] stubailo commented on #128
There are some very low-hanging things we can do to make sure that we only recompute queries whose dependencies have changed, I think - that's why I want to have real profiling rather than guessing at what will make things faster, because I think we can get _very_ far without even thinking about any of the stuff mentioned above.

[2016-04-19 15:58] stubailo commented on #127
Fixed in 0.1.3!

[2016-04-19 15:58] #127 closed

[2016-04-19 17:33] lorensr commented on #128
### Reactive specificity

Oh, I was thinking of that as part of the larger-culprit view layer I mentioned, since in Blaze that's decided by which reactive deps you use inside helpers. Thanks, wasn't familiar with how that's different w/ Redux.

That would be a bigger deal – matching the reactive specificity of Tracker & Minimongo.

### Service workers

I was actually thinking about them when I lef

[2016-04-19 18:04] mitar commented on #128
One optimization people are doing here is that they make sure that they can use referential equality to know when a change in state happened. The idea is that you have immutable state objects and if state changes, you provide a new object with a new reference. Then a very fast comparing objects with `===`  tells you if something changed and not, and you do not have to do a deep content comparison.

[2016-04-19 18:42] helfer commented on #128
We're hoping to do that for Minimongo eventually.

[2016-04-20 12:58] batjko opened #130 "Document that `fetch` polyfill is required when using from Node"
Hi guys,

So I am trying to replace my `graphql-js` client in a Node app, with the `apollo-client` instead.
To start off, I've basically copied the [code snippet from the docs](http://docs.apollostack.com/apollo-client/core.html#query) and just replaced the query with my own (which I know works).
But now the query fails, jumping to the catch clause instead.

This is the example code, with a simpli

[2016-04-20 13:12] mquandalle commented on #130
Are you using IE/Edge by any chance? If yes, this is the issue discussed in #126, and basically you will need to bring some fetch polyfill to the client, for instance with https://www.npmjs.com/package/isomorphic-fetch

[2016-04-20 13:24] batjko commented on #130
This is in Node, not from a browser. I have a separate GraphQL service running, to which I am trying to connect from my node app.
Node 5.10.1, 64bit.

I've just seen the related issue as well, but I thought the isomorphic-fetch pakcage is essentially the problem?

[2016-04-20 13:34] mquandalle commented on #130
So apparently Node v5 is also missing the `fetch` method:

[code]

I think that something the Apollo crew should fix. Meanwhile you can load a `fetch` polyfill from NPM (either isomorphic-fetch or maybe https://www.npmjs.com/package/node-fetch) and define it as a global variable (eg. `fetch = require('node-fetch');`) so that the Apollo-client code could use it.

[2016-04-20 13:38] mquandalle commented on #130
Reading https://github.com/apollostack/apollo-client/pull/126#issue-149328412 again, it seems like the one-line `import 'isomorphic-fetch'` should be enough, did you try it?

[2016-04-20 14:42] batjko commented on #130
I've tried installing and declaring `fetch = require('node-fetch');` now, and that seems to make fetch available (no more errors thrown), but now my query doesn't return actual data.

Even worse, the result does not include an errors object, despite no data being returned. The array in the returned data object is simply empty.

Btw, simply importing `node-fetch` did not make fetch available. I'll

[2016-04-20 15:43] gauravtiwari opened #131 "Refetch query with new variables at runtime"
Hey @stubailo @jbaxleyiii

Relay provides an option in the component called [setvariables](https://facebook.github.io/relay/docs/api-reference-relay-container.html#setvariables) to change the variables on runtime. Does apollo client support this yet? I see `refetch` function, but it works like refresh button, which wouldn't be helpful if someone wants to change the variables and then refetch the q

[2016-04-20 15:52] stubailo commented on #131
If you want to pass new variables you can just unsubscribe from the previous query and start a new one.

`react-apollo` makes this really convenient: You can easily pass in a prop from outside, or put your state in Redux. The `mapQueriesToProps` option takes in `ownProps` and `state`, which can be used as variables in your query.

See this example (this is using data from `Meteor.userId()` but you

[2016-04-20 15:53] stubailo commented on #131
However since we already have the `refetch` helper method, it would be pretty simple to have that take in a new set of variables.

[2016-04-20 15:59] gauravtiwari commented on #131
Hi @stubailo I did the same thing for passing variables for this demo app: https://github.com/gauravtiwari/apollo_on_rails/blob/master/app/assets/javascripts/components/posts/show.es6.js#L41, but I think to utilise `refetch()` with new variables would be much more clear and easy to use.

`For example:` In infinite scroll pagination, we could just change the number of new records to fetch and page

[2016-04-20 16:06] jbaxleyiii commented on #131
@johnthepink would your pagination for the app do something similar if present?

[2016-04-20 16:08] stubailo commented on #131
Based on how refetch works right now I think it would be trivial to build!

[2016-04-20 16:11] gauravtiwari opened #132 "Add docs about how to pass a session cookie"
Hey @stubailo @jbaxleyiii

I checked out the Meteor demo and also @johnthepink PR for auth middleware. For SPA's this would work well, because they would need some kind of middleware to authenticate with server to share context, but if the app works in the same environment as server it would be important to share `session` state with server through apollo client during requests (also it's easier).

[2016-04-20 16:13] jbaxleyiii commented on #131
@stubailo thoughts on passing just an object of variables vs passing a QueryOptions object?

[2016-04-20 16:16] stubailo commented on #131
Hmm lets keep variables only for now until someone has a need for the other stuff?

[2016-04-20 16:16] gauravtiwari commented on #131
@jbaxleyiii I think for a component, the query mostly revolves around variables (if any), so mutating just the variable object and then have some kinda of observer to detect that the variable changed and refetch (I guess that's how refetch works right now)

[2016-04-20 16:17] johnthepink commented on #131
@jbaxleyiii it totally could. I'm just updating redux and letting it unsubscribe and start over (mixed with `shouldComponentUpdate`). I think I like the refetch idea better though, because the unsubscribe currently removes the data from the store and then adds it back. Which, if you are trying to render components based off the store is a little wonky.

[2016-04-20 16:20] jbaxleyiii commented on #131
Cool, I'll see about knocking this out now

[2016-04-20 16:34] jbaxleyiii commented on #131
Added with #133

[2016-04-20 16:44] jbaxleyiii commented on #132
@gauravtiwari I think this is already currently possible actually! (but not yet documented!)

Two ways to do this:

[code]

Or using a middleware:
[code]

@stubailo @johnthepink we should document this and export the auth middlware

[2016-04-20 16:47] gauravtiwari commented on #132
@jbaxleyiii Awesome! I could add this to docs. Does this send session cookie as well with the request?

[2016-04-20 16:48] stubailo commented on #132
Looks pretty similar to what I documented for Meteor: http://docs.apollostack.com/apollo-client/meteor.html#Using-with-Meteor-Accounts

[2016-04-20 16:50] jbaxleyiii commented on #132
@gauravtiwari we use fetch behind the scenes which allows for sending cookies:

Check out https://github.com/github/fetch/blob/7f71c9bdccedaf65cf91b450b74065f8bed26d36/README.md#sending-cookies

[2016-04-20 16:51] jbaxleyiii commented on #132
so the object you pass with `headers` can pass a credentials key with style you want

[2016-04-20 17:09] #131 closed

[2016-04-20 17:10] gauravtiwari commented on #132
Thanks @jbaxleyiii that makes sense. So, it's basically same thing as Relay. For anyone else using Rails or some other framework environment,

[code]

[2016-04-20 17:11] stubailo commented on #131
Published as `0.1.5`!

[2016-04-20 17:12] stubailo commented on #132
Only part missing is to add this to the http://docs.apollostack.com/

[2016-04-20 17:13] gauravtiwari commented on #132
@stubailo I will submit a PR to docs repo

[2016-04-20 17:25] gauravtiwari commented on #132
PR: https://github.com/apollostack/docs/pull/35

[2016-04-20 17:28] #132 closed

[2016-04-20 20:57] willemmulder commented on #63
Riot.js please! :+1:

[2016-04-20 21:17] stubailo commented on #63
Please open a new issue about it!

[2016-04-20 21:45] mquandalle commented on #113
Have you inverted the current and desired implementations?

[2016-04-20 22:43] BrianRosamilia opened #135 "API Condense"
I was reading the documentation and had some comments for the methods :

* ApolloClient.query(options)
* ApolloClient.watchQuery(options)

I think these could be condensed into just

ApolloClient.query(options) with a bit of work

In trying to think of the nicest cleanest way to come up with the API.  I came up with

* Regular Read -> ApolloClient.query(options)
* Reactive -> ApolloClient.query(op

[2016-04-20 23:07] stubailo commented on #113
Oh, indeed I have! Thanks for the heads up.

[2016-04-20 23:20] stubailo opened #136 "Set up profiling and CI"
In order to have informed conversations about performance, we should do CPU profiling of stuff like inserting complex queries into the store, updating the store and rerunning queries, etc.

I'll start investigating some Node.js profiling tools that can help us measure this stuff.

Related to #128

[2016-04-20 23:23] stubailo commented on #135
Fun fact: you can already do `ApolloClient#watchQuery(options).result().then(...)`.

In fact, this is exactly what `query` does under the hood: https://github.com/apollostack/apollo-client/blob/941f2b0e3c9e23e8b86ad4f9632c80793441de18/src/QueryManager.ts#L207-L213

However, I feel like it's cleaner to have two separate methods. They also might eventually take different options - for example some o

[2016-04-20 23:26] stubailo commented on #130
I think we made an intentional decision to not include global polyfills in here, so changing this issue to be about documenting the polyfills required.

[2016-04-20 23:47] BrianRosamilia commented on #135
Going from plain object to promise was never the hard part! :)

The hard part is having one method that is both a promise and has chainable method(s) to more than promsie methods AND not immediately executing the promise.

In my example, these would be options to the ApolloClient.query(options)**.changes**.

The API would keep what's the same options with what's the same (queries) and reactive opt

[2016-04-20 23:54] stubailo commented on #135
I feel like returning an object that is both a promise and has some other methods on it is more confusing than just having two API methods.

Also, why is not executing the promise immediately good? Wouldn't you want to start the data fetch as soon as humanly possible?

[2016-04-20 23:56] BrianRosamilia commented on #135
I might have done a bad job of explaining what lazybird does to a promise.  Read their docs https://github.com/assaf/lazybird and hopefully you'll see what I'm getting at

[2016-04-20 23:59] stubailo commented on #135
Right, I guess I'm saying that if you call `query` and only call `then` like 10 seconds later, it would be great if the data was already there, rather than initiating the load only when `then` is called.

[2016-04-21 00:02] jbaxleyiii commented on #135
@BrianRosamilia I agree with @stubailo on this one. I think that adding extra methods to promises gets really hairy to discern what is happening. For instance

[code]

the same method that returns different data and has different chaining methods seems more confusing than learning the two query options to me.

[2016-04-21 00:03] BrianRosamilia commented on #135
Well, unless you never end up using the data because you branched to a block of code that never needed it in the first place.

Expanding this debate into lazy vs eager evaluation will blow the lid off the scope of my suggestion :tongue:

[2016-04-21 00:07] BrianRosamilia commented on #135
@jbaxleyiii calling .subscribe wouldn't return a promise, it would short circuit right into returning something similar to the QueryObservable as you wouldn't be using promises any longer.

Sorry, I should have included that in the original proposal.

[2016-04-21 00:12] jbaxleyiii commented on #135
@BrianRosamilia yeah I think that is the problem to me ;)

The initial action of `client.query({ query: `...`, variables: { one: 1 })` has different chain methods depending on what is next. Sometimes `then, catch, etc` is supported, and sometime it isn't. I think it would be harder to discern with a glance which is which

[2016-04-21 00:14] BrianRosamilia commented on #135
Okay yep that is a fair criticism!  :+1:

But in your code example it was showing the reactive queries with .then which isn't what I meant.

[2016-04-21 03:15] stubailo commented on #135
I'd say let's worry about this if we end up with a lot more API calls, but right now I'd say it's pretty minimalist. Another thing I would be concerned about is if people reported that they had trouble with the API.

[2016-04-21 03:15] #135 closed

[2016-04-21 05:52] stubailo opened #137 "Linter doesn't lint subdirs"

[2016-04-21 06:37] #130 closed

[2016-04-21 12:11] Urigo opened #139 "Changing observable response structure"
Right now from the Observable we return the data in the following format:
`data.queryName`

that makes the need of another pipe in Angular 2.0 on top of the default `async` pipe that handles observables.

As we are always returning one query, maybe it's a good idea to return the observable without those prefixes.
The question is how to handle errors.
I think that we should use the stadard way with

[2016-04-21 12:14] martijnwalraven commented on #139
We already use the `error` handler for true errors like network errors, but the question is what to do with graphql errors.

The issue is that a graphql response can include both partial results and a list of errors. So we would have to either not support partial results or include some other way of getting access to the errors.

[2016-04-21 16:00] stubailo commented on #139
I think this is just inherent to GraphQL, plus what would you do if you had two root queries, which is totally possible? I guess we could say you should make two observables.

[2016-04-21 18:21] stubailo commented on #139
To put a point on it, I am pretty confident that the thing the observable returns should be identical to the response sent from the GraphQL server, which is an object with `data` and `errors`.

[2016-04-21 19:19] stubailo commented on #51
Interesting news: Relay doesn't do anything about this. They just ignore the error and put the incorrect data into the store. Perhaps this is because the Facebook backend doesn't return errors like that?

[2016-04-21 19:20] stubailo opened #141 "Update changelog"

[2016-04-21 19:25] #137 closed

[2016-04-22 00:10] martijnwalraven commented on #51
Hmmm, so if the server sends a partial response plus errors, you just receive the partial response?

Do you know how they deal with https://github.com/apollostack/apollo-client/issues/106?

[2016-04-22 00:43] stubailo commented on #51
They just overwrite the store with 'null' so you can't actually tell if something is missing due to an error or if it's actually missing. I asked them about this specifically.

[2016-04-22 00:52] arunoda commented on #123
You mean Rxjs?

[2016-04-22 00:53] stubailo commented on #123
No, redux has built in observables now. I feel like Rxjs observables are way too heavy to be a standard part of the client, but we should make it possible to use them!

[2016-04-22 00:54] arunoda commented on #123
Okay. We'll work on a simple wrapper for Rx.

[2016-04-22 01:18] stubailo opened #142 "Make it easy to use Apollo with Redux directly"
Continuing from: https://github.com/apollostack/react-apollo/issues/26

[2016-04-23 09:53] smolinari opened #143 "Binding for Vue.js"
Hi,

As suggested in https://github.com/apollostack/apollo-client/issues/63 I'd like to suggest a binding for Vue.js. I'd also be very much interested in helping, where I can. Not a very good JS programmer, but I could help with docs and such, where needed.

Scott

[2016-04-23 09:58] smolinari commented on #143
Or, could this already be a way to get to a Vue GraphQL "speaking" system?

https://github.com/yang-wei/vue-redux

As in, use the Redux binding here and just have Apollo fill in the blank?

Scott

[2016-04-23 10:06] smolinari commented on #143
Or can apollo client be used with Vuex? https://github.com/vuejs/vuex

Scott

[2016-04-23 13:27] amannn opened #144 "`watchQuery` doesn't get the new result after a mutation"
I'm experimenting a bit with mutations. I've noticed that in the [React docs](http://docs.apollostack.com/apollo-client/react.html#refetch) it's mentioned that it's a typical pattern to `refetch()` data after a mutation succeeded.

However the [docs for `watchQuery`](http://docs.apollostack.com/apollo-client/core.html#query-vs-watchquery) say that when a mutation happens, `watchQuery` will return

[2016-04-23 14:52] stubailo commented on #144
Yeah I think this is something that isn't quite working yet - having more automated fetching after a mutation is a short term goal but for now you pretty much need to use 'refetch'.

[2016-04-23 16:59] jbaxleyiii opened #145 "Polling endpoint"
Simple implementation could just be polling interval.

Let's discuss API design!

@stubailo

[2016-04-23 17:10] amannn commented on #144
Thanks for the quick reply!

Btw. here is the [repo](https://github.com/amannn/apollo-client-test) if you want to see the bug.

All mutations now call `refetch` so the data stays as much up-to-date as possible. But there's still the issue if you change the title of an article and navigate back to home, the title of the article in the list won't have changed (even though `forceFetch` is turned on).

[2016-04-23 17:11] stubailo commented on #145
Idea: it could be beneficial to poll just part of a query, depending on how big your queries are.
Idea: you could have your polling query independent of your component query to update certain parts of the cache

[2016-04-23 17:14] jbaxleyiii commented on #145
We could have the base polling method on the client itself, then expose the API to the react-apollo. If it gets added as an argument to watch query it would be one in the same

[2016-04-23 17:19] jbaxleyiii commented on #145
Also along this, do we expose the handle as `this` inside a onResult method? If we did setting up things like cancel after a certain number of polls would be trivial to implement. If we don't, I'd like to add that

[2016-04-24 20:20] AdamBrodzinski opened #146 "Does the Apollo-Client work on non Apollo GraphQL servers?"
I've been reading up on Apollo and am very impressed! I already have a GraphQL server running on a non-Node server and was wondering if it's going to be compatible with those? (Obviously some of the features wont work). The long polling and caching are the most interesting for my use case (on RN).

I checked out the [design.md](https://github.com/apollostack/apollo-client/blob/master/design.md) fi

[2016-04-24 20:28] helfer commented on #146
Yes, one of our goals with apollo client is to be compatible with any spec compliant GraphQL server. There may be more advanced features we're going to build in the future that require implementing a slightly different spec on the server, but the basic features of Apollo client should always work with any GraphQL server.

[2016-04-24 20:52] jbaxleyiii commented on #146
@AdamBrodzinski we are using it with a project that has a non apollo GraphQL and its working great!

[2016-04-24 21:43] AdamBrodzinski commented on #146
Thanks for the fast feedback! Closing this out.

[2016-04-24 21:43] #146 closed

[2016-04-24 23:11] lorensr commented on #128
Related info from JS community:

Google decided to support putting your Angular 2 app inside a Web Worker: (thanks @Urigo for pointing that out)

https://github.com/angular/angular/blob/master/modules/angular2/docs/web_workers/web_workers.md

Facebook doesn't want to put React inside a Worker (instead waiting for Compositor Workers to come out), but they're "actively exploring" putting Relay in a

[2016-04-25 04:11] smolinari commented on #146
@helfer - can you name a couple of examples of those advanced features?

Scott

[2016-04-25 13:12] deoqc opened #147 "Inline fragments not supported everywhere"
I already have GraphQL server (w/ express), and I am currently using Relay to connect it (also already have a Redux store, for client state). 'Cause Relay is too complex/hard-to-be-confident, I followed the path to integrate my Redux store to Apollo Client, but my app crashes with the following:

$export is not a function. (In '$export($export.S + $export.F * !require(1245 /* ./_descriptors */), '

[2016-04-25 18:16] stubailo commented on #147
Hmm, could you post some of your code? Perhaps it is something specific to React Native, it's pretty hard to see what is going on from that error, though.

[2016-04-25 18:22] stubailo commented on #146
I think if we build features that depend on client/server cooperation, we'll have standalone specs/plugins for the server to add them, but they could include:

1. Login/auth management
2. Reactivity
3. More efficient transport

You could imagine more, but we're committed to making this client as generic as possible, so that anyone can use it!

[2016-04-25 18:33] stubailo commented on #128
Very interesting! Actually I wonder if there is just a way to run all Redux reducers in a worker, that would help a lot. Then it's just about getting the query results to the UI.

[2016-04-25 18:34] stubailo commented on #145
Definitely for this 100%!

Negative, I think we should avoid using `this` in our API at all costs (it means people who use arrow functions won't be able to access it, and I'd rather not get into the business of teaching people about the difference). Perhaps we can just pass it as a second argument?

[2016-04-25 18:35] stubailo commented on #144
I'll look into that code soon! Perhaps there is a bug somewhere :]

[2016-04-25 18:37] smolinari commented on #146
How about making a system that is fully and very easily extendable/ plug-in-able and let the rest of the dev community add to it as they wish?

Scott

[2016-04-25 18:38] stubailo commented on #146
That's the goal! if there is something you can't plug into, I'd be happy to make it possible!

[2016-04-25 18:43] smolinari commented on #146
https://github.com/apollostack/apollo-client/issues/143

:smile:

Scott

[2016-04-25 18:52] stubailo commented on #143
Hey sorry I didn't respond yet, was visiting my parents last weekend!

All of the view integrations are community projects, I'm working only on the core. Perhaps you can look into the Angular and React integrations as a place to start?

There are two main approaches:

1. The React integration uses the Redux store and `readFromStore` directly: https://github.com/apollostack/react-apollo/blob/071c75

[2016-04-25 19:17] stubailo commented on #142
@abhiaiyer91 assigned this to you! Let me know if I can help you get set up in any way.

[2016-04-25 19:22] stubailo opened #148 "Query composition"
Tied in with https://github.com/apollostack/apollo-client/issues/80

Pinging @abhiaiyer91 who said he had some ideas and talked to @helfer

[2016-04-25 19:32] smolinari commented on #143
I am, unfortunately, way too inexperienced to do such a project on my own. Though, I am always up for challenges. I'll see, if I can put anything workable together. Maybe in a week or two. :smile:

I noticed both libraries are written in Typescript. Is that any kind of prerequisite?

Scott

[2016-04-25 20:20] deoqc commented on #147
I only connected the apollo to the store, didn't do anything else (see bellow). But the app crashes if have this code.

Maybe could be some conflict with Relay? [This is the Relay example](https://github.com/facebook/relay/tree/master/examples/TodoMVC) I followed to get it to work with React Native. For example, [this is the .babelrc](https://github.com/facebook/relay/blob/master/examples/TodoMVC/

[2016-04-25 21:33] stubailo opened #149 "Make it possible to use an existing observable implementation"
For example, to easily integrate with RxJS.

[2016-04-25 21:35] stubailo opened #150 "Replace SWAPI tests with a simpler mocked API"
So that they run fast and we are in control of our tests more rather than relying on a very complex codebase.

Ideally, dogfood the GraphQL-Tools mocking functionality.

[2016-04-25 21:47] stubailo commented on #26
Assigning to Martijn to get his feedback!

[2016-04-25 21:51] stubailo commented on #27
Assigning to @martijnwalraven to get feedback because he is looking at #26

[2016-04-25 21:53] stubailo commented on #41
Relay got this far without having garbage collection at all, so I think this is a pretty low priority right now.

[2016-04-25 21:54] stubailo commented on #25
Since this feature targets more complex apps, I think it's prudent to get the basics correct first. I'm marking this as low priority.

[2016-04-25 21:57] stubailo commented on #49
This should be implemented in terms of plugins, not flags. So you would pass in a `RelayConnectionPlugin`, not a flag like `relay: true`.

[2016-04-25 21:57] stubailo commented on #49
Closing because plugins are the answer, per #26

[2016-04-25 21:57] #49 closed

[2016-04-25 22:00] stubailo commented on #51
Marking this as low priority because Relay doesn't do this, and GraphQL-JS doesn't even have a way to get this information.

[2016-04-25 22:54] stubailo commented on #62
After talking with @martijnwalraven, we decided this is probably not a good idea for now, and we should load type information on the client if we want to get IDs.

Alternatively, we could convince the GraphQL team to add IDs to the spec.

[2016-04-25 22:54] #62 closed

[2016-04-25 22:56] stubailo commented on #79
Could be implemented using #26

[2016-04-25 22:57] stubailo commented on #26
Rather than having regex on type, we could do something similar to ESLint rules, which specify which AST nodes they are interested in: https://github.com/apollostack/eslint-plugin-graphql/blob/545fcecc8476a13c8d12291cd7fc8924a366178a/src/index.js#L25

[2016-04-25 22:59] stubailo commented on #80
This issue is about using fragments for improved query readability. For including fragments from other places, refer to #148. This feature could be implemented first.

[2016-04-25 23:01] stubailo commented on #91
This is done!

[2016-04-25 23:01] #91 closed

[2016-04-25 23:03] stubailo commented on #92
Relevant: #149 will let you integrate with RxJS

[2016-04-25 23:05] stubailo commented on #106
This is not possible without changes to GraphQL-JS.

[2016-04-25 23:05] #106 closed

[2016-04-25 23:10] stubailo commented on #113
After talking to @martijnwalraven: Another option is to only do this for single fields, but not for arrays. That way the algorithm is much simpler, and we don't end up with some odd edge cases.

[2016-04-25 23:19] stubailo commented on #123
OK it turns out that using that won't help us at all, because the shim for observable is very simple. Closing in favor of #149 for RxJS.

[2016-04-25 23:19] #123 closed

[2016-04-25 23:25] stubailo opened #151 "Refactor testing to reduce boilerplate"
Right now adding new tests often involves copy-pasting the old test and changing some stuff. We should have better harnesses for testing different kinds of situations, especially if we want to start making perf improvements and making sure we don't fire unnecessary changes (like #124).

[2016-04-25 23:29] stubailo commented on #136
To do this, we probably need to collect more real world scenarios, and it might not be really worth it until we tackle some of the more low-hanging fruit. If we think about making serious changes to the implementation, we should ask for supporting data first, or set up the profiling then.

[2016-04-25 23:36] stubailo commented on #142
I think it would be prudent, if we document this interface, to make it clear that this is a more internal API, and possibly more likely to change. In the future, I think it would be great to make this stuff a separate NPM module that has internal utilities, and make the client library a nice wrapper around all of the reducers etc.

[2016-04-25 23:37] stubailo commented on #143
Nope! I just wanted to use TypeScript. You can use whatever you want.

[2016-04-25 23:45] stubailo commented on #148
Never mind - Abhi was talking about resolver composition. False alarm!

[2016-04-26 03:24] smolinari commented on #142
:+1: ing this, because it might be similar to connecting apollo with Vuex and Vue, so I'd like to keep track of any progress.

https://github.com/vuejs/vuex

Scott

[2016-04-26 03:46] smolinari commented on #143
I am starting to dig into the documentation, and I get the feeling, apollo-client and Vuex share a lot of common functionality ground. So, I'm thinking I can only take ideas from Vuex to implement vue-apollo.

I hope you don't mind me thinking out loud here. It's like throwing bologna on the wall. Some slices might stick. LOL! I feel like these kids to be honest. https://www.youtube.com/watch?v=MQ

[2016-04-26 03:50] stubailo commented on #143
Couldn't you just use this? https://github.com/vuejs/vue-rx

Once we implement: #149 which will let you integrate with RxJS

After this, it would look like (modified code sample from that repo):

[code]

I guess it depends on whether you are using VueX already.

[2016-04-26 04:09] smolinari commented on #143
Not using anything currently. So, I am really flexible on the (best) solution.

I have other concerns, which I am not sure the redux route will help with. For instance, I am looking for Relay like container functionality, when it comes to query aggregation in Vue components. I'd like to be able to add containers/fragments to the components themselves and have them bundled up for proper querying ac

[2016-04-26 04:10] smolinari opened #152 "Component hierarchy including queries and apollo"
With React and Relay, a developer can add GraphQL query fragments in each React component and Relay understands to build a hierarchy of the required data in the store.

https://facebook.github.io/relay/docs/guides-containers.html#containers-are-higher-order-components
https://facebook.github.io/relay/docs/thinking-in-relay.html#data-components-aka-containers

I read that the apollo-client aims to

[2016-04-26 04:16] stubailo commented on #143
This is something that the core client will have per #148 so it doesn't need to be built into the view integration; or if it is it will be a very thin wrapper.

[2016-04-26 04:18] stubailo commented on #148
To add more detail to this issue, this includes:

1. The ability to declare fragments on individual components
2. The ability to merge those fragments into one big query to reduce the number of roundtrips on first load
3. The ability to have per-fragment variables which are intelligently refetched a-la-Relay

This is important to be able to co-locate your data requirements with the components, wit

[2016-04-26 04:18] stubailo commented on #152
Duplicate of #148

Yep, that's the same thing!

[2016-04-26 04:18] #152 closed

[2016-04-26 04:39] smolinari commented on #152
Thanks for the clarification!

Scott

[2016-04-26 04:46] smolinari commented on #143
Ah....very good! Looks like I'll have to wait a bit on some things.

Do you see any issues with the binding through Redux and the query fragment aggregation working together?

Scott

[2016-04-26 04:56] stubailo commented on #143
Nope! I think the fragment aggregation is not actually a lot of new work, but it's just a bit tricky to get right. Is that blocking you from using this? What's the project?

[2016-04-26 05:08] smolinari commented on #143
The project is an admittedly huge one and just my dream and hobby. www.skooppa.com I've been looking for the right technologies for 3 years now and they are just starting to come together.

Nothing is blocking really. It is all totally experimental currently. I have no real code basis yet to be honest. Just a bunch of ideas and a fair direction, like wanting GraphQL to be the core API. Oh, and PHP

[2016-04-26 07:17] batjko commented on #148
Would this include some abstraction from the GraphQL String notation? I mean I'm not sure I'd want a full-blown ORM here, and perhaps a simple String is still the most efficient way, but if we're just talking about small fragments, that then need to be composed in some way, I wonder if an Object-based API might be better here?

[2016-04-26 07:19] stubailo commented on #148
I feel like GraphQL query strings are the best part of the whole system, but perhaps it would be a good idea? What would be the benefit of an abstraction other than fragment strings?

[2016-04-26 07:22] batjko commented on #148
I'm thinking of scenarios where one would want to dynamically create these fragments from a bunch of options at runtime. Yes, we could just use string interpolation, and perhaps that's best and I'm thinking too traditionally, here.

[2016-04-26 07:50] stubailo commented on #148
Oh that's what the skip and include directives are for! I think the best practice is to never use string interpolation on queries, which would be pretty easy to check with a longer.

[2016-04-26 07:50] stubailo commented on #148
*linter

[2016-04-26 07:53] jbaxleyiii commented on #148
I thinking keeping Apollo 100% graphql spec for query formation (aka just strings) is the best move. It reduces the barrier to entry to the project and we can help mlve the spec forward if / when needed

[2016-04-26 08:05] batjko commented on #148
Yes, I suppose. That would work for me. However, the approach assumes a lot of knowledge of GraphQL syntax. I know developer friendliness will be tackled later, but providing an API for these things might help those who are new to the GQL spec and just want to make use of Apollo's reactive data etc.
Just a thought.

[2016-04-26 09:11] smolinari commented on #148
Although I have little to say here, I would also put forward a :+1: to sticking to the specs.

Scott

[2016-04-26 10:50] jbaxleyiii commented on #145
[code]

I think adding the interval to the object is the easiest entry point. The question is should the second argument of the observer functions stop the subscription (what I would expect) or just stop polling (confusing if you aren't polling). If it stops the entire query subscription, will we still need a way to stop the polling on its own?

[2016-04-26 16:07] stubailo commented on #145
I think it's ok if you sometimes need to tear down the query and start it again to do certain things? In most cases we should be able to make that synchronous if the data is already in the store.

[2016-04-26 16:08] stubailo commented on #148
Personally I feel like skip and include aren't much harder than string interpolation with an if statement, plus we can more easily do query validation if there isn't interpolation everywhere.

[2016-04-26 16:24] batjko commented on #148
@stubailo Yes, fair point.
I really have no preference here, just wondering about best practices. Happy to jump on board.

[2016-04-26 16:51] jbaxleyiii commented on #145
@stubailo I did this on the flight out. I'll push it up as soon as I can (just landed). I didn't find the second argument needed BTW so the only change is adding pollInterval

[2016-04-26 16:58] jbaxleyiii commented on #145
Final design for first run:

[code]

[2016-04-26 19:26] stubailo opened #155 "Add tagged template strings to enable query string linting"
The GraphQL ESlint plugin identifies queries via a template literal tag, `gql` by default.

https://github.com/apollostack/eslint-plugin-graphql

We should think about the best way to encourage people to use such a tag, and what other benefits we can get from it.

For example, we could have the template tag do the parsing, and memoize the results. We could also add a warning to the client if you d

[2016-04-26 22:12] martijnwalraven commented on #147
I was able to reproduce this error and finally managed to get it to work. I still don't fully understand the issue, but it seems it has to do with using Babel 6 with React Native's Packager (see https://github.com/facebook/react-native/issues/4062).

[code]

At one point, the packager seemed to get stuck on resolving dependencies, what fixed this was:
[code]

[2016-04-27 13:10] WilliamHolmes opened #156 "Some GraphQL servers return an empty error array, even though it's not spec compliant"
Our GraphQL schema QueryRoot contains a type Viewer which we use to query most of the data.
Apollo doesn't seem to like this causing the error
`Can't find field viewer on object [object Object]`
I have validated (and verified the response) with this simple query using GraphiQL
**Query**
`{
  viewer {
    me {
      displayName
    }
  }
}`
**Response**
`{
  "data": {
    "viewer": {
      "me": {

[2016-04-27 17:45] stubailo commented on #156
I'll take a look soon, thanks for reporting!

[2016-04-28 13:12] deoqc commented on #147
@martijnwalraven I had no success following your steps, but I mocked the data, removed relay and its dependencies (from babel, plugin, etc) and the started using Apollo client successfully. The problem must lie in some conflict with its babel dependency as you suggested (my initial hypothesis also).

Now the problem is that I used the Node Interface to fetch data from different types, which it doe

[2016-04-28 15:44] helfer commented on #147
@deoqc I'm not sure how you were doing it before, but you should be able to build the equivalent of a node interface, if you use a GraphQL Union and define the resolveType.

[2016-04-28 18:55] deoqc commented on #147
@helfer doesn't GraphQL Union requires fragments the same way that Node Interface do? (reading the fb [docs](https://facebook.github.io/graphql/#sec-Unions)).

In this case, I think I can't use Union for the same reason that I can't use Interface in Apollo, due to lack of fragment support.

[2016-04-28 19:04] helfer commented on #147
Pretty sure you can use inline fragments with apollo-client, just not named fragments. The fragment in the example above is an inline fragment. @stubailo: please correct me if I'm wrong.

[2016-04-28 19:11] deoqc commented on #147
@helfer when I tried (as of apollo-client@0.1.6) I got something like 'inline fragments not yet supported'.

[2016-04-28 20:01] stubailo commented on #147
I thought we supported fragments but it turns out we don't everywhere! Going to fix that ASAP!

[2016-04-28 20:03] deoqc commented on #147
thx @stubailo, going to wait for it. (and closed the issue by mistake)

[2016-04-29 00:42] jbaxleyiii opened #157 "Make query diffing pluggable"
Open discussion about if we should do query diffing.

One minor pro is it means we could remove `graphql-js` from the client build which would really lower our bundle size. https://github.com/apollostack/apollo-client/pull/153/commits/7a8dbec8d050bf095d6cff6606f289efc58c4d85 had to increase our size due to more exports from the graphql-js library.

[2016-04-29 00:55] stubailo opened #158 "Add feature or document how to reset Apollo store"
For example, when the user logs out we might want to clear our some or all of the data on the client.

[2016-04-29 01:48] abhiaiyer91 commented on #158
There's way to achieve this today in Redux. We can compose a HO Root Reducer like

[code]

What would be cool is next having a reset middleware, so when i want to do these resets, i can just hit an generic reset action type and handle some function i want to be called in the process.
https://gist.github.com/abhiaiyer91/a8a7ca18a8f9b11faa02c899165d942b

[2016-04-29 02:09] stubailo commented on #158
Yep, just need to add some tests and make sure the client behaves correctly when all of the data disappears!

[2016-04-29 12:26] WilliamHolmes commented on #156
Thanks @stubailo
Let me know if you need more info.
I don't think I'm doing anything out of the ordinary, I've followed the docs and added the apollo reducer & middleware to the redux store (and I do see it in the redux dev tools)

I really do like the approach you guys are taking with this apollo-client, I'm looking forward to integrated it. :smile:

[2016-04-29 13:18] abhiaiyer91 commented on #156
Could we get a code sample of the react component too?

[2016-04-29 15:24] jbaxleyiii commented on #156
@WilliamHolmes what version of react-apollo are you using, this sounds like it may be an issue with the connect component

[2016-04-29 16:37] WilliamHolmes commented on #156
@jbaxleyiii

"apollo-client": "0.1.6",
"react": "0.14.3",
"react-apollo": "0.1.6",
"redux": "3.0.4",

hmm. I have a feeling your about to tell me to update my react components. :smile:

[2016-04-29 16:43] jbaxleyiii commented on #156
@WilliamHolmes maybe! It depends on how you are accessing the data from apollo-react (if that is what is causing the error)

v0.1.*
[code]

v0.2.*
[code]

[2016-04-30 06:54] praneybehl commented on #63
Would love to see support for Blaze 👍

[2016-04-30 06:57] praneybehl opened #159 "Plans for Blaze/Tracker integration."
Hi,

As suggested in the Meteor night I'd like to suggest integration for Blaze/Tracker. I also hope I am not the only one go want Blaze integration Apollo.

I would like to help as much as I could but unfortunately, my JS skills are a bit limited.

Praney

[2016-04-30 06:58] stubailo commented on #63
Please open a new issue instead of commenting on a closed old one!

[2016-04-30 07:07] stubailo commented on #159
I think we would need someone who plans to use it in production to lead development. If we find that person I would be happy to help!

[2016-04-30 12:52] smolinari commented on #63
Would love to see vue-apollo come together. I'll be working on this myself as mentioned in the linked thread above.

Scott

[2016-04-30 20:41] ramsaylanier commented on #157
I'm pretty sure Relay got rid of query diffing - but not entirely sure why?

[2016-05-01 02:46] praneybehl commented on #159
Thanks @stubailo ,
It seems like Blaze is not going to be anytime sooner and eventually going to just fade away with time, maybe it's time to migrate to another framework, even though I am familiar with React and quite like it, I can not use it in my current app due to limitations caused due to the Virtual DOM so probably going to try Angular2. I've always tried to stay away from Angular, but it's

[2016-05-01 03:07] stubailo commented on #159
Yes it does! I'm curious what limitations of virtual Dom you ran into?

[2016-05-01 03:41] praneybehl commented on #159
My app use Greensock's js animation library very intensely to create and manage animations and that involves a lot of DOM manipulation which React doesn't quite agree with. So I gave it a spin but lots of errors and debuging was required. That was my main purpose to stick with Blaze in the first place. I have really enjoyed using and working with Blaze and it's a shame to see it go but hey, as the

[2016-05-01 03:49] stubailo commented on #159
Sounds great! Would be awesome to get some feedback about the angular 2 integration. Closing this for now.

[2016-05-01 03:49] #159 closed

[2016-05-01 04:46] abhiaiyer91 opened #160 "Mutation Creators"
This issue is to assign work surrounding the concept of  `Mutation Creators`.

### What are Mutation Creators?

Much like Action creators are functions that create actions, `Mutation Creators` are functions that create Mutations.

### What needs to be done?

- [ ] Need to figure out a clean way to recommend a pattern for using `Mutation Creators`.
- [ ] Need to update example repos with this patte

[2016-05-01 04:58] smolinari commented on #159
@praneybehl - Have you seen or tried out Vue.js? http://vuejs.org/

They are working on 2.0 right now and it is supposed to be even more performant.

Scott

[2016-05-01 05:16] praneybehl commented on #159
@stubailo thanks mate, will sure do.

@smolinari Thanks for the suggestion, yes I have played around with Vue.js in the past, but to be frank its a bit tricky when using open-source software especially when using a smaller/low traction one, as their future is uncertain. Unless you have a skill and time to be able to pick them up if they are for some reason abandoned, IMHO there is not much sense i

[2016-05-01 05:43] smolinari commented on #159
Vue actually has more traction than Aurelia. Vue is also backed indirectly by Alibaba through Weex (a mobile development framework based on Vue and soon to be made public) and Evan You, the creator of Vue, has said he intends to create a company around Vue. Not sure if that will satisfy your need for guaranteed support though.

And to be honest, today React or Angular can be backed by Facebook or

[2016-05-01 05:57] praneybehl commented on #159
I guess its an open ended discussion and will never end, we'll lead nowhere with it so good luck with Vue.js cheers!

[2016-05-01 06:03] smolinari commented on #159
Nope, no open ended discussion. Since it is clear you are not interested in Vue, that is the end of the discussion. :smile:

Scott

[2016-05-01 10:38] smolinari commented on #159
@praneybehl - This still might be of interest to you.

http://jsfiddle.net/azimuth/tofnsu5e/4/

Scott

[2016-05-01 16:55] abhiaiyer91 commented on #160
These are my thoughts:

https://gist.github.com/abhiaiyer91/6c39108c1908261a708470710977d16a

[2016-05-01 17:05] jbaxleyiii commented on #160
A few thoughts:

Performing validations in a component will certainly be a pattern (similar to allow and deny rules in some cases). I think a consistent way to do this is possible (and wanted), but probably wouldn't be part of the client itself.

The issue of needing to refetch (https://gist.github.com/abhiaiyer91/6c39108c1908261a708470710977d16a#file-dispatchmutation-js-L36-L38) should be solved

[2016-05-01 18:05] abhiaiyer91 commented on #160
Yes exactly @jbaxleyiii

I think it would be valuable to give that utility for validation. I think most people will implement their same validations over and over again.

[2016-05-01 18:22] jbaxleyiii commented on #160
@abhiaiyer91 if you good with it, I'll open an issue around validation and close this one out?

[2016-05-01 18:27] jbaxleyiii opened #161 "Adding validation to MutationOptions"
Initial discussion in #160.

Validating data prior to triggering a mutation is a common (and critical) part of any action. I think it could be beneficial to add a `validation` key on the `MutationOptions` object that represents a method with the following signature `({ variables }) => boolean`.

View layer integrations could consume this and even add in more data to the method (like `props` for Re

[2016-05-01 19:48] abhiaiyer91 commented on #160
Let's do it

[2016-05-01 19:48] #160 closed

[2016-05-01 19:49] abhiaiyer91 commented on #161
I'm all for that. I think it'll help reduce friction and greatly improve the experience my mutation can be validated by any business logic requirements

[2016-05-01 20:28] goje87 opened #162 "client#query doesn't return updated data after performing a mutation"
For now I have a simple schema. And in connectors I used mongoose to deal with mongodb.

[code]

At client side I simply do:

[code]

Lets assume that initial user fetched has `fullName` as `Name One`. Now, if I run a mutation

[code]

I see that `subs#next` is called twice. Both the time it prints `Name One` in the console. Then I find the response of the mutation call being printed with `fullNam

[2016-05-02 15:36] MiMaMuh opened #163 "React Native bundling error because of babel plugin in graphql package"
Hi, I installed the apollo-client on react-native and got this error:

    transformed 1390/1392 (100%)[node-haste] Encountered an error while persisting cache:
    ReferenceError: Unknown plugin "transform-runtime" specified in "/Users/9_Semester/node_modules/graphql/package.json" at 5, attempted to resolve relative to "/Users/9_Semester/node_modules/graphql"

After installing the babel-plugin-tr

[2016-05-02 17:28] stubailo commented on #163
That's odd - @martijnwalraven did you see this when working with react native?

[2016-05-02 17:32] deoqc commented on #163
Had the same with respect to 'transform-runtime' as reported [in this issue](https://github.com/apollostack/apollo-client/issues/147).

I already had preset ES2015 installed.

[2016-05-02 17:45] stubailo commented on #163
So is the solution to somehow declare those dependencies? It's kind of weird that the package.json of the `graphql` package is affecting us..

[2016-05-02 18:29] martijnwalraven commented on #163
Yes, I also had to install these manually, see [here](https://github.com/apollostack/apollo-client/issues/147#issuecomment-214903672) for the steps I followed. I linked to what might be a related issue about React Native's Packager there, but I don't fully understand what is going on or what we can do about it yet.

[2016-05-02 19:03] stubailo commented on #156
@WilliamHolmes any updates? really curious to hear what is going on.

[2016-05-02 19:10] stubailo commented on #161
I don't think `boolean` is a good return type for this. It should be a list of errors, akin to ValidationError (perhaps _exactly_ validation error): https://github.com/meteor/validation-error

We should also make this the same as argument validation errors that would be returned by the server, since as we all know client-side validation is not enough! Pinging @helfer to see if he has thoughts abou

[2016-05-02 19:16] stubailo commented on #162
Hey, right now the recommended pattern is to call `refetch` after the mutation. This is the result of a few related issues:

1. The callback is fired because we haven't implemented #124, so we sometimes fire unnecessary change notifications
2. We don't document well what happens after a mutation, which is also mentioned in #144

I'm also working on documenting a better way to get refetches after a

[2016-05-02 19:16] #162 closed

[2016-05-02 19:22] abhiaiyer91 commented on #161
But there are two types of validation I see happening. Client side validation for the mutation, executed before it is sent to the server and one with the server itself?

I was thinking that the boolean will be good for custom business logic that runs before the `boolean` is returned. This could be more pluggable. Just some thoughts though

[2016-05-02 19:22] stubailo opened #164 "Batch polling queries"
Right now, if you set `pollingInterval` on many queries, they will all be sending independent requests on their own schedule. We should see if we can schedule them in a smarter way.

[2016-05-02 21:05] stubailo commented on #145
Merged, and released as `0.2.0`!

[2016-05-02 21:05] #145 closed

[2016-05-02 21:11] #141 closed

[2016-05-02 21:41] stubailo commented on #155
Big questions to answer:

### Should we keep parsing in ApolloClient as a courtesy

If we move all parsing into the `gql` template tag, we can remove the dependency on the GraphQL parser from ApolloClient. However, we should consider the getting started experience - should we require that people require a separate module from the start, or should the client library do parsing as a courtesy, and si

[2016-05-02 21:54] jbaxleyiii commented on #164
@stubailo that's sounds like a lot of fun to build haha

[2016-05-02 21:59] stubailo commented on #164
Haha also I think it would be a really really cool thing to have - your whole UI updates on a consistent timer, so you don't have a ton of random data coming in all the time.

[2016-05-02 22:01] stubailo commented on #164
Probably related to #25

I wonder how to make this work with precompiled queries, probably needs to be able to send a list of operations, which GraphQL-JS doesn't support right now I think?

[2016-05-02 22:02] stubailo commented on #164
Something to think about in the future.

[2016-05-02 22:03] abhiaiyer91 commented on #155
One thing people that people do not like is when you take away their magic. I for one, don't like magic and err on the side of good tooling.

I do not think requiring `gql` is a big deal, and if having it in your workflow is the recommended approach I do not see the need to even encourage people otherwise.

 I actually think its more approachable. One of the first things I looked into when diving

[2016-05-02 22:17] stubailo commented on #157
OK, let's think about the pros and cons.

To start, let's define query diffing:

### Advantages

1. It's an easy way to reduce the amount of data being loaded with little effort on the developer's part
2. It's a convenient place to put pagination logic. If we didn't do diffing, we would have to find a place to put logic that determines how to load new pages of data without re-loading all of the pr

[2016-05-02 22:18] stubailo commented on #157
@abhiaiyer91 @martijnwalraven @helfer a lot of stuff in here - this is a really big change so I'm curious what you think about the tradeoffs. I suspect I'm biased in favor of not diffing, so I didn't give as much thought to what we lose.

[2016-05-02 22:20] stubailo commented on #155
hah, would be cool! at least we can print good errors - "hey, you forgot to put `gql` here!"

[2016-05-02 23:47] helfer commented on #157
Here are some of my thoughts.

Additional advantages of query diffing:

- Data requirements can be fully declarative, meaning that at every moment, the GraphQL query represents the full data requirements of the app (or at least the component).

It's much much easier to just write what data the component needs in each of its states rather than figuring out the queries that you need to run in order

[2016-05-02 23:55] jbaxleyiii commented on #157
@stubailo @helfer

So I was thinking about building a logging plugin for apollo on the plane ride home. Something that logs the query, and the time it takes to get the result as a simple start. Currently the only form of middleware that I am aware of is around manipulating the network request. If we had the ability to apply middleware that exists between `query/watchQuery/mutation` => `middleware`

[2016-05-02 23:57] stubailo commented on #157
Yeah I think that's a really great idea. Diffing should be an optional pluggable thing you can inject.

BTW, what are the tradeoffs of "middleware" vs. something like a pluggable differ? Do we envision people running multiple diffing steps?

[2016-05-02 23:59] stubailo commented on #157
After talking to Jonas a bit, it would be cool if Apollo Client was almost a framework for writing the GraphQL client that you want - whether that's diffing vs. not, runtime vs. build-time query parsing, etc - the basic architecture we have with redux lets us be pretty flexible about that.

There are only a couple of invariants to maintain - the API, the fact that you get the query results, etc -

[2016-05-02 23:59] jbaxleyiii commented on #157
@stubailo I was thinking a singular `middleware` would allow a library of plugins to be created. You could combine them in the same way you combine reducers in redux or middleware in express. So same API for logging, events around queries, diffing, parsing, etc.

[2016-05-03 00:00] jbaxleyiii commented on #157
@stubailo @helfer

Yes this, 💯 this

[2016-05-03 00:11] stubailo commented on #157
I was thinking, we could just have different entry points that simply inject different modules. So:

[code]

I think there is still a big benefit to shipping it all in one NPM package to avoid dependency hell, but any reasonable bundling system will be able to avoid loading stuff that isn't actually imported!

[2016-05-03 00:34] abhiaiyer91 commented on #157
This is definitely true. It is different for a wide range of developers. Making this and any other optional enhancement is probably best served as extensions over the norm.

[2016-05-03 00:34] abhiaiyer91 commented on #157
@stubailo 💯  on the middleware.

[2016-05-03 00:38] stubailo opened #166 "Make it possible to import small modules of the library independently"
If we want to ship extra modules, like query diffing, that aren't always included, there are only two ways I know to make that work with today's bundlers:

1. Ship every part as a separate NPM package: `import diffQueries from 'apollo-diff-queries';`
2. Ship multiple files in the NPM package: `import diffQueries from 'apollo-client/diff-queries';`

I currently prefer the second because it will mak

[2016-05-03 00:54] jbaxleyiii commented on #166
I can put together an easy way to do this on publish! And get filesizes of each independent add-on for fun

[2016-05-03 00:55] stubailo commented on #166
whooooooa!

Sounds good to me :]

Projected timeline?

[2016-05-03 00:56] jbaxleyiii commented on #166
I can get adding files from /src to the root tonight! The rest this week?

[2016-05-03 00:57] stubailo commented on #166
Sounds great!

I'll just add stuff in `src` then and assume it will be importable eventually.

[2016-05-03 04:01] jbaxleyiii commented on #120
Decided that auto deployment isn't the way to go

[2016-05-03 04:01] #120 closed

[2016-05-03 04:14] stubailo commented on #120
Yeah to explain further I really want to be able to add people as contributors but not trust them to publish to NPM. Perhaps some auto-deploy with a bot that checks with the admins would work.

[2016-05-03 04:17] jbaxleyiii commented on #120
@stubailo I think facebook has a deploy bot and I know github has deployments hooked into hubot. Could be something to do one day 👍

For now a deploy script:
https://github.com/apollostack/apollo-client/pull/169

[2016-05-03 04:20] stubailo commented on #155
Solution at #168

[2016-05-03 12:27] WilliamHolmes commented on #156
@stubailo I was out for a few day, will try to update and test again.
@jbaxleyiii Right now I'm just logging out this.props and checking the console, so this shouldn't be an issue.
@abhiaiyer91 I'll trim back my React Comp and upload today for review. Thanks.

[2016-05-03 16:00] WilliamHolmes commented on #156
@stubailo I've tried to reduce the code down to the basic modules (still having the same issue)
[My Git Repo](https://github.com/WilliamHolmes/Apollo_Client_Test)
You will need to edit /src/index.js to point to your own GraphQL server.

[2016-05-03 16:17] abhiaiyer91 commented on #156
Where's your schema and resolvers?

[2016-05-03 16:29] WilliamHolmes commented on #156
@abhiaiyer91 I can't include our schema, but you can change the query in [App.js](https://github.com/WilliamHolmes/Apollo_Client_Test/blob/master/src/App.js) to suit whatever schema your GraphQL server is using.

I've already verified locally that the Posted query and server response is what is expected.

[2016-05-03 17:29] deoqc opened #170 "Inconsistent state in mapMutationsToProps"
I am using redux-form and have 2 forms (lets say FormA and FormB, 'living' in `state.form.FormA` and `state.form.FormB`).

The problem is that `FormB` is not always showing in the state when using `mapMutationsToProps`, but it is correct in `mapStateToProps` or in the store (as shown by devtools).

---

To be more precise, my code is something like this:
[code]
and the mutation only returns the sa

[2016-05-03 17:55] stubailo commented on #170
Moved to https://github.com/apollostack/react-apollo/issues/41

[2016-05-03 17:55] #170 closed

[2016-05-03 18:04] WilliamHolmes commented on #156
So it turns out if the response has an error attribute in the root, even if the array is empty we see get this issue.
If there is no error attribute in the root everything seems to be working.

I believe an error attribute with an empty array is a supported GraphQL response.

[2016-05-03 18:09] WilliamHolmes commented on #156
It's the `errors:[]` attribute.
{"data":{"node":{"updated":"2016-04-26T09:18:09.023+0000"}},"**errors**":[]}

If it's not present (in the root) then everything works as expected, otherwise when its present we see this issue.

I believe the errors attribute (even if it's an empty array) is a valid GraphQL response.

[2016-05-03 18:11] stubailo commented on #156
Ooooooooooh! Thank you for identifying this. Seems related to #51

@WilliamHolmes what GraphQL server are you using?

It's a bummer but GraphQL doesn't really have enough guidelines for errors to treat them in a sane way....

[2016-05-03 18:12] stubailo opened #171 "Treat empty errors array as no error"
https://github.com/apollostack/apollo-client/issues/156#issuecomment-216615786

Apparently some servers return an empty errors array when there are no errors, and we interpret that as an error being present.

[2016-05-03 18:21] WilliamHolmes commented on #156
@stubailo It's [graphql-java](https://github.com/andimarek/graphql-java)

[2016-05-03 18:22] stubailo commented on #156
@WilliamHolmes on a scale of 1 to 10, how sure are you that the empty error array is the underlying problem? As in, should I rename this issue, or open a new one?

[2016-05-03 18:26] WilliamHolmes commented on #156
I'll commit at 10.
I've tested this with (not working) and without (working) the **errors** attribute.
I did not, however, test it with something other than an array, but I'm going to assume that would never happen. :smile:

[2016-05-03 18:28] stubailo commented on #171
Renamed the original issue.

[2016-05-03 18:28] #171 closed

[2016-05-03 18:29] stubailo commented on #156
@WilliamHolmes thanks for the confidence! Should be a trivial fix.

[2016-05-03 18:32] helfer commented on #156
@WilliamHolmes I think you should file an issue on graphql-java. The [GraphQL spec](https://facebook.github.io/graphql/#sec-Errors) says:

[2016-05-03 18:32] stubailo commented on #156
#lawyered

[2016-05-03 21:11] WilliamHolmes commented on #156
@helfer @stubailo
1. Excellent News. I'll get on to the GraphQL server guys.
2. Thanks so much for investigating this.
Unless you want to add some robustness, I'm happy for you to close this issue.

[2016-05-03 21:13] mquandalle commented on #156
Maybe this client could provide a more comprehensible error message?

[2016-05-03 21:21] stubailo commented on #156
Yeah this is definitely still a "bug" in my mind! But now we have a specific cause isolated.

[2016-05-03 23:55] stubailo commented on #161
Yeah my thought is that the client and server validation code will be very similar if not identical in many cases.

[2016-05-04 00:12] stubailo opened #172 "Write up possible reactivity designs"
Copied from the Apollo slack convo with @abhiaiyer91:

1. per-query refetching - already possible today
2. per-node refetching, where you invalidate a node ID and the client refetches queries that are looking at that node - not possible right now but not too much work
3. streaming data into the Apollo store directly - possible, but could involve some work
I wonder which of the three are most usefu

[2016-05-04 00:45] stubailo commented on #155
Done!

[2016-05-04 00:45] #155 closed

[2016-05-04 01:45] swarthout commented on #164
I think using observables makes sense here. Imagine this:
- Each query has an observable that emits its network request. If the query is only meant to be executed once, use Observable.just(<networkRequest>).
If the query is meant to be polled, you can use Observable.interval(<pollingRate>).map(<networkRequest>), and for other situations we can use operators like
Observable.fromEvent to create the

[2016-05-04 01:50] stubailo commented on #164
By observable, do you mean RxJS here? Because most of the things you're talking about aren't part of the observable spec. If so, we need to make sure we can avoid loading all of RxJS.

[2016-05-04 02:10] swarthout commented on #164
Yeah I meant RxJS. Hopefully we can get by with rx-lite and not the whole thing.

[2016-05-04 02:34] stubailo commented on #164
I also feel there might be a simpler solution with a regular timer and redux keeping track of some of the state.

[2016-05-04 02:36] ciwolsey commented on #161
can't validation errors on the server be returned from the resolver?
or is that the wrong place for them?

I like the way redux-form does it's validation which is to have a function like:
[code]
Where errors is can be a free form object allowing you to pass in the results from something like Mongoose.

[2016-05-04 21:17] #156 closed

[2016-05-04 21:19] stubailo commented on #156
Fixing some of the internal error messages would be nice though so that these are easier to identify...

[2016-05-04 21:20] stubailo opened #174 "Make internal error messages more helpful"
This is a good idea overall - we should try to write tests for adverse situations and make sure we print good errors in those cases. Various invalid GraphQL responses, etc.

[2016-05-04 21:20] stubailo commented on #166
I think this is done since `import gql from 'apollo-client/gql'` works great!

[2016-05-05 06:53] stubailo commented on #27
Changed this issue to just `__typename`, we can cross the `id` bridge when we get there.

[2016-05-05 07:13] #166 closed

[2016-05-05 07:14] #79 closed

[2016-05-05 07:39] goje87 commented on #162
Thanks @stubailo!! Sure.. would do so...

[2016-05-05 09:33] agasvina commented on #146
@jbaxleyiii is there any tutorial for Apollo client that has a non apollo GraphQL? Thanks before

[2016-05-05 11:48] agasvina opened #177 "Unable to query into non-Apollo GraphQL server from Apollo-client"
I tried to make a simple request by following the documentation using Apollo Client into non-Apollo GraphQL server as below:
[code]
However I keep getting an error while running the code:
```there was an error sending the query [ReferenceError: fetch is not defined]```

I try to search the issue related to that, however the documentation doesn't really helpful.

Thanks before.

[2016-05-05 12:01] jbaxleyiii commented on #177
@agasvina are you running this query in a browser on using node? If a browser, which one are you using?

`fetch` is a way to make remote calls in browser and is supported in most major vendors. To run it in node, you need to include `node-fetch` and attach `fetch` to node's global object `global.fetch = fetch`.

I agree we could make the docs clearer on this part. I'll work on that

[2016-05-05 12:09] agasvina commented on #177
@jbaxleyiii  it works!
Thanks for the swift reply.
I'll close the issue.

[2016-05-05 12:09] #177 closed

[2016-05-05 12:33] deoqc commented on #155
The way I understand, Relay require all the parsing in the pre-compilation - so you have an optimized situation but can't do string interpolation in general 'cause it needs to be able to resolve it in the pre-compilation (so you still can do it in situations like `getFragment` of course).

I understood that apollo will have room for both approaches, optimized and parsing on the client, and maybe u

[2016-05-05 15:52] stubailo commented on #155
Yeah right now you can use both in production! This is just one step toward making pre compilation an option if you have really specific performance needs.

[2016-05-05 17:11] helfer commented on #146
@agasvina There is no such thing as Apollo GraphQL, what we're using is just plain GraphQL. You can therefore build any GraphQL server you like, following pretty much any tutorial out there, and it should work with apollo client. Even if the server is written in Scala, Python or whatever other language has a GraphQL server implementation

[2016-05-05 18:27] #147 closed

[2016-05-05 23:10] stubailo commented on #50
No longer relevant since we aren't focusing on the Relay interface as a first-class feature.

[2016-05-05 23:10] #50 closed

[2016-05-06 00:50] stubailo commented on #80
After talking to @helfer, my strategy is going to be to inline all of the fragments before doing anything else, and fall onto the inline fragment feature.

[2016-05-06 16:06] WilliamHolmes opened #180 "Q: How would I update the Apollo store after creation?"
I'm receiving real-time data from another channel (WS).

I was hoping to update the apollo store much like queries and mutations, but I'm not sure how to go about this.

Is there an option or approach which creates a mutation with some data but not to actually send that mutation to the server?

**UseCase**:
Apollo Store > Query > Get All Comments > store gets updated > React UI updates
New Comment

[2016-05-06 17:08] stubailo commented on #180
Ooh, this is something I've been thinking about but haven't documented, as part of #172 (writing up reactivity designs).

I really want to make this work for you, so that we can expand it into a first-class feature of Apollo Client. Can you give me a bit more info? Specifically:

1. What is the shape of the data that comes in over the websocket
2. What do the queries that you're trying to update l

[2016-05-06 19:18] deoqc opened #182 "forceFetch not working"
I need a view to always get fresh data. But using `forceFetch` only fires `QUERY_RESULT` (which I think is for fetching data on server), and all the following times fires `QUERY_RESULT_CLIENT`(for getting the result in client store, as I think).

Therefore my view is not correctly updated when the data changes.

**update:** I'm using `react-apollo` for `connect`ing but thought it may be an issue i

[2016-05-06 19:27] stubailo commented on #182
That definitely should work!

[2016-05-06 20:06] NeoPhi opened #183 "Add support for inline enum arguments"
Given that GraphQL serializes Enum values as strings, it would be great to have them supported as argument parameters. Currently they throw a `Only scalar argument types currently supported.` error.

[2016-05-06 21:01] stubailo commented on #183
@NeoPhi can you show me how you're passing them? Is this through a variable, or inline in the query? Should be a trivial fix.

[2016-05-06 21:08] NeoPhi commented on #183
I have uses for both inline and via variables. This is a typical example:
[code]

[2016-05-06 21:28] WilliamHolmes commented on #180
The data is a structured JSON response, the structure itself does not match the schema, but of course the data keys/values do.
ie (Someone creates a New toDo).

**Incoming Data**
`{"type":"todo_created","ToDo":{"id":"urn:lsid:572d058c9932c8bb19416853","title":"NewToDo","published":1462568332749,"createdBy":"e8e73f40-ba74-102b-8a1d-c574ebd76cf3"}}`

**Query**
`{ node (id: "urn:lsid:572d058c9932c8bb

[2016-05-06 21:48] stubailo commented on #180
Exactly. I ran into an error before where I was accidentally mutating the result object, and that made the test pass even though the code was wrong. So nothing to worry about - just a test artifact.

[2016-05-06 21:50] stubailo commented on #180
OK so it looks like you should be able to use the fragment you wrote and use `writeFragmentToStore` - only thing missing is the ability to inject the `idGetter` into `ApolloClient` so that queries and mutations use it as well!

Going to set that up asap.

[2016-05-06 21:57] stubailo commented on #183
OK - I'll add some tests for that, should be pretty simple to do!

[2016-05-06 21:58] stubailo commented on #183
@NeoPhi so in the Apollo Demo example, we do use Enum arguments via variables and it seems to work: https://github.com/apollostack/apollo-demo/blob/5d045ff807a08a754628ad9edf8e17526d6ceac0/imports/ui/Feed.js#L59

Is your code different from that somehow?

[2016-05-07 00:00] NeoPhi commented on #183
@stubailo My apologies, I think I copied the example from the wrong component. I do see that Enum arguments via variables are working. It seems only hard coded Enum arguments are having problems. Revised example:

[code]

[2016-05-07 00:01] stubailo commented on #183
Ah, yes. Thanks for updating the code snippet!

[2016-05-07 00:02] stubailo commented on #183
Question: is using variables a fine workaround, or is being able to type it in the query string itself critical? Curious how important this issue is for you.

[2016-05-07 01:15] NeoPhi commented on #183
Using variables will be the primary use case, the hard coded version was an initial test to get things wired up quickly.

[2016-05-07 08:57] smolinari commented on #180
Sort of an on-topic tangent, but would a streaming API into Apollo be outside the GraphQL spec?

Scott

[2016-05-07 15:53] stubailo commented on #180
Sure, but the spec applies to what the server does, not how the client uses that data.

[2016-05-07 16:47] stubailo opened #184 "Query printer can't print mutliple root queries after diffing"
https://github.com/apollostack/react-apollo/issues/45#issuecomment-217629397

[2016-05-07 17:15] stubailo commented on #184
Fixed in 0.3.3 and published!

[2016-05-07 17:15] #184 closed

[2016-05-07 19:43] WilliamHolmes commented on #180
The alternative is to make an additional query for data we already have on the client, just to populate the apollo store on the client.

[2016-05-07 19:59] stubailo commented on #180
Yep, basically firing a fake query result event!

[2016-05-07 23:42] goje87 opened #186 "Cannot find module `apollo-client/gql`"
I have below script that was running until now.

    //script.js
    var apollo = require('apollo-client');
    var gql = require('apollo-client/gql');
    ...

`$ node script.js` was working fine till now.

All I did was updated `apollo-client` from `^0.1.6` to `^0.3.3`. Post that I get below error whenever I run above command.

    Error: Cannot find module 'apollo-client/gql' from '/path/to/scr

[2016-05-08 00:36] czbaker opened #187 "Redux and GraphQL?"
So...I'm really new to GraphQL and I'm still trying to figure out a lot of things.

Say I have a Redux state variable that's contained in 'state.general.currentISBN', and it contains a string that I want to use as a parameter for a GraphQL query in a React component.

How do I handle the entry in `mapQueriesToProps` and "build" the query with the Redux state?

I'm sort of lost, and the docs don't

[2016-05-08 00:57] wangyueming commented on #186
I changed the line to require('apollo-client/npm/gql'), and it worked. I don't know why.

[2016-05-08 02:01] stubailo commented on #186
Hey, really sorry - I published the last version of the package incorrectly. Should be good now and you can remove the `npm` from the path in `0.3.4`.

[2016-05-08 02:01] #186 closed

[2016-05-08 02:02] stubailo opened #188 "Make it an error to type `npm publish` directly"
If you publish without the deploy script, the package breaks as in https://github.com/apollostack/apollo-client/issues/186

[2016-05-08 02:03] stubailo commented on #186
Basically, we have a script that copies the modules to the right place before publishing, and I forgot to call it, which broke the file paths...

[2016-05-08 02:06] stubailo commented on #187
We talked about this in Slack, but you should be able to use `state` in `mapQueriesToProps`:

[code]

Where `state.selectedCategoryId` is coming from Redux.

[2016-05-08 02:06] stubailo opened #189 "Print unhandled network errors to the console"
That way, you don't have to look in the network tab or dev tools to figure out why the server didn't like your query.

[2016-05-08 05:53] smolinari commented on #180
I guess I was getting my impression from the GraphQL introduction the Facebook team did last year. I seem to remember them saying they explored a streaming capability and deciding to not go that direction for Facebook's purposes (in their GraphQL API). You are right, the spec doesn't even mention how the data is transported or ingested by either the client or the server actually.

:+1:  to a strea

[2016-05-08 14:43] czbaker commented on #187
Yeah, I posted this issue before hopping on there, and now I realize what was wrong.  Thank you again for being so helpful on Slack.  I also feel stupid for not realizing that I hadn't `connect()`ed my Redux state to the component in question, so `{ state }` didn't exist.

[2016-05-08 14:43] #187 closed

[2016-05-08 19:55] #142 closed

[2016-05-08 20:17] abhiaiyer91 commented on #158
Im thinking we should do the following

1. ship a Higher Order Reducer so people can reset state of any reducer they want.
2. Build in reset capability to `apolloReducer`
3. write tests
4. write docs

what do you think?

[2016-05-08 20:24] goje87 commented on #186
Thanks @stubailo... `0.3.4` works like charm!!

But, it's strange that even when I rolled back to `0.1.6` it didn't work...

[2016-05-08 20:47] stubailo commented on #186
0.1.6 didn't have gql at all, so that's not strange :) check the changelog for a history of when stuff was added and changed.

[2016-05-09 04:37] abhiaiyer91 commented on #124
Unsure how to deal with this one. Is this in the reducer when next state is calculated? More info and I'm sure I can get it done.

[2016-05-09 08:51] goje87 commented on #186
My bad!! I forgot that I did `npm install` of 0.3.2 without `--save`. Looking at `package.json` I thought I was just hopping between 0.1.6 n 0.3.3... Sorry about the confusion!

[2016-05-09 15:32] agasvina opened #191 "Unable to get schema's introspection"
Hi there, I try to do a simple query for schema introspection as below:
[code]

According to the GraphQL', we should be able to get the specific type using that query (i.e.
mentioned here: http://graphql.org/docs/introspection/).  I understand that the introspection schema return for "__Type" doesn't has any arguments.
How does the apollo-client validate if the query I send is invalid?

Returned b

[2016-05-09 18:14] ciwolsey opened #192 "Request: Provide array of resolvers"

[2016-05-09 18:14] ciwolsey commented on #192
Sorry this issue should go on apollo-server not client.

[2016-05-09 18:15] #192 closed

[2016-05-09 18:39] agasvina commented on #191
closing. this is an issue in my graphql-server

[2016-05-09 18:39] #191 closed

[2016-05-10 04:51] deoqc commented on #182
I updated to `apollo-client@0.3.4` and `react-apollo@0.3.3` and now it's working.

[2016-05-10 04:51] #182 closed

[2016-05-10 16:35] gauravtiwari opened #193 "Partial data return prematurely fails (watchQuery)"
Hey folks,

Getting following error, when using `returnPartialData` with `watchQuery` (looks like it's trying to get the data from Store, before it's available)

[code]

[2016-05-10 16:41] martijnwalraven opened #194 "Move refetch(), startPolling() and stopPolling() from Subscription to ObservableQuery"
Interoperability with other Observable implementations (see #149) means we have no control over the Subscription object users end up with.

For example, `Rx.Observable.from(handle).subscribe()` would return an RxJS Subscription object without the Apollo-specific helper methods.

So I think it makes most sense to move these methods to `ObservableQuery` (maybe this needs a better name, like `QueryHa

[2016-05-10 17:44] stubailo opened #195 "Make a guide for new contributors"
We want to make it as easy as possible to contribute!
- [ ] Roadmap
- [ ] Where to start

Add more ideas in the comments!

[2016-05-10 17:58] abhiaiyer91 commented on #195
- [ ] How Apollo works

[2016-05-10 18:19] stubailo commented on #193
This is a pretty bad bug! Thanks for the report, we should get it fixed ASAP.

[2016-05-10 18:23] jbaxleyiii commented on #194
@martijnwalraven I'm all for it!

[2016-05-10 18:30] stubailo commented on #182
Glad to hear it :]

[2016-05-10 19:43] #149 closed

[2016-05-10 20:52] smolinari commented on #143
In the meantime, I've learned that redux isn't really the best choice as a store system to work with Vue. It is going to be better to try and bind apollo-client to Vuex, Vue's own Flux system, directly.

Scott

[2016-05-10 21:09] stubailo opened #197 "Establish why new release of TSLint makes CI fail"

[2016-05-10 21:13] stubailo commented on #197
We should file an issue on TSLint if we can isolate the problem.

[2016-05-10 21:29] abhiaiyer91 opened #198 "Figure out Time Travel for Dev Tools"
I think to make this happen we need to undo queries and mutations. Essentially we need to reset the state of those queries/mutations/data while time traveling back.

[2016-05-10 21:32] stubailo commented on #124
Assigned to myself to explain task better.

[2016-05-10 21:35] stubailo commented on #158
What's the higher order reducer for?

[2016-05-10 21:54] abhiaiyer91 commented on #158
The higher order reducer is for people who want to reset their normal redux state based on the same state clearing the apolloReducer will have. Thoughts?

So essentially whatever we clear apolloReducer with i can wrap a redux reducer

`someReducer: composeResetReducer(someReducer, {})`

where composeResetReducer takes a reducer and some initial state

[code]

[2016-05-10 22:50] stubailo commented on #158
Hmm, I'd rather skip that for now - it doesn't seem relevant to Apollo IMO. I'd rather just document "Apollo uses the `RESET_STATE` action to reset, feel free to use that in your own reducer" or something like that.

I'd rather not get into the business of writing higher-order reducers for people, that sounds like a Redux thing.

But if you want to write a separate package for that, it would be fi

[2016-05-11 00:01] JProgrammer commented on #86
Yes I think this will be really important so that we can have microservice style graphql servers responsible for one thing but then have app servers quering/mutating across multiple graphql servers/schemas.

It would be great to compose an app server by exposing schemas of one graphql server from another.

[2016-05-11 02:18] stubailo commented on #86
I think this issue is about a different thing - it's more about having client-only data and server data being queried together. Perhaps you should post that somewhere else, like Apollo Server?

[2016-05-11 02:27] stubailo opened #199 "Memoize gql"
Since `gql` now creates a new object every time it parses, that breaks `react-apollo` change detection. We should make the same queries `===` each other, like the original strings do.

[2016-05-11 02:41] stubailo commented on #193
Oops, looks like we have exactly 0 unit tests for `returnPartialData`. That explains why that broke...

[2016-05-11 03:06] #199 closed

[2016-05-11 03:16] #193 closed

[2016-05-11 03:36] stubailo commented on #193
This should be fixed in Apollo Client 0.3.5. Please let me know if it isn't!

[2016-05-11 04:53] gauravtiwari commented on #193
@stubailo Thanks Sashko. Yeah, me too looked at unit tests and immediately realised that something is wrong with implementation. Great work 👍

[2016-05-11 06:00] abhiaiyer91 commented on #158
Okay Step 1 function to use. https://github.com/abhiaiyer91/redux-reset

[2016-05-11 06:22] stubailo opened #202 "Suggest using variables instead of inline enum arguments"
Much easier than implementing #183, and using variables isn't that hard.

[2016-05-11 07:20] #189 closed

[2016-05-11 12:11] ramsaylanier commented on #202
+1 this would be huge for me.

[2016-05-11 16:06] stubailo commented on #202
What do you mean? Variables are already supported, this issue was just about printing a nicer warning when enuks are used inline.

[2016-05-11 16:33] stubailo opened #204 "Enable normalization plugins"
This would let you define a custom way to determine the key for when an object is inserted in the store, for example you could use the `id` property if it exists.

Necessary for #180

[2016-05-11 16:33] dahjelle commented on #180
I was just running into this as well. In our case, we can subscribe to a CouchDB `_changes` feed that has data in basically the same shape as the results for our GraphQL queries.  If I'm understanding this conversation correctly, if I can make

1. a GraphQL fragment that corresponds to the data I got from `_changes`,
2. a mocked response to that fragment

then i can use the `writeFragmentToStore`

[2016-05-11 16:43] ramsaylanier commented on #202
Whoops - I think I commented on the wrong issue. The perils of githubbing on a phone.

[2016-05-11 17:43] stubailo commented on #202
@ramsaylanier hope you find the right thread :]

[2016-05-11 18:26] lorensr commented on #180
This might be useful for mixing with Meteor pubsub? Instead of putting data from DDP in minimongo, put it in Redux?

[2016-05-12 02:46] stubailo commented on #180
Exactly!

And yes, this could also be a way to put Meteor pubsub data into the Apollo store if one desired. I think this might call for a new API on ApolloClient to inject external data, just to make the approach standardized.

[2016-05-12 04:46] stubailo opened #206 "Make master a protected branch"
So that we can't accidentally push there

[2016-05-12 06:13] tomitrescak opened #207 "RequestInit is not defined in typescript typings"
Thanks for this amazing project! Loving it! A small detail:

When using apollo-client in typescript the `RequestInit` is not defined.
It also references the graphql library which typings is not a part of the project.

[2016-05-12 12:39] jbaxleyiii commented on #206
Done!

[2016-05-12 12:39] #206 closed

[2016-05-12 12:40] jbaxleyiii commented on #207
@tomitrescak those are `ambient` definitions with typescript.

Can you try `typings install graphql fetch`?

[2016-05-12 13:30] tomitrescak commented on #207
Unfortunatelly that did not help ;( If you try to setup a new project and install apollo-client from npm, will it compile? To me it does not even with those typings installed.

[2016-05-12 15:41] stubailo commented on #206
Amazing!

[2016-05-12 17:21] stubailo opened #210 "Rename Apollo Redux actions to be namespaced"
Right now our actions are called stuff like `QUERY_RESULT`, etc. That might result in a collision with actions someone might already have in their app. We might want to namespace our actions with a prefix that contains the name `APOLLO`, which will make collisions basically impossible.

[2016-05-12 17:21] stubailo commented on #210
We might want to loop this in with a different breaking change since it doesn't seem to be worth a minor version bump on its own.

[2016-05-12 17:46] johnthepink commented on #210
I totally agree. We should namespace.

[2016-05-12 17:49] abhiaiyer91 commented on #210
`APOLLO_*` sounds good?

[2016-05-12 17:51] stubailo commented on #210
Guess we're going with `APOLLO_`!

[2016-05-12 18:36] abhiaiyer91 commented on #210
ALRIGHT, assign to me? I got you

[2016-05-12 20:26] MasterJames commented on #206
It's wise to make it clear what branch should be forked for PRs somewhere README? submission guide with signature required forms or what have you. Otherwise you constantly have to remind people "can you please target the development branch". I notice a please sign form bot so maybe a bot to notify people if they send a PR to master what to do would save time?

[2016-05-12 20:38] MasterJames commented on #210
Is a global APOLLO with things like APOLLO.* worth consideration?
I thought if you import apollo it's done this way for you.
Sorry and disregard if junior question.

[2016-05-12 20:47] abhiaiyer91 commented on #210
These action types aren't really for consumers. They're part of the internal api for the client.

[2016-05-12 21:12] stubailo commented on #210
@MasterJames this is about namespacing Redux action types, which are just strings, and don't have a standard namespacing schemes.

[2016-05-12 21:13] stubailo commented on #210
@abhiaiyer91 do you think we should consider this a breaking change? We didn't really document the action names before, so maybe it isn't? Hard to say.

[2016-05-12 21:14] stubailo commented on #206
@MasterJames nono, I think we're talking about something different. People can still open PRs against the default branch. This is just so that repo contributors can't directly commit to master without opening a PR.

[2016-05-12 21:21] stubailo commented on #207
@tomitrescak do you know how to set this up properly with TypeScript and NPM? I'm pretty new to TS, so I don't know what the right way to do it is. Any help would be much appreciated.

[2016-05-12 21:27] stubailo commented on #183
Relabeled this to a "feature" since there's a great workaround of using variables, and we'll suggest that people do that with the new error message in #211.

[2016-05-12 21:35] stubailo opened #212 "Investigate compat with old Android browsers"
Reported here: https://forums.meteor.com/t/apollo-not-working-in-most-android-devices-browser/23050

[2016-05-12 22:58] tomitrescak commented on #207
@stubailo I've been working with TS for quite some time but am new to this ts distribution as well. Am trying to solve it at https://github.com/typings/typings/issues/495 Will let you know or will do PR for this.

[2016-05-12 23:08] tomitrescak commented on #207
@stubailo ... oops, looks like there  is NO solution for this as you depend on ambient external library n your code. The solution for now is to REMOVE the .d.ts files from the project and let "typings" project automatically generate those.

[2016-05-12 23:09] stubailo commented on #207
Whaaaat. But what if people aren't using `typings`? Is there not a standard way to distribute this stuff in TypeScript? I'd rather not require people to use the `typings` tool to use this library.

[2016-05-12 23:10] stubailo commented on #207
Could we just include all of the type definitions for `graphql` in our package?

[2016-05-12 23:40] tomitrescak commented on #207
Unfortunatelly NO ;( Because you do not have tsconfig.json in your project, the ambient declaration will not be resolved.Yet, there are several options.

1. Convince graphql people to include typings in their project. In order for me to compile I have manually placed following file into node_modules/graphql/index.d.ts file.

[code]

With this the compilation still fails as you are using some Reque

[2016-05-12 23:46] stubailo commented on #207
`RequestInit` should come from the typings for `isomorphic-fetch`, but you're right - we don't import it anywhere at all! How does our code even compile??

[2016-05-12 23:50] tomitrescak commented on #207
You have an ambient declarion in your project at "typings/browser/ambient/isomorphic-fetch/index.d.ts"

[2016-05-12 23:52] stubailo commented on #207
I thought you still had to import those - like I can't use any of the definitions from `graphql` without importing them first. Is there something about that definition which makes it global?

[2016-05-12 23:54] tomitrescak commented on #207
Yes. If you declare in in ambient file such as

[code]

Foo is now accessible in global namespace

You had to "import" from graphql, because you are importing objects. Foo is just a type definition used by Typescript.

[2016-05-12 23:55] stubailo commented on #207
I believe you, but when I use GraphQL stuff, when I do:

[code]

Those aren't objects exported by the NPM package at all - those are only types exported by the definition.

[2016-05-12 23:57] stubailo commented on #207
I think this is because the `grapqhl` definition uses:

[code]

And puts all of the types in there, vs. isomosphic fetch which just puts stuff in the root:

[code]

[2016-05-12 23:57] tomitrescak commented on #207
It all depends on the ambient declaration:

[code]

`Foo` is accessible globaly
`Bar` you have to import from "graphql"

[2016-05-13 00:13] #202 closed

[2016-05-13 00:36] abhiaiyer91 commented on #210
Its not breaking to any users. Unless people are relying on these action types in their apps? @jbaxleyiii do you guys?

[2016-05-13 00:50] stubailo commented on #210
Yeah if they don't then it's probably fine

[2016-05-13 02:25] jbaxleyiii commented on #210
@stubailo @abhiaiyer91 we don't!

[2016-05-13 03:01] stubailo commented on #210
Alright abhi go for it!

[2016-05-13 03:51] smolinari commented on #206
Are you following a [gitflow workflow](http://jeffkreeftmeijer.com/2010/why-arent-you-using-git-flow/)? It doesn't look like you are (as there is no develop branch) I think that is what @MasterJames is talking about. If you were using gitflow, you'd need to tell people in the contribution docs to branch off of the develop branch for new features or bug fixes and to PR on the develop branch only to

[2016-05-13 04:31] stubailo commented on #206
Yeah, I don't think we need a devel branch - we should just release features as soon as they are developed I think.

[2016-05-13 05:17] smolinari commented on #206
Yup. That is fine for smallish kind of projects. However, managing the repo and releases can get unwieldy as the project gets bigger (should it get bigger). I bet you already knew that though. :smile:

Scott

[2016-05-13 05:24] stubailo commented on #206
Yeah, I think my goal is to never let this project get big. If we need more stuff in Apollo Client, we should add plugin functionality, start a new repo/package and put it there instead. Maybe that's not feasible, but it sounds like a better solution than having a complex process with special branch names, commit tags, release process, etc.

Anyway, we'll cross that bridge when we get there!

[2016-05-13 05:56] MasterJames commented on #210
Food for thought but probably not related enough to reconsider dotting at least.
https://github.com/reactjs/redux/issues/786
Call me old fashioned but I would just use a dictionary in an apollo global namespace for action strings if not the vales themselves directly. Maybe if it was a subscription the server could provide the variation desired and discussed in the thread. Object merge overwriting

[2016-05-13 09:24] tomitrescak opened #216 "Mutations in Meteor"
Hi, I'm using apollo-client with Meteor and default MongoDB. All queries work nicely, but none of my mutations seem to work as I'm getting the famous error: `Meteor code must always run within a Fiber. Try wrapping callbacks that you pass to non-Meteor libraries with Meteor.bindEnvironment`

I tried wrapping it in AsyncCallback, I even tried to bind it to environment but nothing seems to workl ;(

[2016-05-13 10:50] tomitrescak commented on #216
I have published the code for this in a meteor boilerplate combining Mantra+Redux+Apollo. It can be found here:

https://tomitrescak@github.com/tomitrescak/meteor-mantra-redux-graphql.git

I really need help with those mutations. I spent last 3 hours on that error and can't move.

The problematic file is here:

https://github.com/tomitrescak/meteor-mantra-redux-graphql/blob/master/src/lib/data/res

[2016-05-13 11:40] asbjornenge opened #217 "Improve and test compatibility with GraphQLJSON"
Hi! I'm trying to use `apollo-client` with [GraphQLJSON](https://github.com/taion/graphql-type-json).

Using the below `mutation` I am able to send the correct data to GraphQL. The problem arise when I try to query for data that includes `settings` (e.g. the response from this mutation). I get `TypeError: Cannot read property 'selections' of null at writeSelectionSetToStore`. It works if `settings

[2016-05-13 11:53] asbjornenge commented on #217
I guess the actual question is: "Is there a way to add additional scalar types in apollo-client" ? :stuck_out_tongue:

[2016-05-13 13:39] abhiaiyer91 commented on #216
So to my knowledge you do not need to Bind environment or any of that jazz. I do think you can ditch the fetch you do in the mutation as well. Thanks for the repo to play with, let me get back to you

[2016-05-13 14:11] tomitrescak commented on #216
@abhiaiyer91 good to see you ;) loved your tutorial for graphql. Well, the bind environment is there only because graphql asked for it. But even with that I keep receiving the error ;( I tried quite a lot of stuff to no avail :( the boilerplate is only pre alpha version and I will be moving stuff around. But for now the task num.1. Is to make the mutations work. I will be very glad to receive any

[2016-05-13 14:41] tomitrescak commented on #216
@abhiaiyer91 This seems to work:

[code]

But how on earth can I return a value from this? In my schema I specified that I return string, but not sure how can I do that from Fiber.

[code]

[2016-05-13 14:45] abhiaiyer91 commented on #216
Changing this in your resolver made this work...
[code]

[2016-05-13 14:46] abhiaiyer91 commented on #216
The minute you need to use bindEnvironment, and Fibers and all this complex stuff means Apollo didn't do its job. And i know thats not the case.

[2016-05-13 14:53] tomitrescak commented on #216
@abhiaiyer91 so it was the bloody typescript compiler that was producing some transpilation of the await operator that broke the whole thing.

[2016-05-13 15:03] tomitrescak commented on #216
@abhiaiyer91 can I have one more question? I changed my schema to return string and resolver as well but now I'm receiving `Field "addPost" of type "String" must not have a sub selection.`. What does it mean? Thanks!

[code]

[code]

[2016-05-13 15:33] abhiaiyer91 commented on #216
Well our mutation is now returning an iterable. So instead you can return a string in your resolver if you want

[2016-05-13 19:16] stubailo commented on #217
Can you paste in the response from the graphql server in this case? That will let me write a test to reproduce the issue!

[2016-05-13 21:40] stubailo opened #218 "Update GitHub README to be a better landing page"
Should link more prominently to the docs

[2016-05-13 21:43] asbjornenge commented on #217
This is what I get using `/graphql` (graphiql) if that's what you mean?

[code]

Or is there some other convenient way to see the reponse?

[2016-05-13 21:43] stubailo commented on #217
That's perfect! Another way to see it is to look in your Chrome dev tools under the Network tab.

[2016-05-13 21:47] abhiaiyer91 commented on #216
We good? Im going to close this

[2016-05-13 21:47] #216 closed

[2016-05-13 21:48] stubailo commented on #217
Got the test going! https://github.com/apollostack/apollo-client/pull/219/commits/4babe248db34474dd914802f379c365b26bbf2d1

[2016-05-13 21:57] stubailo commented on #217
Aaaand, it's fixed - that was easy! Now just to wait for CI to pass and republish. https://github.com/apollostack/apollo-client/pull/219

[2016-05-13 22:24] stubailo commented on #217
Published in NPM as `0.3.8`, let me know if it works for you!

[2016-05-13 22:24] #217 closed

[2016-05-13 22:48] MasterJames commented on #216
Why is post const and why return anything (in addPost)? Thanks just learning, interesting example. Maybe I'll just look back later at that master branch if no one wants to answer me. Sorry to bother if that be the case.

[2016-05-13 23:08] abhiaiyer91 commented on #216
@MasterJames not a worry. I guess you want to to do return values if you want the `data` property on a mutation to be useful for your UI

[2016-05-13 23:37] tomitrescak commented on #216
Hmm, if you find a bit of time can you maybe post a working example of how can I return a string for the mutation? It looks like I can only return objects as when I specify the query for the mutation the result is always specified as object

mutation {
 Name( params ) {
   ResultAlwaysObject
 }
}

[2016-05-14 00:10] stubailo commented on #216
You can call a mutation like this:

[code]

Just don't put any brackets after it.

[2016-05-14 00:15] tomitrescak commented on #216
Thank you @stubailo that did it.

Still a noob here ... but getting there. I know you guys are not a support forum for GraphQL so I really appreciate your responses. It's just that your approach is a bit different (and I like it more) that what you find in the classic GraphQL examples online. I really love the way you just use schemas for the definition and separate resolvers. Awesome work! Thanks

[2016-05-14 00:21] stubailo commented on #216
Thanks! And feel free to ask general questions about GraphQL:

1. On our [Slack team](http://slack.apollostack.com/)
2. On the [Meteor forums Apollo category](https://forums.meteor.com/c/apollo)
3. Stack Overflow

And please let us know if the docs can be better!

[2016-05-14 05:09] asbjornenge commented on #217
@stubailo works like a charm! Thanks a bunch :heart: :rainbow: :rocket:

[2016-05-16 14:00] dahjelle commented on #180
Thanks—I have some code working that updates existing items in the store.

Still have a follow up question, though: if the result of my query is a list of items, and I have a new item (rather than an update to an existing item), how should that be handled? Do I have to refetch the query, or is there a way to let `apollo` know where the data ought to be added in?

I see the `ROOT_QUERY` section of

[2016-05-16 15:34] deoqc commented on #26
Any updates in pagination? I'm using a custom solution, without a very good result.

Really hoping to have an Apollo solution to this.

---

`Pagination` (see bellow) is as high-order element that initialize/fetch data on mount, delete on unmount, and expose 2 props to its children:
- `data` with the query result
- `addFetch` to call when needing to fetch more data (I use it in react native ListVi

[2016-05-16 19:08] stubailo commented on #180
Yeah that's definitely one thing we need to figure out - it's not enough to just insert the new object, you also need to update any lists or references to include it:

[code]

This may return:

[code]

Now when we insert a new todo item we need to make sure it's inserted into that `todos` array.

Here's one option:

[code]

This way, we update the store without actually dealing with the store form

[2016-05-16 19:46] dahjelle commented on #180
Where does `store` come from in this case? I was expecting it to be `state.apollo` from within a reducer, but that doesn't seem to be what you are referring to…

[2016-05-16 20:15] stubailo commented on #180
Oh yeah that is what it should be. The "store" parameter in those functions is pretty misnamed... All of the code I posted would go in the reducer.

[2016-05-16 21:26] stubailo commented on #26
We're going to start working on pagination full-time soon, I'll take a deeper look at this then!

[2016-05-16 22:10] dahjelle commented on #180
Still working through your example, but I think it actually needs `state.apollo.data`, correct?

I'll give this a shot…and let you know how it goes. Thanks again!

[2016-05-16 23:29] stubailo commented on #180
Yeah, sorry - maybe I should put it into a gist or something so that I can update it more easily...

[2016-05-17 02:07] #204 closed

[2016-05-17 02:10] #218 closed

[2016-05-17 05:29] abhiaiyer91 opened #223 "Decide on a more elegant solution to make `gql` work with npm link"
To fix the current `npm-link` issue, where the module `apollo-client/gql` cannot be found, we will place `gql.js` in the root of the repo and redirect it to `lib/src/`gql.js`.

After a deep discussion about separate modules or not, we decided to go ahead with the current strategy while we think of something better to do.

This is that issue.

[2016-05-17 13:53] dahjelle commented on #223
I also ran into the same issue when importing from `writeToStore` and `readFromStore` in relation to #180. Hopefully not nearly as important long-term as `gql`, but I thought it worth mentioning anyway.

[2016-05-17 20:05] abhiaiyer91 commented on #210
Done!

[2016-05-17 20:05] #210 closed

[2016-05-17 21:48] stubailo commented on #210
Thanks @abhiaiyer91! Great work.

[2016-05-18 01:45] stubailo commented on #124
Currently, [broadcastQueries](https://github.com/apollostack/apollo-client/blob/2ba9b95d1c9a83373ee6dcc0d17206bde6ab061c/src/QueryManager.ts#L428) is called every time there is a change in the Redux store.

This then iterates over all of the query listeners, and calls those ([defined here](https://github.com/apollostack/apollo-client/blob/2ba9b95d1c9a83373ee6dcc0d17206bde6ab061c/src/QueryManager.t

[2016-05-18 10:14] jbaxleyiii commented on #124
I added in checks like this on react-apollo. Id be happy to do something similar here!

[2016-05-18 11:18] siegesmund opened #225 "Create option to force queries to use local store"
There are instances where it's advantageous to prevent a query from trying to fetch data from the server. For example, if two components depend on the same data, and are both connected to the same query, both queries will fetch data from the server if neither query has completed before the other is executed. In instances like these, finer grained control would be useful.

In reference to: https://

[2016-05-18 14:45] abhiaiyer91 commented on #225
@stubailo If we have already fetched data via a query, should this `data` be able to be connected in non-apollo containers via `mapStateToProps`?

[2016-05-18 16:06] stubailo commented on #225
I think this can be a pretty small feature:

(1) A new option to `query` and `watchQuery`, maybe called something like `noFetch`, which tells Apollo to not do any fetches at all for this query, and simply return what it can find in the store at the time.

This will enable people using Apollo `connect` to use data from the store in `mapQueriesToProps` without actually fetching anything.

@abhiaiyer

[2016-05-18 16:12] stubailo commented on #124
If we add them here, can we remove them in `react-apollo`? I'd love to centralize this kind of performance optimization rather than having every integration redo it from scratch.

[2016-05-18 16:59] jbaxleyiii commented on #124
@stubailo we should be able to!

[2016-05-18 23:27] stubailo commented on #225
Just found a reason - other redux wrappers like Redux Form.

[2016-05-19 02:37] sammkj commented on #216
Hi guys, I bumped into the same problem today. I tried @abhiaiyer91 's suggestion but it didn't work.

Here's what I got for my [resolver](https://github.com/sammkj/meteor-1.3-todo/blob/graphql/imports/server/data/resolvers.js#L10-L19), [mutation](https://github.com/sammkj/meteor-1.3-todo/blob/graphql/imports/client/modules/core/actions/todos.js#L6-L26) and [schema](https://github.com/sammkj/meteo

[2016-05-19 06:43] abhiaiyer91 commented on #216
@sammkj your schema expects a String, yet your resolver returns a [Object]. Thats your issue

[2016-05-19 07:23] abhiaiyer91 commented on #124
[code]
@jbaxleyiii

It seems like this data in `react-apollo` is necessary to control other functions in `connect` via setting and unsetting its value (bool). I think the apollo store can just handle this above the React integration. That way no one will have to a write a lock in their own integrations?

[2016-05-19 12:55] siegesmund commented on #225
Yea, I'm glad you did ;). I've been looking for a better answer than 'because it feels right to me.'

To me, it seems natural that we should be able to blend apollo seamlessly into Redux. One of the major design points of Redux is the single state container. With Apollo/Redux we now have a nested state container within a container, that can no longer be easily directly accessed. The Apollo object

[2016-05-19 13:54] sammkj commented on #216
@abhiaiyer91 , thank you for your reply! So I changed my resolver to this:

[code]

But the problem still persists.

[2016-05-19 17:47] stubailo opened #227 "Add helper methods to read Apollo data from store directly"
This probably just means nicely packaging the following:
- readQueryFromApolloState
- readFragmentFromApolloState

One question is, where do we get the config from? Since the configuration is currently passed into `new ApolloClient()`, we could do it like:

[code]

`options` would be stuff like whether to return partial results, I guess.

Fun fact - with just a little bit of massaging these method

[2016-05-19 17:47] stubailo commented on #225
Filed a new issue here: https://github.com/apollostack/apollo-client/issues/227

[2016-05-19 20:46] stubailo commented on #27
Assigned @Poincare, it's his first day as an intern on the Apollo team!

[2016-05-19 21:57] abhiaiyer91 commented on #27
welcome @Poincare Lets make some moves

[2016-05-20 02:24] abhiaiyer91 commented on #223
@stubailo when do you think we can get the hacky version in. Again if you just wanna write down what you want down, im sure we can do it

[2016-05-20 14:59] deoqc commented on #174
When I passed the wrong type to a mutation it failed silently. Easy and useful case for good error message.

[code]

[2016-05-20 21:22] stubailo opened #229 "Add lint rule to disallow unused arguments"
Just like we disallow unused variables.

[2016-05-20 23:43] stubailo opened #230 "Make query augmentation pluggable"
We've started implementing `__typename`, but one should be able to plug in any fields they need.

Matches this diagram: http://docs.apollostack.com/apollo-client/how-it-works.html#minimize

[2016-05-21 01:34] bruce opened #231 "QueryManager error: listener is not a function"
I've talked/worked through part of this -- after [posting a gist](090fba1aa6ae3cd19561e816a2d1b978) -- with @stubailo

Encountering the following error during query execution:

[code]

After inserting some `console.log` entries `QueryManager.js`:

[code]

I notice that `listeners` and `queries` both have keys for query IDs `0` and `6` -- but, where the `queryId` is logged, an additional query ID,

[2016-05-21 03:08] bruce commented on #231
Confirmed that guarding the listener invocation with `if (listener) { ... }` fixes my application issue, so this appears to be (from a layman's view) some housecleaning debris that just needs to be cleaned up.

[2016-05-21 16:17] sammkj commented on #216
It appears that `gadicc:ecmascript-hot` is causing the problem. Everything is working fine after witching back to `ecmascript`.

[2016-05-21 22:37] WilliamHolmes commented on #229
Sometimes it's good to leave unused arguments in the function signature to help with API docs.
You could add an exception to the lint rule for unused variables ending with __
ie. `someFunction(var1, var2__)`

[2016-05-21 23:22] stubailo commented on #229
Can you give an example of what you're talking about?

[2016-05-22 23:23] bruce commented on #231
I've verified interleaving of `stopQuery()` and `broadcastQueries()` that's seemingly leading to a race condition. Logging at the beginning and ending of each function (and which query IDs are present on `this.queryListeners`), I'm seeing:

[code]

Interestingly, it seems the use of `forOwn` is the problem. This code works perfectly fine:

[code]

It appears the `forOwn` use of a callback function

[2016-05-23 17:25] Poincare opened #234 "typings 1.x doesn't work with the current config"
The typings tools introduced some breaking changes and the current build config doesn't work with the new `typings/` directory structure.

[2016-05-23 17:28] stubailo commented on #231
Thank you for identifying the issue and adding the PR!

[2016-05-23 18:54] stubailo commented on #231
Published the fix in `0.3.10`!

[2016-05-23 18:54] #231 closed

[2016-05-23 22:09] Poincare commented on #230
Fixed?

[2016-05-23 22:27] stubailo commented on #230
I need to ship a release with this, then we need to add to the docs

[2016-05-23 22:31] stubailo commented on #230
OK shipped in 0.3.11.

[2016-05-23 22:31] #230 closed

[2016-05-24 05:48] helfer opened #237 "Add support for @skip and @include directives"
Currently it throws an exception in writeSelectionSetToStore:
`store.js:12 Error: Can't find field <fieldName> on result object ROOT_QUERY`

[2016-05-24 21:49] stubailo opened #238 "Refactor query transformer to operate on GraphQL Document type"
Right now, it works on query definitions, which means we have to extract those from the document before running the transformer.

[2016-05-24 21:59] ciwolsey opened #239 "Polling queries stop if you call refetch() on them"
I noticed that if I set a pollInterval on a query, but also try to refresh it manually by calling refetch(), the polling is stopped.

[2016-05-24 22:13] stubailo commented on #239
Thanks for reporting an issue! If you want to help us fix the bug, the next step would be to submit a PR with a failing test for the issue. It seems like it should go into the tests for `QueryManager`.

[2016-05-24 23:30] Poincare commented on #144
Now that we can transform queries to add typenames (as of 0.3.12), we can solve this problem. To add the query transformation:
`
import { addTypenameToSelectionSet } from 'apollo-client/queries/queryTransform';
const client = new ApolloClient({
  ...
  queryTransformer: addTypenameToSelectionSet,
  ...
});
`
This adds the `__typename` field to every SelectionSet within each query and if we add an

[2016-05-24 23:32] stubailo commented on #144
For more context, here's the full PR for adding that change to GitHunt: https://github.com/apollostack/GitHunt/pull/4

[2016-05-24 23:36] #234 closed

[2016-05-24 23:40] #27 closed

[2016-05-25 04:42] abhiaiyer91 commented on #124
Solved in [#226](https://github.com/apollostack/apollo-client/pull/226)

[2016-05-25 04:42] #124 closed

[2016-05-25 04:43] abhiaiyer91 commented on #223
PR [#243](https://github.com/apollostack/apollo-client/pull/243) will place gql in root. Circle back later for elegant fix

[2016-05-25 04:46] stubailo opened #244 "Idea: Factor out a graphQLSelector to be used independently"
@gaearon has been talking a ton about a new-ish concept for Redux called "selectors" - basically the idea that your Redux store shape can be an implementation detail of the store logic, and then you use custom functions as the actual public API to get data out.

`readQueryFromStore` is basically exactly this for Apollo - it's a selector that takes a GraphQL query and generates that result from the

[2016-05-25 04:50] abhiaiyer91 commented on #244
I'm all about this. I'm in.

[2016-05-25 04:53] stubailo commented on #244
OK I have a few important questions:

1. How do we get a reference to the `client` from here? Importing seems wrong because we have `ApolloProvider` specifically so that we don't need to import. But the client instance could have important config options or plugins we would want to use in the selector.
2. What options might this need to take? For example, how would the user find out if not all of

[2016-05-25 08:46] agasvina commented on #29
@stubailo will apollo client support Relay-Mutation?

[2016-05-25 15:38] stubailo commented on #29
@agasvina can you open a new issue with more details? What do you mean by this - can you give an example of what you are trying to do?

[2016-05-26 01:22] stubailo opened #245 "Updating the store with a different query could cause a query to fail due to missing fields"

[2016-05-26 09:59] hamzapurra commented on #161
I am currently working on a production app and I need a way to show validation errors. What's the best route that I can take as of now?

[2016-05-26 19:30] stubailo opened #247 "Remove token management middleware?"
I'm not sure that having a token store built into Apollo Client is useful. I'm referring to this class: https://github.com/apollostack/apollo-client/blob/e8f22bd4b085637360eccb4745951987b11f0d2f/src/middleware.ts#L12

Just a sanity check here:

1. In Meteor, you would get the token from Meteor directly
2. When using cookies, you just store it in the browser
3. Even when using custom tokens, you wo

[2016-05-26 19:41] johnthepink commented on #247
@stubailo you're right. It's not really that useful. It made sense with the initial way we intended to do our implementation. But I'm great with removing it now.

[2016-05-26 21:05] stubailo commented on #247
Sounds good - should be an easy issue to pick up for anyone interested!

[2016-05-26 22:22] abhiaiyer91 commented on #244
I'll get started on this ASAP.

[2016-05-27 05:24] timbotnik opened #248 "Having multiple polling queries on the same QueryManager causes setInterval leak"
I discovered this one via a React component (with Apollo connect container) that had multiple polling queries.  Each time I unmounted & mounted the component, I would get a polling leak, as evidenced by increasingly frequent HTTP requests to my `/graphql` endpoint.

I put some console logging in this zone https://github.com/apollostack/apollo-client/blob/master/src/QueryManager.ts#L426-L455, like

[2016-05-27 19:28] deoqc opened #249 "Pluralize a query"
I have a entry point `node($id: ID!)`. But I wanted to query multiple single nodes with a array of id's.

Is there a way to do it without having to define another entry point `nodes`, I believe similar to `@relay(plural: true)` Relay directive (but not sure, never used).

[2016-05-27 19:33] stubailo commented on #249
Hmm, we don't have anything like that at the moment - are you sure that's what the Relay directive does?

It seems it would be much better to just define another entry point, rather than faking it on the client.

[2016-05-27 19:51] deoqc commented on #249
Just found [this](http://facebook.github.io/relay/graphql/objectidentification.htm#sec-Fields) that made me thought it had to be implemented on server anyways, but I think it's similar to what I said (see [here](https://github.com/facebook/relay/issues/107#issuecomment-132290280)).

I'm going to work around this and don't have any strong opinion, so its ok to close the issue for me.

[2016-05-27 20:43] owencm opened #250 "Add payload size info to the repo"
When evaluating this library it's hard to know what the payload cost is.

Can you please include the built size of this project both gzipped and un-gzipped in the README to help developers making decisions?

Thanks!

[2016-05-27 20:50] stubailo commented on #250
We have this in the CI output so it should be easy to add! Out of curiosity, what kind of size are you looking for?

[2016-05-27 20:53] stubailo commented on #249
For the record, Apollo client doesn't make any such assumptions about root fields!

[2016-05-27 20:53] #249 closed

[2016-05-28 14:33] amannn commented on #144
Thanks for the info! I'll have a look at it soon to see if I can fix the issue in my test app.

[2016-05-28 15:39] ciwolsey opened #253 "Request: Simplify apollo-client middleware"
Right now we have to do something like this:

[code]

It would be much nicer to be able to provide regular functions to networkInterface.use rather than having to use applyMIddleware. Thoughts?

[2016-05-28 15:41] czbaker commented on #253
I definitely agree.   Upon us figuring out how this works today, I feel like you should just be able to provide functions instead of using `applyMiddleware`, unless there's a specific reason for this design choice.

[2016-05-28 15:57] zimme commented on #253
In the Express world it's like this:
[code]
it works the same with router level and error middleware, except the arguments might be different.

So it makes sense to have it access straight functions as that what people are used to, coming from other worlds.

[2016-05-28 16:14] czbaker commented on #253
@zimme:  Exactly.  When I was trying to figure out middleware, since I needed it for authorization in my current project, I looked to the Express middleware docs for help, as it was undocumented here.

I was super confused when I realized that it wasn't the same, and that there was an `applyMiddleware` requirement that I was unaware of.

[2016-05-29 04:15] abhiaiyer91 commented on #247
[PR #254](https://github.com/apollostack/apollo-client/pull/254_

[2016-05-29 20:46] stubailo opened #255 "Factor out query normalization and denormalization functionality"
This will let people build their own smart GraphQL clients, or use this stuff without Redux.

[2016-05-29 20:47] stubailo commented on #255
See conversation with @kennetpostigo here: https://apollostack.slack.com/archives/apollo-client-core/p1464297850000536

Also, this would probably be helpful for #244

Ideally these would be importable from this package without using the rest of the code, or in a separate package entirely.

[2016-05-29 21:01] antitoxic opened #256 "Making Redux optional by offering custom data-storage locations"
In my point of view apollo client is getting data and putting it in a plain object. Currently this object is redux' store. But I don't see a reason why it can't be just a plain object.

I imagine:

[code]

I understand that redux is chosen for its nice devtools but ultimately apollo-client can work without it which will make it more flexible.

[2016-05-29 21:13] helfer commented on #255
I'm thinking a separate package would be better, so versions don't have to be updated in lock-step.

[2016-05-29 22:01] abhiaiyer91 commented on #256
So what about managing query state, mutations and results ? Have you read the code for the QueryManager? Why add more code to modify how those pieces of data work just to put your data in a diff object?

[2016-05-29 22:05] abhiaiyer91 commented on #244
I have a question about this one. Why does this have to be a method off the client itself, this should be a stateless function that handles the computation no? Ideally a selector that given inputs outputs normalized data?

[2016-05-29 22:06] abhiaiyer91 commented on #244
Also what do we gain here? I guess it's hard to see how people would use this when they can just mapqueries?

[2016-05-29 22:07] abhiaiyer91 commented on #244
Or actually we could replace mapqueries entirely. Collocate your graphql state with client state

[2016-05-29 23:56] stubailo commented on #256
@antitoxic I was thinking we could just do #255, that would get us to 95% of the goal.

Rewriting the whole library to allow plugging in something instead of Redux is probably not going to happen, but I was thinking refactoring to allow someone to build that very easily is a good goal!

[2016-05-30 01:37] timbotnik commented on #248
@jbaxleyiii - I think the polling state needs to move to the individual query instead of on the query manager?  Would it be better stored on the query handle in some way, perhaps as described here #194?