[2016-10-12 23:31] stubailo commented on #732
This is a result of some query manipulation we were doing before sending to the server, but we're removing that in 0.5 which should come out shortly. Follow along here: https://github.com/apollostack/apollo-client/issues/726

[2016-10-12 23:33] stubailo commented on #759
Thanks for reporting. The solution is to only include the `data` field on the Apollo store when doing hydration. We should make that happen automatically when using `react-apollo`, and document it better.

Can you try the fix of deleting every field except `data` on the server before hydrating?

[2016-10-12 23:35] stubailo commented on #745
I think this is a duplicate of #713 but I think there are some issues with that approach as well.

[2016-10-12 23:35] #745 closed

[2016-10-13 01:28] andela-iamadi commented on #51
Just hit a glitch with this issue too. Apollo reject all GraphQL response because of one error. Where are we with this?

Anyone jumping on it yet?

[2016-10-13 02:23] j-jackson commented on #732
@stubailo thanks for update. In the meantime is there a workaround or should we leave Apollo until 0.5 is released?

[2016-10-13 02:41] stubailo commented on #732
Let me see if I can come up with something.

[2016-10-13 02:42] stubailo commented on #732
Does anyone have an app I can clone to reproduce this error?

[2016-10-13 02:43] stubailo commented on #732
Also, am I correct that in both cases Redux router is being used?

[2016-10-13 02:45] j-jackson commented on #732
No I'm not using Redux router.

Let me create a repo for you.

[2016-10-13 04:49] fikriauliya commented on #759
Thank you for the suggestion. That's exactly what I did yesterday, patchy solution though but it solves the problem.
The drawback of that approach: refetch happen when navigating back to the first page (which had been fetched by server pre-rendering).

I don't really understand the whole code, but I guess the solution is to change the following in `QueryManager.ts`? => `private idCounter = <id fro

[2016-10-13 05:56] #759 closed

[2016-10-13 14:58] seeden commented on #765
@stubailo I have new information about this issue. I can see that apollo-client has a correct data from graphql response. React component is correctly subscribed. React component is in the state **loading === true** and has a correct new data(this is caused by another component with same query). But it will never go to state loading === false; I am not sure why but it is somehow connected with htt

[2016-10-13 15:52] seeden commented on #765
The problematic line in react-apollo is https://github.com/apollostack/react-apollo/blob/master/src/graphql.tsx#L382

As you can see loading will be changed to value "true". But this function is called from componentWillReceiveProps and no componentDidMount. Anyway after that loading value will be equals true forever.

[2016-10-13 16:34] stubailo opened #771 "Implement fragment matching on union and interface type conditions"
Right now, we just match as much as we can, but if union and interface types are being used heavily inside type conditions we need extra information to resolve those with confidence. This could be as simple as a tool that outputs a JSON map of concrete types to the interfaces and unions they are in.

[2016-10-13 21:12] seeden commented on #765
I have tried current version of apollo-client from trunk and the problem is still there.

[2016-10-13 21:19] seeden commented on #765
I am trying to simulate this issue with test case but without any luck
Here is my current test case

[code]

[2016-10-14 00:47] #713 closed

[2016-10-14 01:56] viridia opened #773 "Getting exception when I reset the store"
I'm not quite sure how to debug this. I'm getting an exception in this code in QueryManager:

[code]

Specifically, the 'listeners' variable is `undefined`. This occurs immediately after calling resetStore() - I'm doing a logout.

Any thoughts as to what might be causing this or how I might go about tracking it down?

[2016-10-14 06:25] zdne commented on #764
Thanks @stubailo I'll move there.

[2016-10-14 10:48] kamilkisiela commented on #725
@helfer I talked with @stubailo ~~somewhere~~ [here](https://github.com/apollostack/angular2-apollo/pull/105#issuecomment-248553755) about that. ApolloClient probably includes `/// <reference types="chai" />` inside one of the source files. It means that if someone uses TypeScript he has to install `@types/chai` package. Which is totally wrong because `chai` is being used inside tests.

Besides th

[2016-10-14 14:09] seeden commented on #773
I have same issue with latest apollo-client@0.4.21. I can simulate it always with refetchQueries.

[2016-10-14 15:21] seeden commented on #773
My this.queryListeners looks like this: Object {0: Array[1], 8: Array[1]}
but in forEach I will get 3 cycles:
QueryManager.js:629 listeners [function] 0
QueryManager.js:629 listeners [function] 8
QueryManager.js:629 listeners undefined 1

[2016-10-14 15:43] seeden commented on #773
It looks like a bug in the forOwn because Object.keys(this.queryListeners) will return ["0", "8"]
or function listener on the line https://github.com/apollostack/apollo-client/blob/master/src/core/QueryManager.ts#L931 will change this.queryListeners. The second option is more likely

[2016-10-14 16:04] seeden commented on #765
I looks fine in the 0.4.21

[2016-10-14 17:02] conrad-vanl commented on #732
@j-jackson are you by chance using [`redux-storage`](https://www.npmjs.com/package/redux-storage)? We are, and I noticed that this error goes away if I remove `apollo` from `redux-storage`.

Also, we use [`redux-remote-devtools`](https://github.com/zalmoxisus/remote-redux-devtools) which has stopped working recently. Coincidently, removing apollo from redux-storage made the devtools start working

[2016-10-14 19:02] helfer commented on #725
@kamilkisiela okay, thanks! I can't find `<reference types="chai" /> anywhere in the source though...

As for installing the typings, we've opted for putting it in optionalDependencies for now, so at least it won't break the install. In the longer term, we should just document it in the readme (but that's one more thing to maintain...).

[2016-10-14 19:08] kamilkisiela commented on #725
@helfer I thought about it more and it's a bit weird. It requires packages like `typed-graphql` directly and it's not an error about missing declaration for some function from let's say `graphql` package.
Before it was something like `You need something to fulfill missing declaration for IResponse`. Now it says that you need to install specific package, the same as used in `apollo-client`.

It see

[2016-10-14 19:14] helfer commented on #773
@viridia @seeden thanks for reporting this and digging a bit deeper. I will set aside some time to figure out what's really going on and hopefully fixing the bug.

I'm pretty sure there's nothing wrong with forOwn, it might just be that the thing we're iterating over changes while we're iterating.

[2016-10-14 20:28] j-jackson commented on #732
@conrad-vanl thank you for the suggestion but unfortunately I'm not using ``redux-remote-devtools``. Over the pst 2 weeks  I have tried setting up the above query in a 3 different boilerplates with different configurations but I always end up with this error.

At this stage I'm only using redux to store the current user which I get on the server from the hostname:

[code]

Then my client:

[code]

[2016-10-14 22:23] conrad-vanl commented on #732
@j-jackson possibly just a typo, but `redux-storage` (not devtools) is what's causing the error for us

[2016-10-14 23:03] DxCx opened #774 "Separating networkInterface logic and implementation in favor of supporting more network interface types"
(Continuation of #749)

So Generally, my finally goal, is to be able support more then just HTTP for apollo-client,
starting with websocket in the near term and maybe HTTP2 in the future.

So, IMO we need separate networkInterface generic/common logic (such as middlewares/batching) from the implementation logic (Http fetch in that case).
to do that, the following steps should be taken:
1. Make mid

[2016-10-14 23:12] DxCx commented on #730
see #774 :)

[2016-10-14 23:22] morgante commented on #774
I like the idea of part 1.

[2016-10-14 23:30] helfer commented on #617
I think we've made some good progress on this front. Let's look at it again and see what we still want to do before closing this issue!

[2016-10-14 23:32] helfer commented on #744
This is now done. Instead of re-parsing, we're just keeping the document in memory. (adding the graphql parser increased the bundle size a lot).

[2016-10-14 23:32] #744 closed

[2016-10-15 01:33] j-jackson commented on #732
@conrad-vanl yes sorry, it was a typo I meant ``redux-storage``

[2016-10-15 04:54] dylang opened #776 "multidimensional arrays result in Can't find field value on result object"
This works fine in GraphiQL, but when I use it in Apollo Client I get

###  Hypothetical Schema
[code]

###  Hypothetical JQL
[code]
### Hypothetical result
[code]

This works as expected when testing with GraphiQL.

In Apollo client this throws an error.

The issue is made apparent in [`const value: any = result[resultFieldKey];`](https://github.com/apollostack/apollo-client/blob/master/src/data/

[2016-10-15 04:57] stubailo commented on #776
I think this is an accidental oversight that will be fixed in Apollo Client 0.5, since we've now refactored to use `graphql-anywhere`: https://github.com/apollostack/graphql-anywhere

We're hoping to publish a 0.5 preview in the next day or two, I'll make sure to post here.

[2016-10-15 08:05] #739 closed

[2016-10-15 10:11] kamilkisiela opened #777 "Add generic type to ApolloQueryResult"
Idea:

[code]

[code]

---

Besides that, imagine GraphQL Documents compiled into TypeScript interfaces combined with this `ApolloQueryResult` that has generic type. We can easily find bugs while writing an app.

[2016-10-15 13:33] jonathanheilmann commented on #731
@metzc, did you have a look at a short-term workaround? I'm struggling at this point and looking for a (temporarily) solution.

[2016-10-15 15:18] DxCx commented on #731
hi @metzc as far as i know, helfer is done with networkInterface fix, but the release is not out yet.
can you create and share a github with failing example so i can install manually built apollo-client and test and verify it's fine now or give a proper fix?

[2016-10-15 15:51] metzc commented on #731
@jonathanheilmann @DxCx @helper
meanwhile i also fixed the source to make it work.
i just checked out the current apollo-client code which indeed fixes networkInterface as you said.
There is still one in data/store.ts which i now also fixed. I created a pull request for it (along with two other fixes, see PR https://github.com/apollostack/apollo-client/pull/778).

[2016-10-15 16:59] stubailo commented on #777
This looks great, I'd accept a PR for it.

[2016-10-15 16:59] stubailo commented on #731
Thanks for the PR!

[2016-10-15 19:08] #616 closed

[2016-10-15 19:14] #758 closed

[2016-10-15 22:48] stubailo commented on #664
Multidimensional arrays are fixed in #785, should come out soon.

[2016-10-15 22:48] #664 closed

[2016-10-15 22:49] #776 closed

[2016-10-15 23:02] stubailo commented on #736
Passing test for this here: https://github.com/apollostack/apollo-client/pull/786

Hoping to release a 0.5 preview in the next day or two.

[2016-10-15 23:02] #736 closed

[2016-10-15 23:13] stubailo commented on #617
We've done a fair bit, going to remove from milestone

[2016-10-15 23:15] #244 closed

[2016-10-15 23:42] viridia commented on #750
How about createTransport?

[2016-10-15 23:50] viridia opened #789 "Query returning incorrect data"
I've got a query that looks like this:

[code]

When I execute this query in GraphiQL, I get results that look like this:

[code]
However, when I execute the same query in Apollo, the props.data looks like this instead:
[code]

Notice how the contents of the 'custom' field aren't the same - instead of seeing two separate objects I'm seeing the same object twice.

[2016-10-15 23:50] #183 closed

[2016-10-15 23:53] stubailo commented on #255
So far the best we have here is: https://github.com/apollostack/graphql-anywhere

We still need to work on getting Apollo to work with VueX, but I don't think that will be related, since it will probably be more of a plug-in into Apollo.

[2016-10-15 23:53] #255 closed

[2016-10-15 23:54] stubailo commented on #789
Are you supplying a `dataIdFromObject` option to `ApolloClient`? What does it look like?

[2016-10-15 23:55] viridia commented on #789
I copied the line from the example in the docs:

  dataIdFromObject: o => `${o.__typename}:${o.id},`,

Note that 'custom' fields are not database records and don't have ids. It's just an array of key/value pairs.

[2016-10-15 23:57] viridia commented on #789
OK changing to this makes it work:

  dataIdFromObject: o => o.id && `${o.__typename}:${o.id},`,

Might want to update the example in the doc.

[2016-10-16 00:05] stubailo commented on #763
Hmm, I tried to write a test to reproduce the issue but didn't succeed. Perhaps the issue is already fixed: https://github.com/apollostack/apollo-client/pull/790

[2016-10-16 00:06] stubailo commented on #789
ohhhhhh - that explains why we have been seeing a lot of these types of bugs. Here's what we have in the example app: https://github.com/apollostack/GitHunt-React/blob/380bedaef97f2a0932c1ab33bd964812d4a8a65e/ui/client.js#L43-L48

[code]

[2016-10-16 00:06] #789 closed

[2016-10-16 00:08] stubailo commented on #789
Good call, just updated the documentation.

[2016-10-16 00:11] stubailo commented on #763
Let me know if you can make an app to reproduce it.

[2016-10-16 09:31] kamilkisiela commented on #758
They're going to support it angular/angular#11402

[2016-10-16 12:28] GreenAsJade opened #793 "Feature request: assistance in not rendering wrapped component till data.loading is true"
When I make a component like this:

`export default graphql(keyValueQuery)(CreateProjectFormLayout)`

I have to put this into the `render()` of `CreateProjectFormLayout`, in order to avoid issues with the requested data elements not being present yet:

[code]

It would be good if the graphql() provided this assistance itself as part of the job it does in wrapping.

(Note: this ticket emerged out o

[2016-10-16 12:30] NeoPhi commented on #793
How are you handling any errors that the query might generate?

[2016-10-16 12:32] GreenAsJade commented on #793
Well, that's an embarrasing question :)

The answer, of course, right now is that I am ignoring them.    I'm not sure what else I could do anyhow, other than say "oops something went wrong"?

[2016-10-16 13:31] jbaxleyiii commented on #793
@GreenAsJade I'm going to move this to react-apollo 👍

[2016-10-16 13:31] #793 closed

[2016-10-17 09:45] jbreckel commented on #763
That is strange, when I use the most latest version of `apollo-client` and `react-apollo` the issue remains the same...
Can this be traced to a commit after the latest release?

[2016-10-17 10:31] DxCx commented on #750
I would use createTransport and transportInterface

[2016-10-17 12:23] jbreckel commented on #763
Sorry guys, the problem sat in front of the PC.
I had done some huge mistakes with the query building.

[2016-10-17 12:23] #763 closed

[2016-10-17 18:36] stubailo commented on #534
I think this is fixed now.

[2016-10-17 20:55] helfer commented on #598
Factored out query merging, track this issue on https://github.com/apollostack/query-merging/issues/1

[2016-10-17 20:55] #598 closed

[2016-10-18 07:41] pfulop commented on #732
Had similar problem with different argument (obviously) but after trying 0.5 preview it seems to be fixed (at least in my scenarios).

[2016-10-18 14:34] seeden commented on #773
@viridia I am using temporar fix for this issue because I was not able to continue in my work without it.

Add next code
[code]

into the https://github.com/apollostack/apollo-client/blob/master/src/core/QueryManager.ts#L986

[2016-10-18 17:26] Axure opened #800 "Property undefined error in type definitions."
## Steps to Reproduce

Just import `apollo-client`.
### Buggy Behavior

[code]
### Expected Behavior

No error.
### Version
- apollo-client@0.4.21
- react-apollo@0.5.11

[2016-10-18 17:36] Axure commented on #800
Looking at the definition:
[code]
The types aren't really compatible. We have a `?` in the parameter, but no correspondence in the type. Adding a `& undefined` to the type seems to resolve the error.

[2016-10-18 17:59] stubailo opened #802 "Fire error or handle overly deeply nested fragments"

[2016-10-18 18:06] stubailo opened #803 "Implement error handling in subscribeToMore"

[2016-10-18 18:16] NeoPhi opened #804 "Bad "Perhaps you want to use the 'returnPartialData' option?" error."
I've been seeing `Perhaps you want to use the 'returnPartialData' option?` errors since upgrading to 0.4.21. This seems to happen when props change while the previous a query is in flight.

The issue seems to be that the previous query is still in flight but the variables change so the QueryManager thinks data should already been in the store and it bails trying to find that data.
https://github.c

[2016-10-18 18:39] stubailo commented on #804
Can you try with version 0.5.0-1?

[2016-10-18 18:52] NeoPhi commented on #804
Trying to run with `0.5.0-1` gives me the following error:
`"Network error: this.queryObservable._setOptionsNoResult is not a function"`
I suspect that `react-apollo` isn't compatible with this release.

[2016-10-18 18:57] eagsalazar opened #806 "createNetworkInterface does not work as documented in 0.5.0"
In generated js on npm, transport/networkinterface.js has this code:

[code]

Documentation says we can pass interface opts like this:

[code]

Which does not work as uri is not set.  This results in this error:
```ExceptionsManager.js:62 A remote enpdoint is required for a network layer```

  Doing this instead does work:
[code]

[2016-10-18 19:03] helfer commented on #806
@eagsalazar Are you intentionally running the prerelease or did you just run `npm install` and got 0.5.0-1? If you did it intentionally, thanks a lot for helping us iron out the kinks! Would you mind making a PR to update the docs? 🙂

[2016-10-18 19:06] stubailo commented on #804
Oh, that's true. We're almost done updating it.

[2016-10-18 19:10] eagsalazar commented on #806
Huh, I just did npm install, I think...  Anyway, sure.

On Tue, Oct 18, 2016 at 12:03 PM, Jonas Helfer <notifications@github.com>
wrote:

[2016-10-18 19:11] helfer commented on #806
actually, nvm, it seems someone already made a PR: https://github.com/apollostack/react-docs/pull/78

[2016-10-18 19:15] helfer commented on #806
@eagsalazar oh, ok. It seems I didn't properly do the prerelease on npm (even though I tried very hard). For the time being, can you install 0.4.21, which should be the latest recommended version.

[2016-10-18 21:26] stubailo opened #807 "Add test for server returning a 401 with invalid JSON"
Right now the client seems to fail in this case.

[2016-10-18 21:36] BobWhitelock opened #808 ""Uncaught TypeError: Cannot set property 'middleware' of undefined" while following instructions for React"
Hi - while following the instructions [here](http://dev.apollodata.com/react/initialization.html) I get `Uncaught TypeError: Cannot set property 'middleware' of undefined` when trying to create an `ApolloClient`. Here's the relevant code:

[code]

I also saw [this](https://github.com/apollostack/apollo-client/issues/806) issue, which suggests I might need to do this instead:
[code]
This gives exac

[2016-10-18 22:04] helfer commented on #51
Error handling is high on our list of priorities, but we decided not to do it for 0.5 yet.

[2016-10-18 23:33] stubailo commented on #802
https://github.com/apollostack/react-apollo/pull/281

[2016-10-19 00:43] helfer commented on #732
@stubailo I just managed to reproduce this in react-apollo. The variable is sent to the server, so it may be a server issue, or something to do with the request format.

[2016-10-19 08:29] SebastianSchenk commented on #593
any updates on that topic?

[2016-10-19 08:34] pfulop commented on #808
It should be new ApolloClient

[2016-10-19 10:08] BobWhitelock commented on #808
Doh! Yep that works, thanks!

[2016-10-19 10:08] #808 closed

[2016-10-19 11:41] DxCx commented on #593
@helfer i think that this is the correct aproach, wanted to ofer it myself then ive seen this (abstracting store)

[2016-10-19 13:58] NeoPhi commented on #804
FYI: This is still an issue using `"apollo-client": "^0.5.0-1"` and `"react-apollo": "^0.5.13"`.

[2016-10-19 14:17] seeden commented on #773
This issue is still here in the 0.5.0-1

[2016-10-19 14:18] seeden commented on #762
I can confirm it is fixed in the 0.5.0

[2016-10-19 14:18] #762 closed

[2016-10-19 14:20] seeden commented on #765
I am closing this issue because it looks fine in the 0.5.0-1 too

[2016-10-19 14:20] #765 closed

[2016-10-19 14:23] seeden commented on #773
It was OK in the version 0.4.20 but from 0.4.21 I can see this issue

[2016-10-19 14:54] glasser commented on #804
I think we might be seeing this in galaxy-server (though I only see it when I turn on "pause on thrown exceptions"; I see a different TypeError when I don't)

[2016-10-19 15:02] drFabio opened #812 "Changelog alert about createNetworkInterface change"
Currently createNetworkInterface is like [this](https://github.com/apollostack/apollo-client/blob/5dd8eeae5c359dc807657e4b03c087914e2aa39f/src/transport/networkInterface.ts#L220)
It expects an object.

On [0.4.2.1](https://github.com/apollostack/apollo-client/blob/v0.4.21/src/networkInterface.ts#L265) for example it accepted a string.

I would consider that a breaking change worth of a changeLog e

[2016-10-19 16:35] stubailo commented on #765
Awesome, thanks!

[2016-10-19 16:35] stubailo commented on #762
Thanks!

[2016-10-19 16:36] stubailo commented on #808
Someone could send a pr to throw an error when the constructor is called without new!

[2016-10-19 17:29] stubailo commented on #804
I think this would be a lot easier to address with a test case - we'll try to get to it soon, but I think it should be possible to reproduce by using `ObservableQuery#setVariables` while a query is in flight (that can be mocked using the `delay` option in `mockNetworkInterface`).

[2016-10-19 18:22] #728 closed

[2016-10-19 18:23] stubailo commented on #620
Should be fixed in `0.5.0-1`.

[2016-10-19 18:23] #620 closed

[2016-10-19 18:24] helfer commented on #812
@drFabio good point, I think that was an omission. Can you make a PR?

[2016-10-19 18:24] stubailo commented on #812
https://github.com/apollostack/apollo-client/pull/798

[2016-10-19 18:34] drFabio commented on #812
Well it appears @stubailo  is on it already @helfer  closing the issue as it's already addressed on #798

[2016-10-19 18:34] #812 closed

[2016-10-19 18:53] helfer commented on #593
@SebastianSchenk We haven't done any work specifically to make it possible, but i did discuss this with Sashko and we concluded that the easiest way to do this would be to assume that the store is a redux store and then build adapters for other stores.
Are there features that ngrx/store has, which redux doesn't?

[2016-10-19 20:33] dylang commented on #776
I can verify that the nested array issue I reported is now working for me using `apollo-client@0.5.0-1`. Thank you for the super quick turnaround!

[2016-10-19 21:00] fikriauliya opened #813 "HTTP GET for fetching?"
If my understanding were correct, Apollo always uses HTTP POST to fetch the data. Unfortunately it becomes more challenging to cache since many Varnish based solutions cache GET request only (https://www.fastly.com/blog/api-caching-part-i & http://stackoverflow.com/questions/31539043/how-to-cache-post-requests-with-varnish)

[code]

Is it possible to change this to HTTP GET? If not, what would be

[2016-10-19 21:13] helfer commented on #813
@fikriauliya you could definitely write your own network interface that uses GET instead of POST, and just pass the query and options in there. However, you will want to be careful with caching on the server side for any queries that send a different response depending on the authenticated user.

[2016-10-19 21:39] helfer commented on #732
Alright, I think I've gotten to the bottom of this. The error is thrown from graphql-anywhere because we provide it with the wrong variables for a query. The way that happens is that due to SSR there's a previous query in the store which happens to have the same id as the new query, so previousVariables is actually defined [here](https://github.com/apollostack/apollo-client/blob/f39b485ca309f53ec0

[2016-10-19 21:40] stubailo commented on #732
Is this better than completely overwriting that query?

[2016-10-19 21:40] helfer commented on #732
I think it's better, because then it'll make noise when it fails, rather than silently failing somewhere down the line. I'm assuming that there's clearly something wrong if we end up with two queries that have the same id.

[2016-10-19 21:42] conrad-vanl commented on #732
curious - could this possibly fix the error we're experiencing with using apollo with redux-storage?

[2016-10-19 21:52] helfer commented on #732
@conrad-vanl yes, definitely. You could try fixing it by just storing the `data` part of the store, like so:

[code]
or whatever the redux-storage equivalent is. All you have to do is make sure the query part of the store is empty.

[2016-10-19 22:57] conrad-vanl commented on #732
Gotcha... Yeah I remember now that was our working theory but we never got around to testing it, and now understand what you were saying above better.

[2016-10-19 23:10] helfer commented on #732
So it turns out that we actually do want to overwrite queries in APOLLO_QUERY_INIT when we do a refetch or setVariables. I'll do a bit of refactoring to clean that up.

[2016-10-20 00:21] helfer commented on #804
@NeoPhi are you saying you got the error with 0.4.21 and above, but not with 0.4.20?

[2016-10-20 00:22] helfer commented on #732
I fixed the store rehydration problem that was the proximate cause for the bug I saw in GitHunt, but I suspect that there are other bugs with the same symptoms. If anyone could make a reproduction (or provide a failing test-case) that would be great!

[2016-10-20 00:24] helfer commented on #723
Ok, we'll have to fix this when we refactor polling after 0.5

[2016-10-20 03:48] viridia opened #816 "Doc error in fragments section of vanilla chapter"
In the code example it shows a single fragment being passed:

`  fragments: bookInfoFragment,
`

But I believe it should be a list:

`  fragments: [bookInfoFragment],
`

[2016-10-20 04:52] stubailo commented on #816
Have you tried the code? It actually works both ways.

[2016-10-20 05:25] viridia commented on #816
Hmmm, OK, I thought it didn't work but it turned out to be a different problem.

[2016-10-20 05:25] #816 closed

[2016-10-20 08:22] DxCx commented on #813
i think that once apollostack/apollo-server#121 is done, we should add or modify existing interface to support GET as well.
until GET will be supported on server there is no reason to support it on client.

[2016-10-20 11:10] DxCx commented on #803
hi @stubailo i'm thinking about taking this one,
but i need elaboration.
the idea is to convert return value into observable (that supports errors) ?
this way it will be aligned with fetchMore but will return Observable instead of promise.

if that's not the case, please elaborate :)

[2016-10-20 14:33] kamilkisiela opened #817 "ApolloQueryResult not exported"
It's not imported in `v0.5.0-1` but it was in `v0.4.X`.

Changelog doesn't say anything about it.

[2016-10-20 15:48] migueloller commented on #706
@stubailo,

Thanks so much for implementing this! Would you mind posting a quick snippet of how the new API could be used to solve the issue mentioned above?

[2016-10-20 16:10] helfer commented on #817
@kamilkisiela I don't think that was an intentional change. Could you make a PR to export it again? Thanks!

[2016-10-20 16:12] helfer commented on #813
@DxCx I think the two are independent, because apollo client can be used with any server, and apollo server can be used with any client.

[2016-10-20 16:15] DxCx commented on #813
Yep, got it. Altough i havnt seen any other GraphQL GET Server, but from your answer i understand that this is probably just me lacking this information..

[2016-10-20 16:16] helfer commented on #803
@DxCx a simple alternative for now could be to accept a callback, which would be called with errors and results. That would be easier, because I don't think we want anyone to actually subscribe to the results of that observable (those go to updateQuery).

[2016-10-20 16:17] helfer commented on #813
Yes, express-graphql supports GET - but it gets a bit messy 😄

[2016-10-20 16:21] DxCx commented on #803
When using fetchMore, do you expect the user to use the result received?

[2016-10-20 16:36] helfer commented on #803
I don't think they really need it, but they might need to know _when_ the result arrived. I think the main reason we let people use the result is because there might be some use-case that we don't yet know of. It's the same for subscriptions, but since it's an unlikely use-case we shouldn't worry too much about the developer ergonomics for now. Does that make sense?

[2016-10-20 16:44] camiloazula commented on #593
any update on this one?

[2016-10-20 16:47] DxCx commented on #803
yes.

then IMO, both fetchMore and subscribeToMore should return type of void.
which means:
1. fetchMore => Promise<void>
2. subscribeToMore => Observable<void>

this way, the user can register callbacks for ready notification, and catch errors as well

[2016-10-20 19:16] NeoPhi commented on #804
@helfer I jumped from "apollo-client": "^0.4.14" and "react-apollo": "^0.5.1" to "apollo-client": "^0.4.21" and "react-apollo": "^0.5.10".

[2016-10-20 20:05] NeoPhi commented on #804
@stubailo This is a failing test that can be added to `ObservableQuery.ts`. I may not have the assertions correct.

[code]

At present on master this generates the error:

[code]

[2016-10-20 20:32] helfer commented on #804
@NeoPhi awesome, thanks! I'll try to fix this today.

[2016-10-20 22:15] NeoPhi opened #818 "updateQuery can cause error when using dataIdFromObject"
I've noticed an issue that if you have two queries with non overlapping fields on a descendant field that is mapped via `dataIdFromObject`, if an updateQuery changes the linked to object, the system does not correctly detect that it now has missing data and needs to refetch the query. This manifests itself as a "Perhaps you want to use the `returnPartialData` option?" error.

This standalone test

[2016-10-20 22:40] stubailo opened #819 "Better error for overwriting object with no id"
Rather than "the application attempted to write an object with no provided id"

[2016-10-20 22:41] stubailo commented on #819
Also, add path to these errors.

[2016-10-20 23:27] helfer commented on #818
@NeoPhi Thanks for the test! I think this is something we were aware of, but never addressed. I don't think there's a perfect solution, but we could make things somewhat better by merging objects when we write them into the store. That might render the object inconsistent, but at least it would prevent the error that you are seeing. In the future we might want to have the ability to detect inconsi

[2016-10-21 00:45] helfer commented on #732
If anyone could test this with 0.5.0-1 and tell me if it still happens, that would be great!

[2016-10-21 00:48] helfer commented on #703
@pmcalmeida can you check if this issue still occurs in 0.5.0-1 of Apollo Client?

[2016-10-21 00:55] helfer commented on #212
Closing for now since this seems to work. If anyone has an issue, please feel free to reopen.

[2016-10-21 00:55] #212 closed

[2016-10-21 04:29] fikriauliya commented on #813
Thx for the answer, I would close this issue, but feel free to reopen if needed.

[2016-10-21 05:43] viridia commented on #773
@seeden Yeah, it's getting hard to work as I am hitting this repeatedly.

[2016-10-21 06:14] seeden commented on #773
@stubailo can you add it into the 0.5 milestone?

[2016-10-21 07:30] booboothefool opened #820 "resetStore seems to fire an extra query"
TestScreen (has `UserInfo` query on it) does this when I press logout:

[code]

User is sent back to the login screen (does not have `UserInfo` query on it):
![screen shot 2016-10-21 at 3 22 33 am](https://cloud.githubusercontent.com/assets/13257645/19590087/08473f9a-973e-11e6-96ae-b06849d0f7fc.png)

^ After this happens, the store is reset: `APOLLO_STORE_RESET`

But `UserInfo` query, which was on

[2016-10-21 08:52] SebastianSchenk commented on #593
@helfer ngrx/store is basically a re-implementation of redux using observables. In addition, it plays nicely with angular2's dependency injection. From what I've read so far, it seems to me that ngrx/store is the best way to use Redux in angular2 applications.

However, isn't it a common use case to switch the store? I mean, if someone is using react for example, he most likely will use redux alre

[2016-10-21 09:03] DxCx commented on #593
IMO we just need to let the user provide the store.

[2016-10-21 15:43] NeoPhi opened #821 "dataIdFromObject can result in missing data"
This is a more general case of #818 in that if the result of a query made later in time changes a linked to object, the original query will fail with "Perhaps you want to use the `returnPartialData` option?". In this test case after the first query has finished we issue a slightly different second query that changes the id of the linked object.

[code]

[2016-10-21 16:31] camiloazula commented on #593
@DxCx https://github.com/apollostack/apollo-client/issues/61 is this one what you meant?

[2016-10-21 16:32] camiloazula commented on #61
Is this one implemented already?

[2016-10-21 17:09] DxCx commented on #593
This is redux only,
What i mean is that we need to define store interface and then pass any existing store (which implements the interface) to it..

[2016-10-21 18:20] gouroujo opened #822 "Error fetching schema from an apollo server"
Hi there,

I would like to thank you for your great work, it's a pleasure to use apollo stack to build my next generation API!

However, I've spotted a bug in the Apollo Client leading to a "Must provide schema" (400) error on the first call. The same request work on Graphiql.
Here is my logs:
- In Apollo Client:
[code]
- In graphiql:
[code]

I can solve my issue by commenting `formatParams` in my

[2016-10-21 19:12] halallahh opened #823 "TypeScript error on my Apollo-React-TypeScript project."
**Error:**
[code]

**Version:**
"react-apollo": "0.5.12",
"apollo-client": "0.5.0-0",

[FIXED]
Install:
    "@types/chai": "^3.4.34",
    "@types/es6-shim": "^0.31.32",

[2016-10-21 19:38] helfer commented on #594
@hammadj Can you check if this bug has been fixed in 0.5.0-1? I think it should be fixed.

[2016-10-21 19:40] andrewnoh commented on #820
@helfer I can at least confirm my component is being unmounted. This happens right after `REACT_NATIVE_ROUTER_FLUX_RESET`, so there's no reason that query should still be active.

Isn't that what `APOLLO_QUERY_STOP` does anyway? Kill the active query?

Do you have any suggestions on how I can make sure that query is definitely dead, or have resetStore happen without rerunning active queries?

[2016-10-21 19:47] helfer commented on #820
@andrewnoh is the QUERY_STOP action fired for the query that gets rerun after? If so, that's definitely not intended and might be a bug. Do you have a minimal reproduction or a failing test case that I could use to figure out what's going on?

[2016-10-21 20:05] chaffeqa commented on #646
I think this must be the reason we are banging our head against the wall...

from my understanding, 0.5.0-1 doesnt seem to have any ability to query batch.

Is there an ETA on this?  You guys are doing a super job and i really support the breaking change paradigm btw... so dont let this be a reason to feel like you're failing, you're doing INCREDIBLE stuff for the community!  just was curious if i

[2016-10-21 21:48] stubailo opened #824 "Remove all references to old shouldBatch option in 0.5 preview"
It's mentioned in a lot of comments and some commented-out tests

[2016-10-21 21:51] stubailo commented on #61
http://dev.apollodata.com/react/redux.html

[2016-10-21 22:16] andrewnoh commented on #820
@helfer

Yes, the queryId for APOLLO_QUERY_STOP and the APOLLO_QUERY_INIT that happens after APOLLO_STORE_RESET are the same.

I made this for you: https://github.com/andrewnoh/apollo-client-issue-820-resetStore

You should see this result:
![screen shot 2016-10-21 at 6 13 21 pm](https://cloud.githubusercontent.com/assets/13257645/19613426/7ad51c68-97ba-11e6-8ffe-b397957bb041.png)

Unfortunately F

[2016-10-22 04:08] viridia commented on #621
I'd also like some way to invalidate the cached version of a query after a mutation, but for a different reason: the server-side query logic is fairly complex (especially with sorting), and trying to patch in the results of the mutation via updateQueries is simply too complicated in this case. However, I don't want to force an immediate refetch because it may be a while before I actually need the

[2016-10-22 06:17] viridia commented on #468
I'm finding that Apollo makes debugging application errors quite difficult.

Many times errors will be silently swallowed - often I have to enable "stop on uncaught exceptions" in the Chrome debug panel order to figure out why my app is rendering a blank page.

At other times it reports the errors (I have a react ErrorDisplay component that is designed specifically to print out the stack trace and

[2016-10-22 22:10] stubailo commented on #803
I think for subscribeToMore it should be possible to get a notification for every new result.

Any reason we would return a `void` if we could pass through the result?

[2016-10-22 23:31] jbaxleyiii opened #825 "[Design] Cache expiration / invalidation strategy"
The current thought process behind cache usage is in reading or rereading data from the store. `A => B (cache status) => A`. When reading data from the store (before making a query, or via `currentResult`), AC would check against a `cacheInfo` store within the `apollo` reducer. If the `lastRequestTime - now` is past the time specified in the ttl, it treats it as empty data. If not, it reads it fro

[2016-10-22 23:43] bgentry opened #826 "Error: returnPartialData option only supported on watchQuery."
Hi there,

I was playing around with this client and encountered an error when trying to use the `returnPartialData` option on a regular `query()`:

[code]

Looks like this is [explicitly disallowed](https://github.com/apollostack/apollo-client/blob/afcc478b1ccd4142e6d0ffb78d924fe76bc47877/src/core/QueryManager.ts#L412), though the docs list is as an option for `query()`.

Given the description of

[2016-10-23 00:27] stubailo commented on #826
Good call, thanks for the feedback! The docs are indeed incorrect, since I think this doesn't make sense as an option.

[2016-10-23 13:34] Schniz commented on #750
transport sounds good to me 👍

[2016-10-23 14:56] voodooattack commented on #732
@helfer Same issue, different error message:

![Error](https://dl.dropboxusercontent.com/u/27714141/Screenshot%20from%202016-10-23%2016-52-45.png)

Here's the query:

[code]

It logs the user ID as expected in the console.

[2016-10-23 16:42] katopz commented on #825
Is that `lastRequestTime` mean `lastReponseTime`?
I think we should count `ttl` after client received response?

[2016-10-23 16:50] stubailo commented on #825
Hmm, I think request time might be a good idea because you probably don't want to refetch if a request is already in flight?

[2016-10-23 17:40] MikeRyan52 commented on #593
@helfer I am a core maintainer of @ngrx/store. Let me know what APIs we need to expose to make integration possible.

[2016-10-23 17:45] katopz commented on #825
In that case it's look like `requestInfo` more than `cacheInfo` to me.

I think `cacheInfo` will happen only after response from server only before that it should be empty (or maybe we can use rehydrate time stamp as `lastRequestTime`?), maybe I'm over thinking, please ignore me in that case ;)

[2016-10-23 17:51] stubailo commented on #825
Its actually a really good point that we can't figure out this data, especially the node IDs, without the result. So it's not something we could do at request time.

[2016-10-23 22:46] helfer commented on #732
@voodooattack that looks like a different error. Is that the same query that you had the other error with before?

[2016-10-23 23:08] #806 closed

[2016-10-24 00:39] helfer opened #830 "Properly catch errors in tests"
Right now a bunch of tests in QueryManager cause mocha to stop running when they fail. Instead of getting useful errors with line numbers, we just see the tests stopping at the last successful test, and an error with a not-so-useful stack trace in the console.

[2016-10-24 01:11] stubailo commented on #830
Some of these I added intentionally because the alternative was the tests passing with just an error log to the console. But I'll admit it's not ideal.

[2016-10-24 02:10] bgentry commented on #813
[This section on the GraphQL docs](http://graphql.org/learn/serving-over-http/#http-methods-headers-and-body) explicitly states that GraphQL HTTP servers should handle HTTP `GET` and `POST` methods.

It seems like a good GraphQL client should use `GET` whenever possible in order to convey intent for safe/non-modifying queries, and to enable caching by intermediaries. Ultimately it would be great i

[2016-10-24 02:16] stubailo commented on #813
If you have specific needs about when you want to use GET or POST, that seems like a pretty reasonable case for a custom network interface IMO.

I'm not sure there is a consensus in the community about which HTTP requests should be used when, so always sending the same thing seems like a sane default.

[2016-10-24 03:31] bgentry commented on #813
I wouldn't say that I have any "specific needs" other than following HTTP standards to maximize caching by intermediaries and browsers. That seems like something everybody would benefit from having available by default.

I haven't been following the GraphQL community at all, so it's entirely possible that this is true. If it is, though, I can't imagine why. HTTP is very clear as to the semantics o

[2016-10-24 03:45] stubailo commented on #813
I agree there is an opportunity to lead the community here. There are a few things to be figured out:

1. Do all queries make sense to be sent over GET?
2. How should the server decide how long a response should be cached for, especially in the case where a query loads many different types of entities? (perhaps, it should use the shortest cache length of all objects in the result?)
3. Can we lever

[2016-10-24 04:03] helfer opened #831 "Refactor: calculate loading state from networkStatus"
`loading` is still used in a lot of places, but it could be entirely replaced with checks on `networkStatus`.

[2016-10-24 04:06] helfer commented on #830
I agree that this is better than passing and printing errors to the console, but we should refactor to make sure the exceptions aren't uncaught.

[2016-10-24 04:50] helfer commented on #804
I think I have this fixed in #827 now, which we'll release as soon as it's merged into master.

[2016-10-24 04:55] helfer commented on #690
I assume this is fixed now since we merged the PR. Please holler if that's not the case.

[2016-10-24 04:55] #690 closed

[2016-10-24 04:56] helfer commented on #594
Closing this, since it sounds like this has been fixed with #700.

[2016-10-24 04:56] #594 closed

[2016-10-24 04:59] helfer commented on #773
@seeden @viridia can either of you try to make a minimal reproduction or a failing test case for this? That would make it a lot easier for me to track it down.

[2016-10-24 05:09] helfer commented on #821
I agree that this situation is not ideal, but I think the proper workaround here is to make sure you ask for all the shared fields when making a query that might overwrite another query's result.

To avoid the error for now, we could merge the objects. This might make the object inconsistent, but at least the query wouldn't fail.

In a fancier future version we could potentially detect overlapping

[2016-10-24 08:54] viridia commented on #621
Thinking about this some more: What I'd like to see is something very much like the API for updateQueries:

[code]

The invalidateQueries hook is called with exactly the same arguments as updateQueries, however the return result is a boolean, where true means it should remove the query result from the cache and false means the cache should be unchanged.

This strategy is very flexible, in that it

[2016-10-24 09:20] seeden commented on #773
I will try to create test case today

[2016-10-24 10:23] kachkaev commented on #726
Hi guys,

I know this is a hard question to answer, but what is your rough estimate for this release? I'm not expecting to hear the exact date as I understand that there is still too much uncertainty given the number of open issues. However, what would be good is to know the order of the deadline – is it expected to be in a couple of weeks or sometime next year?

The main reason why I'm curious is

[2016-10-24 10:50] kachkaev commented on #726
Hmm.. I remember seeing #586 in `Release 0.5` milestone, which was added there 8 days ago. But that label is no longer there.

[2016-10-24 14:57] sandervanhooft commented on #621
@viridia,

Your solution looks interesting. Would it support Promises? In that case I could set a timer Promise which returns true after a specific period of time.

[2016-10-24 15:36] stubailo commented on #726
GitHub keeps track of milestones being added or removed, so I don't think it was.

0.5 is currently very close to release, so any new features would be something for the next release.

The first step would be working on a design, perhaps let's talk on the existing issue or open a new issue about file upload to do a discussion?

[2016-10-24 16:13] seeden opened #832 "fetchMore has no support for fragments | missing parameter"
I am trying to do fetchMore with fragments. But without any success
I tried next syntax but it is not supported

[code]

Am I missing something?

[2016-10-24 16:17] seeden commented on #832
I am moving this to react-apollo

[2016-10-24 16:35] bkniffler opened #833 "Cannot read property 'forEach' of undefined in broadcastQueries"
Hey,
I wonder if this is related to https://github.com/apollostack/apollo-client/issues/830

If there are errors thrown on the server, the crashReporter in store.js catches an exception from QueryManager with the following stacktrace:

[code]

[code]

[2016-10-24 16:41] viridia commented on #621
My suggestion would work for your first use case but not the second, which would require a very different approach (and may already be handled in the current framework).

Specifically, what I'm asking for is a way to invalidation the cache in response to a mutation. That's why I suggest that the new feature be part of the mutation API since it's very similar in concept to the existing updateQuerie

[2016-10-24 16:55] stubailo commented on #833
If you have a moment, could you send a PR with a failing test?

[2016-10-24 16:57] stubailo commented on #832
That's surprising! I think it was just overlooked, and should be really easy to fix.

[2016-10-24 17:57] helfer commented on #833
This sounds a lot like #773. Are you using resetStore by any chance?

[2016-10-24 19:53] voodooattack commented on #732
@helfer Yes, I'm using 0.5.0-1.

The query is identical to the earlier query, the only difference is the return type.

It also logs the query variable correctly in the console.

[2016-10-24 21:14] drFabio opened #834 "Network error: Cannot read property 'forEach' of undefined"
On Apollo client I am receiving this message:
`Network error: Cannot read property 'forEach' of undefined` I pinpointed to the root cause being that "listeners" is undefined [here](https://github.com/apollostack/apollo-client/blob/afcc478b1ccd4142e6d0ffb78d924fe76bc47877/src/core/QueryManager.ts#L987) .

I checke dthe network of My queries and they are successfullu resolved , also replaying them o

[2016-10-24 21:18] drFabio commented on #834
Also checking for an undefined listeners and returning apparently fix the behaviour. Do not know the cause yet

[2016-10-24 21:28] helfer commented on #732
Alright, I'll close this then. We can reopen if necessary.

[2016-10-24 21:28] #732 closed

[2016-10-24 21:31] helfer commented on #834
Thanks for reporting, I'll close this as a likely duplicate of #833. I might put in the patch/workaround until I can pinpoint the root cause.

[2016-10-24 21:31] #834 closed

[2016-10-24 21:49] NeoPhi commented on #821
That is unfortunate since that requires tight coupling between different parts of the application. One query shouldn't need to know what fields other parts of the application are requesting. We have a highly connected graph of data which would make this workaround very difficult to manage.

[2016-10-24 23:29] DxCx commented on #803
if i got helfer right, he doesnt want the user to get the results directly..
anyway, after speaking with him we decided to postpone this decision to after the summit..

[2016-10-25 03:54] tendant commented on #813
Just want to provide another use case which can benefit from supporting GET.

e.g. In server side, readonly database connection can be used for GET request. Read-write database connection will be used for POST request.

Without supporting GET request, server has to parse graphql statement first before deciding how to handle a query.

[2016-10-25 04:32] stubailo commented on #813
Sure, can someone open a new issue? I don't like having feature discussions on closed issues.

[2016-10-25 08:56] davidyaha commented on #707
@tmeasday This is not done yet right?

[2016-10-25 10:48] fikriauliya commented on #706
Great! Having this issue as well, the PR would reduce my app's network traffic dramatically. 👍

[2016-10-25 11:08] drFabio commented on #833
I had a simillar behaviour, Unfortunately I could not isolate nor provide a failing test. What I did have is some new info. First of all checking for listeners to be undefined apparently solved it as I mentioned on https://github.com/apollostack/apollo-client/issues/834

But analyzing the code I thought that to be strange because even with an empty object _.forOwn should not return that.

I think

[2016-10-25 16:31] bkniffler commented on #833
I wasn't able to reproduce it in an isolated project/test, but when I replace the broadcastQueries with @drFabio s code, the problem disappears.

[2016-10-25 16:33] userno5718 opened #838 "Can client side store/cache be replaced with different implementation (for example based on Immutable.js, mori)"
Currently store/cache is a plain JS object. Is there an option to replace it with immutable/mori hashmap?

There is resultTransformer but converting from JS objects every time seems to be unnecessary overhead.

[2016-10-25 16:37] stubailo commented on #838
What's the use case for doing this? It would certainly be possible, but the normalization logic is relatively complex so it would be a lot of maintanance to have several versions of it.

[2016-10-25 16:39] stubailo commented on #813
Does anyone want to take a stab at a specific design?

[2016-10-25 16:39] stubailo commented on #706
Hoping to get this done and documented before the end of the week! Things have been very busy around here because of the GraphQL Summit.

[2016-10-25 17:04] tmeasday commented on #707
I think @helfer just shipped it actually: https://github.com/apollostack/apollo-client/blob/master/CHANGELOG.md#v050-preview3

But it doesn't yet trigger subscriber changes on every network status change unless you request it, I think.

[2016-10-25 17:15] userno5718 commented on #838
We use mori extensively in our app (not only as client-side store, but in components aswell) and we would like to move to apollo/graphql. It would allow us to leave components untouched.

To make it possible it would be great to have an option to provide custom implementation of store/cache when creating ApolloClient.

I guess having some kind of interface that writes/reads to/from the store that

[2016-10-25 17:43] helfer commented on #707
Yeah, it's what's in #827. Not yet updated in react-apollo.

[2016-10-25 17:45] helfer commented on #833
Okay, I will put that patch in until we find and fix the root cause.

[2016-10-25 17:46] jasonphillips commented on #821
Much like @NeoPhi I fear that this is another piece of the design which requires a growing app to tightly couple its query usage across what often may be a large, de-centralized UI. It doesn't seem ideal for queries to be responsible for knowing anything whatsoever about the needs of any other queries in the application (or even their names, another problem I'm having when it comes to the design o

[2016-10-25 18:20] helfer commented on #821
I agree that tight coupling is bad, but you guys see the problem, right? If we have a normalized cache, then we expect an update to one query to affect another query if they have overlapping data. We can choose several ways of dealing with these overlapping fetches:

1) merge the objects if there's an existing object in the cache (might lead to inconsistency)
2) overwrite the existing object with

[2016-10-25 18:25] voodooattack commented on #732
No, but It still happens with the original query as well (both are identical except for the return type)

Sent from my iPhone

On Oct 24, 2016, at 12:46 AM, Jonas Helfer <notifications@github.com<mailto:notifications@github.com>> wrote:

@voodooattack<https://github.com/voodooattack> that looks like a different error. Is that the same query that you had the other error with before?

-
You are rece

[2016-10-25 22:44] stubailo commented on #695
Some implementation notes:

1. QueryManager is the thing that reads from the store and decides whether or not to fire the query observable, here: https://github.com/apollostack/apollo-client/blob/ee24f3d3dd5867b70286a9256fdc95fefac128e1/src/core/QueryManager.ts#L391
2. It uses `readQueryFromStore` to read from the store here: https://github.com/apollostack/apollo-client/blob/ee24f3d3dd5867b70286a9

[2016-10-25 22:51] helfer commented on #804
@NeoPhi can you confirm that this is fixed in 0.5.0-preview.3?

[2016-10-25 23:22] NeoPhi commented on #804
@helfer It does seem to be fixed in `0.5.0-preview.3`.

[2016-10-26 00:23] #804 closed

[2016-10-26 01:59] jasonphillips commented on #821
Thanks for the follow-up; I see the dilemma but hope that another way may be on the horizon eventually (though approach (1) seems reasonable overall where using polling, as you indicated).

This may be a diversion from the topic at hand, but I wonder if the store's normalized data (per object/id) could possibly maintain a kind of metadata key to track which queries are actively using it? Ie., a re

[2016-10-26 03:52] helfer commented on #824
done

[2016-10-26 03:52] #824 closed

[2016-10-26 03:53] helfer commented on #822
@gouroujo I'm not sure what you are referring to, because Apollo Client does not need the GraphQL schema to work. Maybe this is a problem with the server?

[2016-10-26 03:55] helfer commented on #817
should be fixed in the next release.

[2016-10-26 03:55] #817 closed

[2016-10-26 03:57] helfer commented on #751
@stubailo do we consider this a bug? It sounds more like a possible enhancement to me.

[2016-10-26 03:59] helfer commented on #800
Which version of typescript are you using? I haven't seen this error before.

[2016-10-26 04:01] helfer commented on #487
Closing this in favor of #818 which is just another version of the same issue.

[2016-10-26 04:01] #487 closed

[2016-10-26 04:47] helfer commented on #832
Should be fixed with #842

[2016-10-26 04:47] #832 closed

[2016-10-26 04:50] helfer commented on #646
@chaffeqa 0.5.0 will have transport batching, but by using a different network interface instead of passing an option to Apollo Client. If you relied on query merging, you'll have to continue using 0.4.22 until we fix up the query merging and release it as a separate package.

[2016-10-26 04:50] #646 closed

[2016-10-26 04:55] helfer commented on #384
You can now use the `reducer` option on watchQuery for this purpose (in theory). It's not exactly what they're intended for, but it should work. I would however suggest updating your GraphQL schema in such a way that this kind of data manipulation isn't necessary.

[2016-10-26 04:55] #384 closed

[2016-10-26 05:00] helfer commented on #530
@igrayson in 0.5 you should be able to use the `reducer` option to watchQuery for this.

[2016-10-26 05:00] #530 closed

[2016-10-26 05:03] helfer commented on #623
Solved by #827

[2016-10-26 05:03] #623 closed

[2016-10-26 05:05] helfer commented on #180
Should be easy now with #766

[2016-10-26 05:05] #180 closed

[2016-10-26 05:10] helfer commented on #644
Implemented subscribeToMore in #797, lets's see where that gets us.

[2016-10-26 05:10] #644 closed

[2016-10-26 05:12] helfer commented on #604
Removing this from the milestone, since we didn't touch this during the refactor. I think I now have a better idea what this is about, so we can take a fresh look at it after 0.5

[2016-10-26 05:18] helfer commented on #773
I put in a patch for this for now so it doesn't crash things any more. We'll track it down post 0.5

[2016-10-26 05:32] helfer commented on #726
lined up in #843

[2016-10-26 05:32] #726 closed

[2016-10-26 07:01] bkniffler commented on #833
It seems like the errors don't appear in console any more, but the whole query still fails. Say I have 4 batched queries and one fails due to a server-side error, the other queries won't persist their data to the store. I'll check if I can find out more, but I'm a bit busy atm.

[2016-10-26 08:52] gouroujo commented on #822
Hi @helfer you're right I think it was a problem with my server.
To follow up and for anyone who find this issue later, i've solve my issue by getting the user before passing the object to the apollo server middleware:
[code]

[2016-10-26 08:52] #822 closed

[2016-10-26 11:05] drFabio commented on #833
Will check the patch now. So @bkniffler  this is a batch query issue only? Yeah mine was not much of a patch and more of a test to see where the problem was made present. Did you tried with the Object.assign() ? I did not test for failing queries also

[2016-10-26 13:59] seeden opened #845 "Internal Error: may not update existing query string in store | bug - AC@0.5"
Hi I have tried to use latest 0.5 version but I can see error in the console for simple query like:
[code]

Error in the console:

[code]

I am using SSR maybe it is connected somehow with this issue. The second thing is that I am using same query in the multiple components in this moment.

Here is the stacktrace
![stacktrace](https://s18.postimg.org/efea5ztzd/Screen_Shot_2016_10_26_at_16_02_55.pn

[2016-10-26 14:09] seeden commented on #845
It is working correctly when I don't use initial state from server. The conflict is with query from server side rendering.

[2016-10-26 19:01] armstrjare commented on #751
I think at least that it should be clear that the return values should not
be modified if it will affect the internal state/change detection
unintentionally.

On Tue, 25 Oct 2016 at 20:57 Jonas Helfer <notifications@github.com> wrote:

--
Jared Armstrong
Founder & CEO
MinuteDock - *Time & billing software for small business*
(Web) http://minutedock.com
(Mobile) +44 7482 472699
(Skype) jared.armstr

[2016-10-27 03:56] clayne11 commented on #838
Something similar is done in `redux-form`. All of the object mutation methods are abstracted out into helpers and you can initialize the library with either set of helpers. You can see the helper functions here: https://github.com/erikras/redux-form/tree/master/src/structure

[2016-10-27 06:50] helfer commented on #845
@seeden When dehydrating the state from the server, are you making sure that it only contains the `data` field? If so, can you paste the relevant lines here so I can see how you initialize apollo client and the store? Thanks!

[2016-10-27 13:22] #823 closed

[2016-10-27 15:50] damaoniu opened #846 "appollo-client not working with angular cli project"
I have an existing angluar cli project and i followed the installation guide `http://dev.apollodata.com/angular2/initialization.html#installation`
after intall the packages and  add the client to my app.module.ts:

[code]

I got these :

[code]

[2016-10-27 17:24] helfer commented on #846
@kamilkisiela @Urigo I'm not very familiar, could one of you help here?

[2016-10-27 17:27] kamilkisiela commented on #846
I know the reason, give me few minutes:)

[2016-10-27 17:31] seeden commented on #845
Hi @helfer

My state looks:

[code]

Here is how I am creating store
[code]

After render I am storing whole state from redux because I have in redux store another data like request information.

[code]

[2016-10-27 17:35] helfer commented on #845
Ok, can you try getting rid of the queries part of the state? I think that will fix your problem.

[2016-10-27 17:45] seeden commented on #845
It is working fine without queries in the store

[2016-10-27 17:45] #845 closed

[2016-10-27 17:48] kamilkisiela commented on #846
It's not that it doesn't work with Angular CLI. It's TypeScript related.

TypeScript doesn't see `typed-graphql` package and asks for declarations for `graphql`. The first package contains these declarations.

**1. First, install this package:**

[code]

You have it installed but you still have to tell TypeScript that it exists and is available.

**2. Add the code below to one of `d.ts` files that

[2016-10-27 18:27] helfer commented on #468
@viridia I agree, improving error handling is one thing I think we should focus on for the next version.

[2016-10-27 18:39] damaoniu commented on #846
thank you kamil

[2016-10-27 18:40] kamilkisiela commented on #846
@damaoniu Closing, if you have any question, feel free to ask me :)

[2016-10-27 18:40] #846 closed

[2016-10-27 18:54] helfer commented on #820
@andrewnoh thanks for the repro! I've never run a react-native project before. Do I need to install a bunch of libraries/tools for this to work?

[2016-10-27 21:13] camiloazula commented on #593
I see this one is still not assigned to anyone if you need help let me know too

[2016-10-27 23:20] Urigo commented on #846
@kamilkisiela should we some of those steps to the docs?

[2016-10-27 23:25] kamilkisiela commented on #846
We could but it's TypeScript related. I think people should know how TypeScript looks for files to compile them (`files` or `filesGlob` and `exclude` in tsconfig).

It's totally up to you :)

Could be done as a "tip" or some sort of "recipe" to make things clear but it's not Apollo specific.

[2016-10-27 23:27] Urigo commented on #846
Yes a "tip" would be good, just to make people's initial start more smooth

[2016-10-27 23:29] kamilkisiela commented on #846
I can write about how I've made GitHunt working with Angular-CLI, will do this tomorrow.

[2016-10-28 03:36] andrewnoh commented on #820
You shouldn't need that much! Getting a React Native project is easier than getting a React project running imho lol.

You just need:
[code]

```install and update xcode```

server
[code]

client
[code]

[2016-10-28 16:39] seeden opened #850 "call refetchQueries without mutation"
Is it possible to call refetchQueries without mutation?
Here is my scenario:
Logged user is trying to logout. That means I will just delete bearer token locally. But I need to refetch viewer from server after this operation.

something like:

[code]

I tried but without any success

[code]

This ticket is related to react-apollo ticket https://github.com/apollostack/react-apollo/issues/241

[2016-10-28 19:58] JonathanNasc commented on #699
The only way to solve this in my case, was go back to use bluebird module

[2016-10-28 20:36] stubailo commented on #699
Can someone identify any unhandled rejections inside the client? I just quieted this in the tests by overriding the unhandled rejection warning.

[2016-10-28 20:49] helfer opened #851 "Update networkStatus when fetchMore is happening"
Continuation of #827.

Also consider calculating loading state based on networkStatus.

[2016-10-28 21:21] seeden opened #852 "optional parameters in mutation"
I would like to use some parameters in mutations as optional. But I will get next error when I skip second "title" parameter: The inline argument title is expected as a variable but was not provided.

Here is the gql example

[code]

As you can see only id is required parameter. But when I will call next mutation I can see described error.

[code]

The truth is that I expected default "undefined"

[2016-10-28 21:27] svrcekmichal opened #853 "Proposal: co-locate queries with fragments"
From my point of way, query without fragments are not complete and it would be better if we colocate query with fragments it need, like with fragments. I suggest to create new function `createQuery` which will accept Document and FragmentDefinition.

[2016-10-28 21:40] seeden commented on #852
I will try to explain why I want to have this feature. I have "Main" component which can use mutation. This component has two routes. Each of them can update a different fields but when one of them wanted to save data it call mutation in the parent component via "onSubmit" callback.

[2016-10-28 21:41] stubailo commented on #853
Neat idea! I think it would be great if you could pass queries and fragments around as one object rather than passing in options to `watchQuery`, `mutate`, etc.

Mind adding a code snippet of what it could look like?

[2016-10-28 21:42] stubailo commented on #853
It would be awesome if this allowed us to remove the `fragments` option from the API entirely, since that should really be part of the query.

[2016-10-28 21:47] helfer commented on #852
@seeden Thanks for reporting it. I think that counts as a bug, because we want to support the full GraphQL spec.

[2016-10-28 21:48] helfer commented on #852
@seeden Could you submit a PR with a failing test? I think it should be easy to do and would help us a lot!

[2016-10-28 21:51] stubailo commented on #852
Yeah this is a bug where Apollo Client caching expects variables to exist in the variables dictionary: https://github.com/apollostack/apollo-client/blob/56c3cf9033f953bab07bd7d725497f4962120aec/src/data/storeUtils.ts#L62

Should be a one-line fix to replace those with `null` in the store. BTW this error is duplicated in graphql-anywhere: https://github.com/apollostack/graphql-anywhere/blob/5335986

[2016-10-28 22:06] helfer commented on #593
@MikeRyan52 I just talked to @stubailo and it seems all we really need is the equivalent of `store.getState`, `store.subscribe` and `store.dispatch`. Apollo Client uses a middleware to know when the store has updated, but that could be done in a different way.

I think the easiest way would be if someone wrote a thin adapter for ngrx/store that just maps the methods we need to the ones that ngrx/s

[2016-10-28 22:52] MikeRyan52 commented on #593
@helfer We can [cast ngrx/store to that interface](https://gist.github.com/MikeRyan52/7a745515e48aff2c7ed1469cb0340e47). We will need to find a suitable location for that code to live.

[2016-10-29 14:23] DxCx commented on #699
@stubailo looks like this one is coming from test file not the actual client..
somewhere test are not handling reject..

[2016-10-29 14:31] DxCx commented on #774
@stubailo @helfer now that 0.5.0 is out, can you please respond :)

[2016-10-29 17:42] seeden commented on #852
@stubailo can you use undefined instead of null? Because null value is valid database value and I will use it on the server. When I get undefined I can skip it in my "update" query.

[2016-10-29 18:22] guns2410 opened #854 "subscribeToMore Error: Cannot read property kind of undefined"
I am trying to get on to subscriptions on my existing Apollo-server.

here is the code used to run subscriptions:

[code]

The Error stack goes as:

[code]

Not sure what is going around in here.

[2016-10-29 19:34] Hongbo-Miao commented on #593
I will try if I can build a demo first using existing Angular2-Apollo and ngrx API like how I wrap Angular2-Meteor API before.

[2016-10-29 20:24] seeden opened #855 "addId for queryTransformer | feature"
It would be nice to have something like addTypename (queryTransformer) but for object ids.
All my models has attribute id but sometimes I will forget to add id property into the query and then apollo-client is not working properly because it has data like User:undefined. I think that it will help some developers too.

[2016-10-29 20:24] seeden commented on #855
Currently I am using addTypename and it is great.

[2016-10-29 20:51] stubailo commented on #852
Does GraphQL on the server treat undefined differently than null?

[2016-10-29 20:53] seeden commented on #852
yes

[2016-10-29 21:43] stubailo commented on #852
Sounds good. If GraphQL servers treat `undefined` and `null` differently, we should as well!

[2016-10-29 21:59] seeden opened #856 "shouldBatch is not working | bug"
From version 0.5 batching stopped to work. Here is my settings:

[code]

I can see 20 identical simultaneous graphql request to my server. 20 requests because https://github.com/apollostack/react-apollo/issues/252

[2016-10-29 22:03] seeden commented on #856
Here you can see what I can see in my console

![console](https://s15.postimg.org/7qqkry0zf/Screen_Shot_2016_10_30_at_00_00_29.png)

[2016-10-29 22:07] seeden commented on #856
OK You changed API to batchInterval.

[2016-10-29 22:07] #856 closed

[2016-10-30 02:26] helfer commented on #852
@stubailo @seeden currently there's no difference between `null` and `undefined`

[2016-10-30 02:28] helfer commented on #855
I think that's a great proposal and we'll make Apollo Client add that to queries automatically as soon as the `__id` proposal is implemented in most GraphQL servers. Right now it would cause queries to fail if you add `id` to a type that doesn't have that field (presumably your query type doesn't have an id, or does it?).

[2016-10-30 13:23] acorcutt opened #857 "Some UnionType fragments are not triggering the correct loading state for additional queries."
Its only showing a loading state when fetching the 1st fragment from a union, is this related to what is being fixed in #707 or is the loading state looking at the wrong fragment. Data is loaded correctly for all types and re-ordering changes things...

Site is a union...

[code]

1st query triggers loading state as expected for either type...

[code]

2nd query from child of root triggers loading

[2016-10-30 16:05] seeden commented on #852
Thanks @helfer for information. Working with null information will be changed as you can see in the merged thread https://github.com/facebook/graphql/pull/83

[2016-10-30 16:17] seeden commented on #855
I did not know about __id proposal. I added id field to all my queries because I was able to **completely remove refetchQueries after my mutations**. For models I am using ID from database but for other responses I am using "virtual id" Very often it is combination of the query arguments.

[code]

id will be computed as ${userId}-${modelId}-${modelName}

[2016-10-30 21:26] Hongbo-Miao commented on #593
Okay, after my first try, they can work well together (just tried basic Apollo functions). Only a small issue. So please be patient. I will publish codes soon.

[2016-10-30 21:37] Hongbo-Miao commented on #593
Okay, after my first try, Apollo and ngrx can work well together (just tried basic Apollo functions). Only found some small issues. And there are something I am not clear. I will ask Uri, and then publish codes later. So please be patient.

![image](https://cloud.githubusercontent.com/assets/3375461/19840190/4f72dbd2-9ec7-11e6-9c41-96acb4e3f6e4.png)

![image](https://cloud.githubusercontent.com/as

[2016-10-30 22:33] viridia commented on #773
OK I updated to the latest version I'll let you know if I see any more of these.

[2016-10-30 22:37] viridia opened #858 "Source map console error in production builds"
A really minor thing, but I thought I'd mention it: when I run my app in production, I get the following error message on the console:

`failed to parse sourcemap shallowequal.js.map`

It appears to be benign, I'm not seeing any problems because of it. In fact, I wasn't even sure if it was related to apollo at all, except that when I Google for the term 'shallowequal.js.map' it shows the apollo tr

[2016-10-31 03:37] viridia opened #859 "Error when calling resetStore()"
Not sure how to debug this - this happens in the middle of a call to resetStore() (I'm trying to log the user out).

[code]

The 'profile' field is the user record of the current logged-in user, and should be null in this case since this happens right after I've posted a /logout XHR. The field definition in the schema is nullable, so that should not be a problem.

The actual code that's throwing t

[2016-10-31 04:27] stubailo commented on #699
I think it's fine to not handle every single rejection in the tests -- at least, it doesn't seem like a top priority to hunt every single one down.

[2016-10-31 04:27] stubailo commented on #699
I'm just wondering what @JonathanNasc was referring to, because it didn't sound like he was talking about the tests.

[2016-10-31 05:31] ncthis commented on #595
@stubailo Actually, I spent some time working on getting apollo-client 0.5.* to work with react-native 0.29 typescript based project.

Things that I had to do:
- removing node typings, since it conflicts with react-native
- removing es6-shim, since it conflicts with react-native
- moving the tsconfig target to es2015 to accommodate the missing es6-shim
- converting ApolloError's `generateErrorMess

[2016-10-31 05:36] frederickfogerty commented on #595
Hi @ncthis. Did you write a fork for this? Or did you just check them in locally? I would definitely appreciate these as a PR if it wasn't too hard. I don't think react-native is too specific of a use case - we'll be using apollo with react native soon.

[2016-10-31 06:15] ncthis commented on #595
@frederickfogerty, I have a fork, yes.

These are the 4 commits that you're looking for:
- https://github.com/EdtechFoundry/apollo-client/commit/331e00fa3570b3d652f05371e68e38b16abebdce
- https://github.com/EdtechFoundry/apollo-client/commit/88f1b4367b5386eaefba1947c2268d8cb08ea5c7
- https://github.com/EdtechFoundry/apollo-client/commit/170e6a70f163dbf5e5b33043ad5ab7b1f4f1e44f
- https://github.com

[2016-10-31 06:41] guns2410 commented on #854
Okay! guess the docs on the website are outdated. subscribeToMore accepts `document` key for the query. Figured out looking at the [test](https://github.com/apollostack/apollo-client/blob/master/test/subscribeToMore.ts#L69).

[2016-10-31 08:23] wis-ekubesh commented on #859
Hi, I've the same problem on both of usage versions apollo-client(0.4.20 && 0.5.0) and angular2-apollo (0.4.6 && 0.6.0)

[2016-10-31 09:18] wis-ekubesh opened #861 "es6-shim conflict (can't make update apollo-client)"
Hi everyone. After latest update of apollo-client was added
/// <reference types="es6-shim" /> and we are got a problems when we want make a compile with "target": "es6"....

Could you please fix this bug or suggest any way for solving my problem?

[2016-10-31 13:03] JonathanNasc commented on #699
I am sorry, I was referring to use the ES6 native Promises in general.

[2016-10-31 16:32] metzc commented on #861
@wis-ekubesh as a temporary fix you can remove those references in the apollo-client code (together with adding the es2015 lib in your tsconfig which i assume you have)

[2016-10-31 17:59] helfer commented on #858
@viridia thanks! Since it's not serious I won't look into it, but if someone figured out how to fix it, I wouldn't mind :wink:

[2016-10-31 18:02] wis-ekubesh commented on #861
@metzc yep, I can, but I think that this problem must be solved in feature in package

[2016-10-31 18:09] paralin commented on #861
Same thing happening here. Broke my project :(. I am using core-js typings, not es6-shim. This shouldn't remain in the compiled package.

[2016-10-31 18:25] helfer commented on #857
@acorcutt Thanks for bringing this up. Are you using version 0.5.0 of Apollo Client? And is `__typename` added to the query (i.e. do you have `addTypename` set to true (or at least not to false))?

FWIW I don't think this is related to #707. It seems to be related to fragment handling instead.

[2016-10-31 18:27] helfer commented on #852
@seeden which is why I said "currently" :wink: We'll wait until the changes are made in graphql-js, and then update Apollo Client accordingly.

[2016-10-31 18:38] helfer commented on #854
Thanks for figuring this out!

[2016-10-31 18:38] #854 closed

[2016-10-31 18:38] helfer opened #862 "Check arguments to all public methods and provide useful error messages"
We don't do this right now, but we really should. It would make errors like #854 a lot easier to debug.

[2016-10-31 19:23] acorcutt commented on #857
I've tried both with & without addTypename and my id's are globally unique from the relay node interface, versions: apollo-client@0.5.0 & react-apollo@0.5.16

I'm thinking it is the fragment matching now, I'm not seeing it batch any queries with fragments -  #771 suggests there is no matching on unions?

[2016-10-31 20:07] seeden commented on #852
ok than we can use default "null" values as @stubailo mentioned because graphql has support for optional parameters in mutation

[2016-10-31 22:03] helfer commented on #820
I think this would be much easier to debug for me if the repro wasn't in react native. For example, Redux devtools didn't work out of the box.

Anyway, I got it running, and I think I see the same problem that you have.

On the off chance that we somehow fixed this with our refactor (unlikely, but we should still try), can you update the example to use AC 0.5.0 and see if the error persists? If th

[2016-10-31 22:48] helfer commented on #774
@DxCx sure! I think it's a very good idea to clean up the network interface a bit, but we definitely need to have something concrete to talk about. Could you make some specific examples for what the API would look like, and how one would add middleware/afterware to the network interfaces? I think it would be good to have an example for HTTP, HTTP with batching and one for websockets that does ever

[2016-10-31 22:54] helfer commented on #859
@viridia Thanks for reporting this. resetStore is a bit tricky, and this looks like a bug. I will try to document a logout flow with resetStore tomorrow, and with a bit of luck I'll be able to reproduce your issue.

[2016-10-31 23:18] helfer commented on #861
It seems to me that typescript builds are very brittle. There are often many ways of including typings, but each of them fails in different scenarios.

The main reason we included the es6-shim was that we couldn't get typedoc to work with the previous approach. If someone could get typedoc to work with the typings we had before, I would merge that right away (it would probably involve adding suppo

[2016-10-31 23:23] helfer commented on #857
As long as there is no data there initially, Apollo Client should show the loading state regardless of what type the returned object is going to be. And given __typename, I see no reason why Apollo Client wouldn't be able to figure out which fragment applies.

@stubailo what's the status on supporting this simple case of union types from the example above in graphql-anywhere.

[2016-11-01 09:29] Akryum commented on #585
We could have some sort of type manager that is in charge of de-serializing scalars on the client, with some handy defaults like Date, while still being extendable.

[2016-11-01 15:15] paralin commented on #861
I'm actually having the exact same problem with my project. My tests won't compile without es6-shim.

Maybe I will add a build step to delete the `/// <reference` line.

[2016-11-01 15:51] madebyherzblut commented on #525
Our use-case is to duplicate data to a different data structure for faster reads and less re-rendering (e. g. one reducers manages a hash map of id<->shift and another startDate<->shift). At the moment we also take what we need from QUERY_RESULT, but it relies on string splitting and is therefore a bit cumbersome.

I believe that a more general way to hook into the store management of apollo would

[2016-11-01 16:07] vlasenko commented on #845
I have faced this too with 0.5.0.

Doing
`delete window.__APOLLO_STATE__.apollo.queries`
resolves the problem.

But why are these apollo.queries in the initial state produced on server-side if they should be removed later on client-side?

[2016-11-01 21:36] oricordeau commented on #858
Hi,

I've googled 'shallowequal.js.map' like you said, and the travis build log I get (just looked the first one) is not from this repo but from [apollostack/react-apollo](https://github.com/apollostack/react-apollo).

1. There is no shallowequal in node_modules in a clone of this repo (I used `find node_modules|grep shallow` to search) and did `npm install` before. And `grep -rniI shallowequal *`

[2016-11-01 22:41] oricordeau commented on #858
More info :
In the react-apollo repository, there is an indirect dependency on the `shallowequal` npm package. There is also a source file named `src/shallowEqual.ts` (notice the uppercase 'E'). I tried building and I get a `lib/src/shallowEqual.js.map` file (which can be parsed using a simple test script - I checked just in case). But anyway there is no uppercase 'E' in the error you mentioned.

[2016-11-02 00:37] viridia commented on #858
Apologies, the error message does have an uppercase 'E'. The exact message in the chrome dev console is:

[code]

I'm using webpack 2 if that's of any relevance. If you are super-ambitious, you can look at my package.json here: https://github.com/viridia/klendathu/blob/master/package.json which will tell you exactly what my build environment looks like.

[2016-11-02 00:43] oricordeau commented on #858
I tried to wget https://klendathu.herokuapp.com/builds/shallowEqual.js.map and the downloaded file contains :
[code]

So yes, it seems it has to do with your app and the issue can be closed.

Regards

[2016-11-02 02:21] viridia commented on #858
Ah, it must be the history api fallback in express. Thanks for digging in to that, and apologies for wasting your time...

[2016-11-02 03:54] viridia opened #863 "Cryptic message given when passing array of fragments"
I'm executing a mutation like so:

[code]

The error I get is:

`getFromAST.js:26 Uncaught Error: Schema type definitions not allowed in queries. Found: "undefined"`

However, when I change the 'fragments' parameter from [ProjectContent] to ProjectContent, it works.

[2016-11-02 03:59] stubailo commented on #863
Are you using the newest version of Apollo Client?

[2016-11-02 04:28] viridia commented on #863
0.5.0

[2016-11-02 04:31] viridia commented on #863
Exception is thrown here:

[code]

The 'definition' variable containns an Array[1] and thus has no 'kind' property.

[2016-11-02 08:12] leebenson opened #864 "Observable.result() unsubscribes from all?"
I'm trying to integrate Apollo with my current Mobx stores. I have this function inside my store:

[code]

The purpose of this syntax is:

- Set up a watch query that'll re-run when queries are re-fetched
- Put the result data into a local Mobx store
- Return the result back to the caller, so a call to `getSession` returns a Promise that resolves to the data on the first query request.

**Version*

[2016-11-02 08:18] leebenson commented on #864
Btw, I can easily solve this with:

[code]

My question relates specifically to the `unsubscribe()` behaviour -- whether triggering it should remove _all_ subscriptions, or just the current handler.

[2016-11-02 12:35] dcworldwide commented on #777
Typed results would be very nice. I'm also looking for a way to mixin state and behaviour to results, this is a start though.

[2016-11-02 12:36] kamilkisiela commented on #777
Don't have time to do this but if someone wants to implement this, I could help :)

[2016-11-02 17:00] kamilkisiela commented on #861
Should be fixed by #865

[2016-11-02 21:18] helfer commented on #864
@leebenson Thanks! Which version of Apollo Client are you using? I believe we fixed that exact issue with multiple subscriptions in 0.5. Please let me know if that's not the case.

[2016-11-02 21:19] helfer commented on #858
Thanks @oricordeau!

[2016-11-02 21:19] #858 closed

[2016-11-02 21:30] helfer commented on #863
@viridia This looks like a bug and may be relatively easy to fix. Do you want to give it a try? If so, I can give you some pointers.

[2016-11-02 21:35] leebenson opened #867 "Document multiple fragments in mutations"
Assuming a mutation like this...

[code]

With these fragments:

[code]

... it's not clear from the documentation how to apply multiple fragments in a single mutation request using a combination of `{mutation, fragments}` on `.mutate()` and `createFragment()`.

I tried the following combinations:

**1. Multiple `createFragment` requests**

[code]

Error:

**2. Combining multiple fragments into a

[2016-11-02 21:46] viridia commented on #863
Sure.

[2016-11-02 22:01] helfer commented on #863
Ok, great! Best start would be to open a PR with a failing test case, and then we can take it from there!

[2016-11-02 22:25] leebenson commented on #864
@helfer - I'm actually using 0.5. When I posted this originally, I was on the 0.4 branch, and I saw the changelog referencing the fix, so I quickly upgraded. Currently getting the same error, though.

[2016-11-03 03:39] tmeasday commented on #864
@helfer do we have a test for this now? I added one at some point in a branch, but I don't see it..

[2016-11-03 08:11] SachaG commented on #227
I just ran into a use case for this, where I have to access the Apollo data from outside the React component tree. I actually managed to do it with the `noFetch` option, but my problem is that even with `noFetch`, `query` still returns a Promise, whereas I'm trying to get the results returned as a plain JS object.

In other words, I'm trying to replicate the behavior of Meteor's `Collection.find()

[2016-11-03 09:42] leebenson commented on #864
My bad. It turns out I _was_ using Apollo 0.4x.

I encountered an [edge case](https://github.com/sass/node-sass/issues/1781) in Yarn (which, due to my build process, was suppressing output, I was never alerted to) that failed to install `node-sass` and therefore never made it to the upgrade stage of apollo-client to the 0.5 branch.

Bumping to 0.5 fixes it. Thanks guys.

[2016-11-03 09:43] #864 closed

[2016-11-03 11:57] leebenson commented on #867
dupe of #863

[2016-11-03 12:02] leebenson commented on #867
Actually I'll re-open this, because once the bug in #863 is fixed, it'd still be good to show a sample use case of passing in multiple fragments to a query/mutation. It wasn't clear to me which of the above three syntax choices was correct without sifting through the source code.

[2016-11-03 12:46] bojandragojevic commented on #384
I have same question.

We know that is redux if you want to apply some additional logic on your data response in state before you pass it to component you can do it in selector. But since with apollo you connect data response directly to component I don't know where to apply this logic, here we do not have selectors.

so we know store can look like this if we use redux and apollo

[code]
So for re

[2016-11-03 23:48] #861 closed

[2016-11-03 23:52] SachaG commented on #227
FYI I ended up accessing `client.store.getState().apollo.data` directly, which works better for my purposes.

[2016-11-03 23:55] stubailo commented on #227
There is .watchQuery(...).currentResult() now, which runs synchronously. Would that be better? Curious what the use case is.

[2016-11-03 23:57] SachaG commented on #227
Oh maybe, I'd have to try it out. And the use case is getting a list of categories from the store to populate a `<select>` form element (in Telescope's Autoform-like form module):

https://github.com/TelescopeJS/Telescope/blob/apollo/packages/nova-categories/lib/custom_fields.js#L31-L45

[2016-11-04 00:00] #707 closed

[2016-11-04 02:47] helfer commented on #384
I believe you can pass a `props` function to the graphql HOC in react-apollo to format the props. If that's not what you're looking for, I think you should ask the question on the react-apollo repo.

[2016-11-04 08:22] bojandragojevic commented on #384
That is one way but I prefer to keep data manipulation in data layer not to do it in UI layer.

[2016-11-04 08:27] linonetwo commented on #363
So where is addQueryMerging at this time?

Since I'm using a custom networkInterface, I can't use createBatchingNetworkInterface directly.

[2016-11-04 13:53] Torsten85 opened #870 "result reducers ignore __typename"
Hey,

using the result reducer, the `previousResult` objects has no `__typename` properties which results in a not working react component for me.

Manually adding the `__typename` to the query works though. Seems like the `addTypenameToDocument` functions is not called in this case.

[2016-11-04 14:05] chaffeqa commented on #657
I wrote a similar implementation that opens the query in a graphiql:

[code]

[2016-11-04 14:21] Torsten85 opened #871 "subscribeToMore should not need a updateQuery function"
Currently the call to `subscribeToMore` has to have a `updateQuery` function. But the update query part can easy be done via a reducer in the query options. So `updateQuery` shouldn't be mandatory.

[2016-11-04 16:50] geirman commented on #464
[Apollo Client 0.5 New features and improvements to make GraphQL even easier](https://dev-blog.apollodata.com/apollo-client-0-5-f1eb3f122ace#.lile35nnk)

To me, that means version 1.0 :-/

[2016-11-04 17:56] stubailo commented on #464
Yeah, I am pretty sure the difference between 0.5 and 1.0 won't be very big externally. It's more about making sure we go through edge cases like error handling, carefully deprecate old APIs, etc. 1.0 is about committing to API backwards compatibility until 2.0. But I agree it's mostly a cosmetic distinction.

[2016-11-04 18:55] yurigenin opened #872 "Support for operationName when submitting queries"
The reference GraphQL implementation supports providing an operationName when the query doc contains multiple named queries (mutations). It would be nice if apollo client supported this idea so that I can have multiple named queries (mutations) in the doc and I could specify a current operationName through options object. So, currently you can specify variables for a query. In the same spirit, you

[2016-11-04 18:57] stubailo commented on #872
What's the benefit of this versus providing them as two separate query documents?

[2016-11-04 19:07] yurigenin commented on #872
First, it would allow me to have just one HOC wrapping my view. Second, I could decide which operation to run based on the property passed to the view from the parent.
Let's say I have a view called Customers that implements displaying a list of customers but could display it two ways: paged and non-paged. I would pass a prop called viewType to it. Based on that prop the view would render a slight

[2016-11-04 19:08] helfer commented on #871
@Torsten85 Good point! Want to make a PR? It's in the file `watchQueryOptions.ts`.

[2016-11-04 19:13] helfer commented on #872
Personally, I don't think that's a good idea. It's better to keep the components and their data requirements simple. If you decide the data requirements based on the props passed in, it becomes more difficult to see what data that component actually uses.

That said, if you have a concrete convincing example that might help change my mind.

[2016-11-04 19:21] helfer commented on #363
@linonetwo it's [here](https://github.com/apollostack/query-merging), but I haven't had time to finish the package, and it isn't high on my list of priorities. If you're interested in helping out to get the package ready, I can give you all the necessary pointers and help you fix issues that you may run into. Let me know!

[2016-11-04 19:28] TSMMark opened #873 "Apollo Client still fetching even though store already contains the dataIdFromObject"
If I query an index, followed by a query of a specific record, Apollo Client does not recognize that the specific record is already present in my `state.apollo.data`. Instead of using the cached data, a full GraphQL request is made.

Is this expected behavior? If so, is there a different way to configure Apollo Client to recognize that the data is already fetched, and to use that data instead of r

[2016-11-04 21:03] helfer commented on #873
This is the expected behavior, what you're trying to do will be supported once this PR is merged and published: https://github.com/apollostack/apollo-client/pull/809

[2016-11-04 21:03] #873 closed

[2016-11-04 21:07] TSMMark commented on #873
Perfect, thank you.

[2016-11-04 21:13] helfer commented on #863
@viridia Can you write me on the apollo slack? I'd like to get a PR to fix this created and merged soon!

[2016-11-04 21:20] stubailo commented on #872
Yeah, I think having two HOCs right now is the right way. That makes things much clearer, rather than having complex logic which might do one query or another.

[2016-11-04 23:21] helfer commented on #870
@Torsten85 Can you clarify what you're expecting to see and what you're seeing instead? Is there an error message? I think I know what you mean, but it would be good if I could get more specifics before I look into it.

[2016-11-05 03:52] viridia commented on #863
Started looking at the code, still reading through it - I noticed that all of the tests involving fragments are testing queries and not mutations.

[2016-11-05 13:00] NeoPhi commented on #821
@helfer I wonder if instead of trying to solve the general case, a good first approach would be to better surface what is going on to the consumer. If I specify `returnPartialData` and Apollo thinks that the query is cached and would not fetch it again, perhaps a new `NetworkStatus` of `readyPartialData` could be added. The receiving component could then make the decision to manually `refetch` if

[2016-11-05 15:56] ykshev commented on #503
Was wandering around with mobx-meteor-apollo and found this issue. There is a small misspelling in @mweststrate example, it should be ```queryObservable``` as a first argument  for ```function queryToMobxObservable(/*apollo observable*/ queryObservable) ```.

I see here a lot of people from meteor community,  maybe someone could give me a feedback on my integration with react-mobx-meteor-apollo.

[2016-11-05 16:42] viridia commented on #863
OK so I attempted to write a test but I'm a bit confused - it won't allow me to pass an array of fragments in typescript because the type of the field is wrong. I get this error:

Argument of type '{ query: any; fragments: FragmentDefinition[][]; }' is not assignable to parameter of type 'DeprecatedWatchQueryOptions'.at line 1368 col 27

This would seem to imply that 'createFragment' is returning

[2016-11-05 17:37] chaffeqa opened #875 "composed queries incorrect `loading` boolean"
If you compose x2 queries on a component, the first result returned changes both `loading` booleans to `true`, even though the second query does NOT have the results populated yet

[2016-11-05 22:38] migueloller commented on #706
It looks like this is now documented [here](http://dev.apollodata.com/react/cache-updates.html#resultReducers). Thanks for all the hard work!

[2016-11-05 22:41] migueloller commented on #332
It's worth noting that now it's possible to achieve more efficient caching with the new [result reducer](http://dev.apollodata.com/react/cache-updates.html#resultReducers) feature. You can listen for actions on the `getEvents` query and appropriately update the `getEvent` query. It's not automatic, but it's possible. 😄

[2016-11-06 02:43] linonetwo commented on #363
@helfer I'm glad to contribute, I can write TypeScript too, let me know what I can do!

[2016-11-06 03:00] linonetwo commented on #363
@helfer I'm currently working on things about Wrapping REST into GraphQL, so there are custom interfaces. Data flow looks like this:
![qq 20161106105340](https://cloud.githubusercontent.com/assets/3746270/20035049/60d80756-a40f-11e6-8cfd-845800539a8d.png)

Now 「1.9 fetch result cached in the Model 」 is a trouble too. I haven't done that, so every query fetches REST API. Thus query lag even I use q

[2016-11-06 10:04] richardkall opened #876 "Custom error, "responses.map is not a function""
Hi,

I'm using `graphql-server-express` and my server is set up like this:

[code]

The `authenticate` middleware throws an error if the JSON web token doesn't validate:

[code]

However, when `apollo-client` is trying to parse this on the client, it fails with `Network error: responses.map is not a function`. Is it possible it respond with a GraphQLError outside of the GraphQL server? Or any idea

[2016-11-06 13:58] jonathanheilmann commented on #859
I'm running into this error, too.

The [Angular2 documentation](http://dev.apollodata.com/angular2/auth.html) says:

But even reloading the page by location.reload() or location.reload(true), doesn't reset the store.

[2016-11-06 17:56] viridia commented on #773
Since updating to 0.5.0 I'm not seeing this anymore.

[2016-11-06 18:01] viridia commented on #468
A related problem I have is that Apollo often tries to recover from errors that are unrecoverable, which causes the application to go into an infinite loop, spewing hundreds of errors on the console and consuming 100% CPU. I find that I frequently have to go into the task manager and kill the page in order to reload it, even for simple things like dumb typos in my React code, something I almost ne

[2016-11-06 18:05] viridia commented on #863
So the bottom line is:

1) I think I'm using createFragment wrong.
2) If the name were changed to 'createFragments' it would be less likely for people to make this mistake.
3) It's not possible to write a unit test for this case in TypeScript because it would violate the static type guarantees.
4) It would also help to validate the inputs to client.mutate and show a more helpful error message.

[2016-11-07 04:41] tmeasday opened #877 "`observable.currentResult()` does not use optimistic responses"
Test and fix coming.

[2016-11-07 08:38] Torsten85 commented on #870
ok, lets say we have this mutation:

[2016-11-07 08:47] Torsten85 commented on #870
ok lets say we have this query & mutation:
[code]

if we use this mutation in with a graphql `updateQueries` function, we get
[code]
as previous result. And we can update the query to include the mutation result without any problems.

But if we use `options.reducer` like this:
[code]
the `previousResult` data is missing the `__typename` field.
Manually adding this field to the query works, but it

[2016-11-07 21:28] helfer commented on #870
@Torsten85 ok, I think that shouldn't be too hard to fix. Do you want to give it a try and make a PR!?

[2016-11-07 21:32] helfer commented on #859
@jonathanheilmann I'd be very surprised if refreshing the page didn't clear the store, since it basically re-initializes everything. Are you sure about that?

[2016-11-07 21:32] helfer commented on #468
@viridia can you file an issue with a specific example for the infinite loop thing? This is the first time I hear about it.

[2016-11-07 21:37] Torsten85 commented on #871
@helfer I gave it a try and did a pull request. #879

[2016-11-07 22:24] jpshelley opened #881 "Option to stringify variables"
Currently our backend graphql server only accepts a variable object which has been stringified:
[code]
But Apollo React does the following:
[code]

Does it make sense for Apollo to support this and if so where would the option be? I can submit a PR but curious if it makes sense for it to live in the `NetworkLayer` or the `graphql` object in `react-apollo`

[2016-11-07 22:31] stubailo commented on #881
I think it would be best to update your server to accept variables in the other way. Several resources agree that this is the correct way to send variables:

- graphql.org: http://graphql.org/learn/serving-over-http/
- GraphiQL: https://github.com/graphql/graphiql/pull/168
- Apollo Client network interface

I would suggest that if you need this functionality you can implement it as a network inter

[2016-11-07 22:36] jpshelley commented on #881
@stubailo currently using a middleware to do this actually. I noticed my GraphiQL app actually is still using a stringed version of variables (not sure if I need to update it)

Our backend server is also in the process of updating GraphQL and it will soon support non-stringifies variables, however I wanted to bring up the issue in case others ran into the same thing and if it should be supported.

[2016-11-07 22:42] stubailo commented on #881
Sounds great, I'm glad there is a simple workaround! I hope that works well for you, please let me know if problems arise.

[2016-11-07 22:42] #881 closed

[2016-11-07 23:06] #877 closed

[2016-11-08 07:48] viridia opened #884 "exception verbosity / infinite error loop"
Here's an example of what I was talking about: I made a simple mistake (misspelled the name of a property of my component) and instead of getting a simple exception trace, I get the following (see attached log file):

[console.log.txt](https://github.com/apollostack/apollo-client/files/577573/console.log.txt)

I realize that this isn't much to go on, since the stack traces aren't very informative

[2016-11-08 07:52] viridia commented on #884
Here's more information: a stack trace from one of the repeated entries from the previous log file. Note that 'errorDisplay' is a react component I wrote that formats the Apollo error into a readable format on screen - that is, whenever I see props.data.error, I render an errorDisplay component instead of what would have been rendered normally.

[code]

[2016-11-08 10:54] bkniffler commented on #468
I want to affirm @viridia s observation, apollo makes it hard to debug my app and it swallows many errors in such a way that its impossible to find the cause (except when you stop on exceptions).
[code]

Is this something that is currently being worked on, is there any known workaround? I can't believe people would work with such a major issue going on.

[2016-11-08 14:14] svrcekmichal commented on #851
Oh, finally found it. This one missing feature is killing my app, so no need to create new issue.

[2016-11-08 22:38] helfer commented on #773
Closing this since it seems to have been solved. If anyone runs into a similar issue, please also make sure that you're properly binding all the method calls to your Apollo Client instance where necessary, e.g. `client.methodX.bind(client)` .

[2016-11-08 22:38] #773 closed

[2016-11-08 22:39] helfer commented on #833
Can someone here comment on whether this is still happening? If it is, I would appreciate a repro or failing test.

[2016-11-08 23:14] helfer commented on #876
are you using transport batching by any chance?

[2016-11-09 00:15] bkniffler commented on #833
I tried to isolate the issue, but it was hard to reproduce. I didn't have any more issues in my projects since the patch though, so I'm okay with closing this if you guys are. I'll keep a close eye on my console.

[2016-11-09 00:28] drFabio commented on #833
I couldn't isolate it but I think cloning is the best approach than
checking undefined. A similar issue seems to be related to the race
condition and it seems cloning would be more fail proof. But then again
without a failing test there is no proof to that

On Nov 8, 2016 10:15 PM, "Benjamin Kniffler" <notifications@github.com>
wrote:

[2016-11-09 01:38] #859 closed

[2016-11-09 06:16] richardkall commented on #876
Yes.

[2016-11-09 08:36] miwo100 opened #888 "inline enum arguments"
as discussed in https://github.com/apollostack/apollo-client/issues/183 you have to hand over enums by inline parameters. I tried this to pull a list of repositories of my GitHub account sorting them by name in ascending order, but I get:

[code]

Here the graphql query:
[code]

and the query execution:
[code]

What am I doing wrong ?

[2016-11-09 10:17] svrcekmichal opened #889 "With transportBatching enabled useAfter does not get raw response"
With transportBatching if request is returned with status like `401` afterwares does not receive response but only response body

After little bit of digging in source code I found comment `// made public for testing only` [link](https://github.com/apollostack/apollo-client/blob/master/src/transport/batchedNetworkInterface.ts#L51) Should we be afraid? What is the future of batching?

[2016-11-09 17:54] helfer commented on #889
@svrcekmichal Are you sure this happens only when batching is turned on? If so, it shouldn't be too hard to write a PR with a failing test. Do you think you could help with that?

The batchQuery function is only called from the Network Interface [here](https://github.com/apollostack/apollo-client/blob/master/src/transport/batchedNetworkInterface.ts#L40). I just kept it public because there are a f

[2016-11-09 18:28] helfer commented on #803
Implemented a simple version in #886

[2016-11-09 18:59] helfer commented on #875
@chaffeqa Could you file this issue on react-apollo? That's where it most likely belongs. A reproduction or failing test case would be great as well!

[2016-11-09 18:59] #875 closed

[2016-11-09 21:06] svrcekmichal commented on #889
Well, the issue is with this [line](https://github.com/apollostack/apollo-client/blob/master/src/transport/batchedNetworkInterface.ts#L68) because in afterwares you receive only response data, not whole response object. You can't check for response status etc.

For now I see only one solution and that is to little bit change the api of afterwares in batchedNetworkInterface and that is to call this

[2016-11-09 23:21] yurigenin opened #890 "Exception after mutation when using reducer vs updateQueries"
`writeToStore.js:163 Uncaught Error: Store error: the application attempted to write an object with no provided id but the store already contains an id of Customer1 for this object.`

I'm getting this exception but only when using reducer on a query instead of updateQueries on mutation. The problem seems to be that when the updateQueries is called all the nested objects in the 'prev' parameter hav

[2016-11-09 23:26] yurigenin commented on #890
Looks like it is exactly the same issue as #870

[2016-11-09 23:41] helfer commented on #890
Closing this as a duplicate of #870

[2016-11-09 23:41] #890 closed

[2016-11-10 01:26] helfer commented on #889
I think with transport batching returning HTTP error codes doesn't make that much sense, but I guess you need that when you're sitting behind a gateway? I don't think your suggestion solves this though. What you really want is the entire response object. Individual results in the array will not have any HTTP status code associated with them, only the raw response will.

I think we'll need to patch

[2016-11-10 01:27] helfer commented on #889
@svrcekmichal if you have time to make a PR that adds the entire response object as rawResponse, I think that would be a good start. Just make sure to add a test as well!

[2016-11-10 06:30] svrcekmichal commented on #889
I will have time probably next week so I will do that, if no one will be faster.

Offtopic: How are you doing auth over GraphQL? How are you handling unahtorized access and letting client know that?

[2016-11-10 15:30] jamiter opened #891 "Rejected watchQuery promise is uncatchable"
**Intended outcome:**
I was trying to use `watchQuery` and used an `error` handler when subscribing to updates on the returned observer:

[code]

I expected this to handle the error without any issues.

**Actual outcome:**
When the underlying query fails it correctly calls the error handler but also prints this in my console:

<img width="588" alt="screen shot 2016-11-08 at 16 57 18" src="https://

[2016-11-10 22:01] danimbrogno commented on #876
Had the same problem, switching to normal network interface solved the problem.

[2016-11-10 23:39] helfer commented on #851
@svrcekmichal Can you share your use-case? Depending on how compelling it is, I might prioritize this feature.

[2016-11-10 23:42] helfer commented on #468
@bkniffler we're working on error handling in general, but not this particular part just yet. I think changes will have to be made mainly in react-apollo. Maybe @jbaxleyiii or @tmeasday can take a first look?

[2016-11-11 00:24] stubailo commented on #888
Which version of Apollo Client are you using?

[2016-11-11 00:48] helfer commented on #891
thanks for reporting this. It's due to two different code paths (watchQuery and refetch) being slightly different. I think we could just suppress the warning here by catching the error. Do you have time to try it in your app and make a quick PR? https://github.com/apollostack/apollo-client/blob/0a985dca17c82f3fef4651c214c0d606e9c609b5/src/core/QueryManager.ts#L630

[2016-11-11 00:58] helfer commented on #850
I would either call refetch on the individual queries, or use `resetStore`, which refetches all active queries. I think in your case `resetStore` is the right approach anyway, because you want to make sure there's no other data in the store that should no longer be there after logging out.

[2016-11-11 01:01] helfer commented on #820
@andrewnoh are you still seeing this in 0.5.1?

[2016-11-11 01:03] #826 closed

[2016-11-11 03:41] helfer commented on #876
@richardkall actually, after looking at your code I realized that this is due to an invalid response from your server. The response should be an array of GraphQL results `[{ data: ..., error: ... }, ...]`. Your server just returns a single response, which is not a valid JSON response for a batched request. Your middleware will have to check if the request expects a single response or an array.

I

[2016-11-11 03:41] #876 closed

[2016-11-11 04:05] helfer opened #894 "Make tests play nice with addTypename"
Currently the mocking that we use for most tests doesn't let us test `addTypename`, because it matches queries to responses by comparing strings with ===.

[2016-11-11 05:48] miwo100 commented on #888
from package.json:
[code]
in node_modules I found 0.4.22

Should I upgrade to ^0.5.2 ?

[2016-11-11 06:07] miwo100 commented on #888
Great, with 0.5.2 everything work fine, thanks @stubailo

[2016-11-11 06:07] #888 closed

[2016-11-11 06:13] svrcekmichal commented on #851
I'm using neverending scroll on one of pages, and I'm using loading status in fetchMore to prevent duplicate fetching.

[2016-11-11 08:57] bkniffler commented on #468
I don't know why, but for some reason its gotten better be reinstalling my modules. Sometimes errors in my frontend will be thrown as apollo query errors (as if they happened in the backend), but at least I get stacktraces.

[2016-11-11 10:21] seeden commented on #850
@helfer I see. I will use resetStore for login/logout but I think that sometimes you want to call refetchQueries without mutation as well

[2016-11-11 14:13] sedubois commented on #645
Agreed, would indeed be great not to have to do an ugly `import 'isomorphic-fetch';` just to get Apollo working server-side. IMHO Apollo shouldn't rely on any global variables.

[2016-11-11 14:17] sedubois commented on #645
How about changing code to something like this?
[code]
And adding `node-fetch` in your `package.json`.

[2016-11-11 16:14] voodooattack commented on #731
Can someone please reopen this? The same thing is happening with ObservableQuery and QueryManager. The circular dependency breaks the browser bundle.

[2016-11-11 20:17] stubailo commented on #731
Can someone help resolve this, and also add a test we can run on CI to avoid it coming back?

[2016-11-11 20:50] voodooattack commented on #731
@stubailo A good alternative is compiling to es6 and adding it to package.json via the  jsnext:main/module entries.

This is the bug responsible: rollup/rollup-plugin-commonjs#105

If we eliminate that step from the compilation everything should work fine.

[2016-11-11 20:57] stubailo commented on #731
Either one works for me, but we need to make sure we add a test so that we don't break it again in the future.

[2016-11-11 23:51] richburdon opened #897 "Sometimes the same fragment is added to a query twice"
I have a parent container List that renders a list of child container Items. I also have pagination working (i.e., a fetchMore property that implements an updateQuery function).

However, if I change the value of one of the query variables (e.g., a "text" filter) then paging causes an error (the Item fragment is included twice as below).

From my experience with Relay, the parent query variables s

[2016-11-11 23:54] stubailo commented on #897
Could you file this on `react-apollo` please?

The above looks like a bug, where we are accidentally appending the fragment twice.

Can you reproduce some of your code here? Where you are running the query and setting the variables, etc?

[2016-11-11 23:59] voodooattack commented on #731
@stubailo Just tried creating a new TypeScript configuration for es6, I'm getting these errors:

[code]

Should I replace all the offending import statements, or are there any special considerations when dealing with `import = require()`?

Also, how do you suggest we implement the tests? Shall I add rollup as a dev-dependency?

[2016-11-12 00:01] richburdon commented on #897
Thanks @stubailo:

Child Item

[code]

Parent List:
[code]

[2016-11-12 00:11] stubailo commented on #731
Feel free to replace the import statements as long as they work the same way! I'm not an expert on imports in TS.

And yes, adding rollup as a dev dependency and just creating a new script would be great. Similar to how we have the file size script.

[2016-11-12 00:13] scf4 opened #898 "Issues implementing into React Boilerplate"
I followed the Apollo client docs and got this:

`ApolloClient.js:163 Uncaught Error: Existing store does not use apolloReducer. Please make sure the store is properly configured and "reduxRootSelector" is correctly specified.(…)`

Full diff here: https://github.com/scf4/react-boilerplate-graphql-test/commit/726e8c247c3bdb595882c91caa170b7dbdf29a8c

[2016-11-12 00:34] richburdon commented on #897
Temporary workaround:

[code]

[2016-11-12 00:45] stubailo commented on #897
Great workaround.

If you could submit a failing test that would be super helpful as well: https://github.com/apollostack/apollo-client/blob/dc8cc0063d93a8c15a90771bc88183bc058b5e1b/test/fetchMore.ts

[2016-11-12 00:46] voodooattack commented on #731
@stubailo Well, this happens when I replaced all the `import = require` directives with `import x from y`:

[code]

I've reverted my changes and I'm trying a different approach. It looks like TS compiles the files anyway despite the errors. Is it OK if I just make the npm script ignore the return code and continue?

Something like this:
[code]

I can have it hide the errors if that's preferable.

[2016-11-12 00:48] stubailo commented on #731
I mean, I suspect the output might not be valid ES2015 in that case, but if it works then great!

Have you tried `import * as x from y`?

[2016-11-12 00:51] richburdon commented on #897
OK. I'll try to wrap my head around that and have a stab at it (might be closer to Monday though).

Thanks for the comments.

[2016-11-12 00:53] stubailo commented on #898
That's surprising - what does the redux dev tools say about the initial store state?

Here's where the error is thrown: https://github.com/apollostack/apollo-client/blob/992a13deb82b43a82e7392aae21ef349a2b98a5d/src/ApolloClient.ts#L421

[2016-11-12 00:54] voodooattack commented on #731
@stubailo Yeah:

[code]

I'll test with the invalid stuff, if it works then we can ignore the errors, since it wouldn't compile the es6 version if the commonjs version isn't compiling anyway.

[2016-11-12 00:54] stubailo commented on #897
Yeah, we won't be able to get to a fix before Monday either. Thanks for the really detailed report!

[2016-11-12 00:55] stubailo commented on #731
This is one of the things that makes me want to stop depending on lodash and just put those utilities in the code directly.

[2016-11-12 00:56] scf4 commented on #898
I guess there's no store it can connect to. I must be missing something very simple, surely?

[2016-11-12 00:58] stubailo commented on #898
Oh, for redux dev tools to work you have to do something like this: https://github.com/zalmoxisus/redux-devtools-extension#12-advanced-store-setup

Kinda surprised the react boilerplate doesn't do it by default.

[2016-11-12 00:59] stubailo commented on #898
Weird, looks like they do have it: https://github.com/mxstbr/react-boilerplate/blob/3fdad6a888b68e2c538dfcd52f4594fea7b9e4d4/app/store.js#L26

Perhaps the store is actually being initialized in the wrong place somehow?

[2016-11-12 01:01] voodooattack commented on #731
Well, there's this: https://www.npmjs.com/package/lodash-es, too bad it only exports es6 :)

[2016-11-12 01:04] stubailo commented on #731
Hmm, now that I think of it - is it even worth having an ES6 module version of our dependencies don't have it? Users of the package will still need the commonjs plugin anyway.

[2016-11-12 01:06] stubailo commented on #894
Right now we seem to be moving in the direction of a "standard transform", so it could be reasonable to have the network interface just apply it.

[2016-11-12 01:19] voodooattack commented on #731
Damn, that's right! I didn't think that one through.

Okay, so back to square one. What should I try now, remove the circular dependency?

[2016-11-12 01:32] helfer commented on #894
Yes, I think the transformation shouldn't happen where it currently does, because we don't want to return `__typename` to the user if it wasn't asked for. I'm not sure if we somehow need the information about what transform was applied in the client itself or not. If we don't, then the network interface sounds like a very reasonable place to do this.

[2016-11-12 01:33] stubailo commented on #894
Oh, I meant just for the tests, but we could maybe do the same at runtime as well.

[2016-11-12 01:37] helfer commented on #850
@seeden Yeah, sure! When you have a specific use-case for it, I will be happy to accept a PR 🙂

[2016-11-12 01:37] #850 closed

[2016-11-12 01:39] stubailo commented on #731
if you don't want to work on removing the circular dep, you could start by adding a failing rollup compilation test, which will make a fix much easier.

[2016-11-12 01:40] helfer commented on #851
And you would do that by graying out the "load more" button or prevent automatic fetching if the networkStatus is "fetchingMore"?

[2016-11-12 04:12] yurigenin opened #899 "Best practice when a mutation deletes an object"
What is the best practice for deleting items from the apollo store when a mutation deletes them on the server? I could not find anything related to this in the docs. Do I just have to return ids of deleted items as a result of mutation and then use reducer/updatequeris to manually delete items from the store? Or there is some way to let apollo client handle it automatically? Any help is appreciate

[2016-11-12 04:21] yurigenin commented on #897
I had the same issue. The workaround for me was to explicitly specify the same query and fragments in the call to fetchMore.

[2016-11-12 04:55] voodooattack commented on #731
#900 is up, sorry if I missed anything, I'm not too used to contributing to projects other than mine yet.

[2016-11-12 08:10] sedubois commented on #898
NB: this is the same issue as https://github.com/apollostack/react-apollo/issues/267

[2016-11-12 08:22] oricordeau commented on #585
Hi folks,

I'm working on a patch which adds a `CustomScalarManager` class with the following features :
* built-in types (which you can use or not, depending on your needs)
* user-defined types
* you can register a type after instanciation
* you can also un-register types

I have a the following questions :
1. Which built-in types would you consider worth implementing ? At the moment I have Date

[2016-11-12 11:58] svrcekmichal commented on #851
@helfer I'm listening to scroll event and if user scroll bellow point, I'm fetching more. Then i use loading status from fetchingMore to indicate that something is loading and also if if user scroll up the point and again bellow point I'm preventing duplicite loading of same page

[2016-11-12 15:01] DenisNeustroev commented on #898
https://github.com/mxstbr/react-boilerplate/issues/1041#issuecomment-260126495

[2016-11-13 04:18] yurigenin opened #902 "Question about stopped queries and potential bug"
I have two views in my app and each view is wrapped in Apollo component. Every time I switch between these two view a new query is being created for a component I switch to and the query for the component being switched away from is stopped. So when switching 20 times between these two views I end up with 20 queries in the apollo store but only the last one is in a running state. So the question I

[2016-11-13 04:59] richburdon commented on #621
+1 on @viridia's suggestion.

However, to go further -- not only invalidate the current query for the current variables, but also to optionally invalidate (or update!) other cached result sets with different variables.

E.g., suppose I have a ListView component that has a ListQuery that takes a filter variable. As I understand things, Apollo caches the results for each set of results for different

[2016-11-13 05:25] richburdon opened #903 "Updating Queries on Mutation (for queries issued with different variables)"
Using either the Query's options.reducer or the Mutation's props.updateQueries we can "patch" the current query result to reflect the recently executed mutation.

But this seems only to apply to the currently cached query result for the current variables (i.e., set by the query's options(props) function).

For example, say I have a ListView that has a ListQuery that can be parameterized by a $filt

[2016-11-13 05:42] yurigenin commented on #903
When the reducer or updateQueries are called there is one extra property passed along with mutationResults: queryVariables. So, what you are supposed to do is to check which variable was used for this query and update your query result accordingly. So, in your case, your updateQueries will be called twice - once for List A query and once for List B query. Alternatively, both reducers will be calle

[2016-11-13 18:46] richburdon commented on #903
Hi @yurigenin, Yep, I'm using queryVariables already.

Just to be clear and make sure I understand this:

I have a single graphql container, ListView. The parent react component configures the container like this, `<ListView filter={ filter }/>`, where the filter variable is configured via params passed by the react-router.

I have something like this to configure the ListView query:

[code]

If I

[2016-11-13 21:04] yurigenin commented on #903
Before we continue, the example you show would not work. You are wrapping your ListView into Apollo HOC. So you should export this HOC and use it in the parent. Using <ListView filter={filter} /> directly will bypass Apollo HOC altogether. Is it a typo on your part?

[2016-11-13 21:43] yurigenin commented on #903
Before you respond and assuming it was a typo in your example, looking at the apollo-client code I'm pretty sure it is a bug. When you switch variables the same query id is being reused when fetching data so in the `queries` property of the `apollo` state you have the same query but its variables are different. Once the query returns, the `data` in the store has a new query result. So now you have

[2016-11-13 22:19] richburdon commented on #903
Thanks for the detailed response.

First, yes I'm exporting and using the HOC; the convention I'm following is to use the same name.

[code]

OK, thanks for confirming this. I don't understand your workaround though. Here's my query (already has id and __typename).

[code]

Can you point me at the relevant code you mention where the results are stored/processed.

Thanks again.

[2016-11-13 22:38] yurigenin commented on #903
In your case the workaround will not work because both queries, as I understand, return different set of items based on a filter.

This is a bug in the `QueryManager.collectResultBehaviorsFromUpdateQueries`. When the variables change a new query should be generated under a different query id so that mutations can update all query results not just the one that was returned last.

I'm not a contribu

[2016-11-13 22:45] yurigenin commented on #903
You need to add a Redux extension from the chrome app store to your dev tools. There, you just go to the `state` tab and look under the `apollo` key to find both queries (under `queries` key) and results (under `data` key). Look under `ROOT_QUERY` to follow all the normalized query results. You will see that in your case you will have different results based on a different filter value. But under

[2016-11-14 02:05] tmeasday opened #904 "Convenience method for initial state."
Now that you need to pass in just the data part, perhaps we should make it easier to do:

[code]

See http://dev.apollodata.com/react/server-side-rendering.html#renderToStringWithData

[2016-11-14 02:05] tmeasday commented on #904
(Pretty easy to make a mistake with the above, in fact I think I just did).

[2016-11-14 02:31] linonetwo opened #905 "Can mockNetworkInterface be exported here?"
There is a fancy mockNetworkInterface at https://github.com/apollostack/react-apollo/blob/master/src/test-utils.tsx , can it be isolated or be exposed here?

It might be useful for client testing or playing with react's storybook.

[2016-11-14 02:31] linonetwo commented on #905
https://github.com/apollostack/react-apollo/issues/316

[2016-11-14 06:46] stubailo commented on #897
Looks like the fix would be in here: https://github.com/apollostack/apollo-client/blob/372bca9881b374caf56d0cbd0795a88dcc13ec0f/src/queries/getFromAST.ts#L150

[2016-11-14 12:56] helfer commented on #897
@stubailo are you suggesting that we "fix" this by checking whether a fragment with the same name already exists on the query? The other fix would be not to attach it twice in the first place. I'm leaning towards a simple fix for now, because we'll soon want to refactor how we transform queries anyway.

[2016-11-14 13:28] derekdreery commented on #899
http://stackoverflow.com/questions/40484900/how-do-i-handle-deletes-in-react-apollo/40505977

[2016-11-14 14:08] scf4 commented on #898
Solved it. I think the main issue was missing the `client` in this line in `app.js`:

`const store = configureStore(initialState, apolloClient, browserHistory);`

It was very simple to implement otherwise. Thanks!

[2016-11-14 17:51] jnwng commented on #897
@helfer see #906 for a (fairly) simple fix for this particular issue (which is not attaching it twice in the first place)

warnings about fragment name collisions are already being surfaced in  [createFragment](https://github.com/apollostack/apollo-client/blob/master/src/fragments.ts#L39)

[2016-11-14 22:12] helfer commented on #899
@yurigenin Right now `updateQueries` or result reducers are the recommended way to remove items from the store. We're open to re-implementing better ways of doing this, so if you have an idea, please share it here!

[2016-11-14 22:21] #898 closed

[2016-11-14 22:24] helfer commented on #905
@linonetwo I assume this is the same mockNetworkInterface as the one we have in apollo-client [here](https://github.com/apollostack/apollo-client/blob/master/test/mocks/mockNetworkInterface.ts)?

If you would find it useful, we can definitely export it. Would you mind making a PR (and later also a PR to react-apollo, to make sure that it doesn't have an extra copy of the mockNetworkInterface)?

[2016-11-14 22:32] helfer commented on #903
@richburdon Thanks for pointing it out. @yurigenin is right that apollo-client currently reuses the query id, which means you can't apply updates to those results. What should really happen is a bit of a tricky question, because technically your old query is no longer active, and so its result shouldn't be updated anyway. But since in your case you are switching back and forth, you would naturally

[2016-11-14 22:36] helfer commented on #902
@yurigenin If the queries are stopped, they should be removed from the `queries` part of the store. If that's not the case, then I think it's a bug and we should fix it. You could make a PR if you want!

Just to confirm: you are switching components and seeing more and more queries in your store with the Redux devtools?

[2016-11-14 22:38] yurigenin commented on #903
Unfortunately, creating different components defeats the purpose of variables in this case. I can have a view that allows users to filter by 4 dropdowns. Each dropdown is represented by a variable. So potentially, I can have 16 different states. Creating 16 different views to represent each state would be prohibitive and non-intuitive.

[2016-11-14 22:43] helfer commented on #851
@svrcekmichal ok, makes sense. I'll try to get this shipped in the near future.

[2016-11-14 22:53] wizardzloy commented on #851
This feature is also very important to our app, I would love to receive the "fetchingMore" flag in the wrapped component during the infinite scroll.

[2016-11-14 23:06] yurigenin commented on #902
@helfer yes, the redux devtools show lots of these queries whose 'stop' property is false.

[2016-11-15 00:17] guilhermedecampo commented on #207
@helfer I would like to know which properties the type `RequestInit`accept.
How can I do that? This should be declared somewhere at least in the docs no?

Thank you

[2016-11-15 01:51] linonetwo commented on #905
Fine， do it after lunch

[2016-11-15 01:51] linonetwo commented on #905
Fine， do it after lunch

[2016-11-15 01:52] linonetwo commented on #905
Fine， do it after lunch

[2016-11-15 01:55] viridia commented on #468
Any further thoughts on this? As much as Apollo has been a productivity boost for me, I'm frustrated by the amount of time I spend chasing down bugs that I ought to be able to catch in the debugger, often having to resort to 'printf'-style debugging techniques.

It would be nice if Apollo's error handler could use the source maps to unscramble the stack trace...

[2016-11-15 02:00] viridia commented on #863
It occurs to me that one things that would be useful is another set of unit tests that were written in JavaScript rather than TypeScript. This would allow you to test for erroneous inputs that are not possible in TypeScript.

In other words - a lot of people who use this library are going to be writing in JS, not TS. And the library should be doing run-time type checks to guard against the most co

[2016-11-15 04:05] stubailo commented on #863
@viridia you can certainly write those tests in TS by casting to `any`, like `createFragment({ wrong: "object" } as any)` etc.

[2016-11-15 04:06] yurigenin commented on #903
@helfer I think we could fix this by saving information about all combinations of variables that this query was running with in the past. So before the query is reused we add a current set of variables to the query store. Then, when we need to call reducers we use these to find all the query results in the store and pass them to the reducers. What do you think?

[2016-11-15 13:22] helfer commented on #468
@viridia I think #910 will help a lot. Should be released within a day 🙂

[2016-11-15 13:24] helfer commented on #207
`RequestInit` is defined in fetch (isomorphic-fetch):

[code]

[2016-11-15 13:29] helfer commented on #902
@yurigenin could you provide a reproduction or better yet a PR with a failing test? Then we should be able to fix it pretty easily.

[2016-11-15 16:10] novus57 opened #912 "Can't get full markup from "renderToStringWithData""
I can't get full page markup, only part without queries. Intial state come with data but markup doesn't full. Sorry for my English. Thanks a lot for help.
[code]

[2016-11-15 18:53] kay-is commented on #800
I can confirm this. `strictNullChecks: true` is the cause. The definitions probably need to be a bit "stricter" haha.

[2016-11-15 21:01] judikdavid opened #915 "Uncaught TypeError: this.queryObservable._setOptionsNoResult is not a function"
I've wanted to use dataIdFromObject feature, to automatically update the cached versions of my queries, but sometimes I encouter this error:

`Uncaught TypeError: this.queryObservable._setOptionsNoResult is not a function`

The top of the stack trace:
[code]

I'm using 0.5.3 of apollo-client, if I downgrade to 0.4.21, I do not get this error.

I would provide more information, but I don't know wha

[2016-11-15 21:18] helfer commented on #915
Maybe you forgot to update react-apollo when you updated apollo-client?

[2016-11-15 21:31] judikdavid commented on #915
Yes, that did the trick. Thank you very much for the quick response.

[2016-11-15 21:31] #915 closed

[2016-11-15 21:31] helfer commented on #800
Ok, so the solution would be for us to turn `strictNullChecks` on in the tsc options for apollo-client? If that's all that's needed, I'd be happy to accept a PR @Axure @kay-is 🙂

[2016-11-15 21:46] helfer commented on #912
@novus57 sorry, I'd like to help but it's pretty hard without additional information. Could you provide a link to a repository with a minimal reproduction of the problem?

[2016-11-15 21:55] acorcutt commented on #912
I had same problem, renderToStringWithData changed in react-apollo 0.6.0 update its just `content` now not `content.markup`
also you need to get the state from the client now not the callback..
const initialState = client.store.getState()[client.reduxRootKey].data;

See http://dev.apollodata.com/react/server-side-rendering.html#renderToStringWithData

[2016-11-15 22:39] dcworldwide commented on #195
In terms of a roadmap, you could possible use the Projects feature of github to define near term goals as issues/prs. I think this would be a neat idea for passive observers and helpful for would be contributors.

I've been watching the pulse / issues of this repo every few days to try and understand the teams near term goals. I still don't know the answer.

[2016-11-16 00:28] linonetwo commented on #905
I just move them to /src since export something under /test is kind of weird.

https://github.com/apollostack/apollo-client/pull/917

[2016-11-16 00:30] linonetwo commented on #905
First time to PR, please point out what I did wrong : )

[2016-11-16 06:42] helfer commented on #195
@dcworldwide we actually have a document like that, I just need to add it to the repo! I will do so shortly, thanks for the reminder!

[2016-11-16 06:49] helfer commented on #912
@novus57 does @acorcutt 's solution solve your problem?

[2016-11-16 06:55] stubailo commented on #905
I don't think putting this in `src` is good - it adds more payload size to the library for no good reason.

[2016-11-16 09:16] novus57 commented on #912
@helfer sorry, but I can't give more code due to license requirements. No, it doesn't.

[2016-11-16 09:17] novus57 commented on #912
@acorcutt thanks, but it doesn't help.

[2016-11-16 10:00] cupools opened #920 "cannot override request header with batchedNetworkInterface"
Hi all,
I found the follow code in [batchedNetworkInterface.ts](https://github.com/apollostack/apollo-client/blob/master/src/transport/batchedNetworkInterface.ts#L120-L127) which overrides the given `opts`, and thus I can't set my custom header. But it is possible with [networkInterface](https://github.com/apollostack/apollo-client/blob/master/src/transport/networkInterface.ts#L162-L170).

So any

[2016-11-16 10:17] helfer commented on #920
@cupools I think this was not intentional, just a mistake. It seems the order of the arguments to `assign` was swapped. Would you mind making a PR to fix it? You can just make it exactly the same as in NetworkInterface.ts. Also don't forget to make an entry in the changelog. Thanks!

[2016-11-16 10:36] dcworldwide commented on #195
@helfer ok cool. Thanks guys

[2016-11-16 10:49] cupools commented on #920
I'm sorry that I am new to `apollo-client` and not familiar with ts. Test cases may be necessary but I can not do pretty good. So somebody else who resolves the question will be appreciated.

[2016-11-16 11:09] helfer commented on #920
@cupools don't worry, you don't have to be an expert to give it a try! We all started at zero :wink:
For this pull request I was just thinking about changing that one line, and mentioning it in the changelog. A test would be nice, but I would say it's not required for such a minor change.

If you're interested in contributing to open-source software, this could be a good place to start contributin

[2016-11-16 11:38] cupools commented on #920
@helfer I will make a try. Thanks for your encouragement 🙂

[2016-11-16 15:33] SamWyld commented on #820
We have the same problem with normal react (not native). Query init action is dispatched after resetStore is being called. In fact if I go back to the component this query belongs to and call resetStore again it would call the same query twice. It seems like something is not being unmounted.

[2016-11-16 15:48] yurigenin commented on #903
@stubailo @helfer Do you guys think this is something that you will be actively looking into in foreseeable future? This is one of the pretty common use cases and creating a separate component every time you want to use a different value for a variable is not a very credible solution, I would think. I have a presentation in a couple of weeks to evaluate different options for graphql clients and th

[2016-11-16 15:51] yurigenin commented on #899
@helfer @stubailo How do I actually purge the objects from the store? If I use reducers/updateQueries it only removes objects from the lists that contain them. But objects themselves stay in the store and become pretty much orphaned.

[2016-11-16 16:01] derekdreery commented on #899
@yurigenin I think at the moment, you'd need to remove them manually, but I may just have missed that functionality when reading through the code

[2016-11-16 16:45] helfer commented on #899
@yurigenin right now there's no cache expiration. Deleting objects manually can be a bit dangerous, because you need to make sure that no other query is using them.

A few people have already asked for this, so here's a discussion around cache expiration: https://github.com/apollostack/apollo-client/issues/825

[2016-11-16 16:49] helfer commented on #903
@yurigenin I'm not sure if this is something worth building in the short term, but it would definitely warrant some design discussion. I think the problem is quite clear, and it's real, so we should have a solution, but it's not clear to me what a good solution to this would look like that doesn't either make the code a lot more complicated or the usage a lot more complicated. If we can (collectiv

[2016-11-16 16:52] helfer commented on #820
@SamWyld oh, ok! If you could make a (relatively) minimal reproduction with just normal react, I think we could get this bug found and fixed pretty quickly! 🙂

[2016-11-16 17:09] helfer commented on #912
@novus57 ok, no problem, but as long as nobody else runs into the same issue and is able to somehow convince me that this is a bug in apollo-client, I can't spend time looking into it. I hope you understand.

You can also try to get help on the slack channel or on stackoverflow, maybe that will be easier.

[2016-11-16 17:23] yurigenin commented on #903
@helfer I just found another issue where I get an apollo exception when using optimistic response while using a mutation.

So, I have a wrapped apollo component that accepts a variable that can take on two values: 'Open' and 'Closed' (in real life it will be more than just two but for the sake of the discussion let's just limit it to two).  The component is supposed to show items in a list and ite

[2016-11-16 17:43] kamilkisiela commented on #527
Related #917

[2016-11-16 17:44] kamilkisiela commented on #905
Related issue #527

[2016-11-16 18:16] SamWyld commented on #820
I made a quick example for you:
https://github.com/SamWyld/resetStore-Issue

[2016-11-16 18:18] yurigenin commented on #903
@helfer Actually, I just switched to two different HOCs for the above scenario but I'm still getting the same error when using optimistic response in the mutation. So, it looks like it is a separate bug.

The bug is that even if I now fetch fresh data for the second component, when its results are being processed the `optimistic` reducer still has the previous data and it is being used instead of

[2016-11-16 18:21] yurigenin commented on #903
@helfer I guess nobody sees this because the mutation results come in pretty quickly before you switch to another view that is affected by it. But putting a little delay and using optimistic response exposes the bug.

[2016-11-16 18:49] yurigenin commented on #903
@helfer @stubailo  The view will handle this error gracefully but it will result in an empty result. Only after the real mutation result comes back , the `optimistic` store will be purged and the view will be updated with results from the store. These results were available for a long time but were blocked by non-empty `optimistic` store. The problem is that that store has no info on what query re

[2016-11-16 19:30] mxmtsk opened #924 "data / mutation prop not passed to component"
I have the following component with a query and a mutation. But my Component does not receive the data and the mutation prop. Am I doing something wrong?

[code]

[2016-11-16 19:39] yurigenin commented on #903
@helfer  @stubailo  When we add a new `optimistic` branch we have access to resultBehaviors that contains info about queries and variables associated with the optimistic results they return. So we could add this info to each optimistic branch so when it is time to read query data from the store we can see if optimistic data matches the parameters of the current query asking for data. If yes, then

[2016-11-16 20:13] helfer commented on #903
@yurigenin if you've pinpointed the issue could you submit a pull request with a failing test? That would help me fix it quickly. 🙂

[2016-11-16 22:42] helfer commented on #924
@mxmtsk This is not the right repo for this question. I think you'll have more luck asking on react-apollo, or maybe stackoverflow because it seems unlikely to me that it's an actual issue with the library.

[2016-11-16 22:42] #924 closed

[2016-11-16 23:59] alexeygolev commented on #820
Same situation with (not native) react and react-router. In fact we're just following the auth example from the docs. We do resetState and redirect to login. We even tried to resetState on login page (in case there is a race condition)

[2016-11-17 00:33] intellix opened #927 "Change typed-graphql to @types/graphql"
Created a PR against DefinitelyTyped repository to update GraphQL typings to at least 0.8.0 (now I need bed). Opening this issue to track it so we can update here when it's in: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/12735

[2016-11-17 00:44] linonetwo commented on #905
So, refer to previous discussions, a new testing suite package?

I'm glad to offer help, but opening new repo is not what I can do ...

[2016-11-17 05:57] kishorevarma opened #929 "Improve warning about addTypename in the case of optimistic response"
Hi ,

I am getting following warning, even though I have added the option in my client, and I am getting __typename in all my fragment query results.

true option set in Apollo Client. Please turn on that option so that we can accurately
match fragments.

my client code as follow

[code]

am I doing anything wrong ?

[2016-11-17 06:13] GreenAsJade opened #930 "updateQueries updates _all_ instances of a parameterized query, not the "appropriate" one"
I have a query that gets the graph of a  specific`project`, like this:

[code]

and a mutation that adds a `variation` to a specific `project` like this:

[code]

The problem is that I can see this `updateQueries` function being called for every instance of the projectQuery that is in the store when the mutation runs.

This results in the information for every cached project being updated - so the

[2016-11-17 07:01] yurigenin commented on #930
Please see issue #903. It basically mentions similar issues.

[2016-11-17 07:12] yurigenin commented on #930
Another related one #902

[2016-11-17 07:58] helfer commented on #927
@DxCx can I assign this to you? You seem to be most familiar with the two typings packages.

[2016-11-17 08:11] DxCx commented on #927
Wow pretty neat job on the DT repo.
Lets wait for it to be merged and released to npm.
After that ill make sure nothing else we are using is missing (seems not)
And then we can switch..

[2016-11-17 08:13] GreenAsJade commented on #930
I agree that the two referenced issues are about the same topic.  #902 seems like the clear-cut bug part of this, and hopefully will get resolved quickly (the multiple instances of the same query in the store)

Unfortunately, #903 (parameterised queries all getting updated) got contaminated with a separate question about optimistic responses, and in the end I found it hard to understand which issu

[2016-11-17 08:34] #803 closed

[2016-11-17 08:35] helfer commented on #706
Implemented in #921

[2016-11-17 08:35] #706 closed

[2016-11-17 08:38] helfer commented on #332
Implemented in #921, documentation to follow shortly.

[2016-11-17 08:38] #332 closed

[2016-11-17 08:40] helfer commented on #525
This should be possible with #921 and/or result/reducers. It's not as straight forward as you might like, but I think together with custom redux reducers it's good enough for now.

[2016-11-17 08:40] #525 closed

[2016-11-17 08:43] helfer commented on #391
@stubailo can you remind me why this is a bad thing? It may not be the cleanest thing to do, but I've never actually had any problems with that particular piece of code as far as I remember.

[2016-11-17 08:44] helfer commented on #471
Closing since I think this a little bit outdated now.

[2016-11-17 08:44] #471 closed

[2016-11-17 08:49] helfer commented on #270
I think the right thing to do here is:

1. Handle partial results by calling `observer.next` instead of `observer.error` and write as much data to the store as we can. Thanks to error paths we can actually do this now.
2. Don't call `observer.error` on network errors while polling. Instead just stay in the `polling` network status and keep trying.

This approach will work well if we assume that pe

[2016-11-17 08:58] helfer commented on #897
Solved in #913

[2016-11-17 08:58] #897 closed

[2016-11-17 08:59] helfer commented on #870
Fixed in #880

[2016-11-17 08:59] #870 closed

[2016-11-17 09:00] helfer commented on #853
This will be implemented in graphql-tag and can be tracked there.

[2016-11-17 09:00] #853 closed

[2016-11-17 09:03] helfer commented on #889
@svrcekmichal do you think you'll still submit a PR for this? I'd be happy to merge it. For the other question, you should ask on stackoverflow or slack channel 🙂

[2016-11-17 09:09] helfer commented on #929
@kishorevarma the warning comes from [here](https://github.com/apollostack/apollo-client/blob/d7d48aeba971a7256d61d242dc2937ec55640268/src/data/readFromStore.ts#L105-L116). It's not clear to me how that could get called if your results all had `__typename` on them, so it would be really useful if you could provide a link to a minimal reproduction of the issue. Please also make sure you have update

[2016-11-17 09:56] kishorevarma commented on #929
Thanks @helfer , I think I found the issue, its because of optimisticResponse  where I am missing the  __typename in the deep fragments. I am removing __typename's inside component before sending to mutation due to mutation error saying __typename is unknown field.

In my component (its a simple Form) I am sending all the data that I got as a result of query including
modified form data. it would

[2016-11-17 11:15] #920 closed

[2016-11-17 11:29] leebenson commented on #264
Has there been any movement on this? At this point, I'm using stored queries for _everything_ - I don't see a reasonable way around it.

Having even one circular reference anywhere in the query path (User -> Posts -> User) can exhaust heap memory in V8 and essential DOS the API. The only effective way to guard against it (that I can tell) is to statically analyse the query _before_ executing (whic

[2016-11-17 11:40] helfer commented on #264
@leebenson I think @Poincare is working on a tool that would let us use prepared queries. I'm not sure how close to done it is.

@Poincare what's the status of prepared queries? If it's going to be done in the next month, I'd love to add it to the 1.0 roadmap.

[2016-11-17 13:27] nlhkh opened #932 "GraphQL syntax highlight"
Do you plan to support having queries in separate files?

The reason is we can have syntax highlight, and possibly type checking for queries.

[2016-11-17 13:53] helfer commented on #929
@kishorevarma sorry, I didn't quite follow your explanation. Were you able to find a solution or workaround? If so, is there something we can do to make this easier for people in the future?

[2016-11-17 13:57] helfer commented on #932
@nlhkh you can probably already do this with a webpack loader. The reason we use the `gql` tag everywhere is because that will make it easy to highlight syntax even when it's not in a separate file.

But in any case, this question isn't really related to apollo-client, so I will close the issue. If you really want, maybe you can ask the question here: https://github.com/apollostack/eslint-plugin-g

[2016-11-17 13:57] #932 closed

[2016-11-17 14:16] helfer commented on #930
@GreenAsJade The behavior you described is actually the intended behavior, as unintuitive as it may seem at first. `updateQueries` simply updates a query by name, so if there are multiple instances of that query, `updateQueries` will run for each of them. The reason is that updateQueries was designed as a pretty flexible way to update any currently active query, not just the current one (that's wh

[2016-11-17 14:51] yurigenin commented on #930
@helfer the problem is not that it updates multiple queries but that it updates multiple queries that are stopped long time ago and not active. I do not think it is by design?

[2016-11-17 16:40] carsonperrotti commented on #902
I am experiencing this as well.

![screen shot 2016-11-17 at 11 39 17 am](https://cloud.githubusercontent.com/assets/2063102/20398204/80982554-acba-11e6-8c5d-03114da713c4.png)

[2016-11-17 17:00] helfer commented on #902
Ok, I did a bit of digging and it turns out we no longer delete queries since [this PR](https://github.com/apollostack/apollo-client/pull/696). It's normal that they're in the store, but as you correctly point out they shouldn't get updated with `updateQueries`.

I think we can put in a simple fix in [this loop](https://github.com/apollostack/apollo-client/blob/ba0849bb88ecfe35f6c0a007b38007a994dd

[2016-11-17 17:08] yurigenin commented on #902
@helfer  Sure, I can take a stab at it. I'm finishing something for my day job today and will be happy to jump on it tomorrow. Just a little disclosure: I have never done github PRs so would need to tutorial on how to manage a subproject/forked repo on github. Thanks!

[2016-11-17 18:10] TSMMark opened #933 "Use of GraphQL interfaces causes component to always fetch data from server even if it should already be cached in redux"
~~I have a component which utilizes pagination, but it fetches data every time the component mounts, even if the data from the exact same query is already cached in redux. Is this expected?~~

*Edit: It is not related to pagination, as originally thought. See below.*

### This gql query fetches data on the first component mount, and uses local data on subsequent renders:

[code]

### This gql quer

[2016-11-17 18:27] helfer commented on #933
@TSMMark We'll need a bit more information than that to figure out what's going on. I assume you didn't somehow turn on `forceFetch`?

[2016-11-17 18:30] TSMMark commented on #933
`forceFetch` is set to false.

<img width="1429" alt="screen shot 2016-11-17 at 12 07 20 pm" src="https://cloud.githubusercontent.com/assets/4197823/20402181/acd3b3ea-acc9-11e6-9afa-fde4c4428ae8.png">

Not sure what you'd need so here's the whole file:

[code]

[2016-11-17 18:30] helfer commented on #703
Closing since it's been 4 weeks.

[2016-11-17 18:30] #703 closed

[2016-11-17 19:29] carsonperrotti commented on #902
@helfer I have a question about that, just for my own curiosity. What is the benefit of keeping them in the store? I have a rather large application and as a user navigates around, wouldn't that state just keep growing and growing with stopped queries? Is that a result of a flaw with my application design or do I need to intervene and clean up the state when a user changes to a different route?  T

[2016-11-17 20:05] TSMMark commented on #933
@helfer Is there anything else I could include here to make it easier to figure out what's going on?

[2016-11-17 21:21] intellix commented on #927
0.8.0 merged, 0.8.2 on it's way: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/12767

[2016-11-17 22:43] kishorevarma commented on #929
@helfer sorry, I couldn't explained properly,  I will try to explain by giving an example. my application is similar to below example

**Example:** Assume there is a PersonComponent that shows name and gender and skills, and it is editable.

GraphQL query result would be as follow

[code]
When user adds a new skill assume `GraphQL`,  I am trimming all the __typeName from the query result and appen

[2016-11-18 00:01] GreenAsJade commented on #930
@yurigenin  "Lingering 'inactive' queries" is not actually the problem addressed by this issue.  I think that is "related but different", and covered by #902.

Here I am reporting that a mutation on an object of a specific id triggers `updateQueries` on all queries of all objects of that type (not just the specific one that was mutated).

As I type this, I realise that with the current API it coul

[2016-11-18 00:08] stubailo commented on #932
By the way, here are directions for putting your queries in a separate file: http://dev.apollodata.com/react/webpack.html

[2016-11-18 00:41] yurigenin commented on #930
@GreenAsJade  You can do it already. There is a queryVariables parameter passed to your reducer. There you can check which values your variables have for this reducer call and only reduce state for those results that correspond to the current variable values.

[2016-11-18 00:41] GreenAsJade commented on #902
What is the definition of a "stopped" query?  IE when would a query be removed from the cache?

Since I am going to use updateQueries to tell components using a query that they need to update their displays, the only way that this could become "no longer needed" is when a component using the query unmounts.    Is that right?

[2016-11-18 00:42] GreenAsJade commented on #930
That sounds good.  Where is it documented?

[2016-11-18 00:43] yurigenin commented on #930
@GreenAsJade I don't think it is but you can discover a lot by tracing the call stack in the debugger.

[2016-11-18 01:57] stubailo commented on #853
It's done! https://github.com/apollostack/graphql-tag/pull/17

[2016-11-18 01:57] stubailo commented on #853
Still working on docs, here's a PR to GitHunt: https://github.com/apollostack/GitHunt-React/pull/147

[2016-11-18 07:00] dburles opened #937 "Investigate having a default dataIdFromObject"
I have an in memory array of objects containing unique `id` fields and noticed that the default IdGetter function doesn't seem to function.

Adding `dataIdFromObject: o => o.id,` as an option when instantiating ApolloClient solves the problem (as expected).

Also [the docs are a little unclear on the default behavior](http://dev.apollodata.com/react/cache-updates.html#dataIdFromObject), it reads a

[2016-11-18 07:15] stubailo commented on #937
Oh. The default behavior is to add `__typename` to all queries. I heard this misconception recently from somewhere else and now I realize where it came from.

Basically, we can't have a default ID getter because people do all kinds of weird stuff with `id` fields and it would be surprising if we had a default that caused people to get seemingly incorrect data.

Perhaps one reasonable default would

[2016-11-18 07:23] dburles commented on #937
Thanks for clearing that up, I see now it's not a default `dataIdFromObject` function but rather the `__typename` is now available on the `result` by default, gotcha!

I'll take a look at what I can do to clear that up in the docs.

[2016-11-18 07:27] dburles commented on #937
Perhaps that section on adding typename could simply be removed now?

[2016-11-18 09:43] novus57 commented on #912
The problem was solved. I set data from query in the componentWillReceiveProps but this method doesn't work on the server.

[2016-11-18 10:07] helfer commented on #905
@linonetwo yes, that's right, we want to have a separate package for this. Let's continue the discussion in #917!

[2016-11-18 10:10] helfer commented on #933
@TSMMark Are the variables the same in both cases? If the variables (like offset, etc.) aren't the same, then Apollo Client will refetch. This is because fetchMore actually doesn't modify the variables of the original query, but only modifies the result. So if your params were `{offset: 0, limit: 10 }` when you rendered the component the first time, and then `{ offset: 0, limit: 20 }` when you ren

[2016-11-18 10:13] helfer commented on #929
Ah, okay, now I understand. Thanks for explaining! We should see if we can produce a better warning when `__typename` is missing in the optimistic response.

[2016-11-18 10:23] helfer commented on #902
@GreenAsJade @carsonperrotti The QUERY_STOP action is dispatched whenever the last observer unsubscribes from a watchQuery, which will usually happens when the component unmounts. As the code is right now, queries remain in the cache in stopped state indefinitely, but they shouldn't run or update any more. We have plans to refactor the queries logic, at which point we may also be able to clear sto

[2016-11-18 10:28] helfer commented on #930
@GreenAsJade here's the signature of the second argument to the `updateQueries` reducer:

[code]

As I write this I realize that we really need to improve our docs for this... -> https://github.com/apollostack/react-docs/issues/112

[2016-11-18 10:35] helfer commented on #937
@dburles can you link to which `__typename` section you mean? I want to say "yes", but I'm not 100% sure there's only one section about `__typename` in our docs.

Also closing this, since it's a docs issue now, no longer a client issue.

[2016-11-18 10:35] #937 closed

[2016-11-18 10:35] helfer commented on #912
Ok, glad you solved it!

[2016-11-18 10:35] #912 closed

[2016-11-18 10:36] dburles commented on #937
@helfer This section here http://dev.apollodata.com/react/cache-updates.html#dataIdFromObject

[2016-11-18 10:44] GreenAsJade commented on #902
I agree.  I don't see any particular issue here, now that I understand it.

[2016-11-18 12:13] drFabio opened #939 "Is there a way to make queryVariables be available on reducer option?"
Currently it seems that unlike [updateQueries](http://dev.apollodata.com/react/cache-updates.html#updateQueries), the [reducer](http://dev.apollodata.com/react/cache-updates.html#resultReducers) option can't get the query variables on the update.

Was this by design? Is there a way to achieve it or it is a constraint of some sort?

One example of why this may be needed is this:

- Suppose a query

[2016-11-18 14:09] helfer commented on #723
@townmulti I think this was fixed in #938. Can you give it a try and let me know?

[2016-11-18 14:09] skuridin opened #940 "Fragment already exists warning"
### Steps to reproduce

1. Create a named fragment
1. Use it in multiple places

### Example of usage

[code]

### Expected

No warnings

### Result

Warning that the fragment already exists

### Info

[code]

[2016-11-18 14:17] helfer commented on #940
@skuridin thanks for reporting this. I don't see apollo client anywhere in your code example, but I'm pretty sure this happens because we currently add all fragments to a dictionary when you run a query. For the time being, if you want to reuse a fragment, you can pass it in with the fragments option.

We're also refactoring how fragments work with apollo client, so I expect this particular oddity

[2016-11-18 14:21] skuridin commented on #940
@helfer Thanks for the fast response.
Got it.

P.S. React-apollo documentation was updated with new way of using fragments  http://dev.apollodata.com/react/fragments.html

[2016-11-18 14:21] helfer commented on #939
@drFabio I think that was just an omission. It should be pretty simple to add, and I'm happy to help  you with pointers if you would live to try making a PR 🙂

[2016-11-18 14:22] #904 closed

[2016-11-18 14:26] TSMMark commented on #933
@helfer A good theory, but that is not what's happening. I even tried hardcoding `offset` and `limit`, to no avail.

[code]

Still makes a request to the server every time the component mounts.

[2016-11-18 14:28] drFabio commented on #939
If no one is already on top of that I can try to make a pr on the weekend.
The pointers would be more than welcomed

On Nov 18, 2016 12:21 PM, "Jonas Helfer" <notifications@github.com> wrote:

[2016-11-18 20:17] nlhkh commented on #932
Many thanks :)

[2016-11-18 20:28] yurigenin commented on #902
@helfer I'm ready to tackle this (set up my dev env and forked apollo-client repo). Now to the hard part. I still do not know what the solution would be. Currently, as soon as the component with a query unmounts its query is stopped (marked `stopped: true` in the store). When a different component (dialog usually) sends a mutation the `QueryManager.collectResultBehaviorsFromUpdateQueries` is calle

[2016-11-18 20:33] TSMMark commented on #933
OK on a hunch I tried the same type of pagination on a simpler gql query to see if that would fetch remote date on every component mount, and it does not! Remote data is fetched initially, then subsequent component mounts do not trigger identical fetches.

Based on this experiment, to me it looks like that the issue must have something to do with the specific `notifications` query in the original

[2016-11-18 20:42] yurigenin commented on #902
@helfer Thinking loud. I think one solution would be on creating a new query to always check if there is another query with the same name and variables already in the store under `queries` key. If there is then dispatch a new action `APOLLO_QUERY_REMOVE` and only then create a new query. This, I think' would work: even components not currently mounted would be able to 'reduce' and only one query a

[2016-11-18 23:13] GreenAsJade commented on #902
Are the duplicate queries "connected" (in some way) to the specific components that they feed?     Just wildly speculating :)    If they are, then maybe each duplicate has to remain there to cause the re-render of the wrapped component that it is responsible for?

[2016-11-18 23:18] yurigenin commented on #902
No, AFAIK. One query entry per component is enough. Every time a component mounts it creates a new query entry. So duplicate ones serve no purpose.

[2016-11-19 14:07] abcd-ca commented on #424
Just wanted to add my 2¢ about why I need persistence in my app: My app is currently built in Meteor with Ionic Framework on mobile devices. My users have a job to do out in the forest where a data connection is often weak or non-existent. When online, they must sync to get the latest version of the collections they'll need, then they go out into the mountains and do a bunch of additional data col

[2016-11-19 14:59] vizo commented on #161
Anything new on this?

[2016-11-19 21:59] townmulti commented on #723
Okay thanks! I would be happy to try it, but I will have to try it when I update my project. I'm using the meteor-integration and apollo-client 0.4.22 right now. Should I close this until I get a chance to test this, and re-open if I have any issue when I test it?

[2016-11-20 00:33] richburdon commented on #903
1). Hi @helfer, i'm surprised this isn't a major use case. @yurigenin illustrates the open/closed issues filter (100s other example: is starred as favorite, prioritized task lists, ANY list that can be filtered).

2). Great. I'm switching over from Relay which already solve this (which is complex and opaque -- so, so far Apollo feels right). I haven't dug into the code yet, but I think instead of

[2016-11-20 02:01] yurigenin commented on #903
@richburdon @helfer @stubailo
I actually spent the whole day yesterday trying to come up with a PR for these issues but the more I dug into the code the more I realized that there is no easy solution based on the current design.

Once a component mounts its query is added to a map (`QueryManager.addObservableQuery`) and never, never gets removed from it. There is a method that is supposed to be ca

[2016-11-20 14:16] drFabio commented on #939
So just to check if my line of reason is right.
The "plug" of the reducer that I passed to a mutation and the query is done [here ](https://github.com/apollostack/apollo-client/blob/f7c2d95c6ee7f62b2cba79da8c4fedf87d43adef/src/core/QueryManager.ts#L272), for each observed query I make the reducer and I do indeed pass the variavles [here ](https://github.com/apollostack/apollo-client/blob/f7c2d95c6

[2016-11-20 14:34] scf4 commented on #128
How is Apollo performance now? immutability and shouldcomponentupdate etc

[2016-11-20 18:36] kachkaev opened #945 "References preserved in updateQueries are still reset?"
Hi guys,

Sorry if my question is stupid because I've missed something in the docs, but here is the thing.

I've got a query, which fetches three arrays of various entities:

[code]

Then there is a mutation, which changes an entity in the array of `myThings1`:

[code]

I use `updateQueries` and update only a part of the query (see `console.log`); references to `myThings2` and `myThings3` are pres

[2016-11-20 18:50] TSMMark commented on #933
Original post updated with new information.

[2016-11-20 18:52] bgentry opened #946 "watchQuery subscription calls next / sends new data after unrelated mutation"
I've got a simple `watchQuery` running for some data I'm rendering. Something like this:

[code]

I then subscribe to the resulting `ObservableQuery` and pass it a `next` function that I expect to get called whenever new data about this query is received:

[code]

What I'm seeing, however, is that the `next` function is getting called again even when I'm calling a completely unrelated mutation lik

[2016-11-20 19:29] bgentry commented on #946
Actually it looks like `next` gets called exactly twice even if I run the mutation multiple times. I believe this was actually happening because I was inadvertantly modifying the data that was coming back. I'm now cloning it immediately when `next` gets called and I'm not seeing it get called twice anymore.

[2016-11-20 19:29] #946 closed

[2016-11-21 09:57] Dunos commented on #825
So, can que actually use that "ttl" parameter right now in our watchQuery calls or this is still in dev?

[2016-11-21 12:30] iki opened #947 "Add support for GraphQL variables default values"
Spec: https://facebook.github.io/graphql/#sec-Language.Variables
More info: https://medium.com/the-graphqlhub/graphql-tour-variables-58c6abd10f56

[2016-11-21 22:36] dallonf commented on #621
Poking in now... I'd like to add that I think this is _very_ badly needed. I'm actually surprised it's not baked into the core of the framework. Without the ability to invalidate queries, it's almost impossible to cache a paginated list.

[2016-11-21 23:59] townmulti commented on #723
Will close and reopen if have the same issue. Thanks!

[2016-11-21 23:59] #723 closed

[2016-11-22 00:36] philcockfield commented on #542
I might have to get around to doing this.  Not having these status codes is beginning to suck!

[2016-11-22 03:16] tlvenn commented on #813
As @helfer pointed out, I believe that the main reason GraphQL is mainly using POST instead of GET is to precisely avoid caching. Most GraphQL endpoints, FB included, will contextualised their responses depending of the authenticated user.

The issue is the client has no knowledge if the server will contextualize the response so clients are prudent and use POST.

Nothing is stoping you for designi

[2016-11-22 08:03] glasser opened #948 "Document that concurrent fetchMore use is OK"
Motivating example: Let's say you have a query that represents a window into the middle of a list of items, and you have two buttons that extend the list in either direction using fetchMore.  Ideally, you'd like the user to be able to click on both buttons very quickly (before roundtrip time is up) and issue the two fetchMore queries in parallel, and feel confident that two updateQuery calls will

[2016-11-22 13:05] drager opened #949 "Cannot find type definition file for 'chai' and 'typed-graphql'"
See #823. The "fix" in that issue is not a real fix so that's why I'm opening a new issue. You need to add those packages as dependencies and not just devDependencies.

[2016-11-22 13:19] drFabio commented on #939
Maybe tangentially related. It seems using multiple reducers on different queries may cause some bug.
I have a query that I just added the reducer on options.
Another totally unraleted query that also has a reducer suddenly have the this.props.data As undefined. Removing the reducer make it works as intended

[2016-11-22 16:37] dallonf opened #951 "Request/Discussion: Cache-based mutations rather than query-based"
I'm currently starting to implement Apollo Client on a project at work, and I notice it all kind of falls apart around mutations since updating results is coupled to specific _queries_. This seems... all sorts of bad to me, because it means that somebody writing or modifying a query needs to know about _all_ the possible mutations that could affect it, and somebody writing a mutation needs to know

[2016-11-22 17:18] stubailo commented on #951
This was actually the first approach we took, see here: https://github.com/apollostack/apollo-client/pull/320

I think there were some problems with the API, especially around working with IDs. (Note that this stuff all still works, but is rapidly on the path to being deprecated I think)

My current idea is that we should have a way of injecting a store reducer, and then people can import any modu

[2016-11-22 17:33] stubailo commented on #948
I'd say everything should be good, depending on what you mean by:

Currently, we have no guarantee that the results will arrive in the same order that the buttons were clicked. However, both of your statements are true:

1. updateQuery is applied atomically when the result is received, regardless of when the request for fetchMore was initiated. I think this might actually be a problem if a refetch

[2016-11-22 17:53] dallonf commented on #951
I think being able to customize the cache reducer would certainly do the trick, as long as the internal structure of the cache is pretty well documented.

[2016-11-22 17:56] stubailo commented on #951
Yes, I think part of the goal is to make the internal cache structure part of the public API, so that people can write extensions like this. I think it might change a tiny bit in the coming month, but once we hit a 1.0 release it should be stable I think.

It would be great if this global cache reducer also worked with optimistic UI out of the box.

[2016-11-22 18:53] glasser commented on #948
Ah yes, by "second" and "first" I just mean the ordering of invocation of updateQuery, not of fetchMore.

(I assume that updateQuery has to return synchronously, not via a Promise, right?  That's my current reading of the course.  Of course if you're running this on a Node server (SSR) with Fibers you might get in trouble, but presumably SSR doesn't call fetchMore much.)

[2016-11-22 19:08] stubailo commented on #948
Yes, in alignment with the Redux philosophy, `updateQuery` is expected to be synchronous, and to not mutate the input arguments.

Any ideas about where this should be documented? Perhaps we could have a new section titled, simply, "concurrency" about some of the edge cases one can run into about different orderings of various operations.

[2016-11-22 19:12] glasser commented on #948
Yeah, that could be nice, since there might be multiple issues like this.

Other places include http://dev.apollodata.com/react/cache-updates.html#fetchMore and http://dev.apollodata.com/react/pagination.html . fetchMore doesn't appear to have real docs in the Vanilla section.

[2016-11-22 19:53] glasser opened #952 "Update to non-deprecated Redux devtools extension API"
https://github.com/zalmoxisus/redux-devtools-extension/issues/220

This is both a better name and (if you use the COMPOSE version) apparently has more features.  You can use an npm module to do the logic if you want (and maybe turn off in production?)

(Not clear how long it will be before you can assume all users have upgraded to the newer extension.)

[2016-11-22 20:33] stubailo commented on #952
There's always the workaround of initializing the store yourself and passing it into Apollo as documented in: http://dev.apollodata.com/react/redux.html#creating-a-store

Would be a great PR for someone looking for a first improvement, in this file: https://github.com/apollostack/apollo-client/blob/5ffe05d75a02aa976d3bc873f83b5c3416b406e0/src/store.ts#L131

[2016-11-22 20:52] zalmoxisus commented on #952
The idea of "COMPOSE version" came from https://github.com/apollostack/apollo-client/issues/701, so it was intended to solve current issues with `apollo-client`.

Chrome updates extensions updated automatically. Autoupdates can be disabled only in Firefox, nevertheless I think it's safe to use the new global name.

[2016-11-22 20:56] stubailo commented on #952
Oh wow, I didn't realize it was a result of that thread. So should we do something more than just replace the API to take advantage of the new functionality?

[2016-11-22 21:03] zalmoxisus commented on #952
@stubailo even though [I am using Apollo](https://github.com/zalmoxisus/remotedev-server/blob/v0.3/lib/middleware/graphql.js) in the bridge for the extension, honestly to say I didn't get a chance to look into the client part yet. Maybe @migueloller and @tmeasday can say if [the suggested change](https://github.com/apollostack/apollo-client/issues/701#issuecomment-252201575) is still necessary.

[2016-11-22 22:45] scf4 commented on #264
This blog post mentions Stored Queries: https://dev-blog.apollodata.com/apollo-server-0-2-graphql-with-express-connect-hapi-or-koa-7e06b0a8fdb1#.65ypgu625

Is this only for Apollo Server?

[2016-11-23 02:03] tmeasday commented on #952
#701 was the motivation for being more idiomatic in our Redux usage in the 0.5.0 release. TBH this fell off my radar; I'm not sure if the changes are we made will allow true time-travelling yet.

[2016-11-23 04:32] tmeasday commented on #940
@helfer / @stubailo I think we might have crossed wires a little bit here, we should figure out if we want to encourage the above syntax or not. I think we do, now that `graphql-tag` supports it, it is a bit easier.

For those following along, what @helfer is saying is a workaround is to do

[code]

@helfer should I revert the docs/githunt to using the above syntax for now, or just add a note, or

[2016-11-23 06:48] svrcekmichal commented on #889
Hi @helfer I rethinked my usega of graphql with status codes and also query batching does not work well with status code so I no longer use them and need this. The current solution is working well for me now and I would say this should be closed. If anyone else needs it I propose him to rethink that too 👍

[2016-11-23 06:48] #889 closed

[2016-11-23 07:13] tmeasday commented on #940
OK, slight fix on the above, `[Goal.fragments.goal]` -> `getFragmentDefinitions(Goal.fragments.goal)`.

(You can `import { getFragmentDefinitions } from 'apollo-client'`)

OTOH, it's probably easier, and has the same effect to just do `disableFragmentWarnings()` (also imported from `apollo-client`).

[2016-11-23 07:15] tmeasday commented on #940
(For GitHunt implementation see https://github.com/apollostack/GitHunt-React/commit/44548717ee80d3e60656591519bb3541c9918f65)

[2016-11-23 07:17] tmeasday commented on #940
Actually re-reading https://github.com/apollostack/graphql-tag/issues/18, and looking at the source, I'm not sure this isn't a bug somewhere as the fragment is the same so the warning should skip on this line: https://github.com/apollostack/apollo-client/blob/currentResult-optimisiticResponse/src/fragments.ts#L36

Will investigate further.

[2016-11-23 09:36] jamiter commented on #891
@helfer, I created a PR for this. Could you have a look?

[2016-11-23 10:34] tmeasday commented on #940
Hmmm.. Ok. So I guess that check relied on a `===` which works because `gql(X)` always returns the same object for the same X. However, even though [this test](https://github.com/apollostack/graphql-tag/blob/master/test.js#L207) shows the same is true when embedding a fragment (and thus the embedded fragments are the same and the above will work) in the *same shaped document*, the same property do

[2016-11-23 17:04] helfer commented on #947
@iki sure, we'll implement it some time. I would give this relatively low priority at the moment though, because I think default values for variables are most useful on the server. On the client, I think it's just as convenient to provide that default value yourself in the component that issues the query. But maybe you have a compelling use-case?

[2016-11-23 17:07] helfer commented on #952
Yeah, I don't think we made the necessary changes there. I think the goal was to use thunks to dispatch actions, but we decided not to rewrite any of that for 0.5, so it's still the same as before. If someone can tell me what exactly would need to be done, I can put it on the roadmap though.

[2016-11-23 17:08] helfer commented on #949
@drager Could you make a PR to add them to optionalDependencies? That's the solution we came up with in the end (because adding them to dependencies broke some non-typescript projects).

[2016-11-23 17:13] helfer commented on #945
I think this is the same issue as #695: Currently a new object gets created every time a query result is read from the store.

I'm closing this as a duplicate, but feel free to reopen if you think it's unrelated.

[2016-11-23 17:13] #945 closed

[2016-11-23 17:18] helfer commented on #940
@tmeasday I'm not sure if there's something efficient we can do. I thought the problem was mostly going to solve itself if people use the fragments in the way we now recommend, because then each fragment should be defined in one and only one place.

Maybe we can downgrade the error to a warning, which encourages people to define fragments in only one place, but still works even if they don't?

[2016-11-23 22:01] bgentry commented on #813
So does basically every authenticated API. That does not eliminate the value or desire to cache responses. Applications using GraphQL would still benefit from ETag caching which could drastically reduce the amount of unchanged data that needs to be transferred across the wire when re-fetching data. There's some good background on how that technology works in [this Heroku Dev Center article](https:

[2016-11-24 00:15] tmeasday commented on #940
Ultimately it's an issue about assuming that a fragment pulled out of a query document will be the same object as the same fragment pulled out of a different document. At the moment that's not true (see the test above). We could try and make it true, or else actually compare the fragment contents.

It already is just a warning.

[2016-11-24 08:18] wmertens opened #956 "Don't request the same query twice while in flight"
See https://github.com/apollostack/react-apollo/issues/338, when two identical queries with identical parameters are requested at the same time, it results in two identical server requests.

This situation is quite easy to achieve when using React, since the components requesting the data are independent and can be mounted at any time.

I think it would be good if apollo-client kept a lookup table

[2016-11-24 15:12] helfer commented on #956
@wmertens good point. I think this could even happen at the NetworkInterface level.

[2016-11-24 15:27] sedubois opened #957 "Authentication with header missing Bearer prefix"
Moved over from https://github.com/apollostack/react-apollo/issues/320:

I copied the code snippet about authenticating with a header from this page: http://dev.apollodata.com/react/auth.html

But didn't pay close enough attention that it was missing the "Bearer" part, and the result was that authentication was simply ignored.

1. change the doc to something like this? `req.options.headers.authori

[2016-11-24 15:32] cvburgess opened #958 "updateQueries on failed query does not update"
CONTEXT:

When the component is loaded, it attempts to fetch an entity (an edition) from the server. If one does not exist the server returns a GraphQL error.

Somewhat similar to the GutHunt example, I am creating a new entity (an edition) and when that mutation is complete, I update the store with the result.

RESULTS:

- If there is already an edition (the original query worked): Everything wor

[2016-11-24 15:35] wmertens commented on #956
I would expect this to be done just before the networkinterface gets
called, so it has all the necessary information, and the networkinterfaces
themselves don't have to implement it.

It could even be something very simple that does a shallow equal of the
query and the variables.

[2016-11-24 22:48] Poincare opened #959 "Make it easier to subclass `HTTPFetchNetworkInterface` outside of AC"
I'm currently working on [extractgql](https://github.com/Poincare/extractgql) which is supposed to extract queries out of a GraphQL project, apply transformations and place them inside a JSON map. This JSON map can then be used to build query whitelisting, persisted queries, etc.

In order to build persisted query support, I'm building a `NetworkInterface` for Apollo Client that sends only a query

[2016-11-25 05:21] tmeasday commented on #957
I guess 2. is really an issue with Graphcool? Unless you are suggesting that AC could somehow pick this up?

[2016-11-25 05:23] tmeasday commented on #957
@helfer was it intended to include a `Bearer` part?

[2016-11-25 05:25] tmeasday commented on #958
@cvburgess do you think it would be more correct to just return `null` from the original query, rather than an error? That might make doing what you want possible.

[2016-11-25 11:38] kachkaev commented on #695
I'm also facing this issue (see #945) and it causes pretty large chunks of virtual DOM to be re-rendered. Let's say you have three lists with 1000 items in each and you only change one attribute in one item. Even if you carefully implement `updateQueries` and patch only one little node out of the whole data tree, all related components fail to shallow compare their part of data.

We'd be really gl

[2016-11-25 15:41] msimulcik opened #961 "Forcing returnPartialData in fragmentMatcher is causing inconsistent behaviour"
1. I have observable query that is being refetched due to variables changes. It contains union type which is causing that returnPartialData is forced to true in fragmentMatcher ([here](https://github.com/apollostack/apollo-client/blob/5ffe05d75a02aa976d3bc873f83b5c3416b406e0/src/data/readFromStore.ts#L131))
2. Later in readStoreResolver ([here](https://github.com/apollostack/apollo-client/blob/5ff

[2016-11-25 16:29] ryannealmes commented on #161
Really wish there was guidance in the docs for this. The only thing I could figure out is throwing an exception from my resolver.

Another example would be returning errors from queries - e.g. When searching for a user using graphql and getting a 404 Not found from the server.

Is there anyone who can give guidance on this?

[2016-11-25 20:08] af opened #962 "Server-side rendering with graphql endpoint on the same server"
Hi,
I'm using apollo-client to [server render](http://dev.apollodata.com/react/server-side-rendering.html#server-initialization) a React app. The graphql endpoint is run in the same process as the app that's being rendered, so my `networkInterface` has a `uri` pointing to localhost.

On my local machine everything is working swimmingly. However on other deployment targets where localhost connectio

[2016-11-25 20:51] jbaxleyiii commented on #962
@af this is a really interesting issue!

One of the ideas we had early on was for the networkInterface to be entirely pluggable. Essentially, as long as it matches the networkInterface API (i.e. query => promise => GraphQLResult), it can be used!

So, I *think* this is totally possible without any core modifications and potentially could be a package you could distribute on npm.

[code]

I'd be ha

[2016-11-25 21:47] af commented on #962
@jbaxleyiii Awesome, so my suggestion #2 was already implemented, I just didn't realize it 😄  I will take a crack at this in the next couple of days and ping you if I need any pointers. Will re-open the issue if I hit anything that looks insurmountable. Thank you for the quick and helpful response!

[2016-11-25 21:47] #962 closed

[2016-11-26 14:03] cvburgess commented on #958
Totally, and that's what I will do.

Out of curiosity, is there a way to update a failed query or should they just be  re-executed?

[2016-11-26 16:27] geocine opened #963 "ionic 2 and apollo-client issue on es5/es6 configuration in tsconfig.json"
I have read this on the documentation:

[code]
I wanted to report this to the Ionic team but this only started happening when I added he apollo-client so I will link this to them once someone starts answering.

Does anyone know why I have to do this on Ionic 2 + Angular 2 + Apollo Client on my `tsconfig.json`?
During `ionic serve`
[code]
But during `ionic build android` I should do this
[code]
Is

[2016-11-27 21:15] tmeasday commented on #958
I am actually not sure, but it wouldn't surprise me if it's not possible to update it; that certainly would make sense to me.

Shall we close this issue?

[2016-11-27 22:09] callmephilip commented on #951
I second @dallonf's concerns. I am rewriting a tiny todo list application for React Native using react-apollo and this query based mutation model is already proving cumbersome even with this trivial example

[2016-11-27 23:51] cvburgess commented on #958
Will close - if you every have an answer, please tag me!

[2016-11-27 23:51] #958 closed

[2016-11-27 23:53] tmeasday commented on #958
Thanks @cvburgess

[2016-11-28 00:04] tmeasday commented on #963
@Urigo / @kamilkisiela any ideas about this one?

[2016-11-28 01:09] gaston23 opened #964 "Subscriptions - New Entries stuck at Loading"
Hi Guys,

Subscriptions are working great when we update an existing entry.

I am having problems when a new entry added, when I append/push it to the array of existing previous entries, "loading" turns "true" and it stays stuck there forever.

Am I doing something wrong?

Thank you

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/_h4lmYHcbwE/0.jpg)](https://youtu.be/_h4lmYHcbwE)

[code]
[code]

[2016-11-28 03:14] tmeasday commented on #961
Thanks for the detailed report @msimulcik. May I ask why you don't have `__typename` available in this case? That seems like an easy workaround/solution to the problem.

This does seem like an issue however.

@stubailo  I kind of feel like [this](https://github.com/apollostack/apollo-client/blob/5ffe05d75a02aa976d3bc873f83b5c3416b406e0/src/data/readFromStore.ts#L118) is a bit of a hack because it

[2016-11-28 03:45] katopz commented on #29
@stubailo I think @agasvina mean [Relay Input Object Mutations Specification](https://facebook.github.io/relay/graphql/mutations.htm) you mention above.
[code]

Which I'm curious too, can I pass input `Object` like `Relay` via `Apollo`?

Thanks

[2016-11-28 05:28] gaston23 commented on #964
My fault. The code above works. I was using HOC wrongly.

I solved when I changed this
[code]
to this
[code]

[2016-11-28 05:28] #964 closed

[2016-11-28 06:41] jacobk opened #965 "Cannot catch rejected fetchQuery promise after startQuery"
Should the promise returned inside `startQuery`[1]  be thrown away like this (returned from `fetchQuery`)? I've not studied the code enough to fully reason about it myself yet, but e.g. rejected promises on `resetStore`[2] seems to be impossible to handle atm.

Following the suggested logout use case of afterware[3] and resetStore[4] this seems to break all the time for me (logout in my case is di

[2016-11-28 09:07] msimulcik commented on #961
@tmeasday, sorry, I linked wrong line in fragmentMatcher. It's actually [this line](https://github.com/apollostack/apollo-client/blob/5ffe05d75a02aa976d3bc873f83b5c3416b406e0/src/data/readFromStore.ts#L131) that is causing problem in my case.

[2016-11-28 16:55] af commented on #962
@jbaxleyiii So this ended up being much easier than I expected. I haven't fully tested it with all different kinds of queries but this implementation is working great for my app:

[code]

Since the implementation is so small, I'm wondering if a PR would be considered for adding this to `apollo-client` (I can rewrite to typescript and submit it). I'm happy to just publish to npm otherwise, but if t

[2016-11-28 21:08] tmeasday commented on #961
@msimulcik - got it, so adding `__typename` won't halp

[2016-11-28 21:22] helfer commented on #965
@jacobk Thanks for reporting this. I think it's a duplicate of #891 which is fixed in #950.

[2016-11-28 21:22] #965 closed

[2016-11-28 21:24] helfer commented on #959
@Poincare 👋

Sure, that sounds good to me. Please submit the PR! Just a heads-up that @DxCx wanted to refactor the network interface to make it more generic. Not sure if he's still interested, but if he is, it's likely something that we'll do before 1.0.

[2016-11-28 21:32] helfer commented on #957
@sedubois thanks, it looks like we should have included the `Bearer` keyword. I've just fixed it now.

[2016-11-28 21:32] #957 closed

[2016-11-28 21:36] helfer commented on #961
@tmeasday I think we'll have to refactor where and how we set `returnPartialData`. Right now it's used in too many places, which makes it hard to follow what's going on, ultimately leading to bugs like this one.

[2016-11-28 21:38] #891 closed

[2016-11-28 21:40] tmeasday commented on #961
@helfer well if we want to just focus on this particular problem, we'd need some way to take the result of a query and be able to tell if it's "partial" or not. I'm not sure if it's possible to do that in a way that wouldn't always return true in this case*

* A query with a fragment on an interface/union

[2016-11-28 23:34] dallonf commented on #940
Just ran into this - am I understanding correctly that if I have a named fragment _defined_ in one place and _used_ in multiple places, it is a bug that this warning appears?

[2016-11-28 23:40] tmeasday commented on #940
Correct.

[2016-11-29 02:53] anhldbk opened #967 "Using GraphQL subscriptions"
Hi guys. I want to ask a question about subscriptions.

The code at https://github.com/apollostack/GitHunt-React/blob/master/ui/routes/CommentsPage.js#L273 suggests that: there's a field named `subscribeToMore` in `props`. But I can't find it in [the documentation](http://dev.apollodata.com/react/queries.html#default-result-props)

The code below always gives me `subscribeToMore` = `undefined`

[c

[2016-11-29 04:47] tmeasday commented on #940
This will be fixed via this PR (and removing fragment warnings from AC) very soon: https://github.com/apollostack/graphql-tag/pull/22

[2016-11-29 05:49] af commented on #962
Whether or not this gets integrated into apollo-client, here's a really simple npm module that does it: [apollo-local-query](https://github.com/af/apollo-local-query)

[2016-11-29 11:30] helfer commented on #967
@anhldbk I think this question might be better suited for react-apollo. The prop should be there if you have the newest versions of apollo-client and react-apollo installed. You can check by running `npm list | grep apollo`.

[2016-11-29 11:30] #967 closed

[2016-11-29 14:09] kamilkisiela commented on #963
@geocine @tmeasday  `apollo-client` since #865 doesn't require to change anything in your tsconfig.

But... if you're using the release that contains that PR then it's something we need to fix :)

I wrote about it in the documentation, in ["Initialization" chapter](http://dev.apollodata.com/angular2/initialization.html#typescript)

[2016-11-29 15:11] geocine commented on #963
@kamilkisiela

Thank you for letting us know. I just did
`npm uninstall @types/es6-shim`

[2016-11-29 16:19] helfer commented on #963
@geocine does that mean we can close this issue?

[2016-11-29 16:30] #963 closed

[2016-11-29 17:15] Poincare commented on #959
@helfer 👋  :)

Just submitted the PR. I wasn't sure how to test the export so no test associated with it but I think it has the intended behavior.

[2016-11-29 20:56] helfer commented on #959
Sounds good! I'll merge it and will publish a new version shortly 🙂

[2016-11-29 21:06] #959 closed

[2016-11-29 22:54] sebas5384 commented on #956
We have the same issue over here.
Let's say you have a currentUser query, and various components which consume the same returned data. Each component will make individual queries to the server, which is not intended.

For now a solution could be memoized resolvers, which I think is not the best solution because of the cache invalidation strategies.

What if we could pass as an option to agreggate

[2016-11-30 01:02] tmeasday opened #971 "Throwing an error in a `next()` callback leads to an `ApolloError`"
I think there are a variety of issues around about this, the clearest being https://github.com/apollostack/react-apollo/issues/347 (also https://github.com/apollostack/react-apollo/issues/303, https://github.com/apollostack/apollo-client/issues/884, and more)

If you throw an exception in a `next()` function in a query subscriber, it throws all the way to [here](https://github.com/apollostack/apol

[2016-11-30 09:09] wmertens opened #972 "`addTypename` does not feel like a great API"
* I have globally unique ids (on `__id`), and so I don't need `__typename` added on my queries. Apollo-client adds these by default, which is surprising. Surprising behavior in libraries is not great, especially if it eats resources.
* AFAICT `addTypename` is only needed for the default `dataIdFromObject`, so if you provide your own function, the default setting of `addTypename` is not even useful

[2016-11-30 13:47] helfer commented on #971
Oh, interesting. Thanks for the writeup @tmeasday! I thought we fixed this in #910. Maybe there's another try-catch block higher up that we missed. This is a really annoying bug, so let's make sure we fix it for good this time.

[2016-11-30 14:41] helfer commented on #972
@wmertens I'm not sure what point you're trying to make? Is it that you don't like __typename, but are okay with __id (which isn't part of the spec).

Regardless, we need the typename to disambiguate between fragments of different types, which is why it's added to the query by default.

I think it's perfectly fine that apollo client applies predictable transformations to the query, the only thing

[2016-11-30 14:44] helfer commented on #956
I'm a bit surprised that you guys have components that have the exact same data requirements. What does that look like in the UI? Is it just the same UI component rendered multiple times, or are you in fact not using all the data in the query in the individual components. If the latter is what you're doing, could you hoist the query to a component higher up in the hierarchy as a workaround?

[2016-11-30 15:11] helfer commented on #961
I don't understand the fragmentMatcher well enough to know if setting `returnPartialData` to true was just a quick temporary solution, or if it is actually required.

In general it's worth pointing out that when you have a fragment it's not currently possible for the client to know whether the absence of matching data in the cache for that fragment is expected or not.

Take this query for example:

[2016-11-30 16:33] wmertens commented on #956
Correct on both counts, but the clean solution would be to have proper
caching by apollo-client and not having to put things in globals… passing
the props down is a no-go, these are translations.

On Wed, Nov 30, 2016, 3:44 PM Jonas Helfer <notifications@github.com> wrote:

[2016-11-30 19:58] wmertens commented on #972
Hmm. My problem with __typename is indeed that it shows up in my query
results and that it adds fairly significant overhead, even in cases where
it is not needed.

[2016-11-30 21:29] helfer commented on #972
How does it add significant overhead? You mean just because the result is longer? I would venture a guess that with compression that overhead is negligible. Do you have any numbers that show otherwise?

[2016-11-30 21:44] glasser commented on #561
I've been reading the GraphQL spec and it doesn't really seem clear about whether or not leaving off the value for a variable which is null is allowed or not.  However, the NOTE in https://facebook.github.io/graphql/#sec-Null-Value does suggest that it should be allowed:

[2016-11-30 21:48] glasser commented on #561
Although maybe this is a duplicate of #852, which refers to https://github.com/facebook/graphql/pull/83 which only added the concept of null-ness to GraphQL after the discussion in this issue!

[2016-11-30 23:26] tmeasday commented on #961
Note that there's probably similar bugs here: https://github.com/apollostack/apollo-client/blob/currentResult-optimisiticResponse/src/core/QueryManager.ts#L939 as a result of this code

[2016-11-30 23:36] helfer commented on #561
@glasser: yes, this is something that I will need to add to the 1.0 roadmap. Thanks for the reminder!

[2016-12-01 00:51] groeneman opened #973 "Gotcha: No error message when requesting different fields on related query and mutation"
When using `updateQueries` to update `observableQuery` state after a mutation, `react-apollo` can incorrectly suggest an `observableQuery` is `loading` when the mutation fails to request some fields requested by the query. Imagine the following query and mutation:

[code]

[code]

Further assume that the `AddAnimal` mutation uses `updateQueries` to update the `LoadAnimals` query, appending the res

[2016-12-01 00:53] ngbrown opened #974 "Can't get returnPartialData and getDataFromTree (server side rendering) to work at the same time"
I'm using React and Redux and doing server side rendering.

I have a list where you click on it, and it brings up details.  I want to re-use as much as possible from the list fetch (such as title, author, etc.) while pulling down the details.

That all works great on the client when `returnPartialData: true` is set in the `graphql()` enhancer options.  However, when triggering a server side render